﻿@using CMMS.Pages;
@using CMMS.Infrastructure;
@{
    ViewBag.Title = ProjectSession.Resources.label.Common_TextBlockNoAuthorization;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    .invdata {
        padding-left: 10px;
        vertical-align: middle;
        font-size: 16px;
        color: #4C6388;
        display: inline-block;
    }
    #arabic .invdata {
        padding-right: 10px;
    }
</style>
<div class="head1">
    <h1>@ProjectSession.Resources.label.Common_TextBlockNoAuthorization</h1>
</div>
<div>
    <p>
        <img src="@Url.Content("~/images/Forbidden-64.png")" title="@ViewBag.Title" alt="@ViewBag.Title" class="img-responsive" style="display:inline-block;" />
        <span class="invdata">
            @ProjectSession.Resources.message.Common_MsgNoAuthorization<br /> @ProjectSession.Resources.message.Common_TextBlockNoAuthorizationAdministrator
        </span>
    </p>
    <br />
    <br />
    <p>
        <a  class="btn btn-primary" href="@Url.Action(CMMS.Pages.Actions.JobRequestList, Controllers.Transaction, new { area = string.Empty })" style="text-decoration:none;">@ProjectSession.Resources.label.Common_ButtonGoToHome</a>
    </p>
</div>