﻿@using CMMS.Infrastructure
@using CMMS.Pages
@model CMMS.Models.LoginModel

@{
    Layout = null;
    string clientID = string.Empty;
    bool isRememberMe = false;
    string language = string.Empty;
    if (Model.isActiveDirectory == "0")
    {
        //string userName = Model.Username;
        //string password = Model.Password;
        Model.Username = string.Empty;
        Model.Password = string.Empty;
        Model.ClientCode = string.Empty;

        //string clientCode = Model.ClientCode;
        if (Request.Cookies["UserLogin"] != null)
        {
            isRememberMe = Convert.ToBoolean(Request.Cookies["UserLogin"].Values["IsRememberMe"]);
            Model.Username = Convert.ToString(Request.Cookies["UserLogin"].Values["UserName"]);
            Model.Password = Convert.ToString(Request.Cookies["UserLogin"].Values["Password"]);
            //clientID = Convert.ToString(Request.Cookies["UserLogin"].Values["clientID"]);
            Model.ClientCode = Convert.ToString(Request.Cookies["UserLogin"].Values["clientCode"]);
        }
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <title>NUB.webreq System</title>
    <link rel="shortcut icon" href="images/favicon.ico" />
    @Styles.Render("~/Content/bootstrapCSS")
    @Styles.Render("~/Content/BundleCSS")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/common")

</head>
<body class="login-page" id="english">
    @Html.AntiForgeryToken()
    <div id="divDBConnectionError"></div>
    <div class="login-panel">
        <a href="#" class="login-logo">
            <img class="img-responsive logo-img" src="@Url.Content("~/images/logo.png")" alt="">
            <span class="logo-text">
                <h2>NUB.webreq System</h2>
                <h3>Online Requests Management System</h3>
            </span>
        </a>
        <div class="panel-body">
            <h4 class="login-title">Please Login
                <input type="hidden" id="hiddenDefaultDateFormat" value="@ProjectConfiguration.DefaultDateFormat" />
                <span class="language-block" style="display: none">
                    <a href="#" title="English" id="lnkEnglish" onclick="ChangeLanguage('@ProjectConfiguration.EnglishCultureCode');">
                        <img src="@Url.Content("~/images/english.png")" alt="English">
                    </a>
                    <a href="#" title="Arabic" id="lnkArabic" onclick="ChangeLanguage('@ProjectConfiguration.ArabicCultureCode');">
                        <img src="@Url.Content("~/images/arabic.png")" alt="Arabic">
                    </a>
                </span>
            </h4>
            <div id="divMessage" class="login-group"></div>
            <form role="form" class="loginform" id="frmLogin">
                <div class="form-group">
                    <label class="control-label">User Name</label>
                    <input type="text" class="form-control" name="Username" id="txtUserName" placeholder="Enter User Name" value="@Model.Username">
                </div>
                <div class="form-group">
                    <label class="control-label">Password</label>
                    <input type="password" class="form-control" name="Password" id="txtPassword" placeholder="Enter Password" value="@Model.Password">
                </div>
                @*<div class="form-group">
                    <label class="control-label">ClientID</label>
                    <input type="text" class="form-control allowIntegerOnly" name="ClientID" id="txtClientID" placeholder="Enter ClientID" value="@clientID">
                </div>*@
                <div class="form-group">
                    <label class="control-label">Client Code</label>
                    <input type="text" class="form-control" name="ClientCode" id="txtClientCode" placeholder="Enter ClientCode" value="@Model.ClientCode">
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" class="icheck" style="margin-top: 2px;" id="chkRememberMe" checked="@isRememberMe"><span class="remember">Remember me</span>
                    </label>
                    <span class="pull-right forgot"><a href="" title="Forgot Password" data-toggle="modal" data-target="#forgotPasswordModal">Forgot Password?</a></span>
                </div>
                <div class="form-group mag-bottom">
                    <button type="submit" class="btn btn-primary"><span>Login</span></button>
                </div>
            </form>
        </div>
        <br />
        <script id="godaddy-security-s" src="https://cdn.sucuri.net/badge/badge.js" data-s="203" data-i="a711110dea2c4bbdf5dd92b11ca5405b851c160ff8" data-p="o" data-c="l" data-t="g"></script>
        @*<a href="#" class="login-Certification" onclick="window.open('https://www.sitelock.com/verify.php?site=nub40.bits.sa','SiteLock','width=600,height=600,left=160,top=170');">
            <img class="img-responsive" alt="SiteLock" title="SiteLock" src="//shield.sitelock.com/shield/nub40.bits.sa" /></a>*@
    </div>

    <div id="forgotPasswordModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-mg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"></button>
                    <h4 class="modal-title">Forgot Password </h4>
                </div>
                <form role="form" id="frmforgotPwd">
                    <div class="modal-body">
                        <div id="Highlights" class="tab-pane active" role="tabpanel">
                            <div id="divMessageForgot"></div>
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">User Name</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="txtUserNameForgotPwd" name="UserNameForgotPwd" placeholder="Enter User Name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">ClientID</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control allowIntegerOnly" name="ClientID" id="txtClientIDForgotPwd" placeholder="Enter ClientID" value="@clientID">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer box-footer">
                        <button type="submit" class="btn btn-primary"><span>Send</span></button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
    <script type="text/javascript">

        window.onload = getLocation;
        var geo = navigator.geolocation;
        var validator;
        var imageServerPath = '@Url.Content("~/Images/#type#.png")';
        var dangerType = '@SystemEnum.MessageType.danger.ToString()';
        var latitude = "";
        var longitude = "";
        function getLocation() {
            if (geo) {
                geo.getCurrentPosition(displayLocation);
            }
            else {
                alert("Oops, Geolocation API is not supported");
            }
        }
        function displayLocation(position) {
            latitude = position.coords.latitude;
            longitude = position.coords.longitude;
        }

        $(document).ready(function () {
            //if (navigator.geolocation) {
            //    setTimeout(function () {
            //        navigator.geolocation.getCurrentPosition(function (position) {
            //            latitude = position.coords.latitude;
            //            longitude = position.coords.longitude;
            //        });
            //    }, 800);
            //}      
            LoggedinClick();

            function LoggedinClick() {

                //alert(0);
                //if ($("#IsActiveDirectory").val() == "1" && $("#Username").val() != "") {
                if ($("#isActiveDirector").val() == "1" && $("#Username").val() != "") {

                    //alert(1);
                    $("#btnSubmit").click();
                }
            }
            if (document.cookie != '' && document.cookie.split('&')[2] != 'undefined' && document.cookie.split('&')[2].split('=')[0] == 'Account') {
                var accountVal = document.cookie.split('&')[2].split('=')[1];
                $('#txtClientCode').val(accountVal);
                $('#ddlAccount').val(accountVal);                
            }

            $('#frmLogin').validate({
                rules: {
                    Username: { required: true },
                    Password: { required: true },
                    ClientID: { required: true },
                },
                messages: {
                    Username: { required: '' },
                    Password: { required: '' },
                    ClientID: { required: '' },
                }
            });

            validator = $('#frmforgotPwd').validate({
                rules: {
                    UserNameForgotPwd: { required: true },
                    ClientIDForgotPwd: { required: true }
                },
                messages: {
                    UserNameForgotPwd: { required: '' },
                    ClientIDForgotPwd: { required: '' }

                }
            });
        });

        $('#frmLogin').on('submit', function (e) {
            if ($("#frmLogin").valid()) {
                if (e.isDefaultPrevented()) {

                } else {
                    $.ajax({
                        url: '@Url.Action(Actions.Login, Controllers.Account, new { area = string.Empty })',
                        type: "POST",
                        data: {
                            username: $("#txtUserName").val(),
                            password: $("#txtPassword").val(),
                            //account: $("#txtClientID").val(),
                            account: $("#txtClientCode").val(),
                            isRememberMe: $("#chkRememberMe").prop("checked"),
                            latitude: latitude,
                            longitude: longitude,
                            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
                        },
                        dataType: "json",
                        success: function (result) {

                            if (result[0] == 3) {

                                var con = confirm("User is already logged in from another device. Are You sure want to login? It will logout from another device.")
                                if (con) {

                                    $.ajax({
                                        url: '@Url.Action("DeleteSession", Controllers.Account, new { area = string.Empty })',
                                        type: "POST",
                                        data: {
                                            employeeID: result[2]
                                        },
                                        dataType: "json",
                                        success: function (result) {

                                            $.ajax({
                                                url: '@Url.Action(Actions.Login, Controllers.Account, new { area = string.Empty })',
                                                type: "POST",
                                                data: {
                                                    username: $("#txtUserName").val(),
                                                    password: $("#txtPassword").val(),
                                                    //account: $("#txtClientID").val(),
                                                    account: $("#txtClientCode").val(),
                                                    isRememberMe: $("#chkRememberMe").prop("checked"),
                                                    latitude: latitude,
                                                    longitude: longitude,
                                                    IsAlreadyChecked: true,
                                                    __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
                                                },
                                                dataType: "json",
                                                success: function (result) {
                                                    if (result[0] == 0) {
                                                        ShowMessage(result[1], result[2], "#divMessage");
                                                    }
                                                    else if (result[0] == 2) {
                                                        ShowMessage(result[1], result[2], "#divDBConnectionError");
                                                    }
                                                    else {
                                                        window.location = "@Url.Action(Actions.JobRequestList, Controllers.Transaction, new { area = string.Empty })";
                                                    }
                                                }
                                            });

                                        }
                                    });
                            }
                        }
                        else if (result[0] == 0) {
                            ShowMessage(result[1], result[2], "#divMessage");
                        }
                        else if (result[0] == 2) {
                            ShowMessage(result[1], result[2], "#divDBConnectionError");
                        }
                        else {
                            window.location = "@Url.Action(Actions.JobRequestList, Controllers.Transaction, new { area = string.Empty })";
                        }
                        }
                    });
        e.preventDefault();
    }

}
else {
    e.preventDefault();
}
        });


$('#frmforgotPwd').on('submit', function (e) {
    if ($("#frmforgotPwd").valid()) {
        if (e.isDefaultPrevented()) {
        } else {
            $.ajax({
                url: '@Url.Action(Actions.ForgotPassword, Controllers.Account, new { area = string.Empty })',
                type: "POST",
                data: {
                    username: $("#txtUserNameForgotPwd").val(),
                    account: $("#txtClientIDForgotPwd").val(),
                    __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
                },
                dataType: "json",
                success: function (result) {
                    if (result[0] == '@SystemEnum.MessageType.danger.ToString()') {
                        ShowMessage(result[0], result[1], "#divMessageForgot");
                    }
                    else {
                        $('#forgotPasswordModal').modal("hide");
                        ShowMessage(result[0], result[1], "#divMessage");
                    }
                }
            });
                e.preventDefault();
            }

        }
        else {
            e.preventDefault();
        }
});

    function ChangeLanguage(selectedLanguage) {
        if (selectedLanguage == '@ProjectConfiguration.EnglishCultureCode') {
            $('.login-page').attr("id", 'english');
        }
        else {
            $('.login-page').attr("id", 'arabic');
        }
    }

    </script>

    <script type="text/javascript" src="https://cdn.ywxi.net/js/1.js" async></script>
</body>
</html>
