﻿
@{
    ViewBag.Title = "Permissions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="//kendo.cdn.telerik.com/2016.2.714/styles/kendo.common-material.min.css" />
<link rel="stylesheet" href="//kendo.cdn.telerik.com/2016.2.714/styles/kendo.material.min.css" />
<link rel="stylesheet" href="//kendo.cdn.telerik.com/2016.2.714/styles/kendo.default.mobile.min.css" />
<script src="//kendo.cdn.telerik.com/2016.2.714/js/kendo.all.min.js"></script>
<h2>Permissions</h2>
<style>
    .k-reset {width:100% !important;}

</style>
<div id="bankData" class="table-responsive">
    <div id="bankGrid"></div>
    <script id="rowTemplate" type="text/x-kendo-tmpl">
        <tr>
            <td></td>
            <td>
                #: Module#
            </td>
            <td>
                #: Sub-Module#
            </td>
            <td>
                #: Function#
            </td>
            <td class="action">
                <a href="javascript:void(0);"><i class="glyphicon glyphicon-pencil"></i></a><a href="javascript:void(0);"><i class="glyphicon glyphicon-trash"></i></a>
            </td>
        </tr>
    </script>
    <script>
            var banks = [{
                submodule: "JobRequest",
                module: "JobRequest",
                bank1: "Allow access",
                permissionGroup: true,
                userGroup: false
            }, {
                submodule: "JobRequest",
                module: "JobRequest",
                bank1: "Create new Job Request",
                permissionGroup: true,
                userGroup: false
            }, {
                submodule: "JobRequest",
                module: "JobRequest",
                bank1: "Edit Job Request",
                permissionGroup: true,
                userGroup: false
            },
            {
                submodule: "Locations",
                module: "Locations",
                bank1: "Change Masters Codes",
                permissionGroup: true,
                userGroup: false
            }
            ];


            $(document).ready(function () {

                $("#bankGrid").kendoGrid({
                    dataSource: {
                        data: banks,
                        schema: {
                            model: {
                                fields: {
                                    module: { module: "string" },
                                    submodule: { bank: "string" },
                                    bank1: { bank: "string" },
                                }
                            }
                        },
                        pageSize: 20,
                        group: {
                            field: "module",
                            dir: "asc"
                        }
                    },
                    sortable: true,
                    scrollable: false,
                    pageable: false,
                    columns: [
                        { field: "module",title: "Module" , groupHeaderTemplate: "Module : #= value # <label style='float:right;padding-right:11px;' ><input   class='checkItemUserGp' type='checkbox' onclick=checkAllRelatedUserGp(this,'#= value #'); value='User Group' />User Group</label>    <label style='float:right;padding-right:19px;'><input type='checkbox'  class='checkItem' onclick=checkAllRelated(this,'#= value #'); value='Permission Group'  />Permission Group</label>  <label style='float:right;padding-right:15px;'><input type='checkbox' value='Show/Hide Module'  />Show Hide Module<label> " },
                        { field: "submodule", title: "Sub Module" },
                        { field: "bank1",title: "Function" },
                        { title: "Permission Group", template: '<input type="checkbox" class="checkItem" />', width: 110, headerTemplate: '<input type="checkbox" id="check-all" onclick=checkAll(this); /><label for="check-all">Permission Group</label>' },
                        { title: "User Group", template: '<input type="checkbox" class="checkItemUserGp"  class="chkbx" disabled/>', width: 110, headerTemplate: '<input type="checkbox" id="check-all-UserGroup"  onclick=checkAllUserGp(this); /><label for="check-all-UserGroup">User Group</label>' },
                    ]
                });
            
            });

            function checkAllRelated(ele, code) {
                $('#bankGrid').find("tr").each(function () {
                    var prod = $(this).find('td:eq(1)').text();
                    if (prod == code) {
                        $(this).find('input[type=checkbox].checkItem').prop('checked', $(ele).is(':checked'));
                    }
                });
            }

            function checkAllRelatedUserGp(ele, code) {
                $('#bankGrid').find("tr").each(function () {
                    var prod = $(this).find('td:eq(1)').text();
                    if (prod == code) {
                        $(this).find('input[type=checkbox].checkItemUserGp').prop('checked', $(ele).is(':checked'));
                    }
                });
            }

            

            function checkAll(ele) {
                $(':checkbox.checkItem').not(this).prop('checked', $(ele).is(':checked'));
            }

            function checkAllUserGp(ele) {
                $(':checkbox.checkItemUserGp').not(this).prop('checked', $(ele).is(':checked'));
            }
    </script>

</div>
<br />
<br />
<br />
<br />
<br />
<br />
<div id="example" style="display:none;">

    <div id="treelist"></div>

    <script id="photo-template" type="text/x-kendo-template">
        <div class='employee-photo'
             style='background-image: url(../content/web/treelist/people/#:data.EmployeeID#.jpg);'></div>
        <div class='employee-name'>#: FirstName #</div>
    </script>

    <script>
        $(document).ready(function () {
            var service = "//demos.telerik.com/kendo-ui/service";

            $("#treelist").kendoTreeList({
                dataSource: {
                    transport: {
                        read: {
                            url: service + "/EmployeeDirectory/All",
                            dataType: "jsonp"
                        }
                    },
                    schema: {
                        model: {
                            id: "EmployeeID",
                            parentId: "ReportsTo",
                            fields: {
                                ReportsTo: { field: "ReportsTo", nullable: true },
                                EmployeeID: { field: "EmployeeId", type: "number" },
                                Extension: { field: "Extension", type: "number" }
                            },
                            expanded: true
                        }
                    },
                    pageSize: 20
                },
                height: 540,
                filterable: true,
                sortable: true,
                columns: [
                    {
                        field: "FirstName", title: "First Name", width: 280,
                        template: $("#photo-template").html()
                    },
                    { field: "LastName", title: "Last Name", width: 160 },
                    { field: "Position" },
                    { field: "Phone", width: 200 },
                    { field: "Extension", width: 140 },
                    { field: "Address" }
                ]
            });
        });
    </script>

    <style>
        .employee-photo {
            display: inline-block;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            background-size: 32px 35px;
            background-position: center center;
            vertical-align: middle;
            line-height: 32px;
            box-shadow: inset 0 0 1px #999, inset 0 0 10px rgba(0,0,0,.2);
            margin-left: 5px;
        }

        .employee-name {
            display: inline-block;
            vertical-align: middle;
            line-height: 32px;
            padding-left: 3px;
        }
    </style>
</div>
