﻿@using CMMS.Infrastructure;
@using CMMS.Pages;
@using CMMS.Model
@using CMMS.Service
<style>
    .popover {
        z-index: 99999 !important;
    }
    .float-right {
        float:right;
    }
    #arabic .float-right {
        float: left;
    }
</style>
@Html.AntiForgeryToken()
<div class="modal-dialog modal-md">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" onclick="clodeModalPopUp();" title="@ProjectSession.Resources.label.Common_ButtonClose"></button>
            <h4 class="modal-title">@ProjectSession.Resources.label.Common_TextBlockWidgetSetting</h4>
        </div>
        <div class="modal-body">
            <div id="Highlights" class="tab-pane active" role="tabpanel">
                <div class="form-horizontal">
                    <div id="divModelError"></div>
                    <form role="form" id="frmAddWidgetByID">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">@ProjectSession.Resources.menu.Reports_MenuReports</label>
                            <div class="col-sm-8">
                                <div class="@ProjectSession.CultureKendoClass">
                                    @(Html.Kendo().DropDownList()
                                            .Name("drpDashboardModule")
                                            .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                            .DataTextField("Text")
                                            .DataValueField("Value")
                                            .HtmlAttributes(new { style = "width: 100%" })
                                            .BindTo(ViewBag.DashboardModule)
                                            .Value("")
                                    )
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <button type="submit" class="btn btn-primary float-right" id="btnSave"><span>@ProjectSession.Resources.label.Common_ButtonAdd</span></button>
                            </div>
                        </div>
                    </form>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div id="widgetData" class="@ProjectSession.CultureKendoClass">
                                @(Html.Kendo().Grid<CMMS.Model.DashboardReportMenu>()
                                        .Name("dashboardReportMenuGrid")
                                        .HtmlAttributes(new { @class = "kl-grid" })
                                        .Columns(columns =>
                                        {
                                            columns.Bound(c => c.ReportUniqueName).Title(ProjectSession.Resources.menu.Reports_MenuReports);
                                            
                                            columns.Bound(c => c.DashboardRepotMenuID).ClientTemplate("<center><a class='action delete-button'  href='javascript:void(0);'  class='delete-ic' data-id='#: DashboardRepotMenuID #' style='cursor:pointer'><i class='glyphicon glyphicon-trash' title='" + ProjectSession.Resources.label.Common_ButtonDelete + "' ></i></a></center>")
                                                                            .Title("<center>" + ProjectSession.Resources.label.Common_ButtonAction + "</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Width(80);
                                        })
                                        .Sortable(sortable => sortable.AllowUnsort(false))
                                        .Scrollable()
                                        .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
                                        .Events(events => events.DataBound("onDataBoundWidget"))
                                        .DataSource(dataSource =>
                                                                dataSource.Ajax()
                                                                .PageSize(ProjectConfiguration.PageSize)
                                                                 .Sort(model => model.Add("ReportUniqueName").Ascending())
                                                                 .Model(model =>
                                                                 {
                                                                     model.Id(p => p.DashboardRepotMenuID);
                                                                     model.Field(p => p.ReportUniqueName);
                                                                 })
                                                                .ServerOperation(true)
                                                                .Read(read => read.Action("GetAllWidget", Controllers.Home, new { area = string.Empty }).Data("BindParameters").Type(System.Web.Mvc.HttpVerbs.Post))
                                        )
                                )

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };

    
    $('#frmAddWidgetByID').on('submit', function (e) {
        if (!e.isDefaultPrevented()) {
            if (reValidateDropDowns($(this))) {
                $.ajax({
                    url: '@Url.Action(Actions.SaveWidget, Controllers.Home, new { area = string.Empty })',
                    type: "POST",
                    data: addRequestVerificationToken({ isChecked: true, reportId: $("#drpDashboardModule").val() }),
                    dataType: "json",
                    success: function (result) {
                        if (result[0] == 0) {
                            ShowMessage(result[1], result[2], "#divModelError");
                        }
                        else {
                            ShowMessage(result[0], result[1], "#divModelError");
                            ReBindKendoGrid("dashboardReportMenuGrid");
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        showErrorMessage();
                    }
                });
            }
            e.preventDefault();
        }
    })

    function clodeModalPopUp()
    {
        window.location.href = '@Url.Action(Actions.Dashboard, Controllers.Home, new { area = string.Empty })';
    }
    

</script>