﻿@using CMMS.Infrastructure;
@using CMMS.Pages;
@model CMMS.Model.JobOrderStatusBySiteSearchData
<style>
    .calendars-popup {
        z-index: 100000 !important;
    }
</style>
<script>
    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };

    function ChangeL1(e) {
        getSite();
    }

    function getSite() {
        var url;
        if ('@ProjectSession.IsCentral'.toLowerCase() == 'false') {
            url = '@Url.Action(Actions.GetCitiesByEmployee, Controllers.Configurations, new { area = Areas.Configurations })' + "?orgID=" + ($("#ddlOrganization").val() == "" ? 0 : $("#ddlOrganization").val());
        }
        else {
            url = '@Url.Action(Actions.GetAllCities, Controllers.Configurations, new { area = Areas.Configurations})' + "?orgID=" + ($("#ddlOrganization").val() == "" ? 0 : $("#ddlOrganization").val());
        }

        $.ajax({
            url: url,
            type: 'Post',
            cache: false,
            async: false,
            success: function (result) {
                $('#L2ID').data('kendoMultiSelect').dataSource.data(result);
                if ('@Model.L2ID' != null) {
                    var val = '@Model.L2ID';
                    var ps = val.split(',');
                    $('#L2ID').data('kendoMultiSelect').value(ps);
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                showErrorMessage();
            }
        });
    }
</script>

<div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" title="@ProjectSession.Resources.label.Common_ButtonClose"></button>
            <h4 class="modal-title">Search @SystemEnum.GetEnumName(typeof(SystemEnum.DashboardModule), @Model.reportID)</h4>
        </div>
        <form role="form" id="frmSaveFiltter">
            @Html.AntiForgeryToken()
            <div class="modal-body">
                <div id="Highlights" class="tab-pane active" role="tabpanel">
                    <div class="form-horizontal">
                        <div id="divModelError"></div>
                        @Html.HiddenFor(o => o.reportID)
                        @Html.HiddenFor(o => o.DashboardRepotMenuID)
                        <div class="form-group">
                            <label class="col-sm-4 control-label">@ProjectSession.Resources.label.Organisation_TextBlockOrgCode</label>
                            <div class="col-sm-8">
                                @Html.Hidden("hdnIsAreaEnableOrgWise")
                                <div class="@ProjectSession.CultureKendoClass">
                                    @(Html.Kendo().DropDownListFor(m => m.L1ID)
                                            .OptionLabel(ProjectSession.Resources.label.Common_All)
                                            .DataTextField("L1No")
                                            .DataValueField("L1ID")
                                            .Events(m => m.Change("ChangeL1"))
                                            .HtmlAttributes(new { style = "width: 100%", id = "ddlOrganization" })
                                            .Template("#= KendoDDLTemplate(data.L1No ,data.L1Name, data.L1AltName) #")
                                            .DataSource(source =>
                                            {
                                                source.Read(read =>
                                                {
                                                    read.Action(Actions.GetAllOrganisation, Controllers.Configurations, new { area = Areas.Configurations });
                                                });
                                            })
                                         .Value(Convert.ToString(Model.L1ID))
                                    )
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">@ProjectSession.Resources.label.JobRequest_TextBlockCityCode</label>
                            <div class="col-sm-8">
                                <div class="@ProjectSession.CultureKendoClass">
                                    @(Html.Kendo().MultiSelectFor(model => model.L2ID)
                                            .AutoClose(false)
                                            .DataTextField("L2Code")
                                            .DataValueField("L2ID")
                                            .HeaderTemplate(ProjectConfiguration.HEADERTEMPLATEWITHCODE)
                                            .ItemTemplate("#= KendoDDLTemplate(data.L2Code ,data.L2name, data.L2Altname) #")
                                            .HtmlAttributes(new { style = "width: 100%" })
                                            .Value(Convert.ToString(Model.L2ID))
                                    )
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">@ProjectSession.Resources.label.JobOrder_TextBlockJODateFrom</label>
                            <div class="col-sm-8">
                                <div class="input-group date-pick">
                                    @Html.TextBoxFor(model => model.JoDateFrom, String.Format("{0:" + ProjectConfiguration.DefaultDateFormat + "}", Model.JoDateFrom), new { @id = "dtStartDate", @class = "form-control calendarsPicker", @placeholder = ProjectConfiguration.DefaultDateFormat })
                                </div>
                            </div>

                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label">@ProjectSession.Resources.label.JobOrder_TextBlockJODateTo</label>
                            <div class="col-sm-8">
                                <div class="input-group date-pick">
                                    @Html.TextBoxFor(model => model.JoDateTo, String.Format("{0:" + ProjectConfiguration.DefaultDateFormat + "}", Model.JoDateTo), new { @id = "dtEndDate", @class = "form-control calendarsPicker", @placeholder = ProjectConfiguration.DefaultDateFormat })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer box-footer">
                <button type="submit" class="btn btn-primary" id="btnSave"><span>@ProjectSession.Resources.label.Common_TextBlockSearch</span></button>
                <button type="button" class="btn btn-default" data-dismiss="modal">@ProjectSession.Resources.label.Common_ButtonClose</button>
            </div>
        </form>
    </div>

</div>
<script>
    $(document).ready(function () {
        getSite();
        CreateCalendarsPicker();
    });


    $('#frmSaveFiltter').on('submit', function (e) {
        if (e.isDefaultPrevented()) {
            // handle the invalid form...
        } else {

            var l2ids = $("#L2ID").val();
            if (l2ids != null) {
                l2ids = $("#L2ID").val().join();
            }

            var JoStartDate = $("#dtStartDate").val();
            var JoEndDate = $("#dtEndDate").val();

            var changedObj = {
                DashboardRepotMenuID: $("#DashboardRepotMenuID").val(),
                reportID: $("#reportID").val(),
                L1ID: $("#ddlOrganization").val(),
                L2ID: l2ids,
                JoDateFrom: $("#dtStartDate").val(),
                JoDateTo: $("#dtEndDate").val(),
            };
            if (JoStartDate == "" || JoEndDate == "") {
                if (JoStartDate == "") {
                    ShowMessage('@SystemEnum.MessageType.danger.ToString()', '@ProjectSession.Resources.message.JobOrder_MsgJOStartDateReq', "#divModelError");
                }
                else {
                    ShowMessage('@SystemEnum.MessageType.danger.ToString()', '@ProjectSession.Resources.message.JobOrder_MsgJOToDateReq', "#divModelError");
                }
            }
            else {
                if (validateDateFormat(JoStartDate) && validateDateFormat(JoEndDate)) {
                    if (new Date(JoStartDate) > new Date(JoEndDate)) {
                        ShowMessage('@SystemEnum.MessageType.danger.ToString()', '@ProjectSession.Resources.message.AccountCode_MsgValidStartEndDate', "#divModelError");
                        e.preventDefault();
                        return false;
                    }
                    else {
                        $.ajax({
                            url: '@Url.Action(Actions.SaveJobOrderStatusBySiteSearch, Controllers.Home, new { area = string.Empty })',
                            type: "POST",
                            data: addRequestVerificationToken(changedObj),
                            dataType: "json",
                            success: function (result) {
                                if (result[0] == 0) {
                                    ShowMessage(result[1], result[2], "#divModelError");
                                }
                                else {
                                    $('#dvJobOrderStatusBySiteSearchFilter').modal("hide");
                                    ReBindKendoGrid('JobOrderStatusBySiteGrid_' + result[1]);
                                }
                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                showErrorMessage();
                            }
                        });
                    }
                }
                else {
                    ShowMessage('@SystemEnum.MessageType.danger.ToString()', '@ProjectSession.Resources.message.Common_MsgValidFormatDate', "#divModelError");
                }
            }
            e.preventDefault();
        }
    })
</script>
