﻿@using CMMS.Infrastructure;
@using CMMS.Pages;
@model CMMS.Model.TopTenAssetModal
<style>
    .calendars-popup {
        z-index: 100000 !important;
    }
</style>
<script>
    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };

    function ChangeL1(e) {
        getSiteForTopTenSearch();
        ChangeSite(e);
    }

    function getSiteForTopTenSearch() {
        var url;
         if ('@ProjectSession.IsCentral'.toLowerCase() == 'false') {
            url = '@Url.Action(Actions.GetCitiesByEmployee, Controllers.Configurations, new { area = Areas.Configurations, @cityID = @Model.L2ID })' + "&orgID=" + ($("#ddlOrganization").val() == "" ? 0 : $("#ddlOrganization").val());
        }
        else {
            url = '@Url.Action(Actions.GetAllCities, Controllers.Configurations, new { area = Areas.Configurations, @cityID = @Model.L2ID })' + "&orgID=" + ($("#ddlOrganization").val() == "" ? 0 : $("#ddlOrganization").val());
         }

        $.ajax({
            url: url,
            type: 'Post',
            cache: false,
            async: false,
            success: function (result) {
                $('#L2ID').data('kendoDropDownList').dataSource.data(result);
                $('#L2ID').data('kendoDropDownList').value('@Model.L2ID');
                //$('#L2ID').data('kendoDropDownList').trigger("change");
            },
            error: function (xhr, ajaxOptions, thrownError) {
                showErrorMessage();
            }
        });
    }

    function ChangeSite(e) {
        if ('@ProjectSession.IsAreaFieldsVisible.ToString().ToLower()' == 'true') {
            $.ajax({
                url: '@Url.Action("GetAreaByCityID", Controllers.Home, new { area = string.Empty })',
                type: 'Post',
                data: addRequestVerificationToken({
                    cityId: $("#L2ID").val() == "" ? 0 : $("#L2ID").val(),
                    orgID: $("#ddlOrganization").val() == "" ? 0 : $("#ddlOrganization").val(),
                }),
                cache: false,
                async: false,
                success: function (result) {
                    $('#L3ID').data('kendoMultiSelect').dataSource.data(result);
                    if ('@Model.L3ID' != null) {
                        var val = '@Model.L3ID';
                        var ps = val.split(',');
                        $('#L3ID').data('kendoMultiSelect').value(ps);
                        ChangeArea();
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }
        else {
            ChangeArea();
        }
    }

    function ChangeArea(e) {
        var l3Ids = $("#L3ID").val();
        if (l3Ids != null) {
            l3Ids = $("#L3ID").val().join();
        }
        $.ajax({
            url: '@Url.Action("GetZoneByCityID", Controllers.Home, new { area = string.Empty })',
            type: 'Post',
            data: addRequestVerificationToken({
                cityId: $("#L2ID").val() == "" ? 0 : $("#L2ID").val(),
                areaId: l3Ids == "" ? 0 : l3Ids,
                orgID: $("#ddlOrganization").val() == "" ? 0 : $("#ddlOrganization").val(),
            }),
            cache: false,
            async: false,
            success: function (result) {
                $('#L4ID').data('kendoMultiSelect').dataSource.data(result);
                if ('@Model.L4ID' != null) {
                    var val = '@Model.L4ID';
                    var ps = val.split(',');
                    $('#L4ID').data('kendoMultiSelect').value(ps);
                    ChangeZone();
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                showErrorMessage();
            }
        });
    }

    function ChangeZone(e) {
        var l3Ids = $("#L3ID").val();
        if (l3Ids != null) {
            l3Ids = $("#L3ID").val().join();
        }

        var l4Ids = $("#L4ID").val();
        if (l4Ids != null) {
            l4Ids = $("#L4ID").val().join();
        }
        $.ajax({
            url: '@Url.Action("GetBuildingByCityID", Controllers.Home, new { area = string.Empty })',
            type: 'Post',
            data: addRequestVerificationToken({
                cityId: $("#L2ID").val() == "" ? 0 : $("#L2ID").val(),
                areaId: l3Ids == "" ? 0 : l3Ids,
                zoneId: l4Ids == "" ? 0 : l4Ids,
                orgID: $("#ddlOrganization").val() == "" ? 0 : $("#ddlOrganization").val(),
            }),
            cache: false,
            async: false,
            success: function (result) {
                $('#L5ID').data('kendoMultiSelect').dataSource.data(result);
                if ('@Model.L5ID' != null) {
                    var val = '@Model.L5ID';
                    var ps = val.split(',');
                    $('#L5ID').data('kendoMultiSelect').value(ps);
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                showErrorMessage();
            }
        });
    }

</script>

<div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" title="@ProjectSession.Resources.label.Common_ButtonClose"></button>
            <h4 class="modal-title">Search @SystemEnum.GetEnumName(typeof(SystemEnum.DashboardModule), @Model.reportID)</h4>
        </div>
        <form role="form" id="frmSaveTopTenAssetFiltter">
            @Html.AntiForgeryToken()
            <div class="modal-body">
                <div id="Highlights" class="tab-pane active" role="tabpanel">
                    <div class="form-horizontal">
                        <div id="divModelError"></div>
                        @Html.HiddenFor(o => o.reportID)
                        @Html.HiddenFor(o => o.DashboardRepotMenuID)
                        <div class="form-group">
                            <label class="col-sm-4 control-label">@ProjectSession.Resources.label.Organisation_TextBlockOrgCode</label>
                            <div class="col-sm-8">
                                @Html.Hidden("hdnIsAreaEnableOrgWise")
                                <div class="@ProjectSession.CultureKendoClass">
                                    @(Html.Kendo().DropDownListFor(m => m.L1ID)
                                            .OptionLabel(ProjectSession.Resources.label.Common_All)
                                            .DataTextField("L1No")
                                            .DataValueField("L1ID")
                                            .Events(m => m.Change("ChangeL1"))
                                            .HtmlAttributes(new { style = "width: 100%", id = "ddlOrganization" })
                                            .Template("#= KendoDDLTemplate(data.L1No ,data.L1Name, data.L1AltName) #")
                                            .DataSource(source =>
                                            {
                                                source.Read(read =>
                                                {
                                                    read.Action(Actions.GetAllOrganisation, Controllers.Configurations, new { area = Areas.Configurations });
                                                });
                                            })
                                         .Value(Convert.ToString(Model.L1ID))
                                    )
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">@ProjectSession.Resources.label.JobRequest_TextBlockCityCode</label>
                            <div class="col-sm-8">
                                <div class="@ProjectSession.CultureKendoClass">
                                    @(Html.Kendo().DropDownListFor(m => m.L2ID)
                                                         .OptionLabel(ProjectSession.Resources.label.Common_All)
                                                         .DataTextField("L2Code")
                                                         .DataValueField("L2ID")
                                                         .HtmlAttributes(new { style = "width: 100%" })
                                                         .Template("#= KendoDDLTemplate(data.L2Code ,data.L2name, data.L2Altname) #")
                                                         .Events(m => m.Change("ChangeSite"))
                                                         .Value(Convert.ToString(Model.L2ID))
                                    )
                                </div>
                            </div>
                        </div>

                        @if (ProjectSession.IsAreaFieldsVisible)
                        {
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.Area_TextBlockArea</label>
                                <div class="col-sm-8">
                                    <div class="@ProjectSession.CultureKendoClass">
                                        @(Html.Kendo().MultiSelectFor(model => model.L3ID)
                                            .AutoClose(false)
                                            .DataTextField("L3No")
                                            .DataValueField("L3ID")
                                            .HeaderTemplate(ProjectConfiguration.HEADERTEMPLATEWITHCODE)
                                            .ItemTemplate("#= KendoDDLTemplate(data.L3No ,data.L3Desc, data.L3AltDesc) #")
                                            .Events(m => m.Change("ChangeArea"))
                                            .Value(Convert.ToString(Model.L3ID))
                                        )
                                    </div>
                                </div>
                            </div>
                        }

                        <div class="form-group">
                            <label class="col-sm-4 control-label">@ProjectSession.Resources.label.Street_TextBlockStreet</label>
                            <div class="col-sm-8">
                                <div class="@ProjectSession.CultureKendoClass">
                                    @(Html.Kendo().MultiSelectFor(model => model.L4ID)
                                            .AutoClose(false)
                                            .DataTextField("L4No")
                                            .DataValueField("L4ID")
                                            .HeaderTemplate(ProjectConfiguration.HEADERTEMPLATEWITHCODE)
                                            .ItemTemplate("#= KendoDDLTemplate(data.L4No ,data.L4Description, data.L4AltDescription) #")
                                            .Events(m => m.Change("ChangeZone"))
                                            .Value(Convert.ToString(Model.L4ID))
                                    )
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">@ProjectSession.Resources.label.Building_TextBlockBuilding</label>
                            <div class="col-sm-8">
                                <div class="@ProjectSession.CultureKendoClass">
                                    @(Html.Kendo().MultiSelectFor(model => model.L5ID)
                                            .AutoClose(false)
                                            .DataTextField("L5No")
                                            .DataValueField("L5ID")
                                            .HeaderTemplate(ProjectConfiguration.HEADERTEMPLATEWITHCODE)
                                            .ItemTemplate("#= KendoDDLTemplate(data.L5No ,data.L5Description, data.L5AltDescription) #")
                                            .Value(Convert.ToString(Model.L5ID))
                                    )
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">@ProjectSession.Resources.label.Location_TextBlockLocationNo</label>
                            <div class="col-sm-8">
                                <div class="input-group pm-checklist">
                                    @Html.HiddenFor(model => model.LocationID, new { @id = "hdnLocationID" })
                                    @Html.TextBoxFor(model => model.LocationNo, new { @id = "txtLocationNo", @readonly = "readonly", @class = "form-control code-input" })
                                    <a href="#" class="checklis-btn" data-toggle="modal" id="AssetLocation" onclick="OpenLocationPopUp()">
                                        <img src="../images/checklis-icon.png" alt="">
                                    </a>
                                    <a href="javascript:void(0);" class="close-btn" onclick="ClearLocationData();" id="AssetLocationClose">
                                        <img src="../images/close.png" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">@ProjectSession.Resources.label.JobOrder_TextBlockJODateFrom</label>
                            <div class="col-sm-8">
                                <div class="input-group date-pick">
                                    @Html.TextBoxFor(model => model.JoDateFrom, String.Format("{0:" + ProjectConfiguration.DefaultDateFormat + "}", Model.JoDateFrom), new { @id = "dtStartDate", @class = "form-control calendarsPicker", @placeholder = ProjectConfiguration.DefaultDateFormat })
                                </div>
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">@ProjectSession.Resources.label.JobOrder_TextBlockJODateTo</label>
                            <div class="col-sm-8">
                                <div class="input-group date-pick">
                                    @Html.TextBoxFor(model => model.JoDateTo, String.Format("{0:" + ProjectConfiguration.DefaultDateFormat + "}", Model.JoDateTo), new { @id = "dtEndDate", @class = "form-control calendarsPicker", @placeholder = ProjectConfiguration.DefaultDateFormat })
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer box-footer">
                <button type="submit" class="btn btn-primary" id="btnSave"><span>@ProjectSession.Resources.label.Common_TextBlockSearch</span></button>
                <button type="button" class="btn btn-default" data-dismiss="modal">@ProjectSession.Resources.label.Common_ButtonClose</button>
            </div>
        </form>
    </div>

</div>
<script>
    $(document).ready(function () {
        getSiteForTopTenSearch();
        ChangeSite();
        CreateCalendarsPicker();
    });

    function OpenLocationPopUp() {
        if ($("#hdnLocationID").val() != "") {
            var locations = $("#hdnLocationID").val().split(',');
            $("#locationGrid tbody").find("tr").each(function () {
                $(this).find("td:first input").prop("checked", false);

                var found = $.inArray($(this).find("td:first input").attr("pid"), locations);
                if (found > -1) {
                    $(this).find("td:first input").prop("checked", true);
                }
            });
        }
        $("#locationGridModal").modal("show");
    }

    function ClearLocationData() {
        $("#hdnLocationID").val("");
        $("#txtLocationNo").val("");
    }

    $('#frmSaveTopTenAssetFiltter').on('submit', function (e) {
        if (e.isDefaultPrevented()) {
            // handle the invalid form...
        } else {
            var l3ids = $("#L3ID").val();
            if (l3ids != null) {
                l3ids = $("#L3ID").val().join();
            }
            var l4ids = $("#L4ID").val();
            if (l4ids != null) {
                l4ids = $("#L4ID").val().join();
            }
            var l5ids = $("#L5ID").val();
            if (l5ids != null) {
                l5ids = $("#L5ID").val().join();
            }

            var JoStartDate = $("#dtStartDate").val();
            var JoEndDate = $("#dtEndDate").val();

            var changedObj = {
                DashboardRepotMenuID: $("#DashboardRepotMenuID").val(),
                reportID: $("#reportID").val(),
                L1ID: $("#ddlOrganization").val(),
                L2ID: $("#L2ID").val(),
                L3ID: l3ids,
                L4ID: l4ids,
                L5ID: l5ids,
                LocationID: $("#hdnLocationID").val(),
                JoDateFrom: $("#dtStartDate").val(),
                JoDateTo: $("#dtEndDate").val(),
            };

            if (JoStartDate == "" || JoEndDate == "") {
                if (JoStartDate == "") {
                    ShowMessage('@SystemEnum.MessageType.danger.ToString()', '@ProjectSession.Resources.message.JobOrder_MsgJOStartDateReq', "#divModelError");
                }
                else {
                    ShowMessage('@SystemEnum.MessageType.danger.ToString()', '@ProjectSession.Resources.message.JobOrder_MsgJOToDateReq', "#divModelError");
                }
            }
            else {
                if (validateDateFormat(JoStartDate) && validateDateFormat(JoEndDate)) {
                    if (new Date(JoStartDate) > new Date(JoEndDate)) {
                        ShowMessage('@SystemEnum.MessageType.danger.ToString()', '@ProjectSession.Resources.message.AccountCode_MsgValidStartEndDate', "#divModelError");
                        e.preventDefault();
                        return false;
                    }
                    else {
                        $.ajax({
                            url: '@Url.Action(Actions.SaveTopTenAssetSearch, Controllers.Home, new { area = string.Empty })',
                            type: "POST",
                            data: addRequestVerificationToken(changedObj),
                            dataType: "json",
                            success: function (result) {
                                if (result[0] == 0) {
                                    ShowMessage(result[1], result[2], "#divModelError");
                                }
                                else {
                                    var l2Code;
                                    if ($("#L2ID").val() != "") {
                                        l2Code = $("#L2ID").data("kendoDropDownList").text();
                                    }
                                    else {
                                        l2Code = "@(ProjectSession.Culture == ProjectConfiguration.EnglishCultureCode ? "All" : "جميع")";
                                    }
                                    $("#lblFilterBy_" + result[2]).html(l2Code);
                                    $('#dvTopTenAssetSearchFilter').modal("hide");
                                    if (result[1] == '@SystemEnum.DashboardModule.Top10AssetBreakdown.GetHashCode()') {
                                        ReBindKendoGrid("Top10AssetBreakdownsGrid_" + result[2]);
                                    }
                                    else if (result[1] == '@SystemEnum.DashboardModule.Top10AssetDowntime.GetHashCode()') {
                                        ReBindKendoGrid("Top10AssetDowntimeGrid_" + result[2]);
                                    }
                                }
                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                showErrorMessage();
                            }
                        });
                    }
                }
                else {
                    ShowMessage('@SystemEnum.MessageType.danger.ToString()', '@ProjectSession.Resources.message.Common_MsgValidFormatDate', "#divModelError");
                }
            }
            e.preventDefault();
        }
    })

    function checkinnerelement(ctl) {
        if ($("#" + $(ctl).attr("id")).is(':checked') == true) {
            $(ctl).closest("tr").addClass('k-state-selected');
        } else {
            $(ctl).closest("tr").removeClass('k-state-selected');
        }
    }

    function checkAllRelated(ctl, gridname) {
        var gridname = "#" + gridname;
        if ($("#" + $(ctl).attr("id")).is(':checked') == true) {
            $(gridname).data('kendoGrid').tbody.find("tr").addClass('k-state-selected');
            $(gridname).data('kendoGrid').tbody.find("tr").find("td:first input").prop("checked", "checked");
        }
        else {
            $(gridname).data('kendoGrid').tbody.find("tr").removeClass('k-state-selected');
            $(gridname).data('kendoGrid').tbody.find("tr").find("td:first input").removeAttr("checked");
        }
    }
</script>
