﻿@using CMMS.Infrastructure;
@using CMMS.Pages;
<div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" title="@ProjectSession.Resources.label.Common_ButtonClose"></button>
            <h4 class="modal-title">@ProjectSession.Resources.label.JobOrder_TextBlockActivity @ProjectSession.Resources.menu.JobRequest_MenuJobRequests</h4> 
        </div>
        <form role="form" id="frmSaveFiltter">
            @Html.AntiForgeryToken()
            <div class="modal-body">
                <div id="Highlights" class="tab-pane active" role="tabpanel">
                    <div class="form-horizontal">
                        <div id="divModelError"></div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div id="jobPlanItemData" class="@ProjectSession.CultureKendoClass">
                                    @(Html.Kendo().Grid<CMMS.Model.WorkStatusDetailModal>()
                                            .HtmlAttributes(new { @class = "kl-grid" })
                                            .Name("WorkRequestStausDetailGrid")
                                            .Columns(columns =>
                                            {
                                                columns.Bound(c => c.Number).Title(ProjectSession.Resources.label.JobRequest_TextBlockJobRequestNo);

                                                columns.Bound(c => c.Name).Title(ProjectSession.Resources.label.JobOrder_TextBlockRequesterName);

                                                columns.Bound(c => c.ReceiveDate).ClientTemplate("#= DateTemplateWithTime(data.ReceiveDate) #").Title(ProjectSession.Resources.label.GoodsReceipt_TextBlockReceivedDate);

                                                columns.Bound(c => c.L2Code).Title(ProjectSession.Resources.label.JobRequest_TextBlockCityCode)
                                                 .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterSite", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(System.Web.Mvc.HttpVerbs.Post))));

                                                columns.Bound(c => c.WorkStatus).Title(ProjectSession.Resources.label.AccountCode_TextBlockStatus);
                                            })
                                            .Filterable()
                                            .Sortable(sortable => sortable.AllowUnsort(true))
                                            .Scrollable()
                                            .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
                                            .Events(events => events.DataBound("onDataBound"))
                                            .DataSource(dataSource => dataSource.Ajax()
                                            .PageSize(ProjectConfiguration.PageSize)
                                            .Sort(model => model.Add("Number").Ascending())
                                            .Model(model =>
                                             {
                                                 model.Field(p => p.Number);
                                             })
                                            .ServerOperation(true)
                                            .Read(read => read.Action("GetWorkRequestStatus", Controllers.Home, new { area = string.Empty, @workStatusId = @ViewBag.WorkStatusID, @dashboardReportMenuID = @ViewBag.DashboardReportId }).Type(System.Web.Mvc.HttpVerbs.Post))
                                            )
                                    )
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer box-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@ProjectSession.Resources.label.Common_ButtonClose</button>
            </div>
        </form>
    </div>
</div>
