﻿@using CMMS.Areas.Reports.Models
@using DevExpress.Web.Mvc.UI;
@using CMMS.Infrastructure;
@using CMMS.Pages;
@model ReportModel

@{
    ViewBag.Title = "PM Job Order Status Statistics";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool Lang = ProjectSession.Culture != ProjectConfiguration.ArabicCultureCode;
}

@Html.AntiForgeryToken()
<div class="head1">
    <h1>@ProjectSession.Resources.label.Reports_TextBlockPMJobOrderStatusStatistics</h1>
    @*<ul class="sub_btn">
        <li>
            <a id="searchReport" href="javascript:void(0);" class="btn-icon btn-search" data-toggle="modal" data-target="#search-report"
               onclick="OpenSearchReport()"
               title="@ProjectSession.Resources.label.Common_ButtonAdvanceSearch">
                <i></i>
            </a>
        </li>
    </ul>*@
</div>

@*<div id="search-report" class="modal fade" role="dialog">
</div>*@

<script type="text/javascript" lang="ja">
    var intPageID = '@SystemEnum.Pages.RptPMJobOrderStatusChart.GetHashCode()';

    @*function OpenSearchReport() {
        showLoader();
        $("#search-report").html('');
        var url = '@Html.Raw(Url.Action(Actions._ReportSearch, Controllers.Report, new { Area = Areas.Report, reloadAction = Actions.RptPMJobOrderStatusStatistics, reloadController = Controllers.ReportJobOrder }))';
        $("#search-report").load(url);
        hideLoader();
    }

    $(document).ready(function () {
        if ('@ViewBag.IsFirstLoad' == 'True') {
            $('#searchReport').trigger('click');
        }
    });*@
</script>

@Html.DevExpress().GetScripts(
        new Script { ExtensionSuite = ExtensionSuite.Report }
    )
@Html.DevExpress().GetStyleSheets(
        new StyleSheet { ExtensionSuite = ExtensionSuite.Report }
    )
@Html.DevExpress().WebDocumentViewer(settings =>
{
    settings.Name = "webDocumentViewer";
}).Bind((PMJobOrderStatusStatistics)ViewData["Report"]).GetHtml()

