﻿@using CMMS.Infrastructure;
@using CMMS.Pages;
@model CMMS.Model.JobOrderTypeChartFilterModal
<style>
    .calendars-popup {
        z-index: 100000 !important;
    }
</style>
<script>
    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };

    function getSiteForJobSearch() {
        var url;
        if ('@ProjectSession.IsCentral' == 'true') {
            url = '@Url.Action(Actions.GetCitiesByEmployee, Controllers.Configurations, new { area = Areas.Configurations, @cityID = @Model.L2ID })';
        }
        else {
            url = '@Url.Action(Actions.GetAllCities, Controllers.Configurations, new { area = Areas.Configurations, @cityID = @Model.L2ID })';
        }
        $.ajax({
            url: url,
            type: 'Post',
            cache: false,
            async: false,
            success: function (result) {
                $('#L2ID').data('kendoDropDownList').dataSource.data(result);
                $('#L2ID').data('kendoDropDownList').value('@Model.L2ID');
                $('#L2ID').data('kendoDropDownList').trigger("change");
            },
            error: function (xhr, ajaxOptions, thrownError) {
                showErrorMessage();
            }
        });
    }

    function getMaintDiv() {
        $.ajax({
            url: '@Url.Action(Actions.GetMaintenanceDivisions, Controllers.Configurations, new { area = Areas.Configurations })',
            type: 'Post',
            cache: false,
            async: false,
            success: function (result) {
                $('#MaintDivID').data('kendoDropDownList').dataSource.data(result);
                $('#MaintDivID').data('kendoDropDownList').value('@Model.MaintDivID');
                $('#MaintDivID').data('kendoDropDownList').trigger("change");
            },
            error: function (xhr, ajaxOptions, thrownError) {
                showErrorMessage();
            }
        });
    }

    function ChangeMaintDiv(e) {
        $.ajax({
            url: '@Url.Action("GetMaintDeptByDivisionsID", Controllers.Home, new { area = string.Empty })',
            type: 'Post',
            data: addRequestVerificationToken({ maintDivisionId: $("#MaintDivID").val() == "" ? 0 : $("#MaintDivID").val() }),
            cache: false,
            async: false,
            success: function (result) {
                $('#MaintDeptID').data('kendoMultiSelect').dataSource.data(result);
                if ('@Model.MaintDeptID' != null) {
                    var val = '@Model.MaintDeptID';
                    var ps = val.split(',');
                    $('#MaintDeptID').data('kendoMultiSelect').value(ps);
                    ChangeMaintDept();
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                showErrorMessage();
            }
        });
    }

    function ChangeMaintDept(e) {
        var maintDeptIds = $("#MaintDeptID").val();
        if (maintDeptIds != null) {
            maintDeptIds = $("#MaintDeptID").val().join();
        }

        $.ajax({
            url: '@Url.Action("GetMaintSubDeptByDeptsID", Controllers.Home, new { area = string.Empty })',
            type: 'Post',
            data: addRequestVerificationToken({ maintDeptid: maintDeptIds == "" ? 0 : maintDeptIds }),
            cache: false,
            async: false,
            success: function (result) {
                $('#MaintSubDeptID').data('kendoMultiSelect').dataSource.data(result);
                if ('@Model.MaintSubDeptID' != null) {
                    var val = '@Model.MaintSubDeptID';
                    var ps = val.split(',');
                    $('#MaintSubDeptID').data('kendoMultiSelect').value(ps);
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                showErrorMessage();
            }
        });
    }
</script>
<div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" title="@ProjectSession.Resources.label.Common_ButtonClose"></button>
            <h4 class="modal-title">Search</h4>
        </div>
        <form role="form" id="frmSaveJobOrderTypeFiltter">
            @Html.AntiForgeryToken()
            <div class="modal-body">
                <div id="Highlights" class="tab-pane active" role="tabpanel">
                    <div class="form-horizontal">
                        <div id="divModelError"></div>
                        @Html.HiddenFor(o => o.reportID)
                        @Html.HiddenFor(o => o.DashboardRepotMenuID)
                        <div class="form-group">
                            <label class="col-sm-4 control-label">@ProjectSession.Resources.label.JobRequest_TextBlockCityCode</label>
                            <div class="col-sm-8">
                                <div class="@ProjectSession.CultureKendoClass">
                                    @(Html.Kendo().DropDownListFor(m => m.L2ID)
                                    .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                    .DataTextField("L2Code")
                                    .DataValueField("L2ID")
                                    .HtmlAttributes(new { style = "width: 100%" })
                                    .Template("#= KendoDDLTemplate(data.L2Code ,data.L2name, data.L2Altname) #")
                                    .Value(Convert.ToString(Model.L2ID))
                                    )
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">@ProjectSession.Resources.label.MaintDivision_TextBlockMaintDiv</label>
                            <div class="col-sm-8">
                                <div class="@ProjectSession.CultureKendoClass">
                                    @(Html.Kendo().DropDownListFor(m => m.MaintDivID)
                                    .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                    .DataTextField("MaintDivisionCode")
                                    .DataValueField("MaintDivisionID")
                                    .HtmlAttributes(new { style = "width: 100%" })
                                    .Template("#= KendoDDLTemplate(data.MaintDivisionCode ,data.MaintDivisionName, data.MaintDivisionAltName) #")
                                    .Events(m => m.Change("ChangeMaintDiv"))
                                    .Value(Convert.ToString(Model.MaintDivID))
                                    )
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">@ProjectSession.Resources.label.MaintenanceDept_TextBlockMaintDept</label>
                            <div class="col-sm-8">
                                <div class="@ProjectSession.CultureKendoClass">
                                    @(Html.Kendo().MultiSelectFor(model => model.MaintDeptID)
                                    .AutoClose(false)
                                    .DataTextField("MaintDeptCode")
                                    .DataValueField("MaintDeptID")
                                    .Events(m => m.Change("ChangeMaintDept"))
                                    .HeaderTemplate(ProjectConfiguration.HEADERTEMPLATEWITHCODE)
                                    .ItemTemplate("#= KendoDDLTemplate(data.MaintDeptCode ,data.MaintDeptdesc, data.MaintDeptAltdesc) #")
                                    .Value(Convert.ToString(Model.MaintDeptID))
                                    )
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">@ProjectSession.Resources.label.MaintenanceSubDept_TextBlockMaintSubDept</label>
                            <div class="col-sm-8">
                                <div class="@ProjectSession.CultureKendoClass">
                                    @(Html.Kendo().MultiSelectFor(model => model.MaintSubDeptID)
                                    .AutoClose(false)
                                    .DataTextField("MaintSubDeptCode")
                                    .DataValueField("MaintSubDeptID")
                                    .HeaderTemplate(ProjectConfiguration.HEADERTEMPLATEWITHCODE)
                                    .ItemTemplate("#= KendoDDLTemplate(data.MaintSubDeptCode ,data.MaintSubDeptDesc, data.MaintSubDeptAltDesc) #")
                                    .Value(Convert.ToString(Model.MaintSubDeptID))
                                    )
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer box-footer">
                <button type="submit" class="btn btn-primary" id="btnSave"><span>@ProjectSession.Resources.label.Common_TextBlockSearch</span></button>
                <button type="button" class="btn btn-default" data-dismiss="modal">@ProjectSession.Resources.label.Common_ButtonClose</button>
            </div>
        </form>
    </div>
</div>
<script src="~/Scripts/dashboard.js"></script>
<script>
    $(document).ready(function () {
        getSiteForJobSearch();
        getMaintDiv();
    });

    $('#frmSaveJobOrderTypeFiltter').on('submit', function (e) {
        if (e.isDefaultPrevented()) {
            // handle the invalid form...
        } else {

            var maintDeptIds = $("#MaintDeptID").val();
            if (maintDeptIds != null) {
                maintDeptIds = $("#MaintDeptID").val().join();
            }

            var maintSubDeptIds = $("#MaintSubDeptID").val();
            if (maintSubDeptIds != null) {
                maintSubDeptIds = $("#MaintSubDeptID").val().join();
            }

            var changedObj = {
                DashboardRepotMenuID: $("#DashboardRepotMenuID").val(),
                reportID: $("#reportID").val(),
                L2ID: $("#L2ID").val(),
                MaintDivID: $("#MaintDivID").val(),
                MaintDeptID: maintDeptIds,
                MaintSubDeptID: maintSubDeptIds
            };

            $.ajax({
                url: '@Url.Action(Actions.RptEmployeeRequesterDetailsFilter, Controllers.ReportEmployee, new { area = Areas.Report })',
                data: addRequestVerificationToken(changedObj),
                cache: false,
                type: 'POST',
                success: function (result) {
                    window.location.href = '@Url.Action(Actions.RptEmployeeRequesterDetails, Controllers.ReportEmployee, new { area = Areas.Report })';
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });

            e.preventDefault();
        }
    })
</script>
