a{ outline:none !important;}

/* * * * * * * Tab * * * * * * */
.nav-tabs-horizontal{ 	font-family: 'open_sansregular';}

.nav-tabs-horizontal .nav-tabs li{ list-style-type:none;}
.nav-tabs-horizontal .nav-tabs li a{ color:#4e4e4e; font-size:14px; text-decoration:none; border-radius:0px; margin-right: 0px;}
.nav-tabs-horizontal .nav-tabs li.dropdown a.dropdown-toggle{ background:url(../images/tabmenu.png) center center no-repeat; width:46px; height:43px; border-color:transparent !important;}
.nav-tabs-horizontal .nav-tabs li.dropdown a.dropdown-toggle:hover{ background:#e7ebee url(../images/tabmenu.png) center center no-repeat;}
.nav-tabs-horizontal .nav-tabs li.dropdown.open a.dropdown-toggle, .nav-tabs-horizontal .nav-tabs li.dropdown.active a.dropdown-toggle{ background:#d7dde1 url(../images/tabmenu.png) center center no-repeat; border-color:transparent !important;}
.nav-tabs-horizontal .nav-tabs li.dropdown .dropdown-menu{ padding:5px; margin:0; background:#FFF; border-top:none !important; }
.nav-tabs-horizontal .nav-tabs li.dropdown .dropdown-menu a{ background:#FFF !important; margin:0; padding:5px 6px;}
.nav-tabs-horizontal .nav-tabs li.dropdown .dropdown-menu li a:hover, .nav-tabs-horizontal .nav-tabs li.dropdown .dropdown-menu li.active a, .nav-tabs-horizontal .nav-tabs li.dropdown .dropdown-menu li.active a:hover {background:#155c98 !important; color:#fff; }
.nav-tabs-horizontal .tab-content{ padding:17px 0 0px 0;}
.nav-tabs li a:focus{ background:none;}


.smp {left: auto; right:0px;  }
#arabic .smp {left: 0; right:auto;}

.edit-job-order .nav-tabs {border-bottom:3px solid #d5d5d5;}

.edit-job-order .nav-tabs > li > a {border:0px; position:relative; padding:12px 15px; }
.edit-job-order .nav-tabs li.active {border:none; }
.edit-job-order .nav-tabs li.active a{ background:transparent;border:none; }
.edit-job-order .nav-tabs li a:after {content: ''; height:3px; width:0; background-color:#155c98;position:absolute; bottom:-2px; left:50%;}
.edit-job-order .nav-tabs li.active a:after, .edit-job-order .nav-tabs li:hover a:after {width:100%; left: 0; transition:all 0.3s;-o-transition:all 0.3s;-ms-transition:all 0.3s;-moz-transition:all 0.3s;-webkit-transition:all 0.3s;}
.edit-job-order .nav-tabs-horizontal .nav-tabs li:hover, .edit-job-order .nav-tabs-horizontal .nav-tabs li:focus {background:none; } 
.edit-job-order .nav-tabs-horizontal .nav-tabs li a:hover, .edit-job-order .nav-tabs-horizontal .nav-tabs li a:focus {background:none; border:0px;}
.edit-job-order .nav > li.dropdown.active > a:after, .edit-job-order .nav > li.dropdown.active > .dropdown-toggle, .edit-job-order .nav > li > a:hover, .edit-job-order .nav > li > a:focus {background:none; border:0px;}

.edit-job-order .dropdown.Open a:after, .edit-job-order .nav-tabs li.dropdown:hover a:after, .edit-job-order .nav-tabs li.dropdown:focus a:after {content: '';  width:0px; position:relative;bottom:0px;}

.modal-content .edit-job-order .nav-tabs li.active a{border-bottom:3px solid transparent;}
.modal-content .edit-job-order .nav > li > a:hover, 
.modal-content .edit-job-order .nav > li > a:focus { border-bottom:3px solid transparent; }

.modal-content .edit-job-order .nav-tabs li a:after {bottom:-5px;}
.modal-tabs .modal-body {padding-bottom:0px;}
.modal-tabs .box-footer {margin-bottom:0px;}