
@font-face {
	font-family: 'open_sansregular';
	src: url('../Content/fonts/opensans-regular-webfont.eot');
	src: url('../Content/fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),  
        /*url('../Content/fonts/opensans-regular-webfont.woff2') format('woff2'),*/  
        url('../Content/fonts/opensans-regular-webfont.woff') format('woff'), 
	url('../Content/fonts/opensans-regular-webfont.ttf') format('truetype'),  
	url('../Content/fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
	font-weight: normal; font-style: normal;
}

@font-face {
	font-family: 'open_sanssemibold';
	src: url('../Content/fonts/opensans-semibold-webfont.eot');
	src: url('../Content/fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'), 
         /*url('../Content/fonts/opensans-semibold-webfont.woff2') format('woff2'),*/ 
         url('../Content/fonts/opensans-semibold-webfont.woff') format('woff'),  url('../Content/fonts/opensans-semibold-webfont.ttf') format('truetype'),  url('../Content/fonts/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
	font-weight: normal; font-style: normal;
}

@font-face {
	font-family: 'open_sansbold';
	src: url('../Content/fonts/opensans-bold-webfont.eot');
	src: url('../Content/fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'), 
         /*url('../Content/fonts/opensans-bold-webfont.woff2') format('woff2'),*/  
        url('../Content/fonts/opensans-bold-webfont.woff') format('woff'),  url('../Content/fonts/opensans-bold-webfont.ttf') format('truetype'),  url('../Content/fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
	font-weight: normal; font-style: normal;
}

@font-face {
    font-family: 'droid_arabic_naskhregular';
    src: url('../Content/fonts/droidnaskh-regular-webfont.eot');
    src: url('../Content/fonts/droidnaskh-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Content/fonts/droidnaskh-regular-webfont.woff2') format('woff2'),
         url('../Content/fonts/droidnaskh-regular-webfont.woff') format('woff'),
         url('../Content/fonts/droidnaskh-regular-webfont.svg#droid_arabic_naskhregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'droid_arabic_naskhbold';
    src: url('../Content/fonts/droidnaskh-bold-webfont.eot');
    src: url('../Content/fonts/droidnaskh-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Content/fonts/droidnaskh-bold-webfont.woff2') format('woff2'),
         url('../Content/fonts/droidnaskh-bold-webfont.woff') format('woff'),
         url('../Content/fonts/droidnaskh-bold-webfont.svg#droid_arabic_naskhbold') format('svg');
    font-weight: normal;
    font-style: normal;

}


