/**, *:focus {outline:none;border-radius:0;-o-border-radius:0;-ms-border-radius:0;-moz-border-radius:0;-webkit-border-radius:0;box-shadow:none;-o-box-shadow:none;-ms-box-shadow:none;-moz-box-shadow:none;-webkit-box-shadow:none;}
a,.contentpad,.logo img, .btn, .action a:hover, .close{transition:all 0.3s;-o-transition:all 0.3s;-ms-transition:all 0.3s;-moz-transition:all 0.3s;-webkit-transition:all 0.3s;}*/
body {height:100%; min-height:100%; min-width:320px; background:#f4f4f4; margin:0; padding:54px 0 0 0; font-size:13px; 	font-family: 'open_sansregular'; color: #515151;}
html {height:100%;}


.wrapper{min-height:100%;}
a{color:#000;text-decoration:none;}
a:hover, a:focus, button:focus, button:hover{text-decoration:none;color:#999; outline:none; }
.hr-line{border:0;border-top:solid 1px #999;}
p{padding:0 0 20px;} 

h1, h2, h3, h4, h5, h6, ul, li, p{ margin:0; padding:0;}
h1, h2, h3, h4, h5, h6{font-weight:normal;}
strong{font-family: 'open_sansbold', arial; font-weight:normal;}
input[type=text],input[type=email],input[type=password],textarea{-webkit-appearance:none;}
input[type=checkbox],input[type=radio]{ vertical-align:-2px;}

/************Form Control ************/
.btn-default:active:hover, .btn-default.active:hover, .open > .dropdown-toggle.btn-default:hover, .btn-default:active:focus, .btn-default.active:focus, .open > .dropdown-toggle.btn-default:focus, .btn-default:active.focus, .btn-default.active.focus, .open > .dropdown-toggle.btn-default.focus {box-shadow:none; border:none;  }


.form-control {border-radius:0px; border-color:#dfdfdf; box-shadow:none; padding:6px; }
select.form-control{line-height:28px; padding: 0;}
.form-control:focus{ border-color:#dfdfdf;  outline:0;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(255,255,255,0.6);box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(229,229,229,0.6);}
.control-label {font-size:13px; font-weight:normal;color:#333333;}


.tp_theme{ padding:10px;}
.btn {border:none; position:relative; font-size:14px; font-family:'open_sansregular', Arial; outline:none !important; border-radius:0px; margin-left:5px;  min-width:80px; min-height:34px; }
.btn-sm{ font-size:11px;}
.btn-default {background-color:#d3d3d3; color:#4a4a4a; }
.icon-btn {padding: 0 8px; min-width: 0; border-radius: 4px; overflow: hidden; line-height:34px; }
.btn > span {position:relative; }
.btn:hover, .btn:focus {border-color:transparent; }
.btn:before {content:""; width:0; height:0; position:absolute; left:50%; top: 50%;background-color:rgba(0, 0, 0, 0.10); display:inline-block; transition: all 0.3s ease-in-out 0s;}
.btn:hover:before, .btn:focus:before {content:''; height:100%; width:100%; top:0px; left:0px;}

.btn-icon {display:inline-block;  width:30px; height:30px;border-radius:4px; background-position:center center; background-repeat:no-repeat; margin-left:0px; }
.btn-icon:hover {opacity:0.8; }
.sub_btn > li {margin-left:8px; }

.btn-add, .btn-add:hover, .btn-add:focus{ background-image:url(../images/add.png); }
.btn-xsl, .btn-xsl:hover, .btn-xsl:focus{ background-image:url(../images/xsl.png);}
.btn-print, .btn-print:hover, .btn-print:focus{ background-image:url(../images/print.png);}
.btn-search, .btn-search:hover, .btn-search:focus{ background-image:url(../images/search-icon.png);}
.btn-refresh, .btn-refresh:hover, .btn-refresh:focus{ background-image:url(../images/refresh.png);} 
.btn-clear, .btn-clear:hover, .btn-clear:focus{ background-image:url(../images/clear-icon.png);}
.btn-closejo, .btn-closejo:hover, .btn-closejo:focus{ background-image:url(../images/job-order-close.png);}
.btn-ammendjo, .btn-ammendjo:hover, .btn-ammendjo:focus{ background-image:url(../images/job-order-ammend.png);}
.btn-viewall, .btn-viewall:hover, .btn-viewall:focus{ background-image:url(../images/view-all.png); }

.table-bordered > thead > tr > th, .table-bordered > thead > tr > td {border-bottom-width:3px;padding:12px 8px 7px;  border-bottom-color:#1b79c8; line-height:20px;}

.modal-footer .btn + .btn.btn-default, .btn-primary, .btn-default  {margin-bottom:5px;}

.date-pick{width:100%; }
.date-pick .form-control {padding-right:30px;}
.date-pick .input-group-addon {background:none; border:0px;border-radius:0px; position:absolute; right:10px; top: 3px; z-index:9;}

/* .open > .dropdown-menu{-webkit-transform:translatey(0px);transform:translatey(0px);-moz-ansform:translatey(0px);opacity:1;transition:all 0.25s linear;-moz-transition:all 0.25s linear;-webkit-transition:all 0.25s linear;}
.dropdown-menu{opacity:0;z-index:-99;-webkit-transform-origin:top;transform-origin:top;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards;-webkit-transform:translatey(-30px);transform:translatey(-30px);-noz-transform:translatey(-30px);display:block;transition:all 0.25s linear;-moz-transition:all 0.25s linear;-webkit-transition:all 0.25s linear;}
*/
/************Header************/
#header{background-color:#fff;  padding:0; margin:0; height:54px; width:100%; position:fixed; top:0; left:0; z-index:10;  min-width:320px; box-shadow: 0 2px 3px 0 rgba(0,0,0,0.15); -moz-box-shadow: 0 2px 3px 0 rgba(0,0,0,0.15); -webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,0.15); -o-box-shadow: 0 2px 3px 0 rgba(0,0,0,0.15); -ms-box-shadow: 0 2px 3px 0 rgba(0,0,0,0.15);}
.contentpad{ padding:22px 22px 75px 22px;}
.logo-img{float:left; padding:10px 0 0 0;}
.logo-text{ float:left;  padding:5px 0 0 8px; }
.logo-text h2{ color:#4d4b4b; font-size:20px; line-height:1.4; font-family: 'open_sansbold';}
.logo-text h3{ color:#4d4b4b; font-size:12px; letter-spacing:1px; padding:0 0 0 1px; }
.lms{ border-left:1px solid rgba(255, 255, 255, 0.3); height:70px; color:#f0f0f0; float:left; font-size:24px; color:#f3f3f3; padding:17px 18px 0 18px;}
.hdr_right{ float:right;}
a.hlink{ min-width:70px; display:inline-block;outline:none;}
a.userinfo{ color:#535353; font-size:14px; text-decoration:none; text-transform:uppercase; padding:5px 14px;}
.userinfo .userimg{ width:44px; height:44px; overflow:hidden; display:inline-block; border-radius:22px; border:1px solid #e0e0e0;   vertical-align:middle; margin-right:7px;}
.userinfo .userimg img{ border-radius:22px;}
.userinfo .ar{ background:url(../images/down-arrow-b.png) no-repeat; width:22px; height:7px; display:inline-block; margin-left:10px; margin-bottom:1px;}
.dropdown.open a.hlink{background:#eeeeee;}
.hdr_right .dropdown {margin-top:-4px;}
.hdr_right .dropdown-menu{ border-radius:0px; margin-top:-1px; width:196px;}

.hdr_right table tbody tr > td {padding:0px; }
.urlink{ width:100%; padding:0; margin:0; left:auto; right:0; /*min-width::;px;*/ }
.urlink .glyphicon{ color:#666; margin-right:4px;}
.urlink .divider{ margin:0 0;}
.urlink li {border-bottom:1px solid #e1e1e1;}
.urlink li > a{ padding:6px 10px; margin:0; font-size:13px; color:#666; position:relative; }
.urlink.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {background-color:transparent;  }
.urlink.dropdown-menu > li > a:after {content: ''; z-index:-1;  background-color:#f7f7f7; width:0px; height:100%; position:absolute;left:0px; top: 0;  }
.urlink.dropdown-menu > li > a:hover:after, .dropdown-menu > li > a:focus:after {width:100%; transition:all 0.3s;-o-transition:all 0.3s;-ms-transition:all 0.3s;-moz-transition:all 0.3s;-webkit-transition:all 0.3s;}
.hdr_right .dropdown.open .hlink .ar {background:url(../images/up-arrow.png)no-repeat;}  

.username{ padding: 6px 10px; font-family: 'open_sanssemibold', arial; color:#333; display:none; }
.tp_lang{ padding:10px; border-bottom:1px solid #ddd;}

.tp_theme a{ position:relative; width:60px; height: 26px; display:inline-block;}
.tp_theme a span{ position:absolute; top:5px; left:24px; color:#FFF; display:none;}
.tp_theme a.active span{ display:block;}


.tp_setting .help {background-color:#1b79c8; display:inline-block;  border-radius:50%; width:32px; height:32px; text-align: center;	padding-top:5px; margin:15px;  }
.language-box {padding:5px 8px 8px 8px;}
.language-box .form-control {max-width:200px; }
.tp_setting .help:hover, .tp_setting .help:focus {opacity:0.8; } 

.head1{ position:relative;padding:0 0 5px 0; border-bottom:1px solid #ccc; margin-bottom:25px;}
.head1 h1{font-size:24px; color:#555;	font-family: 'open_sansregular';font-weight:normal;  }
.con_news{ margin:-15px 0 20px 0; padding:10px 0; border-top:1px solid #ccc; border-bottom:1px solid #ccc; font-size:15px; overflow:hidden; white-space:nowrap; text-overflow: ellipsis;}
.head1 .sub_btn{margin:0px; padding:0px;position:absolute; right:0; bottom:7px;}
.sub_btn li {float:left;list-style:none;}

.btn-circle{border-radius:0px;float:left;margin:3px;}
.theme-colors{display:inline-block; width:100%;  padding:5px 0 10px 10px; text-align: center; border-right:1px solid #e1e1e1; border-bottom:1px solid #e1e1e1;}
.theme-colors .active{background-image:url(../images/right-icon.png);background-repeat:no-repeat;background-position:center center;}
.theme-colors .btn {min-height:0px; }
.theme-colors .form-label {text-align:left;  }
.theme-colors .green{background-color:#1b954c;}
.theme-colors .blue{background-color:#1b79c8;}
.theme-colors .gray {background-color:#585858;}
.theme-colors .btn{padding:0;min-width:0px;  width:24px;height:24px;margin:0 7px 0 0;display:inline-block; box-shadow:none; }


 .language-block {display:inline-block; width:100%;  padding:5px 10px 10px 5px; text-align: center; border-bottom:1px solid #e1e1e1;}
.language-block .form-label {text-align:left; }

.login-panel .language-block {display:inline-block; width:auto; padding:5px 10px 10px 5px; text-align: center; float:left; border-bottom:1px solid #e1e1e1;}
.login-panel .language-block > a {margin:0 5px; } 
.login-panel .language-block > a:hover {opacity:0.7;} 


/* **************************** */
.date-toggle {margin:10px; padding:0px;  display:inline-block;} 
.date-toggle .form-label {display:block; margin-bottom:2px;}
.date-toggle a {float:left;  padding:5px 18px; font-size:14px;  color:#808080; background-color:#f4f4f4; border:1px solid #dddddd; }
.date-toggle a.active {background-color:#1b79c8; color:#fff; border:1px solid #1b79c8;  }

/*************************************************************
**************************** Main ***************************/
#wrapper{ position:relative; min-height:100%; height:auto !important; }
#main { margin-left: 230px; transition: all ease 0.4s; -moz-transition: all ease 0.4s; -webkit-transition: all ease 0.4s;  }
#sidebar-wrapper { margin-left: -230px; top:0px; left: 230px; width: 230px; position: fixed; height: 100%; overflow:hidden; overflow-y: auto; z-index: 9;  transition: all ease 0.4s; -moz-transition: all ease 0.4s; -webkit-transition: all ease 0.4s; }
#page-content-wrapper { width: 100%; }
#main.active { position: relative; left: 0px; margin-left:0;  }


/* Breadcrumb */
.breadcrumb{ margin:0 !important; border-radius:0px; background:#EBEBEB;}
.breadcrumb a {color:#1b79c8; float:left;}
.breadcrumb span{ display:inline-block; width:9px; height:7px; background:url(../images/breadcrumb.png) no-repeat; margin:6px 8px 0 8px; float:left;}



/*****************************Dashboard***********************************/
.dashboard .box {border-bottom:3px solid #1b79c8;position:relative;  }
.dashboard .box .sub-title {position:relative; padding-right:145px;   }
.dashboard .sub-title h5{padding:10px 11px;color:#4c4b4b;font-weight:normal;font-size:15px;line-height:18px;display:inline-block;font-family:'open_sanssemibold';}
.dashboard .box .status {position:absolute; right:0px; top: 0;}
.status .filter-drop {z-index:9; position:static; }
.status .filter-drop .filter-icon > img {vertical-align:top; text-align:center; }
.status .filter-drop .filter-icon, .status .filter-drop .expand-popup{width:36px;height:40px;float:left;margin:0px;text-align:center;padding-top:7px;}
.status .filter-drop .filter-icon {padding-left:11px; padding-top:12px; position:relative; }
.status .filter-drop .filter-icon:hover, .status .filter-drop .expand-popup:hover {background-color:#f0f0f0; }

.chart-block {padding:0px 15px 10px; }
.filtered-by .form-label {display:inline;}
.filtered-by ul {display:inline; }
.filtered-by li {padding:5px 25px 5px 5px; position:relative;  font-size:12px; list-style:none; display:inline-block; border:1px solid #d5d5d5; border-radius:3px; margin-left:5px; margin-bottom:5px; cursor:pointer;}
.filtered-by li .close-icon {position:absolute; right:0px; top:0px; width:18px; height:27px; text-align:center; }
.filtered-by li .close-icon:before {z-index:0;content:''; background-color:#f0f0f0; position:absolute; right:0px; top:0px; width:0; height:100%;}
.filtered-by li .close-icon:hover:before, .filtered-by li .close-icon:focus:before {width:100%; transition:all 0.3s;-o-transition:all 0.3s;-ms-transition:all 0.3s;-moz-transition:all 0.3s;-webkit-transition:all 0.3s;}
.filtered-by li .close-icon > img {position:relative; top:4px;}

.filter-dropdown-menu {left:auto; right:0; top:35px; width:500px;  border-radius:0px;z-index:9; padding: 0px;}

.filter-dropdown-menu .form-horizontal {padding:15px;}
.filter-drop.open .filter-icon:after {content:""; position:absolute; bottom:1px; left:24%;   background:url(../images/shep-icon.png) no-repeat   0 0; width:18px; height:12px; z-index: 99; }
.filter-dropdown-menu .date-pick {display:inline-block; float:left;  width:47.5%; margin-right:15px;}
.mag-r-0 {margin-right:0px !important;  }

.work-status-grid .sub-title {margin-bottom:0px;width:100%; display:inline-block; }

.work-status-grid .table-responsive {box-shadow:none;border:none; }
.work-status-grid .table-bordered {border:none;}
.work-status-grid .table-bordered > tbody > tr > td:first-child, .work-status-grid .table-bordered > thead > tr > th:first-child {border-left:0px;}
.work-status-grid .table-bordered > tbody > tr > td:last-child, .work-status-grid .table-bordered > thead > tr > th:last-child{border-right:0px;}


.work-status-grid .table-bordered > thead > tr > th, .work-status-grid .table-bordered > thead > tr > td {border-bottom:1px solid #ddd !important;}
.work-status-grid .table-bordered tfoot > tr > td {border:0px; font-family: 'open_sanssemibold';	 }



@media (max-width:1340px) {
	.dashboard .sub-title h5 {font-size:13px; }
}
@media (max-width:1199px) {
	.filter-dropdown-menu {left: auto;right: 0;}
	.table-responsive > .table > thead > tr > th, .table-responsive > .table > tbody > tr > th, .table-responsive > .table > tfoot > tr > th, .table-responsive > .table > thead > tr > td, .table-responsive > .table > tbody > tr > td, .table-responsive > .table > tfoot > tr > td {
		white-space: nowrap;
	}
}
@media (max-width:991px) {
	.filter-dropdown-menu .date-pick {width:100%;}
	.filter-dropdown-menu .date-pick.mag-r-0  {margin-top:10px; }

}

@media (max-width:767px) {
	.filter-dropdown-menu {width:300px;}
}

/*****************************Modal***********************************/
.modal-open .modal {z-index:99999; }

.modal-content {border-radius:0px; }
.modal-header {background-color:#1b79c8; padding:6px 10px; }
.modal-footer {padding:10px 15px; border-color:#f0f0f0; }
.modal-title {color:#fff; font-size:16px; line-height:26px; }
.modal-header .close {margin-top:0px; background:rgba(255, 255, 255, 0.2) url(../images/close-icon.png) no-repeat center center; width:24px; height:24px; border-radius:50%; opacity:1; }
.modal-header .close:hover, .modal-header .close:focus {background-color:rgba(0, 0, 0, 0.2);}

.existing-text {font-size:12px;}

/************Sidebar Menu************/

#main.active #sidebar-wrapper { left: 0px; width: 230px;  }
#menu-toggle{float:left;width:54px; height:54px; line-height:54px;margin-right:3px;   cursor:pointer;display:inline-block;text-align:center;}
#menu-toggle:hover, #menu-toggle:focus {background-color:#f0f0f0; }
.menu-left{ padding-top:56px; width:230px; padding-bottom:80px;}
.infofix{ position:absolute; bottom:0; left:0; padding:10px 0; width:230px; text-align:center;}
.menu-left > li {border-bottom:1px solid rgba(255, 255, 255, 0.3);  }
.menu-left li > a {color:#fff; font-size:14px; text-decoration:none;   position:relative; min-height:40px; padding:8px 0 0 50px; display:inline-block; width:100%;  }
.menu-left li a .icon {position:absolute;left:10px; top: 6px;  display:inline-block;text-align:center; }
.menu-left li > a:after {content:''; z-index:-1;   background-color:rgba(0, 0, 0, 0.2); width:0; height:100%;position:absolute; top: 0; left:0px;    }
.menu-left li > a:focus:after, .menu-left li > a:hover:after {content:''; width:100%; display:inline-block;  transition:all 0.3s;-o-transition:all 0.3s;-ms-transition:all 0.3s;-moz-transition:all 0.3s;-webkit-transition:all 0.3s;} 

.menu-left li.active {background-color:rgba(0, 0, 0, 0.2);}
.menu-left li.active > a {background-color:rgba(0, 0, 0, 0.2);}

.dro-menu > a {background:url(../images/ar_menu.png) 92% center no-repeat;}
.dro-menu.active > a {background:url(../images/ar_user.png) 92% center no-repeat;} 
.sub-menu-nav {display:none; }
.sub-menu-nav li a {font-size:13px; padding:8px 0 0 20px; min-height:36px; }



.footer{ overflow:hidden; background:#e0e0e0; position:absolute; width:100%; bottom:0; }
.footer .footpad{padding:15px 15px 10px 15px;display:inline-block; width:100%; padding-left:230px;}
.footspac .footer .footpad {padding-left:15px;}
.copyright{text-align:right; }

.box{ background:#FFF; border:1px solid #dddddd; box-shadow: 0 2px 3px rgba(0,0,0,.05); margin-bottom:25px;}
.box-content{ padding:15px 15px 5px 15px;}
.box-footer{ background:#f9f9f9; padding:8px 15px 3px; border-top:1px solid #dadada; text-align:right;}
.box-header{ background:#f9f9f9; padding:12px 12px 8px 12px; border-bottom:1px solid #ccc; font-family: 'open_sanssemibold', arial; font-weight:normal; color:#444; font-size:18px; line-height:1;}

.form-label{ padding:0; font-weight:normal;   color:#333; line-height:16px;}
.frm-group{ min-height:72px;}

/* table */
.table-responsive {margin-bottom:0px;   box-shadow:0 2px 3px rgba(0,0,0,.05); -moz-box-shadow:0 2px 3px rgba(0,0,0,.05); -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.10); -o-box-shadow:0 2px 3px rgba(0,0,0,.05); -ms-box-shadow:0 2px 3px rgba(0,0,0,.05);}
table{ margin-bottom:0 !important; }
.table-calender td, .table-calender th{ text-align:center; }
.table-calender th{ background:#7c7e7e !important; text-transform:uppercase; color:#FFF !important; font-weight:normal;}
.dis{ background:#f1efef;}
.table-calender td.active{ background:#86b456 !important; color:#FFF;}
.v-center td{ vertical-align:middle !important;}
.db-footer{ border-top:1px solid #ddd;}
.db-footer a.viewall{ padding:8px; text-align:center; display:block; text-decoration:none; font-family: 'open_sanssemibold', arial;}
.db-footer a.viewall:hover{ background:#f3f3f3;}
.table{ background:#FFF;}
.table-hover > tbody > tr:hover {background-color: #f9f9f9;}
.table th{ background:#fff; font-weight:normal;  font-family: 'open_sanssemibold', arial; color:#333;}
.table td{ vertical-align:middle !important; }
.table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {padding: 6px;}
.approved{ display:inline-block; padding:6px 10px 7px 10px; font-size:11px; line-height:1; color:#FFF; background:#86b456; border-radius:4px;}
.pending{ display:inline-block; padding:6px 10px 7px 10px; font-size:11px; line-height:1; color:#FFF; background:#eda744; border-radius:4px;}
.reject{ display:inline-block; padding:6px 10px 7px 10px; font-size:11px; line-height:1; color:#FFF; background:#e25856; border-radius:4px;}
.action{ text-align:right; /*width:50px;*/ white-space:nowrap;} 
.action a{border-radius:3px; color:#666; padding:4px 6px; display:inline-block;}
.action a:hover{background:#dbdbdb; transition:all 0.3s;-o-transition:all 0.3s;-ms-transition:all 0.3s;-moz-transition:all 0.3s;-webkit-transition:all 0.3s;}
/* paginetion */
.grid-bottom{background:#fff;overflow:hidden;padding:3px 8px;border:1px solid #dce0e2;border-top:0;box-shadow:0 2px 3px rgba(0,0,0,.05);}
.paging{text-align:right;float:right;padding:0px;margin:5px 0px 0px 0px;display:inline-table;}
.paging ul{margin:0px;padding:0px;list-style-type:none;}
.paging ul li{padding:0;margin:0px;display:inline;}
.paging ul li a{color:#7e7e7e;text-decoration:none;background:#fff;border:1px solid #d8dadd;margin:0px 5px 5px 0px;padding:0px;height:28px;line-height:27px;width:30px;text-align:center;display:block;float:left;font-size:12px;}
.paging ul li a.active,.paging ul li a.active:hover{color:#FFF;text-decoration:none;border:none;background:#1b79c8;padding:0px;width:30px;height:28px;}
.paging ul li a.prevar{background:url(../images/prev.png) no-repeat center #fff;width:30px;height:28px;}
.paging ul li a.nxtar{background:url(../images/next.png) no-repeat center #fff;width:30px;height:28px;}
.paging ul li a:hover{text-decoration:none;background-color:#f0f0f0;padding:0px;width:30px;height:28px;}
.show-record{float:left;font-size:13px;color:#616161;padding-left:0px; margin-top:2px;  }
.show-record span{display:inline-block;}
.show-record select{padding:3px 4px;margin-left:5px;width:auto;display:inline-block;}
.records {font-family: 'open_sanssemibold'; /*color:*/ }

.login-rem{ padding-bottom:10px;}
.login-rem input[type=checkbox]{ vertical-align:-1px; margin:0 3px;}



/*Login Panel CSS
-------------------------------------------------------------------------------------------------*/
.login-page {padding:0; background-color:#f4f4f4;}
.login-page .login-panel{max-width:370px;height:440px;margin:auto;position:absolute;top:0;left:0;bottom:0;right:0;width:100%; }
.mag-bottom {margin-bottom:0px;  }
.login-logo{margin:0 0 30px; padding-left:40px; display:inline-block; text-align:center; position:relative; }
.login-logo > .logo-img {position:absolute; left: 0; top: -3px; max-width:42px; width:100%;   }
.login-page .language-block {border:0px; padding: 0px; float:right;  }
.login-logo .logo-text {text-align:left; }
.login-logo .logo-text h2 {font-size:16px; }
.login-logo .logo-text h3 {font-size:9px; }
.login-panel .panel-body{padding:20px 25px 20px 25px;  border-radius:0; background:#fff; box-shadow:0px 2px 8px 0px rgba(0, 0, 0, 0.15); border-bottom:3px solid #1b79c8;}
.panel-body .btn {text-transform:uppercase; }
h4.login-title{ margin:0;padding:0 0 12px 0; font-size:22px; font-weight:normal; color:#515151; font-family: 'open_sanssemibold';}
.remember{ font-size:12px;}
.checkbox{font-size:12px;}
.login-bot{ border-top:1px solid #e2e2e2; padding:12px 0px; font-size:12px; text-align:center; color:#f37723; margin:0px 0px;}
.login-bot p{ padding:0px 12px;}
.forgot > a:hover {color:#939393; text-decoration:none;  } 
.loginform .btn-primary {margin-left:0px; }

.login-Certification{margin:0 0 30px; padding-left:140px; padding-top:50px; display:inline-block; text-align:center; position:relative; }


/** Edit Job Order ******************************************/
.edit-job-order .box-content {padding-top:0px;  }
.pm-checklist {width:100%; }
.pm-checklist .form-control {padding-right:70px;  }
.pm-checklist .form-control .form-control {padding-right:0px; height: 100%;  }
.pm-checklist .checklis-btn {width:30px; height:32px;padding-top: 6px;text-align: center;  background-color:#efefef; border-left:1px solid #dfdfdf; position:absolute; right:31px; top:1px; z-index:9;}
.pm-checklist .close-btn {width:30px; height:32px;padding-top: 6px;text-align: center;  background-color:#efefef; border-left:1px solid #dfdfdf; position:absolute; right:1px;top:1px; z-index:9;}
.pm-checklist .checklis-btn:hover, .pm-checklist .checklis-btn:focus, .pm-checklist .close-btn:hover, .pm-checklist .close-btn:focus  {background-color:#dddddd; }

.information-form {margin-bottom:15px; padding:0 15px; }
.sub-title {border-bottom:1px solid #cfcfcf;margin-bottom:15px;}
.sub-title > span {color:#4c4b4b; font-weight:normal; font-size:16px; line-height:18px;padding-bottom:5px;display:inline-block; font-family: 'open_sanssemibold';}
.asset-tree-btn{border-radius:4px;display:inline-block;height:30px;line-height:27px;margin-left:0;text-align:center;width:30px;}
.asset-tree-btn:hover, .asset-tree-btn:focus {opacity:0.8; }


.btn-block-bg {border-top:3px solid #e7e7e7; padding:10px 10px 0; margin-right:-15px; margin-left:-15px;}


/** Kendo Grid ******************************************/
.k-grid-header th.k-header, .k-filter-row th {border-width: 0 0 3px 1px;}
.k-grid-content {overflow-y: visible!important;height: 100% !important;}
.k-grid-header  {padding-right:0px !important; padding-left:0px !important;} 
.k-grid tr td {border-color:#ddd;}
.k-grid-header th.k-header {padding: 10px 8px !important; }
.k-pager-info {float:left; padding:5px 10px; }
.k-pager-sizes {float:right; padding:3px 0px 0px 0px;}

@media (max-width:1680px) {

	.dms-login{ border-top:1px solid #cdcdcd; margin-top:40px; padding-top:35px;}
	#arabic .dms-login{ margin-top:40px; padding-top:35px;}
	.login-group{width:80%;}
	.logintitle{ font-size:32px; }

	.form-field{height: 36px;  padding: 6px 12px; font-size: 16px;}
	.signin{ height:36px; padding:0 35px 2px 35px;  font-size:18px;}

	.languagelink{ height:36px; padding:8px 10px 0 10px; font-size:14px;}
	.languagelink span{ width:40px; height:38px; }
	.lang-block{top:36px; }
	.lang-block li a{ display:block; padding:8px 10px 8px 10px;font-size:14px;}

	.l-link{font-size:16px; padding-top:15px; }
	.l-link table{ margin:10px 0 0 0;}

}

@media (max-width:1220px) {

	.dms-login{ border-top:1px solid #cdcdcd; margin-top:30px; padding:25px 0 0 0;}
	#arabic .dms-login{ padding:25px 0 0 0 ;}

	.login-group{width:auto;}
	.logintitle{ font-size:26px;  padding: 0 0 20px 0; text-align:center; }
	.l-link{font-size:14px; padding-top:12px; }
	.l-link table{ margin:8px 0 8px 0;}

}

@media (max-width:992px) {
	#login-content{  padding:20px 0 0 0;}
	.login-leftside{ width:50%;}
	.login-rightside{ width:50%; padding:0 20px 0 20px;}
	.logintitle{ font-size:24px;  padding: 0 0 15px 0; }
	.logo-text h2 {font-size:18px; }
	.logo-text h3 { font-size: 11px;}
	
	.foot_bottom p{ display:none;}
	.logincopy span{ display:none;}

}

@media (max-width:767px) {
	/* sidebar css start */
	body {overflow-x:hidden;}
	#main { margin-left: 0;}
	#sidebar-wrapper { left: 0;}
	#main.active { position: relative; margin-left:230px; width:100%;}
	#main.active #sidebar-wrapper { left: 230px; width: 230px;}
	.contentpad {padding:22px 10px 75px; }

	a.userinfo{padding:5px; }
	#login-content{  padding:0;}
	.login-leftside, #arabic .login-leftside{ float:none; width:auto; display:none;}
	.login-rightside, #arabic .login-rightside{  float:none; width:auto; padding:15px;}
	.logintitle{ font-size:22px;}
	.foot_bottom{ padding:15px 10px;}
	.f-social{ text-align:center; padding:0 0 10px 0;}
	.logincopy{ position:static; text-align:center; padding-bottom:6px;}
	.logo-text {display:none; }
	.head1{border:none; }
	.head1 h1{border-bottom:1px solid #ccc; padding-bottom:10px;  }
	.head1 .sub_btn {position:relative; margin-top:15px;overflow:hidden; bottom:0px;   }
	.usertext {display:none; }
	.userinfo .ar {margin-left:0px; }
	.head1 {margin-bottom:10px;  }
	.version {margin-bottom:5px;}

	.copyright, .version {text-align:center; }
	.footer .footpad {padding:6px; }
	.show-record, .paging {float:none; display:block;  }
	.show-record {margin-top:5px;   margin-bottom:5px;  }

	.login-page .login-logo img {max-width:280px; }
	.login-page	.login-logo  {margin:0 auto 15px; padding:0px; display:table;  }
	.login-logo > .logo-img {position:relative;}
	.userinfo .userimg {width:35px; height:35px;}
	.hdr_right .dropdown {margin-top:0px;  }
	.tp_setting .help {width: 25px; height: 25px; padding-top: 2px; }
	.tp_setting .help > img {max-width:9px; }


}


.logo-ems img, .logo-moh img{ max-width: 100%; height: auto;}
.infofixlogo{ width:194px; height:76px; position:absolute; bottom:0; right:0; background:url(../images/infofix2.png) no-repeat; outline:none;}
#arabic .infofixlogo{ right:auto; left:0; background:url(../images/infofix2-ar.png) no-repeat;}
@media (max-width:767px) {
	.infofixlogo{ width:194px; height:76px; position:static; margin:0 auto; display:block;}
}






.dropdown-menu.urlink, .dropdown-menu.filter-dropdown-menu { 
	-webkit-animation-duration: 0.25s; 
	animation-duration: 0.25s; 
	-webkit-animation-fill-mode: both; 
	animation-fill-mode: both; 
	/*-webkit-animation-timing-function: ;*/ 
	animation-timing-function: ease-in-out; 
} 

@-webkit-keyframes fadeInDown { 
	0% { 
		opacity: 0; 
		-webkit-transform: translateY(-20px)  scale(0.8);
	} 
	100% { 
		opacity: 1; 
		-webkit-transform: translateY(0) scale(1);
	} 
} 

@keyframes fadeInDown { 
	0% { 
		opacity: 0; 
		transform: translateY(-20px) scale(0.8); 
	} 
	100% { 
		opacity: 1; 
		transform: translateY(0) scale(1); 
	} 
} 

.open .dropdown-menu.urlink, .open .dropdown-menu.filter-dropdown-menu { 
	-webkit-animation-name: fadeInDown; 
	animation-name: fadeInDown; 
}



/*16-08-2016*/

.customFilters .frm-group {min-height: 45px;}

/* 08-09-2016 */

.checkbox-custom  {border:1px solid #dfdfdf; width: 16px;height: 16px; display: inline-block;position:relative;}
.checkbox-custom.active:after {content: ''; background-color:#1b79c8; width: 10px;height: 10px; display: inline-block; position:absolute; top: 3px;left:3px;   }
.blue .checkbox-custom.active:after  {background-color:#1b79c8;}
.green .checkbox-custom.active:after  {background-color:#20863d;}
.gray .checkbox-custom.active:after {background-color:#585858;}

/* 04-09-2016 for responsive grid */
 .k-grid-header {
        padding: 0 !important;
    }

    .k-grid-content {
        overflow-y: visible !important;
         height:100% !important;
    }


@media (max-width:1200px) {

.table-responsive > .table > thead > tr > th,
  .table-responsive > .table > tbody > tr > th,
  .table-responsive > .table > tfoot > tr > th,
  .table-responsive > .table > thead > tr > td,
  .table-responsive > .table > tbody > tr > td,
  .table-responsive > .table > tfoot > tr > td {
    white-space: nowrap;
  }

.kl-grid td, .kl-grid th { width:150px !important;  white-space: nowrap !important; box-sizing: border-box !important;
    }
    .k-grid td {
        padding:10px 8px !important;
    }
    
}





/* 19-09-2016 */
textarea {resize: none;}
.sub-title {position: relative; }
.sub-title .sub_btn{margin:0px; padding:0px;position:absolute; right:0; bottom:7px;}
.sub_btn li {float:left;list-style:none;}

@media (max-width:767px) {
	.sub-title {border-bottom:0px; }
	.sub-title > span { border-bottom: 1px solid #cfcfcf; width:100%;padding-bottom:10px;   }
	.sub-title .sub_btn {position:relative; margin-top:10px;overflow:hidden; bottom:0px;   }
}


.upload-photo-block {position: relative; padding-left:175px; min-height:250px; }
.upload-photo {position: absolute; left:0px; top: 0; }

@media (max-width:767px) { 
	.upload-photo-block {padding-left:0px;}
	.upload-photo {position: relative;}
}

.upload-photo{padding-left:0; width:150px; overflow:hidden;  border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; margin-bottom:20px; }
.upload-photo .file-upload-input{display:none}
.upload-photo .file-upload-wrapper, .upload-photo  .file-upload-button{width:100%; height:100%; z-index:9}
.upload-photo .upload-input {border:1px solid #BEBEBE; background-color:#f0f0f0; width:100%; height:35px;display:block; position:relative; margin:5px 0; cursor:pointer;}
.upload-photo .upload-input:after { content:'Change Photo'; font-size:14px; color:#333333; position:absolute; left:0px; right:0px; top:7px; text-align:center; margin:auto; }   
.upload-photo .upload-input input {opacity:0; position:relative; z-index:99; height:35px; width:100%;}
.upload-not {display:block;color:#e40808; font-size:11px; margin-bottom:10px;}
.upload-photo .file-upload-button{font-size:0; text-indent:-9999px;background:transparent ; }
.upload-logo{position:absolute; top:50%; margin-top:-46px;left:0; right:0; text-align: center; z-index:0}
.upload-logo img{display:inline-block; margin-bottom: 17px;}
.upload-logo label{display:block; font-size:17px; color:#5c5c5c; font-weight: normal;}

.upload-profile-pic .upload-logo{margin-top: -75px;}
.upload-profile-pic span{ border-radius: 100%;-moz-border-radius: 100%;-webkit-border-radius: 100%;background: #fff;border: 3px solid #dddddd; display: table;width: 99px; height: 99px;margin: 0 auto 17px }
.upload-profile-pic em{display: table-cell; vertical-align: middle;}
.upload-profile-pic img{margin-bottom: 0;}


.custom-file-upload-hidden{display:none;visibility:hidden;position:absolute;left:-9999px;}
.custom-file-upload{display:block;width:auto;font-size:16px;}
.custom-file-upload label{display:block;margin-bottom:5px;}
.file-upload-wrapper{position:relative;}
.file-upload-input{background: #f9f9f9;border: 1px solid #dbdbdb;box-shadow: none;border-radius: 2px; height: 41px; margin-bottom:0;width:100%;display: block;padding:6px 145px 6px 12px;font-size:14px;line-height:20px;color:#555;}
.file-upload-input:focus{background:#fff; border-color: #02be9a}
.file-upload-button{cursor:pointer;display:inline-block;color:#fff;font-size:16px;line-height: 20px; text-transform:uppercase;padding:12px 20px 9px;border:none;margin-left:-1px;background-color:#c1c1c1;/* IE 9 Fix */-moz-transition:all 0.2s ease-in;-o-transition:all 0.2s ease-in;-webkit-transition:all 0.2s ease-in;transition:all 0.2s ease-in;position: absolute;top: 0;right: 0;border-radius: 2px;border-top-left-radius: 0;border-bottom-left-radius: 0;-webkit-border-radius: 2px;-moz-border-radius: 2px;}
.file-upload-button:hover{background-color:#f0f0f0;}


.horizontal-checkbox .checkbox {display:inline-block; margin-right:15px; line-height:20px;  }
.two-form-group .input-two {display:table; width:100%;}
.two-form-group .input-group {display:table-cell;width:50%; vertical-align:top;}
.two-form-group .pm-checklist {width:100%; padding-left:125px; display:table;  }
.two-form-group .pm-checklist .code-input {position:absolute; width:125px; left:0px; padding:6px;  }




/* 22-09-2016 */

.active-icon {width:12px; height:12px; display:inline-block; background-color:#67C100; border-radius:50%;-moz-border-radius:50%; -webkit-border-radius:50%;  }
.inactive-icon {width:12px; height:12px; display:inline-block; background-color:#b8b8b8; border-radius:50%;-moz-border-radius:50%; -webkit-border-radius:50%;  }

.Profitability { margin-top:15px; float:right; }
.total-tablebox {display:inline-block; float:left;  }
.Profitability .total-tablebox > table {background-color:#f5f5f5; float:left; margin-left:30px; width:auto; min-width:270px; margin-bottom:15px; box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05); -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05); -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);}
.Profitability .total-tablebox > table tr > td { padding:8px 10px; font-size:14px; color:#717070; font-weight:normal; text-align:right; width:50%; }
.Profitability .total-tablebox > table tfoot tr:first-child { border-top:1px solid #cfcfcf; }
.Profitability .total-tablebox > table tr > td.label {display:inline-block; line-height:20px; }
.Profitability .total-tablebox > table > tfoot tr > td {color:#242424; font-family: "open_sanssemibold",arial;}
.Profitability .total-tablebox > table > tfoot tr > td.label {font-size:16px;}
.Profitability .total-tablebox > table tr > td .total, .Profitability .total-tablebox > table tr > td.label { color:#242424; text-align:left; font-family: "open_sanssemibold",arial; }
.Profitability .total-tablebox > table > tbody tr > td.text-right { text-align:right!important; }


@media (max-width:767px) {
	.Profitability, .Profitability .total-tablebox > table {width:100%; margin:10px;}
	.total-tablebox {display:block; width:100%;  }
}
 
/* 03-10-2016 */

.cleaning-weightage .titel-pc {margin-bottom: 30px; }
.cleaning-weightage .form-horizontal .form-group {margin-left:0px; margin-right:0px;}


.cleaning-label {padding:7px 0 0 2px; margin-bottom:0px;  font-family: 'open_sansbold'; font-size:14px;  font-weight:normal;  display:inline-block;width:auto; }

@media (max-width:767px) {
	.cleaning-weightage  label.control-label {display:block !important; }
	.cleaning-weightage .xs-bg {background-color:#f6f6f6; padding-top:8px; padding-bottom:8px;  margin:0 15px 15px; }
} 

/* 24 - Oct - 2016 */

.print-icon {width:36px;height:40px;float:left;padding-left:7px; padding-top:8px ; margin:0px;text-align:center;}
.print-icon:hover { background-color: #f0f0f0;}


/*4-11-2016*/
/**********************************/
.cus-form .form-group{ min-height:66px;}


@media (max-width:1030px) {
.edit-job-order .nav-tabs li a:after{ display:none !important}
.edit-job-order .nav-tabs li{ margin-bottom: -3px;}
.edit-job-order .nav-tabs li.active{ border-bottom:3px solid #000;}
.blue .edit-job-order .nav-tabs li.active{ border-bottom-color:#155c98;}
.green .edit-job-order .nav-tabs li.active{ border-bottom-color:#20863d;}
.gray .edit-job-order .nav-tabs li.active{ border-bottom-color:#585858;}

.btn:before { display:none;}
.btn:hover:before, .btn:focus:before { display:none;}

.blue .btn-primary:hover { background-color: #1f6eb4 !important;  border-color: #1f6eb4 !important;}
.green .btn-primary:hover { background-color: #1d7837 !important;  border-color: #1d7837 !important;}
.gray .btn-primary:hover { background-color: #4f4f4f !important;  border-color: #4f4f4f !important;}
.btn-default:hover { background-color: #c6c6c6 !important;  border-color: #c6c6c6 !important;}

.menu-left li > a:after { display:none; }
.menu-left li > a:focus:after, .menu-left li > a:hover:after { display:none;} 
.menu-left li > a:hover, .menu-left li > a:focus{background-color:rgba(0, 0, 0, 0.2);}
}

/************ ADD 24-11-16 ******************/
.tt-nopad{ padding:0 0 7px 7px !important; margin-top:15px; background:#FFFFFF; float:right; white-space:nowrap; border:1px solid #dce0e2; box-shadow:0 2px 3px rgba(0,0,0,.05);}
.tt-nopad td{ padding:7px 7px 0 0 !important}
.tt-nopad td.labeltext{ color:#333; font-weight:normal; vertical-align:middle !important; margin:0 !important; padding:7px 5px 0 0 !important; text-align:right;}
@media (max-width:767px) {
.tt-nopad{ font-size:11px;}
}