﻿@using CMMS.Infrastructure;
@using CMMS.Pages;
@using CMMS.Model
@using CMMS.Service
@{
    List<SearchField> lstSearchFields = SearchFieldService.GetSearchFields(ViewBag.PageID);
    var filterFields = lstSearchFields.Select(i => new { i.SearchFieldID, i.DBColumnType, i.DisplayName }).ToArray();
}
<script>
    var filterFields = JSON.parse('@(Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(filterFields)))');
    var RemoveButton = '@ProjectSession.Resources.label.Common_ButtonRemove';
</script>   

<script src="~/Scripts/AdvancedSearch.js"></script>
<div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" title="@ProjectSession.Resources.label.Common_ButtonClose"></button>
            <h4 class="modal-title">@ViewBag.Title @ProjectSession.Resources.label.Common_TextBlockSearch</h4>
        </div>
        <div class="modal-body customFilters">
            <div id="Highlights" class="tab-pane active" role="tabpanel">
                <div id="customFilters" class="information-form filter-row"></div>
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="frm-group">
                            <button class="btn btn-primary" type="button" onclick="return addFilters();"><span>@ProjectSession.Resources.label.Common_ButtonAddFilter</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer box-footer">
            <button class="btn btn-primary" type="submit" id="btnSaveSearch"><span>@ProjectSession.Resources.label.Common_ButtonSaveAndSearch</span></button>
            <button class="btn btn-primary" type="submit" id="btnSearch" style="display:none"><span>@ProjectSession.Resources.label.Common_TextBlockSearch</span></button>
            <button class="btn btn-default" type="submit" data-dismiss="modal"><span>@ProjectSession.Resources.label.Common_ButtonClose</span></button>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        GetFilterData(intPageID);
    });
</script>
