﻿@using CMMS.Infrastructure;
@using CMMS.Pages;
@model CMMS.Model.Supplier
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool Lang = ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true;
}

@*<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")"></script>*@

<div class="head1">
    @{
        var Titletext = "";
        Titletext = ProjectSession.Resources.label.Supplier_TextBlockSupplier;        
        <h1>
            @Titletext
        </h1> 
    }
</div>

<div id="divContent">
    <div class="box edit-job-order">
        <div id="divModelError"></div>
        <div class="nav-tabs-horizontal">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#tb1" aria-controls="tb1">@ProjectSession.Resources.label.Supplier_TextBlockSupplier</a></li>
                @if (Model.SupplierID > 0)
                {
                    <li role="presentation"><a data-toggle="tab" href="#tb2" aria-controls="tb2">@ProjectSession.Resources.label.Employee_TextBlockContactInfo</a></li>    
                    <li role="presentation"><a data-toggle="tab" href="#tb3" aria-controls="tb3">@ProjectSession.Resources.label.Supplier_TextBlockSupplierDocument</a></li>                   
                }
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" onclick="ABC(this);"></a>
                    <ul class="dropdown-menu smp">
                        <li class="active"><a data-toggle="tab" href="#tb1" aria-controls="tb1">@ProjectSession.Resources.label.Supplier_TextBlockSupplier</a></li>
                        @if (Model.SupplierID > 0)
                        {
                            <li role="presentation"><a data-toggle="tab" href="#tb2" aria-controls="tb2">@ProjectSession.Resources.label.Employee_TextBlockContactInfo</a></li>
                            <li role="presentation"><a data-toggle="tab" href="#tb3" aria-controls="tb3">@ProjectSession.Resources.label.Supplier_TextBlockSupplierDocument</a></li>
                        }
                    </ul>
                </li>

            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tb1">
                    @using (Html.BeginForm(Actions.ManageSuppliers, Controllers.Configurations, new { area = Areas.Configurations }, FormMethod.Post, new { id = "frmSupplier" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="information-form cus-form">
                            <div class="row">
                                <div class="form-group col-md-6 col-lg-4">
                                    @Html.HiddenFor(model => model.SupplierID, new { @id = "hdnsupplierID" })
                                    <label class="form-label">@ProjectSession.Resources.label.Supplier_TextBlockSupplierNo<span class="cfont">*</span></label>
                                    @if (Model.SupplierID > 0 && !ProjectSession.PermissionAccess.SetupConfiguration_Suppliers_ChangeMastersCodes)
                                    {
                                        @Html.TextBoxFor(model => model.SupplierNo, new { @disabled = "disabled", @class = "form-control", @placeholder = ProjectSession.Resources.label.Common_Enter + ' ' + ProjectSession.Resources.label.Supplier_TextBlockSupplierNo, @maxlength = "50" })
                                    }
                                    else
                                    {
                                        @Html.TextBoxFor(model => model.SupplierNo, new { @class = "form-control", @placeholder = ProjectSession.Resources.label.Common_Enter + ' ' + ProjectSession.Resources.label.Supplier_TextBlockSupplierNo, @maxlength = "50" })
                                    }
                                </div>
                                <div class="form-group col-md-6 col-lg-4">
                                    <label class="form-label">@ProjectSession.Resources.label.Supplier_TextBlockSupplierName<span class="cfont">*</span></label>
                                    @Html.TextBoxFor(model => model.SupplierName, new { @class = "form-control", @placeholder = ProjectSession.Resources.label.Common_Enter + ' ' + ProjectSession.Resources.label.Supplier_TextBlockSupplierName, @maxlength = "1500" })
                                </div>
                                <div class="form-group col-md-6 col-lg-4">
                                    <label class="form-label">@ProjectSession.Resources.label.Supplier_TextBlockAltSupplierName</label>
                                    @Html.TextBoxFor(model => model.AltSupplierName, new { @class = "form-control", @placeholder = ProjectSession.Resources.label.Common_Enter + ' ' + ProjectSession.Resources.label.Supplier_TextBlockAltSupplierName, @maxlength = "1500" })
                                </div>
                                <div class="form-group col-md-6 col-lg-4">
                                    <label class="form-label">@ProjectSession.Resources.label.Supplier_TextBlockCategory</label>


                                    @(Html.Kendo()
                                        .DropDownListFor(model => model.CategoryID)
                                                .DataTextField("SupplierCategoryName")
                                                .ValueTemplate(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "#:SupplierCategoryAltName # " : "#:SupplierCategoryName #")
                                                .DataValueField("CategoryID")
                                                .HtmlAttributes(new { style = "width: 100%", @required = "required", id = "ddlCategory" })
                                                 .Template("#= KendoDDLTemplate( '', data.SupplierCategoryName,data.SupplierCategoryAltName) #")
                                                .DataSource(source =>
                                                {
                                                    source.Read(read =>
                                                    {
                                                        read.Action(Actions.GetSupplierCategory, Controllers.Configurations, new { area = Areas.Configurations });
                                                    });
                                                })
                                                      .Value(Convert.ToString(Model.CategoryID))
                                        )

                                    @*@Html.DropDownListFor(model => model.CategoryID, Enum.GetNames(typeof(SystemEnum.SupplierContractorCategory)).Select(x => new SelectListItem() { Text = x, Value = Convert.ToString((int)Enum.Parse(typeof(SystemEnum.SupplierContractorCategory), x)) }), new { @class = "form-control", @id = "ddlCategory" })*@
                                    @*<label class="control-label" id="lblArabic"></label>*@

                                </div>
                                <div class="form-group col-md-6 col-lg-4">
                                    <label class="form-label">@ProjectSession.Resources.label.Employee_TextBlockAddress</label>
                                    @Html.TextAreaFor(model => model.Address, new { @class = "form-control", @placeholder = ProjectSession.Resources.label.Common_Enter + ' ' + ProjectSession.Resources.label.Employee_TextBlockAddress, @maxlength = "4000" })
                                </div>
                                <div class="form-group col-md-6 col-lg-4">
                                    <label class="form-label">@ProjectSession.Resources.label.Supplier_TextBlockServices</label>
                                    @Html.TextAreaFor(model => model.Services, new { @class = "form-control", @placeholder = ProjectSession.Resources.label.Common_Enter + ' ' + ProjectSession.Resources.label.Supplier_TextBlockServices, @maxlength = "4000" })
                                </div>
                                <div class="form-group col-md-6 col-lg-4">
                                    <label class="form-label">@ProjectSession.Resources.label.Supplier_TextBlockStateProvience</label>
                                    @Html.TextBoxFor(model => model.StateOrProvince, new { @class = "form-control", @placeholder = ProjectSession.Resources.label.Common_Enter + ' ' + ProjectSession.Resources.label.Supplier_TextBlockStateProvience, @maxlength = "20" })
                                </div>
                                <div class="form-group col-md-6 col-lg-4">
                                    <label class="form-label">@ProjectSession.Resources.label.Supplier_TextBlockPostalCode</label>
                                    @Html.TextBoxFor(model => model.PostalCode, new { @class = "form-control", @placeholder = ProjectSession.Resources.label.Common_Enter + ' ' + ProjectSession.Resources.label.Supplier_TextBlockPostalCode, @maxlength = "20" })
                                </div>
                                <div class="form-group col-md-6 col-lg-4">
                                    <label class="form-label">@ProjectSession.Resources.label.JobRequest_TextBlockCity</label>
                                    @Html.TextBoxFor(model => model.City, new { @class = "form-control", @placeholder = ProjectSession.Resources.label.Common_Enter + ' ' + ProjectSession.Resources.label.JobRequest_TextBlockCity, @maxlength = "100" })
                                </div>
                                <div class="form-group col-md-6 col-lg-4">
                                    <label class="form-label">@ProjectSession.Resources.label.Supplier_TextBlockCountry</label>
                                    @Html.TextBoxFor(model => model.Country, new { @class = "form-control", @placeholder = ProjectSession.Resources.label.Common_Enter + ' ' + ProjectSession.Resources.label.Supplier_TextBlockCountry, @maxlength = "50" })
                                </div>
                                <div class="form-group col-md-6 col-lg-4">
                                    <label class="form-label">@ProjectSession.Resources.label.Supplier_TextBlockPhoneNumber</label>
                                    @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control", @placeholder = ProjectSession.Resources.label.Common_Enter + ' ' + ProjectSession.Resources.label.Supplier_TextBlockPhoneNumber, @maxlength = "30" })
                                </div>
                                <div class="form-group col-md-6 col-lg-4">
                                    <label class="form-label">@ProjectSession.Resources.label.Supplier_TextBlockFaxNumber</label>
                                    @Html.TextBoxFor(model => model.FaxNumber, new { @class = "form-control", @placeholder = ProjectSession.Resources.label.Common_Enter + ' ' + ProjectSession.Resources.label.Supplier_TextBlockFaxNumber, @maxlength = "30" })
                                </div>
                                <div class="form-group col-md-6 col-lg-4">
                                    <label class="form-label">@ProjectSession.Resources.label.Employee_TextBlockEmail</label>
                                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @placeholder = ProjectSession.Resources.label.Common_Enter + ' ' + ProjectSession.Resources.label.Employee_TextBlockEmail, @maxlength = "50" })
                                </div>
                                <div class="form-group col-md-6 col-lg-4">
                                    <label class="form-label">@ProjectSession.Resources.label.Preventive_TextBlockClassfication</label>
                                    @*@Html.DropDownListFor(model => model.ClassificationLevel, Enum.GetNames(typeof(SystemEnum.SupplierClassificationLevel)).Select(x => new SelectListItem() { Text = x, Value = Convert.ToString((int)Enum.Parse(typeof(SystemEnum.SupplierClassificationLevel), x)) }), @ProjectSession.Resources.label.Common_Select, new { @class = "form-control" })*@

                                    @(Html.Kendo().DropDownListFor(model => model.ClassificationLevel)
                                                  .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                                  .DataTextField("Text")
                                                  .DataValueField("Value")
                                                  .HtmlAttributes(new { style = "width: 100%" })
                                                  .BindTo(new List<SelectListItem>() {
                                                      new SelectListItem() {
                                                          Text = "Level1",
                                                          Value = "1"
                                                      },
                                                      new SelectListItem() {
                                                          Text = "Level2",
                                                          Value = "2"
                                                      },
                                                      new SelectListItem() {
                                                          Text = "Level3",
                                                          Value = "3"
                                                      },
                                                       new SelectListItem() {
                                                          Text = "Level4",
                                                          Value = "4"
                                                      },
                                                       new SelectListItem() {
                                                          Text = "Level5",
                                                          Value = "5"
                                                      },
                                                  })
                                                  .Value(Convert.ToString(Model.ClassificationLevel))
                                                )
                                </div>
                                <div class="form-group col-md-6 col-lg-4">
                                    <label class="form-label">@ProjectSession.Resources.label.Supplier_TextBlockCRNo</label>
                                    @Html.TextBoxFor(model => model.CR_No, new { @class = "form-control", @placeholder = ProjectSession.Resources.label.Common_Enter + ' ' + ProjectSession.Resources.label.Supplier_TextBlockCRNo, @maxlength = "100" })
                                </div>
                                <div class="form-group col-md-6 col-lg-4">
                                    <label class="form-label">@ProjectSession.Resources.label.Supplier_TextBlockCRExpiryDate</label>
                                    <div class="input-group date-pick">
                                        @Html.TextBoxFor(model => model.CR_ExpiryDate, String.Format("{0:" + ProjectConfiguration.DefaultDateFormat + "}", Model.CR_ExpiryDate), new { @id = "CR_ExpiryDate", @class = "form-control calendarsPicker", @placeholder = ProjectConfiguration.DefaultDateFormat })
                                    </div>
                                </div>
                                <div class="form-group col-md-6 col-lg-4">
                                    <label class="form-label">@ProjectSession.Resources.label.CostCenter_TextBlockCostCenter</label>
                                    <div class="@ProjectSession.CultureKendoClass">
                                        @(Html.Kendo().DropDownListFor(model => model.CostCenterId)
                                                .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                                .DataTextField("CostCenterNo")
                                    .ValueTemplate(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "#:CostCenterNo # -- #: AltCostCenterName # " : "#:CostCenterNo # -- #: CostCenterName #")
                                                .DataValueField("CostCenterId")
                                                .HtmlAttributes(new { style = "width: 100%", id = "ddlCostCenterJoClosing" })
                                                .Template("#= KendoDDLTemplate(data.CostCenterNo ,data.CostCenterName, data.AltCostCenterName) #")
                                                .DataSource(source =>
                                                {
                                                    source.Read(read =>
                                                    {
                                                        read.Action(Actions.GetAllCostCenterForDDL, Controllers.Configurations, new { area = Areas.Configurations }).Type(HttpVerbs.Get);
                                                    });
                                                })
                                                .Value(Convert.ToString(Model.CostCenterId))
                                        )
                                    </div>
                                </div>
                                <div class="form-group col-md-6 col-lg-4">
                                    <label class="form-label">@ProjectSession.Resources.label.AccountCode_TextBlockAccountCode</label>
                                    <div class="@ProjectSession.CultureKendoClass">
                                        @(Html.Kendo().DropDownListFor(model => model.AccCodeid)
                                                .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                                .DataTextField("AccountCode")
                                                .ValueTemplate(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "#:AccountCode # -- #: AltAccountCodeDesc # " : "#:AccountCode # -- #: AccountCodeDesc #")
                                                .DataValueField("AccCodeid")
                                                .HtmlAttributes(new { style = "width: 100%", id = "ddlAccCodesJoClosing" })
                                    .Template("#= KendoDDLTemplate(data.AccountCode ,data.AccountCodeDesc , data.AltAccountCodeDesc) #")
                                                .DataSource(source =>
                                                {
                                                    source.Read(read =>
                                                    {
                                                        read.Action(Actions.GetAllAccountCodesForDDL, Controllers.Configurations, new { area = Areas.Configurations }).Data("filterAccountCodes").Type(HttpVerbs.Get);
                                                    }).ServerFiltering(true);
                                                })
                                                .CascadeFrom("ddlCostCenterJoClosing")
                                                .AutoBind(true)
                                                .Value(Convert.ToString(Model.AccCodeid))
                                        )
                                    </div>
                                    <script>
                                        function filterAccountCodes() {
                                            return {
                                                accountCodeId: '@Model.AccCodeid',
                                                costCenterId: ($('#ddlAccCodesJoClosing') != undefined && $('#ddlAccCodesJoClosing') != null && $('#ddlCostCenterJoClosing').val() != undefined && $('#ddlCostCenterJoClosing').val() != null && $('#ddlCostCenterJoClosing').val() != "" ? $('#ddlCostCenterJoClosing').val() : 0)
                                            };
                                        }
                                    </script>
                                </div>

                            </div>
                        </div>
                        
                        
                        <div class="box-footer">
                            @if ((Model.SupplierID == 0 && ProjectSession.PermissionAccess.SetupConfiguration_Suppliers_Createnewrecords) || (Model.SupplierID > 0 && ProjectSession.PermissionAccess.SetupConfiguration_Suppliers_Editrecords))
                            {
                                <button type="submit" class="btn btn-primary" id="btnSave"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
                            }
                            <button class="btn btn-default" type="button" onclick="RedirectToPage()"><span>@ProjectSession.Resources.label.Common_ButtonCancel</span></button>
                        </div>
                    }
                </div>
                <div class="tab-pane" id="tb2">
                    @using (Html.BeginForm(Actions.ManageSuppliersContact, Controllers.Configurations, new { area = Areas.Configurations }, FormMethod.Post, new { id = "frmSupplierContact" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.SupplierID, new { @id = "hdnsupplierID1" })
                        <div class="information-form cus-form">
                            <h3 class="sub-title">
                                <span>@ProjectSession.Resources.label.Employee_TextBlockContactInfo1</span>
                            </h3>
                            <div class="row">
                                <div class="form-group col-md-6 col-lg-4">
                                    <label class="form-label">@ProjectSession.Resources.label.Supplier_TextBlockContactName1</label>
                                    @Html.TextBoxFor(model => model.ContactName, new { @class = "form-control", @placeholder = ProjectSession.Resources.label.Common_Enter + ' ' + ProjectSession.Resources.label.Supplier_TextBlockContactName1, @maxlength = "60" })
                                </div>
                                <div class="form-group col-md-6 col-lg-4">
                                    <label class="form-label">@ProjectSession.Resources.label.Supplier_TextBlockDesignation1</label>
                                    @Html.TextBoxFor(model => model.ContactTitle, new { @class = "form-control", @placeholder = ProjectSession.Resources.label.Common_Enter + ' ' + ProjectSession.Resources.label.Supplier_TextBlockDesignation1, @maxlength = "60" })
                                </div>
                                <div class="form-group col-md-6 col-lg-4">
                                    <label class="form-label">@ProjectSession.Resources.label.Supplier_TextBlockPhoneNumber1</label>
                                    @Html.TextBoxFor(model => model.Phone1, new { @class = "form-control", @placeholder = ProjectSession.Resources.label.Common_Enter + ' ' + ProjectSession.Resources.label.Supplier_TextBlockPhoneNumber1, @maxlength = "60" })
                                </div>
                                <div class="form-group col-md-6 col-lg-4">
                                    <label class="form-label">@ProjectSession.Resources.label.Supplier_TextBlockEmail1</label>
                                    @Html.TextBoxFor(model => model.Email1, new { @class = "form-control", @placeholder = ProjectSession.Resources.label.Common_Enter + ' ' + ProjectSession.Resources.label.Supplier_TextBlockEmail1, @maxlength = "50" })
                                </div>
                            </div>
                            <h3 class="sub-title">
                                <span>@ProjectSession.Resources.label.Employee_TextBlockContactInfo2</span>
                            </h3>
                            <div class="row">
                                <div class="form-group col-md-6 col-lg-4">
                                    <label class="form-label">@ProjectSession.Resources.label.Supplier_TextBlockContactName2</label>
                                    @Html.TextBoxFor(model => model.ContactName2, new { @class = "form-control", @placeholder = ProjectSession.Resources.label.Common_Enter + ' ' + ProjectSession.Resources.label.Supplier_TextBlockContactName2, @maxlength = "50" })
                                </div>
                                <div class="form-group col-md-6 col-lg-4">
                                    <label class="form-label">@ProjectSession.Resources.label.Supplier_TextBlockDesignation2</label>
                                    @Html.TextBoxFor(model => model.ContactTitle2, new { @class = "form-control", @placeholder = ProjectSession.Resources.label.Common_Enter + ' ' + ProjectSession.Resources.label.Supplier_TextBlockDesignation2, @maxlength = "50" })
                                </div>
                                <div class="form-group col-md-6 col-lg-4">
                                    <label class="form-label">@ProjectSession.Resources.label.Supplier_TextBlockPhoneNumber2</label>
                                    @Html.TextBoxFor(model => model.Phone2, new { @class = "form-control", @placeholder = ProjectSession.Resources.label.Common_Enter + ' ' + ProjectSession.Resources.label.Supplier_TextBlockPhoneNumber2, @maxlength = "50" })
                                </div>
                                <div class="form-group col-md-6 col-lg-4">
                                    <label class="form-label">@ProjectSession.Resources.label.Supplier_TextBlockEmail2</label>
                                    @Html.TextBoxFor(model => model.Email2, new { @class = "form-control", @placeholder = ProjectSession.Resources.label.Common_Enter + ' ' + ProjectSession.Resources.label.Supplier_TextBlockEmail2, @maxlength = "50" })
                                </div>
                            </div>
                            <h3 class="sub-title">
                                <span>@ProjectSession.Resources.label.Employee_TextBlockContactInfo3</span>
                            </h3>
                            <div class="row">
                                <div class="form-group col-md-6 col-lg-4">
                                    <label class="form-label">@ProjectSession.Resources.label.Supplier_TextBlockContactName3</label>
                                    @Html.TextBoxFor(model => model.ContactName3, new { @class = "form-control", @placeholder = ProjectSession.Resources.label.Common_Enter + ' ' + ProjectSession.Resources.label.Supplier_TextBlockContactName3, @maxlength = "50" })
                                </div>
                                <div class="form-group col-md-6 col-lg-4">
                                    <label class="form-label">@ProjectSession.Resources.label.Supplier_TextBlockDesignation3</label>
                                    @Html.TextBoxFor(model => model.ContactTitle3, new { @class = "form-control", @placeholder = ProjectSession.Resources.label.Common_Enter + ' ' + ProjectSession.Resources.label.Supplier_TextBlockDesignation3, @maxlength = "50" })
                                </div>
                                <div class="form-group col-md-6 col-lg-4">
                                    <label class="form-label">@ProjectSession.Resources.label.Supplier_TextBlockPhoneNumber3</label>
                                    @Html.TextBoxFor(model => model.Phone3, new { @class = "form-control", @placeholder = ProjectSession.Resources.label.Common_Enter + ' ' + ProjectSession.Resources.label.Supplier_TextBlockPhoneNumber3, @maxlength = "50" })
                                </div>
                                <div class="form-group col-md-6 col-lg-4">
                                    <label class="form-label">@ProjectSession.Resources.label.Supplier_TextBlockEmail3</label>
                                    @Html.TextBoxFor(model => model.Email3, new { @class = "form-control", @placeholder = ProjectSession.Resources.label.Common_Enter + ' ' + ProjectSession.Resources.label.Supplier_TextBlockEmail3, @maxlength = "50" })
                                </div>
                            </div>
                        </div>
                        <div class="box-footer">
                            @if ((Model.SupplierID == 0 && ProjectSession.PermissionAccess.SetupConfiguration_Suppliers_Createnewrecords) || (Model.SupplierID > 0 && ProjectSession.PermissionAccess.SetupConfiguration_Suppliers_Editrecords))
                            {
                                <button type="submit" class="btn btn-primary" id="btnSave1"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
                            }
                            <button class="btn btn-default" type="button" onclick="RedirectToPage();"><span>@ProjectSession.Resources.label.Common_ButtonCancel</span></button>
                        </div>
                    }
                </div>
                <div class="tab-pane" id="tb3">
                    <div class="information-form">
                        <div id="divSupplierDoc">
                        </div>

                    </div>
                    <div class="box-footer">
                        <button class="btn btn-default" type="button" onclick="RedirectToPage();"><span>@ProjectSession.Resources.label.Common_ButtonCancel</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    var intPageID = '@SystemEnum.Pages.Supplier.GetHashCode()';

    validator = $('#frmSupplier').validate({
        rules: {
            SupplierNo: { required: true },
            SupplierName: { required: true },
            Email: { email: true },
            //Email1: { email: true },
            //Email2: { email: true },
            //Email3: { email: true }
        },
        messages: {
            SupplierNo: { required: '' },
            SupplierName: { required: '' },
            Email: { email: '' },
            //Email1: { email: '' },
            //Email2: { email: '' },
            //Email3: { email: '' }
        }
    });

    var validator1 = $('#frmSupplierContact').validate({
        rules: {
            Email1: { email: true },
            Email2: { email: true },
            Email3: { email: true }
        },
        messages: {
            Email1: { email: '' },
            Email2: { email: '' },
            Email3: { email: '' }
        }
    });


    function CalculateTargetDate() {
    }

    $(document).ready(function () {
        if ('@ViewBag.Message' != '' && '@ViewBag.MessageType' != '') {
            ShowMessage('@ViewBag.MessageType', '@ViewBag.Message', "#divMessage");
        }
        //GetEnumDescription();
        //$('#ddlCategory').on('change', function () {
        //    GetEnumDescription();
        //});


        //$('#CR_ExpiryDate').focusout(function () {
        //    debugger;
        //    moment.locale();
        //    if ($('#CR_ExpiryDate').val() != "") {

        //        var a = moment($('#CR_ExpiryDate').val(), 'YYYY/MM/DD',true).isValid();
        //        //var a = moment.lang('ar_SA')($('#CR_ExpiryDate').val()).format('YYYY/MM/DD').isValid();
        //        if (!a) {
        //            $('#CR_ExpiryDate').val("");
        //        }
        //    }

        //    var d = new Date($('#CR_ExpiryDate').val());
        //    if (Object.prototype.toString.call(d) === "[object Date]") {
        //        // it is a date
        //        if (isNaN(d.getTime())) {  // d.valueOf() could also work
        //            // date is not valid
        //            alert('Invalid1');
        //            $('#CR_ExpiryDate').val("");
        //        }
        //        else {
        //            // date is valid
        //            alert('valid');
        //        }
        //    }
        //    else {
        //        // not a date
        //        alert('Invalid1');
        //        $('#CR_ExpiryDate').val("");
        //    }
        //});
        //CreateCalendarsPicker();

    }); //Ready ends

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };

    @*function GetEnumDescription() {
        $.ajax({
            url: '@Url.Action("GetEnumDescription", "Home", new { area = "" })',
            type: "POST",
            data: {
                enumName: 'SupplierContractorCategory',
                decValue: $("#ddlCategory").val()
            },
            success: function (result) {
                $("#lblArabic").text(result);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                ShowMessage('@SystemEnum.MessageType.danger.ToString()', '@ProjectSession.Resources.message.Common_MsgErrorContactAdmin', "#divMessage");
            }
        });
        }*@

    $('#frmSupplier').on('submit', function (e) {
        if ($("#frmSupplier").valid()) {
            if (!e.isDefaultPrevented()) {
                if (!reValidateDropDowns($(this)))
                { e.preventDefault(); }
            }
            else { e.preventDefault(); }
        }
        else {
            e.preventDefault();
        }
    });

    $('#frmSupplierContact').on('submit', function (e) {
        if ($("#frmSupplierContact").valid()) {
            if (!e.isDefaultPrevented()) {
                if (!reValidateDropDowns($(this)))
                { e.preventDefault(); }
            }
            else { e.preventDefault(); }
        }
        else {
            e.preventDefault();
        }
    });

    function RedirectToPage() {
        location.href = '@Url.Action(Actions.Suppliers, Controllers.Configurations, new { @area = Areas.Configurations })';
    }

    if ('@Model.SupplierID' > 0) {
        var url = '@Url.Action(Actions._SupplierDocuments, Controllers.Configurations, new { Area = Areas.Configurations })';
        $("#divSupplierDoc").load(url);
    }
</script>


@*Documnent Tab*@
<script>

    function BindParametersDoc() {
        return {
            supplierID: $('#hdnsupplierID').val(),
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function onDataBounddoc(arg) {
        confirmDeleteMsg(msgText, okText, cancelText, onConfirmCallbackDeleteDoc, confirmDirection);
        gridProperPaging(this);
    }

    function OpenAssetSpecificationEditWindow(id) {
        if (id > 0) {
            $.ajax({
                url: '@Url.Action(Actions.GetSupplierDocumentByID, Controllers.Configurations, new { area = Areas.Configurations })',
                type: "POST",
                data: { docID: id },
                success: function (result) {
                    $("#hdnDocID").val(result.DocID);
                    $("#hdnSupplierContractorID").val(result.SupplierContractorID);
                    $("#DocName").val(result.DocName);
                    $("#ddlClassificationLevel1").data("kendoDropDownList").value(result.ClassificationLevel);
                    $("#IssueDate").val(SetJsondate(result.IssueDate));
                    $("#Doc_ExpiryDate").val(SetJsondate(result.Doc_ExpiryDate));
                    $("#Remarks").val(result.Remarks);

                    $.ajax({
                        url: '@Url.Action(Actions.GetAttachmentByID, Controllers.Configurations, new { area = Areas.Configurations })',
                        type: "POST",
                        data: { docID: id },
                        success: function (result) {
                            var kendoAttachementgriddata = $("#GridAttachementList").data("kendoGrid");
                            kendoAttachementgriddata.dataSource.data([]);
                            if (result != null)
                                kendoAttachementgriddata.dataSource.data(result);
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            ShowMessage('@SystemEnum.MessageType.danger.ToString()', '@ProjectSession.Resources.message.Common_MsgErrorContactAdmin', "#divMessage");
                        }
                    });
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    ShowMessage('@SystemEnum.MessageType.danger.ToString()', '@ProjectSession.Resources.message.Common_MsgErrorContactAdmin', "#divMessage");
                }
            });
            }
            else {
                ClearData();
                $("#SupplierDocModal").modal("show");
                $('#hdnDocID').val(id);
                $('#hdnSupplierContractorID').val($('#hdnsupplierID').val());
            }
        }

        function ClearData() {
            ClearEmployeeDocumentdataAll();
            ClearAttachmentGrid();
        }

        function ClearEmployeeDocumentdataAll() {
            $('#FormSupplierDocument').find(":input:not(input[type=button],input[type=submit],button)").val("");
            $("#FormSupplierDocument .k-upload-files .k-delete").trigger("click");
        }

        //Clear Attachment Grid
        function ClearAttachmentGrid() {
            var kendoAttachementgriddata = $("#GridAttachementList").data("kendoGrid");
            kendoAttachementgriddata.dataSource.data([]);
        }

        function onDataBoundAttachment(arg) {
            //confirmDeleteInnerMsg('@ProjectSession.Resources.message.Common_MsgPermanentDeleteConfirm', okText, cancelText, onConfirmCallbackDeleteAttachment, confirmDirection);
        }
    function onConfirmCallbackDeleteDoc(sender) {
        var docID = $(this).data("id");
        $.ajax({
            url: '@Url.Action(Actions.DeleteSupplierDoc, Controllers.Configurations, new { area = Areas.Configurations })',
            type: "POST",
            data: addRequestVerificationToken({ docID: docID }),
            dataType: "json",
            success: function (result) {
                ShowMessage(result[0], result[1], "#divMessage");
                ReBindKendoGrid("documentsGrid");
            },
            error: function (xhr, ajaxOptions, thrownError) {
                showErrorMessage();
            }
        });
    }
</script>
