﻿@model CMMS.Model.Emailtemplate
@using CMMS.Infrastructure;
@using CMMS.Pages;
@using CMMS.Model
@using CMMS.Service

<style>
    #dvbggray {
        background-color: #f5f5f5;
        padding: 5px;
        padding-top: 15px;
    }
</style>
<script>
    function getTemplateFields() {
        $.ajax({
            url: '@Url.Action(Actions.GetEmailTemplateFields, Controllers.Configurations, new { area = Areas.Configurations })',
            type: 'Post',
            data: { fieldType: '@Model.EmailFieldType', templatename: '@Model.EmailTemplateName', isWOWR: false },
            cache: false,
            async: false,
            success: function (result) {
                $('#EmailFieldType').data('kendoDropDownList').dataSource.data(result);
                $('#EmailFieldType').data('kendoDropDownList').value('@Model.EmailFieldType');
                $('#SMSFieldType').data('kendoDropDownList').dataSource.data(result);
                $('#SMSFieldType').data('kendoDropDownList').value('@Model.EmailFieldType');
                BindWOWRList();
            },
            error: function (xhr, ajaxOptions, thrownError) {
                showErrorMessage();
            }
        });
    }

    function BindWOWRList() {
        var fieldType = '@Model.EmailFieldType';
        var templatename = '@Model.EmailTemplateName';
        if (templatename == 'Work Order Escalation' || templatename == 'Work Request Escalation') {
            $("#dvWOWR").show();
            $.ajax({
                url: '@Url.Action(Actions.GetEmailTemplateFields, Controllers.Configurations, new { area = Areas.Configurations })',
                type: 'Post',
                data: { fieldType: '@Model.EmailFieldType', templatename: '@Model.EmailTemplateName', isWOWR: true },
                cache: false,
                async: false,
                success: function (result) {
                    $('#drpWOWRFields').data('kendoMultiSelect').dataSource.data(result);
                    if ('@Model.WOWRFieldList' != null) {
                        var val = '@Model.WOWRFieldList';
                        var ps = val.split(',');
                        $('#drpWOWRFields').data('kendoMultiSelect').value(ps);
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }
    }

</script>
<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" title="@ProjectSession.Resources.label.Common_ButtonClose"></button>
            <h4 class="modal-title">@ProjectSession.Resources.menu.NotificationSetup_MenuEmailTemplates</h4>
        </div>
        <form role="form" id="frmEmailTemplate">
            @*<div id="dvbggray" class="tab-pane active" role="tabpanel">
                    <div class="clearfix">
                        <div class="col-md-6">
                            <div class="form-group col-md-6">
                                <label class="control-label">@ProjectSession.Resources.label.NotificationEmailRules_TextBlockIsAppliedToSMS</label>
                                @Html.CheckBoxFor(m => m.IsAppliedToSMS, new { id = "chkIsAppliedToSMS" })
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label">@ProjectSession.Resources.label.NotificationEmailRules_TextBlockIsAppliedToEmail</label>
                                @Html.CheckBoxFor(m => m.IsAppliedToEmail, new { id = "chkIsAppliedToEmail" })
                            </div>
                        </div>
                    </div>
                </div>*@
            <div class="modal-body">
                <input type="hidden" name="hdnEmailTemplateID" id="hdnEmailTemplateID" value="@Model.EmailTemplateID" />
                <div id="Highlights" class="tab-pane active" role="tabpanel">
                    <div class="form-horizontal">
                        <div id="divModelError"></div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">@ProjectSession.Resources.label.NotificationSetup_TextBlockEmailTemplateName</label>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(m => m.EmailTemplateName, new { @class = "form-control", @id = "txtEmailTemplate", @Readonly = "readonly", @placeholder = ProjectSession.Resources.label.Common_Enter + ' ' + ProjectSession.Resources.label.NotificationSetup_TextBlockEmailTemplateName })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">@ProjectSession.Resources.label.NotificationSetup_TextBlockSubject<span class="cfont">*</span></label>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(m => m.EmailSubject, new { @class = "form-control", @id = "txtEmailSubject", @placeholder = ProjectSession.Resources.label.Common_Enter + ' ' + ProjectSession.Resources.label.NotificationSetup_TextBlockSubject })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">@ProjectSession.Resources.label.NotificationSetup_TextBlockTemplateFieldType</label>
                            <div class="col-sm-8">
                                @(Html.Kendo().DropDownListFor(m => m.EmailFieldType)
                                                         .Name("drpFieldType")
                                                         .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                                         .DataTextField("Text")
                                                         .DataValueField("Value")
                                                         .HtmlAttributes(new { style = "width: 100%", @Readonly = "readonly", @disabled = "disabled" })
                                                         .BindTo(ViewBag.TemplateFieldType)
                                                         .Value(Model.EmailFieldType.ToString())
                                )
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">@ProjectSession.Resources.label.NotificationSetup_TextBlockTemplateFields</label>
                            <div class="col-sm-5">
                                <div class="@ProjectSession.CultureKendoClass">
                                    @(Html.Kendo().DropDownListFor(m => m.EmailFieldType)
                                                         .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                                         .DataTextField("EmailTemplateFieldDisplayName")
                                                         .DataValueField("EmailTemplateDBFieldName")
                                                         .HtmlAttributes(new { style = "width: 100%", @required = "required" })
                                                         .Value(Convert.ToString(Model.EmailFieldType))
                                    )
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <a href="#" class="btn-icon btn-add" data-toggle="modal" data-target="#divIRWorkFlow" data-backdrop="static"
                                   onclick="InsertFieldToTemplate();" title="@ProjectSession.Resources.label.NotificationSetup_TextBlockInsertFieldToTemplate"><i></i></a>
                            </div>
                        </div>
                        <div class="form-group" id="dvWOWR">
                            <label class="col-sm-4 control-label">@ProjectSession.Resources.label.NotificationSetup_TextBlockWOWRFields</label>
                            <div class="col-sm-8">
                                @(Html.Kendo().MultiSelect()
                                            .Name("drpWOWRFields")
                                            .AutoClose(false)
                                            .DataTextField("EmailTemplateFieldDisplayName")
                                            .DataValueField("EmailTemplateDBFieldName")
                                            .Placeholder(ProjectSession.Resources.label.Common_Select + " " + ProjectSession.Resources.label.NotificationSetup_TextBlockWOWRFields + "...")
                                )
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">@ProjectSession.Resources.label.NotificationSetup_TextBlockTemplateContent  [Email]<span class="cfont">*</span></label>
                            <div class="col-sm-8">
                                @Html.TextAreaFor(m => m.EmailBody, new { @class = "form-control", @rows = 10, @id = "txtTemplateContent", @placeholder = ProjectSession.Resources.label.Common_Enter + ' ' + ProjectSession.Resources.label.NotificationSetup_TextBlockTemplateContent })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">@ProjectSession.Resources.label.NotificationSetup_TextBlockTemplateFields</label>
                            <div class="col-sm-5">
                                <div class="@ProjectSession.CultureKendoClass">
                                    @(Html.Kendo().DropDownListFor(m => m.EmailFieldType)
                                                         .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                                         .DataTextField("EmailTemplateFieldDisplayName")
                                                         .DataValueField("EmailTemplateDBFieldName")
                                                         .HtmlAttributes(new { style = "width: 100%", @required = "required", @id = "SMSFieldType" })
                                                         .Value(Convert.ToString(Model.EmailFieldType))
                                    )
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <a href="#" class="btn-icon btn-add" data-toggle="modal" data-target="#divIRWorkFlow" data-backdrop="static"
                                   onclick="InsertFieldToSMSTemplate();" title="@ProjectSession.Resources.label.NotificationSetup_TextBlockInsertFieldToTemplate"><i></i></a>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">@ProjectSession.Resources.label.NotificationSetup_TextBlockTemplateContent [SMS]<span class="cfont">*</span></label>
                            <div class="col-sm-8">
                                @Html.TextAreaFor(m => m.SMSBody, new { @class = "form-control", @rows = 5, @id = "txtTemplateContentSMS", @placeholder = ProjectSession.Resources.label.Common_Enter + ' ' + ProjectSession.Resources.label.NotificationSetup_TextBlockTemplateContent })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer box-footer">
                @if (ProjectSession.PermissionAccess.SetupConfiguration_NotificationTemplates_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_NotificationTemplates_Createnewrecords)
                {
                    <button type="submit" class="btn btn-primary" id="btnSave"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
                }
                <button type="button" class="btn btn-default" data-dismiss="modal">@ProjectSession.Resources.label.Common_ButtonClose</button>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    var MsgSpecifyTheRuleApplicableType = '@ProjectSession.Resources.message.NotificationEmailRules_MsgSpecifyRuleAppliedTo';
    var hdnEmailTemplateID = $("#hdnEmailTemplateID").val();
    $(document).ready(function () {
        $("#dvWOWR").hide();
        getTemplateFields();

        validator = $('#frmEmailTemplate').validate({
            rules: {
                EmailSubject: { required: true },
                EmailBody: { required: true },
                SMSBody: { required: true }
            },
            messages: {
                EmailSubject: { required: '' },
                EmailBody: { required: '' },
                SMSBody: { required: '' }
            }
        });

        @if (Model.EmailTemplateID > 0)
        {
            if (ProjectSession.PermissionAccess.SetupConfiguration_NotificationTemplates_Editrecords)
            {
                <text>$("#btnSave").show(); </text>
            }
            else if (ProjectSession.PermissionAccess.SetupConfiguration_NotificationTemplates_Createnewrecords)
            {
                <text>$("#btnSave").hide(); </text>
            }
        }
        else
        {
            if (ProjectSession.PermissionAccess.SetupConfiguration_NotificationTemplates_Createnewrecords)
            {
                <text>$("#btnSave").show(); </text>
            }
            else if (ProjectSession.PermissionAccess.SetupConfiguration_NotificationTemplates_Editrecords)
            {
                <text>$("#btnSave").hide(); </text>
            }
        }
    });

    function InsertFieldToTemplate() {
        if ($("#EmailFieldType").val() != "") {
            var field = '[' + $("#EmailFieldType").val() + ']';
            //$("#txtTemplateContent").prepend(field);
            $("#txtTemplateContent").insertAtCaret(field);
        }
    }

    function InsertFieldToSMSTemplate() {
        if ($("#SMSFieldType").val() != "") {
            var field = '[' + $("#SMSFieldType").val() + ']';
            //$("#txtTemplateContentSMS").prepend(field);
            $("#txtTemplateContentSMS").insertAtCaret(field);
        }
    }

    jQuery.fn.extend({
        insertAtCaret: function (myValue) {
            return this.each(function (i) {
                if (document.selection) {
                    //For browsers like Internet Explorer
                    this.focus();
                    sel = document.selection.createRange();
                    sel.text = myValue;
                    this.focus();
                }
                else if (this.selectionStart || this.selectionStart == '0') {
                    //For browsers like Firefox and Webkit based
                    var startPos = this.selectionStart;
                    var endPos = this.selectionEnd;
                    var scrollTop = this.scrollTop;
                    this.value = this.value.substring(0, startPos) + myValue + this.value.substring(endPos, this.value.length);
                    this.focus();
                    this.selectionStart = startPos + myValue.length;
                    this.selectionEnd = startPos + myValue.length;
                    this.scrollTop = scrollTop;
                } else {
                    this.value += myValue;
                    this.focus();
                }
            })
        }
    });

    $('#frmEmailTemplate').on('submit', function (e) {
        if ($("#frmEmailTemplate").valid()) {
            if (e.isDefaultPrevented()) {
                // handle the invalid form...
            } else {

                @*if ($("#chkIsAppliedToSMS").is(':checked') || $("#chkIsAppliedToEmail").is(':checked')) {
                } else {
                    ShowMessage('@SystemEnum.MessageType.danger.ToString()', MsgSpecifyTheRuleApplicableType, "#divModelError");
                    return false;
                }*@


                var wowrFieldList = $("#drpWOWRFields").val();
                if (wowrFieldList != null) {
                    wowrFieldList = $("#drpWOWRFields").val().join();
                }
                var changedObj = {
                    EmailTemplateID: hdnEmailTemplateID == '' ? 0 : hdnEmailTemplateID,
                    EmailTemplateName: $("#txtEmailTemplate").val(),
                    EmailSubject: $("#txtEmailSubject").val(),
                    EmailBody: $("#txtTemplateContent").val(),
                    WOWRFieldList: wowrFieldList,
                    SMSBody: $("#txtTemplateContentSMS").val()
                    //IsAppliedToSMS: $("#chkIsAppliedToSMS").is(':checked'),
                    //IsAppliedToEmail: $("#chkIsAppliedToEmail").is(':checked')
                };

                $.ajax({
                    url: '@Url.Action(Actions.ManageEmailTemplates, Controllers.Configurations, new { area = Areas.Configurations })',
                    type: "POST",
                    data: addRequestVerificationToken(changedObj),
                    dataType: "json",
                    success: function (result) {
                        if (result[0] == 0) {
                            ShowMessage(result[1], result[2], "#divModelError");
                        }
                        else {
                            $('#divEmailTemplateEdit').modal("hide");
                            ShowMessage(result[0], result[1], "#divMessage");
                            ReBindKendoGrid("emailtemplateGrid");
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        showErrorMessage();
                    }
                });
                e.preventDefault();
            }
        }
        else {
            e.preventDefault();
        }
    })
</script>