﻿@using CMMS.Infrastructure;
@using CMMS.Pages;
@model CMMS.Model.Accountcode
<style>
    .calendars-popup {
        z-index: 100000 !important;
    }
</style>

<div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" title="@ProjectSession.Resources.label.Common_ButtonClose"></button>
            <h4 class="modal-title">@ProjectSession.Resources.label.AccountCode_TextBlockAccountCodes</h4>
        </div>
        @using (Ajax.BeginForm(Actions.ManageAccountCode, Controllers.Configurations, new { area = Areas.Configurations }, new AjaxOptions() { HttpMethod = "post", OnSuccess = "onTestSuccess", OnFailure = "onTestFailure" }, new { id = "frmAccountCode" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.AccCodeid)
            <div class="modal-body">
                <div id="Highlights" class="tab-pane active" role="tabpanel">
                    <div class="form-horizontal">
                        <div id="divModelError"></div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">@ProjectSession.Resources.label.AccountCode_TextBlockAccountCode<span class="cfont">*</span></label>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(m => m.AccountCode, new { @class = "form-control", @id = "txtAccountCode", @placeholder = ProjectSession.Resources.label.Common_Enter + ' ' + ProjectSession.Resources.label.AccountCode_TextBlockAccountCode, @maxlength = "50" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">@ProjectSession.Resources.label.AccountCode_TextBlockAccountDesc<span class="cfont">*</span></label>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(m => m.AccountCodeDesc, new { @class = "form-control", @id = "txtAccountCodeDesc", @placeholder = ProjectSession.Resources.label.Common_Enter + ' ' + ProjectSession.Resources.label.AccountCode_TextBlockAccountDesc, @maxlength = "100" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">@ProjectSession.Resources.label.AccountCode_TextBlockAltAccountDesc</label>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(m => m.AltAccountCodeDesc, new { @class = "form-control", @id = "txtAltAccountCodeDesc", @placeholder = ProjectSession.Resources.label.Common_Enter + ' ' + ProjectSession.Resources.label.AccountCode_TextBlockAltAccountDesc, @maxlength = "100" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">@ProjectSession.Resources.label.CostCenter_TextBlockCostCenterCode<span class="cfont">*</span></label>
                            <div class="col-sm-8">
                                <div class="@ProjectSession.CultureKendoClass">
                                    @(Html.Kendo().DropDownListFor(m => m.CostCenterId)
                                                         .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                                         .DataTextField("CostCenterNo")
                                                         .DataValueField("CostCenterId")
                                                         .HtmlAttributes(new { style = "width: 100%", @required = "required" })
                                                         .Enable(Convert.ToBoolean(Model.IsEnableCostCenter) ? false : true)
                                                         .DataSource(source =>
                                                         {
                                                             source.Read(read =>
                                                             {
                                                                 read.Action(Actions.GetAllCostCenterForDDL, Controllers.Configurations, new { area = Areas.Configurations });
                                                             });
                                                         }).Value(Convert.ToString(Model.CostCenterId))
                                    )
                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">@ProjectSession.Resources.label.AccountCode_TextBlockDateStart</label>
                            <div class="col-sm-6">
                                <div class="input-group date-pick">
                                    @Html.TextBoxFor(model => model.DateStart, String.Format("{0:" + ProjectConfiguration.DefaultDateFormat + "}", Model.DateStart), new { @id = "dtStartDate", @class = "form-control calendarsPicker", @placeholder = ProjectConfiguration.DefaultDateFormat })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">@ProjectSession.Resources.label.AccountCode_TextBlockDateEnd</label>
                            <div class="col-sm-6">
                                <div class="input-group date-pick">
                                    @Html.TextBoxFor(model => model.DateEnd, String.Format("{0:" + ProjectConfiguration.DefaultDateFormat + "}", Model.DateEnd), new { @id = "dtEndDate", @class = "form-control calendarsPicker", @placeholder = ProjectConfiguration.DefaultDateFormat })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">@ProjectSession.Resources.label.AccountCode_TextBlockStatus</label>
                            <div class="col-sm-8">
                                <div class="@ProjectSession.CultureKendoClass">
                                    @Html.HiddenFor(m => m.Status, new { id = "hdnStatus" })
                                    @(Html.Kendo().DropDownListFor(m => m.Status)
                                                         .Name("drpStatus")
                                                         .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                                         .DataTextField("Text")
                                                         .DataValueField("Value")
                                                         .HtmlAttributes(new { style = "width: 100%" })
                                                         .BindTo(ViewBag.Status)
                                                         .Value(Model.Status.ToString())
                                    )
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer box-footer">
                @if (ProjectSession.PermissionAccess.SetupConfiguration_AccountCode_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_AccountCode_Createnewrecords)
                {
                    <button type="submit" class="btn btn-primary" id="btnSaveAccountCode"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
                }
                <button type="button" class="btn btn-default" data-dismiss="modal">@ProjectSession.Resources.label.Common_ButtonClose</button>
            </div>
        }
    </div>

</div>

<script>
    $(document).ready(function () {

        validator = $('#frmAccountCode').validate({
            rules: {
                AccountCode: { required: true },
                AccountCodeDesc: { required: true },
            },
            messages: {
                AccountCode: { required: '' },
                AccountCodeDesc: { required: '' },
            }
        });
        CreateCalendarsPicker();

        @if (Model.AccCodeid > 0)
        {
            if (!ProjectSession.PermissionAccess.SetupConfiguration_AccountCode_ChangeMastersCodes)
            {
                <text>$("#txtAccountCode").attr("disabled", "disabled");</text>
            }

            if (ProjectSession.PermissionAccess.SetupConfiguration_AccountCode_Editrecords)
            {
                <text>$("#btnSaveAccountCode").show(); </text>
            }
            else if (ProjectSession.PermissionAccess.SetupConfiguration_AccountCode_Createnewrecords)
            {
                <text>$("#btnSaveAccountCode").hide(); </text>
            }
        }
        else
        {
            <text>$("#txtAccountCode").removeAttr("disabled");</text>
            if (ProjectSession.PermissionAccess.SetupConfiguration_AccountCode_Createnewrecords)
            {
                <text>$("#btnSaveAccountCode").show(); </text>
            }
            else if (ProjectSession.PermissionAccess.SetupConfiguration_AccountCode_Editrecords)
            {
                <text>$("#btnSaveAccountCode").hide(); </text>
            }
        }

    });

    function onTestSuccess(result) {
        if (result[0] == 0) {
            ShowMessage(result[1], result[2], "#divModelError");
        }
        else {
            $('#accountCodeModal').modal("hide");
            ShowMessage(result[0], result[1], "#divMessage");
            ReBindKendoGrid("accountCodeGrid");
        }
    }

    function onTestFailure(result) {
        if (result[0] == 0) {
            ShowMessage(result[1], result[2], "#divModelError");
        }
        else {
            $('#accountCodeModal').modal("hide");
            ShowMessage(result[0], result[1], "#divMessage");
            ReBindKendoGrid("accountCodeGrid");
        }
    }
</script>

@if (ProjectSession.PermissionAccess.SetupConfiguration_AccountCode_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_AccountCode_Createnewrecords)
{
    <script>
        $('#frmAccountCode').on('submit', function (e) {
            if ($("#frmAccountCode").valid()) {
                if (!e.isDefaultPrevented()) {
                    if (reValidateDropDowns($(this))) {
                        var startDate = $("#dtStartDate").val();
                        var endDate = $("#dtEndDate").val();
                        if (startDate != "" && endDate != "") {
                            if (new Date(startDate) > new Date(endDate)) {
                                ShowMessage('@SystemEnum.MessageType.danger.ToString()', '@ProjectSession.Resources.message.AccountCode_MsgValidStartEndDate', "#divModelError");
                                e.preventDefault();
                                return false;
                            }
                        }

                        if ($('#drpStatus').val() == 'True') {
                            $("#hdnStatus").val(true);
                        }
                        else {
                            $("#hdnStatus").val(false);
                        }
                        e.preventDefault();
                    }
                    else {
                        e.preventDefault();
                        return false;
                    }
                }
                else {
                    e.preventDefault();
                    return false;
                }
            }
            else {
                e.preventDefault();
                return false;
            }
        });
    </script>
}