﻿@using CMMS.Infrastructure;
@using CMMS.Pages;
@model CMMS.Model.PartsList
<style>
    .popover {
        z-index: 99999 !important;
    }
</style>
<script type="text/javascript">
    $(document).off('focusin.modal');
</script>
<div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"></button>
            <h4 class="modal-title">@ProjectSession.Resources.label.Common_TextBlockBillofMaterial</h4>
        </div>
        <form role="form" id="frmBoMList">
            @Html.HiddenFor(model => model.PartsListID)
            <input type="hidden" name="hdnPartsListID" id="hdnPartsListID" value="@Model.PartsListID" />
            <div class="modal-body">
                <div id="Highlights" class="tab-pane active" role="tabpanel">
                    <div class="form-horizontal">
                        <div id="divModelError"></div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">@ProjectSession.Resources.label.BoM_TextBlockBoMNumber<span class="cfont">*</span></label>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(m => m.PartsListNo, new { @class = "form-control", @id = "txtPartsListNo", @placeholder = ProjectSession.Resources.label.Common_Enter + ' ' + ProjectSession.Resources.label.BoM_TextBlockBoMNumber, @maxlength = "100" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">@ProjectSession.Resources.label.BoM_TextBlockBoMDesc<span class="cfont">*</span></label>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(m => m.PartsListDescription, new { @class = "form-control", @id = "txtPartsListDescription", @placeholder = ProjectSession.Resources.label.Common_Enter + ' ' + ProjectSession.Resources.label.BoM_TextBlockBoMDesc, @maxlength = "200" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">@ProjectSession.Resources.label.BoM_TextBlockAltBoMDesc</label>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(m => m.PartsListAltDescription, new { @class = "form-control", @id = "txtPartsListAltDescription", @placeholder = ProjectSession.Resources.label.Common_Enter + ' ' + ProjectSession.Resources.label.BoM_TextBlockAltBoMDesc, @maxlength = "200" })
                            </div>
                        </div>
                        @if (Model.PartsListID > 0)
                        {
                            <hr />
                            <input type="hidden" id="hdnStockID" />
                            <input type="hidden" id="hdnPartsListDetailID" />
                            <div class="form-group">
                                <label class="col-md-4 control-label">@ProjectSession.Resources.label.ItemList_TextBlockPartNumber</label>
                                <div class=" col-md-8">
                                    <input type="text" class="form-control code-input" placeholder="@ProjectSession.Resources.label.ItemList_TextBlockPartNumber" id="txtStockNo" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">@ProjectSession.Resources.label.ItemList_TextBlockPartDescription<span class="cfont">*</span></label>
                                <div class=" col-md-8">
                                    <div class="input-group pm-checklist">
                                        @*<input type="text" class="form-control" placeholder="@ProjectSession.Resources.label.ItemList_TextBlockPartDescription" id="txtStockDescription" disabled>*@

                                        @(Html.Kendo().AutoComplete().Name("ItemNumber")
                                                    .DataTextField("StockDescription")
                                    .HtmlAttributes(new { @class = "form-control", @id = "txtStockDescription" })
                                    .Filter("contains")
                                    .Template("#= KendoDDLTemplate( data.StockNo, data.StockDescription, data.AltStockDescription) #")
                                    .MinLength(3)
                                .Placeholder(ProjectSession.Resources.label.ItemList_TextBlockPartDescription)
                                    .Events(m => m.Select("onItemAutoSelect"))
                                    .DataSource(source =>
                                     {
                                         source.Read(read =>
                                         {
                                             read.Action(Actions.GetStockCodeItemAutoDDL, Controllers.AutoComplete, new { area = Areas.Configurations }).Data("onItemAdditionalData");
                                         })
                                     .ServerFiltering(true);
                                     })

                                        )

                                        <a href="#" class="checklis-btn" data-toggle="modal" data-target="#stockCodeItemModel" data-backdrop="static">
                                            <img src="../images/checklis-icon.png" alt="">
                                        </a>
                                        <a href="javascript:void(0);" class="close-btn" onclick="ClearData();">
                                            <img src="../images/close.png" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                           
                            <div class="form-group">
                                <label class="col-md-4 control-label">@ProjectSession.Resources.label.ItemList_TextBlockPartAltPartDesc</label>
                                <div class=" col-md-8">
                                    <input type="text" class="form-control" placeholder="@ProjectSession.Resources.label.ItemList_TextBlockPartAltPartDesc" id="txtAltStockDescription" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.JobPlan_TextBlockQuantity<span class="cfont">*</span></label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control decimalnumber" id="txtQuantity" />
                                </div>
                                @if (ProjectSession.PermissionAccess.SetupConfiguration_BoMList_Editrecords)
                                {
                                    <div class="col-sm-4">
                                        <button type="button" class="btn btn-primary" onclick="addStockItemData()" title="@ProjectSession.Resources.label.BoM_ButtonSaveToList"><span>@ProjectSession.Resources.label.BoM_ButtonSaveToList</span></button>
                                    </div>
                                }
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <div id="jobPlanItemData" class="@ProjectSession.CultureKendoClass  table-fix height-300">
                                        @(Html.Kendo().Grid<CMMS.Model.PartsListDetail>()
                                            .HtmlAttributes(new { @class = "kl-grid" })
                                            .Name("BoMListItemGrid")
                                            .Columns(columns =>
                                            {
                                                columns.Bound(c => c.StockID).Title(ProjectSession.Resources.label.ItemList_TextBlockPartNumber).Hidden(true);

                                                columns.Bound(c => c.StockNo).Title(ProjectSession.Resources.label.ItemList_TextBlockPartNumber);

                                                columns.Bound(c => c.StockDescription).Title(ProjectSession.Resources.label.ItemList_TextBlockPartDescription);

                                                columns.Bound(c => c.AltStockDescription).HtmlAttributes(new { @class = "text-right" }).Title(ProjectSession.Resources.label.ItemList_TextBlockPartAltPartDesc);

                                                columns.Bound(c => c.PartsQty).ClientTemplate("#= DecimalTempalte(data.PartsQty,2) #").Title(ProjectSession.Resources.label.JobPlan_TextBlockQuantity);

                                                if (ProjectSession.PermissionAccess.SetupConfiguration_BoMList_Deleterecords)
                                                {
                                                    columns.Bound(c => c.PartsListID).ClientTemplate("<center><a class='action delete-button-Innner'  href='javascript:void(0);'  class='delete-ic' data-id='#: StockID #' style='cursor:pointer'><i class='glyphicon glyphicon-trash' title='" + ProjectSession.Resources.label.Common_ButtonDelete + "'></i></a></center>")
                                                    .Title("<center>" + ProjectSession.Resources.label.Common_ButtonAction + "</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Width(80).Filterable(false);
                                                }

                                            })
                                            .Filterable()
                                            .Sortable(sortable => sortable.AllowUnsort(true))
                                            .Scrollable()
                                            .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
                                            .Events(events => events.DataBound("onDataBoundItemGrid"))
                                            .DataSource(dataSource => dataSource.Ajax()
                                            .PageSize(ProjectConfiguration.PageSize)
                                            .Sort(model => model.Add("StockNo").Ascending())
                                            .Model(model =>
                                             {
                                                 model.Id(p => p.PartsListID);
                                                 model.Field(p => p.StockNo);
                                             })
                                            .ServerOperation(true)
                                            .Read(read => read.Action(Actions.GetBoMItemsList, Controllers.Configurations, new { area = Areas.Configurations }).Data("BindParameterForItem").Type(HttpVerbs.Post))
                                            )
                                        )

                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="modal-footer box-footer">
                @if (ProjectSession.PermissionAccess.SetupConfiguration_BoMList_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_BoMList_Createnewrecords)
                {
                    <button type="submit" class="btn btn-primary" id="btnSaveBoMList"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
                }
                <button type="button" class="btn btn-default" data-dismiss="modal">@ProjectSession.Resources.label.Common_ButtonClose</button>
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        validator = $('#frmBoMList').validate({
            rules: {
                PartsListNo: { required: true },
                PartsListDescription: { required: true },
            },
            messages: {
                PartsListNo: { required: '' },
                PartsListDescription: { required: '' },
            }

        });

        $('.table-fix .k-grid-content').slimScroll({
            height: '100%',
        });

        @if (Model.PartsListID > 0)
        {
            if (!ProjectSession.PermissionAccess.SetupConfiguration_BoMList_ChangeMastersCodes)
            {
                <text>$("#txtPartsListNo").attr("disabled", "disabled");</text>
            }

            if (ProjectSession.PermissionAccess.SetupConfiguration_BoMList_Editrecords)
            {
                <text>$("#btnSaveBoMList").show(); </text>
            }
            else if (ProjectSession.PermissionAccess.SetupConfiguration_BoMList_Createnewrecords)
            {
                <text>$("#btnSaveBoMList").hide(); </text>
            }
        }
        else
        {
            <text>$("#txtPartsListNo").removeAttr("disabled");</text>
            if (ProjectSession.PermissionAccess.SetupConfiguration_BoMList_Createnewrecords)
            {
                <text>$("#btnSaveBoMList").show(); </text>
            }
            else if (ProjectSession.PermissionAccess.SetupConfiguration_BoMList_Editrecords)
            {
                <text>$("#btnSaveBoMList").hide(); </text>
            }
        }
    });

    function ClearData() {
        $("#txtStockNo").val("")
        $("#txtStockDescription").val("");
        $("#txtAltStockDescription").val("")
        $("#hdnStockID").val("");
        $("#txtQuantity").val("");
        $("#hdnPartsListDetailID").val("");
    }

    function addStockItemData() {
        var hdnPartsListID = $("#hdnPartsListID").val();
        var hdnPartsListDetailID = $("#hdnPartsListDetailID").val();
        var hdnStockID = $("#hdnStockID").val();
        var quantity = $("#txtQuantity").val();
        if (quantity == "") {
            ShowMessage('@SystemEnum.MessageType.danger.ToString()', '@ProjectSession.Resources.label.PMChecklist_MsgQuantityReq', "#divModelError");
            return false;
        }
        if (quantity < 1) {
            ShowMessage('@SystemEnum.MessageType.danger.ToString()', '@ProjectSession.Resources.label.PMChecklist_MsgQuantityGreaterthanZero', "#divModelError");
            return false;
        }

        if (hdnStockID > 0 && hdnPartsListID > 0) {
            var changedObj = {
                PartsListID: hdnPartsListID,
                StockID: hdnStockID,
                PartsQty: quantity,
                hdnPartsListDetailID: hdnPartsListDetailID = '' ? 0 : hdnPartsListDetailID
            };

            $.ajax({
                url: '@Url.Action(Actions.ManageBoMListItem, Controllers.Configurations, new { area = Areas.Configurations })',
                type: "POST",
                data: addRequestVerificationToken(changedObj),
                dataType: "json",
                success: function (result) {
                    if (result[0] == 0) {
                        ShowMessage(result[1], result[2], "#divModelError");
                        ClearData();
                    }
                    else {
                        ReBindKendoGrid("BoMListItemGrid");
                        ClearData();
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }
        else {
            ShowMessage('@SystemEnum.MessageType.danger.ToString()', '@ProjectSession.Resources.message.PM_MsgSelectItem', "#divModelError");
            return false;
        }
    }

    $("#BoMListItemGrid tbody").on("dblclick", "tr[role='row']", function (e) {
        var grid = $("#BoMListItemGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        $("#txtStockNo").val(model.StockNo);
        $("#txtStockDescription").val(model.StockDescription);
        $("#hdnStockID").val(model.StockID);
        $("#txtQuantity").val(model.PartsQty);
        $("#txtAltStockDescription").val(model.AltStockDescription);
        $("#hdnPartsListDetailID").val(model.PartsListID);
    });

    $('.decimalnumber').on('keypress', function (evt) {
        var val = $(this).val();
        var iKeyCode = (evt.which) ? evt.which : evt.keyCode;
        if (iKeyCode != 46 && iKeyCode != 39 && iKeyCode != 37 && iKeyCode != 45 && iKeyCode > 31 && (iKeyCode < 48 || iKeyCode > 57)) {
            return false;
        }
        if (iKeyCode == 46 && val.indexOf('.') > -1) {
            return false;
        }
        return true;
    });

</script>

@if (ProjectSession.PermissionAccess.SetupConfiguration_BoMList_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_BoMList_Createnewrecords)
{
    <script>

        $('#frmBoMList').on('submit', function (e) {
            if ($("#frmBoMList").valid()) {
                if (!e.isDefaultPrevented()) {
                    var partsListID = $("#hdnPartsListID").val();
                    var changedObj = {
                        PartsListID: partsListID == '' ? 0 : partsListID,
                        PartsListNo: $("#txtPartsListNo").val(),
                        PartsListDescription: $("#txtPartsListDescription").val(),
                        PartsListAltDescription: $("#txtPartsListAltDescription").val(),
                    };
                    $.ajax({
                        url: '@Url.Action(Actions.ManageBoMList, Controllers.Configurations, new { area = Areas.Configurations })',
                        type: "POST",
                        data: addRequestVerificationToken(changedObj),
                        dataType: "json",
                        success: function (result) {
                            if (result[0] == 0) {
                                ShowMessage(result[1], result[2], "#divModelError");
                            }
                            else {
                                $('#BoMListModal').modal("hide");
                                ShowMessage(result[0], result[1], "#divMessage");
                                ReBindKendoGrid("bomListGrid");
                            }
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            showErrorMessage();
                        }
                    });
                    e.preventDefault();
                }
            }
            else {
                e.preventDefault();
            }
        })

    </script>
}