﻿@model CMMS.Model.WorkingDay
@using CMMS.Infrastructure;
@using CMMS.Pages;
@using CMMS.Model
@using CMMS.Service
@{
    var lstPersonalInfo = new List<SelectListItem>();
}
<link href="~/Scripts/SelectPicker/bootstrap-select.css" rel="stylesheet" />
<script src="~/Scripts/SelectPicker/bootstrap-select.js"></script>
<link href="~/Content/bootstrap-multiselect.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-multiselect.js"></script>
<style>
    #arabic .arabic-rigth {
        float: left;
    }

    #frmWorkingDayHours .table-responsive {
        border: none;
        box-shadow: none;
    }

    .table.table-bordered-none > thead > tr > th,
    .table.table-bordered-none > tbody > tr > th,
    .table.table-bordered-none > tfoot > tr > th,
    .table.table-bordered-none > thead > tr > td,
    .table.table-bordered-none > tbody > tr > td,
    .table.table-bordered-none > tfoot > tr > td {
        border: none;
    }
</style>
<script>

    function getOrganisation() {
        $.ajax({
            url: '@Url.Action(Actions.GetAllOrganisation, Controllers.Configurations, new { area = Areas.Configurations })',
            type: 'Post',
            cache: false,
            async: false,
            success: function (result) {
                $('#L1ID').data('kendoDropDownList').dataSource.data(result);
                $('#L1ID').data('kendoDropDownList').value('@Model.L1ID');
                $('#L1ID').data('kendoDropDownList').trigger("change");
            },
            error: function (xhr, ajaxOptions, thrownError) {
                showErrorMessage();
            }
        });
    }

    function ChangeOrganisation(e) {
        $.ajax({
            url: '@Url.Action(Actions.GetOrgCodeByCityID, Controllers.Configurations, new { area = Areas.Configurations })',
            type: 'Post',
            data: { orgId: $("#L1ID").val() == "" ? 0 : $("#L1ID").val() },
            cache: false,
            async: false,
            success: function (result) {
                if ('@Model.WorkingDayID' == '0') {
                    var select = $("#drpHL2Id");
                    select.children().remove();
                    $.each(result, function (i, primaryCategory) {
                        $("#drpHL2Id").append('<option value="' + primaryCategory.L2ID + '">' + primaryCategory.L2Code + ' - ' + primaryCategory.L2name + '</option>');
                    });
                    $("#drpHL2Id").multiselect("rebuild");
                }
                else {
                    $('#L2ID').data('kendoDropDownList').dataSource.data(result);
                    $('#L2ID').data('kendoDropDownList').value('@Model.L2ID');
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                showErrorMessage();
            }
        });

    }
</script>
<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" title="@ProjectSession.Resources.label.Common_ButtonClose"></button>
            <h4 class="modal-title">@ProjectSession.Resources.label.HolidaySetting_TextBlockWorkingDay</h4>
        </div>
        <form role="form" id="frmWorkingDayHours" novalidate="novalidate">
            @Html.HiddenFor(m => m.WorkingDayID)
            <input type="hidden" name="hdnWorkingDayID" id="hdnWorkingDayID" value="@Model.WorkingDayID" />
            <div class="modal-body">
                <div id="Highlights" class="tab-pane active" role="tabpanel">
                    <div class="form-horizontal">
                        <div id="divModelErrorWorkingDay"></div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">@ProjectSession.Resources.label.Organisation_TextBlockOrgCode<span class="cfont">*</span></label>
                            <div class="col-sm-8">
                                <div class="@ProjectSession.CultureKendoClass">
                                    @(Html.Kendo().DropDownListFor(m => m.L1ID)
                                                         .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                                         .DataTextField("L1No")
                                                         .DataValueField("L1ID")
                                                         .HtmlAttributes(new { style = "width: 100%", @required = "required" })
                                                         .Template("#= KendoDDLTemplate(data.L1No ,data.L1Name, data.L1AltName) #")
                                                         .Events(m => m.Change("ChangeOrganisation"))
                                                         .Value(Convert.ToString(Model.L1ID))
                                    )
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">@ProjectSession.Resources.label.JobRequest_TextBlockCityCode<span class="cfont">*</span></label>
                            <div class="col-sm-8">
                                @if (Model.WorkingDayID == 0)
                                {
                                    <select id="drpHL2Id" multiple="multiple" autofocus="autofocus" class="form-control multiSelectList"></select>
                                }
                                else
                                {
                                    <div class="@ProjectSession.CultureKendoClass">
                                        @(Html.Kendo().DropDownListFor(m => m.L2ID)
                                                             .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                                             .DataTextField("L2Code")
                                                             .DataValueField("L2ID")
                                                             .ValueTemplate(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "#:L2Code # -- #: L2Altname # " : "#:L2Code # -- #: L2name #")
                                                             .HtmlAttributes(new { style = "width: 100%", @required = "required" })
                                                             .Template("#= KendoDDLTemplate(data.L2Code ,data.L2name, data.L2Altname) #")
                                                             .Value(Convert.ToString(Model.L2ID))
                                        )
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">@ProjectSession.Resources.label.HolidaySetting_TextBlockStartDayofWeek</label>
                            <div class="col-sm-8">
                                <div class="@ProjectSession.CultureKendoClass">
                                    @(Html.Kendo().DropDownListFor(m => m.StartDayOfWeek)
                                            .Name("drpWeekStartDay")
                                            .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                            .DataTextField("Text")
                                            .DataValueField("Value")
                                            .HtmlAttributes(new { style = "width: 100%" })
                                            .BindTo(ViewBag.WeekDays)
                                            .Value(Convert.ToString(Model.StartDayOfWeek))
                                    )
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4"></div>
                            <div class="col-sm-8 table-responsive arabic-rigth">
                                <table class="table table-bordered-none">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>@ProjectSession.Resources.label.JobOrder_TextBlockStartTime</th>
                                            <th>@ProjectSession.Resources.label.JobOrder_TextBlockEndTime</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><input type="checkbox" id="chkMonday" checked="@Model.objWorkingDayHour.Monday" data-id="1" class="chkWeekDays" />&nbsp; @ProjectSession.Resources.label.HolidaySetting_TextBlockMonday</td>
                                            <td>
                                                <div class="@ProjectSession.CultureKendoClass dvStartTime_1" style="@(Model.objWorkingDayHour.Monday ? "display:block" : "display:none")">
                                                    @if (Model.objWorkingDayHour.StartTime1.HasValue)
                                                    {
                                                        @Html.TextBoxFor(o => Model.objWorkingDayHour.StartTime1, Model.objWorkingDayHour.StartTime1.Value.ToString("HH:mm"), new { id = "Day1StartTime", @class = "StartTimeModel" })
                                                    }
                                                    else
                                                    {
                                                        @Html.TextBoxFor(o => Model.objWorkingDayHour.StartTime1, new { id = "Day1StartTime", @class = "StartTime" })
                                                    }
                                                </div>
                                            </td>
                                            <td>
                                                <div class="@ProjectSession.CultureKendoClass dvEndTime_1" style="@(Model.objWorkingDayHour.Monday ? "display:block" : "display:none")">
                                                    @if (Model.objWorkingDayHour.EndTime1.HasValue)
                                                    {
                                                        @Html.TextBoxFor(o => Model.objWorkingDayHour.EndTime1, Model.objWorkingDayHour.EndTime1.Value.ToString("HH:mm"), new { id = "Day1EndTime", @class = "EndTimeModel" })
                                                    }
                                                    else
                                                    {
                                                        @Html.TextBoxFor(o => Model.objWorkingDayHour.EndTime1, new { id = "Day1EndTime", @class = "EndTime" })
                                                    }
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><input type="checkbox" id="chkTuesday" checked="@Model.objWorkingDayHour.Tuesday" data-id="2" class="chkWeekDays" />&nbsp; @ProjectSession.Resources.label.HolidaySetting_TextBlockTuesday</td>
                                            <td>
                                                <div class="@ProjectSession.CultureKendoClass dvStartTime_2" style="@(Model.objWorkingDayHour.Tuesday ? "display:block" : "display:none")">
                                                    @if (Model.objWorkingDayHour.StartTime2.HasValue)
                                                    {
                                                        @Html.TextBoxFor(o => Model.objWorkingDayHour.StartTime2, Model.objWorkingDayHour.StartTime2.Value.ToString("HH:mm"), new { id = "Day2StartTime", @class = "StartTimeModel" })
                                                    }
                                                    else
                                                    {
                                                        @Html.TextBoxFor(o => Model.objWorkingDayHour.StartTime2, new { id = "Day2StartTime", @class = "StartTime" })
                                                    }
                                                </div>
                                            </td>
                                            <td>
                                                <div class="@ProjectSession.CultureKendoClass dvEndTime_2" style="@(Model.objWorkingDayHour.Tuesday ? "display:block" : "display:none")">
                                                    @if (Model.objWorkingDayHour.EndTime2.HasValue)
                                                    {
                                                        @Html.TextBoxFor(o => Model.objWorkingDayHour.EndTime2, Model.objWorkingDayHour.EndTime2.Value.ToString("HH:mm"), new { id = "Day2EndTime", @class = "EndTimeModel" })
                                                    }
                                                    else
                                                    {
                                                        @Html.TextBoxFor(o => Model.objWorkingDayHour.EndTime2, new { id = "Day2EndTime", @class = "EndTime" })
                                                    }
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><input type="checkbox" id="chkWednesday" checked="@Model.objWorkingDayHour.Wednesday" data-id="3" class="chkWeekDays" />&nbsp; @ProjectSession.Resources.label.HolidaySetting_TextBlockWednesday</td>
                                            <td>
                                                <div class="@ProjectSession.CultureKendoClass dvStartTime_3" style="@(Model.objWorkingDayHour.Wednesday ? "display:block" : "display:none")">
                                                    @if (Model.objWorkingDayHour.StartTime3.HasValue)
                                                    {
                                                        @Html.TextBoxFor(o => Model.objWorkingDayHour.StartTime3, Model.objWorkingDayHour.StartTime3.Value.ToString("HH:mm"), new { id = "Day3StartTime", @class = "StartTimeModel" })
                                                    }
                                                    else
                                                    {
                                                        @Html.TextBoxFor(o => Model.objWorkingDayHour.StartTime3, new { id = "Day3StartTime", @class = "StartTime" })
                                                    }
                                                </div>
                                            </td>
                                            <td>
                                                <div class="@ProjectSession.CultureKendoClass dvEndTime_3" style="@(Model.objWorkingDayHour.Wednesday ? "display:block" : "display:none")">
                                                    @if (Model.objWorkingDayHour.EndTime3.HasValue)
                                                    {
                                                        @Html.TextBoxFor(o => Model.objWorkingDayHour.EndTime3, Model.objWorkingDayHour.EndTime3.Value.ToString("HH:mm"), new { id = "Day3EndTime", @class = "EndTimeModel" })
                                                    }
                                                    else
                                                    {
                                                        @Html.TextBoxFor(o => Model.objWorkingDayHour.EndTime3, new { id = "Day3EndTime", @class = "EndTime" })
                                                    }
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><input type="checkbox" id="chkThursday" checked="@Model.objWorkingDayHour.Thursday" data-id="4" class="chkWeekDays" />&nbsp; @ProjectSession.Resources.label.HolidaySetting_TextBlockThursday</td>
                                            <td>
                                                <div class="@ProjectSession.CultureKendoClass dvStartTime_4" style="@(Model.objWorkingDayHour.Thursday ? "display:block" : "display:none")">
                                                    @if (Model.objWorkingDayHour.StartTime4.HasValue)
                                                    {
                                                        @Html.TextBoxFor(o => Model.objWorkingDayHour.StartTime4, Model.objWorkingDayHour.StartTime4.Value.ToString("HH:mm"), new { id = "Day4StartTime", @class = "StartTimeModel" })
                                                    }
                                                    else
                                                    {
                                                        @Html.TextBoxFor(o => Model.objWorkingDayHour.StartTime4, new { id = "Day4StartTime", @class = "StartTime" })
                                                    }
                                                </div>
                                            </td>
                                            <td>
                                                <div class="@ProjectSession.CultureKendoClass dvEndTime_4" style="@(Model.objWorkingDayHour.Thursday ? "display:block" : "display:none")">
                                                    @if (Model.objWorkingDayHour.EndTime4.HasValue)
                                                    {
                                                        @Html.TextBoxFor(o => Model.objWorkingDayHour.EndTime4, Model.objWorkingDayHour.EndTime4.Value.ToString("HH:mm"), new { id = "Day4EndTime", @class = "EndTimeModel" })
                                                    }
                                                    else
                                                    {
                                                        @Html.TextBoxFor(o => Model.objWorkingDayHour.EndTime4, new { id = "Day4EndTime", @class = "EndTime" })
                                                    }
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><input type="checkbox" id="chkFriday" checked="@Model.objWorkingDayHour.Friday" data-id="5" class="chkWeekDays" />&nbsp; @ProjectSession.Resources.label.HolidaySetting_TextBlockFriday</td>
                                            <td>
                                                <div class="@ProjectSession.CultureKendoClass dvStartTime_5" style="@(Model.objWorkingDayHour.Friday ? "display:block" : "display:none")">
                                                    @if (Model.objWorkingDayHour.StartTime5.HasValue)
                                                    {
                                                        @Html.TextBoxFor(o => Model.objWorkingDayHour.StartTime5, Model.objWorkingDayHour.StartTime5.Value.ToString("HH:mm"), new { id = "Day5StartTime", @class = "StartTimeModel" })
                                                    }
                                                    else
                                                    {
                                                        @Html.TextBoxFor(o => Model.objWorkingDayHour.StartTime5, new { id = "Day5StartTime", @class = "StartTime" })
                                                    }
                                                </div>
                                            </td>
                                            <td>
                                                <div class="@ProjectSession.CultureKendoClass dvEndTime_5" style="@(Model.objWorkingDayHour.Friday ? "display:block" : "display:none")">
                                                    @if (Model.objWorkingDayHour.EndTime5.HasValue)
                                                    {
                                                        @Html.TextBoxFor(o => Model.objWorkingDayHour.EndTime5, Model.objWorkingDayHour.EndTime5.Value.ToString("HH:mm"), new { id = "Day5EndTime", @class = "EndTimeModel" })
                                                    }
                                                    else
                                                    {
                                                        @Html.TextBoxFor(o => Model.objWorkingDayHour.EndTime5, new { id = "Day5EndTime", @class = "EndTime" })
                                                    }
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><input type="checkbox" id="chkSaturday" checked="@Model.objWorkingDayHour.Saturday" data-id="6" class="chkWeekDays" />&nbsp; @ProjectSession.Resources.label.HolidaySetting_TextBlockSaturday</td>
                                            <td>
                                                <div class="@ProjectSession.CultureKendoClass dvStartTime_6" style="@(Model.objWorkingDayHour.Saturday ? "display:block" : "display:none")">
                                                    @if (Model.objWorkingDayHour.StartTime6.HasValue)
                                                    {
                                                        @Html.TextBoxFor(o => Model.objWorkingDayHour.StartTime6, Model.objWorkingDayHour.StartTime6.Value.ToString("HH:mm"), new { id = "Day6StartTime", @class = "StartTimeModel" })
                                                    }
                                                    else
                                                    {
                                                        @Html.TextBoxFor(o => Model.objWorkingDayHour.StartTime6, new { id = "Day6StartTime", @class = "StartTime" })
                                                    }
                                                </div>
                                            </td>
                                            <td>
                                                <div class="@ProjectSession.CultureKendoClass dvEndTime_6" style="@(Model.objWorkingDayHour.Saturday ? "display:block" : "display:none")">
                                                    @if (Model.objWorkingDayHour.EndTime6.HasValue)
                                                    {
                                                        @Html.TextBoxFor(o => Model.objWorkingDayHour.EndTime6, Model.objWorkingDayHour.EndTime6.Value.ToString("HH:mm"), new { id = "Day6EndTime", @class = "EndTimeModel" })
                                                    }
                                                    else
                                                    {
                                                        @Html.TextBoxFor(o => Model.objWorkingDayHour.EndTime6, new { id = "Day6EndTime", @class = "EndTime" })
                                                    }
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><input type="checkbox" id="chkSunday" checked="@Model.objWorkingDayHour.Sunday" data-id="7" class="chkWeekDays" />&nbsp; @ProjectSession.Resources.label.HolidaySetting_TextBlockSunday</td>
                                            <td>
                                                <div class="@ProjectSession.CultureKendoClass dvStartTime_7" style="@(Model.objWorkingDayHour.Sunday ? "display:block" : "display:none")">
                                                    @if (Model.objWorkingDayHour.StartTime7.HasValue)
                                                    {
                                                        @Html.TextBoxFor(o => Model.objWorkingDayHour.StartTime7, Model.objWorkingDayHour.StartTime7.Value.ToString("HH:mm"), new { id = "Day7StartTime", @class = "StartTimeModel" })
                                                    }
                                                    else
                                                    {
                                                        @Html.TextBoxFor(o => Model.objWorkingDayHour.StartTime7, new { id = "Day7StartTime", @class = "StartTime" })
                                                    }
                                                </div>
                                            </td>
                                            <td>
                                                <div class="@ProjectSession.CultureKendoClass dvEndTime_7" style="@(Model.objWorkingDayHour.Sunday ? "display:block" : "display:none")">
                                                    @if (Model.objWorkingDayHour.EndTime7.HasValue)
                                                    {
                                                        @Html.TextBoxFor(o => Model.objWorkingDayHour.EndTime7, Model.objWorkingDayHour.EndTime7.Value.ToString("HH:mm"), new { id = "Day7EndTime", @class = "EndTimeModel" })
                                                    }
                                                    else
                                                    {
                                                        @Html.TextBoxFor(o => Model.objWorkingDayHour.EndTime7, new { id = "Day7EndTime", @class = "EndTime" })
                                                    }
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer box-footer">
                @if (ProjectSession.PermissionAccess.SetupConfiguration_HolidaySetting_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_HolidaySetting_Createnewrecords)
                {
                    <button type="submit" class="btn btn-primary" id="btnSave"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
                }
                <button type="button" class="btn btn-default" data-dismiss="modal">@ProjectSession.Resources.label.Common_ButtonClose</button>
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        ApplyMultiSelect();
        getOrganisation();

        var start = $(".StartTime").kendoTimePicker({
            format: "HH:mm",
            interval: 15,
            value: "08:00",
            change: startChange,
            max: new Date(2000, 0, 1, 23, 59, 0)
        }).data("kendoTimePicker");

        var end = $(".EndTime").kendoTimePicker({
            format: "HH:mm",
            interval: 15,
            value: "17:00",
            max: new Date(2000, 0, 1, 23, 59, 0)
        }).data("kendoTimePicker");

        $(".StartTime").attr("disabled", "disabled");
        $(".EndTime").attr("disabled", "disabled");

        //$(".StartTime").kendoTimePicker({
        //    format: "HH:mm",
        //    interval: 15,
        //    value: "09:00",
        //    change: startChange
        //});
        //$(".EndTime").kendoTimePicker({
        //    format: "HH:mm",
        //    interval: 15,
        //    value: "16:00",
        //});

        $(".StartTimeModel").kendoTimePicker({
            format: "HH:mm",
            interval: 15,
            change: startChange,
            max: new Date(2000, 0, 1, 23, 59, 0)
        });
        $(".EndTimeModel").kendoTimePicker({
            format: "HH:mm",
            interval: 15,
            max: new Date(2000, 0, 1, 23, 59, 0)
        });

        $(".StartTimeModel").attr("disabled", "disabled");
        $(".EndTimeModel").attr("disabled", "disabled");

        function startChange(e) {
            var id = e.sender.element.attr("id")
            var dataId = e.sender.element.parent().parent().parent().parent().parent().find("input:checkbox").data("id");

            var start1 = $("#" + id).data("kendoTimePicker")
            var end1 = $("#Day" + dataId + "EndTime").data("kendoTimePicker");
            var startTime1 = start1.value();
            var tempStartTime1 = start1.value();

            if (startTime1) {
                startTime1 = new Date(startTime1);

                startTime1.setMinutes(startTime1.getMinutes() + this.options.interval);

                end1.min(startTime1);
                end1.value(startTime1);
            }

            //var startTime = start.value();
            //var tempStartTime = start.value();

            //if (startTime) {
            //    startTime = new Date(startTime);

            //    end.max(startTime);

            //    startTime.setMinutes(startTime.getMinutes() + this.options.interval);

            //    end.min(startTime);
            //    end.value(startTime);
            //}
        }
    });

    function ApplyMultiSelect() {
        $(".multiSelectList").multiselect({
            includeSelectAllOption: true,
            enableCaseInsensitiveFiltering: true,
            enableFiltering: true,
            maxHeight: 250,
            buttonWidth: '100%',
            buttonClass: 'form-control',
        });
    }

    $('.chkWeekDays').change(function () {
        var id = $(this).data("id");
        if ($(this).is(':checked')) {
            $(".dvStartTime_" + id).css('display', 'block');
            $(".dvEndTime_" + id).css('display', 'block');
        }
        else {
            $(".dvStartTime_" + id).css('display', 'none');
            $(".dvEndTime_" + id).css('display', 'none');
        }
    });

    $('#frmWorkingDayHours').on('submit', function (e) {
        if ($("#frmWorkingDayHours").valid()) {
            if (!e.isDefaultPrevented()) {
                if (reValidateDropDowns($(this))) {
                    var l2IDs = $('#drpHL2Id').val();
                    var found = $.inArray("multiselect-all", l2IDs);

                    if (found != -1) {
                        l2IDs.splice(found, 1);
                    }
                    var workingDayID = $("#hdnWorkingDayID").val();

                    if (((workingDayID == '' || workingDayID == 0) && (l2IDs != null && l2IDs != '')) || (workingDayID > 0 && $("#L2ID").val() != '')) {
                        var changeObjWorkingHour = {
                            Sunday: $("#chkSunday").is(":checked"),
                            Monday: $("#chkMonday").is(":checked"),
                            Tuesday: $("#chkTuesday").is(":checked"),
                            Wednesday: $("#chkWednesday").is(":checked"),
                            Thursday: $("#chkThursday").is(":checked"),
                            Friday: $("#chkFriday").is(":checked"),
                            Saturday: $("#chkSaturday").is(":checked"),
                            StartTime1: $("#Day1StartTime").val(),
                            EndTime1: $("#Day1EndTime").val(),
                            StartTime2: $("#Day2StartTime").val(),
                            EndTime2: $("#Day2EndTime").val(),
                            StartTime3: $("#Day3StartTime").val(),
                            EndTime3: $("#Day3EndTime").val(),
                            StartTime4: $("#Day4StartTime").val(),
                            EndTime4: $("#Day4EndTime").val(),
                            StartTime5: $("#Day5StartTime").val(),
                            EndTime5: $("#Day5EndTime").val(),
                            StartTime6: $("#Day6StartTime").val(),
                            EndTime6: $("#Day6EndTime").val(),
                            StartTime7: $("#Day7StartTime").val(),
                            EndTime7: $("#Day7EndTime").val(),
                        }

                        var changedObj = {
                            WorkingDayID: workingDayID == '' ? 0 : workingDayID,
                            StartDayOfWeek: $("#drpWeekStartDay").val(),
                            L2IDs: l2IDs != null ? l2IDs.join() : '',
                            L2ID: $("#L2ID").val() == '' ? 0 : $("#L2ID").val(),
                            L1ID: $("#L1ID").val(),
                            objWorkingDayHour: changeObjWorkingHour
                        };
                        $.ajax({
                            url: '@Url.Action(Actions.ManageWorkingDay, Controllers.Configurations, new { area = Areas.Configurations })',
                            type: "POST",
                            data: addRequestVerificationToken(changedObj),
                            dataType: "json",
                            success: function (result) {
                                if (result[0] == 0) {
                                    ShowMessage(result[1], result[2], "#divModelErrorWorkingDay");
                                }
                                else {
                                    $('#workingDayModal').modal("hide");
                                    ShowMessage(result[0], result[1], "#divMessage");
                                    ReBindKendoGrid("workingDayGrid");
                                }
                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                showErrorMessage();
                            }
                        });
                    }
                    else {
                        ShowMessage('@SystemEnum.MessageType.danger.ToString()', '@ProjectSession.Resources.message.JobRequest_MsgCityCodeIsReq', "#divModelErrorWorkingDay");
                    }
                }
                e.preventDefault();
            }
        }
        else {
            e.preventDefault();
        }
    })
</script>