﻿@model CMMS.Model.TblJobPlan
@using CMMS.Infrastructure;
@using CMMS.Pages;
@using CMMS.Model
@using CMMS.Service
<style>
    .popover {
        z-index: 99999 !important;
    }
</style> 
<script type="text/javascript">
    $(document).off('focusin.modal');
</script>
<div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" title="@ProjectSession.Resources.label.Common_ButtonClose"></button>
            <h4 class="modal-title">@ProjectSession.Resources.label.JobPlan_TextBlockJobPlan</h4>
        </div>
        <form role="form" id="frmJobPlan">
            @Html.HiddenFor(m => m.JobPlanID)
            <input type="hidden" name="hdnJobPlanID" id="hdnJobPlanID" value="@Model.JobPlanID" />
            <div class="modal-body">
                <div id="Highlights" class="tab-pane active" role="tabpanel">
                    <div class="form-horizontal">
                        <div id="divModelError"></div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">@ProjectSession.Resources.label.JobPlan_TextBlockJobPlanNo<span class="cfont">*</span></label>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(m => m.JobPlanNo, new { @class = "form-control", @id = "txtJobPlanNo", @placeholder = ProjectSession.Resources.label.Common_Enter + ' ' + ProjectSession.Resources.label.JobPlan_TextBlockJobPlanNo })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">@ProjectSession.Resources.label.JobPlan_TextBlockJobPlanDesc<span class="cfont">*</span></label>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(m => m.JobPlanName, new { @class = "form-control", @id = "txtJobPlanName", @placeholder = ProjectSession.Resources.label.Common_Enter + ' ' + ProjectSession.Resources.label.JobPlan_TextBlockJobPlanDesc })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">@ProjectSession.Resources.label.JobPlan_TextBlockAltJobPlanDesc</label>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(m => m.AltJobPlanName, new { @class = "form-control", @id = "txtAltJobPlanName", @placeholder = ProjectSession.Resources.label.Common_Enter + ' ' + ProjectSession.Resources.label.JobPlan_TextBlockAltJobPlanDesc })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">@ProjectSession.Resources.label.JobRequest_TextBlockCityCode<span class="cfont">*</span></label>
                            <div class="col-sm-8">
                                <div class="@ProjectSession.CultureKendoClass">
                                    @(Html.Kendo().DropDownListFor(m => m.L2Id)
                                                         .Name("drpSite")
                                                         .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                                         .DataTextField("L2Code")
                                                         .DataValueField("L2ID")
                                                         .HtmlAttributes(new { style = "width: 100%", @required = "required" })
                                                         .Template("#= KendoDDLTemplate(data.L2Code ,data.L2name, data.L2Altname) #")
                                                         .DataSource(source =>
                                                         {
                                                             if (ProjectSession.IsCentral)
                                                             {
                                                                 source.Read(read =>
                                                                 {
                                                                     read.Action(Actions.GetAllCities, Controllers.Configurations, new { area = Areas.Configurations, cityID = Model.L2Id });
                                                                 });
                                                             }
                                                             else
                                                             {
                                                                 source.Read(read =>
                                                                 {
                                                                     read.Action(Actions.GetCitiesByEmployee, Controllers.Configurations, new { area = Areas.Configurations, cityID = Model.L2Id });
                                                                 });
                                                             }
                                                         }).Value(Convert.ToString(Model.L2Id))
                                    )
                                </div>

                            </div>
                        </div>
                        @if (Model.JobPlanID > 0)
                        {
                            <hr />
                            <div class="head1">
                                <h1>@ProjectSession.Resources.label.JobPlan_TextBlockJobPlanItem</h1>
                                @if (ProjectSession.PermissionAccess.SetupConfiguration_JobPlans_Editrecords)
                                {
                                    <ul class="sub_btn">
                                        <li>
                                            <a href="#" class="btn-icon btn-add" data-toggle="modal" data-target="#addItemModal" onclick="OpenJobPlanItemEditWindow(0);" title="@ProjectSession.Resources.label.Common_ButtonAdd"><i></i></a>
                                        </li>
                                    </ul>
                                }
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <div id="jobPlanItemData" class="@ProjectSession.CultureKendoClass table-fix height-300">
                                        @(Html.Kendo().Grid<CMMS.Model.TblJobPlanItem>()
                                            .Name("jobPlanItemGrid")
                                            .Columns(columns =>
                                            {
                                                columns.Bound(c => c.SeqID).ClientTemplate("<span class='clSeqId' data-id='#: SeqID #'>#: SeqID #</span").Title(ProjectSession.Resources.label.JobPlan_TextBlockSeqId);

                                                columns.Bound(c => c.Description).Title(ProjectSession.Resources.label.JobPlan_TextBlockDecription);

                                                columns.Bound(c => c.AltDescription).HtmlAttributes(new { @class = "text-right" }).Title(ProjectSession.Resources.label.JobPlan_TextBlockAltDecription);

                                                if (ProjectSession.PermissionAccess.SetupConfiguration_JobPlans_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_JobPlans_Deleterecords)
                                                {
                                                    columns.Bound(c => c.SeqID).ClientTemplate("<center>" + (ProjectSession.PermissionAccess.SetupConfiguration_JobPlans_Editrecords ? "<a class='action' title='" + ProjectSession.Resources.label.Common_ButtonEdit + "'  style='cursor:pointer' data-toggle='modal' data-target='\\#addItemModal' onclick='OpenJobPlanItemEditWindow(#: SeqID#)'><i class='glyphicon glyphicon-pencil'></i></a>&nbsp;" : "") + "" + (ProjectSession.PermissionAccess.SetupConfiguration_JobPlans_Deleterecords ? "<a class='action delete-button-Innner'  href='javascript:void(0);'  class='delete-ic' data-id='#: SeqID #' style='cursor:pointer'><i class='glyphicon glyphicon-trash' title='" + ProjectSession.Resources.label.Common_ButtonDelete + "' ></i></a>" : "") + "</center>")
                                                    .Title("<center>" + ProjectSession.Resources.label.Common_ButtonAction + "</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Width(80).Filterable(false);
                                                }
                                            }) 
                                            .Filterable()
                                            .Sortable(sortable => sortable.AllowUnsort(true))
                                            .Scrollable()
                                            .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
                                            .Events(events => events.DataBound("onDataBoundJobPlanItemGrid"))
                                            .DataSource(dataSource => dataSource.Ajax()
                                            .PageSize(ProjectConfiguration.PageSize)
                                            .Model(model =>
                                             {
                                                 model.Id(p => p.SeqID);
                                                 model.Field(p => p.Description);
                                             })
                                            .ServerOperation(true)
                                            .Read(read => read.Action(Actions.GetJobPlanItem, Controllers.Configurations, new { area = Areas.Configurations }).Data("BindParameterForItem").Type(HttpVerbs.Post))
                                            )
                                        )

                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="modal-footer box-footer">
                @if (ProjectSession.PermissionAccess.SetupConfiguration_JobPlans_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_JobPlans_Createnewrecords)
                {
                    <button type="submit" class="btn btn-primary" id="btnSaveJobPlan"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
                }
                <button type="button" class="btn btn-default" data-dismiss="modal">@ProjectSession.Resources.label.Common_ButtonClose</button>
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        validator = $('#frmJobPlan').validate({
            rules: {
                JobPlanNo: { required: true },
                JobPlanName: { required: true },
            },
            messages: {
                JobPlanNo: { required: '' },
                JobPlanName: { required: '' },
            }
        });

        @if (Model.JobPlanID > 0)
        {
            if (!ProjectSession.PermissionAccess.SetupConfiguration_JobPlans_ChangeMastersCodes)
            {
                <text>$("#txtJobPlanNo").attr("disabled", "disabled");</text>
            }

            if (ProjectSession.PermissionAccess.SetupConfiguration_JobPlans_Editrecords)
            {
                <text>$("#btnSaveJobPlan").show(); </text>
            }
            else if (ProjectSession.PermissionAccess.SetupConfiguration_JobPlans_Createnewrecords)
            {
                <text>$("#btnSaveJobPlan").hide(); </text>
            }
        }
        else
        {
            <text>$("#txtJobPlanNo").removeAttr("disabled");</text>
            if (ProjectSession.PermissionAccess.SetupConfiguration_JobPlans_Createnewrecords)
            {
                <text>$("#btnSaveJobPlan").show(); </text>
            }
            else if (ProjectSession.PermissionAccess.SetupConfiguration_JobPlans_Editrecords)
            {
                <text>$("#btnSaveJobPlan").hide(); </text>
            }
        }
    });

    $(function () {
        $('.table-fix .k-grid-content').slimScroll({
            height: '100%',
        });
    });

    function ClearData() {
        $("#hdnSeqId").val("");
        $("#txtSeqID").val("")
        $("#txtAreaSeqDescription").val("");
        $("#txtAreaAltSeqDescription").val("")
    }

    $("#jobPlanItemGrid tbody").on("dblclick", "tr[role='row']", function (e) {
        var grid = $("#jobPlanItemGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        OpenJobPlanItemEditWindow(model.SeqID);
        $("#addItemModal").modal("show");

    });

    //function OpenJobPlanItemEditWindow(id) {
    //    if (id > 0) {
    //        var grid = $("#jobPlanItemGrid").data("kendoGrid");
    //        var data = $("#jobPlanItemGrid table td").find("a[data-id='" + id + "']").closest("tr");
    //        var model = grid.dataItem(data);
    //        $("#txtSeqID").val(model.SeqID);
    //        $("#hdnSeqId").val(model.SeqID);
    //        $("#txtAreaSeqDescription").val(model.Description);
    //        $("#txtAreaAltSeqDescription").val(model.AltDescription);
    //    }
    //    else {
    //        ClearAllInputs("frmItemJobPlan");
    //    }
    //}


    function OpenJobPlanItemEditWindow(id) {

        if (id > 0) {
            var grid = $("#jobPlanItemGrid").data("kendoGrid");
            var data = $("#jobPlanItemGrid table td").find("a[data-id='" + id + "']").closest("tr");
            var model = grid.dataItem(data);
            $("#txtSeqID").val(model.SeqID);
            $("#hdnSeqId").val(model.SeqID);
            $("#txtAreaSeqDescription").val(model.Description);
            $("#txtAreaAltSeqDescription").val(model.AltDescription);

            oldSITask = {
                JobPlanID: ($("#hdnJobPlanID").val() == '' || $("#hdnJobPlanID").val() == 'undefined' ? 0 : $("#hdnJobPlanID").val()),
                SeqID: model.SeqID,
                Description: model.Description,
                AltDescription: model.AltDescription,
                CreatedBy: model.CreatedBy,
                CreatedDate: model.CreatedDate,
                ModifiedBy: model.ModifiedBy,
                ModifiedDate: model.ModifiedDate
            };
        }
        else {
            $("#txtSeqID").val('');
            $("#hdnSeqId").val('');
            $("#txtAreaSeqDescription").val('');
            $("#txtAreaAltSeqDescription").val('');

            oldSITask = {
                JobPlanID: ($("#hdnJobPlanID").val() == '' || $("#hdnJobPlanID").val() == 'undefined' ? 0 : $("#hdnJobPlanID").val()),
                SeqID: -1,
                Description: $("#txtAreaSeqDescription").val(),
                AltDescription: $("#txtAreaAltSeqDescription").val(),
            };
        }
    }

    $('#addItemModal').on('hide.bs.modal', function (e) {
        if (validator1 != "")
            validator1.resetForm();
    });
</script>

@if (ProjectSession.PermissionAccess.SetupConfiguration_JobPlans_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_JobPlans_Createnewrecords)
{
    <script>
        $('#frmJobPlan').on('submit', function (e) {
            if ($("#frmJobPlan").valid()) {
                if (!e.isDefaultPrevented()) {
                    if (reValidateDropDowns($(this))) {
                        var jobPlanId = $("#hdnJobPlanID").val();
                        var changedObj = {
                            JobPlanID: jobPlanId == '' ? 0 : jobPlanId,
                            JobPlanNo: $("#txtJobPlanNo").val(),
                            JobPlanName: $("#txtJobPlanName").val(),
                            AltJobPlanName: $("#txtAltJobPlanName").val(),
                            L2Id: $("#drpSite").val()
                        };

                        $.ajax({
                            url: '@Url.Action(Actions.ManageJobPlan, Controllers.Configurations, new { area = Areas.Configurations })',
                            type: "POST",
                            data: addRequestVerificationToken(changedObj),
                            dataType: "json",
                            success: function (result) {
                                if (result[0] == 0) {
                                    ShowMessage(result[1], result[2], "#divModelError");
                                }
                                else {
                                    $('#jobPlanModal').modal("hide");
                                    ShowMessage(result[0], result[1], "#divMessage");
                                    ReBindKendoGrid("jobPlanGrid");
                                }
                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                showErrorMessage();
                            }
                        });
                    }
                    e.preventDefault();
                }
            }
            else {
                e.preventDefault();
            }
        })

    </script>
}