﻿@model CMMS.Model.MaintGroup
@using CMMS.Infrastructure;
@using CMMS.Pages;
@using CMMS.Model
@using CMMS.Service

<style>
    .popover {
        z-index: 99999 !important;
    }
</style>
<script type="text/javascript">
    $(document).off('focusin.modal');
</script>

<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" title="@ProjectSession.Resources.label.Common_ButtonClose"></button>
            <h4 class="modal-title">@ProjectSession.Resources.label.MaintenanceGroup_TextBlockMaintenanceGroup</h4>
        </div>
        <div class="edit-job-order modal-tabs">
            <div class="nav-tabs-horizontal">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#tb1" aria-controls="tb1">@ProjectSession.Resources.label.MaintenanceGroup_TextBlockMaintenanceGroup</a></li>
                    @if (Model.GroupID > 0)
                    {
                        <li role="presentation" class="EmployeeTab"><a data-toggle="tab" href="#tb2" aria-controls="tb2">@ProjectSession.Resources.label.Employee_RadTabItemEmployee</a></li>
                    }
                </ul>
                <form role="form" id="frmMaintGroup">
                    <div class="modal-body">
                        <div class="tab-content">
                            <div id="divModelError"></div>
                            <div class="tab-pane active" id="tb1">
                                @Html.HiddenFor(m => m.GroupID)
                                <input type="hidden" name="hdnGroupID" id="hdnGroupID" value="@Model.GroupID" />
                                <div class="form-horizontal">
                                    
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">@ProjectSession.Resources.label.MaintenanceGroup_TextBlockMaintenanceGroupCode<span class="cfont">*</span></label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(m => m.GroupCode, new { @class = "form-control", @id = "txtGroupCode", @placeholder = ProjectSession.Resources.label.Common_Enter + ' ' + ProjectSession.Resources.label.MaintenanceGroup_TextBlockMaintenanceGroupCode, @maxlength = "50" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">@ProjectSession.Resources.label.MaintenanceGroup_TextBlockMaintenanceGroupDesc<span class="cfont">*</span></label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(m => m.GroupDesc, new { @class = "form-control", @id = "txtGroupDesc", @placeholder = ProjectSession.Resources.label.Common_Enter + ' ' + ProjectSession.Resources.label.MaintenanceGroup_TextBlockMaintenanceGroupDesc, @maxlength = "500" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">@ProjectSession.Resources.label.MaintenanceGroup_TextBlockAltMaintenanceGroupDesc</label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(m => m.GroupAltDesc, new { @class = "form-control", @id = "txtGroupAltDesc", @placeholder = ProjectSession.Resources.label.Common_Enter + ' ' + ProjectSession.Resources.label.MaintenanceGroup_TextBlockAltMaintenanceGroupDesc, @maxlength = "500" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">@ProjectSession.Resources.label.JobRequest_TextBlockCityCode<span class="cfont">*</span></label>
                                        <div class="col-sm-8">
                                            <div class="@ProjectSession.CultureKendoClass">
                                                @(Html.Kendo().DropDownListFor(m => m.L2ID)
                                                         .Name("drpProjectCode")
                                                         .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                                         .DataTextField("L2Code")
                                                         .DataValueField("L2ID")
                                                         .HtmlAttributes(new { style = "width: 100%", @required = "required" })
                                                         .Template("#= KendoDDLTemplate(data.L2Code ,data.L2name, data.L2Altname) #")
                                                         .DataSource(source =>
                                                         {
                                                             if (ProjectSession.IsCentral)
                                                             {
                                                                 source.Read(read =>
                                                                 {
                                                                     read.Action(Actions.GetAllCities, Controllers.Configurations, new { area = Areas.Configurations, cityID = Model.L2ID });
                                                                 });
                                                             }
                                                             else
                                                             {
                                                                 source.Read(read =>
                                                                 {
                                                                     read.Action(Actions.GetCitiesByEmployee, Controllers.Configurations, new { area = Areas.Configurations, cityID = Model.L2ID });
                                                                 });
                                                             }
                                                         }).Value(Convert.ToString(Model.L2ID))
                                                )
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @if (Model.GroupID > 0)
                            {
                                <div class="tab-pane" id="tb2">
                                    <div id="divModelErrorEmployee"></div>
                                    <input type="hidden" name="hdnEmployeeID" id="hdnEmployeeID" />
                                    <input type="hidden" name="hdnEmployeeDesig" id="hdnEmployeeDesig" />
                                    <div class="form-horizontal">
                                        @if (ProjectSession.PermissionAccess.SetupConfiguration_MaintenanceGroups_Editrecords)
                                        {
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">@ProjectSession.Resources.label.Employee_TextBlockEmployeeNO</label>
                                                <div class=" col-md-9 two-form-group">
                                                    <div class="input-group pm-checklist">
                                                        <input type="text" class="form-control code-input" placeholder="@ProjectSession.Resources.label.Employee_TextBlockEmployeeNO" id="txtEmployeeNo" disabled>
                                                        @*<input type="text" class="form-control" placeholder="@ProjectSession.Resources.label.Employee_TextBlockEmployeeName" id="txtEmployeeDescription" disabled>*@

                                                        @(Html.Kendo().AutoComplete().Name("Employee")
                                     .DataTextField("Name")
                                    .HtmlAttributes(new { @class = "form-control", @id = "txtEmployeeDescription" })
                                    .Filter("contains")
                                    .Template("#= KendoDDLTemplateForTwoColumn(data.EmployeeNO, data.Name) #")
                                    .MinLength(3)
                                    .Placeholder(ProjectSession.Resources.label.Employee_TextBlockEmployeeName)
                                    .Events(m => m.Select("onEmployeeAutoSelect"))
                                    .DataSource(source =>
                                     {
                                         source.Read(read =>
                                         {
                                             read.Action(Actions.GetEmployeeAssignPageAutoDDL, Controllers.AutoComplete, new { area = Areas.Configurations }).Data("onEmployeeAdditionalData");
                                         })
                                     .ServerFiltering(true);
                                     })
                                                        )

                                                        <a href="#" class="checklis-btn" data-toggle="modal" data-target="#employeeGridModal" data-backdrop="static">
                                                            <img src="../images/checklis-icon.png" alt="">
                                                        </a>
                                                        <a href="javascript:void(0);" class="close-btn" onclick="ClearData();">
                                                            <img src="../images/close.png" alt="">
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label"></label>
                                                <div class=" col-md-9">
                                                    <button type="button" class="btn btn-primary" onclick="addEmployeeData()" title="@ProjectSession.Resources.label.Common_ButtonAdd @ProjectSession.Resources.label.Employee_RadTabItemEmployee"><span>@ProjectSession.Resources.label.Common_ButtonAdd @ProjectSession.Resources.label.Employee_RadTabItemEmployee</span></button>
                                                </div>
                                            </div>
                                        }
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <div id="employeeData" class="@ProjectSession.CultureKendoClass">
                                                    @(Html.Kendo().Grid<CMMS.Model.employees>()
                                                    .HtmlAttributes(new { @class = "kl-grid" })
                                                    .Name("employeeFromGrid")
                                                    .Columns(columns =>
                                                    {
                                                        columns.Bound(c => c.EmployeeNO).Title(ProjectSession.Resources.label.Employee_TextBlockEmployeeNO);

                                                        columns.Bound(c => c.Name).Title(ProjectSession.Resources.label.Employee_TextBlockEmployeeName);

                                                        columns.Bound(c => c.Positions).Title(ProjectSession.Resources.label.Employee_TextBlockDesignation);

                                                        if (ProjectSession.PermissionAccess.SetupConfiguration_MaintenanceGroups_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_MaintenanceGroups_Deleterecords)
                                                        {
                                                            columns.Bound(c => c.EmployeeID).ClientTemplate("<center><a class='action delete-button-Innner'  href='javascript:void(0);'  class='delete-ic' data-id='#: EmployeeID #' style='cursor:pointer'><i class='glyphicon glyphicon-trash' title='" + ProjectSession.Resources.label.Common_ButtonDelete + "'></i></a></center>")
                                                            .Title("<center>" + ProjectSession.Resources.label.Common_ButtonAction + "</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Width(80).Filterable(false);
                                                        }

                                                    }) 
                                                    .Filterable()
                                                    .Sortable(sortable => sortable.AllowUnsort(false))
                                                    .Scrollable()
                                                    .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
                                                    .Events(events => events.DataBound("onDataBoundemployeeFromGrid"))
                                                    .DataSource(dataSource => dataSource.Ajax()
                                                    .PageSize(ProjectConfiguration.PageSize)
                                                     .Model(model =>
                                                     {
                                                         model.Id(p => p.EmployeeID);
                                                         model.Field(p => p.Name);
                                                     })
                                                    .ServerOperation(true)
                                                    .Read(read => read.Action(Actions.GetEmployeeMaintenanceGroup, Controllers.Configurations, new { area = Areas.Configurations }).Data("BindParameterFromEmployee").Type(HttpVerbs.Post))
                                                    )
                                                    )

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="form-group box-footer">
                        @if (ProjectSession.PermissionAccess.SetupConfiguration_MaintenanceGroups_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_MaintenanceGroups_Createnewrecords)
                        {
                            <button type="submit" class="btn btn-primary" id="btnSaveMaintGroup"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
                        }
                        <button type="button" class="btn btn-default" data-dismiss="modal">@ProjectSession.Resources.label.Common_ButtonClose</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        @if (Model.GroupID > 0)
        {
           if (!ProjectSession.PermissionAccess.SetupConfiguration_MaintenanceGroups_ChangeMastersCodes)
           {
               <text>$("#txtGroupCode").attr("disabled", "disabled");</text>
           }

           if (ProjectSession.PermissionAccess.SetupConfiguration_MaintenanceGroups_Editrecords)
           {
               <text>$("#btnSaveMaintGroup").show(); </text>
           }
           else if (ProjectSession.PermissionAccess.SetupConfiguration_MaintenanceGroups_Createnewrecords)
           {
               <text>$("#btnSaveMaintGroup").hide(); </text>
            }
        }
        else
        {
            <text>$("#txtGroupCode").removeAttr("disabled");</text>
            if (ProjectSession.PermissionAccess.SetupConfiguration_MaintenanceGroups_Createnewrecords)
            {
                <text>$("#btnSaveMaintGroup").show(); </text>
            }
            else if (ProjectSession.PermissionAccess.SetupConfiguration_MaintenanceGroups_Editrecords)
            {
                <text>$("#btnSaveMaintGroup").hide(); </text>
            }
        }
    });
    
    function ClearData() {
        $("#hdnEmployeeID").val("")
        $("#txtEmployeeNo").val("");
        $("#txtEmployeeDescription").val("")
        $("#hdnEmployeeDesig").val("");
    }

    validator = $('#frmMaintGroup').validate({
        rules: {
            GroupCode: { required: true },
            GroupDesc: { required: true },
        },
        messages: {
            GroupCode: { required: '' },
            GroupDesc: { required: '' },
        }
    });

    function addEmployeeData() {
        var hdnEmployeeID = $("#hdnEmployeeID").val();
        var groupId = $("#hdnGroupID").val();
        var flag = true;
        $("#employeeFromGrid table td a").each(function (index, elem) {
            var employeeid = $(elem).data("id");
            if (hdnEmployeeID == employeeid) {
                flag = false;
            }
        });
        if (hdnEmployeeID > 0) {
            if (hdnEmployeeID > 0 && flag == true) {
                if (hdnEmployeeID > 0 && groupId > 0) {
                    var changedObj = {
                        EmployeeId: hdnEmployeeID,
                        MaintGroupId: groupId,
                    };

                    $.ajax({
                        url: '@Url.Action(Actions.ManageEmployeeMaintenanceGroup, Controllers.Configurations, new { area = Areas.Configurations })',
                        type: "POST",
                        data: addRequestVerificationToken(changedObj),
                        dataType: "json",
                        success: function (result) {
                            if (result[0] == 0) {
                                ShowMessage(result[1], result[2], "#divModelError");
                                ClearData();
                            }
                            else {
                                ReBindKendoGrid("employeeFromGrid");
                                ClearData();
                            }
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            showErrorMessage();
                        }
                    });
                }
                else {
                    return false;
                }
            }
            else {
                ShowMessage('@SystemEnum.MessageType.danger.ToString()', '@ProjectSession.Resources.message.Employee_MsgEmployeeNoAlreadyExists', "#divModelErrorEmployee");
                ClearData();
                return false;
            }
        }
        else {
            return false;
        }
    }


</script>

@if (ProjectSession.PermissionAccess.SetupConfiguration_MaintenanceGroups_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_MaintenanceGroups_Createnewrecords)
{
    <script>
        $('#frmMaintGroup').on('submit', function (e) {
            if ($("#frmMaintGroup").valid()) {
                if (!e.isDefaultPrevented()) {
                    if (reValidateDropDowns($(this))) {
                        var groupId = $("#hdnGroupID").val();
                        var changedObj = {
                            GroupID: groupId == '' ? 0 : groupId,
                            GroupCode: $("#txtGroupCode").val(),
                            GroupDesc: $("#txtGroupDesc").val(),
                            GroupAltDesc: $("#txtGroupAltDesc").val(),
                            L2ID: $("#drpProjectCode").val(),
                        };
                        $.ajax({
                            url: '@Url.Action(Actions.ManageMaintenanceGroup, Controllers.Configurations, new { area = Areas.Configurations })',
                            type: "POST",
                            data: addRequestVerificationToken(changedObj),
                            dataType: "json",
                            success: function (result) {
                                if (result[0] == 0) {
                                    ShowMessage(result[1], result[2], "#divModelError");
                                }
                                else {
                                    $('#divMaintenanceGroupModal').modal("hide");
                                    ShowMessage(result[0], result[1], "#divMessage");
                                    ReBindKendoGrid("maintenanceGroupGrid");
                                }
                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                showErrorMessage();
                            }
                        });
                    }
                    e.preventDefault();
                }
            }
            else {
                e.preventDefault();
            }
        })
    </script>
}