﻿@model CMMS.Model.Holiday
@using CMMS.Infrastructure;
@using CMMS.Pages;
@using CMMS.Model
@using CMMS.Service

<link href="~/Scripts/SelectPicker/bootstrap-select.css" rel="stylesheet" />
<script src="~/Scripts/SelectPicker/bootstrap-select.js"></script>
<link href="~/Content/bootstrap-multiselect.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-multiselect.js"></script>

<script>

    function getHOrganisation() {
        $.ajax({
            url: '@Url.Action(Actions.GetAllOrganisation, Controllers.Configurations, new { area = Areas.Configurations })',
            type: 'Post',
            cache: false,
            async: false,
            success: function (result) {
                $('#L1ID').data('kendoDropDownList').dataSource.data(result);
                $('#L1ID').data('kendoDropDownList').value('@Model.L1ID');
                $('#L1ID').data('kendoDropDownList').trigger("change");
            },
            error: function (xhr, ajaxOptions, thrownError) {
                showErrorMessage();
            }
        });
    }

    function ChangeHOrganisation(e) {
        $.ajax({
            url: '@Url.Action(Actions.GetOrgCodeByCityID, Controllers.Configurations, new { area = Areas.Configurations })',
            type: 'Post',
            data: { orgId: $("#L1ID").val() == "" ? 0 : $("#L1ID").val() },
            cache: false,
            async: false,
            success: function (result) {
                if ('@Model.HolidayID' == '0') {
                    var select = $("#drpL2Id");
                    select.children().remove();
                    $.each(result, function (i, primaryCategory) {
                        $("#drpL2Id").append('<option value="' + primaryCategory.L2ID + '">' + primaryCategory.L2Code + ' - ' + primaryCategory.L2name + '</option>');
                    });
                    $("#drpL2Id").multiselect("rebuild");
                }
                else {
                    $('#L2ID').data('kendoDropDownList').dataSource.data(result);
                    $('#L2ID').data('kendoDropDownList').value('@Model.L2ID');
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                showErrorMessage();
            }
        });

    }
</script>

<div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" title="@ProjectSession.Resources.label.Common_ButtonClose"></button>
            <h4 class="modal-title">@ProjectSession.Resources.label.HolidaySetting_TextBlockHoliday</h4>
        </div>
        <form role="form" id="frmHoliday">
            @Html.HiddenFor(m => m.HolidayID)
            <div class="modal-body">
                <div id="Highlights" class="tab-pane active" role="tabpanel">
                    <div class="form-horizontal">
                        <div id="divModelErrorHoliday"></div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">@ProjectSession.Resources.label.Organisation_TextBlockOrgCode<span class="cfont">*</span></label>
                            <div class="col-lg-8">
                                <div class="@ProjectSession.CultureKendoClass">
                                    @(Html.Kendo().DropDownListFor(m => m.L1ID)
                                                         .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                                         .DataTextField("L1No")
                                                         .DataValueField("L1ID")
                                                         .HtmlAttributes(new { style = "width: 100%", @required = "required" })
                                                         .Template("#= KendoDDLTemplate(data.L1No ,data.L1Name, data.L1AltName) #")
                                                         .Events(m => m.Change("ChangeHOrganisation"))
                                                         .Value(Convert.ToString(Model.L1ID))
                                    )
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">@ProjectSession.Resources.label.JobRequest_TextBlockCityCode<span class="cfont">*</span></label>
                            <div class="col-sm-8">
                                @if (Model.HolidayID == 0)
                                {
                                    <select id="drpL2Id" multiple="multiple" autofocus="autofocus" class="form-control multiSelectList"></select>
                                }
                                else
                                {
                                    <div class="@ProjectSession.CultureKendoClass">
                                        @(Html.Kendo().DropDownListFor(m => m.L2ID)
                                                             .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                                             .DataTextField("L2Code")
                                                             .DataValueField("L2ID")
                                                             .ValueTemplate(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "#:L2Code # -- #: L2Altname # " : "#:L2Code # -- #: L2name #")
                                                             .HtmlAttributes(new { style = "width: 100%", @required = "required" })
                                                             .Template("#= KendoDDLTemplate(data.L2Code ,data.L2name, data.L2Altname) #")
                                                             .Value(Convert.ToString(Model.L2ID))
                                        )
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">@ProjectSession.Resources.label.HolidaySetting_TextBlockHolidayDesc<span class="cfont">*</span></label>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(m => m.HolidayDesc, new { @class = "form-control", @id = "txtHolidayDesc", @placeholder = ProjectSession.Resources.label.Common_Enter + ' ' + ProjectSession.Resources.label.HolidaySetting_TextBlockHolidayDesc, @maxlength = "1000" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">@ProjectSession.Resources.label.HolidaySetting_TextBlockAltHolidayDesc</label>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(m => m.HolidayAltDesc, new { @class = "form-control", @id = "txtHolidayAltDesc", @placeholder = ProjectSession.Resources.label.Common_Enter + ' ' + ProjectSession.Resources.label.HolidaySetting_TextBlockAltHolidayDesc, @maxlength = "1000" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">@ProjectSession.Resources.label.HolidaySetting_TextBlockHolidayDate<span class="cfont">*</span></label>
                            <div class="col-sm-8">
                                <div class="input-group date-pick">
                                    @Html.TextBoxFor(model => model.HolidayDate, String.Format("{0:" + ProjectConfiguration.DefaultDateFormat + "}", Model.HolidayDate), new { @id = "dtHolidayDate", @class = "form-control calendarsPicker", @placeholder = ProjectConfiguration.DefaultDateFormat })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer box-footer">
                @if (ProjectSession.PermissionAccess.SetupConfiguration_HolidaySetting_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_HolidaySetting_Createnewrecords)
                {
                    <button type="submit" class="btn btn-primary" id="btnHSave"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
                }
                <button type="button" class="btn btn-default" data-dismiss="modal">@ProjectSession.Resources.label.Common_ButtonClose</button>
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        ApplyMultiSelect();
        getHOrganisation();
        CreateCalendarsPicker();

        validator = $('#frmHoliday').validate({
            rules: {
                dtHolidayDate: { required: true },
                HolidayDesc: { required: true },
            },
            messages: {
                dtHolidayDate: { required: '' },
                HolidayDesc: { required: '' },
            }
        });
    });

    function ApplyMultiSelect() {
        $(".multiSelectList").multiselect({
            includeSelectAllOption: true,
            enableCaseInsensitiveFiltering: true,
            enableFiltering: true,
            maxHeight: 250,
            buttonWidth: '100%',
            buttonClass: 'form-control',
        });
    }

</script>


@if (ProjectSession.PermissionAccess.SetupConfiguration_HolidaySetting_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_HolidaySetting_Createnewrecords)
{
    <script type="text/javascript">
        $('#frmHoliday').on('submit', function (e) {
            if ($("#frmHoliday").valid()) {
                if (!e.isDefaultPrevented()) {
                    if (reValidateDropDowns($(this))) {
                        var l2IDs = $('#drpL2Id').val();
                        var found = $.inArray("multiselect-all", l2IDs);

                        if (found != -1) {
                            l2IDs.splice(found, 1);
                        }
                                                
                        var holidayID = $("#HolidayID").val();                        
                        if (((holidayID == '' || holidayID == 0) && (l2IDs != null && l2IDs != '')) || (holidayID > 0 && $("#L2ID").val() != '')) {
                           
                            var changedObj = {
                                HolidayID: holidayID == '' ? 0 : holidayID,
                                HolidayDate: $("#dtHolidayDate").val(),
                                HolidayDesc: $("#txtHolidayDesc").val(),
                                HolidayAltDesc: $("#txtHolidayAltDesc").val(),
                                L2IDs: l2IDs != null ? l2IDs.join() : '',
                                L2ID: $("#L2ID").val() == '' ? 0 : $("#L2ID").val(),
                                L1ID: $("#L1ID").val()
                            };
                            if (validateDate($("#dtHolidayDate").val())) {
                                $.ajax({
                                    url: '@Url.Action(Actions.ManageHoliday, Controllers.Configurations, new { area = Areas.Configurations })',
                                    type: "POST",
                                    data: addRequestVerificationToken(changedObj),
                                    dataType: "json",
                                    success: function (result) {
                                        if (result[0] == 0) {
                                            ShowMessage(result[1], result[2], "#divModelErrorHoliday");
                                        }
                                        else {
                                            $('#holidayModal').modal("hide");
                                            ShowMessage(result[0], result[1], "#divMessage");
                                            ReBindKendoGrid("holidayGrid");
                                        }
                                    },
                                    error: function (xhr, ajaxOptions, thrownError) {
                                        showErrorMessage();
                                    }
                                });
                            }
                            else {
                                ShowMessage('@SystemEnum.MessageType.danger.ToString()', '@ProjectSession.Resources.message.Common_MsgValidFormatDate', "#divModelErrorHoliday");
                            }
                        }
                        else {
                            ShowMessage('@SystemEnum.MessageType.danger.ToString()', '@ProjectSession.Resources.message.JobRequest_MsgCityCodeIsReq', "#divModelErrorHoliday");
                        }
                    }
                    e.preventDefault();
                }
            }
            else {
                e.preventDefault();
            }
        })

    </script>
}