﻿@model CMMS.Model.PRApprovalLevelMapping
@using CMMS.Infrastructure;
@using CMMS.Pages;
@using CMMS.Model
@using CMMS.Service
<style>
    .popover {
        z-index: 99999 !important;
    }
</style>
<script>
    function BindDropDownParametersCity() {
        return {
            //cityID: $("#hdnL2Id").val(),
            orgID: $("#ddlOrganization").val()
        };
    }

    function OnDataBoundCity() {
        setTimeout(function () {
            if ('@Model.AutoId' == 0) {
                $('#L2Id').data("kendoDropDownList").enable(true);
            }
            else {
                $('#L2Id').data("kendoDropDownList").enable(false);
            }
        }, 1000);
        }

        function getSite() {
            var url;
            if ('@ProjectSession.IsCentral'.toLowerCase() == 'false') {
                url = '@Url.Action(Actions.GetCitiesByEmployee, Controllers.Configurations, new { area = Areas.Configurations, @cityID = @Model.L2ID })';
            }
            else {
                url = '@Url.Action(Actions.GetAllCities, Controllers.Configurations, new { area = Areas.Configurations, @cityID = @Model.L2ID })';
            }
            $.ajax({
                url: url,
                type: 'Post',
                cache: false,
                async: false,
                success: function (result) {
                    $('#L2ID').data('kendoDropDownList').dataSource.data(result);
                    $('#L2ID').data('kendoDropDownList').value('@Model.L2ID');
                    $('#L2ID').data('kendoDropDownList').trigger("change");
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }

        function ChangeSite(e) {
            //alert(1);
            $("#hdnL2ID").val($("#L2ID").val());
            if ($("#L2ID").val() == "" || $("#L2ID").val() == "0") {
                $("#btnEmployeePop").prop("disabled", "disabled");
            } else {
                $("#btnEmployeePop").prop("disabled", "");
            }

        @*var dataItem = this.dataItem(e.item);
        $.ajax({
            url: '@Url.Action(Actions.GetEmployeeByID, Controllers.Configurations, new { area = Areas.Configurations })',
            type: 'Post',
            data: addRequestVerificationToken({ siteID: dataItem.L2ID == "" ? 0 : dataItem.L2ID }),
            cache: false,
            async: false,
            success: function (result) {
                ReBindKendoGrid("employeeGrid");
            },
            error: function (xhr, ajaxOptions, thrownError) {
                showErrorMessage();
            }
        });*@
    }
</script>
<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" title="@ProjectSession.Resources.label.Common_ButtonClose"></button>
            <h4 class="modal-title">@ProjectSession.Resources.label.PRWorkFlow_TextBlockPurchaseRequestWorkFlow</h4>
        </div>
        <form role="form" id="frmPRWorkFlow">
            @Html.HiddenFor(m => m.AutoId)
            <input type="hidden" name="hdnAutoId" id="hdnAutoId" value="@Model.AutoId" />
            <div class="modal-body">
                <div id="Highlights" class="tab-pane active" role="tabpanel">
                    <div class="form-horizontal">
                        <div id="divModelError"></div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">@ProjectSession.Resources.label.Organisation_TextBlockOrgCode<span class="cfont">*</span></label>
                            <div class="col-sm-8">
                                <div class="@ProjectSession.CultureKendoClass">
                                    @(Html.Kendo().DropDownListFor(model => model.L1ID)
                                            //.Name("drpOrganisation")
                                            .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                            .DataTextField("L1No")
                                            .Enable(Model.AutoId == 0 ? true : false)
                                            .DataValueField("L1ID")
                                            .HtmlAttributes(new { style = "width: 100%", @required = "required", id = "ddlOrganization" })
                                            .Template("#= KendoDDLTemplate(data.L1No ,data.L1Name, data.L1AltName) #")
                                            .DataSource(source =>
                                            {
                                                source.Read(read =>
                                                {
                                                    read.Action(Actions.GetAllOrganisation, Controllers.Configurations, new { area = Areas.Configurations });
                                                });
                                            })
                                             .Value(Convert.ToString(Model.L1ID))
                                        )
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">@ProjectSession.Resources.label.JobRequest_TextBlockCityCode<span class="cfont">*</span></label>
                            <div class="col-sm-8">
                                <div class="@ProjectSession.CultureKendoClass">
                                    @(Html.Kendo().DropDownListFor(m => m.L2ID)
                                                         .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                                         .DataTextField("L2Code")
                                                         .DataValueField("L2ID")
                                                         .ValueTemplate(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "#:L2Code # -- #: L2Altname # " : "#:L2Code # -- #: L2name #")
                                            //.Enable(Model.AutoId == 0 ? true : false)
                                                         .HtmlAttributes(new { style = "width: 100%", @required = "required" })
                                                         .Template("#= KendoDDLTemplate(data.L2Code ,data.L2name, data.L2Altname) #")
                                                         .Events(m => m.Change("ChangeSite").DataBound("OnDataBoundCity"))
                                                         .Value(Convert.ToString(Model.L2ID))
                                                         .CascadeFrom("ddlOrganization")
                                                         .DataSource(source =>
                                                         {
                                                             if (ProjectSession.IsCentral)
                                                             {
                                                                 source.Read(read =>
                                                                 {
                                                                     read.Action(Actions.GetAllCities, Controllers.Configurations, new { area = Areas.Configurations }).Data("BindDropDownParametersCity");
                                                                 }).ServerFiltering(true);
                                                             }
                                                             else
                                                             {
                                                                 source.Read(read =>
                                                                 {
                                                                     read.Action(Actions.GetCitiesByEmployee, Controllers.Configurations, new { area = Areas.Configurations }).Data("BindDropDownParametersCity");
                                                                 }).ServerFiltering(true); ;
                                                             }
                                                         })
                                            //.AutoBind(false)
                                    )
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label">@ProjectSession.Resources.label.IRWorkFlow_TextBlockRequestStatus<span class="cfont">*</span></label>
                            <div class="col-sm-8">
                                <div class="@ProjectSession.CultureKendoClass">
                                    @(Html.Kendo().DropDownListFor(m => m.Auth_status_id)
                                                         .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                                         .DataTextField("Auth_status_desc")
                                                         .DataValueField("Auth_status_id")
                                                         .ValueTemplate(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "#: Altauth_status_desc # " : "#: Auth_status_desc #")
                                                         .Enable((Model.AutoId > 0 && Model.auth_status_desc == "Approved") ? false : true)
                                                         .HtmlAttributes(new { style = "width: 100%", @required = "required" })
                                                         .Template("#= KendoDDLTemplate('' ,data.Auth_status_desc, data.Altauth_status_desc) #")
                                                         .DataSource(source =>
                                                         {
                                                             source.Read(read =>
                                                             {
                                                                 read.Action(Actions.GetPRAuthStatus, Controllers.Configurations, new { area = Areas.Configurations });
                                                             });
                                                         })
                                                         .Value(Convert.ToString(Model.Auth_status_id))
                                    )
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Approval<span class="cfont">*</span></label>
                            <div class="col-sm-8">
                                <div class="@ProjectSession.CultureKendoClass">
                                    @(Html.Kendo().DropDownListFor(m => m.PRApprovalLevelId)
                                                         .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                                         .DataTextField("LevelNo")
                                                         .DataValueField("PRApprovalLevelId")
                                                         .ValueTemplate(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "#:LevelNo # -- #: AltLevelName # " : "#:LevelNo # -- #: LevelName #")
                                                         .Enable(Model.AutoId == 0 ? true : false)
                                                         .HtmlAttributes(new { style = "width: 100%", @required = "required" })
                                                         .Template("#= KendoDDLTemplate(data.LevelNo ,data.LevelName, data.AltLevelName) #")
                                                         .DataSource(source =>
                                                         {
                                                             source.Read(read =>
                                                             {
                                                                 read.Action(Actions.GetPRApprovalLevel, Controllers.Configurations, new { area = Areas.Configurations });
                                                             });
                                                         })
                                                         .Value(Convert.ToString(Model.PRApprovalLevelId))
                                    )
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label"></label>
                            <div class="col-sm-8 checkbox">
                                <label>
                                    <input type="checkbox" name="chkMandatory" id="chkMandatory" checked="@Model.Mandatory" />
                                    @ProjectSession.Resources.label.IRWorkFlow_TextBlockMandatory
                                </label>
                                <label>
                                    <input type="checkbox" name="chkPrintingEnable" id="chkPrintingEnable" checked="@Model.IsPrintingEnable">
                                    @ProjectSession.Resources.label.IRWorkFlow_TextBlockPrintingEnable
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Employee</label>
                            <div class="col-sm-8">
                                <button type="button" id="btnEmployeePop" class="btn btn-default icon-btn" data-toggle="modal" data-target="#employeeGridModal" data-backdrop="static">
                                    <img src="../images/more-icon.png" alt=""></button>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div id="employeeData" class="@ProjectSession.CultureKendoClass">
                                    @(Html.Kendo().Grid<CMMS.Model.employees>()
                                            .Name("employeeFromGrid")
                                            .Columns(columns =>
                                            {
                                                columns.Bound(c => c.EmployeeNO).Title(ProjectSession.Resources.label.Employee_TextBlockEmployeeNO);

                                                columns.Bound(c => c.Name).Title(ProjectSession.Resources.label.Employee_TextBlockEmployeeName);

                                                columns.Bound(c => c.Positions).Title(ProjectSession.Resources.label.Employee_TextBlockDesignation);

                                                columns.Bound(c => c.EmployeeID).ClientTemplate("<center><a class='action delete-button-Innner'  href='javascript:void(0);'  class='delete-ic' data-id='#: EmployeeID #' style='cursor:pointer'><i class='glyphicon glyphicon-trash' title='" + ProjectSession.Resources.label.Common_ButtonDelete + "'></i></a></center>")
                                                .Title("<center>" + ProjectSession.Resources.label.Common_ButtonAction + "</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Width(80);

                                            })
                                            .Scrollable()
                                            .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
                                            .Events(events => events.DataBound("onDataBoundemployeeFromGrid"))
                                            .DataSource(dataSource => dataSource.Ajax()
                                            .PageSize(ProjectConfiguration.PageSize)
                                             .Model(model =>
                                             {
                                                 model.Id(p => p.EmployeeID);
                                                 model.Field(p => p.Name);
                                             })
                                            .ServerOperation(true)
                                            .Read(read => read.Action(Actions.GetEmployeePRWorkFlow, Controllers.Configurations, new { area = Areas.Configurations }).Data("BindParameterFromEmployee").Type(HttpVerbs.Post))
                                            )
                                    )

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer box-footer">
                @if (ProjectSession.PermissionAccess.SetupConfiguration_PRApprovalLevelMappings_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_PRApprovalLevelMappings_Createnewrecords)
                {
                    <button type="submit" class="btn btn-primary" id="btnSave"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
                }
                <button type="button" class="btn btn-default" data-dismiss="modal">@ProjectSession.Resources.label.Common_ButtonClose</button>
            </div>
        </form>
    </div>
</div>
<input type="hidden" id="hdnL2ID" value="@Model.L2ID" />
<input type="hidden" id="hdnAutoID" value="@Model.AutoId" />

<script>
    var assignedEmployee = [];
    $(document).ready(function () {
        //getSite();
    });

    validator = $('#frmPRWorkFlow').validate({
        rules: {
        },
        messages: {
        }
    });
</script>

<script>
    $(function () {
        var autoid = '@Model.AutoId';
        var authstatus = '@Model.auth_status_desc';

        if (autoid > 0 && authstatus == 'Approved') {
            $("#chkMandatory").prop("disabled", "disabled");
            $("#chkPrintingEnable").prop("disabled", "disabled");
        }

        if (autoid == "0") { $("#btnEmployeePop").prop("disabled", "disabled"); }

    });

    $("#employeeGrid tbody").off("dblclick");
    $("#employeeGrid tbody").on("dblclick", "tr[role='row']", function (e) {
        var grid = $("#employeeGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        $("#employeeGridModal").modal('hide');
        var Fromgrid = $("#employeeFromGrid").data("kendoGrid");
        var hdnEmployeeID = model.EmployeeID;
        var employeeNo = model.EmployeeNO;
        var employeeName = model.Name;
        var employeedesi = model.Positions;
        var flag = true;
        $("#employeeFromGrid table td a").each(function (index, elem) {
            var employeeid = $(elem).data("id");
            if (hdnEmployeeID == employeeid) {
                flag = false;
            }
        });
        if (hdnEmployeeID > 0 && flag == true) {
            var datasource = Fromgrid.dataSource;
            datasource.insert({ EmployeeNO: employeeNo, Name: employeeName, Positions: employeedesi, EmployeeID: hdnEmployeeID });
        }
        else {
            ShowMessage('@SystemEnum.MessageType.danger.ToString()', '@ProjectSession.Resources.message.Employee_MsgEmployeeNoAlreadyExists', "#divModelError");
            e.preventDefault();
        }
    });

    $('#frmPRWorkFlow').on('submit', function (e) {
        if ($("#frmPRWorkFlow").valid()) {
            if (!e.isDefaultPrevented()) {
                if (reValidateDropDowns($(this))) {
                    var autoId = $("#hdnAutoId").val();
                    var changedObj = {
                        AutoId: autoId == '' ? 0 : autoId,
                        //SubStoreId: $("#SubStoreId").val(),
                        PRApprovalLevelId: $("#PRApprovalLevelId").val(),
                        Mandatory: $("#chkMandatory").is(':checked'),
                        IsPrintingEnable: $("#chkPrintingEnable").is(':checked'),
                        Auth_status_id: $("#Auth_status_id").val(),
                        L2ID: $("#L2ID").val()
                    };
                    var postData = addRequestVerificationToken(changedObj);
                    var toEmployeeData = $("#employeeFromGrid").data("kendoGrid").dataSource.data().length;

                    $("#employeeFromGrid table td a").each(function (index, elem) {
                        var employeeid = $(elem).data("id");
                        if ($.inArray(employeeid, assignedEmployee) == -1) {
                            assignedEmployee.push(employeeid);
                        }
                    });

                    var newdata = {};
                    newdata['assignedEmployee'] = assignedEmployee.join();
                    $.extend(true, postData, newdata);
                    if (toEmployeeData > 0) {
                        $.ajax({
                            url: '@Url.Action(Actions.ManagePRWorkFlow, Controllers.Configurations, new { area = Areas.Configurations })',
                            type: "POST",
                            data: postData,
                            dataType: "json",
                            success: function (result) {
                                if (result[0] == 0) {
                                    ShowMessage(result[1], result[2], "#divModelError");
                                }
                                else {
                                    $('#divPRWorkFlow').modal("hide");
                                    ShowMessage(result[0], result[1], "#divMessage");
                                    ReBindKendoGrid("prWorkFlowGrid");
                                }
                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                showErrorMessage();
                            }
                        });
                    }
                    else {
                        ShowMessage('@CMMS.Infrastructure.SystemEnum.MessageType.danger', '@ProjectSession.Resources.message.Employee_MsgAtleastOneEmployeeReq', "#divModelError");
                        e.preventDefault();
                    }
                }
                e.preventDefault();
            }
        }
        else {
            e.preventDefault();
        }
    })
</script>
