﻿@using CMMS.Infrastructure;
@using CMMS.Pages;
@model CMMS.Model.ErrorLog


<div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"></button>
            <h4 class="modal-title">@ProjectSession.Resources.label.ErrorLog_TextBlockErrorLogTrace</h4>
        </div>
        @Html.HiddenFor(model => model.ErrorLogId)
        <div class="modal-body" style="height:600px;overflow:auto">
            <div id="Highlights" class="tab-pane active" role="tabpanel">
                <div class="form-horizontal">
                    <div id="divModelError"></div>
                    <h3 class="sub-title">
                        @ProjectSession.Resources.label.ErrorLog_TextBlockErrorInformation
                    </h3>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group ">
                                <label class="col-md-4 control-label"><b>@ProjectSession.Resources.label.Employee_TextBlockIpAddress</b></label>
                                <div class="col-md-8">
                                    <label class="control-label">@Model.IPAddress</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group ">
                                <label class="col-md-4 control-label"><b>@ProjectSession.Resources.label.AssetTransfer_TextBlockDate</b></label>
                                <div class="col-md-8">
                                    <label class="control-label">@Model.ErrorDate</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group ">
                                <label class="col-md-4 control-label"><b>@ProjectSession.Resources.label.ErrorLog_TextBlockGeneratedBy</b></label>
                                <div class="col-md-8">
                                    <label class="control-label">@ConvertTo.String(@ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? Model.AltName : Model.Name)</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group ">
                                <label class="col-md-4 control-label"><b>@ProjectSession.Resources.label.ErrorLog_TextBlockBrowser</b></label>
                                <div class="col-md-8">
                                   <label class="control-label">@Model.ClientBrowser</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group ">
                                <label class="col-md-2 control-label"><b>@ProjectSession.Resources.label.ErrorLog_TextBlockMessage</b></label>
                                <div class="col-md-10" style="padding-top:8px">
                                    <span>@Model.ErrorMessage</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h3 class="sub-title">
                        @ProjectSession.Resources.label.ErrorLog_TextBlockErrorDescription
                    </h3>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-12">
                                    @Model.ErrorStackTrace
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer box-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">@ProjectSession.Resources.label.Common_ButtonClose</button>
        </div>

    </div>

</div>