﻿@model CMMS.Model.CmSupplierContractorDocument
@using CMMS.Infrastructure;
@using CMMS.Pages;
@using CMMS.Model;
<style>
    .calendars-popup {
        z-index: 100000 !important;
    }

    .popover {
        z-index: 100000 !important;
    }
</style>

<script type="text/javascript" src="~/Scripts/jquery.form.js"></script>

<div class="form-horizontal">
    <h3 class="sub-title">
        <span>@ProjectSession.Resources.label.Supplier_TextBlockSupplierDocument</span>
        <div class="sub_btn">
            <a href="javascript:void(0);" class="btn-icon btn-add" onclick="OpenAssetSpecificationEditWindow(0);" title='@ProjectSession.Resources.label.Common_ButtonAdd'><i></i></a>
        </div>
    </h3>
    <div class="row">
        <div class="col-md-12">
            <div class="@ProjectSession.CultureKendoClass">
                @(Html.Kendo().Grid<CMMS.Model.CmSupplierContractorDocument>()
        .Name("documentsGrid")
        .Columns(columns =>
        {
            columns.Bound(c => c.DocName).Title(ProjectSession.Resources.label.Common_TextBlockDocumentName);
            columns.Bound(c => c.DocArabicName).HtmlAttributes(new { @class = "text-right" }).Title(ProjectSession.Resources.label.Common_TextBlockDocumentAltName);
            columns.Bound(c => c.IssueDate).ClientTemplate("#= DateTemplate(data.IssueDate) #").Title(ProjectSession.Resources.label.Common_TextBlockIssueDate);
            columns.Bound(c => c.Doc_ExpiryDate).ClientTemplate("#= DateTemplate(data.Doc_ExpiryDate) #").Title(ProjectSession.Resources.label.Preventive_TextBlockExpiryDate);
            columns.Bound(c => c.DocID).ClientTemplate("<center> <a class='action' title='" + ProjectSession.Resources.label.Common_ButtonEdit + "'  style='cursor:pointer' data-toggle='modal' data-target='\\#SupplierDocModal' onclick='OpenAssetSpecificationEditWindow(#: DocID#)'><i class='glyphicon glyphicon-pencil'></i></a>&nbsp;" +
                                           "<a class='action delete-button'  href='javascript:void(0);'  class='delete-ic' data-id='#: DocID #' style='cursor:pointer'><i class='glyphicon glyphicon-trash' title='" + ProjectSession.Resources.label.Common_ButtonDelete + "' ></i></a></center>")
               .Title("<center>" + ProjectSession.Resources.label.Common_ButtonAction + "</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Width(80).Filterable(false);

        })
        .Sortable(sortable => sortable.AllowUnsort(false))
        .Scrollable()
                .Excel(excel => excel.FileName(ProjectSession.Resources.menu.Employee_MenuEmployee + ".xlsx").Filterable(true).AllPages(true))
        .Events(events => events.DataBound("onDataBounddoc"))
        .DataSource(dataSource =>
                                dataSource.Ajax()
                                 .Model(model =>
                                 {
                                     model.Id(p => p.SupplierContractorID);
                                     model.Field(p => p.DocID);
                                 })
                                .ServerOperation(true)
                                                .Read(read => read.Action(Actions.GetSupplierDocument, Controllers.Configurations, new { area = Areas.Configurations }).Data("BindParametersDoc").Type(HttpVerbs.Post))
        )
                        )

            </div>
        </div>

    </div>
</div>


<div id="SupplierDocModal" class="modal fade clsSupplier" role="dialog">
    <div class="modal-dialog modal-mg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"></button>
                <h4 class="modal-title">@ProjectSession.Resources.label.Supplier_TextBlockSupplierDocument</h4>
            </div>
            @using (Html.BeginForm(Actions.SaveSupplierDoc, Controllers.Configurations, FormMethod.Post, new { @id = "FormSupplierDocument", enctype = "multipart/form-data", @role = "form" }))
            { 
@*@using (Ajax.BeginForm(Actions.SaveSupplierDoc, Controllers.Configurations, new { area = Areas.Configurations }, new AjaxOptions() { HttpMethod = "post", OnSuccess = "showResponseSupplierDocument", OnFailure = "onDocumentFailure" }, new { id = "FormSupplierDocument"  ,enctype = "multipart/form-data"}))
            {
                *@
                <div class="modal-body">
                    <div id="Highlights" class="tab-pane active" role="tabpanel">
                        <div class="form-horizontal">
                            <div id="divModelErrorSupplierDoc"></div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">@ProjectSession.Resources.label.Common_TextBlockDocumentName<span class="cfont">*</span></label>
                                <div class="col-md-8">
                                    @Html.HiddenFor(model => model.DocID, new { @id = "hdnDocID" })
                                    @Html.HiddenFor(model => model.SupplierContractorID, new { @id = "hdnSupplierContractorID" })
                                    @Html.TextBoxFor(model => model.DocName, new { @MaxLength = 200, @class = "form-control", @placeholder = ProjectSession.Resources.label.Common_Enter + " " + ProjectSession.Resources.label.Common_TextBlockDocumentName })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">@ProjectSession.Resources.label.Common_TextBlockDocumentAltName</label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.DocArabicName, new { @MaxLength = 100, @class = "form-control", @placeholder = ProjectSession.Resources.label.Common_Enter + " " + ProjectSession.Resources.label.Common_TextBlockDocumentAltName })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">@ProjectSession.Resources.label.Preventive_TextBlockClassfication</label>
                                <div class="col-md-8">
                                    @*@Html.DropDownListFor(model => model.ClassificationLevel, Enum.GetNames(typeof(SystemEnum.SupplierClassificationLevel)).Select(x => new SelectListItem() { Text = x, Value = Convert.ToString((int)Enum.Parse(typeof(SystemEnum.SupplierClassificationLevel), x)) }), @ProjectSession.Resources.label.Common_Select, new { @class = "form-control", @id = "ddlClassification" })*@

                                    @(Html.Kendo().DropDownListFor(model => model.ClassificationLevel)
                                                  .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                                  .DataTextField("Text")
                                                  .DataValueField("Value")
                                                  .HtmlAttributes(new { style = "width: 100%" ,@id="ddlClassificationLevel1"})
                                                  .BindTo(new List<SelectListItem>() {
                                                      new SelectListItem() {
                                                          Text = "Level1",
                                                          Value = "1"
                                                      },
                                                      new SelectListItem() {
                                                          Text = "Level2",
                                                          Value = "2"
                                                      },
                                                      new SelectListItem() {
                                                          Text = "Level3",
                                                          Value = "3"
                                                      },
                                                       new SelectListItem() {
                                                          Text = "Level4",
                                                          Value = "4"
                                                      },
                                                       new SelectListItem() {
                                                          Text = "Level5",
                                                          Value = "5"
                                                      },
                                                  })
                                                  .Value(Convert.ToString(Model.ClassificationLevel))
                                                )
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">@ProjectSession.Resources.label.Common_TextBlockIssueDate<span class="cfont">*</span></label>
                                <div class="col-md-8">
                                    <div class="input-group date-pick">
                                        @Html.TextBoxFor(model => model.IssueDate, "{0:" + ProjectConfiguration.DefaultDateFormat + "}", new { @class = "form-control calendarsPicker", @placeholder = ProjectConfiguration.DefaultDateFormat })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">@ProjectSession.Resources.label.Preventive_TextBlockExpiryDate<span class="cfont">*</span></label>
                                <div class="col-md-8">
                                    <div class="input-group date-pick">
                                        @Html.TextBoxFor(model => model.Doc_ExpiryDate, "{0:" + ProjectConfiguration.DefaultDateFormat + "}", new { @class = "form-control calendarsPicker", @placeholder = ProjectConfiguration.DefaultDateFormat })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">@ProjectSession.Resources.label.Item_TextBlockNotes</label>
                                <div class="col-md-8">
                                    @Html.TextAreaFor(model => model.Remarks, new { @MaxLength = 400, @class = "form-control", @placeholder = ProjectSession.Resources.label.Common_Enter + " " + ProjectSession.Resources.label.Item_TextBlockNotes })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">@ProjectSession.Resources.label.PMChecklist_RadTabItemAttachment</label>
                                <div class="col-md-8" style="padding-top: 5px;">
                                    @(Html.Kendo().Upload().Name("EmployeeDocumentfiles").HtmlAttributes(new { id = "EmpDocumentfiles", accept = "'" + ProjectSession.AllowUploadFileFormats + "'" }).Multiple(true))
                                </div>
                            </div>
                            <div class="@ProjectSession.CultureKendoClass" style="margin-bottom:15px;">
                                @(Html.Kendo().Grid<CMMS.Model.CmAttachment>()
                                .Name("GridAttachementList")
                                .Columns(columns =>
                                {
                                    columns.Bound(o => o.FileName).ClientTemplate("<a  class='action'  href='javascript:Downloadattachment2(#: AutoId#);' >#: FileName# </a>").Title("File Name").Sortable(false);
                                    columns.Bound(p => p.AutoId).ClientTemplate("#= DeleteAttachment(data) #").Title(ProjectSession.Resources.label.Common_ButtonDelete).Sortable(false).Width(85);
                                    //                       columns.Bound(c => c.AutoId).ClientTemplate("<center>" +
                                    //                            "<a class='action delete-button'  href='javascript:void(0);'  class='delete-ic' data-id='#: AutoId #' style='cursor:pointer'><i class='glyphicon glyphicon-trash' title='" + ProjectSession.Resources.label.Common_ButtonDelete + "' ></i></a></center>")
                                    //.Title("<center>" + ProjectSession.Resources.label.Common_ButtonAction + "</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Width(80).Filterable(false);
                                })

                              .Events(events => events.DataBound("onDataBoundAttachment"))
                                         .Resizable(resize => resize.Columns(false))

                        )
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer box-footer">
                    <button type="submit" class="btn btn-primary" id="btnSave"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">@ProjectSession.Resources.label.Common_ButtonClose</button>
                </div>
            }
        </div>

    </div>
</div>

<script type="text/javascript">
    CreateCalendarsPicker();

    var validatorSupplierDocument = $('#FormSupplierDocument').validate({
        rules: {
            IssueDate: { required: true },
            Doc_ExpiryDate: { required: true },
            DocName: { required: true },
        },
        messages: {
            IssueDate: { required: '' },
            Doc_ExpiryDate: { required: '' },
            DocName: { required: '' }
        }
    });

    //$('#SupplierDocModal:not(.popover)').on('hide.bs.modal', function (e) {
    //$('div.clsSupplier').not('.popover').on('hide.bs.modal', function (e) {
    //    alert();
    //    if (validatorSupplierDocument != "")
    //        validatorSupplierDocument.resetForm();
    //});

    $('.modal').on('hide.bs.modal', function (e) {
        if (validatorSupplierDocument != "")
            validatorSupplierDocument.resetForm();
    });

    $(document).ready(function () {
    });


    $("#documentsGrid tbody").on("dblclick", "tr[role='row']", function (e) {
        var grid = $("#documentsGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        $("#SupplierDocModal").modal("show");
        OpenAssetSpecificationEditWindow(model.DocID);
        //invoke controller
    });

    $('#FormSupplierDocument').on('submit', function (e) {
        if ($("#FormSupplierDocument").valid()) {
            if (!e.isDefaultPrevented()) {
                if (!reValidateDropDowns($(this))) {
                    e.preventDefault();
                }
                else {
                    var options = {
                        success: showResponseSupplierDocument,  // post-submit callback
                        data: $('#FormSupplierDocument').serialize()
                    };
                    $(this).ajaxSubmit(options);
                    return false;
                }
            }
            else {
                e.preventDefault();
            }
        }
        else {
            e.preventDefault();
        }
    });

    function showResponseSupplierDocument(responseText, statusText, xhr, $form) {
        if (responseText[0] == '@SystemEnum.MessageType.success.ToString()') {
            ShowMessage(responseText[0], responseText[1], "#divMessage");
            $('#SupplierDocModal').modal("hide");
            ClearData();
            ReBindKendoGrid("documentsGrid");
        }
        else {
            ShowMessage(responseText[0], responseText[1], "#divModelErrorSupplierDoc");
        }

        return false;
    }

 @*   function showResponseSupplierDocument(result) {
        debugger;
        if (result[0] == '@SystemEnum.MessageType.success.ToString()') {
            ShowMessage(result[0], result[1], "#divMessage");
            $('#SupplierDocModal').modal("hide");
            ClearData();
            ReBindKendoGrid("documentsGrid");
        }
        else {
            ShowMessage(result[0], result[1], "#divModelErrorSupplierDoc");
        }
    }

    function onDocumentFailure(result) {
        ShowMessage(result[0], result[1], "#divModelErrorSupplierDoc");
    }*@

    var Objlink;
    function DeleteAttachment(data) {
        var html = kendo.format("<center><a class='action delete-button-Innner'  href='javascript:void(0);' onclick='return deleteEmployeeDocAttachmentGridRow(this);' class='delete-ic' data-id='" + data.AutoId + "' style='cursor:pointer'><i class='glyphicon glyphicon-trash' title='" + '@ProjectSession.Resources.label.Common_ButtonDelete' + "' ></i></a><center>");
        return html;
    }

    function deleteEmployeeDocAttachmentGridRow(link) {
        Objlink = link;

        var result = confirm("Are you sure want to delete this record?");
        if (result) {
            if (parseInt($(link).attr('data-id')) > 0) {
                $.ajax({
                    url: '@Url.Action(Actions.DeleteAttachment, Controllers.Management, new { area = Areas.Management })',
                    type: "POST",
                    data: addRequestVerificationToken({ attachmentID: $(link).attr('data-id') }),
                    dataType: "json",
                    success: function (result) {
                        var rowToDelete = $(Objlink).parent().parent().parent();
                        var grid = $("#GridAttachementList").data("kendoGrid");
                        grid.removeRow(rowToDelete);

                        ShowMessage('@SystemEnum.MessageType.success.ToString()', '@ProjectSession.Resources.message.Common_MsgFileDelete', "#divModelErrorSupplierDoc");
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        showErrorMessage();
                    }
                });
            }
            else {
                var rowToDelete = $(Objlink).parent().parent().parent();
                var grid = $("#GridAttachementList").data("kendoGrid");
                grid.removeRow(rowToDelete);
            }
            $('.popover').remove();
        }
    }

    function onConfirmCallbackDeleteAttachment(sender) {
        var Autoid = $(this).data("id");

        if (parseInt(Autoid) > 0) {
            $.ajax({
                url: '@Url.Action(Actions.DeleteAttachment, Controllers.Management, new { area = Areas.Management })',
                type: "POST",
                data: addRequestVerificationToken({ attachmentID: Autoid }),
                dataType: "json",
                success: function (result) {
                    var rowToDelete = $(Objlink).parent().parent().parent();
                    var grid = $("#GridAttachementList").data("kendoGrid");
                    grid.removeRow(rowToDelete);

                    ShowMessage('@SystemEnum.MessageType.success.ToString()', '@ProjectSession.Resources.message.Common_MsgFileDelete', "#divModelErrorSupplierDoc");
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }
        else {
            var rowToDelete = $(Objlink).parent().parent().parent();
            var grid = $("#GridAttachementList").data("kendoGrid");
            grid.removeRow(rowToDelete);
        }
        $('.popover').remove();
    }

    function Downloadattachment2(autoID) {
        $.ajax({
            url: '@Url.Action(Actions.DownloadAttachment, Controllers.Home, new { area = "" })',
            type: "POST",
            data: { attachmentID: autoID },
            //dataType: "json",
            success: function (result) {
                if (result == '') {
                    ShowMessage('@SystemEnum.MessageType.danger.ToString()', 'File Not found', "#divModelErrorSupplierDoc");
                }
                else {
                    window.open('@Url.Action(Actions.DownloadAttachment, Controllers.Home, new { @area = "" })?attachmentID=' + autoID,'_blank');
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                showErrorMessage();
            }
        });
    }
</script>
