﻿@using CMMS.Infrastructure;
@using CMMS.Pages;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.AntiForgeryToken()
<script src="@Url.Content("~/Scripts/jquery-dateFormat.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")"></script>
<div class="head1">
    <h1>@ProjectSession.Resources.label.AccountCode_TextBlockAccountCodes</h1>
    <ul class="sub_btn">
        @if (ProjectSession.PermissionAccess.SetupConfiguration_AccountCode_Createnewrecords)
        {
            <li>
                <a href="#" class="btn-icon btn-add" data-toggle="modal" data-target="#accountCodeModal" data-backdrop="static" onclick="OpenAccountCodeEditWindow(0);" title="@ProjectSession.Resources.label.Common_ButtonAdd"><i></i></a>
            </li>
        }
        <li>
            <a href="#" class="btn-icon btn-search" data-toggle="modal" data-target="#search-order" onclick='OpenAdvancedSearch("@ProjectSession.Resources.label.AccountCode_TextBlockAccountCodes","@SystemEnum.Pages.AccountCode.GetHashCode()");' title="@ProjectSession.Resources.label.Common_ButtonAdvanceSearch"><i></i></a>
        </li>
        <li>
            <a href="#" class="btn-icon btn-clear" title="@ProjectSession.Resources.label.Common_ButtonClear" onclick="return ClearAdvencedSearch(@SystemEnum.Pages.AccountCode.GetHashCode());"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-refresh" onclick="ReBindKendoGrid('accountCodeGrid');" title="@ProjectSession.Resources.label.Common_ButtonRefreshGrid"><i></i></a>
        </li>
        @if (ProjectSession.PermissionAccess.SetupConfiguration_AccountCode_Export)
        {
            <li>
                <a href="javascript:void(0);" class="btn-icon btn-xsl" onclick="ExportToExcel('accountCodeGrid', 'AccCodeid');" title="@ProjectSession.Resources.label.Common_ButtonExportToExcel"><i></i></a>
            </li>
        }
    </ul>
</div>

<!-- Kendo Grid-->
<div id="accountCodeData" class="@ProjectSession.CultureKendoClass">
    @(Html.Kendo().Grid<CMMS.Model.Accountcode>()
        .Name("accountCodeGrid")
        .HtmlAttributes(new { @class = "kl-grid" })
        .Columns(columns =>
        {
            columns.Bound(c => c.AccountCode).Title(ProjectSession.Resources.label.AccountCode_TextBlockAccountCode).Width(150);

            columns.Bound(c => c.AccountCodeDesc).Title(ProjectSession.Resources.label.AccountCode_TextBlockAccountDesc); 

            columns.Bound(c => c.AltAccountCodeDesc).HtmlAttributes(new { @class = "text-right" }).Title(ProjectSession.Resources.label.AccountCode_TextBlockAltAccountDesc);

            columns.Bound(c => c.CostCenterNo).Title(ProjectSession.Resources.label.CostCenter_TextBlockCostCenterCode)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterCostCenter", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

            columns.Bound(c => c.DateStart).ClientTemplate("#= DateTemplate(data.DateStart) #").Title(ProjectSession.Resources.label.AccountCode_TextBlockDateStart);

            columns.Bound(c => c.DateEnd).ClientTemplate("#= DateTemplate(data.DateEnd) #").Title(ProjectSession.Resources.label.AccountCode_TextBlockDateEnd);

            columns.Bound(c => c.Status).HtmlAttributes(new { @class = "text-center" }).ClientTemplate("<span class='#= Status ? 'active-icon' : 'inactive-icon' #' title='#= Status ? active : notActive #'></span>").Title(ProjectSession.Resources.label.AccountCode_TextBlockStatus).Width(100)
            .Filterable(ftb => ftb.Multi(true).ItemTemplate("itemTemplateForStatus").CheckAll(false).BindTo(new[]{
                        new { Status = true },
                        new { Status = false }
                }));
     
            if (ProjectSession.PermissionAccess.SetupConfiguration_AccountCode_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_AccountCode_Deleterecords)
            {
                columns.Bound(c => c.AccCodeid).ClientTemplate("<center>" + (ProjectSession.PermissionAccess.SetupConfiguration_AccountCode_Editrecords ? "<a class='action' title='" + ProjectSession.Resources.label.Common_ButtonEdit + "'  style='cursor:pointer' data-toggle='modal' data-target='\\#accountCodeModal' onclick='OpenAccountCodeEditWindow(#: AccCodeid#)'><i class='glyphicon glyphicon-pencil'></i></a>&nbsp;" : "") + "" + (ProjectSession.PermissionAccess.SetupConfiguration_AccountCode_Deleterecords ? "<a class='action delete-button'  href='javascript:void(0);'  class='delete-ic' data-id='#: AccCodeid #' style='cursor:pointer'><i class='glyphicon glyphicon-trash' title='" + ProjectSession.Resources.label.Common_ButtonDelete + "' ></i></a>" : "") + "</center>")
                                            .Title("<center>" + ProjectSession.Resources.label.Common_ButtonAction + "</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Width(80).Filterable(false);
            }
        })
        .Filterable()
        .Sortable(sortable => sortable.AllowUnsort(false))
        .Scrollable()
        .Excel(excel => excel.FileName("Account Code.xlsx").Filterable(true).AllPages(true).ProxyURL(Url.Action("Excel_Export_Save", "GridExport", new { area = string.Empty })))
        .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
        .Events(events => events.DataBound("onDataBound").ExcelExport("excelExport"))
        .DataSource(dataSource =>
                                dataSource.Ajax()
                                .PageSize(ProjectConfiguration.PageSize)
                                .Sort(model => model.Add("AccountCode").Ascending())
                                .Model(model =>
                                {
                                    model.Id(p => p.AccCodeid);
                                    model.Field(p => p.AccountCode);
                                })
                                .ServerOperation(true)
                                .Read(read => read.Action(Actions.GetAccountCode, Controllers.Configurations, new { area = Areas.Configurations }).Data("BindParameters").Type(HttpVerbs.Post))
        )
    )

</div>

<!-- search order -->
<div id="search-order" class="modal fade" role="dialog"></div>

<!-- Account Code Modal -->
<div id="accountCodeModal" class="modal fade" role="dialog"></div>

<script type="text/javascript">
    var kendoGridId = 'accountCodeGrid';
    var intPageID = '@SystemEnum.Pages.AccountCode.GetHashCode()';

    function BindParameters() {
        return {
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };

    function OpenAccountCodeEditWindow(id) {
        $("#accountCodeModal").html('');
        var url = '@Url.Action(Actions._EditAccountCode, Controllers.Configurations, new { Area = Areas.Configurations })' + "?accountCodeId=" + id;
        $("#accountCodeModal").load(url);
    }

    $("#accountCodeGrid tbody").on("dblclick", "tr[role='row']", function (e) {
        var grid = $("#accountCodeGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        $("#accountCodeModal").modal("show");
        OpenAccountCodeEditWindow(model.AccCodeid);
    });

</script>

@if (ProjectSession.PermissionAccess.SetupConfiguration_AccountCode_Deleterecords)
{
    <script type="text/javascript">
        function onDataBound(arg) {
            confirmDeleteMsg(msgText, okText, cancelText, onConfirmCallback, confirmDirection);
            gridProperPaging(this);
        }


        function onConfirmCallback(sender) {
            var id = $(this).data("id");
            $.ajax({
                url: '@Url.Action(Actions.DeleteAccountCode, Controllers.Configurations, new { area = Areas.Configurations })',
                type: "POST",
                data: addRequestVerificationToken({ accountCodeId: id }),
                dataType: "json",
                success: function (result) {
                    ShowMessage(result[0], result[1], "#divMessage");
                    ReBindKendoGrid("accountCodeGrid");

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }
    </script>
}
else
{
    <script>
        function onDataBound(arg) {
            gridProperPaging(this);
        }
    </script>
}
