﻿@using CMMS.Infrastructure;
@using CMMS.Pages;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.AntiForgeryToken()
<div class="head1">
    <h1>@ProjectSession.Resources.label.Area_TextBlockAreaCodes</h1>
    <ul class="sub_btn">
        @if (ProjectSession.IsAreaFieldsVisible && ProjectSession.PermissionAccess.SetupConfiguration_Area_Createnewrecords)
        {
            <li>
                <a href="javascript:void(0);" class="btn-icon btn-add" data-toggle="modal" data-target="#areaModal" data-backdrop="static" onclick="OpenAreaEditWindow(0);" title="@ProjectSession.Resources.label.Common_ButtonAdd"><i></i></a>
            </li>
        }
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-search" data-toggle="modal" data-target="#search-order" onclick='OpenAdvancedSearch("@ProjectSession.Resources.label.Area_TextBlockAreaCodes","@SystemEnum.Pages.Area.GetHashCode()")' title="@ProjectSession.Resources.label.Common_ButtonAdvanceSearch"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-clear" title="@ProjectSession.Resources.label.Common_ButtonClear" onclick="return ClearAdvencedSearch(@SystemEnum.Pages.Area.GetHashCode());"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-refresh" onclick="ReBindKendoGrid('areaGrid');" title="@ProjectSession.Resources.label.Common_ButtonRefreshGrid"><i></i></a>
        </li>
        @if (ProjectSession.IsAreaFieldsVisible && ProjectSession.PermissionAccess.SetupConfiguration_Area_Export)
        {
            <li>
                <a href="javascript:void(0);" class="btn-icon btn-xsl" onclick="ExportToExcel('areaGrid', 'L3ID');" title="@ProjectSession.Resources.label.Common_ButtonExportToExcel"><i></i></a>
            </li>
        }
    </ul>
</div>

<!-- Kendo Grid -->
<div id="areaData" class="@ProjectSession.CultureKendoClass">
    @(Html.Kendo().Grid<CMMS.Model.L3>()
        .Name("areaGrid")
        .HtmlAttributes(new { @class = "kl-grid" })
        .Columns(columns =>
        {
            columns.Bound(c => c.L3No).Title(ProjectSession.Resources.label.Area_TextBlockAreaCode).Width(150);

            columns.Bound(c => c.L3Desc).Title(ProjectSession.Resources.label.Area_TextBlockAreaCodeDesc);

            columns.Bound(c => c.L3AltDesc).HtmlAttributes(new { @class = "text-right" }).Title(ProjectSession.Resources.label.Area_TextBlockAltAreaCodeDesc);

            columns.Bound(c => c.L2Code).Title(ProjectSession.Resources.label.JobRequest_TextBlockCityCode)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterSite", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

            columns.Bound(c => c.L1No).Title(ProjectSession.Resources.label.Organisation_TextBlockOrgCode)
                .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterOrganisation", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

            if (ProjectSession.IsAreaFieldsVisible && (ProjectSession.PermissionAccess.SetupConfiguration_Area_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_Area_Deleterecords))
            {
                columns.Bound(c => c.L3ID).ClientTemplate("<center>" + (ProjectSession.IsAreaFieldsVisible && ProjectSession.PermissionAccess.SetupConfiguration_Area_Editrecords ? "<a class='action' title='" + ProjectSession.Resources.label.Common_ButtonEdit + "'  style='cursor:pointer' data-toggle='modal' data-target='\\#areaModal' onclick='OpenAreaEditWindow(#: L3ID#)'><i class='glyphicon glyphicon-pencil'></i></a>&nbsp;" : "") + "" + (ProjectSession.IsAreaFieldsVisible && ProjectSession.PermissionAccess.SetupConfiguration_Area_Deleterecords ? "<a class='action delete-button'  href='javascript:void(0);'  class='delete-ic' data-id='#: L3ID #' style='cursor:pointer'><i class='glyphicon glyphicon-trash' title='" + ProjectSession.Resources.label.Common_ButtonDelete + "' ></i></a>" : "") + "</center>")
                                            .Title("<center>" + ProjectSession.Resources.label.Common_ButtonAction + "</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Width(80).Filterable(false);
            }
        })
        .Sortable(sortable => sortable.AllowUnsort(false))
        .Scrollable()
        .Filterable()
        .Excel(excel => excel.FileName("Area.xlsx").Filterable(true).AllPages(true).ProxyURL(Url.Action("Excel_Export_Save", "GridExport", new { area = string.Empty })))
        .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
        .Events(events => events.DataBound("onDataBound").ExcelExport("excelExport"))
        .DataSource(dataSource =>
                                dataSource.Ajax()
                                .PageSize(ProjectConfiguration.PageSize)
                                .Sort(model => model.Add("L3No").Ascending())
                                 .Model(model =>
                                 {
                                     model.Id(p => p.L3ID);
                                     model.Field(p => p.L3Desc);
                                 })
                                .ServerOperation(true)
                                .Read(read => read.Action(Actions.GetArea, Controllers.Configurations, new { area = Areas.Configurations }).Data("BindParameters").Type(HttpVerbs.Post))
        )


    )

</div>

<!-- search order -->
<div id="search-order" class="modal fade" role="dialog"></div>
<input type="hidden" id="hdnEditMode" value="0" />
<!-- Area Modal -->
<div id="areaModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" title="@ProjectSession.Resources.label.Common_ButtonClose"></button>
                <h4 class="modal-title">@ProjectSession.Resources.label.Area_TextBlockAreaCodes</h4>
            </div>
            <form role="form" id="frmArea">
                <input type="hidden" name="hdnL3ID" id="hdnL3ID" />
                <input type="hidden" name="hdnL2Id" id="hdnL2Id" />
                <div class="modal-body">
                    <div id="Highlights" class="tab-pane active" role="tabpanel">
                        <div class="form-horizontal">
                            <div id="divModelError"></div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.Area_TextBlockAreaCode<span class="cfont">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="L3No" id="txtL3No" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.Area_TextBlockAreaCode" maxlength="50">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.Area_TextBlockAreaCodeDesc<span class="cfont">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="L3Desc" id="txtL3Desc" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.Area_TextBlockAreaCodeDesc" maxlength="1500">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.Area_TextBlockAltAreaCodeDesc</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="txtL3DescArabic" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.Area_TextBlockAltAreaCodeDesc" maxlength="1500">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.Organisation_TextBlockOrgCode<span class="cfont">*</span></label>
                                <div class="col-sm-8">
                                    <div class="@ProjectSession.CultureKendoClass">
                                        @(Html.Kendo().DropDownList()
                                            .Name("drpOrganisation")
                                            .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                            .DataTextField("L1No")
                                            .DataValueField("L1ID")
                                                    .HtmlAttributes(new { style = "width: 100%", @required = "required", id = "ddlOrganization" })
                                            .Template("#= KendoDDLTemplate(data.L1No ,data.L1Name, data.L1AltName) #")
                                            .DataSource(source =>
                                            {
                                                source.Read(read =>
                                                {
                                                    read.Action(Actions.GetAllEnableOrganisation, Controllers.Configurations, new { area = Areas.Configurations });
                                                });
                                            })
                                            .Value("")
                                        )
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.JobRequest_TextBlockCityCode<span class="cfont">*</span></label>
                                <div class="col-sm-8">
                                    <div class="@ProjectSession.CultureKendoClass">
                                        @(Html.Kendo().DropDownList()
                                                         .Name("drpSite")
                                                         .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                                         .DataTextField("L2Code")
                                                         .DataValueField("L2ID")
                                                         .HtmlAttributes(new { style = "width: 100%", @required = "required" })
                                                         .Template("#= KendoDDLTemplate(data.L2Code ,data.L2name, data.L2Altname) #")
                                                         .Events(m => m.DataBound("DataBoundDDLL2"))
                                                         .DataSource(source =>
                                                         {
                                                             if (ProjectSession.IsCentral)
                                                             {
                                                                 source.Read(read =>
                                                                 {
                                                                     read.Action(Actions.GetAllCities, Controllers.Configurations, new { area = Areas.Configurations }).Data("BindDropDownParameters");
                                                                 }).ServerFiltering(true);
                                                             }
                                                             else
                                                             {
                                                                 source.Read(read =>
                                                                 {
                                                                     read.Action(Actions.GetCitiesByEmployee, Controllers.Configurations, new { area = Areas.Configurations }).Data("BindDropDownParameters");
                                                                 }).ServerFiltering(true); ;
                                                             }
                                                         })
                                                        .CascadeFrom("ddlOrganization")
                                                        .Value("")
                                        )
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer box-footer">
                    @if (ProjectSession.IsAreaFieldsVisible && (ProjectSession.PermissionAccess.SetupConfiguration_Area_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_Area_Createnewrecords))
                    {
                        <button type="submit" class="btn btn-primary" id="btnSave"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
                    }
                    <button type="button" class="btn btn-default" data-dismiss="modal">@ProjectSession.Resources.label.Common_ButtonClose</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    var kendoGridId = 'areaGrid';
    var intPageID = '@SystemEnum.Pages.Area.GetHashCode()';


    $(document).ready(function () {
        validator = $('#frmArea').validate({
            rules: {
                L3No: { required: true },
                L3Desc: { required: true },
            },
            messages: {
                L3No: { required: '' },
                L3Desc: { required: '' },
            }
        });
    });

    function BindParameters() {
        return {
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function BindDropDownParameters() {
        return {
            cityID: $("#hdnL2Id").val(),
            orgID: $("#ddlOrganization").val()
        };
    }

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };

    function DataBoundDDLL2(e) {
        $("#drpSite").data("kendoDropDownList").value($("#hdnL2Id").val());
        if ($('#hdnEditMode').val() > 0) {
            $('#drpSite').data("kendoDropDownList").enable(false);
        }
        else {
            $('#drpSite').data("kendoDropDownList").enable(true);
        }
    }


    function OpenAreaEditWindow(id) {
        $("#hdnL2Id").val("");
        if (id > 0) {

            $.ajax({
                url: '@Url.Action(Actions.GetAreaByID, Controllers.Configurations, new { area = Areas.Configurations })',
                type: "POST",
                data: addRequestVerificationToken({ areaId: id }),
                success: function (result) {
                    $("#hdnL3ID").val(result.L3ID);
                    $("#txtL3No").val(result.L3No);
                    $("#txtL3Desc").val(result.L3Desc);
                    $("#txtL3DescArabic").val(result.L3AltDesc);
                    $("#hdnL2Id").val(result.L2ID);
                    //$("#ddlOrganization").data("kendoDropDownList").dataSource.read();
                    $('#ddlOrganization').data("kendoDropDownList").value(result.L1ID);
                    $("#drpSite").data("kendoDropDownList").dataSource.read();

                    $("#drpSite").data("kendoDropDownList").value(result.L2ID);
                    if (result.IsEnableCity) {
                        $('#drpSite').data("kendoDropDownList").enable(false);
                        $('#ddlOrganization').data("kendoDropDownList").enable(false);
                        $('#hdnEditMode').val(1);
                    }
                    else {
                        $('#hdnEditMode').val(0);
                        //$('#drpSite').data("kendoDropDownList").enable(true);
                        $('#ddlOrganization').data("kendoDropDownList").enable(true);
                    }

                    @if (!ProjectSession.PermissionAccess.SetupConfiguration_Area_ChangeMastersCodes)
                    {
                        <text>$("#txtL3No").attr("disabled", "disabled");</text>
                    }

                    @if (ProjectSession.PermissionAccess.SetupConfiguration_Area_Editrecords)
                    {
                         <text>$("#btnSave").show(); </text>
                    }
                    else if (ProjectSession.PermissionAccess.SetupConfiguration_Area_Createnewrecords)
                    {
                         <text>$("#btnSave").hide(); </text>
                    }

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }
        else {
            $('#hdnEditMode').val(0);
            ClearAllInputs("frmArea");
            $("#txtL3No").removeAttr("disabled");
            //$('#drpSite').data("kendoDropDownList").enable(true);
            //$("#drpSite").data("kendoDropDownList").dataSource.read();
            $('#ddlOrganization').data("kendoDropDownList").enable(true);
            $("#ddlOrganization").data("kendoDropDownList").dataSource.read();

            @if (ProjectSession.PermissionAccess.SetupConfiguration_Area_Createnewrecords)
            {
                <text>$("#btnSave").show(); </text>
            }
            else if (ProjectSession.PermissionAccess.SetupConfiguration_Area_Editrecords)
            {
                <text>$("#btnSave").hide(); </text>
            }
        }
    }

    $("#areaGrid tbody").on("dblclick", "tr[role='row']", function (e) {
        var grid = $("#areaGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        $("#areaModal").modal("show");
        OpenAreaEditWindow(model.L3ID);
    });

</script>

@if (ProjectSession.IsAreaFieldsVisible && (ProjectSession.PermissionAccess.SetupConfiguration_Area_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_Area_Createnewrecords))
{
    <script type="text/javascript">
        $('#frmArea').on('submit', function (e) {
            if ($("#frmArea").valid()) {
                if (reValidateDropDowns($(this))) {
                    if (e.isDefaultPrevented()) {
                        // handle the invalid form...
                    } else {

                        var l3Id = $("#hdnL3ID").val();
                        var changedObj = {
                            L3ID: l3Id == '' ? 0 : l3Id,
                            L3No: $("#txtL3No").val(),
                            L3Desc: $("#txtL3Desc").val(),
                            L3AltDesc: $("#txtL3DescArabic").val(),
                            L2ID: $("#drpSite").val()
                        };

                        $.ajax({
                            url: '@Url.Action(Actions.ManageArea, Controllers.Configurations, new { area = Areas.Configurations })',
                            type: "POST",
                            data: addRequestVerificationToken(changedObj),
                            dataType: "json",
                            success: function (result) {
                                if (result[0] == 0) {
                                    ShowMessage(result[1], result[2], "#divModelError");
                                }
                                else {
                                    $('#areaModal').modal("hide");
                                    ShowMessage(result[0], result[1], "#divMessage");
                                    ReBindKendoGrid("areaGrid");
                                    
                                    if (result.length > 2) {
                                        if (result[2] == true || result[2] == 'True') {
                                            setTimeout(function () {
                                                ShowMessage('danger', '@ProjectSession.Resources.message.Location_MsgNoRightToArea', "#divMessage");
                                            }, 500);
                                        }
                                    }
                                }
                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                showErrorMessage();
                            }
                        });
                        e.preventDefault();
                    }
                }
                e.preventDefault();
            }
            else {
                e.preventDefault();
            }
        })
    </script>
}

@if (ProjectSession.IsAreaFieldsVisible && ProjectSession.PermissionAccess.SetupConfiguration_Area_Deleterecords)
{
    <script type="text/javascript">
        function onDataBound(arg) {
            confirmDeleteMsg(msgText, okText, cancelText, onConfirmCallback, confirmDirection);
            gridProperPaging(this);
        }


        function onConfirmCallback(sender) {
            var id = $(this).data("id");
            $.ajax({
                url: '@Url.Action(Actions.DeleteArea, Controllers.Configurations, new { area = Areas.Configurations })',
                type: "POST",
                data: addRequestVerificationToken({ areaId: id }),
                dataType: "json",
                success: function (result) {
                    ClearAllInputs("frmArea");
                    ShowMessage(result[0], result[1], "#divMessage");
                    ReBindKendoGrid("areaGrid");

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }
    </script>
}
else
{
    <script>
        function onDataBound(arg) {
            gridProperPaging(this);
        }
    </script>
}

