﻿@using CMMS.Infrastructure;
@using CMMS.Pages;
@using CMMS.Model
@using CMMS.Service
@using CMMS.Model
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.AntiForgeryToken()

<div class="head1">
    <h1>
        @ProjectSession.Resources.label.Common_TextBlockAssetSubCategory 
    </h1>
    <ul class="sub_btn">
        @if (ProjectSession.PermissionAccess.SetupConfiguration_AssetSubCategories_Createnewrecords)
        {
            <li><a href="javascript:void(0);" class="btn-icon btn-add" data-toggle="modal" data-target="#AssetSubCategoryModal" data-backdrop="static" onclick="OpenAssetSubCategoryEditWindow(0);" title='@ProjectSession.Resources.label.Common_ButtonAdd'><i></i></a></li>
        }
        <li><a href="javascript:void(0);" class="btn-icon btn-search" data-toggle="modal" data-target="#search-order" onclick='OpenAdvancedSearch("@ProjectSession.Resources.label.Common_TextBlockAssetSubCategory","@SystemEnum.Pages.AssetSubCategories.GetHashCode()")' title='@ProjectSession.Resources.label.Common_ButtonAdvanceSearch'><i></i></a></li>
        <li><a href="javascript:void(0);" class="btn-icon btn-clear" title="@ProjectSession.Resources.label.Common_ButtonClear" onclick="return ClearAdvencedSearch(@SystemEnum.Pages.AssetSubCategories.GetHashCode());"><i></i></a></li>
        <li><a href="javascript:void(0);" class="btn-icon btn-refresh" onclick="ReBindKendoGrid('AssetSubCategoryGrid');" title='@ProjectSession.Resources.label.Common_ButtonRefreshGrid'><i></i></a></li>
        @if (ProjectSession.PermissionAccess.SetupConfiguration_AssetSubCategories_Export)
        {
            <li><a href="javascript:void(0);" class="btn-icon btn-xsl" onclick="ExportToExcel('AssetSubCategoryGrid', 'AssetSubCatID');" title="@ProjectSession.Resources.label.Common_ButtonExportToExcel"><i></i></a></li>
        }
    </ul>
</div> 
<!-- Kendo Grid-->
<div id="AssetSubCategoryData" class="@ProjectSession.CultureKendoClass">
    @(Html.Kendo().Grid<CMMS.Model.AssetSubCategorie>()
        .Name("AssetSubCategoryGrid")
        .HtmlAttributes(new { @class = "kl-grid" })
        .Columns(columns =>
        {
            columns.Bound(c => c.AssetSubCatCode).Title(ProjectSession.Resources.label.Common_TextBlockAssetSubCatCode).Width(250);

            columns.Bound(c => c.AssetSubCategory).Title(ProjectSession.Resources.label.Common_TextBlockAssetSubCatName);

            columns.Bound(c => c.AltAssetSubCategory).HtmlAttributes(new { @class = "text-right" }).Title(ProjectSession.Resources.label.Common_TextBlockAltAssetSubCatName);

            columns.Bound(c => c.AssetCatCode).Title(ProjectSession.Resources.label.Asset_TextBlockAssetCatCode)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterAssetCategory", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

            if (ProjectSession.PermissionAccess.SetupConfiguration_AssetSubCategories_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_AssetSubCategories_Deleterecords)
            {
                columns.Bound(c => c.AssetSubCatID).ClientTemplate("<center>" + (ProjectSession.PermissionAccess.SetupConfiguration_AssetSubCategories_Editrecords ? "<a class='action' title='" + ProjectSession.Resources.label.Common_ButtonEdit + "'  style='cursor:pointer' data-toggle='modal' data-target='\\#AssetSubCategoryModal' onclick='OpenAssetSubCategoryEditWindow(#: AssetSubCatID #)'><i class='glyphicon glyphicon-pencil'></i></a>&nbsp;" : "") + "" + (ProjectSession.PermissionAccess.SetupConfiguration_AssetSubCategories_Deleterecords ? "<a class='action delete-button'  href='javascript:void(0);'  class='delete-ic' data-id='#: AssetSubCatID #' style='cursor:pointer'><i class='glyphicon glyphicon-trash' title='" + ProjectSession.Resources.label.Common_ButtonDelete + "' ></i></a>" : "") + "</center>")
                                            .Title("<center>" + ProjectSession.Resources.label.Common_ButtonAction + "</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Width(80).Filterable(false);
            }
        })
        .Filterable()
        .Sortable(sortable => sortable.AllowUnsort(false))
        .Scrollable()
        .Excel(excel => excel.FileName("Asset Sub Category.xlsx").Filterable(true).AllPages(true).ProxyURL(Url.Action("Excel_Export_Save", "GridExport", new { area = string.Empty })))
        .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
        .Events(events => events.DataBound("onDataBound").ExcelExport("excelExport"))
        .DataSource(dataSource =>
                                dataSource.Ajax()
                                .PageSize(ProjectConfiguration.PageSize)
                                .Sort(model => model.Add("AssetSubCatCode").Ascending())
                                 .Model(model =>
                                 {
                                     model.Id(p => p.AssetSubCatID);
                                     model.Field(p => p.AssetSubCategory);
                                 })
                                .ServerOperation(true)
                                .Read(read => read.Action(Actions.GetAssetSubCategoriesList, Controllers.Configurations, new { area = Areas.Configurations }).Data("BindParameters").Type(HttpVerbs.Post))
        )
    )

</div>


<!-- -------------search order------------- -->
<div id="search-order" class="modal fade" role="dialog"></div>

<!-- -------------Manage Order------------- -->
<div id="AssetSubCategoryModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"></button>
                <h4 class="modal-title">@ProjectSession.Resources.label.Common_TextBlockAssetSubCategory</h4>
            </div>
            <form role="form" id="frmAssetSubCategory">
                <input type="hidden" name="hdnAssetSubCatID" id="hdnAssetSubCatID" />
                <div class="modal-body">
                    <div id="Highlights" class="tab-pane active" role="tabpanel">
                        <div class="form-horizontal">
                            <div id="divModelError"></div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.Common_TextBlockAssetSubCatCode<span class="cfont">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="AssetSubCatCode" id="txtAssetSubCatCode" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.Common_TextBlockAssetSubCatCode" maxlength="50">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.Common_TextBlockAssetSubCatName<span class="cfont">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="AssetSubCategory" id="txtAssetSubCategory" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.Common_TextBlockAssetSubCatName" maxlength="255">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.Common_TextBlockAltAssetSubCatName</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="txtAltAssetSubCategory" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.Common_TextBlockAltAssetSubCatName" maxlength="255">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.menu.Asset_MenuAssetClass</label>
                                <div class="col-sm-8 @ProjectSession.CultureKendoClass">
                                    @(Html.Kendo().DropDownList()
                                            .Name("drpAssetClass")
                                            .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                            .DataTextField("AssetClassCode")
                                            .ValueTemplate(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "#:AssetClassCode # -- #: AltAssetClass # " : "#:AssetClassCode # -- #: AssetClass #")
                                            .DataValueField("AssetClassID")
                                            .HtmlAttributes(new { style = "width: 100%" })
                                            .Template("#= KendoDDLTemplate(data.AssetClassCode ,data.AssetClass, data.AltAssetClass) #")
                                            .DataSource(source =>
                                            {
                                                source.Read(read =>
                                                {
                                                    read.Action(Actions.GetAllAssetClass, Controllers.Configurations, new { area = Areas.Configurations });
                                                });
                                            })
                                            .Value("")
                                    )
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.Asset_TextBlockAssetCategory<span class="cfont">*</span></label>
                                <div class="col-sm-8 @ProjectSession.CultureKendoClass">
                                    @(Html.Kendo().DropDownList()
                                            .Name("drpAssetCat")
                                            .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                            .DataTextField("AssetCatCode")
                                            .ValueTemplate(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "#:AssetCatCode # -- #: AltAssetCategory # " : "#:AssetCatCode # -- #: AssetCategory #")
                                            .DataValueField("AssetCatID")
                                            .HtmlAttributes(new { style = "width: 100%", @required = "required" })
                                            .Template("#= KendoDDLTemplate(data.AssetCatCode ,data.AssetCategory, data.AltAssetCategory) #")
                                            .DataSource(source =>
                                            {
                                                source.Read(read =>
                                                {
                                                    read.Action(Actions.GetAllAssetCategories, Controllers.Configurations, new { area = Areas.Configurations });
                                                });
                                            })
                                            .Value("")
                                    )
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer box-footer">
                    @if (ProjectSession.PermissionAccess.SetupConfiguration_AssetSubCategories_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_AssetSubCategories_Createnewrecords)
                    {
                        <button type="submit" class="btn btn-primary" id="btnSave"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
                    }
                    <button type="button" class="btn btn-default" data-dismiss="modal">@ProjectSession.Resources.label.Common_ButtonClose</button>
                </div>
            </form>
        </div>

    </div>
</div>

<script type="text/javascript">
    var kendoGridId = 'AssetSubCategoryGrid';
    var intPageID = '@SystemEnum.Pages.AssetSubCategories.GetHashCode()';

    $(document).ready(function () {
        validator = $('#frmAssetSubCategory').validate({
            rules: {
                AssetSubCatCode: { required: true },
                AssetSubCategory: { required: true },
            },
            messages: {
                AssetSubCatCode: { required: '' },
                AssetSubCategory: { required: '' },
            }
        });
    });

    function BindParameters() {
        return {
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };


    function OpenAssetSubCategoryEditWindow(id) {
        if (id > 0) {
            $.ajax({
                url: '@Url.Action(Actions.GetAssetSubCategoriesListByID, Controllers.Configurations, new { area = Areas.Configurations })',
                type: "POST",
                data: addRequestVerificationToken({ AssetSubCatID: id }),
                success: function (result) {
                    $("#hdnAssetSubCatID").val(result.AssetSubCatID);
                    $("#txtAssetSubCatCode").val(result.AssetSubCatCode);
                    $("#txtAssetSubCategory").val(result.AssetSubCategory);
                    $("#txtAltAssetSubCategory").val(result.AltAssetSubCategory);
                    $("#drpAssetClass").data("kendoDropDownList").value(result.AssetClassID);
                    $("#drpAssetCat").data("kendoDropDownList").value(result.AssetCatID);
                     @if (!ProjectSession.PermissionAccess.SetupConfiguration_AssetSubCategories_ChangeMastersCodes)
                     {
                        <text>$("#txtAssetSubCatCode").attr("disabled", "disabled");</text>
                     }

                    @if (ProjectSession.PermissionAccess.SetupConfiguration_AssetSubCategories_Editrecords)
                    {
                        <text>$("#btnSave").show(); </text>
                    }
                    else if (ProjectSession.PermissionAccess.SetupConfiguration_AssetSubCategories_Createnewrecords)
                    {
                        <text>$("#btnSave").hide(); </text>
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    ShowMessage('@SystemEnum.MessageType.danger.ToString()', '@ProjectSession.Resources.message.Common_MsgErrorContactAdmin', "#divMessage");
                }
            });
            }
            else {
                ClearAllInputs("frmAssetSubCategory");
                $("#txtAssetSubCatCode").removeAttr("disabled");
            @if (ProjectSession.PermissionAccess.SetupConfiguration_AssetSubCategories_Createnewrecords)
            {
                <text>$("#btnSave").show(); </text>
            }
            else if (ProjectSession.PermissionAccess.SetupConfiguration_AssetSubCategories_Editrecords)
            {
                <text>$("#btnSave").hide(); </text>
            }
        }
    }

    $("#AssetSubCategoryGrid tbody").on("dblclick", "tr[role='row']", function (e) {
        var grid = $("#AssetSubCategoryGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        $("#AssetSubCategoryModal").modal("show");
        OpenAssetSubCategoryEditWindow(model.AssetSubCatID);
    });

</script>
@if (ProjectSession.PermissionAccess.SetupConfiguration_AssetSubCategories_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_AssetSubCategories_Createnewrecords)
{
    <script type="text/javascript">
        $('#frmAssetSubCategory').on('submit', function (e) {
            if ($("#frmAssetSubCategory").valid()) {
                if (!e.isDefaultPrevented()) {
                    if (reValidateDropDowns($(this))) {

                        var areaId = $("#hdnAssetSubCatID").val();
                        var changedObj = {
                            AssetSubCatID: areaId == '' ? 0 : areaId,
                            AssetSubCatCode: $("#txtAssetSubCatCode").val(),
                            AssetSubCategory: $("#txtAssetSubCategory").val(),
                            AltAssetSubCategory: $("#txtAltAssetSubCategory").val(),
                            AssetClassID: $("#drpAssetClass").val(),
                            AssetCatID: $("#drpAssetCat").val(),
                        };

                        $.ajax({
                            url: '@Url.Action(Actions.ManageAssetSubCategories, Controllers.Configurations, new { area = Areas.Configurations })',
                        type: "POST",
                        data: addRequestVerificationToken(changedObj),
                        dataType: "json",
                        success: function (result) {
                            if (result[0] == 0) {
                                ShowMessage(result[1], result[2], "#divModelError");
                            }
                            else {
                                $('#AssetSubCategoryModal').modal("hide");
                                ShowMessage(result[0], result[1], "#divMessage");
                                ReBindKendoGrid("AssetSubCategoryGrid");
                            }
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            showErrorMessage();
                        }
                    });
                    e.preventDefault();
                }
                e.preventDefault();
            }
        }
        else {
            e.preventDefault();
        }
    });
    </script>
}

@if (ProjectSession.PermissionAccess.SetupConfiguration_AssetSubCategories_Deleterecords)
{
    <script type="text/javascript">

        function onDataBound(arg) {
            confirmDeleteMsg(msgText, okText, cancelText, onConfirmCallback, confirmDirection);
            gridProperPaging(this);
        }

        function onConfirmCallback(sender) {
            var id = $(this).data("id");
            $.ajax({
                url: '@Url.Action(Actions.DeleteAssetSubCategories, Controllers.Configurations, new { area = Areas.Configurations })',
            type: "POST",
            data: addRequestVerificationToken({ assetSubCatID: id }),
            dataType: "json",
            success: function (result) {
                ClearAllInputs("frmAssetSubCategory");
                ShowMessage(result[0], result[1], "#divMessage");
                ReBindKendoGrid("AssetSubCategoryGrid");
            },
            error: function (xhr, ajaxOptions, thrownError) {
                showErrorMessage();
            }
        });
    }
    </script>
}
else
{ 
    <script>

        function onDataBound(arg) {
            gridProperPaging(this);
        }
    </script>
}
