﻿@using CMMS.Infrastructure;
@using CMMS.Pages;
@using CMMS.Model
@using CMMS.Service
@using CMMS.Model
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.AntiForgeryToken()

<div class="head1">
    <h1>
        @ProjectSession.Resources.menu.Asset_MenuAssetConditions
    </h1>
    <ul class="sub_btn">
        @if (ProjectSession.PermissionAccess.SetupConfiguration_AssetCondition_Createnewrecords)
        {
            <li><a href="javascript:void(0);" class="btn-icon btn-add" data-toggle="modal" data-target="#AssetConditionModal" data-backdrop="static" onclick="OpenAssetConditionEditWindow(0);" title='@ProjectSession.Resources.label.Common_ButtonAdd'><i></i></a></li>
        }
        <li><a href="javascript:void(0);" class="btn-icon btn-search" data-toggle="modal" data-target="#search-order" onclick='OpenAdvancedSearch("@ProjectSession.Resources.menu.Asset_MenuAssetConditions","@SystemEnum.Pages.AssetCondition.GetHashCode()")' title='@ProjectSession.Resources.label.Common_ButtonAdvanceSearch'><i></i></a></li>
        <li><a href="javascript:void(0);" class="btn-icon btn-clear" title="@ProjectSession.Resources.label.Common_ButtonClear" onclick="return ClearAdvencedSearch(@SystemEnum.Pages.AssetCondition.GetHashCode());"><i></i></a></li>
        <li><a href="javascript:void(0);" class="btn-icon btn-refresh" onclick="ReBindKendoGrid('AssetConditionGrid');" title='@ProjectSession.Resources.label.Common_ButtonRefreshGrid'><i></i></a></li>
        @if (ProjectSession.PermissionAccess.SetupConfiguration_AssetCondition_Export)
        {
            <li><a href="javascript:void(0);" class="btn-icon btn-xsl" onclick="ExportToExcel('AssetConditionGrid', 'AssetConditionID');" title="@ProjectSession.Resources.label.Common_ButtonExportToExcel"><i></i></a></li>
        }
    </ul> 
</div>
<!-- Kendo Grid-->
<div id="AssetConditionData" class="@ProjectSession.CultureKendoClass">
    @(Html.Kendo().Grid<CMMS.Model.Assetcondition>()
        .Name("AssetConditionGrid")
        .HtmlAttributes(new { @class = "kl-grid" })
        .Columns(columns =>
        {
            columns.Bound(c => c.AssetConditionCode).Title(ProjectSession.Resources.message.Asset_TextBlockAssetConditionCode).Width(250);

            columns.Bound(c => c.AssetCondition).Title(ProjectSession.Resources.message.Asset_TextBlockAssetConditionName);

            columns.Bound(c => c.AltAssetCondition).HtmlAttributes(new { @class = "text-right" }).Title(ProjectSession.Resources.message.Asset_TextBlockAltAssetConditionName);

            if (ProjectSession.PermissionAccess.SetupConfiguration_AssetCondition_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_AssetCondition_Deleterecords)
            {
                columns.Bound(c => c.AssetConditionID).ClientTemplate("<center>" + (ProjectSession.PermissionAccess.SetupConfiguration_AssetCondition_Editrecords ? "<a class='action' title='" + ProjectSession.Resources.label.Common_ButtonEdit + "'  style='cursor:pointer' data-toggle='modal' data-target='\\#AssetConditionModal' onclick='OpenAssetConditionEditWindow(#: AssetConditionID#)'><i class='glyphicon glyphicon-pencil'></i></a>&nbsp;" : "") + "" + (ProjectSession.PermissionAccess.SetupConfiguration_AssetCondition_Deleterecords ? "<a class='action delete-button'  href='javascript:void(0);'  class='delete-ic' data-id='#: AssetConditionID #' style='cursor:pointer'><i class='glyphicon glyphicon-trash' title='" + ProjectSession.Resources.label.Common_ButtonDelete + "' ></i></a>" : "") + "</center>")
                                            .Title("<center>" + ProjectSession.Resources.label.Common_ButtonAction + "</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Width(80).Filterable(false);
            }
        }) 
        .Filterable()
        .Sortable(sortable => sortable.AllowUnsort(false))
        .Scrollable()
        .Excel(excel => excel.FileName("Asset Condition.xlsx").Filterable(true).AllPages(true).ProxyURL(Url.Action("Excel_Export_Save", "GridExport", new { area = string.Empty })))
        .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
        .Events(events => events.DataBound("onDataBound").ExcelExport("excelExport"))
        .DataSource(dataSource =>
                                dataSource.Ajax()
                                .PageSize(ProjectConfiguration.PageSize)
                                .Sort(model => model.Add("AssetConditionCode").Ascending())
                                 .Model(model =>
                                 {
                                     model.Id(p => p.AssetConditionID);
                                     model.Field(p => p.AssetCondition);
                                 })
                                .ServerOperation(true)
                                .Read(read => read.Action(Actions.GetAssetConditionsList, Controllers.Configurations, new { area = Areas.Configurations }).Data("BindParameters").Type(HttpVerbs.Post))
        )
    )

</div>


<!-- -------------search order------------- -->
<div id="search-order" class="modal fade" role="dialog"></div>
<!-- -------------Manage Order------------- -->
<div id="AssetConditionModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"></button>
                <h4 class="modal-title">@ProjectSession.Resources.menu.Asset_MenuAssetConditions</h4>
            </div>
            <form role="form" id="frmAssetConditions">
                <input type="hidden" name="hdnAssetConditionID" id="hdnAssetConditionID" />
                <div class="modal-body">
                    <div id="Highlights" class="tab-pane active" role="tabpanel">
                        <div class="form-horizontal">
                            <div id="divModelError"></div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.message.Asset_TextBlockAssetConditionCode<span class="cfont">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="AssetConditionCode" id="txtAssetConditionCode" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.message.Asset_TextBlockAssetConditionCode" maxlength="50">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.message.Asset_TextBlockAssetConditionName<span class="cfont">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="AssetCondition" id="txtAssetCondition" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.message.Asset_TextBlockAssetConditionName" maxlength="255">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.message.Asset_TextBlockAltAssetConditionName</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="txtAltAssetCondition" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.message.Asset_TextBlockAltAssetConditionName" maxlength="255">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer box-footer">
                    @if (ProjectSession.PermissionAccess.SetupConfiguration_AssetCategories_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_AssetCondition_Createnewrecords)
                    {
                        <button type="submit" class="btn btn-primary" id="btnSave"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
                    }
                    <button type="button" class="btn btn-default" data-dismiss="modal">@ProjectSession.Resources.label.Common_ButtonClose</button>
                </div>
            </form>
        </div>

    </div>
</div>

<script type="text/javascript">
    var kendoGridId = 'AssetConditionGrid';
    var intPageID = '@SystemEnum.Pages.AssetCondition.GetHashCode()';

    $(document).ready(function () {
        validator = $('#frmAssetConditions').validate({
            rules: {
                AssetConditionCode: { required: true },
                AssetCondition: { required: true },
            },
            messages: {
                AssetConditionCode: { required: '' },
                AssetCondition: { required: '' },
            }
        });
    });

    function BindParameters() {
        return {
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };



    function OpenAssetConditionEditWindow(id) {
        if (id > 0) {
            $.ajax({
                url: '@Url.Action(Actions.GetAssetConditionsListByID, Controllers.Configurations, new { area = Areas.Configurations })',
                type: "POST",
                data: addRequestVerificationToken({ AssetConditionID: id }),
                success: function (result) {
                    $("#hdnAssetConditionID").val(result.AssetConditionID);
                    $("#txtAssetConditionCode").val(result.AssetConditionCode);
                    $("#txtAssetCondition").val(result.AssetCondition);
                    $("#txtAltAssetCondition").val(result.AltAssetCondition);
                    @if (!ProjectSession.PermissionAccess.SetupConfiguration_AssetCondition_ChangeMastersCodes)
                    {
                        <text>$("#txtAssetConditionCode").attr("disabled", "disabled");</text>
                    }

                    @if (ProjectSession.PermissionAccess.SetupConfiguration_AssetCondition_Editrecords)
                    {
                        <text>$("#btnSave").show(); </text>
                    }
                    else if (ProjectSession.PermissionAccess.SetupConfiguration_AssetCondition_Createnewrecords)
                    {
                        <text>$("#btnSave").hide(); </text>
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    ShowMessage('@SystemEnum.MessageType.danger.ToString()', '@ProjectSession.Resources.message.Common_MsgErrorContactAdmin', "#divMessage");
                }
            });
        }
        else {
            ClearAllInputs("frmAssetConditions");
            $("#txtAssetConditionCode").removeAttr("disabled");
            @if (ProjectSession.PermissionAccess.SetupConfiguration_AssetCondition_Createnewrecords)
            {
                <text>$("#btnSave").show(); </text>
            }
            else if (ProjectSession.PermissionAccess.SetupConfiguration_AssetCondition_Editrecords)
            {
                <text>$("#btnSave").hide(); </text>
            }
        }
    }
    $("#AssetConditionGrid tbody").on("dblclick", "tr[role='row']", function (e) {
        var grid = $("#AssetConditionGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        $("#AssetConditionModal").modal("show");
        OpenAssetConditionEditWindow(model.AssetConditionID);
        //invoke controller
    });

</script>
@if (ProjectSession.PermissionAccess.SetupConfiguration_AssetCondition_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_AssetCondition_Createnewrecords)
{
    <script type="text/javascript">



        $('#frmAssetConditions').on('submit', function (e) {
            if ($("#frmAssetConditions").valid()) {
                if (e.isDefaultPrevented()) {
                    // handle the invalid form...
                } else {

                    var areaId = $("#hdnAssetConditionID").val();
                    var changedObj = {
                        AssetConditionID: areaId == '' ? 0 : areaId,
                        AssetConditionCode: $("#txtAssetConditionCode").val(),
                        AssetCondition: $("#txtAssetCondition").val(),
                        AltAssetCondition: $("#txtAltAssetCondition").val(),
                    };

                    $.ajax({
                        url: '@Url.Action(Actions.ManageAssetConditions, Controllers.Configurations, new { area = Areas.Configurations })',
                        type: "POST",
                        data: addRequestVerificationToken(changedObj),
                        dataType: "json",
                        success: function (result) {
                            if (result[0] == 0) {
                                ShowMessage(result[1], result[2], "#divModelError");
                            }
                            else {
                                $('#AssetConditionModal').modal("hide");
                                ShowMessage(result[0], result[1], "#divMessage");
                                ReBindKendoGrid("AssetConditionGrid");
                            }
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            showErrorMessage();
                        }
                    });
                    e.preventDefault();
                }
            }
            else {
                e.preventDefault();
            }
        })
    </script>
}
@if (ProjectSession.PermissionAccess.SetupConfiguration_AssetCondition_Deleterecords)
{
    <script type="text/javascript">

        function onDataBound(arg) {
            confirmDeleteMsg(msgText, okText, cancelText, onConfirmCallback, confirmDirection);
            gridProperPaging(this);
        }

        function onConfirmCallback(sender) {
            var id = $(this).data("id");
            $.ajax({
                url: '@Url.Action(Actions.DeleteAssetConditions, Controllers.Configurations, new { area = Areas.Configurations })',
                type: "POST",
                data: addRequestVerificationToken({ AssetConditionID: id }),
                dataType: "json",
                success: function (result) {
                    ClearAllInputs("frmAssetConditions");
                    ShowMessage(result[0], result[1], "#divMessage");
                    ReBindKendoGrid("AssetConditionGrid");
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }
    </script>
}
else
{
    <script>
        function onDataBound(arg) {
            gridProperPaging(this);
        }

    </script>
}
