﻿@using CMMS.Infrastructure;
@using CMMS.Pages;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.AntiForgeryToken()

<div class="head1">
    <h1>
        @ProjectSession.Resources.label.Asset_TextBlockAssetStatus
    </h1>
    <ul class="sub_btn">
        @if (ProjectSession.PermissionAccess.SetupConfiguration_AssetStatus_Createnewrecords)
        {
            <li><a href="javascript:void(0);" class="btn-icon btn-add" data-toggle="modal" data-target="#AssetStatusModal" data-backdrop="static" onclick="OpenAssetStatusEditWindow(0);" title='@ProjectSession.Resources.label.Common_ButtonAdd'><i></i></a></li>
        }
        <li><a href="javascript:void(0);" class="btn-icon btn-search" data-toggle="modal" data-target="#search-order" onclick='OpenAdvancedSearch("@ProjectSession.Resources.label.Asset_TextBlockAssetStatus","@SystemEnum.Pages.AssetStatus.GetHashCode()")' title='@ProjectSession.Resources.label.Common_ButtonAdvanceSearch'><i></i></a></li>
        <li><a href="javascript:void(0);" class="btn-icon btn-clear" title="@ProjectSession.Resources.label.Common_ButtonClear" onclick="return ClearAdvencedSearch(@SystemEnum.Pages.AssetStatus.GetHashCode());"><i></i></a></li>
        <li><a href="javascript:void(0);" class="btn-icon btn-refresh" onclick="ReBindKendoGrid('AssetStatusGrid');" title='@ProjectSession.Resources.label.Common_ButtonRefreshGrid'><i></i></a></li>
        @if (ProjectSession.PermissionAccess.SetupConfiguration_AssetStatus_Export)
        {
            <li><a href="javascript:void(0);" class="btn-icon btn-xsl" onclick="ExportToExcel('AssetStatusGrid', 'AssetStatusID');" title="@ProjectSession.Resources.label.Common_ButtonExportToExcel"><i></i></a></li>
        }
    </ul> 
</div>
<!-- Kendo Grid-->
<div id="AssetStatusData" class="@ProjectSession.CultureKendoClass">
    @(Html.Kendo().Grid<CMMS.Model.AssetStatus>()
        .Name("AssetStatusGrid")
        .HtmlAttributes(new { @class = "kl-grid" })
        .Columns(columns =>
        {
            columns.Bound(c => c.AssetStatusDesc).Title(ProjectSession.Resources.label.Asset_TextBlockAssetStatusName).Width(250);

            columns.Bound(c => c.AltAssetStatusDesc).HtmlAttributes(new { @class = "text-right" }).Title(ProjectSession.Resources.label.Asset_TextBlockAltAssetStatus);

            if (ProjectSession.PermissionAccess.SetupConfiguration_AssetStatus_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_AssetStatus_Deleterecords)
            {
                columns.Bound(c => c.AssetStatusID).ClientTemplate("<center>" + (ProjectSession.PermissionAccess.SetupConfiguration_AssetStatus_Editrecords ? "<a class='action' title='" + ProjectSession.Resources.label.Common_ButtonEdit + "'  style='cursor:pointer' data-toggle='modal' data-target='\\#AssetStatusModal' onclick='OpenAssetStatusEditWindow(#: AssetStatusID#)'><i class='glyphicon glyphicon-pencil'></i></a>&nbsp;" : "") + "" + (ProjectSession.PermissionAccess.SetupConfiguration_AssetStatus_Deleterecords ? "<a class='action delete-button'  href='javascript:void(0);'  class='delete-ic' data-id='#: AssetStatusID #' style='cursor:pointer'><i class='glyphicon glyphicon-trash' title='" + ProjectSession.Resources.label.Common_ButtonDelete + "' ></i></a>" : "") + "</center>")
                                            .Title("<center>" + ProjectSession.Resources.label.Common_ButtonAction + "</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Width(80).Filterable(false);
            }

        })
        .Filterable()
        .Sortable(sortable => sortable.AllowUnsort(false))
        .Scrollable()
        .Excel(excel => excel.FileName("Asset Status.xlsx").Filterable(true).AllPages(true).ProxyURL(Url.Action("Excel_Export_Save", "GridExport", new { area = string.Empty })))
        .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
        .Events(events => events.DataBound("onDataBound").ExcelExport("excelExport"))
        .DataSource(dataSource =>
                                dataSource.Ajax()
                                .PageSize(ProjectConfiguration.PageSize)
                                .Sort(model => model.Add("AssetStatusDesc").Ascending())
                                 .Model(model =>
                                 {
                                     model.Id(p => p.AssetStatusID);
                                     model.Field(p => p.AssetStatusDesc);
                                 })
                                .ServerOperation(true)
                                .Read(read => read.Action(Actions.GetAssetStatusList, Controllers.Configurations, new { area = Areas.Configurations }).Data("BindParameters").Type(HttpVerbs.Post))
        )
    )

</div>


<!-- -------------search order------------- -->
<div id="search-order" class="modal fade" role="dialog"></div>
<!-- -------------Manage Order------------- -->
<div id="AssetStatusModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-mg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"></button>
                <h4 class="modal-title">@ProjectSession.Resources.label.Asset_TextBlockAssetStatus</h4>
            </div>
            <form role="form" id="frmAssetStatus">
                <input type="hidden" name="hdnAssetStatusID" id="hdnAssetStatusID" />
                <div class="modal-body">
                    <div id="Highlights" class="tab-pane active" role="tabpanel">
                        <div class="form-horizontal">
                            <div id="divModelError"></div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.Asset_TextBlockAssetStatusName<span class="cfont">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="AssetStatusDesc" id="txtAssetStatusDesc" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.Asset_TextBlockAssetStatusName" maxlength="1500">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.Asset_TextBlockAltAssetStatus</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="txtAltAssetStatusDesc" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.Asset_TextBlockAltAssetStatus" maxlength="1500">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer box-footer">
                    @if (ProjectSession.PermissionAccess.SetupConfiguration_AssetStatus_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_AssetStatus_Createnewrecords)
                    {
                        <button type="submit" class="btn btn-primary" id="btnSave"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
                    }
                    <button type="button" class="btn btn-default" data-dismiss="modal">@ProjectSession.Resources.label.Common_ButtonClose</button>
                </div>
            </form>
        </div>

    </div>
</div>

<script type="text/javascript">
    var kendoGridId = 'AssetStatusGrid';
    var intPageID = '@SystemEnum.Pages.AssetStatus.GetHashCode()';

    $(document).ready(function () {
        validator = $('#frmAssetStatus').validate({
            rules: {
                AssetStatusDesc: { required: true },
            },
            messages: {
                AssetStatusDesc: { required: '' },
            }
        });
    });

    function BindParameters() {
        return {
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };


    function OpenAssetStatusEditWindow(id) {
        if (id > 0) {
            $.ajax({
                url: '@Url.Action(Actions.GetAssetStatusListByID, Controllers.Configurations, new { area = Areas.Configurations })',
                type: "POST",
                data: addRequestVerificationToken({ AssetStatusID: id }),
                success: function (result) {
                    $("#hdnAssetStatusID").val(result.AssetStatusID);
                    $("#txtAssetStatusDesc").val(result.AssetStatusDesc);
                    $("#txtAltAssetStatusDesc").val(result.AltAssetStatusDesc);

                    @if (ProjectSession.PermissionAccess.SetupConfiguration_AssetStatus_Editrecords)
                    {
                        <text>$("#btnSave").show(); </text>
                    }
                    else if (ProjectSession.PermissionAccess.SetupConfiguration_AssetStatus_Createnewrecords)
                    {
                        <text>$("#btnSave").hide(); </text>
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    ShowMessage('@SystemEnum.MessageType.danger.ToString()', '@ProjectSession.Resources.message.Common_MsgErrorContactAdmin', "#divMessage");
                }
            });
        }
        else {
            ClearAllInputs("frmAssetStatus");

            @if (ProjectSession.PermissionAccess.SetupConfiguration_AssetStatus_Createnewrecords)
            {
                <text>$("#btnSave").show(); </text>
            }
            else if (ProjectSession.PermissionAccess.SetupConfiguration_AssetStatus_Editrecords)
            {
                <text>$("#btnSave").hide(); </text>
            }
        }
    }
    $("#AssetStatusGrid tbody").on("dblclick", "tr[role='row']", function (e) {
        var grid = $("#AssetStatusGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        $("#AssetStatusModal").modal("show");
        OpenAssetStatusEditWindow(model.AssetStatusID);
        //invoke controller
    });
</script>

@if (ProjectSession.PermissionAccess.SetupConfiguration_Sector_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_AssetStatus_Createnewrecords)
{
    <script type="text/javascript">



        $('#frmAssetStatus').on('submit', function (e) {
            if ($("#frmAssetStatus").valid()) {
                if (e.isDefaultPrevented()) {
                    // handle the invalid form...
                } else {

                    var areaId = $("#hdnAssetStatusID").val();
                    var changedObj = {
                        AssetStatusID: areaId == '' ? 0 : areaId,
                        AssetStatusDesc: $("#txtAssetStatusDesc").val(),
                        AltAssetStatusDesc: $("#txtAltAssetStatusDesc").val(),
                    };

                    $.ajax({
                        url: '@Url.Action(Actions.ManageAssetStatus, Controllers.Configurations, new { area = Areas.Configurations })',
                        type: "POST",
                        data: addRequestVerificationToken(changedObj),
                        dataType: "json",
                        success: function (result) {
                            if (result[0] == 0) {
                                ShowMessage(result[1], result[2], "#divModelError");
                            }
                            else {
                                $('#AssetStatusModal').modal("hide");
                                ShowMessage(result[0], result[1], "#divMessage");
                                ReBindKendoGrid("AssetStatusGrid");
                            }
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            showErrorMessage();
                        }
                    });
                    e.preventDefault();
                }
            }
            else {
                e.preventDefault();
            }
        })
    </script>
}
@if (ProjectSession.PermissionAccess.SetupConfiguration_AssetStatus_Deleterecords)
{
    <script type="text/javascript">

        function onDataBound(arg) {
            confirmDeleteMsg(msgText, okText, cancelText, onConfirmCallback, confirmDirection);
            gridProperPaging(this);
        }

        function onConfirmCallback(sender) {
            var id = $(this).data("id");
            $.ajax({
                url: '@Url.Action(Actions.DeleteAssetStatus, Controllers.Configurations, new { area = Areas.Configurations })',
                type: "POST",
                data: addRequestVerificationToken({ AssetStatusID: id }),
                dataType: "json",
                success: function (result) {
                    ClearAllInputs("frmAssetStatus");
                    ShowMessage(result[0], result[1], "#divMessage");
                    ReBindKendoGrid("AssetStatusGrid");
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }
    </script>
}
else
{
    <script>
        function onDataBound(arg) {
            gridProperPaging(this);
        }

    </script>

}
