﻿@using CMMS.Infrastructure;
@using CMMS.Pages;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.AntiForgeryToken()

<div class="head1">
    <h1>
        @ProjectSession.Resources.menu.Asset_MenuAssetClass 
    </h1>
    <ul class="sub_btn">
        @if (ProjectSession.PermissionAccess.SetupConfiguration_AssetClass_Createnewrecords)
        {
            <li><a href="javascript:void(0);" class="btn-icon btn-add" data-toggle="modal" data-target="#AssetClassModal" data-backdrop="static" onclick="OpenAssetClassEditWindow(0);" title='@ProjectSession.Resources.label.Common_ButtonAdd'><i></i></a></li>
        }
        <li><a href="javascript:void(0);" class="btn-icon btn-search" data-toggle="modal" data-target="#search-order" onclick='OpenAdvancedSearch("@ProjectSession.Resources.menu.Asset_MenuAssetClass","@SystemEnum.Pages.AssetClass.GetHashCode()")' title='@ProjectSession.Resources.label.Common_ButtonAdvanceSearch'><i></i></a></li>
        <li><a href="javascript:void(0);" class="btn-icon btn-clear" title="@ProjectSession.Resources.label.Common_ButtonClear" onclick="return ClearAdvencedSearch(@SystemEnum.Pages.AssetClass.GetHashCode());"><i></i></a></li>
        <li><a href="javascript:void(0);" class="btn-icon btn-refresh" onclick="ReBindKendoGrid('AssetClassGrid');" title='@ProjectSession.Resources.label.Common_ButtonRefreshGrid'><i></i></a></li>
        @if (ProjectSession.PermissionAccess.SetupConfiguration_AssetClass_Export)
        {
            <li><a href="javascript:void(0);" class="btn-icon btn-xsl" onclick="ExportToExcel('AssetClassGrid', 'AssetClassID');" title="@ProjectSession.Resources.label.Common_ButtonExportToExcel"><i></i></a></li>
        }
    </ul>
</div> 

<!-- Kendo Grid-->
<div id="AssetClassData" class="@ProjectSession.CultureKendoClass">
    @(Html.Kendo().Grid<CMMS.Model.AssetClasse>()
        .Name("AssetClassGrid")
        .HtmlAttributes(new { @class = "kl-grid" })
        .Columns(columns =>
        {
            columns.Bound(c => c.AssetClassCode).Title(ProjectSession.Resources.message.Asset_TextBlockAssetClassCode).Width(250);

            columns.Bound(c => c.AssetClass).Title(ProjectSession.Resources.message.Asset_TextBlockAssetClassName);

            columns.Bound(c => c.AltAssetClass).HtmlAttributes(new { @class = "text-right" }).Title(ProjectSession.Resources.message.Asset_TextBlockAltAssetClassName);

            if (ProjectSession.PermissionAccess.SetupConfiguration_AssetClass_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_AssetClass_Deleterecords)
            {
                columns.Bound(c => c.AssetClassID).ClientTemplate("<center>" + (ProjectSession.PermissionAccess.SetupConfiguration_AssetClass_Editrecords ? "<a class='action' title='" + ProjectSession.Resources.label.Common_ButtonEdit + "'  style='cursor:pointer' data-toggle='modal' data-target='\\#AssetClassModal' onclick='OpenAssetClassEditWindow(#: AssetClassID#)'><i class='glyphicon glyphicon-pencil'></i></a>&nbsp;" : "") + "" + (ProjectSession.PermissionAccess.SetupConfiguration_AssetClass_Deleterecords ? "<a class='action delete-button'  href='javascript:void(0);'  class='delete-ic' data-id='#: AssetClassID #' style='cursor:pointer'><i class='glyphicon glyphicon-trash' title='" + ProjectSession.Resources.label.Common_ButtonDelete + "' ></i></a>" : "") + "</center>")
                                                .Title("<center>" + ProjectSession.Resources.label.Common_ButtonAction + "</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Width(80).Filterable(false);
            }
        })
        .Filterable()
        .Sortable(sortable => sortable.AllowUnsort(false))
        .Scrollable()
        .Excel(excel => excel.FileName("Asset Class.xlsx").Filterable(true).AllPages(true).ProxyURL(Url.Action("Excel_Export_Save", "GridExport", new { area = string.Empty })))
        .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
        .Events(events => events.DataBound("onDataBound").ExcelExport("excelExport"))
        .DataSource(dataSource =>
                                dataSource.Ajax()
                                .PageSize(ProjectConfiguration.PageSize)
                                .Sort(model => model.Add("AssetClassCode").Ascending())
                                 .Model(model =>
                                 {
                                     model.Id(p => p.AssetClassID);
                                     model.Field(p => p.AssetClassCode);
                                 })
                                .ServerOperation(true)
                                .Read(read => read.Action(Actions.GetAssetClassList, Controllers.Configurations, new { area = Areas.Configurations }).Data("BindParameters").Type(HttpVerbs.Post))
        )
    )

</div>


<!-- -------------search order------------- -->
<div id="search-order" class="modal fade" role="dialog"></div>

<!-- -------------Manage Order------------- -->
<div id="AssetClassModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-mg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"></button>
                <h4 class="modal-title">@ProjectSession.Resources.menu.Asset_MenuAssetClass</h4>
            </div>
            <form role="form" id="frmAssetClass">
                <input type="hidden" name="hdnAssetClassID" id="hdnAssetClassID" />
                <div class="modal-body">
                    <div id="Highlights" class="tab-pane active" role="tabpanel">
                        <div class="form-horizontal">
                            <div id="divModelError"></div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.message.Asset_TextBlockAssetClassCode<span class="cfont">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="AssetClassCode" id="txtAssetClassCode" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.message.Asset_TextBlockAssetClassCode" maxlength="50">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.message.Asset_TextBlockAssetClassName<span class="cfont">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="AssetClass" id="txtAssetClass" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.message.Asset_TextBlockAssetClassName" maxlength="255">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.message.Asset_TextBlockAltAssetClassName</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="txtAltAssetClass" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.message.Asset_TextBlockAltAssetClassName" maxlength="255">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer box-footer">
                    @if (ProjectSession.PermissionAccess.SetupConfiguration_AssetClass_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_AssetClass_Createnewrecords)
                    {
                        <button type="submit" class="btn btn-primary" id="btnSave"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
                    }
                    <button type="button" class="btn btn-default" data-dismiss="modal">@ProjectSession.Resources.label.Common_ButtonClose</button>
                </div>
            </form>
        </div>

    </div>
</div>

<script type="text/javascript">
    var kendoGridId = 'AssetClassGrid';
    var intPageID = '@SystemEnum.Pages.AssetClass.GetHashCode()';

    $(document).ready(function () {
        validator = $('#frmAssetClass').validate({
            rules: {
                AssetClassCode: { required: true },
                AssetClass: { required: true },
            },
            messages: {
                AssetClassCode: { required: '' },
                AssetClass: { required: '' },
            }
        });
    });

    function BindParameters() {
        return {
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };

    function OpenAssetClassEditWindow(id) {
        if (id > 0) {
            $.ajax({
                url: '@Url.Action(Actions.GetAssetClassListByID, Controllers.Configurations, new { area = Areas.Configurations })',
                type: "POST",
                data: addRequestVerificationToken({ AssetClassID: id }),
                success: function (result) {
                    $("#hdnAssetClassID").val(result.AssetClassID);
                    $("#txtAssetClassCode").val(result.AssetClassCode);
                    $("#txtAssetClass").val(result.AssetClass);
                    $("#txtAltAssetClass").val(result.AltAssetClass);
                     @if (!ProjectSession.PermissionAccess.SetupConfiguration_AssetClass_ChangeMastersCodes)
                    {
                        <text>$("#txtAssetClassCode").attr("disabled", "disabled");</text>
                    }

                    @if (ProjectSession.PermissionAccess.SetupConfiguration_AssetClass_Editrecords)
                    {
                        <text>$("#btnSave").show(); </text>
                    }
                    else if (ProjectSession.PermissionAccess.SetupConfiguration_AssetClass_Createnewrecords)
                    {
                        <text>$("#btnSave").hide(); </text>
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    ShowMessage('@SystemEnum.MessageType.danger.ToString()', '@ProjectSession.Resources.message.Common_MsgErrorContactAdmin', "#divMessage");
                }
            });
        }
        else {
            ClearAllInputs("frmAssetClass");
            $("#txtAssetClassCode").removeAttr("disabled");
            @if (ProjectSession.PermissionAccess.SetupConfiguration_AssetClass_Createnewrecords)
            {
                <text>$("#btnSave").show(); </text>
            }
            else if (ProjectSession.PermissionAccess.SetupConfiguration_AssetClass_Editrecords)
            {
                <text>$("#btnSave").hide(); </text>
            }
        }
    }

    $("#AssetClassGrid tbody").on("dblclick", "tr[role='row']", function (e) {
        var grid = $("#AssetClassGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        $("#AssetClassModal").modal("show");
        OpenAssetClassEditWindow(model.AssetClassID);
        //invoke controller
    });

</script>

@if (ProjectSession.PermissionAccess.SetupConfiguration_AssetClass_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_AssetClass_Createnewrecords)
{
    <script type="text/javascript">

        $('#frmAssetClass').on('submit', function (e) {
            if ($("#frmAssetClass").valid()) {
                if (e.isDefaultPrevented()) {
                    // handle the invalid form...
                } else {

                    var areaId = $("#hdnAssetClassID").val();
                    var changedObj = {
                        AssetClassID: areaId == '' ? 0 : areaId,
                        AssetClassCode: $("#txtAssetClassCode").val(),
                        AssetClass: $("#txtAssetClass").val(),
                        AltAssetClass: $("#txtAltAssetClass").val(),
                    };

                    $.ajax({
                        url: '@Url.Action(Actions.ManageAssetClass, Controllers.Configurations, new { area = Areas.Configurations })',
                        type: "POST",
                        data: addRequestVerificationToken(changedObj),
                        dataType: "json",
                        success: function (result) {
                            if (result[0] == 0) {
                                ShowMessage(result[1], result[2], "#divModelError");
                            }
                            else {
                                $('#AssetClassModal').modal("hide");
                                ShowMessage(result[0], result[1], "#divMessage");
                                ReBindKendoGrid("AssetClassGrid");
                            }
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            showErrorMessage();
                        }
                    });
                    e.preventDefault();
                }
            }
            else {
                e.preventDefault();
            }
        })
    </script>
}

@if (ProjectSession.PermissionAccess.SetupConfiguration_AssetClass_Deleterecords)
{
    <script type="text/javascript">

    function onDataBound(arg) {
        confirmDeleteMsg(msgText, okText, cancelText, onConfirmCallback, confirmDirection);
        gridProperPaging(this);
    }

    function onConfirmCallback(sender) {
        var id = $(this).data("id");
        $.ajax({
            url: '@Url.Action(Actions.DeleteAssetClass, Controllers.Configurations, new { area = Areas.Configurations })',
            type: "POST",
            data: addRequestVerificationToken({ AssetClassID: id }),
            dataType: "json",
            success: function (result) {
                ClearAllInputs("frmAssetClass");
                ShowMessage(result[0], result[1], "#divMessage");
                ReBindKendoGrid("AssetClassGrid");
            },
            error: function (xhr, ajaxOptions, thrownError) {
                showErrorMessage();
            }
        });
    }
    </script>
}
else
{
    <script>
        function onDataBound(arg) {
            gridProperPaging(this);
        }
    </script>
}
