﻿@using CMMS.Infrastructure;
@using CMMS.Pages;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.AntiForgeryToken()

<div class="head1">
    <h1>
        @ProjectSession.Resources.label.Asset_TextBlockAssetCategory
    </h1>
    <ul class="sub_btn">
        @if (ProjectSession.PermissionAccess.SetupConfiguration_AssetCategories_Createnewrecords)
        {
            <li><a href="javascript:void(0);" class="btn-icon btn-add" data-toggle="modal" data-target="#AssetCategoryModal" data-backdrop="static" onclick="OpenAssetCategoryEditWindow(0);" title='@ProjectSession.Resources.label.Common_ButtonAdd'><i></i></a></li>
        }
        <li><a href="javascript:void(0);" class="btn-icon btn-search" data-toggle="modal" data-target="#search-order" onclick='OpenAdvancedSearch("@ProjectSession.Resources.label.Asset_TextBlockAssetCategory","@SystemEnum.Pages.AssetCategories.GetHashCode()")' title='@ProjectSession.Resources.label.Common_ButtonAdvanceSearch'><i></i></a></li>
        <li><a href="javascript:void(0);" class="btn-icon btn-clear" title="@ProjectSession.Resources.label.Common_ButtonClear" onclick="return ClearAdvencedSearch(@SystemEnum.Pages.AssetCategories.GetHashCode());"><i></i></a></li>
        <li><a href="javascript:void(0);" class="btn-icon btn-refresh" onclick="ReBindKendoGrid('AssetCategoryGrid');" title='@ProjectSession.Resources.label.Common_ButtonRefreshGrid'><i></i></a></li>
        @if (ProjectSession.PermissionAccess.SetupConfiguration_AssetCategories_Export)
        {
            <li><a href="javascript:void(0);" class="btn-icon btn-xsl" onclick="ExportToExcel('AssetCategoryGrid', 'AssetCatID');" title="@ProjectSession.Resources.label.Common_ButtonExportToExcel"><i></i></a></li>
        }
    </ul>
</div> 

<!-- Kendo Grid-->
<div id="AssetCategoryData" class="@ProjectSession.CultureKendoClass">
    @(Html.Kendo().Grid<CMMS.Model.Assetcategorie>()
        .Name("AssetCategoryGrid")
        .HtmlAttributes(new { @class = "kl-grid" })
        .Columns(columns =>
        {
            columns.Bound(c => c.AssetCatCode).Title(ProjectSession.Resources.label.Asset_TextBlockAssetCatCode).Width(250);

            columns.Bound(c => c.AssetCategory).Title(ProjectSession.Resources.label.Asset_TextBlockAssetCatName);

            columns.Bound(c => c.AltAssetCategory).HtmlAttributes(new { @class = "text-right" }).Title(ProjectSession.Resources.label.Asset_TextBlockAltAssetCatName);

            if (ProjectSession.PermissionAccess.SetupConfiguration_AssetCategories_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_AssetCategories_Deleterecords)
            {
                columns.Bound(c => c.AssetCatID).ClientTemplate("<center>" + (ProjectSession.PermissionAccess.SetupConfiguration_AssetCategories_Editrecords ? "<a class='action' title='" + ProjectSession.Resources.label.Common_ButtonEdit + "'  style='cursor:pointer' data-toggle='modal' data-target='\\#AssetCategoryModal' onclick='OpenAssetCategoryEditWindow(#: AssetCatID#)'><i class='glyphicon glyphicon-pencil'></i></a>&nbsp;" : "") + "" + (ProjectSession.PermissionAccess.SetupConfiguration_AssetCategories_Deleterecords ? "<a class='action delete-button'  href='javascript:void(0);'  class='delete-ic' data-id='#: AssetCatID #' style='cursor:pointer'><i class='glyphicon glyphicon-trash' title='" + ProjectSession.Resources.label.Common_ButtonDelete + "' ></i></a>" : "") + "</center>")
                                            .Title("<center>" + ProjectSession.Resources.label.Common_ButtonAction + "</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Width(80).Filterable(false);
            }
        })
        .Filterable()
        .Sortable(sortable => sortable.AllowUnsort(false))
        .Scrollable()
        .Excel(excel => excel.FileName("Asset Category.xlsx").Filterable(true).AllPages(true).ProxyURL(Url.Action("Excel_Export_Save", "GridExport", new { area = string.Empty })))
        .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
        .Events(events => events.DataBound("onDataBound").ExcelExport("excelExport"))
        .DataSource(dataSource =>
                                dataSource.Ajax()
                                .PageSize(ProjectConfiguration.PageSize)
                                .Sort(model => model.Add("AssetCatCode").Ascending())
                                 .Model(model =>
                                 {
                                     model.Id(p => p.AssetCatID);
                                     model.Field(p => p.AssetCatCode);
                                 })
                                .ServerOperation(true)
                                .Read(read => read.Action(Actions.GetAssetCategoriesList, Controllers.Configurations, new { area = Areas.Configurations }).Data("BindParameters").Type(HttpVerbs.Post))
        )
    )

</div>

<div id="search-order" class="modal fade" role="dialog"></div>

<div id="AssetCategoryModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-mg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"></button>
                <h4 class="modal-title">@ProjectSession.Resources.label.Asset_TextBlockAssetCategory</h4>
            </div>
            <form role="form" id="frmAssetCategory">
                <input type="hidden" name="hdnAssetCatID" id="hdnAssetCatID" />
                <div class="modal-body">
                    <div id="Highlights" class="tab-pane active" role="tabpanel">
                        <div class="form-horizontal">
                            <div id="divModelError"></div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.Asset_TextBlockAssetCatCode<span class="cfont">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="AssetCatCode" id="txtAssetCatCode" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.Asset_TextBlockAssetCatCode" maxlength="50">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.Asset_TextBlockAssetCatName<span class="cfont">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="AssetCategory" id="txtAssetCategory" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.Asset_TextBlockAssetCatName" maxlength="255">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.Asset_TextBlockAltAssetCatName</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="txtAltAssetCategory" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.Asset_TextBlockAltAssetCatName" maxlength="255">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer box-footer">
                    @if (ProjectSession.PermissionAccess.SetupConfiguration_AssetCategories_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_AssetCategories_Createnewrecords)
                    {
                        <button type="submit" class="btn btn-primary" id="btnSave"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
                    }
                    <button type="button" class="btn btn-default" data-dismiss="modal">@ProjectSession.Resources.label.Common_ButtonClose</button>
                </div>
            </form>
        </div>

    </div>
</div>

<script type="text/javascript">
    var kendoGridId = 'AssetCategoryGrid';
    var intPageID = '@SystemEnum.Pages.AssetCategories.GetHashCode()';

    $(document).ready(function () {
        validator = $('#frmAssetCategory').validate({
            rules: {
                AssetCatCode: { required: true },
                AssetCategory: { required: true },
            },
            messages: {
                AssetCatCode: { required: '' },
                AssetCategory: { required: '' },
            }
        });
    });

    function BindParameters() {
        return {
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };



    function OpenAssetCategoryEditWindow(id) {
        if (id > 0) {
            $.ajax({
                url: '@Url.Action(Actions.GetAssetCategoriesListByID, Controllers.Configurations, new { area = Areas.Configurations })',
                type: "POST",
                data: addRequestVerificationToken({ AssetCatID: id }),
                success: function (result) {
                    $("#hdnAssetCatID").val(result.AssetCatID);
                    $("#txtAssetCatCode").val(result.AssetCatCode);
                    $("#txtAssetCategory").val(result.AssetCategory);
                    $("#txtAltAssetCategory").val(result.AltAssetCategory);
                    @if (!ProjectSession.PermissionAccess.SetupConfiguration_AssetCategories_ChangeMastersCodes)
                    {
                        <text>$("#txtAssetCatCode").attr("disabled", "disabled");</text>
                    }

                    @if (ProjectSession.PermissionAccess.SetupConfiguration_AssetCategories_Editrecords)
                    {
                        <text>$("#btnSave").show(); </text>
                    }
                    else if (ProjectSession.PermissionAccess.SetupConfiguration_AssetCategories_Createnewrecords)
                    {
                        <text>$("#btnSave").hide(); </text>
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    ShowMessage('@SystemEnum.MessageType.danger.ToString()', '@ProjectSession.Resources.message.Common_MsgErrorContactAdmin', "#divMessage");
                }
            });
        }
        else {
            ClearAllInputs("frmAssetCategory");
            $("#txtAssetCatCode").removeAttr("disabled");
            @if (ProjectSession.PermissionAccess.SetupConfiguration_AssetCategories_Createnewrecords)
            {
                <text>$("#btnSave").show(); </text>
            }
            else if (ProjectSession.PermissionAccess.SetupConfiguration_AssetCategories_Editrecords)
            {
                <text>$("#btnSave").hide(); </text>
            }
        }
    }

    $("#AssetCategoryGrid tbody").on("dblclick", "tr[role='row']", function (e) {
        var grid = $("#AssetCategoryGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        $("#AssetCategoryModal").modal("show");
        OpenAssetCategoryEditWindow(model.AssetCatID);
        //invoke controller
    });

</script>
@if (ProjectSession.PermissionAccess.SetupConfiguration_AssetCategories_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_AssetCategories_Createnewrecords)
{
    <script type="text/javascript">

        $('#frmAssetCategory').on('submit', function (e) {
            if ($("#frmAssetCategory").valid()) {
                if (e.isDefaultPrevented()) {
                    // handle the invalid form...
                } else {

                    var areaId = $("#hdnAssetCatID").val();
                    var changedObj = {
                        AssetCatID: areaId == '' ? 0 : areaId,
                        AssetCatCode: $("#txtAssetCatCode").val(),
                        AssetCategory: $("#txtAssetCategory").val(),
                        AltAssetCategory: $("#txtAltAssetCategory").val(),
                    };

                    $.ajax({
                        url: '@Url.Action(Actions.ManageAssetCategories, Controllers.Configurations, new { area = Areas.Configurations })',
                        type: "POST",
                        data: addRequestVerificationToken(changedObj),
                        dataType: "json",
                        success: function (result) {
                            if (result[0] == 0) {
                                ShowMessage(result[1], result[2], "#divModelError");
                            }
                            else {
                                $('#AssetCategoryModal').modal("hide");
                                ShowMessage(result[0], result[1], "#divMessage");
                                ReBindKendoGrid("AssetCategoryGrid");
                            }
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            showErrorMessage();
                        }
                    });
                    e.preventDefault();
                }
            }
            else {
                e.preventDefault();
            }
        })
    </script>
}

@if (ProjectSession.PermissionAccess.SetupConfiguration_AssetCategories_Deleterecords)
{
    <script type="text/javascript">

        function onDataBound(arg) {
            confirmDeleteMsg(msgText, okText, cancelText, onConfirmCallback, confirmDirection);
            gridProperPaging(this);
        }

        function onConfirmCallback(sender) {
            var id = $(this).data("id");
            $.ajax({
                url: '@Url.Action(Actions.DeleteAssetCategories, Controllers.Configurations, new { area = Areas.Configurations })',
                type: "POST",
                data: addRequestVerificationToken({ AssetCatID: id }),
                dataType: "json",
                success: function (result) {
                    ClearAllInputs("frmAssetCategory");
                    ShowMessage(result[0], result[1], "#divMessage");
                    ReBindKendoGrid("AssetCategoryGrid");
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }
    </script>
}
else
{
    <script>
        function onDataBound(arg) {
            gridProperPaging(this);
        }
    </script>

}
