﻿@using CMMS.Infrastructure;
@using CMMS.Pages;
@using CMMS.Model
@using CMMS.Service
@using CMMS.Model
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.AntiForgeryToken()

<div class="head1">
    <h1>
        @ProjectSession.Resources.menu.NotificationSetup_MenuAssetCategoryNotification
    </h1>
    <ul class="sub_btn">
        @if (ProjectSession.PermissionAccess.SLA_AssetCategoryNotification_Createnewrecords)
        {
            <li><a href="javascript:void(0);" class="btn-icon btn-add" data-toggle="modal" data-target="#AssetCategoryNotificationModal" data-backdrop="static" onclick="OpenAssetCategoryNotificationEditWindow(0);" title='@ProjectSession.Resources.label.Common_ButtonAdd'><i></i></a></li>
        }
        <li><a href="javascript:void(0);" class="btn-icon btn-search" data-toggle="modal" data-target="#search-order" onclick='OpenAdvancedSearch("@ProjectSession.Resources.menu.NotificationSetup_MenuAssetCategoryNotification","@SystemEnum.Pages.AssetCategoryNotification.GetHashCode()")' title='@ProjectSession.Resources.label.Common_ButtonAdvanceSearch'><i></i></a></li>
        <li><a href="javascript:void(0);" class="btn-icon btn-clear" title="@ProjectSession.Resources.label.Common_ButtonClear" onclick="return ClearAdvencedSearch(@SystemEnum.Pages.AssetCategoryNotification.GetHashCode());"><i></i></a></li>
        <li><a href="javascript:void(0);" class="btn-icon btn-refresh" onclick="ReBindKendoGrid('AssetCategoryNotificationGrid');" title='@ProjectSession.Resources.label.Common_ButtonRefreshGrid'><i></i></a></li>
        @if (ProjectSession.PermissionAccess.SLA_AssetCategoryNotification_Export)
        {
            <li><a href="javascript:void(0);" class="btn-icon btn-xsl" onclick="ExportToExcel('AssetCategoryNotificationGrid', 'AssetCategoryNotificationID');" title="@ProjectSession.Resources.label.Common_ButtonExportToExcel"><i></i></a></li>
        }
    </ul>
</div>
<!-- Kendo Grid-->
<div class="@ProjectSession.CultureKendoClass">
        @(Html.Kendo().Grid<CMMS.Model.AssetCategoryNotification>()
        .Name("AssetCategoryNotificationGrid")
        .HtmlAttributes(new { @class = "kl-grid" })
        .Columns(columns =>
        {
            columns.Bound(c => c.L2Code).Title(ProjectSession.Resources.label.JobRequest_TextBlockCityCode).Width(150)
     .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterSite", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

            columns.Bound(c => c.AssetCatCode).Title(ProjectSession.Resources.label.Asset_TextBlockAssetCatCode);

            columns.Bound(c => c.AssetCategory).Title(ProjectSession.Resources.label.Asset_TextBlockAssetCatName);

            columns.Bound(c => c.AltAssetCategory).HtmlAttributes(new { @class = "text-right" }).Title(ProjectSession.Resources.label.Asset_TextBlockAltAssetCatName);

            columns.Bound(c => c.Response).Title(ProjectSession.Resources.label.NotificationSetup_TextBlockResponse);

            columns.Bound(c => c.Resolution).Title(ProjectSession.Resources.label.NotificationSetup_TextBlockResolution);

            if (ProjectSession.PermissionAccess.SLA_AssetCategoryNotification_Editrecords || ProjectSession.PermissionAccess.SLA_AssetCategoryNotification_Deleterecords)
            {
                columns.Bound(c => c.AssetCategoryNotificationID).ClientTemplate("<center>" + (ProjectSession.PermissionAccess.SLA_AssetCategoryNotification_Editrecords ? "<a class='action' title='" + ProjectSession.Resources.label.Common_ButtonEdit + "'  style='cursor:pointer' data-toggle='modal' data-target='\\#AssetCategoryNotificationModal' onclick='OpenAssetCategoryNotificationEditWindow(#: AssetCategoryNotificationID#)'><i class='glyphicon glyphicon-pencil'></i></a>&nbsp;" : "")
                                                                        + "" + (ProjectSession.PermissionAccess.SLA_AssetCategoryNotification_Deleterecords ? "<a class='action delete-button'  href='javascript:void(0);'  class='delete-ic' data-id='#: AssetCategoryNotificationID #' style='cursor:pointer'><i class='glyphicon glyphicon-trash' title='" + ProjectSession.Resources.label.Common_ButtonDelete + "' ></i></a>" : "") + "</center>")
                                            .Title("<center>" + ProjectSession.Resources.label.Common_ButtonAction + "</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Width(80).Filterable(false);
            }
        })
        .Filterable()
        .Sortable(sortable => sortable.AllowUnsort(false))
        .Scrollable()
                .Excel(excel => excel.FileName("Asset Category Notification.xlsx").Filterable(true).AllPages(true).ProxyURL(Url.Action("Excel_Export_Save", "GridExport", new { area = string.Empty })))
        .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
        .Events(events => events.DataBound("onDataBound").ExcelExport("excelExport"))
        .DataSource(dataSource =>
                                dataSource.Ajax()
                                .PageSize(ProjectConfiguration.PageSize)
                                 .Model(model =>
                                 {
                                     model.Id(p => p.AssetCategoryNotificationID);
                                     model.Field(p => p.AssetCatID);
                                 })
                                .ServerOperation(true)
                                        .Read(read => read.Action(Actions.GetAssetCategoryNotificationList, Controllers.Configurations, new { area = Areas.Configurations }).Data("BindParameters").Type(HttpVerbs.Post))
        )
    )

</div>

<br/><br /><br />

<div class="head1">
    <h1>
        @ProjectSession.Resources.label.Asset_TextBlockNotificationEmployee
    </h1>
    <ul class="sub_btn">
        
            <li>                
                <a href="javascript:void(0)" class="btn-icon btn-add" data-toggle="modal" id="btnOpenEmployeePopUp" data-backdrop="static" onclick="OpenEmployeePopUp();" title='@ProjectSession.Resources.label.Common_ButtonAdd'><i></i></a>
            </li>
        
    </ul>
</div>
<!-- Kendo Grid Employee Notification List-->
<div class="@ProjectSession.CultureKendoClass">
    @(Html.Kendo().Grid<CMMS.Model.NotificationEmployee>()
        .Name("NotificationEmplaoyeeGrid")
        .HtmlAttributes(new { @class = "kl-grid" })
        .Columns(columns =>
        {
            columns.Bound(c => c.Name).Title(ProjectSession.Resources.label.Asset_TextBlockEmployeeName);
            columns.Bound(c => c.EmployeeNO).Title(ProjectSession.Resources.label.Asset_TextBlockEmployeeNumber);

            if (ProjectSession.PermissionAccess.SLA_AssetCategoryNotification_Deleterecords)
            {
                columns.Bound(c => c.NotificationEmployeeID).ClientTemplate("<center>" + (ProjectSession.PermissionAccess.SLA_AssetCategoryNotification_Deleterecords ? "<a class='action delete-button'  href='javascript:void(0);'  class='delete-ic'  data-id='#: NotificationEmployeeID #_notificationemp' style='cursor:pointer'><i class='glyphicon glyphicon-trash' title='" + ProjectSession.Resources.label.Common_ButtonDelete + "' ></i></a>" : "") + "</center>")
                                        .Title("<center>" + ProjectSession.Resources.label.Common_ButtonAction + "</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Width(80).Filterable(false);
            }
        })
        .Filterable()
        .Sortable(sortable => sortable.AllowUnsort(false))
        .Scrollable()
        .Excel(excel => excel.FileName("Asset Category Notification Employees.xlsx").Filterable(true).AllPages(true).ProxyURL(Url.Action("Excel_Export_Save", "GridExport", new { area = string.Empty })))
        .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
        .Events(events => events.DataBound("onDataBound").ExcelExport("excelExport"))
        .DataSource(dataSource =>
                                 dataSource.Ajax()
                                .PageSize(ProjectConfiguration.PageSize)
                                 .Model(model =>
                                 {
                                     model.Id(p => p.NotificationEmployeeID);
                                     //model.Field(p => p.AssetCatID);
                                 })
                                .ServerOperation(true)
                                .Read(read => read.Action(Actions.GetAssetCategoryNotificationEmployeeList, Controllers.Configurations, new { area = Areas.Configurations }).Data("BindNotificationParameters").Type(HttpVerbs.Post))
        )
    )

</div>

<div id="employeeGridModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" title="@ProjectSession.Resources.label.Common_ButtonClose"></button>
                <h4 class="modal-title">@ProjectSession.Resources.label.Employee_RadTabItemEmployee</h4>
            </div>
            <div class="modal-body">
                <div id="Highlights" class="tab-pane active" role="tabpanel">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div id="employeeData" class="@ProjectSession.CultureKendoClass">
                                    @(Html.Kendo().Grid<CMMS.Model.employees>()
                                            .Name("employeeGrid")
                                            .HtmlAttributes(new { @class = "kl-grid" })
                                    .Columns(columns =>
                                    {
                                        columns.Bound(c => c.EmployeeNO).Title(ProjectSession.Resources.label.Employee_TextBlockEmployeeNO).Width(150);

                                        columns.Bound(c => c.L2Code).Title(ProjectSession.Resources.label.JobRequest_TextBlockCityCode).Width(150)
                                        .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterSite", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

                                        columns.Bound(c => c.Name).Title(ProjectSession.Resources.label.Employee_TextBlockEmployeeName).Width(200);

                                        columns.Bound(c => c.MaintDivisionCode).Title(ProjectSession.Resources.label.MaintDivision_TextBlockMaintDivCode).Width(150)
                                        .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterMaintenanceDivision", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

                                        columns.Bound(c => c.MaintDeptCode).Title(ProjectSession.Resources.label.MaintenanceDept_TextBlockMaintDeptCode).Width(150)
                                       .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterMaintenanceDepartment", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

                                        columns.Bound(c => c.MaintSubDeptCode).Title(ProjectSession.Resources.label.MaintenanceSubDept_TextBlockMaintSubDeptCode).Width(180)
                                        .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterMaintenanceSubDepartment", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

                                        columns.Bound(c => c.Positions).Title(ProjectSession.Resources.label.Employee_TextBlockDesignation).Width(150);

                                        columns.Bound(c => c.CategoryName).Title(ProjectSession.Resources.label.Employee_TextBlockEmployeeCategory).Width(200)
                                        .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterEmpCategory", "GridFilter", new { area = string.Empty, @id = "1" }).Data("BindParameters").Type(HttpVerbs.Post))));

                                        columns.Bound(c => c.EmployeeStatus).Title(ProjectSession.Resources.label.Employee_TextBlockEmployeeStatus).Width(150)
                                        .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterEmpStatus", "GridFilter", new { area = string.Empty, @id = "1" }).Data("BindParameters").Type(HttpVerbs.Post))));

                                    })
                                    .Filterable()
                                    .Sortable(sortable => sortable.AllowUnsort(false))
                                    .Scrollable()
                                    .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
                                    .Events(events => events.DataBound("onDataBoundEmployee"))
                                    .Excel(excel => excel.FileName(ProjectSession.Resources.label.Employee_RadTabItemEmployee + ".xlsx").Filterable(true).AllPages(true))
                                    .DataSource(dataSource => dataSource.Ajax()
                                    .PageSize(ProjectConfiguration.PageSize)
                                     .Model(model =>
                                     {
                                         model.Id(p => p.EmployeeID);
                                         model.Field(p => p.Name);
                                     })
                                    .ServerOperation(true)
                                            .Read(read => read.Action(Actions.GetEmployeeAssignPage, Controllers.Management, new { area = Areas.Management }).Data("BindParametersEmployee").Type(HttpVerbs.Post))
                                    )
                                   .Resizable(resize => resize.Columns(true))
                                    )
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="modal-footer box-footer">
                    <button type="button" class="btn btn-primary" id="btnExportToExcelEmp" onclick="ExportToExcel('employeeGrid');"><span>@ProjectSession.Resources.label.Common_ButtonExportToExcel</span></button>
                </div>*@
        </div>
    </div>
</div>


<script type="text/javascript">
    var intNotificationTypeID = '@SystemEnum.NotificationType.AssetCategoryNotification.GetHashCode()';
    function OpenEmployeePopUp() {
        $("#employeeGridModal").modal("show");
        ReBindKendoGrid("employeeGrid");
        return false;
    }

    function onDataBoundEmployee(arg) {
        gridProperPaging(this);
    }

    function BindNotificationParameters() {
        return {
            notificationTypeID: intNotificationTypeID,
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function BindParametersEmployee() {
        return {
            strWhere: ' AND employees.EmployeeID not in (Select EmployeeID FROM NotificationEmployee where NotificationEmployee.NotificationTypeID=' + intNotificationTypeID + ')',
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    $("#employeeGrid tbody").on("dblclick", "tr[role='row']", function (e) {        
        var grid = $("#employeeGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        $("#employeeGridModal").modal("hide");        
        var employeeID = model.EmployeeID;
        AddNotificationEmployee(employeeID, intNotificationTypeID);        
        setTimeout(function () {
            ReBindKendoGrid("NotificationEmplaoyeeGrid");                  
        }, 500);
    });


    function AddNotificationEmployee(employeeID, notificationTypeId) {
        $.ajax({
            url: '@Url.Action(Actions.SaveNotificationEmployee, Controllers.Configurations, new { area = Areas.Configurations })',
            type: 'Post',
            data: addRequestVerificationToken({ employeeID: employeeID, notificationTypeId: notificationTypeId }),
            cache: false,
            async: false,
            success: function (result) {
                if (result[0] == 0) {
                    ShowMessage(result[1], result[2], "#divModelError");
                }
                else {                   
                    ShowMessage(result[0], result[1], "#divMessage");                    
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                showErrorMessage();                
            }
        });

    }


</script>

<!-- -------------search order------------- -->
<div id="search-order" class="modal fade" role="dialog"></div>

<!-- -------------Manage Order------------- -->
<div id="AssetCategoryNotificationModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-mg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"></button>
                <h4 class="modal-title">@ProjectSession.Resources.menu.NotificationSetup_MenuAssetCategoryNotification</h4>
            </div>
            <form role="form" id="frmAssetCategoryNotification">
                <input type="hidden" name="hdnAssetCategoryNotificationID" id="hdnAssetCategoryNotificationID" />
                <div class="modal-body">
                    <div id="Highlights" class="tab-pane active" role="tabpanel">
                        <div class="form-horizontal">
                            <div id="divModelError"></div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.Organisation_TextBlockOrgCode<span class="cfont">*</span></label>
                                <div class="col-sm-8">
                                    @Html.Hidden("hdnIsAreaEnableOrgWise")
                                    <div class="@ProjectSession.CultureKendoClass">
                                        @(Html.Kendo().DropDownList()
                                                    .Name("ddlOrganization")
                                            .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                            .DataTextField("L1No")
                                            .DataValueField("L1ID")                                                
                                                    .HtmlAttributes(new { style = "width: 100%", @required = "required", id = "ddlOrganization" })
                                            .Template("#= KendoDDLTemplate(data.L1No ,data.L1Name, data.L1AltName) #")
                                            .DataSource(source =>
                                            {
                                                source.Read(read =>
                                                {
                                                    read.Action(Actions.GetAllOrganisation, Controllers.Configurations, new { area = Areas.Configurations });
                                                });
                                            })
                                            .Value("")
                                        )
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.JobRequest_TextBlockCityCode<span class="cfont">*</span></label>
                                <div class="col-sm-8">
                                    <div class="@ProjectSession.CultureKendoClass">
                                        @(Html.Kendo().DropDownList()
                                                         .Name("ddlL2")
                                                         .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                                         .DataTextField("L2Code")
                                                         .DataValueField("L2ID")
                                                                 .HtmlAttributes(new { style = "width: 100%", @required = "required", id = "ddlL2" })
                                                         .ValueTemplate(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "#:L2Code # -- #: L2Altname # " : "#:L2Code # -- #: L2name #")
                                                         .Template("#= KendoDDLTemplate(data.L2Code ,data.L2name, data.L2Altname) #")                                                
                                                         .Events(m => m.DataBound("DataBoundDDLL2"))
                                                         .DataSource(source =>
                                                         {
                                                             if (ProjectSession.IsCentral)
                                                             {
                                                                 source.Read(read =>
                                                                 {
                                                                     read.Action(Actions.GetAllCities, Controllers.Configurations, new { area = Areas.Configurations }).Data("BindDropDownParameters");
                                                                 }).ServerFiltering(true);
                                                             }
                                                             else
                                                             {
                                                                 source.Read(read =>
                                                                 {
                                                                     read.Action(Actions.GetCitiesByEmployee, Controllers.Configurations, new { area = Areas.Configurations }).Data("BindDropDownParameters");
                                                                 }).ServerFiltering(true);

                                                             }
                                                         }).CascadeFrom("ddlOrganization").Value("")
                                        )
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.Asset_TextBlockAssetCategory<span class="cfont">*</span></label>
                                <div class="col-sm-8">
                                    <div class="@ProjectSession.CultureKendoClass">
                                        @(Html.Kendo().DropDownList()
                                        .Name("ddlAssetCategory")
                                            .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                            .DataTextField("AssetCatCode")
                                            .DataValueField("AssetCatID")
                                            .HtmlAttributes(new { style = "width: 100%", @required = "required", id = "ddlAssetCategory" })
                                            .Template("#= KendoDDLTemplate( data.AssetCatCode, data.AssetCategory,data.AltAssetCategory) #")
                                            .DataSource(source =>
                                            {
                                                source.Read(read =>
                                                {
                                                    read.Action(Actions.GetAllAssetCategories, Controllers.Configurations, new { area = Areas.Configurations });
                                                });
                                            })
                                            .Value("")
                                        )
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.NotificationSetup_TextBlockResponse<span class="cfont">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control allowNumberOnly" name="Response" id="txtResponse" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.NotificationSetup_TextBlockResponse" maxlength="5">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.NotificationSetup_TextBlockResolution<span class="cfont">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control allowNumberOnly" name="Resolution" id="txtResolution" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.NotificationSetup_TextBlockResolution" maxlength="5">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer box-footer">
                    @if (ProjectSession.PermissionAccess.SLA_AssetCategoryNotification_Editrecords || ProjectSession.PermissionAccess.SLA_AssetCategoryNotification_Createnewrecords)
                    {
                        <button type="submit" class="btn btn-primary" id="btnSave"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
                    }
                    <button type="button" class="btn btn-default" data-dismiss="modal">@ProjectSession.Resources.label.Common_ButtonClose</button>
                </div>
            </form>
        </div>

    </div>
</div>

<script type="text/javascript">
    var kendoGridId = 'AssetCategoryNotificationGrid';
    var intPageID = '@SystemEnum.Pages.AssetCategoryNotification.GetHashCode()';

    $(document).ready(function () {
        validator = $('#frmAssetCategoryNotification').validate({
            rules: {
                Response: { required: true },
                Resolution: { required: true },
            },
            messages: {
                Response: { required: '' },
                Resolution: { required: '' },
            }
        });
    });

    function BindParameters() {
        return {
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }
   
    function BindDropDownParameters() {
        return {
            cityID: $("#hdnL2Id").val(),
            orgID: $("#ddlOrganization").val()
        };
    }

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };

    function DataBoundDDLL2(e) {
        $("#ddlL2").data("kendoDropDownList").value($("#hdnL2Id").val());
    }

    function OpenAssetCategoryNotificationEditWindow(id) {
        if (id > 0) {
            $.ajax({
                url: '@Url.Action(Actions.GetAssetCategoryNotificationByID, Controllers.Configurations, new { area = Areas.Configurations })',
                type: "POST",
                data: addRequestVerificationToken({ AssetCategoryNotificationID: id }),
                success: function (result) {
                    $("#hdnAssetCategoryNotificationID").val(result.AssetCategoryNotificationID);
                    $("#ddlOrganization").data("kendoDropDownList").value(result.L1ID);
                    $("#hdnL2Id").val(result.L2ID);
                    $("#ddlL2").data("kendoDropDownList").value(result.L2ID);
                    $("#ddlAssetCategory").data("kendoDropDownList").value(result.AssetCatID);

                    $("#txtResponse").val(result.Response);
                    $("#txtResolution").val(result.Resolution);

                    @if (ProjectSession.PermissionAccess.SLA_AssetCategoryNotification_Editrecords)
                    {
                        <text>$("#btnSave").show(); </text>
                    }
                    else if (ProjectSession.PermissionAccess.SLA_AssetCategoryNotification_Createnewrecords)
                    {
                        <text>$("#btnSave").hide(); </text>
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    ShowMessage('@SystemEnum.MessageType.danger.ToString()', '@ProjectSession.Resources.message.Common_MsgErrorContactAdmin', "#divMessage");
                }
            });
        }
        else {
            ClearAllInputs("frmAssetCategoryNotification");
            @if (ProjectSession.PermissionAccess.SLA_AssetCategoryNotification_Createnewrecords)
            {
                <text>$("#btnSave").show(); </text>
            }
            else if (ProjectSession.PermissionAccess.SLA_AssetCategoryNotification_Editrecords)
            {
                <text>$("#btnSave").hide(); </text>
            }
        }
    }
    $("#AssetCategoryNotificationGrid tbody").on("dblclick", "tr[role='row']", function (e) {
        var grid = $("#AssetCategoryNotificationGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        $("#AssetCategoryNotificationModal").modal("show");
        OpenAssetCategoryNotificationEditWindow(model.AssetCategoryNotificationID);
        //invoke controller
    });
</script>
@if (ProjectSession.PermissionAccess.SLA_AssetCategoryNotification_Editrecords || ProjectSession.PermissionAccess.SLA_AssetCategoryNotification_Createnewrecords)
{
    <script type="text/javascript">

        $('#frmAssetCategoryNotification').on('submit', function (e) {
            if ($("#frmAssetCategoryNotification").valid()) {
                if (!e.isDefaultPrevented()) {
                    if (reValidateDropDowns($(this))) {
                        var areaId = $("#hdnAssetCategoryNotificationID").val();
                        var changedObj = {
                            AssetCategoryNotificationID: areaId == '' ? 0 : areaId,
                            L1ID: $('#ddlOrganization').val(),
                            L2ID: $('#ddlL2').val(),
                            AssetCatID: $('#ddlAssetCategory').val(),
                            Response: $("#txtResponse").val(),
                            Resolution: $("#txtResolution").val(),
                        };
                        $.ajax({
                            url: '@Url.Action(Actions.ManageAssetCategoryNotification, Controllers.Configurations, new { area = Areas.Configurations })',
                            type: "POST",
                            data: addRequestVerificationToken(changedObj),
                            dataType: "json",
                            success: function (result) {
                                if (result[0] == 0) {
                                    ShowMessage(result[1], result[2], "#divModelError");
                                }
                                else {
                                    $('#AssetCategoryNotificationModal').modal("hide");
                                    ShowMessage(result[0], result[1], "#divMessage");
                                    ReBindKendoGrid("AssetCategoryNotificationGrid");
                                }
                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                showErrorMessage();
                            }
                        });
                    }
                    e.preventDefault();
                }
            }
            else {
                e.preventDefault();
            }
        });

    </script>
}
@if (ProjectSession.PermissionAccess.SLA_AssetCategoryNotification_Deleterecords)
{
    <script type="text/javascript">

        function onDataBound(arg) {
            confirmDeleteMsg(msgText, okText, cancelText, onConfirmCallback, confirmDirection);
            gridProperPaging(this);
        }

        function onConfirmCallback(sender) {
            var id = $(this).data("id");
           
            if (id.toString().indexOf("_") > 0) {
                id = id.split("_")[0];
                $.ajax({
                    url: '@Url.Action(Actions.DeleteNotificationEmployee, Controllers.Configurations, new { area = Areas.Configurations })',
                    type: "POST",
                    data: addRequestVerificationToken({ NotificationEmployeeID: id }),
                    dataType: "json",
                    success: function (result) {                        
                        ShowMessage(result[0], result[1], "#divMessage");
                        ReBindKendoGrid("NotificationEmplaoyeeGrid");
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        showErrorMessage();
                    }
                });
            }
            else {
                
                $.ajax({
                    url: '@Url.Action(Actions.DeleteAssetCategoryNotification, Controllers.Configurations, new { area = Areas.Configurations })',
                    type: "POST",
                    data: addRequestVerificationToken({ AssetCategoryNotificationID: id }),
                    dataType: "json",
                    success: function (result) {
                        ClearAllInputs("frmAssetCategoryNotification");
                        ShowMessage(result[0], result[1], "#divMessage");
                        ReBindKendoGrid("AssetCategoryNotificationGrid");
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        showErrorMessage();
                    }
                });

            }
            
            




        }
    </script>
}
else
{
    <script>

        function onDataBound(arg) {
            gridProperPaging(this);
        }
    </script>
}

