﻿@using CMMS.Infrastructure;
@using CMMS.Pages;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #stockCodeItemModel .modal-content {
        margin-top: 10%;
    }
</style>
@Html.AntiForgeryToken()
<div class="head1">
    <h1>@ProjectSession.Resources.label.BoM_TextBlockBoMList</h1>
    <ul class="sub_btn">
        @if (ProjectSession.PermissionAccess.SetupConfiguration_BoMList_Createnewrecords)
        {
            <li>
                <a href="javascript:void(0);" class="btn-icon btn-add" data-toggle="modal" data-target="#BoMListModal" data-backdrop="static" onclick="OpenBoMListEditWindow(0);" title="@ProjectSession.Resources.label.Common_ButtonAdd"><i></i></a>
            </li>
        }
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-search" data-toggle="modal" data-target="#search-order" onclick='OpenAdvancedSearch("@ProjectSession.Resources.label.BoM_TextBlockBoMList","@SystemEnum.Pages.BoMList.GetHashCode()");' title="@ProjectSession.Resources.label.Common_ButtonAdvanceSearch"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-clear" title="@ProjectSession.Resources.label.Common_ButtonClear" onclick="return ClearAdvencedSearch(@SystemEnum.Pages.BoMList.GetHashCode());"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-refresh" onclick="ReBindKendoGrid('bomListGrid');" title="@ProjectSession.Resources.label.Common_ButtonRefreshGrid"><i></i></a>
        </li>
        @if (ProjectSession.PermissionAccess.SetupConfiguration_BoMList_Export)
        {
            <li>
                <a href="javascript:void(0);" class="btn-icon btn-xsl" onclick="ExportToExcel('bomListGrid', 'PartsListID');" title="@ProjectSession.Resources.label.Common_ButtonExportToExcel"><i></i></a>
            </li>
        }
    </ul>
</div>

<!-- Kendo Grid-->
<div id="bomListData" class="@ProjectSession.CultureKendoClass">
    @(Html.Kendo().Grid<CMMS.Model.PartsList>()
        .Name("bomListGrid")
        .HtmlAttributes(new { @class = "kl-grid" })
        .Columns(columns =>
        {
            columns.Bound(c => c.PartsListNo).Title(ProjectSession.Resources.label.BoM_TextBlockBoMNumber).Width(180);

            columns.Bound(c => c.PartsListDescription).Title(ProjectSession.Resources.label.BoM_TextBlockBoMDesc);

            columns.Bound(c => c.PartsListAltDescription).HtmlAttributes(new { @class = "text-right" }).Title(ProjectSession.Resources.label.BoM_TextBlockAltBoMDesc);

            if (ProjectSession.PermissionAccess.SetupConfiguration_BoMList_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_BoMList_Deleterecords)
            {
                columns.Bound(c => c.PartsListID).ClientTemplate("<center>" + (ProjectSession.PermissionAccess.SetupConfiguration_BoMList_Editrecords ? "<a class='action' title='" + ProjectSession.Resources.label.Common_ButtonEdit + "'  style='cursor:pointer' data-toggle='modal' data-target='\\#BoMListModal' onclick='OpenBoMListEditWindow(#: PartsListID#)'><i class='glyphicon glyphicon-pencil'></i></a>&nbsp;" : "") + "" + (ProjectSession.PermissionAccess.SetupConfiguration_BoMList_Deleterecords ? "<a class='action delete-button'  href='javascript:void(0);'  class='delete-ic' data-id='#: PartsListID #' style='cursor:pointer'><i class='glyphicon glyphicon-trash' title='" + ProjectSession.Resources.label.Common_ButtonDelete + "' ></i></a>" : "") + "</center>")
                                            .Title("<center>" + ProjectSession.Resources.label.Common_ButtonAction + "</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Width(80).Filterable(false);
            }
        })
        .Filterable()
        .Sortable(sortable => sortable.AllowUnsort(false))
        .Scrollable()
        .Excel(excel => excel.FileName("BoM List.xlsx").Filterable(true).AllPages(true).ProxyURL(Url.Action("Excel_Export_Save", "GridExport", new { area = string.Empty })))
        .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
        .Events(events => events.DataBound("onDataBound").ExcelExport("excelExport"))
        .DataSource(dataSource =>
                                dataSource.Ajax()
                                .PageSize(ProjectConfiguration.PageSize)
                                .Sort(model => model.Add("PartsListNo").Ascending())
                                .Model(model =>
                                {
                                    model.Id(p => p.PartsListID);
                                    model.Field(p => p.PartsListNo);
                                })
                                .ServerOperation(true)
                                .Read(read => read.Action(Actions.GetBoMList, Controllers.Configurations, new { area = Areas.Configurations }).Data("BindParameters").Type(HttpVerbs.Post))
        )
    )

</div>

<!-- search order -->
<div id="search-order" class="modal fade" role="dialog"></div>

<!-- Item Type Modal -->
<div id="BoMListModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false"></div>


<!-- Stock Code Item Grid Modal-->
<div id="stockCodeItemModel" class="modal fade" role="dialog" style="z-index: 100000 !important">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" title="@ProjectSession.Resources.label.Common_ButtonClose"></button>
                <h4 class="modal-title">@ProjectSession.Resources.label.Item_TextblockItemDetails</h4>
            </div>
            <div class="modal-body">
                <div id="Highlights" class="tab-pane active" role="tabpanel">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div id="employeeData" class="@ProjectSession.CultureKendoClass">
                                    @(Html.Kendo().Grid<CMMS.Model.StockCode>()
                                    .HtmlAttributes(new { @class = "kl-grid" })
                                    .Name("stockCodeItemGrid")
                                    .Columns(columns =>
                                    {
                                        columns.Bound(c => c.StockNo).Title(ProjectSession.Resources.label.ItemList_TextBlockPartNumber).Width(200);

                                        columns.Bound(c => c.StockDescription).Title(ProjectSession.Resources.label.ItemList_TextBlockPartDescription).Width(200);

                                        columns.Bound(c => c.AltStockDescription).HtmlAttributes(new { @class = "text-right" }).Title(ProjectSession.Resources.label.ItemList_TextBlockPartAltPartDesc).Width(200);

                                        columns.Bound(c => c.Status).ClientTemplate("#= Status == '1' ? active : notActive #").Title(ProjectSession.Resources.label.AccountCode_TextBlockStatus).Width(100)
                                        .Filterable(ftb => ftb.Multi(true).ItemTemplate("itemTemplateForItemStatus").CheckAll(false).BindTo(new[]{
                                                new { Status = "1" },
                                                new { Status = "2" }
                                        }));

                                        columns.Bound(c => c.Specification).Title(ProjectSession.Resources.label.JobPlan_TextBlockSpecification).Width(200);

                                        columns.Bound(c => c.Manufacturer).Title(ProjectSession.Resources.label.Asset_TextBlockManufacturer).Width(200);

                                        columns.Bound(c => c.CriticalityID).ClientTemplate("#= CriticalityID == '1' ? txtYes : txtNo #").Title(ProjectSession.Resources.label.Item_CheckBoxCritical).Width(100)
                                        .Filterable(ftb => ftb.Multi(true).ItemTemplate("itemTemplateForCriticalityID").CheckAll(false).BindTo(new[]{
                                                    new { CriticalityID = true },
                                                    new { CriticalityID = false }
                                        }));

                                        columns.Bound(c => c.AttrGroupID).Title(ProjectSession.Resources.label.ItemType_TextBlockPartType).Width(150);

                                        columns.Bound(c => c.AttrSubID).Title(ProjectSession.Resources.label.ItemSubType_TextBlockPartSubType).Width(150);

                                    })
                                    .Filterable()
                                    .Sortable(sortable => sortable.AllowUnsort(false))
                                    .Scrollable()
                                    .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
                                    .Events(events => events.DataBound("onDataBoundStockCode"))
                                    .DataSource(dataSource => dataSource.Ajax()
                                    .PageSize(ProjectConfiguration.PageSize)
                                    .Sort(model => model.Add("StockNo").Ascending())
                                     .Model(model =>
                                     {
                                         model.Id(p => p.StockID);
                                         model.Field(p => p.StockNo);
                                     })
                                    .ServerOperation(true)
                                    .Read(read => read.Action(Actions.GetStockCodeItem, Controllers.Configurations, new { area = Areas.Configurations }).Data("BindParameters").Type(HttpVerbs.Post))
                                    )
                                    )

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var kendoGridId = 'bomListGrid';
    var intPageID = '@SystemEnum.Pages.BoMList.GetHashCode()';

    function onItemAdditionalData() {
        return {
            text: $("#txtStockDescription").val(),
        };
    }

    function BindParameters() {
        return {
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };

    function OpenBoMListEditWindow(id) {
        $("#BoMListModal").html('');
        var url = '@Url.Action(Actions._EditBoMList, Controllers.Configurations, new { Area = Areas.Configurations })' + "?partsListId=" + id;
        $("#BoMListModal").load(url);
    }

    function BindParameterForItem() {
        return {
            partsListId: $("#hdnPartsListID").val(),
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function onDataBoundItemGrid(arg) {
        gridProperPaging(this);
    }

    function onDataBoundItemGrid(arg) {
        confirmDeleteInnerMsg(msgText, okText, cancelText, onConfirmItemback, confirmDirection);
        gridProperPaging(this);
    }

    function onConfirmItemback(sender) {
        var id = $(this).data("id");
        var Fromgrid = $("#BoMListItemGrid").data("kendoGrid");
        var data = $("#BoMListItemGrid table td").find("a[data-id='" + id + "']").closest("tr");
        var dataItem = Fromgrid.dataItem(data);
        if (dataItem.StockID > 0 && dataItem.PartsListID) {
            $.ajax({
                url: '@Url.Action(Actions.DeleteBoMListItem, Controllers.Configurations, new { area = Areas.Configurations })',
                type: "POST",
                data: addRequestVerificationToken({ stockID: dataItem.StockID, partsListID: dataItem.PartsListID }),
                dataType: "json",
                success: function (result) {
                    ReBindKendoGrid("BoMListItemGrid");
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }
    }

    function onDataBoundStockCode(arg) {
        gridProperPaging(this);
    }

    function onItemAutoSelect(e) {
        var model = this.dataItem(e.item.index());
        var flag = true;
        var gridBomListItem = $("#BoMListItemGrid").data("kendoGrid");
        $("#BoMListItemGrid table td a").each(function (index, elem) {
            var StockId = $(elem).data("id");
            if (model.StockID == StockId) {
                flag = false;
            }
        });
        if (flag == false) {
            var data = $("#BoMListItemGrid table td").find("a[data-id='" + model.StockID + "']").closest("tr");
            var model = gridBomListItem.dataItem(data);
            $("#txtStockNo").val(model.StockNo);
            $("#txtStockDescription").val(model.StockDescription);
            $("#hdnStockID").val(model.StockID);
            $("#txtQuantity").val(model.PartsQty);
            $("#txtAltStockDescription").val(model.AltStockDescription);
            $("#hdnPartsListDetailID").val(model.PartsListID);
        }
        else {
            $("#txtStockNo").val(model.StockNo);
            $("#txtStockDescription").val(model.StockDescription);
            $("#hdnStockID").val(model.StockID);
            $("#txtQuantity").val("1.00");
            $("#txtAltStockDescription").val(model.AltStockDescription);
            $("#hdnPartsListDetailID").val("");
        }
    }


    $("#stockCodeItemGrid tbody").on("dblclick", "tr[role='row']", function (e) {
        var grid = $("#stockCodeItemGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        $("#stockCodeItemModel").modal('hide');
        var flag = true;
        var gridBomListItem = $("#BoMListItemGrid").data("kendoGrid");
        $("#BoMListItemGrid table td a").each(function (index, elem) {
            var StockId = $(elem).data("id");
            if (model.StockID == StockId) {
                flag = false;
            }
        });
        if (flag == false) {
            var data = $("#BoMListItemGrid table td").find("a[data-id='" + model.StockID + "']").closest("tr");
            var model = gridBomListItem.dataItem(data);
            $("#txtStockNo").val(model.StockNo);
            $("#txtStockDescription").val(model.StockDescription);
            $("#hdnStockID").val(model.StockID);
            $("#txtQuantity").val(model.PartsQty);
            $("#txtAltStockDescription").val(model.AltStockDescription);
            $("#hdnPartsListDetailID").val(model.PartsListID);
        }
        else {
            $("#stockCodeItemModel").modal("hide");
            $("#txtStockNo").val(model.StockNo);
            $("#txtStockDescription").val(model.StockDescription);
            $("#hdnStockID").val(model.StockID);
            $("#txtQuantity").val("1.00");
            $("#txtAltStockDescription").val(model.AltStockDescription);
            $("#hdnPartsListDetailID").val("");
        }
    });

    $("#bomListGrid tbody").on("dblclick", "tr[role='row']", function (e) {
        var grid = $("#bomListGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        $("#BoMListModal").modal("show");
        OpenBoMListEditWindow(model.PartsListID);
    });

</script>

@if (ProjectSession.PermissionAccess.SetupConfiguration_BoMList_Deleterecords)
{
    <script>

        function onDataBound(arg) {
            confirmDeleteMsg(msgText, okText, cancelText, onConfirmCallback, confirmDirection);
            gridProperPaging(this);
        }

        function onConfirmCallback(sender) {
            var id = $(this).data("id");
            $.ajax({
                url: '@Url.Action(Actions.DeleteBoMList, Controllers.Configurations, new { area = Areas.Configurations })',
                type: "POST",
                data: addRequestVerificationToken({ partsListID: id }),
                dataType: "json",
                success: function (result) {
                    ClearAllInputs("frmBoMList");
                    ShowMessage(result[0], result[1], "#divMessage");
                    ReBindKendoGrid("bomListGrid");

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }

    </script>
}
else
{
    <script>
        function onDataBound(arg) {
            gridProperPaging(this);
        }
    </script>
}