﻿@using CMMS.Infrastructure;
@using CMMS.Pages;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.AntiForgeryToken()
<div class="head1">
    <h1>@ProjectSession.Resources.label.Building_TextBlockBuildingCodes</h1>
    <ul class="sub_btn">
        @if (ProjectSession.PermissionAccess.Locations_Buildings_Createnewrecords)
        {
            <li>
                <a href="javascript:void(0);" class="btn-icon btn-add" data-toggle="modal" data-target="#buildingModal" data-backdrop="static" onclick="OpenBuildingEditWindow(0);" title="@ProjectSession.Resources.label.Common_ButtonAdd"><i></i></a>
            </li>
        }
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-search" data-toggle="modal" data-target="#search-order" onclick='OpenAdvancedSearch("@ProjectSession.Resources.label.Building_TextBlockBuildingCodes","@SystemEnum.Pages.Building.GetHashCode()")' title="@ProjectSession.Resources.label.Common_ButtonAdvanceSearch"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-clear" title="@ProjectSession.Resources.label.Common_ButtonClear" onclick="return ClearAdvencedSearch(@SystemEnum.Pages.Building.GetHashCode());"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-refresh" onclick="ReBindKendoGrid('buildingGrid');" title="@ProjectSession.Resources.label.Common_ButtonRefreshGrid"><i></i></a>
        </li>
        @if (ProjectSession.PermissionAccess.Locations_Buildings_Export)
        {
            <li>
                <a href="javascript:void(0);" class="btn-icon btn-xsl" onclick="ExportToExcel('buildingGrid', 'L5ID');" title="@ProjectSession.Resources.label.Common_ButtonExportToExcel"><i></i></a>
            </li>
        }
    </ul>
</div>

<!-- Kendo Grid-->
<div id="buildingData" class="@ProjectSession.CultureKendoClass">
    @(Html.Kendo().Grid<CMMS.Model.L5>()
        .Name("buildingGrid")
        .HtmlAttributes(new { @class = "kl-grid" })
        .Columns(columns =>
        {
            columns.Bound(c => c.L5No).Title(ProjectSession.Resources.label.Building_TextBlockBuildingCode).Width(150);

            columns.Bound(c => c.L5Description).Title(ProjectSession.Resources.label.Building_TextBlockBuildingDesc);

            columns.Bound(c => c.L5AltDescription).HtmlAttributes(new { @class = "text-right" }).Title(ProjectSession.Resources.label.Building_TextBlockAltBuildingDesc);

            columns.Bound(c => c.L2Code).Title(ProjectSession.Resources.label.JobRequest_TextBlockCityCode)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterSite", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

            columns.Bound(c => c.L1No).Title(ProjectSession.Resources.label.Organisation_TextBlockOrgCode)
                .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterOrganisation", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

            columns.Bound(c => c.SectorCode).Title(ProjectSession.Resources.label.JobRequest_TextBlockSectorCode)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterSector", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

            columns.Bound(c => c.SectorName).Title(ProjectSession.Resources.label.JobRequest_TextBlockSectorName)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterSectorByName", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

            columns.Bound(c => c.L4No).Title(ProjectSession.Resources.label.Street_TextBlockStreetCode)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterZone", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

            if (ProjectSession.IsAreaFieldsVisible)
            {
                columns.Bound(c => c.L3No).Title(ProjectSession.Resources.label.Area_TextBlockAreaCode)
                .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterArea", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));
            }

            if (ProjectSession.PermissionAccess.Locations_Buildings_Editrecords || ProjectSession.PermissionAccess.Locations_Buildings_Deleterecords)
            {
                columns.Bound(c => c.L5ID).ClientTemplate("<center>" + (ProjectSession.PermissionAccess.Locations_Buildings_Editrecords ? "<a class='action' title='" + ProjectSession.Resources.label.Common_ButtonEdit + "'  style='cursor:pointer' data-toggle='modal' data-target='\\#buildingModal' onclick='OpenBuildingEditWindow(#: L5ID#)'><i class='glyphicon glyphicon-pencil'></i></a>&nbsp;" : "") + "" + (ProjectSession.PermissionAccess.Locations_Buildings_Deleterecords ? "<a class='action delete-button'  href='javascript:void(0);'  class='delete-ic' data-id='#: L5ID #' style='cursor:pointer'><i class='glyphicon glyphicon-trash' title='" + ProjectSession.Resources.label.Common_ButtonDelete + "' ></i></a>" : "") + "</center>")
                                            .Title("<center>" + ProjectSession.Resources.label.Common_ButtonAction + "</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Width(80).Filterable(false);
            }
        })
        .Filterable()
        .Sortable(sortable => sortable.AllowUnsort(false))
        .Scrollable()
        .Excel(excel => excel.FileName("Building.xlsx").Filterable(true).AllPages(true).ProxyURL(Url.Action("Excel_Export_Save", "GridExport", new { area = string.Empty })))
        .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
        .Events(events => events.DataBound("onDataBound").ExcelExport("excelExport"))
        .DataSource(dataSource =>
                                dataSource.Ajax()
                                .PageSize(ProjectConfiguration.PageSize)
                                .Sort(model => model.Add("L5No").Ascending())
                                 .Model(model =>
                                 {
                                     model.Id(p => p.L5ID);
                                     model.Field(p => p.L5Description);
                                 })
                                .ServerOperation(true)
                                        .Read(read => read.Action(Actions.GetBuilding, Controllers.Configurations, new { area = Areas.Configurations }).Data("BindParameters").Type(HttpVerbs.Post))
        )
    )

</div>

<!-- search order -->
<div id="search-order" class="modal fade" role="dialog"></div>


<!-- Building Modal -->
<div id="buildingModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" title="@ProjectSession.Resources.label.Common_ButtonClose"></button>
                <h4 class="modal-title">@ProjectSession.Resources.label.Building_TextBlockBuildingCodes</h4>
            </div>
            <form role="form" id="frmBuilding">
                <input type="hidden" name="hdnL5ID" id="hdnL5ID" />
                <input type="hidden" name="hdnArea" id="hdnArea" />
                <input type="hidden" name="hdnL2Id" id="hdnL2Id" />
                <input type="hidden" name="hdnL4ID" id="hdnL4ID" />

                <div class="modal-body">
                    <div id="Highlights" class="tab-pane active" role="tabpanel">
                        <div class="form-horizontal">
                            <div id="divModelError"></div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">@ProjectSession.Resources.label.Building_TextBlockBuildingCode<span class="cfont">*</span></label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="L5No" id="txtL5No" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.Building_TextBlockBuildingCode" maxlength="50">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">@ProjectSession.Resources.label.Building_TextBlockBuildingDesc<span class="cfont">*</span></label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="L5Description" id="txtL5Description" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.Building_TextBlockBuildingDesc" maxlength="1500">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">@ProjectSession.Resources.label.Building_TextBlockAltBuildingDesc</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="L5AltDescription" id="txtL5AltDescription" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.Building_TextBlockAltBuildingDesc" maxlength="1500">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">@ProjectSession.Resources.label.Organisation_TextBlockOrgCode<span class="cfont">*</span></label>
                                <div class="col-sm-9">
                                    @Html.Hidden("hdnIsAreaEnableOrgWise")
                                    <div class="@ProjectSession.CultureKendoClass">
                                        @(Html.Kendo().DropDownList()
                                            .Name("drpOrganisation")
                                            .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                            .DataTextField("L1No")
                                            .DataValueField("L1ID")
                                            .Events(m => m.Change("ChangeL1"))
                                            .HtmlAttributes(new { style = "width: 100%", @required = "required", id = "ddlOrganization" })
                                            .Template("#= KendoDDLTemplate(data.L1No ,data.L1Name, data.L1AltName) #")
                                            .DataSource(source =>
                                            {
                                                source.Read(read =>
                                                {
                                                    read.Action(Actions.GetAllOrganisation, Controllers.Configurations, new { area = Areas.Configurations });
                                                });
                                            })
                                            .Value("")
                                        )
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">@ProjectSession.Resources.label.JobRequest_TextBlockCityCode<span class="cfont">*</span></label>
                                <div class="col-sm-9">
                                    <div class="@ProjectSession.CultureKendoClass">
                                        @(Html.Kendo().DropDownList()
                                                         .Name("drpProjectCode")
                                                         .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                                         .DataTextField("L2Code")
                                                         .DataValueField("L2ID")
                                                         .HtmlAttributes(new { style = "width: 100%", @required = "required", id = "ddlCity" })
                                                         .ValueTemplate(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "#:L2Code # -- #: L2Altname # " : "#:L2Code # -- #: L2name #")
                                                         .Template("#= KendoDDLTemplate(data.L2Code ,data.L2name, data.L2Altname) #")
                                                         .Events(m => m.Change("ChangeL2"))
                                                         .Events(m => m.DataBound("DataBoundDDLL2"))
                                                         .DataSource(source =>
                                                         {
                                                             if (ProjectSession.IsCentral)
                                                             {
                                                                 source.Read(read =>
                                                                 {
                                                                     read.Action(Actions.GetAllCities, Controllers.Configurations, new { area = Areas.Configurations }).Data("BindDropDownParameters");
                                                                 }).ServerFiltering(true);
                                                             }
                                                             else
                                                             {
                                                                 source.Read(read =>
                                                                 {
                                                                     read.Action(Actions.GetCitiesByEmployee, Controllers.Configurations, new { area = Areas.Configurations }).Data("BindDropDownParameters");
                                                                 }).ServerFiltering(true);

                                                             }
                                                         }).CascadeFrom("ddlOrganization").Value("")
                                        )
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">@ProjectSession.Resources.label.JobRequest_TextBlockSectorCode</label>
                                <div class=" col-md-9 two-form-group">
                                    <div class="input-two">
                                        <div class="input-group">
                                            <input type="text" class="form-control" name="SectorCode" id="txtSectorCode" disabled>
                                        </div>
                                        <div class="input-group">
                                            <input type="text" class="form-control" name="SectorName" id="txtSectorName" disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @if (ProjectSession.IsAreaFieldsVisible)
                            {
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">@ProjectSession.Resources.label.Area_TextBlockAreaCode<span id="SpanArea" class="cfont"></span></label>
                                    <div class="col-sm-9">
                                        @*  <div class="@ProjectSession.CultureKendoClass">
                                            @(Html.Kendo().DropDownList()
                                                         .Name("drpArea")
                                                         .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                                         .DataTextField("L3No")
                                                         .DataValueField("L3ID")
                                                         .HtmlAttributes(new { style = "width: 100%" })
                                                         .Template("#= KendoDDLTemplate(data.L3No ,data.L3Desc, data.L3AltDesc) #")
                                                         .DataSource(source =>
                                                         {
                                                             source.Read(read =>
                                                             {
                                                                 read.Action(Actions.GetAllArea, Controllers.Configurations, new { area = Areas.Configurations });
                                                             });
                                                         }).Value("")
                                            )
                                        </div>*@
                                        <div class="@ProjectSession.CultureKendoClass">
                                            @(Html.Kendo().DropDownList()
                                                 .Name("drpArea")
                                                .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                                .DataTextField("L3No")
                                                .ValueTemplate(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "#:L3No # -- #: L3AltDesc # " : "#:L3No # -- #: L3Desc #")
                                                .DataValueField("L3ID")
                                                .HtmlAttributes(new { style = "width: 100%" })
                                                .Template("#= KendoDDLTemplate(data.L3No ,data.L3Desc, data.L3AltDesc) #")
                                                .DataSource(source =>
                                                {
                                                    source.Read(read =>
                                                    {
                                                        read.Action(Actions.GetAreabyL2ID, Controllers.Configurations, new { area = Areas.Configurations }).Data("filterAreas").Type(HttpVerbs.Post);

                                                    })
                                                    .ServerFiltering(true);
                                                })
                                                .Events(m => m.Change("ChangeL3").DataBound("DataBoundDDLArea"))
                                                .CascadeFrom("ddlCity")
                                                .AutoBind(false)
                                                .Value("")
                                                )
                                        </div>
                                        <script>
                                            function filterAreas() {
                                                return {
                                                    cityID: ($('#ddlCity') != undefined && $('#ddlCity') != null && $('#ddlCity').val() != undefined && $('#ddlCity').val() != null && $('#ddlCity').val() != "" ? $('#ddlCity').val() : 0),
                                                    __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
                                                };
                                            }
                                            function ChangeL3(e) {
                                                $("#drpZoneCode").data("kendoDropDownList").dataSource.read();
                                            }
                                        </script>
                                    </div>
                                </div>
                            }
                            <div class="form-group">
                                <label class="col-sm-3 control-label">@ProjectSession.Resources.label.Street_TextBlockStreetCode<span class="cfont">*</span></label>
                                <div class="col-sm-9">
                                    @*<div class="@ProjectSession.CultureKendoClass">
                                        @(Html.Kendo().DropDownList()
                                                         .Name("drpZoneCode")
                                                         .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                                         .DataTextField("L4No")
                                                         .DataValueField("L4ID")
                                                         .HtmlAttributes(new { style = "width: 100%", @required = "required" })
                                                         .ValueTemplate(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "#:L4No # -- #: L4AltDescription # " : "#:L4No # -- #: L4Description #")
                                                         .Template("#= KendoDDLTemplate(data.L4No ,data.L4Description, data.L4AltDescription) #")
                                                         .Value("")
                                        )
                                    </div>*@
                                    <div class="@ProjectSession.CultureKendoClass">
                                        @(Html.Kendo().DropDownList()
                                            .Name("drpZoneCode")
                                                .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                                .DataTextField("L4No")
                                                .ValueTemplate(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "#:L4No # -- #: L4AltDescription # " : "#:L4No # -- #: L4Description #")
                                                .DataValueField("L4ID")
                                                .HtmlAttributes(new { style = "width: 100%", @required = "required" })
                                                //.Events(m => m.DataBound("DataBoundDDLZone"))
                                                .Template("#= KendoDDLTemplate(data.L4No ,data.L4Description, data.L4AltDescription) #")
                                                .DataSource(source =>
                                                {
                                                    source.Read(read =>
                                                    {
                                                        read.Action(Actions.GetZoneByL2ID, Controllers.Configurations, new { area = Areas.Configurations }).Data("filterZones").Type(HttpVerbs.Post);

                                                    })
                                                    .ServerFiltering(true);
                                                })
                                                //.Events(m => m.Change("ChangeL4"))
                                                .CascadeFrom("ddlCity")
                                                .AutoBind(false)
                                                .Value("")
                                            )
                                    </div>
                                    <script>
                                        function filterZones() {
                                            return {
                                                cityID: $("#ddlCity").val(),
                                                areaID: ($('#drpArea') != undefined && $('#drpArea') != null && $('#drpArea').val() != undefined && $('#drpArea').val() != null && $('#drpArea').val() != "" ? $('#drpArea').val() : 0),
                                                __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
                                            };
                                            // addRequestVerificationToken({ projectId: $("#L2ID").val() == "" ? 0 : $("#L2ID").val() })
                                        }
                                    </script>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer box-footer">
                    @if (ProjectSession.PermissionAccess.Locations_Buildings_Editrecords || ProjectSession.PermissionAccess.Locations_Buildings_Createnewrecords)
                    {
                        <button type="submit" class="btn btn-primary" id="btnSave"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
                    }
                    <button type="button" class="btn btn-default" data-dismiss="modal">@ProjectSession.Resources.label.Common_ButtonClose</button>
                </div>
            </form>
        </div>
    </div>
</div>
<input type="hidden" id="hdnEditMode" value="0" />

<script type="text/javascript">
    var kendoGridId = 'buildingGrid';
    var intPageID = '@SystemEnum.Pages.Building.GetHashCode()';

    $(document).ready(function () {
        validator = $('#frmBuilding').validate({
            rules: {
                L5No: { required: true },
                L5Description: { required: true },
            },
            messages: {
                L5No: { required: '' },
                L5Description: { required: '' },
            }
        });
    });

    function BindParameters() {
        return {
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function BindDropDownParameters() {
        return {
            cityID: $("#hdnL2Id").val(),
            orgID: $("#ddlOrganization").val()
        };
    }

    function DataBoundDDLL2(e) {
        $("#ddlCity").data("kendoDropDownList").value($("#hdnL2Id").val());
        $("#ddlCity").data("kendoDropDownList").trigger("change");
        $("#drpZoneCode").data("kendoDropDownList").value($("#hdnL4ID").val());
        if ($('#hdnEditMode').val() > 0) {
            $('#ddlCity').data("kendoDropDownList").enable(false);
        }
        else {
            $('#ddlCity').data("kendoDropDownList").enable(true);
        }
    }

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };

    function ChangeL1(e) {
        var dataItem = this.dataItem(e.item);
        $.ajax({
            url: '@Url.Action(Actions.GetOrganisationByID, Controllers.Configurations, new { area = Areas.Configurations })',
            type: 'Post',
            data: addRequestVerificationToken({ orgId: dataItem.L1ID == "" ? 0 : dataItem.L1ID }),
            cache: false,
            async: false,
            success: function (result) {
                $('#hdnIsAreaEnableOrgWise').val(result.IsAreaEnable);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                showErrorMessage();
            }
        });
    }

    function ChangeL2(e) {
        var dataItem = this.dataItem(e.item);
        $.ajax({
            url: '@Url.Action(Actions.GetL2ByID, Controllers.Configurations, new { area = Areas.Configurations })',
            type: 'Post',
            data: addRequestVerificationToken({ projectId: dataItem.L2ID == "" ? 0 : dataItem.L2ID }),
            cache: false,
            async: false,
            success: function (result) {
                $('#txtSectorCode').val(result.SectorCode);
                $('#txtSectorName').val(result.SectorName);
                @*  if (result.L2ID > 0) {
                    $.ajax({
                        url: '@Url.Action(Actions.GetZoneByL2ID, Controllers.Configurations, new { area = Areas.Configurations })',
                        type: 'Post',
                        data: addRequestVerificationToken({ cityID: result.L2ID == "" ? 0 : result.L2ID, areaID: 0 }),
                        cache: false,
                        async: false,
                        success: function (result) {
                            $('#drpZoneCode').data('kendoDropDownList').dataSource.data(result);
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            showErrorMessage();
                        }
                    });
                }
                else {
                    $("#drpZoneCode").data("kendoDropDownList").value("");
                    $("#drpZoneCode").data("kendoDropDownList").dataSource.read();
                }*@

                AreaEnableOrgWise();
            },
            error: function (xhr, ajaxOptions, thrownError) {
                showErrorMessage();
            }
        });
    }

    function DataBoundDDLArea(e) {
        AreaEnableOrgWise();
    }

    function AreaEnableOrgWise() {
        if ('@ProjectSession.IsAreaFieldsVisible'.toLowerCase() == 'true') {
            if ($('#hdnIsAreaEnableOrgWise').val() == "true") {
                $('#drpArea').data("kendoDropDownList").enable(true);
                $('#drpArea').prop('required', 'required');
                $('#SpanArea').html('*');
            }
            else {
                $('#drpArea').data("kendoDropDownList").enable(false);
                $('#drpArea').removeProp('required');
                $('#SpanArea').html('');
            }
        }
    }

    function OpenBuildingEditWindow(id) {
        $("#hdnL2Id").val("");
        $("#hdnL4ID").val("");
        if (id > 0) {
            $.ajax({
                url: '@Url.Action(Actions.GetBuildingByID, Controllers.Configurations, new { area = Areas.Configurations })',
                type: "POST",
                data: addRequestVerificationToken({ buildingId: id }),
                success: function (result) {
                    $("#hdnL5ID").val(result.L5ID);
                    $("#txtL5No").val(result.L5No);
                    $("#txtL5Description").val(result.L5Description);
                    $("#txtL5AltDescription").val(result.L5AltDescription);
                    $('#ddlOrganization').data("kendoDropDownList").value(result.L1ID);
                    $("#hdnL2Id").val(result.L2ID);
                    $("#ddlCity").data("kendoDropDownList").dataSource.read();
                    $("#ddlCity").data("kendoDropDownList").value(result.L2ID);
                    $("#ddlCity").data("kendoDropDownList").dataSource.read();
                    $("#hdnL4ID").val(result.L4ID)
                    $('#hdnIsAreaEnableOrgWise').val(result.IsAreaEnableOrgWise);

                    @if (ProjectSession.IsAreaFieldsVisible)
                    {
                        <text> $("#drpArea").data("kendoDropDownList").value(result.L3ID);</text>
                    }
                    else
                    {
                        <text>$("#hdnArea").val(result.L3ID);</text>
                    }

                    @if (!ProjectSession.PermissionAccess.Locations_Buildings_ChangeMastersCodes)
                    {
                        <text>$("#txtL5No").attr("disabled", "disabled");</text>    
                    }
                    
                     @if (ProjectSession.PermissionAccess.Locations_Buildings_Editrecords)
                     {
                        <text>$("#btnSave").show(); </text>
                     }
                     else if (ProjectSession.PermissionAccess.Locations_Buildings_Createnewrecords)
                     {
                        <text>$("#btnSave").hide(); </text>
                     }

                    if (result.IsEnableCityArea) {
                        $("#drpZoneCode").data("kendoDropDownList").enable(false);
                        $('#ddlCity').data("kendoDropDownList").enable(false);
                        $('#ddlOrganization').data("kendoDropDownList").enable(false);
                        $('#hdnEditMode').val(1);
                        @if (ProjectSession.IsAreaFieldsVisible)
                        {
                            <text>$('#drpArea').data("kendoDropDownList").enable(false);</text>
                        }
                    }
                    else {
                        $("#drpZoneCode").data("kendoDropDownList").enable(true);

                        $('#ddlOrganization').data("kendoDropDownList").enable(true);
                        //$('#ddlCity').data("kendoDropDownList").enable(true);
                        $('#hdnEditMode').val(0);
                        @if (ProjectSession.IsAreaFieldsVisible)
                        {
                            <text>$('#drpArea').data("kendoDropDownList").enable(true);</text>
                        }
                    }

                    AreaEnableOrgWise();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }
        else {

            @if (ProjectSession.PermissionAccess.Locations_Buildings_Createnewrecords)
            {
                <text>$("#btnSave").show(); </text>
            }
            else if (ProjectSession.PermissionAccess.Locations_Buildings_Editrecords)
            {
                <text>$("#btnSave").hide(); </text>
            }
            //$("#drpZoneCode").data("kendoDropDownList").enable(true);
            $('#ddlOrganization').data("kendoDropDownList").enable(true);
            //$('#ddlCity').data("kendoDropDownList").enable(true);
            $('#hdnEditMode').val(0);
          @*  @if (ProjectSession.IsAreaFieldsVisible)
            {
                <text> $('#drpArea').data("kendoDropDownList").enable(true);</text>
            }*@
            ClearAllInputs("frmBuilding");
            $("#ddlOrganization").data("kendoDropDownList").dataSource.read();
            $("#ddlOrganization").data("kendoDropDownList").value("");
            //$("#ddlCity").data("kendoDropDownList").dataSource.read();
            $("#ddlCity").data("kendoDropDownList").value("");
            $("#drpZoneCode").data("kendoDropDownList").value("");
            $("#ddlCity").data("kendoDropDownList").trigger("change");
            $("#txtL5No").removeAttr("disabled");
        }
    }

    $("#buildingGrid tbody").on("dblclick", "tr[role='row']", function (e) {
        var grid = $("#buildingGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        $("#buildingModal").modal("show");
        OpenBuildingEditWindow(model.L5ID);
    });

</script>

@if (ProjectSession.PermissionAccess.Locations_Buildings_Editrecords || ProjectSession.PermissionAccess.Locations_Buildings_Createnewrecords)
{
    <script>

        $('#frmBuilding').on('submit', function (e) {
            if ($("#frmBuilding").valid()) {
                if (!e.isDefaultPrevented()) {
                    if (reValidateDropDowns($(this))) {
                        var l3Id;
                        @if (ProjectSession.IsAreaFieldsVisible)
                        {
                            <text> l3Id = $("#drpArea").val();</text> 
                        }
                        else
                        {
                            <text> l3Id = $("#hdnArea").val();</text> 
                        }
                        var l5ID = $("#hdnL5ID").val();
                        var changedObj = {
                            L5ID: l5ID == '' ? 0 : l5ID,
                            L5No: $("#txtL5No").val(),
                            L5Description: $("#txtL5Description").val(),
                            L5AltDescription: $("#txtL5AltDescription").val(),
                            L2ID: $("#ddlCity").val(),
                            L4ID: $("#drpZoneCode").val(),
                            L3ID: l3Id
                        };
                        $.ajax({
                            url: '@Url.Action(Actions.ManageBuilding, Controllers.Configurations, new { area = Areas.Configurations })',
                            type: "POST",
                            data: addRequestVerificationToken(changedObj),
                            dataType: "json",
                            success: function (result) {
                                if (result[0] == 0) {
                                    ShowMessage(result[1], result[2], "#divModelError");
                                }
                                else {
                                    $('#buildingModal').modal("hide");
                                    ShowMessage(result[0], result[1], "#divMessage");
                                    ReBindKendoGrid("buildingGrid");
                                }
                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                showErrorMessage();
                            }
                        });
                    }
                    e.preventDefault();
                }
            }
            else {
                e.preventDefault();
            }
        })

    </script>
}

@if (ProjectSession.PermissionAccess.Locations_Buildings_Deleterecords)
{
    <script type="text/javascript">

        function onDataBound(arg) {
            confirmDeleteMsg(msgText, okText, cancelText, onConfirmCallback, confirmDirection);
            gridProperPaging(this);
        }

        function onConfirmCallback(sender) {
            var id = $(this).data("id");
            $.ajax({
                url: '@Url.Action(Actions.DeleteBuilding, Controllers.Configurations, new { area = Areas.Configurations })',
                type: "POST",
                data: addRequestVerificationToken({ buildingId: id }),
                dataType: "json",
                success: function (result) {
                    ClearAllInputs("frmBuilding");
                    ShowMessage(result[0], result[1], "#divMessage");
                    ReBindKendoGrid("buildingGrid");
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }
    </script>
}
else
{
    <script type="text/javascript">
        function onDataBound(arg) {
            gridProperPaging(this);
        }
    </script>
}