﻿@using CMMS.Infrastructure;
@using CMMS.Pages;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.AntiForgeryToken()
<div class="head1">
    <h1>@ProjectSession.Resources.label.CleaningSetup_TextBlockCleaningClassification</h1>
    <ul class="sub_btn">
        @if (ProjectSession.PermissionAccess.SetupConfiguration_CleaningClassification_Createnewrecords)
        {
            <li>
                <a href="javascript:void(0);" class="btn-icon btn-add" data-toggle="modal" data-target="#cleanignClassificationModal" data-backdrop="static" onclick="OpenClassificationEditWindow(0);" title="@ProjectSession.Resources.label.Common_ButtonAdd"><i></i></a>
            </li>
        }
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-search" data-toggle="modal" data-target="#search-order" onclick='OpenAdvancedSearch("@ProjectSession.Resources.label.CleaningSetup_TextBlockCleaningClassification","@SystemEnum.Pages.CleaningClassification.GetHashCode()")' title="@ProjectSession.Resources.label.Common_ButtonAdvanceSearch"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-clear" title="@ProjectSession.Resources.label.Common_ButtonClear" onclick="return ClearAdvencedSearch(@SystemEnum.Pages.CleaningClassification.GetHashCode());"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-refresh" onclick="ReBindKendoGrid('cleanignClassificationGrid');" title="@ProjectSession.Resources.label.Common_ButtonRefreshGrid"><i></i></a>
        </li>
        @if (ProjectSession.PermissionAccess.SetupConfiguration_CleaningClassification_Export)
        {
            <li>
                <a href="javascript:void(0);" class="btn-icon btn-xsl" onclick="ExportToExcel('cleanignClassificationGrid', 'CleaningClassificationID');" title="@ProjectSession.Resources.label.Common_ButtonExportToExcel"><i></i></a>
            </li>
        }
    </ul>
</div>

<!-- Kendo Grid-->
<div id="cleanignClassificationData" class="@ProjectSession.CultureKendoClass">
    @(Html.Kendo().Grid<CMMS.Model.Cleaningclassification>()
        .HtmlAttributes(new { @class = "kl-grid" })
        .Name("cleanignClassificationGrid")
        .Columns(columns =>
        {
            columns.Bound(c => c.Classification).Title(ProjectSession.Resources.label.CleaningSetup_TextBlockCleaningClassification).Width(250);

            columns.Bound(c => c.AltClassification).HtmlAttributes(new { @class = "text-right" }).Title(ProjectSession.Resources.label.CleaningSetup_TextBlockAltCleaningClassification);

            columns.Bound(c => c.Element).Title(ProjectSession.Resources.label.CleaningSetup_TextBlockElement)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterCleaningElement", "GridFilter", new { area = string.Empty, @id = "1" }).Data("BindParameters").Type(HttpVerbs.Post))));

            columns.Bound(c => c.AltElement).HtmlAttributes(new { @class = "text-right" }).Title(ProjectSession.Resources.label.CleaningSetup_TextBlockAltElement)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterCleaningElement", "GridFilter", new { area = string.Empty, @id = "2" }).Data("BindParameters").Type(HttpVerbs.Post))));

            if (ProjectSession.PermissionAccess.SetupConfiguration_CleaningClassification_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_CleaningClassification_Deleterecords)
            {
                columns.Bound(c => c.CleaningClassificationID).ClientTemplate("<center>" + (ProjectSession.PermissionAccess.SetupConfiguration_CleaningClassification_Editrecords ? "<a class='action' title='" + ProjectSession.Resources.label.Common_ButtonEdit + "'  style='cursor:pointer' data-toggle='modal' data-target='\\#cleanignClassificationModal' onclick='OpenClassificationEditWindow(#: CleaningClassificationID#)'><i class='glyphicon glyphicon-pencil'></i></a>&nbsp;" : "") + "" + (ProjectSession.PermissionAccess.SetupConfiguration_CleaningClassification_Deleterecords ? "<a class='action delete-button'   href='javascript:void(0);'  class='delete-ic' data-id='#: CleaningClassificationID #' style='cursor:pointer'><i class='glyphicon glyphicon-trash' title='" + ProjectSession.Resources.label.Common_ButtonDelete + "' ></i></a>" : "") + "</center>")
                                            .Title("<center>" + ProjectSession.Resources.label.Common_ButtonAction + "</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Width(80).Filterable(false);
            }
        })
        .Filterable()
        .Sortable(sortable => sortable.AllowUnsort(false))
        .Scrollable()
        .Excel(excel => excel.FileName("Cleaning Classification.xlsx").Filterable(true).AllPages(true).ProxyURL(Url.Action("Excel_Export_Save", "GridExport", new { area = string.Empty })))
        .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
        .Events(events => events.DataBound("onDataBound").ExcelExport("excelExport"))
        .DataSource(dataSource =>
                                dataSource.Ajax()
                                .PageSize(ProjectConfiguration.PageSize)
                                .Sort(model => model.Add("Classification").Ascending())
                                 .Model(model =>
                                 {
                                     model.Id(p => p.CleaningClassificationID);
                                     model.Field(p => p.Classification);
                                 })
                                .ServerOperation(true)
                                .Read(read => read.Action(Actions.GetCleaningClassification, Controllers.Configurations, new { area = Areas.Configurations }).Data("BindParameters").Type(HttpVerbs.Post))
        )
    )

</div>

<!-- search order -->
<div id="search-order" class="modal fade" role="dialog"></div>

<!-- Cleanign Classification Modal -->
<div id="cleanignClassificationModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" title="@ProjectSession.Resources.label.Common_ButtonClose"></button>
                <h4 class="modal-title">@ProjectSession.Resources.label.CleaningSetup_TextBlockCleaningClassification</h4>
            </div>
            <form role="form" id="frmClassification">
                <input type="hidden" name="hdnCleaningClassificationID" id="hdnCleaningClassificationID" />
                <div class="modal-body">
                    <div id="Highlights" class="tab-pane active" role="tabpanel">
                        <div class="form-horizontal">
                            <div id="divModelError"></div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.CleaningSetup_TextBlockCleaningClassification<span class="cfont">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="Classification" id="txtClassification" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.CleaningSetup_TextBlockCleaningClassification" maxlength="100">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.CleaningSetup_TextBlockAltCleaningClassification</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="AltClassification" id="txtAltClassification" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.CleaningSetup_TextBlockAltCleaningClassification" maxlength="100">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.CleaningSetup_TextBlockElement<span class="cfont">*</span></label>
                                <div class="col-sm-8">
                                    <div class="@ProjectSession.CultureKendoClass">
                                        @(Html.Kendo().DropDownList()
                                            .Name("drpElements")
                                            .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                            .DataTextField("Element")
                                            .DataValueField("CleaningElementId")
                                            .HtmlAttributes(new { style = "width: 100%", @required = "required" })
                                            .Template("#= KendoDDLTemplate('' ,data.Element, data.AltElement) #")
                                            .DataSource(source =>
                                            {
                                                source.Read(read =>
                                                {
                                                    read.Action(Actions.GetCleaningElements, Controllers.Configurations, new { area = Areas.Configurations });
                                                });
                                            })
                                            .Value("")
                                        )
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer box-footer">
                    @if (ProjectSession.PermissionAccess.SetupConfiguration_CleaningClassification_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_CleaningClassification_Createnewrecords)
                    {
                        <button type="submit" class="btn btn-primary" id="btnSave"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
                    }
                    <button type="button" class="btn btn-default" data-dismiss="modal">@ProjectSession.Resources.label.Common_ButtonClose</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    var kendoGridId = 'cleanignClassificationGrid';
    var intPageID = '@SystemEnum.Pages.CleaningClassification.GetHashCode()';

    $(document).ready(function () {
        validator = $('#frmClassification').validate({
            rules: {
                Classification: { required: true }
            },
            messages: {
                Classification: { required: '' }
            }
        });
    });

    function BindParameters() {
        return {
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };


    function OpenClassificationEditWindow(id) {
        if (id > 0) {
            $.ajax({
                url: '@Url.Action(Actions.GetCleaningClassificationByID, Controllers.Configurations, new { area = Areas.Configurations })',
                type: "POST",
                data: addRequestVerificationToken({ classificationId: id }),
                success: function (result) {
                    $("#hdnCleaningClassificationID").val(result.CleaningClassificationID);
                    $("#txtClassification").val(result.Classification);
                    $("#txtAltClassification").val(result.AltClassification);
                    $("#drpElements").data("kendoDropDownList").value(result.CleaningElementID);

                    @if (ProjectSession.PermissionAccess.SetupConfiguration_CleaningClassification_Editrecords)
                    {
                        <text>$("#btnSave").show(); </text>
                    }
                    else if (ProjectSession.PermissionAccess.SetupConfiguration_CleaningClassification_Createnewrecords)
                    {
                        <text>$("#btnSave").hide(); </text>
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }
        else {
            ClearAllInputs("frmClassification");

            @if (ProjectSession.PermissionAccess.SetupConfiguration_CleaningClassification_Createnewrecords)
            {
                <text>$("#btnSave").show(); </text>
            }
            else if (ProjectSession.PermissionAccess.SetupConfiguration_CleaningClassification_Editrecords)
            {
                <text>$("#btnSave").hide(); </text>
            }
        }
    }

    $("#cleanignClassificationGrid tbody").on("dblclick", "tr[role='row']", function (e) {
        var grid = $("#cleanignClassificationGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        $("#cleanignClassificationModal").modal("show");
        OpenClassificationEditWindow(model.CleaningClassificationID);
    });

</script>

@if (ProjectSession.PermissionAccess.SetupConfiguration_CleaningClassification_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_CleaningClassification_Createnewrecords)
{
    <script type="text/javascript">
        $('#frmClassification').on('submit', function (e) {
        if ($("#frmClassification").valid()) {
            if (!e.isDefaultPrevented()) {
                if (reValidateDropDowns($(this))) {
                    var classificationId = $("#hdnCleaningClassificationID").val();
                    var changedObj = {
                        CleaningClassificationID: classificationId == '' ? 0 : classificationId,
                        Classification: $("#txtClassification").val(),
                        AltClassification: $("#txtAltClassification").val(),
                        CleaningElementID: $("#drpElements").val(),
                    };
                    $.ajax({
                        url: '@Url.Action(Actions.ManageCleaningClassification, Controllers.Configurations, new { area = Areas.Configurations })',
                        type: "POST",
                        data: addRequestVerificationToken(changedObj),
                        dataType: "json",
                        success: function (result) {
                            if (result[0] == 0) {
                                ShowMessage(result[1], result[2], "#divModelError");
                            }
                            else {
                                $('#cleanignClassificationModal').modal("hide");
                                ShowMessage(result[0], result[1], "#divMessage");
                                ReBindKendoGrid("cleanignClassificationGrid");
                            }
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            showErrorMessage();
                        }
                    });
                }
                e.preventDefault();
            }
        }
        else {
            e.preventDefault();
        }
    })

    </script>
}
@if (ProjectSession.PermissionAccess.SetupConfiguration_CleaningClassification_Deleterecords)
{
    <script type="text/javascript">
        function onDataBound(arg) {
        confirmDeleteMsg(msgText, okText, cancelText, onConfirmCallback, confirmDirection);
        gridProperPaging(this);
    }

    function onConfirmCallback(sender) {
        var id = $(this).data("id");
        $.ajax({
            url: '@Url.Action(Actions.DeleteCleaningClassification, Controllers.Configurations, new { area = Areas.Configurations })',
            type: "POST",
            data: addRequestVerificationToken({ classificationId: id }),
            dataType: "json",
            success: function (result) {
                ClearAllInputs("frmClassification");
                ShowMessage(result[0], result[1], "#divMessage");
                ReBindKendoGrid("cleanignClassificationGrid");
            },
            error: function (xhr, ajaxOptions, thrownError) {
                showErrorMessage();
            }
        });
    }

    </script>
}
else
{
    <script>
        function onDataBound(arg) {
            gridProperPaging(this);
        }
    </script>
}