﻿@using CMMS.Infrastructure;
@using CMMS.Pages;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.AntiForgeryToken()
<div class="head1">
    <h1>@ProjectSession.Resources.menu.CleaningSetup_MenuCleaningGroup</h1>
    <ul class="sub_btn">
        @if (ProjectSession.PermissionAccess.SetupConfiguration_CleaningGroup_Createnewrecords) 
        {
            <li>
                <a href="javascript:void(0);" class="btn-icon btn-add" data-toggle="modal" data-target="#cleanignGroupModal" data-backdrop="static" onclick="OpenGroupEditWindow(0);" title="@ProjectSession.Resources.label.Common_ButtonAdd"><i></i></a>
            </li>
        }
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-search" data-toggle="modal" data-target="#search-order" onclick='OpenAdvancedSearch("@ProjectSession.Resources.menu.CleaningSetup_MenuCleaningGroup","@SystemEnum.Pages.CleaningGroup.GetHashCode()")' title="@ProjectSession.Resources.label.Common_ButtonAdvanceSearch"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-clear" title="@ProjectSession.Resources.label.Common_ButtonClear" onclick="return ClearAdvencedSearch(@SystemEnum.Pages.CleaningGroup.GetHashCode());"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-refresh" onclick="ReBindKendoGrid('cleanignGroupGrid');" title="@ProjectSession.Resources.label.Common_ButtonRefreshGrid"><i></i></a>
        </li>
        @if (ProjectSession.PermissionAccess.SetupConfiguration_CleaningGroup_Export)
        {
            <li>
                <a href="javascript:void(0);" class="btn-icon btn-xsl" onclick="ExportToExcel('cleanignGroupGrid', 'CleaningGroupId');" title="@ProjectSession.Resources.label.Common_ButtonExportToExcel"><i></i></a>
            </li>
        }
    </ul>
</div>

<!-- Kendo Grid -->
<div id="cleanignGroupData" class="@ProjectSession.CultureKendoClass">
    @(Html.Kendo().Grid<CMMS.Model.Cleaninggroup>()
        .HtmlAttributes(new { @class = "kl-grid" })
        .Name("cleanignGroupGrid")
        .Columns(columns =>
        {
            columns.Bound(c => c.GroupDesc).Title(ProjectSession.Resources.label.CleaningInspection_TextBlockGroup).Width(300); 

            columns.Bound(c => c.AltGroupDesc).HtmlAttributes(new { @class = "text-right" }).Title(ProjectSession.Resources.label.CleaningSetup_TextBlockAltGroup);

            if (ProjectSession.PermissionAccess.SetupConfiguration_CleaningGroup_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_CleaningGroup_Deleterecords)
            {
                columns.Bound(c => c.CleaningGroupId).ClientTemplate("<center>" + (ProjectSession.PermissionAccess.SetupConfiguration_CleaningGroup_Editrecords ? "<a class='action' title='" + ProjectSession.Resources.label.Common_ButtonEdit + "'  style='cursor:pointer' data-toggle='modal' data-target='\\#cleanignGroupModal' onclick='OpenGroupEditWindow(#: CleaningGroupId#)'><i class='glyphicon glyphicon-pencil'></i></a>&nbsp;" : "") + "" + (ProjectSession.PermissionAccess.SetupConfiguration_CleaningGroup_Deleterecords ? "<a class='action delete-button'  href='javascript:void(0);'  class='delete-ic' data-id='#: CleaningGroupId #' style='cursor:pointer'><i class='glyphicon glyphicon-trash' title='" + ProjectSession.Resources.label.Common_ButtonDelete + "' ></i></a>" : "") + "</center>")
                                            .Title("<center>" + ProjectSession.Resources.label.Common_ButtonAction + "</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Width(80).Filterable(false);
            }
        })
        .Filterable()
        .Sortable(sortable => sortable.AllowUnsort(false))
        .Scrollable()
        .Excel(excel => excel.FileName("Cleaning Group.xlsx").Filterable(true).AllPages(true).ProxyURL(Url.Action("Excel_Export_Save", "GridExport", new { area = string.Empty })))
        .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
        .Events(events => events.DataBound("onDataBound").ExcelExport("excelExport"))
        .DataSource(dataSource =>
                                dataSource.Ajax()
                                .PageSize(ProjectConfiguration.PageSize)
                                .Sort(model => model.Add("GroupDesc").Ascending())
                                 .Model(model =>
                                 {
                                     model.Id(p => p.CleaningGroupId);
                                     model.Field(p => p.GroupDesc);
                                 })
                                .ServerOperation(true)
                                .Read(read => read.Action(Actions.GetCleaningGroup, Controllers.Configurations, new { area = Areas.Configurations }).Data("BindParameters").Type(HttpVerbs.Post))
        )
    )

</div>

<!-- search order -->
<div id="search-order" class="modal fade" role="dialog"></div>

<!-- Cleaning Group Modal -->
<div id="cleanignGroupModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-mg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" title="@ProjectSession.Resources.label.Common_ButtonClose"></button>
                <h4 class="modal-title">@ProjectSession.Resources.menu.CleaningSetup_MenuCleaningGroup</h4>
            </div>
            <form role="form" id="frmCleaningGroup">
                <input type="hidden" name="hdnCleaningGroupId" id="hdnCleaningGroupId" />
                <div class="modal-body">
                    <div id="Highlights" class="tab-pane active" role="tabpanel">
                        <div class="form-horizontal">
                            <div id="divModelError"></div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.CleaningInspection_TextBlockGroup<span class="cfont">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="GroupDesc" id="txtGroupDesc" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.CleaningInspection_TextBlockGroup" maxlength="200">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.CleaningSetup_TextBlockAltGroup</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="AltGroupDesc" id="txtAltGroupDesc" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.CleaningSetup_TextBlockAltGroup" maxlength="200">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer box-footer">
                    @if (ProjectSession.PermissionAccess.SetupConfiguration_CleaningGroup_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_CleaningGroup_Createnewrecords)
                    {
                        <button type="submit" class="btn btn-primary" id="btnSave"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
                    }
                    <button type="button" class="btn btn-default" data-dismiss="modal">@ProjectSession.Resources.label.Common_ButtonClose</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    var kendoGridId = 'cleanignGroupGrid';
    var intPageID = '@SystemEnum.Pages.CleaningGroup.GetHashCode()';

    $(document).ready(function () {
        validator = $('#frmCleaningGroup').validate({
            rules: {
                GroupDesc: { required: true },
            },
            messages: {
                GroupDesc: { required: '' },
            }
        });
    });

    function BindParameters() {
        return {
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };

    function OpenGroupEditWindow(id) {
        if (id > 0) {
            $.ajax({
                url: '@Url.Action(Actions.GetCleaningGroupByID, Controllers.Configurations, new { area = Areas.Configurations })',
                type: "POST",
                data: addRequestVerificationToken({ groupId: id }),
                success: function (result) {
                    $("#hdnCleaningGroupId").val(result.CleaningGroupId);
                    $("#txtGroupDesc").val(result.GroupDesc);
                    $("#txtAltGroupDesc").val(result.AltGroupDesc);

                     @if (ProjectSession.PermissionAccess.SetupConfiguration_CleaningGroup_Editrecords)
                    {
                        <text>$("#btnSave").show(); </text>
                    }
                    else if (ProjectSession.PermissionAccess.SetupConfiguration_CleaningGroup_Createnewrecords)
                    {
                        <text>$("#btnSave").hide(); </text>
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }
        else {
            ClearAllInputs("frmCleaningGroup");

            @if (ProjectSession.PermissionAccess.SetupConfiguration_CleaningGroup_Createnewrecords)
            {
                <text>$("#btnSave").show(); </text>
            }
            else if (ProjectSession.PermissionAccess.SetupConfiguration_CleaningGroup_Editrecords)
            {
                <text>$("#btnSave").hide(); </text>
            }
        }
    }


    $("#cleanignGroupGrid tbody").on("dblclick", "tr[role='row']", function (e) {
        var grid = $("#cleanignGroupGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        $("#cleanignGroupModal").modal("show");
        OpenGroupEditWindow(model.CleaningGroupId);
    });


</script>

@if (ProjectSession.PermissionAccess.SetupConfiguration_CleaningGroup_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_CleaningGroup_Createnewrecords)
{
    <script type="text/javascript">
        $('#frmCleaningGroup').on('submit', function (e) {
            if ($("#frmCleaningGroup").valid()) {
                if (e.isDefaultPrevented()) {
                    // handle the invalid form...
                } else {

                    var groupId = $("#hdnCleaningGroupId").val();
                    var changedObj = {
                        CleaningGroupId: groupId == '' ? 0 : groupId,
                        GroupDesc: $("#txtGroupDesc").val(),
                        AltGroupDesc: $("#txtAltGroupDesc").val(),
                    };

                    $.ajax({
                        url: '@Url.Action(Actions.ManageCleaningGroup, Controllers.Configurations, new { area = Areas.Configurations })',
                        type: "POST",
                        data: addRequestVerificationToken(changedObj),
                        dataType: "json",
                        success: function (result) {
                            if (result[0] == 0) {
                                ShowMessage(result[1], result[2], "#divModelError");
                            }
                            else {
                                $('#cleanignGroupModal').modal("hide");
                                ShowMessage(result[0], result[1], "#divMessage");
                                ReBindKendoGrid("cleanignGroupGrid");
                            }
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            showErrorMessage();
                        }
                    });
                    e.preventDefault();
                }
            }
            else {
                e.preventDefault();
            }
        })

    </script>
}
@if (ProjectSession.PermissionAccess.SetupConfiguration_CleaningGroup_Deleterecords)
{
    <script type="text/javascript">
        function onDataBound(arg) {
            confirmDeleteMsg(msgText, okText, cancelText, onConfirmCallback, confirmDirection);
            gridProperPaging(this);
        }

        function onConfirmCallback(sender) {
            var id = $(this).data("id");
            $.ajax({
                url: '@Url.Action(Actions.DeleteCleaningGroup, Controllers.Configurations, new { area = Areas.Configurations })',
                type: "POST",
                data: addRequestVerificationToken({ groupId: id }),
                dataType: "json",
                success: function (result) {
                    ClearAllInputs("frmCleaningGroup");
                    ShowMessage(result[0], result[1], "#divMessage");
                    ReBindKendoGrid("cleanignGroupGrid");

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }

    </script>
}
else
{
    <script>
        function onDataBound(arg) {
            gridProperPaging(this);
        }
    </script>
}