﻿@model CMMS.Model.CleaningWeightage
@using CMMS.Infrastructure;
@using CMMS.Pages;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="divContent">
    @using (Html.BeginForm(Actions.ManageCleaningWeightage, Controllers.Configurations, new { area = Areas.Configurations, @Model }, FormMethod.Post, new { id = "frmCleaningWeightage" }))
    {
        @Html.AntiForgeryToken()
        <div class="box cleaning-weightage">
            <div class="nav-tabs-horizontal">
                <div class="titel-pc">
                    <h1>@ProjectSession.Resources.label.CleaningSetup_TextCleaningWeightageMaster</h1>
                </div>
                <div class="form-horizontal">
                    <div class="information-form">
                        @Html.HiddenFor(m => m.CleaningWeightageId, new { @id = "hdnCleaningWeightageId" })
                        <div class="form-group">
                            <label class="col-sm-4 col-md-3 control-label">@ProjectSession.Resources.label.JobRequest_TextBlockCityCode</label>
                            <div class="col-sm-6">
                                <div class="@ProjectSession.CultureKendoClass">
                                    @(Html.Kendo().DropDownListFor(m => m.L2ID)
                                             .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                             .DataTextField("L2Code")
                                             .DataValueField("L2ID")
                                             .HtmlAttributes(new { style = "width: 100%", @required = "required" })
                                             .Template("#= KendoDDLTemplate(data.L2Code ,data.L2name, data.L2Altname) #")
                                             .Events(m => m.Change("ChangeL2"))
                                             .DataSource(source =>
                                             {
                                                 if (ProjectSession.IsCentral)
                                                 {
                                                     source.Read(read =>
                                                     {
                                                         read.Action(Actions.GetAllCities, Controllers.Configurations, new { area = Areas.Configurations, cityID = Model.L2ID });
                                                     });
                                                 }
                                                 else
                                                 {
                                                     source.Read(read =>
                                                     {
                                                         read.Action(Actions.GetCitiesByEmployee, Controllers.Configurations, new { area = Areas.Configurations, cityID = Model.L2ID });
                                                     });
                                             }
                                         }).Value(Convert.ToString(Model.L2ID))
                                    )
                                </div>
                            </div>
                        </div>
                        <div class="form-group cleaning-title">
                            <label class="col-sm-4 col-md-3 control-label">@ProjectSession.Resources.label.CleaningSetup_TextBlockCleaningElements</label>
                            <div class="col-xs-4 col-sm-2">
                                <label class="col-xs-12 col-sm-2 cleaning-label">@ProjectSession.Resources.label.CleaningSetup_TextBlockPublic</label>
                            </div>
                            <div class="col-xs-4 col-sm-2">
                                <label class="col-xs-12 col-sm-2 cleaning-label">@ProjectSession.Resources.label.CleaningSetup_TextBlockRoom</label>
                            </div>
                            <div class="col-xs-4 col-sm-2">
                                <label class="col-xs-12 col-sm-2 cleaning-label">@ProjectSession.Resources.label.CleaningSetup_TextBlockOutside</label>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-sm-4 col-md-3 control-label xs-bg">@ProjectSession.Resources.label.CleaningSetup_TextBlockFloor</label>
                            <div class="col-xs-4 col-sm-2">
                                @Html.TextBoxFor(m => m.PublicFloor, new { @class = "form-control allowIntegerOnly getPublicData", @id = "txtPublicFloor", @Name = "PublicFloor", @placeholder = ProjectSession.Resources.label.Common_Enter + ' ' + ProjectSession.Resources.label.CleaningSetup_TextBlockPublic + ' ' + ProjectSession.Resources.label.CleaningSetup_TextBlockFloor })
                            </div>
                            <div class="col-xs-4 col-sm-2">
                                @Html.TextBoxFor(m => m.RoomFloor, new { @class = "form-control allowIntegerOnly getRoomData", @id = "txtRoomFloor", @Name = "RoomFloor", @placeholder = ProjectSession.Resources.label.Common_Enter + ' ' + ProjectSession.Resources.label.CleaningSetup_TextBlockRoom + ' ' + ProjectSession.Resources.label.CleaningSetup_TextBlockFloor })
                            </div>
                            <div class="col-xs-4 col-sm-2">
                                @Html.TextBoxFor(m => m.OutsideFloor, new { @class = "form-control allowIntegerOnly getOutSideFloorData", @id = "txtOutsideFloor", @Name = "OutsideFloor", @placeholder = ProjectSession.Resources.label.Common_Enter + ' ' + ProjectSession.Resources.label.CleaningSetup_TextBlockOutside + ' ' + ProjectSession.Resources.label.CleaningSetup_TextBlockFloor })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 col-md-3 control-label xs-bg">@ProjectSession.Resources.label.CleaningSetup_TextBlockWall</label>
                            <div class="col-xs-4 col-sm-2">
                                @Html.TextBoxFor(m => m.PublicWall, new { @class = "form-control allowIntegerOnly getPublicData", @id = "txtPublicWall", @Name = "PublicWall", @placeholder = ProjectSession.Resources.label.Common_Enter + ' ' + ProjectSession.Resources.label.CleaningSetup_TextBlockPublic + ' ' + ProjectSession.Resources.label.CleaningSetup_TextBlockWall })
                            </div>
                            <div class="col-xs-4 col-sm-2">
                                @Html.TextBoxFor(m => m.RoomWall, new { @class = "form-control allowIntegerOnly getRoomData", @id = "txtRoomWall", @Name = "RoomWall", @placeholder = ProjectSession.Resources.label.Common_Enter + ' ' + ProjectSession.Resources.label.CleaningSetup_TextBlockRoom + ' ' + ProjectSession.Resources.label.CleaningSetup_TextBlockWall })
                            </div>
                            <div class="col-xs-4 col-sm-2">
                                @Html.TextBoxFor(m => m.OutsideWall, new { @class = "form-control allowIntegerOnly getOutSideFloorData", @id = "txtOutsideWall", @Name = "OutsideWall", @placeholder = ProjectSession.Resources.label.Common_Enter + ' ' + ProjectSession.Resources.label.CleaningSetup_TextBlockOutside + ' ' + ProjectSession.Resources.label.CleaningSetup_TextBlockWall })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 col-md-3 control-label xs-bg">@ProjectSession.Resources.label.CleaningSetup_TextBlockWindowDoor</label>
                            <div class="col-xs-4 col-sm-2">
                                @Html.TextBoxFor(m => m.PublicWindow, new { @class = "form-control allowIntegerOnly getPublicData", @id = "txtPublicWindow", @Name = "PublicWindow", @placeholder = ProjectSession.Resources.label.Common_Enter + ' ' + ProjectSession.Resources.label.CleaningSetup_TextBlockPublic + ' ' + ProjectSession.Resources.label.CleaningSetup_TextBlockWindowDoor })
                            </div>
                            <div class="col-xs-4 col-sm-2">
                                @Html.TextBoxFor(m => m.RoomWindow, new { @class = "form-control allowIntegerOnly getRoomData", @id = "txtRoomWindow", @Name = "RoomWindow", @placeholder = ProjectSession.Resources.label.Common_Enter + ' ' + ProjectSession.Resources.label.CleaningSetup_TextBlockRoom + ' ' + ProjectSession.Resources.label.CleaningSetup_TextBlockWindowDoor })
                            </div>
                            <div class="col-xs-4 col-sm-2">
                                @Html.TextBoxFor(m => m.OutsideWindow, new { @class = "form-control allowIntegerOnly getOutSideFloorData", @id = "txtOutsideWindow", @Name = "OutsideWindow", @placeholder = ProjectSession.Resources.label.Common_Enter + ' ' + ProjectSession.Resources.label.CleaningSetup_TextBlockOutside + ' ' + ProjectSession.Resources.label.CleaningSetup_TextBlockWindowDoor })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 col-md-3 control-label xs-bg">@ProjectSession.Resources.label.CleaningSetup_TextBlockCeiling</label>
                            <div class="col-xs-4 col-sm-2">
                                @Html.TextBoxFor(m => m.PublicCeiling, new { @class = "form-control allowIntegerOnly getPublicData", @id = "txtPublicCeiling", @Name = "PublicCeiling", @placeholder = ProjectSession.Resources.label.Common_Enter + ' ' + ProjectSession.Resources.label.CleaningSetup_TextBlockPublic + ' ' + ProjectSession.Resources.label.CleaningSetup_TextBlockCeiling })
                            </div>
                            <div class="col-xs-4 col-sm-2">
                                @Html.TextBoxFor(m => m.RoomCeiling, new { @class = "form-control allowIntegerOnly getRoomData", @id = "txtRoomCeiling", @Name = "RoomCeiling", @placeholder = ProjectSession.Resources.label.Common_Enter + ' ' + ProjectSession.Resources.label.CleaningSetup_TextBlockRoom + ' ' + ProjectSession.Resources.label.CleaningSetup_TextBlockCeiling })
                            </div>
                            <div class="col-xs-4 col-sm-2">
                                @Html.TextBoxFor(m => m.OutsideCeiling, new { @class = "form-control allowIntegerOnly getOutSideFloorData", @id = "txtOutsideCeiling", @Name = "OutsideCeiling", @placeholder = ProjectSession.Resources.label.Common_Enter + ' ' + ProjectSession.Resources.label.CleaningSetup_TextBlockOutside + ' ' + ProjectSession.Resources.label.CleaningSetup_TextBlockCeiling })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 col-md-3 control-label xs-bg">@ProjectSession.Resources.label.CleaningSetup_TextBlockFurniture</label>
                            <div class="col-xs-4 col-sm-2">
                                @Html.TextBoxFor(m => m.PublicFurniture, new { @class = "form-control allowIntegerOnly getPublicData", @id = "txtPublicFurniture", @Name = "PublicFurniture", @placeholder = ProjectSession.Resources.label.Common_Enter + ' ' + ProjectSession.Resources.label.CleaningSetup_TextBlockPublic + ' ' + ProjectSession.Resources.label.CleaningSetup_TextBlockFurniture })
                            </div>
                            <div class="col-xs-4 col-sm-2">
                                @Html.TextBoxFor(m => m.RoomFurniture, new { @class = "form-control allowIntegerOnly getRoomData", @id = "txtRoomFurniture", @Name = "RoomFurniture", @placeholder = ProjectSession.Resources.label.Common_Enter + ' ' + ProjectSession.Resources.label.CleaningSetup_TextBlockRoom + ' ' + ProjectSession.Resources.label.CleaningSetup_TextBlockFurniture })
                            </div>
                            <div class="col-xs-4 col-sm-2">
                                @Html.TextBoxFor(m => m.OutsideFurniture, new { @class = "form-control allowIntegerOnly getOutSideFloorData", @id = "txtOutsideFurniture", @Name = "OutsideFurniture", @placeholder = ProjectSession.Resources.label.Common_Enter + ' ' + ProjectSession.Resources.label.CleaningSetup_TextBlockOutside + ' ' + ProjectSession.Resources.label.CleaningSetup_TextBlockFurniture })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 col-md-3 control-label xs-bg">@ProjectSession.Resources.label.CleaningSetup_TextBlockWasteBag</label>
                            <div class="col-xs-4 col-sm-2">
                                @Html.TextBoxFor(m => m.PublicWaste, new { @class = "form-control allowIntegerOnly getPublicData", @id = "txtPublicWaste", @Name = "PublicWaste", @placeholder = ProjectSession.Resources.label.Common_Enter + ' ' + ProjectSession.Resources.label.CleaningSetup_TextBlockPublic + ' ' + ProjectSession.Resources.label.CleaningSetup_TextBlockWasteBag })
                            </div>
                            <div class="col-xs-4 col-sm-2">
                                @Html.TextBoxFor(m => m.RoomWaste, new { @class = "form-control allowIntegerOnly getRoomData", @id = "txtRoomWaste", @Name = "RoomWaste", @placeholder = ProjectSession.Resources.label.Common_Enter + ' ' + ProjectSession.Resources.label.CleaningSetup_TextBlockRoom + ' ' + ProjectSession.Resources.label.CleaningSetup_TextBlockWasteBag })
                            </div>
                            <div class="col-xs-4 col-sm-2">
                                @Html.TextBoxFor(m => m.OutsideWaste, new { @class = "form-control allowIntegerOnly getOutSideFloorData", @id = "txtOutsideWaste", @Name = "OutsideWaste", @placeholder = ProjectSession.Resources.label.Common_Enter + ' ' + ProjectSession.Resources.label.CleaningSetup_TextBlockOutside + ' ' + ProjectSession.Resources.label.CleaningSetup_TextBlockWasteBag })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 col-md-3 control-label xs-bg">@ProjectSession.Resources.label.CleaningSetup_TextBlockConsumables</label>
                            <div class="col-xs-4 col-sm-2">
                                @Html.TextBoxFor(m => m.PublicConsumables, new { @class = "form-control allowIntegerOnly getPublicData", @id = "txtPublicConsumables", @Name = "PublicConsumables", @placeholder = ProjectSession.Resources.label.Common_Enter + ' ' + ProjectSession.Resources.label.CleaningSetup_TextBlockPublic + ' ' + ProjectSession.Resources.label.CleaningSetup_TextBlockConsumables })
                            </div>
                            <div class="col-xs-4 col-sm-2">
                                @Html.TextBoxFor(m => m.RoomConsumables, new { @class = "form-control allowIntegerOnly getRoomData", @id = "txtRoomConsumables", @Name = "RoomConsumables", @placeholder = ProjectSession.Resources.label.Common_Enter + ' ' + ProjectSession.Resources.label.CleaningSetup_TextBlockRoom + ' ' + ProjectSession.Resources.label.CleaningSetup_TextBlockConsumables })
                            </div>
                            <div class="col-xs-4 col-sm-2">
                                @Html.TextBoxFor(m => m.OutsideConsumables, new { @class = "form-control allowIntegerOnly getOutSideFloorData", @id = "txtOutsideConsumables", @Name = "OutsideConsumables", @placeholder = ProjectSession.Resources.label.Common_Enter + ' ' + ProjectSession.Resources.label.CleaningSetup_TextBlockOutside + ' ' + ProjectSession.Resources.label.CleaningSetup_TextBlockConsumables })
                            </div>
                        </div>
                        <div class="form-group cleaning-title">
                            <label class="col-sm-4 col-md-3 control-label">@ProjectSession.Resources.label.CleaningSetup_TextBlockTotalRating</label>
                            <div class="col-xs-4 col-sm-2">
                                <label class="col-xs-12 col-sm-2 cleaning-label" id="lblPublicRating">0</label>
                            </div>
                            <div class="col-xs-4 col-sm-2">
                                <label class="col-xs-12 col-sm-2 cleaning-label" id="lblRoomRating">0</label>
                            </div>
                            <div class="col-xs-4 col-sm-2">
                                <label class="col-xs-12 col-sm-2 cleaning-label" id="lblOutsideRating">0</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 col-md-3 control-label xs-bg">@ProjectSession.Resources.label.CleaningSetup_TextBlockSatLevel</label>
                            <div class="col-xs-4 col-sm-2">
                                @Html.TextBoxFor(m => m.SatisfactionLevel, new { @class = "form-control allowIntegerOnly", @id = "txtSatisfactionLevel", @Name = "SatisfactionLevel", @placeholder = ProjectSession.Resources.label.Common_Enter + ' ' + ProjectSession.Resources.label.CleaningSetup_TextBlockSatLevel })
                            </div>
                        </div>
                    </div>
                    @if (ProjectSession.PermissionAccess.SetupConfiguration_CleaningWeightage_Editrecords)
                    {
                        <div class="box-footer">
                            <button class="btn btn-primary" id="btnUpdate" name="btnUpdate" type="submit"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
                            <button class="btn btn-default" id="btnReset" name="btnReset" type="reset" onclick="ResetLabel()"><span>@ProjectSession.Resources.label.Common_ButtonClear</span></button>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
</div>

<script> 
    var intPageID = '@SystemEnum.Pages.CleaningWeightage.GetHashCode()';
    function ChangeL2(e) {
        var dataItem = this.dataItem(e.item);
        $.ajax({
            url: '@Url.Action(Actions.GetCleaningWeightageByL2ID, Controllers.Configurations, new { area = Areas.Configurations })',
            type: 'Post',
            data: addRequestVerificationToken({ siteId: dataItem.L2ID == "" ? 0 : dataItem.L2ID }),
            cache: false,
            async: false,
            success: function (result) {
                $("#hdnCleaningWeightageId").val(result.CleaningWeightageId);
                $("#txtPublicFloor").val(result.PublicFloor);
                $("#txtRoomFloor").val(result.RoomFloor);
                $("#txtOutsideFloor").val(result.OutsideFloor);
                $("#txtPublicWall").val(result.PublicWall);
                $("#txtRoomWall").val(result.RoomWall);
                $("#txtOutsideWall").val(result.OutsideWall);
                $("#txtPublicWindow").val(result.PublicWindow);
                $("#txtRoomWindow").val(result.RoomWindow);
                $("#txtOutsideWindow").val(result.OutsideWindow);
                $("#txtPublicCeiling").val(result.PublicCeiling);
                $("#txtRoomCeiling").val(result.RoomCeiling);
                $("#txtOutsideCeiling").val(result.OutsideCeiling);
                $("#txtPublicFurniture").val(result.PublicFurniture);
                $("#txtRoomFurniture").val(result.RoomFurniture);
                $("#txtOutsideFurniture").val(result.OutsideFurniture);
                $("#txtPublicWaste").val(result.PublicWaste);
                $("#txtRoomWaste").val(result.RoomWaste);
                $("#txtOutsideWaste").val(result.OutsideWaste);
                $("#txtPublicConsumables").val(result.PublicConsumables);
                $("#txtRoomConsumables").val(result.RoomConsumables);
                $("#txtOutsideConsumables").val(result.OutsideConsumables);
                $("#txtSatisfactionLevel").val(result.SatisfactionLevel);
                getTotalPublicCount();
                getTotalRoomCount();
                getTotalOutsideCount();
            },
            error: function (xhr, ajaxOptions, thrownError) {
                showErrorMessage();
            }
        });
    }

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };

    $(document).ready(function () {

        if ('@ViewBag.Message' != '' && '@ViewBag.MessageType' != '') {
            ShowMessage('@ViewBag.MessageType', '@ViewBag.Message', "#divMessage");
        }

        getTotalPublicCount();
        getTotalRoomCount();
        getTotalOutsideCount();
        $(".getPublicData").blur(function () {
            getTotalPublicCount();
        })
        $(".getRoomData").blur(function () {
            getTotalRoomCount();
        })
        $(".getOutSideFloorData").blur(function () {
            getTotalOutsideCount();
        })
    });

    function getTotalPublicCount() {
        var TotalPublic = parseInt($("#txtPublicFloor").val()) + parseInt($("#txtPublicWall").val()) + parseInt($("#txtPublicWindow").val()) + parseInt($("#txtPublicCeiling").val()) + parseInt($("#txtPublicFurniture").val())
                             + parseInt($("#txtPublicWaste").val()) + parseInt($("#txtPublicConsumables").val())
        $("#lblPublicRating").html(TotalPublic);
    }

    function getTotalRoomCount() {
        var TotalRoom = parseInt($("#txtRoomFloor").val()) + parseInt($("#txtRoomWall").val()) + parseInt($("#txtRoomWindow").val()) + parseInt($("#txtRoomCeiling").val()) + parseInt($("#txtRoomFurniture").val())
                             + parseInt($("#txtRoomWaste").val()) + parseInt($("#txtRoomConsumables").val())
        $("#lblRoomRating").html(TotalRoom);
    }

    function getTotalOutsideCount() {
        var TotalOutside = parseInt($("#txtOutsideFloor").val()) + parseInt($("#txtOutsideWall").val()) + parseInt($("#txtOutsideWindow").val()) + parseInt($("#txtOutsideCeiling").val()) + parseInt($("#txtOutsideFurniture").val())
                             + parseInt($("#txtOutsideWaste").val()) + parseInt($("#txtOutsideConsumables").val())
        $("#lblOutsideRating").html(TotalOutside);
    }

    $('#frmCleaningWeightage').on('submit', function (e) {
        if ($("#frmCleaningWeightage").valid()) {
            if (!e.isDefaultPrevented()) {
                if (reValidateDropDowns($(this))) {
                    var TotalPublic = $("#lblPublicRating").html();
                    var TotalRoom = $("#lblRoomRating").html();
                    var TotalOutside = $("#lblOutsideRating").html();
                    var SatisfactionLevel = $("#txtSatisfactionLevel").val();
                    if (TotalPublic != 100) {
                        ShowMessage('@SystemEnum.MessageType.danger.ToString()', '@ProjectSession.Resources.message.CleaningSetup_MsgTotalPublic', "#divMessage");
                        e.preventDefault();
                        return false;
                    }
                    if (TotalRoom != 100) {
                        ShowMessage('@SystemEnum.MessageType.danger.ToString()', '@ProjectSession.Resources.message.CleaningSetup_MsgTotalRoom', "#divMessage");
                        e.preventDefault();
                        return false;
                    }
                    if (TotalOutside != 100) {
                        ShowMessage('@SystemEnum.MessageType.danger.ToString()', '@ProjectSession.Resources.message.CleaningSetup_MsgTotalOutside', "#divMessage");
                        e.preventDefault();
                        return false;
                    }
                    if (SatisfactionLevel <= 0 || SatisfactionLevel > 100) {
                        ShowMessage('@SystemEnum.MessageType.danger.ToString()', '@ProjectSession.Resources.message.CleaningSetup_MsgSatisfactionLevel', "#divMessage");
                        e.preventDefault();
                        return false;
                    }
                }
                else {
                    e.preventDefault();
                    return false;
                }
            }
        }
        else {
            e.preventDefault();
            return false;
        }
    })

    function ResetLabel() {
        window.location.href = '@Url.Action(Actions.CleaningWeightage, Controllers.Configurations, new { area=Areas.Configurations})'
    }
</script>