﻿@using CMMS.Infrastructure;
@using CMMS.Pages;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.AntiForgeryToken()
<div class="head1">
    <h1>@ProjectSession.Resources.label.CostCenter_TextBlockCostCenter</h1>
    <ul class="sub_btn">
        @if (ProjectSession.PermissionAccess.SetupConfiguration_CostCenter_Createnewrecords)
        {
            <li>
                <a href="javascript:void(0);" class="btn-icon btn-add" data-toggle="modal" data-target="#costCenterModal" data-backdrop="static" onclick="OpenCostCenterEditWindow(0);" title="@ProjectSession.Resources.label.Common_ButtonAdd"><i></i></a>
            </li>
        }
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-search" data-toggle="modal" data-target="#search-order" onclick='OpenAdvancedSearch("@ProjectSession.Resources.label.CostCenter_TextBlockCostCenter","@SystemEnum.Pages.CostCenter.GetHashCode()")' title="@ProjectSession.Resources.label.Common_ButtonAdvanceSearch"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-clear" title="@ProjectSession.Resources.label.Common_ButtonClear" onclick="return ClearAdvencedSearch(@SystemEnum.Pages.CostCenter.GetHashCode());"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-refresh" onclick="ReBindKendoGrid('costCenterGrid');" title="@ProjectSession.Resources.label.Common_ButtonRefreshGrid"><i></i></a>
        </li>
        @if (ProjectSession.PermissionAccess.SetupConfiguration_CostCenter_Export)
        {
            <li>
                <a href="javascript:void(0);" class="btn-icon btn-xsl" onclick="ExportToExcel('costCenterGrid', 'CostCenterId');" title="@ProjectSession.Resources.label.Common_ButtonExportToExcel"><i></i></a>
            </li>
        }
    </ul>
</div>

<!-- Kendo Grid -->
<div id="costCenterData" class="@ProjectSession.CultureKendoClass">
    @(Html.Kendo().Grid<CMMS.Model.CostCenter>()
        .HtmlAttributes(new { @class = "kl-grid" })
        .Name("costCenterGrid")
        .Columns(columns =>
        { 
            columns.Bound(c => c.CostCenterNo).Title(ProjectSession.Resources.label.CostCenter_TextBlockCostCenterNo).Width(180);

            columns.Bound(c => c.CostCenterName).Title(ProjectSession.Resources.label.CostCenter_TextBlockCostCenterDesc);

            columns.Bound(c => c.AltCostCenterName).HtmlAttributes(new { @class = "text-right" }).Title(ProjectSession.Resources.label.CostCenter_TextBlockAltCostCenterDesc);

            if (ProjectSession.PermissionAccess.SetupConfiguration_CostCenter_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_CostCenter_Deleterecords)
            {
                columns.Bound(c => c.CostCenterId).ClientTemplate("<center>" + (ProjectSession.PermissionAccess.SetupConfiguration_CostCenter_Editrecords ? "<a class='action' title='" + ProjectSession.Resources.label.Common_ButtonEdit + "'  style='cursor:pointer' data-toggle='modal' data-target='\\#costCenterModal' onclick='OpenCostCenterEditWindow(#: CostCenterId#)'><i class='glyphicon glyphicon-pencil'></i></a>&nbsp;" : "") + "" + (ProjectSession.PermissionAccess.SetupConfiguration_CostCenter_Deleterecords ? "<a class='action delete-button'  href='javascript:void(0);'  class='delete-ic' data-id='#: CostCenterId #' style='cursor:pointer'><i class='glyphicon glyphicon-trash' title='" + ProjectSession.Resources.label.Common_ButtonDelete + "' ></i></a>" : "") + "</center>")
                                            .Title("<center>" + ProjectSession.Resources.label.Common_ButtonAction + "</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Width(80).Filterable(false);
            }
        })
        .Filterable()
        .Sortable(sortable => sortable.AllowUnsort(false))
        .Scrollable()
        .Excel(excel => excel.FileName("Cost Center.xlsx").Filterable(true).AllPages(true).ProxyURL(Url.Action("Excel_Export_Save", "GridExport", new { area = string.Empty })))
        .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
        .Events(events => events.DataBound("onDataBound").ExcelExport("excelExport"))
        .DataSource(dataSource =>
                                dataSource.Ajax()
                                .PageSize(ProjectConfiguration.PageSize)
                                .Sort(model => model.Add("CostCenterNo").Ascending())
                                 .Model(model =>
                                 {
                                     model.Id(p => p.CostCenterId);
                                     model.Field(p => p.CostCenterName);
                                 })
                                .ServerOperation(true)
                                .Read(read => read.Action(Actions.GetCostCenter, Controllers.Configurations, new { area = Areas.Configurations }).Data("BindParameters").Type(HttpVerbs.Post))
        )
    )

</div>

<!-- search order -->
<div id="search-order" class="modal fade" role="dialog"></div>

<!-- Cost Center Modal -->
<div id="costCenterModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" title="@ProjectSession.Resources.label.Common_ButtonClose"></button>
                <h4 class="modal-title">@ProjectSession.Resources.label.CostCenter_TextBlockCostCenter</h4>
            </div>
            <form role="form" id="frmCostCenter">
                <input type="hidden" name="hdnCostCenterId" id="hdnCostCenterId" />
                <div class="modal-body">
                    <div id="Highlights" class="tab-pane active" role="tabpanel">
                        <div class="form-horizontal">
                            <div id="divModelError"></div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.CostCenter_TextBlockCostCenterNo<span class="cfont">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="CostCenterNo" id="txtCostCenterNo" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.CostCenter_TextBlockCostCenterNo" maxlength="50">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.CostCenter_TextBlockCostCenterDesc<span class="cfont">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="CostCenterName" id="txtCostCenterName" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.CostCenter_TextBlockCostCenterDesc" maxlength="150">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.CostCenter_TextBlockAltCostCenterDesc</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="txtAltCostCenterName" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.CostCenter_TextBlockAltCostCenterDesc" maxlength="150">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer box-footer">
                    @if (ProjectSession.PermissionAccess.SetupConfiguration_CostCenter_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_CostCenter_Createnewrecords)
                    {
                        <button type="submit" class="btn btn-primary" id="btnSave"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
                    }
                    <button type="button" class="btn btn-default" data-dismiss="modal">@ProjectSession.Resources.label.Common_ButtonClose</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    var kendoGridId = 'costCenterGrid';
    var intPageID = '@SystemEnum.Pages.CostCenter.GetHashCode()';

    $(document).ready(function () {
        validator = $('#frmCostCenter').validate({
            rules: {
                CostCenterNo: { required: true },
                CostCenterName: { required: true },
            },
            messages: {
                CostCenterNo: { required: '' },
                CostCenterName: { required: '' },
            }
        });
    });

    function BindParameters() {
        return {
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };

    function OpenCostCenterEditWindow(id) {
        if (id > 0) {
            $.ajax({
                url: '@Url.Action(Actions.GetCostCenterByID, Controllers.Configurations, new { area = Areas.Configurations })',
                type: "POST",
                data: addRequestVerificationToken({ costCenterId: id }),
                success: function (result) {
                    $("#hdnCostCenterId").val(result.CostCenterId);
                    $("#txtCostCenterNo").val(result.CostCenterNo);
                    $("#txtCostCenterName").val(result.CostCenterName);
                    $("#txtAltCostCenterName").val(result.AltCostCenterName);

                    @if (!ProjectSession.PermissionAccess.SetupConfiguration_CostCenter_ChangeMastersCodes)
                    {
                        <text>$("#txtCostCenterNo").attr("disabled", "disabled");</text>
                    }

                    @if (ProjectSession.PermissionAccess.SetupConfiguration_CostCenter_Editrecords)
                    {
                        <text>$("#btnSave").show(); </text>
                    }
                    else if (ProjectSession.PermissionAccess.SetupConfiguration_CostCenter_Createnewrecords)
                    {
                        <text>$("#btnSave").hide(); </text>
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }
        else {
            ClearAllInputs("frmCostCenter");
            $("#txtCostCenterNo").removeAttr("disabled");
            @if (ProjectSession.PermissionAccess.SetupConfiguration_CostCenter_Createnewrecords)
            {
                <text>$("#btnSave").show(); </text>
            }
            else if (ProjectSession.PermissionAccess.SetupConfiguration_CostCenter_Editrecords)
            {
                <text>$("#btnSave").hide(); </text>
            }
        }
    }

    $("#costCenterGrid tbody").on("dblclick", "tr[role='row']", function (e) {
        var grid = $("#costCenterGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        $("#costCenterModal").modal("show");
        OpenCostCenterEditWindow(model.CostCenterId);
    });


</script>

@if (ProjectSession.PermissionAccess.SetupConfiguration_CostCenter_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_CostCenter_Createnewrecords)
{
    <script type="text/javascript">

        $('#frmCostCenter').on('submit', function (e) {
            if ($("#frmCostCenter").valid()) {
                if (e.isDefaultPrevented()) {
                    // handle the invalid form...
                } else {

                    var costCenterId = $("#hdnCostCenterId").val();
                    var changedObj = {
                        CostCenterId: costCenterId == '' ? 0 : costCenterId,
                        CostCenterNo: $("#txtCostCenterNo").val(),
                        CostCenterName: $("#txtCostCenterName").val(),
                        AltCostCenterName: $("#txtAltCostCenterName").val(),
                    };

                    $.ajax({
                        url: '@Url.Action(Actions.ManageCostCenter, Controllers.Configurations, new { area = Areas.Configurations })',
                        type: "POST",
                        data: addRequestVerificationToken(changedObj),
                        dataType: "json",
                        success: function (result) {
                            if (result[0] == 0) {
                                ShowMessage(result[1], result[2], "#divModelError");
                            }
                            else {
                                $('#costCenterModal').modal("hide");
                                ShowMessage(result[0], result[1], "#divMessage");
                                ReBindKendoGrid("costCenterGrid");
                            }
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            showErrorMessage();
                        }
                    });
                    e.preventDefault();
                }
            }
            else {
                e.preventDefault();
            }
        })
    </script>
}

@if (ProjectSession.PermissionAccess.SetupConfiguration_CostCenter_Deleterecords)
{
    <script type="text/javascript">


        function onDataBound(arg) {
            confirmDeleteMsg(msgText, okText, cancelText, onConfirmCallback, confirmDirection);
            gridProperPaging(this);
        }

        function onConfirmCallback(sender) {
            var id = $(this).data("id");
            $.ajax({
                url: '@Url.Action(Actions.DeleteCostCenter, Controllers.Configurations, new { area = Areas.Configurations })',
                type: "POST",
                data: addRequestVerificationToken({ costCenterId: id }),
                dataType: "json",
                success: function (result) {
                    ClearAllInputs("frmCostCenter");
                    ShowMessage(result[0], result[1], "#divMessage");
                    ReBindKendoGrid("costCenterGrid");

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }


    </script>
}
else
{
    <script>
        function onDataBound(arg) {
            gridProperPaging(this);
        }
    </script>
}


