﻿@using CMMS.Infrastructure;
@using CMMS.Pages;
@using CMMS.Model
@using CMMS.Service
@using CMMS.Model
@{
    Layout = "~/Views/Shared/_Layout.cshtml";  
}
@Html.AntiForgeryToken() 

<div class="head1">
    <h1>
        @ProjectSession.Resources.label.Asset_TextBlockAssetCriticality
    </h1>
    <ul class="sub_btn">
        @if (ProjectSession.PermissionAccess.SetupConfiguration_AssetCriticality_Createnewrecords)
        {
            <li><a href="javascript:void(0);" class="btn-icon btn-add" data-toggle="modal" data-target="#CriticalityModal" data-backdrop="static" onclick="OpenCriticalityEditWindow(0);" title='@ProjectSession.Resources.label.Common_ButtonAdd'><i></i></a></li>
        }
        <li><a href="javascript:void(0);" class="btn-icon btn-search" data-toggle="modal" data-target="#search-order" onclick='OpenAdvancedSearch("@ProjectSession.Resources.label.Asset_TextBlockAssetCriticality","@SystemEnum.Pages.Criticality.GetHashCode()")' title='@ProjectSession.Resources.label.Common_ButtonAdvanceSearch'><i></i></a></li>
        <li><a href="javascript:void(0);" class="btn-icon btn-clear" title="@ProjectSession.Resources.label.Common_ButtonClear" onclick="return ClearAdvencedSearch(@SystemEnum.Pages.Criticality.GetHashCode());"><i></i></a></li>
        <li><a href="javascript:void(0);" class="btn-icon btn-refresh" onclick="ReBindKendoGrid('CriticalityGrid');" title='@ProjectSession.Resources.label.Common_ButtonRefreshGrid'><i></i></a></li>
        @if (ProjectSession.PermissionAccess.SetupConfiguration_AssetCriticality_Export)
        {
            <li><a href="javascript:void(0);" class="btn-icon btn-xsl" onclick="ExportToExcel('CriticalityGrid', 'Id');" title="@ProjectSession.Resources.label.Common_ButtonExportToExcel"><i></i></a></li>
        }
    </ul>
</div>
<!-- Kendo Grid-->
<div id="CriticalityData" class="@ProjectSession.CultureKendoClass">
    @(Html.Kendo().Grid<CMMS.Model.Criticalities>()
        .Name("CriticalityGrid")
        .HtmlAttributes(new { @class = "kl-grid" })
        .Columns(columns =>
        {
            columns.Bound(c => c.Criticality).Title(ProjectSession.Resources.label.Asset_TextBlockAssetCriticalityName).Width(250); 

            columns.Bound(c => c.AltCriticality).HtmlAttributes(new { @class = "text-right" }).Title(ProjectSession.Resources.label.Asset_TextBlockAltAssetCriticality);

            if (ProjectSession.PermissionAccess.SetupConfiguration_AssetCriticality_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_AssetCriticality_Deleterecords)
            {
                columns.Bound(c => c.Id).ClientTemplate("<center>" + (ProjectSession.PermissionAccess.SetupConfiguration_AssetCriticality_Editrecords ? "<a class='action' title='" + ProjectSession.Resources.label.Common_ButtonEdit + "'  style='cursor:pointer' data-toggle='modal' data-target='\\#CriticalityModal' onclick='OpenCriticalityEditWindow(#: Id#)'><i class='glyphicon glyphicon-pencil'></i></a>&nbsp;" : "") + "" + (ProjectSession.PermissionAccess.SetupConfiguration_AssetCriticality_Deleterecords ? "<a class='action delete-button'  href='javascript:void(0);'  class='delete-ic' data-id='#: Id #' style='cursor:pointer'><i class='glyphicon glyphicon-trash' title='" + ProjectSession.Resources.label.Common_ButtonDelete + "' ></i></a>" : "") + "</center>")
                                            .Title("<center>" + ProjectSession.Resources.label.Common_ButtonAction + "</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Width(80).Filterable(false);
            }
        })
        .Filterable()
        .Sortable(sortable => sortable.AllowUnsort(false))
        .Scrollable()
        .Excel(excel => excel.FileName("Criticality.xlsx").Filterable(true).AllPages(true).ProxyURL(Url.Action("Excel_Export_Save", "GridExport", new { area = string.Empty })))
        .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
        .Events(events => events.DataBound("onDataBound").ExcelExport("excelExport"))
        .DataSource(dataSource =>
                                dataSource.Ajax()
                                .PageSize(ProjectConfiguration.PageSize)
                                 .Sort(model => model.Add("Criticality").Ascending())
                                 .Model(model =>
                                 {
                                     model.Id(p => p.Id);
                                     model.Field(p => p.Criticality);
                                 })
                                .ServerOperation(true)
                                .Read(read => read.Action(Actions.GetCriticalityList, Controllers.Configurations, new { area = Areas.Configurations }).Data("BindParameters").Type(HttpVerbs.Post))
        )
        )

</div>


<!-- -------------search order------------- -->
<div id="search-order" class="modal fade" role="dialog"></div>
<!-- -------------Manage Order------------- -->
<div id="CriticalityModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-mg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"></button>
                <h4 class="modal-title">@ProjectSession.Resources.label.Asset_TextBlockEditAssetCriticality</h4>
            </div>
            <form role="form" id="frmCriticality">
                <input type="hidden" name="hdnId" id="hdnId" />
                <div class="modal-body">
                    <div id="Highlights" class="tab-pane active" role="tabpanel">
                        <div class="form-horizontal">
                            <div id="divModelError"></div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.Asset_TextBlockAssetCriticalityName<span class="cfont">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="Criticality" id="txtCriticality" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.Asset_TextBlockAssetCriticalityName" maxlength="100">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.Asset_TextBlockAltAssetCriticality</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="txtAltCriticality" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.Asset_TextBlockAltAssetCriticality" maxlength="100">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer box-footer">
                    @if (ProjectSession.PermissionAccess.SetupConfiguration_AssetCriticality_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_AssetCriticality_Createnewrecords)
                    {
                        <button type="submit" class="btn btn-primary" id="btnSave"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
                    }
                    <button type="button" class="btn btn-default" data-dismiss="modal">@ProjectSession.Resources.label.Common_ButtonClose</button>
                </div>
            </form>
        </div>

    </div>
</div>

<script type="text/javascript">
    var kendoGridId = 'CriticalityGrid';
    var intPageID = '@SystemEnum.Pages.Criticality.GetHashCode()';

    $(document).ready(function () {
        validator = $('#frmCriticality').validate({
            rules: {
                Criticality: { required: true },
            },
            messages: {
                Criticality: { required: '' },
            }
        });
    });

    function BindParameters() {
        return {
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };

    function OpenCriticalityEditWindow(id) {
        if (id > 0) {
            $.ajax({
                url: '@Url.Action(Actions.GetCriticalityListByID, Controllers.Configurations, new { area = Areas.Configurations })',
                type: "POST",
                data: addRequestVerificationToken({ Id: id }),
                success: function (result) {
                    $("#hdnId").val(result.Id);
                    $("#txtCriticality").val(result.Criticality);
                    $("#txtAltCriticality").val(result.AltCriticality);
                     @if (ProjectSession.PermissionAccess.SetupConfiguration_AssetCriticality_Editrecords)
                     {
                        <text>$("#btnSave").show(); </text>
                     }
                     else if (ProjectSession.PermissionAccess.SetupConfiguration_AssetCriticality_Createnewrecords)
                     {
                        <text>$("#btnSave").hide(); </text>
                     }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    ShowMessage('@SystemEnum.MessageType.danger.ToString()', '@ProjectSession.Resources.message.Common_MsgErrorContactAdmin', "#divMessage");
                }
            });
            }
            else {
                ClearAllInputs("frmCriticality");
            @if (ProjectSession.PermissionAccess.SetupConfiguration_AssetCriticality_Createnewrecords)
            {
                <text>$("#btnSave").show(); </text>
            }
            else if (ProjectSession.PermissionAccess.SetupConfiguration_AssetCriticality_Editrecords)
            {
                <text>$("#btnSave").hide(); </text>
            }
        }
    }

    $("#CriticalityGrid tbody").on("dblclick", "tr[role='row']", function (e) {
        var grid = $("#CriticalityGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        $("#CriticalityModal").modal("show");
        OpenCriticalityEditWindow(model.Id);
        //invoke controller
    });


</script>
@if (ProjectSession.PermissionAccess.SetupConfiguration_AssetCriticality_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_AssetCriticality_Createnewrecords)
{
    <script type="text/javascript">


        $('#frmCriticality').on('submit', function (e) {
            if ($("#frmCriticality").valid()) {
                if (e.isDefaultPrevented()) {
                    // handle the invalid form...
                } else {

                    var areaId = $("#hdnId").val();
                    var changedObj = {
                        Id: areaId == '' ? 0 : areaId,
                        Criticality: $("#txtCriticality").val(),
                        AltCriticality: $("#txtAltCriticality").val(),
                    };

                    $.ajax({
                        url: '@Url.Action(Actions.ManageCriticality, Controllers.Configurations, new { area = Areas.Configurations })',
                        type: "POST",
                        data: addRequestVerificationToken(changedObj),
                        dataType: "json",
                        success: function (result) {
                            if (result[0] == 0) {
                                ShowMessage(result[1], result[2], "#divModelError");
                            }
                            else {
                                $('#CriticalityModal').modal("hide");
                                ShowMessage(result[0], result[1], "#divMessage");
                                ReBindKendoGrid("CriticalityGrid");
                            }
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            showErrorMessage();
                        }
                    });
                    e.preventDefault();
                }
            }
            else {
                e.preventDefault();
            }
        })
    </script>
}
@if (ProjectSession.PermissionAccess.SetupConfiguration_AssetCriticality_Deleterecords)
{
    <script type="text/javascript">

        function onDataBound(arg) {
            confirmDeleteMsg(msgText, okText, cancelText, onConfirmCallback, confirmDirection);
            gridProperPaging(this);
        }

        function onConfirmCallback(sender) {
            var id = $(this).data("id");
            $.ajax({
                url: '@Url.Action(Actions.DeleteCriticality, Controllers.Configurations, new { area = Areas.Configurations })',
            type: "POST",
            data: addRequestVerificationToken({ Id: id }),
            dataType: "json",
            success: function (result) {
                ClearAllInputs("frmCriticality");
                ShowMessage(result[0], result[1], "#divMessage");
                ReBindKendoGrid("CriticalityGrid");
            },
            error: function (xhr, ajaxOptions, thrownError) {
                showErrorMessage();
            }
        });
    }
    </script>
}
else
{ 
    <script>
        function onDataBound(arg) {
            gridProperPaging(this);
        }
    </script>
}