﻿@model CMMS.Model.DefaultSetup
@using CMMS.Infrastructure;
@using CMMS.Pages;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="divContent">
    @using (Html.BeginForm(Actions.ManageDefaultSetups, Controllers.Configurations, new { area = Areas.Configurations, @Model }, FormMethod.Post, new { id = "frmDefaultSetup" }))
    {
        @Html.AntiForgeryToken()
        <div class="box">
            <div class="nav-tabs-horizontal">
                <div class="titel-pc">
                    <h1>@ProjectSession.Resources.menu.Purchasing_MenuPurchasingTaxes</h1>
                </div>
                <div class="form-horizontal">
                    <div class="information-form">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">@ProjectSession.Resources.label.PurchasingSetup_TextBlockDefaultGST</label>
                            <div class="col-sm-6">
                                @Html.TextBoxFor(m => m.DefaultGST, String.Format("{0:#,0.00}", Model.DefaultGST), new { @class = "form-control decimalnumber", @id = "txtDefaultGST", @Name = "DefaultGST", @placeholder = ProjectSession.Resources.label.Common_Enter + ' ' + ProjectSession.Resources.label.PurchasingSetup_TextBlockDefaultGST })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">@ProjectSession.Resources.label.PurchasingSetup_TextBlockDefaultTAX</label>
                            <div class="col-sm-6">
                                @Html.TextBoxFor(m => m.DefaultTax, String.Format("{0:#,0.00}", Model.DefaultTax), new { @class = "form-control decimalnumber", @id = "txtDefaultTax", @Name = "DefaultTax", @placeholder = ProjectSession.Resources.label.Common_Enter + ' ' + ProjectSession.Resources.label.PurchasingSetup_TextBlockDefaultTAX })
                            </div>
                        </div>
                    </div>
                    @if (ProjectSession.PermissionAccess.SetupConfiguration_DefaultSetups_Editrecords)
                    {
                        <div class="box-footer">
                            <button class="btn btn-primary" id="btnUpdate" name="btnUpdate" type="submit"><span>@ProjectSession.Resources.label.Common_ButtonUpdate</span></button>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
</div>

<script type="text/javascript">
    var intPageID = '@SystemEnum.Pages.PurchasingTaxes.GetHashCode()';

    validator = $('#frmDefaultSetup').validate({
        rules: {
            DefaultGST: { range: [0, 100] },
            DefaultTax: { range: [0, 100] },
        },
        messages: {
            DefaultGST: {},
            DefaultTax: {}

        }
    });

    $(document).ready(function () {
        if ('@ViewBag.Message' != '' && '@ViewBag.MessageType' != '') {
            ShowMessage('@ViewBag.MessageType', '@ViewBag.Message', "#divMessage");
        }
    });


    $('#frmDefaultSetup').on('submit', function (e) {
        if ($("#frmDefaultSetup").valid()) {
            if (!e.isDefaultPrevented()) {
                if (!reValidateDropDowns($(this)))
                { e.preventDefault(); }
            }
            else { e.preventDefault(); }
        }
        else {
            e.preventDefault();
        }
    });
</script>

