﻿@model CMMS.Model.Configuration
@using CMMS.Infrastructure;
@using CMMS.Pages;
@using CMMS.Model
@using CMMS.Service
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .titel-pc {
        border-bottom: 3px solid #d5d5d5;
        padding: 10px 15px;
        margin-bottom: 10px;
    }

        .titel-pc h1 {
            font-size: 24px;
            color: #555;
            font-family: 'open_sansregular';
            font-weight: normal;
        }
</style>

<div id="divContent">
    @using (Html.BeginForm(Actions.UpdateEmailServerConfiguration, Controllers.Configurations, new { area = Areas.Configurations, @Model }, FormMethod.Post, new { id = "frmServerDetails" }))
    {
        @Html.AntiForgeryToken()
        <div class="box">

            <div class="nav-tabs-horizontal">


                <div class="titel-pc">
                    <h1>@ProjectSession.Resources.label.NotificationSetup_TextBlockSMTPServerDetails</h1>
                </div>
                <div class="form-horizontal">
                    <div class="information-form">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">@ProjectSession.Resources.label.NotificationSetup_TextBlockOutGoingMailServer<span class="cfont">*</span></label>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(m => m.smtp_server, new { @class = "form-control", @id = "txtOutGoingMailServer", @Name = "smtp_server", @placeholder = ProjectSession.Resources.label.Common_Enter + ' ' + ProjectSession.Resources.label.NotificationSetup_TextBlockOutGoingMailServer })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">@ProjectSession.Resources.label.NotificationSetup_TextBlockSMTPServerPort</label>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(m => m.smtp_server_port, new { @class = "form-control", @id = "txtSMTPServerPort", @placeholder = ProjectSession.Resources.label.Common_Enter + ' ' + ProjectSession.Resources.label.NotificationSetup_TextBlockSMTPServerPort })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">@ProjectSession.Resources.label.NotificationSetup_TextBlockOutGoingMailServerAuth</label>
                            <div class="col-sm-8" style="margin-top: 7px;">
                                @Html.CheckBoxFor(model => model.uses_authentication, new { @id = "chkReqAuth", @onchange = "EnableDisableLowerSection()" })
                            </div>
                        </div>
                        <div id="dvCredentials">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.NotificationSetup_TextBlockUserName<span class="cfont">*</span></label>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(m => m.smtp_username, new { @class = "form-control", @id = "txtUserName", @name = "UserName", @placeholder = ProjectSession.Resources.label.Common_Enter + ' ' + ProjectSession.Resources.label.NotificationSetup_TextBlockUserName })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.Employee_TextBlockPassword<span class="cfont">*</span></label>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(m => m.smtp_password, new { @class = "form-control", @id = "txtPassword", @name = "Password", @placeholder = ProjectSession.Resources.label.Common_Enter + ' ' + ProjectSession.Resources.label.Employee_TextBlockPassword })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.NotificationSetup_TextBlockUsesSSL</label>
                                <div class="col-sm-8" style="margin-top: 7px;">
                                    @Html.CheckBoxFor(model => model.uses_ssl, new { id = "chkUsesSSL" })
                                </div>
                            </div>
                        </div>
                    </div>
                    @if (ProjectSession.PermissionAccess.SetupConfiguration_EmailServerConfiguration_Editrecords)
                    {
                        <div class="box-footer">
                            <button class="btn btn-primary" data-toggle="modal" data-target="#TestConnectionModal" id="btnTestConnection" name="btnTestConnection" type="button"><span>@ProjectSession.Resources.label.NotificationSetup_TextBlockTestConnection</span></button>
                            <button class="btn btn-primary" id="btnSave" name="btnSave" type="submit"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
</div>

<div id="TestConnectionModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-mg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"></button>
                <h4 class="modal-title">@ProjectSession.Resources.label.NotificationSetup_TextBlockTestConnection</h4>
            </div>
            <form role="form" id="frmTestConnection">
                <div class="modal-body">
                    <div id="Highlights" class="tab-pane active" role="tabpanel">
                        <div class="form-horizontal">
                            <div id="divModelError"></div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.Employee_TextBlockEmail<span class="cfont">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="txtEmail" id="txtEmail" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.Employee_TextBlockEmail" maxlength="50">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer box-footer">

                    <button type="button" onclick="TestConnection(this);" class="btn btn-primary" id="btnCheckTestConnection"><span>@ProjectSession.Resources.label.NotificationSetup_TextBlockTestConnection</span></button>

                    <button type="button" class="btn btn-default" data-dismiss="modal">@ProjectSession.Resources.label.Common_ButtonClose</button>
                </div>
            </form>
        </div>

    </div>
</div>

<script type="text/javascript">
    var intPageID = '@SystemEnum.Pages.EmailCongifuration.GetHashCode()';

    validator = $('#frmServerDetails').validate({
        rules: {
            smtp_server: { required: true },
            smtp_username: {
                required: function () {
                    return $("#chkReqAuth").is(":checked");
                }
            },
            smtp_password: {
                required: function () {
                    return $("#chkReqAuth").is(":checked");
                }
            },
        },
        messages: {
            smtp_server: { required: '' },
            smtp_username: { required: '' },
            smtp_password: { required: '' },
        }
    });

    var validator1 = $('#frmTestConnection').validate({
        rules: { txtEmail: { required: true, email: true } },
        messages: { txtEmail: { required: '', email: '' } }
    });

    $(document).ready(function () {
        if ('@ViewBag.Message' != '' && '@ViewBag.MessageType' != '') {
            ShowMessage('@ViewBag.MessageType', '@ViewBag.Message', "#divMessage");
        }

        EnableDisableLowerSection();
    });


    $('#frmServerDetails').on('submit', function (e) {
        if ($("#frmServerDetails").valid()) {
            if (!e.isDefaultPrevented()) {
                if (!reValidateDropDowns($(this)))
                { e.preventDefault(); }
            }
            else { e.preventDefault(); }
        }
        else {
            e.preventDefault();
        }
    });

    function EnableDisableLowerSection() {
        if ($("#chkReqAuth").is(":checked")) {
            $("#dvCredentials").children().find(":input").prop('disabled', false)
        } else {
            $("#dvCredentials").children().find(":input").prop('disabled', true)
            $("#dvCredentials").children().find(":input").removeClass('error');
        }
    }

    function TestConnection(e) {

        if ($("#frmTestConnection").valid()) {
            var changedObj = {
                smtp_server: $("#txtOutGoingMailServer").val(),
                smtp_server_port: $("#txtSMTPServerPort").val(),
                uses_authentication: $("#chkReqAuth").is(':checked'),
                smtp_username: $("#txtUserName").val(),
                smtp_password: $("#txtPassword").val(),
                uses_ssl: $("#chkUsesSSL").is(':checked'),
                emailID: $('#txtEmail').val()
            };

            $.ajax({
                url: '@Url.Action("SendTestMail", Controllers.Configurations, new { area = Areas.Configurations })',
                type: "POST",
                data: changedObj,
                dataType: "json",
                success: function (result) {
                    $('#TestConnectionModal').modal("hide");
                    ShowMessage(result[0], result[1], "#divMessage");
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
            return false;
        }
    }

</script>
