﻿@using CMMS.Infrastructure;
@using CMMS.Pages;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool Lang = ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true;
}

@Html.AntiForgeryToken()
<div class="head1">
    <h1>@ProjectSession.Resources.menu.NotificationSetup_MenuNotificationEmailRules</h1>
    <ul class="sub_btn">
        @if (ProjectSession.PermissionAccess.SetupConfiguration_NotificationRules_Createnewrecords)
        {
            <li>
                <a href="javascript:void(0);" class="btn-icon btn-add" data-toggle="modal" data-target="#divEmailRulesEdit" data-backdrop="static" onclick="OpenRulesEditWindow(0);" title="@ProjectSession.Resources.label.Common_ButtonAdd"><i></i></a>
            </li>
        }
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-search" data-toggle="modal" data-target="#search-order" onclick='OpenAdvancedSearch("@ProjectSession.Resources.menu.NotificationSetup_MenuNotificationEmailRules","@SystemEnum.Pages.EmailNotificationRules.GetHashCode()")' title="@ProjectSession.Resources.label.Common_ButtonAdvanceSearch"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-clear" title="@ProjectSession.Resources.label.Common_ButtonClear" onclick="return ClearAdvencedSearch(@SystemEnum.Pages.EmailNotificationRules.GetHashCode());"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-refresh" onclick="ReBindKendoGrid('emailrulesGrid');" title="@ProjectSession.Resources.label.Common_ButtonRefreshGrid"><i></i></a>
        </li>
        @if (ProjectSession.PermissionAccess.SetupConfiguration_NotificationRules_Export)
        {
            <li>
                <a href="javascript:void(0);" class="btn-icon btn-xsl" onclick="ExportToExcel('emailrulesGrid', 'NotificationRuleID');" title="@ProjectSession.Resources.label.Common_ButtonExportToExcel"><i></i></a>
            </li>
        }
    </ul>
</div>

<!-- Kendo Grid -->
<div id="emailrulesData" class="@ProjectSession.CultureKendoClass">
    @(Html.Kendo().Grid<CMMS.Model.Emailnotificationrule>()
        .Name("emailrulesGrid")
        .Columns(columns =>
        {
            columns.Bound(c => c.NotificationRuleName).Title(ProjectSession.Resources.label.NotificationEmailRules_TextBlockRuleName);

            columns.Bound(c => c.IsActive).HtmlAttributes(new { @class = "text-center" }).ClientTemplate("<span class='#= IsActive ? 'active-icon' : 'inactive-icon' #' title='#= IsActive ? 'Active' : 'Not Active' #'></span>").Title(ProjectSession.Resources.label.NotificationEmailRules_TextBlockRuleIsActive).Width(100)
            .Filterable(ftb => ftb.Multi(true).ItemTemplate("itemTemplateForIsActive").CheckAll(false).BindTo(new[]{
                        new { IsActive = true },
                        new { IsActive = false }
                }));

            if (ProjectSession.PermissionAccess.SetupConfiguration_NotificationRules_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_NotificationRules_Deleterecords)
            {
                columns.Bound(c => c.NotificationRuleID).ClientTemplate("<center>" + (ProjectSession.PermissionAccess.SetupConfiguration_NotificationRules_Editrecords ? "<a class='action' title='" + ProjectSession.Resources.label.Common_ButtonEdit + "'  style='cursor:pointer' data-toggle='modal' data-target='\\#divEmailRulesEdit' onclick='OpenRulesEditWindow(#: NotificationRuleID#)'><i class='glyphicon glyphicon-pencil'></i></a>&nbsp;" : "") + "" + (ProjectSession.PermissionAccess.SetupConfiguration_NotificationRules_Deleterecords ? "<a class='action delete-button'  href='javascript:void(0);'  class='delete-ic' data-id='#: NotificationRuleID #' style='cursor:pointer'><i class='glyphicon glyphicon-trash' title='" + ProjectSession.Resources.label.Common_ButtonDelete + "' ></i></a>" : "") + "</center>")
                                            .Title("<center>" + ProjectSession.Resources.label.Common_ButtonAction + "</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Width(80).Filterable(false);
            }

        })
        .Filterable()
        .Sortable(sortable => sortable.AllowUnsort(false))
        .Scrollable()
        .Excel(excel => excel.FileName("Email Notification Rules.xlsx").Filterable(true).AllPages(true).ProxyURL(Url.Action("Excel_Export_Save", "GridExport", new { area = string.Empty })))
        .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
        .Events(events => events.DataBound("onDataBound").ExcelExport("excelExport"))
        .DataSource(dataSource =>
                                dataSource.Ajax()
                                .PageSize(ProjectConfiguration.PageSize)
                                 .Model(model =>
                                 {
                                     model.Id(p => p.NotificationRuleID);
                                     model.Field(p => p.NotificationRuleName);
                                 })
                                .ServerOperation(true)
                                .Read(read => read.Action(Actions.GetEmailRules, Controllers.Configurations, new { area = Areas.Configurations }).Data("BindParameters").Type(HttpVerbs.Post))
        )
    )
</div>

<!-- search order -->
<div id="search-order" class="modal fade" role="dialog"></div>

<div class="modal fade" id="divEmailRulesEdit" role="dialog"></div>

<!-- Building (L5) Grid Modal-->
<div id="BuildingGridModal" class="modal fade" role="dialog" style="z-index:100000 !important">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" title="@ProjectSession.Resources.label.Common_ButtonClose"></button>
                <h4 class="modal-title">@ProjectSession.Resources.label.NotificationEmailRules_ButtonSelectBuildings</h4>
            </div>
            <div class="modal-body">
                <div class="tab-pane active" role="tabpanel">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div id="BuildingData" class="@ProjectSession.CultureKendoClass  kendo-fix-height">
                                    @(Html.Kendo().Grid<CMMS.Model.L5>()
                                            .Name("buildingGrid")
                                            .HtmlAttributes(new { @class = "kl-grid" })
                                            .Columns(columns =>
                                            {
                                                columns.Bound(c => c.L5No).Title(ProjectSession.Resources.label.Building_TextBlockBuildingCode).Width(150);

                                                columns.Bound(c => c.L5Description).Title(ProjectSession.Resources.label.Building_TextBlockBuildingDesc);

                                                columns.Bound(c => c.L5AltDescription).HtmlAttributes(new { @class = "text-right" }).Title(ProjectSession.Resources.label.Building_TextBlockAltBuildingDesc);

                                                columns.Bound(c => c.L4No).Title(ProjectSession.Resources.label.Street_TextBlockStreetCode)
                                                .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterZone", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));
                                            })
                                            .Filterable()
                                            .Sortable(sortable => sortable.AllowUnsort(false))
                                            .Scrollable()
                                            .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
                                            .Events(events => events.DataBound("onDataBoundPopup"))
                                            .DataSource(dataSource => dataSource.Ajax()
                                            .PageSize(ProjectConfiguration.PageSize)
                                            .Sort(model => model.Add("L5No").Ascending())
                                             .Model(model =>
                                             {
                                                 model.Id(p => p.L5ID);
                                                 model.Field(p => p.L5Description);
                                             })
                                            .ServerOperation(true)
                                             .Read(read => read.Action(Actions.GetBuildingDetailsAll, Controllers.Configurations, new { area = Areas.Configurations }).Data("BindParameters").Type(HttpVerbs.Post))
                                            )
                                    )

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Section (  ) Grid Modal-->
<div id="LocationGridModal" class="modal fade" role="dialog" style="z-index:100000 !important">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" title="@ProjectSession.Resources.label.Common_ButtonClose"></button>
                <h4 class="modal-title">@ProjectSession.Resources.label.NotificationEmailRules_ButtonSelectLocations</h4>
            </div>
            <div class="modal-body">
                <div class="tab-pane active" role="tabpanel">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div id="employeeData" class="@ProjectSession.CultureKendoClass  kendo-fix-height">
                                    @(Html.Kendo().Grid<CMMS.Model.Location>()
                                            .Name("locationGrid")
                                            .HtmlAttributes(new { @class = "kl-grid" })
                                            .Columns(columns =>
                                            {
                                                columns.Bound(c => c.LocationNo).Title(ProjectSession.Resources.label.Location_TextBlockLocationNo).Width(150);

                                                columns.Bound(c => c.LocationDescription).Title(ProjectSession.Resources.label.Location_TextBlockLocationDescription).Width(180);

                                                columns.Bound(c => c.LocationAltDescription).Title(ProjectSession.Resources.label.Location_TextBlockAltLocationDesc).Width(220);

                                                columns.Bound(c => c.L2Code).Title(ProjectSession.Resources.label.JobRequest_TextBlockCityCode).Width(150)
                                                .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterSite", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

                                                columns.Bound(c => c.SectorCode).Title(ProjectSession.Resources.label.JobRequest_TextBlockSectorCode).Width(150)
                                                .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterSector", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

                                                columns.Bound(c => c.SectorName).Title(ProjectSession.Resources.label.JobRequest_TextBlockSectorName).Width(150)
                                                .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterSectorByName", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

                                                columns.Bound(c => c.L4No).Title(ProjectSession.Resources.label.JobRequest_TextBlockStreetCode).Width(150)
                                                .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterZone", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

                                                if (Lang)
                                                {
                                                    columns.Bound(c => c.L4Description).Title(ProjectSession.Resources.label.JobRequest_TextBlockStreetDescription).Width(170);
                                                }
                                                else
                                                {
                                                    columns.Bound(c => c.L4AltDescription).Title(ProjectSession.Resources.label.Cleaning_TextBlockAltStreetDescription).Width(170);
                                                }
                                                columns.Bound(c => c.L5No).Title(ProjectSession.Resources.label.Building_TextBlockBuildingNo).Width(150)
                                                .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterBuilding", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

                                                if (Lang)
                                                {
                                                    columns.Bound(c => c.L5Description).Title(ProjectSession.Resources.label.Building_TextBlockBuildingDesc).Width(170);
                                                }
                                                else
                                                {
                                                    columns.Bound(c => c.L5AltDescription).Title(ProjectSession.Resources.label.Building_TextBlockAltBuildingDesc).Width(170);
                                                }

                                                columns.Bound(c => c.Criticality).Title(ProjectSession.Resources.label.Location_TextBlockCriticality).Width(120);

                                            })
                                            .Filterable()
                                            .Sortable(sortable => sortable.AllowUnsort(false))
                                            .Scrollable()
                                            .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
                                            .Events(events => events.DataBound("onDataBoundPopup"))
                                            .DataSource(dataSource => dataSource.Ajax()
                                            .PageSize(ProjectConfiguration.PageSize)
                                             .Model(model =>
                                             {
                                                 model.Id(p => p.LocationID);
                                                 model.Field(p => p.LocationNo);
                                             })
                                            .ServerOperation(true)
                                            .Read(read => read.Action(Actions.GetLocationDetailsAll, Controllers.Configurations, new { area = Areas.Configurations }).Data("BindParameters").Type(HttpVerbs.Post))
                                            )
                                    )
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Assets Grid Modal-->
<div id="AssetsGridModal" class="modal fade" role="dialog" style="z-index:100000 !important">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" title="@ProjectSession.Resources.label.Common_ButtonClose"></button>
                <h4 class="modal-title">@ProjectSession.Resources.label.NotificationEmailRules_ButtonSelectAssets</h4>
            </div>
            <div class="modal-body">
                <div class="tab-pane active" role="tabpanel">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div id="employeeData" class="@ProjectSession.CultureKendoClass kendo-fix-height">
                                    @(Html.Kendo().Grid<CMMS.Model.Asset>()
                                            .Name("asssetGrid")
                                            .HtmlAttributes(new { @class = "kl-grid" })
                                            .Columns(columns =>
                                            {
                                                columns.Bound(c => c.AssetNumber).Title(ProjectSession.Resources.label.Asset_TextBlockAssetNO).Width(100);

                                                columns.Bound(c => c.AssetDescription).Title(ProjectSession.Resources.label.Asset_TextBlockAssetDescription).Width(150);

                                                columns.Bound(c => c.AssetAltDescription).Title(ProjectSession.Resources.label.Asset_TextBlockAltAssetDescription).Width(200);

                                                if (Lang)
                                                    columns.Bound(c => c.AssetStatusDesc).Title(ProjectSession.Resources.label.Asset_TextBlockAssetStatus).Width(150);
                                                else
                                                    columns.Bound(c => c.AltAssetStatusDesc).Title(ProjectSession.Resources.label.Asset_TextBlockAssetStatus).Width(150);

                                                columns.Bound(c => c.LocationNo).Title(ProjectSession.Resources.label.Location_TextBlockLocationNo).Width(150)
                                                .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterLocation", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

                                                if (Lang)
                                                    columns.Bound(c => c.LocationDescription).Title(ProjectSession.Resources.label.Location_TextBlockLocationDescription).Width(170);
                                                else
                                                    columns.Bound(c => c.LocationAltDescription).Title(ProjectSession.Resources.label.Location_TextBlockAltLocationDesc).Width(170);

                                                columns.Bound(c => c.AssetCatCode).Title(ProjectSession.Resources.label.Asset_TextBlockAssetCategory).Width(150);
                                                columns.Bound(c => c.AssetSubCatCode).Title(ProjectSession.Resources.label.Common_TextBlockAssetSubCategory).Width(170);
                                                columns.Bound(c => c.AssetClassCode).Title(ProjectSession.Resources.message.Asset_TextBlockAssetClassCode).Width(150);
                                                columns.Bound(c => c.AssetConditionCode).Title(ProjectSession.Resources.message.Asset_TextBlockAssetConditionCode).Width(170);

                                                columns.Bound(c => c.L2Code).Title(ProjectSession.Resources.label.JobRequest_TextBlockCityCode).Width(150)
                                                .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterSite", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

                                                if (Lang)
                                                    columns.Bound(c => c.L2Name).Title(ProjectSession.Resources.label.City_TextBlockCityDesc).Width(170);
                                                else
                                                    columns.Bound(c => c.L2AltName).Title(ProjectSession.Resources.label.City_TextBlockAltCityDesc).Width(170);

                                                columns.Bound(c => c.L2ClassCode).Title(ProjectSession.Resources.label.NotificationEmailRules_TextBlockCityClass).Width(150)
                                                .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterSiteClass", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

                                                columns.Bound(c => c.SectorCode).Title(ProjectSession.Resources.label.Asset_TextBlockSectorCode).Width(150)
                                                .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterSector", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

                                                if (Lang)
                                                    columns.Bound(c => c.SectorName).Title(ProjectSession.Resources.label.Asset_TextBlockSectorName).Width(170);
                                                else
                                                    columns.Bound(c => c.SectorAltName).Title(ProjectSession.Resources.label.Asset_TextBlockSectorAltName).Width(170);

                                                if (Lang)
                                                    columns.Bound(c => c.L3Desc).Title(ProjectSession.Resources.label.JobRequest_TextBlockAreaDescription).Width(170);
                                                else
                                                    columns.Bound(c => c.L3AltDesc).Title(ProjectSession.Resources.label.Area_TextBlockAltAreaDescription).Width(170);

                                                columns.Bound(c => c.L4No).Title(ProjectSession.Resources.label.JobRequest_TextBlockStreetCode).Width(150)
                                                .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterZone", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

                                                if (Lang)
                                                    columns.Bound(c => c.L4Description).Title(ProjectSession.Resources.label.JobRequest_TextBlockStreetDescription).Width(170);
                                                else
                                                    columns.Bound(c => c.L4AltDescription).Title(ProjectSession.Resources.label.Cleaning_TextBlockAltStreetDescription).Width(170);

                                                columns.Bound(c => c.L5No).Title(ProjectSession.Resources.label.Building_TextBlockBuildingCode).Width(170)
                                                .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterBuilding", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

                                                if (Lang)
                                                    columns.Bound(c => c.L5Description).Title(ProjectSession.Resources.label.JobRequest_TextBlockBuildingDescription).Width(170);
                                                else
                                                    columns.Bound(c => c.L5AltDescription).Title(ProjectSession.Resources.label.Cleaning_TextBlockAltBuildingDescription).Width(170);

                                                columns.Bound(c => c.ModelNumber).Title(ProjectSession.Resources.label.Asset_TextBlockModelNo).Width(150);
                                                columns.Bound(c => c.SerialNumber).Title(ProjectSession.Resources.label.Employee_TextBlockSerialNo).Width(150);
                                                columns.Bound(c => c.Manufacturer).Title(ProjectSession.Resources.label.Asset_TextBlockManufacturer).Width(150);

                                            })
                                            .Filterable()
                                            .Scrollable()
                                            .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
                                            .Events(events => events.DataBound("onDataBoundPopup"))
                                            .DataSource(dataSource => dataSource.Ajax()
                                            .PageSize(ProjectConfiguration.PageSize)
                                                    .Sort(model => model.Add("AssetNumber").Descending())
                                            .Model(model =>
                                            {
                                                model.Id(p => p.AssetID);
                                                model.Field(p => p.AssetNumber);
                                            })
                                            .ServerOperation(true)
                                            .Read(read => read.Action(Actions.GetAssetsDetailsAll, Controllers.Configurations, new { area = Areas.Configurations }).Data("BindParameters").Type(HttpVerbs.Post))
                                            )
                                    )
                                </div>



                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*Location Type Grid*@
<div id="LocationTypeGridModal" class="modal fade" role="dialog" style="z-index:100000 !important">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" title="@ProjectSession.Resources.label.Common_ButtonClose"></button>
                <h4 class="modal-title">@ProjectSession.Resources.label.NotificationEmailRules_ButtonSelectLocationType</h4>
            </div>
            <div class="modal-body">
                <div class="tab-pane active" role="tabpanel">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="@ProjectSession.CultureKendoClass  kendo-fix-height">
                                    @(Html.Kendo().Grid<CMMS.Model.LocationType>()
                                            .Name("LocationTypeGrid")
                                            .HtmlAttributes(new { @class = "kl-grid" })
                                            .Columns(columns =>
                                            {
                                                columns.Bound(c => c.LocationTypeCode).Title(ProjectSession.Resources.label.LocationType_TextLocationTypeCode).Width(250);

                                                columns.Bound(c => c.LocationTypeDesc).Title(ProjectSession.Resources.label.LocationType_TextLocationTypeDesc);

                                                columns.Bound(c => c.LocationTypeAltDesc).HtmlAttributes(new { @class = "text-right" }).Title(ProjectSession.Resources.label.LocationType_TextLocationTypeAltDesc);
                                            })
                                            .Filterable()
                                            .Sortable(sortable => sortable.AllowUnsort(false))
                                            .Scrollable()
                                            .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
                                            .Events(events => events.DataBound("onDataBoundPopup"))
                                            .DataSource(dataSource => dataSource.Ajax()
                                            .PageSize(ProjectConfiguration.PageSize)
                                             .Model(model =>
                                             {
                                                 model.Id(p => p.LocationTypeID);
                                                 model.Field(p => p.LocationTypeCode);
                                             })
                                            .ServerOperation(true)
                                             .Read(read => read.Action(Actions.GetLocationTypeAll, Controllers.Configurations, new { area = Areas.Configurations }).Data("BindParameters").Type(HttpVerbs.Post))
                                            )
                                    )

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*Sub Category Grid*@
<div id="SubCategoryGridModal" class="modal fade" role="dialog" style="z-index:100000 !important">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" title="@ProjectSession.Resources.label.Common_ButtonClose"></button>
                <h4 class="modal-title">@ProjectSession.Resources.label.NotificationEmailRules_ButtonSelectAssetCategory</h4>
            </div>
            <div class="modal-body">
                <div class="tab-pane active" role="tabpanel">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div id="SubCategoryData" class="@ProjectSession.CultureKendoClass">

                                    @(Html.Kendo().Grid<CMMS.Model.AssetSubCategorie>()
                                                            .Name("SubCategoryGrid")
                                            .HtmlAttributes(new { @class = "kl-grid" })
                                            .Columns(columns =>
                                            {
                                                columns.Template(@<text></text>).HeaderTemplate("<input type='checkbox' class='chkbx'  id='chkSubCategoryAll' onclick=checkAllRelated(this,'SubCategoryGrid'); />").ClientTemplate("<input type='checkbox' class='chkbx' id='ChkSubCategoryInner' pid='#: AssetSubCatID #' onclick='checkinnerelement(this)' />").Width(30);

                                                columns.Bound(c => c.AssetSubCatCode).Title(ProjectSession.Resources.label.Common_TextBlockAssetSubCatCode).Width(250);

                                                columns.Bound(c => c.AssetSubCategory).Title(ProjectSession.Resources.label.Common_TextBlockAssetSubCatName);

                                                columns.Bound(c => c.AltAssetSubCategory).HtmlAttributes(new { @class = "text-right" }).Title(ProjectSession.Resources.label.Common_TextBlockAltAssetSubCatName);

                                                columns.Bound(c => c.AssetCatCode).Title(ProjectSession.Resources.label.Asset_TextBlockAssetCatCode);
                                            })
                                                                            .Filterable()
                                                                            .Sortable(sortable => sortable.AllowUnsort(false))
                                                                            .Scrollable()
                                                                            .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
                                                                            .Events(events => events.DataBound("onDataBoundPopup"))
                                                                            .DataSource(dataSource => dataSource.Ajax()
                                                                            .PageSize(ProjectConfiguration.PageSize)
                                                                             .Model(model =>
                                                                             {
                                                                                 model.Id(p => p.AssetSubCatID);
                                                                                 model.Field(p => p.AssetSubCatCode);
                                                                             })
                                                                            .ServerOperation(true)
                                                                                    .Read(read => read.Action(Actions.GetSubCategoryAll, Controllers.Configurations, new { area = Areas.Configurations }).Data("BindParameters").Type(HttpVerbs.Post))
                                                                            )
                                    )
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer box-footer">
                <button type="submit" class="btn btn-primary" id="btnAddSubCategory"><span>@ProjectSession.Resources.label.Common_ButtonAdd</span></button>
            </div>
        </div>
    </div>
</div>

@*Criticality Grid*@
<div id="CriticalityGridModal" class="modal fade" role="dialog" style="z-index:100000 !important">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" title="@ProjectSession.Resources.label.Common_ButtonClose"></button>
                <h4 class="modal-title">@ProjectSession.Resources.label.NotificationEmailRules_ButtonSelectBuildings</h4>
            </div>
            <div class="modal-body">
                <div class="tab-pane active" role="tabpanel">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div id="BuildingData" class="@ProjectSession.CultureKendoClass  kendo-fix-height">
                                    @(Html.Kendo().Grid<CMMS.Model.Criticalities>()
                                                    .Name("CriticalityGrid")
                                            .HtmlAttributes(new { @class = "kl-grid" })
                                            .Columns(columns =>
                                            {
                                                columns.Bound(c => c.Criticality).Title(ProjectSession.Resources.label.Asset_TextBlockAssetCriticalityName).Width(150);

                                                columns.Bound(c => c.AltCriticality).HtmlAttributes(new { @class = "text-right" }).Title(ProjectSession.Resources.label.Asset_TextBlockAltAssetCriticality);


                                            })
                                            .Filterable()
                                            .Sortable(sortable => sortable.AllowUnsort(false))
                                            .Scrollable()
                                            .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
                                            .Events(events => events.DataBound("onDataBoundPopup"))
                                            .DataSource(dataSource => dataSource.Ajax()
                                            .PageSize(ProjectConfiguration.PageSize)
                                             .Model(model =>
                                             {
                                                 model.Id(p => p.Id);
                                                 model.Field(p => p.Criticality);
                                             })
                                            .ServerOperation(true)
                                            .Read(read => read.Action(Actions.GetCriticalityAll, Controllers.Configurations, new { area = Areas.Configurations }).Data("BindParameters").Type(HttpVerbs.Post))
                                            )
                                    )

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    var kendoGridId = 'emailrulesGrid';
    var intPageID = '@SystemEnum.Pages.EmailNotificationRules.GetHashCode()';


    function BindParameters() {
        return {
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function filterDepartment() {
        return {
            maintDivisionId: $("#ddlMaintDivision").val()
        };
    }

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };

    function onDataBound(arg) {
        gridProperPaging(this);
    }

    function onDataBound(arg) {
        confirmDeleteMsg(msgText, okText, cancelText, onConfirmCallback, confirmDirection);
        gridProperPaging(this);
    }

    //Remaining , Delete Email Rules
    function onConfirmCallback(sender) {
        var id = $(this).data("id");
        $.ajax({
            url: '@Url.Action(Actions.DeleteEmailRules, Controllers.Configurations, new { area = Areas.Configurations })',
            type: "POST",
            data: addRequestVerificationToken({ notificationId: id }),
            dataType: "json",
            success: function (result) {
                ShowMessage(result[0], result[1], "#divMessage");
                ReBindKendoGrid("emailrulesGrid");
            },
            error: function (xhr, ajaxOptions, thrownError) {
                showErrorMessage();
            }
        });
    }

    function OpenRulesEditWindow(id) {
        $("#divEmailRulesEdit").html('');
        var url = '@Url.Action(Actions._EditEmailRules, Controllers.Configurations, new { Area = Areas.Configurations })' + "?notificationRuleId=" + id;
        $("#divEmailRulesEdit").load(url);
    }

    $("#emailrulesGrid tbody").on("dblclick", "tr[role='row']", function (e) {
        var grid = $("#emailrulesGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        $("#divEmailRulesEdit").modal("show");
        OpenRulesEditWindow(model.NotificationRuleID);
    });

    function BindParametersForL2() {
        return {
            notificationRuleID: $("#hdnNotificationRuleID").val(),
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function filterSubDepartment() {
        return {
            maintDeptid: $("#ddlMaintDepartment").val()
        };
    }

    function onDataBoundPopup() {
        gridProperPaging(this);
    }

    //onDataBoundEmployeeEscGrid

    function onDataBoundBuildingPopupGrid(arg) {
        confirmDeleteInnerMsg(msgText, okText, cancelText, onConfirmBuildingCallback, confirmDirection);
    }

    function onDataBoundLocationPopupGrid(arg) {
        confirmDeleteInnerMsg(msgText, okText, cancelText, onConfirmLocationCallback, confirmDirection);
    }

    function onDataBoundLocationTypePopupGrid(arg) {
        confirmDeleteInnerMsg(msgText, okText, cancelText, onConfirmLocationTypeCallback, confirmDirection);
    }

    function onDataBoundSubCategoryPopupGrid(arg) {
        confirmDeleteInnerMsg(msgText, okText, cancelText, onConfirmSubCategoryCallback, confirmDirection);
    }

    function onDataBoundCriticalityPopupGrid(arg) {
        confirmDeleteInnerMsg(msgText, okText, cancelText, onConfirmCriticalityCallback, confirmDirection);
    }

    function onDataBoundAssetPopupGrid(arg) {
        confirmDeleteInnerMsg(msgText, okText, cancelText, onConfirmAssetCallback, confirmDirection);
    }

    function onDataBoundEmployeeEscGrid(arg) {
        gridProperPaging(this);
    }

    function onDataBoundEmployeeEscGrid(arg) {
        confirmDeleteInnerMsg(msgText, okText, cancelText, onConfirmEmployeeEscCallback, confirmDirection);
        gridProperPaging(this);
    }


    function onConfirmBuildingCallback(sender) {
        var id = $(this).data("id");
        var Fromgrid = $("#BuildingPopupGrid").data("kendoGrid");
        var data = $("#BuildingPopupGrid table td").find("a[data-id='" + id + "']").closest("tr");
        var dataItem = Fromgrid.dataItem(data);
        Fromgrid.dataSource.remove(dataItem);
        $(".popover").hide();
    }

    function onConfirmLocationCallback(sender) {
        var id = $(this).data("id");
        var Fromgrid = $("#LocationPopupGrid").data("kendoGrid");
        var data = $("#LocationPopupGrid table td").find("a[data-id='" + id + "']").closest("tr");
        var dataItem = Fromgrid.dataItem(data);
        Fromgrid.dataSource.remove(dataItem);
        $(".popover").hide();
    }

    function onConfirmLocationTypeCallback(sender) {
        var id = $(this).data("id");
        var Fromgrid = $("#LocationTypePopupGrid").data("kendoGrid");
        var data = $("#LocationTypePopupGrid table td").find("a[data-id='" + id + "']").closest("tr");
        var dataItem = Fromgrid.dataItem(data);
        Fromgrid.dataSource.remove(dataItem);
        $(".popover").hide();
    }

    function onConfirmSubCategoryCallback(sender) {
        var id = $(this).data("id");
        var Fromgrid = $("#SubCategoryPopupGrid").data("kendoGrid");
        var data = $("#SubCategoryPopupGrid table td").find("a[data-id='" + id + "']").closest("tr");
        var dataItem = Fromgrid.dataItem(data);
        Fromgrid.dataSource.remove(dataItem);
        $(".popover").hide();
    }

    function onConfirmCriticalityCallback(sender) {
        var id = $(this).data("id");
        var Fromgrid = $("#CriticalityPopupGrid").data("kendoGrid");
        var data = $("#CriticalityPopupGrid table td").find("a[data-id='" + id + "']").closest("tr");
        var dataItem = Fromgrid.dataItem(data);
        Fromgrid.dataSource.remove(dataItem);
        $(".popover").hide();
    }

    function onConfirmAssetCallback(sender) {
        var id = $(this).data("id");
        var Fromgrid = $("#AssetPopupGrid").data("kendoGrid");
        var data = $("#AssetPopupGrid table td").find("a[data-id='" + id + "']").closest("tr");
        var dataItem = Fromgrid.dataItem(data);
        Fromgrid.dataSource.remove(dataItem);
        $(".popover").hide();
    }

    function onConfirmEmployeeEscCallback(sender) {
        var id = $(this).data("id");
        var Fromgrid = $("#emailruleEmployeeEscGrid").data("kendoGrid");
        var data = $("#emailruleEmployeeEscGrid table td").find("a[data-id='" + id + "']").closest("tr");
        var dataItem = Fromgrid.dataItem(data);
        Fromgrid.dataSource.remove(dataItem);
        $(".popover").hide();
    }

    $(function () {
        $('.kendo-fix-height .k-grid-content').slimScroll({
            height: '100%',
        });
    });
</script>

