﻿@using CMMS.Infrastructure;
@using CMMS.Pages;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.AntiForgeryToken()
<div class="head1">
    <h1>@ProjectSession.Resources.label.NotificationSetup_TextBlockNotificationEmailTemplates</h1>
    <ul class="sub_btn">
        @*@if (ProjectSession.PermissionAccess.SetupConfiguration_NotificationTemplates_Createnewrecords)
            {
                <li>
                    <a href="javascript:void(0);" class="btn-icon btn-add" data-toggle="modal" data-target="#divEmailTemplateEdit" data-backdrop="static" onclick="OpenemailTemplateEditWindow(0);" title="@ProjectSession.Resources.label.Common_ButtonAdd"><i></i></a>
                </li>
            }*@
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-search" data-toggle="modal" data-target="#search-order" onclick='OpenAdvancedSearch("@ProjectSession.Resources.label.NotificationSetup_TextBlockNotificationEmailTemplates","@SystemEnum.Pages.EmailTemplates.GetHashCode()")' title="@ProjectSession.Resources.label.Common_ButtonAdvanceSearch"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-clear" title="@ProjectSession.Resources.label.Common_ButtonClear" onclick="return ClearAdvencedSearch(@SystemEnum.Pages.EmailTemplates.GetHashCode());"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-refresh" onclick="ReBindKendoGrid('emailtemplateGrid');" title="@ProjectSession.Resources.label.Common_ButtonRefreshGrid"><i></i></a>
        </li>
        @if (ProjectSession.PermissionAccess.SetupConfiguration_NotificationTemplates_Export)
        {
            <li>
                <a href="javascript:void(0);" class="btn-icon btn-xsl" onclick="ExportToExcel('emailtemplateGrid','EmailTemplateID');" title="@ProjectSession.Resources.label.Common_ButtonExportToExcel"><i></i></a>
            </li>
        }
    </ul>
</div>

<!-- Kendo Grid -->
<div id="emailtemplateData" class="@ProjectSession.CultureKendoClass">
    @(Html.Kendo().Grid<CMMS.Model.Emailtemplate>()
        .Name("emailtemplateGrid")
        .Columns(columns =>
        {
            columns.Bound(c => c.EmailTemplateName).Title(ProjectSession.Resources.label.NotificationSetup_TextBlockEmailTemplateName).Width(250);

            columns.Bound(c => c.EmailSubject).Title(ProjectSession.Resources.label.NotificationSetup_TextBlockSubject);

            columns.Bound(c => c.LanguageRef).Title(ProjectSession.Resources.label.Employee_TextBlockLanguage);

            if (ProjectSession.PermissionAccess.SetupConfiguration_NotificationTemplates_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_NotificationTemplates_Deleterecords)
            {
                columns.Bound(c => c.EmailTemplateID).ClientTemplate("<center>" + (ProjectSession.PermissionAccess.SetupConfiguration_NotificationTemplates_Editrecords ? "<a class='action' title='" + ProjectSession.Resources.label.Common_ButtonEdit + "'  style='cursor:pointer' data-toggle='modal' data-target='\\#divEmailTemplateEdit' onclick='OpenEmailTemplateEditWindow(#: EmailTemplateID#)'><i class='glyphicon glyphicon-pencil'></i></a>" : "") + "</center>")
                                            .Title("<center>" + ProjectSession.Resources.label.Common_ButtonAction + "</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Width(80).Filterable(false).Filterable(false);
            }
        })
        .Filterable()
        .Sortable(sortable => sortable.AllowUnsort(false))
        .Scrollable()
        .Excel(excel => excel.FileName("Email Template.xlsx").Filterable(true).AllPages(true).ProxyURL(Url.Action("Excel_Export_Save", "GridExport", new { area = string.Empty })))
        .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
        .Events(events => events.DataBound("onDataBound").ExcelExport("excelExport"))
        .DataSource(dataSource =>
                                dataSource.Ajax()
                                .PageSize(ProjectConfiguration.PageSize)
                                 .Model(model =>
                                 {
                                     model.Id(p => p.EmailTemplateID);
                                     model.Field(p => p.EmailTemplateName);
                                 })
                                .ServerOperation(true)
                                .Read(read => read.Action(Actions.GetEmailTemplates, Controllers.Configurations, new { area = Areas.Configurations }).Data("BindParameters").Type(HttpVerbs.Post))
        )
)

</div>

<!-- search order -->
<div id="search-order" class="modal fade" role="dialog"></div>

<!-- IR WorkFlow Modal -->
<div class="modal fade" id="divEmailTemplateEdit" role="dialog"></div>

<script type="text/javascript">
    var kendoGridId = 'emailtemplateGrid';
    var intPageID = '@SystemEnum.Pages.EmailTemplates.GetHashCode()';


    function BindParameters() {
        return {
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };

    function onDataBound(arg) {
        gridProperPaging(this);
    }

    function OpenEmailTemplateEditWindow(id) {
        $("#divEmailTemplateEdit").html('');
        var url = '@Url.Action(Actions._EditEmailTemplates, Controllers.Configurations, new { Area = Areas.Configurations })' + "?emailtemplateid=" + id;
        $("#divEmailTemplateEdit").load(url);
    }


    $("#emailtemplateGrid tbody").on("dblclick", "tr[role='row']", function (e) {
        var grid = $("#emailtemplateGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        $("#divEmailTemplateEdit").modal("show");
        OpenEmailTemplateEditWindow(model.EmailTemplateID);
    });

</script>
