﻿@using CMMS.Infrastructure;
@using CMMS.Pages;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.AntiForgeryToken()
<div class="head1">
    <h1>@ProjectSession.Resources.label.Employee_TextBlockEmployeeCategory</h1>
    <ul class="sub_btn">
        @if (ProjectSession.PermissionAccess.SetupConfiguration_EmployeeCategory_Createnewrecords)
        {
            <li>
                <a href="javascript:void(0);" class="btn-icon btn-add" data-toggle="modal" data-target="#empCategoryModal" data-backdrop="static" onclick="OpenEmpCategoryEditWindow(0);" title="@ProjectSession.Resources.label.Common_ButtonAdd"><i></i></a>
            </li>
        }
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-search" data-toggle="modal" data-target="#search-order" onclick='OpenAdvancedSearch("@ProjectSession.Resources.label.Employee_TextBlockEmployeeCategory","@SystemEnum.Pages.EmployeeCategory.GetHashCode()")' title="@ProjectSession.Resources.label.Common_ButtonAdvanceSearch"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-clear" title="@ProjectSession.Resources.label.Common_ButtonClear" onclick="return ClearAdvencedSearch(@SystemEnum.Pages.EmployeeCategory.GetHashCode());"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-refresh" onclick="ReBindKendoGrid('empCategoryGrid');" title="@ProjectSession.Resources.label.Common_ButtonRefreshGrid"><i></i></a>
        </li>
        @if (ProjectSession.PermissionAccess.SetupConfiguration_EmployeeCategory_Export)
        {
            <li>
                <a href="javascript:void(0);" class="btn-icon btn-xsl" onclick="ExportToExcel('empCategoryGrid', 'CategoryID');" title="@ProjectSession.Resources.label.Common_ButtonExportToExcel"><i></i></a>
            </li>
        }
    </ul>
</div>

<!-- Kendo Grid -->
<div id="empCategoryData" class="@ProjectSession.CultureKendoClass">
    @(Html.Kendo().Grid<CMMS.Model.Employeecategorie>()
        .HtmlAttributes(new { @class = "kl-grid" })
        .Name("empCategoryGrid")
        .Columns(columns =>
        {
            columns.Bound(c => c.CategoryName).Title(ProjectSession.Resources.label.Employee_TextBlockEmployeeCategoryName).Width(300); 

            columns.Bound(c => c.AltCategoryName).HtmlAttributes(new { @class = "text-right" }).Title(ProjectSession.Resources.label.Employee_TextBlockAltEmployeeCategory);

            if (ProjectSession.PermissionAccess.SetupConfiguration_EmployeeCategory_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_EmployeeCategory_Deleterecords)
            {
                columns.Bound(c => c.CategoryID).ClientTemplate("<center>" + (ProjectSession.PermissionAccess.SetupConfiguration_EmployeeCategory_Editrecords ? "<a class='action' title='" + ProjectSession.Resources.label.Common_ButtonEdit + "'  style='cursor:pointer' data-toggle='modal' data-target='\\#empCategoryModal' onclick='OpenEmpCategoryEditWindow(#: CategoryID#)'><i class='glyphicon glyphicon-pencil'></i></a>&nbsp;" : "") + "" + (ProjectSession.PermissionAccess.SetupConfiguration_EmployeeCategory_Deleterecords ? "<a class='action delete-button'  href='javascript:void(0);'  class='delete-ic' data-id='#: CategoryID #' style='cursor:pointer'><i class='glyphicon glyphicon-trash' title='" + ProjectSession.Resources.label.Common_ButtonDelete + "' ></i></a>" : "") + "</center>")
                                            .Title("<center>" + ProjectSession.Resources.label.Common_ButtonAction + "</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Width(80).Filterable(false);
            }
        })
        .Filterable()
        .Sortable(sortable => sortable.AllowUnsort(false))
        .Scrollable()
        .Excel(excel => excel.FileName("Employee Category.xlsx").Filterable(true).AllPages(true).ProxyURL(Url.Action("Excel_Export_Save", "GridExport", new { area = string.Empty })))
        .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
        .Events(events => events.DataBound("onDataBound").ExcelExport("excelExport"))
        .DataSource(dataSource =>
                                dataSource.Ajax()
                                .PageSize(ProjectConfiguration.PageSize)
                                .Sort(model => model.Add("CategoryName").Ascending())
                                 .Model(model =>
                                 {
                                     model.Id(p => p.CategoryID);
                                     model.Field(p => p.CategoryName);
                                 })
                                .ServerOperation(true)
                                .Read(read => read.Action(Actions.GetEmployeeCategory, Controllers.Configurations, new { area = Areas.Configurations }).Data("BindParameters").Type(HttpVerbs.Post))
        )
    )

</div>


<!-- search order -->
<div id="search-order" class="modal fade" role="dialog"></div>

<!-- Employee Category Modal -->
<div id="empCategoryModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-mg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" title="@ProjectSession.Resources.label.Common_ButtonClose"></button>
                <h4 class="modal-title">@ProjectSession.Resources.label.Employee_TextBlockEmployeeCategory</h4>
            </div>
            <form role="form" id="frmEmpCategory">
                <input type="hidden" name="hdnCategoryID" id="hdnCategoryID" />
                <div class="modal-body">
                    <div id="Highlights" class="tab-pane active" role="tabpanel">
                        <div class="form-horizontal">
                            <div id="divModelError"></div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.Employee_TextBlockEmployeeCategoryName<span class="cfont">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="CategoryName" id="txtCategoryName" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.Employee_TextBlockEmployeeCategoryName" maxlength="1500">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.Employee_TextBlockAltEmployeeCategory</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="AltCategoryName" id="txtAltCategoryName" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.Employee_TextBlockAltEmployeeCategory" maxlength="1500">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer box-footer">
                    @if (ProjectSession.PermissionAccess.SetupConfiguration_EmployeeCategory_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_EmployeeCategory_Createnewrecords)
                    {
                        <button type="submit" class="btn btn-primary" id="btnSave"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
                    }
                    <button type="button" class="btn btn-default" data-dismiss="modal">@ProjectSession.Resources.label.Common_ButtonClose</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    var kendoGridId = 'empCategoryGrid';
    var intPageID = '@SystemEnum.Pages.EmployeeCategory.GetHashCode()';

    $(document).ready(function () {
        validator = $('#frmEmpCategory').validate({
            rules: {
                CategoryName: { required: true },
            },
            messages: {
                CategoryName: { required: '' },
            }
        });
    });

    function BindParameters() {
        return {
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };

    function OpenEmpCategoryEditWindow(id) {
        if (id > 0) {
            $.ajax({
                url: '@Url.Action(Actions.GetEmployeeCategoryByID, Controllers.Configurations, new { area = Areas.Configurations })',
                type: "POST",
                data: addRequestVerificationToken({ empCategoryId: id }),
                success: function (result) {
                    $("#hdnCategoryID").val(result.CategoryID);
                    $("#txtCategoryName").val(result.CategoryName);
                    $("#txtAltCategoryName").val(result.AltCategoryName);

                    @if (ProjectSession.PermissionAccess.SetupConfiguration_EmployeeCategory_Editrecords)
                    {
                        <text>$("#btnSave").show(); </text>
                    }
                    else if (ProjectSession.PermissionAccess.SetupConfiguration_EmployeeCategory_Createnewrecords)
                    {
                        <text>$("#btnSave").hide(); </text>
                    }

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }
        else {

            @if (ProjectSession.PermissionAccess.SetupConfiguration_EmployeeCategory_Createnewrecords)
            {
                <text>$("#btnSave").show(); </text>
            }
            else if (ProjectSession.PermissionAccess.SetupConfiguration_EmployeeCategory_Editrecords)
            {
                <text>$("#btnSave").hide(); </text>
            }

            ClearAllInputs("frmEmpCategory");
        }
    }

    $("#empCategoryGrid tbody").on("dblclick", "tr[role='row']", function (e) {
        var grid = $("#empCategoryGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        $("#empCategoryModal").modal("show");
        OpenEmpCategoryEditWindow(model.CategoryID);
    });

</script>

@if (ProjectSession.PermissionAccess.SetupConfiguration_EmployeeCategory_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_EmployeeCategory_Createnewrecords)
{
    <script type="text/javascript">

        $('#frmEmpCategory').on('submit', function (e) {
            if ($("#frmEmpCategory").valid()) {
                if (e.isDefaultPrevented()) {
                    // handle the invalid form...
                } else {

                    var categoryID = $("#hdnCategoryID").val();
                    var changedObj = {
                        CategoryID: categoryID == '' ? 0 : categoryID,
                        CategoryName: $("#txtCategoryName").val(),
                        AltCategoryName: $("#txtAltCategoryName").val(),
                    };

                    $.ajax({
                        url: '@Url.Action(Actions.ManageEmployeeCategory, Controllers.Configurations, new { area = Areas.Configurations })',
                        type: "POST",
                        data: addRequestVerificationToken(changedObj),
                        dataType: "json",
                        success: function (result) {
                            if (result[0] == 0) {
                                ShowMessage(result[1], result[2], "#divModelError");
                            }
                            else {
                                $('#empCategoryModal').modal("hide");
                                ShowMessage(result[0], result[1], "#divMessage");
                                ReBindKendoGrid("empCategoryGrid");
                            }
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            showErrorMessage();
                        }
                    });
                    e.preventDefault();
                }
            }
            else {
                e.preventDefault();
            }
        })
    </script>
}

@if (ProjectSession.PermissionAccess.SetupConfiguration_EmployeeCategory_Deleterecords)
{
    <script type="text/javascript">

        function onDataBound(arg) {
            confirmDeleteMsg(msgText, okText, cancelText, onConfirmCallback, confirmDirection);
            gridProperPaging(this);
        }

        function onConfirmCallback(sender) {
            var id = $(this).data("id");
            $.ajax({
                url: '@Url.Action(Actions.DeleteEmployeeCategory, Controllers.Configurations, new { area = Areas.Configurations })',
                type: "POST",
                data: addRequestVerificationToken({ empCategoryId: id }),
                dataType: "json",
                success: function (result) {
                    ClearAllInputs("frmEmpCategory");
                    ShowMessage(result[0], result[1], "#divMessage");
                    ReBindKendoGrid("empCategoryGrid");

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }
    </script>
}
else
{
    <script>
        function onDataBound(arg) {
            gridProperPaging(this);
        }
    </script>
}
