﻿@using CMMS.Infrastructure;
@using CMMS.Pages;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.AntiForgeryToken()
<div class="head1">
    <h1>@ProjectSession.Resources.label.Employee_TextBlockEmployeeStatusName</h1>
    <ul class="sub_btn">
        @if (ProjectSession.PermissionAccess.SetupConfiguration_EmployeeStatus_Createnewrecords)
        {
            <li>
                <a href="javascript:void(0);" class="btn-icon btn-add" data-toggle="modal" data-target="#empStatusModal" data-backdrop="static" onclick="OpenEmpStatusEditWindow(0);" title="@ProjectSession.Resources.label.Common_ButtonAdd"><i></i></a>
            </li>
        }
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-search" data-toggle="modal" data-target="#search-order" onclick='OpenAdvancedSearch("@ProjectSession.Resources.label.Employee_TextBlockEmployeeStatusName","@SystemEnum.Pages.EmployeeStatus.GetHashCode()")' title="@ProjectSession.Resources.label.Common_ButtonAdvanceSearch"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-clear" title="@ProjectSession.Resources.label.Common_ButtonClear" onclick="return ClearAdvencedSearch(@SystemEnum.Pages.EmployeeStatus.GetHashCode());"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-refresh" onclick="ReBindKendoGrid('empStatusGrid');" title="@ProjectSession.Resources.label.Common_ButtonRefreshGrid"><i></i></a>
        </li>
        @if (ProjectSession.PermissionAccess.SetupConfiguration_EmployeeStatus_Export)
        {
            <li>
                <a href="javascript:void(0);" class="btn-icon btn-xsl" onclick="ExportToExcel('empStatusGrid', 'EmployeeStatusId');" title="@ProjectSession.Resources.label.Common_ButtonExportToExcel"><i></i></a>
            </li>
        }
    </ul>
</div>

<!-- Kendo Grid -->
<div id="empStatusData" class="@ProjectSession.CultureKendoClass">
    @(Html.Kendo().Grid<CMMS.Model.EmployeeStatuse>()
        .HtmlAttributes(new { @class = "kl-grid" })
        .Name("empStatusGrid")
        .Columns(columns =>
        {
            columns.Bound(c => c.EmployeeStatus).Title(ProjectSession.Resources.label.Employee_TextBlockEmployeeStatusName).Width(300);

            columns.Bound(c => c.EmployeeAltStatus).HtmlAttributes(new { @class = "text-right" }).Title(ProjectSession.Resources.label.Employee_TextBlockAltEmployeeStatus);

            columns.Bound(c => c.DisplayInModule).ClientTemplate("<center><span class='checkbox-custom #= DisplayInModule ? 'active' : '' #'></span></center>").Title(ProjectSession.Resources.label.Common_TextBlockDisplayInModules).Width(180)
             .Filterable(ftb => ftb.Multi(true).ItemTemplate("itemTemplateForDisplayInModule").CheckAll(false).BindTo(new[]{
                        new { DisplayInModule = true },
                        new { DisplayInModule = false }
                }));
             
            if (ProjectSession.PermissionAccess.SetupConfiguration_EmployeeStatus_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_EmployeeStatus_Deleterecords)
            {
                columns.Bound(c => c.EmployeeStatusId).ClientTemplate("<center>" + (ProjectSession.PermissionAccess.SetupConfiguration_EmployeeStatus_Editrecords ? "<a class='action' title='" + ProjectSession.Resources.label.Common_ButtonEdit + "'  style='cursor:pointer' data-toggle='modal' data-target='\\#empStatusModal' onclick='OpenEmpStatusEditWindow(#: EmployeeStatusId#)'><i class='glyphicon glyphicon-pencil'></i></a>&nbsp;" : "") + "" + (ProjectSession.PermissionAccess.SetupConfiguration_EmployeeStatus_Deleterecords ? "<a class='action delete-button'  href='javascript:void(0);'  class='delete-ic' data-id='#: EmployeeStatusId #' style='cursor:pointer'><i class='glyphicon glyphicon-trash' title='" + ProjectSession.Resources.label.Common_ButtonDelete + "' ></i></a>" : "") + "</center>")
                                            .Title("<center>" + ProjectSession.Resources.label.Common_ButtonAction + "</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Width(80).Filterable(false);
            }
        })
        .Filterable()
        .Sortable(sortable => sortable.AllowUnsort(false))
        .Scrollable()
        .Excel(excel => excel.FileName("Employee Status.xlsx").Filterable(true).AllPages(true).ProxyURL(Url.Action("Excel_Export_Save", "GridExport", new { area = string.Empty })))
        .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
        .Events(events => events.DataBound("onDataBound").ExcelExport("excelExport"))
        .DataSource(dataSource =>
                                dataSource.Ajax()
                                .PageSize(ProjectConfiguration.PageSize)
                                .Sort(model => model.Add("EmployeeStatus").Ascending())
                                 .Model(model =>
                                 {
                                     model.Id(p => p.EmployeeStatusId);
                                     model.Field(p => p.EmployeeStatus);
                                 })
                                .ServerOperation(true)
                                .Read(read => read.Action(Actions.GetEmployeeStatus, Controllers.Configurations, new { area = Areas.Configurations }).Data("BindParameters").Type(HttpVerbs.Post))
        )
    )

</div>

<!-- search order -->
<div id="search-order" class="modal fade" role="dialog"></div>

<!-- Employee Status Modal -->
<div id="empStatusModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-mg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" title="@ProjectSession.Resources.label.Common_ButtonClose"></button>
                <h4 class="modal-title">@ProjectSession.Resources.label.Employee_TextBlockEmployeeStatusName</h4>
            </div>
            <form role="form" id="frmEmpStatus">
                <input type="hidden" name="hdnEmployeeStatusId" id="hdnEmployeeStatusId" />
                <div class="modal-body">
                    <div id="Highlights" class="tab-pane active" role="tabpanel">
                        <div class="form-horizontal">
                            <div id="divModelError"></div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.Employee_TextBlockEmployeeStatusName<span class="cfont">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="EmployeeStatus" id="txtEmployeeStatus" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.Employee_TextBlockEmployeeStatusName" maxlength="100">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.Employee_TextBlockAltEmployeeStatus</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="EmployeeAltStatus" id="txtEmployeeAltStatus" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.Employee_TextBlockAltEmployeeStatus" maxlength="100">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.Common_TextBlockDisplayInModules</label>
                                <div class="col-sm-8">
                                    <div class="@ProjectSession.CultureKendoClass">
                                        @(Html.Kendo().DropDownList()
                                            .Name("drpDisplayInModule")
                                            .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                            .DataTextField("Text")
                                            .DataValueField("Value")
                                            .HtmlAttributes(new { style = "width: 100%", required = "required" })
                                            .BindTo(ViewBag.DisplayInModule)
                                            .Value("")
                                        )
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer box-footer">
                    @if (ProjectSession.PermissionAccess.SetupConfiguration_EmployeeStatus_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_EmployeeStatus_Createnewrecords)
                    {
                        <button type="submit" class="btn btn-primary" id="btnSave"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
                    }
                    <button type="button" class="btn btn-default" data-dismiss="modal">@ProjectSession.Resources.label.Common_ButtonClose</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    var kendoGridId = 'empStatusGrid';
    var intPageID = '@SystemEnum.Pages.EmployeeStatus.GetHashCode()';

    $(document).ready(function () {
        validator = $('#frmEmpStatus').validate({
            rules: {
                EmployeeStatus: { required: true },
            },
            messages: {
                EmployeeStatus: { required: '' },
            }
        });
    });

    function BindParameters() {
        return {
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };

    function OpenEmpStatusEditWindow(id) {
        if (id > 0) {
            $.ajax({
                url: '@Url.Action(Actions.GetEmployeeStatusByID, Controllers.Configurations, new { area = Areas.Configurations })',
                type: "POST",
                data: addRequestVerificationToken({ empStatusId: id }),
                success: function (result) {
                    $("#hdnEmployeeStatusId").val(result.EmployeeStatusId);
                    $("#txtEmployeeStatus").val(result.EmployeeStatus);
                    $("#txtEmployeeAltStatus").val(result.EmployeeAltStatus);
                    if (result.DisplayInModule) {
                        $("#drpDisplayInModule").data("kendoDropDownList").value("1");
                    }
                    else {
                        $("#drpDisplayInModule").data("kendoDropDownList").value("0");
                    }

                    @if (ProjectSession.PermissionAccess.SetupConfiguration_EmployeeStatus_Editrecords)
                    {
                        <text>$("#btnSave").show(); </text>
                    }
                    else if (ProjectSession.PermissionAccess.SetupConfiguration_EmployeeStatus_Createnewrecords)
                    {
                        <text>$("#btnSave").hide(); </text>
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }
        else {
            ClearAllInputs("frmEmpStatus");

            @if (ProjectSession.PermissionAccess.SetupConfiguration_EmployeeStatus_Createnewrecords)
            {
                <text>$("#btnSave").show(); </text>
            }
             else if (ProjectSession.PermissionAccess.SetupConfiguration_EmployeeStatus_Editrecords)
            {
                <text>$("#btnSave").hide(); </text>
            }
        }
    }

    $("#empStatusGrid tbody").on("dblclick", "tr[role='row']", function (e) {
        var grid = $("#empStatusGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        $("#empStatusModal").modal("show");
        OpenEmpStatusEditWindow(model.EmployeeStatusId);
    });

</script>

@if (ProjectSession.PermissionAccess.SetupConfiguration_EmployeeStatus_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_EmployeeStatus_Createnewrecords)
{
    <script type="text/javascript">

        $('#frmEmpStatus').on('submit', function (e) {
            if ($("#frmEmpStatus").valid()) {
                if (e.isDefaultPrevented()) {
                    // handle the invalid form...
                } else {
                    var drpValue = $("#drpDisplayInModule").val();
                    var flag;
                    if (drpValue == "1")
                        flag = true
                    else
                        flag = false;
                    var empStatusId = $("#hdnEmployeeStatusId").val();
                    var changedObj = {
                        EmployeeStatusId: empStatusId == '' ? 0 : empStatusId,
                        EmployeeStatus: $("#txtEmployeeStatus").val(),
                        EmployeeAltStatus: $("#txtEmployeeAltStatus").val(),
                        DisplayInModule: flag,
                    };

                    $.ajax({
                        url: '@Url.Action(Actions.ManageEmployeeStatus, Controllers.Configurations, new { area = Areas.Configurations })',
                        type: "POST",
                        data: addRequestVerificationToken(changedObj),
                        dataType: "json",
                        success: function (result) {
                            if (result[0] == 0) {
                                ShowMessage(result[1], result[2], "#divModelError");
                            }
                            else {
                                $('#empStatusModal').modal("hide");
                                ShowMessage(result[0], result[1], "#divMessage");
                                ReBindKendoGrid("empStatusGrid");
                            }
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            showErrorMessage();
                        }
                    });
                    e.preventDefault();
                }
            }
            else {
                e.preventDefault();
            }
        })
    </script>
}

@if (ProjectSession.PermissionAccess.SetupConfiguration_EmployeeStatus_Deleterecords)
{
    <script type="text/javascript">

        function onDataBound(arg) {
            confirmDeleteMsg(msgText, okText, cancelText, onConfirmCallback, confirmDirection);
            gridProperPaging(this);
        }

        function onConfirmCallback(sender) {
            var id = $(this).data("id");
            $.ajax({
                url: '@Url.Action(Actions.DeleteEmployeeStatus, Controllers.Configurations, new { area = Areas.Configurations })',
                type: "POST",
                data: addRequestVerificationToken({ empStatusId: id }),
                dataType: "json",
                success: function (result) {
                    ClearAllInputs("frmEmpStatus");
                    ShowMessage(result[0], result[1], "#divMessage");
                    ReBindKendoGrid("empStatusGrid");

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }
    </script>
}
else
{
    <script>
        function onDataBound(arg) {
            gridProperPaging(this);
        }
    </script>
}