﻿@using CMMS.Infrastructure;
@using CMMS.Pages;
@using CMMS.Models
@{
    ViewBag.Title = "ErrorLog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.AntiForgeryToken()

<div class="head1"><h1>@ProjectSession.Resources.label.ErrorLog_TextBlockErrorLog</h1></div>

<div class="box">
    <div class="information-form cus-form" style="padding-top:10px">
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="form-group ">
                    <label class="form-label">@ProjectSession.Resources.label.JobOrder_TextBlockStartDate</label>
                    <div class="input-group date-pick">
                        @Html.TextBox("dtStartDate", String.Format("{0:" + ProjectConfiguration.DefaultDateFormat + "}", DateTime.Now.AddMonths(-1)), new { @id = "dtStartDate", @class = "form-control calendarsPicker", @placeholder = ProjectConfiguration.DefaultDateFormat })
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="form-group">
                    <label class="form-label">@ProjectSession.Resources.label.JobOrder_TextBlockEndDate</label>
                    <div class="input-group date-pick">
                        @Html.TextBox("dtEndDate", String.Format("{0:" + ProjectConfiguration.DefaultDateFormat + "}", DateTime.Now), new { @id = "dtEndDate", @class = "form-control calendarsPicker", @placeholder = ProjectConfiguration.DefaultDateFormat })
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="box-footer">
        <button type="button" class="btn btn-primary" id="btnSearch"><span>@ProjectSession.Resources.label.Report_ButtonSearch</span></button>
        <button type="button" class="btn btn-default" id="btnReset"><span>@ProjectSession.Resources.label.Common_ButtonClear</span></button>
    </div>
</div>

<div class="text-right translat-btn">
    <button type="button" class="btn btn-primary" title="@ProjectSession.Resources.label.Common_ButtonDelete" id="btnDelete">@ProjectSession.Resources.label.Common_ButtonDelete</button>
</div>

<div id="errorLogData" class="@ProjectSession.CultureKendoClass">
    @(Html.Kendo().Grid<CMMS.Model.ErrorLog>()
        .Name("errorLogGrid")
        .HtmlAttributes(new { @class = "kl-grid" })
        .Columns(columns =>
        {
            columns.Template(@<text></text>).HeaderTemplate("<input type='checkbox'  class='chkbx'  id='chkL2All' onclick=checkAllRelated(this,'errorLogGrid'); />").ClientTemplate("<input type='checkbox' class='chkbx' id='ChkL2Inner_#:ErrorLogId#' pid='#: ErrorLogId #' onclick='checkinnerelement(this)' />").Width(30);

            columns.Bound(c => c.ErrorDate).ClientTemplate("#= DateTemplateWithTime(data.ErrorDate) #").Title(ProjectSession.Resources.label.AssetTransfer_TextBlockDate).Width(150);

            columns.Bound(c => c.Name).Title(ProjectSession.Resources.label.ErrorLog_TextBlockGeneratedBy).Visible(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true).Width(150);

            columns.Bound(c => c.AltName).Title(ProjectSession.Resources.label.ErrorLog_TextBlockGeneratedBy).Visible(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? true : false).Width(150);

            columns.Bound(c => c.IPAddress).Title(ProjectSession.Resources.label.Employee_TextBlockIpAddress).Width(150);

            columns.Bound(c => c.ClientBrowser).Title(ProjectSession.Resources.label.ErrorLog_TextBlockBrowser).Width(150);

            columns.Bound(c => c.URL).Title(ProjectSession.Resources.label.ErrorLog_TextBlockPage).HtmlAttributes(new { title = " #= KendoToolTipTemplate(data.URL) #", @class = "column-textoverflow" }).Width(250);

            columns.Bound(c => c.ErrorMessage).Title(ProjectSession.Resources.label.ErrorLog_TextBlockMessage).HtmlAttributes(new { title = " #= KendoToolTipTemplate(data.ErrorMessage) #", @class = "column-textoverflow" }).Width(450);

            columns.Bound(c => c.ErrorLogId).ClientTemplate("<center><a class='action' title='" + ProjectSession.Resources.label.Common_ButtonEdit + "'  style='cursor:pointer' data-toggle='modal' data-target='\\#errorLogDetailModal' onclick='OpenErrorLogWindow(#: ErrorLogId#)'><i class='glyphicon glyphicon-th-list'></i></a></center>")
                                           .Title("<center>" + ProjectSession.Resources.label.Common_ButtonAction + "</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Width(80);

        })
        .Sortable(sortable => sortable.AllowUnsort(false))
        .Scrollable()
        .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
        .Events(events => events.DataBound("onDataBound"))
        .DataSource(dataSource =>
                                dataSource.Ajax()
                                .PageSize(ProjectConfiguration.PageSize)
                                .Sort(model => model.Add("ErrorDate").Descending())
                                 .Model(model =>
                                 {
                                     model.Id(p => p.ErrorLogId);
                                 })
                                .ServerOperation(true)
                                .Read(read => read.Action(Actions.GetErrorLogList, Controllers.Configurations, new { area = Areas.Configurations }).Data("BindParameters").Type(HttpVerbs.Post))
        )
    )

</div>

<div id="errorLogDetailModal" class="modal fade" role="dialog"></div>

<script type="text/javascript">
    var kendoGridId = 'errorLogGrid';
    var intPageID = '@SystemEnum.Pages.ErrorLog.GetHashCode()';


    $("#btnSearch").on("click", function (e) {
        var startDate = $("#dtStartDate").val();
        var endDate = $("#dtEndDate").val();
        if (validateDate(startDate) && validateDate(endDate)) {
            if (new Date(startDate) > new Date(endDate)) {
                ShowMessage('@SystemEnum.MessageType.danger.ToString()', '@ProjectSession.Resources.message.AccountCode_MsgValidStartEndDate', "#divMessage");
                e.preventDefault();
            }
            else {
                ReBindKendoGrid('errorLogGrid');
            }
        }
        else {
            ShowMessage('@SystemEnum.MessageType.danger.ToString()', '@ProjectSession.Resources.message.Common_MsgValidFormatDate', "#divMessage");
            e.preventDefault();
        }
    });

    $("#btnReset").on("click", function () {
        var date = new Date();
        startDate = new Date(date.getFullYear(), date.getMonth() - 1, date.getDate());
        endDate = new Date();
        $("#dtStartDate").val(getFormattedDateBy(startDate));
        $("#dtEndDate").val(getFormattedDateBy(endDate));
        ReBindKendoGrid('errorLogGrid');
    });

    function BindParameters() {
        return {
            startDate: $("#dtStartDate").val(),
            endDate: $("#dtEndDate").val(),
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };

    function onDataBound(arg) {
        gridProperPaging(this);
    }

    function OpenErrorLogWindow(id) {
        $("#errorLogDetailModal").html('');
        var url = '@Url.Action(Actions._ErrorLogDetail, Controllers.Configurations, new { Area = Areas.Configurations })' + "?errorLogId=" + id;
        $("#errorLogDetailModal").load(url);
    }

    function checkAllRelated(ctl, gridname) {
        var gridname = "#" + gridname;
        if ($("#" + $(ctl).attr("id")).is(':checked') == true) {
            $(gridname).data('kendoGrid').tbody.find("tr").addClass('k-state-selected');
            $(gridname).data('kendoGrid').tbody.find("tr").find("td:first input").prop("checked", "checked");
        }
        else {
            $(gridname).data('kendoGrid').tbody.find("tr").removeClass('k-state-selected');
            $(gridname).data('kendoGrid').tbody.find("tr").find("td:first input").removeAttr("checked");
        }
    }

    function checkinnerelement(ctl) {
        if ($("#" + $(ctl).attr("id")).is(':checked') == true) {
            $(ctl).closest("tr").addClass('k-state-selected');
        } else {
            $(ctl).closest("tr").removeClass('k-state-selected');
        }
    }

    $("#btnDelete").on("click", function (e) {
        var a = [];
        $("#errorLogGrid tbody").find("tr").each(function () {
            var grid = $("#errorLogGrid").data("kendoGrid");
            if ($(this).find("td:first input").is(':checked') == true) {
                var id = $(this).find("td:first input").attr("pid");
                a.push($(this).find("td:first input").attr("pid"));
            }
        });
        if (a.length > 0) {
            var response = confirm('@ProjectSession.Resources.message.Common_MsgDeleteConfirm');
            if (response) {
                $.ajax({
                    url: '@Url.Action(Actions.DeleteErrorLog, Controllers.Configurations, new { area = Areas.Configurations })',
                    type: "POST",
                    data: addRequestVerificationToken({ errorLogIds : a.join() }),
                    dataType: "json",
                    success: function (result) {
                        if (result[0] == 0) {
                            ShowMessage(result[1], result[2], "#divMessage");
                        }
                        else {
                            ShowMessage(result[0], result[1], "#divMessage");
                            ReBindKendoGrid("errorLogGrid");
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        showErrorMessage();
                    }
                });
            }
            else {
                e.preventDefault();
            }
        }
        else {
            ShowMessage('@SystemEnum.MessageType.danger.ToString()', '@ProjectSession.Resources.message.Store_MsgSelectAtLeastOneRecord', "#divMessage");
            e.preventDefault();
        }
    });
</script>