﻿@using CMMS.Infrastructure;
@using CMMS.Pages;
@using CMMS.Model
@using CMMS.Service
@using CMMS.Model
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.AntiForgeryToken()

<div class="head1">
    <h1>
        @ProjectSession.Resources.label.FailureCodes_TextBlockFailureCodes
    </h1>
    <ul class="sub_btn">
        @if (ProjectSession.PermissionAccess.SetupConfiguration_FailureCodes_Createnewrecords)
        {
            <li><a href="javascript:void(0);" class="btn-icon btn-add" data-toggle="modal" data-target="#FailureCodeModal" data-backdrop="static" onclick="OpenFailureCodeEditWindow(0);" title='@ProjectSession.Resources.label.Common_ButtonAdd'><i></i></a></li>
        }
        <li><a href="javascript:void(0);" class="btn-icon btn-search" data-toggle="modal" data-target="#search-order" onclick='OpenAdvancedSearch("@ProjectSession.Resources.label.FailureCodes_TextBlockFailureCodes","@SystemEnum.Pages.FailureCause.GetHashCode()")' title='@ProjectSession.Resources.label.Common_ButtonAdvanceSearch'><i></i></a></li>
        <li><a href="javascript:void(0);" class="btn-icon btn-clear" title="@ProjectSession.Resources.label.Common_ButtonClear" onclick="return ClearAdvencedSearch(@SystemEnum.Pages.FailureCause.GetHashCode());"><i></i></a></li>
        <li><a href="javascript:void(0);" class="btn-icon btn-refresh" onclick="ReBindKendoGrid('FailureCodeGrid');" title='@ProjectSession.Resources.label.Common_ButtonRefreshGrid'><i></i></a></li>
        @if (ProjectSession.PermissionAccess.SetupConfiguration_FailureCodes_Export)
        {
            <li><a href="javascript:void(0);" class="btn-icon btn-xsl" onclick="ExportToExcel('FailureCodeGrid', 'FailureCauseID');" title="@ProjectSession.Resources.label.Common_ButtonExportToExcel"><i></i></a></li>
        }
    </ul>
</div>
<!-- Kendo Grid-->
<div id="FailureCodeData" class="@ProjectSession.CultureKendoClass">
    @(Html.Kendo().Grid<CMMS.Model.Failurecause>()
        .Name("FailureCodeGrid")
        .HtmlAttributes(new { @class = "kl-grid" })
        .Columns(columns =>
        {
            columns.Bound(c => c.FailureCauseCode).Title(ProjectSession.Resources.label.FailureCodes_TextBlockFailureCode).Width(150);

            columns.Bound(c => c.FailureCauseDescription).Title(ProjectSession.Resources.label.FailureCodes_TextBlockFailureDesc);

            columns.Bound(c => c.FailureCauseAltDescription).HtmlAttributes(new { @class = "text-right" }).Title(ProjectSession.Resources.label.FailureCodes_TextBlocAltFailureDesc);

            if (ProjectSession.PermissionAccess.SetupConfiguration_FailureCodes_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_FailureCodes_Deleterecords)
            {
                columns.Bound(c => c.FailureCauseID).ClientTemplate("<center>" + (ProjectSession.PermissionAccess.SetupConfiguration_FailureCodes_Editrecords ? "<a class='action' title='" + ProjectSession.Resources.label.Common_ButtonEdit + "'  style='cursor:pointer' data-toggle='modal' data-target='\\#FailureCodeModal' onclick='OpenFailureCodeEditWindow(#: FailureCauseID#)'><i class='glyphicon glyphicon-pencil'></i></a>&nbsp;" : "")
                                                                        + "" + (ProjectSession.PermissionAccess.SetupConfiguration_FailureCodes_Deleterecords ? "<a class='action delete-button'  href='javascript:void(0);'  class='delete-ic' data-id='#: FailureCauseID #' style='cursor:pointer'><i class='glyphicon glyphicon-trash' title='" + ProjectSession.Resources.label.Common_ButtonDelete + "' ></i></a>" : "") + "</center>")
                                            .Title("<center>" + ProjectSession.Resources.label.Common_ButtonAction + "</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Width(80).Filterable(false);
            }
        })
        .Filterable()
        .Sortable(sortable => sortable.AllowUnsort(false))
        .Scrollable()
        .Excel(excel => excel.FileName("Failure Cause.xlsx").Filterable(true).AllPages(true).ProxyURL(Url.Action("Excel_Export_Save", "GridExport", new { area = string.Empty })))
        .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
        .Events(events => events.DataBound("onDataBound").ExcelExport("excelExport"))
        .DataSource(dataSource =>
                                dataSource.Ajax()
                                .PageSize(ProjectConfiguration.PageSize)
                                .Sort(model => model.Add("FailureCauseCode").Ascending())
                                 .Model(model =>
                                 {
                                     model.Id(p => p.FailureCauseID);
                                     model.Field(p => p.FailureCauseDescription);
                                 })
                                .ServerOperation(true)
                                .Read(read => read.Action(Actions.GetFailureCauseList, Controllers.Configurations, new { area = Areas.Configurations }).Data("BindParameters").Type(HttpVerbs.Post))
        )
    )

</div>


<!-- -------------search order------------- -->
<div id="search-order" class="modal fade" role="dialog"></div>

<!-- -------------Manage Order------------- -->
<div id="FailureCodeModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-mg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"></button>
                <h4 class="modal-title">@ProjectSession.Resources.label.FailureCodes_TextBlockFailureCodes</h4>
            </div>
            <form role="form" id="frmFailureCode">
                <input type="hidden" name="hdnFailureCauseID" id="hdnFailureCauseID" />
                <div class="modal-body">
                    <div id="Highlights" class="tab-pane active" role="tabpanel">
                        <div class="form-horizontal">
                            <div id="divModelError"></div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.FailureCodes_TextBlockFailureCode<span class="cfont">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="FailureCauseCode" id="txtFailureCauseCode" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.FailureCodes_TextBlockFailureCode" maxlength="50">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.FailureCodes_TextBlockFailureDesc<span class="cfont">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="FailureCauseDescription" id="txtFailureCauseDescription" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.FailureCodes_TextBlockFailureDesc" maxlength="4000">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.FailureCodes_TextBlocAltFailureDesc</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="txtFailureCauseAltDescription" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.FailureCodes_TextBlocAltFailureDesc" maxlength="4000">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer box-footer">
                    @if (ProjectSession.PermissionAccess.SetupConfiguration_FailureCodes_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_FailureCodes_Createnewrecords)
                    {
                        <button type="submit" class="btn btn-primary" id="btnSave"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
                    }
                    <button type="button" class="btn btn-default" data-dismiss="modal">@ProjectSession.Resources.label.Common_ButtonClose</button>
                </div>
            </form>
        </div>

    </div>
</div>

<script type="text/javascript">
    var kendoGridId = 'FailureCodeGrid';
    var intPageID = '@SystemEnum.Pages.FailureCause.GetHashCode()';

    $(document).ready(function () {
        validator = $('#frmFailureCode').validate({
            rules: {
                FailureCauseCode: { required: true },
                FailureCauseDescription: { required: true },
            },
            messages: {
                FailureCauseCode: { required: '' },
                FailureCauseDescription: { required: '' },
            }
        });
    });

    function BindParameters() {
        return {
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };


    function OpenFailureCodeEditWindow(id) {
        if (id > 0) {
            $.ajax({
                url: '@Url.Action(Actions.GetFailureCauseListByID, Controllers.Configurations, new { area = Areas.Configurations })',
                type: "POST",
                data: addRequestVerificationToken({ failureCauseID: id }),
                success: function (result) {
                    $("#hdnFailureCauseID").val(result.FailureCauseID);
                    $("#txtFailureCauseCode").val(result.FailureCauseCode);
                    $("#txtFailureCauseDescription").val(result.FailureCauseDescription);
                    $("#txtFailureCauseAltDescription").val(result.FailureCauseAltDescription);
                    @if (!ProjectSession.PermissionAccess.SetupConfiguration_FailureCodes_ChangeMastersCodes)
                    {
                        <text>$("#txtFailureCauseCode").attr("disabled", "disabled");</text>
                    }

                    @if (ProjectSession.PermissionAccess.SetupConfiguration_FailureCodes_Editrecords)
                    {
                        <text>$("#btnSave").show(); </text>
                    }
                    else if (ProjectSession.PermissionAccess.SetupConfiguration_FailureCodes_Createnewrecords)
                    {
                        <text>$("#btnSave").hide(); </text>
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    ShowMessage('@SystemEnum.MessageType.danger.ToString()', '@ProjectSession.Resources.message.Common_MsgErrorContactAdmin', "#divMessage");
                }
            });
        }
        else {
            ClearAllInputs("frmFailureCode");
            $("#txtFailureCauseCode").removeAttr("disabled");
            @if (ProjectSession.PermissionAccess.SetupConfiguration_FailureCodes_Createnewrecords)
            {
                <text>$("#btnSave").show(); </text>
            }
            else if (ProjectSession.PermissionAccess.SetupConfiguration_FailureCodes_Editrecords)
            {
                <text>$("#btnSave").hide(); </text>
            }
        }
    }
    $("#FailureCodeGrid tbody").on("dblclick", "tr[role='row']", function (e) {
        var grid = $("#FailureCodeGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        $("#FailureCodeModal").modal("show");
        OpenFailureCodeEditWindow(model.FailureCauseID);
        //invoke controller
    });
</script>
@if (ProjectSession.PermissionAccess.SetupConfiguration_FailureCodes_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_FailureCodes_Createnewrecords)
{
    <script type="text/javascript">



        $('#frmFailureCode').on('submit', function (e) {
            if ($("#frmFailureCode").valid()) {
                if (e.isDefaultPrevented()) {
                    // handle the invalid form...
                } else {

                    var areaId = $("#hdnFailureCauseID").val();
                    var changedObj = {
                        FailureCauseID: areaId == '' ? 0 : areaId,
                        FailureCauseCode: $("#txtFailureCauseCode").val(),
                        FailureCauseDescription: $("#txtFailureCauseDescription").val(),
                        FailureCauseAltDescription: $("#txtFailureCauseAltDescription").val(),
                    };

                    $.ajax({
                        url: '@Url.Action(Actions.ManageFailureCause, Controllers.Configurations, new { area = Areas.Configurations })',
                        type: "POST",
                        data: addRequestVerificationToken(changedObj),
                        dataType: "json",
                        success: function (result) {
                            if (result[0] == 0) {
                                ShowMessage(result[1], result[2], "#divModelError");
                            }
                            else {
                                $('#FailureCodeModal').modal("hide");
                                ShowMessage(result[0], result[1], "#divMessage");
                                ReBindKendoGrid("FailureCodeGrid");
                            }
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            showErrorMessage();
                        }
                    });
                    e.preventDefault();
                }
            }
            else {
                e.preventDefault();
            }
        })
    </script>
}
@if (ProjectSession.PermissionAccess.SetupConfiguration_FailureCodes_Deleterecords)
{
    <script type="text/javascript">

        function onDataBound(arg) {
            confirmDeleteMsg(msgText, okText, cancelText, onConfirmCallback, confirmDirection);
            gridProperPaging(this);
        }

        function onConfirmCallback(sender) {
            var id = $(this).data("id");
            $.ajax({
                url: '@Url.Action(Actions.DeleteFailureCause, Controllers.Configurations, new { area = Areas.Configurations })',
                type: "POST",
                data: addRequestVerificationToken({ failureCauseID: id }),
                dataType: "json",
                success: function (result) {
                    ClearAllInputs("frmFailureCode");
                    ShowMessage(result[0], result[1], "#divMessage");
                    ReBindKendoGrid("FailureCodeGrid");
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }
    </script>
}
else
{
    <script>

        function onDataBound(arg) {
            gridProperPaging(this);
        }
    </script>
}