﻿@model CMMS.Model.Configurations
@using CMMS.Infrastructure;
@using CMMS.Pages;
@using CMMS.Model
@using CMMS.Service
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm(Actions.UpdateGeneralConfiguration, Controllers.Configurations, new { area = Areas.Configurations, @Model }, FormMethod.Post, new { id = "frmGeneralConfiguration", novalidate = "novalidate" }))
{
    @Html.AntiForgeryToken()
    <div class="box">
        <div class="nav-tabs-horizontal">
            <div class="titel-pc">
                <h1>@ProjectSession.Resources.label.GeneralConfiguration_TextBlockGeneralConfigDetail</h1>
            </div>
            <div class="form-horizontal">
                <div class="information-form">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">@ProjectSession.Resources.label.GeneralConfiguration_TextBlockJobOrderAssignToStatus<span class="cfont">*</span></label>
                        <div class="col-sm-6">
                            <div class="@ProjectSession.CultureKendoClass">
                                @(Html.Kendo().DropDownListFor(model => model.JobOrderAssignedToStatus)
                                                .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                                .DataTextField("WorkStatus")
                                                .ValueTemplate(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "#:AltWorkStatus # " : "#:WorkStatus #")
                                                .DataValueField("WorkStatusID")
                                                .HtmlAttributes(new { style = "width: 100%", @required = "required"})
                                                .Template(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "#:AltWorkStatus # " : "#:WorkStatus #")
                                                .DataSource(source =>
                                                {
                                                    source.Read(read =>
                                                    {
                                                        read.Action(Actions.GetAllJobStatusForDDL, Controllers.Configurations, new { area = Areas.Configurations }).Type(HttpVerbs.Get);
                                                    });
                                                })
                                                .Value(Convert.ToString(Model.JobOrderAssignedToStatus))
                                )
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">@ProjectSession.Resources.label.GeneralConfiguration_TextBlockTechnicianCategory<span class="cfont">*</span></label>
                        <div class="col-sm-6">
                            <div class="@ProjectSession.CultureKendoClass">
                                @(Html.Kendo().DropDownListFor(model => model.TechnicianCategory)
                                                .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                                .DataTextField("CategoryName")
                                                .ValueTemplate(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "#:AltCategoryName # " : "#:CategoryName #")
                                                .DataValueField("CategoryID")
                                                .HtmlAttributes(new { style = "width: 100%", @required = "required" })
                                                .Template(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "#:AltCategoryName # " : "#:CategoryName #")
                                                .DataSource(source =>
                                                {
                                                    source.Read(read =>
                                                    {
                                                        read.Action(Actions.GetEmpCategories, Controllers.Configurations, new { area = Areas.Configurations });
                                                    });
                                                })
                                                .Value(Convert.ToString(Model.TechnicianCategory))
                                )
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">@ProjectSession.Resources.label.GeneralConfiguration_TextBlockConsumableSubStore<span class="cfont">*</span></label>
                        <div class="col-sm-6">
                            <div class="@ProjectSession.CultureKendoClass">
                                @(Html.Kendo().DropDownListFor(model => model.SubStoreConsume)
                                                .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                                .DataTextField("SubStoreCode")
                                                .DataValueField("SubStoreID")
                                                .HtmlAttributes(new { style = "width: 100%", @required = "required" })
                                                .Template("#= KendoDDLTemplate(data.SubStoreCode ,data.SubStoreDesc, data.AltSubStoreDesc) #")
                                                .DataSource(source =>
                                                {
                                                    source.Read(read =>
                                                    {
                                                        read.Action(Actions.GetStoresList, Controllers.Configurations, new { area = Areas.Configurations });
                                                    });
                                                })
                                                .Value(Convert.ToString(Model.SubStoreConsume))
                                )
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">@ProjectSession.Resources.label.GeneralConfiguration_TextBlockPersonalSubStore<span class="cfont">*</span></label>
                        <div class="col-sm-6">
                            <div class="@ProjectSession.CultureKendoClass">
                                @(Html.Kendo().DropDownListFor(model => model.SubStorePersonal)
                                                .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                                .DataTextField("SubStoreCode")
                                                .DataValueField("SubStoreID")
                                                .HtmlAttributes(new { style = "width: 100%", @required = "required" })
                                                .Template("#= KendoDDLTemplate(data.SubStoreCode ,data.SubStoreDesc, data.AltSubStoreDesc) #")
                                                .DataSource(source =>
                                                {
                                                    source.Read(read =>
                                                    {
                                                        read.Action(Actions.GetStoresList, Controllers.Configurations, new { area = Areas.Configurations });
                                                    });
                                                })
                                                .Value(Convert.ToString(Model.SubStorePersonal))
                                )
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">@ProjectSession.Resources.label.GeneralConfiguration_TextBlockCityStore<span class="cfont">*</span></label>
                        <div class="col-sm-6">
                            <div class="@ProjectSession.CultureKendoClass">
                                @(Html.Kendo().DropDownListFor(m => m.CityStore)
                                                .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                                .DataTextField("L2Code")
                                                .DataValueField("L2ID")
                                                .HtmlAttributes(new { style = "width: 100%", @required = "required" })
                                                .Template("#= KendoDDLTemplate(data.L2Code ,data.L2name, data.L2Altname) #")
                                                .DataSource(source =>
                                                {
                                                    if (ProjectSession.IsCentral)
                                                    {
                                                        source.Read(read =>
                                                        {
                                                            read.Action(Actions.GetAllCities, Controllers.Configurations, new { area = Areas.Configurations, cityID = Model.CityStore });
                                                        });
                                                    }
                                                    else
                                                    {
                                                        source.Read(read =>
                                                        {
                                                            read.Action(Actions.GetCitiesByEmployee, Controllers.Configurations, new { area = Areas.Configurations, cityID = Model.CityStore });
                                                        });
                                                    }
                                                }).Value(Convert.ToString(Model.CityStore))
                                    )
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">@ProjectSession.Resources.label.GeneralConfiguration_TextBlockJobOrderMaterialRequestedStatus<span class="cfont">*</span></label>
                        <div class="col-sm-6">
                            <div class="@ProjectSession.CultureKendoClass">
                                @(Html.Kendo().DropDownListFor(model => model.JobOrderMaterialRequestedStatus)
                                                .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                                .DataTextField("WorkStatus")
                                                .ValueTemplate(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "#:AltWorkStatus # " : "#:WorkStatus #")
                                                .DataValueField("WorkStatusID")
                                                .HtmlAttributes(new { style = "width: 100%", @required = "required" })
                                                .Template(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "#:AltWorkStatus # " : "#:WorkStatus #")
                                                .DataSource(source =>
                                                {
                                                    source.Read(read =>
                                                    {
                                                        read.Action(Actions.GetAllJobStatusForDDL, Controllers.Configurations, new { area = Areas.Configurations }).Type(HttpVerbs.Get);
                                                    });
                                                })
                                                .Value(Convert.ToString(Model.JobOrderMaterialRequestedStatus))
                                )
                            </div>
                        </div>
                    </div>
                </div>
                @if (ProjectSession.PermissionAccess.SetupConfiguration_GeneralConfiguration_Editrecords)
                {
                    <div class="box-footer">
                        <button class="btn btn-primary" id="btnSave" name="btnSave" type="submit"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
                    </div>
                }
            </div>
        </div>
    </div>
}

<script>
    var intPageID = '@SystemEnum.Pages.GeneralConfiguration.GetHashCode()';

    $(document).ready(function () {
        if ('@ViewBag.Message' != '' && '@ViewBag.MessageType' != '') {
            ShowMessage('@ViewBag.MessageType', '@ViewBag.Message', "#divMessage");
        }
    });

    $('#frmGeneralConfiguration').on('submit', function (e) {
        if (!e.isDefaultPrevented()) {
            if (!reValidateDropDowns($(this))) {
                e.preventDefault();
            }
        }
        else {
            e.preventDefault();
        }
    });
</script>