﻿@using CMMS.Infrastructure;
@using CMMS.Pages;
@using CMMS.Models
@{
    ViewBag.Title = "HelpList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.AntiForgeryToken()

<div class="head1">
    <h1>@ProjectSession.Resources.label.Help_TextToolHelpList</h1>
</div>

<div class="box">
    <div class="information-form cus-form" style="padding-top:10px">
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="form-group ">
                    <label class="form-label">@ProjectSession.Resources.label.Help_TextToolModule</label>
                    <div class="@ProjectSession.CultureKendoClass">
                        @(Html.Kendo().DropDownList()
                                            .Name("drpModuleSearch")
                                            .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                            .DataTextField("HelpTitle")
                                            .DataValueField("HelpModuleID")
                                            .HtmlAttributes(new { style = "width: 100%", required = "required" })
                                            .DataSource(source =>
                                            {
                                                source.Read(read =>
                                                {
                                                    read.Action(Actions.GetHelpModulesList, Controllers.Configurations, new { area = Areas.Configurations });
                                                });
                                            })
                                            .Value("")
                        )
                    </div>

                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="form-group">
                    <label class="form-label">@ProjectSession.Resources.label.Help_TextToolPageName</label>
                    <div><input type="text" id="txtSearchPage" placeholder="@ProjectSession.Resources.label.Common_TextBlockSearch @ProjectSession.Resources.label.Help_TextToolPageName" class="form-control" /></div>
                </div>
            </div>
        </div>
    </div>

    <div class="box-footer">
        <button type="button" class="btn btn-primary" id="btnSearch" onclick="ReBindKendoGrid('helpModuleGrid');"><span>@ProjectSession.Resources.label.Report_ButtonSearch</span></button>
        <button type="button" class="btn btn-default" id="btnReset"><span>@ProjectSession.Resources.label.Common_ButtonClear</span></button>
    </div>
</div>

<!-- Kendo Grid -->
<div id="helpModuleData" class="@ProjectSession.CultureKendoClass">
    @(Html.Kendo().Grid<CMMS.Model.HelpModule>()
        .Name("helpModuleGrid")
        .HtmlAttributes(new { @class = "kl-grid" })
        .Columns(columns =>
        {
            columns.Bound(c => c.ModuleName).Title(ProjectSession.Resources.label.Help_TextToolModule);

            columns.Bound(c => c.PageName).Title(ProjectSession.Resources.label.Help_TextToolPageName);

            columns.Bound(c => c.HelpModuleID).ClientTemplate("<center>" + "" + ("<a class='action' href='" + Url.Action(Actions.HelpDetail, Controllers.Configurations, new { area = Areas.Configurations, helpModuleID = "#: HelpModuleID#" }) + "' style='cursor:pointer'><i class='glyphicon glyphicon-pencil' title='" + ProjectSession.Resources.label.Help_TextBlockHelpDetail + "' ></i></a>") + "" + ("<a class='action delete-button'  href='javascript:void(0);'  class='delete-ic' data-id='#: HelpModuleID #' style='cursor:pointer'><i class='glyphicon glyphicon-trash' title='" + ProjectSession.Resources.label.Common_ButtonDelete + "' ></i></a>") + "</center>")
                                            .Title("<center>" + ProjectSession.Resources.label.Common_ButtonAction + "</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Width(80).Filterable(false);
        }) 
        .Filterable()
        .Sortable(sortable => sortable.AllowUnsort(false))
        .Scrollable()
        .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
        .Events(events => events.DataBound("onDataBound"))
        .DataSource(dataSource =>
        dataSource.Ajax()
        .PageSize(ProjectConfiguration.PageSize)
        .Sort(model => model.Add("ModuleName").Ascending())
        .Model(model =>
        {
            model.Id(p => p.HelpModuleID);
        })
        .ServerOperation(true)
        .Read(read => read.Action(Actions.GetHelpList, Controllers.Configurations, new { area = Areas.Configurations }).Data("BindParameters").Type(HttpVerbs.Post))
        )
    )

</div>

<script>
    var intPageID = '@SystemEnum.Pages.HelpList.GetHashCode()';

    $("#btnReset").on("click", function () {
        $("#txtSearchPage").val("");
        $("#drpModuleSearch").data("kendoDropDownList").value(0);
        ReBindKendoGrid("helpModuleGrid");
    });

    function BindParameters() {
        return {
            helpModuleID: $("#drpModuleSearch").val(),
            pageName: $("#txtSearchPage").val() == '' ? "" : $("#txtSearchPage").val(),
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };

    function onDataBound(arg) {
        confirmDeleteMsg(msgText, okText, cancelText, onConfirmCallback, confirmDirection);
        gridProperPaging(this);
    }

    function onConfirmCallback(sender) {
        var id = $(this).data("id");
        $.ajax({
            url: '@Url.Action(Actions.DeleteHelpModules, Controllers.Configurations, new { area = Areas.Configurations })',
            type: "POST",
            data: addRequestVerificationToken({ helpModuleID: id }),
            dataType: "json",
            success: function (result) {
                ClearAllInputs("frmHelpModule");
                ShowMessage(result[0], result[1], "#divMessage");
                ReBindKendoGrid("helpModuleGrid");
            },
            error: function (xhr, ajaxOptions, thrownError) {
                showErrorMessage();
            }
        });
    }

    $("#helpModuleGrid tbody").on("dblclick", "tr[role='row']", function (e) {
        var grid = $("#helpModuleGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        location.href = '@Url.Action(Actions.HelpDetail, Controllers.Configurations, new { area = Areas.Configurations })' + '?helpModuleID=' + model.HelpModuleID;
    });
</script>