﻿@model CMMS.Model.HelpModule
@using CMMS.Infrastructure;
@using CMMS.Pages;
@using CMMS.Model
@using CMMS.Service
@{
    ViewBag.Title = "HelpDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .modal-open .k-window {
        z-index: 999999 !important;
    }
</style>

<div class="head1"><h1>@ProjectSession.Resources.label.Help_TextBlockHelpDetail</h1></div>

<div id="divContent">
    <div class="box edit-job-order">
        <div class="nav-tabs-horizontal">
            <form role="form" id="frmHelpDetail">
                <div class="tab-content">
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(o => o.HelpModuleID)
                    @Html.HiddenFor(o => o.HelpModuelDetailID)
                    <div class="information-form cus-form">
                        <div class="row">
                            <div class="form-group col-md-6 col-lg-6">
                                <label class="form-label">@ProjectSession.Resources.label.Help_TextToolModule</label>
                                @Html.TextBoxFor(model => model.ModuleName, new { @class = "form-control", @readonly = "readonly", @Placeholder = @ProjectSession.Resources.label.Help_TextToolModule })
                            </div>
                            <div class="form-group col-md-6 col-lg-6">
                                <label class="form-label">@ProjectSession.Resources.label.Help_TextToolPageName<span class="cfont">*</span></label>
                                @Html.TextBoxFor(model => model.PageName, new { @class = "form-control", @Placeholder = @ProjectSession.Resources.label.Help_TextToolPageName })
                            </div>
                            @if (ConvertTo.Boolean(Model.HasHelpDescription))
                            {
                                <div class="form-group col-md-12 col-lg-12">
                                    <label class="form-label">@ProjectSession.Resources.label.Help_TextBlockChapterDescription</label>
                                    @Html.TextArea("HelpPageDescription", new { @id = "HelpPageDescription", required = "required", @rows = "10", @cols = "30" })
                                </div>
                            }
                        </div>
                    </div>
                    @if (Model.HelpModuelDetailID > 0 && ConvertTo.Boolean(Model.HasHelpDescription))
                    {
                        <div class="information-form cus-form">
                            <h3 class="sub-title">
                                <span>@ProjectSession.Resources.label.Help_TextBlockChapter</span>
                                <div class="sub_btn">
                                    <a href="#" class="btn-icon btn-add" data-toggle="modal" data-target="#helpChapterModal" data-backdrop="static" onclick='OpenChapterEditWindow(0)' title='@ProjectSession.Resources.label.Common_ButtonAdd'><i></i></a>
                                </div>
                            </h3>
                            <div class="row">
                                <div class="form-group col-md-12 col-lg-12">
                                    @(Html.Kendo().Grid<CMMS.Model.HelpChapter>()
                                        .Name("chapterGrid")
                                        .HtmlAttributes(new { @class = "kl-grid" })
                                        .Columns(columns =>
                                        {
                                            columns.Bound(c => c.HelpModuleDetailID).Hidden(true);

                                            columns.Bound(c => c.HelpChapterTitle).Title(ProjectSession.Resources.label.Help_TextBlockTitle);

                                            columns.Bound(c => c.HelpChapterID).ClientTemplate("<center>" + "<a href='javascript:void(0);'  data-toggle='modal' data-target='\\#helpChapterModal' style='cursor:pointer' onclick='return OpenChapterEditWindow(#: HelpChapterID#)'class='action' title='" + ProjectSession.Resources.label.Common_ButtonEdit + "'  style='cursor:pointer' ><i class='glyphicon glyphicon-pencil'></i></a>&nbsp;"
                                                + "<a class='action delete-button'  href='javascript:void(0);'  class='delete-ic' data-id='#: HelpChapterID #' style='cursor:pointer'><i class='glyphicon glyphicon-trash' title='" + ProjectSession.Resources.label.Common_ButtonDelete + "' ></i></a>" + "</center>")
                                                            .Title("<center>" + ProjectSession.Resources.label.Common_ButtonAction + "</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Width(80);

                                        })
                                        .Sortable(sortable => sortable.AllowUnsort(false))
                                        .Scrollable()
                                        .Pageable(pageable => pageable.Enabled(false).PageSizes(false).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
                                        .Events(events => events.DataBound("onDataBoundForChapter"))
                                        .DataSource(dataSource =>
                                        dataSource.Ajax()
                                       .PageSize(ProjectConfiguration.PageSize)
                                        .Sort(model => model.Add("HelpChapterTitle").Ascending())
                                       .Model(model =>
                                       {
                                           model.Id(p => p.HelpChapterID);
                                           model.Field(p => p.HelpChapterTitle);
                                       })
                                       .ServerOperation(true)
                                       .Read(read => read.Action(Actions.GetChapterList, Controllers.Configurations, new { area = Areas.Configurations }).Data("BindParametersForChapter").Type(HttpVerbs.Post))
                                       )
                                    )
                                </div>
                            </div>
                        </div>

                        <div class="information-form cus-form">
                            <h3 class="sub-title">
                                <span>@ProjectSession.Resources.label.Help_TextBlockRelatedTopics</span>
                                <div class="sub_btn">
                                    <a href="#" class="btn-icon btn-add" data-toggle="modal" data-target="#helpRelatedTopicsModal" data-backdrop="static" onclick='OpenRelatedTopicEditWindow(0)' title='@ProjectSession.Resources.label.Common_ButtonAdd'><i></i></a>
                                </div>
                            </h3>
                            <div class="row">
                                <div class="form-group col-md-12 col-lg-12">
                                    @(Html.Kendo().Grid<CMMS.Model.HelpRelatedTopic>()
                                    .Name("relatedTopicsGrid")
                                    .HtmlAttributes(new { @class = "kl-grid" })
                                    .Columns(columns =>
                                    {
                                        columns.Bound(c => c.RelatedTopicID).Hidden(true);

                                        columns.Bound(c => c.ChildHelpTitle).Title(ProjectSession.Resources.label.Help_TextBlockTitle);

                                        columns.Bound(c => c.RelatedTopicID).ClientTemplate("<center>" + "<a href='javascript:void(0);'  data-toggle='modal' data-target='\\#helpRelatedTopicsModal' style='cursor:pointer' onclick='return OpenRelatedTopicEditWindow(#: RelatedTopicID#)'class='action' title='" + ProjectSession.Resources.label.Common_ButtonEdit + "'  style='cursor:pointer' ><i class='glyphicon glyphicon-pencil'></i></a>&nbsp;"
                                            + "<a class='action delete-button'  href='javascript:void(0);'  class='delete-ic' data-id='#: RelatedTopicID #' style='cursor:pointer'><i class='glyphicon glyphicon-trash' title='" + ProjectSession.Resources.label.Common_ButtonDelete + "' ></i></a>" + "</center>")
                                                        .Title("<center>" + ProjectSession.Resources.label.Common_ButtonAction + "</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Width(80);

                                    })
                                    .Sortable(sortable => sortable.AllowUnsort(false))
                                    .Scrollable()
                                    .Pageable(pageable => pageable.Enabled(false).PageSizes(false).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
                                    .Events(events => events.DataBound("onDataBoundForRelatedTopics"))
                                    .DataSource(dataSource =>
                                    dataSource.Ajax()
                                   .PageSize(ProjectConfiguration.PageSize)
                                   .Sort(model => model.Add("RelatedTopicID").Ascending())
                                   .Model(model =>
                                   {
                                       model.Id(p => p.RelatedTopicID);
                                   })
                                   .ServerOperation(true)
                                   .Read(read => read.Action(Actions.GetRelatedTopicList, Controllers.Configurations, new { area = Areas.Configurations }).Data("BindParametersForRelatedTopics").Type(HttpVerbs.Post))
                                   )
                                    )
                                </div>
                            </div>
                        </div>
                    }
                    <div class="box-footer">
                        <button class="btn btn-primary" id="btnSave" name="btnSave" type="submit"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
                        <button class="btn btn-default" type="button" onclick="RedirectToPage()"><span>@ProjectSession.Resources.label.Common_ButtonCancel</span></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Chapter Modal -->
<div id="helpChapterModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" title="@ProjectSession.Resources.label.Common_ButtonClose"></button>
                <h4 class="modal-title">@ProjectSession.Resources.label.Help_TextBlockChapter</h4>
            </div>
            <form role="form" id="frmChapter">
                <input type="hidden" name="hdnHelpChapterID" id="hdnHelpChapterID" />
                <div class="modal-body">
                    <div id="Highlights" class="tab-pane active" role="tabpanel">
                        <div class="form-horizontal">
                            <div id="divModelErrorChapter"></div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.Help_TextBlockTitle<span class="cfont">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="HelpChapterTitle" id="txtHelpChapterTitle" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.Help_TextBlockTitle" maxlength="500">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.Help_TextBlockChapterDescription</label>
                                <div class="col-sm-8">
                                    @Html.TextArea("HelpChapterDescription", new { @id = "HelpChapterDescription", required = "required", @rows = "20", @cols = "80", @style = "height:400px" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer box-footer">
                    <button type="submit" class="btn btn-primary" id="btnSave"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">@ProjectSession.Resources.label.Common_ButtonClose</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="helpRelatedTopicsModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" title="@ProjectSession.Resources.label.Common_ButtonClose"></button>
                <h4 class="modal-title">@ProjectSession.Resources.label.Help_TextBlockRelatedTopics</h4>
            </div>
            <form role="form" id="frmRelatedTopics" novalidate="novalidate">
                <input type="hidden" name="hdnRelatedTopicID" id="hdnRelatedTopicID" />
                <input type="hidden" name="hdnChildHelpModuleDetailID" id="hdnChildHelpModuleDetailID" />
                <div class="modal-body">
                    <div id="Highlights" class="tab-pane active" role="tabpanel">
                        <div class="form-horizontal">
                            <div id="divModelErrorTopics"></div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.Help_TextBlockRelatedTopics<span class="cfont">*</span></label>
                                <div class="col-sm-8">
                                    <div class="@ProjectSession.CultureKendoClass">
                                        @(Html.Kendo().DropDownList()
                                            .Name("drpRelatedTopicsSearch")
                                            .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                            .DataTextField("HelpTitle")
                                            .DataValueField("HelpModuelDetailID")
                                            .HtmlAttributes(new { style = "width: 100%", @required = "required" })
                                            .Events(m => m.DataBound("DataBoundDDRelatedTopics"))
                                            .DataSource(source =>
                                            {
                                                source.Read(read =>
                                                {
                                                    read.Action(Actions.GetHelpRelatedTopicList, Controllers.Configurations, new { area = Areas.Configurations }).Data("BindParameterForRelatedTopic");
                                                });
                                            })
                                            .Value("")
                                        )
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer box-footer">
                    <button type="submit" class="btn btn-primary" id="btnSaveRelatedTopics"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">@ProjectSession.Resources.label.Common_ButtonClose</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    var intPageID = '@SystemEnum.Pages.HelpList.GetHashCode()';
    var enEditor;
    $(document).ready(function () {

        $("#HelpPageDescription").kendoEditor({
            resizable: {
                content: true,
                toolbar: true
            },
            encoded: false,
            imageBrowser: {
                messages: {
                    dropFilesHere: "Drop files here"
                },
                transport: {

                    read: '@Url.Action("Read", "ImageBrowser")',
                    thumbnailUrl: '@Url.Action("Thumbnail", "ImageBrowser")',
                    uploadUrl: '@Url.Action("Upload", "ImageBrowser")',
                    imageUrl: '@Url.Action("Image", "ImageBrowser")' + "?path={0}"
                }
            }
        });

        enEditor = $("#HelpPageDescription").data("kendoEditor");

        $("#HelpChapterDescription").kendoEditor({
            resizable: {
                content: true,
                toolbar: true
            },
            encoded: false,
            imageBrowser: {
                messages: {
                    dropFilesHere: "Drop files here"
                },
                transport: {
                    read: '@Url.Action("Read", "ImageBrowser")',
                    thumbnailUrl: '@Url.Action("Thumbnail", "ImageBrowser")',
                    uploadUrl: '@Url.Action("Upload", "ImageBrowser")',
                    imageUrl: '@Url.Action("Image", "ImageBrowser")' + "?path={0}"
                }
            }
        });

        if ('@ViewBag.Message' != '' && '@ViewBag.MessageType' != '') {
            ShowMessage('@ViewBag.MessageType', '@ViewBag.Message', "#divMessage");
        }
        if ('@Model.HelpModuelDetailID' != 0) {
            LoadPageDescription();
        }

    });

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };


    function LoadPageDescription() {
        var id = $("#HelpModuelDetailID").val();
        $.ajax({
            url: '@Url.Action(Actions.GetHelpPageDetail, Controllers.Configurations)',
            type: "POST",
            data: addRequestVerificationToken({ helpModuleDetailID: id }),
            dataType: "json",
            success: function (result) {

                if (result != null) {
                    $("#HelpPageDescription").data("kendoEditor").value(result.HelpDescription);
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                showErrorMessage();
            }
        });
    }

    function RedirectToPage() {
        location.href = '@Url.Action(Actions.HelpList, Controllers.Configurations, new { @area = Areas.Configurations })';

    }
</script>

<script>

    function BindParametersForChapter() {
        return {
            helpModuelDetailID: $("#HelpModuelDetailID").val(),
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    validator = $('#frmChapter').validate({
        rules: {
            HelpChapterTitle: { required: true },
        },
        messages: {
            HelpChapterTitle: { required: '' },
        }
    });

    function OpenChapterEditWindow(id) {

        $("#HelpChapterDescription").data("kendoEditor").value("");
        if (id > 0) {
            $.ajax({
                url: '@Url.Action(Actions.GetChapter, Controllers.Configurations)',
                type: "POST",
                data: addRequestVerificationToken({ helpChapterID: id }),
                dataType: "json",
                success: function (result) {
                    $("#hdnHelpChapterID").val(result.HelpChapterID);
                    $("#txtHelpChapterTitle").val(result.HelpChapterTitle);
                    $("#HelpChapterDescription").data("kendoEditor").value(result.HelpChapterDescription);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }
        else {
            ClearAllInputs("frmChapter");
        }
    }

    $('#frmChapter').on('submit', function (e) {
        if (!e.isDefaultPrevented()) {
            if ($("#frmChapter").valid()) {
                var helpChapterID = $("#hdnHelpChapterID").val();
                var changedObj = {
                    HelpChapterID: helpChapterID == '' ? 0 : helpChapterID,
                    HelpChapterTitle: $("#txtHelpChapterTitle").val(),
                    HelpChapterDescription: $("#HelpChapterDescription").val(),
                    HelpModuleDetailID: $("#HelpModuelDetailID").val()
                };

                $.ajax({
                    url: '@Url.Action(Actions.ManageChapter, Controllers.Configurations)',
                    type: "POST",
                    data: addRequestVerificationToken(changedObj),
                    dataType: "json",
                    success: function (result) {
                        if (result[0] == 0) {
                            ShowMessage(result[1], result[2], "#divModelErrorChapter");
                        }
                        else {
                            $("#helpChapterModal").modal("hide");
                            ShowMessage(result[0], result[1], "#divMessage");
                            ReBindKendoGrid("chapterGrid");
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        showErrorMessage();
                    }
                });
            }
            e.preventDefault();
        }
    })

    function onDataBoundForChapter(arg) {
        confirmDeleteMsg(msgText, okText, cancelText, onConfirmCallbackForChapter, confirmDirection);
        gridProperPaging(this);
    }

    function onConfirmCallbackForChapter(sender) {
        var id = $(this).data("id");
        $.ajax({
            url: '@Url.Action(Actions.DeleteChapter, Controllers.Configurations)',
            type: "POST",
            data: addRequestVerificationToken({ helpChapterID: id }),
            dataType: "json",
            success: function (result) {
                ClearAllInputs("frmChapter");
                ShowMessage(result[0], result[1], "#divMessage");
                ReBindKendoGrid("chapterGrid");
            },
            error: function (xhr, ajaxOptions, thrownError) {
                showErrorMessage();
            }
        });
    }

    $("#chapterGrid tbody").on("dblclick", "tr[role='row']", function (e) {
        var grid = $("#chapterGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        $("#helpChapterModal").modal("show");
        OpenChapterEditWindow(model.HelpChapterID);
    });
</script>

<script>

    validator = $('#frmHelpDetail').validate({
        rules: {
            PageName: { required: true },
        },
        messages: {
            PageName: { required: '' },
        }
    });


    $('#frmHelpDetail').on('submit', function (e) {
        if (!e.isDefaultPrevented()) {
            if ($("#frmHelpDetail").valid()) {
                var helpModuelDetailID = $("#HelpModuelDetailID").val();
                var changedObj = {
                    HelpModuelDetailID: helpModuelDetailID == '' ? 0 : helpModuelDetailID,
                    HelpTitle: $("#PageName").val(),
                    HelpDescription: $("#HelpPageDescription").val(),
                    HelpModuleID: $("#HelpModuleID").val()
                };

                $.ajax({
                    url: '@Url.Action(Actions.ManageHelpDetail, Controllers.Configurations)',
                    type: "POST",
                    data: addRequestVerificationToken(changedObj),
                    dataType: "json",
                    success: function (result) {
                        if (result[0] == 0) {
                            ShowMessage(result[1], result[2], "#divMessage");
                        }
                        else {
                            ShowMessage(result[0], result[1], "#divMessage");
                            setTimeout(function () { window.location.href = '@Url.Action(Actions.HelpDetail, Controllers.Configurations, new { area = Areas.Configurations })' + '?helpModuleID=' + result[2]; }, 1000);
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        showErrorMessage();
                    }
                });
            }
            e.preventDefault();
        }
    })

</script>

<script>

    function BindParameterForRelatedTopic() {
        return {
            hasHelpDescription: 1,
            helpDetailID: $("#HelpModuelDetailID").val() == '' ? 0 : $("#HelpModuelDetailID").val(),
            childHelpModuleDetailID: $("#hdnChildHelpModuleDetailID").val() == '' ? 0 : $("#hdnChildHelpModuleDetailID").val()
        };
    }

    function DataBoundDDRelatedTopics(e) {
        $("#drpRelatedTopicsSearch").data("kendoDropDownList").value($("#hdnChildHelpModuleDetailID").val());
        $("#drpRelatedTopicsSearch").data("kendoDropDownList").trigger("change");
    }

    function OpenRelatedTopicEditWindow(id) {
        $("#hdnChildHelpModuleDetailID").val("");
        if (id > 0) {
            $.ajax({
                url: '@Url.Action(Actions.GetHelpRelatedTopics, Controllers.Configurations)',
                type: "POST",
                data: addRequestVerificationToken({ relatedTopicID: id }),
                dataType: "json",
                success: function (result) {
                    $("#hdnRelatedTopicID").val(result.RelatedTopicID);
                    $("#hdnChildHelpModuleDetailID").val(result.ChildHelpModuleDetailID);
                    $("#drpRelatedTopicsSearch").data("kendoDropDownList").value(0);
                    $("#drpRelatedTopicsSearch").data("kendoDropDownList").dataSource.read();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }
        else {
            $("#drpRelatedTopicsSearch").data("kendoDropDownList").dataSource.read();
        }
    }

    $('#frmRelatedTopics').on('submit', function (e) {
        if (!e.isDefaultPrevented()) {
            if (reValidateDropDowns($(this))) {
                var relatedTopicID = $("#hdnRelatedTopicID").val();
                var changedObj = {
                    RelatedTopicID: relatedTopicID == '' ? 0 : relatedTopicID,
                    ParentHelpModuleDetailID: $("#HelpModuelDetailID").val(),
                    ChildHelpModuleDetailID: $("#drpRelatedTopicsSearch").val()
                };

                $.ajax({
                    url: '@Url.Action(Actions.ManageHelpRelatedTopics, Controllers.Configurations)',
                    type: "POST",
                    data: addRequestVerificationToken(changedObj),
                    dataType: "json",
                    success: function (result) {
                        if (result[0] == 0) {
                            ShowMessage(result[1], result[2], "#divModelErrorTopics");
                        }
                        else {
                            $("#helpRelatedTopicsModal").modal("hide");
                            ShowMessage(result[0], result[1], "#divMessage");
                            ReBindKendoGrid("relatedTopicsGrid");
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        showErrorMessage();
                    }
                });
            }
            e.preventDefault();
        }
    })

    function BindParametersForRelatedTopics() {
        return {
            helpModuelDetailID: $("#HelpModuelDetailID").val(),
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function onDataBoundForRelatedTopics(arg) {
        confirmDeleteMsg(msgText, okText, cancelText, onConfirmCallbackRelatedTopics, confirmDirection);
        gridProperPaging(this);
    }

    function onConfirmCallbackRelatedTopics(sender) {
        var id = $(this).data("id");
        $.ajax({
            url: '@Url.Action(Actions.DeleteHelpRelatedTopics, Controllers.Configurations)',
            type: "POST",
            data: addRequestVerificationToken({ relatedTopicID: id }),
            dataType: "json",
            success: function (result) {
                ClearAllInputs("frmRelatedTopics");
                ShowMessage(result[0], result[1], "#divMessage");
                ReBindKendoGrid("relatedTopicsGrid");
            },
            error: function (xhr, ajaxOptions, thrownError) {
                showErrorMessage();
            }
        });
    }


    $("#relatedTopicsGrid tbody").on("dblclick", "tr[role='row']", function (e) {
        var grid = $("#relatedTopicsGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        $("#helpRelatedTopicsModal").modal("show");
        OpenRelatedTopicEditWindow(model.RelatedTopicID);
    });
</script>

