﻿@using CMMS.Infrastructure;
@using CMMS.Pages;
@using CMMS.Model
@using CMMS.Service
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .calendars-popup {
        z-index: 100000 !important;
    }
</style>

<div class="head1">
    <h1>@ProjectSession.Resources.menu.HolidaySetting_MenuHolidaySettings</h1>
</div>
@Html.AntiForgeryToken()
<div id="divContent">
    <div class="box edit-job-order">
        <div class="nav-tabs-horizontal">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#tb1" aria-controls="tb1">@ProjectSession.Resources.label.HolidaySetting_TextBlockWorkingDay</a></li>
                <li role="presentation"><a data-toggle="tab" href="#tb2" aria-controls="tb2">@ProjectSession.Resources.label.HolidaySetting_TextBlockHoliday</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" onclick="ABC(this);"></a>
                    <ul class="dropdown-menu smp">
                        <li class="active"><a data-toggle="tab" href="#tb1" aria-controls="tb1">@ProjectSession.Resources.label.HolidaySetting_TextBlockWorkingDay</a></li>
                        <li role="presentation"><a data-toggle="tab" href="#tb2" aria-controls="tb2">@ProjectSession.Resources.label.HolidaySetting_TextBlockHoliday</a></li>
                    </ul>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tb1">
                    <div class="information-form">
                        <div class="form-horizontal">
                            <h3 class="sub-title">
                                <span>@ProjectSession.Resources.label.HolidaySetting_TextBlockWorkingDay</span>
                                <ul class="sub_btn">
                                    @if (ProjectSession.PermissionAccess.SetupConfiguration_HolidaySetting_Createnewrecords)
                                    {
                                        <li><a href="#" class="btn-icon btn-add" data-toggle="modal" data-target="#workingDayModal" data-backdrop="static" onclick='OpenWorkingDayEditWindow(0)' title='@ProjectSession.Resources.label.Common_ButtonAdd'><i></i></a></li>
                                    }
                                    @if (ProjectSession.PermissionAccess.SetupConfiguration_HolidaySetting_Export)
                                    {
                                        <li><a title="Export To Excel" onclick="ExportToExcel('workingDayGrid', 'WorkingDayID');" class="btn-icon btn-xsl" href="javascript:void(0);"><i></i></a></li>
                                    }
                                </ul>
                            </h3>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="@ProjectSession.CultureKendoClass">
                                        @(Html.Kendo().Grid<CMMS.Model.WorkingDay>()
                                                .Name("workingDayGrid")
                                                .HtmlAttributes(new { @class = "kl-grid" })
                                                .Columns(columns =>
                                                {
                                                    columns.Bound(c => c.L1No).Title(ProjectSession.Resources.label.Organisation_TextBlockOrgCode).Width(200)
                                                    .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterOrganisation", "GridFilter", new { area = string.Empty }).Data("BindParametersWorkingDay").Type(HttpVerbs.Post))));
                                                    
                                                    columns.Bound(c => c.L2Code).Title(ProjectSession.Resources.label.JobRequest_TextBlockCityCode)
                                                    .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterSite", "GridFilter", new { area = string.Empty }).Data("BindParametersWorkingDay").Type(HttpVerbs.Post))));

                                                    columns.Bound(c => c.L2name).Title(ProjectSession.Resources.label.City_TextBlockCityDesc);

                                                    columns.Bound(c => c.L2Altname).HtmlAttributes(new { @class = "text-right" }).Title(ProjectSession.Resources.label.City_TextBlockAltCityDesc);

                                                    columns.ForeignKey(c => c.StartDayOfWeek, (System.Collections.IEnumerable)ViewBag.WeekDays, "Value", "Text").Title(ProjectSession.Resources.label.HolidaySetting_TextBlockStartDayofWeek);

                                                    if (ProjectSession.PermissionAccess.SetupConfiguration_HolidaySetting_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_HolidaySetting_Deleterecords)
                                                    {
                                                        columns.Bound(c => c.WorkingDayID).ClientTemplate("<center>" + (ProjectSession.PermissionAccess.SetupConfiguration_HolidaySetting_Editrecords ? "<a class='action' title='" + ProjectSession.Resources.label.Common_ButtonEdit + "'  style='cursor:pointer' data-toggle='modal' data-target='\\#workingDayModal' onclick='OpenWorkingDayEditWindow(#: WorkingDayID#)'><i class='glyphicon glyphicon-pencil'></i></a>&nbsp;" : "") + "" + (ProjectSession.PermissionAccess.SetupConfiguration_HolidaySetting_Deleterecords ? "<a class='action delete-button'  href='javascript:void(0);'  class='delete-ic' data-id='#: WorkingDayID #' style='cursor:pointer'><i class='glyphicon glyphicon-trash' title='" + ProjectSession.Resources.label.Common_ButtonDelete + "' ></i></a>" : "") + "</center>")
                                                                                    .Title("<center>" + ProjectSession.Resources.label.Common_ButtonAction + "</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Width(80).Filterable(false);
                                                    }
                                                })
                                                .Filterable()
                                                .Sortable(sortable => sortable.AllowUnsort(false))
                                                .Scrollable()
                                                .Excel(excel => excel.FileName("Working Day List.xlsx").Filterable(true).AllPages(true).ProxyURL(Url.Action("Excel_Export_Save", "GridExport", new { area = string.Empty })))
                                                .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
                                                .Events(events => events.DataBound("onDataBoundWorkingDay").ExcelExport("excelExport"))
                                                .DataSource(dataSource => dataSource.Ajax()
                                                .PageSize(ProjectConfiguration.PageSize)
                                                .Sort(model => model.Add("L1No").Ascending())
                                                .Model(model =>
                                                 {
                                                     model.Id(p => p.WorkingDayID);
                                                     model.Field(p => p.StartDayOfWeek);
                                                 })
                                                .ServerOperation(true)
                                                .Read(read => read.Action(Actions.GetWorkingDayList, Controllers.Configurations, new { area = Areas.Configurations }).Data("BindParametersWorkingDay").Type(HttpVerbs.Post))
                                                )
                                        )
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tb2">
                    <div class="information-form">
                        <div class="form-horizontal">
                            <h3 class="sub-title">
                                <span>@ProjectSession.Resources.label.HolidaySetting_TextBlockHoliday</span>
                                <ul class="sub_btn">
                                    @if (ProjectSession.PermissionAccess.SetupConfiguration_HolidaySetting_Createnewrecords)
                                    {
                                        <li><a href="#" class="btn-icon btn-add" data-toggle="modal" data-target="#holidayModal" data-backdrop="static" onclick='OpenHolidayEditWindow(0)' title='@ProjectSession.Resources.label.Common_ButtonAdd'><i></i></a></li>
                                    }
                                    @if (ProjectSession.PermissionAccess.SetupConfiguration_HolidaySetting_Export)
                                    {
                                        <li><a title="Export To Excel" onclick="ExportToExcel('holidayGrid','HolidayID');" class="btn-icon btn-xsl" href="javascript:void(0);"><i></i></a></li>
                                    }
                                </ul>
                            </h3>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="@ProjectSession.CultureKendoClass">
                                        @(Html.Kendo().Grid<CMMS.Model.Holiday>()
                                                .Name("holidayGrid")
                                                .HtmlAttributes(new { @class = "kl-grid" })
                                                .Columns(columns =>
                                                {
                                                    columns.Bound(c => c.L1No).Title(ProjectSession.Resources.label.Organisation_TextBlockOrgCode).Width(200)
                                                    .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterOrganisation", "GridFilter", new { area = string.Empty }).Data("BindParametersHoliday").Type(HttpVerbs.Post))));
                                                    
                                                    columns.Bound(c => c.L2Code).Title(ProjectSession.Resources.label.JobRequest_TextBlockCityCode)
                                                    .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterSite", "GridFilter", new { area = string.Empty }).Data("BindParametersHoliday").Type(HttpVerbs.Post))));

                                                    columns.Bound(c => c.L2name).Title(ProjectSession.Resources.label.City_TextBlockCityDesc);

                                                    columns.Bound(c => c.L2Altname).HtmlAttributes(new { @class = "text-right" }).Title(ProjectSession.Resources.label.City_TextBlockAltCityDesc);

                                                    columns.Bound(c => c.HolidayDate).ClientTemplate("#= DateTemplate(data.HolidayDate) #").Title(ProjectSession.Resources.label.HolidaySetting_TextBlockHolidayDate);

                                                    columns.Bound(c => c.HolidayDesc).Title(ProjectSession.Resources.label.HolidaySetting_TextBlockHolidayDesc);

                                                    columns.Bound(c => c.HolidayAltDesc).HtmlAttributes(new { @class = "text-right" }).Title(ProjectSession.Resources.label.HolidaySetting_TextBlockAltHolidayDesc);

                                                    if (ProjectSession.PermissionAccess.SetupConfiguration_HolidaySetting_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_HolidaySetting_Deleterecords)
                                                    {
                                                        columns.Bound(c => c.HolidayID).ClientTemplate("<center>" + (ProjectSession.PermissionAccess.SetupConfiguration_HolidaySetting_Editrecords ? "<a class='action' title='" + ProjectSession.Resources.label.Common_ButtonEdit + "'  style='cursor:pointer' data-toggle='modal' data-target='\\#holidayModal' onclick='OpenHolidayEditWindow(#: HolidayID#)'><i class='glyphicon glyphicon-pencil'></i></a>&nbsp;" : "") + "" + (ProjectSession.PermissionAccess.SetupConfiguration_HolidaySetting_Deleterecords ? "<a class='action delete-button'  href='javascript:void(0);'  class='delete-ic' data-id='#: HolidayID #' style='cursor:pointer'><i class='glyphicon glyphicon-trash' title='" + ProjectSession.Resources.label.Common_ButtonDelete + "' ></i></a>" : "") + "</center>")
                                                                                    .Title("<center>" + ProjectSession.Resources.label.Common_ButtonAction + "</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Width(80).Filterable(false);
                                                    }
                                                })
                                                .Filterable()
                                                .Sortable(sortable => sortable.AllowUnsort(false))
                                                .Scrollable()
                                                .Excel(excel => excel.FileName("Holiday List.xlsx").Filterable(true).AllPages(true).ProxyURL(Url.Action("Excel_Export_Save", "GridExport", new { area = string.Empty })))
                                                .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
                                                .Events(events => events.DataBound("onDataBoundHoliday").ExcelExport("excelExport"))
                                                .DataSource(dataSource => dataSource.Ajax()
                                                .PageSize(ProjectConfiguration.PageSize)
                                                .Sort(model => model.Add("L1No").Ascending())
                                                .Model(model =>
                                                 {
                                                     model.Id(p => p.HolidayID);
                                                     model.Field(p => p.HolidayDesc);
                                                 })
                                                .ServerOperation(true)
                                                .Read(read => read.Action(Actions.GetHolidayList, Controllers.Configurations, new { area = Areas.Configurations }).Data("BindParametersHoliday").Type(HttpVerbs.Post))
                                                )
                                        )
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="workingDayModal" class="modal fade" role="dialog"></div>

<div id="holidayModal" class="modal fade" role="dialog"></div>

<script>
    var intPageID = '@SystemEnum.Pages.HolidaySetting.GetHashCode()';

    $(document).ready(function () {
    });

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val(); 
        return data;
    };

    function BindDropDownParameters() {
        return {
            cityID: $("#hdnHolidayL2Id").val()
        };
    }

    function BindParametersWorkingDay() {
        return {
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }


    function BindParametersHoliday() {
        return {
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function DataBoundHDDLL2(e) {
        $("#drpHProjectCode").data("kendoDropDownList").value($("#hdnHolidayL2Id").val());
    }

    function OpenWorkingDayEditWindow(id) {
        $("#workingDayModal").html('');
        var url = '@Url.Action(Actions._EditWorkingDayHours, Controllers.Configurations, new { Area = Areas.Configurations })' + "?workingdayId=" + id;
        $("#workingDayModal").load(url);
    }

    function OpenHolidayEditWindow(id) {
        $("#holidayModal").html('');
        var url = '@Url.Action(Actions._EditHoliday, Controllers.Configurations, new { Area = Areas.Configurations })' + "?holidayId=" + id;
        $("#holidayModal").load(url);
    }

    $("#workingDayGrid tbody").on("dblclick", "tr[role='row']", function (e) {
        var grid = $("#workingDayGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        $("#workingDayModal").modal("show");
        OpenWorkingDayEditWindow(model.WorkingDayID);
    });

    $("#holidayGrid tbody").on("dblclick", "tr[role='row']", function (e) {
        var grid = $("#holidayGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        $("#holidayModal").modal("show");
        OpenHolidayEditWindow(model.HolidayID);
    });

    function CalculateTargetDate() {

    }

    $('#holidayModal').on('hide.bs.modal', function (e) {
        $('#holidayModal').children().remove();
    });

    $('#workingDayModal').on('hide.bs.modal', function (e) {
        $('#workingDayModal').children().remove();
    });
</script>

@if (ProjectSession.PermissionAccess.SetupConfiguration_HolidaySetting_Deleterecords)
{
    <script type="text/javascript">

        function onDataBoundWorkingDay(arg) {
            confirmDeleteMsg(msgText, okText, cancelText, onConfirmCallbackWorkingDay, confirmDirection);
            gridProperPaging(this);
        }

        function onConfirmCallbackWorkingDay(sender) {
            var id = $(this).data("id");
            $.ajax({
                url: '@Url.Action(Actions.DeleteWorkingDay, Controllers.Configurations, new { area = Areas.Configurations })',
                type: "POST",
                data: addRequestVerificationToken({ workingDayID: id }),
                dataType: "json",
                success: function (result) {
                    ClearAllInputs("frmWorkingDay");
                    ShowMessage(result[0], result[1], "#divMessage");
                    ReBindKendoGrid("workingDayGrid");

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }

        function onDataBoundHoliday(arg) {
            confirmDeleteMsg(msgText, okText, cancelText, onConfirmCallbackH, confirmDirection);
            gridProperPaging(this);
        }

        function onConfirmCallbackH(sender) {
            var id = $(this).data("id");
            $.ajax({
                url: '@Url.Action(Actions.DeleteHoliday, Controllers.Configurations, new { area = Areas.Configurations })',
                type: "POST",
                data: addRequestVerificationToken({ holidayID: id }),
                dataType: "json",
                success: function (result) {
                    ClearAllInputs("frmHoliday");
                    ShowMessage(result[0], result[1], "#divMessage");
                    ReBindKendoGrid("holidayGrid");

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }



    </script>
}
else
{
    <script>

        function onDataBoundWorkingDay(arg) {
            gridProperPaging(this);
        }

        function onDataBoundHoliday(arg) {
            gridProperPaging(this);
        }

    </script>
}