﻿@using CMMS.Infrastructure;
@using CMMS.Pages;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.AntiForgeryToken()
<div class="head1">
    <h1>@ProjectSession.Resources.label.IRApproval_TextBlockIRApprovalLevels</h1>
    <ul class="sub_btn">
        @if (ProjectSession.PermissionAccess.SetupConfiguration_IRApprovalLevels_Createnewrecords)
        {
            <li>
                <a href="javascript:void(0);" class="btn-icon btn-add" data-toggle="modal" data-target="#irApprovalLevelModal" data-backdrop="static" onclick="OpenIRApprovalLevelEditWindow(0);" title="@ProjectSession.Resources.label.Common_ButtonAdd"><i></i></a>
            </li>
        }
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-search" data-toggle="modal" data-target="#search-order" onclick='OpenAdvancedSearch("@ProjectSession.Resources.label.IRApproval_TextBlockIRApprovalLevels","@SystemEnum.Pages.IRApprovalLevels.GetHashCode()")' title="@ProjectSession.Resources.label.Common_ButtonAdvanceSearch"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-clear" title="@ProjectSession.Resources.label.Common_ButtonClear" onclick="return ClearAdvencedSearch(@SystemEnum.Pages.IRApprovalLevels.GetHashCode());"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-refresh" onclick="ReBindKendoGrid('irApprovalLevelGrid');" title="@ProjectSession.Resources.label.Common_ButtonRefreshGrid"><i></i></a>
        </li>
        @if (ProjectSession.PermissionAccess.SetupConfiguration_IRApprovalLevels_Export)
        {
            <li>
                <a href="javascript:void(0);" class="btn-icon btn-xsl" onclick="ExportToExcel('irApprovalLevelGrid', 'IRApprovalLevelId');" title="@ProjectSession.Resources.label.Common_ButtonExportToExcel"><i></i></a>
            </li>
        }
    </ul> 
</div>

<!-- Kendo Grid -->
<div id="irApprovalLevelData" class="@ProjectSession.CultureKendoClass">
    @(Html.Kendo().Grid<CMMS.Model.IRApprovalLevel>()
        .HtmlAttributes(new { @class = "kl-grid" })
        .Name("irApprovalLevelGrid")
        .Columns(columns =>
        {
            columns.Bound(c => c.LevelName).Title(ProjectSession.Resources.label.IRApprovalLevel_TextBlockLevelName).Width(200);

            columns.Bound(c => c.AltLevelName).HtmlAttributes(new { @class = "text-right" }).Title(ProjectSession.Resources.label.IRApprovalLevel_TextBlockAltLevelName);

            columns.Bound(c => c.LevelNo).Title(ProjectSession.Resources.label.IRApprovalLevel_TextBlockLevelNo);

            columns.Bound(c => c.IsFinalLevel).ClientTemplate("<center><span class='checkbox-custom #= IsFinalLevel ? 'active' : '' #'></span></center>").Title(ProjectSession.Resources.label.IRApprovalLevel_TextBlockIsFinalLevel).Width(150)
            .Filterable(ftb => ftb.Multi(true).ItemTemplate("itemTemplateForIsFinalLevel").CheckAll(false).BindTo(new[]{
                        new { IsFinalLevel = true },
                        new { IsFinalLevel = false }
            }));

            if (ProjectSession.PermissionAccess.SetupConfiguration_IRApprovalLevels_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_IRApprovalLevels_Deleterecords)
            {
                columns.Bound(c => c.IRApprovalLevelId).ClientTemplate("<center>" + (ProjectSession.PermissionAccess.SetupConfiguration_IRApprovalLevels_Editrecords ? "<a class='action' title='" + ProjectSession.Resources.label.Common_ButtonEdit + "'  style='cursor:pointer' data-toggle='modal' data-target='\\#irApprovalLevelModal' onclick='OpenIRApprovalLevelEditWindow(#: IRApprovalLevelId#)'><i class='glyphicon glyphicon-pencil'></i></a>&nbsp;" : "") + "" + (ProjectSession.PermissionAccess.SetupConfiguration_IRApprovalLevels_Deleterecords ? "<a class='action delete-button'  href='javascript:void(0);'  class='delete-ic' data-id='#: IRApprovalLevelId #' style='cursor:pointer'><i class='glyphicon glyphicon-trash' title='" + ProjectSession.Resources.label.Common_ButtonDelete + "' ></i></a>" : "") + "</center>")
                                            .Title("<center>" + ProjectSession.Resources.label.Common_ButtonAction + "</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Width(80).Filterable(false);
            }
        })
        .Filterable()
        .Sortable(sortable => sortable.AllowUnsort(false))
        .Scrollable()
        .Excel(excel => excel.FileName("IR Approval.xlsx").Filterable(true).AllPages(true).ProxyURL(Url.Action("Excel_Export_Save", "GridExport", new { area = string.Empty })))
        .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
        .Events(events => events.DataBound("onDataBound").ExcelExport("excelExport"))
        .DataSource(dataSource =>
                                dataSource.Ajax()
                                .PageSize(ProjectConfiguration.PageSize)
                                .Sort(model => model.Add("LevelName").Ascending())
                                 .Model(model =>
                                 {
                                     model.Id(p => p.IRApprovalLevelId);
                                     model.Field(p => p.LevelName);
                                 })
                                .ServerOperation(true)
                                .Read(read => read.Action(Actions.GetIRApprovalLevels, Controllers.Configurations, new { area = Areas.Configurations }).Data("BindParameters").Type(HttpVerbs.Post))
        )
    )

</div>

<!-- search order -->
<div id="search-order" class="modal fade" role="dialog"></div>

<!-- IR Approval Level Modal -->
<div id="irApprovalLevelModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-mg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" title="@ProjectSession.Resources.label.Common_ButtonClose"></button>
                <h4 class="modal-title">@ProjectSession.Resources.label.IRApproval_TextBlockIRApprovalLevels</h4>
            </div>
            <form role="form" id="frmIRApprovalLevel">
                <input type="hidden" name="hdnIRApprovalLevelId" id="hdnIRApprovalLevelId" />
                <div class="modal-body">
                    <div id="Highlights" class="tab-pane active" role="tabpanel">
                        <div class="form-horizontal">
                            <div id="divModelError"></div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.IRApprovalLevel_TextBlockLevelName<span class="cfont">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="LevelName" id="txtLevelName" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.IRApprovalLevel_TextBlockLevelName" maxlength="100">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.IRApprovalLevel_TextBlockAltLevelName</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="AltLevelName" id="txtAltLevelName" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.IRApprovalLevel_TextBlockAltLevelName" maxlength="100">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.IRApprovalLevel_TextBlockLevelNo<span class="cfont">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control allowIntegerOnly" name="LevelNo" id="txtLevelNo" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.IRApprovalLevel_TextBlockLevelNo">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.IRApprovalLevel_TextBlockIsFinalLevel</label>
                                <div class="col-sm-8 checkbox">
                                    <label>
                                        <input type="checkbox" name="chkIsFinal" id="chkIsFinal">
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer box-footer">
                    @if (ProjectSession.PermissionAccess.SetupConfiguration_IRApprovalLevels_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_IRApprovalLevels_Createnewrecords)
                    {
                        <button type="submit" class="btn btn-primary" id="btnSave"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
                    }
                    <button type="button" class="btn btn-default" data-dismiss="modal">@ProjectSession.Resources.label.Common_ButtonClose</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    var kendoGridId = 'irApprovalLevelGrid';
    var intPageID = '@SystemEnum.Pages.IRApprovalLevels.GetHashCode()';

    

    $(document).ready(function () {
        validator = $('#frmIRApprovalLevel').validate({
            rules: {
                LevelName: { required: true },
                LevelNo: { required: true },
            },
            messages: {
                LevelName: { required: '' },
                LevelNo: { required: '' }
            }
        });
    });

    function BindParameters() {
        return {
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };

    function OpenIRApprovalLevelEditWindow(id) {
        if (id > 0) {
            $.ajax({
                url: '@Url.Action(Actions.GetIRApprovalLevelsByID, Controllers.Configurations, new { area = Areas.Configurations })',
                type: "POST",
                data: addRequestVerificationToken({ approvalLevelId: id }),
                success: function (result) {
                    $("#hdnIRApprovalLevelId").val(result.IRApprovalLevelId);
                    $("#txtLevelName").val(result.LevelName);
                    $("#txtAltLevelName").val(result.AltLevelName);
                    $("#txtLevelNo").val(result.LevelNo);
                    $("#chkIsFinal").prop("checked", result.IsFinalLevel);

                    @if (!ProjectSession.PermissionAccess.SetupConfiguration_IRApprovalLevels_ChangeMastersCodes)
                    {
                        <text>$("#txtLevelNo").attr("disabled", "disabled");</text>
                    }

                    @if (ProjectSession.PermissionAccess.SetupConfiguration_IRApprovalLevels_Editrecords)
                    {
                        <text>$("#btnSave").show(); </text>
                    }
                    else if (ProjectSession.PermissionAccess.SetupConfiguration_IRApprovalLevels_Createnewrecords)
                    {
                        <text>$("#btnSave").hide(); </text>
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }
        else {
            ClearAllInputs("frmIRApprovalLevel");
            $("#txtLevelNo").removeAttr("disabled");
            @if (ProjectSession.PermissionAccess.SetupConfiguration_IRApprovalLevels_Createnewrecords)
            {
                <text>$("#btnSave").show(); </text>
            }
            else if (ProjectSession.PermissionAccess.SetupConfiguration_IRApprovalLevels_Editrecords)
            {
                <text>$("#btnSave").hide(); </text>
            }
        }
    }

    $("#irApprovalLevelGrid tbody").on("dblclick", "tr[role='row']", function (e) {
        var grid = $("#irApprovalLevelGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        $("#irApprovalLevelModal").modal("show");
        OpenIRApprovalLevelEditWindow(model.IRApprovalLevelId);
    });

</script>

@if (ProjectSession.PermissionAccess.SetupConfiguration_IRApprovalLevels_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_IRApprovalLevels_Createnewrecords)
{
    <script type="text/javascript">

        $('#frmIRApprovalLevel').on('submit', function (e) {
            if ($("#frmIRApprovalLevel").valid()) {
                if (e.isDefaultPrevented()) {
                    // handle the invalid form...
                } else {

                    var approvalLevelId = $("#hdnIRApprovalLevelId").val();
                    var changedObj = {
                        IRApprovalLevelId: approvalLevelId == '' ? 0 : approvalLevelId,
                        LevelName: $("#txtLevelName").val(),
                        AltLevelName: $("#txtAltLevelName").val(),
                        LevelNo: $("#txtLevelNo").val(),
                        IsFinalLevel: $("#chkIsFinal").is(':checked')
                    };

                    $.ajax({
                        url: '@Url.Action(Actions.ManageIRApprovalLevels, Controllers.Configurations, new { area = Areas.Configurations })',
                        type: "POST",
                        data: addRequestVerificationToken(changedObj),
                        dataType: "json",
                        success: function (result) {
                            if (result[0] == 0) {
                                ShowMessage(result[1], result[2], "#divModelError");
                            }
                            else {
                                $('#irApprovalLevelModal').modal("hide");
                                ShowMessage(result[0], result[1], "#divMessage");
                                ReBindKendoGrid("irApprovalLevelGrid");
                            }
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            showErrorMessage();
                        }
                    });
                    e.preventDefault();
                }
            }
            else {
                e.preventDefault();
            }
        })

    </script>
}
@if (ProjectSession.PermissionAccess.SetupConfiguration_IRApprovalLevels_Deleterecords)
{
    <script type="text/javascript">

        function onDataBound(arg) {
            confirmDeleteMsg(msgText, okText, cancelText, onConfirmCallback, confirmDirection);
            gridProperPaging(this);
        }

        function onConfirmCallback(sender) {
            var id = $(this).data("id");
            $.ajax({
                url: '@Url.Action(Actions.DeleteIRApprovalLevels, Controllers.Configurations, new { area = Areas.Configurations })',
                type: "POST",
                data: addRequestVerificationToken({ approvalLevelId: id }),
                dataType: "json",
                success: function (result) {
                    ClearAllInputs("frmIRApprovalLevel");
                    ShowMessage(result[0], result[1], "#divMessage");
                    ReBindKendoGrid("irApprovalLevelGrid");

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }

    </script>
}
else
{
    <script>
        function onDataBound(arg) {
            gridProperPaging(this);
        }
    </script>
}

