﻿@using CMMS.Infrastructure;
@using CMMS.Pages;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.AntiForgeryToken()
<div class="head1">
    <h1>@ProjectSession.Resources.label.ItemRequisition_TextBlockIRReqStatus</h1>
    <ul class="sub_btn">
        @if (ProjectSession.PermissionAccess.SetupConfiguration_IRAuthoriseStatus_Createnewrecords)
        {
            <li>
                <a href="javascript:void(0);" class="btn-icon btn-add" data-toggle="modal" data-target="#irStausModal" data-backdrop="static" onclick="OpenIRStatusEditWindow(0);" title="@ProjectSession.Resources.label.Common_ButtonAdd"><i></i></a>
            </li>
        }
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-search" data-toggle="modal" data-target="#search-order" onclick='OpenAdvancedSearch("@ProjectSession.Resources.label.ItemRequisition_TextBlockIRReqStatus","@SystemEnum.Pages.IRStatus.GetHashCode()")' title="@ProjectSession.Resources.label.Common_ButtonAdvanceSearch"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-clear" title="@ProjectSession.Resources.label.Common_ButtonClear" onclick="return ClearAdvencedSearch(@SystemEnum.Pages.IRStatus.GetHashCode());"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-refresh" onclick="ReBindKendoGrid('irStausGrid');" title="@ProjectSession.Resources.label.Common_ButtonRefreshGrid"><i></i></a>
        </li>
        @if (ProjectSession.PermissionAccess.SetupConfiguration_IRAuthoriseStatus_Export)
        {
            <li>
                <a href="javascript:void(0);" class="btn-icon btn-xsl" onclick="ExportToExcel('irStausGrid', 'Auth_status_id');" title="@ProjectSession.Resources.label.Common_ButtonExportToExcel"><i></i></a>
            </li>
        }
    </ul>
</div>

<!-- Kendo Grid -->
<div id="irStausData" class="@ProjectSession.CultureKendoClass">
    @(Html.Kendo().Grid<CMMS.Model.Mr_authorisation_statu>()
        .HtmlAttributes(new { @class = "kl-grid" })
        .Name("irStausGrid")
        .Columns(columns =>
        {
            columns.Bound(c => c.Auth_status_desc).Title(ProjectSession.Resources.label.IRAuthoriseStatus_TextBlockIRStatusDesc).Width(300);

            columns.Bound(c => c.Altauth_status_desc).HtmlAttributes(new { @class = "text-right" }).Title(ProjectSession.Resources.label.IRAuthoriseStatus_TextBlockAltIRStatusDesc);

            if (ProjectSession.PermissionAccess.SetupConfiguration_IRAuthoriseStatus_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_IRAuthoriseStatus_Deleterecords)
            {
                columns.Bound(c => c.Auth_status_id).ClientTemplate("<center>" + (ProjectSession.PermissionAccess.SetupConfiguration_IRAuthoriseStatus_Editrecords ? "<a class='action' title='" + ProjectSession.Resources.label.Common_ButtonEdit + "'  style='cursor:pointer' data-toggle='modal' data-target='\\#irStausModal' onclick='OpenIRStatusEditWindow(#: Auth_status_id#)'><i class='glyphicon glyphicon-pencil'></i></a>&nbsp;" : "") + "" + (ProjectSession.PermissionAccess.SetupConfiguration_IRAuthoriseStatus_Deleterecords ? "<a class='action delete-button'  href='javascript:void(0);'  class='delete-ic' data-id='#: Auth_status_id #' style='cursor:pointer'><i class='glyphicon glyphicon-trash' title='" + ProjectSession.Resources.label.Common_ButtonDelete + "' ></i></a>" : "") + "</center>")
                                            .Title("<center>" + ProjectSession.Resources.label.Common_ButtonAction + "</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Width(80).Filterable(false);
            }
        })
        .Filterable()
        .Sortable(sortable => sortable.AllowUnsort(false))
        .Scrollable()
        .Excel(excel => excel.FileName("Status.xlsx").Filterable(true).AllPages(true).ProxyURL(Url.Action("Excel_Export_Save", "GridExport", new { area = string.Empty })))
        .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
        .Events(events => events.DataBound("onDataBound").ExcelExport("excelExport"))
        .DataSource(dataSource =>
                                dataSource.Ajax()
                                .PageSize(ProjectConfiguration.PageSize)
                                .Sort(model => model.Add("Auth_status_desc").Ascending())
                                 .Model(model =>
                                 {
                                     model.Id(p => p.Auth_status_id);
                                     model.Field(p => p.Auth_status_desc);
                                 })
                                .ServerOperation(true)
                                .Read(read => read.Action(Actions.GetIRStatus, Controllers.Configurations, new { area = Areas.Configurations }).Data("BindParameters").Type(HttpVerbs.Post))
        )
    )

</div>

<!-- search order -->
<div id="search-order" class="modal fade" role="dialog"></div>

<!-- IR Status Modal -->
<div id="irStausModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-mg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" title="@ProjectSession.Resources.label.Common_ButtonClose"></button>
                <h4 class="modal-title">@ProjectSession.Resources.label.ItemRequisition_TextBlockIRReqStatus</h4>
            </div>
            <form role="form" id="frmIRStaus">
                <input type="hidden" name="hdnIRStatusID" id="hdnIRStatusID" />
                <div class="modal-body">
                    <div id="Highlights" class="tab-pane active" role="tabpanel">
                        <div class="form-horizontal">
                            <div id="divModelError"></div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.IRAuthoriseStatus_TextBlockIRStatusDesc<span class="cfont">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="Auth_status_desc" id="txtName" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.IRAuthoriseStatus_TextBlockIRStatusDesc" maxlength="100">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.IRAuthoriseStatus_TextBlockAltIRStatusDesc</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="Altauth_status_desc" id="txtAltName" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.IRAuthoriseStatus_TextBlockAltIRStatusDesc" maxlength="100">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer box-footer">
                    @if (ProjectSession.PermissionAccess.SetupConfiguration_IRAuthoriseStatus_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_IRAuthoriseStatus_Createnewrecords)
                    {
                        <button type="submit" class="btn btn-primary" id="btnSave"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
                    }
                    <button type="button" class="btn btn-default" data-dismiss="modal">@ProjectSession.Resources.label.Common_ButtonClose</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    var kendoGridId = 'irStausGrid';
    var intPageID = '@SystemEnum.Pages.IRStatus.GetHashCode()';

    $(document).ready(function () {
        validator = $('#frmIRStaus').validate({
            rules: {
                Auth_status_desc: { required: true },
            },
            messages: {
                Auth_status_desc: { required: '' },
            }
        });
    });

    function BindParameters() {
        return {
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };

    function onDataBound(arg) {
        gridProperPaging(this);
    }

    function OpenIRStatusEditWindow(id) {
        if (id > 0) {
            $.ajax({
                url: '@Url.Action(Actions.GetIRStatusByID, Controllers.Configurations, new { area = Areas.Configurations })',
                type: "POST",
                data: addRequestVerificationToken({ itemRequisitionStatusId: id }),
                success: function (result) {
                    $("#hdnIRStatusID").val(result.Auth_status_id);
                    $("#txtName").val(result.Auth_status_desc);
                    $("#txtAltName").val(result.Altauth_status_desc);

                     @if (ProjectSession.PermissionAccess.SetupConfiguration_IRAuthoriseStatus_Editrecords)
                    {
                        <text>$("#btnSave").show(); </text>
                    }
                    else if (ProjectSession.PermissionAccess.SetupConfiguration_IRAuthoriseStatus_Createnewrecords)
                    {
                        <text>$("#btnSave").hide(); </text>
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }
        else {
            ClearAllInputs("frmIRStaus");
            @if (ProjectSession.PermissionAccess.SetupConfiguration_IRAuthoriseStatus_Createnewrecords)
            {
                <text>$("#btnSave").show(); </text>
            }
            else if (ProjectSession.PermissionAccess.SetupConfiguration_IRAuthoriseStatus_Editrecords)
            {
                <text>$("#btnSave").hide(); </text>
            }
        }
    }
</script>

@if (ProjectSession.PermissionAccess.SetupConfiguration_IRAuthoriseStatus_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_IRAuthoriseStatus_Createnewrecords)
{
    <script type="text/javascript">

        $('#frmIRStaus').on('submit', function (e) {
            if ($("#frmIRStaus").valid()) {
                if (e.isDefaultPrevented()) {
                    // handle the invalid form...
                } else {

                    var iRStausId = $("#hdnIRStatusID").val();
                    var changedObj = {
                        Auth_status_id: iRStausId == '' ? 0 : iRStausId,
                        Auth_status_desc: $("#txtName").val(),
                        Altauth_status_desc: $("#txtAltName").val(),
                    };

                    $.ajax({
                        url: '@Url.Action(Actions.ManageIRStatus, Controllers.Configurations, new { area = Areas.Configurations })',
                        type: "POST",
                        data: addRequestVerificationToken(changedObj),
                        dataType: "json",
                        success: function (result) {
                            if (result[0] == 0) {
                                ShowMessage(result[1], result[2], "#divModelError");
                            }
                            else {
                                $('#irStausModal').modal("hide");
                                ShowMessage(result[0], result[1], "#divMessage");
                                ReBindKendoGrid("irStausGrid");
                            }
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            showErrorMessage();
                        }
                    });
                    e.preventDefault();
                }
            }
            else {
                e.preventDefault();
            }
        })

    </script>
}
@if (ProjectSession.PermissionAccess.SetupConfiguration_IRAuthoriseStatus_Deleterecords)
{
    <script type="text/javascript">
        function onDataBound(arg) {
            confirmDeleteMsg(msgText, okText, cancelText, onConfirmCallback, confirmDirection);
            gridProperPaging(this);
        }

        function onConfirmCallback(sender) {
            var id = $(this).data("id");
            $.ajax({
                url: '@Url.Action(Actions.DeleteIRStatus, Controllers.Configurations, new { area = Areas.Configurations })',
                type: "POST",
                data: addRequestVerificationToken({ itemRequisitionStatusId: id }),
                dataType: "json",
                success: function (result) {
                    ClearAllInputs("frmIRStaus");
                    ShowMessage(result[0], result[1], "#divMessage");
                    ReBindKendoGrid("irStausGrid");

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }

        $("#irStausGrid tbody").on("dblclick", "tr[role='row']", function (e) {
            var grid = $("#irStausGrid").data("kendoGrid");
            var model = grid.dataItem(this);
            $("#irStausModal").modal("show");
            OpenIRStatusEditWindow(model.Auth_status_id);
        });

    </script>
}
else
{
    <script>
        function onDataBound(arg) {
            gridProperPaging(this);
        }
    </script>
}

