﻿@using CMMS.Infrastructure;
@using CMMS.Pages;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.AntiForgeryToken()
<div class="head1">
    <h1>@ProjectSession.Resources.label.IRWorkFlow_TextBlockItemRequestWorkFlow</h1>
    <ul class="sub_btn">
        @if (ProjectSession.PermissionAccess.SetupConfiguration_IRApprovalLevelMappings_Createnewrecords)
        {
            <li>
                <a href="javascript:void(0);" class="btn-icon btn-add" data-toggle="modal" data-target="#divIRWorkFlow" data-backdrop="static" onclick="OpenIRWorkFlowEditWindow(0);" title="@ProjectSession.Resources.label.Common_ButtonAdd"><i></i></a>
            </li>
        }
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-search" data-toggle="modal" data-target="#search-order" onclick='OpenAdvancedSearch("@ProjectSession.Resources.label.IRWorkFlow_TextBlockItemRequestWorkFlow","@SystemEnum.Pages.IRWorkFlow.GetHashCode()")' title="@ProjectSession.Resources.label.Common_ButtonAdvanceSearch"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-clear" title="@ProjectSession.Resources.label.Common_ButtonClear" onclick="return ClearAdvencedSearch(@SystemEnum.Pages.IRWorkFlow.GetHashCode());"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-refresh" onclick="ReBindKendoGrid('irWorkFlowGrid');" title="@ProjectSession.Resources.label.Common_ButtonRefreshGrid"><i></i></a>
        </li>
        @if (ProjectSession.PermissionAccess.SetupConfiguration_IRApprovalLevelMappings_Export)
        {
            <li>
                <a href="javascript:void(0);" class="btn-icon btn-xsl" onclick="ExportToExcel('irWorkFlowGrid', 'AutoId');" title="@ProjectSession.Resources.label.Common_ButtonExportToExcel"><i></i></a>
            </li>
        }
    </ul>
</div>

<!-- Kendo Grid -->
<div id="irWorkFlowData" class="@ProjectSession.CultureKendoClass">
    @(Html.Kendo().Grid<CMMS.Model.IRApprovalLevelMapping>()
        .Name("irWorkFlowGrid")
        .HtmlAttributes(new { @class = "kl-grid" })
        .Columns(columns =>
        {
            columns.Bound(c => c.L2Code).Title(ProjectSession.Resources.label.JobRequest_TextBlockCityCode).Width(150)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterSite", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

            columns.Bound(c => c.SubStoreCode).Title(ProjectSession.Resources.label.Store_TextBlockStoreCode)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterSubStore", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

            columns.Bound(c => c.LevelName).Title(ProjectSession.Resources.label.IRApprovalLevel_TextBlockLevelName)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterIRApprovalLevelName", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

            columns.Bound(c => c.LevelNo).Title(ProjectSession.Resources.label.IRApprovalLevel_TextBlockLevelNo)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterIRApprovalLevelNo", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

            columns.Bound(c => c.auth_status_desc).Title(ProjectSession.Resources.label.IRWorkFlow_TextBlockRequestStatus)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterIRStatus", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

            columns.Bound(c => c.Mandatory).ClientTemplate("#= Mandatory == '1' ? txtYes : txtNo #").Title(ProjectSession.Resources.label.IRWorkFlow_TextBlockMandatory)
            .Filterable(ftb => ftb.Multi(true).ItemTemplate("itemTemplateForMandatory").CheckAll(false).BindTo(new[]{
                        new { Mandatory = true },
                        new { Mandatory = false }
            }));

            columns.Bound(c => c.IsPrintingEnable).ClientTemplate("#= IsPrintingEnable == '1' ? txtYes : txtNo #").Title(ProjectSession.Resources.label.IRWorkFlow_TextBlockPrintingEnable)
            .Filterable(ftb => ftb.Multi(true).ItemTemplate("itemTemplateForPrinting").CheckAll(false).BindTo(new[]{
                        new { IsPrintingEnable = true },
                        new { IsPrintingEnable = false }
            }));

            if (ProjectSession.PermissionAccess.SetupConfiguration_IRApprovalLevelMappings_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_IRApprovalLevelMappings_Deleterecords)
            {
                columns.Bound(c => c.AutoId).ClientTemplate("<center>" + (ProjectSession.PermissionAccess.SetupConfiguration_IRApprovalLevelMappings_Editrecords ? "<a class='action' title='" + ProjectSession.Resources.label.Common_ButtonEdit + "'  style='cursor:pointer' data-toggle='modal' data-target='\\#divIRWorkFlow' onclick='OpenIRWorkFlowEditWindow(#: AutoId#)'><i class='glyphicon glyphicon-pencil'></i></a>&nbsp;" : "") + "" + (ProjectSession.PermissionAccess.SetupConfiguration_IRApprovalLevelMappings_Deleterecords ? "<a class='action delete-button'  href='javascript:void(0);'  class='delete-ic' data-id='#: AutoId #' l2id='#: L2ID #' SubStoreId='#: SubStoreId#' approvalid='#: IRApprovalLevelId #' style='cursor:pointer'><i class='glyphicon glyphicon-trash' title='" + ProjectSession.Resources.label.Common_ButtonDelete + "' ></i></a>" : "") + "</center>")
                                            .Title("<center>" + ProjectSession.Resources.label.Common_ButtonAction + "</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Width(80).Filterable(false);
            }
        })
        .Filterable()
        .Sortable(sortable => sortable.AllowUnsort(false))
        .Scrollable()
        .Excel(excel => excel.FileName("IR WorkFlow.xlsx").Filterable(true).AllPages(true).ProxyURL(Url.Action("Excel_Export_Save", "GridExport", new { area = string.Empty })))
        .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
        .Events(events => events.DataBound("onDataBound").ExcelExport("excelExport"))
        .DataSource(dataSource =>
                                dataSource.Ajax()
                                .PageSize(ProjectConfiguration.PageSize)
                                .Sort(model => model.Add("L2Code").Ascending())
                                 .Model(model =>
                                 {
                                     model.Id(p => p.AutoId);
                                     model.Field(p => p.auth_status_desc);
                                 })
                                .ServerOperation(true)
                                .Read(read => read.Action(Actions.GetIRWorkFlow, Controllers.Configurations, new { area = Areas.Configurations }).Data("BindParameters").Type(HttpVerbs.Post))
        )
    )

</div>

<!-- search order -->
<div id="search-order" class="modal fade" role="dialog"></div>

<!-- IR WorkFlow Modal -->
<div class="modal fade" id="divIRWorkFlow" role="dialog" data-backdrop="static" data-keyboard="false"></div>

<!-- Emoployee Grid Modal-->
<div id="employeeGridModal" class="modal fade" role="dialog" style="z-index:100000 !important" >
    <div class="modal-dialog modal-lg" data-backdrop="static" data-keyboard="false">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" title="@ProjectSession.Resources.label.Common_ButtonClose"></button>
                <h4 class="modal-title">@ProjectSession.Resources.label.Employee_RadTabItemEmployee</h4>
            </div>
            <div class="modal-body">
                <div id="Highlights" class="tab-pane active" role="tabpanel">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div id="employeeData" class="@ProjectSession.CultureKendoClass">
                                    @(Html.Kendo().Grid<CMMS.Model.employees>()
                                            .HtmlAttributes(new { @class = "kl-grid" })
                                            .Name("employeeGrid")
                                            .Columns(columns =>
                                            {
                                                columns.Bound(c => c.EmployeeNO).Title(ProjectSession.Resources.label.Employee_TextBlockEmployeeNO).Width(150);

                                                columns.Bound(c => c.L2Code).Title(ProjectSession.Resources.label.JobRequest_TextBlockCityCode).Width(150)
                                                .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterSite", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

                                                columns.Bound(c => c.Name).Title(ProjectSession.Resources.label.Employee_TextBlockEmployeeName).Width(200);

                                                columns.Bound(c => c.MaintDivisionCode).Title(ProjectSession.Resources.label.MaintDivision_TextBlockMaintDivCode).Width(150)
                                                .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterMaintenanceDivision", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

                                                columns.Bound(c => c.MaintDeptCode).Title(ProjectSession.Resources.label.MaintenanceDept_TextBlockMaintDeptCode).Width(150)
                                               .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterMaintenanceDepartment", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

                                                columns.Bound(c => c.MaintSubDeptCode).Title(ProjectSession.Resources.label.MaintenanceSubDept_TextBlockMaintSubDeptCode).Width(180)
                                                .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterMaintenanceSubDepartment", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

                                                columns.Bound(c => c.Positions).Title(ProjectSession.Resources.label.Employee_TextBlockDesignation).Width(150);

                                                columns.Bound(c => c.CategoryName).Title(ProjectSession.Resources.label.Employee_TextBlockEmployeeCategory).Width(200)
                                                .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterEmpCategory", "GridFilter", new { area = string.Empty, @id = "1" }).Data("BindParameters").Type(HttpVerbs.Post))));

                                                columns.Bound(c => c.EmployeeStatus).Title(ProjectSession.Resources.label.Employee_TextBlockEmployeeStatus).Width(150)
                                                .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterEmpStatus", "GridFilter", new { area = string.Empty, @id = "1" }).Data("BindParameters").Type(HttpVerbs.Post))));

                                            })
                                            .Filterable()
                                            .Sortable(sortable => sortable.AllowUnsort(false))
                                            .Scrollable()
                                            .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
                                            .Events(events => events.DataBound("onDataBoundEmployee"))
                                            .DataSource(dataSource => dataSource.Ajax()
                                            .PageSize(ProjectConfiguration.PageSize)
                                             .Model(model =>
                                             {
                                                 model.Id(p => p.EmployeeID);
                                                 model.Field(p => p.Name);
                                             })
                                            .ServerOperation(true)
                                            .Read(read => read.Action(Actions.GetEmployeeAssignPage, Controllers.Management, new { area = Areas.Management }).Data("BindParametersEmp").Type(HttpVerbs.Post))
                                            )
                                    )

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var kendoGridId = 'irWorkFlowGrid';
    var intPageID = '@SystemEnum.Pages.IRWorkFlow.GetHashCode()';

    function BindParameters() {
        return {
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function BindParametersEmp() {
        return {
            cityID: 0,
            type: 0,
            strWhere: "",
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function BindParametersEmployees() {
        return {
            cityID: $("#hdnL2ID").val(),
            autoID: $("#hdnAutoID").val(),
            pageId: intPageID,
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };

    function OpenIRWorkFlowEditWindow(id) {
        $("#divIRWorkFlow").html('');
        var url = '@Url.Action(Actions._EditIRWorkFlow, Controllers.Configurations, new { Area = Areas.Configurations })' + "?workFlowId=" + id;
        $("#divIRWorkFlow").load(url);
    }

    function onDataBoundEmployee(arg) {
        gridProperPaging(this);
    }

    function BindParameterFromEmployee() {
        return {
            autoID: $("#hdnAutoId").val(),
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function onDataBoundemployeeFromGrid(arg) {
        gridProperPaging(this);
    }

    function onDataBoundemployeeFromGrid(arg) {
        confirmDeleteInnerMsg(msgText, okText, cancelText, onConfirmEmployeeCallback, confirmDirection);
        gridProperPaging(this);
    }

    function onConfirmEmployeeCallback(sender) {
        var id = $(this).data("id");
        var Fromgrid = $("#employeeFromGrid").data("kendoGrid");
        var data = $("#employeeFromGrid table td").find("a[data-id='" + id + "']").closest("tr");
        var dataItem = Fromgrid.dataItem(data);
        Fromgrid.dataSource.remove(dataItem);
        $(".popover").hide();
    }

    @*function onConfirmEmployeeCallback(sender) {
        var id = $(this).data("id");
        var autoId = $("#hdnAutoId").val();
        if (id > 0 && autoId > 0) {
            $.ajax({
                url: '@Url.Action(Actions.DeleteEmployeeIRWorkFlow, Controllers.Configurations, new { area = Areas.Configurations })',
                type: "POST",
                data: addRequestVerificationToken({ autoId: autoId, employeeId: id }),
                dataType: "json",
                success: function (result) {
                    ReBindKendoGrid("employeeFromGrid");
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }
    }*@

    $("#irWorkFlowGrid tbody").on("dblclick", "tr[role='row']", function (e) {
        var grid = $("#irWorkFlowGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        $("#divIRWorkFlow").modal("show");
        OpenIRWorkFlowEditWindow(model.AutoId);
    });
</script>

@if (ProjectSession.PermissionAccess.SetupConfiguration_IRApprovalLevelMappings_Deleterecords)
{
    <script type="text/javascript">

        function onDataBound(arg) {
            confirmDeleteMsg(msgText, okText, cancelText, onConfirmCallback, confirmDirection);
            gridProperPaging(this);
        }

        function onConfirmCallback(sender) {
            var id = $(this).data("id");
            var intSubStoreId = $("#irWorkFlowGrid table td").find("a[data-id='" + id + "']").closest("tr").find('.delete-button').attr('SubStoreId')
            var IRApprovalLevelId = $("#irWorkFlowGrid table td").find("a[data-id='" + id + "']").closest("tr").find('.delete-button').attr('approvalid')

            $.ajax({
                url: '@Url.Action(Actions.DeleteIRWorkFlow, Controllers.Configurations, new { area = Areas.Configurations })',
                type: "POST",
                data: addRequestVerificationToken({ workFlowId: id, intSubStoreId: intSubStoreId, approvalLevelId: IRApprovalLevelId }),
                dataType: "json",
                success: function (result) {
                    ClearAllInputs("frmIRWorkFlow");
                    ShowMessage(result[0], result[1], "#divMessage");
                    ReBindKendoGrid("irWorkFlowGrid");

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }


    </script>
}
else
{
    <script>
        function onDataBound(arg) {
            gridProperPaging(this);
        }
    </script>
}