﻿@using CMMS.Infrastructure;
@using CMMS.Pages;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.AntiForgeryToken()
<div class="head1">
    <h1>@ProjectSession.Resources.label.Location_TextBlockItemLocations</h1>
    <ul class="sub_btn">
        @if (ProjectSession.PermissionAccess.Stores_ItemLocation_Createnewrecords)
        {
            <li>
                <a href="javascript:void(0);" class="btn-icon btn-add" data-toggle="modal" data-target="#itemSectionModal" data-backdrop="static" onclick="OpenItemSectionEditWindow(0);" title="@ProjectSession.Resources.label.Common_ButtonAdd"><i></i></a>
            </li>
        }
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-search" data-toggle="modal" data-target="#search-order" onclick='OpenAdvancedSearch("@ProjectSession.Resources.label.Location_TextBlockItemLocations","@SystemEnum.Pages.ItemSection.GetHashCode()")' title="@ProjectSession.Resources.label.Common_ButtonAdvanceSearch"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-clear" title="@ProjectSession.Resources.label.Common_ButtonClear" onclick="return ClearAdvencedSearch(@SystemEnum.Pages.ItemSection.GetHashCode());"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-refresh" onclick="ReBindKendoGrid('itemSectionGrid');" title="@ProjectSession.Resources.label.Common_ButtonRefreshGrid"><i></i></a>
        </li>
        @if (ProjectSession.PermissionAccess.Stores_ItemLocation_Export)
        {
            <li>
                <a href="javascript:void(0);" class="btn-icon btn-xsl" onclick="ExportToExcel('itemSectionGrid', 'ID');" title="@ProjectSession.Resources.label.Common_ButtonExportToExcel"><i></i></a>
            </li>
        }
    </ul>
</div>

<!-- Kendo Grid -->
<div id="itemSectionData" class="@ProjectSession.CultureKendoClass">
    @(Html.Kendo().Grid<CMMS.Model.PartLocations>()
        .Name("itemSectionGrid")
        .HtmlAttributes(new { @class = "kl-grid" })
        .Columns(columns =>
        {
            columns.Bound(c => c.L2Code).Title(ProjectSession.Resources.label.JobRequest_TextBlockCityCode).Width(200)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterSite", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));                

            columns.Bound(c => c.SubStoreCode).Title(ProjectSession.Resources.label.Store_TextBlockStoreCode)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterSubStore", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));                

            columns.Bound(c => c.PartLocation).Title(ProjectSession.Resources.label.Location_TextBlockItemLocations);

            if (ProjectSession.PermissionAccess.Stores_ItemLocation_Editrecords || ProjectSession.PermissionAccess.Stores_ItemLocation_Deleterecords)
            {
                columns.Bound(c => c.ID).ClientTemplate("<center>" + (ProjectSession.PermissionAccess.Stores_ItemLocation_Editrecords ? "<a class='action' title='" + ProjectSession.Resources.label.Common_ButtonEdit + "'  style='cursor:pointer' data-toggle='modal' data-target='\\#itemSectionModal' onclick='OpenItemSectionEditWindow(#: ID#)'><i class='glyphicon glyphicon-pencil'></i></a>&nbsp;" : "") + "" + (ProjectSession.PermissionAccess.Stores_ItemLocation_Deleterecords ? "<a class='action delete-button'  href='javascript:void(0);'  class='delete-ic' data-id='#: ID #' style='cursor:pointer'><i class='glyphicon glyphicon-trash' title='" + ProjectSession.Resources.label.Common_ButtonDelete + "' ></i></a>" : "") + "</center>")
                                            .Title("<center>" + ProjectSession.Resources.label.Common_ButtonAction + "</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Width(80).Filterable(false);
            }
        })
        .Filterable()        
        .Sortable(sortable => sortable.AllowUnsort(false))
        .Scrollable()
        .Excel(excel => excel.FileName("Item Section.xlsx").Filterable(true).AllPages(true).ProxyURL(Url.Action("Excel_Export_Save", "GridExport", new { area = string.Empty })))
        .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
        .Events(events => events.DataBound("onDataBound").ExcelExport("excelExport"))
        .DataSource(dataSource =>
                                dataSource.Ajax()
                                .PageSize(ProjectConfiguration.PageSize)
                                .Sort(model => model.Add("L2Code").Ascending())
                                 .Model(model =>
                                 {
                                     model.Id(p => p.ID);
                                     model.Field(p => p.PartLocation);
                                 })
                                .ServerOperation(true)
                                .Read(read => read.Action(Actions.GetItemSection, Controllers.Configurations, new { area = Areas.Configurations }).Data("BindParameters").Type(HttpVerbs.Post))
        )
    )

</div>

<!-- search order -->
<div id="search-order" class="modal fade" role="dialog"></div>

<!-- Item Section Modal -->
<div id="itemSectionModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" title="@ProjectSession.Resources.label.Common_ButtonClose"></button>
                <h4 class="modal-title">@ProjectSession.Resources.label.Location_TextBlockItemLocations</h4>
            </div>
            <form role="form" id="frmItemSection">
                <input type="hidden" name="hdnAttrID" id="hdnID" />
                <input type="hidden" name="hdnL2Id" id="hdnL2Id" />
                <input type="hidden" name="hdnStoreID" id="hdnStoreID" />
                <div class="modal-body">
                    <div id="Highlights" class="tab-pane active" role="tabpanel">
                        <div class="form-horizontal">
                            <div id="divModelError"></div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.JobRequest_TextBlockCityCode<span class="cfont">*</span></label>
                                <div class="col-sm-8">
                                    <div class="@ProjectSession.CultureKendoClass">
                                        @(Html.Kendo().DropDownList()
                                                         .Name("drpSite")
                                                         .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                                         .DataTextField("L2Code")
                                                         .DataValueField("L2ID")
                                                         .HtmlAttributes(new { style = "width: 100%", @required = "required" })
                                                         .Template("#= KendoDDLTemplate(data.L2Code ,data.L2name, data.L2Altname) #")
                                                         .Events(m => m.Change("ChangeL2"))
                                                         .Events(m => m.DataBound("DataBoundDDLL2"))
                                                         .DataSource(source =>
                                                         {
                                                             if (ProjectSession.IsCentral)
                                                             {
                                                                 source.Read(read =>
                                                                 {
                                                                     read.Action(Actions.GetAllCities, Controllers.Configurations, new { area = Areas.Configurations }).Data("BindDropDownParameters"); 
                                                                 });
                                                             }
                                                             else
                                                             {
                                                                 source.Read(read =>
                                                                 {
                                                                     read.Action(Actions.GetCitiesByEmployee, Controllers.Configurations, new { area = Areas.Configurations }).Data("BindDropDownParameters");
                                                                 });
                                                             }
                                                         }).Value("")
                                        )
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.Store_TextBlockStoreCode<span class="cfont">*</span></label>
                                <div class="col-sm-8">
                                    <div class="@ProjectSession.CultureKendoClass">
                                        @(Html.Kendo().DropDownList()
                                            .Name("drpStores")
                                            .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                            .DataTextField("SubStoreCode")
                                            .DataValueField("SubStoreID")
                                            .HtmlAttributes(new { style = "width: 100%", @required = "required" })
                                            .Template("#= KendoDDLTemplate(data.SubStoreCode ,data.SubStoreDesc, data.AltSubStoreDesc) #")
                                            .Value(""))
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.Location_TextBlockItemLocations<span class="cfont">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="PartLocation" id="txtPartLocation" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.Location_TextBlockItemLocations" maxlength="50">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer box-footer">
                    @if (ProjectSession.PermissionAccess.Stores_ItemLocation_Editrecords || ProjectSession.PermissionAccess.Stores_ItemLocation_Createnewrecords)
                    {
                        <button type="submit" class="btn btn-primary" id="btnSave"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
                    }
                    <button type="button" class="btn btn-default" data-dismiss="modal">@ProjectSession.Resources.label.Common_ButtonClose</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    var kendoGridId = 'itemSectionGrid';
    var intPageID = '@SystemEnum.Pages.ItemSection.GetHashCode()';

    $(document).ready(function () {
        validator = $('#frmItemSection').validate({
            rules: {
                PartLocation: { required: true },
            },
            messages: {
                PartLocation: { required: '' },
            }
        });
    });

    function BindParameters() {
        return {
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function BindDropDownParameters() {
        return {
            cityID: $("#hdnL2Id").val()
        };
    }

    function DataBoundDDLL2(e) {
        $("#drpSite").data("kendoDropDownList").value($("#hdnL2Id").val());
        $("#drpSite").data("kendoDropDownList").trigger("change");
        $('#drpStores').data('kendoDropDownList').value($("#hdnStoreID").val());
    }

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };

    function OpenItemSectionEditWindow(id) {
        $("#hdnL2Id").val("");
        $("#hdnStoreID").val("");
        if (id > 0) {
            $.ajax({
                url: '@Url.Action(Actions.GetItemSectionByID, Controllers.Configurations, new { area = Areas.Configurations })',
                type: "POST",
                data: addRequestVerificationToken({ itemSectionID: id }),
                success: function (result) {
                    $("#hdnID").val(result.ID);
                    $("#txtPartLocation").val(result.PartLocation);
                    $("#hdnL2Id").val(result.L2ID);
                    $("#drpSite").data("kendoDropDownList").value(0);
                    $("#drpSite").data("kendoDropDownList").dataSource.read();
                    $("#hdnStoreID").val(result.SubStoreID)

                    @if (ProjectSession.PermissionAccess.Stores_ItemLocation_Editrecords)
                    {
                        <text>$("#btnSave").show(); </text>
                    }
                    else if (ProjectSession.PermissionAccess.Stores_ItemLocation_Createnewrecords)
                    {
                        <text>$("#btnSave").hide(); </text>
                    }
                    
                    if (result.IsEnableCity) {
                        $('#drpSite').data("kendoDropDownList").enable(false);
                        $("#drpStores").data("kendoDropDownList").enable(false);
                    }
                    else {
                        $('#drpSite').data("kendoDropDownList").enable(true);
                        $("#drpStores").data("kendoDropDownList").enable(true);
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }
        else {
            ClearAllInputs("frmItemSection");
            $('#drpSite').data("kendoDropDownList").dataSource.read();
            $("#drpSite").data("kendoDropDownList").value("");
            $("#drpSite").data("kendoDropDownList").trigger("change");
            $('#drpSite').data("kendoDropDownList").enable(true);
            $("#drpStores").data("kendoDropDownList").enable(true);
            @if (ProjectSession.PermissionAccess.Stores_ItemLocation_Createnewrecords)
            {
                <text>$("#btnSave").show(); </text>
            }
            else if (ProjectSession.PermissionAccess.Stores_ItemLocation_Editrecords)
            {
                <text>$("#btnSave").hide(); </text>
            }
        }
    }

    $("#itemSectionGrid tbody").on("dblclick", "tr[role='row']", function (e) {
        var grid = $("#itemSectionGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        $("#itemSectionModal").modal("show");
        OpenItemSectionEditWindow(model.ID);
    });


    function ChangeL2(e) {
        var dataItem = this.dataItem(e.item);
        $.ajax({
            url: '@Url.Action(Actions.GetStoresListByL2ID, Controllers.Configurations, new { area = Areas.Configurations })',
            type: 'Post',
            data: addRequestVerificationToken({ siteId: dataItem.L2ID == "" ? 0 : dataItem.L2ID }),
            cache: false,
            async: false,
            success: function (result) {
                $('#drpStores').data('kendoDropDownList').dataSource.data(result);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                showErrorMessage();
            }
        });
    }

</script>

@if (ProjectSession.PermissionAccess.Stores_ItemLocation_Editrecords || ProjectSession.PermissionAccess.Stores_ItemLocation_Createnewrecords)
{
    <script type="text/javascript">

        $('#frmItemSection').on('submit', function (e) {
            if ($("#frmItemSection").valid()) {
                if (!e.isDefaultPrevented()) {
                    if (reValidateDropDowns($(this))) {
                        var itemSectionId = $("#hdnID").val();
                        var changedObj = {
                            ID: itemSectionId == '' ? 0 : itemSectionId,
                            PartLocation: $("#txtPartLocation").val(),
                            L2ID: $("#drpSite").val(),
                            SubStoreID: $("#drpStores").val(),
                        };
                        $.ajax({
                            url: '@Url.Action(Actions.ManageItemSection, Controllers.Configurations, new { area = Areas.Configurations })',
                            type: "POST",
                            data: addRequestVerificationToken(changedObj),
                            dataType: "json",
                            success: function (result) {
                                if (result[0] == 0) {
                                    ShowMessage(result[1], result[2], "#divModelError");
                                }
                                else {
                                    $('#itemSectionModal').modal("hide");
                                    ShowMessage(result[0], result[1], "#divMessage");
                                    ReBindKendoGrid("itemSectionGrid");
                                }
                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                showErrorMessage();
                            }
                        });
                    }
                    e.preventDefault();
                }
            }
            else {
                e.preventDefault();
            }
        })

    </script>
}
@if (ProjectSession.PermissionAccess.Stores_ItemLocation_Deleterecords)
{
    <script type="text/javascript">
        function onDataBound(arg) {
            confirmDeleteMsg(msgText, okText, cancelText, onConfirmCallback, confirmDirection);
            gridProperPaging(this);
        }

        function onConfirmCallback(sender) {
            var id = $(this).data("id");
            $.ajax({
                url: '@Url.Action(Actions.DeleteItemSection, Controllers.Configurations, new { area = Areas.Configurations })',
                type: "POST",
                data: addRequestVerificationToken({ itemSectionID: id }),
                dataType: "json",
                success: function (result) {
                    ClearAllInputs("frmItemSection");
                    ShowMessage(result[0], result[1], "#divMessage");
                    ReBindKendoGrid("itemSectionGrid");

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }


    </script>
}
else
{
    <script>
        function onDataBound(arg) {
            gridProperPaging(this);
        }
    </script>
}