﻿@using CMMS.Infrastructure;
@using CMMS.Pages;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.AntiForgeryToken()
<div class="head1">
    <h1>@ProjectSession.Resources.label.ItemType_TextBlockPartTypes</h1>
    <ul class="sub_btn">
        @if (ProjectSession.PermissionAccess.Stores_ItemType_Createnewrecords)
        {
            <li>
                <a href="javascript:void(0);" class="btn-icon btn-add" data-toggle="modal" data-target="#itemTypeModal" data-backdrop="static" onclick="OpenItemTypeEditWindow(0);" title="@ProjectSession.Resources.label.Common_ButtonAdd"><i></i></a>
            </li>
        }
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-search" data-toggle="modal" data-target="#search-order" onclick='OpenAdvancedSearch("@ProjectSession.Resources.label.ItemType_TextBlockPartTypes","@SystemEnum.Pages.ItemType.GetHashCode()")' title="@ProjectSession.Resources.label.Common_ButtonAdvanceSearch"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-clear" title="@ProjectSession.Resources.label.Common_ButtonClear" onclick="return ClearAdvencedSearch(@SystemEnum.Pages.ItemType.GetHashCode());"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-refresh" onclick="ReBindKendoGrid('itemTypeGrid');" title="@ProjectSession.Resources.label.Common_ButtonRefreshGrid"><i></i></a>
        </li>
        @if (ProjectSession.PermissionAccess.Stores_ItemType_Export)
        {
            <li>
                <a href="javascript:void(0);" class="btn-icon btn-xsl" onclick="ExportToExcel('itemTypeGrid', 'AttrID');" title="@ProjectSession.Resources.label.Common_ButtonExportToExcel"><i></i></a>
            </li>
        }
    </ul>
</div>

<!-- Kendo Grid -->
<div id="itemTypeData" class="@ProjectSession.CultureKendoClass">
    @(Html.Kendo().Grid<CMMS.Model.Attrgroup>()
        .Name("itemTypeGrid")
        .HtmlAttributes(new { @class = "kl-grid" })
        .Columns(columns =>
        {
            columns.Bound(c => c.AttrName).Title(ProjectSession.Resources.label.ItemType_TextBlockPartTypeName).Width(300);

            columns.Bound(c => c.AltAttrName).HtmlAttributes(new { @class = "text-right" }).Title(ProjectSession.Resources.label.ItemType_TextBlockAltPartType);

            if (ProjectSession.PermissionAccess.Stores_ItemType_Editrecords || ProjectSession.PermissionAccess.Stores_ItemType_Deleterecords)
            {
                columns.Bound(c => c.AttrID).ClientTemplate("<center>" + (ProjectSession.PermissionAccess.Stores_ItemType_Editrecords ? "<a class='action' title='" + ProjectSession.Resources.label.Common_ButtonEdit + "'  style='cursor:pointer' data-toggle='modal' data-target='\\#itemTypeModal' onclick='OpenItemTypeEditWindow(#: AttrID#)'><i class='glyphicon glyphicon-pencil'></i></a>&nbsp;" : "") + "" + (ProjectSession.PermissionAccess.Stores_ItemType_Deleterecords ? "<a class='action delete-button'  href='javascript:void(0);'  class='delete-ic' data-id='#: AttrID #' style='cursor:pointer'><i class='glyphicon glyphicon-trash' title='" + ProjectSession.Resources.label.Common_ButtonDelete + "' ></i></a>" : "") + "</center>")
                                            .Title("<center>" + ProjectSession.Resources.label.Common_ButtonAction + "</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Width(80).Filterable(false);
            }
        })
        .Filterable()        
        .Sortable(sortable => sortable.AllowUnsort(false))
        .Scrollable()
        .Excel(excel => excel.FileName("Item Type.xlsx").Filterable(true).AllPages(true).ProxyURL(Url.Action("Excel_Export_Save", "GridExport", new { area = string.Empty })))
        .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
        .Events(events => events.DataBound("onDataBound").ExcelExport("excelExport"))
        .DataSource(dataSource =>
                                dataSource.Ajax()
                                .PageSize(ProjectConfiguration.PageSize)
                                .Sort(model => model.Add("AttrName").Ascending())
                                 .Model(model =>
                                 {
                                     model.Id(p => p.AttrID);
                                     model.Field(p => p.AttrName);
                                 })
                                .ServerOperation(true)
                                .Read(read => read.Action(Actions.GetItemType, Controllers.Configurations, new { area = Areas.Configurations }).Data("BindParameters").Type(HttpVerbs.Post))
        )
    )

</div>

<!-- search order -->
<div id="search-order" class="modal fade" role="dialog"></div>

<!-- Item Type Modal -->
<div id="itemTypeModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-mg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" title="@ProjectSession.Resources.label.Common_ButtonClose"></button>
                <h4 class="modal-title">@ProjectSession.Resources.label.ItemType_TextBlockPartTypes</h4>
            </div>
            <form role="form" id="frmItemType">
                <input type="hidden" name="hdnAttrID" id="hdnAttrID" />
                <div class="modal-body">
                    <div id="Highlights" class="tab-pane active" role="tabpanel">
                        <div class="form-horizontal">
                            <div id="divModelError"></div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.ItemType_TextBlockPartTypeName<span class="cfont">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="AttrName" id="txtAttrName" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.ItemType_TextBlockPartTypeName" maxlength="100">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.ItemType_TextBlockAltPartType</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="AltAttrName" id="txtAltAttrName" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.ItemType_TextBlockAltPartType" maxlength="100">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer box-footer">
                    @if (ProjectSession.PermissionAccess.Stores_ItemType_Editrecords || ProjectSession.PermissionAccess.Stores_ItemType_Createnewrecords)
                    {
                        <button type="submit" class="btn btn-primary" id="btnSave"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
                    }
                    <button type="button" class="btn btn-default" data-dismiss="modal">@ProjectSession.Resources.label.Common_ButtonClose</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    var kendoGridId = 'itemTypeGrid';
    var intPageID = '@SystemEnum.Pages.ItemType.GetHashCode()';

    $(document).ready(function () {
        validator = $('#frmItemType').validate({
            rules: {
                AttrName: { required: true },
            },
            messages: {
                AttrName: { required: '' },
            }
        });
    });

    function BindParameters() {
        return {
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };

    function OpenItemTypeEditWindow(id) {
        if (id > 0) {
            $.ajax({
                url: '@Url.Action(Actions.GetItemTypeByID, Controllers.Configurations, new { area = Areas.Configurations })',
                type: "POST",
                data: addRequestVerificationToken({ itemTypeID: id }),
                success: function (result) {
                    $("#hdnAttrID").val(result.AttrID);
                    $("#txtAttrName").val(result.AttrName);
                    $("#txtAltAttrName").val(result.AltAttrName);

                    @if (ProjectSession.PermissionAccess.Stores_ItemType_Editrecords)
                    {
                        <text>$("#btnSave").show(); </text>
                    }
                    else if (ProjectSession.PermissionAccess.Stores_ItemType_Createnewrecords)
                    {
                        <text>$("#btnSave").hide(); </text>
                    }

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }
        else {
            ClearAllInputs("frmItemType");
            @if (ProjectSession.PermissionAccess.Stores_ItemType_Createnewrecords)
            {
                <text>$("#btnSave").show(); </text>
            }
            else if (ProjectSession.PermissionAccess.Stores_ItemType_Editrecords)
            {
                <text>$("#btnSave").hide(); </text>
            }
        }
    }

    $("#itemTypeGrid tbody").on("dblclick", "tr[role='row']", function (e) {
        var grid = $("#itemTypeGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        $("#itemTypeModal").modal("show");
        OpenItemTypeEditWindow(model.AttrID);
    });

</script>

@if (ProjectSession.PermissionAccess.Stores_ItemType_Editrecords || ProjectSession.PermissionAccess.Stores_ItemType_Createnewrecords)
{
    <script type="text/javascript">
        $('#frmItemType').on('submit', function (e) {
            if ($("#frmItemType").valid()) {
                if (e.isDefaultPrevented()) {
                    // handle the invalid form...
                } else {

                    var itemTypeId = $("#hdnAttrID").val();
                    var changedObj = {
                        AttrID: itemTypeId == '' ? 0 : itemTypeId,
                        AttrName: $("#txtAttrName").val(),
                        AltAttrName: $("#txtAltAttrName").val(),
                    };

                    $.ajax({
                        url: '@Url.Action(Actions.ManageItemType, Controllers.Configurations, new { area = Areas.Configurations })',
                        type: "POST",
                        data: addRequestVerificationToken(changedObj),
                        dataType: "json",
                        success: function (result) {
                            if (result[0] == 0) {
                                ShowMessage(result[1], result[2], "#divModelError");
                            }
                            else {
                                $('#itemTypeModal').modal("hide");
                                ShowMessage(result[0], result[1], "#divMessage");
                                ReBindKendoGrid("itemTypeGrid");
                            }
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            showErrorMessage();
                        }
                    });
                    e.preventDefault();
                }
            }
            else {
                e.preventDefault();
            }
        })
    </script>
}
@if (ProjectSession.PermissionAccess.Stores_ItemType_Deleterecords)
{
    <script type="text/javascript">

        function onDataBound(arg) {
            confirmDeleteMsg(msgText, okText, cancelText, onConfirmCallback, confirmDirection);
            gridProperPaging(this);
        }

        function onConfirmCallback(sender) {
            var id = $(this).data("id");
            $.ajax({
                url: '@Url.Action(Actions.DeleteItemType, Controllers.Configurations, new { area = Areas.Configurations })',
                type: "POST",
                data: addRequestVerificationToken({ itemTypeID: id }),
                dataType: "json",
                success: function (result) {
                    ClearAllInputs("frmItemType");
                    ShowMessage(result[0], result[1], "#divMessage");
                    ReBindKendoGrid("itemTypeGrid");

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }



    </script>
}
else
{
    <script>
        function onDataBound(arg) {
            gridProperPaging(this);
        }
    </script>
}