﻿@using CMMS.Infrastructure;
@using CMMS.Pages;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.AntiForgeryToken()
<div class="head1">
    <h1>@ProjectSession.Resources.label.ItemSubType_TextBlockPartSubTypes</h1>
    <ul class="sub_btn">
        @if (ProjectSession.PermissionAccess.Stores_ItemSubType_Createnewrecords)
        {
            <li>
                <a href="javascript:void(0);" class="btn-icon btn-add" data-toggle="modal" data-target="#itemSubTypeModal" data-backdrop="static" onclick="OpenItemSubTypeEditWindow(0);" title="@ProjectSession.Resources.label.Common_ButtonAdd"><i></i></a>
            </li>
        }
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-search" data-toggle="modal" data-target="#search-order" onclick='OpenAdvancedSearch("@ProjectSession.Resources.label.ItemSubType_TextBlockPartSubTypes","@SystemEnum.Pages.ItemSubType.GetHashCode()")' title="@ProjectSession.Resources.label.Common_ButtonAdvanceSearch"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-clear" title="@ProjectSession.Resources.label.Common_ButtonClear" onclick="return ClearAdvencedSearch(@SystemEnum.Pages.ItemSubType.GetHashCode());"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-refresh" onclick="ReBindKendoGrid('itemSubTypeGrid');" title="@ProjectSession.Resources.label.Common_ButtonRefreshGrid"><i></i></a>
        </li>
        @if (ProjectSession.PermissionAccess.Stores_ItemSubType_Export)
        {
            <li>
                <a href="javascript:void(0);" class="btn-icon btn-xsl" onclick="ExportToExcel('itemSubTypeGrid', 'AttrSubID');" title="@ProjectSession.Resources.label.Common_ButtonExportToExcel"><i></i></a>
            </li>
        }
    </ul>
</div>

<!-- Kendo Grid -->
<div id="itemSubTypeData" class="@ProjectSession.CultureKendoClass">
    @(Html.Kendo().Grid<CMMS.Model.Attrsubgroup>()
        .HtmlAttributes(new { @class = "kl-grid" })
        .Name("itemSubTypeGrid")
        .Columns(columns =>
        {
            columns.Bound(c => c.AttrSubName).Title(ProjectSession.Resources.label.ItemSubType_TextBlockPartSubTypeName).Width(250);

            columns.Bound(c => c.AltAttrSubName).HtmlAttributes(new { @class = "text-right" }).Title(ProjectSession.Resources.label.ItemSubType_TextBlockAltPartSubType);

            columns.Bound(c => c.AttrName).Title(ProjectSession.Resources.label.ItemType_TextBlockPartTypeName)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterStoreItemType", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));                          

            if (ProjectSession.PermissionAccess.Stores_ItemSubType_Editrecords || ProjectSession.PermissionAccess.Stores_ItemSubType_Deleterecords)
            {
                columns.Bound(c => c.AttrSubID).ClientTemplate("<center>" + (ProjectSession.PermissionAccess.Stores_ItemSubType_Editrecords ? "<a class='action' title='" + ProjectSession.Resources.label.Common_ButtonEdit + "'  style='cursor:pointer' data-toggle='modal' data-target='\\#itemSubTypeModal' onclick='OpenItemSubTypeEditWindow(#: AttrSubID#)'><i class='glyphicon glyphicon-pencil'></i></a>&nbsp;" : "") + "" + (ProjectSession.PermissionAccess.Stores_ItemSubType_Deleterecords ? "<a class='action delete-button'  href='javascript:void(0);'  class='delete-ic' data-id='#: AttrSubID #' style='cursor:pointer'><i class='glyphicon glyphicon-trash' title='" + ProjectSession.Resources.label.Common_ButtonDelete + "' ></i></a>" : "") + "</center>")
                                            .Title("<center>" + ProjectSession.Resources.label.Common_ButtonAction + "</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Width(80).Filterable(false);
            }
        })
        .Filterable()
        .Sortable(sortable => sortable.AllowUnsort(false))
        .Scrollable()
        .Excel(excel => excel.FileName("Item Sub Type.xlsx").Filterable(true).AllPages(true).ProxyURL(Url.Action("Excel_Export_Save", "GridExport", new { area = string.Empty })))
        .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
        .Events(events => events.DataBound("onDataBound").ExcelExport("excelExport"))
        .DataSource(dataSource =>
                                dataSource.Ajax()
                                .PageSize(ProjectConfiguration.PageSize)
                                .Sort(model => model.Add("AttrSubName").Ascending())
                                 .Model(model =>
                                 {
                                     model.Id(p => p.AttrSubID);
                                     model.Field(p => p.AttrSubName);
                                 })
                                .ServerOperation(true)
                                .Read(read => read.Action(Actions.GetItemSubType, Controllers.Configurations, new { area = Areas.Configurations }).Data("BindParameters").Type(HttpVerbs.Post))
        )
    )

</div>

<!-- search order -->
<div id="search-order" class="modal fade" role="dialog"></div>

<!-- Item Sub Type Modal -->
<div id="itemSubTypeModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-mg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" title="@ProjectSession.Resources.label.Common_ButtonClose"></button>
                <h4 class="modal-title">@ProjectSession.Resources.label.ItemSubType_TextBlockPartSubTypes</h4>
            </div>
            <form role="form" id="frmItemSubType">
                <input type="hidden" name="hdnAttrSubID" id="hdnAttrSubID" />
                <div class="modal-body">
                    <div id="Highlights" class="tab-pane active" role="tabpanel">
                        <div class="form-horizontal">
                            <div id="divModelError"></div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.ItemSubType_TextBlockPartSubTypeName<span class="cfont">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="AttrSubName" id="txtAttrSubName" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.ItemSubType_TextBlockPartSubTypeName" maxlength="100">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.ItemSubType_TextBlockAltPartSubType</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="AltAttrSubName" id="txtAltAttrSubName" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.ItemSubType_TextBlockAltPartSubType" maxlength="100">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.ItemType_TextBlockPartTypeName<span class="cfont">*</span></label>
                                <div class="col-sm-8">
                                    <div class="@ProjectSession.CultureKendoClass">
                                        @(Html.Kendo().DropDownList()
                                                         .Name("drpItemType")
                                                         .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                                         .DataTextField("AttrName")
                                                         .DataValueField("AttrID")
                                                         .HtmlAttributes(new { style = "width: 100%", @required = "required" })
                                                         .Template("#= KendoDDLTemplate('' ,data.AttrName, data.AltAttrName) #")
                                                         .DataSource(source =>
                                                         {
                                                             source.Read(read =>
                                                             {
                                                                 read.Action(Actions.GetItemTypes, Controllers.Configurations, new { area = Areas.Configurations });
                                                             });
                                                         }).Value("")
                                        )
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer box-footer">
                    @if (ProjectSession.PermissionAccess.Stores_ItemSubType_Editrecords || ProjectSession.PermissionAccess.Stores_ItemSubType_Createnewrecords)
                    {
                        <button type="submit" class="btn btn-primary" id="btnSave"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
                    }
                    <button type="button" class="btn btn-default" data-dismiss="modal">@ProjectSession.Resources.label.Common_ButtonClose</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    var kendoGridId = 'itemSubTypeGrid';
    var intPageID = '@SystemEnum.Pages.ItemSubType.GetHashCode()';

    $(document).ready(function () {
        validator = $('#frmItemSubType').validate({
            rules: {
                AttrSubName: { required: true },
            },
            messages: {
                AttrSubName: { required: '' },
            }
        });
    });

    function BindParameters() {
        return {
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };

    function OpenItemSubTypeEditWindow(id) {
        if (id > 0) {
            $.ajax({
                url: '@Url.Action(Actions.GetItemSubTypeByID, Controllers.Configurations, new { area = Areas.Configurations })',
                type: "POST",
                data: addRequestVerificationToken({ itemSubTypeID: id }),
                success: function (result) {
                    $("#hdnAttrSubID").val(result.AttrSubID);
                    $("#txtAttrSubName").val(result.AttrSubName);
                    $("#txtAltAttrSubName").val(result.AltAttrSubName);
                    $("#drpItemType").data("kendoDropDownList").value(result.AttrID);

                    @if (ProjectSession.PermissionAccess.Stores_ItemSubType_Editrecords)
                    {
                        <text>$("#btnSave").show(); </text>
                    }
                    else if (ProjectSession.PermissionAccess.Stores_ItemSubType_Createnewrecords)
                    {
                        <text>$("#btnSave").hide(); </text>
                    }

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }
        else {
            ClearAllInputs("frmItemSubType");
             @if (ProjectSession.PermissionAccess.Stores_ItemSubType_Createnewrecords)
            {
                <text>$("#btnSave").show(); </text>
            }
             else if (ProjectSession.PermissionAccess.Stores_ItemSubType_Editrecords)
            {
                <text>$("#btnSave").hide(); </text>
            }
        }
    }

    $("#itemSubTypeGrid tbody").on("dblclick", "tr[role='row']", function (e) {
        var grid = $("#itemSubTypeGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        $("#itemSubTypeModal").modal("show");
        OpenItemSubTypeEditWindow(model.AttrSubID);
    });
</script>

@if (ProjectSession.PermissionAccess.Stores_ItemSubType_Editrecords || ProjectSession.PermissionAccess.Stores_ItemSubType_Createnewrecords)
{
    <script type="text/javascript">

        $('#frmItemSubType').on('submit', function (e) {
            if ($("#frmItemSubType").valid()) {
                if (!e.isDefaultPrevented()) {
                    if (reValidateDropDowns($(this))) {
                        var itemSubTypeId = $("#hdnAttrSubID").val();
                        var changedObj = {
                            AttrSubID: itemSubTypeId == '' ? 0 : itemSubTypeId,
                            AttrSubName: $("#txtAttrSubName").val(),
                            AltAttrSubName: $("#txtAltAttrSubName").val(),
                            AttrID: $("#drpItemType").val()
                        };
                        $.ajax({
                            url: '@Url.Action(Actions.ManageItemSubType, Controllers.Configurations, new { area = Areas.Configurations })',
                            type: "POST",
                            data: addRequestVerificationToken(changedObj),
                            dataType: "json",
                            success: function (result) {
                                if (result[0] == 0) {
                                    ShowMessage(result[1], result[2], "#divModelError");
                                }
                                else {
                                    $('#itemSubTypeModal').modal("hide");
                                    ShowMessage(result[0], result[1], "#divMessage");
                                    ReBindKendoGrid("itemSubTypeGrid");
                                }
                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                showErrorMessage();
                            }
                        });
                    }
                    e.preventDefault();
                }
            }
            else {
                e.preventDefault();
            }
        })
    </script>
}
@if (ProjectSession.PermissionAccess.Stores_ItemSubType_Deleterecords)
{
    <script type="text/javascript">
        function onDataBound(arg) {
            confirmDeleteMsg(msgText, okText, cancelText, onConfirmCallback, confirmDirection);
            gridProperPaging(this);
        }

        function onConfirmCallback(sender) {
            var id = $(this).data("id");
            $.ajax({
                url: '@Url.Action(Actions.DeleteItemSubType, Controllers.Configurations, new { area = Areas.Configurations })',
                type: "POST",
                data: addRequestVerificationToken({ itemSubTypeID: id }),
                dataType: "json",
                success: function (result) {
                    ClearAllInputs("frmItemSubType");
                    ShowMessage(result[0], result[1], "#divMessage");
                    ReBindKendoGrid("itemSubTypeGrid");

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }


    </script>
}
else
{
    <script>
        function onDataBound(arg) {
            gridProperPaging(this);
        }
    </script>
}