﻿@using CMMS.Infrastructure;
@using CMMS.Pages;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.AntiForgeryToken()
<div class="head1">
    <h1>@ProjectSession.Resources.label.JobPlan_TextBlockJobPlan</h1>
    <ul class="sub_btn">
        @if (ProjectSession.PermissionAccess.SetupConfiguration_JobPlans_Createnewrecords)
        {
            <li>
                <a href="#" class="btn-icon btn-add" data-toggle="modal" data-target="#jobPlanModal" data-backdrop="static" onclick="OpenJobPlanEditWindow(0);" title="@ProjectSession.Resources.label.Common_ButtonAdd"><i></i></a>
            </li>
        }
        <li>
            <a href="#" class="btn-icon btn-search" data-toggle="modal" data-target="#search-order" onclick='OpenAdvancedSearch("@ProjectSession.Resources.label.JobPlan_TextBlockJobPlan","@SystemEnum.Pages.JobPlan.GetHashCode()")' title="@ProjectSession.Resources.label.Common_ButtonAdvanceSearch"><i></i></a>
        </li>
        <li>
            <a href="#" class="btn-icon btn-clear" title="@ProjectSession.Resources.label.Common_ButtonClear" onclick="return ClearAdvencedSearch(@SystemEnum.Pages.JobPlan.GetHashCode());"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-refresh" onclick="ReBindKendoGrid('jobPlanGrid');" title="@ProjectSession.Resources.label.Common_ButtonRefreshGrid"><i></i></a>
        </li>
        @if (ProjectSession.PermissionAccess.SetupConfiguration_JobPlans_Export)
        {
            <li>
                <a href="javascript:void(0);" class="btn-icon btn-xsl" onclick="ExportToExcel('jobPlanGrid', 'JobPlanID');" title="@ProjectSession.Resources.label.Common_ButtonExportToExcel"><i></i></a>
            </li>
        }
    </ul>
</div>

<!-- Kendo Grid -->
<div id="jobPlanData" class="@ProjectSession.CultureKendoClass">
    @(Html.Kendo().Grid<CMMS.Model.TblJobPlan>()
        .HtmlAttributes(new { @class = "kl-grid" })
        .Name("jobPlanGrid")
        .Columns(columns =>
        {
            columns.Bound(c => c.JobPlanNo).Title(ProjectSession.Resources.label.JobPlan_TextBlockJobPlanNo).Width(150);

            columns.Bound(c => c.JobPlanName).Title(ProjectSession.Resources.label.JobPlan_TextBlockJobPlanDesc);

            columns.Bound(c => c.AltJobPlanName).HtmlAttributes(new { @class = "text-right" }).Title(ProjectSession.Resources.label.JobPlan_TextBlockAltJobPlanDesc);

            columns.Bound(c => c.L2Code).Title(ProjectSession.Resources.label.JobRequest_TextBlockCityCode)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterSite", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

            if (ProjectSession.PermissionAccess.SetupConfiguration_JobPlans_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_JobPlans_Deleterecords)
            {
                columns.Bound(c => c.JobPlanID).ClientTemplate("<center>" + (ProjectSession.PermissionAccess.SetupConfiguration_JobPlans_Editrecords ? "<a class='action' title='" + ProjectSession.Resources.label.Common_ButtonEdit + "'  style='cursor:pointer' data-toggle='modal' data-target='\\#jobPlanModal' onclick='OpenJobPlanEditWindow(#: JobPlanID#)'><i class='glyphicon glyphicon-pencil'></i></a>&nbsp;" : "") + "" + (ProjectSession.PermissionAccess.SetupConfiguration_JobPlans_Deleterecords ? "<a class='action delete-button'  href='javascript:void(0);'  class='delete-ic' data-id='#: JobPlanID #' style='cursor:pointer'><i class='glyphicon glyphicon-trash' title='" + ProjectSession.Resources.label.Common_ButtonDelete + "' ></i></a>" : "") + "</center>")
                                            .Title("<center>" + ProjectSession.Resources.label.Common_ButtonAction + "</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Width(80).Filterable(false);
            }
        })
        .Filterable() 
        .Sortable(sortable => sortable.AllowUnsort(false))
        .Scrollable()
        .Excel(excel => excel.FileName("Job Plan.xlsx").Filterable(true).AllPages(true).ProxyURL(Url.Action("Excel_Export_Save", "GridExport", new { area = string.Empty })))
        .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
        .Events(events => events.DataBound("onDataBound").ExcelExport("excelExport"))
        .DataSource(dataSource =>
                                dataSource.Ajax()
                                .PageSize(ProjectConfiguration.PageSize)
                                .Sort(model => model.Add("JobPlanNo").Ascending())
                                 .Model(model =>
                                 {
                                     model.Id(p => p.JobPlanID);
                                     model.Field(p => p.JobPlanNo);
                                 })
                                .ServerOperation(true)
                                .Read(read => read.Action(Actions.GetJobPlan, Controllers.Configurations, new { area = Areas.Configurations }).Data("BindParameters").Type(HttpVerbs.Post))
        )
    )

</div>

<!-- search order -->
<div id="search-order" class="modal fade" role="dialog"></div>

<!-- Item Type Modal -->
<div id="jobPlanModal" class="modal fade" role="dialog"></div>

<!-- Add New Item Modal -->
<div id="addItemModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-mg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" title="@ProjectSession.Resources.label.Common_ButtonClose"></button>
                <h4 class="modal-title">@ProjectSession.Resources.label.JobPlan_TextBlockJobPlanItem</h4>
            </div>
            <form role="form" id="frmItemJobPlan">
                <input type="hidden" id="hdnSeqId" />
                <div class="modal-body">
                    <div id="Highlights" class="tab-pane active" role="tabpanel">
                        <div class="form-horizontal">
                            <div id="divModelErrorJobItem"></div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.JobPlan_TextBlockSeqId<span class="cfont">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control allowIntegerOnly" name="SeqID" id="txtSeqID" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.JobPlan_TextBlockSeqId" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.JobPlan_TextBlockDecription<span class="cfont">*</span></label>
                                <div class="col-sm-8">
                                    <textarea class="form-control" id="txtAreaSeqDescription" name="Description" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.JobPlan_TextBlockDecription"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.JobPlan_TextBlockAltDecription</label>
                                <div class="col-sm-8">
                                    <textarea class="form-control" id="txtAreaAltSeqDescription" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.JobPlan_TextBlockAltDecription"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer box-footer">
                    @if (ProjectSession.PermissionAccess.SetupConfiguration_JobPlans_Editrecords)
                    {
                        <button type="submit" class="btn btn-primary" id="btnSaveItemPlan"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
                    }
                    <button type="button" class="btn btn-default" data-dismiss="modal">@ProjectSession.Resources.label.Common_ButtonClose</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    var kendoGridId = 'jobPlanGrid';
    var intPageID = '@SystemEnum.Pages.JobPlan.GetHashCode()';

    function BindParameters() {
        return {
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };

    $("#jobPlanGrid tbody").on("dblclick", "tr[role='row']", function (e) {
        var grid = $("#jobPlanGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        $("#jobPlanModal").modal("show");
        OpenJobPlanEditWindow(model.JobPlanID);
    });

    function OpenJobPlanEditWindow(id) {
        $("#jobPlanModal").html('');
        var url = '@Url.Action(Actions._EditJobPlan, Controllers.Configurations, new { Area = Areas.Configurations })' + "?jobPlanId=" + id;
        $("#jobPlanModal").load(url);
    }

    function BindParameterForItem() {
        return {
            jobPlanID: $("#hdnJobPlanID").val(),
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function onDataBoundJobPlanItemGrid(arg) {
        gridProperPaging(this);
    }

    function onDataBoundJobPlanItemGrid(arg) {
        confirmDeleteInnerMsg(msgText, okText, cancelText, onConfirmJobPlanCallback, confirmDirection);
        gridProperPaging(this);
    }

    function onConfirmJobPlanCallback(sender) {
        var id = $(this).data("id");
        var jobPlanId = $("#hdnJobPlanID").val();
        if (id > 0 && jobPlanId > 0) {
            $.ajax({
                url: '@Url.Action(Actions.DeleteJobPlanItem, Controllers.Configurations, new { area = Areas.Configurations })',
                type: "POST",
                data: addRequestVerificationToken({ jobPlanId: jobPlanId, seqId: id }),
                dataType: "json",
                success: function (result) {
                    ReBindKendoGrid("jobPlanItemGrid");
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }

    }
</script>

<script>
    var validator1 = $('#frmItemJobPlan').validate({
        rules: {
            SeqID: { required: true },
            Description: { required: true },
        },
        messages: {
            SeqID: { required: '' },
            Description: { required: '' },
        }
    });


    @*$('#frmItemJobPlan').on('submit', function (e) {
        if ($("#frmItemJobPlan").valid()) {
            if (e.isDefaultPrevented()) {
                // handle the invalid form...
            } else {
                var flag = true;
                if ($("#hdnSeqId").val() == "") {
                    $("#jobPlanItemGrid table td a").each(function (index, elem) {
                        var gridSeqID = $(elem).data("id");
                        if (gridSeqID == $("#txtSeqID").val()) {
                            flag = false;
                        }
                    });
                }
                if (flag == true) {
                    var jobPlanId = $("#hdnJobPlanID").val();
                    var changedObj = {
                        JobPlanID: jobPlanId,
                        SeqID: $("#txtSeqID").val(),
                        Description: $("#txtAreaSeqDescription").val(),
                        AltDescription: $("#txtAreaAltSeqDescription").val(),
                        HdnSeqID: $("#hdnSeqId").val() == '' ? 0 : $("#hdnSeqId").val()
                    };

                    $.ajax({
                        url: '@Url.Action(Actions.ManageJobPlanItem, Controllers.Configurations, new { area = Areas.Configurations })',
                        type: "POST",
                        data: addRequestVerificationToken(changedObj),
                        dataType: "json",
                        success: function (result) {
                            if (result[0] == 0) {
                                ShowMessage(result[1], result[2], "#divModelErrorJobItem");
                            }
                            else {
                                $('#addItemModal').modal("hide");
                                ReBindKendoGrid("jobPlanItemGrid");
                            }
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            showErrorMessage();
                        }
                    });
                    e.preventDefault();
                }
                else {
                    ShowMessage('@SystemEnum.MessageType.danger.ToString()', '@ProjectSession.Resources.label.PMChecklist_MsgSeqIdAlreadyExists', "#divModelErrorJobItem");
                    e.preventDefault();
                }
            }
        }
        else {
            e.preventDefault();
        }
    })*@

    $('#frmItemJobPlan').on('submit', function (e) {

        if ($("#frmItemJobPlan").valid()) {
            if (e.isDefaultPrevented()) {
                // handle the invalid form...
            } else {
                var flag = true;
                if ($("#hdnSeqId").val() == "") {
                    $("#jobPlanItemGrid table td a").each(function (index, elem) {
                        var gridSeqID = $(elem).data("id");
                        if (gridSeqID == $("#txtSeqID").val()) {
                            flag = false;
                        }
                    });
                }

                if (flag == false) {
                    var response = confirm('@ProjectSession.Resources.message.JobOrder_MsgSeqIdAlreadyExistWarning');

                    if (response) {
                        flag = true;
                    }
                    else {
                        e.preventDefault();
                        return false;
                    }
                }
                if (flag == true) {
                    var jobPlanId = $("#hdnJobPlanID").val();
                    var changedObj = {
                        JobPlanID: jobPlanId,
                        SeqID: $("#txtSeqID").val(),
                        Description: $("#txtAreaSeqDescription").val(),
                        AltDescription: $("#txtAreaAltSeqDescription").val(),
                    };

                    var oldObj = oldSITask;

                    $.ajax({
                        url: '@Url.Action(Actions.ManageJobPlanItem, Controllers.Configurations, new { area = Areas.Configurations })',
                        type: "POST",
                        data: addRequestVerificationToken({ objOldJobtask: oldObj, objNewJobtask: changedObj, kendogriddata: JSON.stringify($("#jobPlanItemGrid").data("kendoGrid").dataSource.data()) }),
                        dataType: "json",
                        success: function (result) {
                            if (result[0] == 0) {
                                ShowMessage(result[1], result[2], "#divModelError");
                                $('#addItemModal').modal("hide");
                                ReBindKendoGrid("jobPlanItemGrid");
                            }
                            else {
                                ShowMessage(result[1], result[2], "#divModelError");
                            }
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            showErrorMessage();
                        }
                    });
                    e.preventDefault();
                }
                @*else {
                    ShowMessage('@SystemEnum.MessageType.danger.ToString()', '@ProjectSession.Resources.label.PMChecklist_MsgSeqIdAlreadyExists', "#divModelErrorJobItem");
                e.preventDefault();
            }*@
            }
        }
        else {
            e.preventDefault();
        }
    })

</script>

@if (ProjectSession.PermissionAccess.SetupConfiguration_JobPlans_Deleterecords)
{
    <script>
        function onDataBound(arg) {
            confirmDeleteMsg(msgText, okText, cancelText, onConfirmCallback, confirmDirection);
            gridProperPaging(this);
        }

        function onConfirmCallback(sender) {
            var id = $(this).data("id");
            $.ajax({
                url: '@Url.Action(Actions.DeleteJobPlan, Controllers.Configurations, new { area = Areas.Configurations })',
                type: "POST",
                data: addRequestVerificationToken({ jobPlanId: id }),
                dataType: "json",
                success: function (result) {
                    ClearAllInputs("frmJobPlan");
                    ShowMessage(result[0], result[1], "#divMessage");
                    ReBindKendoGrid("jobPlanGrid");

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }
    </script>
}
else
{
    <script>
        function onDataBound(arg) {
            gridProperPaging(this);
        }
    </script>
}