﻿@using CMMS.Infrastructure;
@using CMMS.Pages;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.AntiForgeryToken()
<div class="head1">
    <h1>@ProjectSession.Resources.label.JobPriority_TextBlockJobPriority</h1>
    <ul class="sub_btn">
        @if (ProjectSession.PermissionAccess.SetupConfiguration_JobPriority_Createnewrecords)
        {
            <li>
                <a href="javascript:void(0);" class="btn-icon btn-add" data-toggle="modal" data-target="#jobPriorityModal" data-backdrop="static" onclick="OpenJobPriorityEditWindow(0);" title="@ProjectSession.Resources.label.Common_ButtonAdd"><i></i></a>
            </li>
        }
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-search" data-toggle="modal" data-target="#search-order" onclick='OpenAdvancedSearch("@ProjectSession.Resources.label.JobPriority_TextBlockJobPriority","@SystemEnum.Pages.JobPriority.GetHashCode()")' title="@ProjectSession.Resources.label.Common_ButtonAdvanceSearch"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-clear" title="@ProjectSession.Resources.label.Common_ButtonClear" onclick="return ClearAdvencedSearch(@SystemEnum.Pages.JobPriority.GetHashCode());"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-refresh" onclick="ReBindKendoGrid('jobPriorityGrid');" title="@ProjectSession.Resources.label.Common_ButtonRefreshGrid"><i></i></a>
        </li>
        @if (ProjectSession.PermissionAccess.SetupConfiguration_JobPriority_Export)
        {
            <li>
                <a href="javascript:void(0);" class="btn-icon btn-xsl" onclick="ExportToExcel('jobPriorityGrid', 'WorkPriorityID');" title="@ProjectSession.Resources.label.Common_ButtonExportToExcel"><i></i></a>
            </li>
        }
    </ul>
</div>

<!-- Kendo Grid -->
<div id="jobPriorityData" class="@ProjectSession.CultureKendoClass">
    @(Html.Kendo().Grid<CMMS.Model.Workpriority>()
        .HtmlAttributes(new { @class = "kl-grid" })
        .Name("jobPriorityGrid")
        .Columns(columns =>
        {
            columns.Bound(c => c.WorkPriority).Title(ProjectSession.Resources.label.JobPriority_TextBlockJobPriorityName).Width(200);

            columns.Bound(c => c.AltWorkPriority).HtmlAttributes(new { @class = "text-right" }).Title(ProjectSession.Resources.label.JobPriority_TextBlockAltJobPriority);

            columns.Bound(c => c.IsDefault).ClientTemplate("<center><span class='checkbox-custom #= IsDefault ? 'active' : '' #'></span></center>").Title(ProjectSession.Resources.label.Common_TextBlockDefault).Width(100)
            .Filterable(ftb => ftb.Multi(true).ItemTemplate("itemTemplateForIsDefault").CheckAll(false).BindTo(new[]{
                        new { IsDefault = true },
                        new { IsDefault = false }
                }));
     
            if (ProjectSession.PermissionAccess.SetupConfiguration_JobPriority_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_JobPriority_Deleterecords)
            {
                columns.Bound(c => c.WorkPriorityID).ClientTemplate("<center>" + (ProjectSession.PermissionAccess.SetupConfiguration_JobPriority_Editrecords ? "<a class='action' title='" + ProjectSession.Resources.label.Common_ButtonEdit + "'  style='cursor:pointer' data-toggle='modal' data-target='\\#jobPriorityModal' onclick='OpenJobPriorityEditWindow(#: WorkPriorityID#)'><i class='glyphicon glyphicon-pencil'></i></a>&nbsp;" : "") + "" + (ProjectSession.PermissionAccess.SetupConfiguration_JobPriority_Deleterecords ? "<a class='action delete-button'  href='javascript:void(0);'  class='delete-ic' data-id='#: WorkPriorityID #' style='cursor:pointer'><i class='glyphicon glyphicon-trash' title='" + ProjectSession.Resources.label.Common_ButtonDelete + "' ></i></a>" : "") + "</center>")
                                            .Title("<center>" + ProjectSession.Resources.label.Common_ButtonAction + "</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Width(80).Filterable(false);
            }
        }) 
        .Filterable()
        .Sortable(sortable => sortable.AllowUnsort(false))
        .Scrollable()
        .Excel(excel => excel.FileName("Job Priority.xlsx").Filterable(true).AllPages(true).ProxyURL(Url.Action("Excel_Export_Save", "GridExport", new { area = string.Empty })))
        .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
        .Events(events => events.DataBound("onDataBound").ExcelExport("excelExport"))
        .DataSource(dataSource =>
                                dataSource.Ajax()
                                .PageSize(ProjectConfiguration.PageSize)
                                .Sort(model => model.Add("WorkPriority").Ascending())
                                .Model(model =>
                                {
                                    model.Id(p => p.WorkPriorityID);
                                    model.Field(p => p.WorkPriority);
                                })
                                .ServerOperation(true)
                                .Read(read => read.Action(Actions.GetJobPriority, Controllers.Configurations, new { area = Areas.Configurations }).Data("BindParameters").Type(HttpVerbs.Post))
        )
    )

</div>

<!-- search order -->
<div id="search-order" class="modal fade" role="dialog"></div>

<!-- Job Priority Modal -->
<div id="jobPriorityModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-mg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" title="@ProjectSession.Resources.label.Common_ButtonClose"></button>
                <h4 class="modal-title">@ProjectSession.Resources.label.JobPriority_TextBlockJobPriority</h4>
            </div>
            <form role="form" id="frmJobPriority">
                <input type="hidden" name="hdnWorkPriorityID" id="hdnWorkPriorityID" />
                <div class="modal-body">
                    <div id="Highlights" class="tab-pane active" role="tabpanel">
                        <div class="form-horizontal">
                            <div id="divModelError"></div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.JobPriority_TextBlockJobPriorityName<span class="cfont">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="WorkPriority" id="txtWorkPriority" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.JobPriority_TextBlockJobPriorityName" maxlength="200">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.JobPriority_TextBlockAltJobPriority</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="AltWorkPriority" id="txtAltWorkPriority" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.JobPriority_TextBlockAltJobPriority" maxlength="200">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.Common_TextBlockDefault</label>
                                <div class="col-sm-8 checkbox">
                                    <label>
                                        <input type="checkbox" name="chkDefault" id="chkDefault">
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer box-footer">
                    @if (ProjectSession.PermissionAccess.SetupConfiguration_JobPriority_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_JobPriority_Createnewrecords)
                    {
                        <button type="submit" class="btn btn-primary" id="btnSave"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
                    }
                    <button type="button" class="btn btn-default" data-dismiss="modal">@ProjectSession.Resources.label.Common_ButtonClose</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    var kendoGridId = 'jobPriorityGrid';
    var intPageID = '@SystemEnum.Pages.JobPriority.GetHashCode()';

    $(document).ready(function () {
        validator = $('#frmJobPriority').validate({
            rules: {
                WorkPriority: { required: true },
            },
            messages: {
                WorkPriority: { required: '' },
            }
        });
    });

    function BindParameters() {
        return {
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };

    function OpenJobPriorityEditWindow(id) {
        if (id > 0) {
            $.ajax({
                url: '@Url.Action(Actions.GetJobPriorityByID, Controllers.Configurations, new { area = Areas.Configurations })',
                type: "POST",
                data: addRequestVerificationToken({ jobPriorityId: id }),
                success: function (result) {
                    $("#hdnWorkPriorityID").val(result.WorkPriorityID);
                    $("#txtWorkPriority").val(result.WorkPriority);
                    $("#txtAltWorkPriority").val(result.AltWorkPriority);
                    $("#chkDefault").prop("checked", result.IsDefault);

                    @if (ProjectSession.PermissionAccess.SetupConfiguration_JobPriority_Editrecords)
                    {
                        <text>$("#btnSave").show(); </text>
                    }
                    else if (ProjectSession.PermissionAccess.SetupConfiguration_JobPriority_Createnewrecords)
                    {
                        <text>$("#btnSave").hide(); </text>
                    }

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }
        else {

            @if (ProjectSession.PermissionAccess.SetupConfiguration_JobPriority_Createnewrecords)
            {
                <text>$("#btnSave").show(); </text>
            }
            else if (ProjectSession.PermissionAccess.SetupConfiguration_JobPriority_Editrecords)
            {
                <text>$("#btnSave").hide(); </text>
            }

            ClearAllInputs("frmJobPriority");
        }
    }

    $("#jobPriorityGrid tbody").on("dblclick", "tr[role='row']", function (e) {
        var grid = $("#jobPriorityGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        $("#jobPriorityModal").modal("show");
        OpenJobPriorityEditWindow(model.WorkPriorityID);
    });
</script>

@if (ProjectSession.PermissionAccess.SetupConfiguration_JobPriority_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_JobPriority_Createnewrecords)
{
    <script type="text/javascript">

        $('#frmJobPriority').on('submit', function (e) {
            if ($("#frmJobPriority").valid()) {
                if (e.isDefaultPrevented()) {
                    // handle the invalid form...
                } else {

                    var jobPriorityId = $("#hdnWorkPriorityID").val();
                    var changedObj = {
                        WorkPriorityID: jobPriorityId == '' ? 0 : jobPriorityId,
                        WorkPriority: $("#txtWorkPriority").val(),
                        AltWorkPriority: $("#txtAltWorkPriority").val(),
                        IsDefault: $("#chkDefault").is(':checked')
                    };

                    $.ajax({
                        url: '@Url.Action(Actions.ManageJobPriority, Controllers.Configurations, new { area = Areas.Configurations })',
                        type: "POST",
                        data: addRequestVerificationToken(changedObj),
                        dataType: "json",
                        success: function (result) {
                            if (result[0] == 0) {
                                ShowMessage(result[1], result[2], "#divModelError");
                            }
                            else {
                                $('#jobPriorityModal').modal("hide");
                                ShowMessage(result[0], result[1], "#divMessage");
                                ReBindKendoGrid("jobPriorityGrid");
                            }
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            showErrorMessage();
                        }
                    });
                    e.preventDefault();
                }
            }
            else {
                e.preventDefault();
            }
        })
    </script>
}

@if (ProjectSession.PermissionAccess.SetupConfiguration_JobPriority_Deleterecords)
{
    <script type="text/javascript">

        function onDataBound(arg) {
            confirmDeleteMsg(msgText, okText, cancelText, onConfirmCallback, confirmDirection);
            gridProperPaging(this);
        }

        function onConfirmCallback(sender) {
            var id = $(this).data("id");
            $.ajax({
                url: '@Url.Action(Actions.DeleteJobPriority, Controllers.Configurations, new { area = Areas.Configurations })',
                type: "POST",
                data: addRequestVerificationToken({ jobPriorityId: id }),
                dataType: "json",
                success: function (result) {
                    ClearAllInputs("frmJobPriority");
                    ShowMessage(result[0], result[1], "#divMessage");
                    ReBindKendoGrid("jobPriorityGrid");

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }
    </script>
}
else
{
    <script>
        function onDataBound(arg) {
            gridProperPaging(this);
        }
    </script>
}