﻿@using CMMS.Infrastructure;
@using CMMS.Pages;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.AntiForgeryToken()
<div class="head1">
    <h1>@ProjectSession.Resources.label.JobStatus_TextBlockJobStatus</h1>
    <ul class="sub_btn">
        @if (ProjectSession.PermissionAccess.SetupConfiguration_JobStatus_Createnewrecords)
        {
            <li>
                <a href="javascript:void(0);" class="btn-icon btn-add" data-toggle="modal" data-target="#jobStatusModal" data-backdrop="static" onclick="OpenJobStatusEditWindow(0);" title="@ProjectSession.Resources.label.Common_ButtonAdd"><i></i></a>
            </li>
        }
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-search" data-toggle="modal" data-target="#search-order" onclick='OpenAdvancedSearch("@ProjectSession.Resources.label.JobStatus_TextBlockJobStatus","@SystemEnum.Pages.JobStatus.GetHashCode()")' title="@ProjectSession.Resources.label.Common_ButtonAdvanceSearch"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-clear" title="@ProjectSession.Resources.label.Common_ButtonClear" onclick="return ClearAdvencedSearch(@SystemEnum.Pages.JobStatus.GetHashCode());"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-refresh" onclick="ReBindKendoGrid('jobStatusGrid');" title="@ProjectSession.Resources.label.Common_ButtonRefreshGrid"><i></i></a>
        </li>
        @if (ProjectSession.PermissionAccess.SetupConfiguration_JobStatus_Export)
        {
            <li>
                <a href="javascript:void(0);" class="btn-icon btn-xsl" onclick="ExportToExcel('jobStatusGrid', 'WorkStatusID');" title="@ProjectSession.Resources.label.Common_ButtonExportToExcel"><i></i></a>
            </li>
        }
    </ul>
</div>

<!-- Kendo Grid -->
<div id="jobStatusData" class="@ProjectSession.CultureKendoClass">
    @(Html.Kendo().Grid<CMMS.Model.Workstatu>()
        .HtmlAttributes(new { @class = "kl-grid" })
        .Name("jobStatusGrid")
        .Columns(columns =>
        {
            columns.Bound(c => c.WorkStatus).Title(ProjectSession.Resources.label.JobStatus_TextBlockJobStatusName).Width(200);

            columns.Bound(c => c.AltWorkStatus).HtmlAttributes(new { @class = "text-right" }).Title(ProjectSession.Resources.label.JobStatus_TextBlockAltJobStatus);

            columns.Bound(c => c.IsDefault).ClientTemplate("<center><span class='checkbox-custom #= IsDefault ? 'active' : '' #'></span></center>").Title(ProjectSession.Resources.label.Common_TextBlockDefault).Width(100)
            .Filterable(ftb => ftb.Multi(true).ItemTemplate("itemTemplateForIsDefault").CheckAll(false).BindTo(new[]{
                        new { IsDefault = true },
                        new { IsDefault = false }
                }));

            if (ProjectSession.PermissionAccess.SetupConfiguration_JobStatus_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_JobStatus_Deleterecords)
            {
                columns.Bound(c => c.WorkStatusID).ClientTemplate("<center>" + (ProjectSession.PermissionAccess.SetupConfiguration_JobStatus_Editrecords ? "<a class='action' title='" + ProjectSession.Resources.label.Common_ButtonEdit + "'  style='cursor:pointer' data-toggle='modal' data-target='\\#jobStatusModal' onclick='OpenJobStatusEditWindow(#: WorkStatusID#)'><i class='glyphicon glyphicon-pencil'></i></a>&nbsp;" : "") + "" + (ProjectSession.PermissionAccess.SetupConfiguration_JobStatus_Deleterecords ? "<a class='action delete-button'  href='javascript:void(0);'  class='delete-ic' data-id='#: WorkStatusID #' style='cursor:pointer'><i class='glyphicon glyphicon-trash' title='" + ProjectSession.Resources.label.Common_ButtonDelete + "' ></i></a>" : "") + "</center>")
                                            .Title("<center>" + ProjectSession.Resources.label.Common_ButtonAction + "</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Width(80).Filterable(false);
            }
        })
        .Filterable()
        .Sortable(sortable => sortable.AllowUnsort(false))
        .Scrollable()
        .Excel(excel => excel.FileName("Job Status.xlsx").Filterable(true).AllPages(true).ProxyURL(Url.Action("Excel_Export_Save", "GridExport", new { area = string.Empty })))
        .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
        .Events(events => events.DataBound("onDataBound").ExcelExport("excelExport"))
        .DataSource(dataSource =>
                                dataSource.Ajax()
                                .PageSize(ProjectConfiguration.PageSize)
                                .Sort(model => model.Add("WorkStatus").Ascending())
                                .Model(model =>
                                {
                                    model.Id(p => p.WorkStatusID);
                                    model.Field(p => p.WorkStatus);
                                })
                                .ServerOperation(true)
                                .Read(read => read.Action(Actions.GetJobStatus, Controllers.Configurations, new { area = Areas.Configurations }).Data("BindParameters").Type(HttpVerbs.Post))
        )
    )

</div>

<!-- search order -->
<div id="search-order" class="modal fade" role="dialog"></div>

<!-- Job Priority Modal -->
<div id="jobStatusModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-mg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" title="@ProjectSession.Resources.label.Common_ButtonClose"></button>
                <h4 class="modal-title">@ProjectSession.Resources.label.JobStatus_TextBlockJobStatus</h4>
            </div>
            <form role="form" id="frmJobStatus">
                <input type="hidden" name="hdnWorkStatusID" id="hdnWorkStatusID" />
                <div class="modal-body">
                    <div id="Highlights" class="tab-pane active" role="tabpanel">
                        <div class="form-horizontal">
                            <div id="divModelError"></div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.JobStatus_TextBlockJobStatusName<span class="cfont">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="WorkStatus" id="txtWorkStatus" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.JobStatus_TextBlockJobStatusName" maxlength="200">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.JobStatus_TextBlockAltJobStatus</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="AltWorkStatus" id="txtAltWorkStatus" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.JobStatus_TextBlockAltJobStatus" maxlength="200">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.Common_TextBlockDefault</label>
                                <div class="col-sm-8 checkbox">
                                    <label>
                                        <input type="checkbox" name="chkDefault" id="chkDefault">
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer box-footer">
                    @if (ProjectSession.PermissionAccess.SetupConfiguration_JobStatus_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_JobStatus_Createnewrecords)
                    {
                        <button type="submit" class="btn btn-primary" id="btnSave"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
                    }
                    <button type="button" class="btn btn-default" data-dismiss="modal">@ProjectSession.Resources.label.Common_ButtonClose</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    var kendoGridId = 'jobStatusGrid';
    var intPageID = '@SystemEnum.Pages.JobStatus.GetHashCode()';

    $(document).ready(function () {
        validator = $('#frmJobStatus').validate({
            rules: {
                WorkStatus: { required: true },
            },
            messages: {
                WorkStatus: { required: '' },
            }
        });
    });

    function BindParameters() {
        return {
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };

    function OpenJobStatusEditWindow(id) {
        if (id > 0) {
            $.ajax({
                url: '@Url.Action(Actions.GetJobStatusByID, Controllers.Configurations, new { area = Areas.Configurations })',
                type: "POST",
                data: addRequestVerificationToken({ jobStatusId: id }),
                success: function (result) {
                    $("#hdnWorkStatusID").val(result.WorkStatusID);
                    $("#txtWorkStatus").val(result.WorkStatus);
                    $("#txtAltWorkStatus").val(result.AltWorkStatus);
                    $("#chkDefault").prop("checked", result.IsDefault);
                    if (result.WorkStatusID == 2) {
                        $("#chkDefault").attr("disabled", "disabled");
                    }
                    else {
                        $("#chkDefault").removeAttr("disabled");
                    }

                     @if (ProjectSession.PermissionAccess.SetupConfiguration_JobStatus_Editrecords)
                    {
                        <text>$("#btnSave").show(); </text>
                    }
                     else if (ProjectSession.PermissionAccess.SetupConfiguration_JobStatus_Createnewrecords)
                    {
                        <text>$("#btnSave").hide(); </text>
                    }
                    
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }
        else {

            @if (ProjectSession.PermissionAccess.SetupConfiguration_JobStatus_Createnewrecords)
            {
                <text>$("#btnSave").show(); </text>
            }
            else if (ProjectSession.PermissionAccess.SetupConfiguration_JobStatus_Editrecords)
            {
                <text>$("#btnSave").hide(); </text>
            }
            $("#chkDefault").removeAttr("disabled");
            ClearAllInputs("frmJobStatus");
        }
    }

    $("#jobStatusGrid tbody").on("dblclick", "tr[role='row']", function (e) {
        var grid = $("#jobStatusGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        $("#jobStatusModal").modal("show");
        OpenJobStatusEditWindow(model.WorkStatusID);
    });

</script>

@if (ProjectSession.PermissionAccess.SetupConfiguration_JobStatus_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_JobStatus_Createnewrecords)
{
    <script>

        $('#frmJobStatus').on('submit', function (e) {
            if ($("#frmJobStatus").valid()) {
                if (e.isDefaultPrevented()) {
                    // handle the invalid form...
                } else {

                    var jobStatusId = $("#hdnWorkStatusID").val();
                    var changedObj = {
                        WorkStatusID: jobStatusId == '' ? 0 : jobStatusId,
                        WorkStatus: $("#txtWorkStatus").val(),
                        AltWorkStatus: $("#txtAltWorkStatus").val(),
                        IsDefault: $("#chkDefault").is(':checked')
                    };

                    $.ajax({
                        url: '@Url.Action(Actions.ManageJobStatus, Controllers.Configurations, new { area = Areas.Configurations })',
                        type: "POST",
                        data: addRequestVerificationToken(changedObj),
                        dataType: "json",
                        success: function (result) {
                            if (result[0] == 0) {
                                ShowMessage(result[1], result[2], "#divModelError");
                            }
                            else {
                                $('#jobStatusModal').modal("hide");
                                ShowMessage(result[0], result[1], "#divMessage");
                                ReBindKendoGrid("jobStatusGrid");
                            }
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            showErrorMessage();
                        }
                    });
                    e.preventDefault();
                }
            }
            else {
                e.preventDefault();
            }
        })

    </script>
}

@if (ProjectSession.PermissionAccess.SetupConfiguration_JobStatus_Deleterecords)
{
    <script>

        function onDataBound(arg) {
            confirmDeleteMsg(msgText, okText, cancelText, onConfirmCallback, confirmDirection);
            gridProperPaging(this);
        }

        function onConfirmCallback(sender) {
            var id = $(this).data("id");
            $.ajax({
                url: '@Url.Action(Actions.DeleteJobStatus, Controllers.Configurations, new { area = Areas.Configurations })',
                type: "POST",
                data: addRequestVerificationToken({ jobStatusId: id }),
                dataType: "json",
                success: function (result) {
                    ClearAllInputs("frmJobStatus");
                    ShowMessage(result[0], result[1], "#divMessage");
                    ReBindKendoGrid("jobStatusGrid");

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }

    </script>
}
else
{
    <script>
        function onDataBound(arg) {
            gridProperPaging(this);
        }
    </script>
}
