﻿@using CMMS.Infrastructure;
@using CMMS.Pages;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.AntiForgeryToken()
<div class="head1">
    <h1>@ProjectSession.Resources.label.JobTrade_TextBlockJobTrade</h1>
    <ul class="sub_btn">
        @if (ProjectSession.PermissionAccess.SetupConfiguration_JobTrade_Createnewrecords)
        {
            <li>
                <a href="javascript:void(0);" class="btn-icon btn-add" data-toggle="modal" data-target="#jobTradeModal" data-backdrop="static" onclick="OpenJobTradeEditWindow(0);" title="@ProjectSession.Resources.label.Common_ButtonAdd"><i></i></a>
            </li>
        }
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-search" data-toggle="modal" data-target="#search-order" onclick='OpenAdvancedSearch("@ProjectSession.Resources.label.JobTrade_TextBlockJobTrade","@SystemEnum.Pages.JobTrade.GetHashCode()")' title="@ProjectSession.Resources.label.Common_ButtonAdvanceSearch"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-clear" title="@ProjectSession.Resources.label.Common_ButtonClear" onclick="return ClearAdvencedSearch(@SystemEnum.Pages.JobTrade.GetHashCode());"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-refresh" onclick="ReBindKendoGrid('jobTradeGrid');" title="@ProjectSession.Resources.label.Common_ButtonRefreshGrid"><i></i></a>
        </li>
        @if (ProjectSession.PermissionAccess.SetupConfiguration_JobTrade_Export)
        {
            <li>
                <a href="javascript:void(0);" class="btn-icon btn-xsl" onclick="ExportToExcel('jobTradeGrid', 'WorkTradeID');" title="@ProjectSession.Resources.label.Common_ButtonExportToExcel"><i></i></a>
            </li>
        }
    </ul>
</div>

<!-- Kendo Grid -->
<div id="jobTradeData" class="@ProjectSession.CultureKendoClass">
    @(Html.Kendo().Grid<CMMS.Model.Worktrade>()
        .HtmlAttributes(new { @class = "kl-grid" })
        .Name("jobTradeGrid")
        .Columns(columns =>
        {
            columns.Bound(c => c.WorkTrade).Title(ProjectSession.Resources.label.JobTrade_TextBlockJobTradeName).Width(200);

            columns.Bound(c => c.AltWorkTrade).HtmlAttributes(new { @class = "text-right" }).Title(ProjectSession.Resources.label.JobTrade_TextBlockAltJobTrade);

            columns.Bound(c => c.IsDefault).ClientTemplate("<center><span class='checkbox-custom #= IsDefault ? 'active' : '' #'></span></center>").Title(ProjectSession.Resources.label.Common_TextBlockDefault).Width(100)
            .Filterable(ftb => ftb.Multi(true).ItemTemplate("itemTemplateForIsDefault").CheckAll(false).BindTo(new[]{
                        new { IsDefault = true },
                        new { IsDefault = false }
                }));

            if (ProjectSession.PermissionAccess.SetupConfiguration_JobTrade_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_JobTrade_Deleterecords)
            {
                columns.Bound(c => c.WorkTradeID).ClientTemplate("<center>" + (ProjectSession.PermissionAccess.SetupConfiguration_JobTrade_Editrecords ? "<a class='action' title='" + ProjectSession.Resources.label.Common_ButtonEdit + "'  style='cursor:pointer' data-toggle='modal' data-target='\\#jobTradeModal' onclick='OpenJobTradeEditWindow(#: WorkTradeID#)'><i class='glyphicon glyphicon-pencil'></i></a>&nbsp;" : "") + "" + (ProjectSession.PermissionAccess.SetupConfiguration_JobTrade_Deleterecords ? "<a class='action delete-button'  href='javascript:void(0);'  class='delete-ic' data-id='#: WorkTradeID #' style='cursor:pointer'><i class='glyphicon glyphicon-trash' title='" + ProjectSession.Resources.label.Common_ButtonDelete + "' ></i></a>" : "") + "</center>")
                                            .Title("<center>" + ProjectSession.Resources.label.Common_ButtonAction + "</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Width(80).Filterable(false);
            }
        })
        .Filterable()
        .Sortable(sortable => sortable.AllowUnsort(false))
        .Scrollable()
        .Excel(excel => excel.FileName("Job Trade.xlsx").Filterable(true).AllPages(true).ProxyURL(Url.Action("Excel_Export_Save", "GridExport", new { area = string.Empty })))
        .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
        .Events(events => events.DataBound("onDataBound").ExcelExport("excelExport"))
        .DataSource(dataSource =>
                                dataSource.Ajax()
                                .PageSize(ProjectConfiguration.PageSize)
                                .Sort(model => model.Add("WorkTrade").Ascending())
                                .Model(model =>
                                {
                                    model.Id(p => p.WorkTradeID);
                                    model.Field(p => p.WorkTrade);
                                })
                                .ServerOperation(true)
                                .Read(read => read.Action(Actions.GetJobTrade, Controllers.Configurations, new { area = Areas.Configurations }).Data("BindParameters").Type(HttpVerbs.Post))
        )
    )

</div>

<!-- search order -->
<div id="search-order" class="modal fade" role="dialog"></div>

<!-- Job Priority Modal -->
<div id="jobTradeModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-mg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" title="@ProjectSession.Resources.label.Common_ButtonClose"></button>
                <h4 class="modal-title">@ProjectSession.Resources.label.JobTrade_TextBlockJobTrade</h4>
            </div>
            <form role="form" id="frmJobTrade">
                <input type="hidden" name="hdnWorkTradeID" id="hdnWorkTradeID" />
                <div class="modal-body">
                    <div id="Highlights" class="tab-pane active" role="tabpanel">
                        <div class="form-horizontal">
                            <div id="divModelError"></div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.JobTrade_TextBlockJobTradeName<span class="cfont">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="WorkTrade" id="txtWorkTrade" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.JobTrade_TextBlockJobTradeName" maxlength="200">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.JobTrade_TextBlockAltJobTrade</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="AltWorkTrade" id="txtAltWorkTrade" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.JobTrade_TextBlockAltJobTrade" maxlength="200">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.Common_TextBlockDefault</label>
                                <div class="col-sm-8 checkbox">
                                    <label>
                                        <input type="checkbox" name="chkDefault" id="chkDefault">
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer box-footer">
                    @if (ProjectSession.PermissionAccess.SetupConfiguration_JobTrade_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_JobTrade_Createnewrecords)
                    {
                        <button type="submit" class="btn btn-primary" id="btnSave"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
                    }
                    <button type="button" class="btn btn-default" data-dismiss="modal">@ProjectSession.Resources.label.Common_ButtonClose</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    var kendoGridId = 'jobTradeGrid';
    var intPageID = '@SystemEnum.Pages.JobTrade.GetHashCode()';

    $(document).ready(function () {
        validator = $('#frmJobTrade').validate({
            rules: {
                WorkTrade: { required: true },
            },
            messages: {
                WorkTrade: { required: '' },
            }
        });
    });

    function BindParameters() {
        return {
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };

    function OpenJobTradeEditWindow(id) {
        if (id > 0) {
            $.ajax({
                url: '@Url.Action(Actions.GetJobTradeByID, Controllers.Configurations, new { area = Areas.Configurations })',
                type: "POST",
                data: addRequestVerificationToken({ jobTradeId: id }),
                success: function (result) {
                    $("#hdnWorkTradeID").val(result.WorkTradeID);
                    $("#txtWorkTrade").val(result.WorkTrade);
                    $("#txtAltWorkTrade").val(result.AltWorkTrade);
                    $("#chkDefault").prop("checked", result.IsDefault);

                    @if (ProjectSession.PermissionAccess.SetupConfiguration_JobTrade_Editrecords)
                    {
                        <text>$("#btnSave").show(); </text>
                    }
                    else if (ProjectSession.PermissionAccess.SetupConfiguration_JobTrade_Createnewrecords)
                    {
                        <text>$("#btnSave").hide(); </text>
                    }

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }
        else {

            @if (ProjectSession.PermissionAccess.SetupConfiguration_JobTrade_Createnewrecords)
            {
                <text>$("#btnSave").show(); </text>
            }
            else if (ProjectSession.PermissionAccess.SetupConfiguration_JobTrade_Editrecords)
            {
                <text>$("#btnSave").hide(); </text>
            }

            ClearAllInputs("frmJobTrade");
        }
    }


    $("#jobTradeGrid tbody").on("dblclick", "tr[role='row']", function (e) {
        var grid = $("#jobTradeGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        $("#jobTradeModal").modal("show");
        OpenJobTradeEditWindow(model.WorkTradeID);
    });

</script>

@if (ProjectSession.PermissionAccess.SetupConfiguration_JobTrade_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_JobTrade_Createnewrecords)
{
    <script>

        $('#frmJobTrade').on('submit', function (e) {
            if ($("#frmJobTrade").valid()) {
                if (e.isDefaultPrevented()) {
                    // handle the invalid form...
                } else {

                    var jobTradeId = $("#hdnWorkTradeID").val();
                    var changedObj = {
                        WorkTradeID: jobTradeId == '' ? 0 : jobTradeId,
                        WorkTrade: $("#txtWorkTrade").val(),
                        AltWorkTrade: $("#txtAltWorkTrade").val(),
                        IsDefault: $("#chkDefault").is(':checked')
                    };

                    $.ajax({
                        url: '@Url.Action(Actions.ManageJobTrade, Controllers.Configurations, new { area = Areas.Configurations })',
                        type: "POST",
                        data: addRequestVerificationToken(changedObj),
                        dataType: "json",
                        success: function (result) {
                            if (result[0] == 0) {
                                ShowMessage(result[1], result[2], "#divModelError");
                            }
                            else {
                                $('#jobTradeModal').modal("hide");
                                ShowMessage(result[0], result[1], "#divMessage");
                                ReBindKendoGrid("jobTradeGrid");
                            }
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            showErrorMessage();
                        }
                    });
                    e.preventDefault();
                }
            }
            else {
                e.preventDefault();
            }
        })
    </script>
}
@if (ProjectSession.PermissionAccess.SetupConfiguration_JobTrade_Deleterecords)
{
    <script>

        function onDataBound(arg) {
            confirmDeleteMsg(msgText, okText, cancelText, onConfirmCallback, confirmDirection);
            gridProperPaging(this);
        }

        function onConfirmCallback(sender) {
            var id = $(this).data("id");
            $.ajax({
                url: '@Url.Action(Actions.DeleteJobTrade, Controllers.Configurations, new { area = Areas.Configurations })',
                type: "POST",
                data: addRequestVerificationToken({ jobTradeId: id }),
                dataType: "json",
                success: function (result) {
                    ClearAllInputs("frmJobTrade");
                    ShowMessage(result[0], result[1], "#divMessage");
                    ReBindKendoGrid("jobTradeGrid");

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }

    </script>
}
else
{
    <script>
        function onDataBound(arg) {
            gridProperPaging(this);
        }
    </script>
}

