﻿@using CMMS.Infrastructure;
@using CMMS.Pages;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.AntiForgeryToken()
<div class="head1">
    <h1>@ProjectSession.Resources.menu.LocationType_MenuLocationType</h1>
    <ul class="sub_btn">
        @if (ProjectSession.PermissionAccess.SetupConfiguration_LocationType_Createnewrecords)
        {
            <li>
                <a href="javascript:void(0);" class="btn-icon btn-add" data-toggle="modal" data-target="#locationTypeModal" onclick="OpenLocationTypeEditWindow(0);" title="@ProjectSession.Resources.label.Common_ButtonAdd"><i></i></a>
            </li>
        }
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-search" data-toggle="modal" data-target="#search-order" onclick='OpenAdvancedSearch("@ProjectSession.Resources.menu.LocationType_MenuLocationType","@SystemEnum.Pages.LocationType.GetHashCode()")' title="@ProjectSession.Resources.label.Common_ButtonAdvanceSearch"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-clear" title="@ProjectSession.Resources.label.Common_ButtonClear" onclick="return ClearAdvencedSearch(@SystemEnum.Pages.LocationType.GetHashCode());"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-refresh" onclick="ReBindKendoGrid('locationTypeGrid');" title="@ProjectSession.Resources.label.Common_ButtonRefreshGrid"><i></i></a>
        </li>
        @if (ProjectSession.PermissionAccess.SetupConfiguration_LocationType_Export)
        {
            <li>
                <a href="javascript:void(0);" class="btn-icon btn-xsl" onclick="ExportToExcel('locationTypeGrid', 'LocationTypeID');" title="@ProjectSession.Resources.label.Common_ButtonExportToExcel"><i></i></a>
            </li>
        }
    </ul>
</div> 

<!-- Kendo Grid -->
<div id="locationTypeData" class="@ProjectSession.CultureKendoClass">
    @(Html.Kendo().Grid<CMMS.Model.LocationType>()
        .Name("locationTypeGrid")
        .HtmlAttributes(new { @class = "kl-grid" })
        .Columns(columns =>
        {
            columns.Bound(c => c.LocationTypeCode).Title(ProjectSession.Resources.label.LocationType_TextLocationTypeCode).Width(250);

            columns.Bound(c => c.LocationTypeDesc).Title(ProjectSession.Resources.label.LocationType_TextLocationTypeDesc);

            columns.Bound(c => c.LocationTypeAltDesc).HtmlAttributes(new { @class = "text-right" }).Title(ProjectSession.Resources.label.LocationType_TextLocationTypeAltDesc);

            if (ProjectSession.PermissionAccess.SetupConfiguration_LocationType_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_LocationType_Deleterecords)
            {
                columns.Bound(c => c.LocationTypeID).ClientTemplate("<center>" + (ProjectSession.PermissionAccess.SetupConfiguration_LocationType_Editrecords ? "<a class='action' title='" + ProjectSession.Resources.label.Common_ButtonEdit + "'  style='cursor:pointer' data-toggle='modal' data-target='\\#locationTypeModal' onclick='OpenLocationTypeEditWindow(#: LocationTypeID#)'><i class='glyphicon glyphicon-pencil'></i></a>&nbsp;" : "") + "" + (ProjectSession.PermissionAccess.SetupConfiguration_LocationType_Deleterecords ? "<a class='action delete-button'  href='javascript:void(0);'  class='delete-ic' data-id='#: LocationTypeID #' style='cursor:pointer'><i class='glyphicon glyphicon-trash' title='" + ProjectSession.Resources.label.Common_ButtonDelete + "' ></i></a>" : "") + "</center>")
                                            .Title("<center>" + ProjectSession.Resources.label.Common_ButtonAction + "</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Width(80).Filterable(false);
            }
        })
        .Filterable()
        .Sortable(sortable => sortable.AllowUnsort(false))
        .Scrollable()
        .Excel(excel => excel.FileName("Location Type.xlsx").Filterable(true).AllPages(true).ProxyURL(Url.Action("Excel_Export_Save", "GridExport", new { area = string.Empty })))
        .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
        .Events(events => events.DataBound("onDataBound").ExcelExport("excelExport"))
        .DataSource(dataSource =>
                                dataSource.Ajax()
                                .PageSize(ProjectConfiguration.PageSize)
                                .Sort(model => model.Add("LocationTypeCode").Ascending())
                                 .Model(model =>
                                 {
                                     model.Id(p => p.LocationTypeID);
                                     model.Field(p => p.LocationTypeCode);
                                 })
                                .ServerOperation(true)
                                .Read(read => read.Action(Actions.GetLocationType, Controllers.Configurations, new { area = Areas.Configurations }).Data("BindParameters").Type(HttpVerbs.Post))
        )
    )

</div>

<!-- search order -->
<div id="search-order" class="modal fade" role="dialog"></div>

<!-- Tool Category Modal -->
<div id="locationTypeModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" title="@ProjectSession.Resources.label.Common_ButtonClose"></button>
                <h4 class="modal-title">@ProjectSession.Resources.menu.LocationType_MenuLocationType</h4>
            </div>
            <form role="form" id="frmLocationType">
                <input type="hidden" name="hdnLocationTypeID" id="hdnLocationTypeID" />
                <div class="modal-body">
                    <div id="Highlights" class="tab-pane active" role="tabpanel">
                        <div class="form-horizontal">
                            <div id="divModelError"></div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.LocationType_TextLocationTypeCode<span class="cfont">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="LocationTypeCode" id="txtLocationTypeCode" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.LocationType_TextLocationTypeCode" maxlength="20">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.LocationType_TextLocationTypeDesc<span class="cfont">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="LocationTypeDesc" id="txtLocationTypeDesc" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.LocationType_TextLocationTypeDesc" maxlength="2000">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.LocationType_TextLocationTypeAltDesc</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="txtLocationTypeAltDesc" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.LocationType_TextLocationTypeAltDesc" maxlength="2000">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer box-footer">
                    @if (ProjectSession.PermissionAccess.SetupConfiguration_LocationType_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_LocationType_Createnewrecords)
                    {
                        <button type="submit" class="btn btn-primary" id="btnSave"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
                    }
                    <button type="button" class="btn btn-default" data-dismiss="modal">@ProjectSession.Resources.label.Common_ButtonClose</button>
                </div>
            </form>
        </div>
    </div>
</div>


<script type="text/javascript">
    var kendoGridId = 'locationTypeGrid';
    var intPageID = '@SystemEnum.Pages.LocationType.GetHashCode()';

    $(document).ready(function () {
        validator = $('#frmLocationType').validate({
            rules: {
                LocationTypeCode: { required: true },
                LocationTypeDesc: { required: true },
            },
            messages: {
                LocationTypeCode: { required: '' },
                LocationTypeDesc: { required: '' },
            }
        });
    });

    function BindParameters() {
        return {
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };

    function OpenLocationTypeEditWindow(id) {
        if (id > 0) {
            $.ajax({
                url: '@Url.Action(Actions.GetLocationTypeByID, Controllers.Configurations, new { area = Areas.Configurations })',
                type: "POST",
                data: addRequestVerificationToken({ locationTypeId: id }),
                success: function (result) {
                    $("#hdnLocationTypeID").val(result.LocationTypeID);
                    $("#txtLocationTypeCode").val(result.LocationTypeCode);
                    $("#txtLocationTypeDesc").val(result.LocationTypeDesc);
                    $("#txtLocationTypeAltDesc").val(result.LocationTypeAltDesc);
                    @if (!ProjectSession.PermissionAccess.SetupConfiguration_LocationType_ChangeMastersCodes)
                    {
                        <text>$("#txtLocationTypeCode").attr("disabled", "disabled");</text>
                    }

                    @if (ProjectSession.PermissionAccess.SetupConfiguration_LocationType_Editrecords)
                     {
                         <text>$("#btnSave").show(); </text>
                     }
                     else if (ProjectSession.PermissionAccess.SetupConfiguration_LocationType_Createnewrecords)
                     {
                         <text>$("#btnSave").hide(); </text>
                     }

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }
        else {
            ClearAllInputs("frmLocationType");
            $("#txtLocationTypeCode").removeAttr("disabled");
            @if (ProjectSession.PermissionAccess.SetupConfiguration_LocationType_Createnewrecords)
            {
                <text>$("#btnSave").show(); </text>
            }
            else if (ProjectSession.PermissionAccess.SetupConfiguration_LocationType_Editrecords)
            {
                <text>$("#btnSave").hide(); </text>
            }
        }
    }

    $("#locationTypeGrid tbody").on("dblclick", "tr[role='row']", function (e) {
        var grid = $("#locationTypeGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        $("#locationTypeModal").modal("show");
        OpenLocationTypeEditWindow(model.LocationTypeID);
    });

</script>

@if (ProjectSession.PermissionAccess.SetupConfiguration_LocationType_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_LocationType_Createnewrecords)
{
    <script type="text/javascript">
        $('#frmLocationType').on('submit', function (e) {
            if ($("#frmLocationType").valid()) {
                if (e.isDefaultPrevented()) {
                    // handle the invalid form...
                } else {

                    var locationTypeId = $("#hdnLocationTypeID").val();
                    var changedObj = {
                        LocationTypeID: locationTypeId == '' ? 0 : locationTypeId,
                        LocationTypeCode: $("#txtLocationTypeCode").val(),
                        LocationTypeDesc: $("#txtLocationTypeDesc").val(),
                        LocationTypeAltDesc: $("#txtLocationTypeAltDesc").val(),
                    };

                    $.ajax({
                        url: '@Url.Action(Actions.ManageLocationType, Controllers.Configurations, new { area = Areas.Configurations })',
                        type: "POST",
                        data: addRequestVerificationToken(changedObj),
                        dataType: "json",
                        success: function (result) {
                            if (result[0] == 0) {
                                ShowMessage(result[1], result[2], "#divModelError");
                            }
                            else {
                                $('#locationTypeModal').modal("hide");
                                ShowMessage(result[0], result[1], "#divMessage");
                                ReBindKendoGrid("locationTypeGrid");
                            }
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            showErrorMessage();
                        }
                    });
                    e.preventDefault();
                }
            }
            else {
                e.preventDefault();
            }
        })
    </script>
}

@if (ProjectSession.PermissionAccess.SetupConfiguration_LocationType_Deleterecords)
{
    <script type="text/javascript">
        function onDataBound(arg) {
            confirmDeleteMsg(msgText, okText, cancelText, onConfirmCallback, confirmDirection);
            gridProperPaging(this);
        }


        function onConfirmCallback(sender) {
            var id = $(this).data("id");
            $.ajax({
                url: '@Url.Action(Actions.DeleteLocationType, Controllers.Configurations, new { area = Areas.Configurations })',
                type: "POST",
                data: addRequestVerificationToken({ locationTypeId: id }),
                dataType: "json",
                success: function (result) {
                    ClearAllInputs("frmLocationType");
                    ShowMessage(result[0], result[1], "#divMessage");
                    ReBindKendoGrid("locationTypeGrid");

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }
    </script>
}
else
{
    <script>
        function onDataBound(arg) {
            gridProperPaging(this);
        }
    </script>
}



