﻿@using CMMS.Infrastructure;
@using CMMS.Pages;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.AntiForgeryToken()
<div class="head1">
    <h1>@ProjectSession.Resources.label.MaintDivision_TextBlockMaintenanceDiv</h1>
    <ul class="sub_btn">
        @if (ProjectSession.PermissionAccess.SetupConfiguration_MaintenanceDivision_Createnewrecords)
        {
            <li>
                <a href="javascript:void(0);" class="btn-icon btn-add" data-toggle="modal" data-target="#maintenanceDivisionModal" data-backdrop="static" onclick="OpenMaintenanceDivisionEditWindow(0);" title="@ProjectSession.Resources.label.Common_ButtonAdd"><i></i></a>
            </li>
        }
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-search" data-toggle="modal" data-target="#search-order" onclick='OpenAdvancedSearch("@ProjectSession.Resources.label.MaintDivision_TextBlockMaintenanceDiv","@SystemEnum.Pages.MaintenanceDivision.GetHashCode()");' title="@ProjectSession.Resources.label.Common_ButtonAdvanceSearch"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-clear" title="@ProjectSession.Resources.label.Common_ButtonClear" onclick="return ClearAdvencedSearch(@SystemEnum.Pages.MaintenanceDivision.GetHashCode());"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-refresh" onclick="ReBindKendoGrid('maintenanceDivisionGrid');" title="@ProjectSession.Resources.label.Common_ButtonRefreshGrid"><i></i></a>
        </li>
        @if (ProjectSession.PermissionAccess.SetupConfiguration_MaintenanceDivision_Export)
        {
            <li>
                <a href="javascript:void(0);" class="btn-icon btn-xsl" onclick="ExportToExcel('maintenanceDivisionGrid', 'MaintDivisionID');" title="@ProjectSession.Resources.label.Common_ButtonExportToExcel"><i></i></a>
            </li>
        }
    </ul>
</div>

<!-- Kendo Grid-->
<div id="maintenanceDivisionData" class="@ProjectSession.CultureKendoClass">
    @(Html.Kendo().Grid<CMMS.Model.MainenanceDivision>()
        .Name("maintenanceDivisionGrid")
        .HtmlAttributes(new { @class = "kl-grid" })
        .Columns(columns =>
        {
            columns.Bound(c => c.MaintDivisionCode).Title(ProjectSession.Resources.label.MaintDivision_TextBlockMaintenanceDivCode).Width(250);

            columns.Bound(c => c.MaintDivisionName).Title(ProjectSession.Resources.label.MaintDivision_TextBlockMaintenanceDivDesc);

            columns.Bound(c => c.MaintDivisionAltName).HtmlAttributes(new { @class = "text-right" }).Title(ProjectSession.Resources.label.MaintDivision_TextBlockAltMaintenanceDivDesc);

            if (ProjectSession.PermissionAccess.SetupConfiguration_MaintenanceDivision_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_MaintenanceDivision_Deleterecords)
            {
                columns.Bound(c => c.MaintDivisionID).ClientTemplate("<center>" + (ProjectSession.PermissionAccess.SetupConfiguration_MaintenanceDivision_Editrecords ? "<a class='action' title='" + ProjectSession.Resources.label.Common_ButtonEdit + "'  style='cursor:pointer' data-toggle='modal' data-target='\\#maintenanceDivisionModal' onclick='OpenMaintenanceDivisionEditWindow(#: MaintDivisionID#)'><i class='glyphicon glyphicon-pencil'></i></a>&nbsp;" : "") + "" + (ProjectSession.PermissionAccess.SetupConfiguration_MaintenanceDivision_Deleterecords ? "<a class='action delete-button'  href='javascript:void(0);'  class='delete-ic' data-id='#: MaintDivisionID #' style='cursor:pointer'><i class='glyphicon glyphicon-trash' title='" + ProjectSession.Resources.label.Common_ButtonDelete + "' ></i></a>" : "") + "</center>")
                                            .Title("<center>" + ProjectSession.Resources.label.Common_ButtonAction + "</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Width(80).Filterable(false);
            }
        })
        .Filterable()
        .Sortable(sortable => sortable.AllowUnsort(false)) 
        .Scrollable()
        .Excel(excel => excel.FileName("Maintenance Division.xlsx").Filterable(true).AllPages(true).ProxyURL(Url.Action("Excel_Export_Save", "GridExport", new { area = string.Empty })))
        .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
        .Events(events => events.DataBound("onDataBound").ExcelExport("excelExport"))
        .DataSource(dataSource =>
                                dataSource.Ajax()
                                .PageSize(ProjectConfiguration.PageSize)
                                .Sort(model => model.Add("MaintDivisionCode").Ascending())
                                 .Model(model =>
                                 {
                                     model.Id(p => p.MaintDivisionID);
                                     model.Field(p => p.MaintDivisionName);
                                 })
                                .ServerOperation(true)
                                .Read(read => read.Action(Actions.GetMaintenanceDivision, Controllers.Configurations, new { area = Areas.Configurations }).Data("BindParameters").Type(HttpVerbs.Post))
        )
    )

</div>

<!-- search order -->
<div id="search-order" class="modal fade" role="dialog"></div>

<!-- Maintenance Division Modal -->
<div id="maintenanceDivisionModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" title="@ProjectSession.Resources.label.Common_ButtonClose"></button>
                <h4 class="modal-title">@ProjectSession.Resources.label.MaintDivision_TextBlockMaintenanceDiv</h4>
            </div>
            <form role="form" id="frmMaintenanceDivision">
                <input type="hidden" name="hdnMaintDivisionID" id="hdnMaintDivisionID" />
                <div class="modal-body">
                    <div id="Highlights" class="tab-pane active" role="tabpanel">
                        <div class="form-horizontal">
                            <div id="divModelError"></div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.MaintDivision_TextBlockMaintenanceDivCode<span class="cfont">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="MaintDivisionCode" id="txtMaintDivisionCode" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.MaintDivision_TextBlockMaintenanceDivCode" maxlength="50">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.MaintDivision_TextBlockMaintenanceDivDesc<span class="cfont">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="MaintDivisionName" id="txtMaintDivisionName" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.MaintDivision_TextBlockMaintenanceDivDesc" maxlength="250">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.MaintDivision_TextBlockAltMaintenanceDivDesc</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="MaintDivisionAltName" id="txtMaintDivisionAltName" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.MaintDivision_TextBlockAltMaintenanceDivDesc" maxlength="250">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer box-footer">
                    @if (ProjectSession.PermissionAccess.SetupConfiguration_MaintenanceDivision_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_MaintenanceDivision_Createnewrecords)
                    {
                        <button type="submit" class="btn btn-primary" id="btnSave"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
                    }
                    <button type="button" class="btn btn-default" data-dismiss="modal">@ProjectSession.Resources.label.Common_ButtonClose</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    var kendoGridId = 'maintenanceDivisionGrid';
    var intPageID = '@SystemEnum.Pages.MaintenanceDivision.GetHashCode()';

    $(document).ready(function () {
        validator = $('#frmMaintenanceDivision').validate({
            rules: {
                MaintDivisionCode: { required: true },
                MaintDivisionName: { required: true },
            },
            messages: {
                MaintDivisionCode: { required: '' },
                MaintDivisionName: { required: '' },
            }
        });
    });

    function BindParameters() {
        return {
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };

    $("#maintenanceDivisionGrid tbody").on("dblclick", "tr[role='row']", function (e) {
        var grid = $("#maintenanceDivisionGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        $("#maintenanceDivisionModal").modal("show");
        OpenMaintenanceDivisionEditWindow(model.MaintDivisionID);
    });

    function OpenMaintenanceDivisionEditWindow(id) {
        if (id > 0) {
            $.ajax({
                url: '@Url.Action(Actions.GetMaintenanceDivisionByID, Controllers.Configurations, new { area = Areas.Configurations })',
                type: "POST",
                data: addRequestVerificationToken({ maintDivisionId: id }),
                success: function (result) {
                    $("#hdnMaintDivisionID").val(result.MaintDivisionID);
                    $("#txtMaintDivisionCode").val(result.MaintDivisionCode);
                    $("#txtMaintDivisionName").val(result.MaintDivisionName);
                    $("#txtMaintDivisionAltName").val(result.MaintDivisionAltName);
                    @if (!ProjectSession.PermissionAccess.SetupConfiguration_MaintenanceDivision_ChangeMastersCodes)
                    {
                        <text>$("#txtMaintDivisionCode").attr("disabled", "disabled");</text>    
                    }
                    
                     @if (ProjectSession.PermissionAccess.SetupConfiguration_MaintenanceDivision_Editrecords)
                     {
                         <text>$("#btnSave").show(); </text>
                     }
                     else if (ProjectSession.PermissionAccess.SetupConfiguration_MaintenanceDivision_Createnewrecords)
                     {
                         <text>$("#btnSave").hide(); </text>
                     }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }
        else {

            @if (ProjectSession.PermissionAccess.SetupConfiguration_MaintenanceDivision_Createnewrecords)
            {
                <text>$("#btnSave").show(); </text>
            }
            else if (ProjectSession.PermissionAccess.SetupConfiguration_MaintenanceDivision_Editrecords)
            {
                <text>$("#btnSave").hide(); </text>
            }
            $("#txtMaintDivisionCode").removeAttr("disabled");
            ClearAllInputs("frmMaintenanceDivision");
        }
    }

</script>

@if (ProjectSession.PermissionAccess.SetupConfiguration_MaintenanceDivision_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_MaintenanceDivision_Createnewrecords)
{
    <script type="text/javascript">

    $('#frmMaintenanceDivision').on('submit', function (e) {
        if ($("#frmMaintenanceDivision").valid()) {
            if (e.isDefaultPrevented()) {
                // handle the invalid form...
            } else {

                var maintDivisionID = $("#hdnMaintDivisionID").val();
                var changedObj = {
                    MaintDivisionID: maintDivisionID == '' ? 0 : maintDivisionID,
                    MaintDivisionCode: $("#txtMaintDivisionCode").val(),
                    MaintDivisionName: $("#txtMaintDivisionName").val(),
                    MaintDivisionAltName: $("#txtMaintDivisionAltName").val(),
                };

                $.ajax({
                    url: '@Url.Action(Actions.ManageMaintenanceDivision, Controllers.Configurations, new { area = Areas.Configurations })',
                    type: "POST",
                    data: addRequestVerificationToken(changedObj),
                    dataType: "json",
                    success: function (result) {
                        if (result[0] == 0) {
                            ShowMessage(result[1], result[2], "#divModelError");
                        }
                        else {
                            $('#maintenanceDivisionModal').modal("hide");
                            ShowMessage(result[0], result[1], "#divMessage");
                            ReBindKendoGrid("maintenanceDivisionGrid");
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        showErrorMessage();
                    }
                });
                e.preventDefault();
            }
        }
        else {
            e.preventDefault();
        }
    })
    </script>
}
@if (ProjectSession.PermissionAccess.SetupConfiguration_MaintenanceDivision_Deleterecords)
{
    <script type="text/javascript">

        function onDataBound(arg) {
            confirmDeleteMsg(msgText, okText, cancelText, onConfirmCallback, confirmDirection);
            gridProperPaging(this);
        }

        function onConfirmCallback(sender) {
            var id = $(this).data("id");
            $.ajax({
                url: '@Url.Action(Actions.DeleteMaintenanceDivision, Controllers.Configurations, new { area = Areas.Configurations })',
                type: "POST",
                data: addRequestVerificationToken({ maintDivisionId: id }),
                dataType: "json",
                success: function (result) {
                    ClearAllInputs("frmMaintenanceDivision");
                    ShowMessage(result[0], result[1], "#divMessage");
                    ReBindKendoGrid("maintenanceDivisionGrid");
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }

    </script>
}
else
{
    <script type="text/javascript">
        function onDataBound(arg) {
            gridProperPaging(this);
        }
    </script>
}


