﻿@using CMMS.Infrastructure;
@using CMMS.Pages;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool Lang = ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true;
}
@Html.AntiForgeryToken()
<div class="head1">
    <h1>@ProjectSession.Resources.label.MaintenanceGroup_TextBlockMaintenanceGroup</h1>
    <ul class="sub_btn">
        @if (ProjectSession.PermissionAccess.SetupConfiguration_MaintenanceGroups_Createnewrecords)
        {
            <li>
                <a href="javascript:void(0);" class="btn-icon btn-add" data-toggle="modal" data-target="#divMaintenanceGroupModal" data-backdrop="static" onclick="OpenMaintenanceGroupEditWindow(0);" title="@ProjectSession.Resources.label.Common_ButtonAdd"><i></i></a>
            </li>
        }
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-search" data-toggle="modal" data-target="#search-order" onclick='OpenAdvancedSearch("@ProjectSession.Resources.label.MaintenanceGroup_TextBlockMaintenanceGroup","@SystemEnum.Pages.MaintenanceGroup.GetHashCode()");' title="@ProjectSession.Resources.label.Common_ButtonAdvanceSearch"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-clear" title="@ProjectSession.Resources.label.Common_ButtonClear" onclick="return ClearAdvencedSearch(@SystemEnum.Pages.MaintenanceGroup.GetHashCode());"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-refresh" onclick="ReBindKendoGrid('maintenanceGroupGrid');" title="@ProjectSession.Resources.label.Common_ButtonRefreshGrid"><i></i></a>
        </li>
        @if (ProjectSession.PermissionAccess.SetupConfiguration_MaintenanceGroups_Export)
        {
            <li>
                <a href="javascript:void(0);" class="btn-icon btn-xsl" onclick="ExportToExcel('maintenanceGroupGrid', 'GroupID');" title="@ProjectSession.Resources.label.Common_ButtonExportToExcel"><i></i></a>
            </li>
        }
    </ul>
</div>

<!-- Kendo Grid-->
<div id="maintenanceGroupData" class="@ProjectSession.CultureKendoClass">
    @(Html.Kendo().Grid<CMMS.Model.MaintGroup>()
        .HtmlAttributes(new { @class = "kl-grid" })
        .Name("maintenanceGroupGrid")
        .Columns(columns =>
        {
            columns.Bound(c => c.GroupCode).Title(ProjectSession.Resources.label.MaintenanceGroup_TextBlockMaintenanceGroupCode).Width(220);

            columns.Bound(c => c.GroupDesc).Title(ProjectSession.Resources.label.MaintenanceGroup_TextBlockMaintenanceGroupDesc);

            columns.Bound(c => c.GroupAltDesc).HtmlAttributes(new { @class = "text-right" }).Title(ProjectSession.Resources.label.MaintenanceGroup_TextBlockAltMaintenanceGroupDesc);

            columns.Bound(c => c.L2Code).Title(ProjectSession.Resources.label.JobRequest_TextBlockCityCode)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterSite", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

            if (ProjectSession.PermissionAccess.SetupConfiguration_MaintenanceGroups_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_MaintenanceGroups_Deleterecords)
            {
                columns.Bound(c => c.GroupID).ClientTemplate("<center>" + (ProjectSession.PermissionAccess.SetupConfiguration_MaintenanceGroups_Editrecords ? "<a class='action' title='" + ProjectSession.Resources.label.Common_ButtonEdit + "'  style='cursor:pointer' data-toggle='modal' data-target='\\#divMaintenanceGroupModal' onclick='OpenMaintenanceGroupEditWindow(#: GroupID#)'><i class='glyphicon glyphicon-pencil'></i></a>&nbsp;" : "") + "" + (ProjectSession.PermissionAccess.SetupConfiguration_MaintenanceGroups_Deleterecords ? "<a class='action delete-button'  href='javascript:void(0);'  class='delete-ic' data-id='#: GroupID #' style='cursor:pointer'><i class='glyphicon glyphicon-trash' title='" + ProjectSession.Resources.label.Common_ButtonDelete + "' ></i></a>" : "") + "</center>")
                                            .Title("<center>" + ProjectSession.Resources.label.Common_ButtonAction + "</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Width(80).Filterable(false);
            }
        })
        .Filterable()
        .Sortable(sortable => sortable.AllowUnsort(false)) 
        .Excel(excel => excel.FileName("Maintenance Team.xlsx").Filterable(true).AllPages(true).ProxyURL(Url.Action("Excel_Export_Save", "GridExport", new { area = string.Empty })))
        .Scrollable()
        .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
        .Events(events => events.DataBound("onDataBound").ExcelExport("excelExport"))
        .DataSource(dataSource =>
                                dataSource.Ajax()
                                .PageSize(ProjectConfiguration.PageSize)
                                .Sort(model => model.Add("GroupCode").Ascending())
                                 .Model(model =>
                                 {
                                     model.Id(p => p.GroupID);
                                     model.Field(p => p.GroupDesc);
                                 })
                                .ServerOperation(true)
                                .Read(read => read.Action(Actions.GetMaintenanceGroup, Controllers.Configurations, new { area = Areas.Configurations }).Data("BindParameters").Type(HttpVerbs.Post))
        )
    )

</div>

<!-- search order -->
<div id="search-order" class="modal fade" role="dialog"></div>

<!-- Emoployee Grid Modal-->
<div id="employeeGridModal" class="modal fade" role="dialog" style="z-index:100000 !important">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" title="@ProjectSession.Resources.label.Common_ButtonClose"></button>
                <h4 class="modal-title">@ProjectSession.Resources.label.Employee_RadTabItemEmployee</h4>
            </div>
            <div class="modal-body">
                <div id="Highlights" class="tab-pane active" role="tabpanel">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div id="employeeData" class="@ProjectSession.CultureKendoClass">
                                    @(Html.Kendo().Grid<CMMS.Model.employees>()
                                     .Name("employeeGrid")
                                    .HtmlAttributes(new { @class = "kl-grid" })
                                    .Columns(columns =>
                                    {
                                        columns.Bound(c => c.EmployeeNO).Title(ProjectSession.Resources.label.Employee_TextBlockEmployeeNO).Width(150);

                                        columns.Bound(c => c.L2Code).Title(ProjectSession.Resources.label.JobRequest_TextBlockCityCode).Width(150)
                                        .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterSite", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

                                        columns.Bound(c => c.Name).Title(ProjectSession.Resources.label.Employee_TextBlockEmployeeName).Width(200);

                                        columns.Bound(c => c.MaintDivisionCode).Title(ProjectSession.Resources.label.MaintDivision_TextBlockMaintDivCode).Width(150)
                                        .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterMaintenanceDivision", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

                                        columns.Bound(c => c.MaintDeptCode).Title(ProjectSession.Resources.label.MaintenanceDept_TextBlockMaintDeptCode).Width(150)
                                       .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterMaintenanceDepartment", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

                                        columns.Bound(c => c.MaintSubDeptCode).Title(ProjectSession.Resources.label.MaintenanceSubDept_TextBlockMaintSubDeptCode).Width(180)
                                        .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterMaintenanceSubDepartment", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

                                        columns.Bound(c => c.Positions).Title(ProjectSession.Resources.label.Employee_TextBlockDesignation).Width(150);

                                        columns.Bound(c => c.CategoryName).Title(ProjectSession.Resources.label.Employee_TextBlockEmployeeCategory).Width(200)
                                        .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterEmpCategory", "GridFilter", new { area = string.Empty, @id = "1" }).Data("BindParameters").Type(HttpVerbs.Post))));

                                        columns.Bound(c => c.EmployeeStatus).Title(ProjectSession.Resources.label.Employee_TextBlockEmployeeStatus).Width(150)
                                        .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterEmpStatus", "GridFilter", new { area = string.Empty, @id = "1" }).Data("BindParameters").Type(HttpVerbs.Post))));
                                    })
                                    .Filterable()
                                    .Sortable(sortable => sortable.AllowUnsort(false))
                                    .Scrollable()
                                    .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
                                    .Events(events => events.DataBound("onDataBoundEmployee"))
                                    .DataSource(dataSource => dataSource.Ajax()
                                    .PageSize(ProjectConfiguration.PageSize)
                                     .Model(model =>
                                     {
                                         model.Id(p => p.EmployeeID);
                                         model.Field(p => p.Name);
                                     })
                                    .ServerOperation(true)
                                    .Read(read => read.Action(Actions.GetEmployeeAssignPage, Controllers.Management, new { area = Areas.Management }).Data("BindParametersEmp").Type(HttpVerbs.Post))
                                    )
                                    )

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Sector Modal -->
<div class="modal fade"  id="divMaintenanceGroupModal" role="dialog" data-backdrop="static" data-keyboard="false"></div>

<script type="text/javascript">
    var kendoGridId = 'maintenanceGroupGrid';
    var intPageID = '@SystemEnum.Pages.MaintenanceGroup.GetHashCode()';


    function BindParameters() {
        return {
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function BindParametersEmp() {
        return {
            cityID: 0,
            type: 0,
            strWhere: "",
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function onEmployeeAdditionalData() {
        return {
            cityID: 0,
            type: 0,
            text: $("#txtEmployeeDescription").val(),
        };
    }

    function BindParameterFromEmployee() {
        return {
            maintGroupID: $("#hdnGroupID").val(),
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };

    function onDataBound(arg) {
        gridProperPaging(this);
    }

    function onEmployeeAutoSelect(e) {
        var model = this.dataItem(e.item.index());
        $("#employeeGridModal").modal("hide");
        $("#txtEmployeeNo").val(model.EmployeeNO);
        $("#hdnEmployeeID").val(model.EmployeeID);
        $("#hdnEmployeeDesig").val(model.Positions);
    }


    $("#employeeGrid tbody").on("dblclick", "tr[role='row']", function (e) {
        var grid = $("#employeeGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        $("#employeeGridModal").modal("hide");
        $("#txtEmployeeNo").val(model.EmployeeNO);
        $("#txtEmployeeDescription").val(model.Name);
        $("#hdnEmployeeID").val(model.EmployeeID);
        $("#hdnEmployeeDesig").val(model.Positions);
    });

    $("#maintenanceGroupGrid tbody").on("dblclick", "tr[role='row']", function (e) {
        var grid = $("#maintenanceGroupGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        $("#divMaintenanceGroupModal").modal("show");
        OpenMaintenanceGroupEditWindow(model.GroupID);
    });
</script>

<script>

    //$('body').on('shown.bs.modal', '#modal', function (e) {
    //    alert(11);
    //    $(document).off("focusin.modal");
    //});

    //$('body').on('shown.bs.modal', function (e) {
        
    //    //$(this).find(":input").not(":button,:hidden").first().focus();
       
    //    //$(this).find("#divMessageForgot").html('');
    //    //CreateCalendarsPicker();
    //});
    
    function OpenMaintenanceGroupEditWindow(id) {
        $("#divMaintenanceGroupModal").html('');
        var url = '@Url.Action(Actions._EditMaintenanceGroup, Controllers.Configurations, new { Area = Areas.Configurations })' + "?groupId=" + id;
        $("#divMaintenanceGroupModal").load(url);
    }

    function onDataBoundEmployee(arg) {
        gridProperPaging(this);
    }

    function onDataBoundemployeeFromGrid(arg) {
        gridProperPaging(this);
    }

    function onDataBoundemployeeFromGrid(arg) {
        confirmDeleteInnerMsg(msgText, okText, cancelText, onConfirmEmployeeCallback, confirmDirection);
        gridProperPaging(this);
    }

    function onConfirmEmployeeCallback(sender) {
        var id = $(this).data("id");
        var groupId = $("#hdnGroupID").val();
        if (id > 0 && groupId > 0) {
            $.ajax({
                url: '@Url.Action(Actions.DeleteEmployeeMaintenanceGroup, Controllers.Configurations, new { area = Areas.Configurations })',
                type: "POST",
                data: addRequestVerificationToken({ maintGroupID: groupId, employeeId: id }),
                dataType: "json",
                success: function (result) {
                    ReBindKendoGrid("employeeFromGrid");
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }
    }
</script>

@if (ProjectSession.PermissionAccess.SetupConfiguration_MaintenanceGroups_Deleterecords)
{
    <script type="text/javascript">

        function onDataBound(arg) {
            confirmDeleteMsg(msgText, okText, cancelText, onConfirmCallback, confirmDirection);
            gridProperPaging(this);
        }

        function onConfirmCallback(sender) {
            var id = $(this).data("id");
            $.ajax({
                url: '@Url.Action(Actions.DeleteMaintenanceGroup, Controllers.Configurations, new { area = Areas.Configurations })',
                type: "POST",
                data: addRequestVerificationToken({ groupId: id }),
                dataType: "json",
                success: function (result) {
                    ClearAllInputs("frmMaintGroup");
                    ShowMessage(result[0], result[1], "#divMessage");
                    ReBindKendoGrid("maintenanceGroupGrid");

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }

    </script>
}
else
{
    <script>
        function onDataBound(arg) {
            gridProperPaging(this);
        }
    </script>
}


