﻿@using CMMS.Infrastructure;
@using CMMS.Pages;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.AntiForgeryToken()
<div class="head1">
    <h1>@ProjectSession.Resources.label.MaintenanceSubDept_TextBlockMaintenanceSubDeptCodes</h1>
    <ul class="sub_btn">
        @if (ProjectSession.PermissionAccess.SetupConfiguration_MaintenanceSubDepartment_Createnewrecords)
        {
            <li>
                <a href="javascript:void(0);" class="btn-icon btn-add" data-toggle="modal" data-target="#maintSubDeptModal" data-backdrop="static" onclick="OpenMaintSubDeptEditWindow(0);" title="@ProjectSession.Resources.label.Common_ButtonAdd"><i></i></a>
            </li>
        }
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-search" data-toggle="modal" data-target="#search-order" onclick='OpenAdvancedSearch("@ProjectSession.Resources.label.MaintenanceSubDept_TextBlockMaintenanceSubDeptCodes","@SystemEnum.Pages.MaintenanceSubDepartment.GetHashCode()");' title="@ProjectSession.Resources.label.Common_ButtonAdvanceSearch"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-clear" title="@ProjectSession.Resources.label.Common_ButtonClear" onclick="return ClearAdvencedSearch(@SystemEnum.Pages.MaintenanceSubDepartment.GetHashCode());"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-refresh" onclick="ReBindKendoGrid('maintSubDeptGrid');" title="@ProjectSession.Resources.label.Common_ButtonRefreshGrid"><i></i></a>
        </li>
        @if (ProjectSession.PermissionAccess.SetupConfiguration_MaintenanceSubDepartment_Export)
        {
            <li>
                <a href="javascript:void(0);" class="btn-icon btn-xsl" onclick="ExportToExcel('maintSubDeptGrid', 'MaintSubDeptID');" title="@ProjectSession.Resources.label.Common_ButtonExportToExcel"><i></i></a>
            </li>
        }
    </ul>
</div>

<!-- Kendo Grid-->
<div id="maintSubDeptData" class="@ProjectSession.CultureKendoClass">
    @(Html.Kendo().Grid<CMMS.Model.MaintSubDept>()
        .HtmlAttributes(new { @class = "kl-grid" })
        .Name("maintSubDeptGrid")
        .Columns(columns =>
        {
            columns.Bound(c => c.MaintSubDeptCode).Title(ProjectSession.Resources.label.MaintenanceSubDept_TextBlockMaintenanceSubDeptCode).Width(200);

            columns.Bound(c => c.MaintSubDeptDesc).Title(ProjectSession.Resources.label.MaintenanceSubDept_TextBlockMaintenanceSubDeptDesc);

            columns.Bound(c => c.MaintSubDeptAltDesc).HtmlAttributes(new { @class = "text-right" }).Title(ProjectSession.Resources.label.MaintenanceSubDept_TextBlockAltMaintenanceSubDeptDesc);

            columns.Bound(c => c.MaintDivisionCode).Title(ProjectSession.Resources.label.MaintDivision_TextBlockMaintenanceDivision)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterMaintenanceDivision", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

            columns.Bound(c => c.MaintDeptCode).Title(ProjectSession.Resources.label.MaintenanceDept_TextBlockMaintDeptCode)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterMaintenanceDepartment", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

            if (ProjectSession.PermissionAccess.SetupConfiguration_MaintenanceSubDepartment_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_MaintenanceSubDepartment_Deleterecords)
            {
                columns.Bound(c => c.MaintSubDeptID).ClientTemplate("<center>" + (ProjectSession.PermissionAccess.SetupConfiguration_MaintenanceSubDepartment_Editrecords ? "<a class='action' title='" + ProjectSession.Resources.label.Common_ButtonEdit + "'  style='cursor:pointer' data-toggle='modal' data-target='\\#maintSubDeptModal' onclick='OpenMaintSubDeptEditWindow(#: MaintSubDeptID#)'><i class='glyphicon glyphicon-pencil'></i></a>&nbsp;" : "") + "" + (ProjectSession.PermissionAccess.SetupConfiguration_MaintenanceSubDepartment_Deleterecords ? "<a class='action delete-button'  href='javascript:void(0);'  class='delete-ic' data-id='#: MaintSubDeptID #' style='cursor:pointer'><i class='glyphicon glyphicon-trash' title='" + ProjectSession.Resources.label.Common_ButtonDelete + "' ></i></a>" : "") + "</center>")
                                            .Title("<center>" + ProjectSession.Resources.label.Common_ButtonAction + "</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Width(80).Filterable(false);
            }
        })
        .Filterable()
        .Sortable(sortable => sortable.AllowUnsort(false))
        .Scrollable()
        .Excel(excel => excel.FileName("Maintenance Sub Department.xlsx").Filterable(true).AllPages(true).ProxyURL(Url.Action("Excel_Export_Save", "GridExport", new { area = string.Empty })))
        .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
        .Events(events => events.DataBound("onDataBound").ExcelExport("excelExport"))
        .DataSource(dataSource =>
                                dataSource.Ajax()
                                .PageSize(ProjectConfiguration.PageSize)
                                .Sort(model => model.Add("MaintSubDeptCode").Ascending())
                                 .Model(model =>
                                 {
                                     model.Id(p => p.MaintSubDeptID);
                                     model.Field(p => p.MaintSubDeptDesc);
                                 })
                                .ServerOperation(true)
                                .Read(read => read.Action(Actions.GetMaintenanceSubDepartment, Controllers.Configurations, new { area = Areas.Configurations }).Data("BindParameters").Type(HttpVerbs.Post))
        )
    )

</div>

<!-- search order -->
<div id="search-order" class="modal fade" role="dialog"></div>

<!-- Maintenance Sub Department Modal -->
<div id="maintSubDeptModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" title="@ProjectSession.Resources.label.Common_ButtonClose"></button>
                <h4 class="modal-title">@ProjectSession.Resources.label.MaintenanceSubDept_TextBlockMaintenanceSubDeptCodes</h4>
            </div>
            <form role="form" id="frmMaintSubDept">
                <input type="hidden" name="hdnMaintSubDeptID" id="hdnMaintSubDeptID" />
                <div class="modal-body">
                    <div id="Highlights" class="tab-pane active" role="tabpanel">
                        <div class="form-horizontal">
                            <div id="divModelError"></div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.MaintenanceSubDept_TextBlockMaintenanceSubDeptCode<span class="cfont">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="MaintSubDeptCode" id="txtMaintSubDeptCode" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.MaintenanceSubDept_TextBlockMaintenanceSubDeptCode" maxlength="50">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.MaintenanceSubDept_TextBlockMaintenanceSubDeptDesc<span class="cfont">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="MaintSubDeptDesc" id="txtMaintSubDeptDesc" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.MaintenanceSubDept_TextBlockMaintenanceSubDeptDesc" maxlength="500">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.MaintenanceSubDept_TextBlockAltMaintenanceSubDeptDesc</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="MaintSubDeptAltDesc" id="txtMaintSubDeptAltDesc" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.MaintenanceSubDept_TextBlockAltMaintenanceSubDeptDesc" maxlength="500">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.MaintDivision_TextBlockMaintenanceDivision<span class="cfont">*</span></label>
                                <div class="col-sm-8">
                                    <div class="@ProjectSession.CultureKendoClass">
                                        @(Html.Kendo().DropDownList()
                                            .Name("drpMaintenanceDivision")
                                            .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                            .DataTextField("MaintDivisionCode")
                                            .DataValueField("MaintDivisionID")
                                            .HtmlAttributes(new { style = "width: 100%", @required = "required" })
                                            .Template("#= KendoDDLTemplate(data.MaintDivisionCode ,data.MaintDivisionName, data.MaintDivisionAltName) #")
                                            .Events(m => m.Change("ChangeMaintDivision"))
                                            .DataSource(source =>
                                            {
                                                source.Read(read =>
                                                {
                                                    read.Action(Actions.GetAllMaintenanceDivisions, Controllers.Configurations, new { area = Areas.Configurations });
                                                });
                                            })
                                            .Value("")
                                        )
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.MaintenanceDept_TextBlockMaintDeptCode<span class="cfont">*</span></label>
                                <div class="col-sm-8">
                                    <div class="@ProjectSession.CultureKendoClass">
                                        @(Html.Kendo().DropDownList()
                                            .Name("drpMaintenanceDepartment")
                                            .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                            .DataTextField("MaintDeptCode")
                                            .DataValueField("MaintDeptID")
                                            .HtmlAttributes(new { style = "width: 100%", @required = "required" })
                                            .Template("#= KendoDDLTemplate(data.MaintDeptCode ,data.MaintDeptdesc, data.MaintDeptAltdesc) #")
                                            .Value(""))
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer box-footer">
                    @if (ProjectSession.PermissionAccess.SetupConfiguration_MaintenanceSubDepartment_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_MaintenanceSubDepartment_Createnewrecords)
                    {
                        <button type="submit" class="btn btn-primary" id="btnSave"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
                    }
                    <button type="button" class="btn btn-default" data-dismiss="modal">@ProjectSession.Resources.label.Common_ButtonClose</button>
                </div>
            </form>
        </div>
    </div>
</div>


<script type="text/javascript">
    var kendoGridId = 'maintSubDeptGrid';
    var intPageID = '@SystemEnum.Pages.MaintenanceSubDepartment.GetHashCode()';

    $(document).ready(function () {
        validator = $('#frmMaintSubDept').validate({
            rules: {
                MaintSubDeptCode: { required: true },
                MaintSubDeptDesc: { required: true },
            },
            messages: {
                MaintDeptCode: { required: '' },
                MaintDeptdesc: { required: '' },
            }
        });
    });

    function BindParameters() {
        return {
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };

    function OpenMaintSubDeptEditWindow(id) {
        if (id > 0) {
            $.ajax({
                url: '@Url.Action(Actions.GetMaintenanceSubDepartmentByID, Controllers.Configurations, new { area = Areas.Configurations })',
                type: "POST",
                data: addRequestVerificationToken({ maintSubDepartmentId: id }),
                success: function (result) {
                    $("#hdnMaintSubDeptID").val(result.MaintSubDeptID);
                    $("#txtMaintSubDeptCode").val(result.MaintSubDeptCode);
                    $("#txtMaintSubDeptDesc").val(result.MaintSubDeptDesc);
                    $("#txtMaintSubDeptAltDesc").val(result.MaintSubDeptAltDesc);
                    $("#drpMaintenanceDivision").data("kendoDropDownList").value(result.MaintDivisionID);
                    $("#drpMaintenanceDivision").data("kendoDropDownList").trigger("change");
                    $("#drpMaintenanceDepartment").data("kendoDropDownList").value(result.MaintDeptID);

                    @if (!ProjectSession.PermissionAccess.SetupConfiguration_MaintenanceSubDepartment_ChangeMastersCodes)
                    {
                        <text>$("#txtMaintSubDeptCode").attr("disabled", "disabled");</text>
                    }

                    @if (ProjectSession.PermissionAccess.SetupConfiguration_MaintenanceSubDepartment_Editrecords)
                    {
                        <text>$("#btnSave").show(); </text>
                    }
                    else if (ProjectSession.PermissionAccess.SetupConfiguration_MaintenanceSubDepartment_Createnewrecords)
                    {
                        <text>$("#btnSave").hide(); </text>
                    }

                    if (result.IsEnableMaintDivDept) {
                        $('#drpMaintenanceDivision').data("kendoDropDownList").enable(false);
                        $('#drpMaintenanceDepartment').data("kendoDropDownList").enable(false);
                    }
                    else {
                        $('#drpMaintenanceDivision').data("kendoDropDownList").enable(true);
                        $('#drpMaintenanceDepartment').data("kendoDropDownList").enable(true);
                    }

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }
        else {

            @if (ProjectSession.PermissionAccess.SetupConfiguration_MaintenanceSubDepartment_Createnewrecords)
            {
                <text>$("#btnSave").show(); </text>
            }
            else if (ProjectSession.PermissionAccess.SetupConfiguration_MaintenanceSubDepartment_Editrecords)
            {
                <text>$("#btnSave").hide(); </text>
            }
            $("#txtMaintSubDeptCode").removeAttr("disabled");
            $('#drpMaintenanceDivision').data("kendoDropDownList").enable(true);
            $('#drpMaintenanceDepartment').data("kendoDropDownList").enable(true);
            ClearAllInputs("frmMaintSubDept");
            $("#drpMaintenanceDivision").data("kendoDropDownList").value("");
            $("#drpMaintenanceDivision").data("kendoDropDownList").trigger("change");
        }
    }

    function ChangeMaintDivision(e) {
        var dataItem = this.dataItem(e.item);
        $.ajax({
            url: '@Url.Action(Actions.GetMaintDeptByDivisionID, Controllers.Configurations, new { area = Areas.Configurations })',
            type: 'Get',
            data: { maintDivisionId: dataItem.MaintDivisionID == "" ? 0 : dataItem.MaintDivisionID },
            cache: false,
            async: false,
            success: function (result) {
                $('#drpMaintenanceDepartment').data('kendoDropDownList').dataSource.data(result);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                showErrorMessage();
            }
        });
    }

    $("#maintSubDeptGrid tbody").on("dblclick", "tr[role='row']", function (e) {
        var grid = $("#maintSubDeptGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        $("#maintSubDeptModal").modal("show");
        OpenMaintSubDeptEditWindow(model.MaintSubDeptID);
    });
</script>

@if (ProjectSession.PermissionAccess.SetupConfiguration_MaintenanceSubDepartment_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_MaintenanceSubDepartment_Createnewrecords)
{
    <script type="text/javascript">

        $('#frmMaintSubDept').on('submit', function (e) {
            if ($("#frmMaintSubDept").valid()) {
                if (!e.isDefaultPrevented()) {
                    if (reValidateDropDowns($(this))) {
                        var maintSubDeptId = $("#hdnMaintSubDeptID").val();
                        var changedObj = {
                            MaintSubDeptID: maintSubDeptId == '' ? 0 : maintSubDeptId,
                            MaintSubDeptCode: $("#txtMaintSubDeptCode").val(),
                            MaintSubDeptDesc: $("#txtMaintSubDeptDesc").val(),
                            MaintSubDeptAltDesc: $("#txtMaintSubDeptAltDesc").val(),
                            MaintDivisionID: $("#drpMaintenanceDivision").val(),
                            MaintDeptID: $("#drpMaintenanceDepartment").val(),
                        };
                        $.ajax({
                            url: '@Url.Action(Actions.ManageMaintenanceSubDepartment, Controllers.Configurations, new { area = Areas.Configurations })',
                            type: "POST",
                            data: addRequestVerificationToken(changedObj),
                            dataType: "json",
                            success: function (result) {
                                if (result[0] == 0) {
                                    ShowMessage(result[1], result[2], "#divModelError");
                                }
                                else {
                                    $('#maintSubDeptModal').modal("hide");
                                    ShowMessage(result[0], result[1], "#divMessage");
                                    ReBindKendoGrid("maintSubDeptGrid");
                                }
                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                showErrorMessage();
                            }
                        });
                    }
                    e.preventDefault();
                }
            }
            else {
                e.preventDefault();
            }
        })
    </script>
}

@if (ProjectSession.PermissionAccess.SetupConfiguration_MaintenanceSubDepartment_Deleterecords)
{
    <script type="text/javascript">

        function onDataBound(arg) {
            confirmDeleteMsg(msgText, okText, cancelText, onConfirmCallback, confirmDirection);
            gridProperPaging(this);
        }

        function onConfirmCallback(sender) {
            var id = $(this).data("id");
            $.ajax({
                url: '@Url.Action(Actions.DeleteMaintenanceSubDepartment, Controllers.Configurations, new { area = Areas.Configurations })',
                type: "POST",
                data: addRequestVerificationToken({ maintSubDepartmentId: id }),
                dataType: "json",
                success: function (result) {
                    ClearAllInputs("frmMaintSubDept");
                    ShowMessage(result[0], result[1], "#divMessage");
                    ReBindKendoGrid("maintSubDeptGrid");
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }


    </script>
}
else
{
    <script type="text/javascript">
        function onDataBound(arg) {
            gridProperPaging(this);
        }
    </script>
}