﻿@using CMMS.Infrastructure;
@using CMMS.Pages;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.AntiForgeryToken()
<div class="head1">
    <h1>@ProjectSession.Resources.label.MaintenanceDept_TextBlockMaintDept</h1>
    <ul class="sub_btn">
        @if (ProjectSession.PermissionAccess.SetupConfiguration_MaintenanceDepartment_Createnewrecords)
        {
            <li>
                <a href="javascript:void(0);" class="btn-icon btn-add" data-toggle="modal" data-target="#maintenanceDepartmentModal" data-backdrop="static" onclick="OpenMaintenanceDepartmentEditWindow(0);" title="@ProjectSession.Resources.label.Common_ButtonAdd"><i></i></a>
            </li>
        }
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-search" data-toggle="modal" data-target="#search-order" onclick='OpenAdvancedSearch("@ProjectSession.Resources.label.MaintenanceDept_TextBlockMaintDept","@SystemEnum.Pages.MaintenanceDepartment.GetHashCode()");' title="@ProjectSession.Resources.label.Common_ButtonAdvanceSearch"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-clear" title="@ProjectSession.Resources.label.Common_ButtonClear" onclick="return ClearAdvencedSearch(@SystemEnum.Pages.MaintenanceDepartment.GetHashCode());"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-refresh" onclick="ReBindKendoGrid('maintenanceDepartmentGrid');" title="@ProjectSession.Resources.label.Common_ButtonRefreshGrid"><i></i></a>
        </li>
        @if (ProjectSession.PermissionAccess.SetupConfiguration_MaintenanceDepartment_Export)
        {
            <li>
                <a href="javascript:void(0);" class="btn-icon btn-xsl" onclick="ExportToExcel('maintenanceDepartmentGrid', 'MaintDeptID');" title="@ProjectSession.Resources.label.Common_ButtonExportToExcel"><i></i></a>
            </li>
        }
    </ul>
</div>

<!-- Kendo Grid-->
<div id="maintenanceDepartmentData" class="@ProjectSession.CultureKendoClass"> 
    @(Html.Kendo().Grid<CMMS.Model.MaintenanceDepartment>()
        .Name("maintenanceDepartmentGrid")
        .HtmlAttributes(new { @class = "kl-grid" })
        .Columns(columns =>
        {
            columns.Bound(c => c.MaintDeptCode).Title(ProjectSession.Resources.label.MaintenanceDept_TextBlockMaintDeptCode).Width(180);

            columns.Bound(c => c.MaintDeptdesc).Title(ProjectSession.Resources.label.MaintenanceDept_TextBlockMaintDeptDesc);

            columns.Bound(c => c.MaintDeptAltdesc).HtmlAttributes(new { @class = "text-right" }).Title(ProjectSession.Resources.label.MaintenanceDept_TextBlockAltMaintDeptDesc);

            columns.Bound(c => c.MaintDivisionCode).Title(ProjectSession.Resources.label.MaintDivision_TextBlockMaintenanceDiv)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterMaintenanceDivision", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

            if (ProjectSession.PermissionAccess.SetupConfiguration_MaintenanceDepartment_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_MaintenanceDepartment_Deleterecords)
            {
                columns.Bound(c => c.MaintDeptID).ClientTemplate("<center>" + (ProjectSession.PermissionAccess.SetupConfiguration_MaintenanceDepartment_Editrecords ? "<a class='action' title='" + ProjectSession.Resources.label.Common_ButtonEdit + "'  style='cursor:pointer' data-toggle='modal' data-target='\\#maintenanceDepartmentModal' onclick='OpenMaintenanceDepartmentEditWindow(#: MaintDeptID#)'><i class='glyphicon glyphicon-pencil'></i></a>&nbsp;" : "") + "" + (ProjectSession.PermissionAccess.SetupConfiguration_MaintenanceDepartment_Deleterecords ? "<a class='action delete-button'  href='javascript:void(0);'  class='delete-ic' data-id='#: MaintDeptID #' style='cursor:pointer'><i class='glyphicon glyphicon-trash' title='" + ProjectSession.Resources.label.Common_ButtonDelete + "' ></i></a>" : "") + "</center>")
                                            .Title("<center>" + ProjectSession.Resources.label.Common_ButtonAction + "</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Width(80).Filterable(false);
            }
        })
        .Filterable()
        .Sortable(sortable => sortable.AllowUnsort(false))
        .Scrollable()
        .Excel(excel => excel.FileName("Maintenance Department.xlsx").Filterable(true).AllPages(true).ProxyURL(Url.Action("Excel_Export_Save", "GridExport", new { area = string.Empty })))
        .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
        .Events(events => events.DataBound("onDataBound").ExcelExport("excelExport"))
        .DataSource(dataSource =>
                                dataSource.Ajax()
                                .PageSize(ProjectConfiguration.PageSize)
                                .Sort(model => model.Add("MaintDeptCode").Ascending())
                                 .Model(model =>
                                 {
                                     model.Id(p => p.MaintDeptID);
                                     model.Field(p => p.MaintDeptdesc);
                                 })
                                .ServerOperation(true)
                                .Read(read => read.Action(Actions.GetMaintenanceDepartment, Controllers.Configurations, new { area = Areas.Configurations }).Data("BindParameters").Type(HttpVerbs.Post))
        )
    )

</div>

<!-- search order -->
<div id="search-order" class="modal fade" role="dialog"></div>

<!-- Maintenance Department Modal -->
<div id="maintenanceDepartmentModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" title="@ProjectSession.Resources.label.Common_ButtonClose"></button>
                <h4 class="modal-title">@ProjectSession.Resources.label.MaintenanceDept_TextBlockMaintDept</h4>
            </div>
            <form role="form" id="frmMaintenanceDepartment">
                <input type="hidden" name="hdnMaintDeptID" id="hdnMaintDeptID" />
                <div class="modal-body">
                    <div id="Highlights" class="tab-pane active" role="tabpanel">
                        <div class="form-horizontal">
                            <div id="divModelError"></div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.MaintenanceDept_TextBlockMaintDeptCode<span class="cfont">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="MaintDeptCode" id="txtMaintDepartmentCode" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.MaintenanceDept_TextBlockMaintDeptCode" maxlength="50">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.MaintenanceDept_TextBlockMaintDeptDesc<span class="cfont">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="MaintDeptdesc" id="txtMaintDepartmentName" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.MaintenanceDept_TextBlockMaintDeptDesc" maxlength="500">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.MaintenanceDept_TextBlockAltMaintDeptDesc</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="MaintDeptAltdesc" id="txtMaintDepartmentAltName" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.MaintenanceDept_TextBlockAltMaintDeptDesc" maxlength="500">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.MaintDivision_TextBlockMaintenanceDiv<span class="cfont">*</span></label>
                                <div class="col-sm-8">
                                    <div class="@ProjectSession.CultureKendoClass">
                                        @(Html.Kendo().DropDownList()
                                            .Name("drpMaintenanceDivision")
                                            .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                            .DataTextField("MaintDivisionCode")
                                            .DataValueField("MaintDivisionID")
                                            .HtmlAttributes(new { style = "width: 100%", @required = "required" })
                                            .Template("#= KendoDDLTemplate(data.MaintDivisionCode ,data.MaintDivisionName, data.MaintDivisionAltName) #")
                                            .DataSource(source =>
                                            {
                                                source.Read(read =>
                                                {
                                                    read.Action(Actions.GetAllMaintenanceDivisions, Controllers.Configurations, new { area = Areas.Configurations });
                                                });
                                            })
                                            .Value("")
                                        )
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer box-footer">
                    @if (ProjectSession.PermissionAccess.SetupConfiguration_MaintenanceDepartment_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_MaintenanceDepartment_Createnewrecords)
                    {
                        <button type="submit" class="btn btn-primary" id="btnSave"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
                    }
                    <button type="button" class="btn btn-default" data-dismiss="modal">@ProjectSession.Resources.label.Common_ButtonClose</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    var kendoGridId = 'maintenanceDepartmentGrid';
    var intPageID = '@SystemEnum.Pages.MaintenanceDepartment.GetHashCode()';

    $(document).ready(function () {
        validator = $('#frmMaintenanceDepartment').validate({
            rules: {
                MaintDeptCode: { required: true },
                MaintDeptdesc: { required: true },
            },
            messages: {
                MaintDeptCode: { required: '' },
                MaintDeptdesc: { required: '' },
            }
        });
    });

    function BindParameters() {
        return {
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };

    function OpenMaintenanceDepartmentEditWindow(id) {
        if (id > 0) {
            $.ajax({
                url: '@Url.Action(Actions.GetMaintenanceDepartmentByID, Controllers.Configurations, new { area = Areas.Configurations })',
                type: "POST",
                data: addRequestVerificationToken({ maintDepartmentId: id }),
                success: function (result) {
                    $("#hdnMaintDeptID").val(result.MaintDeptID);
                    $("#txtMaintDepartmentCode").val(result.MaintDeptCode);
                    $("#txtMaintDepartmentName").val(result.MaintDeptdesc);
                    $("#txtMaintDepartmentAltName").val(result.MaintDeptAltdesc);
                    $("#drpMaintenanceDivision").data("kendoDropDownList").value(result.MaintDivisionID);

                    @if (!ProjectSession.PermissionAccess.SetupConfiguration_MaintenanceDepartment_ChangeMastersCodes)
                    {
                        <text>$("#txtMaintDepartmentCode").attr("disabled", "disabled");</text>    
                    }
                    
                    @if (ProjectSession.PermissionAccess.SetupConfiguration_MaintenanceDepartment_Editrecords)
                    {
                        <text>$("#btnSave").show(); </text>
                    }
                    else if (ProjectSession.PermissionAccess.SetupConfiguration_MaintenanceDepartment_Createnewrecords)
                    {
                        <text>$("#btnSave").hide(); </text>
                    } 

                    if (result.IsEnableMaintDiv) {
                        $('#drpMaintenanceDivision').data("kendoDropDownList").enable(false);
                    }
                    else {
                        $('#drpMaintenanceDivision').data("kendoDropDownList").enable(true);
                    }
                    
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }
        else {

            @if (ProjectSession.PermissionAccess.SetupConfiguration_MaintenanceDepartment_Createnewrecords)
            {
                <text>$("#btnSave").show(); </text>
            }
            else if (ProjectSession.PermissionAccess.SetupConfiguration_MaintenanceDepartment_Editrecords)
            {
                <text>$("#btnSave").hide(); </text>
            }
            $("#txtMaintDepartmentCode").removeAttr("disabled");
            $('#drpMaintenanceDivision').data("kendoDropDownList").enable(true);
            ClearAllInputs("frmMaintenanceDepartment");
        }
    }

    $("#maintenanceDepartmentGrid tbody").on("dblclick", "tr[role='row']", function (e) {
        var grid = $("#maintenanceDepartmentGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        $("#maintenanceDepartmentModal").modal("show");
        OpenMaintenanceDepartmentEditWindow(model.MaintDeptID);
    });

</script>

@if (ProjectSession.PermissionAccess.SetupConfiguration_MaintenanceDepartment_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_MaintenanceDepartment_Createnewrecords)
{
    <script type="text/javascript">

        $('#frmMaintenanceDepartment').on('submit', function (e) {
            if ($("#frmMaintenanceDepartment").valid()) {
                if (!e.isDefaultPrevented()) {
                    if (reValidateDropDowns($(this))) {
                        var maintDeptID = $("#hdnMaintDeptID").val();
                        var changedObj = {
                            MaintDeptID: maintDeptID == '' ? 0 : maintDeptID,
                            MaintDeptCode: $("#txtMaintDepartmentCode").val(),
                            MaintDeptdesc: $("#txtMaintDepartmentName").val(),
                            MaintDeptAltdesc: $("#txtMaintDepartmentAltName").val(),
                            MaintDivisionID: $("#drpMaintenanceDivision").val(),
                        };
                        $.ajax({
                            url: '@Url.Action(Actions.ManageMaintenanceDepartment, Controllers.Configurations, new { area = Areas.Configurations })',
                            type: "POST",
                            data: addRequestVerificationToken(changedObj),
                            dataType: "json",
                            success: function (result) {
                                if (result[0] == 0) {
                                    ShowMessage(result[1], result[2], "#divModelError");
                                }
                                else {
                                    $('#maintenanceDepartmentModal').modal("hide");
                                    ShowMessage(result[0], result[1], "#divMessage");
                                    ReBindKendoGrid("maintenanceDepartmentGrid");
                                }
                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                showErrorMessage();
                            }
                        });
                    }
                    e.preventDefault();
                }
            }
            else {
                e.preventDefault();
            }
        })
    </script>
}

@if (ProjectSession.PermissionAccess.SetupConfiguration_MaintenanceDepartment_Deleterecords)
{
    <script type="text/javascript">

        function onDataBound(arg) {
            confirmDeleteMsg(msgText, okText, cancelText, onConfirmCallback, confirmDirection);
            gridProperPaging(this);
        }

        function onConfirmCallback(sender) {
            var id = $(this).data("id");
            $.ajax({
                url: '@Url.Action(Actions.DeleteMaintenanceDepartment, Controllers.Configurations, new { area = Areas.Configurations })',
                type: "POST",
                data: addRequestVerificationToken({ maintenanceDepartmentId: id }),
                dataType: "json",
                success: function (result) {
                    ClearAllInputs("frmMaintenanceDepartment");
                    ShowMessage(result[0], result[1], "#divMessage");
                    ReBindKendoGrid("maintenanceDepartmentGrid");
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }
    </script>
}
else
{
    <script type="text/javascript">
        function onDataBound(arg) {
            gridProperPaging(this);
        }
    </script>
}
