﻿@using CMMS.Infrastructure;
@using CMMS.Pages;
@{
    ViewBag.Title = "NotificationTypesList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.AntiForgeryToken()
<div class="head1">
    <h1>@ProjectSession.Resources.menu.NotificationTypes_MenuNotificationTypes</h1>
</div>


<!-- Kendo Grid -->
<div id="organisationData" class="@ProjectSession.CultureKendoClass">
    @(Html.Kendo().Grid<CMMS.Model.NotificationType>()
        .Name("notificationtypesGrid")
        .HtmlAttributes(new { @class = "kl-grid" })
        .Columns(columns =>
        {
            columns.Bound(c => c.NotificationTypeDesc).Title(ProjectSession.Resources.label.NotificationTypes_NotificationTypesName);

            columns.Bound(c => c.NotificationTitle).Title(ProjectSession.Resources.label.NotificationTypes_NotificationTypesTitle);

            columns.Bound(c => c.NotificationDescription).Title(ProjectSession.Resources.label.NotificationTypes_NotificationTypesDescription);

            columns.Bound(c => c.NotificationTypeID).ClientTemplate("<center><a class='action' title='" + ProjectSession.Resources.label.Common_ButtonEdit + "'  style='cursor:pointer' data-toggle='modal' data-target='\\#NotificationTypeModal' onclick='OpenNotificationTypesEditWindow(#: NotificationTypeID#)'><i class='glyphicon glyphicon-pencil'></i></a>&nbsp;")
                                            .Title("<center>" + ProjectSession.Resources.label.Common_ButtonAction + "</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Filterable(false).Width(80);
            
        })        
        .Sortable(sortable => sortable.AllowUnsort(false))
        //.Scrollable()
        .Filterable()        
        .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
        .Events(events => events.DataBound("onDataBound"))
        .DataSource(dataSource =>
                            dataSource.Ajax()
                            .PageSize(ProjectConfiguration.PageSize)
                            .Sort(model => model.Add("NotificationTypeID").Ascending())
                                .Model(model =>
                                {
                                    model.Id(p => p.NotificationTypeID);
                                    model.Field(p => p.NotificationTypeDesc);
                                })
            //                .ServerOperation(true)
                            .Read(read => read.Action(Actions.GetNotificationTypesList, Controllers.Configurations, new { area = Areas.Configurations }).Data("BindParameters").Type(HttpVerbs.Post))
        )
    )
</div>



<div id="NotificationTypeModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-mg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" title="@ProjectSession.Resources.label.Common_ButtonClose"></button>
                <h4 class="modal-title">@ProjectSession.Resources.menu.NotificationTypes_MenuNotificationTypes</h4>
            </div>
            <form role="form" id="frmNotificationTypes">
                <input type="hidden" name="hdnNotificationTypeID" id="hdnNotificationTypeID" />
                <div class="modal-body">
                    <div id="Highlights" class="tab-pane active" role="tabpanel">
                        <div class="form-horizontal">
                            <div id="divModelError"></div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.NotificationTypes_NotificationTypesName</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="NotificationTypeDesc" id="txtNotificationTypeDesc" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.NotificationTypes_NotificationTypesName" maxlength="50">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.NotificationTypes_NotificationTypesTitle</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="NotificationTitle" id="txtNotificationTitle" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.NotificationTypes_NotificationTypesTitle" maxlength="500">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.NotificationTypes_NotificationTypesDescription</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="txtNotificationDescription" name="NotificationDescription" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.NotificationTypes_NotificationTypesDescription" maxlength="500">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer box-footer">
                    <button type="submit" class="btn btn-primary" id="btnSave"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">@ProjectSession.Resources.label.Common_ButtonClose</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    var kendoGridId = 'notificationtypesGrid';
    var intPageID = '@SystemEnum.Pages.NotificationTypes.GetHashCode()';

    $(document).ready(function () {        
    });

    function BindParameters() {        
        return {
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };

    function OpenNotificationTypesEditWindow(id) {
        if (id > 0) {
            $.ajax({
                url: '@Url.Action(Actions.GetNotificationTypesListById, Controllers.Configurations, new { area = Areas.Configurations })',
                type: "POST",
                data: addRequestVerificationToken({ notificationTypeId: id }),
                success: function (result) {                    
                    $("#txtNotificationTypeDesc").val(result.NotificationTypeDesc);  
                    $("#txtNotificationTitle").val(result.NotificationTitle);  
                    $("#txtNotificationDescription").val(result.NotificationDescription);  
                    $("#hdnNotificationTypeID").val(result.NotificationTypeID);                    
                    $("#txtNotificationTypeDesc").attr("disabled", "disabled");                    
                    $("#btnSave").show();                    
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }
        else {
            ClearAllInputs("frmNotificationTypes");
            $("#btnSave").hide();
        }
    }

    $("#notificationtypesGrid tbody").on("dblclick", "tr[role='row']", function (e) {
        var grid = $("#notificationtypesGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        $("#NotificationTypeModal").modal("show");
        OpenNotificationTypesEditWindow(model.NotificationTypeID);
    });

    function onDataBound(arg) {     
        gridProperPaging(this);
    }


    $('#frmNotificationTypes').on('submit', function (e) {
        if ($("#frmNotificationTypes").valid()) {
            if (e.isDefaultPrevented()) {
                // handle the invalid form...
            } else {

                var NotificationTypeID = $("#hdnNotificationTypeID").val();
                var changedObj = {
                    NotificationTypeID: NotificationTypeID == '' ? 0 : NotificationTypeID,
                    NotificationTypeDesc: $("#txtNotificationTypeDesc").val(),
                    NotificationTitle: $("#txtNotificationTitle").val(),
                    NotificationDescription: $("#txtNotificationDescription").val()
                };

                $.ajax({
                    url: '@Url.Action(Actions.ManageNotificationTypes, Controllers.Configurations, new { area = Areas.Configurations })',
                    type: "POST",
                    data: addRequestVerificationToken(changedObj),
                    dataType: "json",
                    success: function (result) {
                        if (result[0] == 0) {
                            ShowMessage(result[1], result[2], "#divModelError");
                        }
                        else {
                            $('#NotificationTypeModal').modal("hide");
                            ShowMessage(result[0], result[1], "#divMessage");
                            ReBindKendoGrid("notificationtypesGrid");
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        showErrorMessage();
                    }
                });
                e.preventDefault();
            }
        }
        else {
            e.preventDefault();
        }
    })


</script>