﻿@using CMMS.Infrastructure;
@using CMMS.Pages;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.AntiForgeryToken()
<div class="head1">
    <h1>@ProjectSession.Resources.label.Organisation_TextBlockOrganisation</h1>
    <ul class="sub_btn">
        @if (ProjectSession.PermissionAccess.SetupConfiguration_Organisation_Createnewrecords)
        {
            <li>
                <a href="javascript:void(0);" class="btn-icon btn-add" data-toggle="modal" data-target="#organisationModal" data-backdrop="static" onclick="OpenOrganisationEditWindow(0);" title="@ProjectSession.Resources.label.Common_ButtonAdd"><i></i></a>
            </li>
        }
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-search" data-toggle="modal" data-target="#search-order" onclick='OpenAdvancedSearch("@ProjectSession.Resources.label.Organisation_TextBlockOrganisation","@SystemEnum.Pages.Organisation.GetHashCode()")' title="@ProjectSession.Resources.label.Common_ButtonAdvanceSearch"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-clear" title="@ProjectSession.Resources.label.Common_ButtonClear" onclick="return ClearAdvencedSearch(@SystemEnum.Pages.Organisation.GetHashCode());"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-refresh" onclick="ReBindKendoGrid('organisationGrid');" title="@ProjectSession.Resources.label.Common_ButtonRefreshGrid"><i></i></a>
        </li>
        @if (ProjectSession.PermissionAccess.SetupConfiguration_Organisation_Export)
        {
            <li>
                <a href="javascript:void(0);" class="btn-icon btn-xsl" onclick="ExportToExcel('organisationGrid', 'L1ID');" title="@ProjectSession.Resources.label.Common_ButtonExportToExcel"><i></i></a>
            </li>
        }
    </ul>
</div>

<!-- Kendo Grid -->
<div id="organisationData" class="@ProjectSession.CultureKendoClass">
    @(Html.Kendo().Grid<CMMS.Model.L1>()
        .Name("organisationGrid")
        .HtmlAttributes(new { @class = "kl-grid" })
        .Columns(columns =>
        {
            columns.Bound(c => c.L1No).Title(ProjectSession.Resources.label.Organisation_TextBlockOrgCode).Width(180);

            columns.Bound(c => c.L1Name).Title(ProjectSession.Resources.label.Organisation_TextBlockOrganisation);

            columns.Bound(c => c.L1AltName).HtmlAttributes(new { @class = "text-right" }).Title(ProjectSession.Resources.label.Organisation_TextBlockAltOrgName);

            if (ProjectSession.PermissionAccess.SetupConfiguration_Organisation_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_Organisation_Deleterecords)
            {
                columns.Bound(c => c.L1ID).ClientTemplate("<center>" + (ProjectSession.PermissionAccess.SetupConfiguration_Organisation_Editrecords ? "<a class='action' title='" + ProjectSession.Resources.label.Common_ButtonEdit + "'  style='cursor:pointer' data-toggle='modal' data-target='\\#organisationModal' onclick='OpenOrganisationEditWindow(#: L1ID#)'><i class='glyphicon glyphicon-pencil'></i></a>&nbsp;" : "") + "" + (ProjectSession.PermissionAccess.SetupConfiguration_Organisation_Deleterecords ? "<a class='action delete-button'  href='javascript:void(0);'  class='delete-ic' data-id='#: L1ID #' style='cursor:pointer'><i class='glyphicon glyphicon-trash' title='" + ProjectSession.Resources.label.Common_ButtonDelete + "' ></i></a>" : "") + "</center>")
                                            .Title("<center>" + ProjectSession.Resources.label.Common_ButtonAction + "</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Filterable(false).Width(80);
            }
        })
        .Events(x => x.ExcelExport("excelExport"))
        .Sortable(sortable => sortable.AllowUnsort(false))
        .Scrollable()
        .Filterable()
        .Excel(excel => excel.FileName("Organisation.xlsx").Filterable(true).AllPages(true).ProxyURL(Url.Action("Excel_Export_Save", "GridExport", new { area = string.Empty })))
        .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
        .Events(events => events.DataBound("onDataBound"))
        .DataSource(dataSource =>
                                dataSource.Ajax()
                                .PageSize(ProjectConfiguration.PageSize)
                                .Sort(model => model.Add("L1No").Ascending())
                                 .Model(model =>
                                 {
                                     model.Id(p => p.L1ID);
                                     model.Field(p => p.L1Name);
                                 })
                                .ServerOperation(true)
                                .Read(read => read.Action(Actions.GetOrganisation, Controllers.Configurations, new { area = Areas.Configurations }).Data("BindParameters").Type(HttpVerbs.Post))
        )
    )

</div>

<!-- search order -->
<div id="search-order" class="modal fade" role="dialog"></div>

<!-- Organisation Modal -->
<div id="organisationModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-mg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" title="@ProjectSession.Resources.label.Common_ButtonClose"></button>
                <h4 class="modal-title">@ProjectSession.Resources.label.Organisation_TextBlockOrganisation</h4>
            </div>
            <form role="form" id="frmOrganisation">
                <input type="hidden" name="hdnL1ID" id="hdnL1ID" />
                <div class="modal-body">
                    <div id="Highlights" class="tab-pane active" role="tabpanel">
                        <div class="form-horizontal">
                            <div id="divModelError"></div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.Organisation_TextBlockOrgCode<span class="cfont">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="L1No" id="txtL1No" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.Organisation_TextBlockOrgCode" maxlength="50">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.Organisation_TextBlockOrganisation<span class="cfont">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="L1Name" id="txtL1Name" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.Organisation_TextBlockOrganisation" maxlength="500">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.Organisation_TextBlockAltOrgName</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="txtL1AltName" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.Organisation_TextBlockAltOrgName" maxlength="500">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Area Enable/Disable</label>
                                <div class="col-sm-8">
                                    <input type="checkbox" name="chkIsAreaEnable" id="chkIsAreaEnable">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer box-footer">
                    @if (ProjectSession.PermissionAccess.SetupConfiguration_Organisation_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_Organisation_Createnewrecords)
                    {
                        <button type="submit" class="btn btn-primary" id="btnSave"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
                    }
                    <button type="button" class="btn btn-default" data-dismiss="modal">@ProjectSession.Resources.label.Common_ButtonClose</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    var kendoGridId = 'organisationGrid';
    var intPageID = '@SystemEnum.Pages.Organisation.GetHashCode()';

    $(document).ready(function () {
        validator = $('#frmOrganisation').validate({
            rules: {
                L1No: { required: true },
                L1Name: { required: true },
            },
            messages: {
                L1No: { required: '' },
                L1Name: { required: '' },
            }
        });
    });

    function BindParameters() {
        return {
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };

    function OpenOrganisationEditWindow(id) {
        if (id > 0) {
            $.ajax({
                url: '@Url.Action(Actions.GetOrganisationByID, Controllers.Configurations, new { area = Areas.Configurations })',
                type: "POST",
                data: addRequestVerificationToken({ orgId: id }),
                success: function (result) {
                    $("#hdnL1ID").val(result.L1ID);
                    $("#txtL1No").val(result.L1No);
                    $("#txtL1Name").val(result.L1Name);
                    $("#txtL1AltName").val(result.L1AltName);

                    $("#chkIsAreaEnable").prop("checked", result.IsAreaEnable);

                    @if (!ProjectSession.PermissionAccess.SetupConfiguration_Organisation_ChangeMastersCodes)
                    {
                        <text>$("#txtL1No").attr("disabled", "disabled");</text>
                    }

                    @if (ProjectSession.PermissionAccess.SetupConfiguration_Organisation_Editrecords)
                    {
                         <text>$("#btnSave").show(); </text>
                    }
                    else if (ProjectSession.PermissionAccess.SetupConfiguration_Organisation_Createnewrecords)
                    {
                         <text>$("#btnSave").hide(); </text>
                    }

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }
        else {
            ClearAllInputs("frmOrganisation");
            $("#txtL1No").removeAttr("disabled");
            @if (ProjectSession.PermissionAccess.SetupConfiguration_Organisation_Createnewrecords)
            {
                <text>$("#btnSave").show(); </text>
            }
            else if (ProjectSession.PermissionAccess.SetupConfiguration_Organisation_Editrecords)
            {
                <text>$("#btnSave").hide(); </text>
            }
        }
    }

    $("#organisationGrid tbody").on("dblclick", "tr[role='row']", function (e) {
        var grid = $("#organisationGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        $("#organisationModal").modal("show");
        OpenOrganisationEditWindow(model.L1ID);
    });

</script>

@if (ProjectSession.PermissionAccess.SetupConfiguration_Organisation_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_Organisation_Createnewrecords)
{
    <script type="text/javascript">
        $('#frmOrganisation').on('submit', function (e) {
            if ($("#frmOrganisation").valid()) {
                if (e.isDefaultPrevented()) {
                    // handle the invalid form...
                } else {

                    var l1Id = $("#hdnL1ID").val();
                    var changedObj = {
                        L1ID: l1Id == '' ? 0 : l1Id,
                        L1No: $("#txtL1No").val(),
                        L1Name: $("#txtL1Name").val(),
                        L1AltName: $("#txtL1AltName").val(),
                        IsAreaEnable: $("#chkIsAreaEnable").is(':checked'),
                    };

                    $.ajax({
                        url: '@Url.Action(Actions.ManageOrganisation, Controllers.Configurations, new { area = Areas.Configurations })',
                        type: "POST",
                        data: addRequestVerificationToken(changedObj),
                        dataType: "json",
                        success: function (result) {
                            if (result[0] == 0) {
                                ShowMessage(result[1], result[2], "#divModelError");
                            }
                            else {
                                $('#organisationModal').modal("hide");
                                ShowMessage(result[0], result[1], "#divMessage");
                                ReBindKendoGrid("organisationGrid");
                            }
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            showErrorMessage();
                        }
                    });
                    e.preventDefault();
                }
            }
            else {
                e.preventDefault();
            }
        })
    </script>
}

@if (ProjectSession.PermissionAccess.SetupConfiguration_Organisation_Deleterecords)
{
    <script type="text/javascript">
        function onDataBound(arg) {
            confirmDeleteMsg(msgText, okText, cancelText, onConfirmCallback, confirmDirection);
            gridProperPaging(this);
        }


        function onConfirmCallback(sender) {
            var id = $(this).data("id");
            $.ajax({
                url: '@Url.Action(Actions.DeleteOrganisation, Controllers.Configurations, new { area = Areas.Configurations })',
                type: "POST",
                data: addRequestVerificationToken({ orgId: id }),
                dataType: "json",
                success: function (result) {
                    ClearAllInputs("frmOrganisation");
                    ShowMessage(result[0], result[1], "#divMessage");
                    ReBindKendoGrid("organisationGrid");

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }
    </script>
}
else
{
    <script>
        function onDataBound(arg) {
            gridProperPaging(this);
        }
    </script>
}

