﻿@using CMMS.Infrastructure;
@using CMMS.Pages;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.AntiForgeryToken()
<div class="head1">
    <h1>@ProjectSession.Resources.menu.PurchaseRequisition_MenuPRApprovalLevels</h1>
    <ul class="sub_btn">
        @if (ProjectSession.PermissionAccess.SetupConfiguration_PRApprovalLevels_Createnewrecords)
        {
            <li>
                <a href="javascript:void(0);" class="btn-icon btn-add" data-toggle="modal" data-target="#PRApprovalLevelModal" data-backdrop="static" onclick="OpenPRApprovalLevelEditWindow(0);" title="@ProjectSession.Resources.label.Common_ButtonAdd"><i></i></a>
            </li>
        }
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-search" data-toggle="modal" data-target="#search-order" onclick='OpenAdvancedSearch("@ProjectSession.Resources.menu.PurchaseRequisition_MenuPRApprovalLevels","@SystemEnum.Pages.PRApprovalLevels.GetHashCode()")' title="@ProjectSession.Resources.label.Common_ButtonAdvanceSearch"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-clear" title="@ProjectSession.Resources.label.Common_ButtonClear" onclick="return ClearAdvencedSearch(@SystemEnum.Pages.PRApprovalLevels.GetHashCode())"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-refresh" onclick="ReBindKendoGrid('PRApprovalLevelGrid');" title="@ProjectSession.Resources.label.Common_ButtonRefreshGrid"><i></i></a>
        </li>
        @if (ProjectSession.PermissionAccess.SetupConfiguration_PRApprovalLevels_Export)
        {
            <li>
                <a href="javascript:void(0);" class="btn-icon btn-xsl" onclick="ExportToExcel('PRApprovalLevelGrid', 'PRApprovalLevelId');" title="@ProjectSession.Resources.label.Common_ButtonExportToExcel"><i></i></a>
            </li>
        }
    </ul>
</div>

<!-- Kendo Grid -->
<div id="PRApprovalLevelData" class="@ProjectSession.CultureKendoClass">
    @(Html.Kendo().Grid<CMMS.Model.PRApprovalLevel>()
        .Name("PRApprovalLevelGrid")
        .HtmlAttributes(new { @class = "kl-grid" })
        .Columns(columns =>
        {
            columns.Bound(c => c.LevelName).Title(ProjectSession.Resources.label.PurchaseRequisition_TextBlockLevelName).Width(200);

            columns.Bound(c => c.AltLevelName).HtmlAttributes(new { @class = "text-right" }).Title(ProjectSession.Resources.label.PurchaseRequisition_TextBlockArabicLevelName);

            columns.Bound(c => c.LevelNo).Title(ProjectSession.Resources.label.PurchaseRequisition_TextBlockLevelNo);

            columns.Bound(c => c.IsFinalLevel).ClientTemplate("<center><span class='checkbox-custom #= IsFinalLevel ? 'active' : '' #'></span></center>").Title(ProjectSession.Resources.label.PurchaseRequisition_TextBlockFinalLevel).Width(150)
            .Filterable(ftb => ftb.Multi(true).ItemTemplate("itemTemplateForIsFinalLevel").CheckAll(false).BindTo(new[]{
                        new { IsFinalLevel = true },
                        new { IsFinalLevel = false }
            }));

            if (ProjectSession.PermissionAccess.SetupConfiguration_PRApprovalLevels_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_PRApprovalLevels_Deleterecords)
            {
                columns.Bound(c => c.PRApprovalLevelId).ClientTemplate("<center>" + (ProjectSession.PermissionAccess.SetupConfiguration_PRApprovalLevels_Editrecords ? "<a class='action' title='" + ProjectSession.Resources.label.Common_ButtonEdit + "'  style='cursor:pointer' data-toggle='modal' data-target='\\#PRApprovalLevelModal' onclick='OpenPRApprovalLevelEditWindow(#: PRApprovalLevelId#)'><i class='glyphicon glyphicon-pencil'></i></a>&nbsp; " : "") + "" + (ProjectSession.PermissionAccess.SetupConfiguration_PRApprovalLevels_Deleterecords ? "<a class='action delete-button'  href='javascript:void(0);'  class='delete-ic' data-id='#: PRApprovalLevelId #' style='cursor:pointer'><i class='glyphicon glyphicon-trash' title='" + ProjectSession.Resources.label.Common_ButtonDelete + "' ></i></a>" : "") + "</center>")
                                            .Title("<center>" + ProjectSession.Resources.label.Common_ButtonAction + "</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Width(80).Filterable(false);
            }
        })
        .Filterable()
        .Sortable(sortable => sortable.AllowUnsort(false))
        .Scrollable()
        .Excel(excel => excel.FileName("PR Approval Levels.xlsx").Filterable(true).AllPages(true).ProxyURL(Url.Action("Excel_Export_Save", "GridExport", new { area = string.Empty })))
        .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
        .Events(events => events.DataBound("onDataBound").ExcelExport("excelExport"))
        .DataSource(dataSource =>
                                dataSource.Ajax()
                                .PageSize(ProjectConfiguration.PageSize)
                                .Sort(model => model.Add("LevelName").Ascending())
                                 .Model(model =>
                                 {
                                     model.Id(p => p.PRApprovalLevelId);
                                     model.Field(p => p.LevelName);
                                 })
                                .ServerOperation(true)
                                        .Read(read => read.Action(Actions.GetPRApprovalLevelList, Controllers.Configurations, new { area = Areas.Configurations }).Data("BindParameters").Type(HttpVerbs.Post))
        )
    )

</div>

<!-- search order -->
<div id="search-order" class="modal fade" role="dialog"></div>

<!-- Sector Modal -->
<div id="PRApprovalLevelModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-mg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" title="@ProjectSession.Resources.label.Common_ButtonClose"></button>
                <h4 class="modal-title">@ProjectSession.Resources.menu.PurchaseRequisition_MenuPRApprovalLevels</h4>
            </div>
            <form role="form" id="frmPRApprovalLevel">
                <input type="hidden" name="hdnPRApprovalLevelID" id="hdnPRApprovalLevelID" />
                <div class="modal-body">
                    <div id="Highlights" class="tab-pane active" role="tabpanel">
                        <div class="form-horizontal">
                            <div id="divModelError"></div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.PurchaseRequisition_TextBlockLevelName<span class="cfont">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="LevelName" id="txtPRApprovalLevelName" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.PurchaseRequisition_TextBlockLevelName" maxlength="100">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.PurchaseRequisition_TextBlockArabicLevelName</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="ArabicLevelName" id="txtArabicPRApprovalArabicLevelName" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.PurchaseRequisition_TextBlockArabicLevelName" maxlength="100">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.PurchaseRequisition_TextBlockLevelNo<span class="cfont">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control allowIntegerOnly" name="LevelNo" id="txtPRApprovalLevelNo" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.PurchaseRequisition_TextBlockLevelNo">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.PurchaseRequisition_TextBlockFinalLevel</label>
                                <div class="col-sm-8 checkbox">
                                    <label>
                                        <input type="checkbox" name="chkDefault" id="chkDefault">
                                    </label>
                                </div>
                                @*<div class="col-sm-8">
                                        <input type="text" class="form-control" name="IsFinal" id="txtArabicPRApprovalIsFinal" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.PurchaseRequisition_TextBlockFinalLevel">
                                    </div>*@
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer box-footer">
                    @if (ProjectSession.PermissionAccess.SetupConfiguration_PRApprovalLevels_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_PRApprovalLevels_Createnewrecords)
                    {
                        <button type="submit" class="btn btn-primary" id="btnSave"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
                    }
                    <button type="button" class="btn btn-default" data-dismiss="modal">@ProjectSession.Resources.label.Common_ButtonClose</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    var kendoGridId = 'PRApprovalLevelGrid';
    var intPageID = '@SystemEnum.Pages.PRApprovalLevels.GetHashCode()';

    $(document).ready(function () {
        validator = $('#frmPRApprovalLevel').validate({
            rules: {
                LevelName: { required: true },
                LevelNo: { required: true },
            },
            messages: {
                LevelName: { required: '' },
                LevelNo: { required: '' },
            }
        });
    });

    function BindParameters() {
        return {
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };

    function OpenPRApprovalLevelEditWindow(id) {
        if (id > 0) {
            $.ajax({
                url: '@Url.Action(Actions.GetPRApprovalLevelListByID, Controllers.Configurations, new { area = Areas.Configurations })',
                type: "POST",
                data: addRequestVerificationToken({ pr_approval_level_id: id }),
                success: function (result) {
                    $("#hdnPRApprovalLevelID").val(result.PRApprovalLevelId);
                    $("#txtPRApprovalLevelNo").val(result.LevelNo);
                    $("#txtPRApprovalLevelName").val(result.LevelName);
                    $("#txtArabicPRApprovalArabicLevelName").val(result.AltLevelName);
                    $("#chkDefault").prop("checked", result.IsFinalLevel);

                    @if (!ProjectSession.PermissionAccess.SetupConfiguration_PRApprovalLevels_ChangeMastersCodes)
                    {
                        <text>$("#txtPRApprovalLevelNo").attr("disabled", "disabled");</text>
                    }

                    @if (ProjectSession.PermissionAccess.SetupConfiguration_PRApprovalLevels_Editrecords)
                    {
                        <text>$("#btnSave").show(); </text>
                    }
                    else if (ProjectSession.PermissionAccess.SetupConfiguration_PRApprovalLevels_Createnewrecords)
                    {
                        <text>$("#btnSave").hide(); </text>
                    }

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }
        else {
            ClearAllInputs("frmPRApprovalLevel");

            $("#txtPRApprovalLevelNo").removeAttr("disabled");
            @if (ProjectSession.PermissionAccess.SetupConfiguration_PRApprovalLevels_Createnewrecords)
            {
                <text>$("#btnSave").show(); </text>
            }
            else if (ProjectSession.PermissionAccess.SetupConfiguration_PRApprovalLevels_Editrecords)
            {
                <text>$("#btnSave").hide(); </text>
            }
        }
    }

    $("#PRApprovalLevelGrid tbody").on("dblclick", "tr[role='row']", function (e) {
        var grid = $("#PRApprovalLevelGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        $("#PRApprovalLevelModal").modal("show");
        OpenPRApprovalLevelEditWindow(model.PRApprovalLevelId);
    });

</script>



@if (ProjectSession.PermissionAccess.SetupConfiguration_PRApprovalLevels_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_PRApprovalLevels_Createnewrecords)
{
    <script type="text/javascript">

        $('#frmPRApprovalLevel').on('submit', function (e) {
        if ($("#frmPRApprovalLevel").valid()) {
            if (e.isDefaultPrevented()) {
                // handle the invalid form...
            } else {

                var pr_approval_level_id = $("#hdnPRApprovalLevelID").val();
                var changedObj = {
                    PRApprovalLevelId: pr_approval_level_id == '' ? 0 : pr_approval_level_id,
                    LevelNo: $("#txtPRApprovalLevelNo").val(),
                    LevelName: $("#txtPRApprovalLevelName").val(),
                    AltLevelName: $("#txtArabicPRApprovalArabicLevelName").val(),
                    IsFinalLevel: $("#chkDefault").is(':checked')
                };

                $.ajax({
                    url: '@Url.Action(Actions.ManagePRApprovalLevel, Controllers.Configurations, new { area = Areas.Configurations })',
                    type: "POST",
                    data: addRequestVerificationToken(changedObj),
                    dataType: "json",
                    success: function (result) {
                        if (result[0] == 0) {
                            ShowMessage(result[1], result[2], "#divModelError");
                        }
                        else {
                            $('#PRApprovalLevelModal').modal("hide");
                            ShowMessage(result[0], result[1], "#divMessage");
                            ReBindKendoGrid("PRApprovalLevelGrid");
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        showErrorMessage();
                    }
                });
                e.preventDefault();
            }
        }
        else {
            e.preventDefault();
        }
    })

    </script>
}
@if (ProjectSession.PermissionAccess.SetupConfiguration_PRApprovalLevels_Deleterecords)
{
    <script type="text/javascript">

        function onDataBound(arg) {
        confirmDeleteMsg(msgText, okText, cancelText, onConfirmCallback, confirmDirection);
        gridProperPaging(this);
    }

    function onConfirmCallback(sender) {
        var id = $(this).data("id");
        $.ajax({
            url: '@Url.Action(Actions.DeletePRApprovalLevel, Controllers.Configurations, new { area = Areas.Configurations })',
            type: "POST",
            data: addRequestVerificationToken({ pr_approval_level_id: id }),
            dataType: "json",
            success: function (result) {
                ClearAllInputs("frmPRApprovalLevel");
                ShowMessage(result[0], result[1], "#divMessage");
                ReBindKendoGrid("PRApprovalLevelGrid");

            },
            error: function (xhr, ajaxOptions, thrownError) {
                showErrorMessage();
            }
        });
    }

    </script>
}
else
{
    <script>
        function onDataBound(arg) {
            gridProperPaging(this);
        }
    </script>
}

