﻿@using CMMS.Infrastructure;
@using CMMS.Pages;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.AntiForgeryToken()
<div class="head1">
    <h1>@ProjectSession.Resources.menu.PurchaseRequisition_MenuPRReqStatus</h1>
    <ul class="sub_btn">
        @if (ProjectSession.PermissionAccess.SetupConfiguration_PRAuthoriseStatus_Createnewrecords)
        {
            <li>
                <a href="javascript:void(0);" class="btn-icon btn-add" data-toggle="modal" data-target="#PRStatusModal" data-backdrop="static" onclick="OpenPRStatusEditWindow(0);" title="@ProjectSession.Resources.label.Common_ButtonAdd"><i></i></a>
            </li>
        }
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-search" data-toggle="modal" data-target="#search-order" onclick='OpenAdvancedSearch("@ProjectSession.Resources.menu.PurchaseRequisition_MenuPRReqStatus","@SystemEnum.Pages.PRStatus.GetHashCode()")' title="@ProjectSession.Resources.label.Common_ButtonAdvanceSearch"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-clear" title="@ProjectSession.Resources.label.Common_ButtonClear" onclick="return ClearAdvencedSearch(@SystemEnum.Pages.PRStatus.GetHashCode())"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-refresh" onclick="ReBindKendoGrid('PRStatusGrid');" title="@ProjectSession.Resources.label.Common_ButtonRefreshGrid"><i></i></a>
        </li>
        @if (ProjectSession.PermissionAccess.SetupConfiguration_PRAuthoriseStatus_Export)
        {
            <li>
                <a href="javascript:void(0);" class="btn-icon btn-xsl" onclick="ExportToExcel('PRStatusGrid', 'Pr_status_id');" title="@ProjectSession.Resources.label.Common_ButtonExportToExcel"><i></i></a>
            </li>
        }
    </ul>
</div>

<!-- Kendo Grid -->
<div id="PRstatusData" class="@ProjectSession.CultureKendoClass">
    @(Html.Kendo().Grid<CMMS.Model.Purchase_req_statu>()
        .Name("PRStatusGrid")
        .HtmlAttributes(new { @class = "kl-grid" })
        .Columns(columns =>
        {
            columns.Bound(c => c.Status_desc).Title(ProjectSession.Resources.label.PurchaseRequisition_TextBlockPRStatusDesc).Width(300);

            columns.Bound(c => c.Altstatus_desc).HtmlAttributes(new { @class = "text-right" }).Title(ProjectSession.Resources.label.PurchaseRequisition_TextBlockArbPRStatusDesc);

            if (ProjectSession.PermissionAccess.SetupConfiguration_PRAuthoriseStatus_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_PRAuthoriseStatus_Deleterecords)
            {
                columns.Bound(c => c.Pr_status_id).ClientTemplate("<center>" + (ProjectSession.PermissionAccess.SetupConfiguration_PRAuthoriseStatus_Editrecords ? "<a class='action' title='" + ProjectSession.Resources.label.Common_ButtonEdit + "'  style='cursor:pointer' data-toggle='modal' data-target='\\#PRStatusModal' onclick='OpenPRStatusEditWindow(#: Pr_status_id#)'><i class='glyphicon glyphicon-pencil'></i></a>&nbsp;" : "") + "" + (ProjectSession.PermissionAccess.SetupConfiguration_PRAuthoriseStatus_Deleterecords ? "<a class='action delete-button'  href='javascript:void(0);'  class='delete-ic' data-id='#: Pr_status_id #' style='cursor:pointer'><i class='glyphicon glyphicon-trash' title='" + ProjectSession.Resources.label.Common_ButtonDelete + "' ></i></a>" : "") + "</center>")
                                            .Title("<center>" + ProjectSession.Resources.label.Common_ButtonAction + "</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Width(80).Filterable(false);
            }
        })
        .Filterable()
        .Sortable(sortable => sortable.AllowUnsort(false))
        .Scrollable()
        .Excel(excel => excel.FileName("PR Status.xlsx").Filterable(true).AllPages(true).ProxyURL(Url.Action("Excel_Export_Save", "GridExport", new { area = string.Empty })))
        .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
        .Events(events => events.DataBound("onDataBound").ExcelExport("excelExport"))
        .DataSource(dataSource =>
                                dataSource.Ajax()
                                .PageSize(ProjectConfiguration.PageSize)
                                .Sort(model => model.Add("Status_desc").Ascending())
                                 .Model(model =>
                                 {
                                     model.Id(p => p.Pr_status_id);
                                     model.Field(p => p.Status_desc);
                                 })
                                .ServerOperation(true)
                                        .Read(read => read.Action(Actions.GetPRStatusList, Controllers.Configurations, new { area = Areas.Configurations }).Data("BindParameters").Type(HttpVerbs.Post))
        )
    )

</div>

<!-- search order -->
<div id="search-order" class="modal fade" role="dialog"></div>

<!-- Sector Modal -->
<div id="PRStatusModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-mg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" title="@ProjectSession.Resources.label.Common_ButtonClose"></button>
                <h4 class="modal-title">@ProjectSession.Resources.menu.PurchaseRequisition_MenuPRReqStatus</h4>
            </div>
            <form role="form" id="frmPRStatus">
                <input type="hidden" name="hdnPRstatusID" id="hdnPRstatusID" />
                <div class="modal-body">
                    <div id="Highlights" class="tab-pane active" role="tabpanel">
                        <div class="form-horizontal">
                            <div id="divModelError"></div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.PurchaseRequisition_TextBlockPRStatusDesc<span class="cfont">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="status_desc" id="txtPRStatusDesc" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.PurchaseRequisition_TextBlockPRStatusDesc">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.PurchaseRequisition_TextBlockArbPRStatusDesc</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="altstatus_desc" id="txtArabicPRStatusDesc" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.PurchaseRequisition_TextBlockArbPRStatusDesc">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer box-footer">
                    @if (ProjectSession.PermissionAccess.SetupConfiguration_PRAuthoriseStatus_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_PRAuthoriseStatus_Createnewrecords)
                    {
                        <button type="submit" class="btn btn-primary" id="btnSave"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
                    }
                    <button type="button" class="btn btn-default" data-dismiss="modal">@ProjectSession.Resources.label.Common_ButtonClose</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    var kendoGridId = 'PRStatusGrid';
    var intPageID = '@SystemEnum.Pages.PRStatus.GetHashCode()';

    $(document).ready(function () {
        validator = $('#frmPRStatus').validate({
            rules: {
                status_desc: { required: true },
            },
            messages: {
                status_desc: { required: '' },
            }
        });
    });

    function BindParameters() {
        return {
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };

    function onDataBound(arg) {
        gridProperPaging(this);
    }

    function OpenPRStatusEditWindow(id) {
        if (id > 0) {
            $.ajax({
                url: '@Url.Action(Actions.GetPRStatusListByID, Controllers.Configurations, new { area = Areas.Configurations })',
                type: "POST",
                data: addRequestVerificationToken({ pr_status_id: id }),
                success: function (result) {
                    $("#hdnPRstatusID").val(result.Pr_status_id);
                    $("#txtPRStatusDesc").val(result.Status_desc);
                    $("#txtArabicPRStatusDesc").val(result.Altstatus_desc);
                    @if (ProjectSession.PermissionAccess.SetupConfiguration_PRAuthoriseStatus_Editrecords)
                    {
                        <text>$("#btnSave").show(); </text>
                    }
                    else if (ProjectSession.PermissionAccess.SetupConfiguration_PRAuthoriseStatus_Createnewrecords)
                    {
                        <text>$("#btnSave").hide(); </text>
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }
        else {
            ClearAllInputs("frmPRStatus");
            @if (ProjectSession.PermissionAccess.SetupConfiguration_PRAuthoriseStatus_Createnewrecords)
            {
                <text>$("#btnSave").show(); </text>
            }
            else if (ProjectSession.PermissionAccess.SetupConfiguration_PRAuthoriseStatus_Editrecords)
            {
                <text>$("#btnSave").hide(); </text>
            }
        }
    }

    $("#PRStatusGrid tbody").on("dblclick", "tr[role='row']", function (e) {
        var grid = $("#PRStatusGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        $("#PRStatusModal").modal("show");
        OpenPRStatusEditWindow(model.Pr_status_id);
    });

</script>
@if (ProjectSession.PermissionAccess.SetupConfiguration_PRAuthoriseStatus_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_PRAuthoriseStatus_Createnewrecords)
{
    <script type="text/javascript">
        $('#frmPRStatus').on('submit', function (e) {
            if ($("#frmPRStatus").valid()) {
                if (e.isDefaultPrevented()) {
                    // handle the invalid form...
                } else {

                    var prstatusid = $("#hdnPRstatusID").val();
                    var changedObj = {
                        Pr_status_id: prstatusid == '' ? 0 : prstatusid,
                        Status_desc: $("#txtPRStatusDesc").val(),
                        Altstatus_desc: $("#txtArabicPRStatusDesc").val(),
                    };

                    $.ajax({
                        url: '@Url.Action(Actions.ManagePRStatus, Controllers.Configurations, new { area = Areas.Configurations })',
                        type: "POST",
                        data: addRequestVerificationToken(changedObj),
                        dataType: "json",
                        success: function (result) {
                            if (result[0] == 0) {
                                ShowMessage(result[1], result[2], "#divModelError");
                            }
                            else {
                                $('#PRStatusModal').modal("hide");
                                ShowMessage(result[0], result[1], "#divMessage");
                                ReBindKendoGrid("PRStatusGrid");
                            }
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            showErrorMessage();
                        }
                    });
                    e.preventDefault();
                }
            }
            else {
                e.preventDefault();
            }
        })
    </script>
}

@if (ProjectSession.PermissionAccess.SetupConfiguration_PRAuthoriseStatus_Deleterecords)
{


    <script type="text/javascript">
        function onDataBound(arg) {
            confirmDeleteMsg(msgText, okText, cancelText, onConfirmCallback, confirmDirection);
            gridProperPaging(this);
        }

        function onConfirmCallback(sender) {
            var id = $(this).data("id");
            $.ajax({
                url: '@Url.Action(Actions.DeletePRStatus, Controllers.Configurations, new { area = Areas.Configurations })',
                type: "POST",
                data: addRequestVerificationToken({ pr_status_id: id }),
                dataType: "json",
                success: function (result) {
                    ClearAllInputs("frmPRStatus");
                    ShowMessage(result[0], result[1], "#divMessage");
                    ReBindKendoGrid("PRStatusGrid");

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }
    </script>
}
else
{
    <script>
        function onDataBound(arg) {
            gridProperPaging(this);
        }
    </script>
}

