﻿@using CMMS.Infrastructure;
@using CMMS.Pages;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.AntiForgeryToken()
<div class="head1">
    <h1>@ProjectSession.Resources.label.PurchasingSetup_TextBlockTermofSale</h1>
    <ul class="sub_btn">
        @if (ProjectSession.PermissionAccess.SetupConfiguration_PurchsingTermOfSale_Createnewrecords)
        {
            <li>
                <a href="javascript:void(0);" class="btn-icon btn-add" data-toggle="modal" data-target="#termofSaleModal" data-backdrop="static" onclick="OpenTermofSaleEditWindow(0);" title="@ProjectSession.Resources.label.Common_ButtonAdd"><i></i></a>
            </li>
        }
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-search" data-toggle="modal" data-target="#search-order" onclick='OpenAdvancedSearch("@ProjectSession.Resources.label.PurchasingSetup_TextBlockTermofSale","@SystemEnum.Pages.PurchasingTermofSale.GetHashCode()")' title="@ProjectSession.Resources.label.Common_ButtonAdvanceSearch"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-clear" title="@ProjectSession.Resources.label.Common_ButtonClear" onclick="return ClearAdvencedSearch(@SystemEnum.Pages.PurchasingTermofSale.GetHashCode());"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-refresh" onclick="ReBindKendoGrid('termofSaleGrid');" title="@ProjectSession.Resources.label.Common_ButtonRefreshGrid"><i></i></a>
        </li>
        @if (ProjectSession.PermissionAccess.SetupConfiguration_PurchsingTermOfSale_Export)
        {
            <li>
                <a href="javascript:void(0);" class="btn-icon btn-xsl" onclick="ExportToExcel('termofSaleGrid', 'ID');" title="@ProjectSession.Resources.label.Common_ButtonExportToExcel"><i></i></a>
            </li>
        }
    </ul>
</div>

<!-- Kendo Grid -->
<div id="termofSaleData" class="@ProjectSession.CultureKendoClass">
    @(Html.Kendo().Grid<CMMS.Model.TermofSale>()
        .Name("termofSaleGrid")
        .HtmlAttributes(new { @class = "kl-grid" })
        .Columns(columns =>
        {
            columns.Bound(c => c.TermofSaleDesc).Title(ProjectSession.Resources.label.PurchasingSetup_TextBlockTermofSaleDesc).Width(250);

            columns.Bound(c => c.AltTermofSaleDesc).HtmlAttributes(new { @class = "text-right" }).Title(ProjectSession.Resources.label.PurchasingSetup_TextBlockAltTermofSaleDesc);

            if (ProjectSession.PermissionAccess.SetupConfiguration_PurchsingTermOfSale_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_PurchsingTermOfSale_Deleterecords)
            {
                columns.Bound(c => c.ID).ClientTemplate("<center>" + (ProjectSession.PermissionAccess.SetupConfiguration_PurchsingTermOfSale_Editrecords ? "<a class='action' title='" + ProjectSession.Resources.label.Common_ButtonEdit + "'  style='cursor:pointer' data-toggle='modal' data-target='\\#termofSaleModal' onclick='OpenTermofSaleEditWindow(#: ID#)'><i class='glyphicon glyphicon-pencil'></i></a>&nbsp;" : "") + "" + (ProjectSession.PermissionAccess.SetupConfiguration_PurchsingTermOfSale_Deleterecords ? "<a class='action delete-button'  href='javascript:void(0);'  class='delete-ic' data-id='#: ID #' style='cursor:pointer'><i class='glyphicon glyphicon-trash' title='" + ProjectSession.Resources.label.Common_ButtonDelete + "' ></i></a>" : "") + "</center>")
                                            .Title("<center>" + ProjectSession.Resources.label.Common_ButtonAction + "</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Width(80).Filterable(false);
            }
        })
        .Filterable()
        .Sortable(sortable => sortable.AllowUnsort(false))
        .Scrollable()
        .Excel(excel => excel.FileName("Purchasing Term of Sale.xlsx").Filterable(true).AllPages(true).ProxyURL(Url.Action("Excel_Export_Save", "GridExport", new { area = string.Empty })))
        .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
        .Events(events => events.DataBound("onDataBound").ExcelExport("excelExport"))
        .DataSource(dataSource =>
                                dataSource.Ajax()
                                .PageSize(ProjectConfiguration.PageSize)
                                .Sort(model => model.Add("TermofSaleDesc").Ascending())
                                .Model(model =>
                                {
                                    model.Id(p => p.ID);
                                    model.Field(p => p.TermofSaleDesc);
                                })
                                .ServerOperation(true)
                                .Read(read => read.Action(Actions.GetPurchasingTermofSale, Controllers.Configurations, new { area = Areas.Configurations }).Data("BindParameters").Type(HttpVerbs.Post))
        )
    )

</div>

<!-- search order -->
<div id="search-order" class="modal fade" role="dialog"></div>

<!-- Purchasing Term of Sale Modal -->
<div id="termofSaleModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-mg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" title="@ProjectSession.Resources.label.Common_ButtonClose"></button>
                <h4 class="modal-title">@ProjectSession.Resources.label.PurchasingSetup_TextBlockTermofSale</h4>
            </div>
            <form role="form" id="frmTermofSale">
                <input type="hidden" name="hdnID" id="hdnID" />
                <div class="modal-body">
                    <div id="Highlights" class="tab-pane active" role="tabpanel">
                        <div class="form-horizontal">
                            <div id="divModelError"></div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.PurchasingSetup_TextBlockTermofSale<span class="cfont">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="TermofSaleDesc" id="txtTermofSaleDesc" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.PurchasingSetup_TextBlockTermofSale" maxlength="50">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.PurchasingSetup_TextBlockAltTermofSale</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="AltTermofSaleDesc" id="txtAltTermofSaleDesc" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.PurchasingSetup_TextBlockAltTermofSale" maxlength="50">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer box-footer">
                    @if (ProjectSession.PermissionAccess.SetupConfiguration_PurchsingTermOfSale_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_PurchsingTermOfSale_Createnewrecords)
                    {
                        <button type="submit" class="btn btn-primary" id="btnSave"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
                    }
                    <button type="button" class="btn btn-default" data-dismiss="modal">@ProjectSession.Resources.label.Common_ButtonClose</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    var kendoGridId = 'termofSaleGrid';
    var intPageID = '@SystemEnum.Pages.PurchasingTermofSale.GetHashCode()';

    $(document).ready(function () {
        validator = $('#frmTermofSale').validate({
            rules: {
                TermofSaleDesc: { required: true },
            },
            messages: {
                TermofSaleDesc: { required: '' },
            }
        });
    });

    function BindParameters() {
        return {
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };

    function OpenTermofSaleEditWindow(id) {
        if (id > 0) {
            $.ajax({
                url: '@Url.Action(Actions.GetPurchasingTermofSaleByID, Controllers.Configurations, new { area = Areas.Configurations })',
                type: "POST",
                data: addRequestVerificationToken({ termofSaleId: id }),
                success: function (result) {
                    $("#hdnID").val(result.ID);
                    $("#txtTermofSaleDesc").val(result.TermofSaleDesc);
                    $("#txtAltTermofSaleDesc").val(result.AltTermofSaleDesc);

                    @if (ProjectSession.PermissionAccess.SetupConfiguration_PurchsingTermOfSale_Editrecords)
                    {
                        <text>$("#btnSave").show(); </text>
                    }
                    else if (ProjectSession.PermissionAccess.SetupConfiguration_PurchsingTermOfSale_Createnewrecords)
                    {
                        <text>$("#btnSave").hide(); </text>
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }
        else {
            ClearAllInputs("frmTermofSale");
            @if (ProjectSession.PermissionAccess.SetupConfiguration_PurchsingTermOfSale_Createnewrecords)
            {
                <text>$("#btnSave").show(); </text>
            }
            else if (ProjectSession.PermissionAccess.SetupConfiguration_PurchsingTermOfSale_Editrecords)
            {
                <text>$("#btnSave").hide(); </text>
            }
        }
    }

    $("#termofSaleGrid tbody").on("dblclick", "tr[role='row']", function (e) {
        var grid = $("#termofSaleGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        $("#termofSaleModal").modal("show");
        OpenTermofSaleEditWindow(model.ID);
    });

</script>

@if (ProjectSession.PermissionAccess.SetupConfiguration_PurchsingTermOfSale_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_PurchsingTermOfSale_Createnewrecords)
{
    <script type="text/javascript">

        $('#frmTermofSale').on('submit', function (e) {
            if ($("#frmTermofSale").valid()) {
                if (e.isDefaultPrevented()) {
                    // handle the invalid form...
                } else {

                    var Id = $("#hdnID").val();
                    var changedObj = {
                        ID: Id == '' ? 0 : Id,
                        TermofSaleDesc: $("#txtTermofSaleDesc").val(),
                        AltTermofSaleDesc: $("#txtAltTermofSaleDesc").val(),
                    };

                    $.ajax({
                        url: '@Url.Action(Actions.ManagePurchasingTermofSale, Controllers.Configurations, new { area = Areas.Configurations })',
                        type: "POST",
                        data: addRequestVerificationToken(changedObj),
                        dataType: "json",
                        success: function (result) {
                            if (result[0] == 0) {
                                ShowMessage(result[1], result[2], "#divModelError");
                            }
                            else {
                                $('#termofSaleModal').modal("hide");
                                ShowMessage(result[0], result[1], "#divMessage");
                                ReBindKendoGrid("termofSaleGrid");
                            }
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            showErrorMessage();
                        }
                    });
                    e.preventDefault();
                }
            }
            else {
                e.preventDefault();
            }
        })

    </script>
}
@if (ProjectSession.PermissionAccess.SetupConfiguration_PurchsingTermOfSale_Deleterecords)
{
    <script type="text/javascript">
        function onDataBound(arg) {
            confirmDeleteMsg(msgText, okText, cancelText, onConfirmCallback, confirmDirection);
            gridProperPaging(this);
        }

        function onConfirmCallback(sender) {
            var id = $(this).data("id");
            $.ajax({
                url: '@Url.Action(Actions.DeletePurchasingTermofSale, Controllers.Configurations, new { area = Areas.Configurations })',
                type: "POST",
                data: addRequestVerificationToken({ termofSaleId: id }),
                dataType: "json",
                success: function (result) {
                    ClearAllInputs("frmTermofSale");
                    ShowMessage(result[0], result[1], "#divMessage");
                    ReBindKendoGrid("termofSaleGrid");

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }



    </script>
}
else
{
    <script>
        function onDataBound(arg) {
            gridProperPaging(this);
        }
    </script>
}
