﻿@using CMMS.Infrastructure;
@using CMMS.Pages;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.AntiForgeryToken()
<div class="head1">
    <h1>@ProjectSession.Resources.label.PurchasingSetup_TextBlockPurchasingCurrency</h1>
    <ul class="sub_btn">
        @if (ProjectSession.PermissionAccess.SetupConfiguration_PurchsingCurrency_Createnewrecords)
        {
            <li>
                <a href="javascript:void(0);" class="btn-icon btn-add" data-toggle="modal" data-target="#currencyModal" data-backdrop="static" onclick="OpenCurrencyEditWindow(0);" title="@ProjectSession.Resources.label.Common_ButtonAdd"><i></i></a>
            </li>
        }
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-search" data-toggle="modal" data-target="#search-order" onclick='OpenAdvancedSearch("@ProjectSession.Resources.label.PurchasingSetup_TextBlockPurchasingCurrency","@SystemEnum.Pages.PurchasingCurrency.GetHashCode()")' title="@ProjectSession.Resources.label.Common_ButtonAdvanceSearch"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-clear" title="@ProjectSession.Resources.label.Common_ButtonClear" onclick="return ClearAdvencedSearch(@SystemEnum.Pages.PurchasingCurrency.GetHashCode());"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-refresh" onclick="ReBindKendoGrid('currencyGrid');" title="@ProjectSession.Resources.label.Common_ButtonRefreshGrid"><i></i></a>
        </li>
        @if (ProjectSession.PermissionAccess.SetupConfiguration_PurchsingCurrency_Export)
        {
            <li>
                <a href="javascript:void(0);" class="btn-icon btn-xsl" onclick="ExportToExcel('currencyGrid', 'CurrencyID');" title="@ProjectSession.Resources.label.Common_ButtonExportToExcel"><i></i></a>
            </li>
        }
    </ul>
</div>

<!-- Kendo Grid -->
<div id="currencyData" class="@ProjectSession.CultureKendoClass">
    @(Html.Kendo().Grid<CMMS.Model.Currency>()
        .Name("currencyGrid")
        .HtmlAttributes(new { @class = "kl-grid" })
        .Columns(columns =>
        {
            columns.Bound(c => c.CurrencyCode).Title(ProjectSession.Resources.label.PurchasingSetup_TextBlockCurrencyCode).Width(200);

            columns.Bound(c => c.CurrencyDescription).Title(ProjectSession.Resources.label.PurchasingSetup_TextBlockCurrencyDesc);

            columns.Bound(c => c.AltCurrencyDescription).HtmlAttributes(new { @class = "text-right" }).Title(ProjectSession.Resources.label.PurchasingSetup_TextBlockAltCurrencyDesc);

            columns.Bound(c => c.Rate).ClientTemplate("#= DecimalTempalte(data.Rate,2) #").Title(ProjectSession.Resources.label.PurchasingSetup_TextBlockRate);

            if (ProjectSession.PermissionAccess.SetupConfiguration_PurchsingCurrency_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_PurchsingCurrency_Deleterecords)
            {
                columns.Bound(c => c.CurrencyID).ClientTemplate("<center>" + (ProjectSession.PermissionAccess.SetupConfiguration_PurchsingCurrency_Editrecords ? "<a class='action' title='" + ProjectSession.Resources.label.Common_ButtonEdit + "'  style='cursor:pointer' data-toggle='modal' data-target='\\#currencyModal' onclick='OpenCurrencyEditWindow(#: CurrencyID#)'><i class='glyphicon glyphicon-pencil'></i></a>&nbsp;" : "") + "" + (ProjectSession.PermissionAccess.SetupConfiguration_PurchsingCurrency_Deleterecords ? "<a class='action delete-button'  href='javascript:void(0);'  class='delete-ic' data-id='#: CurrencyID #' style='cursor:pointer'><i class='glyphicon glyphicon-trash' title='" + ProjectSession.Resources.label.Common_ButtonDelete + "' ></i></a>" : "") + "</center>")
                                            .Title("<center>" + ProjectSession.Resources.label.Common_ButtonAction + "</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Width(80).Filterable(false);
            }
        })
        .Filterable()
        .Sortable(sortable => sortable.AllowUnsort(false))
        .Scrollable()
        .Excel(excel => excel.FileName("Purchasing Currency.xlsx").Filterable(true).AllPages(true).ProxyURL(Url.Action("Excel_Export_Save", "GridExport", new { area = string.Empty })))
        .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
        .Events(events => events.DataBound("onDataBound").ExcelExport("excelExport"))
        .DataSource(dataSource =>
                                dataSource.Ajax()
                                .PageSize(ProjectConfiguration.PageSize)
                                .Sort(model => model.Add("CurrencyCode").Ascending())
                                .Model(model =>
                                {
                                    model.Id(p => p.CurrencyID);
                                    model.Field(p => p.CurrencyCode);
                                })
                                .ServerOperation(true)
                                .Read(read => read.Action(Actions.GetPurchasingCurrency, Controllers.Configurations, new { area = Areas.Configurations }).Data("BindParameters").Type(HttpVerbs.Post))
        )
    )

</div>

<!-- search order -->
<div id="search-order" class="modal fade" role="dialog"></div>

<!-- Purchasing Currency Modal -->
<div id="currencyModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-mg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" title="@ProjectSession.Resources.label.Common_ButtonClose"></button>
                <h4 class="modal-title">@ProjectSession.Resources.label.PurchasingSetup_TextBlockPurchasingCurrency</h4>
            </div>
            <form role="form" id="frmCurrency">
                <input type="hidden" name="hdnCurrencyID" id="hdnCurrencyID" />
                <div class="modal-body">
                    <div id="Highlights" class="tab-pane active" role="tabpanel">
                        <div class="form-horizontal">
                            <div id="divModelError"></div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.PurchasingSetup_TextBlockCurrencyCode<span class="cfont">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="CurrencyCode" id="txtCurrencyCode" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.PurchasingSetup_TextBlockCurrencyCode" maxlength="10">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.PurchasingSetup_TextBlockCurrency<span class="cfont">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="CurrencyDescription" id="txtCurrencyDescription" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.PurchasingSetup_TextBlockCurrency" maxlength="50">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.PurchasingSetup_TextBlockAltCurrency</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="AltCurrencyDescription" id="txtAltCurrencyDescription" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.PurchasingSetup_TextBlockAltCurrency" maxlength="50">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.PurchasingSetup_TextBlockCurrencyRate<span class="cfont">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text"  class="form-control decimalnumber" name="Rate" id="txtRate" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.PurchasingSetup_TextBlockCurrencyRate" maxlength="8">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer box-footer">
                    @if (ProjectSession.PermissionAccess.SetupConfiguration_PurchsingCurrency_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_PurchsingCurrency_Createnewrecords)
                    {
                        <button type="submit" class="btn btn-primary" id="btnSave"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
                    }
                    <button type="button" class="btn btn-default" data-dismiss="modal">@ProjectSession.Resources.label.Common_ButtonClose</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    var kendoGridId = 'currencyGrid';
    var intPageID = '@SystemEnum.Pages.PurchasingCurrency.GetHashCode()';

    $(document).ready(function () {
        validator = $('#frmCurrency').validate({
            rules: {
                CurrencyCode: { required: true },
                CurrencyDescription: { required: true },
                Rate: { required: true, range: [0, 1000] },
            },
            messages: {
                CurrencyCode: { required: '' },
                CurrencyDescription: { required: '' },
                Rate: { required: '', range: '' },
            }
        });
    });

    function BindParameters() {
        return {
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };

    function OpenCurrencyEditWindow(id) {
        if (id > 0) {
            $.ajax({
                url: '@Url.Action(Actions.GetPurchasingCurrencyByID, Controllers.Configurations, new { area = Areas.Configurations })',
                type: "POST",
                data: addRequestVerificationToken({ currencyId: id }),
                success: function (result) {
                    $("#hdnCurrencyID").val(result.CurrencyID);
                    $("#txtCurrencyCode").val(result.CurrencyCode);
                    $("#txtCurrencyDescription").val(result.CurrencyDescription);
                    $("#txtAltCurrencyDescription").val(result.AltCurrencyDescription);
                    $("#txtRate").val(result.Rate.toFixed(2));

                    @if (ProjectSession.PermissionAccess.SetupConfiguration_PurchsingCurrency_Editrecords)
                    {
                        <text>$("#btnSave").show(); </text>
                    }
                    else if (ProjectSession.PermissionAccess.SetupConfiguration_PurchsingCurrency_Createnewrecords)
                    {
                        <text>$("#btnSave").hide(); </text>
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }
        else {
            ClearAllInputs("frmCurrency");
             @if (ProjectSession.PermissionAccess.SetupConfiguration_PurchsingCurrency_Createnewrecords)
             {
                <text>$("#btnSave").show(); </text>
             }
             else if (ProjectSession.PermissionAccess.SetupConfiguration_PurchsingCurrency_Editrecords)
             {
                <text>$("#btnSave").hide(); </text>
             }
        }
    }

    $("#currencyGrid tbody").on("dblclick", "tr[role='row']", function (e) {
        var grid = $("#currencyGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        $("#currencyModal").modal("show");
        OpenCurrencyEditWindow(model.CurrencyID);
    });

</script>

@if (ProjectSession.PermissionAccess.SetupConfiguration_PurchsingCurrency_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_PurchsingCurrency_Createnewrecords)
{
    <script type="text/javascript">

        $('#frmCurrency').on('submit', function (e) {
            if ($("#frmCurrency").valid()) {
                if (e.isDefaultPrevented()) {
                    // handle the invalid form...
                } else {

                    var currencyID = $("#hdnCurrencyID").val();
                    var changedObj = {
                        CurrencyID: currencyID == '' ? 0 : currencyID,
                        CurrencyCode: $("#txtCurrencyCode").val(),
                        CurrencyDescription: $("#txtCurrencyDescription").val(),
                        AltCurrencyDescription: $("#txtAltCurrencyDescription").val(),
                        Rate: $("#txtRate").val(),
                    };

                    $.ajax({
                        url: '@Url.Action(Actions.ManagePurchasingCurrency, Controllers.Configurations, new { area = Areas.Configurations })',
                        type: "POST",
                        data: addRequestVerificationToken(changedObj),
                        dataType: "json",
                        success: function (result) {
                            if (result[0] == 0) {
                                ShowMessage(result[1], result[2], "#divModelError");
                            }
                            else {
                                $('#currencyModal').modal("hide");
                                ShowMessage(result[0], result[1], "#divMessage");
                                ReBindKendoGrid("currencyGrid");
                            }
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            showErrorMessage();
                        }
                    });
                    e.preventDefault();
                }
            }
            else {
                e.preventDefault();
            }
        })
    </script>
}
@if (ProjectSession.PermissionAccess.SetupConfiguration_PurchsingCurrency_Deleterecords)
{
    <script type="text/javascript">

        function onDataBound(arg) {
            confirmDeleteMsg(msgText, okText, cancelText, onConfirmCallback, confirmDirection);
            gridProperPaging(this);
        }

        function onConfirmCallback(sender) {
            var id = $(this).data("id");
            $.ajax({
                url: '@Url.Action(Actions.DeletePurchasingCurrency, Controllers.Configurations, new { area = Areas.Configurations })',
                type: "POST",
                data: addRequestVerificationToken({ currencyId: id }),
                dataType: "json",
                success: function (result) {
                    ClearAllInputs("frmCurrency");
                    ShowMessage(result[0], result[1], "#divMessage");
                    ReBindKendoGrid("currencyGrid");

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }


    </script>
}
else
{
    <script>
        function onDataBound(arg) {
            gridProperPaging(this);
        }
    </script>
}
