﻿@using CMMS.Infrastructure;
@using CMMS.Pages;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.AntiForgeryToken()
<div class="head1">
    <h1>@ProjectSession.Resources.label.PurchasingSetup_TextBlockShippedVia</h1>
    <ul class="sub_btn">
        @if (ProjectSession.PermissionAccess.SetupConfiguration_PurchsingShippedVia_Createnewrecords)
        {
            <li>
                <a href="javascript:void(0);" class="btn-icon btn-add" data-toggle="modal" data-target="#shippedViaModal" data-backdrop="static" onclick="OpenShippedViaEditWindow(0);" title="@ProjectSession.Resources.label.Common_ButtonAdd"><i></i></a>
            </li>
        }
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-search" data-toggle="modal" data-target="#search-order" onclick='OpenAdvancedSearch("@ProjectSession.Resources.label.PurchasingSetup_TextBlockShippedVia","@SystemEnum.Pages.PurchasingShippedVia.GetHashCode()")' title="@ProjectSession.Resources.label.Common_ButtonAdvanceSearch"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-clear" title="@ProjectSession.Resources.label.Common_ButtonClear" onclick="return ClearAdvencedSearch(@SystemEnum.Pages.PurchasingShippedVia.GetHashCode());"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-refresh" onclick="ReBindKendoGrid('shippedViaGrid');" title="@ProjectSession.Resources.label.Common_ButtonRefreshGrid"><i></i></a>
        </li>
        @if (ProjectSession.PermissionAccess.SetupConfiguration_PurchsingShippedVia_Export)
        {
            <li>
                <a href="javascript:void(0);" class="btn-icon btn-xsl" onclick="ExportToExcel('shippedViaGrid', 'ID');" title="@ProjectSession.Resources.label.Common_ButtonExportToExcel"><i></i></a>
            </li>
        }
    </ul>
</div>

<!-- Kendo Grid -->
<div id="shippedViaData" class="@ProjectSession.CultureKendoClass">
    @(Html.Kendo().Grid<CMMS.Model.ShippedVia>()
        .Name("shippedViaGrid")
        .HtmlAttributes(new { @class = "kl-grid" })
        .Columns(columns =>
        {
            columns.Bound(c => c.ShippedViaDesc).Title(ProjectSession.Resources.label.PurchasingSetup_TextBlockShippedViaDesc).Width(250);

            columns.Bound(c => c.AltShippedViaDesc).HtmlAttributes(new { @class = "text-right" }).Title(ProjectSession.Resources.label.PurchasingSetup_TextBlockAltShippedViaDesc);

            if (ProjectSession.PermissionAccess.SetupConfiguration_PurchsingShippedVia_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_PurchsingShippedVia_Deleterecords)
            {
                columns.Bound(c => c.ID).ClientTemplate("<center>" + (ProjectSession.PermissionAccess.SetupConfiguration_PurchsingTermOfSale_Editrecords ? "<a class='action' title='" + ProjectSession.Resources.label.Common_ButtonEdit + "'  style='cursor:pointer' data-toggle='modal' data-target='\\#shippedViaModal' onclick='OpenShippedViaEditWindow(#: ID#)'><i class='glyphicon glyphicon-pencil'></i></a>&nbsp;" : "") + "" + (ProjectSession.PermissionAccess.SetupConfiguration_PurchsingTermOfSale_Deleterecords ? "<a class='action delete-button'  href='javascript:void(0);'  class='delete-ic' data-id='#: ID #' style='cursor:pointer'><i class='glyphicon glyphicon-trash' title='" + ProjectSession.Resources.label.Common_ButtonDelete + "' ></i></a>" : "") + "</center>")
                                            .Title("<center>" + ProjectSession.Resources.label.Common_ButtonAction + "</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Width(80).Filterable(false);
            }
        })
        .Filterable()
        .Sortable(sortable => sortable.AllowUnsort(false))
        .Scrollable()
        .Excel(excel => excel.FileName("Purchasing Shipped Via.xlsx").Filterable(true).AllPages(true).ProxyURL(Url.Action("Excel_Export_Save", "GridExport", new { area = string.Empty })))
        .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
        .Events(events => events.DataBound("onDataBound").ExcelExport("excelExport"))
        .DataSource(dataSource =>
                                dataSource.Ajax()
                                .PageSize(ProjectConfiguration.PageSize)
                                .Sort(model => model.Add("ShippedViaDesc").Ascending())
                                .Model(model =>
                                {
                                    model.Id(p => p.ID);
                                    model.Field(p => p.ShippedViaDesc);
                                })
                                .ServerOperation(true)
                                .Read(read => read.Action(Actions.GetPurchasingShippedVia, Controllers.Configurations, new { area = Areas.Configurations }).Data("BindParameters").Type(HttpVerbs.Post))
        )
    )

</div>

<!-- search order -->
<div id="search-order" class="modal fade" role="dialog"></div>

<!-- Purchasing Shipped Via Modal -->
<div id="shippedViaModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-mg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" title="@ProjectSession.Resources.label.Common_ButtonClose"></button>
                <h4 class="modal-title">@ProjectSession.Resources.label.PurchasingSetup_TextBlockShippedVia</h4>
            </div>
            <form role="form" id="frmShippedVia">
                <input type="hidden" name="hdnID" id="hdnID" />
                <div class="modal-body">
                    <div id="Highlights" class="tab-pane active" role="tabpanel">
                        <div class="form-horizontal">
                            <div id="divModelError"></div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.PurchasingSetup_TextBlockShippedVia<span class="cfont">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="ShippedViaDesc" id="txtShippedViaDesc" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.PurchasingSetup_TextBlockShippedVia" maxlength="50">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.PurchasingSetup_TextBlockAltShippedVia</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="AltShippedViaDesc" id="txtAltShippedViaDesc" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.PurchasingSetup_TextBlockAltShippedVia" maxlength="50">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer box-footer">
                    @if (ProjectSession.PermissionAccess.SetupConfiguration_PurchsingShippedVia_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_PurchsingShippedVia_Createnewrecords)
                    {
                        <button type="submit" class="btn btn-primary" id="btnSave"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
                    }
                    <button type="button" class="btn btn-default" data-dismiss="modal">@ProjectSession.Resources.label.Common_ButtonClose</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    var kendoGridId = 'shippedViaGrid';
    var intPageID = '@SystemEnum.Pages.PurchasingShippedVia.GetHashCode()';

    $(document).ready(function () {
        validator = $('#frmShippedVia').validate({
            rules: {
                ShippedViaDesc: { required: true },
            },
            messages: {
                ShippedViaDesc: { required: '' },
            }
        });
    });

    function BindParameters() {
        return {
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };

    function OpenShippedViaEditWindow(id) {
        if (id > 0) {
            $.ajax({
                url: '@Url.Action(Actions.GetPurchasingShippedViaByID, Controllers.Configurations, new { area = Areas.Configurations })',
                type: "POST",
                data: addRequestVerificationToken({ shippedViaId: id }),
                success: function (result) {
                    $("#hdnID").val(result.ID);
                    $("#txtShippedViaDesc").val(result.ShippedViaDesc);
                    $("#txtAltShippedViaDesc").val(result.AltShippedViaDesc);

                    @if (ProjectSession.PermissionAccess.SetupConfiguration_PurchsingShippedVia_Editrecords)
                    {
                        <text>$("#btnSave").show(); </text>
                    }
                    else if (ProjectSession.PermissionAccess.SetupConfiguration_PurchsingShippedVia_Createnewrecords)
                    {
                        <text>$("#btnSave").hide(); </text>
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }
        else {
            ClearAllInputs("frmShippedVia");
            @if (ProjectSession.PermissionAccess.SetupConfiguration_PurchsingShippedVia_Createnewrecords)
            {
                <text>$("#btnSave").show(); </text>
            }
             else if (ProjectSession.PermissionAccess.SetupConfiguration_PurchsingShippedVia_Editrecords)
            {
                <text>$("#btnSave").hide(); </text>
            }
        }
    }

    $("#shippedViaGrid tbody").on("dblclick", "tr[role='row']", function (e) {
        var grid = $("#shippedViaGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        $("#shippedViaModal").modal("show");
        OpenShippedViaEditWindow(model.ID);
    });

</script>

@if (ProjectSession.PermissionAccess.SetupConfiguration_PurchsingShippedVia_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_PurchsingShippedVia_Createnewrecords)
{
    <script type="text/javascript">

        $('#frmShippedVia').on('submit', function (e) {
            if ($("#frmShippedVia").valid()) {
                if (e.isDefaultPrevented()) {
                    // handle the invalid form...
                } else {

                    var Id = $("#hdnID").val();
                    var changedObj = {
                        ID: Id == '' ? 0 : Id,
                        ShippedViaDesc: $("#txtShippedViaDesc").val(),
                        AltShippedViaDesc: $("#txtAltShippedViaDesc").val(),
                    };

                    $.ajax({
                        url: '@Url.Action(Actions.ManagePurchasingShippedVia, Controllers.Configurations, new { area = Areas.Configurations })',
                        type: "POST",
                        data: addRequestVerificationToken(changedObj),
                        dataType: "json",
                        success: function (result) {
                            if (result[0] == 0) {
                                ShowMessage(result[1], result[2], "#divModelError");
                            }
                            else {
                                $('#shippedViaModal').modal("hide");
                                ShowMessage(result[0], result[1], "#divMessage");
                                ReBindKendoGrid("shippedViaGrid");
                            }
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            showErrorMessage();
                        }
                    });
                    e.preventDefault();
                }
            }
            else {
                e.preventDefault();
            }
        })
    </script>
}
@if (ProjectSession.PermissionAccess.SetupConfiguration_PurchsingShippedVia_Deleterecords)
{
    <script type="text/javascript">
        function onDataBound(arg) {
            confirmDeleteMsg(msgText, okText, cancelText, onConfirmCallback, confirmDirection);
            gridProperPaging(this);
        }

        function onConfirmCallback(sender) {
            var id = $(this).data("id");
            $.ajax({
                url: '@Url.Action(Actions.DeletePurchasingShippedVia, Controllers.Configurations, new { area = Areas.Configurations })',
                type: "POST",
                data: addRequestVerificationToken({ shippedViaId: id }),
                dataType: "json",
                success: function (result) {
                    ClearAllInputs("frmShippedVia");
                    ShowMessage(result[0], result[1], "#divMessage");
                    ReBindKendoGrid("shippedViaGrid");

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }


    </script>
}
else
{
    <script>
        function onDataBound(arg) {
            gridProperPaging(this);
        }
    </script>
}

