﻿@using CMMS.Infrastructure;
@using CMMS.Pages;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.AntiForgeryToken()
<div class="head1">
    <h1>@ProjectSession.Resources.label.Setups_Configurations_TextBlockSectorCode</h1>
    <ul class="sub_btn">
        @if (ProjectSession.PermissionAccess.SetupConfiguration_Sector_Createnewrecords)
        {
            <li>
                <a href="javascript:void(0);" class="btn-icon btn-add" data-toggle="modal" data-target="#sectorModal" onclick="OpenSectorEditWindow(0);" title="@ProjectSession.Resources.label.Common_ButtonAdd"><i></i></a>
            </li>
        }
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-search" data-toggle="modal" data-target="#search-order" onclick='OpenAdvancedSearch("@ProjectSession.Resources.label.Setups_Configurations_TextBlockSectorCode","@SystemEnum.Pages.Sector.GetHashCode()")' title="@ProjectSession.Resources.label.Common_ButtonAdvanceSearch"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-clear" title="@ProjectSession.Resources.label.Common_ButtonClear" onclick="return ClearAdvencedSearch(@SystemEnum.Pages.Sector.GetHashCode());"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-refresh" onclick="ReBindKendoGrid('sectorGrid');" title="@ProjectSession.Resources.label.Common_ButtonRefreshGrid"><i></i></a>
        </li>
        @if (ProjectSession.PermissionAccess.SetupConfiguration_Sector_Export)
        {
            <li>
                <a href="javascript:void(0);" class="btn-icon btn-xsl" onclick="ExportToExcel('sectorGrid', 'SectorID');" title="@ProjectSession.Resources.label.Common_ButtonExportToExcel"><i></i></a>
            </li>
        }
    </ul>
</div>

<!-- Kendo Grid -->
<div id="sectorData" class="@ProjectSession.CultureKendoClass">

    @(Html.Kendo().Grid<CMMS.Model.Sector>()
        .Name("sectorGrid")
        .HtmlAttributes(new { @class = "kl-grid" })
        .Columns(columns => 
        {
            columns.Bound(c => c.SectorCode).Title(ProjectSession.Resources.label.Setups_Configurations_TextBlockSectorCode).Width(150);

            columns.Bound(c => c.SectorName).Title(ProjectSession.Resources.label.Setups_Configurations_TextBlockSectorDesc);

            columns.Bound(c => c.SectorAltname).HtmlAttributes(new { @class = "text-right" }).Title(ProjectSession.Resources.label.Setups_Configurations_TextBlockAltSectorDesc);

            columns.Bound(c => c.L1No).Title(ProjectSession.Resources.label.Organisation_TextBlockOrgCode)
                .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterOrganisation", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));
            
            if (ProjectSession.PermissionAccess.SetupConfiguration_Sector_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_Sector_Deleterecords)
            {
                columns.Bound(c => c.SectorID).ClientTemplate("<center>" + (ProjectSession.PermissionAccess.SetupConfiguration_Sector_Editrecords ? "<a class='action' title='" + ProjectSession.Resources.label.Common_ButtonEdit + "'  style='cursor:pointer' data-toggle='modal' data-target='\\#sectorModal' onclick='OpenSectorEditWindow(#: SectorID#)'><i class='glyphicon glyphicon-pencil'></i></a>&nbsp;" : "") + "" + (ProjectSession.PermissionAccess.SetupConfiguration_Sector_Deleterecords ? "<a class='action delete-button'  href='javascript:void(0);'  class='delete-ic' data-id='#: SectorID #' style='cursor:pointer'><i class='glyphicon glyphicon-trash' title='" + ProjectSession.Resources.label.Common_ButtonDelete + "' ></i></a>" : "") + "</center>")
                                            .Title("<center>" + ProjectSession.Resources.label.Common_ButtonAction + "</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Width(80).Filterable(false);
            }
        })
        .Filterable()
        .Sortable(sortable => sortable.AllowUnsort(false))
        .Scrollable()
                .Excel(excel => excel.FileName("Sector.xlsx").Filterable(true).AllPages(true).ProxyURL(Url.Action("Excel_Export_Save", "GridExport", new { area = string.Empty })))
                .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
        .Events(events => events.DataBound("onDataBound").ExcelExport("excelExport"))
        .DataSource(dataSource =>
                                dataSource.Ajax()
                                .PageSize(ProjectConfiguration.PageSize)
                                .Sort(model => model.Add("SectorCode").Ascending())
                                         .Model(model =>
                                         {
                                             model.Id(p => p.SectorID);
                                             model.Field(p => p.SectorName);
                                         })
                                 .ServerOperation(true)
                                .Read(read => read.Action(Actions.GetSectorList, Controllers.Configurations, new { area = Areas.Configurations }).Data("BindParameters").Type(HttpVerbs.Post))

        )

)

</div>

<!-- search order -->
<div id="search-order" class="modal fade" role="dialog"></div>

<!-- Sector Modal -->
<div id="sectorModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-mg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" title="@ProjectSession.Resources.label.Common_ButtonClose"></button>
                <h4 class="modal-title">@ProjectSession.Resources.label.Setups_Configurations_TextBlockSectorCode</h4>
            </div>
            <form role="form" id="frmSector">
                <input type="hidden" name="hdnSectorID" id="hdnSectorID" />
                <div class="modal-body">
                    <div id="Highlights" class="tab-pane active" role="tabpanel">
                        <div class="form-horizontal">
                            <div id="divModelError"></div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.Setups_Configurations_TextBlockSectorCode<span class="cfont">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="SectorCode" id="txtSectorCode" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.Setups_Configurations_TextBlockSectorCode" maxlength="50">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.Setups_Configurations_TextBlockSectorDesc<span class="cfont">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="SectorName" id="txtSectorDescription" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.Setups_Configurations_TextBlockSectorDesc" maxlength="1500">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.Setups_Configurations_TextBlockAltSectorDesc</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="txtSectorDescriptionArabic" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.Setups_Configurations_TextBlockAltSectorDesc" maxlength="1500">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.Organisation_TextBlockOrgCode<span class="cfont">*</span></label>
                                <div class="col-sm-8">
                                    <div class="@ProjectSession.CultureKendoClass">
                                        @(Html.Kendo().DropDownList()
                                            .Name("drpOrganisation")
                                            .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                            .DataTextField("L1No")
                                            .DataValueField("L1ID")
                                                    .HtmlAttributes(new { style = "width: 100%", @required = "required" })
                                            .Template("#= KendoDDLTemplate(data.L1No ,data.L1Name, data.L1AltName) #")
                                            .DataSource(source =>
                                            {
                                                source.Read(read =>
                                                {
                                                    read.Action(Actions.GetAllOrganisation, Controllers.Configurations, new { area = Areas.Configurations });
                                                });
                                            })
                                            .Value("")
                                        )
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer box-footer">
                    @if (ProjectSession.PermissionAccess.SetupConfiguration_Sector_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_Sector_Createnewrecords)
                    {
                        <button type="submit" class="btn btn-primary" id="btnSave"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
                    }
                    <button type="button" class="btn btn-default" data-dismiss="modal">@ProjectSession.Resources.label.Common_ButtonClose</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    var kendoGridId = 'sectorGrid';
    var intPageID = '@SystemEnum.Pages.Sector.GetHashCode()';

    $(document).ready(function () {
        validator = $('#frmSector').validate({
            rules: {
                SectorCode: { required: true },
                SectorName: { required: true },
            },
            messages: {
                SectorCode: { required: '' },
                SectorName: { required: '' },
            }
        });
    });

    function BindParameters() {
        return {
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };
    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    }

    function OpenSectorEditWindow(id) {
        if (id > 0) {
            $.ajax({
                url: '@Url.Action(Actions.GetSectorListByID, Controllers.Configurations, new { area = Areas.Configurations })',
                type: "POST",
                data: addRequestVerificationToken({ sectorId: id }),
                success: function (result) {
                    $("#hdnSectorID").val(result.SectorID);
                    $("#txtSectorCode").val(result.SectorCode);
                    $("#txtSectorDescription").val(result.SectorName);
                    $("#txtSectorDescriptionArabic").val(result.SectorAltname);
                    $("#drpOrganisation").data("kendoDropDownList").value(result.L1ID);
                    @if (!ProjectSession.PermissionAccess.SetupConfiguration_Sector_ChangeMastersCodes)
                    {
                        <text>$("#txtSectorCode").attr("disabled", "disabled");</text>
                    }

                    @if (ProjectSession.PermissionAccess.SetupConfiguration_Sector_Editrecords)
                     {
                         <text>$("#btnSave").show(); </text>
                     }
                     else if (ProjectSession.PermissionAccess.SetupConfiguration_Sector_Createnewrecords)
                     {
                         <text>$("#btnSave").hide(); </text>
                     }

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }
        else {
            ClearAllInputs("frmSector");
            $("#txtSectorCode").removeAttr("disabled");
            @if (ProjectSession.PermissionAccess.SetupConfiguration_Sector_Createnewrecords)
            {
                <text>$("#btnSave").show(); </text>
            }
            else if (ProjectSession.PermissionAccess.SetupConfiguration_Sector_Editrecords)
            {
                <text>$("#btnSave").hide(); </text>
            }
        }
    }

    $("#sectorGrid tbody").on("dblclick", "tr[role='row']", function (e) {
        var grid = $("#sectorGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        $("#sectorModal").modal("show");
        OpenSectorEditWindow(model.SectorID);
    });

</script>

@if (ProjectSession.PermissionAccess.SetupConfiguration_Sector_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_Sector_Createnewrecords)
{
    <script type="text/javascript">
        $('#frmSector').on('submit', function (e) {
            if ($("#frmSector").valid()) {
                if (e.isDefaultPrevented()) {
                    // handle the invalid form...
                } else {
                    if (reValidateDropDowns($(this)))
                    {
                        var sectorId = $("#hdnSectorID").val();
                        var changedObj = {
                            SectorID: sectorId == '' ? 0 : sectorId,
                            SectorCode: $("#txtSectorCode").val(),
                            SectorName: $("#txtSectorDescription").val(),
                            SectorAltname: $("#txtSectorDescriptionArabic").val(),
                            L1ID: $("#drpOrganisation").val()
                        };

                        $.ajax({
                            url: '@Url.Action(Actions.ManageSector, Controllers.Configurations, new { area = Areas.Configurations })',
                            type: "POST",
                            data: addRequestVerificationToken(changedObj),
                            dataType: "json",
                            success: function (result) {
                                if (result[0] == 0) {
                                    ShowMessage(result[1], result[2], "#divModelError");
                                }
                                else {
                                    $('#sectorModal').modal("hide");
                                    ShowMessage(result[0], result[1], "#divMessage");
                                    ReBindKendoGrid("sectorGrid");
                                }
                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                showErrorMessage();
                            }
                        });
                        e.preventDefault();
                    }
                    e.preventDefault();
                }
            }
            else {
                e.preventDefault();
            }
        })
    </script>
}

@if (ProjectSession.PermissionAccess.SetupConfiguration_Sector_Deleterecords)
{
    <script type="text/javascript">
        function onDataBound(arg) {
            confirmDeleteMsg(msgText, okText, cancelText, onConfirmCallback, confirmDirection);
            gridProperPaging(this);
        }


        function onConfirmCallback(sender) {
            var id = $(this).data("id");
            $.ajax({
                url: '@Url.Action(Actions.DeleteSector, Controllers.Configurations, new { area = Areas.Configurations })',
                type: "POST",
                data: addRequestVerificationToken({ sectorId: id }),
                dataType: "json",
                success: function (result) {
                    ClearAllInputs("frmSector");
                    ShowMessage(result[0], result[1], "#divMessage");
                    ReBindKendoGrid("sectorGrid");

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }
    </script>
}
else
{
    <script>
        function onDataBound(arg) {
            gridProperPaging(this);
        }
    </script>
}

