﻿@using CMMS.Infrastructure;
@using CMMS.Pages;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.AntiForgeryToken()
<div class="head1">
    <h1>@ProjectSession.Resources.label.City_RadTabItemCity</h1>
    <ul class="sub_btn">
        @if (ProjectSession.PermissionAccess.SetupConfiguration_City_Createnewrecords)
        {
            <li>
                <a href="javascript:void(0);" class="btn-icon btn-add" data-toggle="modal" data-target="#siteModal" data-backdrop="static" onclick="OpenSiteEditWindow(0);" title="@ProjectSession.Resources.label.Common_ButtonAdd"><i></i></a>
            </li>
        }
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-search" data-toggle="modal" data-target="#search-order" onclick='OpenAdvancedSearch("@ProjectSession.Resources.label.City_RadTabItemCity","@SystemEnum.Pages.Site.GetHashCode()")' title="@ProjectSession.Resources.label.Common_ButtonAdvanceSearch"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-clear" title="@ProjectSession.Resources.label.Common_ButtonClear" onclick="return ClearAdvencedSearch(@SystemEnum.Pages.Site.GetHashCode());"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-refresh" onclick="ReBindKendoGrid('siteGrid');" title="@ProjectSession.Resources.label.Common_ButtonRefreshGrid"><i></i></a>
        </li>
        @if (ProjectSession.PermissionAccess.SetupConfiguration_City_Export)
        {
            <li>
                <a href="javascript:void(0);" class="btn-icon btn-xsl" onclick="ExportToExcel('siteGrid', 'L2ID');" title="@ProjectSession.Resources.label.Common_ButtonExportToExcel"><i></i></a>
            </li>
        }
    </ul>
</div>

<!-- Kendo Grid -->
<div id="siteData" class="@ProjectSession.CultureKendoClass">
    @(Html.Kendo().Grid<CMMS.Model.L2>()
        .Name("siteGrid")
        .HtmlAttributes(new { @class = "kl-grid" })
        .Columns(columns =>
        {
            columns.Bound(c => c.L2Code).Title(ProjectSession.Resources.label.JobRequest_TextBlockCityCode).Width(150);

            columns.Bound(c => c.L2name).Title(ProjectSession.Resources.label.City_TextBlockCityDesc);

            columns.Bound(c => c.L2Altname).HtmlAttributes(new { @class = "text-right" }).Title(ProjectSession.Resources.label.City_TextBlockAltCityDesc);

            columns.Bound(c => c.L1No).Title(ProjectSession.Resources.label.Organisation_TextBlockOrgCode)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterOrganisation", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

            columns.Bound(c => c.SectorCode).Title(ProjectSession.Resources.label.Setups_Configurations_TextBlockSectorCode)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterSector", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

            columns.Bound(c => c.L2ClassCode).Title(ProjectSession.Resources.label.NotificationEmailRules_TextBlockCityClass)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterSiteClass", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

            columns.ForeignKey(c => c.DefaultCalendar, (System.Collections.IEnumerable)ViewBag.DefaultCalendar, "Value", "Text").Title(ProjectSession.Resources.label.Common_TextBlockDefaultCalendar);

            columns.ForeignKey(c => c.Timezone, (System.Collections.IEnumerable)ViewBag.Timezone, "Value", "Text").Title(ProjectSession.Resources.label.Common_TextBlockTimeZone);

            columns.Bound(c => c.Status).HtmlAttributes(new { @class = "text-center" }).ClientTemplate("<span class='#= Status ? 'active-icon' : 'inactive-icon' #' title='#= Status ? active : notActive #'></span>").Title(ProjectSession.Resources.label.AccountCode_TextBlockStatus).Width(100)
            .Filterable(ftb => ftb.Multi(true).ItemTemplate("itemTemplateForStatus").DataSource(ds => ds.Read(r => r.Action("FilterStatus", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

            if (ProjectSession.PermissionAccess.SetupConfiguration_City_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_City_Deleterecords)
            {
                columns.Bound(c => c.L2ID).ClientTemplate("<center>" + (ProjectSession.PermissionAccess.SetupConfiguration_City_Editrecords ? "<a class='action' title='" + ProjectSession.Resources.label.Common_ButtonEdit + "'  style='cursor:pointer' data-toggle='modal' data-target='\\#siteModal' onclick='OpenSiteEditWindow(#: L2ID#)'><i class='glyphicon glyphicon-pencil'></i></a>&nbsp;" : "") + "" + (ProjectSession.PermissionAccess.SetupConfiguration_City_Deleterecords ? "<a class='action delete-button'  href='javascript:void(0);'  class='delete-ic' data-id='#: L2ID #' style='cursor:pointer'><i class='glyphicon glyphicon-trash' title='" + ProjectSession.Resources.label.Common_ButtonDelete + "' ></i></a>" : "") + "</center>")
                                            .Title("<center>" + ProjectSession.Resources.label.Common_ButtonAction + "</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Width(80).Filterable(false);
            }
        })
        .Filterable()
        .Sortable(sortable => sortable.AllowUnsort(false))
        .Scrollable()
        .Excel(excel => excel.FileName("Site.xlsx").Filterable(true).AllPages(true).ProxyURL(Url.Action("Excel_Export_Save", "GridExport", new { area = string.Empty })))
        .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
        .Events(events => events.DataBound("onDataBound").ExcelExport("excelExport"))
        .DataSource(dataSource =>
                                dataSource.Ajax()
                                .PageSize(ProjectConfiguration.PageSize)
                                .Sort(model => model.Add("L2Code").Ascending())
                                 .Model(model =>
                                 {
                                     model.Id(p => p.L2ID);
                                     model.Field(p => p.L2name);
                                 })
                                .ServerOperation(true)
                                .Read(read => read.Action(Actions.GetSite, Controllers.Configurations, new { area = Areas.Configurations }).Data("BindParameters").Type(HttpVerbs.Post))
        )
    )

</div>

<!-- search order -->
<div id="search-order" class="modal fade" role="dialog"></div>

<!-- Site Modal -->
<div id="siteModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" title="@ProjectSession.Resources.label.Common_ButtonClose"></button>
                <h4 class="modal-title">@ProjectSession.Resources.label.City_RadTabItemCity</h4>
            </div>
            <form role="form" id="frmSite">
                <input type="hidden" name="hdnL2ID" id="hdnL2ID" />
                <div class="modal-body">
                    <div id="Highlights" class="tab-pane active" role="tabpanel">
                        <div class="form-horizontal">
                            <div id="divModelError"></div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.JobRequest_TextBlockCityCode<span class="cfont">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="L2Code" id="txtL2Code" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.JobRequest_TextBlockCityCode" maxlength="10">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.City_TextBlockCityDesc<span class="cfont">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="L2name" id="txtL2name" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.City_TextBlockCityDesc" maxlength="1500">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.City_TextBlockAltCityDesc</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="txtL2Altname" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.City_TextBlockAltCityDesc" maxlength="1500">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.Organisation_TextBlockOrgCode<span class="cfont">*</span></label>
                                <div class="col-sm-8">
                                    <div class="@ProjectSession.CultureKendoClass">
                                        @(Html.Kendo().DropDownList()
                                            .Name("drpOrganisation")
                                            .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                            .DataTextField("L1No")
                                            .DataValueField("L1ID")
                                            .HtmlAttributes(new { style = "width: 100%", @required = "required"})
                                            .Template("#= KendoDDLTemplate(data.L1No ,data.L1Name, data.L1AltName) #")
                                            .DataSource(source =>
                                            {
                                                source.Read(read =>
                                                {
                                                    read.Action(Actions.GetAllOrganisation, Controllers.Configurations, new { area = Areas.Configurations });
                                                });
                                            })
                                            .Value("")
                                        )
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.Setups_Configurations_TextBlockSectorCode<span class="cfont">*</span></label>
                                <div class="col-sm-8">
                                    <div class="@ProjectSession.CultureKendoClass">
                                        @(Html.Kendo().DropDownList()
                                            .Name("drpSector")
                                            .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                            .DataTextField("SectorCode")
                                            .DataValueField("SectorID")
                                            .HtmlAttributes(new { style = "width: 100%", @required = "required" })
                                            .Template("#= KendoDDLTemplate(data.SectorCode ,data.SectorName, data.SectorAltname) #")
                                            .DataSource(source =>
                                            {
                                                source.Read(read =>
                                                {
                                                    read.Action(Actions.GetSectors, Controllers.Configurations, new { area = Areas.Configurations }).Data("filterSector");
                                                }).ServerFiltering(true);
                                            })
                                                    .CascadeFrom("drpOrganisation")
                                            .Value("")
                                        )
                                    </div>
                                </div>
                                <script>
                                    function filterSector() {
                                        return {
                                            orgID: $("#drpOrganisation").val()
                                        };
                                    }
                                </script>

                            </div>
                           
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.NotificationEmailRules_TextBlockCityClass</label>
                                <div class="col-sm-8">
                                    <div class="@ProjectSession.CultureKendoClass">
                                        @(Html.Kendo().DropDownList()
                                            .Name("drpSiteClass")
                                            .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                            .DataTextField("L2ClassCode")
                                            .DataValueField("L2ClassID")
                                            .HtmlAttributes(new { style = "width: 100%" })
                                            .Template("#= KendoDDLTemplate(data.L2ClassCode ,data.L2Class, data.AltL2Class) #")
                                            .DataSource(source =>
                                            {
                                                source.Read(read =>
                                                {
                                                    read.Action(Actions.GetSiteClasses, Controllers.Configurations, new { area = Areas.Configurations });
                                                }).ServerFiltering(true); 
                                            })
                                            .Value("")
                                        )
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.AccountCode_TextBlockStatus</label>
                                <div class="col-sm-8">
                                    <div class="@ProjectSession.CultureKendoClass">
                                        @(Html.Kendo().DropDownList()
                                            .Name("drpStatus")
                                            .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                            .DataTextField("Text")
                                            .DataValueField("Value")
                                            .HtmlAttributes(new { style = "width: 100%" })
                                            .BindTo(ViewBag.Status)
                                            .Value("")
                                        )
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.Common_TextBlockDefaultCalendar</label>
                                <div class="col-sm-8">
                                    <div class="@ProjectSession.CultureKendoClass">
                                        @(Html.Kendo().DropDownList()
                                            .Name("drpDefaultCalendar")
                                            .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                            .DataTextField("Text")
                                            .DataValueField("Value")
                                            .HtmlAttributes(new { style = "width: 100%" })
                                            .BindTo(ViewBag.DefaultCalendar)
                                            .Value("")
                                        )
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.Common_TextBlockTimeZone</label>
                                <div class="col-sm-8">
                                    <div class="@ProjectSession.CultureKendoClass">
                                        @(Html.Kendo().DropDownList()
                                            .Name("drpTimeZone")
                                            .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                            .DataTextField("Text")
                                            .DataValueField("Value")
                                            .HtmlAttributes(new { style = "width: 100%" })
                                            .BindTo(ViewBag.TimeZone)
                                            .Value("")
                                        )
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.Store_TextBlockCurrency</label>
                                <div class="col-sm-8">
                                    <div class="@ProjectSession.CultureKendoClass">
                                        @(Html.Kendo().DropDownList()
                                            .Name("drpCurrency")
                                            .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                            .DataTextField("CurrencyCode")
                                            .DataValueField("CurrencyID")
                                            .HtmlAttributes(new { style = "width: 100%" })
                                            .Template("#= KendoDDLTemplate(data.CurrencyCode ,data.CurrencyDescription, data.AltCurrencyDescription) #")
                                            .DataSource(source =>
                                            {
                                                source.Read(read =>
                                                {
                                                    read.Action(Actions.GetCurrencies, Controllers.Configurations, new { area = Areas.Configurations });
                                                });
                                            })
                                            .Value("")
                                        )
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.Supplier_TextBlockPhoneNumber</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="Phone" id="txtPhone" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.Supplier_TextBlockPhoneNumber" maxlength="30">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.Supplier_TextBlockFaxNumber</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="FaxNumber" id="txtFaxNumber" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.Supplier_TextBlockFaxNumber" maxlength="30">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.Site_TextBlockDirectorDeputyName</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="DirectorDeputyName" id="txtDirectorDeputyName" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.Site_TextBlockDirectorDeputyName" maxlength="200">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.Site_TextBlockSiteDirectorName</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="SiteDirectorName" id="txtSiteDirectorName" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.Site_TextBlockSiteDirectorName" maxlength="200">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.City_TextBlockMaintManagerContractor</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="MaintManagerContractor" id="txtMaintManagerContractor" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.City_TextBlockMaintManagerContractor" maxlength="50">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.City_TextBlockMoHSupervisorName</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="MoHSupervisorName" id="txtMoHSupervisorName" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.City_TextBlockMoHSupervisorName" maxlength="50">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer box-footer">
                    @if (ProjectSession.PermissionAccess.SetupConfiguration_City_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_City_Createnewrecords)
                    {
                        <button type="submit" class="btn btn-primary" id="btnSave"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
                    }
                    <button type="button" class="btn btn-default" data-dismiss="modal">@ProjectSession.Resources.label.Common_ButtonClose</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    var kendoGridId = 'siteGrid';
    var intPageID = '@SystemEnum.Pages.Site.GetHashCode()';

    $(document).ready(function () {
        validator = $('#frmSite').validate({
            rules: {
                L2Code: { required: true },
                L2name: { required: true },
            },
            messages: {
                L2Code: { required: '' },
                L2name: { required: '' },
            }
        });
    });

    function BindParameters() {
        return {
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };

    function OpenSiteEditWindow(id) {
        if (id > 0) {
            $.ajax({
                url: '@Url.Action(Actions.GetSiteByID, Controllers.Configurations, new { area = Areas.Configurations })',
                type: "POST",
                data: addRequestVerificationToken({ siteId: id }),
                success: function (result) {
                    $("#hdnL2ID").val(result.L2ID);
                    $("#txtL2Code").val(result.L2Code);
                    $("#txtL2name").val(result.L2name);
                    $("#txtL2Altname").val(result.L2Altname);
                    $("#txtPhone").val(result.Phone);
                    $("#txtFaxNumber").val(result.FaxNumber);
                    $("#txtDirectorDeputyName").val(result.DirectorDeputyName);
                    $("#txtSiteDirectorName").val(result.SiteDirectorName);
                    $("#txtMaintManagerContractor").val(result.MaintManagerContractor);
                    $("#txtMoHSupervisorName").val(result.MoHSupervisorName);
                    $("#drpCurrency").data("kendoDropDownList").value(result.CurrencyID);
                    $("#drpTimeZone").data("kendoDropDownList").value(result.Timezone);
                    $("#drpDefaultCalendar").data("kendoDropDownList").value(result.DefaultCalendar);
                    $("#drpStatus").data("kendoDropDownList").value(result.Status);
                    $("#drpSiteClass").data("kendoDropDownList").value(result.L2ClassID);
                    $("#drpSector").data("kendoDropDownList").value(result.SectorID);
                    $("#drpOrganisation").data("kendoDropDownList").value(result.L1ID);
                    if (result.CurrencyID != null) {
                        $("#drpCurrency").data("kendoDropDownList").enable(false);
                    }
                    else {
                        $("#drpCurrency").data("kendoDropDownList").enable(true);
                    }
                    @if (!ProjectSession.PermissionAccess.SetupConfiguration_City_ChangeMastersCodes)
                    {
                        <text>$("#txtL2Code").attr("disabled", "disabled");</text>
                    }

                    @if (ProjectSession.PermissionAccess.SetupConfiguration_City_Editrecords)
                    {
                        <text>$("#btnSave").show(); </text>
                    }
                    else if (ProjectSession.PermissionAccess.SetupConfiguration_City_Createnewrecords)
                    {
                        <text>$("#btnSave").hide(); </text>
                    }

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }
        else {
            ClearAllInputs("frmSite");
            $("#drpCurrency").data("kendoDropDownList").enable(true);
            $("#txtL2Code").removeAttr("disabled");
            @if (ProjectSession.PermissionAccess.SetupConfiguration_City_Createnewrecords)
            {
                <text>$("#btnSave").show(); </text>
            }
            else if (ProjectSession.PermissionAccess.SetupConfiguration_City_Editrecords)
            {
                <text>$("#btnSave").hide(); </text>
            }
        }
    }

    $("#siteGrid tbody").on("dblclick", "tr[role='row']", function (e) {
        var grid = $("#siteGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        $("#siteModal").modal("show");
        OpenSiteEditWindow(model.L2ID);
    });
</script>

@if (ProjectSession.PermissionAccess.SetupConfiguration_City_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_City_Createnewrecords)
{
    <script type="text/javascript">

    $('#frmSite').on('submit', function (e) {
        if ($("#frmSite").valid()) {
            if (!e.isDefaultPrevented()) {
                if (reValidateDropDowns($(this))) {
                    var siteID = $("#hdnL2ID").val();
                    var status = $("#drpStatus").val();
                    var changedObj = {
                        L2ID: siteID == '' ? 0 : siteID,
                        L2Code: $("#txtL2Code").val(),
                        L2name: $("#txtL2name").val(),
                        L2Altname: $("#txtL2Altname").val(),
                        Phone: $("#txtPhone").val(),
                        FaxNumber: $("#txtFaxNumber").val(),
                        DirectorDeputyName: $("#txtDirectorDeputyName").val(),
                        SiteDirectorName: $("#txtSiteDirectorName").val(),
                        MaintManagerContractor: $("#txtMaintManagerContractor").val(),
                        MoHSupervisorName: $("#txtMoHSupervisorName").val(),
                        CurrencyID: $("#drpCurrency").val(),
                        Timezone: $("#drpTimeZone").val(),
                        DefaultCalendar: $("#drpDefaultCalendar").val(),
                        Status: status == '' ? "0" : status,
                        L2ClassID: $("#drpSiteClass").val(),
                        SectorID: $("#drpSector").val(),
                        L1ID: $("#drpOrganisation").val()
                    };
                    $.ajax({
                        url: '@Url.Action(Actions.ManageSite, Controllers.Configurations, new { area = Areas.Configurations })',
                            type: "POST",
                            data: addRequestVerificationToken(changedObj),
                            dataType: "json",
                            success: function (result) {
                                if (result[0] == 0) {
                                    ShowMessage(result[1], result[2], "#divModelError");
                                }
                                else {
                                    $('#siteModal').modal("hide");
                                    ShowMessage(result[0], result[1], "#divMessage");
                                    ReBindKendoGrid("siteGrid");

                                    if (result.length > 2) {
                                        if (result[2] == true || result[2] == 'True') {
                                            setTimeout(function () {
                                                ShowMessage('danger', '@ProjectSession.Resources.message.Location_MsgNoRightToCity', "#divMessage");
                                            }, 500);
                                        }
                                    }
                                }
                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                showErrorMessage();
                            }
                        });
                    }
                    e.preventDefault();
                }
            }
            else {
                e.preventDefault();
            }
        })
    </script>
}
@if (ProjectSession.PermissionAccess.SetupConfiguration_City_Deleterecords)
{
    <script type="text/javascript">

        function onDataBound(arg) {
            confirmDeleteMsg(msgText, okText, cancelText, onConfirmCallback, confirmDirection);
            gridProperPaging(this);
        }

        function onConfirmCallback(sender) {
            var id = $(this).data("id");
            $.ajax({
                url: '@Url.Action(Actions.DeleteSite, Controllers.Configurations, new { area = Areas.Configurations })',
                type: "POST",
                data: addRequestVerificationToken({ siteId: id }),
                dataType: "json",
                success: function (result) {
                    ClearAllInputs("frmSite");
                    ShowMessage(result[0], result[1], "#divMessage");
                    ReBindKendoGrid("siteGrid");

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }



    </script>
}
else
{
    <script>
        function onDataBound(arg) {
            gridProperPaging(this);
        }
    </script>
}


