﻿@using CMMS.Infrastructure;
@using CMMS.Pages;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.AntiForgeryToken()
<div class="head1">
    <h1>@ProjectSession.Resources.label.Site_TextBlockSiteClass</h1>
    <ul class="sub_btn">
        @if (ProjectSession.PermissionAccess.SetupConfiguration_CityClass_Createnewrecords)
        {
            <li>
                <a href="javascript:void(0);" class="btn-icon btn-add" data-toggle="modal" data-target="#siteClassModal" data-backdrop="static" onclick="OpenSiteClassEditWindow(0);" title="@ProjectSession.Resources.label.Common_ButtonAdd"><i></i></a>
            </li>
        }
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-search" data-toggle="modal" data-target="#search-order" onclick='OpenAdvancedSearch("@ProjectSession.Resources.label.Site_TextBlockSiteClass","@SystemEnum.Pages.SiteClass.GetHashCode()")' title="@ProjectSession.Resources.label.Common_ButtonAdvanceSearch"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-clear" title="@ProjectSession.Resources.label.Common_ButtonClear" onclick="return ClearAdvencedSearch(@SystemEnum.Pages.SiteClass.GetHashCode());"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-refresh" onclick="ReBindKendoGrid('siteClassGrid');" title="@ProjectSession.Resources.label.Common_ButtonRefreshGrid"><i></i></a>
        </li>
        @if (ProjectSession.PermissionAccess.SetupConfiguration_CityClass_Export)
        {
            <li>
                <a href="javascript:void(0);" class="btn-icon btn-xsl" onclick="ExportToExcel('siteClassGrid', 'L2ClassID');" title="@ProjectSession.Resources.label.Common_ButtonExportToExcel"><i></i></a>
            </li>
        }
    </ul>
</div>

<!-- Kendo Grid -->
<div id="siteClassData" class="@ProjectSession.CultureKendoClass">
    @(Html.Kendo().Grid<CMMS.Model.L2Classe>()
        .HtmlAttributes(new { @class = "kl-grid" })
        .Name("siteClassGrid")
        .Columns(columns =>
        {
            columns.Bound(c => c.L2ClassCode).Title(ProjectSession.Resources.label.City_TextBlockCityClassCode).Width(180);

            columns.Bound(c => c.L2Class).Title(ProjectSession.Resources.label.City_TextBlockCityClassName);

            columns.Bound(c => c.AltL2Class).HtmlAttributes(new { @class = "text-right" }).Title(ProjectSession.Resources.label.City_TextBlockAltCityClassName);

            if (ProjectSession.PermissionAccess.SetupConfiguration_CityClass_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_CityClass_Deleterecords)
            {
                columns.Bound(c => c.L2ClassID).ClientTemplate("<center>" + (ProjectSession.PermissionAccess.SetupConfiguration_CityClass_Editrecords ? "<a class='action' title='" + ProjectSession.Resources.label.Common_ButtonEdit + "'  style='cursor:pointer' data-toggle='modal' data-target='\\#siteClassModal' onclick='OpenSiteClassEditWindow(#: L2ClassID#)'><i class='glyphicon glyphicon-pencil'></i></a>&nbsp;" : "") + "" + (ProjectSession.PermissionAccess.SetupConfiguration_CityClass_Deleterecords ? "<a class='action delete-button'  href='javascript:void(0);'  class='delete-ic' data-id='#: L2ClassID #' style='cursor:pointer'><i class='glyphicon glyphicon-trash' title='" + ProjectSession.Resources.label.Common_ButtonDelete + "' ></i></a>" : "") + "</center>")
                                            .Title("<center>" + ProjectSession.Resources.label.Common_ButtonAction + "</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Width(80).Filterable(false);
            }
        })
        .Filterable()
        .Sortable(sortable => sortable.AllowUnsort(false))
        .Scrollable()
        .Excel(excel => excel.FileName("Site Class.xlsx").Filterable(true).AllPages(true).ProxyURL(Url.Action("Excel_Export_Save", "GridExport", new { area = string.Empty })))
        .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
        .Events(events => events.DataBound("onDataBound").ExcelExport("excelExport"))
        .DataSource(dataSource =>
                                dataSource.Ajax()
                                .PageSize(ProjectConfiguration.PageSize)
                                .Sort(model => model.Add("L2ClassCode").Ascending())
                                 .Model(model =>
                                 {
                                     model.Id(p => p.L2ClassID);
                                     model.Field(p => p.L2Class);
                                 })
                                .ServerOperation(true)
                                .Read(read => read.Action(Actions.GetSiteClass, Controllers.Configurations, new { area = Areas.Configurations }).Data("BindParameters").Type(HttpVerbs.Post))
        )
    )

</div>

<!-- search order -->
<div id="search-order" class="modal fade" role="dialog"></div>

<!-- Site Class Modal -->
<div id="siteClassModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-mg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" title="@ProjectSession.Resources.label.Common_ButtonClose"></button>
                <h4 class="modal-title">@ProjectSession.Resources.label.Site_TextBlockSiteClass</h4>
            </div>
            <form role="form" id="frmSiteClass">
                <input type="hidden" name="hdnL2ClassID" id="hdnL2ClassID" />
                <div class="modal-body">
                    <div id="Highlights" class="tab-pane active" role="tabpanel">
                        <div class="form-horizontal">
                            <div id="divModelError"></div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.City_TextBlockCityClassCode<span class="cfont">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="L2ClassCode" id="txtL2ClassCode" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.City_TextBlockCityClassCode" maxlength="50">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.City_TextBlockCityClassName<span class="cfont">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="L2Class" id="txtL2Class" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.City_TextBlockCityClassName" maxlength="255">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.City_TextBlockAltCityClassName</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="txtAltL2Class" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.City_TextBlockAltCityClassName" maxlength="255">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer box-footer">
                    @if (ProjectSession.PermissionAccess.SetupConfiguration_CityClass_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_CityClass_Createnewrecords)
                    {
                        <button type="submit" class="btn btn-primary" id="btnSave"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
                    }
                    <button type="button" class="btn btn-default" data-dismiss="modal">@ProjectSession.Resources.label.Common_ButtonClose</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    var kendoGridId = 'siteClassGrid';
    var intPageID = '@SystemEnum.Pages.SiteClass.GetHashCode()';

    $(document).ready(function () {
        validator = $('#frmSiteClass').validate({
            rules: {
                L2ClassCode: { required: true },
                L2Class: { required: true },
            },
            messages: {
                L2ClassCode: { required: '' },
                L2Class: { required: '' },
            }
        });
    });

    function BindParameters() {
        return {
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };

    function OpenSiteClassEditWindow(id) {
        if (id > 0) {
            $.ajax({
                url: '@Url.Action(Actions.GetSiteClassByID, Controllers.Configurations, new { area = Areas.Configurations })',
                type: "POST",
                data: addRequestVerificationToken({ siteClassId: id }),
                success: function (result) {
                    $("#hdnL2ClassID").val(result.L2ClassID);
                    $("#txtL2ClassCode").val(result.L2ClassCode);
                    $("#txtL2Class").val(result.L2Class);
                    $("#txtAltL2Class").val(result.AltL2Class);

                    @if (!ProjectSession.PermissionAccess.SetupConfiguration_CityClass_ChangeMastersCodes)
                    {
                        <text>$("#txtL2ClassCode").attr("disabled", "disabled");</text>
                    }

                    @if (ProjectSession.PermissionAccess.SetupConfiguration_CityClass_Editrecords)
                    {
                        <text>$("#btnSave").show(); </text>
                    }
                    else if (ProjectSession.PermissionAccess.SetupConfiguration_CityClass_Createnewrecords)
                    {
                        <text>$("#btnSave").hide(); </text>
                    }

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }
        else {
            ClearAllInputs("frmSiteClass");
            $("#txtL2ClassCode").removeAttr("disabled");
            @if (ProjectSession.PermissionAccess.SetupConfiguration_CityClass_Createnewrecords)
            {
                <text>$("#btnSave").show(); </text>
            }
            else if (ProjectSession.PermissionAccess.SetupConfiguration_CityClass_Editrecords)
            {
                <text>$("#btnSave").hide(); </text>
            }
        }
    }

    $("#siteClassGrid tbody").on("dblclick", "tr[role='row']", function (e) {
        var grid = $("#siteClassGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        $("#siteClassModal").modal("show");
        OpenSiteClassEditWindow(model.L2ClassID);
    });
</script>

@if (ProjectSession.PermissionAccess.SetupConfiguration_CityClass_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_CityClass_Createnewrecords)
{
    <script type="text/javascript">

        $('#frmSiteClass').on('submit', function (e) {
            if ($("#frmSiteClass").valid()) {
                if (e.isDefaultPrevented()) {
                    // handle the invalid form...
                } else {

                    var siteClassID = $("#hdnL2ClassID").val();
                    var changedObj = {
                        L2ClassID: siteClassID == '' ? 0 : siteClassID,
                        L2ClassCode: $("#txtL2ClassCode").val(),
                        L2Class: $("#txtL2Class").val(),
                        AltL2Class: $("#txtAltL2Class").val(),
                    };

                    $.ajax({
                        url: '@Url.Action(Actions.ManageSiteClass, Controllers.Configurations, new { area = Areas.Configurations })',
                        type: "POST",
                        data: addRequestVerificationToken(changedObj),
                        dataType: "json",
                        success: function (result) {
                            if (result[0] == 0) {
                                ShowMessage(result[1], result[2], "#divModelError");
                            }
                            else {
                                $('#siteClassModal').modal("hide");
                                ShowMessage(result[0], result[1], "#divMessage");
                                ReBindKendoGrid("siteClassGrid");
                            }
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            showErrorMessage();
                        }
                    });
                    e.preventDefault();
                }
            }
            else {
                e.preventDefault();
            }
        })
    </script>
}
@if (ProjectSession.PermissionAccess.SetupConfiguration_CityClass_Deleterecords)
{
    <script type="text/javascript">

        function onDataBound(arg) {
            confirmDeleteMsg(msgText, okText, cancelText, onConfirmCallback, confirmDirection);
            gridProperPaging(this);
        }

        function onConfirmCallback(sender) {
            var id = $(this).data("id");
            $.ajax({
                url: '@Url.Action(Actions.DeleteSiteClass, Controllers.Configurations, new { area = Areas.Configurations })',
                type: "POST",
                data: addRequestVerificationToken({ siteClassId: id }),
                dataType: "json",
                success: function (result) {
                    ClearAllInputs("frmSiteClass");
                    ShowMessage(result[0], result[1], "#divMessage");
                    ReBindKendoGrid("siteClassGrid");

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }
    </script>
}
else
{
    <script>
        function onDataBound(arg) {
            gridProperPaging(this);
        }
    </script>
}