﻿@model CMMS.Model.Configuration
@using CMMS.Infrastructure;
@using CMMS.Pages;
@using CMMS.Model
@using CMMS.Service
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .titel-pc {
        border-bottom: 3px solid #d5d5d5;
        padding: 10px 15px;
        margin-bottom: 10px;
    }

        .titel-pc h1 {
            font-size: 24px;
            color: #555;
            font-family: 'open_sansregular';
            font-weight: normal;
        }
</style>

@* For Click a Tell SMSAPIID is Required , Sender Name is not needed in that case : Sample API For ClickATell
    http://api.clickatell.com/http/sendmsg?user=USERNAME&password=PASSWORD&api_id=3626648&to=966506461121&text=Message
*@
@* For mobily.ws SMSAPIID is not needed , Sender Name is required in that case , Here API COde will not Work, Need to Do manually with Code Given in there website
    http://www.mobily.ws/api/msgSend.php
    "mobile=" + username + "&password=" + password + "&numbers=" + numbers + "&sender=" + sender + "&msg=" + ConvertToUnicode(msg) + "&applicationType=59";

    "Here UserName will be 966568647874"
*@
<div id="divContent">
    @using (Html.BeginForm(Actions.UpdateSMSServerConfiguration, Controllers.Configurations, new { area = Areas.Configurations, @Model }, FormMethod.Post, new { id = "frmServerDetails" }))
    {
        @Html.AntiForgeryToken()
        <div class="box">
            <div class="nav-tabs-horizontal">
                <div class="titel-pc">
                    <h1>@ProjectSession.Resources.label.NotificationSetup_TextBlockSMSGateWayDetails</h1>
                </div>
                <div class="form-horizontal">
                    <div class="information-form">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">@ProjectSession.Resources.label.NotificationSetup_TextBlockSMSGateWayURL<span class="cfont">*</span></label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.SMS_GateWay_API_URL, new { @class = "form-control", @id = "txtSMSGateWay", @placeholder = ProjectSession.Resources.label.Common_Enter + ' ' + ProjectSession.Resources.label.NotificationSetup_TextBlockSMSGateWayURL })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">@ProjectSession.Resources.label.NotificationSetup_TextBlockUserName<span class="cfont">*</span></label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.SMS_UserName, new { @class = "form-control", @id = "txtSMSUserName", @placeholder = ProjectSession.Resources.label.Common_Enter + ' ' + ProjectSession.Resources.label.NotificationSetup_TextBlockUserName })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">@ProjectSession.Resources.label.Employee_TextBlockPassword<span class="cfont">*</span></label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.SMS_Password, new { @class = "form-control", @id = "txtSMSPassword", @placeholder = ProjectSession.Resources.label.Common_Enter + ' ' + ProjectSession.Resources.label.Employee_TextBlockPassword })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">@ProjectSession.Resources.label.NotificationSetup_TextBlockSMSApiID</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.SMS_ApiID, new { @class = "form-control", @id = "txtSMSApiId", @placeholder = ProjectSession.Resources.label.Common_Enter + ' ' + ProjectSession.Resources.label.NotificationSetup_TextBlockSMSApiID })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">@ProjectSession.Resources.label.NotificationSetup_TextBlockSMSSenderName</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.Sender_Name, new { @class = "form-control", @id = "txtSenderName", @placeholder = ProjectSession.Resources.label.Common_Enter + ' ' + ProjectSession.Resources.label.NotificationSetup_TextBlockSMSSenderName })
                            </div>
                        </div>
                    </div>
                    @if (ProjectSession.PermissionAccess.SetupConfiguration_SMSConfiguration_Editrecords)
                    {
                        <div class="box-footer">
                            <button class="btn btn-primary" data-toggle="modal" data-target="#TestConnectionModal" id="btnTestConnection" name="btnTestConnection" type="button"><span>@ProjectSession.Resources.label.NotificationSetup_TextBlockTestConnection</span></button>
                            <button class="btn btn-primary" id="btnSave" name="btnSave" type="submit"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
</div>

<div id="TestConnectionModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-mg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"></button>
                <h4 class="modal-title">@ProjectSession.Resources.label.NotificationSetup_TextBlockTestConnection</h4>
            </div>
            <form role="form" id="frmTestConnection">
                <div class="modal-body">
                    <div id="Highlights" class="tab-pane active" role="tabpanel">
                        <div class="form-horizontal">
                            <div id="divModelError"></div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.Employee_TextBlockMobileNo<span class="cfont">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="txtMobNo" id="txtMobNo" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.Employee_TextBlockMobileNo" maxlength="50">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer box-footer">

                    <button type="button" onclick="TestConnection(this);" class="btn btn-primary" id="btnCheckTestConnection"><span>@ProjectSession.Resources.label.NotificationSetup_TextBlockTestConnection</span></button>

                    <button type="button" class="btn btn-default" data-dismiss="modal">@ProjectSession.Resources.label.Common_ButtonClose</button>
                </div>
            </form>
        </div>

    </div>
</div>

<script type="text/javascript">
    var intPageID = '@SystemEnum.Pages.SMSCongifuration.GetHashCode()';

    validator = $('#frmServerDetails').validate({
        rules: {
            SMS_GateWay_API_URL: { required: true },
            SMS_UserName: { required: true },
            SMS_Password: { required: true },
        },
        messages: {
            SMS_GateWay_API_URL: { required: '' },
            SMS_UserName: { required: '' },
            SMS_Password: { required: '' },
        }
    });

    var validator1 = $('#frmTestConnection').validate({
        rules: { txtMobNo: { required: true } },
        messages: { txtMobNo: { required: '' } }
    });

    $(document).ready(function () {
        if ('@ViewBag.Message' != '' && '@ViewBag.MessageType' != '') {
            ShowMessage('@ViewBag.MessageType', '@ViewBag.Message', "#divMessage");
        }
    });

    $('#frmServerDetails').on('submit', function (e) {
        if ($("#frmServerDetails").valid()) {
            if (!e.isDefaultPrevented()) {
                if (!reValidateDropDowns($(this)))
                { e.preventDefault(); }
            }
            else { e.preventDefault(); }
        }
        else {
            e.preventDefault();
        }
    });

    function TestConnection(e) {
        if ($("#frmTestConnection").valid()) {
            var changedObj = {
                SMS_GateWay_API_URL: $("#txtSMSGateWay").val(),
                SMS_UserName: $("#txtSMSUserName").val(),
                SMS_Password: $("#txtSMSPassword").val(),
                SMS_ApiID: $("#txtSMSApiId").val(),
                Sender_Name: $("#txtSenderName").val(),
                phoneNo: $('#txtMobNo').val()
            };

            $.ajax({
                url: '@Url.Action("SendTestSMS", Controllers.Configurations, new { area = Areas.Configurations })',
                type: "POST",
                data: changedObj,
                dataType: "json",
                success: function (result) {
                    $('#TestConnectionModal').modal("hide");
                    ShowMessage(result[0], result[1], "#divMessage");
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
            return false;
        }
    }

</script>

