﻿@using CMMS.Infrastructure;
@using CMMS.Pages;
@using CMMS.Model
@using CMMS.Service
@using CMMS.Model
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.AntiForgeryToken()

<div class="head1">
    <h1>
        @ProjectSession.Resources.label.Specifications_TextBlockSpecifications
    </h1>
    <ul class="sub_btn">
        @if (ProjectSession.PermissionAccess.SetupConfiguration_Specifications_Createnewrecords)
        {
            <li><a href="javascript:void(0);" class="btn-icon btn-add" data-toggle="modal" data-target="#SpecificationModal" data-backdrop="static" onclick="OpenSpecificationEditWindow(0);" title='@ProjectSession.Resources.label.Common_ButtonAdd'><i></i></a></li>
        }
        <li><a href="javascript:void(0);" class="btn-icon btn-search" data-toggle="modal" data-target="#search-order" onclick='OpenAdvancedSearch("@ProjectSession.Resources.label.Specifications_TextBlockSpecifications","@SystemEnum.Pages.Specification.GetHashCode()")' title='@ProjectSession.Resources.label.Common_ButtonAdvanceSearch'><i></i></a></li>
        <li><a href="javascript:void(0);" class="btn-icon btn-clear" title="@ProjectSession.Resources.label.Common_ButtonClear" onclick="return ClearAdvencedSearch(@SystemEnum.Pages.Specification.GetHashCode());"><i></i></a></li>
        <li><a href="javascript:void(0);" class="btn-icon btn-refresh" onclick="ReBindKendoGrid('SpecificationGrid');" title='@ProjectSession.Resources.label.Common_ButtonRefreshGrid'><i></i></a></li>
        @if (ProjectSession.PermissionAccess.SetupConfiguration_Specifications_Export)
        {
            <li><a href="javascript:void(0);" class="btn-icon btn-xsl" onclick="ExportToExcel('SpecificationGrid', 'SpecID');" title="@ProjectSession.Resources.label.Common_ButtonExportToExcel"><i></i></a></li>
        }
    </ul>
</div>
<!-- Kendo Grid-->
<div id="SpecificationData" class="@ProjectSession.CultureKendoClass">
    @(Html.Kendo().Grid<CMMS.Model.Specification>()
        .Name("SpecificationGrid")
        .HtmlAttributes(new { @class = "kl-grid" })
        .Columns(columns =>
        {

            columns.Bound(c => c.SpecDesc).Title(ProjectSession.Resources.label.Specifications_TextBlockSpecificationsDesc);

            columns.Bound(c => c.SpecAltDesc).HtmlAttributes(new { @class = "text-right" }).Title(ProjectSession.Resources.label.Specifications_TextBlockAltSpecificationsDesc);

            columns.Bound(c => c.UOM).Title(ProjectSession.Resources.label.Item_TextBlockUOM).Width(150);

            if (ProjectSession.PermissionAccess.SetupConfiguration_Specifications_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_Specifications_Deleterecords)
            {
                columns.Bound(c => c.SpecID).ClientTemplate("<center>" + (ProjectSession.PermissionAccess.SetupConfiguration_Specifications_Editrecords ? "<a class='action' title='" + ProjectSession.Resources.label.Common_ButtonEdit + "'  style='cursor:pointer' data-toggle='modal' data-target='\\#SpecificationModal' onclick='OpenSpecificationEditWindow(#: SpecID#)'><i class='glyphicon glyphicon-pencil'></i></a>&nbsp;" : "")
                                                                        + "" + (ProjectSession.PermissionAccess.SetupConfiguration_Specifications_Deleterecords ? "<a class='action delete-button'  href='javascript:void(0);'  class='delete-ic' data-id='#: SpecID #' style='cursor:pointer'><i class='glyphicon glyphicon-trash' title='" + ProjectSession.Resources.label.Common_ButtonDelete + "' ></i></a>" : "") + "</center>")
                                            .Title("<center>" + ProjectSession.Resources.label.Common_ButtonAction + "</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Width(80).Filterable(false);
            }
        })
        .Filterable()
        .Sortable(sortable => sortable.AllowUnsort(false))
        .Scrollable()
        .Excel(excel => excel.FileName(ProjectSession.Resources.label.Specifications_TextBlockSpecifications + ".xlsx").Filterable(true).AllPages(true).ProxyURL(Url.Action("Excel_Export_Save", "GridExport", new { area = string.Empty })))
        .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
        .Events(events => events.DataBound("onDataBound").ExcelExport("excelExport"))
        .DataSource(dataSource =>
                                dataSource.Ajax()
                                .PageSize(ProjectConfiguration.PageSize)
                                .Sort(model => model.Add("SpecID").Descending())
                                 .Model(model =>
                                 {
                                     model.Id(p => p.SpecID);
                                     model.Field(p => p.SpecDesc);
                                 })
                                .ServerOperation(true)
                                .Read(read => read.Action(Actions.GetSpecificationList, Controllers.Configurations, new { area = Areas.Configurations }).Data("BindParameters").Type(HttpVerbs.Post))
        )
    )

</div>


<!-- -------------search order------------- -->
<div id="search-order" class="modal fade" role="dialog"></div>

<!-- -------------Manage Order------------- -->
<div id="SpecificationModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-mg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"></button>
                <h4 class="modal-title">@ProjectSession.Resources.label.Specifications_TextBlockSpecifications</h4>
            </div>
            <form role="form" id="frmSpecification">
                <input type="hidden" name="hdnSpecID" id="hdnSpecID" />
                <div class="modal-body">
                    <div id="Highlights" class="tab-pane active" role="tabpanel">
                        <div class="form-horizontal">
                            <div id="divModelError"></div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.Specifications_TextBlockSpecificationsDesc<span class="cfont">*</span></label>
                                <div class="col-sm-8">
                                    <textarea rows="3" class="form-control" name="SpecDesc" id="txtSpecDesc" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.Specifications_TextBlockSpecificationsDesc" maxlength="4000" ></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.Specifications_TextBlockAltSpecificationsDesc</label>
                                <div class="col-sm-8">
                                    <textarea  rows="3" class="form-control" id="txtSpecAltDesc" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.Specifications_TextBlockAltSpecificationsDesc" maxlength="4000"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.Item_TextBlockUOM</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control"  id="txtUOM" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.Item_TextBlockUOM" maxlength="200">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer box-footer">
                    @if (ProjectSession.PermissionAccess.SetupConfiguration_Specifications_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_Specifications_Createnewrecords)
                    {
                        <button type="submit" class="btn btn-primary" id="btnSave"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
                    }
                    <button type="button" class="btn btn-default" data-dismiss="modal">@ProjectSession.Resources.label.Common_ButtonClose</button>
                </div>
            </form>
        </div>

    </div>
</div>

<script type="text/javascript">
    var kendoGridId = 'SpecificationGrid';
    var intPageID = '@SystemEnum.Pages.Specification.GetHashCode()';

    $(document).ready(function () {
        validator = $('#frmSpecification').validate({
            rules: {
                SpecDesc: { required: true },
            },
            messages: {
                SpecDesc: { required: '' },
            }
        });
    });

    function BindParameters() {
        return {
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };


    function OpenSpecificationEditWindow(id) {
        if (id > 0) {
            $.ajax({
                url: '@Url.Action(Actions.GetSpecificationListByID, Controllers.Configurations, new { area = Areas.Configurations })',
                type: "POST",
                data: addRequestVerificationToken({ SpecID: id }),
                success: function (result) {
                    $("#hdnSpecID").val(result.SpecID);

                    $("#txtSpecDesc").val(result.SpecDesc);
                    $("#txtSpecAltDesc").val(result.SpecAltDesc);
                    $("#txtUOM").val(result.UOM);


                    @if (ProjectSession.PermissionAccess.SetupConfiguration_Specifications_Editrecords)
                    {
                        <text>$("#btnSave").show(); </text>
                    }
                    else if (ProjectSession.PermissionAccess.SetupConfiguration_Specifications_Createnewrecords)
                    {
                        <text>$("#btnSave").hide(); </text>
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    ShowMessage('@SystemEnum.MessageType.danger.ToString()', '@ProjectSession.Resources.message.Common_MsgErrorContactAdmin', "#divMessage");
                }
            });
            }
            else {
                ClearAllInputs("frmSpecification");

            @if (ProjectSession.PermissionAccess.SetupConfiguration_Specifications_Createnewrecords)
            {
                <text>$("#btnSave").show(); </text>
            }
            else if (ProjectSession.PermissionAccess.SetupConfiguration_Specifications_Editrecords)
            {
                <text>$("#btnSave").hide(); </text>
            }
        }
    }
    $("#SpecificationGrid tbody").on("dblclick", "tr[role='row']", function (e) {
        var grid = $("#SpecificationGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        $("#SpecificationModal").modal("show");
        OpenSpecificationEditWindow(model.SpecID);
        //invoke controller
    });
</script>
@if (ProjectSession.PermissionAccess.SetupConfiguration_Specifications_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_Specifications_Createnewrecords)
{
    <script type="text/javascript">



        $('#frmSpecification').on('submit', function (e) {
            if ($("#frmSpecification").valid()) {
                if (e.isDefaultPrevented()) {
                    // handle the invalid form...
                } else {
                    var areaId = $("#hdnSpecID").val();
                    var changedObj = {
                        SpecID: areaId == '' ? 0 : areaId,
                        SpecDesc: $("#txtSpecDesc").val(),
                        SpecAltDesc: $("#txtSpecAltDesc").val(),
                        UOM: $("#txtUOM").val()
                    };

                    $.ajax({
                        url: '@Url.Action(Actions.ManageSpecification, Controllers.Configurations, new { area = Areas.Configurations })',
                        type: "POST",
                        data: addRequestVerificationToken(changedObj),
                        dataType: "json",
                        success: function (result) {
                            if (result[0] == 0) {
                                ShowMessage(result[1], result[2], "#divModelError");
                            }
                            else {
                                $('#SpecificationModal').modal("hide");
                                ShowMessage(result[0], result[1], "#divMessage");
                                ReBindKendoGrid("SpecificationGrid");
                            }
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            showErrorMessage();
                        }
                    });
                    e.preventDefault();
                }
            }
            else {
                e.preventDefault();
            }
        })
    </script>
}
@if (ProjectSession.PermissionAccess.SetupConfiguration_Specifications_Deleterecords)
{
    <script type="text/javascript">

        function onDataBound(arg) {
            confirmDeleteMsg(msgText, okText, cancelText, onConfirmCallback, confirmDirection);
            gridProperPaging(this);
        }

        function onConfirmCallback(sender) {
            var id = $(this).data("id");
            $.ajax({
                url: '@Url.Action(Actions.DeleteSpecification, Controllers.Configurations, new { area = Areas.Configurations })',
                type: "POST",
                data: addRequestVerificationToken({ SpecID: id }),
                dataType: "json",
                success: function (result) {
                    ClearAllInputs("frmSpecification");
                    ShowMessage(result[0], result[1], "#divMessage");
                    ReBindKendoGrid("SpecificationGrid");
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }
    </script>
}
else
{
    <script>

        function onDataBound(arg) {
            gridProperPaging(this);
        }
    </script>
}