﻿@using CMMS.Infrastructure;
@using CMMS.Pages;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.AntiForgeryToken()
<div class="head1">
    <h1>@ProjectSession.Resources.label.Store_TextBlockStoreList</h1>
    <ul class="sub_btn">
        @if (ProjectSession.PermissionAccess.Stores_Stores_Createnewrecords)
        {
            <li>
                <a href="javascript:void(0);" class="btn-icon btn-add" data-toggle="modal" data-target="#storesModal" data-backdrop="static" onclick="OpenStoresEditWindow(0);" title="@ProjectSession.Resources.label.Common_ButtonAdd"><i></i></a>
            </li>
        }
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-search" data-toggle="modal" data-target="#search-order" onclick='OpenAdvancedSearch("@ProjectSession.Resources.label.Store_TextBlockStoreList","@SystemEnum.Pages.Stores.GetHashCode()")' title="@ProjectSession.Resources.label.Common_ButtonAdvanceSearch"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-clear" title="@ProjectSession.Resources.label.Common_ButtonClear" onclick="return ClearAdvencedSearch(@SystemEnum.Pages.Stores.GetHashCode());"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-refresh" onclick="ReBindKendoGrid('storesGrid');" title="@ProjectSession.Resources.label.Common_ButtonRefreshGrid"><i></i></a>
        </li>
        @if (ProjectSession.PermissionAccess.Stores_Stores_Export)
        {
            <li>
                <a href="javascript:void(0);" class="btn-icon btn-xsl" onclick="ExportToExcel('storesGrid', 'SubStoreID');" title="@ProjectSession.Resources.label.Common_ButtonExportToExcel"><i></i></a>
            </li>
        }
    </ul>
</div>

<!-- Kendo Grid -->
<div id="storesData" class="@ProjectSession.CultureKendoClass">
    @(Html.Kendo().Grid<CMMS.Model.Substore>()
        .HtmlAttributes(new { @class = "kl-grid" })
        .Name("storesGrid")
        .Columns(columns =>
        {
            columns.Bound(c => c.SubStoreCode).Title(ProjectSession.Resources.label.Store_TextBlockStoreCode).Width(200);

            columns.Bound(c => c.SubStoreDesc).Title(ProjectSession.Resources.label.Store_TextBlockStoreDescription);

            columns.Bound(c => c.AltSubStoreDesc).HtmlAttributes(new { @class = "text-right" }).Title(ProjectSession.Resources.label.Store_TextBlockAltStoreDescription);

            columns.Bound(c => c.L2Code).Title(ProjectSession.Resources.label.JobRequest_TextBlockCityCode)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterSite", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

            columns.Bound(c => c.IsDefault).ClientTemplate("<center><span class='checkbox-custom #= IsDefault ? 'active' : '' #'></span></center>").Title(ProjectSession.Resources.label.Common_TextBlockDefault).Width(100)
             .Filterable(ftb => ftb.Multi(true).ItemTemplate("itemTemplateForIsDefault").CheckAll(false).BindTo(new[]{
                        new { IsDefault = true },
                        new { IsDefault = false }
                }));

            if (ProjectSession.PermissionAccess.Stores_Stores_Editrecords || ProjectSession.PermissionAccess.Stores_Stores_Deleterecords)
            {
                columns.Bound(c => c.SubStoreID).ClientTemplate("<center>" + (ProjectSession.PermissionAccess.Stores_Stores_Editrecords ? "<a class='action' title='" + ProjectSession.Resources.label.Common_ButtonEdit + "'  style='cursor:pointer' data-toggle='modal' data-target='\\#storesModal' onclick='OpenStoresEditWindow(#: SubStoreID#)'><i class='glyphicon glyphicon-pencil'></i></a>&nbsp;" : "") + "" + (ProjectSession.PermissionAccess.Stores_Stores_Deleterecords ? "<a class='action delete-button'  href='javascript:void(0);'  class='delete-ic' data-id='#: SubStoreID #' style='cursor:pointer'><i class='glyphicon glyphicon-trash' title='" + ProjectSession.Resources.label.Common_ButtonDelete + "' ></i></a>" : "") + "</center>")
                                            .Title("<center>" + ProjectSession.Resources.label.Common_ButtonAction + "</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Width(80).Filterable(false);
            }
        })
        .Filterable()
        .Sortable(sortable => sortable.AllowUnsort(false))
        .Scrollable()
        .Excel(excel => excel.FileName("Stores.xlsx").Filterable(true).AllPages(true).ProxyURL(Url.Action("Excel_Export_Save", "GridExport", new { area = string.Empty })))
        .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
        .Events(events => events.DataBound("onDataBound").ExcelExport("excelExport"))
        .DataSource(dataSource =>
                                dataSource.Ajax()
                                .PageSize(ProjectConfiguration.PageSize)
                                .Sort(model => model.Add("SubStoreCode").Ascending())
                                .Model(model =>
                                {
                                    model.Id(p => p.SubStoreID);
                                    model.Field(p => p.SubStoreDesc);
                                })
                                .ServerOperation(true)
                                .Read(read => read.Action(Actions.GetStores, Controllers.Configurations, new { area = Areas.Configurations }).Data("BindParameters").Type(HttpVerbs.Post))
        )
    )

</div>

<!-- search order -->
<div id="search-order" class="modal fade" role="dialog"></div>

<!-- Item Type Modal -->
<div id="storesModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" title="@ProjectSession.Resources.label.Common_ButtonClose"></button>
                <h4 class="modal-title">@ProjectSession.Resources.label.Store_TextBlockStoreList</h4>
            </div>
            <form role="form" id="frmStores">
                <input type="hidden" name="hdnSubStoreID" id="hdnSubStoreID" />
                <input type="hidden" name="hdnL2Id" id="hdnL2Id" />
                <div class="modal-body">
                    <div id="Highlights" class="tab-pane active" role="tabpanel">
                        <div class="form-horizontal">
                            <div id="divModelError"></div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.JobRequest_TextBlockCityCode<span class="cfont">*</span></label>
                                <div class="col-sm-8">
                                    <div class="@ProjectSession.CultureKendoClass">
                                        @(Html.Kendo().DropDownList()
                                                         .Name("drpSite")
                                                         .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                                         .DataTextField("L2Code")
                                                         .DataValueField("L2ID")
                                                         .HtmlAttributes(new { style = "width: 100%", @required = "required" })
                                                         .Template("#= KendoDDLTemplate(data.L2Code ,data.L2name, data.L2Altname) #")
                                                         .Events(m => m.DataBound("DataBoundDDLL2"))
                                                         .DataSource(source =>
                                                         {
                                                             if (ProjectSession.IsCentral)
                                                             {
                                                                 source.Read(read =>
                                                                 {
                                                                     read.Action(Actions.GetAllCities, Controllers.Configurations, new { area = Areas.Configurations }).Data("BindDropDownParameters");
                                                                 });
                                                             }
                                                             else
                                                             {
                                                                 source.Read(read =>
                                                                 {
                                                                     read.Action(Actions.GetCitiesByEmployee, Controllers.Configurations, new { area = Areas.Configurations }).Data("BindDropDownParameters");
                                                                 });
                                                             }
                                                         }).Value("")
                                        )
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.Store_TextBlockStoreCode<span class="cfont">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="SubStoreCode" id="txtSubStoreCode" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.Store_TextBlockStoreCode" maxlength="100">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.Store_TextBlockStoreDescription<span class="cfont">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="SubStoreDesc" id="txtSubStoreDesc" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.Store_TextBlockStoreDescription" maxlength="3000">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.Store_TextBlockAltStoreDescription</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="AltSubStoreDesc" id="txtAltSubStoreDesc" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.Store_TextBlockAltStoreDescription" maxlength="3000">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.Common_TextBlockDefault</label>
                                <div class="col-sm-8 checkbox">
                                    <label>
                                        <input type="checkbox" name="chkDefault" id="chkDefault">
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer box-footer">
                    @if (ProjectSession.PermissionAccess.Stores_Stores_Editrecords || ProjectSession.PermissionAccess.Stores_Stores_Createnewrecords)
                    {
                        <button type="submit" class="btn btn-primary" id="btnSave"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
                    }
                    <button type="button" class="btn btn-default" data-dismiss="modal">@ProjectSession.Resources.label.Common_ButtonClose</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    var kendoGridId = 'storesGrid';
    var intPageID = '@SystemEnum.Pages.Stores.GetHashCode()';

    $(document).ready(function () {
        validator = $('#frmStores').validate({
            rules: {
                SubStoreCode: { required: true },
                SubStoreDesc: { required: true },
            },
            messages: {
                SubStoreCode: { required: '' },
                SubStoreDesc: { required: '' },
            }
        });
    });

    function BindParameters() {
        return {
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function BindDropDownParameters() {
        return {
            cityID: $("#hdnL2Id").val(),
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function DataBoundDDLL2(e) {
        $("#drpSite").data("kendoDropDownList").value($("#hdnL2Id").val());
    }

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };

    function OpenStoresEditWindow(id) {
        $("#hdnL2Id").val("")
        if (id > 0) {
            $.ajax({
                url: '@Url.Action(Actions.GetStoresByID, Controllers.Configurations, new { area = Areas.Configurations })',
                type: "POST",
                data: addRequestVerificationToken({ storesId: id }),
                success: function (result) {
                    $("#hdnSubStoreID").val(result.SubStoreID);
                    $("#txtSubStoreCode").val(result.SubStoreCode);
                    $("#txtSubStoreDesc").val(result.SubStoreDesc);
                    $("#txtAltSubStoreDesc").val(result.AltSubStoreDesc);
                    $("#chkDefault").prop("checked", result.IsDefault);
                    $("#hdnL2Id").val(result.L2ID);
                    $("#drpSite").data("kendoDropDownList").value(0);
                    $("#drpSite").data("kendoDropDownList").dataSource.read();
                    if (result.IsEnableCity) {
                        $('#drpSite').data("kendoDropDownList").enable(false);
                    }
                    else {
                        $('#drpSite').data("kendoDropDownList").enable(true);
                    }

                     @if (!ProjectSession.PermissionAccess.Stores_Stores_ChangeMastersCodes)
                    {
                        <text>$("#txtSubStoreCode").attr("disabled", "disabled");</text>
                    }
                    @if (ProjectSession.PermissionAccess.Stores_Stores_Editrecords)
                    {
                        <text>$("#btnSave").show(); </text>
                    }
                    else if (ProjectSession.PermissionAccess.Stores_Stores_Createnewrecords)
                    {
                        <text>$("#btnSave").hide(); </text>
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }
        else {
            ClearAllInputs("frmStores");
            $("#txtSubStoreCode").removeAttr("disabled");
            $('#drpSite').data("kendoDropDownList").enable(true);
            $('#drpSite').data("kendoDropDownList").dataSource.read();
            @if (ProjectSession.PermissionAccess.Stores_Stores_Createnewrecords)
            {
                <text>$("#btnSave").show(); </text>
            }
            else if (ProjectSession.PermissionAccess.Stores_Stores_Editrecords)
            {
                <text>$("#btnSave").hide(); </text>
            }
        }
    }

    $("#storesGrid tbody").on("dblclick", "tr[role='row']", function (e) {
        var grid = $("#storesGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        $("#storesModal").modal("show");
        OpenStoresEditWindow(model.SubStoreID);
    });
</script>

@if (ProjectSession.PermissionAccess.Stores_Stores_Editrecords || ProjectSession.PermissionAccess.Stores_Stores_Createnewrecords)
{
    <script type="text/javascript">

        $('#frmStores').on('submit', function (e) {
            if ($("#frmStores").valid()) {
                if (!e.isDefaultPrevented()) {
                    if (reValidateDropDowns($(this))) {
                        var itemTypeId = $("#hdnSubStoreID").val();
                        var changedObj = {
                            SubStoreID: itemTypeId == '' ? 0 : itemTypeId,
                            SubStoreCode: $("#txtSubStoreCode").val(),
                            SubStoreDesc: $("#txtSubStoreDesc").val(),
                            AltSubStoreDesc: $("#txtAltSubStoreDesc").val(),
                            L2ID: $("#drpSite").val(),
                            IsDefault: $("#chkDefault").is(':checked')
                        };
                        $.ajax({
                            url: '@Url.Action(Actions.ManageStores, Controllers.Configurations, new { area = Areas.Configurations })',
                            type: "POST",
                            data: addRequestVerificationToken(changedObj),
                            dataType: "json",
                            success: function (result) {
                                if (result[0] == 0) {
                                    ShowMessage(result[1], result[2], "#divModelError");
                                }
                                else {
                                    $('#storesModal').modal("hide");
                                    ShowMessage(result[0], result[1], "#divMessage");
                                    ReBindKendoGrid("storesGrid");
                                }
                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                showErrorMessage();
                            }
                        });
                    }
                    e.preventDefault();
                }
            }
            else {
                e.preventDefault();
            }
        })

    </script>
}
@if (ProjectSession.PermissionAccess.Stores_Stores_Deleterecords)
{
    <script type="text/javascript">
        function onDataBound(arg) {
            confirmDeleteMsg(msgText, okText, cancelText, onConfirmCallback, confirmDirection);
            gridProperPaging(this);
        }

        function onConfirmCallback(sender) {
            var id = $(this).data("id");
            $.ajax({
                url: '@Url.Action(Actions.DeleteStores, Controllers.Configurations, new { area = Areas.Configurations })',
                type: "POST",
                data: addRequestVerificationToken({ storesId: id }),
                dataType: "json",
                success: function (result) {
                    ClearAllInputs("frmStores");
                    ShowMessage(result[0], result[1], "#divMessage");
                    ReBindKendoGrid("storesGrid");

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }



    </script>
}
else
{
    <script>
        function onDataBound(arg) {
            gridProperPaging(this);
        }
    </script>
}