﻿@using CMMS.Infrastructure;
@using CMMS.Pages;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";  
}
@Html.AntiForgeryToken()
<script src="~/Scripts/jquery-dateFormat.min.js"></script>
<style>
    .calendars-popup {
        z-index: 100000 !important;
    }
</style>
<div class="head1">
    <h1>
        @ProjectSession.Resources.label.Supplier_TextBlockSupplier
    </h1>
    <ul class="sub_btn">
        @if (ProjectSession.PermissionAccess.SetupConfiguration_Suppliers_Createnewrecords)
        {
            <li><a href="@Url.Action(Actions._EditSuppliers, Controllers.Configurations, new { area = Areas.Configurations, SupplierID = 0 })" title="@ProjectSession.Resources.label.Common_ButtonAdd" class="btn-icon btn-add"><i></i></a></li>
        }
        <li><a href="javascript:void(0);" class="btn-icon btn-search" data-toggle="modal" data-target="#search-order" onclick='OpenAdvancedSearch("@ProjectSession.Resources.label.Supplier_TextBlockSupplier","@SystemEnum.Pages.Supplier.GetHashCode()")' title='@ProjectSession.Resources.label.Common_ButtonAdvanceSearch'><i></i></a></li>
        <li><a href="javascript:void(0);" class="btn-icon btn-clear" title="@ProjectSession.Resources.label.Common_ButtonClear" onclick="return ClearAdvencedSearch(@SystemEnum.Pages.Supplier.GetHashCode());"><i></i></a></li>
        <li><a href="javascript:void(0);" class="btn-icon btn-refresh" onclick="ReBindKendoGrid('SupplierGrid');" title='@ProjectSession.Resources.label.Common_ButtonRefreshGrid'><i></i></a></li>
        @if (ProjectSession.PermissionAccess.SetupConfiguration_Suppliers_Export)
        {
            <li><a href="javascript:void(0);" class="btn-icon btn-xsl" onclick="ExportToExcel('SupplierGrid', 'SupplierID');" title="@ProjectSession.Resources.label.Common_ButtonExportToExcel"><i></i></a></li>
        }
    </ul>
</div>
<!-- Kendo Grid-->
<div id="SupplierData" class="@ProjectSession.CultureKendoClass">
    @(Html.Kendo().Grid<CMMS.Model.Supplier>()
        .Name("SupplierGrid")
        .HtmlAttributes(new { @class = "kl-grid" })
        .Columns(columns =>
        {
            columns.Bound(c => c.SupplierNo).Title(ProjectSession.Resources.label.Supplier_TextBlockSupplierNo).Width(250);

            columns.Bound(c => c.SupplierName).Title(ProjectSession.Resources.label.Supplier_TextBlockSupplierName);

            columns.Bound(c => c.AltSupplierName).HtmlAttributes(new { @class = "text-right" }).Title(ProjectSession.Resources.label.Supplier_TextBlockAltSupplierName);

            columns.Bound(c => c.SupplierCategoryName).Title(ProjectSession.Resources.label.Supplier_TextBlockCategory);
            //columns.ForeignKey(c => c.CategoryID, (System.Collections.IEnumerable)ViewBag.supplierContractorCategory, "Value", "Text").Title(ProjectSession.Resources.label.Supplier_TextBlockCategory);

            if (ProjectSession.PermissionAccess.SetupConfiguration_Suppliers_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_Suppliers_Deleterecords)
            {
                columns.Bound(c => c.SupplierID).ClientTemplate("<center>" + (ProjectSession.PermissionAccess.SetupConfiguration_Suppliers_Editrecords ? " <a href='" + Url.Action(Actions._EditSuppliers, CMMS.Pages.Controllers.Configurations, new { area = CMMS.Pages.Areas.Configurations, SupplierID = "#: SupplierID#" }) + "' class='action' title='" + ProjectSession.Resources.label.Common_ButtonEdit + "'  style='cursor:pointer' ><i class='glyphicon glyphicon-pencil'></i></a>&nbsp;" : "")
                    + "" + (ProjectSession.PermissionAccess.SetupConfiguration_Suppliers_Deleterecords ? "<a class='action delete-button'  href='javascript:void(0);'  class='delete-ic' data-id='#: SupplierID #' style='cursor:pointer'><i class='glyphicon glyphicon-trash' title='" + ProjectSession.Resources.label.Common_ButtonDelete + "' ></i></a>" : "") + "</center>")
                                                .Title("<center>" + ProjectSession.Resources.label.Common_ButtonAction + "</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Width(80).Filterable(false);
            }
        })
        .Filterable()
        .Sortable(sortable => sortable.AllowUnsort(false))
        .Scrollable()
        .Excel(excel => excel.FileName("Suppliers.xlsx").Filterable(true).AllPages(true).ProxyURL(Url.Action("Excel_Export_Save", "GridExport", new { area = string.Empty })))
        .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
        .Events(events => events.DataBound("onDataBound").ExcelExport("excelExport"))
        .DataSource(dataSource =>
                                dataSource.Ajax()
                                .PageSize(ProjectConfiguration.PageSize)
                                .Sort(model => model.Add("SupplierID").Descending())
                                 .Model(model =>
                                 {
                                     model.Id(p => p.SupplierID);
                                     model.Field(p => p.SupplierNo);
                                 })
                                .ServerOperation(true)
                                .Read(read => read.Action(Actions.GetSuppliersList, Controllers.Configurations, new { area = Areas.Configurations }).Data("BindParameters").Type(HttpVerbs.Post))
        )
        )

</div>
<!-- -------------search order------------- -->
<div id="search-order" class="modal fade" role="dialog"></div>
<!-- -------------Manage Order------------- -->
@*<div id="SupplierModal" class="modal fade" role="dialog">
</div>*@

<script type="text/javascript">

    var kendoGridId = 'SupplierGrid';
    var intPageID = '@SystemEnum.Pages.Supplier.GetHashCode()';

    $(document).ready(function () {
        if ('@ViewBag.Message' != '' && '@ViewBag.MessageType' != '') {
            ShowMessage('@ViewBag.MessageType', '@ViewBag.Message', "#divMessage");
        }
    });

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };

    function BindParameters() {
        return {
            SupplierNo: '',
            SupplierName: '',
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function onDataBound(arg) {
        confirmDeleteMsg(msgText, okText, cancelText, onConfirmCallback, confirmDirection);
        gridProperPaging(this);
    }

    function OpenSupplierEditWindow(id) {
        $("#SupplierModal").html('');
        var url = '@Url.Action(Actions._EditSuppliers, Controllers.Configurations, new { Area = Areas.Configurations })' + "?SupplierID=" + id;
        $("#SupplierModal").load(url);
    }

    function onConfirmCallback(sender) {
        var id = $(this).data("id");
        $.ajax({
            url: '@Url.Action(Actions.DeleteSuppliers, Controllers.Configurations, new { area = Areas.Configurations })',
            type: "POST",
            data: addRequestVerificationToken({ SupplierID: id }),
            dataType: "json",
            success: function (result) {
                ClearAllInputs("frmSupplier");
                ShowMessage(result[0], result[1], "#divMessage");
                ReBindKendoGrid("SupplierGrid");
            },
            error: function (xhr, ajaxOptions, thrownError) {
                showErrorMessage();
            }
        });
    }

    $("#SupplierGrid tbody").on("dblclick", "tr[role='row']", function (e) {
        var grid = $("#SupplierGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        window.location.href = '@Url.Action(Actions._EditSuppliers, Controllers.Configurations, new { area = Areas.Configurations })' + '?SupplierID=' + model.id;
    });

</script>

