﻿@using CMMS.Infrastructure;
@using CMMS.Pages;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.AntiForgeryToken()
<div class="head1">
    <h1>@ProjectSession.Resources.menu.ToolSetups_MenuToolCategory</h1>
    <ul class="sub_btn">
        @if (ProjectSession.PermissionAccess.SetupConfiguration_ToolCategory_Createnewrecords)
        {
            <li>
                <a href="javascript:void(0);" class="btn-icon btn-add" data-toggle="modal" data-target="#toolCategoryModal" onclick="OpenToolCategoryEditWindow(0);" title="@ProjectSession.Resources.label.Common_ButtonAdd"><i></i></a>
            </li>
        }
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-search" data-toggle="modal" data-target="#search-order" onclick='OpenAdvancedSearch("@ProjectSession.Resources.menu.ToolSetups_MenuToolCategory","@SystemEnum.Pages.ToolCategory.GetHashCode()")' title="@ProjectSession.Resources.label.Common_ButtonAdvanceSearch"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-clear" title="@ProjectSession.Resources.label.Common_ButtonClear" onclick="return ClearAdvencedSearch(@SystemEnum.Pages.ToolCategory.GetHashCode());"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-refresh" onclick="ReBindKendoGrid('toolCategoryGrid');" title="@ProjectSession.Resources.label.Common_ButtonRefreshGrid"><i></i></a>
        </li>
        @if (ProjectSession.PermissionAccess.SetupConfiguration_ToolCategory_Export)
        {
            <li>
                <a href="javascript:void(0);" class="btn-icon btn-xsl" onclick="ExportToExcel('toolCategoryGrid', 'ToolCategoryID');" title="@ProjectSession.Resources.label.Common_ButtonExportToExcel"><i></i></a>
            </li>
        }
    </ul>
</div>

<!-- Kendo Grid -->
<div id="toolCategoryData" class="@ProjectSession.CultureKendoClass">
    @(Html.Kendo().Grid<CMMS.Model.ToolCategory>()
        .Name("toolCategoryGrid")
        .HtmlAttributes(new { @class = "kl-grid" })
        .Columns(columns =>
        {
            columns.Bound(c => c.ToolCategoryCode).Title(ProjectSession.Resources.label.ToolSetups_TextToolCategoryCode).Width(250);

            columns.Bound(c => c.ToolCategoryDesc).Title(ProjectSession.Resources.label.ToolSetups_TextToolCategoryDesc);

            columns.Bound(c => c.ToolCategoryAltDesc).HtmlAttributes(new { @class = "text-right" }).Title(ProjectSession.Resources.label.ToolSetups_TextToolCategoryAltDesc);

            if (ProjectSession.PermissionAccess.SetupConfiguration_ToolCategory_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_ToolCategory_Deleterecords)
            {
                columns.Bound(c => c.ToolCategoryID).ClientTemplate("<center>" + (ProjectSession.PermissionAccess.SetupConfiguration_ToolCategory_Editrecords ? "<a class='action' title='" + ProjectSession.Resources.label.Common_ButtonEdit + "'  style='cursor:pointer' data-toggle='modal' data-target='\\#toolCategoryModal' onclick='OpenToolCategoryEditWindow(#: ToolCategoryID#)'><i class='glyphicon glyphicon-pencil'></i></a>&nbsp;" : "") + "" + (ProjectSession.PermissionAccess.SetupConfiguration_ToolCategory_Deleterecords ? "<a class='action delete-button'  href='javascript:void(0);'  class='delete-ic' data-id='#: ToolCategoryID #' style='cursor:pointer'><i class='glyphicon glyphicon-trash' title='" + ProjectSession.Resources.label.Common_ButtonDelete + "' ></i></a>" : "") + "</center>")
                                            .Title("<center>" + ProjectSession.Resources.label.Common_ButtonAction + "</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Width(80).Filterable(false);
            }
        }) 
        .Filterable()
        .Sortable(sortable => sortable.AllowUnsort(false))
        .Scrollable()
        .Excel(excel => excel.FileName("Tool Category.xlsx").Filterable(true).AllPages(true).ProxyURL(Url.Action("Excel_Export_Save", "GridExport", new { area = string.Empty })))
        .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
        .Events(events => events.DataBound("onDataBound").ExcelExport("excelExport"))
        .DataSource(dataSource =>
                                dataSource.Ajax()
                                .PageSize(ProjectConfiguration.PageSize)
                                .Sort(model => model.Add("ToolCategoryCode").Ascending())
                                 .Model(model =>
                                 {
                                     model.Id(p => p.ToolCategoryID);
                                     model.Field(p => p.ToolCategoryCode);
                                 })
                                .ServerOperation(true)
                                .Read(read => read.Action(Actions.GetToolCategory, Controllers.Configurations, new { area = Areas.Configurations }).Data("BindParameters").Type(HttpVerbs.Post))
        )
    )

</div>

<!-- search order -->
<div id="search-order" class="modal fade" role="dialog"></div>

<!-- Tool Category Modal -->
<div id="toolCategoryModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-mg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" title="@ProjectSession.Resources.label.Common_ButtonClose"></button>
                <h4 class="modal-title">@ProjectSession.Resources.menu.ToolSetups_MenuToolCategory</h4>
            </div>
            <form role="form" id="frmToolCategory">
                <input type="hidden" name="hdnToolCategoryID" id="hdnToolCategoryID" />
                <div class="modal-body">
                    <div id="Highlights" class="tab-pane active" role="tabpanel">
                        <div class="form-horizontal">
                            <div id="divModelError"></div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.ToolSetups_TextToolCategoryCode<span class="cfont">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="ToolCategoryCode" id="txtToolCategoryCode" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.ToolSetups_TextToolCategoryCode" maxlength="20">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.ToolSetups_TextToolCategoryDesc<span class="cfont">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="ToolCategoryDesc" id="txtToolCategoryDesc" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.ToolSetups_TextToolCategoryDesc" maxlength="2000">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.ToolSetups_TextToolCategoryAltDesc</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="txtToolCategoryAltDesc" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.ToolSetups_TextToolCategoryAltDesc" maxlength="2000">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer box-footer">
                    @if (ProjectSession.PermissionAccess.SetupConfiguration_ToolCategory_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_ToolCategory_Createnewrecords)
                    {
                        <button type="submit" class="btn btn-primary" id="btnSave"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
                    }
                    <button type="button" class="btn btn-default" data-dismiss="modal">@ProjectSession.Resources.label.Common_ButtonClose</button>
                </div>
            </form>
        </div>
    </div>
</div>


<script type="text/javascript">
    var kendoGridId = 'toolCategoryGrid';
    var intPageID = '@SystemEnum.Pages.ToolCategory.GetHashCode()';

    $(document).ready(function () {
        validator = $('#frmToolCategory').validate({
            rules: {
                ToolCategoryCode: { required: true },
                ToolCategoryDesc: { required: true },
            },
            messages: {
                ToolCategoryCode: { required: '' },
                ToolCategoryDesc: { required: '' },
            }
        });
    });

    function BindParameters() {
        return {
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };

    function OpenToolCategoryEditWindow(id) {
        if (id > 0) {
            $.ajax({
                url: '@Url.Action(Actions.GetToolCategoryByID, Controllers.Configurations, new { area = Areas.Configurations })',
                type: "POST",
                data: addRequestVerificationToken({ toolCategoryId: id }),
                success: function (result) {
                    $("#hdnToolCategoryID").val(result.ToolCategoryID);
                    $("#txtToolCategoryCode").val(result.ToolCategoryCode);
                    $("#txtToolCategoryDesc").val(result.ToolCategoryDesc);
                    $("#txtToolCategoryAltDesc").val(result.ToolCategoryAltDesc);
                    @if (!ProjectSession.PermissionAccess.SetupConfiguration_ToolCategory_ChangeMastersCodes)
                    {
                        <text>$("#txtToolCategoryCode").attr("disabled", "disabled");</text>
                    }

                    @if (ProjectSession.PermissionAccess.SetupConfiguration_ToolCategory_Editrecords)
                     {
                         <text>$("#btnSave").show(); </text>
                     }
                     else if (ProjectSession.PermissionAccess.SetupConfiguration_ToolCategory_Createnewrecords)
                     {
                         <text>$("#btnSave").hide(); </text>
                     }

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }
        else {
            ClearAllInputs("frmToolCategory");
            $("#txtToolCategoryCode").removeAttr("disabled");
            @if (ProjectSession.PermissionAccess.SetupConfiguration_ToolCategory_Createnewrecords)
            {
                <text>$("#btnSave").show(); </text>
            }
            else if (ProjectSession.PermissionAccess.SetupConfiguration_ToolCategory_Editrecords)
            {
                <text>$("#btnSave").hide(); </text>
            }
        }
    }

    $("#toolCategoryGrid tbody").on("dblclick", "tr[role='row']", function (e) {
        var grid = $("#toolCategoryGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        $("#toolCategoryModal").modal("show");
        OpenToolCategoryEditWindow(model.ToolCategoryID);
    });

</script>

@if (ProjectSession.PermissionAccess.SetupConfiguration_ToolCategory_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_ToolCategory_Createnewrecords)
{
    <script type="text/javascript">
        $('#frmToolCategory').on('submit', function (e) {
            if ($("#frmToolCategory").valid()) {
                if (e.isDefaultPrevented()) {
                    // handle the invalid form...
                } else {

                    var toolCategoryID = $("#hdnToolCategoryID").val();
                    var changedObj = {
                        ToolCategoryID: toolCategoryID == '' ? 0 : toolCategoryID,
                        ToolCategoryCode: $("#txtToolCategoryCode").val(),
                        ToolCategoryDesc: $("#txtToolCategoryDesc").val(),
                        ToolCategoryAltDesc: $("#txtToolCategoryAltDesc").val(),
                    };

                    $.ajax({
                        url: '@Url.Action(Actions.ManageToolCategory, Controllers.Configurations, new { area = Areas.Configurations })',
                        type: "POST",
                        data: addRequestVerificationToken(changedObj),
                        dataType: "json",
                        success: function (result) {
                            if (result[0] == 0) {
                                ShowMessage(result[1], result[2], "#divModelError");
                            }
                            else {
                                $('#toolCategoryModal').modal("hide");
                                ShowMessage(result[0], result[1], "#divMessage");
                                ReBindKendoGrid("toolCategoryGrid");
                            }
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            showErrorMessage();
                        }
                    });
                    e.preventDefault();
                }
            }
            else {
                e.preventDefault();
            }
        })
    </script>
}

@if (ProjectSession.PermissionAccess.SetupConfiguration_ToolCategory_Deleterecords)
{
    <script type="text/javascript">
        function onDataBound(arg) {
            confirmDeleteMsg(msgText, okText, cancelText, onConfirmCallback, confirmDirection);
            gridProperPaging(this);
        }


        function onConfirmCallback(sender) {
            var id = $(this).data("id");
            $.ajax({
                url: '@Url.Action(Actions.DeleteToolCategory, Controllers.Configurations, new { area = Areas.Configurations })',
                type: "POST",
                data: addRequestVerificationToken({ toolCategoryId: id }),
                dataType: "json",
                success: function (result) {
                    ClearAllInputs("frmToolCategory");
                    ShowMessage(result[0], result[1], "#divMessage");
                    ReBindKendoGrid("toolCategoryGrid");

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }
    </script>
}
else
{
    <script>
        function onDataBound(arg) {
            gridProperPaging(this);
        }
    </script>
}

