﻿@using CMMS.Infrastructure;
@using CMMS.Pages;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.AntiForgeryToken()
<div class="head1">
    <h1>@ProjectSession.Resources.menu.ToolSetups_MenuTools</h1>
    <ul class="sub_btn">
        @if (ProjectSession.PermissionAccess.SetupConfiguration_Tools_Createnewrecords)
        {
            <li>
                <a href="javascript:void(0);" class="btn-icon btn-add" data-toggle="modal" data-target="#toolsModal" onclick="OpenToolsEditWindow(0);" title="@ProjectSession.Resources.label.Common_ButtonAdd"><i></i></a>
            </li>
        }
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-search" data-toggle="modal" data-target="#search-order" onclick='OpenAdvancedSearch("@ProjectSession.Resources.menu.ToolSetups_MenuTools","@SystemEnum.Pages.Tool.GetHashCode()")' title="@ProjectSession.Resources.label.Common_ButtonAdvanceSearch"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-clear" title="@ProjectSession.Resources.label.Common_ButtonClear" onclick="return ClearAdvencedSearch(@SystemEnum.Pages.Tool.GetHashCode());"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-refresh" onclick="ReBindKendoGrid('toolsGrid');" title="@ProjectSession.Resources.label.Common_ButtonRefreshGrid"><i></i></a>
        </li>
        @if (ProjectSession.PermissionAccess.SetupConfiguration_Tools_Export)
        {
            <li>
                <a href="javascript:void(0);" class="btn-icon btn-xsl" onclick="ExportToExcel('toolsGrid', 'ToolsID');" title="@ProjectSession.Resources.label.Common_ButtonExportToExcel"><i></i></a>
            </li>
        }
    </ul>
</div>

<!-- Kendo Grid -->
<div id="toolsData" class="@ProjectSession.CultureKendoClass">
    @(Html.Kendo().Grid<CMMS.Model.Tool>()
        .Name("toolsGrid")
        .HtmlAttributes(new { @class = "kl-grid" })
        .Columns(columns =>
        {
            columns.Bound(c => c.ToolsCode).Title(ProjectSession.Resources.label.ToolSetups_TextToolsCode).Width(250);

            columns.Bound(c => c.ToolsDesc).Title(ProjectSession.Resources.label.ToolSetups_TextToolsDesc);

            columns.Bound(c => c.ToolsAltDesc).HtmlAttributes(new { @class = "text-right" }).Title(ProjectSession.Resources.label.ToolSetups_TextToolsAltDesc);

            columns.Bound(c => c.ToolCategoryCode).Title(ProjectSession.Resources.label.ToolSetups_TextToolCategoryCode)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterToolCategory", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

            columns.Bound(c => c.ToolSubCategoryCode).Title(ProjectSession.Resources.label.ToolSetups_TextToolSubCategoryCode)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterToolSubCategory", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

            if (ProjectSession.PermissionAccess.SetupConfiguration_Tools_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_Tools_Deleterecords)
            {
                columns.Bound(c => c.ToolsID).ClientTemplate("<center>" + (ProjectSession.PermissionAccess.SetupConfiguration_Tools_Editrecords ? "<a class='action' title='" + ProjectSession.Resources.label.Common_ButtonEdit + "'  style='cursor:pointer' data-toggle='modal' data-target='\\#toolsModal' onclick='OpenToolsEditWindow(#: ToolsID#)'><i class='glyphicon glyphicon-pencil'></i></a>&nbsp;" : "") + "" + (ProjectSession.PermissionAccess.SetupConfiguration_Tools_Deleterecords ? "<a class='action delete-button'  href='javascript:void(0);'  class='delete-ic' data-id='#: ToolsID #' style='cursor:pointer'><i class='glyphicon glyphicon-trash' title='" + ProjectSession.Resources.label.Common_ButtonDelete + "' ></i></a>" : "") + "</center>")
                                            .Title("<center>" + ProjectSession.Resources.label.Common_ButtonAction + "</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Width(80).Filterable(false);
            }
        }) 
        .Filterable()
        .Sortable(sortable => sortable.AllowUnsort(false))
        .Scrollable()
        .Excel(excel => excel.FileName("Tools.xlsx").Filterable(true).AllPages(true).ProxyURL(Url.Action("Excel_Export_Save", "GridExport", new { area = string.Empty })))
        .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
        .Events(events => events.DataBound("onDataBound").ExcelExport("excelExport"))
        .DataSource(dataSource =>
                                dataSource.Ajax()
                                .PageSize(ProjectConfiguration.PageSize)
                                        .Sort(model => model.Add("ToolsCode").Ascending())
                                 .Model(model =>
                                 {
                                     model.Id(p => p.ToolsID);
                                     model.Field(p => p.ToolsCode);
                                 })
                                .ServerOperation(true)
                                .Read(read => read.Action(Actions.GetTool, Controllers.Configurations, new { area = Areas.Configurations }).Data("BindParameters").Type(HttpVerbs.Post))
        )
    )

</div>

<!-- search order -->
<div id="search-order" class="modal fade" role="dialog"></div>

<!-- Tool Sub Category Modal -->
<div id="toolsModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" title="@ProjectSession.Resources.label.Common_ButtonClose"></button>
                <h4 class="modal-title">@ProjectSession.Resources.menu.ToolSetups_MenuTools</h4>
            </div>
            <form role="form" id="frmTools">
                <input type="hidden" name="hdnToolsID" id="hdnToolsID" />
                <div class="modal-body">
                    <div id="Highlights" class="tab-pane active" role="tabpanel">
                        <div class="form-horizontal">
                            <div id="divModelError"></div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.ToolSetups_TextToolsCode<span class="cfont">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="ToolsCode" id="txtToolsCode" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.ToolSetups_TextToolsCode" maxlength="20">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.ToolSetups_TextToolsDesc<span class="cfont">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="ToolsDesc" id="txtToolsDesc" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.ToolSetups_TextToolsDesc" maxlength="2000">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.ToolSetups_TextToolsAltDesc</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="txtToolsAltDesc" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.ToolSetups_TextToolsAltDesc" maxlength="2000">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.ToolSetups_TextToolCategoryCode<span class="cfont">*</span></label>
                                <div class="col-sm-8">
                                    <div class="@ProjectSession.CultureKendoClass">
                                        @(Html.Kendo().DropDownList()
                                                         .Name("drpToolCategory")
                                                         .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                                         .DataTextField("ToolCategoryCode")
                                                         .DataValueField("ToolCategoryID")
                                                         .HtmlAttributes(new { style = "width: 100%", @required = "required" })
                                                         .Template("#= KendoDDLTemplate(data.ToolCategoryCode ,data.ToolCategoryDesc, data.ToolCategoryAltDesc) #")
                                                                          .Events(m => m.Change("ChangeToolCategory"))
                                                         .DataSource(source =>
                                                         {
                                                             source.Read(read =>
                                                             {
                                                                 read.Action(Actions.GetToolCategories, Controllers.Configurations, new { area = Areas.Configurations });
                                                             });
                                                         }).Value("")
                                        )
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.ToolSetups_TextToolSubCategoryCode<span class="cfont">*</span></label>
                                <div class="col-sm-8">
                                    <div class="@ProjectSession.CultureKendoClass">
                                        @(Html.Kendo().DropDownList()
                                                         .Name("drpToolSubCategory")
                                                         .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                                         .DataTextField("ToolSubCategoryCode")
                                                         .DataValueField("ToolSubCategoryID")
                                                         .HtmlAttributes(new { style = "width: 100%", @required = "required" })
                                                         .Template("#= KendoDDLTemplate(data.ToolSubCategoryCode ,data.ToolSubCategoryDesc, data.ToolSubCategoryAltDesc) #")
                                                         .Value("")
                                        )
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer box-footer">
                    @if (ProjectSession.PermissionAccess.SetupConfiguration_Tools_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_Tools_Createnewrecords)
                    {
                        <button type="submit" class="btn btn-primary" id="btnSave"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
                    }
                    <button type="button" class="btn btn-default" data-dismiss="modal">@ProjectSession.Resources.label.Common_ButtonClose</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    var kendoGridId = 'toolsGrid';
    var intPageID = '@SystemEnum.Pages.Tool.GetHashCode()';

    $(document).ready(function () {
        validator = $('#frmTools').validate({
            rules: {
                ToolsCode: { required: true },
                ToolsDesc: { required: true },
            },
            messages: {
                ToolsCode: { required: '' },
                ToolsDesc: { required: '' },
            }
        });
    });

    function BindParameters() {
        return {
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };

    function OpenToolsEditWindow(id) {
        if (id > 0) {
            $.ajax({
                url: '@Url.Action(Actions.GetToolByID, Controllers.Configurations, new { area = Areas.Configurations })',
                type: "POST",
                data: addRequestVerificationToken({ toolId: id }),
                success: function (result) {
                    $("#hdnToolsID").val(result.ToolsID);
                    $("#txtToolsCode").val(result.ToolsCode);
                    $("#txtToolsDesc").val(result.ToolsDesc);
                    $("#txtToolsAltDesc").val(result.ToolsAltDesc);
                    $("#drpToolCategory").data("kendoDropDownList").value(result.ToolCategoryID);
                    $("#drpToolCategory").data("kendoDropDownList").trigger("change");
                    $("#drpToolSubCategory").data("kendoDropDownList").value(result.ToolSubCategoryID);
                    @if (!ProjectSession.PermissionAccess.SetupConfiguration_Tools_ChangeMastersCodes)
                    {
                        <text>$("#txtToolsCode").attr("disabled", "disabled");</text>
                    }

                    @if (ProjectSession.PermissionAccess.SetupConfiguration_Tools_Editrecords)
                     {
                         <text>$("#btnSave").show(); </text>
                     }
                     else if (ProjectSession.PermissionAccess.SetupConfiguration_Tools_Createnewrecords)
                     {
                         <text>$("#btnSave").hide(); </text>
                     }

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }
        else {
            ClearAllInputs("frmTools");
            $("#txtToolsCode").removeAttr("disabled");
            @if (ProjectSession.PermissionAccess.SetupConfiguration_Tools_Createnewrecords)
            {
                <text>$("#btnSave").show(); </text>
            }
            else if (ProjectSession.PermissionAccess.SetupConfiguration_Tools_Editrecords)
            {
                <text>$("#btnSave").hide(); </text>
            }
        }
    }

    $("#toolsGrid tbody").on("dblclick", "tr[role='row']", function (e) {
        var grid = $("#toolsGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        $("#toolsModal").modal("show");
        OpenToolsEditWindow(model.ToolsID);
    });

    function ChangeToolCategory(e) {
        var dataItem = this.dataItem(e.item);
        $.ajax({
            url: '@Url.Action(Actions.GetToolSubCategoryByCategoryID, Controllers.Configurations, new { area = Areas.Configurations })',
            type: 'Post',
            data: { toolCategoryId: dataItem.ToolCategoryID == "" ? 0 : dataItem.ToolCategoryID },
            cache: false,
            async: false,
            success: function (result) {
                $('#drpToolSubCategory').data('kendoDropDownList').dataSource.data(result);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                showErrorMessage();
            }
        });
    }

</script>

@if (ProjectSession.PermissionAccess.SetupConfiguration_Tools_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_Tools_Createnewrecords)
{
    <script type="text/javascript">
        $('#frmTools').on('submit', function (e) {
            if ($("#frmTools").valid()) {
                if (e.isDefaultPrevented()) {
                    // handle the invalid form...
                } else {
                    if (reValidateDropDowns($(this))) {
                        var ToolsID = $("#hdnToolsID").val();
                        var changedObj = {
                            ToolsID: ToolsID == '' ? 0 : ToolsID,
                            ToolsCode: $("#txtToolsCode").val(),
                            ToolsDesc: $("#txtToolsDesc").val(),
                            ToolsAltDesc: $("#txtToolsAltDesc").val(),
                            ToolCategoryID: $("#drpToolCategory").val(),
                            ToolSubCategoryID: $("#drpToolSubCategory").val()
                        };

                        $.ajax({
                            url: '@Url.Action(Actions.ManageTool, Controllers.Configurations, new { area = Areas.Configurations })',
                            type: "POST",
                            data: addRequestVerificationToken(changedObj),
                            dataType: "json",
                            success: function (result) {
                                if (result[0] == 0) {
                                    ShowMessage(result[1], result[2], "#divModelError");
                                }
                                else {
                                    $('#toolsModal').modal("hide");
                                    ShowMessage(result[0], result[1], "#divMessage");
                                    ReBindKendoGrid("toolsGrid");
                                }
                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                showErrorMessage();
                            }
                        });
                    }
                    e.preventDefault();
                }
            }
            else {
                e.preventDefault();
            }
        })
    </script>
}

@if (ProjectSession.PermissionAccess.SetupConfiguration_Tools_Deleterecords)
{
    <script type="text/javascript">
        function onDataBound(arg) {
            confirmDeleteMsg(msgText, okText, cancelText, onConfirmCallback, confirmDirection);
            gridProperPaging(this);
        }


        function onConfirmCallback(sender) {
            var id = $(this).data("id");
            $.ajax({
                url: '@Url.Action(Actions.DeleteTool, Controllers.Configurations, new { area = Areas.Configurations })',
                type: "POST",
                data: addRequestVerificationToken({ toolId: id }),
                dataType: "json",
                success: function (result) {
                    ClearAllInputs("frmTools");
                    ShowMessage(result[0], result[1], "#divMessage");
                    ReBindKendoGrid("toolsGrid");

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }
    </script>
}
else
{
    <script>
        function onDataBound(arg) {
            gridProperPaging(this);
        }
    </script>
}

