﻿@using CMMS.Infrastructure;
@using CMMS.Pages;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.AntiForgeryToken()
<div class="head1">
    <h1>@ProjectSession.Resources.menu.ToolSetups_MenuToolSubCategory</h1>
    <ul class="sub_btn">
        @if (ProjectSession.PermissionAccess.SetupConfiguration_ToolSubCategory_Createnewrecords)
        {
            <li>
                <a href="javascript:void(0);" class="btn-icon btn-add" data-toggle="modal" data-target="#toolSubCategoryModal" onclick="OpenToolSubCategoryEditWindow(0);" title="@ProjectSession.Resources.label.Common_ButtonAdd"><i></i></a>
            </li>
        }
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-search" data-toggle="modal" data-target="#search-order" onclick='OpenAdvancedSearch("@ProjectSession.Resources.menu.ToolSetups_MenuToolSubCategory","@SystemEnum.Pages.ToolSubCategory.GetHashCode()")' title="@ProjectSession.Resources.label.Common_ButtonAdvanceSearch"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-clear" title="@ProjectSession.Resources.label.Common_ButtonClear" onclick="return ClearAdvencedSearch(@SystemEnum.Pages.ToolSubCategory.GetHashCode());"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-refresh" onclick="ReBindKendoGrid('toolSubCategoryGrid');" title="@ProjectSession.Resources.label.Common_ButtonRefreshGrid"><i></i></a>
        </li>
        @if (ProjectSession.PermissionAccess.SetupConfiguration_ToolSubCategory_Export)
        {
            <li>
                <a href="javascript:void(0);" class="btn-icon btn-xsl" onclick="ExportToExcel('toolSubCategoryGrid', 'ToolSubCategoryID');" title="@ProjectSession.Resources.label.Common_ButtonExportToExcel"><i></i></a>
            </li>
        }
    </ul>
</div>

<!-- Kendo Grid -->
<div id="toolSubCategoryData" class="@ProjectSession.CultureKendoClass">
    @(Html.Kendo().Grid<CMMS.Model.ToolSubCategory>()
        .Name("toolSubCategoryGrid")
        .HtmlAttributes(new { @class = "kl-grid" })
        .Columns(columns =>
        {
            columns.Bound(c => c.ToolSubCategoryCode).Title(ProjectSession.Resources.label.ToolSetups_TextToolSubCategoryCode).Width(250);

            columns.Bound(c => c.ToolSubCategoryDesc).Title(ProjectSession.Resources.label.ToolSetups_TextToolSubCategoryDesc);

            columns.Bound(c => c.ToolSubCategoryAltDesc).HtmlAttributes(new { @class = "text-right" }).Title(ProjectSession.Resources.label.ToolSetups_TextToolSubCategoryAltDesc);

            columns.Bound(c => c.ToolCategoryCode).Title(ProjectSession.Resources.label.ToolSetups_TextToolCategoryCode)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterToolCategory", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

            if (ProjectSession.PermissionAccess.SetupConfiguration_ToolSubCategory_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_ToolSubCategory_Deleterecords)
            {
                columns.Bound(c => c.ToolSubCategoryID).ClientTemplate("<center>" + (ProjectSession.PermissionAccess.SetupConfiguration_ToolSubCategory_Editrecords ? "<a class='action' title='" + ProjectSession.Resources.label.Common_ButtonEdit + "'  style='cursor:pointer' data-toggle='modal' data-target='\\#toolSubCategoryModal' onclick='OpenToolSubCategoryEditWindow(#: ToolSubCategoryID#)'><i class='glyphicon glyphicon-pencil'></i></a>&nbsp;" : "") + "" + (ProjectSession.PermissionAccess.SetupConfiguration_ToolSubCategory_Deleterecords ? "<a class='action delete-button'  href='javascript:void(0);'  class='delete-ic' data-id='#: ToolSubCategoryID #' style='cursor:pointer'><i class='glyphicon glyphicon-trash' title='" + ProjectSession.Resources.label.Common_ButtonDelete + "' ></i></a>" : "") + "</center>")
                                            .Title("<center>" + ProjectSession.Resources.label.Common_ButtonAction + "</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Width(80).Filterable(false);
            }
        })
        .Filterable()
        .Sortable(sortable => sortable.AllowUnsort(false))
        .Scrollable()
        .Excel(excel => excel.FileName("Tool Sub Category.xlsx").Filterable(true).AllPages(true).ProxyURL(Url.Action("Excel_Export_Save", "GridExport", new { area = string.Empty })))
        .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
        .Events(events => events.DataBound("onDataBound").ExcelExport("excelExport"))
        .DataSource(dataSource =>
                                dataSource.Ajax()
                                .PageSize(ProjectConfiguration.PageSize)
                                .Sort(model => model.Add("ToolSubCategoryCode").Ascending())
                                 .Model(model =>
                                 {
                                     model.Id(p => p.ToolSubCategoryID);
                                     model.Field(p => p.ToolSubCategoryCode);
                                 })
                                .ServerOperation(true)
                                .Read(read => read.Action(Actions.GetToolSubCategory, Controllers.Configurations, new { area = Areas.Configurations }).Data("BindParameters").Type(HttpVerbs.Post))
        )
    )

</div>

<!-- search order -->
<div id="search-order" class="modal fade" role="dialog"></div>

<!-- Tool Sub Category Modal -->
<div id="toolSubCategoryModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" title="@ProjectSession.Resources.label.Common_ButtonClose"></button>
                <h4 class="modal-title">@ProjectSession.Resources.menu.ToolSetups_MenuToolSubCategory</h4>
            </div>
            <form role="form" id="frmToolSubCategory">
                <input type="hidden" name="hdnToolSubCategoryID" id="hdnToolSubCategoryID" />
                <div class="modal-body">
                    <div id="Highlights" class="tab-pane active" role="tabpanel">
                        <div class="form-horizontal">
                            <div id="divModelError"></div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.ToolSetups_TextToolSubCategoryCode<span class="cfont">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="ToolSubCategoryCode" id="txtToolSubCategoryCode" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.ToolSetups_TextToolSubCategoryCode" maxlength="20">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.ToolSetups_TextToolSubCategoryDesc<span class="cfont">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="ToolSubCategoryDesc" id="txtToolSubCategoryDesc" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.ToolSetups_TextToolSubCategoryDesc" maxlength="2000">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.ToolSetups_TextToolSubCategoryAltDesc</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="txtToolSubCategoryAltDesc" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.ToolSetups_TextToolSubCategoryAltDesc" maxlength="2000">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.ToolSetups_TextToolCategoryCode<span class="cfont">*</span></label>
                                <div class="col-sm-8">
                                    <div class="@ProjectSession.CultureKendoClass">
                                        @(Html.Kendo().DropDownList()
                                                         .Name("drpToolCategory")
                                                         .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                                         .DataTextField("ToolCategoryCode")
                                                         .DataValueField("ToolCategoryID")
                                                         .HtmlAttributes(new { style = "width: 100%", @required = "required" })
                                                         .Template("#= KendoDDLTemplate(data.ToolCategoryCode ,data.ToolCategoryDesc, data.ToolCategoryAltDesc) #")
                                                         .DataSource(source =>
                                                         {
                                                             source.Read(read =>
                                                             {
                                                                 read.Action(Actions.GetToolCategories, Controllers.Configurations, new { area = Areas.Configurations });
                                                             });
                                                         }).Value("")
                                        )
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer box-footer">
                    @if (ProjectSession.PermissionAccess.SetupConfiguration_ToolSubCategory_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_ToolSubCategory_Createnewrecords)
                    {
                        <button type="submit" class="btn btn-primary" id="btnSave"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
                    }
                    <button type="button" class="btn btn-default" data-dismiss="modal">@ProjectSession.Resources.label.Common_ButtonClose</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    var kendoGridId = 'toolSubCategoryGrid';
    var intPageID = '@SystemEnum.Pages.ToolSubCategory.GetHashCode()';

    $(document).ready(function () {
        validator = $('#frmToolSubCategory').validate({
            rules: {
                ToolSubCategoryCode: { required: true },
                ToolSubCategoryDesc: { required: true },
            },
            messages: {
                ToolSubCategoryCode: { required: '' },
                ToolSubCategoryDesc: { required: '' },
            }
        });
    });

    function BindParameters() {
        return {
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };

    function OpenToolSubCategoryEditWindow(id) {
        if (id > 0) {
            $.ajax({
                url: '@Url.Action(Actions.GetToolSubCategoryByID, Controllers.Configurations, new { area = Areas.Configurations })',
                type: "POST",
                data: addRequestVerificationToken({ toolSubCategoryId: id }),
                success: function (result) {
                    $("#hdnToolSubCategoryID").val(result.ToolSubCategoryID);
                    $("#txtToolSubCategoryCode").val(result.ToolSubCategoryCode);
                    $("#txtToolSubCategoryDesc").val(result.ToolSubCategoryDesc);
                    $("#txtToolSubCategoryAltDesc").val(result.ToolSubCategoryAltDesc);
                    $("#drpToolCategory").data("kendoDropDownList").value(result.ToolCategoryID);
                    @if (!ProjectSession.PermissionAccess.SetupConfiguration_ToolSubCategory_ChangeMastersCodes)
                    {
                        <text>$("#txtToolSubCategoryCode").attr("disabled", "disabled");</text>
                    }

                    @if (ProjectSession.PermissionAccess.SetupConfiguration_ToolSubCategory_Editrecords)
                     {
                         <text>$("#btnSave").show(); </text>
                     }
                    else if (ProjectSession.PermissionAccess.SetupConfiguration_ToolSubCategory_Createnewrecords)
                     {
                         <text>$("#btnSave").hide(); </text>
                     }

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }
        else {
            ClearAllInputs("frmToolSubCategory");
            $("#txtToolSubCategoryCode").removeAttr("disabled");
            @if (ProjectSession.PermissionAccess.SetupConfiguration_ToolSubCategory_Createnewrecords)
            {
                <text>$("#btnSave").show(); </text>
            }
            else if (ProjectSession.PermissionAccess.SetupConfiguration_ToolSubCategory_Editrecords)
            {
                <text>$("#btnSave").hide(); </text>
            }
        }
    }

    $("#toolSubCategoryGrid tbody").on("dblclick", "tr[role='row']", function (e) {
        var grid = $("#toolSubCategoryGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        $("#toolSubCategoryModal").modal("show");
        OpenToolSubCategoryEditWindow(model.ToolCategoryID);
    });

</script>

@if (ProjectSession.PermissionAccess.SetupConfiguration_ToolSubCategory_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_ToolSubCategory_Createnewrecords)
{
    <script type="text/javascript">
        $('#frmToolSubCategory').on('submit', function (e) {
            if ($("#frmToolSubCategory").valid()) {
                if (e.isDefaultPrevented()) {
                    // handle the invalid form...
                } else {
                    if (reValidateDropDowns($(this))) {
                        var toolSubCategoryID = $("#hdnToolSubCategoryID").val();
                        var changedObj = {
                            ToolSubCategoryID: toolSubCategoryID == '' ? 0 : toolSubCategoryID,
                            ToolSubCategoryCode: $("#txtToolSubCategoryCode").val(),
                            ToolSubCategoryDesc: $("#txtToolSubCategoryDesc").val(),
                            ToolSubCategoryAltDesc: $("#txtToolSubCategoryAltDesc").val(),
                            ToolCategoryID: $("#drpToolCategory").val()
                        };

                        $.ajax({
                            url: '@Url.Action(Actions.ManageToolSubCategory, Controllers.Configurations, new { area = Areas.Configurations })',
                            type: "POST",
                            data: addRequestVerificationToken(changedObj),
                            dataType: "json",
                            success: function (result) {
                                if (result[0] == 0) {
                                    ShowMessage(result[1], result[2], "#divModelError");
                                }
                                else {
                                    $('#toolSubCategoryModal').modal("hide");
                                    ShowMessage(result[0], result[1], "#divMessage");
                                    ReBindKendoGrid("toolSubCategoryGrid");
                                }
                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                showErrorMessage();
                            }
                        });
                    }
                    e.preventDefault();
                }
            }
            else {
                e.preventDefault();
            }
        })
    </script>
}

@if (ProjectSession.PermissionAccess.SetupConfiguration_ToolSubCategory_Deleterecords)
{
    <script type="text/javascript">
        function onDataBound(arg) {
            confirmDeleteMsg(msgText, okText, cancelText, onConfirmCallback, confirmDirection);
            gridProperPaging(this);
        }


        function onConfirmCallback(sender) {
            var id = $(this).data("id");
            $.ajax({
                url: '@Url.Action(Actions.DeleteToolSubCategory, Controllers.Configurations, new { area = Areas.Configurations })',
                type: "POST",
                data: addRequestVerificationToken({ toolSubCategoryId: id }),
                dataType: "json",
                success: function (result) {
                    ClearAllInputs("frmToolSubCategory");
                    ShowMessage(result[0], result[1], "#divMessage");
                    ReBindKendoGrid("toolSubCategoryGrid");

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }
    </script>
}
else
{
    <script>
        function onDataBound(arg) {
            gridProperPaging(this);
        }
    </script>
}
