﻿@using CMMS.Infrastructure;
@using CMMS.Pages;
@using CMMS.Model
@using CMMS.Service
@{
    ViewBag.Title = ProjectSession.Resources.label.UserNotification_TextBlockViewAllNotificationList;
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool Lang = ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true;
}
@Html.AntiForgeryToken()
<div class="head1">
    <h1>
        @ProjectSession.Resources.label.UserNotification_TextBlockViewAllNotificationList
    </h1>   
    <ul class="sub_btn">
        <li><a href="javascript:void(0);" class="btn-icon btn-xsl" onclick="ExportToExcel();" title="@ProjectSession.Resources.label.Common_ButtonExportToExcel"><i></i></a></li>
    </ul>
</div>

<form role="form" id="frmviewAllNotification">

    <div class="box cleaning-weightage">

        <div class="clearfix">
            <div class="form-group col-sm-6 col-md-3">
                @*<label class="form-label">Recieved Date:</label>
                <div class="input-group date-pick">
                    <input type="text" class="form-control" id="date-pick1">
                    <span class="input-group-addon"><img src='@Url.Content("../Images/ic-date.png")' alt=""></span>
                </div>*@
                <label class="form-label">@ProjectSession.Resources.label.JobOrder_TextBlockStartDate</label>
                <div class="input-group date-pick">
                    @Html.TextBox("txtNotificationStartDate","","{0:" + ProjectConfiguration.DefaultDateFormat + "}", new { placeholder = ProjectConfiguration.DefaultDateFormat, @class = "form-control calendarsPicker" })
                </div>


            </div>
            <div class="form-group col-sm-6 col-md-3">
                @*<label class="form-label">Recieved Date:</label>
                <div class="input-group date-pick">
                    <input type="text" class="form-control" id="date-pick1">
                    <span class="input-group-addon"><img src='@Url.Content("../Images/ic-date.png")' alt=" "></span>
                </div>*@

                <label class="form-label">@ProjectSession.Resources.label.JobOrder_TextBlockEndDate</label>
                <div class="input-group date-pick">
                    @Html.TextBox("txtNotificationEndDate", "", "{0:" + ProjectConfiguration.DefaultDateFormat + "}", new { placeholder = ProjectConfiguration.DefaultDateFormat, @class = "form-control calendarsPicker" })
                </div>


            </div>
            <div class="form-group col-sm-6 col-md-3">
                <label class="form-label">@ProjectSession.Resources.label.UserNotification_TextBlockTitleDescription</label>
                <input type="text" class="form-control" name="txtTitleDescriptionSearch" id="txtTitleDescriptionSearch" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.UserNotification_TextBlockTitleDescription" maxlength="255">

            </div>

            <div class="form-group col-sm-6 col-md-3">
                <label class="form-label">Notification Type:</label>
                @(Html.Kendo().DropDownList()
                .Name("ddlNotificationType")
                .OptionLabel(ProjectSession.Resources.label.Common_Select)
                .DataTextField("NotificationTypeDesc")
                .ValueTemplate(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "#:NotificationTypeDesc # " : "#:NotificationTypeDesc #")
                .DataValueField("NotificationTypeID")
                .HtmlAttributes(new { style = "width: 100%" })
                //.Template(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "#:NotificationTypeDesc # " : "#:NotificationTypeDesc #")
                .DataSource(source =>
                {
                    source.Read(read =>
                    {
                        read.Action(Actions.NotificationTypeList, Controllers.Configurations, new { area = Areas.Configurations });
                    });
                })
                .Value("")
                )
            </div>
        </div>

        <div class="box-footer">
            <button class="btn btn-primary" id="btnSearchNotification" type="button" onclick="ReBindKendoListView('NotificationListView');"><span>@ProjectSession.Resources.label.Common_TextBlockSearch</span></button>
            <button class="btn btn-default" id="btnClearNotificationSearch" onclick="clearSearch();" type="button"><span>@ProjectSession.Resources.label.Common_ButtonClear</span></button>
        </div>
    </div>

</form> 
    <div class="box notification-drop">



        @(Html.Kendo().ListView<CMMS.Model.WorkOrderNotification>()
        .Name("NotificationListView")
        .HtmlAttributes(new { @class = "notification", @id = "NotificationListView" })
        .TagName("ul")
        .ClientTemplateId("template")
        .Events(e => e.DataBound("onDataBound"))
            .DataSource(dataSource =>
            {
                dataSource.Read(read => read.Action(Actions.GetNotificationList, Controllers.Configurations, new { area = Areas.Configurations }).Data("BindParameters").Type(HttpVerbs.Post));
                dataSource.PageSize(ProjectSession.PageSize);
            })
        .Pageable()
        )


    </div>


    <script type="text/x-kendo-template" id="template">
        #if(IsRead){#
        <li class="notif-box">
            #}else{#
        <li class="notif-box unread">
            #}#
            <i class='img'><img src='@Url.Content("../Images/Notification_Type_#: NotificationTypeID #.png")' alt=''></i>
            <p class='name' onclick="JumptoNotification('#: WorkOrderNotificationID #', '#: WRWO #', '#: WOWRNo #');" style="cursor:pointer;">
                #: NotificationTypeDesc #

                #if(WRWO == 1){#
                - Job Request No : #: WOWRNo #
                #}else{#
                - Job Order No : #: WOWRNo #
                #}#

            </p>
            <p class='comment'>
                #: Title #
            </p>
            <p class='comment'>#: Description #</p>
            <p class='time'>#: Postedon #</p>
            <a href='javascript:void(0);' class='nl_trash delete-button glyphicon glyphicon-trash' data-id='#: WorkOrderNotificationID #'></a>
        </li>
    </script>


    <script>
    var intPageID = '@SystemEnum.Pages.ViewAllNotificationList.GetHashCode()';

    function BindParameters() {

        var strStartdate = "";
        if ($('#txtNotificationStartDate').val() == '' || $('#txtNotificationStartDate').val() == 'undefined' || $('#txtNotificationStartDate').val() == null) {
            strStartdate = "";
        }
        else {
            strStartdate = $('#txtNotificationStartDate').val();
        }

        var strEnddate = "";
        if ($('#txtNotificationEndDate').val() == '' || $('#txtNotificationEndDate').val() == 'undefined' || $('#txtNotificationEndDate').val() == null) {
            strEnddate = "";
        }
        else {
            strEnddate = $('#txtNotificationEndDate').val();
        }

        return {
            startdate: strStartdate,
            endDate: strEnddate,
            notificationTypeId: $("#ddlNotificationType").val(),
            titleDescription: $("#txtTitleDescriptionSearch").val(),
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function onDataBound(arg) {
        confirmDeleteMsg(msgText, okText, cancelText, onConfirmCallback, confirmDirection);
        ProperPagingForListView(this);
    }


    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };

    function ProperPagingForListView(object) {
        if (object.dataSource.view().length == 0) {
            var currentPage = object.dataSource.page();
            if (currentPage > 1) {
                object.dataSource.page(currentPage - 1);
            }
        }

        if (object.dataSource.total() == 0) {
            $(object.wrapper)
                .append('<li class="Notfound">@ProjectSession.Resources.message.Common_MsgNoRecordsFound</li>');
            object.pager.element.hide();
        }
        else {
            object.pager.element.show();
        }
    }

    function onConfirmCallback(sender) {
        var id = $(this).data("id");
        $.ajax({
            url: '@Url.Action(Actions.InActiveNotification, Controllers.Configurations, new { area = Areas.Configurations })',
            type: "POST",
            data: addRequestVerificationToken({ workOrderNotificationID: id }),
            dataType: "json",
            success: function (result) {
                ShowMessage(result[0], result[1], "#divMessage");
                $('#NotificationListView').data('kendoListView').dataSource.read();
                $('#NotificationListView').data('kendoListView').refresh();
            },
            error: function (xhr, ajaxOptions, thrownError) {
                showErrorMessage();
            }
        });

    }


    function JumptoNotification(id, WRWOID, WRWONo) {
        $.ajax({
            url: '@Url.Action(Actions.MarkAsReadNotification, Controllers.Configurations, new { area = Areas.Configurations })',
            type: "POST",
            data: addRequestVerificationToken({ workOrderNotificationID: id }),
            dataType: "json",
            success: function (result) {

                if (WRWOID == 1) {
                    location.href = '@Url.Action(Actions.GetJobRequestById, CMMS.Pages.Controllers.Transaction, new { area = CMMS.Pages.Areas.Transaction })' + '?requestNo=' + WRWONo;
                }
                else if (WRWOID == 2) {
                    location.href = '@Url.Action(Actions.GetJOByJobOrderNo, CMMS.Pages.Controllers.Transaction, new { area = CMMS.Pages.Areas.Transaction })' + '?workOrderNo=' + WRWONo + '&assetID=0&objWorkOrder=null';
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }

        function ReBindKendoListView(id) {
            $('#' + id).data('kendoListView').dataSource.read();
            $('#' + id).data('kendoListView').refresh();
        }


        function clearSearch() {
            ClearAllInputs("frmviewAllNotification");
            ReBindKendoListView('NotificationListView');
        }



        function ExportToExcel() {

            var strStartdate = "";
            if ($('#txtNotificationStartDate').val() == '' || $('#txtNotificationStartDate').val() == 'undefined' || $('#txtNotificationStartDate').val() == null) {
                strStartdate = "";
            }
            else {
                strStartdate = $('#txtNotificationStartDate').val();
            }

            var strEnddate = "";
            if ($('#txtNotificationEndDate').val() == '' || $('#txtNotificationEndDate').val() == 'undefined' || $('#txtNotificationEndDate').val() == null) {
                strEnddate = "";
            }
            else {
                strEnddate = $('#txtNotificationEndDate').val();
            }

            window.open('@Url.Action("ExportToExcel", Controllers.Configurations, new { @area = Areas.Configurations })?startdate=' + strStartdate + '&endDate=' + strEnddate + '&notificationTypeId=' + $("#ddlNotificationType").val() + '&titleDescription=' + $("#txtTitleDescriptionSearch").val() , '_blank');

            

                @*$.ajax({
                    url: '@Url.Action("ExportToExcel", Controllers.Configurations, new { area = Areas.Configurations })',
                    type: "POST",
                    data: addRequestVerificationToken({
                        startdate: strStartdate,
                        endDate: strEnddate,
                        notificationTypeId: $("#ddlNotificationType").val(),
                        titleDescription: $("#txtTitleDescriptionSearch").val()
                    }),
                    dataType: "json",
                    success: function (result) {
                        alert(1);
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        showErrorMessage();
                    }
                });*@
        }


    </script>
