﻿@using CMMS.Infrastructure;
@using CMMS.Pages;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.AntiForgeryToken()

<div class="head1">
    <h1>
        @ProjectSession.Resources.label.Asset_TextBlockAssetWarrantyContract
    </h1>
    <ul class="sub_btn">
        @if (ProjectSession.PermissionAccess.SetupConfiguration_AssetWarrantyContract_Createnewrecords)
        {
            <li><a href="javascript:void(0)" class="btn-icon btn-add" data-toggle="modal" data-target="#WarrantyContractModal" data-backdrop="static" onclick="OpenWarrantyContractEditWindow(0);" title='@ProjectSession.Resources.label.Common_ButtonAdd'><i></i></a></li>
        }
        <li><a href="javascript:void(0)" class="btn-icon btn-search" data-toggle="modal" data-target="#search-order" onclick='OpenAdvancedSearch("@ProjectSession.Resources.label.Asset_TextBlockAssetWarrantyContract","@SystemEnum.Pages.WarrantyContract.GetHashCode()")' title='@ProjectSession.Resources.label.Common_ButtonAdvanceSearch'><i></i></a></li>
        <li><a href="javascript:void(0)" class="btn-icon btn-clear" title="@ProjectSession.Resources.label.Common_ButtonClear" onclick="return ClearAdvencedSearch(@SystemEnum.Pages.WarrantyContract.GetHashCode());"><i></i></a></li>
        <li><a href="javascript:void(0);" class="btn-icon btn-refresh" onclick="ReBindKendoGrid('WarrantyContractGrid');" title='@ProjectSession.Resources.label.Common_ButtonRefreshGrid'><i></i></a></li>
        @if (ProjectSession.PermissionAccess.SetupConfiguration_AssetWarrantyContract_Export)
        {
            <li><a href="javascript:void(0);" class="btn-icon btn-xsl" onclick="ExportToExcel('WarrantyContractGrid', 'Warranty_contractID');" title="@ProjectSession.Resources.label.Common_ButtonExportToExcel"><i></i></a></li>
        }
    </ul>
</div>
<!-- Kendo Grid-->
<div id="WarrantyContractData" class="@ProjectSession.CultureKendoClass">
    @(Html.Kendo().Grid<CMMS.Model.WarrantyContract>()
        .Name("WarrantyContractGrid")
        .HtmlAttributes(new { @class = "kl-grid" })
        .Columns(columns =>
        {
            columns.Bound(c => c.Warranty_contract).Title(ProjectSession.Resources.label.Asset_TextBlockAssetWarrantyContractName).Width(250);

            columns.Bound(c => c.AltWarranty_contract).HtmlAttributes(new { @class = "text-right" }).Title(ProjectSession.Resources.label.Asset_TextBlockAltAssetWarrantyContract);

            if (ProjectSession.PermissionAccess.SetupConfiguration_AssetWarrantyContract_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_AssetWarrantyContract_Deleterecords)
            {
                columns.Bound(c => c.Warranty_contractID).ClientTemplate("<center>" + (ProjectSession.PermissionAccess.SetupConfiguration_AssetWarrantyContract_Editrecords ? "<a class='action' title='" + ProjectSession.Resources.label.Common_ButtonEdit + "'  style='cursor:pointer' data-toggle='modal' data-target='\\#WarrantyContractModal' onclick='OpenWarrantyContractEditWindow(#: Warranty_contractID#)'><i class='glyphicon glyphicon-pencil'></i></a>&nbsp;" : "") + "" + (ProjectSession.PermissionAccess.SetupConfiguration_AssetWarrantyContract_Deleterecords ? "<a class='action delete-button'  href='javascript:void(0);'  class='delete-ic' data-id='#: Warranty_contractID #' style='cursor:pointer'><i class='glyphicon glyphicon-trash' title='" + ProjectSession.Resources.label.Common_ButtonDelete + "' ></i></a>" : "") + "</center>")
                                            .Title("<center>" + ProjectSession.Resources.label.Common_ButtonAction + "</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Width(80).Filterable(false);
            }
        })
        .Filterable()
        .Sortable(sortable => sortable.AllowUnsort(false))
        .Scrollable()
        .Excel(excel => excel.FileName("Warranty/Contract.xlsx").Filterable(true).AllPages(true).ProxyURL(Url.Action("Excel_Export_Save", "GridExport", new { area = string.Empty })))
        .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
        .Events(events => events.DataBound("onDataBound").ExcelExport("excelExport"))
        .DataSource(dataSource =>
                                dataSource.Ajax()
                                .PageSize(ProjectConfiguration.PageSize)
                                .Sort(model => model.Add("Warranty_contract").Ascending())
                                 .Model(model =>
                                 {
                                     model.Id(p => p.Warranty_contractID);
                                     model.Field(p => p.Warranty_contract);
                                 })
                                .ServerOperation(true)
                                .Read(read => read.Action(Actions.GetWarrantyContractList, Controllers.Configurations, new { area = Areas.Configurations }).Data("BindParameters").Type(HttpVerbs.Post))
        )
    )

</div>


<!-- -------------search order------------- -->
<div id="search-order" class="modal fade" role="dialog"></div>
<!-- -------------Manage Order------------- -->
<div id="WarrantyContractModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-mg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"></button>
                <h4 class="modal-title">@ProjectSession.Resources.label.Asset_TextBlockAssetWarrantyContract</h4>
            </div>
            <form role="form" id="frmWarrantyContract">
                <input type="hidden" name="hdnWarranty_contractID" id="hdnWarranty_contractID" />
                <div class="modal-body">
                    <div id="Highlights" class="tab-pane active" role="tabpanel">
                        <div class="form-horizontal">
                            <div id="divModelError"></div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.Asset_TextBlockAssetWarrantyContractName<span class="cfont">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="Warranty_contract" id="txtWarranty_contract" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.Asset_TextBlockAssetWarrantyContractName" maxlength="50">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.Asset_TextBlockAltAssetWarrantyContract</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="txtAltWarranty_contract" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.Asset_TextBlockAltAssetWarrantyContract" maxlength="50">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer box-footer">
                    @if (ProjectSession.PermissionAccess.SetupConfiguration_AssetWarrantyContract_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_AssetWarrantyContract_Createnewrecords)
                    {
                        <button type="submit" class="btn btn-primary" id="btnSave"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
                    }
                    <button type="button" class="btn btn-default" data-dismiss="modal">@ProjectSession.Resources.label.Common_ButtonClose</button>
                </div>
            </form>
        </div>

    </div>
</div>

<script type="text/javascript">
    var kendoGridId = 'WarrantyContractGrid';
    var intPageID = '@SystemEnum.Pages.WarrantyContract.GetHashCode()';

    $(document).ready(function () {
        validator = $('#frmWarrantyContract').validate({
            rules: {
                Warranty_contract: { required: true },
            },
            messages: {
                Warranty_contract: { required: '' },
            }
        });
    });

    function BindParameters() {
        return {
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };



    function OpenWarrantyContractEditWindow(id) {
        if (id > 0) {
            $.ajax({
                url: '@Url.Action(Actions.GetWarrantyContractListByID, Controllers.Configurations, new { area = Areas.Configurations })',
                type: "POST",
                data: addRequestVerificationToken({ Warranty_contractID: id }),
                success: function (result) {
                    $("#hdnWarranty_contractID").val(result.Warranty_contractID);
                    $("#txtWarranty_contract").val(result.Warranty_contract);
                    $("#txtAltWarranty_contract").val(result.AltWarranty_contract);
                    @if (ProjectSession.PermissionAccess.SetupConfiguration_AssetWarrantyContract_Editrecords)
                    {
                        <text>$("#btnSave").show(); </text>
                    }
                    else if (ProjectSession.PermissionAccess.SetupConfiguration_AssetWarrantyContract_Createnewrecords)
                    {
                        <text>$("#btnSave").hide(); </text>
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    ShowMessage('@SystemEnum.MessageType.danger.ToString()', '@ProjectSession.Resources.message.Common_MsgErrorContactAdmin', "#divMessage");
                }
            });
        }
        else {
            ClearAllInputs("frmWarrantyContract");
            @if (ProjectSession.PermissionAccess.SetupConfiguration_AssetWarrantyContract_Createnewrecords)
            {
                <text>$("#btnSave").show(); </text>
            }
            else if (ProjectSession.PermissionAccess.SetupConfiguration_AssetWarrantyContract_Editrecords)
            {
                <text>$("#btnSave").hide(); </text>
            }
        }
    }

    $("#WarrantyContractGrid tbody").on("dblclick", "tr[role='row']", function (e) {
        var grid = $("#WarrantyContractGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        $("#WarrantyContractModal").modal("show");
        OpenWarrantyContractEditWindow(model.Warranty_contractID);
        //invoke controller
    });

</script>
@if (ProjectSession.PermissionAccess.SetupConfiguration_AssetWarrantyContract_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_AssetWarrantyContract_Createnewrecords)
{
    <script type="text/javascript">
        $('#frmWarrantyContract').on('submit', function (e) {
            if ($("#frmWarrantyContract").valid()) {
                if (e.isDefaultPrevented()) {
                    // handle the invalid form...
                } else {

                    var areaId = $("#hdnWarranty_contractID").val();
                    var changedObj = {
                        Warranty_contractID: areaId == '' ? 0 : areaId,
                        Warranty_contract: $("#txtWarranty_contract").val(),
                        AltWarranty_contract: $("#txtAltWarranty_contract").val(),
                    };

                    $.ajax({
                        url: '@Url.Action(Actions.ManageWarrantyContract, Controllers.Configurations, new { area = Areas.Configurations })',
                        type: "POST",
                        data: addRequestVerificationToken(changedObj),
                        dataType: "json",
                        success: function (result) {
                            if (result[0] == 0) {
                                ShowMessage(result[1], result[2], "#divModelError");
                            }
                            else {
                                $('#WarrantyContractModal').modal("hide");
                                ShowMessage(result[0], result[1], "#divMessage");
                                ReBindKendoGrid("WarrantyContractGrid");
                            }
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            showErrorMessage();
                        }
                    });
                    e.preventDefault();
                }
            }
            else {
                e.preventDefault();
            }
        })
    </script>
}

@if (ProjectSession.PermissionAccess.SetupConfiguration_AssetWarrantyContract_Deleterecords)
{
    <script type="text/javascript">

    function onDataBound(arg) {
        confirmDeleteMsg(msgText, okText, cancelText, onConfirmCallback, confirmDirection);
        gridProperPaging(this);
    }

    function onConfirmCallback(sender) {
        var id = $(this).data("id");
        $.ajax({
            url: '@Url.Action(Actions.DeleteWarrantyContract, Controllers.Configurations, new { area = Areas.Configurations })',
            type: "POST",
            data: addRequestVerificationToken({ Warranty_contractID: id }),
            dataType: "json",
            success: function (result) {
                ClearAllInputs("frmWarrantyContract");
                ShowMessage(result[0], result[1], "#divMessage");
                ReBindKendoGrid("WarrantyContractGrid");
            },
            error: function (xhr, ajaxOptions, thrownError) {
                showErrorMessage();
            }
        });
    }
    </script>
}
else
{
    <script>
        function onDataBound(arg) {
            gridProperPaging(this);
        }
    </script>
}
