﻿@using CMMS.Infrastructure;
@using CMMS.Pages;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.AntiForgeryToken()
<div class="head1">
    <h1>@ProjectSession.Resources.label.Street_TextBlockStreetCodes</h1>
    <ul class="sub_btn">
        @if (ProjectSession.PermissionAccess.Locations_Street_Createnewrecords)
        {
            <li>
                <a href="javascript:void(0);" class="btn-icon btn-add" data-toggle="modal" data-target="#zoneModal" data-backdrop="static" onclick="OpenZoneEditWindow(0);" title="@ProjectSession.Resources.label.Common_ButtonAdd"><i></i></a>
            </li>
        }
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-search" data-toggle="modal" data-target="#search-order" onclick='OpenAdvancedSearch("@ProjectSession.Resources.label.Street_TextBlockStreetCodes","@SystemEnum.Pages.Zone.GetHashCode()");' title="@ProjectSession.Resources.label.Common_ButtonAdvanceSearch"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-clear" title="@ProjectSession.Resources.label.Common_ButtonClear" onclick="return ClearAdvencedSearch(@SystemEnum.Pages.Zone.GetHashCode());"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-refresh" onclick="ReBindKendoGrid('zoneGrid');" title="@ProjectSession.Resources.label.Common_ButtonRefreshGrid"><i></i></a>
        </li>
        @if (ProjectSession.PermissionAccess.Locations_Street_Export)
        {
            <li>
                <a href="javascript:void(0);" class="btn-icon btn-xsl" onclick="ExportToExcel('zoneGrid', 'L4ID');" title="@ProjectSession.Resources.label.Common_ButtonExportToExcel"><i></i></a>
            </li>
        }
    </ul>
</div>

<!-- Kendo Grid-->
<div id="zoneData" class="@ProjectSession.CultureKendoClass">
    @(Html.Kendo().Grid<CMMS.Model.L4>()
        .Name("zoneGrid")
        .HtmlAttributes(new { @class = "kl-grid" })
        .Columns(columns =>
        {
            columns.Bound(c => c.L4No).Title(ProjectSession.Resources.label.Street_TextBlockStreetCode).Width(150);

            columns.Bound(c => c.L4Description).Title(ProjectSession.Resources.label.Street_TextBlockStreetDesc);

            columns.Bound(c => c.L4AltDescription).HtmlAttributes(new { @class = "text-right" }).Title(ProjectSession.Resources.label.Street_TextBlockAltStreetDesc);

            columns.Bound(c => c.L2Code).Title(ProjectSession.Resources.label.JobRequest_TextBlockCityCode)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterSite", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

            columns.Bound(c => c.L1No).Title(ProjectSession.Resources.label.Organisation_TextBlockOrgCode)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterOrganisation", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

            columns.Bound(c => c.SectorCode).Title(ProjectSession.Resources.label.JobRequest_TextBlockSectorCode)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterSector", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

            columns.Bound(c => c.SectorName).Title(ProjectSession.Resources.label.JobRequest_TextBlockSectorName)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterSectorByName", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

            if (ProjectSession.IsAreaFieldsVisible)
            {
                columns.Bound(c => c.L3No).Title(ProjectSession.Resources.label.Area_TextBlockAreaCode)
                .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterArea", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));
            }

            if (ProjectSession.PermissionAccess.Locations_Street_Editrecords || ProjectSession.PermissionAccess.Locations_Street_Deleterecords)
            {
                columns.Bound(c => c.L4ID).ClientTemplate("<center>" + (ProjectSession.PermissionAccess.Locations_Street_Editrecords ? "<a class='action' title='" + ProjectSession.Resources.label.Common_ButtonEdit + "'  style='cursor:pointer' data-toggle='modal' data-target='\\#zoneModal' onclick='OpenZoneEditWindow(#: L4ID#)'><i class='glyphicon glyphicon-pencil'></i></a>&nbsp;" : "") + "" + (ProjectSession.PermissionAccess.Locations_Street_Deleterecords ? "<a class='action delete-button'  href='javascript:void(0);'  class='delete-ic' data-id='#: L4ID #' style='cursor:pointer'><i class='glyphicon glyphicon-trash' title='" + ProjectSession.Resources.label.Common_ButtonDelete + "' ></i></a>" : "") + "</center>")
                                            .Title("<center>" + ProjectSession.Resources.label.Common_ButtonAction + "</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Width(80).Filterable(false);
            }
        })
        .Filterable()
        .Sortable(sortable => sortable.AllowUnsort(false))
        .Scrollable()
        .Excel(excel => excel.FileName("Zone.xlsx").Filterable(true).AllPages(true).ProxyURL(Url.Action("Excel_Export_Save", "GridExport", new { area = string.Empty })))
        .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
        .Events(events => events.DataBound("onDataBound").ExcelExport("excelExport"))
        .DataSource(dataSource =>
                                dataSource.Ajax()
                                .PageSize(ProjectConfiguration.PageSize)
                                .Sort(model => model.Add("L4No").Ascending())
                                .Model(model =>
                                {
                                    model.Id(p => p.L4ID);
                                    model.Field(p => p.L4Description);
                                })
                                .ServerOperation(true)
                                .Read(read => read.Action(Actions.GetZone, Controllers.Configurations, new { area = Areas.Configurations }).Data("BindParameters").Type(HttpVerbs.Post))
        )
    )

</div>

<!-- search order -->
<div id="search-order" class="modal fade" role="dialog"></div>

<!-- Zone Modal -->
<div id="zoneModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" title="@ProjectSession.Resources.label.Common_ButtonClose"></button>
                <h4 class="modal-title">@ProjectSession.Resources.label.Street_TextBlockStreetCodes</h4>
            </div>
            <form role="form" id="frmZone">
                <input type="hidden" name="hdnL4ID" id="hdnL4ID" />
                <input type="hidden" name="hdnArea" id="hdnArea" />
                <input type="hidden" name="hdnL2Id" id="hdnL2Id" />
                <div class="modal-body">
                    <div id="Highlights" class="tab-pane active" role="tabpanel">
                        <div class="form-horizontal">
                            <div id="divModelError"></div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.Street_TextBlockStreetCode<span class="cfont">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="L4No" id="txtL4No" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.Street_TextBlockStreetCode" maxlength="50">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.Street_TextBlockStreetDesc<span class="cfont">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="L4Description" id="txtL4Description" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.Street_TextBlockStreetDesc" maxlength="1500">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.Street_TextBlockAltStreetDesc</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="L4AltDescription" id="txtL4AltDescription" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.Street_TextBlockAltStreetDesc" maxlength="1500">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.Organisation_TextBlockOrgCode<span class="cfont">*</span></label>
                                <div class="col-sm-8">
                                    @Html.Hidden("hdnIsAreaEnableOrgWise")
                                    <div class="@ProjectSession.CultureKendoClass">
                                        @(Html.Kendo().DropDownList()
                                                    .Name("ddlOrganization")
                                            .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                            .DataTextField("L1No")
                                            .DataValueField("L1ID")
                                            .Events(m => m.Change("ChangeL1"))
                                                    .HtmlAttributes(new { style = "width: 100%", @required = "required", id = "ddlOrganization" })
                                            .Template("#= KendoDDLTemplate(data.L1No ,data.L1Name, data.L1AltName) #")
                                            .DataSource(source =>
                                            {
                                                source.Read(read =>
                                                {
                                                    read.Action(Actions.GetAllOrganisation, Controllers.Configurations, new { area = Areas.Configurations });
                                                });
                                            })
                                            .Value("")
                                        )
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.JobRequest_TextBlockCityCode<span class="cfont">*</span></label>
                                <div class="col-sm-8">
                                    <div class="@ProjectSession.CultureKendoClass">
                                        @(Html.Kendo().DropDownList()
                                                         .Name("drpProjectCode")
                                                         .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                                         .DataTextField("L2Code")
                                                         .DataValueField("L2ID")
                                                         .HtmlAttributes(new { style = "width: 100%", @required = "required" })
                                                         .ValueTemplate(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "#:L2Code # -- #: L2Altname # " : "#:L2Code # -- #: L2name #")
                                                         .Template("#= KendoDDLTemplate(data.L2Code ,data.L2name, data.L2Altname) #")
                                                         .Events(m => m.Change("ChangeL2"))
                                                         .Events(m => m.DataBound("DataBoundDDLL2"))
                                                         .DataSource(source =>
                                                         {
                                                             if (ProjectSession.IsCentral)
                                                             {
                                                                 source.Read(read =>
                                                                 {
                                                                     read.Action(Actions.GetAllCities, Controllers.Configurations, new { area = Areas.Configurations }).Data("BindDropDownParameters");
                                                                 }).ServerFiltering(true);
                                                             }
                                                             else
                                                             {
                                                                 source.Read(read =>
                                                                 {
                                                                     read.Action(Actions.GetCitiesByEmployee, Controllers.Configurations, new { area = Areas.Configurations }).Data("BindDropDownParameters");
                                                                 }).ServerFiltering(true);

                                                             }
                                                         }).CascadeFrom("ddlOrganization").Value("")
                                        )
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label">@ProjectSession.Resources.label.Setups_Configurations_TextBlockSectorCode</label>
                                <div class=" col-md-8 two-form-group">
                                    <div class="input-two">
                                        <div class="input-group">
                                            <input type="text" class="form-control" name="SectorCode" id="txtSectorCode" disabled>
                                        </div>
                                        <div class="input-group">
                                            <input type="text" class="form-control" name="SectorName" id="txtSectorName" disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @* @if (ProjectSession.IsAreaFieldsVisible)
                            {
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">@ProjectSession.Resources.label.Area_TextBlockAreaCode<span class="cfont">*</span></label>
                                    <div class="col-sm-8">
                                        <div class="@ProjectSession.CultureKendoClass">
                                            @(Html.Kendo().DropDownList()
                                                         .Name("drpArea")
                                                         .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                                         .DataTextField("L3No")
                                                         .DataValueField("L3ID")
                                                         .HtmlAttributes(new { style = "width: 100%" , @required = "required" })
                                                         .Template("#= KendoDDLTemplate(data.L3No ,data.L3Desc, data.L3AltDesc) #")
                                                         .DataSource(source =>
                                                         {
                                                             source.Read(read =>
                                                             {
                                                                 read.Action(Actions.GetAllArea, Controllers.Configurations, new { area = Areas.Configurations });
                                                             });
                                                         }).Value("")
                                            )
                                        </div>
                                    </div>
                                </div>
                            }*@
                            @if (ProjectSession.IsAreaFieldsVisible)
                            {
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">@ProjectSession.Resources.label.Area_TextBlockAreaCode<span id="SpanArea" class="cfont"></span></label>
                                    <div class="col-sm-8">
                                        <div class="@ProjectSession.CultureKendoClass">
                                            @(Html.Kendo().DropDownList()
                                                 .Name("drpArea")
                                                .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                                .DataTextField("L3No")
                                                .ValueTemplate(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "#:L3No # -- #: L3AltDesc # " : "#:L3No # -- #: L3Desc #")
                                                .DataValueField("L3ID")
                                                .HtmlAttributes(new { style = "width: 100%" })
                                                .Events(m => m.DataBound("DataBoundDDLArea"))
                                                .Template("#= KendoDDLTemplate(data.L3No ,data.L3Desc, data.L3AltDesc) #")
                                                .DataSource(source =>
                                                {
                                                    source.Read(read =>
                                                    {
                                                        read.Action(Actions.GetAreabyL2ID, Controllers.Configurations, new { area = Areas.Configurations }).Data("filterAreas").Type(HttpVerbs.Post);

                                                    })
                                                    .ServerFiltering(true);
                                                })
                                    //.Events(m => m.Change("ChangeL3"))
                                                .CascadeFrom("drpProjectCode")
                                                .AutoBind(false)
                                                .Value("")
                                                )
                                        </div>
                                        <script>
                                            function filterAreas() {
                                                return {
                                                    cityID: ($('#drpProjectCode') != undefined && $('#drpProjectCode') != null && $('#drpProjectCode').val() != undefined && $('#drpProjectCode').val() != null && $('#drpProjectCode').val() != "" ? $('#drpProjectCode').val() : 0),
                                                    __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
                                                };
                                            }
                                            //function ChangeL3(e) {
                                            //    $("#drpZoneCode").data("kendoDropDownList").dataSource.read();
                                            //}
                                        </script>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="modal-footer box-footer">
                    @if (ProjectSession.PermissionAccess.Locations_Street_Editrecords || ProjectSession.PermissionAccess.Locations_Street_Createnewrecords)
                    {
                        <button type="submit" class="btn btn-primary" id="btnSave"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
                    }
                    <button type="button" class="btn btn-default" data-dismiss="modal">@ProjectSession.Resources.label.Common_ButtonClose</button>
                </div>
            </form>
        </div>
    </div>
</div>
<input type="hidden" id="hdnEditMode" value="0" />


<script type="text/javascript">
    var kendoGridId = 'zoneGrid';
    var intPageID = '@SystemEnum.Pages.Zone.GetHashCode()';

    $(document).ready(function () {
        validator = $('#frmZone').validate({
            rules: {
                L4No: { required: true },
                L4Description: { required: true },
            },
            messages: {
                L4No: { required: '' },
                L4Description: { required: '' },
            }
        });
    });

    function BindParameters() {
        return {
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function BindDropDownParameters() {
        return {
            cityID: $("#hdnL2Id").val(),
            orgID: $("#ddlOrganization").val()
        };
    }

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };

    function ChangeL1(e) {
        var dataItem = this.dataItem(e.item);
        $.ajax({
            url: '@Url.Action(Actions.GetOrganisationByID, Controllers.Configurations, new { area = Areas.Configurations })',
            type: 'Post',
            data: addRequestVerificationToken({ orgId: dataItem.L1ID == "" ? 0 : dataItem.L1ID }),
            cache: false,
            async: false,
            success: function (result) {
                
                $('#hdnIsAreaEnableOrgWise').val(result.IsAreaEnable);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                showErrorMessage();
            }
        });
    }

    function ChangeL2(e) {
        var dataItem = this.dataItem(e.item);
        $.ajax({
            url: '@Url.Action(Actions.GetL2ByID, Controllers.Configurations, new { area = Areas.Configurations })',
            type: 'Post',
            data: addRequestVerificationToken({ projectId: dataItem.L2ID == "" ? 0 : dataItem.L2ID }),
            cache: false,
            async: false,
            success: function (result) {
                $('#txtSectorCode').val(result.SectorCode);
                $('#txtSectorName').val(result.SectorName);

                AreaEnableOrgWise()
            },
            error: function (xhr, ajaxOptions, thrownError) {
                showErrorMessage();
            }
        });
    }

    function DataBoundDDLArea(e) {
        AreaEnableOrgWise();
    }

    function AreaEnableOrgWise() {
        if ('@ProjectSession.IsAreaFieldsVisible'.toLowerCase() == 'true') {
            if ($('#hdnIsAreaEnableOrgWise').val() == "true") {
                $('#drpArea').data("kendoDropDownList").enable(true);
                $('#drpArea').prop('required', 'required');
                $('#SpanArea').html('*');
            }
            else {
                $('#drpArea').data("kendoDropDownList").enable(false);
                $('#drpArea').removeProp('required');
                $('#SpanArea').html('');
            }
        }
    }

    function DataBoundDDLL2(e) {
        $("#drpProjectCode").data("kendoDropDownList").value($("#hdnL2Id").val());
        $("#drpProjectCode").data("kendoDropDownList").trigger("change");
        if ($('#hdnEditMode').val() > 0) {
            $('#drpProjectCode').data("kendoDropDownList").enable(false);
        }
        //else {
        //    $('#drpProjectCode').data("kendoDropDownList").enable(true);
        //}
    }

    function OpenZoneEditWindow(id) {
        $("#hdnL2Id").val("");
        if (id > 0) {
            $.ajax({
                url: '@Url.Action(Actions.GetZoneByID, Controllers.Configurations, new { area = Areas.Configurations })',
                type: "POST",
                data: addRequestVerificationToken({ zoneId: id }),
                success: function (result) {
                    $("#hdnL4ID").val(result.L4ID);
                    $("#txtL4No").val(result.L4No);
                    $("#txtL4Description").val(result.L4Description);
                    $("#txtL4AltDescription").val(result.L4AltDescription);
                    $("#hdnL2Id").val(result.L2ID);
                    $("#ddlOrganization").data("kendoDropDownList").value(result.L1ID);
                    $("#drpProjectCode").data("kendoDropDownList").dataSource.read();
                    $("#drpProjectCode").data("kendoDropDownList").value(result.L2ID);
                    $('#hdnIsAreaEnableOrgWise').val(result.IsAreaEnableOrgWise);
                    @if (ProjectSession.IsAreaFieldsVisible)
                    {
                         <text> $("#drpArea").data("kendoDropDownList").value(result.L3ID);</text>
                    }
                    else
                    {
                         <text>$("#hdnArea").val(result.L3ID);</text>
                    }

                    @if (ProjectSession.PermissionAccess.Locations_Street_Editrecords)
                    {
                       <text>$("#btnSave").show(); </text>
                    }
                    else if (ProjectSession.PermissionAccess.Locations_Street_Createnewrecords)
                    {
                       <text>$("#btnSave").hide(); </text>
                    }

                    @if (!ProjectSession.PermissionAccess.Locations_Street_ChangeMastersCodes)
                    {
                        <text>$("#txtL4No").attr("disabled", "disabled");</text>
                    }
                    if (result.IsEnableCityArea) {
                        $('#ddlOrganization').data("kendoDropDownList").enable(false);
                        $('#drpProjectCode').data("kendoDropDownList").enable(false);
                        $('#hdnEditMode').val(1);
                        @if (ProjectSession.IsAreaFieldsVisible)
                        {
                            <text> $('#drpArea').data("kendoDropDownList").enable(false);</text>
                        }
                    }
                    else {
                        $('#ddlOrganization').data("kendoDropDownList").enable(true);
                        //$('#drpProjectCode').data("kendoDropDownList").enable(true);
                        $('#hdnEditMode').val(0);
                        @if (ProjectSession.IsAreaFieldsVisible)
                        {
                            <text> $('#drpArea').data("kendoDropDownList").enable(true);</text>
                        }
                    }

                    AreaEnableOrgWise();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }
        else {
            $('#hdnEditMode').val(0);
            @if (ProjectSession.PermissionAccess.Locations_Street_Createnewrecords)
            {
                 <text>$("#btnSave").show(); </text>
            }
            else if (ProjectSession.PermissionAccess.Locations_Street_Editrecords)
            {
                 <text>$("#btnSave").hide(); </text>
            }
            $("#txtL4No").removeAttr("disabled");
            //$('#drpProjectCode').data("kendoDropDownList").enable(true);

            $('#ddlOrganization').data("kendoDropDownList").enable(true);
            $("#ddlOrganization").data("kendoDropDownList").dataSource.read();
         @*   @if (ProjectSession.IsAreaFieldsVisible)
            {
                <text> $('#drpArea').data("kendoDropDownList").enable(true);</text>
            }*@

            $("#drpProjectCode").data("kendoDropDownList").dataSource.read();
            ClearAllInputs("frmZone");
        }
    }

    $("#zoneGrid tbody").on("dblclick", "tr[role='row']", function (e) {
        var grid = $("#zoneGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        $("#zoneModal").modal("show");
        OpenZoneEditWindow(model.L4ID);
    });

</script>

@if (ProjectSession.PermissionAccess.Locations_Street_Editrecords || ProjectSession.PermissionAccess.Locations_Street_Createnewrecords)
{
    <script type="text/javascript">

        $('#frmZone').on('submit', function (e) {
            if ($("#frmZone").valid()) {
                if (!e.isDefaultPrevented()) {
                    if (reValidateDropDowns($(this))) {
                        var l3Id;
                        @if (ProjectSession.IsAreaFieldsVisible)
                        {
                            <text> l3Id = $("#drpArea").val();</text>
                        }
                        else
                        {
                            <text> l3Id = $("#hdnArea").val();</text>
                        }
                        var l4Id = $("#hdnL4ID").val();
                        var changedObj = {
                            L4ID: l4Id == '' ? 0 : l4Id,
                            L4No: $("#txtL4No").val(),
                            L4Description: $("#txtL4Description").val(),
                            L4AltDescription: $("#txtL4AltDescription").val(),
                            L2ID: $("#drpProjectCode").val(),
                            L3ID: l3Id
                        };
                        $.ajax({
                            url: '@Url.Action(Actions.ManageZone, Controllers.Configurations, new { area = Areas.Configurations })',
                            type: "POST",
                            data: addRequestVerificationToken(changedObj),
                            dataType: "json",
                            success: function (result) {
                                if (result[0] == 0) {
                                    ShowMessage(result[1], result[2], "#divModelError");
                                }
                                else {
                                    $('#zoneModal').modal("hide");
                                    ShowMessage(result[0], result[1], "#divMessage");
                                    ReBindKendoGrid("zoneGrid");
                                }
                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                showErrorMessage();
                            }
                        });
                    }
                    e.preventDefault();
                }
            }
            else {
                e.preventDefault();
            }
        })

    </script>
}

@if (ProjectSession.PermissionAccess.Locations_Street_Deleterecords)
{
    <script type="text/javascript">

        function onDataBound(arg) {
            confirmDeleteMsg(msgText, okText, cancelText, onConfirmCallback, confirmDirection);
            gridProperPaging(this);
        }

        function onConfirmCallback(sender) {
            var id = $(this).data("id");
            $.ajax({
                url: '@Url.Action(Actions.DeleteZone, Controllers.Configurations, new { area = Areas.Configurations })',
                type: "POST",
                data: addRequestVerificationToken({ zoneId: id }),
                dataType: "json",
                success: function (result) {
                    ClearAllInputs("frmZone");
                    ShowMessage(result[0], result[1], "#divMessage");
                    ReBindKendoGrid("zoneGrid");
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }
    </script>
}
else
{
    <script type="text/javascript">
        function onDataBound(arg) {
            gridProperPaging(this);
        }
    </script>
}
