﻿@using CMMS.Infrastructure;
@using CMMS.Pages;
@using CMMS.Model
@using CMMS.Service
@{
    Layout = null;
}
@Html.AntiForgeryToken()

<style>
    /*.k-state-selected {
        background-color: red !important;
    }*/
    .Selecteditem {
        background-color: rgba(0, 0, 0, 0.2) !important;
        color: #fff;
    }

</style>

<script type="text/javascript">

    //Tree Element Select Event
    function onSelect(arg) {
        var isLink = $('#treeview').data("kendoTreeView").dataItem(arg.node).HasHelpDescription;

        if (isLink == true) {
            var id = $('#treeview').data("kendoTreeView").dataItem(arg.node).HelpModuelDetailID;
            var url = '@Url.Action(Actions.GetHelpDetail, Controllers.Help, new { Area = Areas.Help })' + '?helpModuelDetailID=' + id;
            $("#divHelpDetails").load(url);
        }

    }

    //Get Child Of Select Element
    function BindParamater(arg) {
        return {
            id: arg.ID
        };
    }

    //Tree Element Select Event
    function onSelectIndex(arg) {
        var isLink = $('#treeviewIndex').data("kendoTreeView").dataItem(arg.node).HasHelpDescription;

        if (isLink == true) {
            var id = $('#treeviewIndex').data("kendoTreeView").dataItem(arg.node).HelpModuelDetailID;
            var url = '@Url.Action(Actions.GetHelpDetail, Controllers.Help, new { Area = Areas.Help })' + '?helpModuelDetailID=' + id;
            $("#divHelpDetails").load(url);
        }
    }

    //Get Child Of Select Element
    function BindParamaterIndex(arg) {
        return {
            index: arg.ID
        };
    }

    //Get Bookmark Topics
    function LoadBookmarks() {
        $.ajax({
            url: '@Url.Action(Actions.GetHelpBookmarks, Controllers.Help, new { area = Areas.Help })',
            type: 'Post',
            success: function (result) {
                BookmarkHtmlList(result, result.length);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                BookmarkHtmlList(0, 0);
            }
        });
    }

    //Make Bookmark Topics List
    function BookmarkHtmlList(result, count) {
        $('#ulBookmark').empty();
        var strHtml = "";

        if (count > 0) {
            for (var i = 0 ; i < count; i++) {
                strHtml += "<li><a id ='B" + result[i].HelpModuelDetailID + "' class='drop-menu-false' href='javascript:void(0);' title=" + result[i].HelpTitle + " onclick='LoadHelpDetail(" + result[i].HelpModuelDetailID + ");addSelectedClass(this);'>" + result[i].HelpTitle + "</a></li>";
            }
            $('#ulBookmark').html(strHtml);
        }
        else {
            strHtml = '<li><span class="icon"></span>@ProjectSession.Resources.label.Help_TextBlockNoBookmarks</li>';
            $('#ulBookmark').html(strHtml);
        }
    }

    //search help topic
    function SearchHelp() {
        var text = $("#txtSearch").val();
        text = text.trim();
        if (!(text == "" || text == " " || text == null)) {
            $.ajax({
                url: '@Url.Action(Actions.HelpSearch, Controllers.Help, new { area = Areas.Help })',
                data: { 'searchText': text },
                type: 'Post',
                success: function (result) {
                    SearchHtmlList(result, result.length, text);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    SearchHtmlList(0, 0, 0);
                }
            });
        }
        else {
            $("#txtSearch").addClass("error").delay(2500).queue(function () {
                $("#txtSearch").removeClass("error").dequeue();
            });
        }
    }

    function addSelectedClass(element)
    {
        $(".Selecteditem").removeClass("Selecteditem");
        $("#" + element.id).addClass("Selecteditem");
    }

    //make search help topic List
    function SearchHtmlList(result, count, highlightword) {
        $('#ulSearch').empty();
        var strHtml = "";

        if (count > 0) {
            for (var i = 0 ; i < count; i++) {
                strHtml += "<li><a id='S" + result[i].HelpModuelDetailID + "' class='drop-menu-false' href='javascript:void(0);' title ='" + result[i].HelpTitle + "' onclick=LoadHelpDetailForSearch('" + result[i].HelpModuelDetailID + "','" + highlightword + "');addSelectedClass(this);>" + result[i].HelpTitle + "</a></li>";
            }
            $('#ulSearch').html(strHtml);
        }
        else {
            strHtml = '<li><span class="icon"></span>@ProjectSession.Resources.label.Help_TextBlockNoTopicFound</li>';
            $('#ulSearch').html(strHtml);
        }
    }

    //Load Help Detail Page
    function LoadHelpDetail(id) {
        var url = '@Url.Action(Actions.GetHelpDetail, Controllers.Help, new { Area = Areas.Help })' + '?helpModuelDetailID=' + id;
        $("#divHelpDetails").load(url);
    }

    function LoadHelpDetailForSearch(detailID, highlightword)
    {
        //load search topic
        LoadHelpDetail(detailID);
        
        //highlight search word
        //setTimeout(function () { highlight(highlightword); }, 2000);
        //highlight(highlightword);
        
    }

    $(document).ready(function () {

        //Load Bookmark Tab
        LoadBookmarks();

        //trigger search on enter key press
        $("#txtSearch").keyup(function (event) {
            if (event.keyCode == 13) {
                SearchHelp();
            }
        });
 });

    //highlight search word
    function highlight(word) {
        
        var strDiv = $("#divContent")[0].innerHTML;
        $("#divContent")[0].innerHTML = strDiv.toString().replace(word, "<span style='background-color: yellow;'>" + word + "<span>")
    }
</script>

@*Tree Template*@
<script id="treeview-helptemplate" type="text/kendo-ui-template">
    <span class="drop-menu-#: item.HasChild# "> #: item.Name# <span>
</script>


<div class="webhelp" id="sidebar-wrapper">
    <div id="myscrl">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#contents" aria-controls="contents" role="tab" data-toggle="tab">@ProjectSession.Resources.label.Help_TextBlockContents</a></li>
            <li role="presentation"><a href="#index" aria-controls="index" role="tab" data-toggle="tab">@ProjectSession.Resources.label.Help_TextBlockIndex</a></li>
            <li role="presentation"><a href="#bookmarks" aria-controls="bookmarks" role="tab" data-toggle="tab">@ProjectSession.Resources.label.Help_TextBlockBookmarks</a></li>
            <li role="presentation" id="liActive"><a href="#Search" aria-controls="Search" role="tab" data-toggle="tab">@ProjectSession.Resources.label.Common_TextBlockSearch</a></li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="contents">
                <div id="divTree">
                    @(Html.Kendo().TreeView()
            .Name("treeview")
            .Events(e => e.Select("onSelect"))
            .DataTextField("Name")
            .TemplateId("treeview-helptemplate")
            .HtmlAttributes(new { @id = "treeview" })
            .DataSource(dataSource => dataSource
                .Model(model => model
                    .Id("ID")
                    .HasChildren("HasChild")
                )
                .Read(read => read
                            .Action(Actions.GetHelpTree, Controllers.Help, new { area = Areas.Help }).Data("BindParamater")
                )
            )
                    )
                </div>
            </div>

            <div role="tabpanel" class="tab-pane" id="index">
                <div id="divTreeIndex">
                    @(Html.Kendo().TreeView()
            .Name("treeviewIndex")
            .Events(e => e.Select("onSelectIndex"))
            .DataTextField("Name")
            .TemplateId("treeview-helptemplate")
            .HtmlAttributes(new { @id = "treeviewIndex" })
            .DataSource(dataSource => dataSource
                .Model(model => model
                    .Id("ID")
                    .HasChildren("HasChild")
                )
                .Read(read => read
                                    .Action(Actions.GetHelpTreeIndex, Controllers.Help, new { area = Areas.Help }).Data("BindParamaterIndex")
                )
            )
                    )
                </div>
            </div>


            <div role="tabpanel" class="tab-pane" id="bookmarks">
                <div class="demo-section">
                    <ul id="ulBookmark" class="bookmark-list"></ul>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane" id="Search">
                <div class="clearfix" style="padding : 10px;">
                    <div class="input-group txtSearch" style="width:100%;margin:auto;">
                        <input type="text" id="txtSearch" class="form-control" maxlength="100" placeholder="@ProjectSession.Resources.label.Common_TextBlockSearch" />
                        <span class="input-group-addon txtSearch-icon" onclick="SearchHelp();"><i class="glyphicon glyphicon-search"></i></span>
                    </div>
                </div>
                <div class="demo-section">
                    <ul id="ulSearch" class="bookmark-list"></ul>
                </div>
            </div>
        </div>
    </div>
</div>