﻿@model CMMS.Model.HelpModule_Detail
@using CMMS.Infrastructure;
@using CMMS.Pages;
@{
    Layout = null;
}

<div id="page-content-wrapper">

    <div class="clearfix webhelp">
        <div class="head1">
            <h1>
                <span>
                    @ProjectSession.Resources.menu.Help_MenuHelp
                </span>
            </h1>
            <ul class="sub_btn">
                @if (Model.isBookmarked)
                {
                    <li>
                        <a href="javascript:void(0);" id="btnBookmark" title="@ProjectSession.Resources.label.Help_TextBlockBookmark" class="btn-icon btn-star-a" onclick="BookmarkToggle(@Model.HelpModuleID)"><i></i></a>
                    </li>
                }
                else
                {
                    <li>
                        <a href="javascript:void(0);" id="btnBookmark" class="btn-icon btn-star" title="@ProjectSession.Resources.label.Help_TextBlockBookmark" onclick="BookmarkToggle(@Model.HelpModuleID)"><i></i></a>
                    </li>
                }
                <li>
                    <a href="javascript:PrintContent();" title="@ProjectSession.Resources.label.Help_TextBlockPrintcurrenttopic" class="btn-icon btn-print"><i></i></a>
                </li>
                @if (Model.PrevHelpModuelDetailID > 0)
                {
                    <li>
                        <a href="javascript:void(0);" class="btn-icon btn-previ-page" title="@ProjectSession.Resources.label.Help_TextBlockPrevious" onclick="LoadHelpDetail(@Model.PrevHelpModuelDetailID);"><i></i></a>
                    </li>
                }
                else
                {
                    <li>
                        <span class="btn-icon btn-previ-page disable"><i></i></span>
                    </li>
                }
                @if (Model.NextHelpModuelDetailID > 0)
                {
                    <li>
                        <a href="javascript:void(0);" class="btn-icon btn-next-page" title="@ProjectSession.Resources.label.Help_TextBlockNext" onclick="LoadHelpDetail(@Model.NextHelpModuelDetailID);"><i></i></a>
                    </li>
                }
                else
                {
                    <li>
                        <span class="btn-icon btn-next-page disable"><i></i></span>
                    </li>
                }


            </ul>
        </div>
        <div class="box" id="divContent">
            <div class="information-page">
                <h3 class="sub-title"><span>@Model.HelpTitle</span></h3>
                <div>
                    @Html.Raw(Model.HelpDescription)
                </div>

                @foreach (var item in Model.HelpChapter)
                {
                    <div class="chapter">
                        <h4>
                            @item.HelpChapterTitle
                        </h4>

                        <div>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            @Html.Raw(item.HelpChapterDescription)
                        </div>
                    </div>
                }

                @if (Model.CustomHelpRelatedItem.Count > 0)
                {
                    <h4 class="sub-title">
                        <span>@ProjectSession.Resources.label.Help_TextBlockRetaledTopic</span>  
                    </h4>
                    <div>
                        <ul class="listing-ul">

                            @foreach (var item in Model.CustomHelpRelatedItem)
                            {
                                <li>
                                    <a href="javascript:void(0);" onclick="LoadHelpDetail(@item.ChildHelpModuleDetailID);" title="@item.RelatedHelpTitle">@item.RelatedHelpTitle</a>
                                </li>
                            }
                        </ul>
                    </div>
                }
            </div>

        </div>


    </div>
</div>

<script type="text/javascript">

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };


    //Bookmark Current Topic
    function BookmarkToggle(HelpID) {
        $.ajax({
            url: '@Url.Action(Actions.BookmarHelp, Controllers.Help, new { area = Areas.Help })',
            type: "POST",
            data: addRequestVerificationToken({ helpID: HelpID }),
            dataType: "json",
            success: function (responseText) {
                if (responseText[0] == "added") {
                    LoadBookmarks();
                    $("#btnBookmark").removeClass("btn-star");
                    $("#btnBookmark").addClass("btn-star-a");
                }
                else if (responseText[0] == "removed") {
                    LoadBookmarks();
                    $("#btnBookmark").removeClass("btn-star-a");
                    $("#btnBookmark").addClass("btn-star");
                }
                else {
                    ShowMessage(responseText[0], responseText[1], "#divMessage");
                }

            },
            error: function (xhr, ajaxOptions, thrownError) {
                showErrorMessage();
            }
        });
    }

    //Print Current Topic
    function PrintContent() {
        var divContents = $("#divContent").html();
        var printWindow = window.open('', '', 'height=400,width=800');
        printWindow.document.write('<html><head><title></title>');
        printWindow.document.write('</head><body >');
        printWindow.document.write(divContents);
        printWindow.document.write('</body></html>');
        printWindow.document.close();
        printWindow.print();
        printWindow.close();
    }



</script>