﻿@using CMMS.Infrastructure;
@using CMMS.Pages;
@using CMMS.Model
@using CMMS.Service
@{
    Layout = "~/Views/Shared/_Help.cshtml";
    bool Lang = ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true;
}

<style>
    .highlight {
        background-color: yellow;
    }
</style>
@Html.AntiForgeryToken()

<div id="divModelError"></div>

<div class="row">

    <div id="divHelpDetails" class="col-md-12">
    </div>
</div>