﻿@using CMMS.Infrastructure;
@using CMMS.Pages;
@using CMMS.Model
@using CMMS.Service
@using Kendo.Mvc.UI;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool Lang = ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true;
}
@*<script src="~/Scripts/common.js"></script>*@
@Html.AntiForgeryToken()
<div class="head1">
    <h1>Admin List</h1>
    <ul class="sub_btn">
        @*<li><a href="@Url.Action(Actions.AdminUserEdit, Controllers.AdminUser, new { area = Areas.Configurations, userID = 0, fromPageID = SystemEnum.Pages.AdminList.GetHashCode() })" title="Add" class="btn-icon btn-add"><i>Add</i></a></li>*@
        <li><a href="javascript:void(0);" class="btn-icon btn-add" data-toggle="modal" data-target="#AdminModal" data-backdrop="static" onclick="OpenAdminEditWindow(0);" title="Add"><i></i></a></li>
    </ul>
</div>

<!-- Kendo Grid-->
<div id="clientData" class="@ProjectSession.CultureKendoClass">
    @(Html.Kendo().Grid<CMMS.Model.Tbl_AdminUser>()
                .Name("adminListGrid")
        .HtmlAttributes(new { @class = "kl-grid" })
        .Columns(columns =>
        {
            //columns.Bound(c => c.UserID).Title("User ID").Width(110).Locked(true);
            columns.Bound(c => c.UserName).Title("User Name").Width(500);
            //columns.Bound(c => c.Password).Title("Password").Width(500).Filterable(false);
            columns.Bound(c => c.FirstName).Title("First Name").Width(500)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterFirstName", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(System.Web.Mvc.HttpVerbs.Post))));
            columns.Bound(c => c.LastName).Title("Last Name").Width(500)
                .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterLastName", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(System.Web.Mvc.HttpVerbs.Post))));
            columns.Bound(c => c.UserID).ClientTemplate("<center>" + (true ? "<a class='action' title='" + "ButtonEdit" + "'  style='cursor:pointer' data-toggle='modal' data-target='\\#AdminModal' onclick='OpenAdminEditWindow(#: UserID#)'><i class='glyphicon glyphicon-pencil'></i></a>&nbsp;" : "") + ""
                + (true ? "<a class='action delete-button-Innner'  href='javascript:void(0);' onclick='return onConfirmCallbackDeleteAdminUser(#: UserID#)' class='delete-ic' data-id='#: UserID #' style='cursor:pointer'><i class='glyphicon glyphicon-trash' title='" + "ButtonDelete" + "' ></i></a>" : "") + "</center>")
                                                    .Title("<center>" + "Action" + "</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Width(80).Filterable(false);
            
            
        })
        .Filterable()
        .Sortable(sortable => sortable.AllowUnsort(false))
        .Scrollable()
            //.Excel(excel => excel.FileName(ProjectSession.Resources.menu.JobOrder_MenuJobOrderList + ".xlsx").Filterable(true).AllPages(true).ProxyURL(Url.Action("Excel_Export_Save", "GridExport", new { area = string.Empty })))
        .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("")))
        //.Events(events => events.DataBound("onDataBound"))
        .DataSource(dataSource =>
                                dataSource.Ajax()
                                .PageSize(ProjectConfiguration.PageSize)
                                .Model(model =>
                                    {
                                        model.Id(p => p.UserID);
                                        model.Field(p => p.UserName);
                                    })
                                .ServerOperation(true)
                                .Read(read => read.Action(CMMS.Pages.Actions.GetAdminList, CMMS.Pages.Controllers.Configurations).Data("BindParameters").Type(System.Web.Mvc.HttpVerbs.Post))
                )
    )


</div>

<!-- -------------search order------------- -->
<div id="search-order" class="modal fade" role="dialog"></div>

<div id="AdminModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-mg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"></button>
                <h4 class="modal-title">AdminDetail</h4>
            </div>
            <form role="form" id="frmAdminDetail">
                <input type="hidden" name="hdnUserID" id="hdnuserID" />
                <div class="modal-body">
                    <div id="Highlights" class="tab-pane active" role="tabpanel">
                        <div class="form-horizontal">
                            <div id="divModelError"></div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">User Name<span class="cfont">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="UserName" id="txtUserName" placeholder="User Name" maxlength="50" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Password<span class="cfont">*</span></label>
                                <div class="col-sm-8">
                                    <input type="password" class="form-control" name="Password" id="txtPassword" placeholder="Password" maxlength="50" required>
                                </div>
                            </div><div class="form-group">
                                <label class="col-sm-4 control-label">First Name<span class="cfont">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="FirstName" id="txtFirstName" placeholder="First Name" maxlength="50" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Last Name</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="LastName" id="txtLastName" placeholder="Last Name" maxlength="50" required>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer box-footer">
                   
                        <button type="submit" class="btn btn-primary" id="btnSave"><span>Save</span></button>
                   
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>

    </div>
</div>
<script type="text/javascript">
    var kendoGridId = 'adminListGrid';
    var intPageID = '@SystemEnum.Pages.AdminList.GetHashCode()';

    $(document).ready(function () {
        if ('@ViewBag.Message' != '' && '@ViewBag.MessageType' != '') {
            ShowMessage('@ViewBag.MessageType', '@ViewBag.Message', "#divMessage");
        }
    });

    function BindParameters() {
        return {
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };

    //function onDataBound(arg) {
    //    gridProperPaging(this);
    //}

    function OpenAdminEditWindow(id) {
        if (id > 0) {
            $.ajax({
                url: '@Url.Action(Actions.AdminUserEdit, Controllers.Configurations, new { area = Areas.Configurations })',
                type: "POST",
                data: addRequestVerificationToken({ UserID: id }),
                success: function (result) {
                    $("#hdnuserID").val(result.UserID);
                    $("#txtUserName").val(result.UserName);
                    $("#txtPassword").val(result.Password);
                    $("#txtFirstName").val(result.FirstName);
                    $("#txtLastName").val(result.LastName);
                    @*@if (!ProjectSession.PermissionAccess.SetupConfiguration_AssetCategories_ChangeMastersCodes)
                    {
                        <text>$("#txtAssetCatCode").attr("disabled", "disabled");</text>
                    }

                    @if (ProjectSession.PermissionAccess.SetupConfiguration_AssetCategories_Editrecords)
                    {
                        <text>$("#btnSave").show(); </text>
                    }
                    else if (ProjectSession.PermissionAccess.SetupConfiguration_AssetCategories_Createnewrecords)
                    {
                        <text>$("#btnSave").hide(); </text>
                    }*@
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    ShowMessage('@SystemEnum.MessageType.danger.ToString()', "Contact Admin", "#divMessage");
                }
            });
        }
        else {
            ClearAllInputs("frmAdminDetail");
            @*$("#txtAssetCatCode").removeAttr("disabled");
            @if (ProjectSession.PermissionAccess.SetupConfiguration_AssetCategories_Createnewrecords)
            {*@
            // <text>$("#btnSave").show(); </text>
            //}
            //else if (ProjectSession.PermissionAccess.SetupConfiguration_AssetCategories_Editrecords)
            //{
            //    <text>$("#btnSave").hide(); </text>
            //}
        }
    }


    $('#frmAdminDetail').on('submit', function (e) {
        if ($("#frmAdminDetail").valid()) {
            if (e.isDefaultPrevented()) {
                // handle the invalid form...
            } else {
                var userId = $("#hdnuserID").val();
                var changedObj = {
                    UserID: userId == '' ? 0 : userId,
                    UserName: $("#txtUserName").val(),
                    Password: $("#txtPassword").val(),
                    FirstName: $("#txtFirstName").val(),
                    LastName: $("#txtLastName").val(),
                };

                $.ajax({
                    url: '@Url.Action(Actions.ManageAdmin, Controllers.Configurations, new { area = Areas.Configurations })',
                    type: "POST",
                    data: addRequestVerificationToken(changedObj),
                    dataType: "json",
                    success: function (result) {
                        if (result[0] == 0) {
                            ShowMessage(result[1], result[2], "#divModelError");
                        }
                        else {
                            $('#AdminModal').modal("hide");
                            ShowMessage(result[0], result[1], "#divMessage");
                            //ReBindKendoGrid("adminListGrid");
                            location.href = '@Url.Action(Actions.AdminList, Controllers.Configurations, new { @area = Areas.Configurations})';
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        showErrorMessage();
                    }
                });
                e.preventDefault();
            }
        }
        else {
            e.preventDefault();
        }
    })



    $("#adminListGrid tbody").on("dblclick", "tr[role='row']", function (e) {
        @*var grid = $("#adminListGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        alert(model.UserID);
        location.href = '@Url.Action(Actions.AdminUserEdit, CMMS.Pages.Controllers.AdminUser, new { area = CMMS.Pages.Areas.Configurations })' + '?userId=' + model.UserID;*@
        var grid = $("#adminListGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        $("#AdminModal").modal("show");
        OpenAdminEditWindow(model.UserID);
    });

    function PrintJoListReport() {
        var workOrderNo = $('#WorkorderNo').val();
        window.open('@Url.Action(CMMS.Pages.Actions.JobOrderListPrint, CMMS.Pages.Controllers.Transaction)', "_blank");
    }
    function confirmDeleteMsg(title, okLabel, cancelLabel, onConfirmCallback, direction) {
        $('.delete-button').confirmation({
            title: title,
            popout: true,
            singleton: true,
            html: false,
            href: "javascript:void(0);",
            placement: direction,
            btnOkLabel: okLabel,
            btnCancelLabel: cancelLabel,
            onConfirm: onConfirmCallback,
            onCancel: onCancel,
            btnOkClass: "btn btn-primary",
            btnCancelClass: "btn btn-default"
        });
    }
    function onCancel() {
        $('.delete-button-Innner').confirmation('hide');
    }
    function onDataBound(arg) {
        confirmDeleteMsg(msgText, okText, cancelText, onConfirmCallback, confirmDirection);
        //gridProperPaging(this);
    }
    //function gridProperPaging(object) {
    //    if (object.dataSource.view().length == 0) {
    //        var currentPage = object.dataSource.page();
    //        if (currentPage > 1) {
    //            object.dataSource.page(currentPage - 1);
    //        }
    //    }

    //    if (object.dataSource.total() == 0) {
    //        var colCount = object.columns.length;
    //        if (colCount > 5) {
    //            $(object.wrapper)
    //                .find('tbody')
    //                .append('<tr class="kendo-data-row"><td colspan="5">No Records Found</td></tr>');
    //        }
    //        else {
    //            $(object.wrapper)
    //             .find('tbody')
    //             .append('<tr class="kendo-data-row"><td colspan="' + colCount + '">No Records Found</td></tr>');
    //        }
    //        if (isNotUndefinedNullOrBlankOrZero(object, false) && isNotUndefinedNullOrBlankOrZero(object.pager) && isNotUndefinedNullOrBlankOrZero(object.pager.element)) {
    //            object.pager.element.hide();
    //        }
    //    }
    //    else {
    //        if (object.pager != undefined) {
    //            object.pager.element.show();
    //        }
    //    }
    //}
    function ClearAllInputs(formId) {
        var isMultiselect = false;


        $('#' + formId).trigger("reset");

        // $('#' + formId).trigger("reset");




        $('#' + formId + ' select.multiSelectList.form-control').each(function () {

            $(this).multiselect('destroy');
            isMultiselect = true;

        });

        //alert(isMultiselect);
        //$(formId).find('input:text, input:password, input:file, select, textarea').val('');
        //$(formId).find('input:radio, input:checkbox').prop('checked', false).prop('selected', false);
        $('#' + formId + ' input[type="checkbox"]').each(function () {
            var file = $("#" + $(this).attr("id"));
            file.prop('checked', false).prop('selected', false);;
        });

        $('#' + formId + ' input[type="radio"]').each(function () {
            var file = $("#" + $(this).attr("id"));
            file.prop('checked', false).prop('selected', false);;
        });


        $('#' + formId + ' input[type="text"]').each(function () {
            var file = $("#" + $(this).attr("id"));
            file.val("");
        });

        $('#' + formId + ' input[type="textarea"]').each(function () {
            var file = $("#" + $(this).attr("id"));
            file.val("");
        });

        $('#' + formId + ' input[type="select"]').each(function () {
            var file = $("#" + $(this).attr("id"));
            file.val("");
        });

        //$('#' + formId + ' [data-role="dropdownlist"]').each(function () {
        //    var dropdownlist = $("#" + $(this).attr("id")).data("kendoDropDownList");
        //    dropdownlist.value(0);
        //});

        if (isMultiselect) {
            $(".multiSelectList").multiselect({
                includeSelectAllOption: true,
                enableCaseInsensitiveFiltering: true,
                enableFiltering: true,
                maxHeight: 250,
                buttonWidth: '100%',
                buttonClass: 'form-control',
                numberDisplayed: 1,
                onChange: function (option, checked, select) {
                }
            });

        }

        //$('#' + formId).find(":hidden").val('');

        $('#' + formId + ' input[type="hidden"]').each(function () {
            var file = $("#" + $(this).attr("id"));
            file.val("");
        });

        $('#' + formId + ' input[type="file"]').each(function () {
            var file = $("#" + $(this).attr("id"));
            file.val("");
        });

    }
    function onConfirmCallbackDeleteAdminUser(sender) {
        var id = sender;
        var result = confirm("Are you sure want to delete this record?");
        if (result) {
            if (id > 0) {
                $.ajax({
                    url: '@Url.Action(Actions.DeleteAdminUser, Controllers.Configurations, new { area = Areas.Configurations })',
                    type: "POST",
                    data: addRequestVerificationToken({ userId: id }),
                    dataType: "json",
                    success: function (result) {
                        //ClearAllInputs("frmBuilding");
                        ReBindKendoGrid("adminListGrid");
                        ShowMessage(result[0], result[1], "#divMessage");                        
                        //location.href = '@Url.Action(Actions.AdminList, Controllers.Configurations, new { @area = Areas.Configurations})';
                        //window.location.reload();
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        showErrorMessage();
                    }
                });
            }
        }
    }

    function ReBindKendoGrid(gridId) {
        try {

            $('#' + gridId).data('kendoGrid').dataSource.read();
            $('#' + gridId).data('kendoGrid').refresh();
            //IsAdvanceSearch();
        }
        catch (ex) {
        }

    }
    function ShowMessage(type, message, divId, fadOutTime) {
        fadOutTime = typeof fadOutTime !== 'undefined' ? fadOutTime : 5000;

        var imagepath = imageServerPath;

        var mainDiv = ' <div class="alert alert-' + type + ' alert-dismissible" role="alert">';
        mainDiv = mainDiv + ' <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>';
        mainDiv = mainDiv + ('<img src="' + imagepath + '" title="' + type + '"/>').replace("#type#", type) + '&nbsp;' + message;

        mainDiv = mainDiv + '</div>';

        $(divId).html(mainDiv);
        $(divId).slideDown('slow');

        if (type == dangerType && fadOutTime == 5000) {
            fadOutTime = 6000;
        }
        window.scrollTo(0, 0);
        setTimeout(function () { $(divId).slideUp('slow'); $(divId).html(''); }, fadOutTime);

    }
</script>
