﻿@model CMMS.Model.Tbl_AdminUser
@using CMMS.Infrastructure;
@using CMMS.Pages;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool Lang = ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true;
}

@Html.AntiForgeryToken()
<div class="head1">
    <h1>AdminDetail</h1>
</div>
<div>
    <div class="box edit-job-order">
        <div class="nav-tabs-horizontal">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#tb1" aria-controls="tb1">AdminDetail</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tb1">

                    @using (Html.BeginForm(Actions.ManageAdmin, Controllers.AdminUser, new { area = Areas.Configurations, userID = @Model.UserID }, FormMethod.Post, new { enctype = "multipart/form-data", id = "frmPMMeter", @role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.UserID)
                        <div class="information-form cus-form">
                            <div class="row">
                                <div class="col-md-6 col-lg-6">
                                    <div class="form-group ">
                                        <label class="form-label">FirstName<span class="cfont">*</span></label>
                                        <div>
                                            @Html.TextBoxFor(model => model.FirstName, new { @MaxLength = 50, @class = "form-control", @id = "txtMeterNo", @placeholder = "First Name", @required = "required" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6">
                                    <div class="form-group ">
                                        <label class="form-label">LastName<span class="cfont">*</span></label>
                                        <div>
                                            @Html.TextBoxFor(model => model.LastName, new { @MaxLength = 50, @class = "form-control", @id = "txtMeterDescription", @placeholder = "Last Name", @required = "required" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6">
                                    <div class="form-group ">
                                        <label class="form-label">UserName<span class="cfont">*</span></label>
                                        <div>
                                            @Html.TextBoxFor(model => model.UserName, new { @MaxLength = 50, @class = "form-control", @id = "txtMeterNo", @placeholder = "User Name", @required = "required" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6">
                                    <div class="form-group ">
                                        <label class="form-label">Password<span class="cfont">*</span></label>
                                        <div>
                                            @Html.TextBoxFor(model => model.Password, new { @MaxLength = 50, @class = "form-control", @id = "txtMeterDescription", @placeholder = "Password", @required = "required" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="box-footer">
                            <button class="btn btn-primary" id="btnSave" name="btnSave" type="submit"><span>Save</span></button>
                            <button class="btn btn-default" type="button" onclick="RedirectToPage()"><span>Cancel</span></button>
                        </div>
                    }

                </div>
                <div class="tab-pane" id="tb2">
                    <div class="information-form">
                        <div id="divAssignTo">
                        </div>
                    </div>
                    <div class="box-footer">
                        <button class="btn btn-default" type="button" onclick="RedirectToPage();"><span>Cancel</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>