﻿@model CMMS.Model.Account
@using CMMS.Infrastructure;
@using CMMS.Pages;
@using CMMS.Model;
@using Kendo.Mvc.UI;
@{
    Layout = null;
    bool Lang = ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true;
}



@using (Html.BeginForm(Actions.ManageCEUMLConfig, Controllers.Configurations, new { area = Areas.Configurations, @Model }, FormMethod.Post, new { id = "frmCEUMLconfig" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.ClientID)


    <div class="information-form">
        <div class="row">
            <div class="form-group col-sm-6 col-md-6 col-lg-4">
                <label class="form-label">ConfigurationID</label>
                @Html.TextBoxFor(model => model.CEUML_config.CEUML_configId, new { @id = "chkTransaction", @class = "form-control" })
            </div>

            <div class="form-group col-sm-6 col-md-6 col-lg-4">
                <label class="form-label">CeUser</label>
                @Html.TextBoxFor(model => model.CEUML_config.CeUser, new { @id = "chkSetup", @class = "form-control" })
            </div>

            <div class="form-group col-sm-6 col-md-6 col-lg-4">
                <label class="form-label">Token</label>
                @Html.TextBoxFor(model => model.CEUML_config.Token, new { @id = "chkReports", @class = "form-control" })
            </div>

        </div>
    </div>

    <div class="box-footer">
        <button class="btn btn-primary" id="btnSave" name="btnSave" type="submit"><span>Save</span></button>
        <button class="btn btn-default" type="button" onclick="RedirectToPage()"><span>Cancel</span></button>
    </div>



}


