﻿@model CMMS.Model.Account
@using CMMS.Infrastructure;
@using CMMS.Pages;
@using Kendo.Mvc.UI;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool Lang = ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true;
}

@Html.AntiForgeryToken()
<div class="head1">
    <h1>Client Detail</h1>
</div>
<div>
    <div class="box edit-job-order">
        <div class="nav-tabs-horizontal">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#tb1" aria-controls="tb1">Client Detail</a></li>
                @if (Model.ClientID > 0)
                {
                    <li><a data-toggle="tab" href="#tb2" aria-controls="tb2">Module Access</a></li>
                    <li><a data-toggle="tab" href="#tb3" aria-controls="tb2">Tab Access</a></li>
                    <li><a data-toggle="tab" href="#tb4" aria-controls="tb2">Report Access</a></li>
                    <li><a data-toggle="tab" href="#tb5" aria-controls="tb2">Feature Access</a></li>
                    @*<li><a data-toggle="tab" href="#tb6" aria-controls="tb2">FirstLevel Tbl</a></li>*@
                    <li><a data-toggle="tab" href="#tb7" aria-controls="tb2">Level Names</a></li>
                    <li><a data-toggle="tab" href="#tb8" aria-controls="tb2">CEMUL Configuration</a></li>
                }
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tb1">

                    @using (Html.BeginForm(Actions.ManageClientDetail, Controllers.Configurations, new { area = Areas.Configurations, clientID = @Model.ClientID }, FormMethod.Post, new { enctype = "multipart/form-data", id = "frmClientDetail", @role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.ClientID)
                        <div class="information-form cus-form">
                            <div class="row">
                                <div class="form-group col-sm-6 col-md-6 col-lg-4">
                                    <label class="form-label">User Name<span class="cfont">*</span></label>
                                    @Html.TextBoxFor(model => model.UserName, new { @MaxLength = 50, @class = "form-control", @id = "txtUserName", @placeholder = "User Name", @required = "required" })
                                </div>
                                <div class="form-group col-sm-6 col-md-6 col-lg-4">
                                    <label class="form-label">Password<span class="cfont">*</span></label>
                                    @Html.TextBoxFor(model => model.Password, new { @MaxLength = 50, @class = "form-control", @id = "txtPassword", @placeholder = "Password", @required = "required" })
                                </div>
                                <div class="form-group col-sm-6 col-md-6 col-lg-4">
                                    <label class="form-label">ConCurrent Users<span class="cfont">*</span></label>
                                    @Html.TextBoxFor(model => model.ConCurrentUsers, new { @MaxLength = 50, @class = "form-control allowIntegerOnly", @id = "txtConCurrentUser", @placeholder = "ConCurrent User", @required = "required" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6 col-md-6 col-lg-4">
                                    <label class="form-label">Sub Cycle<span class="cfont">*</span></label>
                                    <div class="@ProjectSession.CultureKendoClass">
                                        @(Html.Kendo().DropDownList()
                                        .Name("SubCycle")
                            //.OptionLabel("Select")

                                            .DataTextField("SubCycleName")
                                            .DataValueField("SubCycleID")
                                            .HtmlAttributes(new { style = "width: 100%", @required = "required", id = "SubCycle" })
                                            .DataSource(source =>
                                            {
                                                source.Read(read =>
                                                {
                                                    read.Action(Actions.GetAllSubCycleType, Controllers.Configurations, new { area = Areas.Configurations });
                                                });
                                            })
                                        .Value(Convert.ToString(Model.SubCycle))
                                        .Template("<span data-id='#:data.SubCycleValue #'> #: data.SubCycleName # </span>")
                                        )
                                    </div>
                                </div>
                                <div class="form-group col-sm-6 col-md-6 col-lg-4">
                                    <label class="form-label">Start Date<span class="cfont">*</span></label>
                                    <div class="input-group date-pick">
                                        @*@Html.TextBoxFor(model => model.DateCreated, String.Format("{0:" + ProjectConfiguration.DefaultDateFormat + "}", Model.DateCreated), new { @id = "DateCreated", @class = "form-control calendarsPicker", @placeholder = ProjectConfiguration.DefaultDateFormat })*@
                                        @Html.TextBoxFor(model => model.DateCreated, "{0:" + ProjectConfiguration.DefaultDateFormat + "}", new { placeholder = ProjectConfiguration.DefaultDateFormat, @class = "form-control calendarsPicker required", id = "DateCreated" })
                                    </div>
                                </div>
                                <div class="form-group col-sm-6 col-md-6 col-lg-4">
                                    <label class="form-label">Expiry Date</label>
                                    @Html.TextBoxFor(model => model.ExpDate, String.Format("{0:" + ProjectConfiguration.DefaultDateFormat + "}", Model.ExpDate), new { @id = "ExpDate", @class = "form-control", @placeholder = ProjectConfiguration.DefaultDateFormat, @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6 col-md-6 col-lg-4">
                                    <label class="form-label">Database Type<span class="cfont">*</span></label>
                                    <div class="@ProjectSession.CultureKendoClass">
                                        @(Html.Kendo().DropDownList()
                                        .Name("DbType")
                            //.OptionLabel("Select")
                                    .DataTextField("DbTypeName")
                                    .DataValueField("DbTypeID")
                                    .HtmlAttributes(new { style = "width: 100%", @required = "required", id = "DbType" })
                                            .DataSource(source =>
                                            {
                                                source.Read(read =>
                                                {
                                                    read.Action(Actions.GetAllDatabaseType, Controllers.Configurations, new { area = Areas.Configurations });
                                                });
                                            })
                                .Value(Convert.ToString(Model.DbType))
                                        )
                                    </div>
                                </div>
                                @if (!string.IsNullOrEmpty(Model.DbName))
                                {

                                    <div class="form-group col-sm-6 col-md-6 col-lg-4">
                                        <label class="form-label">Database Name<span class="cfont">*</span></label>
                                        @Html.TextBoxFor(model => model.DbName, new { @MaxLength = 50, @class = "form-control", @id = "txtDbName", @placeholder = "Db Name", @required = "required" })
                                    </div>
                                }
                                @if (!string.IsNullOrEmpty(Model.ClientCode))
                                {
                                    <div class="form-group col-sm-6 col-md-6 col-lg-4">
                                        <label class="form-label">Client Code<span class="cfont">*</span></label>
                                        @Html.TextBoxFor(model => model.ClientCode, new { @MaxLength = 50, @class = "form-control", @id = "txtClientCode", @placeholder = "Client Code", @required = "required", @readonly = "readonly" })
                                    </div>
                                }
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6 col-md-6 col-lg-4">
                                    <label class="form-label">Header Name English<span class="cfont">*</span></label>
                                    @Html.TextBoxFor(model => model.HdrNameEn, new { @MaxLength = 50, @class = "form-control", @id = "txtHdrNameEn", @placeholder = "HdrNameEn", @required = "required" })
                                </div>
                                <div class="form-group col-sm-6 col-md-6 col-lg-4">
                                    <label class="form-label">Header Name Arabic<span class="cfont">*</span></label>
                                    @Html.TextBoxFor(model => model.HdrNameAr, new { @MaxLength = 50, @class = "form-control", @id = "txtHdrNameAr", @placeholder = "HdrNameAr", @required = "required" })
                                </div>

                                <div class="form-group col-sm-6 col-md-6 col-lg-4">
                                    <label class="form-label">Session TimeOut<span class="cfont">*</span></label>
                                    @Html.TextBoxFor(model => model.SessionTimeOut, new { @MaxLength = 50, @class = "form-control allowIntegerOnly", @id = "txtSessionTimeOut", @placeholder = "Session TimeOut", @required = "required" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6 col-md-6 col-lg-4" id="divLogoImage">
                                    <label class="form-label">Header Logo<span class="cfont"></span></label>
                                    @(Html.Kendo().Upload().Name("LogoImage").HtmlAttributes(new { id = "LogoImage", accept = "image/*", aria_label = "files" }).Multiple(false)
                                    .Events(events => events
                                            .Select("onSelectLogoImage")
                                        )
                                    )
                                </div>

                                <div class="form-group col-sm-6 col-md-6 col-lg-4" id="divReportImage">
                                    <label class="form-label">Report Logo<span class="cfont"></span></label>
                                    @(Html.Kendo().Upload().Name("ReportImage").HtmlAttributes(new { id = "ReportImage", accept = "image/*", aria_label = "files" }).Multiple(false)
                                    .Events(events => events
                                        .Select("onSelectReportImage")
                                    )
                                    )
                                </div>

                                <div class="form-group col-sm-6 col-md-6 col-lg-4">
                                    <div class="checkbox-box">
                                        @*@Html.EditorFor(model => model.IsNamedUser)*@
                                        @Html.CheckBox("AccStatus", Model.AccStatus != null && (bool)Model.AccStatus)
                                        IsActive
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6 col-md-6 col-lg-4">
                                    <div class="checkbox-box">
                                        @*@Html.EditorFor(model => model.IsNamedUser)*@
                                        @Html.CheckBox("IsNamedUser", Model.IsNamedUser != null && (bool)Model.IsNamedUser, new { @onclick = "checkIsNameField(this);" })
                                        IsNamed User
                                    </div>
                                </div>
                                <div class="form-group col-sm-6 col-md-6 col-lg-4">
                                    <label class="form-label">No of Licenses<span class="cfont">*</span></label>
                                    @Html.TextBoxFor(model => model.NoOfLicenses, new { @MaxLength = 50, @class = "form-control allowIntegerOnly", @id = "txtNoOfLicenses", @placeholder = "NoOfLicenses", @required = "required" })
                                </div>
                                @if (!string.IsNullOrEmpty(Model.ClientCode))
                                {
                                    <div class="form-group col-sm-6 col-md-6 col-lg-4">
                                        <label class="form-label">License No<span class="cfont">*</span></label>
                                        @Html.TextBoxFor(model => model.LicenseNo, new { @MaxLength = 50, @class = "form-control", @id = "txtLicenseNo", @placeholder = "License No", @required = "required" , @readonly = "readonly" })
                                    </div>
                                }
                            </div>


                            <div class="row">
                                <div class="form-group col-sm-6 col-md-6 col-lg-4">
                                    <label class="form-label">Mobile Application License Connection Type<span class="cfont">*</span></label>
                                    @Html.TextBoxFor(model => model.MobAppLicCon, new { @MaxLength = 50, @class = "form-control allowIntegerOnly", @id = "txtMobAppLicCon", @placeholder = "MobApp License Connection Type", @required = "required" })
                                </div>
                                <div class="form-group col-sm-6 col-md-6 col-lg-4">
                                    <label class="form-label">Mobile Application License Concurrent Users<span class="cfont">*</span></label>
                                    @Html.TextBoxFor(model => model.MobAppLicNamed, new { @MaxLength = 50, @class = "form-control allowIntegerOnly", @id = "txtMobAppLicNamed", @placeholder = "MobApp Concurrent Users", @required = "required" })
                                </div>

                                <div class="form-group col-sm-6 col-md-6 col-lg-4">
                                    <div class="checkbox-box">
                                        @Html.CheckBox("IsItemNoAutoIncrement", Model.IsItemNoAutoIncrement != null && (bool)Model.IsItemNoAutoIncrement, new { })
                                        Is ItemNo Auto Increment
                                    </div>
                                </div>


                                @*<div class="form-group col-sm-6 col-md-6 col-lg-4">
                                        <label class="form-label">Sub Cycle<span class="cfont">*</span></label>
                                        @Html.TextBoxFor(model => model.SubCycle, new { @MaxLength = 50, @class = "form-control allowIntegerOnly", @id = "txtSubCycle", @placeholder = "Sub Cycle", @required = "required" })
                                    </div>*@

                            </div>

                            <div class="row">
                                <div class="form-group col-sm-6 col-md-6 col-lg-4">
                                    <label class="form-label">Allowed File Types (IE. .png,.jpg,.gif) <span class="cfont">*</span></label>
                                    @Html.TextBoxFor(model => model.AllowedFileTypes, new { @MaxLength = 500, @class = "form-control", @id = "txtAllowedFileTypes", @placeholder = "Allowed File Types", @required = "required" })
                                </div>

                                <div class="form-group col-sm-6 col-md-6 col-lg-4">
                                    <label class="form-label">Allowed Maximum File Size (In MB) <span class="cfont">*</span></label>
                                    @Html.TextBoxFor(model => model.AllowedMaxFilesize, new { @MaxLength = 3, @class = "form-control allowIntegerOnly", @id = "txtAllowedMaxFilesize", @placeholder = "Allowed Maximum File size", @required = "required" })
                                </div>

                                <div class="form-group col-sm-6 col-md-6 col-lg-4">
                                    <label class="form-label">Dashboard Refresh Time (In Minutes) <span class="cfont">*</span></label>
                                    @Html.TextBoxFor(model => model.DashboardRefreshTime, new { @MaxLength = 3, @class = "form-control allowIntegerOnly", @id = "txtDashboardRefreshTime", @placeholder = "Dashboard Refresh Time", @required = "required" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6 col-md-6 col-lg-4">
                                    <label class="form-label">Session Timeout For Mobile Application (In Minutes) <span class="cfont">*</span></label>
                                    @Html.TextBoxFor(model => model.SessionTimeOutMobApp, new { @MaxLength = 3, @class = "form-control allowIntegerOnly", @id = "txtSessionTimeOutMobApp", @placeholder = "Session Timeout For Mobile Application", @required = "required" })
                                </div>
                                <div class="form-group col-sm-6 col-md-6 col-lg-4">
                                    <label class="form-label">Client's Shared Folder Path <span class="cfont">*</span></label>
                                    @Html.TextBoxFor(model => model.SharedFolderPath, new { @MaxLength = 500, @class = "form-control", @id = "txtSharedFolderPath", @placeholder = "Client's Shared Folder Path", @required = "required" })
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-sm-12 col-md-12 col-lg-12">
                                    <label class="form-label">Connection String<span class="cfont">*</span></label>
                                    @Html.TextAreaFor(model => model.DbConString, new { @class = "form-control", @id = "txtDbConString", @placeholder = "Connection String", @required = "required" })
                                </div>

                            </div>
                        </div>
                        <div class="box-footer">
                            @*@if (ProjectSession.DbType == SystemEnum.DBTYPE.SQL.GetHashCode())
                                {
                                    <button class="btn btn-primary" name="btnSave" type="submit" value="dbConfig"><span>Database Config</span></button>
                                }*@
                            @*<button class="btn btn-primary" name="btnSave" type="submit" value="dbConfig"><span>Database Config</span></button>*@
                            <button class="btn btn-primary" id="btnSave" name="btnSave" type="submit" value="Save"><span>Save</span></button>
                            <button class="btn btn-default" type="button" onclick="RedirectToPage()"><span>Cancel</span></button>
                        </div>
                    }
                </div>
                <div class="tab-pane" id="tb2">
                    <div id="divModulePermissions">
                        @Html.Partial(PartialViews.ModuleAccessPermission, Model)
                    </div>
                </div>
                <div class="tab-pane" id="tb3">
                    <div id="divTabAccess">
                        @Html.Partial(PartialViews.TabAccess, Model)
                    </div>
                </div>
                <div class="tab-pane" id="tb4">
                    <div id="divReportAccess">
                        @Html.Partial(PartialViews.ReportAccess, Model)
                    </div>
                </div>
                <div class="tab-pane" id="tb5">
                    <div id="divFeatureAccess">
                        @Html.Partial(PartialViews.FeatureAccess, Model)
                    </div>
                </div>
                <div class="tab-pane" id="tb6">
                    <div id="divLevelNames">
                        @Html.Partial(PartialViews.FirstLevelTbl, Model)
                    </div>
                </div>
                <div class="tab-pane" id="tb7">
                    <div id="divLevelNames">
                        @Html.Partial(PartialViews.LevelNames, Model)
                    </div>
                </div>
                <div class="tab-pane" id="tb8">
                    <div id="divCEUML_config">
                        @Html.Partial(PartialViews.CEUML_config, Model)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var date;
        var dat = new Date();
        var Message = '@TempData["Message"]';

        if (Message != '') {
            ShowMessage('@TempData["MessageType"]', '@TempData["Message"]', "#divMessage");
        }
        var SubCycle = $("#SubCycle_listbox .k-item.k-state-focused.k-state-selected span").attr("data-id");

        $('.calendarsPicker').calendarsPicker();
        checkIsNameField($("#IsNamedUser"));
    });
    validator = $('#frmClientDetail').validate({
        rules: {
            UserName: { required: true },
            Password: { required: true },
            //Email: { email: true },
            //Email1: { email: true },
            //Email2: { email: true },
            //Email3: { email: true }
        },
        messages: {
            UserName: { required: '' },
            Password: { required: '' },
            //Email: { email: '' },
            //Email1: { email: '' },
            //Email2: { email: '' },
            //Email3: { email: '' }
        }
    });

    function checkIsNameField(objIsNamed) {
        if ($(objIsNamed).prop("checked").toString() == "false") {
            $("#txtNoOfLicenses").removeAttr("required");
            $("#txtNoOfLicenses").removeClass("form-control error");
            $("#txtNoOfLicenses").addClass("form-control valid");
            $("#txtNoOfLicenses").closest("div").find(".cfont").html("");
            $("#txtNoOfLicenses").attr("readonly", "readonly");
            $("#txtNoOfLicenses").val("");

            //$("#txtLicenseNo").removeAttr("required");
            //$("#txtLicenseNo").removeClass("form-control error");
            //$("#txtLicenseNo").addClass("form-control valid");
            //$("#txtLicenseNo").closest("div").find(".cfont").html("");
            //$("#txtLicenseNo").attr("readonly", "readonly");
            //$("#txtLicenseNo").val("");
        }
        else {
            $("#txtNoOfLicenses").attr("required", "required");
            $("#txtNoOfLicenses").removeAttr("readonly");
            $("#txtNoOfLicenses").closest("div").find(".cfont").html("*");

            //$("#txtLicenseNo").attr("required", "required");
            //$("#txtLicenseNo").removeAttr("readonly");
            //$("#txtLicenseNo").closest("div").find(".cfont").html("*");
        }
    }

    $(".allowIntegerOnly").keydown(function (e) {
        // Allow: backspace, delete, tab, escape, enter and .
        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13]) !== -1 ||
            // Allow: Ctrl+A, Command+A
            (e.keyCode == 65 && (e.ctrlKey === true || e.metaKey === true)) ||
            // Allow: home, end, left, right, down, up
            (e.keyCode >= 35 && e.keyCode <= 40)) {
            // let it happen, don't do anything
            return;
        }
        // Ensure that it is a number and stop the keypress
        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
            e.preventDefault();
        }

    });

    function RedirectToPage() {

        location.href = '@Url.Action(Actions.ClientList, Controllers.Configurations, new { @area = Areas.Configurations})';
    }
    function CalculateTargetDate()
    { }


    $('#SubCycle').change(function () {
        var SubCycle = $("#SubCycle_listbox .k-item.k-state-focused.k-state-selected span").attr("data-id");
        date = $("#DateCreated").val();
        var dat = new Date(date);
        var p = dat.setTime(dat.getTime() + parseInt(SubCycle, 10) * 86400000);

        var st = new Date(p);
        var conDate = st.toLocaleDateString();

        //$("#ExpDate").val(conDate);

        $("#ExpDate").val(conDate.split('/')[2] + '/' + pad(conDate.split('/')[0], 2) + '/' + pad(conDate.split('/')[1], 2));

    });
    $("#DateCreated").calendarsPicker({
        defaultDate: '-1w',
        selectDefaultDate: true,
        dateFormat: 'yyyy/mm/dd',
        onSelect: function (dateText, inst) {
            date = $(this).val();
            var SubCycle = $("#SubCycle_listbox .k-item.k-state-focused.k-state-selected span").attr("data-id");
            var dat = new Date(date);
            var p = dat.setTime(dat.getTime() + parseInt(SubCycle, 10) * 86400000);
            var st = new Date(p);
            var conDate = st.toLocaleDateString();
            $("#ExpDate").val(conDate.split('/')[2] + '/' + pad(conDate.split('/')[0], 2) + '/' + pad(conDate.split('/')[1], 2));
        }
    });


    $("#ExpDate").calendarsPicker({
        dateFormat: 'yyyy/mm/dd'
    });


    $('#DateCreated').on("change", function () {
        date = $("#DateCreated").val();
        //var SubCycle = $("#SubCycle").val();
        var SubCycle = $("#SubCycle_listbox .k-item.k-state-focused.k-state-selected span").attr("data-id");
        var dat = new Date(date);
        var p = dat.setTime(dat.getTime() + parseInt(SubCycle, 10) * 86400000);
        var st = new Date(p);
        var conDate = st.toLocaleDateString();
        $("#ExpDate").val(conDate.split('/')[2] + '/' + pad(conDate.split('/')[0], 2) + '/' + pad(conDate.split('/')[1], 2));
    });
    $("#DateCreated").keydown(function (e) {
        return false;
    });

    function pad(n, width, z) {
        z = z || '0';
        n = n + '';
        return n.length >= width ? n : new Array(width - n.length + 1).join(z) + n;
    }

    function onUpload() {

        alert($(".k-filename"));

        //var files = e.files;

        //$.each(files, function () {

        //    if (this.extension.toLowerCase() != ".png" || this.extension.toLowerCase() != ".jpg" || this.extension.toLowerCase() != ".jpeg") {
        //        e.preventDefault();
        //    }
        //});
    }

    var _validFileExtensions = [".jpg", "jpeg", ".gif", ".png", ".bmp"];

    function onSelectLogoImage(e) {
        //alert(getFileInfo(e));
        var sSelectedFileName = getFileInfo(e);
        if (sSelectedFileName.length > 0) {
            //For file validation
            var sFileName = sSelectedFileName.toLowerCase();
            if (sFileName.length > 0) {
                var blnValid = false;
                for (var j = 0; j < _validFileExtensions.length; j++) {
                    var sCurExtension = _validFileExtensions[j];
                    if (sFileName.substr(sFileName.length - sCurExtension.length, sCurExtension.length).toLowerCase() == sCurExtension.toLowerCase()) {
                        blnValid = true;
                        return false;
                    }
                }

                var _validFileExtensionsMasterstr = '@ProjectSession.AllowedFileTypes';
                var _validFileExtensionsMaster = _validFileExtensionsMasterstr.split(',');

                var blnValidMaster = false;
                if (blnValid) {
                    for (var j = 0; j < _validFileExtensionsMaster.length; j++) {
                        var sCurExtension = _validFileExtensionsMaster[j];
                        if (sFileName.substr(sFileName.length - sCurExtension.length, sCurExtension.length).toLowerCase() == sCurExtension.toLowerCase()) {
                            blnValidMaster = true;
                            break;
                        }
                    }
                }

                if ((!blnValid) || (!blnValidMaster)) {
                    $('#LogoImage').val('');
                    $('#divLogoImage ul.k-upload-files.k-reset').remove();
                    ShowMessage('danger', 'Please upload valid Image file.', "#divMessage");
                    e.preventDefault();
                    return false;
                }
            }
            //End
        }
    }

    function onSelectReportImage(e) {
        //alert(getFileInfo(e));
        var sSelectedFileName = getFileInfo(e);
        if (sSelectedFileName.length > 0) {
            //For file validation
            var sFileName = sSelectedFileName.toLowerCase();
            if (sFileName.length > 0) {
                var blnValid = false;
                for (var j = 0; j < _validFileExtensions.length; j++) {
                    var sCurExtension = _validFileExtensions[j];
                    if (sFileName.substr(sFileName.length - sCurExtension.length, sCurExtension.length).toLowerCase() == sCurExtension.toLowerCase()) {
                        blnValid = true;
                        return false;
                    }
                }
                if (!blnValid) {
                    $('#ReportImage').val('');
                    $('#divReportImage ul.k-upload-files.k-reset').remove();
                    ShowMessage('danger', 'Please upload valid Image file.', "#divMessage");
                    e.preventDefault();
                    return false;
                }
            }
            //End
        }
    }


    function getFileInfo(e) {
        return $.map(e.files, function (file) {
            var info = file.name;

            // File size is not available in all browsers
            //if (file.size > 0) {
            //    info += " (" + Math.ceil(file.size / 1024) + " KB)";
            //}
            return info;
        }).join(", ");
    }


    //$("#LogoImage").change(function () {
    //    if (this.files && this.files[0]) {
    //        //For file validation
    //        var sFileName = this.files[0].name.toLowerCase();
    //        if (sFileName.length > 0) {
    //            var blnValid = false;
    //            for (var j = 0; j < _validFileExtensions.length; j++) {
    //                var sCurExtension = _validFileExtensions[j];
    //                if (sFileName.substr(sFileName.length - sCurExtension.length, sCurExtension.length).toLowerCase() == sCurExtension.toLowerCase()) {
    //                    blnValid = true;
    //                    return false;
    //                }
    //            }
    //            if (!blnValid) {
    //                $('#LogoImage').val('');
    //                ShowMessage('danger', 'Please upload valid Image file.', "#divMessage");
    //                return false;
    //            }
    //        }
    //        //End
    //    }
    //});


    //$("#ReportImage").change(function () {
    //    if (this.files && this.files[0]) {
    //        //For file validation
    //        var sFileName = this.files[0].name.toLowerCase();
    //        if (sFileName.length > 0) {
    //            var blnValid = false;
    //            for (var j = 0; j < _validFileExtensions.length; j++) {
    //                var sCurExtension = _validFileExtensions[j];
    //                if (sFileName.substr(sFileName.length - sCurExtension.length, sCurExtension.length).toLowerCase() == sCurExtension.toLowerCase()) {
    //                    blnValid = true;
    //                    return false;
    //                }
    //            }
    //            if (!blnValid) {
    //                $('#ReportImage').val('');
    //                ShowMessage('danger', 'Please upload valid Image file.', "#divMessage");
    //                return false;
    //            }
    //        }
    //        //End
    //    }
    //});


</script>