﻿@using CMMS.Infrastructure;
@using CMMS.Pages;
@using CMMS.Model
@using CMMS.Service
@using Kendo.Mvc.UI;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool Lang = ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true;
}
@*@Html.AntiForgeryToken()*@
<div class="head1">
    <h1>Client List</h1>
    <ul class="sub_btn">

        <li>
        <li><a href="@Url.Action(Actions.ClientDetail, Controllers.Configurations, new { area = Areas.Configurations, clientID = 0, fromPageID = SystemEnum.Pages.ClientList.GetHashCode() })" title="Add" class="btn-icon btn-add"><i></i></a></li>
        </li>

</div>

<!-- Kendo Grid-->
<div id="clientData" class="@ProjectSession.CultureKendoClass">
        @(Html.Kendo().Grid<CMMS.Model.Account>()
                .Name("clientListGrid")
        .HtmlAttributes(new { @class = "kl-grid" })
        .Columns(columns =>
        {
            //columns.Bound(c => c.ClientID).Title("Client ID").Width(110).Locked(true);
            //columns.Bound(c => c.HdrLogo).ClientTemplate("<img src=@Url.Content(~/Images/HdrLogo)").Width(110);
            //columns.Bound(c => c.HdrLogo).Title("Logo").ClientTemplate("<img src='" + Url.Content("~/Images/") + "#=HdrLogo#' width=50px height=50px/>").Width(80).Locked(true);
            //columns.Bound(c => c.HdrLogo).Title("Logo").ClientTemplate("<img src='" + Url.Content("~/Uploads/") +  "#=ClientID#/HeaderImages/#=HdrLogo#' width=50px height=50px/>").Width(80).Locked(true);
            columns.Bound(c => c.HdrLogo).Width(80).Locked(true).Title("Logo").ClientTemplate(
                "# if (HdrLogo == '' || HdrLogo == null) { #" +
                                "<img style='max-width:50px;max-height:34px;' src='" + Url.Content("~/Uploads/") + "HeaderImages/logo.png' alt='' />" +
                "# } else { #" +
                                "<img style='max-width:50px;max-height:34px;' src='" + ProjectConfiguration.VirtualDirectoryAccessURL + "/#= ClientCode #/#= ClientCode #/HeaderImages/#= HdrLogo #' alt='#= HdrLogo #' />" +
                "# } #");
            columns.Bound(c => c.ClientCode).Title("Client Code").Width(120);
            columns.Bound(c => c.UserName).Title("User Name").Width(120);
            //columns.Bound(c => c.Password).Title("Password").Width(110);
            columns.Bound(c => c.DateCreated).ClientTemplate("#= DateTemplate(data.DateCreated) #").Title("Date Created").Width(120);
            columns.Bound(c => c.ExpDate).ClientTemplate("#= DateTemplate(data.ExpDate) #").Title("Expiry Date").Width(120);
            columns.Bound(c => c.DbName).Title("Database Name").Width(170);
            columns.Bound(c => c.AccStatus).Title("Account Status").Width(170);
            columns.Bound(c => c.DbConString).Title("Connection String").Width(400);
            columns.Bound(c => c.ConCurrentUsers).Title("Current Users").Width(150);
            columns.Bound(c => c.MobAppLicCon).Title("MobAppLicCon").Width(150);
            columns.Bound(c => c.MobAppLicNamed).Title("MobAppLicNamed").Width(170);
            columns.Bound(c => c.SubCycle).Title("Sub Cycle").Width(110);
            columns.Bound(c => c.AccStatus).ClientTemplate(
                 "# if (AccStatus == true) { #" +
                
                    "<center><a class='action' title='" + "Edit" + "'  style='cursor:pointer' data-toggle='modal' data-target='\\#AdminModal' onclick='OpenClientDetailEditWindow(#: ClientID#)'><i class='glyphicon glyphicon-pencil'></i></a>&nbsp;<a class='action delete-button-Innner'  href='javascript:void(0);' onclick='onClickChangeStatus(#: ClientID#,0)' class='delete-ic' data-id='#: ClientID #' style='cursor:pointer'><i class='glyphicon glyphicon-remove-circle' title='" + "Make it Inactive" + "' ></i></a></center>" +
                 "# } else { #" +

                    "<center><a class='action' title='" + "Edit" + "'  style='cursor:pointer' data-toggle='modal' data-target='\\#AdminModal' onclick='OpenClientDetailEditWindow(#: ClientID#)'><i class='glyphicon glyphicon-pencil'></i></a>&nbsp;<a class='action delete-button-Innner'  href='javascript:void(0);' onclick='onClickChangeStatus(#: ClientID#,1)' class='delete-ic' data-id='#: ClientID #' style='cursor:pointer'><i class='glyphicon glyphicon-ok-circle' title='" + "Make it Active" + "' ></i></a></center>" +
                     
                "# } #")
                .Title("<center>" + "Action" + "</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Width(80).Filterable(false);
        })
        .Filterable()
        .Sortable(sortable => sortable.AllowUnsort(false))
        .Scrollable()
        //.Excel(excel => excel.FileName(ProjectSession.Resources.menu.JobOrder_MenuJobOrderList + ".xlsx").Filterable(true).AllPages(true).ProxyURL(Url.Action("Excel_Export_Save", "GridExport", new { area = string.Empty })))
        .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("")))
        //.Events(events => events.DataBound("onDataBound"))
        .DataSource(dataSource =>
                                dataSource.Ajax()
                                .PageSize(ProjectConfiguration.PageSize)
                                 .Model(model =>
                                 {
                                     model.Id(p => p.ClientID);
                                     model.Field(p => p.UserName);
                                 })
                                .ServerOperation(true)
                                                                .Read(read => read.Action(CMMS.Pages.Actions.GetClientList, CMMS.Pages.Controllers.Configurations).Data("BindParameters").Type(System.Web.Mvc.HttpVerbs.Post))
                )
)


</div>

<!-- -------------search order------------- -->
<div id="search-order" class="modal fade" role="dialog"></div>


<script type="text/javascript">
    var kendoGridId = 'clientListGrid';
    var intPageID = '@SystemEnum.Pages.ClientList.GetHashCode()';

    $(document).ready(function () {
        

        if ('@ViewBag.Message' != '' && '@ViewBag.MessageType' != '') {
            ShowMessage('@ViewBag.MessageType', '@ViewBag.Message', "#divMessage");
        }
    });
    //function ShowMessage(type, message, divId, fadOutTime) {
    //    fadOutTime = typeof fadOutTime !== 'undefined' ? fadOutTime : 5000;

    //    var imagepath = imageServerPath;

    //    var mainDiv = ' <div class="alert alert-' + type + ' alert-dismissible" role="alert">';
    //    mainDiv = mainDiv + ' <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>';
    //    mainDiv = mainDiv + ('<img src="' + imagepath + '" title="' + type + '"/>').replace("#type#", type) + '&nbsp;' + message;

    //    mainDiv = mainDiv + '</div>';

    //    $(divId).html(mainDiv);
    //    $(divId).slideDown('slow');

    //    if (type == dangerType && fadOutTime == 5000) {
    //        fadOutTime = 6000;
    //    }
    //    window.scrollTo(0, 0);
    //    setTimeout(function () { $(divId).slideUp('slow'); $(divId).html(''); }, fadOutTime);

    //}
    function BindParameters() {
        return {
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };

    //function onDataBound(arg) {
    //    gridProperPaging(this);
    //}
    function onDataBound(arg) {        
        confirmDeleteMsg(msgText, okText, cancelText, onConfirmCallback, confirmDirection);
        //gridProperPaging(this);
    }
    //function DateTemplate(date) {

    //    if (date != undefined && date != null) {
    //        try {
    //            if (date.indexOf('/Date(') > -1) {
    //                date = new Date(parseInt(date.substr(6)));
    //            }
    //        } catch (err) { //do not throw err here
    //        }
    //        return GetCultureDateWithFormant(date);
    //    }
    //    return "";
    //}

    //function DateTemplateWithTime(date) {


    //    if (date != undefined && date != null) {
    //        try {
    //            if (date.indexOf('/Date(') > -1) {
    //                date = new Date(parseInt(date.substr(6)));
    //            }
    //        } catch (err) { //do not throw err here
    //        }
    //        var a = GetCultureDateWithFormant(date);

    //        var b = formatAMPM(date)
    //        return a + " " + b;
    //    }
    //    return "";
    //}
    function onCancel() {
        $('.delete-button-Innner').confirmation('hide');
    }
    function confirmDeleteMsg(title, okLabel, cancelLabel, onConfirmCallback, direction) {
        $('.delete-button').confirmation({
            title: title,
            popout: true,
            singleton: true,
            html: false,
            href: "javascript:void(0);",
            placement: direction,
            btnOkLabel: okLabel,
            btnCancelLabel: cancelLabel,
            onConfirm: onConfirmCallback,
            onCancel: onCancel,
            btnOkClass: "btn btn-primary",
            btnCancelClass: "btn btn-default"
        });
    }

    function onConfirmCallbackDeleteClient(sender) {        
        var id = sender;
        var result = confirm("Are you sure want to delete this record?");
        if (result) {
            if (id > 0) {
                $.ajax({
                    url: '@Url.Action(Actions.DeleteClient,Controllers.Configurations,new{area=Areas.Configurations})',
                    type: "POST",
                    data: addRequestVerificationToken({ clientID: id }),
                    dataType: "json",
                    success: function (result) {
                        //ClearAllInputs("frmBuilding");
                        ReBindKendoGrid("clientListGrid");                      
                        ShowMessage(result[0], result[1], "#divMessage");                        
                        //location.href = '@Url.Action(Actions.ClientList, Controllers.Configurations, new { @area = Areas.Configurations})';
                        //window.location.reload();
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        ShowMessage();
                    }
                });
            }
        }
    }


    function onClickChangeStatus(clientid,bitstatus)
    {
        $.ajax({
            url: '@Url.Action(Actions.StatusChangeClient,Controllers.Configurations,new{area=Areas.Configurations})',
            type: "POST",
            data: addRequestVerificationToken({clientID:clientid,bitStatus:bitstatus}),
            dataType: "json",
            success: function (result) {
                //ClearAllInputs("frmBuilding");
                ReBindKendoGrid("clientListGrid");                      
                ShowMessage(result[0], result[1], "#divMessage");                        
                //location.href = '@Url.Action(Actions.ClientList, Controllers.Configurations, new { @area = Areas.Configurations})';
                //window.location.reload();
            },
            error: function (xhr, ajaxOptions, thrownError) {
                ShowMessage();
            }
        });
    }

    function OpenClientDetailEditWindow(id) {
        window.location.href = '@Url.Action(Actions.ClientDetail, Controllers.Configurations, new { Area = Areas.Configurations })' + "?clientID=" + id;

    }
    $("#clientListGrid tbody").on("dblclick", "tr[role='row']", function (e) {
        var grid = $("#clientListGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        location.href = '@Url.Action(Actions.ClientDetail, CMMS.Pages.Controllers.Configurations, new { area = CMMS.Pages.Areas.Configurations })' + '?clientId=' + model.ClientID;
    });

    function ReBindKendoGrid(gridId) {
        try {
            $('#' + gridId).data('kendoGrid').dataSource.read();
            $('#' + gridId).data('kendoGrid').refresh();            
        }
        catch (ex) {
        }
    }

</script>
