﻿@model CMMS.Model.Account
@using CMMS.Infrastructure;
@using CMMS.Pages;
@using CMMS.Model;
@using Kendo.Mvc.UI;
@{
    Layout = null;
    bool Lang = ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true;
}


@using (Html.BeginForm(Actions.ManageFeatureAccess, Controllers.Configurations, new { area = Areas.Configurations, @Model }, FormMethod.Post, new { @class = "frmFeatureAccess" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.ClientID)


    <div class="information-form">
        <div class="row">
            @*<div class="form-group">
                    <label class="col-sm-2 control-label">Feature Access Type</label>
                    <div class="col-sm-8" style="margin-top: 7px;">
                        <input id="chkSelectAll" type="checkbox" name="SelectAll" /> Select All
                    </div>
                </div>
                <hr />*@
            <div id="groupFeature">
                <div class="form-group col-sm-6 col-md-6 col-lg-3">
                    <div class="checkbox-box">
                        @Html.CheckBoxFor(model => model.FeatureAccess.Area)
                        Area
                    </div>
                </div>
                <div class="form-group col-sm-6 col-md-6 col-lg-3">
                    <div class="checkbox-box">
                        @Html.CheckBoxFor(model => model.FeatureAccess.CMProject)
                        CMProject
                    </div>
                </div>
                <div class="form-group col-sm-6 col-md-6 col-lg-3">
                    <div class="checkbox-box">
                        @Html.CheckBoxFor(model => model.FeatureAccess.CMProjectNoMandatory)
                        CMProjectNoMandatory
                    </div>
                </div>
                <div class="form-group col-sm-6 col-md-6 col-lg-3">
                    <div class="checkbox-box">
                        @Html.CheckBoxFor(model => model.FeatureAccess.WebRequesterLicence)
                        WebRequesterLicence
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="box-footer">
        <button class="btn btn-primary" id="btnSave" name="btnSave" type="submit"><span>Save</span></button>
        <button class="btn btn-default" type="button" onclick="RedirectToPage()"><span>Cancel</span></button>
    </div>



}


<script type="text/javascript">
    $(document).ready(function () {
        
    });

    $("#chkSelectAll").click(function () {
        if ($("#chkSelectAll").is(':checked')) {
            $("#groupFeature input[type='checkbox']").each(function () {
                $(this).prop("checked", true);
            });

        } else {
            $("#groupFeature input[type='checkbox']").each(function () {
                $(this).prop("checked", false);
            });
        }
    });
    $('#groupFeature input[type="checkbox"]').change(function () {
        var numberofcheckedchkbox = $("#groupFeature input[type='checkbox']:checked").length;
        total = $('#groupFeature input[type="checkbox"]').length;
        if (numberofcheckedchkbox == total) {
            $("#chkSelectAll").prop('checked', true);
        }
        if (numberofcheckedchkbox != total) {
            $("#chkSelectAll").prop('checked', false);
        }

    });
    function RedirectToPage() {

        location.href = '@Url.Action(Actions.ClientList, Controllers.Configurations, new { @area = Areas.Configurations,clientID = Model.ClientID})';
    }

</script>