﻿@model CMMS.Model.Account
@using CMMS.Infrastructure;
@using CMMS.Pages;
@using CMMS.Model;
@using Kendo.Mvc.UI;
@{
    Layout = null;
    bool Lang = ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true;
}



@using (Html.BeginForm(Actions.ManageFirstLevelTblAccess, Controllers.Configurations, new { area = Areas.Configurations, @Model }, FormMethod.Post, new { id = "frmFirstLevelTbl" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.ClientID)


    <div class="information-form">
        <div class="row">
            <div class="form-group col-sm-6 col-md-6 col-lg-6">
                <label class="form-label">L1(English)</label>
                @Html.TextBoxFor(model => model.FirstLevelTbl.L1_en, new { @class = "form-control" })
            </div>
            <div class="form-group col-sm-6 col-md-6 col-lg-6">
                <label class="form-label">L1(Arabic)</label>
                @Html.TextBoxFor(model => model.FirstLevelTbl.L1_ar, new { @class = "form-control" })
            </div>
            
        </div>
    </div>

    <div class="box-footer">
        <button class="btn btn-primary" id="btnSave" name="btnSave" type="submit"><span>Save</span></button>
        <button class="btn btn-default" type="button" onclick="RedirectToPage()"><span>Cancel</span></button>
    </div>

}
<script type="text/javascript">
    $(document).ready(function () {
        
    });

</script>

