﻿@model CMMS.Model.Account
@using CMMS.Infrastructure;
@using CMMS.Pages;
@using CMMS.Model;
@using Kendo.Mvc.UI;
@{
    Layout = null;
    bool Lang = ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true;
}


@using (Html.BeginForm(Actions.ManageModuleAccess, Controllers.Configurations, new { area = Areas.Configurations, @Model }, FormMethod.Post, new { id = "frmMouleAccess" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.ClientID)



    <div id="divModuleAccessPerTrasaction">
        <div class="information-form cus-form">
            <h3 class="sub-title"><span>Transaction</span><span class="pull-right"><input type="checkbox" id="chkSelectAllTransaction" onclick="checkAll(this, 'divModuleAccessPerTrasaction');" /> Select All</span></h3>
        </div>
        <div class="information-form cus-form">
            <div class="row">
                <div class="form-group col-sm-6 col-md-4 col-lg-2">
                    <div class="checkbox-box">
                        @Html.CheckBoxFor(model => model.ModulesAccess.JobRequest, new { @id = "chkJobRequest", @class = "chkAccessPermission divModuleAccessPerTrasaction" })
                        JobRequest
                    </div>
                </div>
                <div class="form-group col-sm-6 col-md-4 col-lg-2">
                    <div class="checkbox-box">
                        @Html.CheckBoxFor(model => model.ModulesAccess.JobOrder, new { @id = "chkJobOrder", @class = "chkAccessPermission divModuleAccessPerTrasaction" })
                        JobOrder
                    </div>
                </div>
                <div class="form-group col-sm-6 col-md-4 col-lg-2">
                    <div class="checkbox-box">
                        @Html.CheckBoxFor(model => model.ModulesAccess.ItemRequisition, new { @id = "chkItemRequisition", @class = "chkAccessPermission divModuleAccessPerTrasaction" })
                        ItemRequisition
                    </div>
                </div>
                <div class="form-group col-sm-6 col-md-4 col-lg-2">
                    <div class="checkbox-box">
                        @Html.CheckBoxFor(model => model.ModulesAccess.Assets, new { @id = "chkAssets", @class = "chkAccessPermission divModuleAccessPerTrasaction" })
                        Assets
                    </div>
                </div>
                <div class="form-group col-sm-6 col-md-4 col-lg-2">
                    <div class="checkbox-box">
                        @Html.CheckBoxFor(model => model.ModulesAccess.Locations, new { @id = "chkLocations", @class = "chkAccessPermission divModuleAccessPerTrasaction" })
                        Locations
                    </div>
                </div>
                <div class="form-group col-sm-6 col-md-4 col-lg-2">
                    <div class="checkbox-box">
                        @Html.CheckBoxFor(model => model.ModulesAccess.PreventiveMaintenance, new { @id = "chkPreventiveMaintenance", @class = "chkAccessPermission divModuleAccessPerTrasaction" })
                        Preventive
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6 col-md-4 col-lg-2">
                    <div class="checkbox-box">
                        @Html.CheckBoxFor(model => model.ModulesAccess.Store, new { @id = "chkStore", @class = "chkAccessPermission divModuleAccessPerTrasaction" })
                        Store
                    </div>
                </div>
                <div class="form-group col-sm-6 col-md-4 col-lg-2">
                    <div class="checkbox-box">
                        @Html.CheckBoxFor(model => model.ModulesAccess.RequestCard, new { @id = "chkRequestCard", @class = "chkAccessPermission divModuleAccessPerTrasaction" })
                        RequestCard
                    </div>
                </div>
                <div class="form-group col-sm-6 col-md-4 col-lg-2">
                    <div class="checkbox-box">
                        @Html.CheckBoxFor(model => model.ModulesAccess.Purchasing, new { @id = "chkPurchasing", @class = "chkAccessPermission divModuleAccessPerTrasaction" })
                        Purchasing
                    </div>
                </div>
                <div class="form-group col-sm-6 col-md-4 col-lg-2">
                    <div class=" checkbox-box">
                        @Html.CheckBoxFor(model => model.ModulesAccess.Cleaning, new { @id = "chkCleaning", @class = "chkAccessPermission divModuleAccessPerTrasaction" })
                        Cleaning
                    </div>
                </div>
                <div class="form-group col-sm-6 col-md-4 col-lg-2">
                    <div class="checkbox-box">
                        @Html.CheckBoxFor(model => model.ModulesAccess.CEUML, new { @id = "chkCEUML", @class = "chkAccessPermission divModuleAccessPerTrasaction" })
                        CEUML
                    </div>
                </div>
                <div class="form-group col-sm-6 col-md-4 col-lg-2">
                    <div class="checkbox-box">
                        @Html.CheckBoxFor(model => model.ModulesAccess.AssetSetup, new { @id = "chkAssetSetup", @class = "chkAccessPermission divModuleAccessPerTrasaction" })
                        AssetSetup
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6 col-md-4 col-lg-2">
                    <div class="checkbox-box">
                        @Html.CheckBoxFor(model => model.ModulesAccess.JobManagement, new { @id = "chkJobManagement", @class = "chkAccessPermission divModuleAccessPerTrasaction" })
                        JobManagement
                    </div>
                </div>
                <div class="form-group col-sm-6 col-md-4 col-lg-2">
                    <div class="checkbox-box">
                        @Html.CheckBoxFor(model => model.ModulesAccess.JobPlans, new { @id = "chkJobPlans", @class = "chkAccessPermission divModuleAccessPerTrasaction" })
                        JobPlans
                    </div>
                </div>
                <div class="form-group col-sm-6 col-md-4 col-lg-2">
                    <div class="checkbox-box">
                        @Html.CheckBoxFor(model => model.ModulesAccess.PurchaseRequisition, new { @id = "chkPurchaseRequisition", @class = "chkAccessPermission divModuleAccessPerTrasaction" })
                        PurchaseRequisition
                    </div>
                </div>
                <div class="form-group col-sm-6 col-md-4 col-lg-2">
                    <div class="checkbox-box">
                        @Html.CheckBoxFor(model => model.ModulesAccess.PurchaseSetup, new { @id = "chkPurchaseSetup", @class = "chkAccessPermission divModuleAccessPerTrasaction" })
                        PurchaseSetup
                    </div>
                </div>
                <div class="form-group col-sm-6 col-md-4 col-lg-2">
                    <div class="checkbox-box">
                        @Html.CheckBoxFor(model => model.ModulesAccess.NotificationSetup, new { @id = "chkNotificationSetup", @class = "chkAccessPermission divModuleAccessPerTrasaction" })
                        NotificationSetup
                    </div>
                </div>
                <div class="form-group col-sm-6 col-md-4 col-lg-2">
                    <div class="checkbox-box">
                        @Html.CheckBoxFor(model => model.ModulesAccess.CleaningSetup, new { @id = "chkCleaningSetup", @class = "chkAccessPermission divModuleAccessPerTrasaction" })
                        CleaningSetup
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6 col-md-4 col-lg-2">
                    <div class="checkbox-box">
                        @Html.CheckBoxFor(model => model.ModulesAccess.StoreSetups, new { @id = "chkStoreSetups", @class = "chkAccessPermission divModuleAccessPerTrasaction" })
                        StoreSetups
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="divModuleAccessPerSetup">
        <div class="information-form cus-form">
            <h3 class="sub-title"><span>SetUp</span><span class="pull-right"><input type="checkbox" id="chkSelectAllSetup" onclick="checkAll(this, 'divModuleAccessPerSetup');" /> Select All</span></h3>
        </div>
        <div class="information-form cus-form">
            <div class="row">
                <div class="form-group col-sm-6 col-md-4 col-lg-2">
                    <div class="checkbox-box">
                        @Html.CheckBoxFor(model => model.ModulesAccess.Employee, new { @id = "chk", @class = "chkAccessPermission divModuleAccessPerSetup" })
                        Employee
                    </div>
                </div>
                <div class="form-group col-sm-6 col-md-4 col-lg-2">
                    <div class="checkbox-box">
                        @Html.CheckBoxFor(model => model.ModulesAccess.Sector, new { @id = "chkSector", @class = "chkAccessPermission divModuleAccessPerSetup" })
                        Sector
                    </div>
                </div>
                <div class="form-group col-sm-6 col-md-4 col-lg-2">
                    <div class="checkbox-box">
                        @Html.CheckBoxFor(model => model.ModulesAccess.SiteSetups, new { @id = "chkSiteSetups", @class = "chkAccessPermission divModuleAccessPerSetup" })
                        SiteSetups
                    </div>
                </div>
                <div class="form-group col-sm-6 col-md-4 col-lg-2">
                    <div class="checkbox-box">
                        @Html.CheckBoxFor(model => model.ModulesAccess.Zone, new { @id = "chkZone", @class = "chkAccessPermission divModuleAccessPerSetup" })
                        Zone
                    </div>
                </div>
                <div class="form-group col-sm-6 col-md-4 col-lg-2">
                    <div class="checkbox-box">
                        @Html.CheckBoxFor(model => model.ModulesAccess.Building, new { @id = "chkBuilding", @class = "chkAccessPermission divModuleAccessPerSetup" })
                        Building
                    </div>
                </div>
                <div class="form-group col-sm-6 col-md-4 col-lg-2">
                    <div class="checkbox-box">
                        @Html.CheckBoxFor(model => model.ModulesAccess.Division, new { @id = "chkDivision", @class = "chkAccessPermission divModuleAccessPerSetup" })
                        Division
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6 col-md-4 col-lg-2">
                    <div class="checkbox-box">
                        @Html.CheckBoxFor(model => model.ModulesAccess.Department, new { @id = "chkDepartment", @class = "chkAccessPermission divModuleAccessPerSetup" })
                        Department
                    </div>
                </div>
                <div class="form-group col-sm-6 col-md-4 col-lg-2">
                    <div class="checkbox-box">
                        @Html.CheckBoxFor(model => model.ModulesAccess.SubDept, new { @id = "chkSubDept", @class = "chkAccessPermission divModuleAccessPerSetup" })
                        SubDept
                    </div>
                </div>
                <div class="form-group col-sm-6 col-md-4 col-lg-2">
                    <div class="checkbox-box">
                        @Html.CheckBoxFor(model => model.ModulesAccess.Groups, new { @id = "chkGroups", @class = "chkAccessPermission divModuleAccessPerSetup" })
                        Groups
                    </div>
                </div>
                <div class="form-group col-sm-6 col-md-4 col-lg-2">
                    <div class="checkbox-box">
                        @Html.CheckBoxFor(model => model.ModulesAccess.FailureCodes, new { @id = "chkFailureCodes", @class = "chkAccessPermission divModuleAccessPerSetup" })
                        FailureCodes
                    </div>
                </div>
                <div class="form-group col-sm-6 col-md-4 col-lg-2">
                    <div class="checkbox-box">
                        @Html.CheckBoxFor(model => model.ModulesAccess.SafetyInstructions, new { @id = "chkSafetyInstructions", @class = "chkAccessPermission divModuleAccessPerSetup" })
                        SafetyInstructions
                    </div>
                </div>
                <div class="form-group col-sm-6 col-md-4 col-lg-2">
                    <div class="checkbox-box">
                        @Html.CheckBoxFor(model => model.ModulesAccess.BoMList, new { @id = "chkBoMList", @class = "chkAccessPermission divModuleAccessPerSetup" })
                        BoMList
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6 col-md-4 col-lg-2">
                    <div class="checkbox-box">
                        @Html.CheckBoxFor(model => model.ModulesAccess.CostCenter, new { @id = "chkCostCenter", @class = "chkAccessPermission divModuleAccessPerSetup" })
                        CostCenter
                    </div>
                </div>
                <div class="form-group col-sm-6 col-md-4 col-lg-2">
                    <div class="checkbox-box">
                        @Html.CheckBoxFor(model => model.ModulesAccess.AccountCode, new { @id = "chkAccountCode", @class = "chkAccessPermission divModuleAccessPerSetup" })
                        AccountCode
                    </div>
                </div>
                <div class="form-group col-sm-6 col-md-4 col-lg-2">
                    <div class="checkbox-box">
                        @Html.CheckBoxFor(model => model.ModulesAccess.Suppliers_Contractors, new { @id = "chkSuppliers_Contractors", @class = "chkAccessPermission divModuleAccessPerSetup" })
                        Suppliers_Contractors
                    </div>
                </div>

                <div class="form-group col-sm-6 col-md-4 col-lg-2">
                    <div class="checkbox-box">
                        @Html.CheckBoxFor(model => model.ModulesAccess.SLA, new { @id = "chkSLA", @class = "chkAccessPermission divModuleAccessPerSetup" })
                        SLA
                    </div>
                </div>
                <div class="form-group col-sm-6 col-md-4 col-lg-2">
                    <div class="checkbox-box">
                        @Html.CheckBoxFor(model => model.ModulesAccess.Employee_User, new { @id = "chkEmployee_User", @class = "chkAccessPermission divModuleAccessPerSetup" })
                        Employee_User
                    </div>
                </div>
                <div class="form-group col-sm-6 col-md-4 col-lg-2">
                    <div class="checkbox-box">
                        @Html.CheckBoxFor(model => model.ModulesAccess.Help, new { @id = "chkHelp", @class = "chkAccessPermission divModuleAccessPerSetup" })
                        Help
                    </div>
                </div>
                <div class="form-group col-sm-6 col-md-4 col-lg-2">
                    <div class="checkbox-box">
                        @Html.CheckBoxFor(model => model.ModulesAccess.AuditTrail, new { @id = "chkAuditTrail", @class = "chkAccessPermission divModuleAccessPerSetup" })
                        Audit Trail
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box-footer">
        <button class="btn btn-primary" id="btnSave" name="btnSave" type="submit"><span>Save</span></button>
        <button class="btn btn-default" type="button" onclick="RedirectToPage()"><span>Cancel</span></button>
    </div>

}


<script type="text/javascript">

    $(document).ready(function () {
        var numberofcheckedchkbox = $("#divModuleAccessPerTrasaction input[type='checkbox']:checked.divModuleAccessPerTrasaction").length;
        total = $('#divModuleAccessPerTrasaction input[type="checkbox"].divModuleAccessPerTrasaction').length;
        if (numberofcheckedchkbox == total) {
            $("#chkSelectAllTransaction").prop("checked", "checked");
        }
        else {
            $("#chkSelectAllTransaction").prop("checked", "");
        }
        numberofcheckedchkbox = $("#divModuleAccessPerSetup input[type='checkbox']:checked.divModuleAccessPerSetup").length;
        total = $('#divModuleAccessPerSetup input[type="checkbox"].divModuleAccessPerSetup').length;
        if (numberofcheckedchkbox == total) {
            $("#chkSelectAllSetup").prop("checked", "checked");
        }
        else {
            $("#chkSelectAllSetup").prop("checked", "");
        }
    });

    function checkAll(objCheckbox, parentDivId)
    {
        if ($(objCheckbox).prop("checked").toString() == "false") {
            $("#" + parentDivId + " .chkAccessPermission").prop("checked", "");
        }
        else {
            $("#" + parentDivId + " .chkAccessPermission").prop("checked", "checked");            
        }
    }

    $('input[type=checkbox].chkAccessPermission').change(function () {
        if ($(this).hasClass("divModuleAccessPerTrasaction"))
        {
            var numberofcheckedchkbox = $("#divModuleAccessPerTrasaction input[type='checkbox']:checked.divModuleAccessPerTrasaction").length;
            var total = $('#divModuleAccessPerTrasaction input[type="checkbox"].divModuleAccessPerTrasaction').length;
            if (numberofcheckedchkbox == total) {
                $("#chkSelectAllTransaction").prop("checked", "checked");
            }
            else{
                $("#chkSelectAllTransaction").prop("checked", "");
            }
        }
        else if ($(this).hasClass("divModuleAccessPerSetup")) {
            var numberofcheckedchkbox = $("#divModuleAccessPerSetup input[type='checkbox']:checked.divModuleAccessPerSetup").length;
            var total = $('#divModuleAccessPerSetup input[type="checkbox"].divModuleAccessPerSetup').length;
            if (numberofcheckedchkbox == total) {
                $("#chkSelectAllSetup").prop("checked", "checked");
            }
            else {
                $("#chkSelectAllSetup").prop("checked", "");
            }
        }
    });
</script>
