﻿@model CMMS.Model.Account
@using CMMS.Infrastructure;
@using CMMS.Pages;
@using CMMS.Model;
@using Kendo.Mvc.UI;
@{
    Layout = null;
    bool Lang = ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true;
}



@using (Html.BeginForm(Actions.ManageReportAccess, Controllers.Configurations, new { area = Areas.Configurations, @Model }, FormMethod.Post, new { id = "frmReportAccess" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.ClientID)


    <div class="information-form cus-form">
        <div class="row">
            @*<div class="form-group">
                    <label class="col-sm-2 control-label">Report Access Types</label>
                    <div class="col-sm-8" style="margin-top: 7px;">
                        <input id="chkReportsSelectAll" type="checkbox" name="SelectAll" /> Select All
                    </div>
                </div>*@
            <div id="ReportsAccess">
                <div class="form-group col-sm-6 col-md-6 col-lg-3">
                    <div class="checkbox-box">
                        @Html.CheckBoxFor(model => model.ReportsAccess.AssetsValue, new { @id = "chkAssets" })
                        Assets
                    </div>
                </div>
                <div class="form-group col-sm-6 col-md-6 col-lg-3">
                    <div class="checkbox-box">
                        @Html.CheckBoxFor(model => model.ReportsAccess.JobOrderValue, new { @id = "chkJobOrder" })
                        JobOrder
                    </div>
                </div>
                <div class="form-group col-sm-6 col-md-6 col-lg-3">
                    <div class="checkbox-box">
                        @Html.CheckBoxFor(model => model.ReportsAccess.PreventiveValue, new { @id = "chkPreventive" })
                        Preventive
                    </div>
                </div>
                <div class="form-group col-sm-6 col-md-6 col-lg-3">
                    <div class="checkbox-box">
                        @Html.CheckBoxFor(model => model.ReportsAccess.StoreValue, new { @id = "chkStore" })
                        Store
                    </div>
                </div>
                <div class="form-group col-sm-6 col-md-6 col-lg-3">
                    <div class="checkbox-box">
                        @Html.CheckBoxFor(model => model.ReportsAccess.EmployeeValue, new { @id = "chkEmployee" })
                        Employee
                    </div>
                </div>
                <div class="form-group col-sm-6 col-md-6 col-lg-3">
                    <div class="checkbox-box">
                        @Html.CheckBoxFor(model => model.ReportsAccess.SetupsValue, new { @id = "chkSetups" })
                        Setups
                    </div>
                </div>
                <div class="form-group col-sm-6 col-md-6 col-lg-3">
                    <div class="checkbox-box">
                        @Html.CheckBoxFor(model => model.ReportsAccess.PurchasingValue, new { @id = "chkPurchasing" })
                        Purchasing
                    </div>
                </div>
                <div class="form-group col-sm-6 col-md-6 col-lg-3">
                    <div class="checkbox-box">
                        @Html.CheckBoxFor(model => model.ReportsAccess.CleaningValue, new { @id = "chkCleaning" })
                        Cleaning
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="box-footer">
        <button class="btn btn-primary" id="btnSave" name="btnSave" type="submit"><span>Save</span></button>
        <button class="btn btn-default" type="button" onclick="RedirectToPage()"><span>Cancel</span></button>
    </div>

}


<script type="text/javascript">
    $(document).ready(function () {
       
    });

</script>
