﻿@model CMMS.Model.Account
@using CMMS.Infrastructure;
@using CMMS.Pages;
@using CMMS.Model;
@using Kendo.Mvc.UI;
@{
    Layout = null;
    bool Lang = ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true;
}


@using (Html.BeginForm(Actions.ManageTabAccess, Controllers.Configurations, new { area = Areas.Configurations, @Model }, FormMethod.Post, new { id = "frmTabAccess" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.ClientID)
    <div class="information-form cus-form">
        <div class="row">
            @*<div class=" form-group col-sm-6 col-md-6 col-lg-4">
                    <div class="checkbox-box">
                        <input id="chkTabSelectAll" type="checkbox" name="SelectAll" /> Select All
                    </div>
                </div>*@
            <div id="TabAccess">
                <div class="form-group col-sm-4 col-md-4 col-lg-3">
                    <div class="checkbox-box">
                        @Html.CheckBoxFor(model => model.TabAccess.TransactionValue, new { @id = "chkTransaction" })
                        Transactions
                    </div>
                </div>
                <div class="form-group col-sm-4 col-md-4 col-lg-3">
                    <div class="checkbox-box">
                        @Html.CheckBoxFor(model => model.TabAccess.SetupValue, new { @id = "chkSetup" })
                        Setup
                    </div>
                </div>
                <div class="form-group col-sm-4 col-md-4 col-lg-3">
                    <div class="checkbox-box">
                        @Html.CheckBoxFor(model => model.TabAccess.ReportsValue, new { @id = "chkReports" })
                        Reports
                    </div>
                </div>
                <div class="form-group col-sm-4 col-md-4 col-lg-3">
                    <div class="checkbox-box">
                        @Html.CheckBoxFor(model => model.TabAccess.DashboardValue, new { @id = "chkDashborad" })
                        Dashboard
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box-footer">
        <button class="btn btn-primary" id="btnSave" name="btnSave" type="submit"><span>Save</span></button>
        <button class="btn btn-default" type="button" onclick="RedirectToPage()"><span>Cancel</span></button>
    </div>



}


<script type="text/javascript">
    $(document).ready(function () {
       
    });

</script>