﻿@using CMMS.Infrastructure;
@using CMMS.Pages;
@model CMMS.Model.Direct

<style>
    .calendars-popup {
        z-index: 100000 !important;
    }
</style>

<script type="text/javascript" src="~/Scripts/jquery.form.js"></script>
@*<script src="~/Scripts/jquery-dateFormat.min.js"></script>*@

<script type="text/javascript">

    function onSupplierAdditionalData() {
        return {
            text: $("#txtsupplierNo").val(),
        };
    }

    function onSupplierAutoSelect(e) {
        var model = this.dataItem(e.item.index());
        $('#Supplierid').val(model.SupplierID);
        //$("#txtsupplierNo").removeClass("kendoDrpRequired");
    }


    $('.decimalnumber').on('keypress', function (evt) {
        var val = $(this).val();
        var iKeyCode = (evt.which) ? evt.which : evt.keyCode;
        if (iKeyCode != 46 && iKeyCode != 39 && iKeyCode != 37 && iKeyCode != 45 && iKeyCode > 31 && (iKeyCode < 48 || iKeyCode > 57)) {
            return false;
        }
        if (iKeyCode == 46 && val.indexOf('.') > -1) {
            return false;
        }
        return true;
    });
</script>

<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"></button>
            <h4 class="modal-title">@ProjectSession.Resources.label.ItemRequisition_TextBlockDirectIssue</h4>
        </div>
        @using (Html.BeginForm(Actions.AddNewDirectIssue, Controllers.Transaction, new { area = Areas.Transaction }, FormMethod.Post, new { id = "frmDirectIssue" }))
        {
            @Html.HiddenFor(model => model.Supplierid)
            @Html.HiddenFor(model => model.WONo)
            <div class="modal-body">
                <div id="Highlights" class="tab-pane active" role="tabpanel">
                    <div id="divModelErrorDI"></div>
                    <div class="form-horizontal">
                        <div id="divModelError"></div>

                        <div class="form-group ">
                            <label class="col-md-4 control-label">@ProjectSession.Resources.label.AssetTransfer_TextBlockDate<span class="cfont">*</span></label>
                            <div class="col-md-8">
                                <div class="input-group date-pick">
                                    @Html.TextBoxFor(model => model.Date, String.Format("{0:" + ProjectConfiguration.DefaultDateFormat + "}", Model.Date), new { @id = "txtDate", @class = "form-control calendarsPicker", @placeholder = ProjectConfiguration.DefaultDateFormat, @required = "required" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">@ProjectSession.Resources.label.Supplier_TextBlockSupplierNo</label>
                            <div class="col-md-8">
                                <div class="input-group pm-checklist">
                                    @*@Html.TextBoxFor(model => model.SupplierNo, new { @readonly = "readonly", @class = "form-control", @id = "txtsupplierNo", @placeholder = ProjectSession.Resources.label.Supplier_TextBlockSupplierNo })*@

                                    @(Html.Kendo().AutoCompleteFor(model => model.SupplierNo)
                                    .DataTextField("SupplierNo")
                                    .HtmlAttributes(new { @class = "form-control", @id = "txtsupplierNo" })
                                    .Filter("contains")
                                    .Template("#= KendoDDLTemplate( data.SupplierNo, data.SupplierName, data.AltSupplierName) #")
                                    .MinLength(3)
                                    .Placeholder(ProjectSession.Resources.label.Supplier_TextBlockSupplierNo)
                                    .Events(m => m.Select("onSupplierAutoSelect"))
                                    .DataSource(source =>
                                     {
                                         source.Read(read =>
                                         {
                                             read.Action(Actions.GetSuppliersListAutoDDL, Controllers.AutoComplete, new { area = Areas.Configurations }).Data("onSupplierAdditionalData");
                                         })
                                     .ServerFiltering(true);
                                     })
                                    .Value(Convert.ToString(Model.SupplierNo))
                                )

                                    <a href="#" class="checklis-btn" data-toggle="modal" data-backdrop="static" onclick="OpenSupplierPopUp()">
                                        <img src="../images/checklis-icon.png" alt="">
                                    </a>
                                    <a href="javascript:void(0);" class="close-btn" title="@ProjectSession.Resources.label.Common_ButtonClear" onclick="clearSupplier();">
                                        <img src="../images/close.png" alt="">
                                    </a>
                                </div>

                            </div>
                        </div>

                        <div class="form-group ">
                            <label class="col-md-4 control-label">@ProjectSession.Resources.label.Supplier_TextBlockDescription<span class="cfont">*</span></label>
                            <div class="col-md-8">
                                @Html.TextAreaFor(model => model.StockDesc, new { @id = "txtStokeDescNo", @class = "form-control", @placeholder = ProjectSession.Resources.label.Common_Enter + ' ' + ProjectSession.Resources.label.Supplier_TextBlockDescription, @maxlength = "1000", @required = "required" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">@ProjectSession.Resources.label.JobPlan_TextBlockAltDecription</label>
                            <div class="col-md-8">
                                @Html.TextAreaFor(model => model.AltStockDesc, new { @id = "txtAltStockDesc", @class = "form-control", @placeholder = ProjectSession.Resources.label.Common_Enter + ' ' + ProjectSession.Resources.label.JobPlan_TextBlockAltDecription, @maxlength = "1000" })
                            </div>
                        </div>

                        <div class="form-group ">
                            <label class="col-md-4 control-label">@ProjectSession.Resources.label.ItemRequisition_TextBlockQty<span class="cfont">*</span></label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.Qty, new { @MaxLength = 9, @class = "form-control decimalnumber", @id = "txtQty", @placeholder = ProjectSession.Resources.label.Common_Enter + " " + ProjectSession.Resources.label.ItemRequisition_TextBlockQty, type = "number", min = "0.00", @required = "required" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">@ProjectSession.Resources.label.ItemRequisition_TextBlockUnitPrice<span class="cfont">*</span></label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.Price, new { @MaxLength = 9, @class = "form-control decimalnumber", @id = "txtPrice", @placeholder = ProjectSession.Resources.label.Common_Enter + " " + ProjectSession.Resources.label.ItemRequisition_TextBlockUnitPrice, type = "number", min = "0.00", @required = "required" })
                            </div>
                        </div>

                        <div class="form-group ">
                            <label class="col-md-4 control-label">@ProjectSession.Resources.label.JobOrder_TextBlockInvoiceNo</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.Invoicenumber, new { @id = "txtInvoicenumber", @class = "form-control", @placeholder = ProjectSession.Resources.label.Common_Enter + ' ' + ProjectSession.Resources.label.JobOrder_TextBlockInvoiceNo, @maxlength = "50", @required = "required" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">@ProjectSession.Resources.label.JobOrder_TextBlockTotalPrice</label>
                            <div class="col-md-8">
                                @*@Html.TextBoxFor(model => model.TotalPrice, new { @readonly = "readonly", @id = "txtTotalPrice", @class = "form-control", @placeholder = ProjectSession.Resources.label.Common_Enter + ' ' + ProjectSession.Resources.label.JobOrder_TextBlockTotalPrice, @maxlength = "20" })*@

                                <input type="text" id="txtTotalPrice" class="form-control" placeholder="test" readonly="readonly" required="required" />
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer box-footer">

                <button type="button" class="btn btn-primary" id="btnSave" onclick="AddNewDirectIssue()"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>

                <button type="button" id="btnModalClose" class="btn btn-default" data-dismiss="modal">@ProjectSession.Resources.label.Common_ButtonClose</button>

            </div>

        }
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#WONo').val($('#WorkorderNo').val() == '' || $('#WorkorderNo').val() == 'undefined' ? 0 : $('#WorkorderNo').val());
        CreateCalendarsPicker();
    });

    @*var kendoGridId = 'SupplierGrid';
    var intPageID = '@SystemEnum.Pages.Supplier.GetHashCode()';*@


    //open supply list
    $("#SupplierGrid tbody").on("dblclick", "tr[role='row']", function (e) {
        var grid = $("#SupplierGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        var SupplierId = model.SupplierID;
        var workorderNo = ($('#WorkorderNo').val() == '' || $('#WorkorderNo').val() == 'undefined' ? 0 : $('#WorkorderNo').val());
        $('#txtsupplierNo').val(model.SupplierNo);
        $('#Supplierid').val(SupplierId);
        $("#supplierGridModal").modal("hide");
    });


    //prevent copy paste
    $('#txtQty').bind("cut copy paste", function (e) {
        e.preventDefault();
    });


    $('#txtPrice').bind("cut copy paste", function (e) {
        e.preventDefault();
    });

    // count total
    $("#txtQty").keyup(function () {
        var qty = $("#txtQty").val();
        var price = $("#txtPrice").val();
        totalPrice = qty * price;
        totalPrice = totalPrice.toFixed(2);
        $("#txtTotalPrice").val(totalPrice);
    });

    // count total
    $("#txtPrice").keyup(function () {
        var qty = $("#txtQty").val();
        var price = $("#txtPrice").val();
        totalPrice = qty * price;
        totalPrice = totalPrice.toFixed(2);
        $("#txtTotalPrice").val(totalPrice);
    });


    $("#txtQty").keydown(function (event) {
        if ($("#txtQty").val().length > 9 && (event.keyCode != 8)) {
            return false;
        }

    });
    $("#txtPrice").keydown(function (event) {

        if ($("#txtPrice").val().length > 9 && (event.keyCode != 8)) {
            return false;
        }

    });


    //Save New Direct Issue
    function AddNewDirectIssue() {
        $('#frmDirectIssue').submit();
    }

    $('#frmDirectIssue').submit(function (e) {
        var workorderNo = ($('#WorkorderNo').val() == '' || $('#WorkorderNo').val() == 'undefined' ? 0 : $('#WorkorderNo').val());
        var blnValid = true;

        //if (!isNotUndefinedNullOrBlankOrZero('Supplierid', true)) {
        //    e.preventDefault();
        //    $("#txtsupplierNo").addClass("kendoDrpRequired");
        //    return false;
        //}

        if ($.trim($("#txtDate").val()) == '') {
            $("#txtDate").addClass("kendoDrpRequired");
            $("#txtDate").focus();
            blnValid = false;
        }
        else {
            $("#txtDate").removeClass("kendoDrpRequired");
        }

        if ($.trim($("#txtStokeDescNo").val()) == '') {
            $("#txtStokeDescNo").addClass("kendoDrpRequired");
            $("#txtStokeDescNo").focus();
            blnValid = false;
        }
        else {
            $("#txtStokeDescNo").removeClass("kendoDrpRequired");
        }

        if ($.trim($("#txtQty").val()) == '') {
            $("#txtQty").val('0.00');
        }

        if ($.trim($("#txtPrice").val()) == '') {
            $("#txtPrice").val('0.00');
        }

        if (blnValid) {
            $("#txtDate").removeClass("kendoDrpRequired");
            $("#txtStokeDescNo").removeClass("kendoDrpRequired");
            $("#txtQty").removeClass("kendoDrpRequired");
            $("#txtPrice").removeClass("kendoDrpRequired");
            $("#txtInvoicenumber").removeClass("kendoDrpRequired");

            var options = {
                success: onSuccessAddNew,  // post-submit callback
                data: {
                    Date: $('#txtDate').val(),
                    Supplierid: $('#Supplierid').val(),
                    StockDesc: $('#txtStokeDescNo').val(),
                    AltStockDesc: $('#txtAltStockDesc').val(),
                    Qty: $('#txtQty').val(),
                    Price: $('#txtPrice').val(),
                    Invoicenumber: $('#txtInvoicenumber').val(),
                    WONo: $('#WONo').val(),
                    TotalPrice: $('#txtTotalPrice').val()
                },
            };
            $(this).ajaxSubmit(options);
            return false;
        }
        else { e.preventDefault(); }
    });

    function onSuccessAddNew(responseText, statusText, xhr, $form) {
        if (responseText[0] == 1) {
            ShowMessage(responseText[1], responseText[2], "#divModelErrorDI");
        }
        else {
            ShowMessage(responseText[1], responseText[2], "#divModelError");
            $("#DirectIssueModal").modal("hide");
            ReBindKendoGrid('DirectIssueGrid');
            ClearDirectIssueDatadataAll();
        }
    }

    function ClearDirectIssueDatadataAll() {
        $('#frmDirectIssue').find(":input:not(input[type=button],input[type=submit],button):visible").val("");
    }


</script>
