﻿@model CMMS.Model.Stock_alternative
@using CMMS.Infrastructure;
@{
    Layout = null;
    bool Lang = ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true;
}
<script type="text/javascript">
    function onDataBoundForAlternativeItems(arg) {
        confirmDeleteMsg(msgText, okText, cancelText, onConfirmCallbackAlternativeItems, confirmDirection);
        gridProperPaging(this);
    }

    function BindParametersForAlternativeItems() {
        return {
            stockId: isNotUndefinedNullOrBlankOrZero('StockID') ? $('#StockID').val() : 0,
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function onConfirmCallbackAlternativeItems(sender) {
        var id = $(this).data("id");
        $.ajax({
            url: '@Url.Action(CMMS.Pages.Actions.DeleteAlternativeItem, CMMS.Pages.Controllers.Transaction, new { area = CMMS.Pages.Areas.Transaction })',
            type: "POST",
            data: addRequestVerificationToken({ stockId: '@Model.StockID', partId: id }),
            dataType: "json",
            success: function (result) {
                ShowMessage(result[0], result[1], "#divMessage");
                ReBindKendoGrid("AlternativeItemsGrid");
            },
            error: function (xhr, ajaxOptions, thrownError) {
                showErrorMessage();
            }
        });
    }

    //AlterNative Item Modal
    function OpenAlternativeItemsPopUp() {
        try { $("#AlternativeItemsGridModal").modal("show"); } catch (err) { alert(err); }
    }

    function onAlternativeStockAutoSelect(e) {
        var model = this.dataItem(e.item.index());
        $('#txtAlternativeStockNO').removeClass("kendoDrpRequired");
        $('#hdnAlternativePartID').val(model.StockID);
        $('#txtAlternativeStockNO').val(model.StockNo);
        //$('#txtAlternativeStockDesc').val(model.StockDescription);
        //$('#txtAlternativeAltStockDesc').val(model.AltStockDescription);
    }


    function onAlternativeStockAdditionalData() {
        return {
            cityID: 0,
            subStoreID: 0,
            text: $("#txtAlternativeStockDesc").val(),
            excludeStockId: isNotUndefinedNullOrBlankOrZero('StockID') ? $('#StockID').val() : 0,
        };
    }

    function BindParametersForAltItemsList() {
        return {
            cityID: 0,
            subStoreID: 0,
            excludeStockId:  isNotUndefinedNullOrBlankOrZero('StockID') ? $('#StockID').val() : 0,
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function onDataBoundForAltItemsList() {
        gridProperPaging(this);
    }
</script>
<div class="form-horizontal">
    <div class="row form-group">
        <div class="col-md-12 col-lg-12">
            <div class="two-form-group">
                <label class="col-md-4 col-lg-2 control-label">@ProjectSession.Resources.label.ItemList_TextBlockAlternativePart</label>
                <div class="col-md-6 col-lg-8 ">
                    <div class="input-group pm-checklist">
                        @Html.HiddenFor(model => model.AlternativePart, new { @id = "hdnAlternativePartID" })
                        @Html.TextBoxFor(model => model.StockNo, new { @class = "form-control code-input", @readonly = "readonly", @id = "txtAlternativeStockNO", @Placeholder = @ProjectSession.Resources.label.ItemList_TextBlockAlternativeItem })
                        @*@Html.TextBoxFor(model => model.StockDescription, new { @class = "form-control", @readonly = "readonly", @style = "display:" + (Lang ? "" : "none;"), @id = "txtAlternativeStockDesc", @Placeholder = @ProjectSession.Resources.label.ItemList_TextBlockAlternativePartDesc })
                        @Html.TextBoxFor(model => model.AltStockDescription, new { @class = "form-control", @readonly = "readonly", @style = "display:" + (Lang ? "none;" : ""), @id = "txtAlternativeAltStockDesc", @Placeholder = @ProjectSession.Resources.label.ItemList_TextBlockAlternativePartAltDesc })*@

                        @(Html.Kendo().AutoCompleteFor(model => model.StockDescription)
                                         .DataTextField(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "AltStockDescription" : "StockDescription")
                                        .HtmlAttributes(new { @class = "form-control", @id = "txtAlternativeStockDesc" })
                                    .Filter("contains")
                                     .Template("#= KendoDDLTemplate( data.StockNo, data.StockDescription, data.AltStockDescription) #")
                                    .MinLength(3)
                                            .Placeholder(ProjectSession.Resources.label.ItemList_TextBlockAlternativePartDesc)
                                            .Events(m => m.Select("onAlternativeStockAutoSelect"))
                                    .DataSource(source =>
                                     {
                                         source.Read(read =>
                                         {
                                             read.Action(CMMS.Pages.Actions.GetStoreItemsListAutoDDL, CMMS.Pages.Controllers.AutoComplete, new { area = CMMS.Pages.Areas.Configurations }).Data("onAlternativeStockAdditionalData");
                                         })
                                     .ServerFiltering(true);
                                     })
                                   .Value(Convert.ToString(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? Model.AltStockDescription : Model.StockDescription))
                        )

                        <a href="#" class="checklis-btn" id="btnOpenAlterNativeItemsPopUp" data-toggle="modal" data-backdrop="static" onclick="OpenAlternativeItemsPopUp();">
                            <img src="../images/checklis-icon.png" alt="">
                        </a>
                        <a href="javascript:void(0);" class="close-btn" id="btnClearAlternativeItem" title="@ProjectSession.Resources.label.Common_ButtonClear" onclick="ClearAlternativeItems();">
                            <img src="../images/close.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-md-2 col-lg-2 ">
                    <div class="form-group">
                        <label class="control-label"></label>
                        <div class="col-md-12">
                            @if (ProjectSession.PermissionAccess.Stores_ItemList_Editrecords)
                            {
                                <button class="btn btn-primary" id="btnSaveAltItems" onclick="SaveAlternativeItems()" title="@ProjectSession.Resources.label.Common_ButtonSave" type="button"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="information-form cus-form">
    <h3 class="sub-title">
        <span>@ProjectSession.Resources.label.ItemList_RadTabItemAlternativParts</span>
        <div class="sub_btn">
            <li><a href="javascript:void(0);" class="btn-icon btn-refresh" onclick="ReBindKendoGrid('AlternativeItemsGrid');" title="@ProjectSession.Resources.label.Common_ButtonRefreshGrid"><i></i></a></li>
            <li><a href="javascript:void(0);" class="btn-icon btn-xsl" onclick="ExportToExcel('AlternativeItemsGrid', 'EmployeeID');" title="@ProjectSession.Resources.label.Common_ButtonExportToExcel"><i></i></a></li>
        </div>
    </h3>
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div id="SupplierData" class="@ProjectSession.CultureKendoClass">
                @(Html.Kendo().Grid<CMMS.Model.Stock_alternative>()
        .Name("AlternativeItemsGrid")
        .HtmlAttributes(new { @class = "kl-grid" })
        .Columns(columns =>
        {
            columns.Bound(c => c.StockNo).Title(ProjectSession.Resources.label.ItemList_TextBlockAlternativePart).Width(160);

            columns.Bound(c => c.StockDescription).Title(ProjectSession.Resources.label.ItemList_TextBlockAlternativePartDesc);

            columns.Bound(c => c.AltStockDescription).Title(ProjectSession.Resources.label.ItemList_TextBlockAlternativePartAltDesc);

            columns.Bound(c => c.AlternativePart).ClientTemplate("<center>" + (ProjectSession.PermissionAccess.Stores_ItemList_Editrecords ? "<a class='action delete-button'  href='javascript:void(0);'  class='delete-ic' data-id='#: AlternativePart #' style='cursor:pointer'><i class='glyphicon glyphicon-trash' title='" + ProjectSession.Resources.label.Common_ButtonDelete + "' ></i></a>" : "") + "</center>")
                                            .Title("<center>" + ProjectSession.Resources.label.Common_ButtonAction + "</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Width(80);
        })
        .Sortable(sortable => sortable.AllowUnsort(false))
        .Scrollable()
                .Excel(excel => excel.FileName(ProjectSession.Resources.label.ItemList_RadTabItemAlternativParts + ".xlsx").Filterable(true).AllPages(true))
        .Pageable(pageable => pageable.PageSizes(CMMS.Pages.General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
                .Events(events => events.DataBound("onDataBoundForAlternativeItems"))
        .DataSource(dataSource =>
                                dataSource.Ajax()
                                .PageSize(ProjectConfiguration.PageSize)
                                 .Model(model =>
                                 {
                                     model.Id(p => p.StockNo);
                                     model.Field(p => p.AlternativePart);
                                 })
                                .ServerOperation(true)
                                               .Read(read => read.Action(CMMS.Pages.Actions.GetAlternativeItemList, CMMS.Pages.Controllers.Transaction, new { area = CMMS.Pages.Areas.Transaction }).Data("BindParametersForAlternativeItems").Type(HttpVerbs.Post))
        )
                )

            </div>
        </div>
    </div>
</div>
<div class="box-footer">
    <button class="btn btn-default" type="button" onclick="location.href = '@Url.Action(CMMS.Pages.Actions.StoreItemsList, CMMS.Pages.Controllers.Transaction, new { @area = CMMS.Pages.Areas.Transaction })';"><span>@ProjectSession.Resources.label.Common_ButtonCancel</span></button>
</div>

<div id="AlternativeItemsGridModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" title="@ProjectSession.Resources.label.Common_ButtonClose" data-dismiss="modal"></button>
                <h4 class="modal-title">@ProjectSession.Resources.label.ItemList_TextBlockAlternativePart</h4>
            </div>
            <div class="modal-body">
                <div id="Highlights" class="tab-pane active" role="tabpanel">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div id="itemListData" class="@ProjectSession.CultureKendoClass">
                                    @(Html.Kendo().Grid<CMMS.Model.StockCode>()
       .Name("itemlistGrid")
                                .HtmlAttributes(new { @class = "kl-grid" })
        .Columns(columns =>
        {
            columns.Bound(c => c.StockNo).Title(ProjectSession.Resources.label.ItemList_TextBlockPartNumber).Width(160);

            columns.Bound(c => c.StockDescription).Title(ProjectSession.Resources.label.ItemList_TextBlockPartDescription).Width(170).HtmlAttributes(new { title = " #= KendoToolTipTemplate(data.StockDescription) #", @class = "column-textoverflow" }); ;

            columns.Bound(c => c.AltStockDescription).Title(ProjectSession.Resources.label.ItemList_TextBlockAltPartDesc).Width(170).HtmlAttributes(new { title = "#= KendoToolTipTemplate(data.AltStockDescription) #", @class = "column-textoverflow" }); ;

            columns.Bound(c => c.Specification).Title(ProjectSession.Resources.label.JobPlan_TextBlockSpecification).Width(120);
            columns.Bound(c => c.Manufacturer).Title(ProjectSession.Resources.label.Asset_TextBlockManufacturer).Width(120);
            columns.Bound(c => c.Criticality).Title(ProjectSession.Resources.label.Item_CheckBoxCritical).Width(120);

            columns.Bound(c => c.AttrName).Title(ProjectSession.Resources.label.ItemType_TextBlockItemType).Width(120);

            columns.Bound(c => c.AttrSubName).Title(ProjectSession.Resources.label.ItemSubType_TextBlockPartSubType).Width(120);
            columns.Bound(c => c.Status)
           .HtmlAttributes(new { @class = "text-center" }).ClientTemplate("<span class='#= Status ? 'active-icon' : 'inactive-icon' #' title='#= Status ? 'Active' : 'Not Active' #'></span>").Title(ProjectSession.Resources.label.AccountCode_TextBlockStatus).Width(50);
            columns.Bound(c => c.StockID).Hidden(true);

        })
        .Sortable(sortable => sortable.AllowUnsort(false))
        .Scrollable()
                        .Excel(excel => excel.FileName(ProjectSession.Resources.label.ItemList_TextBlockItemList + ".xlsx").Filterable(true).AllPages(false))
                .Pageable(pageable => pageable.PageSizes(CMMS.Pages.General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
        .Events(events => events.DataBound("onDataBoundForAltItemsList"))
        .DataSource(dataSource =>
                                dataSource.Ajax()
                                .PageSize(ProjectConfiguration.PageSize)
                                 .Model(model =>
                                 {
                                     model.Id(p => p.StockID);
                                     model.Field(p => p.StockNo);
                                 })
                                .ServerOperation(true)
                                        .Read(read => read.Action(CMMS.Pages.Actions.GetStoreItemsList, CMMS.Pages.Controllers.Transaction, new { area = CMMS.Pages.Areas.Transaction }).Data("BindParametersForAltItemsList").Type(HttpVerbs.Post))
                )
                                    )
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer box-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default">@ProjectSession.Resources.label.Common_ButtonClose</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $("#AlternativeItemsGridModal tbody").on("dblclick", "tr[role='row']", function (e) {
        var grid = $("#itemlistGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        $("#AlternativeItemsGridModal").modal("hide");
        FillAltItemsDetail(model);
    });

    function FillAltItemsDetail(model)
    {
        $('#txtAlternativeStockNO').removeClass("kendoDrpRequired");
        $('#hdnAlternativePartID').val(model.StockID);
        $('#txtAlternativeStockNO').val(model.StockNo);
        if ('@Lang' == 'True') {
            $('#txtAlternativeStockDesc').val(model.StockDescription);
        }
        else {
            $('#txtAlternativeStockDesc').val(model.AltStockDescription);
        }
    }

    function ClearAlternativeItems(model) {
        $('#hdnAlternativePartID').val("");
        $('#txtAlternativeStockNO').val("");
        $('#txtAlternativeStockDesc').val("");
        $('#txtAlternativeAltStockDesc').val("");
    }

    function SaveAlternativeItems() {

        var blnValid = true;
        if ($('#hdnAlternativePartID').val() == '' || $('#hdnAlternativePartID').val() == '0') {
            $('#txtAlternativeStockNO').addClass("kendoDrpRequired");
            blnValid = false;
        }
        else {
            $('#txtAlternativeStockNO').removeClass("kendoDrpRequired");
        }

        if (!blnValid)
            return false;

        $.ajax({
            url: '@Url.Action(CMMS.Pages.Actions.SaveAlternativeItem, CMMS.Pages.Controllers.Transaction, new { area = CMMS.Pages.Areas.Transaction })',
            type: "POST",
            data: addRequestVerificationToken({ stockCodeId: '@Model.StockID' , altPartId: isNotUndefinedNullOrBlankOrZero('hdnAlternativePartID') ? $('#hdnAlternativePartID').val() : '0' }),
            dataType: "json",
            success: function (result) {
                ShowMessage(result[1], result[2], "#divMessage");
                ReBindKendoGrid("AlternativeItemsGrid");
                ClearAlternativeItems();
            },
            error: function (xhr, ajaxOptions, thrownError) {
                showErrorMessage();
            }
        });
    }
</script>