﻿@model CMMS.Model.Stock_code_supplier
@using CMMS.Infrastructure;
@{
    Layout = null;
    bool Lang = ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true;
}
<script type="text/javascript">
    function onDataBoundForAlternativeSuppliers(arg) {
        confirmDeleteMsg(msgText, okText, cancelText, onConfirmCallbackAlternativeSuppliers, confirmDirection);
        gridProperPaging(this);
    }

    function BindParametersForAlternativeSuppliers() {
        return {
            stockId: isNotUndefinedNullOrBlankOrZero('StockID') ? $('#StockID').val() : 0,
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function onConfirmCallbackAlternativeSuppliers(sender) {
        var id = $(this).data("id");
        $.ajax({
            url: '@Url.Action(CMMS.Pages.Actions.DeleteAlternativeSupplier, CMMS.Pages.Controllers.Transaction, new { area = CMMS.Pages.Areas.Transaction })',
            type: "POST",
            data: addRequestVerificationToken({ stockId: '@Model.Stock_id', supplierID: id }),
            dataType: "json",
            success: function (result) {
                ShowMessage(result[0], result[1], "#divMessage");
                ReBindKendoGrid("AlternativeSuppliersGrid");
            },
            error: function (xhr, ajaxOptions, thrownError) {
                showErrorMessage();
            }
        });
    }

    //AlterNative Item Modal

    function onAlternativeSupplierAutoSelect(e) {
        var model = this.dataItem(e.item.index());
        $('#txtAlternativeSupplierNO').removeClass("kendoDrpRequired");
        $('#hdnAlternativeSupplierID').val(model.SupplierID);
        $('#txtAlternativeSupplierNO').val(model.SupplierNo);
        //$('#txtAlternativeSupplierDesc').val(model.SupplierName);
        //$('#txtAlternativeAltSupplierDesc').val(model.AltSupplierName);
    }


    function OpenAlternativeSuppliersPopUp() {
        try { $("#AlternativeSuppliersGridModal").modal("show"); } catch (err) { alert(err); }
    }

    function onAlternativeSupplierAdditionalData() {
        return {
            text: $("#txtAlternativeSupplierDesc").val(),
        };
    }

    function BindParametersAltSuppliers() {
        return {
            SupplierNo: '',
            SupplierName: '',
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }
    function onDataBoundAltSupplier(arg) {
        gridProperPaging(this);
    }
</script>
<div class="form-horizontal">
    <div class="row form-group">
        <div class="col-md-12 col-lg-12">
            <div class="two-form-group">
                <label class="col-md-4 col-lg-2 control-label">@ProjectSession.Resources.label.Supplier_TextBlockSupplierNo</label>
                <div class="col-md-6 col-lg-8 ">
                    <div class="input-group pm-checklist">
                        @Html.HiddenFor(model => model.Supplier_id, new { @id = "hdnAlternativeSupplierID" })
                        @Html.TextBoxFor(model => model.SupplierNo, new { @class = "form-control code-input", @readonly = "readonly", @id = "txtAlternativeSupplierNO", @Placeholder = @ProjectSession.Resources.label.Supplier_TextBlockSupplierNo })
                        @*@Html.TextBoxFor(model => model.SupplierName, new { @class = "form-control", @readonly = "readonly", @style = "display:" + (Lang ? "" : "none;"), @id = "txtAlternativeSupplierDesc", @Placeholder = @ProjectSession.Resources.label.Supplier_TextBlockSupplierName })
                        @Html.TextBoxFor(model => model.AltSupplierName, new { @class = "form-control", @readonly = "readonly", @style = "display:" + (Lang ? "none;" : ""), @id = "txtAlternativeAltSupplierDesc", @Placeholder = @ProjectSession.Resources.label.Supplier_TextBlockAltSupplierName })*@
                       
                        @(Html.Kendo().AutoCompleteFor(model => model.SupplierName)
                                    .DataTextField(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "AltSupplierName" : "SupplierName")
                                            .HtmlAttributes(new { @class = "form-control", @id = "txtAlternativeSupplierDesc" })
                                    .Filter("contains")
                                    .Template("#= KendoDDLTemplate( data.SupplierNo, data.SupplierName, data.AltSupplierName) #")
                                    .MinLength(3)
                                    .Placeholder(ProjectSession.Resources.label.Supplier_TextBlockSupplierName)
                                            .Events(m => m.Select("onAlternativeSupplierAutoSelect"))
                                    .DataSource(source =>
                                     {
                                         source.Read(read =>
                                         {
                                             read.Action(CMMS.Pages.Actions.GetSuppliersListAutoDDL, CMMS.Pages.Controllers.AutoComplete, new { area = CMMS.Pages.Areas.Configurations }).Data("onAlternativeSupplierAdditionalData");
                                         })
                                     .ServerFiltering(true);
                                     })
                                     .Value(Convert.ToString(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? Model.AltSupplierName : Model.SupplierName))
                        )
                        

                         <a href="#" class="checklis-btn" id="btnOpenAlternativeSuppliersPopUp" data-toggle="modal" data-backdrop="static" onclick="OpenAlternativeSuppliersPopUp();">
                            <img src="../images/checklis-icon.png" alt="">
                        </a>
                        <a href="javascript:void(0);" class="close-btn" id="btnClearAlternativeSuppliers" title="@ProjectSession.Resources.label.Common_ButtonClear" onclick="ClearAlternativeSuppliers();">
                            <img src="../images/close.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-md-2 col-lg-2 ">
                    <div class="form-group">
                        <label class="control-label"></label>
                        <div class="col-md-12">
                            @if (ProjectSession.PermissionAccess.Stores_ItemList_Editrecords)
                            {
                                <button class="btn btn-primary" id="btnSaveAltSupplier" onclick="SaveAlternativeSuppliers()" title="@ProjectSession.Resources.label.Common_ButtonSave" type="button"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="information-form cus-form">
    <h3 class="sub-title">
        <span>@ProjectSession.Resources.label.ItemList_RadTabItemAlternativParts</span>
        <div class="sub_btn">
            <li><a href="javascript:void(0);" class="btn-icon btn-refresh" onclick="ReBindKendoGrid('AlternativeSuppliersGrid');" title="@ProjectSession.Resources.label.Common_ButtonRefreshGrid"><i></i></a></li>
            <li><a href="javascript:void(0);" class="btn-icon btn-xsl" onclick="ExportToExcel('AlternativeSuppliersGrid', 'EmployeeID');" title="@ProjectSession.Resources.label.Common_ButtonExportToExcel"><i></i></a></li>
        </div>
    </h3>
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div id="SupplierData" class="@ProjectSession.CultureKendoClass">
                @(Html.Kendo().Grid<CMMS.Model.Stock_code_supplier>()
        .Name("AlternativeSuppliersGrid")
        .HtmlAttributes(new { @class = "kl-grid" })
        .Columns(columns =>
        {
            columns.Bound(c => c.SupplierNo).Title(ProjectSession.Resources.label.Supplier_TextBlockSupplierNo).Width(120);

            columns.Bound(c => c.SupplierName).Title(ProjectSession.Resources.label.Supplier_TextBlockSupplierName);

            columns.Bound(c => c.AltSupplierName).Title(ProjectSession.Resources.label.Supplier_TextBlockAltSupplierName);

            columns.Bound(c => c.Supplier_id).ClientTemplate("<center>" + (ProjectSession.PermissionAccess.Stores_ItemList_Editrecords ? "<a class='action delete-button'  href='javascript:void(0);'  class='delete-ic' data-id='#: Supplier_id #' style='cursor:pointer'><i class='glyphicon glyphicon-trash' title='" + ProjectSession.Resources.label.Common_ButtonDelete + "' ></i></a>" : "") + "</center>")
                                            .Title("<center>" + ProjectSession.Resources.label.Common_ButtonAction + "</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Width(80);
        })
        .Sortable(sortable => sortable.AllowUnsort(false))
        .Scrollable()
                .Excel(excel => excel.FileName(ProjectSession.Resources.label.ItemList_RadTabItemAlternativParts + ".xlsx").Filterable(true).AllPages(true))
        .Pageable(pageable => pageable.PageSizes(CMMS.Pages.General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
                        .Events(events => events.DataBound("onDataBoundForAlternativeSuppliers"))
        .DataSource(dataSource =>
                                dataSource.Ajax()
                                .PageSize(ProjectConfiguration.PageSize)
                                 .Model(model =>
                                 {
                                     model.Id(p => p.Supplier_id);
                                     model.Field(p => p.Stock_id);
                                 })
                                .ServerOperation(true)
                                                       .Read(read => read.Action(CMMS.Pages.Actions.GetAlternativeSuppliersList, CMMS.Pages.Controllers.Transaction, new { area = CMMS.Pages.Areas.Transaction }).Data("BindParametersForAlternativeSuppliers").Type(HttpVerbs.Post))
        )
                )

            </div>
        </div>
    </div>
</div>
<div class="box-footer">
    <button class="btn btn-default" type="button" onclick="location.href = '@Url.Action(CMMS.Pages.Actions.StoreItemsList, CMMS.Pages.Controllers.Transaction, new { @area = CMMS.Pages.Areas.Transaction })';"><span>@ProjectSession.Resources.label.Common_ButtonCancel</span></button>
</div>

<div id="AlternativeSuppliersGridModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" title="@ProjectSession.Resources.label.Common_ButtonClose" data-dismiss="modal"></button>
                <h4 class="modal-title">@ProjectSession.Resources.label.Supplier_RadTabItemSuppliers</h4>
            </div>
            <div class="modal-body">
                <div id="Highlights" class="tab-pane active" role="tabpanel">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div id="altSupplierData" class="@ProjectSession.CultureKendoClass">
                                    @(Html.Kendo().Grid<CMMS.Model.Supplier>()
                                    .Name("AltSupplierGrid")
                                    .HtmlAttributes(new { @class = "kl-grid" })
                                    .Columns(columns =>
                                    {
                                        columns.Bound(c => c.SupplierID).Hidden(true);
                                        
                                        columns.Bound(c => c.SupplierNo).Title(ProjectSession.Resources.label.Supplier_TextBlockSupplierNo);

                                        columns.Bound(c => c.SupplierName).Title(ProjectSession.Resources.label.Supplier_TextBlockSupplierName);

                                        columns.Bound(c => c.AltSupplierName).Title(ProjectSession.Resources.label.Supplier_TextBlockAltSupplierName);
                                    }) 
                                    .Filterable()
                                    .Sortable(sortable => sortable.AllowUnsort(false))
                                    .Scrollable()
                                    .Pageable(pageable => pageable.PageSizes(CMMS.Pages.General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
                                    .Events(events => events.DataBound("onDataBoundAltSupplier"))
                                    .DataSource(dataSource => dataSource.Ajax()
                                    .PageSize(ProjectConfiguration.PageSize)
                                     .Model(model =>
                                     {
                                         model.Id(p => p.SupplierNo);
                                         model.Field(p => p.SupplierName);
                                     })
                                    .ServerOperation(true)
                                    .Read(read => read.Action(CMMS.Pages.Actions.GetSuppliersList, CMMS.Pages.Controllers.Configurations, new { area = CMMS.Pages.Areas.Configurations }).Data("BindParametersAltSuppliers").Type(HttpVerbs.Post))
                                    )
                                   .Resizable(resize => resize.Columns(true))
                                    )

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer box-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default">@ProjectSession.Resources.label.Common_ButtonClose</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $("#AlternativeSuppliersGridModal tbody").on("dblclick", "tr[role='row']", function (e) {
        var grid = $("#AltSupplierGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        $("#AlternativeSuppliersGridModal").modal("hide");
        FillAltSuppliersDetail(model);
    });

    function FillAltSuppliersDetail(model) {
        $('#txtAlternativeSupplierNO').removeClass("kendoDrpRequired");
        $('#hdnAlternativeSupplierID').val(model.SupplierID);
        $('#txtAlternativeSupplierNO').val(model.SupplierNo);
        if ('@Lang' == 'True') {
            $('#txtAlternativeSupplierDesc').val(model.SupplierName);
        }
        else {
            $('#txtAlternativeSupplierDesc').val(model.AltSupplierName);
        }
    }

    function ClearAlternativeSuppliers(model) {
        $('#hdnAlternativeSupplierID').val("");
        $('#txtAlternativeSupplierNO').val("");
        $('#txtAlternativeSupplierDesc').val("");
        $('#txtAlternativeAltSupplierDesc').val("");
    }

    function SaveAlternativeSuppliers() {

        var blnValid = true;
        if ($('#hdnAlternativeSupplierID').val() == '' || $('#hdnAlternativeSupplierID').val() == '0') {
            $('#txtAlternativeSupplierNO').addClass("kendoDrpRequired");
            blnValid = false;
        }
        else {
            $('#txtAlternativeSupplierNO').removeClass("kendoDrpRequired");
        }

        if (!blnValid)
            return false;

        $.ajax({
            url: '@Url.Action(CMMS.Pages.Actions.SaveAlternativeSupplier, CMMS.Pages.Controllers.Transaction, new { area = CMMS.Pages.Areas.Transaction })',
            type: "POST",
            data: addRequestVerificationToken({ stockCodeId: '@Model.Stock_id', supplierID: isNotUndefinedNullOrBlankOrZero('hdnAlternativeSupplierID') ? $('#hdnAlternativeSupplierID').val() : '0' }),
            dataType: "json",
            success: function (result) {
                ShowMessage(result[1], result[2], "#divMessage");
                ReBindKendoGrid("AlternativeSuppliersGrid");
                ClearAlternativeSuppliers();
            },
            error: function (xhr, ajaxOptions, thrownError) {
                showErrorMessage();
            }
        });
    }
</script>