﻿@model CMMS.Model.CustomAssetRelationship
@using CMMS.Infrastructure;
@using CMMS.Pages;
@using CMMS.Model;
@{
    bool Lang = ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true;
}
<form id="frmAssetRelationship">
    <div class="form-horizontal">
        <div class="form-group ">
            <label class="col-md-4 col-lg-2 control-label">@ProjectSession.Resources.label.Asset_TextBlockAssetNO</label>
            <div class="col-md-8 col-lg-4 two-form-group">
                <div class="input-two">
                    <div class="input-group">
                        @Html.HiddenFor(model => model.AssetID, new { id = "hdnAssetID" })
                        @Html.HiddenFor(model => model.LocationID, new { id = "hdnLocationID" })
                        @Html.TextBoxFor(model => model.AssetNumber, new {  @readonly = "readonly", @class = "form-control", @placeholder = ProjectSession.Resources.label.Asset_TextBlockAssetNO })
                    </div>
                    <div class="input-group">
                        @if (Lang)
                        {
                            @Html.TextBoxFor(model => model.AssetDescription, new { @readonly = "readonly", @class = "form-control", @placeholder = ProjectSession.Resources.label.Asset_TextBlockAssetDescription })
                        }
                        else
                        {
                            @Html.TextBoxFor(model => model.AssetAltDescription, new { @readonly = "readonly", @class = "form-control", @placeholder = ProjectSession.Resources.label.Asset_TextBlockAltAssetDescription })
                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group ">
            <label class="col-md-4 col-lg-2 control-label">@ProjectSession.Resources.label.Asset_TextBlockParentAsset</label>
            <div class="col-md-8 col-lg-4 two-form-group">
                <div class="input-two">
                    <div class="input-group">
                        @Html.HiddenFor(model => model.ParentAssetID, new { id = "hdnParentAssetID" })
                        @Html.TextBoxFor(model => model.ParentAssetNumber, new {  @readonly = "readonly", @class = "form-control", @placeholder = ProjectSession.Resources.label.Asset_TextBlockAssetNO })
                    </div>
                    <div class="input-group">
                        @if (Lang)
                        {
                            @Html.TextBoxFor(model => model.ParentAssetDescription, new {  @readonly = "readonly", @class = "form-control", @placeholder = ProjectSession.Resources.label.Asset_TextBlockAssetDescription })
                        }
                        else
                        {
                            @Html.TextBoxFor(model => model.ParentAssetAltDescription, new {  @readonly = "readonly", @class = "form-control", @placeholder = ProjectSession.Resources.label.Asset_TextBlockAltAssetDescription })
                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group ">
            <label class="col-md-4 col-lg-2 control-label">@ProjectSession.Resources.label.AssetTransfer_TextBlockStatusChild</label>
            <div class="col-md-8 col-lg-4">
                @if (Lang)
                {
                    @Html.TextBoxFor(model => model.ParentAssetStatusDesc, new {  @readonly = "readonly", @class = "form-control", @placeholder = ProjectSession.Resources.label.AssetTransfer_TextBlockStatusChild })
                }
                else
                {
                    @Html.TextBoxFor(model => model.ParentAltAssetStatusDesc, new {  @readonly = "readonly", @class = "form-control", @placeholder = ProjectSession.Resources.label.AssetTransfer_TextBlockStatusChild })
                }
            </div>
        </div>

        <div class="form-group ">
            <label class="col-md-4 col-lg-2 control-label">@ProjectSession.Resources.label.Asset_TextBlockChildAsset</label>
            <div class="col-md-8 col-lg-4 two-form-group">
                <div class="input-group pm-checklist">
                    @Html.Hidden("hdnChildAssetID")
                    @Html.TextBox("txtChildAssetNumber", "", new {  @class = "form-control code-input", @readonly = "readonly", @Placeholder = @ProjectSession.Resources.label.Asset_TextBlockAssetNO })
                    @*@Html.TextBox("txtChildAssetDescription", "", new {  @class = "form-control", @readonly = "readonly", @Placeholder = @ProjectSession.Resources.label.Asset_TextBlockAssetDescription })
                    @Html.TextBox("txtChildAssetAltDescription", "", new {  @class = "form-control", @readonly = "readonly", @Placeholder = @ProjectSession.Resources.label.Asset_TextBlockAltAssetDescription })*@

                    @(Html.Kendo().AutoComplete().Name("ChildAsset")
                                    .DataTextField(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "AssetAltDescription" : "AssetDescription")
                                            .HtmlAttributes(new { @class = "form-control", @id = "txtChildAssetDescription" })
                                    .Filter("contains")
                                    .Template("#= KendoDDLTemplate( data.AssetNumber, data.AssetDescription, data.AssetAltDescription) #")
                                    .MinLength(3)
                                    .Placeholder(ProjectSession.Resources.label.JobRequest_TextBlockAssetDescription)
                                    .Events(m => m.Select("onChildAssetAutoSelect"))
                                    .DataSource(source =>
                                     {
                                         source.Read(read =>
                                         {
                                             read.Action(Actions.GetAssetsByLocationAutoDDL, Controllers.AutoComplete, new { area = Areas.Configurations }).Data("onChildAssetAdditionalData");
                                         })
                                     .ServerFiltering(true);
                                     })
                                  
                    )

                    <a href="#" class="checklis-btn" data-toggle="modal" data-backdrop="static" onclick="OpenAssetPopUp()">
                        <img src="../images/checklis-icon.png" alt=""></a>
                    <a href="javascript:void(0);" class="close-btn"  title="@ProjectSession.Resources.label.Common_ButtonClear" onclick="ClearAssetChildData();">
                        <img src="../images/close.png" alt=""></a>
                </div>
            </div>
        </div>

        <div class="form-group ">
            <label class="col-md-4 col-lg-2 control-label">@ProjectSession.Resources.label.AssetTransfer_TextBlockStatusChild</label>
            <div class="col-md-8 col-lg-4">
                @Html.TextBox("txtChildAssetStatusDesc", "", new {  @readonly = "readonly", @class = "form-control", @placeholder = ProjectSession.Resources.label.AssetTransfer_TextBlockStatusChild })
                @Html.TextBox("txtChildAltAssetStatusDesc", "", new {  @readonly = "readonly", @class = "form-control", @placeholder = ProjectSession.Resources.label.AssetTransfer_TextBlockStatusChild })
            </div>

        </div>

        <div class="form-group ">
            <label class="col-md-4 col-lg-2 control-label"></label>
            <div class="col-md-4">
                @if (Model.AssetID > 0 && ProjectSession.PermissionAccess.Assets_Assets_Editrecords)
                {
                    <button type="submit" class="btn btn-primary" id="btnSave"><span>@ProjectSession.Resources.label.AssetTransfer_ButtonAddChild</span></button>
                }
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <div class="@ProjectSession.CultureKendoClass">
                    @(Html.Kendo().Grid<CMMS.Model.CustomAssetRelationship>()
                    .HtmlAttributes(new { @class = "kl-grid" })
                                    .Name("ChildAssetGrid")
                                    .Columns(columns =>
                                    {
                                        columns.Bound(c => c.AssetNumber).Title(ProjectSession.Resources.label.Asset_TextBlockAssetNO).Width(200);

                                        if (Lang)
                                            columns.Bound(c => c.AssetDescription).Title(ProjectSession.Resources.label.Asset_TextBlockAssetDescription);
                                        else
                                            columns.Bound(c => c.AssetAltDescription).Title(ProjectSession.Resources.label.Asset_TextBlockAltAssetDescription);

                                        columns.Bound(c => c.AssetStatusID).HtmlAttributes(new { @class = "text-center" }).ClientTemplate("<span class='#= AssetStatusID ? 'active-icon' : 'inactive-icon' #' title='#= AssetStatusID ? 'Active' : 'Not Active' #'></span>").Title(ProjectSession.Resources.label.Asset_TextBlockAssetStatus).Width(120).Filterable(false);

                                        //if (Lang)
                                        //    columns.Bound(c => c.AssetStatusDesc).Title(ProjectSession.Resources.label.Asset_TextBlockAssetStatus).Width(50);
                                        //else
                                        //    columns.Bound(c => c.AssetAltDescription).Title(ProjectSession.Resources.label.Asset_TextBlockAssetStatus).Width(50);

                                        //  columns.Bound(c => c.AssetID).ClientTemplate("<center><a class='action delete-button'  href='javascript:void(0);'  class='delete-ic' data-id='#: AssetID #' style='cursor:pointer'><i class='glyphicon glyphicon-trash' title='" + ProjectSession.Resources.label.Common_ButtonDelete + "' ></i></a></center>")
                                        //.Title("<center>Action</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Width(80);

                                        columns.Bound(c => c.AssetID).ClientTemplate("<center>" + (ProjectSession.PermissionAccess.Assets_Assets_Deleterecords ? "<a class='action delete-button'  href='javascript:void(0);'  class='delete-ic' data-id='#: AssetID #' style='cursor:pointer'><i class='glyphicon glyphicon-trash' title='" + ProjectSession.Resources.label.Common_ButtonDelete + "' ></i></a>" : "") + "</center>")
                                          .Title("<center>" + ProjectSession.Resources.label.Common_ButtonAction + "</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Width(80).Filterable(false);

                                    })
                                    .Filterable()
                                    .Sortable(sortable => sortable.AllowUnsort(false))
                                    .Scrollable()
                                    .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
                                    .Events(events => events.DataBound("onDataBoundChildAsset"))
                                    .DataSource(dataSource => dataSource.Ajax()
                                    .PageSize(ProjectConfiguration.PageSize)
                                     .Model(model =>
                                     {
                                         model.Id(p => p.AssetID);
                                         model.Field(p => p.AssetNumber);
                                     })
                                    .ServerOperation(true)
                                    .Read(read => read.Action(Actions.GetAssetChilds, Controllers.Transaction, new { area = Areas.Transaction }).Data("BindParametersChildAsset").Type(HttpVerbs.Post))
                                    )
                                    )

                </div>
            </div>
        </div>
    </div>
</form>
<!-- Asset  Grid Modal-->
<div id="AssetGridModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" title="@ProjectSession.Resources.label.Common_ButtonClose"></button>
                <h4 class="modal-title">@ProjectSession.Resources.label.Asset_TextBlockAssetChild</h4>
            </div>
            <div class="modal-body">
                <div class="tab-pane active" role="tabpanel">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div id="AssetData" class="@ProjectSession.CultureKendoClass">
                                    @(Html.Kendo().Grid<CMMS.Model.Asset>()
                                    .Name("AssetGrid")
                                    .Columns(columns =>
                                    {
                                        columns.Bound(c => c.AssetNumber).Title(ProjectSession.Resources.label.Asset_TextBlockAssetNO).Width(130);

                                        columns.Bound(c => c.AssetDescription).Title(ProjectSession.Resources.label.Asset_TextBlockAssetDescription).Width(200);

                                        columns.Bound(c => c.AssetAltDescription).Title(ProjectSession.Resources.label.Asset_TextBlockAltAssetDescription).Width(220);

                                        columns.Bound(c => c.AssetStatusDesc).Title(ProjectSession.Resources.label.Asset_TextBlockAssetStatus).Width(150)
                                        .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterAssetStatus", "GridFilter", new { area = string.Empty, @id = "1" }).Data("BindParameters").Type(HttpVerbs.Post))));

                                        columns.Bound(c => c.LocationNo).Title(ProjectSession.Resources.label.Location_TextBlockLocationNo).Width(150)
                                        .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterLocation", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

                                        columns.Bound(c => c.LocationDescription).Title(ProjectSession.Resources.label.Location_TextBlockLocationDescription).Width(200);

                                        columns.Bound(c => c.LocationAltDescription).Title(ProjectSession.Resources.label.Location_TextBlockAltLocationDesc).Width(220);

                                        columns.Bound(c => c.AssetCatCode).Title(ProjectSession.Resources.label.Asset_TextBlockAssetCategory).Width(150)
                                        .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterAssetCategory", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

                                        columns.Bound(c => c.L2Code).Title(ProjectSession.Resources.label.JobRequest_TextBlockCityCode).Width(150)
                                        .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterSite", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

                                        if (Lang)
                                            columns.Bound(c => c.L2Name).Title(ProjectSession.Resources.label.City_TextBlockCityDesc).Width(170);
                                        else
                                            columns.Bound(c => c.L2AltName).Title(ProjectSession.Resources.label.City_TextBlockAltCityDesc).Width(170);

                                        columns.Bound(c => c.L3No).Title(ProjectSession.Resources.label.JobRequest_TextBlockAreaCode).Width(150).Visible(ProjectSession.IsAreaFieldsVisible)
                                        .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterArea", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

                                        columns.Bound(c => c.L3Desc).Title(ProjectSession.Resources.label.JobRequest_TextBlockAreaDescription).Visible(ProjectSession.IsAreaFieldsVisible && ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true).Width(170);
                                        columns.Bound(c => c.L3AltDesc).Title(ProjectSession.Resources.label.JobRequest_TextBlockAltAreaDescription).Visible(ProjectSession.IsAreaFieldsVisible && ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? true : false).Width(170);

                                        columns.Bound(c => c.L4No).Title(ProjectSession.Resources.label.JobRequest_TextBlockStreetCode).Width(150)
                                        .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterZone", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

                                        if (Lang)
                                            columns.Bound(c => c.L4Description).Title(ProjectSession.Resources.label.JobRequest_TextBlockStreetDescription).Width(170);
                                        else
                                            columns.Bound(c => c.L4AltDescription).Title(ProjectSession.Resources.label.Cleaning_TextBlockAltStreetDescription).Width(170);

                                        columns.Bound(c => c.ModelNumber).Title(ProjectSession.Resources.label.Asset_TextBlockModelNo).Width(150);
                                        columns.Bound(c => c.SerialNumber).Title(ProjectSession.Resources.label.Employee_TextBlockSerialNo).Width(150);
                                        columns.Bound(c => c.AssetStatusID).Hidden();
                                    })
                                    .Filterable()
                                    .Sortable(sortable => sortable.AllowUnsort(false))
                                    .Scrollable()
                                    .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
                                    .Events(events => events.DataBound("onDataBoundAsset"))
                                    .DataSource(dataSource =>
                                    dataSource.Ajax()
                                    .PageSize(ProjectConfiguration.PageSize)
                                     .Model(model =>
                                     {
                                         model.Id(p => p.AssetID);
                                         model.Field(p => p.AssetNumber);
                                     })
                                    .ServerOperation(true)
                                            .Read(read => read.Action(Actions.GetAssetsByLocation, Controllers.Transaction, new { area = Areas.Transaction }).Data("BindParametersAsset").Type(HttpVerbs.Post))
                                            )
                                    )
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('.modal').on('shown.bs.modal', function (e) {
        $(document).off("focusin.modal");
    });

    $(document).ready(function () {
        if ('@Lang' == 'True') {
            //$('#txtChildAssetAltDescription').css("display", "none");
            //$('#txtChildAssetDescription').css("display", "block");

            $('#txtChildAltAssetStatusDesc').css("display", "none");
            $('#txtChildAssetStatusDesc').css("display", "block");
        }
        else {
            //$('#txtChildAssetDescription').css("display", "none");
            //$('#txtChildAssetAltDescription').css("display", "block");

            $('#txtChildAssetStatusDesc').css("display", "none");
            $('#txtChildAltAssetStatusDesc').css("display", "block");
        }

        validator = $('#frmAssetRelationship').validate({
            rules: {
                hdnAssetID: { required: true },
                AssetNumber: { required: true },
                hdnChildAssetID: { required: true },
                txtChildAssetNumber: { required: true },
            },
            messages: {
                hdnAssetID: { required: '' },
                AssetNumber: { required: '' },
                hdnChildAssetID: { required: '' },
                txtChildAssetNumber: { required: '' },
            }
        });
    });

    $("#AssetGrid tbody").on("dblclick", "tr[role='row']", function (e) {
        var grid = $("#AssetGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        $("#AssetGridModal").modal("hide");

        $("#hdnChildAssetID").val(model.AssetID);
        $("#txtChildAssetNumber").val(model.AssetNumber);
        if ('@Lang' == 'True') {
            $("#txtChildAssetDescription").val(model.AssetDescription);
        }
        else {
            $("#txtChildAssetDescription").val(model.AssetAltDescription);
        }
        $("#txtChildAssetStatusDesc").val(model.AssetStatusDesc);
        $("#txtChildAltAssetStatusDesc").val(model.AltAssetStatusDesc);
    });

    $('#frmAssetRelationship').on('submit', function (e) {
        if ($("#frmAssetRelationship").valid()) {
            if (e.isDefaultPrevented()) {
                // handle the invalid form...
            } else {
                var changedObj = {
                    assetID: $('#hdnAssetID').val() == '' ? 0 : $('#hdnAssetID').val(),
                    childID: $('#hdnChildAssetID').val() == '' ? 0 : $('#hdnChildAssetID').val(),
                    parentID: $('#hdnParentAssetID').val() == '' ? 0 : $('#hdnParentAssetID').val(),
                };

                $.ajax({
                    url: '@Url.Action(Actions.AddChildAsset, Controllers.Transaction, new { area = Areas.Transaction })',
                    type: "POST",
                    data: addRequestVerificationToken(changedObj),
                    dataType: "json",
                    success: function (result) {
                        //if (result[0] == 0) {
                        //    ShowMessage(result[1], result[2], "#divMessage");
                        //    ReBindKendoGrid("AssetGrid");
                        //    ReBindKendoGrid("ChildAssetGrid");
                        //}
                        //else {
                        //    ShowMessage(result[0], result[1], "#divMessage");
                        //}

                        ShowMessage(result[0], result[1], "#divMessage");
                        if (result[0] == '@SystemEnum.MessageType.success.ToString()') {
                            ReBindKendoGrid("AssetGrid");
                            ReBindKendoGrid("ChildAssetGrid");
                            ClearAssetChildData();
                        }
                        else {
                        }
                        //ShowMessage(result[0], result[1], "#divMessage");
                        //ReBindKendoGrid("AssetGrid");
                        //ReBindKendoGrid("ChildAssetGrid");
                        //ClearAssetChildData();
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        showErrorMessage();
                    }
                });
                e.preventDefault();
            }
        }
        else {
            e.preventDefault();
        }
    });

    function ClearAssetChildData() {
        $("#hdnChildAssetID").val("");
        $("#txtChildAssetNumber").val("");
        $("#txtChildAssetDescription").val("");
        $("#txtChildAssetAltDescription").val("");
        $("#txtChildAssetStatusDesc").val("");
        $("#txtChildAltAssetStatusDesc").val("");
    }
</script>

