﻿@model CMMS.Model.Asset
@using CMMS.Infrastructure;
@using CMMS.Pages;
@using CMMS.Model;
@{
    bool Lang = ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true;
}

<form id="frmAssetRelationship">
    <div class="form-horizontal">
        <div class="form-group ">
            <label class="col-md-4 col-lg-2 control-label">@ProjectSession.Resources.label.Asset_TextBlockAssetNO</label>
            <div class="col-md-8 col-lg-4 two-form-group">
                <div class="input-two">
                    <div class="input-group">
                        @Html.HiddenFor(model => model.AssetID, new { id = "hdnAssetIDSpec" })
                        @Html.TextBoxFor(model => model.AssetNumber, new { @readonly = "readonly", @class = "form-control", @placeholder = ProjectSession.Resources.label.Asset_TextBlockAssetNO })
                    </div>
                    <div class="input-group">
                        @if (Lang)
                        {
                            @Html.TextBoxFor(model => model.AssetDescription, new { @readonly = "readonly", @class = "form-control", @placeholder = ProjectSession.Resources.label.Asset_TextBlockAssetDescription })
                        }
                        else
                        {
                            @Html.TextBoxFor(model => model.AssetAltDescription, new { @readonly = "readonly", @class = "form-control", @placeholder = ProjectSession.Resources.label.Asset_TextBlockAltAssetDescription })
                        }
                    </div>
                </div>
            </div>
        </div>

        <h3 class="sub-title">
            <span>@ProjectSession.Resources.label.Specifications_TextBlockSpecifications</span>
            <div class="sub_btn">
                <a href="javascript:void(0);" class="btn-icon btn-add" data-toggle="modal" data-target="#AssetSpecModal" data-backdrop="static" onclick="OpenAssetSpecificationEditWindow(0);" title='@ProjectSession.Resources.label.Common_ButtonAdd'><i></i></a>
            </div>
        </h3>
        <div class="row">
            <div class="col-md-12">
                <div class="@ProjectSession.CultureKendoClass">
                    @(Html.Kendo().Grid<CMMS.Model.AssetSpecification>()
                    .HtmlAttributes(new { @class = "kl-grid" })
                                    .Name("AssetSpecificationGrid")
                                    .Columns(columns =>
                                    {
                                        columns.Bound(c => c.SpecDesc).Title(ProjectSession.Resources.label.Specifications_TextBlockSpecificationsDesc).Width(200);

                                        columns.Bound(c => c.SpecAltDesc).HtmlAttributes(new { @class = "text-right" }).Title(ProjectSession.Resources.label.Specifications_TextBlockAltSpecificationsDesc);

                                        columns.Bound(c => c.UOM).Title(ProjectSession.Resources.label.Item_TextBlockUOM);

                                        columns.Bound(c => c.Value).Title(ProjectSession.Resources.label.Specifications_TextBlockValue);

                                        columns.Bound(c => c.AssetSpecID).ClientTemplate("<center> <a class='action' title='" + ProjectSession.Resources.label.Common_ButtonEdit + "'  style='cursor:pointer' data-toggle='modal' data-target='\\#AssetSpecModal' onclick='OpenAssetSpecificationEditWindow(#: AssetSpecID#)'><i class='glyphicon glyphicon-pencil'></i></a>&nbsp;" +
                                                                       "<a class='action delete-button'  href='javascript:void(0);'  class='delete-ic' data-id='#: AssetSpecID #' style='cursor:pointer'><i class='glyphicon glyphicon-trash' title='" + ProjectSession.Resources.label.Common_ButtonDelete + "' ></i></a></center>")
                                           .Title("<center>" + ProjectSession.Resources.label.Common_ButtonAction + "</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Width(80).Filterable(false);

                                    })
                                    .Filterable()
                                    .Sortable(sortable => sortable.AllowUnsort(false))
                                    .Scrollable()
                                    .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
                                    .Events(events => events.DataBound("onDataBoundAssetSpecifiaction"))
                                    .DataSource(dataSource => dataSource.Ajax()
                                    .PageSize(ProjectConfiguration.PageSize)
                                     .Model(model =>
                                     {
                                         model.Id(p => p.AssetSpecID);
                                         model.Field(p => p.SpecID);
                                     })
                                    .ServerOperation(true)
                                    .Read(read => read.Action(Actions.GetAssetSpecificationList, Controllers.Transaction, new { area = Areas.Transaction }).Data("BindParametersAssetSpecifiaction").Type(HttpVerbs.Post))
                                    )
                                    )

                </div>
            </div>
        </div>

    </div>
</form>

<div id="AssetSpecModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-mg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"></button>
                <h4 class="modal-title">@ProjectSession.Resources.label.Specifications_TextBlockSpecifications</h4>
            </div>
            <form role="form" id="frmAssetSpec">
                <input type="hidden" name="hdnAssetSpecID" id="hdnAssetSpecID" />
                <div class="modal-body">
                    <div id="Highlights" class="tab-pane active" role="tabpanel">
                        <div class="form-horizontal">
                            <div id="divModelSpecError"></div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.Specifications_TextBlockSpecifications<span class="cfont">*</span></label>
                                <div class="col-sm-8">
                                    @(Html.Kendo().DropDownList()
                                    .Name("ddlSpec")
                                            .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                            .DataTextField("SpecDesc")
                                            .ValueTemplate(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? " #: SpecAltDesc # " : "#: SpecDesc #")
                                            .DataValueField("SpecID")
                                            .HtmlAttributes(new { style = "width: 100%", id = "ddlSpec", @required = "required" })
                                            .Template("#= KendoDDLTemplate('', data.SpecDesc,data.SpecAltDesc) #")
                                            .DataSource(source =>
                                            {
                                                source.Read(read =>
                                                {
                                                    read.Action(Actions.GetAllSpecificationForDDL, Controllers.Configurations, new { area = Areas.Configurations });
                                                });
                                            })
                                            .Value("")
                                        )
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.Specifications_TextBlockValue<span class="cfont">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="Value" id="txtValue" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.Specifications_TextBlockValue" maxlength="200">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer box-footer">
                    <button type="submit" class="btn btn-primary" id="btnSave"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">@ProjectSession.Resources.label.Common_ButtonClose</button>
                </div>
            </form>
        </div>

    </div>
</div>

<script type="text/javascript">

    var validatorAssetSpec = $('#frmAssetSpec').validate({
        rules: {
            Value: { required: true }
        },
        messages: {
            Value: { required: '' }
        }
    });

    $('#AssetSpecModal').on('hide.bs.modal', function (e) {
        if (validatorAssetSpec != "")
            validatorAssetSpec.resetForm();
    });

    function OpenAssetSpecificationEditWindow(id) {
        if (id > 0) {
            $.ajax({
                url: '@Url.Action(Actions.GetAssetSpecificationByID, Controllers.Transaction, new { area = Areas.Transaction })',
                type: "POST",
                data: addRequestVerificationToken({ assetSpecID: id }),
                success: function (result) {
                    $("#hdnAssetSpecID").val(result.AssetSpecID);
                    $("#ddlSpec").data("kendoDropDownList").value(result.SpecID);
                    $("#txtValue").val(result.Value);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    ShowMessage('@SystemEnum.MessageType.danger.ToString()', '@ProjectSession.Resources.message.Common_MsgErrorContactAdmin', "#divMessage");
                }
            });
            }
            else {
                ClearAllInputs("frmAssetSpec");
            }
        }

        $("#AssetSpecificationGrid tbody").on("dblclick", "tr[role='row']", function (e) {
            var grid = $("#AssetSpecificationGrid").data("kendoGrid");
            var model = grid.dataItem(this);
            $("#AssetSpecModal").modal("show");
            OpenAssetSpecificationEditWindow(model.AssetSpecID);
            //invoke controller
        });


        $('#frmAssetSpec').on('submit', function (e) {
            if ($("#frmAssetSpec").valid()) {
                if (!e.isDefaultPrevented()) {
                    if (!reValidateDropDowns($(this))) {
                        e.preventDefault();
                    }
                    else {

                        var areaId = $("#hdnAssetSpecID").val();
                        var changedObj = {
                            AssetSpecID: areaId == '' ? 0 : areaId,
                            SpecID: $("#ddlSpec").val(),
                            Value: $("#txtValue").val(),
                            assetID: $('#hdnAssetIDSpec').val(),
                        };

                        $.ajax({
                            url: '@Url.Action(Actions.ManageAssetSpecification, Controllers.Transaction, new { area = Areas.Transaction })',
                            type: "POST",
                            data: addRequestVerificationToken(changedObj),
                            dataType: "json",
                            success: function (result) {
                                if (result[0] == 0) {
                                    ShowMessage(result[1], result[2], "#divModelSpecError");
                                }
                                else {
                                    $('#AssetSpecModal').modal("hide");
                                    ShowMessage(result[0], result[1], "#divMessage");
                                    ReBindKendoGrid("AssetSpecificationGrid");
                                }
                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                showErrorMessage();
                            }
                        });
                        e.preventDefault();
                    }
                }
                else { e.preventDefault(); }
            }
            else {
                e.preventDefault();
            }
        });

</script>



