﻿@model CMMS.Model.Asset
@using CMMS.Infrastructure;
@using CMMS.Pages;
@using CMMS.Model;
@{
    bool Lang = ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true;
}
<form id="frmAssetTransfer">
    <div class="form-horizontal">
        <div class="row">
            <div class="col-md-8 col-lg-4">
                <div class="form-group">
                    <label class="col-md-4  control-label">@ProjectSession.Resources.label.Asset_TextBlockAssetNO</label>
                    <div class=" col-md-8  two-form-group">
                        <div class="input-two">
                            <div class="input-group">
                                @Html.HiddenFor(model => model.AssetID, new { id = "hdnAssetIDAT" })
                                @Html.TextBoxFor(model => model.AssetNumber, new {  @readonly = "readonly", @class = "form-control", @placeholder = ProjectSession.Resources.label.Asset_TextBlockAssetNO })
                            </div>
                            <div class="input-group">
                                @if (Lang)
                                {
                                    @Html.TextBoxFor(model => model.AssetDescription, new {  @readonly = "readonly", @class = "form-control", @placeholder = ProjectSession.Resources.label.Asset_TextBlockAssetDescription })
                                }
                                else
                                {
                                    @Html.TextBoxFor(model => model.AssetAltDescription, new { @readonly = "readonly", @class = "form-control", @placeholder = ProjectSession.Resources.label.Asset_TextBlockAltAssetDescription })
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-lg-4">
                <div class="form-group">
                    <label class="col-md-4 control-label">@ProjectSession.Resources.label.Location_TextBlockCurrentLocation</label>
                    <div class="col-md-8">
                        @if (Lang)
                        {
                            @Html.TextBoxFor(model => model.LocationDescription, new { @readonly = "readonly", @class = "form-control", @placeholder = ProjectSession.Resources.label.Location_TextBlockLocationDesc })
                        }
                        else
                        {
                            @Html.TextBoxFor(model => model.LocationAltDescription, new {  @readonly = "readonly", @class = "form-control", @placeholder = ProjectSession.Resources.label.Location_TextBlockAltLocationDesc })
                        }
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-lg-4">
                <div class="form-group">
                    <label class="col-md-4 control-label">@ProjectSession.Resources.label.Asset_TextBlockAssetNO</label>
                    <div class="col-md-8">
                        @if (Lang)
                        {
                            @Html.TextBoxFor(model => model.L2Name, new { @readonly = "readonly", @class = "form-control", @placeholder = ProjectSession.Resources.label.City_TextBlockCityDesc })
                        }
                        else
                        {
                            @Html.TextBoxFor(model => model.L2AltName, new {  @readonly = "readonly", @class = "form-control", @placeholder = ProjectSession.Resources.label.City_TextBlockAltCityDesc })
                        }
                    </div>
                </div>
            </div>


        </div>
    </div>
    <hr />
    <div class="cus-form">
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="form-group">
                    <label class="form-label">@ProjectSession.Resources.label.JobRequest_TextBlockCity<span class="cfont">*</span></label>

                    @(Html.Kendo().DropDownList()
                .Name("ddlCityAT")
                .OptionLabel(ProjectSession.Resources.label.Common_Select)
                .DataTextField("L2Code")
                .ValueTemplate(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "#:L2Code # -- #: L2Altname # " : "#:L2Code # -- #: L2name #")
                .DataValueField("L2ID")
                .Events(m => m.Change("ChangeL2AT"))
                .HtmlAttributes(new { style = "width: 100%", id = "ddlCityAT" })
                .Template("#= KendoDDLTemplate( data.L2Code, data.L2name,data.L2Altname) #")
                .DataSource(source =>
                {
                    if (ProjectSession.IsCentral)
                    {
                        source.Read(read =>
                        {
                            read.Action(Actions.GetAllCities, Controllers.Configurations, new { area = Areas.Configurations });
                        });
                    }
                    else
                    {
                        source.Read(read =>
                        {
                            read.Action(Actions.GetCitiesByEmployee, Controllers.Configurations, new { area = Areas.Configurations });
                        });
                    }
                })
                .Value("")
        )

                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="form-group two-form-group">
                    <label class="form-label">@ProjectSession.Resources.label.Location_TextBlockLocationNo<span class="cfont">*</span></label>
                    <div class="input-group pm-checklist">
                        <input type="hidden" id="hdnLocationIDAT" />
                        @Html.TextBox("txtLocationNoAT", "", new {  @class = "form-control code-input", @readonly = "readonly", @id = "txtLocationNoAT", @Placeholder = @ProjectSession.Resources.label.Location_TextBlockLocationNo })
                        @*@Html.TextBox("txtLocationDescriptionAT", "", new {  @class = "form-control", @readonly = "readonly", @id = "txtLocationDescriptionAT", @Placeholder = @ProjectSession.Resources.label.Location_TextBlockLocationDesc })
                        @Html.TextBox("txtLocationAltDescriptionAT", "", new {  @class = "form-control", @readonly = "readonly", @id = "txtLocationAltDescriptionAT", @Placeholder = @ProjectSession.Resources.label.Location_TextBlockAltLocationDesc })*@
                     
                        @(Html.Kendo().AutoComplete().Name("ATLocation")
                                    .DataTextField(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "LocationAltDescription" : "LocationDescription")
                                            .HtmlAttributes(new { @class = "form-control", @id = "txtLocationDescriptionAT" })
                                    .Filter("contains")
                                    .Template("#= KendoDDLTemplate( data.LocationNo, data.LocationDescription, data.LocationAltDescription) #")
                                    .MinLength(3)
                                    .Placeholder(ProjectSession.Resources.label.Location_TextBlockLocationDesc)
                                    .Events(m => m.Select("onATLocationAutoSelect"))
                                    .DataSource(source =>
                                     {
                                         source.Read(read =>
                                         {
                                             read.Action(Actions.GetLocationPageAutoDDL, Controllers.AutoComplete, new { area = Areas.Configurations }).Data("onATLocationAdditionalData");
                                         })
                                     .ServerFiltering(true);
                                     })
                        )
                        
                           <a href="#" class="checklis-btn disabled" data-toggle="modal" id="LocationPopUp" onclick="OpenLocationPopUpAT()">
                            <img src="../images/checklis-icon.png" alt=""></a>
                        <a href="javascript:void(0);" class="close-btn disabled" id="CloseLocation" onclick="ClearLocationDataAT();">
                            <img src="../images/close.png" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="form-group  two-form-group ">
                    <label class="form-label">@ProjectSession.Resources.label.Street_TextBlockStreetCode</label>
                    <div class="input-two">
                        <div class="input-group">
                            @Html.TextBox("txtL4NoAT", "", new {  @class = "form-control", @readonly = "readonly", @id = "txtL4NoAT", @Placeholder = @ProjectSession.Resources.label.Street_TextBlockStreetCode })
                        </div>
                        <div class="input-group">
                            @Html.TextBox("txtL4DescriptionAT", "", new { @class = "form-control", @readonly = "readonly", @id = "txtL4DescriptionAT", @Placeholder = @ProjectSession.Resources.label.Street_TextBlockStreetDesc })
                            @Html.TextBox("txtL4AltDescriptionAT", "", new {  @class = "form-control", @readonly = "readonly", @id = "txtL4AltDescriptionAT", @Placeholder = @ProjectSession.Resources.label.Street_TextBlockAltStreetDesc })
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="form-group two-form-group ">
                    <label class="form-label">@ProjectSession.Resources.label.Building_TextBlockBuildingNo</label>
                    <div class="input-two">
                        <div class="input-group">
                            @Html.TextBox("txtL5NoAT", "", new {  @class = "form-control", @readonly = "readonly", @id = "txtL5NoAT", @Placeholder = @ProjectSession.Resources.label.Building_TextBlockBuildingNo })
                        </div>
                        <div class="input-group">
                            @Html.TextBox("txtL5DescriptionAT", "", new {  @class = "form-control", @readonly = "readonly", @id = "txtL5DescriptionAT", @Placeholder = @ProjectSession.Resources.label.Building_TextBlockBuildingDesc })
                            @Html.TextBox("txtL5AltDescriptionAT", "", new {  @class = "form-control", @readonly = "readonly", @id = "txtL5AltDescriptionAT", @Placeholder = @ProjectSession.Resources.label.Building_TextBlockAltBuildingDesc })
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-6 col-lg-4">
                <div class="form-group two-form-group ">
                    <label class="form-label">@ProjectSession.Resources.label.Asset_TextBlockChildAsset</label>
                    <div class="input-group pm-checklist">
                        @Html.Hidden("hdnChildAssetIDAT")
                        @Html.TextBox("txtChildAssetNumberAT", "", new {  @class = "form-control code-input", @readonly = "readonly", @Placeholder = @ProjectSession.Resources.label.Asset_TextBlockAssetNO })
                        @*@Html.TextBox("txtChildAssetDescriptionAT", "", new {  @class = "form-control", @readonly = "readonly", @Placeholder = @ProjectSession.Resources.label.Asset_TextBlockAssetDescription })
                        @Html.TextBox("txtChildAssetAltDescriptionAT", "", new {  @class = "form-control", @readonly = "readonly", @Placeholder = @ProjectSession.Resources.label.Asset_TextBlockAltAssetDescription })*@

                        @(Html.Kendo().AutoComplete().Name("ATAsset")
                                    .DataTextField(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "AssetAltDescription" : "AssetDescription")
                                                    .HtmlAttributes(new { @class = "form-control", @id = "txtChildAssetDescriptionAT" })
                                    .Filter("contains")
                                    .Template("#= KendoDDLTemplate( data.AssetNumber, data.AssetDescription, data.AssetAltDescription) #")
                                    .MinLength(3)
                                    .Placeholder(ProjectSession.Resources.label.JobRequest_TextBlockAssetDescription)
                                    .Events(m => m.Select("onATAssetAutoSelect"))
                                    .DataSource(source =>
                                     {
                                         source.Read(read =>
                                         {
                                             read.Action(Actions.GetAssetsByLocationAndAssetIDAutoDDL, Controllers.AutoComplete, new { area = Areas.Configurations }).Data("onATAssetAdditionalData");
                                         })
                                     .ServerFiltering(true);
                                     })

                        )

                        <a href="#" class="checklis-btn disabled" id="AssetPopUp" data-toggle="modal" data-backdrop="static" onclick="OpenAssetATPopUp()">
                            <img src="../images/checklis-icon.png" alt=""></a>
                        <a href="javascript:void(0);" class="close-btn disabled" id="CloseAsset" title="@ProjectSession.Resources.label.Common_ButtonClear" onclick="ClearAssetATData();">
                            <img src="../images/close.png" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="form-group two-form-group">
                    <label class="form-label">@ProjectSession.Resources.label.AssetTransfer_TextBlockDate</label>
                    <div class="input-group date-pick">
                        @Html.TextBox("txtDate", DateTime.Now, "{0:" + ProjectConfiguration.DefaultDateFormat + "}", new { placeholder = ProjectConfiguration.DefaultDateFormat, @class = "form-control calendarsPicker", id = "txtDate" })
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="form-group two-form-group ">
                    <label class="form-label">@ProjectSession.Resources.label.AssetTransfer_TextBlockRemarks</label>
                    @Html.TextArea("txtRemarks", "", new { @MaxLength = 100, @class = "form-control", @id = "txtRemarks", @Placeholder = ProjectSession.Resources.label.Common_Enter + " " + ProjectSession.Resources.label.AssetTransfer_TextBlockRemarks })
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="form-group two-form-group ">
                    <label class="form-label">&nbsp;</label>
                    @if (ProjectSession.PermissionAccess.Assets_Assets_Editrecords)
                    {
                        <div>
                            <button type="submit" class="btn btn-primary" id="btnSave"><span>@ProjectSession.Resources.label.AssetTransfer_ButtonTransfer</span></button>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="@ProjectSession.CultureKendoClass">
                    @(Html.Kendo().Grid<CMMS.Model.AssetsTransfer>()
                                    .Name("AssetsTransferGrid")
                                    .Columns(columns =>
                                    {
                                        columns.Bound(c => c.TransferDate).ClientTemplate("#= DateTemplate(data.TransferDate) #").Title(ProjectSession.Resources.label.AssetTransfer_TextBlockDateTransferred);

                                        if (Lang)
                                            columns.Bound(c => c.L2Name).Title(ProjectSession.Resources.label.AssetTransfer_TextBlockFromCity);
                                        else
                                            columns.Bound(c => c.L2AltName).Title(ProjectSession.Resources.label.AssetTransfer_TextBlockFromCity);

                                        if (Lang)
                                            columns.Bound(c => c.LocationDescription).Title(ProjectSession.Resources.label.AssetTransfer_TextBlockFromLocation);
                                        else
                                            columns.Bound(c => c.LocationAltDescription).Title(ProjectSession.Resources.label.AssetTransfer_TextBlockFromLocation);

                                        if (Lang)
                                            columns.Bound(c => c.AssetDescription).Title(ProjectSession.Resources.label.AssetTransfer_TextBlockFromParent);
                                        else
                                            columns.Bound(c => c.AssetAltDescription).Title(ProjectSession.Resources.label.AssetTransfer_TextBlockFromParent);

                                        columns.Bound(c => c.Remarks).Title(ProjectSession.Resources.label.AssetTransfer_TextBlockRemarks);
                                    })
                                    .Filterable()
                                    .Sortable(sortable => sortable.AllowUnsort(false))
                                    .Scrollable()
                                    //.Excel(excel => excel.FileName("PM Meter History.xlsx").Filterable(true).AllPages(true))
                                    .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
                                    .Events(events => events.DataBound("onDataBoundAssetsTransfer"))
                                    .DataSource(dataSource => dataSource.Ajax()
                                    .Sort(model => model.Add("TransferDate").Descending())
                                    .PageSize(ProjectConfiguration.PageSize)
                                     .Model(model =>
                                     {
                                         model.Id(p => p.TransferId);
                                         model.Field(p => p.LocationID);
                                     })
                                    .ServerOperation(true)
                                    .Read(read => read.Action(Actions.GetAssetTransferList, Controllers.Transaction, new { area = Areas.Transaction }).Data("BindParametersAssetsTransfer").Type(HttpVerbs.Post))
                                    )
                                    )

                </div>
            </div>
        </div>
    </div>

</form>

<!-- location  Grid Modal-->
<div id="locationGridATModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" title="@ProjectSession.Resources.label.Common_ButtonClose"></button>
                <h4 class="modal-title">@ProjectSession.Resources.label.Location_TextBlockLocationList</h4>
            </div>
            <div class="modal-body">
                <div id="Highlights" class="tab-pane active" role="tabpanel">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="@ProjectSession.CultureKendoClass">
                                    @(Html.Kendo().Grid<CMMS.Model.Location>()
                                            .Name("locationGridAT")
                                    .Columns(columns =>
                                    {
                                        columns.Bound(c => c.LocationNo).Title(ProjectSession.Resources.label.Location_TextBlockLocationNo).Width(150);

                                        columns.Bound(c => c.LocationDescription).Title(ProjectSession.Resources.label.Location_TextBlockLocationDescription).Width(250);

                                        columns.Bound(c => c.LocationAltDescription).HtmlAttributes(new { @class = "text-right" }).Title(ProjectSession.Resources.label.Location_TextBlockAltLocationDescription).Width(250);

                                        columns.Bound(c => c.L2Code).Title(ProjectSession.Resources.label.JobRequest_TextBlockCity).Width(110)
                                        .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterSite", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

                                        columns.Bound(c => c.L4No).Title(ProjectSession.Resources.label.Street_TextBlockStreet).Width(110)
                                        .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterZone", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

                                        columns.Bound(c => c.L4Description).Title(ProjectSession.Resources.label.Street_TextBlockStreetDesc).Visible(ProjectSession.Culture == ProjectConfiguration.EnglishCultureCode ? true : false).Width(280);

                                        columns.Bound(c => c.L4AltDescription).Title(ProjectSession.Resources.label.Street_TextBlockAltStreetDesc).Visible(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? true : false).Width(280);

                                        columns.Bound(c => c.L5No).Title(ProjectSession.Resources.label.Building_TextBlockBuildingNo).Width(150)
                                        .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterBuilding", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

                                        columns.Bound(c => c.L5Description).Title(ProjectSession.Resources.label.Building_TextBlockBuildingDesc).Visible(ProjectSession.Culture == ProjectConfiguration.EnglishCultureCode ? true : false).Width(250);

                                        columns.Bound(c => c.L5AltDescription).Title(ProjectSession.Resources.label.Building_TextBlockAltBuildingDesc).Visible(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? true : false).Width(250);

                                        columns.Bound(c => c.Criticality).Title(ProjectSession.Resources.label.Location_TextBlockCriticality).Width(110)
                                        .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterCriticality", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

                                    }) 
                                    .Filterable()
                                    .Sortable(sortable => sortable.AllowUnsort(false))
                                    .Scrollable()
                                    .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
                                    .Events(events => events.DataBound("onDataBoundLocationAT"))
                                    .DataSource(dataSource => dataSource.Ajax()
                                    .PageSize(ProjectConfiguration.PageSize)
                                     .Model(model =>
                                     {
                                         model.Id(p => p.LocationID);
                                         model.Field(p => p.LocationNo);
                                     })
                                    .ServerOperation(true)
                                    .Read(read => read.Action(Actions.GetLocationPage, Controllers.Configurations, new { area = Areas.Configurations }).Data("BindParametersAT").Type(HttpVerbs.Post))
                                    )
                                    )

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Asset  Grid Modal-->
<div id="AssetGridATModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" title="@ProjectSession.Resources.label.Common_ButtonClose"></button>
                <h4 class="modal-title">@ProjectSession.Resources.label.Asset_TextBlockAssetChild</h4>
            </div>
            <div class="modal-body">
                <div class="tab-pane active" role="tabpanel">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="@ProjectSession.CultureKendoClass">
                                    @(Html.Kendo().Grid<CMMS.Model.Asset>()
                                    .Name("AssetATGrid")
                                    .Columns(columns =>
                                    {
                                        columns.Bound(c => c.AssetNumber).Title(ProjectSession.Resources.label.Asset_TextBlockAssetNO).Width(130);

                                        columns.Bound(c => c.AssetDescription).Title(ProjectSession.Resources.label.Asset_TextBlockAssetDescription).Width(200);

                                        columns.Bound(c => c.AssetAltDescription).Title(ProjectSession.Resources.label.Asset_TextBlockAltAssetDescription).Width(220);

                                        columns.Bound(c => c.AssetStatusDesc).Title(ProjectSession.Resources.label.Asset_TextBlockAssetStatus).Width(150)
                                        .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterAssetStatus", "GridFilter", new { area = string.Empty, @id = "1" }).Data("BindParameters").Type(HttpVerbs.Post))));

                                        columns.Bound(c => c.LocationNo).Title(ProjectSession.Resources.label.Location_TextBlockLocationNo).Width(150)
                                        .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterLocation", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

                                        columns.Bound(c => c.LocationDescription).Title(ProjectSession.Resources.label.Location_TextBlockLocationDescription).Width(200);

                                        columns.Bound(c => c.LocationAltDescription).Title(ProjectSession.Resources.label.Location_TextBlockAltLocationDesc).Width(220);

                                        columns.Bound(c => c.AssetCatCode).Title(ProjectSession.Resources.label.Asset_TextBlockAssetCategory).Width(150)
                                        .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterAssetCategory", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

                                        columns.Bound(c => c.L2Code).Title(ProjectSession.Resources.label.JobRequest_TextBlockCityCode).Width(150)
                                        .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterSite", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

                                        if (Lang)
                                            columns.Bound(c => c.L2Name).Title(ProjectSession.Resources.label.City_TextBlockCityDesc).Width(170);
                                        else
                                            columns.Bound(c => c.L2AltName).Title(ProjectSession.Resources.label.City_TextBlockAltCityDesc).Width(170);

                                        columns.Bound(c => c.L3No).Title(ProjectSession.Resources.label.JobRequest_TextBlockAreaCode).Width(150).Visible(ProjectSession.IsAreaFieldsVisible)
                                        .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterArea", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

                                        columns.Bound(c => c.L3Desc).Title(ProjectSession.Resources.label.JobRequest_TextBlockAreaDescription).Visible(ProjectSession.IsAreaFieldsVisible && ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true).Width(170);
                                        columns.Bound(c => c.L3AltDesc).Title(ProjectSession.Resources.label.JobRequest_TextBlockAltAreaDescription).Visible(ProjectSession.IsAreaFieldsVisible && ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? true : false).Width(170);

                                        columns.Bound(c => c.L4No).Title(ProjectSession.Resources.label.JobRequest_TextBlockStreetCode).Width(150)
                                        .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterZone", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

                                        if (Lang)
                                            columns.Bound(c => c.L4Description).Title(ProjectSession.Resources.label.JobRequest_TextBlockStreetDescription).Width(170);
                                        else
                                            columns.Bound(c => c.L4AltDescription).Title(ProjectSession.Resources.label.Cleaning_TextBlockAltStreetDescription).Width(170);

                                        columns.Bound(c => c.ModelNumber).Title(ProjectSession.Resources.label.Asset_TextBlockModelNo).Width(150);
                                        columns.Bound(c => c.SerialNumber).Title(ProjectSession.Resources.label.Employee_TextBlockSerialNo).Width(150);
                                    })
                                    .Filterable()
                                    .Sortable(sortable => sortable.AllowUnsort(false))
                                    .Scrollable()
                                    .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
                                    .Events(events => events.DataBound("onDataBoundAssetAT"))
                                    .DataSource(dataSource =>
                                     dataSource.Ajax()
                                    .PageSize(ProjectConfiguration.PageSize)
                                     .Model(model =>
                                     {
                                         model.Id(p => p.AssetID);
                                         model.Field(p => p.AssetNumber);
                                     })
                                    .ServerOperation(true)
                                    .Read(read => read.Action(Actions.GetAssetsByLocationAndAssetID, Controllers.Transaction, new { area = Areas.Transaction }).Data("BindParametersAssetAT").Type(HttpVerbs.Post))
                                            )
                                    )
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script> 
    $('.modal').on('shown.bs.modal', function (e) {
        $(document).off("focusin.modal");
    });

    validator = $('#frmAssetTransfer').validate({
        rules: {
            hdnLocationIDAT: { required: true },
            txtLocationNoAT: { required: true }

        },
        messages: {
            hdnLocationIDAT: { required: '' },
            txtLocationNoAT: { required: '' }
        }
    });

    $(document).ready(function () {
        CreateCalendarsPicker();
        if ('@Lang' == 'True') {
            $('#txtLocationAltDescriptionAT').css("display", "none");
            $('#txtLocationDescriptionAT').css("display", "block");

            $('#txtL4AltDescriptionAT').css("display", "none");
            $('#txtL4DescriptionAT').css("display", "block");

            $('#txtL5AltDescriptionAT').css("display", "none");
            $('#txtL5DescriptionAT').css("display", "block");

            //$('#txtChildAssetAltDescriptionAT').css("display", "none");
            //$('#txtChildAssetDescriptionAT').css("display", "block");
        }
        else {
            $('#txtLocationDescriptionAT').css("display", "none");
            $('#txtLocationAltDescriptionAT').css("display", "block");

            $('#txtL4DescriptionAT').css("display", "none");
            $('#txtL4AltDescriptionAT').css("display", "block");

            $('#txtL5DescriptionAT').css("display", "none");
            $('#txtL5AltDescriptionAT').css("display", "block");

            //$('#txtChildAssetDescriptionAT').css("display", "none");
            //$('#txtChildAssetAltDescriptionAT').css("display", "block");
        }
        $('#txtChildAssetDescriptionAT').addClass('disabled');
        $('#txtLocationDescriptionAT').addClass('disabled');

    });

    $('#frmAssetTransfer').on('submit', function (e) {
        if ($("#frmAssetTransfer").valid()) {
            if (!e.isDefaultPrevented()) {
                //if (reValidateDropDowns($(this))) {
                var changedObj = {
                    transferId: 0,
                    L2ID: $('#ddlCityAT').val(),
                    LocationID: $('#hdnLocationIDAT').val(),
                    AssetID: $('#hdnAssetIDAT').val(),
                    ParentAssetID: $('#hdnChildAssetIDAT').val() == "" ? 0 : $('#hdnChildAssetIDAT').val(),
                    Remarks: $('#txtRemarks').val(),
                    TransferDate: $('#txtDate').val()
                };
                $.ajax({
                    url: '@Url.Action(Actions.ManageAssetTransfer, Controllers.Transaction, new { area = Areas.Transaction })',
                    type: "POST",
                    data: addRequestVerificationToken(changedObj),
                    dataType: "json",
                    success: function (result) {
                        if (result[0] == '@SystemEnum.MessageType.success.ToString()') {
                            ShowMessage(result[0], result[1], "#divMessage");
                            ReBindKendoGrid("AssetsTransferGrid");
                            ClearLocationDataAT();
                            $('#txtRemarks').val('');
                            $('#ddlCityAT').data("kendoDropDownList").value(0);

                        } else {
                            ShowMessage(result[0], result[1], "#divMessage");
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        showErrorMessage();
                    }

                });
                // }
                    e.preventDefault();
                }
            }
            else {
                e.preventDefault();
            }
    });

        function OpenLocationPopUpAT() {
            $("#locationGridATModal").modal("show");
        }
        function ClearLocationDataAT() {
            $("#hdnLocationIDAT").val("");
            $("#txtLocationNoAT").val("");
            $("#txtLocationDescriptionAT").val("");
            $("#txtLocationAltDescriptionAT").val("");

            //Zone
            $("#txtL4NoAT").val("");
            $("#txtL4DescriptionAT").val("");
            $("#txtL4AltDescriptionAT").val("");

            //Buliding
            $("#txtL5NoAT").val("");
            $("#txtL5DescriptionAT").val("");
            $("#txtL5AltDescriptionAT").val("");

            $('#AssetPopUp').addClass('disabled');
            $('#CloseAsset').addClass('disabled');
            $('#txtChildAssetDescriptionAT').addClass('disabled');


            //When location cleat > asset also clear
            ClearAssetATData();
        }

        $("#locationGridAT tbody").on("dblclick", "tr[role='row']", function (e) {
            var grid = $("#locationGridAT").data("kendoGrid");
            var model = grid.dataItem(this);
            $("#locationGridATModal").modal("hide");

            //Location
            $("#txtLocationNoAT").val(model.LocationNo);
            if ('@Lang' == 'True') {
                $("#txtLocationDescriptionAT").val(model.LocationDescription);
            }
            else {
                $("#txtLocationDescriptionAT").val(model.LocationAltDescription);
            }
            $("#hdnLocationIDAT").val(model.LocationID);

            //Zone
            $("#txtL4NoAT").val(model.L4No);
            $("#txtL4DescriptionAT").val(model.L4Description);
            $("#txtL4AltDescriptionAT").val(model.L4AltDescription);

            //Buliding
            $("#txtL5NoAT").val(model.L5No);
            $("#txtL5DescriptionAT").val(model.L5Description);
            $("#txtL5AltDescriptionAT").val(model.L5AltDescription);

            if (model.LocationID == "") {
                $('#AssetPopUp').addClass('disabled');
                $('#CloseAsset').addClass('disabled');
                $('#txtChildAssetDescriptionAT').addClass('disabled');
            }
            else {
                $('#AssetPopUp').removeClass('disabled');
                $('#CloseAsset').removeClass('disabled');
                $('#txtChildAssetDescriptionAT').removeClass('disabled');
            }

            ReBindKendoGrid("AssetATGrid");
            ClearAssetATData();
        });

        $("#AssetATGrid tbody").on("dblclick", "tr[role='row']", function (e) {
            var grid = $("#AssetATGrid").data("kendoGrid");
            var model = grid.dataItem(this);
            $("#AssetGridATModal").modal("hide");

            var changedObj = {
                parentAssetID: model.AssetID == "" ? 0 : model.AssetID,
                assetID: $('#hdnAssetIDAT').val() == "" ? 0 : $('#hdnAssetIDAT').val()
            };

            $.ajax({
                url: '@Url.Action("editAssetChild", Controllers.Transaction, new { area = Areas.Transaction })',
                type: "POST",
                data: addRequestVerificationToken(changedObj),
                dataType: "json",
                success: function (result) {

                    if (result[0] == '@SystemEnum.MessageType.success.ToString()') {
                        //Asset 
                        $("#hdnChildAssetIDAT").val(model.AssetID);
                        $("#txtChildAssetNumberAT").val(model.AssetNumber);
                        if ('@Lang' == 'True') {
                            $("#txtChildAssetDescriptionAT").val(model.AssetDescription);
                        }
                        else {
                            $("#txtChildAssetDescriptionAT").val(model.AssetAltDescription);
                        }
                        
                        
                    } else {
                        //Asset 
                        ClearAssetATData();
                        ShowMessage(result[0], result[1], "#divMessage");
                    }

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }

            });


        });

            function ClearAssetATData() {
                $("#hdnChildAssetIDAT").val("");
                $("#txtChildAssetNumberAT").val("");
                $("#txtChildAssetDescriptionAT").val("");
                $("#txtChildAssetAltDescriptionAT").val("");
            }
</script>
