﻿@using CMMS.Infrastructure;
@using CMMS.Pages;
@using CMMS.Model;

<div class="form-horizontal">
    <div class="information-form cus-form">
        <div class="row  form-group">
            <div class="col-md-6 col-lg-6 form-group">
                <label class="col-md-5 col-lg-5 control-label">@ProjectSession.Resources.label.JobOrder_TextBlockTotal</label>
                <div class="col-md-7 col-lg-7">
                    <input type="text" readonly="readonly" id="txtSubTotalPrice" class="form-control" />
                </div>
            </div>
        </div>
    </div>
    <div class="information-form cus-form">
        <h3 class="sub-title">
            <span>@ProjectSession.Resources.label.ItemRequisition_TextBlockDirectIssue</span>
            <div class="sub_btn">
                @if (ProjectSession.PermissionAccess.JobOrder_JobOrder_Editrecords)
                {
                    if (ProjectSession.PermissionAccess.JobOrder_JobOrder_SaveDirectIssues)
                    {
                    <li><a href="#" class="btn-icon btn-add" data-toggle="modal" data-target="#DirectIssueModal" data-backdrop="static" id="btnOpenDirectIssueWin" onclick="OpenDirectIssueEditWindow(0);" title='@ProjectSession.Resources.label.Common_ButtonAdd'><i></i></a></li>
                    }

                    <li><a href="javascript:void(0);" class="btn-icon btn-refresh" onclick="ReBindKendoGrid('DirectIssueGrid');" title="@ProjectSession.Resources.label.Common_ButtonRefreshGrid"><i></i></a></li>
                    <li><a href="javascript:void(0);" class="btn-icon btn-xsl" onclick="ExportToExcel('DirectIssueGrid', 'DirectID');" title="@ProjectSession.Resources.label.Common_ButtonExportToExcel"><i></i></a></li>
                }
            </div>
        </h3>

        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div id="DirectIssueData" class="@ProjectSession.CultureKendoClass">
                    @(Html.Kendo().Grid<CMMS.Model.Direct>()
                        .Name("DirectIssueGrid")
                        .HtmlAttributes(new { @class = "kl-grid" })
                        .Columns(columns =>
                        {
                            columns.Bound(c => c.Date).ClientTemplate("#= DateTemplate(data.Date) #").Title(ProjectSession.Resources.label.AssetTransfer_TextBlockDate).Width(150);

                            columns.Bound(c => c.StockDesc).Title(ProjectSession.Resources.label.Supplier_TextBlockDescription);

                            columns.Bound(c => c.AltStockDesc).Title(ProjectSession.Resources.label.JobPlan_TextBlockAltDecription).HtmlAttributes(new { @class = "text-right" });

                            columns.Bound(c => c.SupplierNo).Title(ProjectSession.Resources.label.Supplier_TextBlockSupplierNo);

                            columns.Bound(c => c.Invoicenumber).Title(ProjectSession.Resources.label.JobOrder_TextBlockInvoiceNo);

                            columns.Bound(c => c.Qty).Title(ProjectSession.Resources.label.ItemRequisition_TextBlockQty);

                            columns.Bound(c => c.Price).Title(ProjectSession.Resources.label.ItemRequisition_TextBlockUnitPrice);

                            columns.Bound(c => c.TotalPrice).ClientTemplate("#= DecimalTempalte(data.TotalPrice,2) #").Title(ProjectSession.Resources.label.JobOrder_TextBlockTotalPrice);

                            columns.Bound(c => c.DirectID).ClientTemplate("<center>" + (ProjectSession.PermissionAccess.JobOrder_JobOrder_Editrecords && ProjectSession.PermissionAccess.JobOrder_JobOrder_SaveDirectIssues ? "<a class='action delete-button'  href='javascript:void(0);'  class='delete-ic' data-id='#: DirectID #' style='cursor:pointer'><i class='glyphicon glyphicon-trash' title='" + ProjectSession.Resources.label.Common_ButtonDelete + "' ></i></a>" : "") + "</center>")
                                                            .Title("<center>" + ProjectSession.Resources.label.Common_ButtonAction + "</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Width(70).Filterable(false);
                        })
                        .Filterable()
                        .Sortable(sortable => sortable.AllowUnsort(false))
                        .Scrollable()
                        .Excel(excel => excel.FileName(ProjectSession.Resources.label.ItemRequisition_TextBlockDirectIssue + ".xlsx").Filterable(true).AllPages(true).ProxyURL(Url.Action("Excel_Export_Save", "GridExport", new { area = string.Empty })))
                        .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
                        .Events(events => events.DataBound("onDataBoundDirectIssue").ExcelExport("excelExport"))
                        .DataSource(dataSource =>
                        dataSource.Ajax()
                        .PageSize(ProjectConfiguration.PageSize)
                        .Sort(model => model.Add("DirectID").Ascending())
                        .Model(model =>
                        {
                            model.Id(p => p.DirectID);
                            model.Field(p => p.SupplierNo);
                        })
                        .ServerOperation(true)
                        .Read(read => read.Action(Actions.GetDirectIssueList, Controllers.Transaction, new { area = Areas.Transaction }).Data("BindParametersDirectIssue").Type(HttpVerbs.Post))
                        )
                     )

                </div>
            </div>
        </div>
    </div>
</div>

@if (ProjectSession.PermissionAccess.JobOrder_JobOrder_Editrecords && ProjectSession.PermissionAccess.JobOrder_JobOrder_SaveDirectIssues)
{
    <div id="DirectIssueModal" class="modal fade" role="dialog"></div>
}


<div id="supplierGridModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" title="@ProjectSession.Resources.label.Common_ButtonClose"></button>
                <h4 class="modal-title">@ProjectSession.Resources.label.Supplier_TextBlockSupplier</h4>
            </div>
            <div class="modal-body">
                <div id="Highlights" class="tab-pane active" role="tabpanel">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div id="supplierData" class="@ProjectSession.CultureKendoClass">
                                    @(Html.Kendo().Grid<CMMS.Model.Supplier>()
                                    .Name("SupplierGrid")
                                    .HtmlAttributes(new { @class = "kl-grid" })
                                    .Columns(columns =>
                                    {
                                        columns.Bound(c => c.SupplierNo).Title(ProjectSession.Resources.label.Supplier_TextBlockSupplierNo);

                                        columns.Bound(c => c.SupplierName).Title(ProjectSession.Resources.label.Supplier_TextBlockSupplierName);

                                        columns.Bound(c => c.AltSupplierName).Title(ProjectSession.Resources.label.Supplier_TextBlockAltSupplierName);
                                    })
                                    .Filterable()
                                    .Sortable(sortable => sortable.AllowUnsort(false))
                                    .Scrollable()
                                    .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
                                    .Events(events => events.DataBound("onDataBoundSupplier"))
                                            //.Excel(excel => excel.FileName(ProjectSession.Resources.label.Employee_RadTabItemEmployee + ".xlsx").Filterable(true).AllPages(true))
                                    .DataSource(dataSource => dataSource.Ajax()
                                    .PageSize(ProjectConfiguration.PageSize)
                                     .Model(model =>
                                     {
                                         model.Id(p => p.SupplierNo);
                                         model.Field(p => p.SupplierName);
                                     })
                                    .ServerOperation(true)
                                    .Read(read => read.Action(Actions.GetSuppliersList, Controllers.Configurations, new { area = Areas.Configurations }).Data("BindParametersSuppliers").Type(HttpVerbs.Post))
                                    )
                                   .Resizable(resize => resize.Columns(true))
                                    )

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer box-footer">
                <button type="button" class="btn btn-default" onclick="closeSupplierModel()">@ProjectSession.Resources.label.Common_ButtonClose</button>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $('.modal').on('shown.bs.modal', function (e) {
        $(document).off("focusin.modal");
    });

    function OpenDirectIssueEditWindow(id) {
        $("#DirectIssueModal").html('');
        var url = '@Url.Action(Actions.AddEditDirectIssue, Controllers.Transaction, new { Area = Areas.Transaction })' + "?DirectId=" + id;
        $("#DirectIssueModal").load(url);
    }

    function onConfirmCallback(sender) {
        var id = $(this).data("id");

        $.ajax({
            url: '@Url.Action(Actions.DeleteDirectIssue, Controllers.Transaction, new { area = Areas.Transaction })',
            type: "POST",
            data: addRequestVerificationToken({ directID: id }),
            dataType: "json",
            success: function (result) {
                ClearAllInputs("frmDirectIssue");
                ShowMessage(result[0], result[1], "#divMessage");
                ReBindKendoGrid("DirectIssueGrid");
            },
            error: function (xhr, ajaxOptions, thrownError) {
                showErrorMessage();
            }
        });
    }


    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };

    function OpenSupplierPopUp() {
        $("#supplierGridModal").modal("show");
    }

    function clearSupplier() {
        $('#txtsupplierNo').val("");
    }

    function closeSupplierModel() {
        $("#supplierGridModal").modal("hide");
    }
</script>
<script>
    $(function () {
        EnableDisableControlls();
    });
</script>
