﻿@model CMMS.Model.Material_req_detail
@using CMMS.Infrastructure;
@using CMMS.Pages;
@using CMMS.Model
@using CMMS.Service
<style>
    .popover {
        z-index: 99999 !important;
    }
</style>
<script src="~/Scripts/common.js"></script>
<script type="text/javascript">
    var EmpFrom = 0;
    function OpenEmployeePopUp(from) {
        EmpFrom = from;
        $("#employeeGridModal").modal("show");
        return false;
    }

    function ClearEmployeeData(from) {
        if (from == 1) {
            $("#supNo").val("");
            $("#txtsupName").val("");
            $("#SubWHSupId").val("");
        }
        else if (from == 2) {
            $("#issueNo").val("");
            $("#txtissueName").val("");
            $("#SubWHIssueTechId").val("");
        }
    }

    function onEmployeeAdditionalData(from) {
        var textVal = '';
        if (from == 1) {
            textVal = $("#txtsupName").val();
        }
        else if (from == 2) {
            textVal = $("#txtissueName").val();
        }
        return {
            cityID: 0,
            type: 0,
            text: textVal,
        };
    }

    function onEmployeeAutoSelect(e, from) {
        
        var model = e.sender.dataItem(e.item.index());

        if (from == 1) {
            $('#SubWHSupId').val(model.EmployeeID);
            $("#supNo").val(model.EmployeeNO);
            $("#txtsupName").val(model.Name);
        }
        else if (from == 2) {
            $('#SubWHIssueTechId').val(model.EmployeeID);
            $("#issueNo").val(model.EmployeeNO);
            $("#txtissueName").val(model.Name);
        }
    }

    function onDataBoundEmployee(arg) {
        gridProperPaging(this);
    }

    function BindParametersEmployee() {
        return {
            cityID: 0,
            type: 0,
            strWhere: '',
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function ConverToDecimal(ctrl) {
        try {
            var txtVal = $(ctrl).val();
            if (txtVal == null || txtVal == '') {
                $(ctrl).val('0.00');
                txtVal = $(ctrl).val();
            }

            $(ctrl).val(parseFloat(txtVal).toFixed(2));
        }
        catch (err) {
            console.log(err);
        }
    }
</script>

<div class="modal-dialog modal-md">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" title="@ProjectSession.Resources.label.Common_ButtonClose"></button>
            <h4 class="modal-title">@ProjectSession.Resources.label.ItemRequisition_TextBlockIssueItem</h4>
        </div>

        @using (Html.BeginForm(Actions.SaveItemIssue, Controllers.Transaction, new { area = Areas.Transaction }, FormMethod.Post, new { id = "frmIRItemIssue" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.Mr_id)
            @Html.HiddenFor(m => m.Mr_no)
            <div class="modal-body">
                <div id="Highlights" class="tab-pane active" role="tabpanel">
                    <div class="form-horizontal">
                        <div id="divModelErrorIssue"></div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">@ProjectSession.Resources.label.ItemRequisition_TextBlockItemQty</label>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(model => model.Qty, String.Format("{0:#,0.00}", Model.Qty), new { @MaxLength = 27, @class = "form-control decimalnumber", @disabled = "disabled" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">@ProjectSession.Resources.label.ItemRequisition_TextBlockReceivedQty<span class="cfont">*</span></label>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(model => model.ReceivedQty, String.Format("{0:#,0.00}", Model.ReceivedQty), new { @MaxLength = 27, @class = "form-control decimalnumber", onchange = "ConverToDecimal(this)" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">@ProjectSession.Resources.label.ItemRequisition_TextBlockCanceledQty<span class="cfont">*</span></label>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(model => model.CanceledQty, String.Format("{0:#,0.00}", Model.CanceledQty), new { @MaxLength = 27, @class = "form-control decimalnumber", onchange = "ConverToDecimal(this)" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">@ProjectSession.Resources.label.ItemRequisition_TextBlockBalanceQty</label>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(model => model.AvailableQty, String.Format("{0:#,0.00}", Model.AvailableQty), new { @MaxLength = 27, @class = "form-control decimalnumber", @disabled = "disabled" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">@ProjectSession.Resources.label.ItemRequisition_TextBlockIssueStatus</label>
                            <div class="col-sm-8">
                                @Html.TextBox("IssueStatus", "", new { @class = "form-control", @disabled = "disabled", @id = "txtIssueStatus" })
                            </div>
                        </div>
                        <div class="form-group two-form-group">
                            <label class="col-sm-4 control-label">@ProjectSession.Resources.label.ItemRequisition_TextBlockSubWHSESupervisor</label>
                            <div class="col-sm-8">
                                <div class="input-group pm-checklist">
                                    @Html.HiddenFor(model => model.SubWHSupId)
                                    @Html.TextBoxFor(model => model.supNo, new { @class = "form-control code-input", @readonly = "readonly", @Placeholder = @ProjectSession.Resources.label.Employee_TextBlockEmployeeNO })

                                    @(Html.Kendo().AutoCompleteFor(model => model.supName)
                                     .DataTextField("Name")
                                     .HtmlAttributes(new { @class = "form-control", @id = "txtsupName" })
                                    .Filter("contains")
                                    .Template("#= KendoDDLTemplateForTwoColumn( data.EmployeeNO, data.Name) #")
                                    .MinLength(3)
                                    .Placeholder(ProjectSession.Resources.label.Employee_TextBlockEmployeeName)
                                            .Events(m => m.Select("function(e) { onEmployeeAutoSelect(e,1); }"))
                                    .DataSource(source =>
                                     {
                                         source.Read(read =>
                                         {
                                             read.Action(Actions.GetEmployeeAssignPageAutoDDL, Controllers.AutoComplete, new { area = Areas.Configurations }).Data("function() { onEmployeeAdditionalData(1); }");
                                         })
                                     .ServerFiltering(true);
                                     })
                                             .Value(Convert.ToString(Model.supName))
                                    )
                                    <a href="javascript:void(0)" class="checklis-btn" data-toggle="modal" id="btnOpenSuperWiserPopUp" data-backdrop="static" onclick="OpenEmployeePopUp(1);">
                                        <img src="../images/checklis-icon.png" alt="">
                                    </a>
                                    <a href="javascript:void(0)" class="close-btn" id="btnClearSuperWiser" title="@ProjectSession.Resources.label.Common_ButtonClear" onclick="ClearEmployeeData(1);">
                                        <img src="../images/close.png" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="form-group  two-form-group">
                            <label class="col-sm-4 control-label">@ProjectSession.Resources.label.ItemRequisition_TextBlockSubWHSEIssueTech</label>
                            <div class="col-sm-8">
                                <div class="input-group pm-checklist">
                                    @Html.HiddenFor(model => model.SubWHIssueTechId)
                                    @Html.TextBoxFor(model => model.issueNo, new { @class = "form-control code-input", @readonly = "readonly", @Placeholder = @ProjectSession.Resources.label.Employee_TextBlockEmployeeNO })

                                    @(Html.Kendo().AutoCompleteFor(model => model.issueName)
                                     .DataTextField("Name")
                                     .HtmlAttributes(new { @class = "form-control", @id = "txtissueName" })
                                    .Filter("contains")
                                    .Template("#= KendoDDLTemplateForTwoColumn( data.EmployeeNO, data.Name) #")
                                    .MinLength(3)
                                    .Placeholder(ProjectSession.Resources.label.Employee_TextBlockEmployeeName)
                                    .Events(m => m.Select("function(e) { onEmployeeAutoSelect(e,2); }"))
                                    .DataSource(source =>
                                     {
                                         source.Read(read =>
                                         {
                                             read.Action(Actions.GetEmployeeAssignPageAutoDDL, Controllers.AutoComplete, new { area = Areas.Configurations }).Data("function() { onEmployeeAdditionalData(2); }");
                                         })
                                     .ServerFiltering(true);
                                     })
                                                     .Value(Convert.ToString(Model.issueName))
                                    )
                                    <a href="javascript:void(0)" class="checklis-btn" data-toggle="modal" id="btnOpenIssueTechPopUp" data-backdrop="static" onclick="OpenEmployeePopUp(2);">
                                        <img src="../images/checklis-icon.png" alt="">
                                    </a>
                                    <a href="javascript:void(0)" class="close-btn" id="btnClearIssueTech" title="@ProjectSession.Resources.label.Common_ButtonClear" onclick="ClearEmployeeData(2);">
                                        <img src="../images/close.png" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer box-footer">
                @if (ProjectSession.PermissionAccess.ItemRequisitions_ItemRequisitions_Editrecords)
                {
                    <button type="button" class="btn btn-primary" id="btnSave" onclick="$('#frmIRItemIssue').submit();"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
                }
                <button type="button" class="btn btn-default" data-dismiss="modal">@ProjectSession.Resources.label.Common_ButtonClose</button>
            </div>
        }
    </div>
</div>

<div id="employeeGridModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" title="@ProjectSession.Resources.label.Common_ButtonClose"></button>
                <h4 class="modal-title">@ProjectSession.Resources.label.Employee_RadTabItemEmployee</h4>
            </div>
            <div class="modal-body">
                <div id="Highlights" class="tab-pane active" role="tabpanel">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div id="employeeData" class="@ProjectSession.CultureKendoClass">
                                    @(Html.Kendo().Grid<CMMS.Model.employees>()
                                            .Name("employeeGrid")
                                            .HtmlAttributes(new { @class = "kl-grid" })
                                    .Columns(columns =>
                                    {
                                        columns.Bound(c => c.EmployeeNO).Title(ProjectSession.Resources.label.Employee_TextBlockEmployeeNO).Width(150);

                                        columns.Bound(c => c.L2Code).Title(ProjectSession.Resources.label.JobRequest_TextBlockCityCode).Width(150)
                                        .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterSite", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

                                        columns.Bound(c => c.Name).Title(ProjectSession.Resources.label.Employee_TextBlockEmployeeName).Width(200);

                                        columns.Bound(c => c.MaintDivisionCode).Title(ProjectSession.Resources.label.MaintDivision_TextBlockMaintDivCode).Width(150)
                                        .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterMaintenanceDivision", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

                                        columns.Bound(c => c.MaintDeptCode).Title(ProjectSession.Resources.label.MaintenanceDept_TextBlockMaintDeptCode).Width(150)
                                       .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterMaintenanceDepartment", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

                                        columns.Bound(c => c.MaintSubDeptCode).Title(ProjectSession.Resources.label.MaintenanceSubDept_TextBlockMaintSubDeptCode).Width(180)
                                        .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterMaintenanceSubDepartment", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

                                        columns.Bound(c => c.Positions).Title(ProjectSession.Resources.label.Employee_TextBlockDesignation).Width(150);

                                        columns.Bound(c => c.CategoryName).Title(ProjectSession.Resources.label.Employee_TextBlockEmployeeCategory).Width(200)
                                        .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterEmpCategory", "GridFilter", new { area = string.Empty, @id = "1" }).Data("BindParameters").Type(HttpVerbs.Post))));

                                        columns.Bound(c => c.EmployeeStatus).Title(ProjectSession.Resources.label.Employee_TextBlockEmployeeStatus).Width(150)
                                        .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterEmpStatus", "GridFilter", new { area = string.Empty, @id = "1" }).Data("BindParameters").Type(HttpVerbs.Post))));

                                    })
                                    .Filterable()
                                    .Sortable(sortable => sortable.AllowUnsort(false))
                                    .Scrollable()
                                    .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
                                    .Events(events => events.DataBound("onDataBoundEmployee"))
                                    .Excel(excel => excel.FileName(ProjectSession.Resources.label.Employee_RadTabItemEmployee + ".xlsx").Filterable(true).AllPages(true))
                                    .DataSource(dataSource => dataSource.Ajax()
                                    .PageSize(ProjectConfiguration.PageSize)
                                     .Model(model =>
                                     {
                                         model.Id(p => p.EmployeeID);
                                         model.Field(p => p.Name);
                                     })
                                    .ServerOperation(true)
                                            .Read(read => read.Action(Actions.GetEmployeeAssignPage, Controllers.Management, new { area = Areas.Management }).Data("BindParametersEmployee").Type(HttpVerbs.Post))
                                    )
                                   .Resizable(resize => resize.Columns(true))
                                    )

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @*<div class="modal-footer box-footer">
                    <button type="button" class="btn btn-primary" id="btnExportToExcelEmp" onclick="ExportToExcel('employeeGrid');"><span>@ProjectSession.Resources.label.Common_ButtonExportToExcel</span></button>
                </div>*@
        </div>
    </div>
</div>

<script>

    validator = $('#frmIRItemIssue').validate({
        rules: {
            Qty: { required: true, range: [0, 999999999] },
            ReceivedQty: { required: true, range: [0, 999999999] },
            CanceledQty: { required: true, range: [0, 999999999] }
        },
        messages: {
            Qty: { required: '', range: '' },
            ReceivedQty: { required: '', range: '' },
            CanceledQty: { required: '', range: '' }
        }
    });

</script>

<script>
    $(function () {

        setIssueStatus();

        $("#employeeGrid tbody").on("dblclick", "tr[role='row']", function (e) {
            var grid = $("#employeeGrid").data("kendoGrid");
            var model = grid.dataItem(this);
            $("#employeeGridModal").modal("hide");

            if (EmpFrom == 1) {
                $('#SubWHSupId').val(model.EmployeeID);
                $("#supNo").val(model.EmployeeNO);
                $("#txtsupName").val(model.Name);
            }
            else if (EmpFrom == 2) {
                $('#SubWHIssueTechId').val(model.EmployeeID);
                $("#issueNo").val(model.EmployeeNO);
                $("#txtissueName").val(model.Name);
            }
        });

        $('#frmIRItemIssue').on('submit', function (e) {
            if ($("#frmIRItemIssue").valid()) {
                if (!e.isDefaultPrevented()) {
                    var ReceivedQty = $('#ReceivedQty').val();
                    var Qty = $('#Qty').val();
                    var CanceledQty = $('#CanceledQty').val();                    

                    ReceivedQty = (ReceivedQty == null || ReceivedQty == '') ? 0 : parseFloat(ReceivedQty);
                    Qty = (Qty == null || Qty == '') ? 0 : parseFloat(Qty);
                    CanceledQty = (CanceledQty == null || CanceledQty == '') ? 0 : parseFloat(CanceledQty);

                    if ((parseFloat(ReceivedQty) + parseFloat(CanceledQty)) > parseFloat(Qty)) {
                        ShowMessage('@SystemEnum.MessageType.danger.ToString()', '@ProjectSession.Resources.message.ItemRequisition_MsgMoreQty', '#divModelErrorIssue');
                        return false;
                    }
                    else if ((parseFloat(ReceivedQty) + parseFloat(CanceledQty)) == parseFloat(Qty)) {
                        var response = confirm('@ProjectSession.Resources.message.ItemRequisition_MsgItemFullyIssued');
                        if (response == false) {
                            return false;
                        }
                    }

                }
                else { e.preventDefault(); }
            }
            else {
                e.preventDefault();
            }
        });

    });

    function setIssueStatus() {
        try {
            if ('@Model.AvailableQty' == '0') {
                $('#txtIssueStatus').val('@ProjectSession.Resources.label.ItemRequisition_TextBlockFullyIssued');
            }
            else {
                $('#txtIssueStatus').val('@ProjectSession.Resources.label.ItemRequisition_TextBlockNotFullyIssued');
            }
        }
        catch (e) {
            console.log(e);
        }
    }
</script>
