﻿@model CMMS.Model.Asset
@using CMMS.Infrastructure;
@using CMMS.Pages;
@using CMMS.Model;
@{
    bool Lang = ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true;
}
<form id="frmAssetRelationship">
    <div class="form-horizontal">


        <div class="form-group">
            <label class="col-md-4 col-lg-2 control-label">@ProjectSession.Resources.label.Asset_TextBlockAssetNO</label>
            <div class=" col-md-8 col-lg-4 two-form-group">
                <div class="input-two">
                    <div class="input-group">
                        @Html.HiddenFor(model => model.AssetID, new { id = "hdnAssetID" })
                        @Html.TextBoxFor(model => model.AssetNumber, new {  @readonly = "readonly", @class = "form-control", @placeholder = ProjectSession.Resources.label.Asset_TextBlockAssetNO })
                    </div>
                    <div class="input-group">
                        @if (Lang)
                        {
                            @Html.TextBoxFor(model => model.AssetDescription, new {  @readonly = "readonly", @class = "form-control", @placeholder = ProjectSession.Resources.label.Asset_TextBlockAssetDescription })
                        }
                        else
                        {
                            @Html.TextBoxFor(model => model.AssetAltDescription, new {  @readonly = "readonly", @class = "form-control", @placeholder = ProjectSession.Resources.label.Asset_TextBlockAltAssetDescription })
                        }
                    </div>
                </div>
            </div>
        </div>


        <div class="form-group">
            <label class="col-md-4 col-lg-2 control-label"></label>
            <div class=" col-md-8 col-lg-4">
                @Html.CheckBox("chkShowChildJos", false, new { @id = "chkShowChildJos" }) @ProjectSession.Resources.label.JobOrder_CheckBoxShowChildJOs
            </div>
        </div>


        <h3 class="sub-title">
            <span>@ProjectSession.Resources.label.JobOrder_RadTabItemJobOrderHistory</span>
            <div class="sub_btn">
                @if (ProjectSession.PermissionAccess.Assets_Assets_Export)
                {
                    <a title="Export To Excel" onclick="ExportToExcel('JoHistoryGrid');" class="btn-icon btn-xsl" href="javascript:void(0);"><i></i></a>
                }
            </div>
        </h3>
        <div class="row">
            <div class="col-md-12">
                <div class="@ProjectSession.CultureKendoClass">
                    @(Html.Kendo().Grid<CMMS.Model.WorkOrder>()
                                    .Name("JoHistoryGrid")
                                    .Columns(columns =>
                                    {
                                        columns.Bound(c => c.WorkorderNo).Title(ProjectSession.Resources.label.JobOrder_TextBlockJobOrderNo).Width(200);

                                        columns.Bound(c => c.WorkStatus).Title(ProjectSession.Resources.label.JobStatus_TextBlockJobStatus).Width(200)
                                        .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterJobStatus", "GridFilter", new { area = string.Empty, @id = "3" }).Data("BindParameters").Type(HttpVerbs.Post))));

                                        columns.Bound(c => c.ProblemDescription).Title(ProjectSession.Resources.label.JobRequest_TextBlockProbDesc).Width(200);

                                        columns.Bound(c => c.ActionTaken).Title(ProjectSession.Resources.label.JobOrder_TextBlockActionTaken).Width(200);

                                        columns.Bound(c => c.DateReceived).ClientTemplate("#= DateTemplateWithTime(data.DateReceived) #").Title(ProjectSession.Resources.message.JobOrder_TextBlockReceivedDate).Width(200);

                                        columns.Bound(c => c.ActDateStart).ClientTemplate("#= DateTemplateWithTime(data.ActDateStart) #").Title(ProjectSession.Resources.label.JobOrder_TextBlockActualDateStart).Width(200);

                                        columns.Bound(c => c.ActDateEnd).ClientTemplate("#= DateTemplateWithTime(data.ActDateEnd) #").Title(ProjectSession.Resources.label.JobOrder_TextBlockActualDateEnd).Width(200);

                                        columns.Bound(c => c.AssetNumber).Title(ProjectSession.Resources.label.Asset_TextBlockAssetNO).Width(200);

                                        if (Lang)
                                            columns.Bound(c => c.AssetDescription).Title(ProjectSession.Resources.label.JobRequest_TextBlockAssetDescription).Width(200);
                                        else
                                            columns.Bound(c => c.AssetAltDescription).Title(ProjectSession.Resources.label.JobRequest_TextBlockAltAssetDescription).Width(200);

                                        if (Lang)
                                            columns.Bound(c => c.WorkTypeDescription).Title(ProjectSession.Resources.label.JobType_TextBlockJobType).Width(200)
                                             .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterJobType", "GridFilter", new { area = string.Empty, @id = "1" }).Data("BindParameters").Type(HttpVerbs.Post))));
                                        else
                                            columns.Bound(c => c.AltWorkTypeDescription).Title(ProjectSession.Resources.label.JobType_TextBlockAltJobType).Width(200)
                                            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterJobType", "GridFilter", new { area = string.Empty, @id = "2" }).Data("BindParameters").Type(HttpVerbs.Post))));

                                        columns.Bound(c => c.WorkPriority).Title(ProjectSession.Resources.label.JobRequest_TextBlockJobPriority).Width(200)
                                        .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterJobPriority", "GridFilter", new { area = string.Empty, @id = "3" }).Data("BindParameters").Type(HttpVerbs.Post))));

                                        if (Lang)
                                            columns.Bound(c => c.WorkTrade).Title(ProjectSession.Resources.label.JobTrade_TextBlockJobTrade).Width(200)
                                            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterJobTrade", "GridFilter", new { area = string.Empty, @id = "1" }).Data("BindParameters").Type(HttpVerbs.Post))));
                                        else
                                            columns.Bound(c => c.AltWorkTrade).Title(ProjectSession.Resources.label.JobTrade_TextBlockAltJobTrade).Width(200)
                                            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterJobTrade", "GridFilter", new { area = string.Empty, @id = "2" }).Data("BindParameters").Type(HttpVerbs.Post))));

                                        columns.Bound(c => c.MaintDivisionCode).Title(ProjectSession.Resources.label.MaintDivision_TextBlockMaintDiv).Width(200)
                                        .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterMaintenanceDivision", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

                                        columns.Bound(c => c.MaintDeptCode).Title(ProjectSession.Resources.label.MaintenanceDept_TextBlockMaintDept).Width(200)
                                        .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterMaintenanceDepartment", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

                                        columns.Bound(c => c.MaintSubDeptCode).Title(ProjectSession.Resources.label.MaintenanceSubDept_TextBlockMaintSubDept).Width(200)
                                        .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterMaintenanceSubDepartment", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));
                                    })
                                    .Filterable()
                                    .Sortable(sortable => sortable.AllowUnsort(false))
                                    .Scrollable()
                                            .Excel(excel => excel.FileName("Job Order History.xlsx").Filterable(true).AllPages(true).ProxyURL(Url.Action("Excel_Export_Save", "GridExport", new { area = string.Empty })))
                                    .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
                                            .Events(events => events.DataBound("onDataBoundJOHistory").ExcelExport("excelExport"))
                                    .DataSource(dataSource => dataSource.Ajax()
                                    .PageSize(ProjectConfiguration.PageSize)
                                     .Model(model =>
                                     {
                                         model.Id(p => p.WorkorderNo);
                                         model.Field(p => p.WorkorderNo);
                                     })
                                    .ServerOperation(true)
                                    .Read(read => read.Action(Actions.GetJobOrderByAssetID, Controllers.Transaction, new { area = Areas.Transaction }).Data("BindParametersJOHistory").Type(HttpVerbs.Post))
                                    )
                                    )

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="Profitability">
                    <div class="total-tablebox">
                        <table border="0" collapse="0">
                            <tbody>

                                <tr>
                                    <td class="label">@ProjectSession.Resources.label.Employee_TextBlockTotalManHrs</td>
                                    <td><span id="txtManHours"></span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="total-tablebox">
                        <table border="0" collapse="0">
                            <tbody>
                                <tr>
                                    <td class="label">@ProjectSession.Resources.label.Employee_TextBlockTotalLaborCost</td>
                                    <td><span id="txtLaborCost"></span></td>
                                </tr>
                                <tr>
                                    <td class="label">@ProjectSession.Resources.label.Employee_TextBlockTotalDirectIssueCost</td>
                                    <td><span id="txtDIC"></span></td>
                                </tr>
                                <tr>
                                    <td class="label">@ProjectSession.Resources.label.JobOrder_TotalItemCost</td>
                                    <td><span id="txtTIC"></span></td>
                                </tr>

                            </tbody>
                            <tfoot>
                                <tr>
                                    <td class="label">@ProjectSession.Resources.label.ItemRequisition_TextBlockGrandTotal</td>
                                    <td><span id="txtGrandTotal"></span></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</form>
<script>
    $(document).ready(function () {
        GetJobOrderDetail()
    });

    $('#chkShowChildJos').change(function () {
        ReBindKendoGrid("JoHistoryGrid");
        GetJobOrderDetail();
    });

    function GetJobOrderDetail() {
        $.ajax({
            url: '@Url.Action(Actions.GetJobOrderDetail, Controllers.Transaction, new { area = Areas.Transaction })',
            type: "POST",
            data: addRequestVerificationToken({ assetID: $('#hdnAssetID').val(), isShowChildJOs: $('#chkShowChildJos').is(":checked") }),
            success: function (result) {
                $('#txtManHours').text(result[0]);
                $('#txtLaborCost').text(result[1]);
                $('#txtDIC').text(result[2]);
                $('#txtTIC').text(result[3]);
                $('#txtGrandTotal').text(result[4]);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                ShowMessage('@SystemEnum.MessageType.danger.ToString()', '@ProjectSession.Resources.message.Common_MsgErrorContactAdmin', "#divMessage");
            }
        });
        }
</script>

