﻿@model CMMS.Model.WorkOrder
@using CMMS.Pages
@using CMMS.Infrastructure;
@{
    bool Lang = ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true;
}
<script type="text/javascript" src="~/Scripts/jquery.form.js"></script>
<style>
    .calendars-popup {
        z-index: 100000 !important;
    }
</style>
<div id="divModelErrorJoClosing"></div>
<div id="divContent">
    @using (Html.BeginForm(CMMS.Pages.Actions.SaveJOClosing, CMMS.Pages.Controllers.Transaction, new { area = CMMS.Pages.Areas.Transaction }, FormMethod.Post, new { id = "frmJoClosing", @role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.WorkTypeID)
        @Html.HiddenFor(model => model.WorkorderNo)

        <div class="form-horizontal">
            <div class="clearfix">
                <div class="col-md-6 col-lg-6">
                    <div class="form-group ">
                        <label class="col-md-4 col-lg-4 control-label">@ProjectSession.Resources.label.JobRequest_TextBlockWorkStatus</label>
                        <div class="col-md-8 col-lg-8">
                            <div class="@ProjectSession.CultureKendoClass">
                                @(Html.Kendo().DropDownListFor(model => model.WorkStatusID)
                                                .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                                .DataTextField("WorkStatus")
                                                .ValueTemplate(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "#:AltWorkStatus # " : "#:WorkStatus #")
                                                .DataValueField("WorkStatusID")
                                                .HtmlAttributes(new { style = "width: 100%", @required = "required", id = "ddlJobStatusJoClosing" })
                                                .Events(m => m.Change("ChangeWorkTypeJoClosing"))
                                                .Template(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "#:AltWorkStatus # " : "#:WorkStatus #")
                                                .DataSource(source =>
                                                {
                                                    source.Read(read =>
                                                    {
                                                        read.Action(Actions.GetAllJobStatusForDDL, Controllers.Configurations, new { area = Areas.Configurations }).Type(HttpVerbs.Get);
                                                    });
                                                })
                                               .Value(Convert.ToString(Model.WorkStatusID))
                                )
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="information-form">
            <h3 class="sub-title">
                <span>@ProjectSession.Resources.label.JobOrder_TextBlockDateTimeDetail</span>
                <div class="sub_btn">

                </div>
            </h3>
            <div class="assessment-box">
                <div class="row">
                    <div class="col-md-12 col-lg-6">
                        <div class="row"><div class="col-sm-6 partition-label">@ProjectSession.Resources.label.JobOrder_TextBlockAssesment @ProjectSession.Resources.label.JobOrder_TextBlockEstimated</div></div>
                        <div class="row">
                            <div class="form-group col-xs-12 col-md-6">
                                <div class="input-group date-pick">
                                    @Html.TextBoxFor(model => model.AstartDate, "{0:" + ProjectConfiguration.DefaultDateFormat + "}", new { placeholder = ProjectConfiguration.DefaultDateFormat, @class = "form-control calendarsPicker", id = "txtAStartDate" })
                                </div>
                            </div>
                            <div class="form-group col-xs-12 col-md-6">
                                <div>
                                    @(Html.Kendo().TimePickerFor(model => model.AstartTime)
                                    .Value(Model.AstartTime != null ? Model.AstartTime : new DateTime())
                                           .Min("12:00 AM")
                                           .Max("11:00 PM")
                                           .Interval(30)
                                           .HtmlAttributes(new { style = "width: 100%", @id = "ddlAStartTime", @onkeydown = "return false" })
                                    )
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6">
                        <div class="row"><div class="col-sm-6 partition-label">@ProjectSession.Resources.label.JobOrder_TextBlockAssesment @ProjectSession.Resources.label.JobOrder_TextBlockActual</div></div>
                        <div class="row">
                            <div class="form-group col-xs-12 col-md-6">
                                <div class="input-group date-pick">
                                    @Html.TextBoxFor(model => model.AEndDate, "{0:" + ProjectConfiguration.DefaultDateFormat + "}", new { placeholder = ProjectConfiguration.DefaultDateFormat, @class = "form-control calendarsPicker", id = "txtAEndDate" })
                                </div>
                            </div>
                            <div class="form-group col-xs-12 col-md-6">
                                <div>
                                    @(Html.Kendo().TimePickerFor(model => model.AEndTime)
                                            .Value(Model.AEndTime != null ? Model.AEndTime : new DateTime())
                                           .Min("12:00 AM")
                                           .Max("11:00 PM")
                                           .Interval(30)
                                           .HtmlAttributes(new { style = "width: 100%", @id = "ddlAEndTime", @onkeydown = "return false" })
                                    )
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="assessment-box">
                <div class="row">
                    <div class="col-md-12 col-lg-6">
                        <div class="row"><div class="col-sm-6 partition-label">@ProjectSession.Resources.label.JobOrder_TextBlockStart @ProjectSession.Resources.label.JobOrder_TextBlockEstimated</div></div>
                        <div class="row">
                            <div class="form-group col-xs-12 col-md-6">
                                <div class="input-group date-pick">
                                    @Html.TextBoxFor(model => model.EstDateStart, "{0:" + ProjectConfiguration.DefaultDateFormat + "}", new { placeholder = ProjectConfiguration.DefaultDateFormat, @class = "form-control calendarsPicker", id = "txtEstDateStart" })
                                </div>
                            </div>
                            <div class="form-group col-xs-12 col-md-6">
                                <div>
                                    @(Html.Kendo().TimePickerFor(model => model.EstTimeStart)
                                            .Value(Model.EstTimeStart != null ? Model.EstTimeStart : new DateTime())
                                           .Min("12:00 AM")
                                           .Max("11:00 PM")
                                            .Events(events => events.Change("onChangeEstimated"))
                                           .Interval(30)
                                           .HtmlAttributes(new { style = "width: 100%", @id = "ddlEstTimeStart", @onkeydown = "return false" })
                                    )
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6">
                        @{
        bool isActDatesMandatory = Model.WorkStatusID == 3 ? true : false;
        string ActDateDisplay = "none;";
        if (isActDatesMandatory)
        {
            ActDateDisplay = "";
        }
                        }
                        <div class="row">
                            <div class="col-sm-6 partition-label">
                                @ProjectSession.Resources.label.JobOrder_TextBlockStart @ProjectSession.Resources.label.JobOrder_TextBlockActual
                                <span style="display:@ActDateDisplay" id="spanReqActDateStart" class="cfont">*</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-xs-12 col-md-6">
                                <div class="input-group date-pick">
                                    @Html.TextBoxFor(model => model.ActDateStart, "{0:" + ProjectConfiguration.DefaultDateFormat + "}", new { placeholder = ProjectConfiguration.DefaultDateFormat, @class = "form-control calendarsPicker", id = "txtActDateStart" })
                                </div>
                            </div>
                            <div class="form-group col-xs-12 col-md-6">
                                <div>
                                    @(Html.Kendo().TimePickerFor(model => model.ActTimeStart)
                                            .Value(Model.ActTimeStart != null ? Model.ActTimeStart : new DateTime())
                                           .Min("12:00 AM")
                                           .Max("11:00 PM")
                                            .Events(events => events.Change("onChangeActual"))
                                           .Interval(30)
                                           .HtmlAttributes(new { style = "width: 100%", @id = "ddlActTimeStart", @onkeydown = "return false" })
                                    )
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="assessment-box">
                <div class="row">
                    <div class="col-md-12 col-lg-6">
                        <div class="row"><div class="col-sm-6 partition-label">@ProjectSession.Resources.label.JobOrder_TextBlockEnd @ProjectSession.Resources.label.JobOrder_TextBlockEstimated</div></div>
                        <div class="row">
                            <div class="form-group col-xs-12 col-md-6">
                                <div class="input-group date-pick">
                                    @Html.TextBoxFor(model => model.EstDateEnd, "{0:" + ProjectConfiguration.DefaultDateFormat + "}", new { placeholder = ProjectConfiguration.DefaultDateFormat, @class = "form-control calendarsPicker", id = "txtEstDateEnd" })
                                </div>
                            </div>
                            <div class="form-group col-xs-12 col-md-6">
                                <div>
                                    @(Html.Kendo().TimePickerFor(model => model.EstTimeEnd)
                                            .Value(Model.EstTimeEnd != null ? Model.EstTimeEnd : new DateTime())
                                           .Min("12:00 AM")
                                           .Max("11:00 PM")
                                            .Events(events => events.Change("onChangeEstimated"))
                                           .Interval(30)
                                           .HtmlAttributes(new { style = "width: 100%", @id = "ddlEstTimeEnd", @onkeydown = "return false" })
                                    )
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6">
                        <div class="row">
                            <div class="col-sm-6 partition-label">
                                @ProjectSession.Resources.label.JobOrder_TextBlockEnd @ProjectSession.Resources.label.JobOrder_TextBlockActual
                                <span style="display:@ActDateDisplay" id="spanReqActDateEnd" class="cfont">*</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-xs-12 col-md-6">
                                <div class="input-group date-pick">
                                    @Html.TextBoxFor(model => model.ActDateEnd, "{0:" + ProjectConfiguration.DefaultDateFormat + "}", new { placeholder = ProjectConfiguration.DefaultDateFormat, @class = "form-control calendarsPicker", id = "txtActDateEnd" })
                                </div>
                            </div>
                            <div class="form-group col-xs-12 col-md-6">
                                <div>
                                    @(Html.Kendo().TimePickerFor(model => model.ActTimeEnd)
                                            .Value(Model.ActTimeEnd != null ? Model.ActTimeEnd : new DateTime())
                                           .Min("12:00 AM")
                                           .Max("11:00 PM")
                                           .Events(events => events.Change("onChangeActual"))
                                           .Interval(30)
                                           .HtmlAttributes(new { style = "width: 100%", @id = "ddlActTimeEnd", @onkeydown = "return false" })
                                    )
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="information-form">
            <h3 class="sub-title">
                <span>@ProjectSession.Resources.label.JobOrder_TextBlockPMDates</span>
                <div class="sub_btn">

                </div>
            </h3>
            <div class="assessment-box">
                <div class="row">
                    <div class="col-md-12 col-lg-6">
                        <div class="row"><div class="col-sm-6 partition-label">@ProjectSession.Resources.label.JobOrder_TextBlockPMTargetStartDate </div></div>
                        <div class="row">
                            <div class="form-group col-xs-12 col-md-6">
                                <div class="input-group date-pick">
                                    @Html.TextBoxFor(model => model.PMTarStartDate, "{0:" + ProjectConfiguration.DefaultDateFormat + "}", new { placeholder = ProjectConfiguration.DefaultDateFormat, @class = "form-control calendarsPicker", id = "txtPMTarStartDate" })
                                </div>
                            </div>
                            <div class="form-group col-xs-12 col-md-6">
                                <div>
                                    @(Html.Kendo().TimePickerFor(model => model.PMTarStartTime)
                                            .Value(Model.PMTarStartTime != null ? Model.PMTarStartTime : new DateTime())
                                           .Min("12:00 AM")
                                           .Max("11:00 PM")
                                           .Interval(30)
                                            .HtmlAttributes(new { style = "width: 100%", @id = "ddlPMTarStartTime", @onkeydown = "return false" })
                                    )
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6">
                        <div class="row"><div class="col-sm-6 partition-label">@ProjectSession.Resources.label.JobOrder_TextBlockPMTargetEndDate </div></div>
                        <div class="row">
                            <div class="form-group col-xs-12 col-md-6 col-md-6">
                                <div class="input-group date-pick">
                                    @Html.TextBoxFor(model => model.PMTarCompDate, "{0:" + ProjectConfiguration.DefaultDateFormat + "}", new { placeholder = ProjectConfiguration.DefaultDateFormat, @class = "form-control calendarsPicker", id = "txtPMTarCompDate" })
                                </div>
                            </div>
                            <div class="form-group col-xs-12 col-md-6">
                                <div>
                                    @(Html.Kendo().TimePickerFor(model => model.PMTarCompTime)
                                            .Value(Model.PMTarCompTime != null ? Model.PMTarCompTime : new DateTime())
                                           .Min("12:00 AM")
                                           .Max("11:00 PM")
                                           .Interval(30)
                                            .HtmlAttributes(new { style = "width: 100%", @id = "ddlPMTarCompTime", @onkeydown = "return false" })
                                    )
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        if (Model.WorkTypeID == 2 && Model.WOPMtype == "2")
        {
            <div class="information-form">
                <h3 class="sub-title">
                    <span>@ProjectSession.Resources.label.JobOrder_TextBlockPMMeter</span>
                    <div class="sub_btn">

                    </div>
                </h3>

                <div class="row">
                    <div class="form-group col-sm-6 md-6">
                        <label class="form-label">@ProjectSession.Resources.label.JobOrder_TextBlockLatestMeterReading</label>
                        @Html.TextBoxFor(model => model.PMMetReading, "{0:0.00}", new { @readonly = "readonly", @class = "form-control" })
                    </div>
                    <div class="form-group col-sm-6 md-6">
                        <label class="form-label">@ProjectSession.Resources.label.JobOrder_TextBlockMeterReadingAfterPM</label>
                        @Html.TextBox("PmMeterReadingAfterPM", "0.00", "{0:0.00}", new { @id = "txtPmMeterReadingAfterPM", @class = "form-control decimalnumber" })
                    </div>
                </div>
            </div>
        }

        <div class="information-form cus-form">
            <h3 class="sub-title">
                <span>@ProjectSession.Resources.label.Common_TextBlockOtherInfo</span>
                <div class="sub_btn">

                </div>
            </h3>
            <div class="row">
                <div class="form-group col-sm-12">
                    <label class="form-label">
                        @ProjectSession.Resources.label.JobOrder_TextBlockCauseDescription
                        <span id="spanReqCauseDesc" class="cfont">*</span>
                    </label>
                    @Html.TextAreaFor(model => model.CauseDescription, new { @MaxLength = 6000, @class = "form-control", @rows = "3", @placeholder = ProjectSession.Resources.label.Common_Enter + " " + ProjectSession.Resources.label.JobOrder_TextBlockCauseDescription })
                </div>
                <div class="form-group col-sm-12">
                    <label class="form-label">@ProjectSession.Resources.label.JobOrder_TextBlockActionTaken</label>
                    @Html.TextAreaFor(model => model.ActionTaken, new { @MaxLength = 4000, @class = "form-control", @rows = "3", @placeholder = ProjectSession.Resources.label.Common_Enter + " " + ProjectSession.Resources.label.JobOrder_TextBlockActionTaken })
                </div>
                <div class="form-group col-sm-12">
                    <label class="form-label">@ProjectSession.Resources.label.JobOrder_TextBlockPreventionTaken</label>
                    @Html.TextAreaFor(model => model.PreventionTaken, new { @MaxLength = 4000, @class = "form-control", @rows = "3", @placeholder = ProjectSession.Resources.label.Common_Enter + " " + ProjectSession.Resources.label.JobOrder_TextBlockPreventionTaken })
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6 col-md-6 col-lg-4">
                    <label class="form-label">@ProjectSession.Resources.label.FailureCodes_TextBlockFailureCode</label>
                    <div class="@ProjectSession.CultureKendoClass">
                        @(Html.Kendo().DropDownListFor(model => model.FailureCauseID)
                                                .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                                .DataTextField("FailureCauseCode")
                                                .ValueTemplate(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "#:FailureCauseCode # -- #: FailureCauseAltDescription # " : "#:FailureCauseCode # -- #: FailureCauseDescription #")
                                                .DataValueField("FailureCauseID")
                                                .HtmlAttributes(new { style = "width: 100%", id = "ddlFailureCauseJoClosing" })
                                                .Template("#= KendoDDLTemplate(data.FailureCauseCode ,data.FailureCauseDescription, data.FailureCauseAltDescription) #")
                                                .DataSource(source =>
                                                {
                                                    source.Read(read =>
                                                    {
                                                        read.Action(Actions.GetAllFailureCauseListForDDL, Controllers.Configurations, new { area = Areas.Configurations }).Type(HttpVerbs.Get);
                                                    });
                                                })
                                                .Value(Convert.ToString(Model.FailureCauseID))
                        )
                    </div>
                </div>
                <div class="form-group col-sm-6 col-md-6 col-lg-4">
                    <label class="form-label">@ProjectSession.Resources.label.JobOrder_TextBlockCustomerFeedback</label>
                    <div class="@ProjectSession.CultureKendoClass">
                        @(Html.Kendo().DropDownListFor(model => model.RatingsID)
                                                .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                                .DataTextField("RateNo")
                                                    .ValueTemplate(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "#:RateNo # -- #: AltDescription # " : "#:RateNo # -- #: Description #")
                                                .DataValueField("RateID")
                                                .HtmlAttributes(new { style = "width: 100%", id = "ddlRatingsJoClosing" })
                                                .Template("#= KendoDDLTemplate(data.RateNo ,data.Description, data.AltDescription) #")
                                                .DataSource(source =>
                                                {
                                                    source.Read(read =>
                                                    {
                                                        read.Action(Actions.GetAllRatingsForDDL, Controllers.Transaction, new { area = Areas.Transaction }).Type(HttpVerbs.Get);
                                                    });
                                                })
                                                .Value(Convert.ToString(Model.RatingsID))
                        )
                    </div>
                </div>
                <div class="form-group col-sm-6 col-md-6 col-lg-4">
                    <label class="form-label">@ProjectSession.Resources.label.CostCenter_TextBlockCostCenter</label>
                    <div class="@ProjectSession.CultureKendoClass">
                        @(Html.Kendo().DropDownListFor(model => model.CostCenterId)
                                                .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                                .DataTextField("CostCenterNo")
                                    .ValueTemplate(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "#:CostCenterNo # -- #: AltCostCenterName # " : "#:CostCenterNo # -- #: CostCenterName #")
                                                .DataValueField("CostCenterId")
                                                .HtmlAttributes(new { style = "width: 100%", id = "ddlCostCenterJoClosing" })
                                                .Template("#= KendoDDLTemplate(data.CostCenterNo ,data.CostCenterName, data.AltCostCenterName) #")
                                                .DataSource(source =>
                                                {
                                                    source.Read(read =>
                                                    {
                                                        read.Action(Actions.GetAllCostCenterForDDL, Controllers.Configurations, new { area = Areas.Configurations }).Type(HttpVerbs.Get);
                                                    });
                                                })
                                                .Value(Convert.ToString(Model.CostCenterId))
                        )
                    </div>
                </div>
                <div class="form-group col-sm-6 col-md-6 col-lg-4">
                    <label class="form-label">@ProjectSession.Resources.label.AccountCode_TextBlockAccountCode</label>
                    <div class="@ProjectSession.CultureKendoClass">
                        @(Html.Kendo().DropDownListFor(model => model.Accountcodeid)
                                                .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                                .DataTextField("AccountCode")
                                                .ValueTemplate(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "#:AccountCode # -- #: AltAccountCodeDesc # " : "#:AccountCode # -- #: AccountCodeDesc #")
                                                .DataValueField("AccCodeid")
                                                .HtmlAttributes(new { style = "width: 100%", id = "ddlAccCodesJoClosing" })
                                                .Template("#= KendoDDLTemplate(data.AccountCode ,data.AccountCodeDesc, data.AltAccountCodeDesc) #")
                                                .DataSource(source =>
                                                {
                                                    source.Read(read =>
                                                    {
                                                        read.Action(Actions.GetAllAccountCodesForDDL, Controllers.Configurations, new { area = Areas.Configurations }).Data("filterAccountCodes").Type(HttpVerbs.Get);
                                                    }).ServerFiltering(true);
                                                })
                                                .CascadeFrom("ddlCostCenterJoClosing")
                                                .AutoBind(true)
                                                .Value(Convert.ToString(Model.Accountcodeid))
                        )
                    </div>
                    <script>
                        $('#ddlCostCenterJoClosing').addClass('disabled');
                        $('#ddlAccCodesJoClosing').addClass('disabled');
                        $('#ddlRatingsJoClosing').addClass('disabled');
                        $('#ddlFailureCauseJoClosing').addClass('disabled');
                        // By: Akif519
                        function filterAccountCodes() {
                            return {
                                accountCodeId: '@Model.Accountcodeid',
                                costCenterId: ($('#ddlCostCenterJoClosing') != undefined && $('#ddlCostCenterJoClosing') != null && $('#ddlCostCenterJoClosing').val() != undefined && $('#ddlCostCenterJoClosing').val() != null && $('#ddlCostCenterJoClosing').val() != "" ? $('#ddlCostCenterJoClosing').val() : 0)
                            };
                        }
                    </script>
                </div>
           
                <div class="form-group two-form-group col-sm-6 col-md-6 col-lg-4">
                    <label class="form-label">@ProjectSession.Resources.label.JobOrder_TextBlockAcceptedby</label>
                    <div class="input-group pm-checklist">
                        @Html.HiddenFor(model => model.AcceptedbyID, new { @id = "hdnAcceptedByEmpID" })
                        @Html.TextBoxFor(model => model.AcceptedByEmpNo, new { @class = "form-control code-input", @readonly = "readonly", @id = "txtAcceptedByEmpNo", @Placeholder = @ProjectSession.Resources.label.Employee_TextBlockEmployeeNO })
                        @(Html.Kendo().AutoCompleteFor(model => model.AcceptedByEmpName)
                                     .DataTextField("Name")
                                    .HtmlAttributes(new { @class = "form-control", @id = "txtAcceptedByEmpName" })
                                    .Filter("contains")
                        .Template("#= KendoDDLTemplateForTwoColumn( data.EmployeeNO, data.Name) #")
                                    .MinLength(3)
                                    .Placeholder(ProjectSession.Resources.label.Employee_TextBlockEmployeeName)
                                    .Events(m => m.Select("onJOCloseEmployeeAutoSelect"))
                                    .DataSource(source =>
                                     {
                                         source.Read(read =>
                                         {
                                             read.Action(Actions.GetEmployeeAssignPageAutoDDL, Controllers.AutoComplete, new { area = Areas.Configurations }).Data("onJOCloseEmployeeAdditionalData");
                                         })
                                     .ServerFiltering(true);
                                     })
                                .Value(Convert.ToString(Model.AcceptedByEmpName))
                        )

                        <a href="#" class="checklis-btn disabled" data-toggle="modal" id="btnOpenAcceptedByPopUp" data-backdrop="static" onclick="OpenEmployeePopUp(2)">
                            <img src="../images/checklis-icon.png" alt="">
                        </a>
                        <a href="javascript:void(0)" class="close-btn" id="btnClearAcceptedBy" title="@ProjectSession.Resources.label.Common_ButtonClear" onclick="ClearAcceptedBy();">
                            <img src="../images/close.png" alt="">
                        </a>
                    </div>

                </div>
                <div class="form-group col-sm-6 col-md-6 col-lg-4">
                    <label class="form-label">@ProjectSession.Resources.label.JobOrder_TextBlockJOClosedby</label>
                    @Html.TextBoxFor(model => model.WOclosebyName, new { @class = "form-control", @readonly = "readonly", @id = "txtJoClosedByName", @placeholder = ProjectSession.Resources.label.JobOrder_TextBlockJOClosedby })
                </div>
           
                <div class="form-group col-sm-6 col-md-6 col-lg-4">
                    <label class="form-label">@ProjectSession.Resources.label.JobOrder_TextBlockHandoverDateTime</label>
                    <div class="input-group date-pick">
                        @Html.TextBoxFor(model => model.DateHandover, "{0:" + ProjectConfiguration.DefaultDateFormat + "}", new { placeholder = ProjectConfiguration.DefaultDateFormat, @class = "form-control calendarsPicker", id = "txtDateHandover" })
                    </div>
                </div>
                <div class="form-group col-sm-6 col-md-6 col-lg-4">
                    <label class="form-label">@ProjectSession.Resources.label.JobOrder_TextBlockHandoverTime</label>
                    <div>
                        @(Html.Kendo().TimePickerFor(model => model.TimeHandover)
           .Value(Model.TimeHandover != null ? Model.TimeHandover : new DateTime())
                                               .Min("12:00 AM")
                                               .Max("11:00 PM")
                                               .Interval(30)
                                   .HtmlAttributes(new { style = "width: 100%", @id = "ddlTimeHandover", @onkeydown = "return false" })
                        )
                    </div>
                </div>
            
                <div class="form-group col-sm-6 col-md-6 col-lg-4">
                    <label class="form-label">@ProjectSession.Resources.label.JobOrder_TextBlockRepairDownTime</label>
                    @Html.TextBoxFor(model => model.DownTime, "{0:0.00}", new { @MaxLength = 18, @class = "form-control decimalnumber", id = "txtDownTime" })
                </div>
                <div class="form-group col-sm-6 col-md-6 col-lg-4">
                    <label class="form-label">@ProjectSession.Resources.label.JobOrder_TextBlockEstimatedDuration</label>
                    @Html.TextBoxFor(model => model.EstDuration, "{0:0.00}", new { @MaxLength = 18, @class = "form-control decimalnumber", id = "txtEstDuration" })
                </div>
            </div>
        </div>

        <div class="box-footer">

            @{

        if (ProjectSession.PermissionAccess.JobOrder_JobOrder_Editrecords && Model.WorkStatusID != 3 && Model.WorkStatusID != 2)
        {
            <button class="btn btn-primary" id="btnSaveJoClosing" onclick="SaveJoClosing()" title="@ProjectSession.Resources.label.Common_ButtonSave" type="button"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
        }
            }
            <button class="btn btn-default" type="button" onclick="location.href = '@Url.Action(Actions.JobOrderList, Controllers.Transaction, new { @area = Areas.Transaction })';"><span>@ProjectSession.Resources.label.Common_ButtonCancel</span></button>
        </div>
    }
</div>

<script type="text/javascript">
    function ChangeWorkTypeJoClosing(e) {

        var jobStatus = $('#ddlJobStatusJoClosing').val();
        $('#spanReqActDateStart').css('display', 'none');
        $('#spanReqActDateEnd').css('display', 'none');
        $('#spanReqCauseDesc').css('display', 'none');

        if (jobStatus == '@SystemEnum.WorkRequestStatus.Closed.GetHashCode()') {
            $('#txtActDateStart').removeAttr('disabled');
            $('#ddlActTimeStart').data("kendoTimePicker").enable(true);
            $('#spanReqActDateStart').css('display', '');
            $('#spanReqActDateEnd').css('display', '');

            $('#txtActDateEnd').removeAttr('disabled');
            $('#ddlActTimeEnd').data("kendoTimePicker").enable(true);

            if ('@Model.WorkTypeID' == '@SystemEnum.WorkType.ManualPreventive.GetHashCode()') {
                $('#txtPMTarStartDate').removeAttr('disabled');
                $('#ddlPMTarStartTime').data("kendoTimePicker").enable(true);

                $('#txtPMTarCompDate').removeAttr('disabled');
                $('#ddlPMTarCompTime').data("kendoTimePicker").enable(true);
            }
        }
        else if (jobStatus == '@SystemEnum.WorkRequestStatus.Cancelled.GetHashCode()') {
            $('#txtActDateStart').attr('disabled', 'disabled');
            $('#ddlActTimeStart').data("kendoTimePicker").enable(false);
            $('#spanReqCauseDesc').css('display', '');

            $('#txtActDateEnd').attr('disabled', 'disabled');
            $('#ddlActTimeEnd').data("kendoTimePicker").enable(false);

            $('#txtPMTarStartDate').attr('disabled', 'disabled');
            $('#ddlPMTarStartTime').data("kendoTimePicker").enable(false);

            $('#txtPMTarCompDate').attr('disabled', 'disabled');
            $('#ddlPMTarCompTime').data("kendoTimePicker").enable(false);
        }
        else if (jobStatus == '@SystemEnum.WorkRequestStatus.Completed.GetHashCode()') {
            $('#txtActDateStart').removeAttr('disabled');
            $('#ddlActTimeStart').data("kendoTimePicker").enable(true);

            $('#txtActDateEnd').removeAttr('disabled');
            $('#ddlActTimeEnd').data("kendoTimePicker").enable(true);

            $('#txtPMTarStartDate').attr('disabled', 'disabled');
            $('#ddlPMTarStartTime').data("kendoTimePicker").enable(false);

            $('#txtPMTarCompDate').attr('disabled', 'disabled');
            $('#ddlPMTarCompTime').data("kendoTimePicker").enable(false);
        }
        else {
            $('#txtActDateStart').attr('disabled', 'disabled');
            $('#ddlActTimeStart').data("kendoTimePicker").enable(false);

            $('#txtActDateEnd').attr('disabled', 'disabled');
            $('#ddlActTimeEnd').data("kendoTimePicker").enable(false);

            $('#txtPMTarStartDate').attr('disabled', 'disabled');
            $('#ddlPMTarStartTime').data("kendoTimePicker").enable(false);

            $('#txtPMTarCompDate').attr('disabled', 'disabled');
            $('#ddlPMTarCompTime').data("kendoTimePicker").enable(false);

            try { $('#btnAmmendJO').css('display', 'none'); } catch (err) { }

            if ('@Model.WorkTypeID' == '@SystemEnum.WorkType.ManualPreventive.GetHashCode()') {
                $('#txtPMTarStartDate').removeAttr('disabled');
                $('#ddlPMTarStartTime').data("kendoTimePicker").enable(true);

                $('#txtPMTarCompDate').removeAttr('disabled');
                $('#ddlPMTarCompTime').data("kendoTimePicker").enable(true);
            }
        }
    }

    $(function () {
        ChangeWorkTypeJoClosing(null);
    });


    $('#txtEstDateStart').focusout(function () {
        onChangeEstimated();
    });
    $('#txtEstDateEnd').focusout(function () {
        onChangeEstimated();
    });
    function onChangeEstimated() {
        setTimeout(function () {
            if ($('#ddlEstTimeStart').val() != 'undefined' && $('#ddlEstTimeStart').val() != null && $('#ddlEstTimeStart').val() != '' && $('#txtEstDateStart').val() != 'undefined' && $('#txtEstDateStart').val() != null && $('#txtEstDateStart').val() != '') {
                if ($('#ddlEstTimeEnd').val() != 'undefined' && $('#ddlEstTimeEnd').val() != null && $('#ddlEstTimeEnd').val() != '' && $('#txtEstDateEnd').val() != 'undefined' && $('#txtEstDateEnd').val() != null && $('#txtEstDateEnd').val() != '') {
                    DatetimeAjaxCall($('#txtEstDateStart').val(), $('#ddlEstTimeStart').val(), $('#txtEstDateEnd').val(), $('#ddlEstTimeEnd').val(), '@Model.WorkTypeID', 0);
                }
            }
        }, 100);
    }

    $('#txtActDateStart').focusout(function () {
        onChangeActual();
    });
    $('#txtActDateEnd').focusout(function () {
        onChangeActual();
    });

    function onChangeActual() {
        setTimeout(function () {
            if ($('#ddlActTimeStart').val() != 'undefined' && $('#ddlActTimeStart').val() != null && $('#ddlActTimeStart').val() != '' && $('#txtActDateStart').val() != 'undefined' && $('#txtActDateStart').val() != null && $('#txtActDateStart').val() != '') {
                if ($('#ddlActTimeEnd').val() != 'undefined' && $('#ddlActTimeEnd').val() != null && $('#ddlActTimeEnd').val() != '' && $('#txtActDateEnd').val() != 'undefined' && $('#txtActDateEnd').val() != null && $('#txtActDateEnd').val() != '') {
                    DatetimeAjaxCall($('#txtActDateStart').val(), $('#ddlActTimeStart').val(), $('#txtActDateEnd').val(), $('#ddlActTimeEnd').val(), '@Model.WorkTypeID', 1);
                }
            }
        }, 100);
    }
    function DatetimeAjaxCall(dt1, t1, dt2, t2, extraParam, type) {
        var objData = {
            date1: dt1, //encodeURIComponent(dt1),
            time1: t1,//encodeURIComponent(t1),
            date2: dt2, //encodeURIComponent(dt2),
            time2: t2,//encodeURIComponent(t2),
            extraParam: extraParam,//encodeURIComponent(extraParam),
            type: type, //encodeURIComponent(type)
        };

        $.ajax({
            url: '@Url.Action(CMMS.Pages.Actions.CompareDateTime, CMMS.Pages.Controllers.Transaction, new { area = CMMS.Pages.Areas.Transaction })',
            type: "GET",
            data: objData,
            dataType: "json",
            success: function (result) {
                OnDateTimeCompareSucces(result);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                showErrorMessage();
            }
        });
    }

    function OnDateTimeCompareSucces(result) {
        if (result != null && typeof result != 'undefined') {

            if (result.ErrorMessage != null && result.ErrorMessage != '') {
                ShowMessage('@SystemEnum.MessageType.danger', result.ErrorMessage, '#divModelError');
                return true;
            }

            if (result.Type == 0) {
                if (result.Message != null && result.Message != '') {
                    ShowMessage('@SystemEnum.MessageType.danger', result.Message, '#divModelError');
                    $('#txtEstDateStart').val($('#txtEstDateEnd').val());
                    $('#ddlEstTimeStart').val($('#ddlEstTimeEnd').val());
                }
                else {
                    if (result.DifferenceInMinutes != null && typeof result.DifferenceInMinutes != 'undefined') {
                        $('#txtEstDuration').val(result.DifferenceInMinutes);
                    }
                }
            }
            else if (result.Type == 1) {
                if (result.Message != null && result.Message != '') {
                    ShowMessage('@SystemEnum.MessageType.danger', result.Message, '#divModelError');
                    $('#txtActDateStart').val($('#txtActDateEnd').val());
                    $('#ddlActTimeStart').val($('#ddlActTimeEnd').val());
                }
                else {
                    if (result.DifferenceInMinutes != null && typeof result.DifferenceInMinutes != 'undefined') {
                        $('#txtDownTime').val(result.DifferenceInMinutes);
                    }
                }
            }
        }
    }

    function SaveJoClosing() {
        $('#frmJoClosing').submit();
    }

    $('#frmJoClosing').validate({
        rules: {
            DownTime: { number: true, range: [0, 999999999] },
            EstDuration: { number: true, range: [0, 999999999] }
        },
        messages: {
            DownTime: { number: '', range: '' },
            EstDuration: { number: '', range: '' }
        }
    });

    function onSuccessJoClosing(responseText, statusText, xhr, $form) {
        ShowMessage(responseText[1], responseText[2], "#divModelError");
        if (responseText[0] == "notvalidtoclose") {
            SelectTab('tbl2');
        }
        else {
            $('#lblMainJobStatus').html($('#ddlJobStatusJoClosing').data("kendoDropDownList").text());
            $('#hdnWorkStatusID').val($('#ddlJobStatusJoClosing').val());
            if ($('#hdnWorkStatusID').val() == '2' || $('#hdnWorkStatusID').val() == '3' || $('#hdnWorkStatusID').val() == '8') {
                window.location.href = '@Url.Action(Actions.GetJOByJobOrderNo, Controllers.Transaction, new { area = Areas.Transaction })' + '?workOrderNo=' + '@Model.WorkorderNo' + '&assetID=' + '@Model.AssetID';
            }
        }
        return false;
    }

    function ValidateJoClosing() {
        try {

            var objData = {
                workTypeID: '@Model.WorkTypeID',
                pmaintenenceID: ('@Model.PMID' == undefined || '@Model.PMID' == 'undefined' || '@Model.PMID' == null || '@Model.PMID' == 'NULL' || '@Model.PMID' == '') ? 0 : '@Model.PMID',
                jobStatusId: $('#ddlJobStatusJoClosing').val()
            };

            $.ajax({
                url: '@Url.Action(CMMS.Pages.Actions.ValidateJOClosing, CMMS.Pages.Controllers.Transaction, new { area = CMMS.Pages.Areas.Transaction })',
                type: "GET",
                data: objData,
                dataType: "json",
                async: true,
                success: function (result) {

                    if (result.length > 1) {
                        var returnVal = result[0];
                        if (returnVal == false) {
                            ShowMessage('@SystemEnum.MessageType.danger', result[1], '#divModelError');
                        }
                        else {
                            if ($('#ddlJobStatusJoClosing').val() == '@SystemEnum.WorkRequestStatus.Closed.GetHashCode()') {
                                var response = confirm('@ProjectSession.Resources.message.JobOrder_MsgCloseJOConfirm');

                                if (response) {
                                    var options = {
                                        success: onSuccessJoClosing,  // post-submit callback
                                        data: addRequestVerificationToken($('#frmJoClosing').serialize())
                                    };
                                    $('#frmJoClosing').ajaxSubmit(options);
                                }
                                else { return false; }
                            }
                            else {
                                var options = {
                                    success: onSuccessJoClosing,  // post-submit callback
                                    data: addRequestVerificationToken($('#frmJoClosing').serialize())
                                };
                                $('#frmJoClosing').ajaxSubmit(options);
                            }

                            return false;
                        }
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                    return false;
                }
            });
        } catch (err) { return false; }
    }
</script>

@if (ProjectSession.PermissionAccess.JobOrder_JobOrder_Editrecords && ProjectSession.PermissionAccess.JobOrder_JobOrder_CloseJobOrder && Model.WorkStatusID != 3 && Model.WorkStatusID != 2)
{ 
    <script type="text/javascript">
        $('#frmJoClosing').submit(function (e) {
            var blnValid = true;
            var blnfocused = false;
            $('.kendoDrpRequired').removeClass('kendoDrpRequired');

            if ($("#frmJoClosing").valid()) {
                if (!reValidateDropDowns($(this))) {
                    blnValid = false;
                    window.scrollTo(0, 0);
                }
            }
            else {
                blnValid = false;
            }

            if (blnValid) {
                if ($('#ddlJobStatusJoClosing').val() == '@SystemEnum.WorkRequestStatus.Closed.GetHashCode()') {   ///Closed
                    if ($.trim($("#txtActDateStart").val()) == '') {
                        $("#txtActDateStart").addClass("kendoDrpRequired");
                        $("#txtActDateStart").focus();
                        blnValid = false;
                        blnfocused = true;
                    }
                    else {
                        $("#txtActDateStart").removeClass("kendoDrpRequired");
                    }

                    if ($.trim($("#ddlActTimeStart").val()) == '') {
                        $("#ddlActTimeStart").addClass("kendoDrpRequired");
                        if (blnfocused == false) {
                            $("#ddlActTimeStart").focus();
                        }
                        blnValid = false;
                        blnfocused = true;
                    }
                    else {
                        $("#ddlActTimeStart").removeClass("ddlActTimeStart");
                    }

                    if ($.trim($("#txtActDateEnd").val()) == '') {
                        $("#txtActDateEnd").addClass("kendoDrpRequired");
                        if (blnfocused == false) {
                            $("#txtActDateEnd").focus();
                        }
                        blnValid = false;
                        blnfocused = true;
                    }
                    else {
                        $("#txtActDateEnd").removeClass("txtActDateEnd");
                    }

                    if ($.trim($("#ddlActTimeEnd").val()) == '') {
                        $("#ddlActTimeEnd").addClass("kendoDrpRequired");
                        if (blnfocused == false) {
                            $("#ddlActTimeEnd").focus();
                        }
                        blnValid = false;
                        blnfocused = true;
                    }
                    else {
                        $("#ddlActTimeEnd").removeClass("kendoDrpRequired");
                    }
                }
                else if ($('#ddlJobStatusJoClosing').val() == '@SystemEnum.WorkRequestStatus.Cancelled.GetHashCode()') {
                    if ($.trim($("#CauseDescription").val()) == '') {
                        $("#CauseDescription").addClass("kendoDrpRequired");
                        if (blnfocused == false) {
                            $("#CauseDescription").focus();
                        }
                        blnValid = false;
                        blnfocused = true;
                    }
                    else {
                        $("#CauseDescription").removeClass("kendoDrpRequired");
                    }
                }
            }

            if (blnValid) {
                blnValid = ValidateJoClosing();
                return false;
            }
            else { e.preventDefault(); }
        });
    </script>
}
else
{ 
    <script type="text/javascript">
       $('#frmJoClosing').submit(function (e) {
           e.preventDefault();
           return false;
       });
    </script>
}
<script>
    $(function () {
        EnableDisableControlls();
    });
</script>