﻿@using CMMS.Infrastructure;
@using CMMS.Pages;
@model CMMS.Model.WorkOrder
<div class="information-form">
    <div class="form-horizontal">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="form-group">
                    <label class="col-md-4 col-lg-2 control-label">@ProjectSession.Resources.label.JobOrder_TextBlockTotalLabourCost</label>
                    <div class="col-md-4 col-lg-2 ">
                        @Html.TextBoxFor(model => model.WOLaborCost, string.Format("{0:0.00}", Model.WOLaborCost), new { @id = "txtWoLabourCost", @disabled = "disabled", @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="form-group ">
                    <label class="col-md-4 col-lg-2 control-label">@ProjectSession.Resources.label.Employee_TextBlockTotalDirectIssueCost</label>
                    <div class="col-md-4 col-lg-2">
                        @Html.TextBoxFor(model => model.WODICost, string.Format("{0:0.00}", Model.WODICost), new { @id = "txtWoDICost", @disabled = "disabled", @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="form-group ">
                    <label class="col-md-4 col-lg-2 control-label">@ProjectSession.Resources.label.JobOrder_TotalItemCost</label>
                    <div class="col-md-4 col-lg-2 ">
                        @Html.TextBoxFor(model => model.WOPartCost, string.Format("{0:0.00}", Model.WOPartCost), new { @id = "txtWoPartCost", @disabled = "disabled", @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>

        <div style="border:1px solid lightgray;">

        </div>

        <div class="row" style="margin-top:25px;">
            <div class="col-md-12 col-lg-12">
                <div class="form-group ">
                    <label class="col-md-4 col-lg-2 control-label">@ProjectSession.Resources.label.JobOrder_TextBlockTotalOverallCost</label>
                    <div class="col-md-4 col-lg-2 ">
                        @Html.TextBoxFor(model => model.WOCost, string.Format("{0:0.00}", Model.WOCost), new { @id = "txtWoPartCost", @disabled = "disabled", @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        EnableDisableControlls();
    });
</script>