﻿@using CMMS.Infrastructure;
@using CMMS.Pages;
@using CMMS.Model;
@using CMMS.Infrastructure;
@model CMMS.Model.WorkOrder
@{
    bool Lang = ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true;
}

<script type="text/javascript">
    function BindParametersForIRItem() {
        return {
            workOrderNo: '@Model.WorkorderNo',
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function onDataBoundForIRItem(arg) {
        gridProperPaging(this);
    }
</script>
<div class="information-form cus-form" style="margin-top:20px;">
    <h3 class="sub-title">
        <span>@ProjectSession.Resources.label.ItemRequisition_TextBlockItemRequisitionList</span>
        <div class="sub_btn">
            @if (ProjectSession.PermissionAccess.JobOrder_JobOrder_Editrecords)
            {
                <li><a href="@Url.Action(Actions.ItemRequisitionDetails, Controllers.Transaction, new { area = Areas.Transaction, mrno = "0", workOrderNo = "" + Model.WorkorderNo + "" })" id="btnAddIR" class="btn-icon btn-add" data-backdrop="static" title='@ProjectSession.Resources.label.Common_ButtonAdd'><i></i></a></li>
                <li><a href="javascript:void(0);" class="btn-icon btn-refresh" onclick="ReBindKendoGrid('ItemRequisitionItemGrid');" title="@ProjectSession.Resources.label.Common_ButtonRefreshGrid"><i></i></a></li>
                <li><a href="javascript:void(0);" class="btn-icon btn-xsl" onclick="ExportToExcel('ItemRequisitionItemGrid', '');" title="@ProjectSession.Resources.label.Common_ButtonExportToExcel"><i></i></a></li>
            }
        </div>
    </h3>

    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div id="purchaseRequest" class="@ProjectSession.CultureKendoClass">
                @(Html.Kendo().Grid<CMMS.Model.Material_req_detail>()
                        .Name("ItemRequisitionItemGrid")
                        .HtmlAttributes(new { @class = "kl-grid" })
                        .Columns(columns =>
                        {
                            
                            columns.Bound(c => c.isStock).ClientTemplate(" #if( data.isStock == 1) { #  " + ProjectSession.Resources.label.ItemRequisition_TextBlockItem + " # } else { # " + ProjectSession.Resources.label.ItemRequisition_TextBlockDirectIssue + " # } #").Title(ProjectSession.Resources.label.ItemRequisition_TextBlockSource);

                            columns.Bound(c => c.StockNo).Title(ProjectSession.Resources.label.ItemRequisition_TextBlockItemNo);

                            columns.Bound(c => c.Part_desc).Title(ProjectSession.Resources.label.Supplier_TextBlockDescription).HtmlAttributes(new { title = "#= KendoToolTipTemplate(data.Part_desc) #", @class = "column-textoverflow" });

                            columns.Bound(c => c.Altpart_desc).Title(ProjectSession.Resources.label.JobPlan_TextBlockAltDecription).HtmlAttributes(new { title = "#= KendoToolTipTemplate(data.Altpart_desc) #", @class = "column-textoverflow" });

                            columns.Bound(c => c.LocationNo).Title(ProjectSession.Resources.label.JobRequest_TextBlockLocationNo);

                            columns.Bound(c => c.AssetNumber).Title(ProjectSession.Resources.label.Asset_TextBlockAssetNO);

                            columns.Bound(c => c.Uom).Title(ProjectSession.Resources.label.Item_TextBlockUOM);

                            columns.Bound(c => c.Qty).ClientTemplate("#= DecimalTempalte(data.Qty,2) #").Title(ProjectSession.Resources.label.ItemRequisition_TextBlockQty);

                            columns.Bound(c => c.ReceivedQty).ClientTemplate("#= DecimalTempalte(data.ReceivedQty,2) #").Title(ProjectSession.Resources.label.ItemRequisition_TextBlockReceivedQty);

                            columns.Bound(c => c.CanceledQty).ClientTemplate("#= DecimalTempalte(data.CanceledQty,2) #").Title(ProjectSession.Resources.label.ItemRequisition_TextBlockCanceledQty);

                            columns.Bound(c => c.AvailableQty).ClientTemplate("#= DecimalTempalte(data.AvailableQty,2) #").Title(ProjectSession.Resources.label.AccountCode_TextBlockStatus);

                            columns.Bound(c => c.supName).Title("Sup Name");

                            columns.Bound(c => c.issueName).Title("Issue Name");

                        })
                        .Sortable(sortable => sortable.AllowUnsort(false))
                        .Scrollable()
                                            .Excel(excel => excel.FileName(ProjectSession.Resources.label.ItemRequisition_TextBlockItemRequisitionList + ".xlsx").Filterable(true).AllPages(true))
                                    .Pageable(pageable => pageable.Enabled(false).PageSizes(false).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
                        .Events(events => events.DataBound("onDataBoundForIRItem"))
                        .DataSource(dataSource =>
                                                dataSource.Ajax()
                                                .PageSize(ProjectConfiguration.PageSize)
                                                            .Model(model =>
                                                            {
                                                                model.Id(p => p.Mr_id);
                                                                model.Field(p => p.Partid);
                                                            })
                                                .ServerOperation(true)
                                                        .Read(read => read.Action(Actions.GetItemRequisitionItemsByWoNo, Controllers.Transaction, new { area = Areas.Transaction }).Data("BindParametersForIRItem").Type(HttpVerbs.Post))
                        )
)

            </div>
        </div>
    </div>
</div>

<script>
   
</script>