﻿@using CMMS.Infrastructure;
@{
    Layout = null;
    bool Lang = ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true;
}
<style>
    .calendars-popup {
        z-index: 100000 !important;
    }
</style>
<script type="text/javascript">
    function onDataBoundItems() {
        gridProperPaging(this);
    }
    function BindParametersItems() {
        return {
            showBalance: false,
            subStoreID: 0,
            strWhere: "",
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }
</script> 
<div class="form-horizontal">
    <div class="information-form" style="margin-top:10px;">
        <h3 class="sub-title">
            <span>@ProjectSession.Resources.label.JobOrder_TextBlockIssues</span>
            <ul class="sub_btn">
                @if (ProjectSession.PermissionAccess.JobOrder_JobOrder_Editrecords && ProjectSession.PermissionAccess.JobOrder_JobOrder_IssueParts)
                {
                    <li><a href="#" class="btn-icon btn-add" data-toggle="modal" data-target="#IssueModal" data-backdrop="static" id="btnOpenAddIssueWin" onclick="OpenAddIssueWindow();" title='@ProjectSession.Resources.label.Common_ButtonAdd'><i></i></a></li>
                    <li><a href="javascript:void(0);" class="btn-icon btn-refresh" onclick="ReBindKendoGrid('WOIssuesGrid');" title="@ProjectSession.Resources.label.Common_ButtonRefreshGrid"><i></i></a></li>
                    <li><a href="javascript:void(0);" class="btn-icon btn-xsl" onclick="ExportToExcel('WOIssuesGrid', 'IssueID');" title="@ProjectSession.Resources.label.Common_ButtonExportToExcel"><i></i></a></li>
                }
            </ul>
        </h3>

        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div id="LaborGrid" class="@ProjectSession.CultureKendoClass">
                    @(Html.Kendo().Grid<CMMS.Model.Issue>()
                    .Name("WOIssuesGrid")
                    .HtmlAttributes(new { @class = "kl-grid" })
                    .Columns(columns =>
                    {
                        columns.Bound(c => c.DateIssue).ClientTemplate("#= DateTemplate(data.DateIssue) #").Title(ProjectSession.Resources.label.Common_TextBlockIssueDate).Width(150);

                        columns.Bound(c => c.StockNo).Title(ProjectSession.Resources.label.ItemRequisition_TextBlockItemNo);

                        columns.Bound(c => c.StockDescription).Title(ProjectSession.Resources.label.ItemList_TextBlockPartDescription).Visible(Lang);
                        columns.Bound(c => c.AltStockDescription).Title(ProjectSession.Resources.label.ItemList_TextBlockAltPartDesc).Visible(!Lang);

                        columns.Bound(c => c.SubStoreCode).Title(ProjectSession.Resources.label.Store_TextBlockStoreCode);

                        columns.Bound(c => c.QtyIssue).ClientTemplate("#= DecimalTempalte(data.QtyIssue,2) #").Title(ProjectSession.Resources.label.ItemRequisition_TextBlockQty);

                        columns.Bound(c => c.Price3).ClientTemplate("#= DecimalTempalte(data.Price3,2) #").Title(ProjectSession.Resources.label.JobOrder_TextBlockAvgUnitPrice);
                        columns.Bound(c => c.TotalPrice).ClientTemplate("#= DecimalTempalte(data.TotalPrice,2) #").Title(ProjectSession.Resources.label.JobOrder_TextBlockTotal);
                        columns.Bound(c => c.UoM).Title(ProjectSession.Resources.label.Item_TextBlockUOM);
                        //columns.Bound(c => c.IssueID).ClientTemplate("<center>" + (ProjectSession.PermissionAccess.JobOrder_JobOrder_IssueParts ? "<a class='action delete-button'  href='javascript:void(0);'  class='delete-ic' data-id='#: WorkorderLaborID #' style='cursor:pointer'><i class='glyphicon glyphicon-trash' title='" + ProjectSession.Resources.label.Common_ButtonDelete + "' ></i></a>" : "") + "</center>")
                        //                                .Title("<center>" + ProjectSession.Resources.label.Common_ButtonAction + "</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Width(80);
                    })
                    .Filterable()
                    .Sortable(sortable => sortable.AllowUnsort(false))
                    .Scrollable()
                    .Excel(excel => excel.FileName(ProjectSession.Resources.label.JobOrder_TextBlockIssues + ".xlsx").Filterable(true).AllPages(true).ProxyURL(Url.Action("Excel_Export_Save", "GridExport", new { area = string.Empty })))
                    .Pageable(pageable => pageable.PageSizes(CMMS.Pages.General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
                    .Events(events => events.DataBound("onDataBoundForWOIssues").ExcelExport("excelExport"))
                    .DataSource(dataSource =>
                    dataSource.Ajax()
                    .PageSize(ProjectConfiguration.PageSize)
                    .Sort(model => model.Add("IssueID").Ascending())
                     .Model(model =>
                     {
                         model.Id(p => p.IssueID);
                         model.Field(p => p.StockNo);
                     })
                    .ServerOperation(true)
                    .Read(read => read.Action(CMMS.Pages.Actions.GetWorkOrderIssues, CMMS.Pages.Controllers.Transaction, new { area = CMMS.Pages.Areas.Transaction }).Data("BindParametersForWOIssues").Type(HttpVerbs.Post))
                    )
                 )

                </div>
            </div>
        </div>
    </div>

    <div class="information-form" style="margin-top:40px;">
        <h3 class="sub-title">
            <span>@ProjectSession.Resources.label.JobOrder_TextBlockReturn</span>
            <ul class="sub_btn">
                @if (ProjectSession.PermissionAccess.JobOrder_JobOrder_Editrecords && ProjectSession.PermissionAccess.JobOrder_JobOrder_ReturnParts)
                {
                    <li><a href="#" class="btn-icon btn-add" data-toggle="modal" data-target="#ReturnPartModal" data-backdrop="static" id="btnOpenAddReturnWin" onclick="OpenAddReturnPartWindow();" title='@ProjectSession.Resources.label.Common_ButtonAdd'><i></i></a></li>
                    <li><a href="javascript:void(0);" class="btn-icon btn-refresh" onclick="ReBindKendoGrid('WOReturnPartsGrid');" title="@ProjectSession.Resources.label.Common_ButtonRefreshGrid"><i></i></a></li>
                    <li><a href="javascript:void(0);" class="btn-icon btn-xsl" onclick="ExportToExcel('WOReturnPartsGrid');" title="@ProjectSession.Resources.label.Common_ButtonExportToExcel"><i></i></a></li>
                }
            </ul>
        </h3>

        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div id="LaborGrid" class="@ProjectSession.CultureKendoClass">
                    @(Html.Kendo().Grid<CMMS.Model.Return>()
                        .Name("WOReturnPartsGrid")
                            .HtmlAttributes(new { @class = "kl-grid" })
                            .Columns(columns =>
                            {
                                columns.Bound(c => c.Date).ClientTemplate("#= DateTemplate(data.Date) #").Title(ProjectSession.Resources.label.AssetTransfer_TextBlockDate);

                                columns.Bound(c => c.StockNo).Title(ProjectSession.Resources.label.ItemRequisition_TextBlockItemNo);

                                columns.Bound(c => c.StockDescription).Title(ProjectSession.Resources.label.ItemList_TextBlockPartDescription).Visible(Lang);
                                columns.Bound(c => c.AltStockDescription).Title(ProjectSession.Resources.label.ItemList_TextBlockAltPartDesc).Visible(!Lang);

                                columns.Bound(c => c.SubStoreCode).Title(ProjectSession.Resources.label.Store_TextBlockStoreCode);

                                columns.Bound(c => c.Qty).Title(ProjectSession.Resources.label.ItemRequisition_TextBlockQty);

                                columns.Bound(c => c.RetPrice).ClientTemplate("#= DecimalTempalte(data.RetPrice,2) #").Title(ProjectSession.Resources.label.JobOrder_TextBlockAvgUnitPrice);
                                columns.Bound(c => c.TotalPrice).ClientTemplate("#= DecimalTempalte(data.TotalPrice,2) #").Title(ProjectSession.Resources.label.JobOrder_TextBlockTotal);
                                columns.Bound(c => c.Comment).Title(ProjectSession.Resources.label.JobOrder_TextBlockComments);
                                //columns.Bound(c => c.IssueID).ClientTemplate("<center>" + (ProjectSession.PermissionAccess.JobOrder_JobOrder_IssueParts ? "<a class='action delete-button'  href='javascript:void(0);'  class='delete-ic' data-id='#: WorkorderLaborID #' style='cursor:pointer'><i class='glyphicon glyphicon-trash' title='" + ProjectSession.Resources.label.Common_ButtonDelete + "' ></i></a>" : "") + "</center>")
                                //                                .Title("<center>" + ProjectSession.Resources.label.Common_ButtonAction + "</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Width(80);
                            })
                            .Filterable()
                            .Sortable(sortable => sortable.AllowUnsort(false))
                            .Scrollable()
                            .Excel(excel => excel.FileName(ProjectSession.Resources.label.JobOrder_TextBlockReturn + ".xlsx").Filterable(true).AllPages(true).ProxyURL(Url.Action("Excel_Export_Save", "GridExport", new { area = string.Empty })))
                            .Pageable(pageable => pageable.PageSizes(CMMS.Pages.General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
                                    .Events(events => events.DataBound("onDataBoundForWOParts").ExcelExport("excelExport"))
                            .DataSource(dataSource =>
                            dataSource.Ajax()
                            .PageSize(ProjectConfiguration.PageSize)
                            .Sort(model => model.Add("ReturnID").Ascending())
                            .Model(model =>
                            {
                                 model.Id(p => p.ReturnID);
                                 model.Field(p => p.StockNo);
                            })
                            .ServerOperation(true)
                            .Read(read => read.Action(CMMS.Pages.Actions.GetWorkOrderParts, CMMS.Pages.Controllers.Transaction, new { area = CMMS.Pages.Areas.Transaction }).Data("BindParametersForWOparts").Type(HttpVerbs.Post))
                            )
                          )
                </div>
            </div>
        </div>
    </div>
    <div class="information-form">
        <div class="row" style="margin-top:15px;">
            <div class="col-md-8"></div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="col-md-6 control-label alignRight" style="padding-top:10px;">@ProjectSession.Resources.label.JobOrder_TextBlockTotal</label>
                    <div class="col-md-6">
                        <input type="text" readonly="readonly" id="txtTotalReturnCost" class="form-control" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="information-form" style="margin-top:30px;">
        <h3 class="sub-title">
            <span>@ProjectSession.Resources.label.JobOrder_TextBlockRequiredItems</span>
            <ul class="sub_btn">
                <li><a href="javascript:void(0);" class="btn-icon btn-refresh" onclick="ReBindKendoGrid('WoItemsGrid');" title="@ProjectSession.Resources.label.Common_ButtonRefreshGrid"><i></i></a></li>
                <li><a href="javascript:void(0);" class="btn-icon btn-xsl" onclick="ExportToExcel('WoItemsGrid', '');" title="@ProjectSession.Resources.label.Common_ButtonExportToExcel"><i></i></a></li>
            </ul>
        </h3>

        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div id="LaborGrid" class="@ProjectSession.CultureKendoClass">
                    @(Html.Kendo().Grid<CMMS.Model.WorkOrderItem>()
                            .Name("WoItemsGrid")
                            .HtmlAttributes(new { @class = "kl-grid" })
                            .Columns(columns =>
                            {
                                columns.Bound(c => c.StockNo).Title(ProjectSession.Resources.label.ItemRequisition_TextBlockItemNo);

                                columns.Bound(c => c.StockDescription).Title(ProjectSession.Resources.label.ItemList_TextBlockPartDescription).Visible(Lang);
                                columns.Bound(c => c.AltStockDescription).Title(ProjectSession.Resources.label.ItemList_TextBlockAltPartDesc).Visible(!Lang);

                                columns.Bound(c => c.Qty).Title(ProjectSession.Resources.label.ItemRequisition_TextBlockQty);

                                columns.Bound(c => c.SeqNo).Title(ProjectSession.Resources.label.PMChecklist_TextBlockTaskSeqNo);
                            })
                            .Filterable()
                            .Sortable(sortable => sortable.AllowUnsort(false))
                            .Scrollable()
                            .Excel(excel => excel.FileName(ProjectSession.Resources.label.JobOrder_TextBlockRequiredItems + ".xlsx").Filterable(true).AllPages(true).ProxyURL(Url.Action("Excel_Export_Save", "GridExport", new { area = string.Empty })))
                            .Pageable(pageable => pageable.PageSizes(CMMS.Pages.General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
                                    .Events(events => events.DataBound("onDataBoundForWOItems").ExcelExport("excelExport"))
                            .DataSource(dataSource =>
                            dataSource.Ajax()
                            .PageSize(ProjectConfiguration.PageSize)
                            .Sort(model => model.Add("StockNo").Ascending())
                            .Model(model =>
                            {
                                 model.Id(p => p.StockNo);
                                 model.Field(p => p.SeqNo);
                            })
                            .ServerOperation(true)
                            .Read(read => read.Action(CMMS.Pages.Actions.GetWorkOrderItems, CMMS.Pages.Controllers.Transaction, new { area = CMMS.Pages.Areas.Transaction }).Data("BindParametersForWOItems").Type(HttpVerbs.Post))
                            )
                         )
                </div>
            </div>
        </div>
    </div>

    <div class="information-form" style="margin-top:40px;">
        <h3 class="sub-title">
            <span>@ProjectSession.Resources.label.JobOrder_TextBlockRequiredPPE</span>
            <ul class="sub_btn">
                <li><a href="javascript:void(0);" class="btn-icon btn-refresh" onclick="ReBindKendoGrid('WoRequiredPPE');" title="@ProjectSession.Resources.label.Common_ButtonRefreshGrid"><i></i></a></li>
                <li><a href="javascript:void(0);" class="btn-icon btn-xsl" onclick="ExportToExcel('WoRequiredPPE', '');" title="@ProjectSession.Resources.label.Common_ButtonExportToExcel"><i></i></a></li>
            </ul>
        </h3>

        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div id="LaborGrid" class="@ProjectSession.CultureKendoClass">
                    @(Html.Kendo().Grid<CMMS.Model.WorkOrderPPE>()
                        .Name("WoRequiredPPE")
                        .HtmlAttributes(new { @class = "kl-grid" })
                        .Columns(columns =>
                        {

                            columns.Bound(c => c.PPEDescription).Title(ProjectSession.Resources.label.PMChecklist_TextBoxToolDescription);
                            columns.Bound(c => c.AltPPEDescription).Title(ProjectSession.Resources.label.PMChecklist_TextBoxAltToolDescription);

                            columns.Bound(c => c.SeqNo).Title(ProjectSession.Resources.label.PMChecklist_TextBlockTaskSeqNo);
                        }) 
                        .Filterable()
                        .Sortable(sortable => sortable.AllowUnsort(false))
                        .Scrollable()
                        .Excel(excel => excel.FileName(ProjectSession.Resources.label.JobOrder_TextBlockRequiredPPE + ".xlsx").Filterable(true).AllPages(true).ProxyURL(Url.Action("Excel_Export_Save", "GridExport", new { area = string.Empty })))
                        .Pageable(pageable => pageable.PageSizes(CMMS.Pages.General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
                                .Events(events => events.DataBound("onDataBoundForWOPPE").ExcelExport("excelExport"))
                        .DataSource(dataSource =>
                        dataSource.Ajax()
                        .PageSize(ProjectConfiguration.PageSize)
                        .Sort(model => model.Add("WorkOrderPPEID").Ascending())
                        .Model(model =>
                        {
                             model.Field(p => p.SeqNo);
                        })
                        .ServerOperation(true)
                        .Read(read => read.Action(CMMS.Pages.Actions.GetWorkOrderPPE, CMMS.Pages.Controllers.Transaction, new { area = CMMS.Pages.Areas.Transaction }).Data("BindParametersForWOPPE").Type(HttpVerbs.Post))
                        )
                     )
                </div>
            </div>
        </div>
    </div>
</div>
<div id="IssueModal" class="modal fade" role="dialog">
</div>
<div id="ReturnPartModal" class="modal fade" role="dialog">
</div>

@if (ProjectSession.PermissionAccess.JobOrder_JobOrder_Editrecords)
{
    <div id="ItemsGridModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" title="@ProjectSession.Resources.label.Common_ButtonClose"></button>
                    <h4 class="modal-title">@ProjectSession.Resources.label.Item_TextblockItemDetails</h4>
                </div>
                <div class="modal-body">
                    <div id="Highlights" class="tab-pane active" role="tabpanel">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <div id="itemData" class="@ProjectSession.CultureKendoClass">
                                        @(Html.Kendo().Grid<CMMS.Model.StockCode>()
                                            .Name("itemsGrid")
                                            .HtmlAttributes(new { @class = "kl-grid" })
                                    .Columns(columns =>
                                    {
                                        columns.Bound(c => c.StockID).Hidden(true);
                                        
                                        columns.Bound(c => c.StockNo).Title(ProjectSession.Resources.label.ItemList_TextBlockPartNumber).Width(170);

                                        columns.Bound(c => c.StockDescription).Title(ProjectSession.Resources.label.ItemList_TextBlockPartDescription).Width(170);

                                        columns.Bound(c => c.AltStockDescription).Title(ProjectSession.Resources.label.ItemList_TextBlockAltPartDesc).Width(170);

                                        columns.Bound(c => c.StatusText).Title(ProjectSession.Resources.label.AccountCode_TextBlockStatus).Width(120);

                                        columns.Bound(c => c.Specification).Title(ProjectSession.Resources.label.JobPlan_TextBlockSpecification).Width(170);

                                        columns.Bound(c => c.Manufacturer).Title(ProjectSession.Resources.label.Asset_TextBlockManufacturer).Width(170);

                                        columns.Bound(c => c.Criticality).Title(ProjectSession.Resources.label.Item_CheckBoxCritical).Width(120);

                                        columns.Bound(c => c.AttrName).Title(ProjectSession.Resources.label.ItemType_TextBlockItemType).Width(120)
                                        .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterStoreItemType", "GridFilter", new { area = string.Empty }).Data("BindParametersItems").Type(HttpVerbs.Post))));

                                        columns.Bound(c => c.AttrSubName).Title(ProjectSession.Resources.label.ItemSubType_TextBlockPartSubType).Width(170)
                                        .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterStoreItemSubType", "GridFilter", new { area = string.Empty }).Data("BindParametersItems").Type(HttpVerbs.Post))));

                                        columns.Bound(c => c.Balanace).Title(ProjectSession.Resources.label.JobOrder_TextBlockBalance).Width(120);
                                    })
                                    .Filterable()
                                    .Sortable(sortable => sortable.AllowUnsort(false))
                                    .Scrollable()
                                            .Pageable(pageable => pageable.PageSizes(CMMS.Pages.General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
                                    .Events(events => events.DataBound("onDataBoundItems"))
                                    .Excel(excel => excel.FileName(ProjectSession.Resources.label.Item_TextblockItemDetails + ".xlsx").Filterable(true).AllPages(false))
                                    .DataSource(dataSource => dataSource.Ajax()
                                    .PageSize(ProjectConfiguration.PageSize)
                                     .Model(model =>
                                     {
                                         model.Id(p => p.StockID);
                                         model.Field(p => p.StockNo);
                                     })
                                    .ServerOperation(true)
                                    .Read(read => read.Action(CMMS.Pages.Actions.GetStockCodes, CMMS.Pages.Controllers.Transaction, new { area = CMMS.Pages.Areas.Transaction }).Data("BindParametersItems").Type(HttpVerbs.Post))
                                    )
                                   .Resizable(resize => resize.Columns(true))
                                        )

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer box-footer">
                    <button type="button" class="btn btn-primary" id="btnExportToExcelItems" onclick="ExportToExcel('itemsGrid');"><span>@ProjectSession.Resources.label.Common_ButtonExportToExcel</span></button>
                </div>
            </div>
        </div>
    </div>
}
<script type="text/javascript">
    $(function () {

    });

    $('.modal').on('shown.bs.modal', function (e) {
        $(document).off("focusin.modal");
    });

    function OpenAddIssueWindow() {
        //$("#IssueModal").html('');
        var url = '@Url.Action(CMMS.Pages.Actions._GetJoIssues, CMMS.Pages.Controllers.Transaction, new { Area = CMMS.Pages.Areas.Transaction})' + '?workOrderNo=' + ($('#WorkorderNo').val() == '' || $('#WorkorderNo').val() == 'undefined' ? 0 : $('#WorkorderNo').val()) + '&cityID=' + ($('#L2ID').val() == '' || $('#L2ID').val() == 'undefined' ? 0 : $('#L2ID').val());
        $("#IssueModal").load(url);
    }

    function OpenAddReturnPartWindow() {
        //$("#IssueModal").html('');
        var url = '@Url.Action(CMMS.Pages.Actions._GetJoReturns, CMMS.Pages.Controllers.Transaction, new { Area = CMMS.Pages.Areas.Transaction})' + '?workOrderNo=' + ($('#WorkorderNo').val() == '' || $('#WorkorderNo').val() == 'undefined' ? 0 : $('#WorkorderNo').val()) + '&cityID=' + ($('#L2ID').val() == '' || $('#L2ID').val() == 'undefined' ? 0 : $('#L2ID').val());
        $("#ReturnPartModal").load(url);
    }

    function OpenItemsPopUp() {
        $("#ItemsGridModal").modal("show");
    }

    function filterStores() {
        return {
            siteId: isNotUndefinedNullOrBlankOrZero("ddlIssueCity") ? $("#ddlIssueCity").val() : 0,
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function filterReturnStores() {
        return {
            siteId: isNotUndefinedNullOrBlankOrZero("ddlReturnCity") ? $("#ddlReturnCity").val() : 0,
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

</script>
<script>
    $(function () {
        EnableDisableControlls();
    });
</script>