﻿@using CMMS.Infrastructure;
@using CMMS.Pages;
@model CMMS.Model.Issue
@{
    bool Lang = ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true;
}

<style>
    .calendars-popup {
        z-index: 100000 !important;
    }
</style>
<script type="text/javascript">
    function onChangeSubStore(e) {
        if (isNotUndefinedNullOrBlankOrZero('hdnIssueStockID') && isNotUndefinedNullOrBlankOrZero('ddlIssueSubStore')) {
            LoadBalance($('#hdnIssueStockID').val(), $('#ddlIssueSubStore').val(), $('#hdnANV').val());
        }
    }

    function onAutoSelect(e) {
        var model = this.dataItem(e.item.index());
        FIllItemsDetail(model);
    }

    function onAdditionalData() {
        return {
            text: $("#txtIssueStockDesc").val()
        };
    }
</script>
<div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"></button>
            <h4 class="modal-title">@ProjectSession.Resources.label.JobOrder_TextBlockIssues</h4>
        </div>
        @using (Html.BeginForm(Actions.SaveJOIssue, Controllers.Transaction, new { area = Areas.Transaction }, FormMethod.Post, new { id = "frmIssues" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.L2ID)
            @Html.HiddenFor(model => model.WONo)
            <div class="modal-body">
                <div id="Highlights" class="tab-pane active" role="tabpanel">
                    <div id="divModelErrorIssues"></div>
                    <div class="information-form cus-form">

                        <div class="row">
                            <div class="form-group col-md-6 col-lg-6">
                                <label class="form-label">@ProjectSession.Resources.label.AssetTransfer_TextBlockDate  <span class="cfont">*</span></label>
                                <div class="input-group date-pick">
                                    @Html.TextBoxFor(model => model.DateIssue, String.Format("{0:" + ProjectConfiguration.DefaultDateFormat + "}", DateTime.Now), new { @id = "txtIssueIssueDate", @class = "form-control calendarsPicker", @placeholder = ProjectConfiguration.DefaultDateFormat })
                                </div>
                            </div>
                            <div class="two-form-group form-group col-md-6 col-lg-6">
                                <label class="form-label">@ProjectSession.Resources.label.ItemRequisition_TextBlockItemNo</label>
                                <div class="input-group pm-checklist">
                                    <input type="hidden" id="hdnANV" value="" />
                                    @Html.HiddenFor(model => model.StockID, new { @id = "hdnIssueStockID" })
                                    @Html.TextBoxFor(model => model.StockNo, new { @class = "form-control code-input", @readonly = "readonly", @id = "txtIssueStockNo", @Placeholder = @ProjectSession.Resources.label.ItemRequisition_TextBlockItemNo })
                                    @*@Html.TextBoxFor(model => model.StockDescription, new { @class = "form-control", @style = "display:" + (Lang ? "" : "none;"), @readonly = "readonly", @id = "txtIssueStockDesc", @Placeholder = @ProjectSession.Resources.label.ItemList_TextBlockPartDescription })*@
                                    @(Html.Kendo().AutoCompleteFor(model => model.StockDescription)
                                    .DataTextField(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "AltStockDescription" : "StockDescription")
                                    .HtmlAttributes(new { @class = "form-control", @id = "txtIssueStockDesc" })
                                    .Filter("contains")
                                    .Template("#= KendoDDLTemplate( data.StockNo, data.StockDescription,data.AltStockDescription) #")
                                    .MinLength(3)
                                    .Placeholder(ProjectSession.Resources.label.ItemList_TextBlockPartDescription)
                                    .Events(m => m.Select("onAutoSelect"))
                                    .DataSource(source =>
                                     {
                                         source.Read(read =>
                                         {
                                             read.Action(Actions.GetStockCodesAutoDDL, Controllers.AutoComplete, new { area = Areas.Configurations }).Data("onAdditionalData");
                                         })
                                     .ServerFiltering(true);
                                     })
                                    .Value(Convert.ToString(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? Model.AltStockDescription : Model.StockDescription))
                                    )
                                    @*@Html.TextBoxFor(model => model.AltStockDescription, new { @class = "form-control", @style = "display:" + (Lang ? "none;" : ""), @readonly = "readonly", @id = "txtIssueAltStockDesc", @Placeholder = @ProjectSession.Resources.label.ItemList_TextBlockPartAltPartDesc })*@
                                    <a href="#" class="checklis-btn" id="btnOpenAddItemPopUp" data-toggle="modal" data-backdrop="static" onclick="OpenItemsPopUp()">
                                        <img src="../images/checklis-icon.png" alt="">
                                    </a>
                                    <a href="javascript:void(0);" class="close-btn" id="btnClearIssue" title="@ProjectSession.Resources.label.Common_ButtonClear" onclick="ClearWOIssues();">
                                        <img src="../images/close.png" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6 col-lg-6">
                                <label class="form-label">@ProjectSession.Resources.label.JobRequest_TextBlockCity</label>
                                <div class="@ProjectSession.CultureKendoClass">
                                    @(Html.Kendo().DropDownListFor(model => model.L2ID)
                                                .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                                .DataTextField("L2Code")
                                                .ValueTemplate(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "#:L2Code # -- #: L2Altname # " : "#:L2Code # -- #: L2name #")
                                                .DataValueField("L2ID")
                                                .Enable(false)
                                                .HtmlAttributes(new { style = "width: 100%", @required = "required", @id = "ddlIssueCity" })
                                                .Template("#= KendoDDLTemplate(data.L2Code ,data.L2name, data.L2Altname) #")
                                                .DataSource(source =>
                                                {
                                                    if (ProjectSession.IsCentral)
                                                    {
                                                        source.Read(read =>
                                                        {
                                                            read.Action(Actions.GetAllCities, Controllers.Configurations, new { area = Areas.Configurations, cityID = Model.L2ID });
                                                        });
                                                    }
                                                    else
                                                    {
                                                        source.Read(read =>
                                                        {
                                                            read.Action(Actions.GetCitiesByEmployee, Controllers.Configurations, new { area = Areas.Configurations, cityID = Model.L2ID });
                                                        });
                                                    }
                                                })
                                                .Value(Convert.ToString(Model.L2ID))
                                    )
                                </div>
                            </div>
                            <div class="form-group col-md-6 col-lg-6">
                                <label class="form-label">@ProjectSession.Resources.label.Store_TextBlockStore</label>
                                <div class="@ProjectSession.CultureKendoClass">
                                    @(Html.Kendo().DropDownListFor(model => model.SubStoreID)
                                                .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                                .DataTextField("SubStoreCode")
                                                .ValueTemplate(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "#:SubStoreCode # -- #: AltSubStoreDesc # " : "#:SubStoreCode # -- #: SubStoreDesc #")
                                                .DataValueField("SubStoreID")
                                                .Events(m => m.Change("onChangeSubStore"))
                                                .HtmlAttributes(new { style = "width: 100%", @required = "required", @id = "ddlIssueSubStore" })
                                                .Template("#= KendoDDLTemplate(data.SubStoreCode ,data.SubStoreDesc, data.AltSubStoreDesc) #")
                                                .DataSource(source =>
                                                {
                                                    source.Read(read =>
                                                    {
                                                        read.Action(Actions.GetStoresListByL2ID, Controllers.Configurations, new { area = Areas.Configurations }).Data("filterStores");

                                                    })
                                                    .ServerFiltering(true);
                                                })
                                                .CascadeFrom("ddlIssueCity")
                                                .AutoBind(true)
                                                .Value(Convert.ToString(Model.SubStoreID))
                                    )
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6 col-lg-6">
                                <label class="form-label">@ProjectSession.Resources.label.JobOrder_TextBlockNegativeBalanceAllowed</label>
                                @Html.TextBox("NegativeBalanceAllolwed", "", new { @class = "form-control", @readonly = "readonly", @id = "txtNegativeBalanceAllolwed" })
                            </div>
                            <div class="form-group col-md-6 col-lg-6">
                                <label class="form-label">@ProjectSession.Resources.label.ItemRequisition_TextBlockQty</label>
                                @Html.TextBoxFor(model => model.QtyIssue, String.Format("{0:#,0.00}", Model.QtyIssue), new { @MaxLength = 27, @class = "form-control decimalnumber", @id = "txtIssueQty", onchange = "FillTotalTextBox()" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6 col-lg-6">
                                <label class="form-label">@ProjectSession.Resources.label.JobOrder_TextBlockAvgUnitPrice</label>
                                @Html.TextBoxFor(model => model.Price3, String.Format("{0:#,0.00}", Model.Price3), new { @class = "form-control", @readonly = "readonly", @id = "txtAvgPrice" })
                            </div>
                            <div class="form-group col-md-6 col-lg-6">
                                <label class="form-label">@ProjectSession.Resources.label.JobOrder_TextBlockTotal</label>
                                @Html.TextBox("TotalIssues", "", new { @class = "form-control", @readonly = "readonly", @id = "txtTotalIssues" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6 col-lg-6">
                                <label class="form-label">@ProjectSession.Resources.label.JobOrder_TextBlockBalance</label>
                                @Html.TextBox("Balance", "", new { @class = "form-control", @readonly = "readonly", @id = "txtBalance" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer box-footer">

                <button type="button" class="btn btn-primary disabled" disabled="disabled" id="btnSaveIssue" onclick="$('#frmIssues').submit();"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>

                <button type="button" class="btn btn-default" data-dismiss="modal">@ProjectSession.Resources.label.Common_ButtonClose</button>
            </div>

        }
    </div>

</div>

<script type="text/javascript">
    $(document).ready(function () {

        validator = $('#frmIssues').validate({
            rules: {
                DateIssue: { required: true },
                QtyIssue: { range: [0, 999999999] }

            },
            messages: {
                DateIssue: { required: '' },
                QtyIssue: { range: '' }
            }
        });

        CreateCalendarsPicker();

    }); //Ready ends

    $('#frmIssues').on('submit', function (e) {
        if ($("#frmIssues").valid()) {
            if (!e.isDefaultPrevented()) {
                if (!isNotUndefinedNullOrBlankOrZero('txtIssueQty', true)) {
                    e.preventDefault();
                    $('#txtIssueQty').focus();
                    ShowMessage('@SystemEnum.MessageType.danger', '@ProjectSession.Resources.label.PMChecklist_MsgQuantityGreaterthanZero', '#divModelErrorIssues');
                }
                else {
                    var options = {
                        success: onSuccessJoIssues,  // post-submit callback
                        data: addRequestVerificationToken($('#frmIssues').serialize())
                    };
                    $(this).ajaxSubmit(options);
                    return false;
                }
            }
            else { e.preventDefault(); }
        }
        else {
            e.preventDefault();
        }
    });

    function onSuccessJoIssues(responseText, statusText, xhr, $form) {
        if (responseText[0] == 1) {
            ShowMessage(responseText[1], responseText[2], "#divModelErrorIssues");
        }
        else {
            ShowMessage(responseText[1], responseText[2], "#divModelError");
            $("#IssueModal").modal("hide");
            ReBindKendoGrid('WOIssuesGrid');
            ClearWOIssues();
        }
    }

    function ClearWOIssues() {
        $('#hdnIssueStockID').val('');
        $('#txtIssueStockNo').val('');
        $('#txtIssueStockDesc').val('');
        //$('#txtIssueAltStockDesc').val('');
        $('#txtAvgPrice').val('');
        $('#txtNegativeBalanceAllolwed').val('');
        $('#txtBalance').val('');
        $('#txtTotalIssues').val('');
    }
    $("#itemsGrid tbody").on("dblclick", "tr[role='row']", function (e) {
        var grid = $("#itemsGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        FIllItemsDetail(model);
    });

  
    function FIllItemsDetail(model) {
        $("#ItemsGridModal").modal("hide");
        $('#hdnIssueStockID').val(model.StockID);
        $('#txtIssueStockNo').val(model.StockNo);
        if ('@Lang' == 'True') {
            $("#txtIssueStockDesc").val(model.StockDescription);
        }
        else {
            $("#txtIssueStockDesc").val(model.AltStockDescription);
        }
        $('#txtIssueStockDesc').val(model.StockDescription);
        $('#txtAvgPrice').val(model.AvgPrice.toFixed(2));

        var Yes = 'Yes';
        var No = 'No';
        if ('@Lang' == 'False') {
            Yes = 'نعم فعلا';
            No = 'لا';
        }
        $('#hdnANV').val(model.ANV);
        if (model.ANV)
        { $('#txtNegativeBalanceAllolwed').val(Yes); }
        else
        { $('#txtNegativeBalanceAllolwed').val(No); }

        if (isNotUndefinedNullOrBlankOrZero('ddlIssueSubStore')) {
            LoadBalance(model.StockID, $('#ddlIssueSubStore').val(), model.ANV);
        }
    }

    function FillTotalTextBox(e) {
        if (!isNotUndefinedNullOrBlankOrZero('txtIssueQty', true)) {
            $('#txtIssueQty').val('0.00');
        }

        if (!isNotUndefinedNullOrBlankOrZero('txtAvgPrice', true)) {
            $('#txtAvgPrice').val('0.00');
        }

        $('#txtTotalIssues').val(($('#txtIssueQty').val() * $('#txtAvgPrice').val()).toFixed(2));
    }

    function LoadBalance(stockID, subStoreID, ANV) {
        try {
            $.ajax({
                url: '@Url.Action(Actions.GetStockLevelBalance, Controllers.Transaction, new { area = Areas.Transaction })',
                type: 'Get',
                data: { stockID: stockID, subStoreID: subStoreID, getQtyIssued: false },
                cache: false,
                async: false,
                success: function (result) {
                    $('#txtBalance').val(parseFloat(result[0]).toFixed(2));

                    if ((ANV != 'true' && ANV != true) && parseFloat(result[0]) <= 0) {
                        ShowMessage('@SystemEnum.MessageType.danger', '@ProjectSession.Resources.message.JobOrder_MsgNegativebalanceNotAllowed', '#divModelErrorIssues');
                        $('#btnSaveIssue').attr('disabled', 'disabled');
                        $('#btnSaveIssue').addClass('disabled');

                    }
                    else {
                        $('#btnSaveIssue').removeAttr('disabled');
                        $('#btnSaveIssue').removeClass('disabled');
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }
        catch (err)
        { }
    }

    $('.decimalnumber').on('keypress', function (evt) {
        var val = $(this).val();
        var iKeyCode = (evt.which) ? evt.which : evt.keyCode;
        if (iKeyCode != 46 && iKeyCode != 39 && iKeyCode != 37 && iKeyCode != 45 && iKeyCode > 31 && (iKeyCode < 48 || iKeyCode > 57)) {
            return false;
        }
        if (iKeyCode == 46 && val.indexOf('.') > -1) {
            return false;
        }
        return true;
    });
</script>
