﻿@model CMMS.Model.Workorderlabor
@using CMMS.Infrastructure;
@{
    bool Lang = ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true;
}
<script src="~/Scripts/common.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.form.js"></script>
<style>
    .calendars-popup {
        z-index: 100000 !important;
    }
</style>
<div class="form-horizontal">
    <div class="information-form cus-form">
        <div class="row  form-group">
            <div class="col-md-6 col-lg-6 form-group">
                <label class="col-md-5 col-lg-5 control-label">@ProjectSession.Resources.label.JobOrder_TextBlockTotalHours</label>
                <div class="col-md-7 col-lg-7">
                    <input type="text" readonly="readonly" id="txtTotalHours" class="form-control" />
                </div>
            </div>
            <div class="col-md-6  col-lg-6 form-group">
                <label class="col-md-5 col-lg-5 control-label">@ProjectSession.Resources.label.ItemRequisition_TextBlockTotalCost</label>
                <div class="col-md-7 col-lg-7 ">
                    <input type="text" readonly="readonly" id="txtTotalCost" class="form-control" />
                </div>
            </div>
        </div>
    </div>
    <div class="information-form cus-form">
        <h3 class="sub-title">
            <span>@ProjectSession.Resources.message.JobOrder_RadTabItemLabour</span>
            <div class="sub_btn">
                @if (ProjectSession.PermissionAccess.JobOrder_JobOrder_Editrecords)
                {
                    <li><a href="#" class="btn-icon btn-add" data-toggle="modal" data-target="#SupplierModal" data-backdrop="static" id="btnOpenAddLabourWindow" onclick="OpenAddlaborWindow();" title='@ProjectSession.Resources.label.Common_ButtonAdd'><i></i></a></li>
                    <li><a href="javascript:void(0);" class="btn-icon btn-refresh" onclick="ReBindKendoGrid('WOlaborGrid');" title="@ProjectSession.Resources.label.Common_ButtonRefreshGrid"><i></i></a></li>
                    <li><a href="javascript:void(0);" class="btn-icon btn-xsl" onclick="ExportToExcel('WOlaborGrid', 'WorkorderLaborID');" title="@ProjectSession.Resources.label.Common_ButtonExportToExcel"><i></i></a></li>
                }
            </div>
        </h3>

        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div id="LaborGrid" class="@ProjectSession.CultureKendoClass">
                    @(Html.Kendo().Grid<CMMS.Model.Workorderlabor>()
                    .Name("WOlaborGrid")
                    .HtmlAttributes(new { @class = "kl-grid" })
                    .Columns(columns =>
                    {
                        columns.Bound(c => c.EmployeeNO).Title(ProjectSession.Resources.label.Employee_TextBlockEmployeeNO).Width(150);

                        columns.Bound(c => c.Name).Title(ProjectSession.Resources.label.Employee_TextBlockEmployeeName).Visible(Lang);
                        columns.Bound(c => c.AltName).Title(ProjectSession.Resources.label.Employee_TextBlockEmployeeName).Visible(!Lang).HtmlAttributes(new { @class = "text-right" }); ;

                        columns.Bound(c => c.StartDate).ClientTemplate("#= DateTemplateWithTime(data.StartDate) #").Title(ProjectSession.Resources.label.JobOrder_TextBlockStartDate);

                        columns.Bound(c => c.EndDate).ClientTemplate("#= DateTemplateWithTime(data.EndDate) #").Title(ProjectSession.Resources.label.JobOrder_TextBlockEndDate);

                        columns.Bound(c => c.HourlySalary).ClientTemplate("#= DecimalTempalte(data.HourlySalary,2) #").Title(ProjectSession.Resources.label.JobOrder_TextBlockNormalHours);
                        columns.Bound(c => c.OverTime1).ClientTemplate("#= DecimalTempalte(data.OverTime1,2) #").Title(ProjectSession.Resources.label.Employee_TextBlockOT1);
                        columns.Bound(c => c.OverTime2).ClientTemplate("#= DecimalTempalte(data.OverTime2,2) #").Title(ProjectSession.Resources.label.Employee_TextBlockOT2);
                        columns.Bound(c => c.OverTime3).ClientTemplate("#= DecimalTempalte(data.OverTime3,2) #").Title(ProjectSession.Resources.label.Employee_TextBlockOT3);
                        columns.Bound(c => c.TotHour).ClientTemplate("#= DecimalTempalte(data.TotHour,2) #").Title(ProjectSession.Resources.label.JobOrder_TextBlockHours);
                        columns.Bound(c => c.TotCost).ClientTemplate("#= DecimalTempalte(data.TotCost,2) #").Title(ProjectSession.Resources.label.ItemRequisition_TextBlockCost);

                        columns.Bound(c => c.WorkorderLaborID).ClientTemplate("<center>" + (ProjectSession.PermissionAccess.JobOrder_JobOrder_AssignEmployees ? "<a class='action delete-button'  href='javascript:void(0);'  class='delete-ic' data-id='#: WorkorderLaborID #' style='cursor:pointer'><i class='glyphicon glyphicon-trash' title='" + ProjectSession.Resources.label.Common_ButtonDelete + "' ></i></a>" : "") + "</center>")
                                                        .Title("<center>" + ProjectSession.Resources.label.Common_ButtonAction + "</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Width(80).Filterable(false);
                    })
                    .Filterable()
                    .Sortable(sortable => sortable.AllowUnsort(false))
                    .Scrollable()
                    .Excel(excel => excel.FileName(ProjectSession.Resources.message.JobOrder_RadTabItemLabour + ".xlsx").Filterable(true).AllPages(true).ProxyURL(Url.Action("Excel_Export_Save", "GridExport", new { area = string.Empty })))
                    .Pageable(pageable => pageable.PageSizes(CMMS.Pages.General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
                    .Events(events => events.DataBound("onDataBoundForWOLabor").ExcelExport("excelExport"))
                    .DataSource(dataSource =>
                    dataSource.Ajax()
                    .PageSize(ProjectConfiguration.PageSize)
                    .Sort(model => model.Add("Name").Ascending())
                     .Model(model =>
                     {
                         model.Id(p => p.WorkorderLaborID);
                         model.Field(p => p.WorkorderNo);
                     })
                    .ServerOperation(true)
                    .Read(read => read.Action(CMMS.Pages.Actions.GetWorkOrderLabours, CMMS.Pages.Controllers.Transaction, new { area = CMMS.Pages.Areas.Transaction }).Data("BindParametersForWOLabor").Type(HttpVerbs.Post))
                    )
                  )

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Labor Add Modal -->
@if (ProjectSession.PermissionAccess.JobOrder_JobOrder_Editrecords)
{
    <div id="laborAddModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" title="@ProjectSession.Resources.label.Common_ButtonClose"></button>
                    <h4 class="modal-title">@ProjectSession.Resources.message.JobOrder_RadTabItemLabour</h4>
                    <input type="hidden" id="hdnLaborHourlySalary" />
                    <input type="hidden" id="hdnLaborOT1" />
                    <input type="hidden" id="hdnLaborOT2" />
                    <input type="hidden" id="hdnLaborOT3" />
                </div>
                @using (Html.BeginForm(CMMS.Pages.Actions.SaveWOLabor, CMMS.Pages.Controllers.Transaction, new { area = CMMS.Pages.Areas.Transaction }, FormMethod.Post, new { id = "frmWorkOrderLabors", @role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.WorkorderNo)
                    <div class="modal-body">
                        <div id="Highlights" class="tab-pane active" role="tabpanel">
                            <div id="divModelErrorLabor"></div>
                            <div class="form-horizontal">
                                <div class="row">
                                    <div class="col-md-12 col-lg-12">
                                        <div class="form-group two-form-group">
                                            <label class="col-md-2 control-label">@ProjectSession.Resources.label.Employee_TextBlockEmployeeNO</label>
                                            <div class="col-md-10">
                                                <div class="input-group pm-checklist">
                                                    @Html.HiddenFor(model => model.EmployeeID, new { @id = "hdnLaborEmployeeID" })
                                                    @Html.TextBoxFor(model => model.EmployeeNO, new { @class = "form-control code-input", @readonly = "readonly", @id = "txtLaborEmpNo", @Placeholder = @ProjectSession.Resources.label.Employee_TextBlockEmployeeNO })
                                                    @*@Html.TextBoxFor(model => model.Name, new { @class = "form-control", @style = "display:" + (Lang ? "" : "none;"), @readonly = "readonly", @id = "txtLaborEmpName", @Placeholder = @ProjectSession.Resources.label.Employee_TextBlockEmployeeName })
                                                    @Html.TextBoxFor(model => model.AltName, new { @class = "form-control", @style = "display:" + (Lang ? "none;" : ""), @readonly = "readonly", @id = "txtLaborAltEmpName", @Placeholder = @ProjectSession.Resources.label.Employee_TextBlockEmployeeName })*@
                                                   
                                                    @(Html.Kendo().AutoCompleteFor(model => model.Name)
                                     .DataTextField("Name")
                                    .HtmlAttributes(new { @class = "form-control", @id = "txtLaborEmpName" })
                                    .Filter("contains")
                                    .Template("#= KendoDDLTemplateForTwoColumn( data.EmployeeNO, data.Name) #")
                                    .MinLength(3)
                                    .Placeholder(ProjectSession.Resources.label.Employee_TextBlockEmployeeName)
                                    .Events(m => m.Select("onJOLaborEmployeeAutoSelect"))
                                    .DataSource(source =>
                                     {
                                         source.Read(read =>
                                         {
                                             read.Action(CMMS.Pages.Actions.GetEmployeeAssignPageAutoDDL, CMMS.Pages.Controllers.AutoComplete, new { area = CMMS.Pages.Areas.Configurations }).Data("onJOLaborEmployeeAdditionalData");
                                         })
                                     .ServerFiltering(true);
                                     })
                                    .Value(Convert.ToString(Model.Name))
                                                    )

                                                     <a href="#" class="checklis-btn" id="btnOpenAddLaborPopUp" data-toggle="modal" data-backdrop="static" onclick="OpenEmployeePopUp(3)">
                                                        <img src="../images/checklis-icon.png" alt="">
                                                    </a>
                                                    <a href="javascript:void(0);" class="close-btn" id="btnClearLabor" title="@ProjectSession.Resources.label.Common_ButtonClear" onclick="ClearLaborEmployee();">
                                                        <img src="../images/close.png" alt="">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-lg-6">
                                        <div class="form-group ">
                                            <label class="col-md-4 control-label">@ProjectSession.Resources.label.JobOrder_TextBlockStartDate</label>
                                            <div class="col-md-8">
                                                <div class="input-group date-pick">
                                                    @Html.TextBoxFor(model => model.StartDate, String.Format("{0:" + ProjectConfiguration.DefaultDateFormat + "}", Model.StartDate), new { @id = "txtLaborStartDate", @class = "form-control calendarsPicker", @placeholder = ProjectConfiguration.DefaultDateFormat })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6">
                                        <div class="form-group ">
                                            <label class="col-md-4 control-label">@ProjectSession.Resources.label.JobOrder_TextBlockStartTime</label>
                                            <div class="col-md-8 ">
                                                @(Html.Kendo().TimePickerFor(model => model.StartTime)
                                      .Value("12:00 AM")
                                      .Min("12:00 AM")
                                      .Max("11:00 PM")
                                      .Interval(60)
                                      .HtmlAttributes(new { style = "width: 100%", @id = "ddlLaborStartTime", @onkeydown = "return false" })
                                                )
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-lg-6">
                                        <div class="form-group ">
                                            <label class="col-md-4 control-label">@ProjectSession.Resources.label.JobOrder_TextBlockEndDate</label>
                                            <div class="col-md-8">
                                                <div class="input-group date-pick">
                                                    @Html.TextBoxFor(model => model.EndDate, String.Format("{0:" + ProjectConfiguration.DefaultDateFormat + "}", Model.EndDate), new { @id = "txtLaborEndDate", @class = "form-control calendarsPicker", @placeholder = ProjectConfiguration.DefaultDateFormat })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6">
                                        <div class="form-group ">
                                            <label class="col-md-4 control-label">@ProjectSession.Resources.label.JobOrder_TextBlockEndTime</label>
                                            <div class="col-md-8 ">
                                                @(Html.Kendo().TimePickerFor(model => model.EndTime)
                                      .Value("12:00 AM")
                                      .Min("12:00 AM")
                                      .Max("11:00 PM")
                                      .Interval(60)
                                      .HtmlAttributes(new { style = "width: 100%", @id = "ddlEndTime", @onkeydown = "return false" })
                                                )
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 cols-md-12">
                                        <div class="form-group ">
                                            <label class="col-md-2 control-label">@ProjectSession.Resources.label.JobOrder_TextBlockComments</label>
                                            <div class="col-md-10">
                                                @Html.TextAreaFor(model => model.Comment, new { @id = "txtLaborComment", @MaxLength = 1500, @class = "form-control", @rows = "3", @placeholder = ProjectSession.Resources.label.Common_Enter + " " + ProjectSession.Resources.label.JobOrder_TextBlockComments })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="information-form">
                                <h3 class="sub-title">
                                    <span>@ProjectSession.Resources.label.JobOrder_TextBlockHours</span>
                                    <div class="sub_btn">

                                    </div>
                                </h3>
                                <div class="row">
                                    <div class="form-group col-md-3 col-lg-3">
                                        <label class="form-label">@ProjectSession.Resources.label.JobOrder_TextBlockNormalHours</label>
                                        <div class="input-group pm-checklist onlybutton equalsbtn">
                                            @Html.TextBoxFor(model => model.HourlySalary, "{0:0.00}", new { @class = "form-control decimalnumber", @id = "txtLaborNormalHours", @onfocusout = "CalculateTotalHoursAndCost();", @placeholder = ProjectSession.Resources.label.JobOrder_TextBlockNormalHours })
                                            <a href="#" class="checklis-btn" id="btnOpenAddLaborPopUp" data-toggle="modal" data-backdrop="static" onclick="calculateHours('txtLaborNormalHours');">
                                                <img src="../images/btnequaltosign.png" title="Calculate from the selected dates" alt="">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-3 col-lg-3">
                                        <label class="form-label">@ProjectSession.Resources.label.Employee_TextBlockOT1</label>
                                        <div class="input-group pm-checklist onlybutton equalsbtn">
                                            @Html.TextBoxFor(model => model.OverTime1, "{0:0.00}", new { @class = "form-control decimalnumber", @id = "txtLborOT1Hours", @onfocusout = "CalculateTotalHoursAndCost();", @placeholder = ProjectSession.Resources.label.Employee_TextBlockOT1 })
                                            <a href="#" class="checklis-btn" id="btnOpenAddLaborPopUp" data-toggle="modal" data-backdrop="static" onclick="calculateHours('txtLborOT1Hours');">
                                                <img src="../images/btnequaltosign.png" alt="">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-3 col-lg-3">
                                        <label class="form-label">@ProjectSession.Resources.label.Employee_TextBlockOT2</label>
                                        <div class="input-group pm-checklist onlybutton equalsbtn">
                                            @Html.TextBoxFor(model => model.OverTime2, "{0:0.00}", new { @class = "form-control decimalnumber", @id = "txtLborOT2Hours", @onfocusout = "CalculateTotalHoursAndCost();", @placeholder = ProjectSession.Resources.label.Employee_TextBlockOT2 })
                                            <a href="#" class="checklis-btn" id="btnOpenAddLaborPopUp" data-toggle="modal" data-backdrop="static" onclick="calculateHours('txtLborOT2Hours');">
                                                <img src="../images/btnequaltosign.png" alt="">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-3 col-lg-3">
                                        <label class="form-label">@ProjectSession.Resources.label.Employee_TextBlockOT3</label>
                                        <div class="input-group pm-checklist onlybutton equalsbtn">
                                            @Html.TextBoxFor(model => model.OverTime3, "{0:0.00}", new { @class = "form-control decimalnumber", @id = "txtLborOT3Hours", @onfocusout = "CalculateTotalHoursAndCost();", @placeholder = ProjectSession.Resources.label.Employee_TextBlockOT3 })
                                            <a href="#" class="checklis-btn" id="btnOpenAddLaborPopUp" data-toggle="modal" data-backdrop="static" onclick="calculateHours('txtLborOT3Hours');">
                                                <img src="../images/btnequaltosign.png" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="information-form">
                                <h3 class="sub-title">
                                    <span>@ProjectSession.Resources.label.JobOrder_TextBlockTotal</span>
                                    <div class="sub_btn">

                                    </div>
                                </h3>
                                <div class="row">
                                    <div class="form-group col-md-6 col-lg-6">
                                        <label class="form-label">@ProjectSession.Resources.label.JobOrder_TextBlockHours</label>
                                        @Html.TextBoxFor(model => model.TotHour, "{0:0.00}", new { @readonly = "readonly", @class = "form-control decimalnumber", @id = "txtLaborHours", @placeholder = ProjectSession.Resources.label.JobOrder_TextBlockHours })
                                    </div>
                                    <div class="form-group col-md-6 col-lg-6">
                                        <label class="form-label">@ProjectSession.Resources.label.ItemRequisition_TextBlockCost</label>
                                        @Html.TextBoxFor(model => model.TotCost, "{0:0.00}", new { @readonly = "readonly", @class = "form-control decimalnumber", @id = "txtLborCost", @placeholder = ProjectSession.Resources.label.ItemRequisition_TextBlockCost })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer box-footer">
                        @if (ProjectSession.PermissionAccess.JobOrder_JobOrder_Editrecords)
                        {
                            <button type="submit" onclick="" class="btn btn-primary" id="btnLaborSave"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
                        }
                        <button type="button" class="btn btn-default" data-dismiss="modal">@ProjectSession.Resources.label.Common_ButtonClose</button>
                    </div>
                }
            </div>
        </div>
    </div>
}

<script type="text/javascript">

    $(document).ready(function () {
        CreateCalendarsPicker();
    });

    function OpenAddlaborWindow() {
        //ClearAllInputs("frmWorkOrderLabors");
        $("#laborAddModal").modal("show");
    }

    $('#frmWorkOrderLabors').validate({
        rules: {
            EmployeeNO: { required: true }
        },
        messages: {
            EmployeeNO: { required: '' }
        }
    });

    $('#frmWorkOrderLabors').submit(function (e) {
        var blnValid = true;

        if ($('#hdnLaborEmployeeID').val() == null || $('#hdnLaborEmployeeID').val() == 'undefined' || $('#hdnLaborEmployeeID').val() <= 0) {
            blnValid = false;
        }

        if (blnValid) {

            var options = {
                success: onSuccessAssignLabor,  // post-submit callback
                data: addRequestVerificationToken($('#frmWorkOrderLabors').serialize())
            };
            $(this).ajaxSubmit(options);
            return false;
        }
        else { e.preventDefault(); }

    });

    function onSuccessAssignLabor(responseText, statusText, xhr, $form) {
        if (responseText[0] == 1) {
            ShowMessage(responseText[1], responseText[2], "#divModelErrorLabor");
        }
        else {
            ShowMessage(responseText[1], responseText[2], "#divModelError");
            $("#laborAddModal").modal("hide");
            ReBindKendoGrid('WOlaborGrid');
            ClearLaborEmployee();
        }
    }
</script>

<script type="text/javascript">

    function onConfirmCallbackWOLabor(sender) {
        var id = $(this).data("id");

        $.ajax({
            url: '@Url.Action(CMMS.Pages.Actions.DeleteWorkOrderLabour, CMMS.Pages.Controllers.Transaction, new { area = CMMS.Pages.Areas.Transaction })',
            type: "POST",
            data: addRequestVerificationToken({ workOrderLaborID: id, workOrderNo: $('#WorkorderNo').val() }),
            dataType: "json",
            success: function (result) {
                //ClearAllInputs("frmWorkOrderLabors");
                ShowMessage(result[0], result[1], "#divMessage");
                ReBindKendoGrid("WOlaborGrid");
            },
            error: function (xhr, ajaxOptions, thrownError) {
                showErrorMessage();
            }
        });
    }

    function calculateHours(txtBoxId) {
        try {
            if (isNotUndefinedNullOrBlankOrZero('hdnLaborEmployeeID', true) == false) {
                ShowMessage('@SystemEnum.MessageType.danger', '@ProjectSession.Resources.message.JobOrder_MsgSelectEmployee', "#divModelErrorLabor");
                return false;
            }
            else {
                if (isNotUndefinedNullOrBlankOrZero('txtLaborStartDate', false) && isNotUndefinedNullOrBlankOrZero('ddlLaborStartTime', false)
                     && isNotUndefinedNullOrBlankOrZero('txtLaborEndDate', false) && isNotUndefinedNullOrBlankOrZero('ddlEndTime', false)) {
                    DatetimeAjaxCall($('#txtLaborStartDate').val(), $('#ddlLaborStartTime').val(), $('#txtLaborEndDate').val(), $('#ddlEndTime').val(), txtBoxId, -1);
                }
            }

        } catch (err)
        { }
    }

    function DatetimeAjaxCall(dt1, t1, dt2, t2, extraParam, type) {
        var objData = {
            date1: dt1, //encodeURIComponent(dt1),
            time1: t1,//encodeURIComponent(t1),
            date2: dt2, //encodeURIComponent(dt2),
            time2: t2,//encodeURIComponent(t2),
            extraParam: extraParam,//encodeURIComponent(extraParam),
            type: type, //encodeURIComponent(type)
        };

        $.ajax({
            url: '@Url.Action(CMMS.Pages.Actions.CompareDateTime, CMMS.Pages.Controllers.Transaction, new { area = CMMS.Pages.Areas.Transaction })',
            type: "GET",
            data: objData,
            dataType: "json",
            success: function (result) {
                OnDateTimeCompareLaborSucces(result, extraParam);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                showErrorMessage();
            }
        });
    }

    function OnDateTimeCompareLaborSucces(result, txtBoxId) {
        if (result != null && typeof result != 'undefined') {
            if (result.ErrorMessage != null && result.ErrorMessage != '') {
                ShowMessage('@SystemEnum.MessageType.danger', result.ErrorMessage, '#divModelError');
                return true;
            }

            if (result.Type == -1) {
                if (result.DifferenceInMinutes != null && typeof result.DifferenceInMinutes != 'undefined') {
                    $('#' + txtBoxId).val(parseInt(result.DifferenceInMinutes / 60));
                    CalculateTotalHoursAndCost();
                }
            }
        }
    }

    function CalculateTotalHoursAndCost() {
        try {
            
            var NormalRate = isNotUndefinedNullOrBlankOrZero('hdnLaborHourlySalary', true) ? $('#hdnLaborHourlySalary').val() : 0;
            var OT1Rate = isNotUndefinedNullOrBlankOrZero('hdnLaborOT1', true) ? $('#hdnLaborOT1').val() : 0;
            var OT2Rate = isNotUndefinedNullOrBlankOrZero('hdnLaborOT2', true) ? $('#hdnLaborOT2').val() : 0;
            var OT3Rate = isNotUndefinedNullOrBlankOrZero('hdnLaborOT3', true) ? $('#hdnLaborOT3').val() : 0;

            var NormalHour = isNotUndefinedNullOrBlankOrZero('txtLaborNormalHours', true) ? $('#txtLaborNormalHours').val() : 0;
            var OT1Hour = isNotUndefinedNullOrBlankOrZero('txtLborOT1Hours', true) ? $('#txtLborOT1Hours').val() : 0;
            var OT2Hour = isNotUndefinedNullOrBlankOrZero('txtLborOT2Hours', true) ? $('#txtLborOT2Hours').val() : 0;
            var OT3Hour = isNotUndefinedNullOrBlankOrZero('txtLborOT3Hours', true) ? $('#txtLborOT3Hours').val() : 0;

            var NormalCost = NormalRate * NormalHour;
            var OT1Cost = OT1Rate * OT1Hour;
            var OT2Cost = OT2Rate * OT2Hour;
            var OT3Cost = OT3Rate * OT3Hour;

            $('#txtLaborHours').val((parseFloat(NormalHour) + parseFloat(OT1Hour) + parseFloat(OT2Hour) + parseFloat(OT3Hour)).toFixed(2));
            $('#txtLborCost').val((parseFloat(NormalCost) + parseFloat(OT1Cost) + parseFloat(OT2Cost) + parseFloat(OT3Cost)).toFixed(2));
        } catch (err)
        { }
    }
</script>
<script>
    $(function () {
        EnableDisableControlls();
    });
</script>