﻿@using CMMS.Pages
@using CMMS.Infrastructure;
@model CMMS.Model.WorkOrder
@{
    bool Lang = ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true;
}

<div id="divModelErrorJoNotes"></div>
<div id="divContent">
    @Html.AntiForgeryToken()
    <div class="information-form">
        <h3 class="sub-title">
            <span>@ProjectSession.Resources.message.JobOrder_RadTabItemNotes</span>
            <div class="sub_btn">

            </div>
        </h3>
        <div class="row">
            <div class="col-sm-12 col-md-12">
                @Html.TextAreaFor(model => model.Notes, new { @id = "txtWONotes", @MaxLength = 1500, @class = "form-control", @rows = "27", @placeholder = ProjectSession.Resources.label.Common_Enter + " " + ProjectSession.Resources.label.Item_TextBlockNotes })
            </div>
        </div>
    </div>
    <div class="box-footer">
        @{

            if (ProjectSession.PermissionAccess.JobOrder_JobOrder_Editrecords)
            {
                <button class="btn btn-primary" id="btnSaveNotes" title="@ProjectSession.Resources.label.Common_ButtonSave" onclick="SaveJONotes();" type="button"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
            }
        }
        <button class="btn btn-default" type="button" onclick="location.href = '@Url.Action(Actions.JobOrderList, Controllers.Transaction, new { @area = Areas.Transaction })';"><span>@ProjectSession.Resources.label.Common_ButtonCancel</span></button>
    </div>

</div>

<script type="text/javascript">
    function SaveJONotes() {
        try {
            $.ajax({
                url: '@Url.Action(CMMS.Pages.Actions.SaveJoNotes, CMMS.Pages.Controllers.Transaction, new { area = CMMS.Pages.Areas.Transaction })',
                type: "POST",
                data: addRequestVerificationToken({ workOrderNo: $('#WorkorderNo').val(), notes: $('#txtWONotes').val() }),
                dataType: "json",
                success: function (result) {
                    ShowMessage(result[1], result[2], "#divMessage");
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }
        catch (err)
        { }
    }
</script>
<script>
    $(function () {
        EnableDisableControlls();
    });
</script>