﻿@using CMMS.Infrastructure;
@{
    bool Lang = ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true;
}
<script type="text/javascript" src="~/Scripts/jquery.form.js"></script>
<style>
    .calendars-popup {
        z-index: 100000 !important;
    }
</style>
<script type="text/javascript">
    function onDataBoundForWOPmCheckList(arg) {
        gridProperPaging(this);
    }

    function BindParametersForWOPmCheckList() {
        return {
            workOrderNo: ($('#WorkorderNo').val() == '' || $('#WorkorderNo').val() == 'undefined' ? 0 : $('#WorkorderNo').val()),
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    var validator4 = $('#frmJoPmCheckListItem').validate({
        rules: {
            SeqID: { required: true },
            Description: { required: true },
        },
        messages: {
            SeqID: { required: '' },
            Description: { required: '' },
        }
    });
</script>
<div class="form-horizontal">
    <div class="information-form cus-form">
        <div class="row  form-group">
            <div class="col-md-6 col-lg-6 form-group">
                <label class="col-md-5 col-lg-5 control-label">@ProjectSession.Resources.label.PM_TextBlockCheckListNumber</label>
                <div class="col-md-7 col-lg-7">
                    <input type="text" readonly="readonly" id="txtJOPmCheckListNO" class="form-control" />
                </div>
            </div>
            <div class="col-md-6  col-lg-6 form-group">
                <label class="col-md-5 col-lg-5 control-label">@ProjectSession.Resources.label.PMChecklist_TextBlockPMChecklistDesc</label>
                <div class="col-md-7 col-lg-7 ">
                    <input type="text" readonly="readonly" id="txtJOPmCheckListDesc" class="form-control" />
                </div>
            </div>
        </div>
    </div>
    <div class="information-form cus-form">
        <h3 class="sub-title">
            <span>@ProjectSession.Resources.label.PM_TextBlockPMCheckListTask</span>
            <div class="sub_btn">
                @if (ProjectSession.PermissionAccess.JobOrder_JobOrder_Editrecords)
                {
                    @*<li><a href="#" class="btn-icon btn-add" data-toggle="modal" data-target="#CheckListItemModal" data-backdrop="static" onclick="OpenUpdateCheckListItemWindow();" title='@ProjectSession.Resources.label.Common_ButtonAdd'><i></i></a></li>*@
                    <li><a href="javascript:void(0);" class="btn-icon btn-refresh" onclick="ReBindKendoGrid('WOPmCheckListGrid');" title="@ProjectSession.Resources.label.Common_ButtonRefreshGrid"><i></i></a></li>
                    <li><a href="javascript:void(0);" class="btn-icon btn-xsl" onclick="ExportToExcel('WOPmCheckListGrid', 'WorkorderNo');" title="@ProjectSession.Resources.label.Common_ButtonExportToExcel"><i></i></a></li>
                }
            </div>
        </h3>

        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div id="LaborGrid" class="@ProjectSession.CultureKendoClass">
                    @(Html.Kendo().Grid<CMMS.Model.Workorderelement>()
                .Name("WOPmCheckListGrid")
        .HtmlAttributes(new { @class = "kl-grid" })
        .Columns(columns =>
        {
            columns.Bound(c => c.SeqNo).Title(ProjectSession.Resources.label.PM_TextBlockSeqNo);

            columns.Bound(c => c.TaskDesc).Title(ProjectSession.Resources.label.PMChecklist_TextBlockPMChecklistDesc).Visible(Lang);
            columns.Bound(c => c.AltTaskDesc).Title(ProjectSession.Resources.label.PMChecklist_TextBlockArabicPMChecklistDesc).HtmlAttributes(new { @class = "text-right" }); ;

            columns.Bound(c => c.Remarks).Title(ProjectSession.Resources.label.JobOrder_TextBlockRemarksPMChecklist);

            columns.Bound(c => c.WorkorderNo).ClientTemplate("<center>" + (ProjectSession.PermissionAccess.JobOrder_JobOrder_Editrecords ? "<a class='action' title='" + ProjectSession.Resources.label.Common_ButtonEdit + "' data-id='#: SeqNo #' style='cursor:pointer' data-toggle='modal' data-target='\\#checkListItemModal' onclick='OpenUpdateCheckListItemWindow(#: SeqNo#)'><i class='glyphicon glyphicon-pencil'></i></a>" : "") + "</center>")
                                            .Title("<center>" + ProjectSession.Resources.label.Common_ButtonAction + "</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Width(80).Filterable(false);
        }) 
        .Filterable()
        .Sortable(sortable => sortable.AllowUnsort(false))
        .Scrollable()
        .Excel(excel => excel.FileName(ProjectSession.Resources.label.PM_TextBlockPMCheckListTask + ".xlsx").Filterable(true).AllPages(true).ProxyURL(Url.Action("Excel_Export_Save", "GridExport", new { area = string.Empty })))
        .Pageable(pageable => pageable.PageSizes(CMMS.Pages.General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
        .Events(events => events.DataBound("onDataBoundForWOPmCheckList").ExcelExport("excelExport"))
        .DataSource(dataSource =>
                                dataSource.Ajax()
                                .PageSize(ProjectConfiguration.PageSize)
                                .Sort(model => model.Add("SeqNo").Ascending())
                                 .Model(model =>
                                 {
                                     model.Id(p => p.SeqNo);
                                     model.Field(p => p.TaskDesc);
                                 })
                                .ServerOperation(true)
                                                       .Read(read => read.Action(CMMS.Pages.Actions.GetWorkOrderPmCheckListTasks, CMMS.Pages.Controllers.Transaction, new { area = CMMS.Pages.Areas.Transaction }).Data("BindParametersForWOPmCheckList").Type(HttpVerbs.Post))
        )
                    )

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Labor Add Modal -->
@if (ProjectSession.PermissionAccess.JobOrder_JobOrder_Editrecords)
{
    <div id="checkListItemModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-mg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" title="@ProjectSession.Resources.label.Common_ButtonClose"></button>
                    <h4 class="modal-title">@ProjectSession.Resources.label.PM_TextBlockPMCheckListTask</h4>
                </div>
                <form role="form" id="frmJoPmCheckListItem">
                    <div class="modal-body">
                        <div id="Highlights" class="tab-pane active" role="tabpanel">
                            <div class="form-horizontal">
                                <div id="divModelErrorJobPmCheckList"></div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">@ProjectSession.Resources.label.PM_TextBlockSeqNo<span class="cfont">*</span></label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control allowIntegerOnly" disabled="disabled" id="txtPMSeqID" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.JobPlan_TextBlockSeqId" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">@ProjectSession.Resources.label.PMChecklist_TextBlockPMChecklistDesc<span class="cfont">*</span></label>
                                    <div class="col-sm-8">
                                        <textarea class="form-control" id="txtPmCheckListItemDescription" disabled="disabled" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.JobPlan_TextBlockDecription"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">@ProjectSession.Resources.label.PMChecklist_TextBlockArabicPMChecklistDesc</label>
                                    <div class="col-sm-8">
                                        <textarea class="form-control text-right" id="txtPmCheckListItemAltDescription" disabled="disabled" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.JobPlan_TextBlockAltDecription"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">@ProjectSession.Resources.label.JobOrder_TextBlockRemarksPMChecklist</label>
                                    <div class="col-sm-8">
                                        <textarea class="form-control" id="txtJOPMtaskRemark" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.JobOrder_TextBlockRemarksPMChecklist"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer box-footer">
                        @if (ProjectSession.PermissionAccess.JobOrder_JobOrder_Editrecords)
                        {
                            <button type="submit" class="btn btn-primary" id="btnSaveJOPMTask"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
                        }
                        <button type="button" class="btn btn-default" data-dismiss="modal">@ProjectSession.Resources.label.Common_ButtonClose</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
}

<script type="text/javascript">

    function OpenUpdateCheckListItemWindow(id) {
        if (id > 0) {
            var grid = $("#WOPmCheckListGrid").data("kendoGrid");
            var data = $("#WOPmCheckListGrid table td").find("a[data-id='" + id + "']").closest("tr");
            var model = grid.dataItem(data);
            $("#txtPMSeqID").val(model.SeqNo);
            $("#txtPmCheckListItemDescription").val(model.TaskDesc);
            $("#txtPmCheckListItemAltDescription").val(model.AltTaskDesc);
            $('#txtJOPMtaskRemark').val(model.Remarks);
        }
        else {
            $("#txtPMSeqID").val('');
            $("#txtPmCheckListItemDescription").val('');
            $("#txtPmCheckListItemAltDescription").val('');
            $('#txtJOPMtaskRemark').val("");
        }
    }

    $('#frmJoPmCheckListItem').submit(function (e) {
        if ($("#frmJoPmCheckListItem").valid()) {
            if (!e.isDefaultPrevented()) {

                var WorkorderNo = ($('#WorkorderNo').val() == '' || $('#WorkorderNo').val() == 'undefined' ? 0 : $('#WorkorderNo').val());
                var SeqNo = $('#txtPMSeqID').val();
                var Remark = $('#txtJOPMtaskRemark').val();

                $.ajax({
                    url: '@Url.Action(CMMS.Pages.Actions.SaveJobOrderPmCheckList, CMMS.Pages.Controllers.Transaction, new { area = CMMS.Pages.Areas.Transaction })',
                    type: "POST",
                    data: addRequestVerificationToken({ WorkOrderNo: WorkorderNo, SeqNo: SeqNo, Remark: Remark }),
                    dataType: "json",
                    success: function (result) {
                        if (result[0] == 0) {
                            ShowMessage(result[1], result[2], "#divMessage");
                            $('#checkListItemModal').modal("hide");
                            ReBindKendoGrid("WOPmCheckListGrid");
                        }
                        else {
                            ShowMessage(result[1], result[2], "#divModelErrorJobItem");
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        showErrorMessage();
                    }
                });
                return false;
            }
        }
    });

    $('#checkListItemModal').on('hide.bs.modal', function (e) {
        if (validator4 != "")
            validator4.resetForm();
    });

    $(function () {

        $('#txtJOPmCheckListNO').val($('#txtPMCheckListNo').val());
        if ('@Lang' == 'True')
        { $('#txtJOPmCheckListDesc').val($('#txtCheckListName').val()); }
        else
        { $('#txtJOPmCheckListDesc').val($('#txtAltCheckListName').val()); }
        
    });
</script>

<script>
    $(function () {
        EnableDisableControlls();
    });
</script>