﻿@model CMMS.Model.Jobtask
@using CMMS.Infrastructure;
@{
    bool Lang = ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true;
}
<script type="text/javascript" src="~/Scripts/jquery.form.js"></script>
<style>
    .calendars-popup {
        z-index: 100000 !important;
    }
</style>
<script type="text/javascript">
    var oldJobTask;
    var confirmMessageToCopyJobPlanToWorkOrder = '@ProjectSession.Resources.message.JobOrder_MsgCopyJobPlanConfirm';
    function onDataBoundForJobPlan(arg) {
        gridProperPaging(this);
    }

    function onJobPlanAdditionalData() {
        return {
            text: $("#txtJobPlanName").val(),
        };
    }

    function BindParametersForJobPlan() {
        return {
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function onJobPlanAutoSelect(e) {
        var model = this.dataItem(e.item.index());
        $('#hdnJOPlanID').val(model.JobPlanID);
        $('#txtJOPlanNo').val(model.JobPlanNo);
    }


    function OpenJobPlanPopUp() {
        try { $("#jobPlanGridModal").modal("show"); } catch (err) { alert(err); }
    }

    function ClearWOJobPlans() {
        $('#hdnJOPlanID').val("");
        $('#txtJOPlanNo').val("");
        $('#txtJobPlanName').val("");
        $('#txtAltJobPlanName').val("");
        $('#txtJOPlanNo').removeClass("kendoDrpRequired");
    }

    function OpenJobPlanItemEditWindow(id) {

        if (id > -1) {
            var grid = $("#WOJobTaskGrid").data("kendoGrid");
            var data = $("#WOJobTaskGrid table td").find("a[data-id='" + id + "']").closest("tr");
            var model = grid.dataItem(data);
            $("#txtSeqID").val(model.SeqId);
            $("#hdnSeqId").val(model.SeqId);
            $("#txtAreaSeqDescription").val(model.Details);
            $("#txtAreaAltSeqDescription").val(model.AltDetails);
            $('#txtJobTaskRemark').val(model.Remarks);

            oldJobTask = {
                WoNo: ($('#WorkorderNo').val() == '' || $('#WorkorderNo').val() == 'undefined' ? 0 : $('#WorkorderNo').val()),
                SeqID: model.SeqId,
                Details: model.Details,
                AltDetails: model.AltDetails,
                Remarks: model.Remarks,
                CreatedBy: model.CreatedBy,
                CreatedDate: model.CreatedDate,
                ModifiedBy: model.ModifiedBy,
                ModifiedDate: model.ModifiedDate
            };
        }
        else {
            $("#txtSeqID").val('');
            $("#hdnSeqId").val('');
            $("#txtAreaSeqDescription").val('');
            $("#txtAreaAltSeqDescription").val('');
            $('#txtJobTaskRemark').val("");
            oldJobTask = {
                WoNo: ($('#WorkorderNo').val() == '' || $('#WorkorderNo').val() == 'undefined' ? 0 : $('#WorkorderNo').val()),
                SeqID: -1,
                Details: $("#txtAreaSeqDescription").val(),
                AltDetails: $("#txtAreaAltSeqDescription").val(),
                Remarks: $('#txtJobTaskRemark').val()
            };
        }
    }

    var validator1 = $('#frmItemJobPlan').validate({
        rules: {
            SeqID: { required: true },
            Description: { required: true },
        },
        messages: {
            SeqID: { required: '' },
            Description: { required: '' },
        }
    });
</script>
<div class="form-horizontal">
    <div class="row form-group">
        <div class="col-md-12 col-lg-12">
            <div class="two-form-group">
                <label class="col-md-2 control-label">@ProjectSession.Resources.label.JobPlan_TextBlockJobPlanNo</label>
                <div class="col-md-6">
                    <div class="input-group pm-checklist">
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.JobPlanID, new { @id = "hdnJOPlanID" })
                        @Html.TextBoxFor(model => model.JobPlanNo, new { @class = "form-control code-input", @readonly = "readonly", @id = "txtJOPlanNo", @Placeholder = @ProjectSession.Resources.label.JobPlan_TextBlockJobPlanNo })
                        @*@Html.TextBoxFor(model => model.JobPlanName, new { @class = "form-control", @readonly = "readonly", @style = "display:" + (Lang ? "" : "none;"), @id = "txtJobPlanName", @Placeholder = @ProjectSession.Resources.label.JobPlan_TextBlockJobPlanDesc })
                        @Html.TextBoxFor(model => model.AltJobPlanName, new { @class = "form-control", @readonly = "readonly", @style = "display:" + (Lang ? "none;" : ""), @id = "txtAltJobPlanName", @Placeholder = @ProjectSession.Resources.label.JobPlan_TextBlockAltDecription })*@
                      
                        @(Html.Kendo().AutoCompleteFor(model => model.JobPlanName)
                                                    .DataTextField(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "AltJobPlanName" : "JobPlanName")
                                            .HtmlAttributes(new { @class = "form-control", @id = "txtJobPlanName" })
                                    .Filter("contains")
                                    .Template("#= KendoDDLTemplate( data.JobPlanNo, data.JobPlanName, data.AltJobPlanName) #")
                                    .MinLength(3)
                                    .Placeholder(ProjectSession.Resources.label.JobPlan_TextBlockJobPlanDesc)
                                    .Events(m => m.Select("onJobPlanAutoSelect"))
                                    .DataSource(source =>
                                     {
                                         source.Read(read =>
                                         {
                                             read.Action(CMMS.Pages.Actions.GetWorkOrderJOPlanListAutoDDL, CMMS.Pages.Controllers.AutoComplete, new { area = CMMS.Pages.Areas.Configurations }).Data("onJobPlanAdditionalData");
                                         })
                                     .ServerFiltering(true);
                                     })
                                                    .Value(Convert.ToString(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? Model.AltJobPlanName : Model.JobPlanName))
                        )

                          <a href="#" class="checklis-btn" id="btnOpenJobPlansPopUp" data-toggle="modal" data-backdrop="static" onclick="OpenJobPlanPopUp();">
                            <img src="../images/checklis-icon.png" alt="">
                        </a>
                        <a href="javascript:void(0);" class="close-btn" id="btnClearJobPlan" title="@ProjectSession.Resources.label.Common_ButtonClear" onclick="ClearWOJobPlans();">
                            <img src="../images/close.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="control-label"></label>
                        <div class="col-md-12">
                            @if (ProjectSession.PermissionAccess.JobOrder_JobOrder_Editrecords)
                            {
                                <button class="btn btn-primary" id="btnSaveJobPlan" onclick="SaveJobPlans()" title="@ProjectSession.Resources.label.Common_ButtonSave" type="button"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="information-form cus-form">
    <h3 class="sub-title">
        <span>@ProjectSession.Resources.menu.JobPlan_MenuJobPlansItem</span>
        <div class="sub_btn">
            @if (ProjectSession.PermissionAccess.JobOrder_JobOrder_Editrecords)
            {
                <li><button class="btn btn-primary" id="btnClearJobPlanList" onclick="ClearJobPlanList()" title="@ProjectSession.Resources.label.JobOrder_ButtonClearJobPlanList" type="button"><span>@ProjectSession.Resources.label.JobOrder_ButtonClearJobPlanList</span></button></li>
                <li><a href="#" class="btn-icon btn-add" data-toggle="modal" data-target="#addItemModal" id="btnAddOpenJobPlanItemsWin" data-backdrop="static" onclick="OpenJobPlanItemEditWindow(-1);" title='@ProjectSession.Resources.label.Common_ButtonAdd'><i></i></a></li>
                <li><a href="javascript:void(0);" class="btn-icon btn-refresh" onclick="ReBindKendoGrid('WOJobTaskGrid');" title="@ProjectSession.Resources.label.Common_ButtonRefreshGrid"><i></i></a></li>
                <li><a href="javascript:void(0);" class="btn-icon btn-xsl" onclick="ExportToExcel('WOJobTaskGrid', '');" title="@ProjectSession.Resources.label.Common_ButtonExportToExcel"><i></i></a></li>
                <li><button class="btn btn-primary" id="btnPrintPlanOrder" onclick="PrintPlanJobOrder()" type="button"><span>@ProjectSession.Resources.label.JobOrder_ButtonPrintJobPlan</span></button></li>
            }
        </div>
    </h3>
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div id="JobTaskData" class="@ProjectSession.CultureKendoClass">
                @(Html.Kendo().Grid<CMMS.Model.Jobtask>()
        .Name("WOJobTaskGrid")
        .HtmlAttributes(new { @class = "kl-grid" })
        .Columns(columns =>
        {
            columns.Bound(c => c.SeqId).Title(ProjectSession.Resources.label.JobPlan_TextBlockSeqId);

            columns.Bound(c => c.Details).Title(ProjectSession.Resources.label.JobPlan_TextBlockDecription);

            columns.Bound(c => c.AltDetails).Title(ProjectSession.Resources.label.JobPlan_TextBlockAltDecription).HtmlAttributes(new { @class = "text-right" });

            columns.Bound(c => c.Remarks).Title(ProjectSession.Resources.label.JobOrder_TextBlockRemarksJobPlan);

            columns.Bound(c => c.SeqId).ClientTemplate("<center>" + (ProjectSession.PermissionAccess.JobOrder_JobOrder_Editrecords ? "<a class='action' title='" + ProjectSession.Resources.label.Common_ButtonEdit + "' style='cursor:pointer' data-toggle='modal' data-target='\\#addItemModal' onclick='OpenJobPlanItemEditWindow(#: SeqId#)'><i class='glyphicon glyphicon-pencil'></i></a>&nbsp;" : "") +
                (ProjectSession.PermissionAccess.JobOrder_JobOrder_Editrecords ? "<a class='action delete-button'  href='javascript:void(0);'  class='delete-ic' data-id='#: SeqId #' style='cursor:pointer'><i class='glyphicon glyphicon-trash' title='" + ProjectSession.Resources.label.Common_ButtonDelete + "' ></i></a>" : "") +
                                                                    "</center>")
                                            .Title("<center>" + ProjectSession.Resources.label.Common_ButtonAction + "</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Width(80).Filterable(false);
        })
        .Filterable()
        .Sortable(sortable => sortable.AllowUnsort(false))
        .Scrollable()
        .Excel(excel => excel.FileName(ProjectSession.Resources.menu.JobPlan_MenuJobPlansItem + ".xlsx").Filterable(true).AllPages(true))
        .Pageable(pageable => pageable.PageSizes(CMMS.Pages.General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
                .Events(events => events.DataBound("onDataBoundForWOJobPlanItems"))
        .DataSource(dataSource =>
                                dataSource.Ajax()
                                .PageSize(ProjectConfiguration.PageSize)
                                 .Sort(model => model.Add("SeqId").Ascending())
                                 .Model(model =>
                                 {
                                     model.Id(p => p.SeqId);
                                     model.Field(p => p.Details);
                                 })
                                .ServerOperation(true)
                                               .Read(read => read.Action(CMMS.Pages.Actions.GetWorkOrderJOPlanItems, CMMS.Pages.Controllers.Transaction, new { area = CMMS.Pages.Areas.Transaction }).Data("BindParametersForWOJobPlanItems").Type(HttpVerbs.Post))
        )
                )

            </div>
        </div>
    </div>

</div>
<!--Job Plan Modal-->
<div id="jobPlanGridModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" title="@ProjectSession.Resources.label.Common_ButtonClose"></button>
                <h4 class="modal-title">@ProjectSession.Resources.label.JobPlan_TextBlockJobPlan</h4>
            </div>
            <div class="modal-body">
                <div id="Highlights" class="tab-pane active" role="tabpanel">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div id="jobPlanData" class="@ProjectSession.CultureKendoClass">
                                    @(Html.Kendo().Grid<CMMS.Model.TblJobPlan>()
        .HtmlAttributes(new { @class = "kl-grid" })
        .Name("jobPlanGrid")
        .Columns(columns =>
        {
            columns.Bound(c => c.JobPlanNo).Title(ProjectSession.Resources.label.JobPlan_TextBlockJobPlanNo);

            columns.Bound(c => c.JobPlanName).Title(ProjectSession.Resources.label.JobPlan_TextBlockJobPlanDesc);

            columns.Bound(c => c.AltJobPlanName).HtmlAttributes(new { @class = "text-right" }).Title(ProjectSession.Resources.label.JobPlan_TextBlockAltJobPlanDesc);

            columns.Bound(c => c.L2Code).Title(ProjectSession.Resources.label.JobRequest_TextBlockCityCode)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterSite", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

            columns.Bound(c => c.JobPlanID).Hidden(true);
        })
        .Filterable()
        .Sortable(sortable => sortable.AllowUnsort(false))
        .Scrollable()
        .Excel(excel => excel.FileName(ProjectSession.Resources.label.JobPlan_TextBlockJobPlan + ".xlsx").Filterable(true).AllPages(true))
        .Pageable(pageable => pageable.PageSizes(CMMS.Pages.General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
        .Events(events => events.DataBound("onDataBoundForJobPlan"))
        .DataSource(dataSource =>
                                dataSource.Ajax()
                                .PageSize(ProjectConfiguration.PageSize)
                                .Sort(model => model.Add("JobPlanNo").Ascending())
                                 .Model(model =>
                                 {
                                     model.Id(p => p.JobPlanID);
                                     model.Field(p => p.JobPlanNo);
                                 })
                                .ServerOperation(true)
                                        .Read(read => read.Action(CMMS.Pages.Actions.GetWorkOrderJOPlanList, CMMS.Pages.Controllers.Transaction, new { area = CMMS.Pages.Areas.Transaction }).Data("BindParametersForJobPlan").Type(HttpVerbs.Post))
        )
                                    )

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
             
            <div class="modal-footer box-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@ProjectSession.Resources.label.Common_ButtonClose</button>
            </div>
        </div>
    </div>
</div>

<!-- Add New Item Modal -->
<div id="addItemModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-mg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" title="@ProjectSession.Resources.label.Common_ButtonClose"></button>
                <h4 class="modal-title">@ProjectSession.Resources.label.JobPlan_TextBlockJobPlanItem</h4>
            </div>
            <form role="form" id="frmItemJobPlan">
                <input type="hidden" id="hdnSeqId" />
                <div class="modal-body">
                    <div id="Highlights" class="tab-pane active" role="tabpanel">
                        <div class="form-horizontal">
                            <div id="divModelErrorJobItem"></div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.JobPlan_TextBlockSeqId<span class="cfont">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control allowIntegerOnly" name="SeqID" id="txtSeqID" maxlength="5" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.JobPlan_TextBlockSeqId" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.JobPlan_TextBlockDecription<span class="cfont">*</span></label>
                                <div class="col-sm-8">
                                    <textarea class="form-control" id="txtAreaSeqDescription" name="Description" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.JobPlan_TextBlockDecription"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.JobPlan_TextBlockAltDecription</label>
                                <div class="col-sm-8">
                                    <textarea class="form-control" id="txtAreaAltSeqDescription" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.JobPlan_TextBlockAltDecription"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.JobOrder_TextBlockRemarksJobPlan</label>
                                <div class="col-sm-8">
                                    <textarea class="form-control" id="txtJobTaskRemark" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.JobOrder_TextBlockRemarksJobPlan"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer box-footer">
                    @if (ProjectSession.PermissionAccess.JobOrder_JobOrder_Editrecords)
                    {
                        <button type="submit" class="btn btn-primary" id="btnSaveItemPlan"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
                    }
                    <button type="button" class="btn btn-default" data-dismiss="modal">@ProjectSession.Resources.label.Common_ButtonClose</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('.modal').on('shown.bs.modal', function (e) {
        $(document).off("focusin.modal");
    });

    function onConfirmCallbackJOPlan() {
        var id = $(this).data("id");
        $.ajax({
            url: '@Url.Action(CMMS.Pages.Actions.DeleteJoPlanItem, CMMS.Pages.Controllers.Transaction, new { area = CMMS.Pages.Areas.Transaction })',
            type: "POST",
            data: addRequestVerificationToken({ seqId: id, workOrderNo: $('#WorkorderNo').val(), kendogriddata: JSON.stringify($("#WOJobTaskGrid").data("kendoGrid").dataSource.data()) }),
            dataType: "json",
            success: function (result) {
                //ClearAllInputs("frmAssignToWorkOrders");
                ShowMessage(result[0], result[1], "#divMessage");
                ReBindKendoGrid("WOJobTaskGrid");
            },
            error: function (xhr, ajaxOptions, thrownError) {
                showErrorMessage();
            }
        });
    }

    $("#jobPlanGrid tbody").on("dblclick", "tr[role='row']", function (e) {
        var grid = $("#jobPlanGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        $("#jobPlanGridModal").modal("hide");
        FillWoJobPlan(model);
    });

    function FillWoJobPlan(model) {
        $('#hdnJOPlanID').val(model.JobPlanID);
        $('#txtJOPlanNo').val(model.JobPlanNo);
       
        if ('@Lang' == 'True') {
            $('#txtJobPlanName').val(model.JobPlanName);
        }
        else {
            $('#txtJobPlanName').val(model.AltJobPlanName);
        }
    }

    function SaveJobPlans() {
        var blnValid = true;
        if ($('#hdnJOPlanID').val() == '' || $('#hdnJOPlanID').val() == '0') {
            $('#txtJOPlanNo').addClass("kendoDrpRequired");
            blnValid = false;
        }
        else {
            $('#txtJOPlanNo').removeClass("kendoDrpRequired");
        }

        if (!blnValid)
            return false;

        var result = confirm(confirmMessageToCopyJobPlanToWorkOrder);

        if (result) {
            $.ajax({
                url: '@Url.Action(CMMS.Pages.Actions.CopyJobPlanItemsToWorkOrder, CMMS.Pages.Controllers.Transaction, new { area = CMMS.Pages.Areas.Transaction })',
                type: "POST",
                data: addRequestVerificationToken({ jobPlanId: $('#hdnJOPlanID').val(), workOrderNo: $('#WorkorderNo').val() }),
                dataType: "json",
                success: function (result) {
                    //ClearAllInputs("frmAssignToWorkOrders");
                    ShowMessage(result[0], result[1], "#divMessage");
                    ReBindKendoGrid("WOJobTaskGrid");
                    ClearWOJobPlans();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }
    }

    $('#addItemModal').on('hide.bs.modal', function (e) {
        if (validator1 != "")
            validator1.resetForm();
    });

    $('#frmItemJobPlan').on('submit', function (e) {

        if ($("#frmItemJobPlan").valid()) {
            if (e.isDefaultPrevented()) {
                // handle the invalid form...
            } else {
                var flag = true;
                if ($("#hdnSeqId").val() == "") {
                    $("#WOJobTaskGrid table td a").each(function (index, elem) {
                        var gridSeqID = $(elem).data("id");
                        if (gridSeqID == $("#txtSeqID").val()) {
                            flag = false;
                        }
                    });
                }

                if (flag == false) {
                    var response = confirm('@ProjectSession.Resources.message.JobOrder_MsgSeqIdAlreadyExistWarning');

                    if (response) {
                        flag = true;
                    }
                    else {
                        e.preventDefault();
                        return false;
                    }
                }
                if (flag == true) {
                    var jobPlanId = $("#hdnJobPlanID").val();
                    var changedObj = {
                        WoNo: ($('#WorkorderNo').val() == '' || $('#WorkorderNo').val() == 'undefined' ? 0 : $('#WorkorderNo').val()),
                        SeqID: $("#txtSeqID").val(),
                        Details: $("#txtAreaSeqDescription").val(),
                        AltDetails: $("#txtAreaAltSeqDescription").val(),
                        Remarks: $('#txtJobTaskRemark').val()
                    };

                    var oldObj = oldJobTask;

                    $.ajax({
                        url: '@Url.Action(CMMS.Pages.Actions.ManagejobTask, CMMS.Pages.Controllers.Transaction, new { area = CMMS.Pages.Areas.Transaction })',
                        type: "POST",
                        data: addRequestVerificationToken({ objOldJobtask: oldObj, objNewJobtask: changedObj, kendogriddata: JSON.stringify($("#WOJobTaskGrid").data("kendoGrid").dataSource.data()) }),
                        dataType: "json",
                        success: function (result) {
                            if (result[0] == 0) {
                                ShowMessage(result[1], result[2], "#divMessage");
                                $('#addItemModal').modal("hide");
                                ReBindKendoGrid("WOJobTaskGrid");
                            }
                            else {
                                ShowMessage(result[1], result[2], "#divModelErrorJobItem");
                            }
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            showErrorMessage();
                        }
                    });
                    e.preventDefault();
                }
                @*else {
                    ShowMessage('@SystemEnum.MessageType.danger.ToString()', '@ProjectSession.Resources.label.PMChecklist_MsgSeqIdAlreadyExists', "#divModelErrorJobItem");
                    e.preventDefault();
                }*@
            }
        }
        else {
            e.preventDefault();
        }
    })

    $(".allowIntegerOnly").keydown(function (e) {
        // Allow: backspace, delete, tab, escape, enter and .
        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13]) !== -1 ||
            // Allow: Ctrl+A, Command+A
            (e.keyCode == 65 && (e.ctrlKey === true || e.metaKey === true)) ||
            // Allow: home, end, left, right, down, up
            (e.keyCode >= 35 && e.keyCode <= 40)) {
            // let it happen, don't do anything
            return;
        }
        // Ensure that it is a number and stop the keypress
        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
            e.preventDefault();
        }

    });

    function ClearJobPlanList() {
        var response = confirm('@ProjectSession.Resources.message.JobOrder_MsgDeleteAllConfirm');

        if (response) {
            $.ajax({
                url: '@Url.Action(CMMS.Pages.Actions.DeleteJoPlanItem, CMMS.Pages.Controllers.Transaction, new { area = CMMS.Pages.Areas.Transaction })',
                type: "POST",
                data: addRequestVerificationToken({ seqId: -1, workOrderNo: $('#WorkorderNo').val(), kendogriddata: '' }),
                dataType: "json",
                success: function (result) {
                    //ClearAllInputs("frmAssignToWorkOrders");
                    ShowMessage(result[0], result[1], "#divMessage");
                    ReBindKendoGrid("WOJobTaskGrid");
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }
        else {
            return false;
        }
    }

    function PrintPlanJobOrder() {
        var workOrderNo = $('#WorkorderNo').val();
        //location.href='@Url.Action(CMMS.Pages.Actions.Print, CMMS.Pages.Controllers.Transaction)?workOrderNo=' + workOrderNo;
        window.open('@Url.Action(CMMS.Pages.Actions.Print, CMMS.Pages.Controllers.Transaction)?workOrderNo=' + workOrderNo,"_blank");
    }
</script>
<script>
    $(function () {
        EnableDisableControlls();
    });
</script>