﻿@using CMMS.Infrastructure;
@using CMMS.Pages;
@model CMMS.Model.Return
@{
    bool Lang = ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true;
}

<style>
    .calendars-popup {
        z-index: 100000 !important;
    }
</style>
<script type="text/javascript">

    function onJOReturnAutoSelect(e) {
        var model = this.dataItem(e.item.index());
        $('#hdnReturnStockID').val(model.StockID);
        $('#txtReturnStockNo').val(model.StockNo);
        //$('#txtReturnStockDesc').val(model.StockDescription);
        //$('#txtReturnAltStockDesc').val(model.AltStockDescription);
        $('#txtReturnAvgPrice').val(model.AvgPrice.toFixed(2));

        var Yes = 'Yes';
        var No = 'No';
        if ('@Lang' == 'False') {
            Yes = 'نعم فعلا';
            No = 'لا';
        }
        $('#hdnReturnANV').val(model.ANV);
        if (model.ANV)
        { $('#txtNegativeBalanceAllolwed').val(Yes); }
        else
        { $('#txtNegativeBalanceAllolwed').val(No); }

        if (isNotUndefinedNullOrBlankOrZero('ddlRetunSubStore')) {
            LoadBalance(model.StockID, $('#ddlRetunSubStore').val(), model.ANV);
        }
    }

    function onJOReturnAdditionalData() {
        return {
            text: $("#txtReturnStockDesc").val()
        };
    }

    function onChangeReturnSubStore(e) {
        if (isNotUndefinedNullOrBlankOrZero('hdnReturnStockID') && isNotUndefinedNullOrBlankOrZero('ddlRetunSubStore')) {
            LoadBalance($('#hdnReturnStockID').val(), $('#ddlRetunSubStore').val(), $('#hdnReturnANV').val());
        }
    }

</script>
<div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"></button>
            <h4 class="modal-title">@ProjectSession.Resources.label.JobOrder_TextBlockReturn</h4>
        </div>
        @using (Html.BeginForm(Actions.SaveJOReturn, Controllers.Transaction, new { area = Areas.Transaction }, FormMethod.Post, new { id = "frmJOReturn" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.L2ID)
            @Html.HiddenFor(model => model.WONo)
            <div class="modal-body">
                <div id="Highlights" class="tab-pane active" role="tabpanel">
                    <div id="divModelErrorReturns"></div>
                    <div class="information-form cus-form">

                        <div class="row">
                            <div class="form-group col-md-6 col-lg-6">
                                <label class="form-label">@ProjectSession.Resources.label.AssetTransfer_TextBlockDate  <span class="cfont">*</span></label>
                                <div class="input-group date-pick">
                                    @Html.TextBoxFor(model => model.Date, String.Format("{0:" + ProjectConfiguration.DefaultDateFormat + "}", DateTime.Now), new { @id = "txtReturnDate", @class = "form-control calendarsPicker", @placeholder = ProjectConfiguration.DefaultDateFormat })
                                </div>
                            </div>
                            <div class="two-form-group form-group col-md-6 col-lg-6">
                                <label class="form-label">@ProjectSession.Resources.label.ItemRequisition_TextBlockItemNo</label>
                                <div class="input-group pm-checklist">
                                    <input type="hidden" id="hdnReturnANV" value="" />
                                    @Html.HiddenFor(model => model.StockID, new { @id = "hdnReturnStockID" })
                                    @Html.TextBoxFor(model => model.StockNo, new { @class = "form-control code-input", @readonly = "readonly", @id = "txtReturnStockNo", @Placeholder = @ProjectSession.Resources.label.ItemRequisition_TextBlockItemNo })
                                    @*@Html.TextBoxFor(model => model.StockDescription, new { @class = "form-control", @style = "display:" + (Lang ? "" : "none;"), @readonly = "readonly", @id = "txtReturnStockDesc", @Placeholder = @ProjectSession.Resources.label.ItemList_TextBlockPartDescription })
                                    @Html.TextBoxFor(model => model.AltStockDescription, new { @class = "form-control", @style = "display:" + (Lang ? "none;" : ""), @readonly = "readonly", @id = "txtReturnAltStockDesc", @Placeholder = @ProjectSession.Resources.label.ItemList_TextBlockPartAltPartDesc })*@

                                    @(Html.Kendo().AutoCompleteFor(model => model.StockDescription)
                                    .DataTextField(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "AltStockDescription" : "StockDescription")
                .HtmlAttributes(new { @class = "form-control", @id = "txtReturnStockDesc" })
                                    .Filter("contains")
                                    .Template("#= KendoDDLTemplate( data.StockNo, data.StockDescription, data.AltStockDescription) #")
                                    .MinLength(3)
                                    .Placeholder(ProjectSession.Resources.label.ItemList_TextBlockPartDescription)
                                    .Events(m => m.Select("onJOReturnAutoSelect"))
                                    .DataSource(source =>
                                     {
                                         source.Read(read =>
                                         {
                                             read.Action(Actions.GetStockCodesAutoDDL, Controllers.AutoComplete, new { area = Areas.Configurations }).Data("onJOReturnAdditionalData");
                                         })
                                     .ServerFiltering(true);
                                     })
                                    .Value(Convert.ToString(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? Model.AltStockDescription : Model.StockDescription))
                                    )

                                    <a href="#" class="checklis-btn" id="btnOpenReturnAddItemPopUp" data-toggle="modal" data-backdrop="static" onclick="OpenItemsPopUp()">
                                        <img src="../images/checklis-icon.png" alt="">
                                    </a>
                                    <a href="javascript:void(0);" class="close-btn" id="btnClearReturn" title="@ProjectSession.Resources.label.Common_ButtonClear" onclick="ClearWOReturns();">
                                        <img src="../images/close.png" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6 col-lg-6">
                                <label class="form-label">@ProjectSession.Resources.label.JobRequest_TextBlockCity</label>
                                <div class="@ProjectSession.CultureKendoClass">
                                    @(Html.Kendo().DropDownListFor(model => model.L2ID)
                                                .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                                .DataTextField("L2Code")
                                                .ValueTemplate(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "#:L2Code # -- #: L2Altname # " : "#:L2Code # -- #: L2name #")
                                                .DataValueField("L2ID")
                                                .Enable(false)
                                                .HtmlAttributes(new { style = "width: 100%", @required = "required", @id = "ddlReturnCity" })
                                                .Template("#= KendoDDLTemplate(data.L2Code ,data.L2name, data.L2Altname) #")
                                                .DataSource(source =>
                                                {
                                                    if (ProjectSession.IsCentral)
                                                    {
                                                        source.Read(read =>
                                                        {
                                                            read.Action(Actions.GetAllCities, Controllers.Configurations, new { area = Areas.Configurations, cityID = Model.L2ID });
                                                        });
                                                    }
                                                    else
                                                    {
                                                        source.Read(read =>
                                                        {
                                                            read.Action(Actions.GetCitiesByEmployee, Controllers.Configurations, new { area = Areas.Configurations, cityID = Model.L2ID });
                                                        });
                                                    }
                                                })
                                                .Value(Convert.ToString(Model.L2ID))
                                    )
                                </div>
                            </div>
                            <div class="form-group col-md-6 col-lg-6">
                                <label class="form-label">@ProjectSession.Resources.label.Store_TextBlockStore</label>
                                <div class="@ProjectSession.CultureKendoClass">
                                    @(Html.Kendo().DropDownListFor(model => model.SubStoreID)
                                                .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                                .DataTextField("SubStoreCode")
                                                .ValueTemplate(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "#:SubStoreCode # -- #: AltSubStoreDesc # " : "#:SubStoreCode # -- #: SubStoreCode #")
                                                .DataValueField("SubStoreID")
                                                .Events(m => m.Change("onChangeReturnSubStore"))
                                                .HtmlAttributes(new { style = "width: 100%", @required = "required", @id = "ddlRetunSubStore" })
                                                .Template("#= KendoDDLTemplate(data.SubStoreCode ,data.SubStoreDesc, data.AltSubStoreDesc) #")
                                                .DataSource(source =>
                                                {
                                                    source.Read(read =>
                                                    {
                                                        read.Action(Actions.GetStoresListByL2ID, Controllers.Configurations, new { area = Areas.Configurations }).Data("filterReturnStores");

                                                    })
                                                    .ServerFiltering(true);
                                                })
                                                .CascadeFrom("ddlReturnCity")
                                                .AutoBind(true)
                                                .Value(Convert.ToString(Model.SubStoreID))
                                    )
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-12 col-lg-12">
                                <label class="form-label">@ProjectSession.Resources.label.JobOrder_TextBlockComments</label>
                                @Html.TextAreaFor(model => model.Comment, new { @id = "txtReturnComment", @MaxLength = 1500, @class = "form-control", @rows = "3", @placeholder = ProjectSession.Resources.label.Common_Enter + " " + ProjectSession.Resources.label.JobOrder_TextBlockComments })
                            </div>

                        </div>
                        <div class="row">
                            <div class="form-group col-md-6 col-lg-6">
                                <label class="form-label">@ProjectSession.Resources.label.JobOrder_TextBlockQtyRtn</label>
                                @Html.TextBoxFor(model => model.Qty, String.Format("{0:#,0.00}", Model.Qty), new { @class = "form-control decimalnumber", @id = "txtReturnQty", onchange = "FillTotalTextBox()", type = "number" })
                            </div>
                            <div class="form-group col-md-6 col-lg-6">
                                <label class="form-label">@ProjectSession.Resources.label.JobOrder_TextBlockQtyIssued</label>
                                @Html.TextBoxFor(model => model.QtyIssued, String.Format("{0:#,0.00}", Model.QtyIssued), new { @class = "form-control decimalnumber", @readonly = "readonly", @id = "txtQtyIssued", type = "number" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6 col-lg-6">
                                <label class="form-label">@ProjectSession.Resources.label.JobOrder_TextBlockAvgUnitPrice</label>
                                @Html.TextBoxFor(model => model.RetPrice, String.Format("{0:#,0.00}", Model.RetPrice), new { @class = "form-control", @readonly = "readonly", @id = "txtReturnAvgPrice" })
                            </div>
                            <div class="form-group col-md-6 col-lg-6">
                                <label class="form-label">@ProjectSession.Resources.label.JobOrder_TextBlockTotal</label>
                                @Html.TextBox("TotalReturns", "", new { @class = "form-control", @readonly = "readonly", @id = "txtTotalReturns" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6 col-lg-6">
                                <label class="form-label">@ProjectSession.Resources.label.JobOrder_TextBlockBalance</label>
                                @Html.TextBox("ReturnBalance", "", new { @class = "form-control", @readonly = "readonly", @id = "txtReturnBalance" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer box-footer">

                <button type="button" class="btn btn-primary disabled" disabled="disabled" id="btnSaveReturnparts" onclick="$('#frmJOReturn').submit();"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>

                <button type="button" class="btn btn-default" data-dismiss="modal">@ProjectSession.Resources.label.Common_ButtonClose</button>
            </div>

        }
    </div>

</div>

<script type="text/javascript">
    $(document).ready(function () {

        validator = $('#frmJOReturn').validate({
            rules: {
                Date: { required: true }
            },
            messages: {
                Date: { required: '' }
            }
        });

        CreateCalendarsPicker();

    }); //Ready ends

    $('#frmJOReturn').on('submit', function (e) {
        if ($("#frmJOReturn").valid()) {
            if (!e.isDefaultPrevented()) {
                if (!isNotUndefinedNullOrBlankOrZero('txtReturnQty', true)) {
                    e.preventDefault();
                    $('#txtReturnQty').focus();
                    ShowMessage('@SystemEnum.MessageType.danger', '@ProjectSession.Resources.label.PMChecklist_MsgQuantityGreaterthanZero', '#divModelErrorReturns');
                }
                else {
                    var options = {
                        success: onSuccessJoIssues,  // post-submit callback
                        data: addRequestVerificationToken($('#frmJOReturn').serialize())
                    };
                    $(this).ajaxSubmit(options);
                    return false;
                }
            }
            else { e.preventDefault(); }
        }
        else {
            e.preventDefault();
        }
    });

    function onSuccessJoIssues(responseText, statusText, xhr, $form) {
        if (responseText[0] == 1) {
            ShowMessage(responseText[1], responseText[2], "#divModelErrorReturns");
        }
        else {
            ShowMessage(responseText[1], responseText[2], "#divModelError");
            $("#ReturnPartModal").modal("hide");
            ReBindKendoGrid('WOReturnPartsGrid');
            ClearWOReturns();
        }
    }

    function ClearWOReturns() {
        $('#hdnReturnStockID').val('');
        $('#txtReturnStockNo').val('');
        $('#txtReturnStockDesc').val('');
        $('#txtReturnAltStockDesc').val('');
        $('#txtReturnAvgPrice').val('');
        $('#txtNegativeBalanceAllolwed').val('');
        $('#txtReturnBalance').val('');
        $('#txtTotalReturns').val('');
    }
    $("#itemsGrid tbody").on("dblclick", "tr[role='row']", function (e) {
        var grid = $("#itemsGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        $("#ItemsGridModal").modal("hide");
        $('#hdnReturnStockID').val(model.StockID);
        $('#txtReturnStockNo').val(model.StockNo);

        if ('@Lang' == 'True') {
            $('#txtReturnStockDesc').val(model.StockDescription);
        }
        else {
            $('#txtReturnStockDesc').val(model.AltStockDescription);
        }
 
        $('#txtReturnAvgPrice').val(model.AvgPrice.toFixed(2));

        var Yes = 'Yes';
        var No = 'No';
        if ('@Lang' == 'False') {
            Yes = 'نعم فعلا';
            No = 'لا';
        }
        $('#hdnReturnANV').val(model.ANV);
        if (model.ANV)
        { $('#txtNegativeBalanceAllolwed').val(Yes); }
        else
        { $('#txtNegativeBalanceAllolwed').val(No); }

        if (isNotUndefinedNullOrBlankOrZero('ddlRetunSubStore')) {
            LoadBalance(model.StockID, $('#ddlRetunSubStore').val(), model.ANV);
        }
    });

    function FillTotalTextBox(e) {
        if (!isNotUndefinedNullOrBlankOrZero('txtReturnQty', true)) {
            $('#txtReturnQty').val('0.00');
        }
        else {
            if ( parseFloat($('#txtReturnQty').val()) > parseFloat($('#txtQtyIssued').val()))
            {
                $('#txtReturnQty').val('0.00');
                $('#txtReturnQty').focus();
                ShowMessage('@SystemEnum.MessageType.danger', '@ProjectSession.Resources.message.JobOrder_MsgQtyRetExceed', '#divModelErrorReturns')
                return false;
            }
        }

        if (!isNotUndefinedNullOrBlankOrZero('txtReturnAvgPrice', true)) {
            $('#txtReturnAvgPrice').val('0.00');
        }

        $('#txtTotalReturns').val(($('#txtReturnQty').val() * $('#txtReturnAvgPrice').val()).toFixed(2));
    }

    function LoadBalance(stockID, subStoreID, ANV) {
        try {
            $.ajax({
                url: '@Url.Action(Actions.GetStockLevelBalance, Controllers.Transaction, new { area = Areas.Transaction })',
                type: 'Get',
                data: { stockID: stockID, subStoreID: subStoreID, getQtyIssued: true },
                cache: false,
                async: false,
                success: function (result) {
                    if (result.length > 1)
                    {
                        $('#txtReturnBalance').val(parseFloat(result[0]).toFixed(2));

                        if ((ANV != 'true' || ANV != true) && parseFloat(result[0]) <= 0) {
                            ShowMessage('@SystemEnum.MessageType.danger', '@ProjectSession.Resources.message.JobOrder_MsgNegativebalanceNotAllowed', '#divModelErrorReturns');
                            $('#btnSaveReturnparts').attr('disabled', 'disabled');
                            $('#btnSaveReturnparts').addClass('disabled');

                        }
                        else {
                            $('#btnSaveReturnparts').removeAttr('disabled');
                            $('#btnSaveReturnparts').removeClass('disabled');
                        }

                        $('#txtQtyIssued').val(result[1]);
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }
        catch (err)
        { }
    }

    $('.decimalnumber').on('keypress', function (evt) {
        var val = $(this).val();
        var iKeyCode = (evt.which) ? evt.which : evt.keyCode;
        if (iKeyCode != 46 && iKeyCode != 39 && iKeyCode != 37 && iKeyCode != 45 && iKeyCode > 31 && (iKeyCode < 48 || iKeyCode > 57)) {
            return false;
        }
        if (iKeyCode == 46 && val.indexOf('.') > -1) {
            return false;
        }
        return true;
    });
</script>