﻿@model CMMS.Model.SITask
@using CMMS.Infrastructure;
@{
    bool Lang = ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true;
}

<style>
    .calendars-popup {
        z-index: 100000 !important;
    }
</style>
<script type="text/javascript">
    var oldSITask;
    var confirmMessageToCopySafetyInstrToWorkOrder = '@ProjectSession.Resources.message.JobOrder_MsgCopySafetyInstConfirm';
    function onDataBoundForSafetyInstr(arg) {
        gridProperPaging(this);
    }

    function onSafetyAutoSelect(e) {
        var model = this.dataItem(e.item.index());
        $('#hdnJOSafetyID').val(model.SafetyID);
        $('#txtJOSafetyNo').val(model.SafetyNo);
    }


    //for Safety Auto complete
    function onSafetyAdditionalData() {
        return {
            text: $("#txtSafetyName").val(),
        };
    }

    function BindParametersForJOSafetyInstr() {
        return {
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function OpenSafetyInstrPopUp() {
        try { $("#safetyInstrGridModal").modal("show"); } catch (err) { alert(err); }
    }

    function ClearWOSafetyInstruction() {
        $('#hdnJOSafetyID').val("");
        $('#txtJOSafetyNo').val("");
        $('#txtSafetyName').val("");
        $('#txtAltSafetyName').val("");
        $('#txtJOSafetyNo').removeClass("kendoDrpRequired");
    }

    function OpenSafetyItemEditWindow(id) {

        if (id > 0) {
            var grid = $("#WOJobSITaskGrid").data("kendoGrid");
            var data = $("#WOJobSITaskGrid table td").find("a[data-id='" + id + "']").closest("tr");
            var model = grid.dataItem(data);
            $("#txtSafetyInstrSeqID").val(model.SeqId);
            $("#hdnSeqId").val(model.SeqId);
            $("#txtSafetyInstrAreaSeqDescription").val(model.Details);
            $("#txtSafetyInstrAreaAltSeqDescription").val(model.AltDetails);

            oldSITask = {
                WoNo: ($('#WorkorderNo').val() == '' || $('#WorkorderNo').val() == 'undefined' ? 0 : $('#WorkorderNo').val()),
                SeqId: model.SeqId,
                Details: model.Details,
                AltDetails: model.AltDetails,
                CreatedBy: model.CreatedBy,
                CreatedDate: model.CreatedDate,
                ModifiedBy: model.ModifiedBy,
                ModifiedDate: model.ModifiedDate
            };
        }
        else {
            $("#txtSafetyInstrSeqID").val('');
            $("#hdnSeqId").val('');
            $("#txtSafetyInstrAreaSeqDescription").val('');
            $("#txtSafetyInstrAreaAltSeqDescription").val('');

            oldSITask = {
                WoNo: ($('#WorkorderNo').val() == '' || $('#WorkorderNo').val() == 'undefined' ? 0 : $('#WorkorderNo').val()),
                SeqId: -1,
                Details: $("#txtSafetyInstrAreaSeqDescription").val(),
                AltDetails: $("#txtSafetyInstrAreaAltSeqDescription").val()
            };
        }
    }

    var validator1 = $('#frmItemSI').validate({
        rules: {
            SeqID: { required: true },
            Description: { required: true },
        },
        messages: {
            SeqID: { required: '' },
            Description: { required: '' },
        }
    });
</script>
<div class="form-horizontal">
    <div class="row form-group">
        <div class="col-md-12 col-lg-12">
            <div class="two-form-group">
                <label class="col-md-2 control-label">@ProjectSession.Resources.label.SafetyInstruction_TextBlockSafetyNo</label>
                <div class="col-md-6">
                    <div class="input-group pm-checklist">
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.SafetyID, new { @id = "hdnJOSafetyID" })
                        @Html.TextBoxFor(model => model.SafetyNo, new { @class = "form-control code-input", @readonly = "readonly", @id = "txtJOSafetyNo", @Placeholder = @ProjectSession.Resources.label.SafetyInstruction_TextBlockSafetyNo })
                        @*@Html.TextBoxFor(model => model.SafetyName, new { @class = "form-control", @readonly = "readonly", @style = "display:" + (Lang ? "" : "none;"), @id = "txtSafetyName", @Placeholder = @ProjectSession.Resources.label.SafetyInstruction_TextBlockSafetyInstrDesc })
                        @Html.TextBoxFor(model => model.AltSafetyName, new { @class = "form-control", @readonly = "readonly", @style = "display:" + (Lang ? "none;" : ""), @id = "txtAltSafetyName", @Placeholder = @ProjectSession.Resources.label.SafetyInstruction_TextBlockAltSafetyInstrDesc })*@

                        @(Html.Kendo().AutoCompleteFor(model => model.SafetyName)
                                     .DataTextField(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "AltSafetyName" : "SafetyName")
                                     .HtmlAttributes(new { @class = "form-control", @id = "txtSafetyName" })
                                    .Filter("contains")
                                    .Template("#= KendoDDLTemplate( data.SafetyNo, data.SafetyName, data.AltSafetyName) #")
                                    .MinLength(3)
                                    .Placeholder(ProjectSession.Resources.label.SafetyInstruction_TextBlockSafetyInstrDesc)
                                            .Events(m => m.Select("onSafetyAutoSelect"))
                                    .DataSource(source =>
                                     {
                                         source.Read(read =>
                                         {
                                             read.Action(CMMS.Pages.Actions.GetWorkOrderSafetyInstrListAutoDDL, CMMS.Pages.Controllers.AutoComplete, new { area = CMMS.Pages.Areas.Configurations }).Data("onSafetyAdditionalData");
                                         })
                                     .ServerFiltering(true);
                                     })
                                     .Value(Convert.ToString(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? Model.AltSafetyName : Model.SafetyName))       
                        )

                        <a href="#" class="checklis-btn" id="btnOpenSafetyInstrPopUp" data-toggle="modal" data-backdrop="static" onclick="OpenSafetyInstrPopUp();">
                            <img src="../images/checklis-icon.png" alt="">
                        </a>
                        <a href="javascript:void(0);" class="close-btn" id="btnClearSafetyInstr" title="@ProjectSession.Resources.label.Common_ButtonClear" onclick="ClearWOSafetyInstruction();">
                            <img src="../images/close.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="control-label"></label>
                        <div class="col-md-12">
                            @if (ProjectSession.PermissionAccess.JobOrder_JobOrder_Editrecords)
                            {
                                <button class="btn btn-primary" id="btnSaveSafetyInstruction" onclick="SaveJOSafetyInstruction()" title="@ProjectSession.Resources.label.Common_ButtonSave" type="button"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="information-form cus-form">
    <h3 class="sub-title">
        <span>@ProjectSession.Resources.menu.SafetyInstruction_MenuSafetyInstructionItems</span>
        <div class="sub_btn multiple-checklis">
            @if (ProjectSession.PermissionAccess.JobOrder_JobOrder_Editrecords)
            {
                <li><a href="#" class="btn-icon btn-add" data-toggle="modal" data-target="#addSIItemModal" id="btnOpenAddSafetyInstrItemWin" data-backdrop="static" onclick="OpenSafetyItemEditWindow(0);" title='@ProjectSession.Resources.label.Common_ButtonAdd'><i></i></a></li>
                <li><a href="javascript:void(0);" class="btn-icon btn-clear" onclick="ClearSafetyInstrList();" title="@ProjectSession.Resources.label.JobOrder_ButtonClearSafetyInstList"><i></i></a></li>
                <li><a href="javascript:void(0);" class="btn-icon btn-refresh" onclick="ReBindKendoGrid('WOJobSITaskGrid');" title="@ProjectSession.Resources.label.Common_ButtonRefreshGrid"><i></i></a></li>
                <li><a href="javascript:void(0);" class="btn-icon btn-xsl" onclick="ExportToExcel('WOJobSITaskGrid', 'WoNo');" title="@ProjectSession.Resources.label.Common_ButtonExportToExcel"><i></i></a></li>
                <li><a href="javascript:void(0);" class="btn-icon btn-print" onclick="PrintJOSafetyInstruction();" title="@ProjectSession.Resources.label.JobOrder_ButtonPrintSafetyInst"><i></i></a></li>
            }
        </div>
    </h3>
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div id="JobTaskData" class="@ProjectSession.CultureKendoClass">
                @(Html.Kendo().Grid<CMMS.Model.SITask>()
                            .Name("WOJobSITaskGrid")
                            .HtmlAttributes(new { @class = "kl-grid" })
                            .Columns(columns =>
                            {
                                columns.Bound(c => c.SeqId).Title(ProjectSession.Resources.label.JobPlan_TextBlockSeqId).Width(100);

                                columns.Bound(c => c.Details).Title(ProjectSession.Resources.label.JobPlan_TextBlockDecription);

                                columns.Bound(c => c.AltDetails).Title(ProjectSession.Resources.label.JobPlan_TextBlockAltDecription).HtmlAttributes(new { @class = "text-right" });

                                columns.Bound(c => c.WoNo).ClientTemplate("<center>" + (ProjectSession.PermissionAccess.JobOrder_JobOrder_Editrecords ? "<a class='action' title='" + ProjectSession.Resources.label.Common_ButtonEdit + "' style='cursor:pointer' data-toggle='modal' data-target='\\#addSIItemModal' onclick='OpenSafetyItemEditWindow(#: SeqId#)'><i class='glyphicon glyphicon-pencil'></i></a>&nbsp;" : "") +
                                    (ProjectSession.PermissionAccess.JobOrder_JobOrder_Editrecords ? "<a class='action delete-button'  href='javascript:void(0);'  class='delete-ic' data-id='#: SeqId #' style='cursor:pointer'><i class='glyphicon glyphicon-trash' title='" + ProjectSession.Resources.label.Common_ButtonDelete + "' ></i></a>" : "") +
                                                                                        "</center>")
                                                                .Title("<center>" + ProjectSession.Resources.label.Common_ButtonAction + "</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Width(80).Filterable(false);
                            })
                            .Filterable()
                            .Sortable(sortable => sortable.AllowUnsort(false))
                            .Scrollable()
                            .Excel(excel => excel.FileName(ProjectSession.Resources.menu.SafetyInstruction_MenuSafetyInstructionItems + ".xlsx").Filterable(true).AllPages(true).ProxyURL(Url.Action("Excel_Export_Save", "GridExport", new { area = string.Empty })))
                            .Pageable(pageable => pageable.PageSizes(CMMS.Pages.General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
                            .Events(events => events.DataBound("onDataBoundForWOSafetyInstrs").ExcelExport("excelExport"))
                            .DataSource(dataSource =>
                                dataSource.Ajax()
                                .PageSize(ProjectConfiguration.PageSize)
                                 .Sort(model => model.Add("SeqId").Ascending())
                                 .Model(model =>
                                 {
                                     model.Id(p => p.SeqId);
                                     model.Field(p => p.Details);
                                 })
                                .ServerOperation(true)
                                        .Read(read => read.Action(CMMS.Pages.Actions.GetWorkOrderJOSafetyInstrItems, CMMS.Pages.Controllers.Transaction, new { area = CMMS.Pages.Areas.Transaction }).Data("BindParametersForWOJobPlanItems").Type(HttpVerbs.Post))
        )
                )

            </div>
        </div>
    </div>
</div>
<!--Job Plan Modal-->
<div id="safetyInstrGridModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" title="@ProjectSession.Resources.label.Common_ButtonClose"></button>
                <h4 class="modal-title">@ProjectSession.Resources.menu.SafetyInstruction_MenuSafetyInstructionItems</h4>
            </div>
            <div class="modal-body">
                <div id="Highlights" class="tab-pane active" role="tabpanel">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div id="jobPlanData" class="@ProjectSession.CultureKendoClass">
                                    @(Html.Kendo().Grid<CMMS.Model.TblSafetyinstruction>()
                                    .HtmlAttributes(new { @class = "kl-grid" })
                                    .Name("jobSafetyInstrGrid")
                                    .Columns(columns =>
                                    {
                                        columns.Bound(c => c.SafetyNo).Title(ProjectSession.Resources.label.SafetyInstruction_TextBlockSafetyNo);

                                        columns.Bound(c => c.SafetyName).Title(ProjectSession.Resources.label.SafetyInstruction_TextBlockSafetyInstrDesc);

                                        columns.Bound(c => c.AltSafetyName).HtmlAttributes(new { @class = "text-right" }).Title(ProjectSession.Resources.label.SafetyInstruction_TextBlockAltSafetyInstrDesc);

                                        columns.Bound(c => c.L2Code).Title(ProjectSession.Resources.label.JobRequest_TextBlockCityCode)
                                        .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterSite", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

                                        columns.Bound(c => c.SafetyID).Hidden(true);
                                    })
                                    .Filterable()
                                    .Sortable(sortable => sortable.AllowUnsort(false))
                                    .Scrollable()
                                    .Excel(excel => excel.FileName(ProjectSession.Resources.label.JobPlan_TextBlockJobPlan + ".xlsx").Filterable(true).AllPages(true))
                                    .Pageable(pageable => pageable.PageSizes(CMMS.Pages.General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
                                            .Events(events => events.DataBound("onDataBoundForSafetyInstr"))
                                    .DataSource(dataSource =>
                                    dataSource.Ajax()
                                    .PageSize(ProjectConfiguration.PageSize)
                                    .Sort(model => model.Add("SafetyNo").Ascending())
                                     .Model(model =>
                                     {
                                         model.Id(p => p.SafetyID);
                                         model.Field(p => p.SafetyNo);
                                     })
                                    .ServerOperation(true)
                                    .Read(read => read.Action(CMMS.Pages.Actions.GetWorkOrderSafetyInstrList, CMMS.Pages.Controllers.Transaction, new { area = CMMS.Pages.Areas.Transaction }).Data("BindParametersForJOSafetyInstr").Type(HttpVerbs.Post))
                                        )
                                    )

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer box-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@ProjectSession.Resources.label.Common_ButtonClose</button>
            </div>
        </div>
    </div>
</div>

<!-- Add New Item Modal -->
<div id="addSIItemModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-mg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" title="@ProjectSession.Resources.label.Common_ButtonClose"></button>
                <h4 class="modal-title">@ProjectSession.Resources.menu.SafetyInstruction_MenuSafetyInstructionItems</h4>
            </div>
            <form role="form" id="frmItemSI">
                <input type="hidden" id="hdnSeqId" />
                <div class="modal-body">
                    <div id="Highlights" class="tab-pane active" role="tabpanel">
                        <div class="form-horizontal">
                            <div id="divModelErrorJobItem"></div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.JobPlan_TextBlockSeqId<span class="cfont">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control allowIntegerOnly" id="txtSafetyInstrSeqID" maxlength="5" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.JobPlan_TextBlockSeqId" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.JobPlan_TextBlockDecription<span class="cfont">*</span></label>
                                <div class="col-sm-8">
                                    <textarea class="form-control" id="txtSafetyInstrAreaSeqDescription" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.JobPlan_TextBlockDecription"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.JobPlan_TextBlockAltDecription</label>
                                <div class="col-sm-8">
                                    <textarea class="form-control" id="txtSafetyInstrAreaAltSeqDescription" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.JobPlan_TextBlockAltDecription"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer box-footer">
                    @if (ProjectSession.PermissionAccess.JobOrder_JobOrder_Editrecords)
                    {
                        <button type="submit" class="btn btn-primary" id="btnSaveSafetyInstrItem"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
                    }
                    <button type="button" class="btn btn-default" data-dismiss="modal">@ProjectSession.Resources.label.Common_ButtonClose</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('.modal').on('shown.bs.modal', function (e) {
        $(document).off("focusin.modal");
    });

    function onConfirmCallBackJoSafetyInstrDelete() {
        var id = $(this).data("id");
        $.ajax({
            url: '@Url.Action(CMMS.Pages.Actions.DeletWoSafetyInstrItem, CMMS.Pages.Controllers.Transaction, new { area = CMMS.Pages.Areas.Transaction })',
            type: "POST",
            data: addRequestVerificationToken({ seqId: id, workOrderNo: $('#WorkorderNo').val(), kendogriddata: JSON.stringify($("#WOJobSITaskGrid").data("kendoGrid").dataSource.data()) }),
            dataType: "json",
            success: function (result) {
                //ClearAllInputs("frmAssignToWorkOrders");
                ShowMessage(result[0], result[1], "#divMessage");
                ReBindKendoGrid("WOJobSITaskGrid");
            },
            error: function (xhr, ajaxOptions, thrownError) {
                showErrorMessage();
            }
        });
    }

    $("#jobSafetyInstrGrid tbody").on("dblclick", "tr[role='row']", function (e) {
        var grid = $("#jobSafetyInstrGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        $("#safetyInstrGridModal").modal("hide");
        FillWoSITask(model);
    });

    function FillWoSITask(model) {
        $('#hdnJOSafetyID').val(model.SafetyID);
        $('#txtJOSafetyNo').val(model.SafetyNo);

        if ('@Lang' == 'True') {
            $('#txtSafetyName').val(model.SafetyName);
        }
        else {
            $('#txtSafetyName').val(model.AltSafetyName);
        }
    }

   
    function SaveJOSafetyInstruction() {

        var blnValid = true;
        if ($('#hdnJOSafetyID').val() == '' || $('#hdnJOSafetyID').val() == '0') {
            $('#txtJOSafetyNo').addClass("kendoDrpRequired");
            blnValid = false;
        }
        else {
            $('#txtJOSafetyNo').removeClass("kendoDrpRequired");
        }

        if (!blnValid)
            return false;
        
        var result = confirm(confirmMessageToCopySafetyInstrToWorkOrder);

        if (result) {
            $.ajax({
                url: '@Url.Action(CMMS.Pages.Actions.CopySafetyInstrItemsToWorkOrder, CMMS.Pages.Controllers.Transaction, new { area = CMMS.Pages.Areas.Transaction })',
                type: "POST",
                data: addRequestVerificationToken({ safetyId: isNotUndefinedNullOrBlankOrZero('hdnJOSafetyID') ?  $('#hdnJOSafetyID').val(): '0', workOrderNo: $('#WorkorderNo').val() }),
                dataType: "json",
                success: function (result) {
                    //ClearAllInputs("frmAssignToWorkOrders");
                    ShowMessage(result[0], result[1], "#divMessage");
                    ReBindKendoGrid("WOJobSITaskGrid");
                    ClearWOSafetyInstruction();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }
    }

    $('#addSIItemModal').on('hide.bs.modal', function (e) {
        if (validator1 != "")
            validator1.resetForm();
    });

    $('#frmItemSI').on('submit', function (e) {

        if ($("#frmItemSI").valid()) {
            if (e.isDefaultPrevented()) {
                // handle the invalid form...
            } else {
                var flag = true;
                if ($("#hdnSeqId").val() == "") {
                    $("#WOJobSITaskGrid table td a").each(function (index, elem) {
                        var gridSeqID = $(elem).data("id");
                        if (gridSeqID == $("#txtSafetyInstrSeqID").val()) {
                            flag = false;
                        }
                    });
                }

                if (flag == false) {
                    var response = confirm('@ProjectSession.Resources.message.JobOrder_MsgSeqIdAlreadyExistWarning');

                    if (response) {
                        flag = true;
                    }
                    else {
                        e.preventDefault();
                        return false;
                    }
                }
                if (flag == true) {
                    var jobPlanId = $("#hdnJobPlanID").val();
                    var changedObj = {
                        WoNo: ($('#WorkorderNo').val() == '' || $('#WorkorderNo').val() == 'undefined' ? 0 : $('#WorkorderNo').val()),
                        SeqID: $("#txtSafetyInstrSeqID").val(),
                        Details: $("#txtSafetyInstrAreaSeqDescription").val(),
                        AltDetails: $("#txtSafetyInstrAreaAltSeqDescription").val()
                    };

                    var oldObj = oldSITask;

                    $.ajax({
                        url: '@Url.Action(CMMS.Pages.Actions.ManageWOSafetyInstr, CMMS.Pages.Controllers.Transaction, new { area = CMMS.Pages.Areas.Transaction })',
                        type: "POST",
                        data: addRequestVerificationToken({ objOldJobtask: oldObj, objNewJobtask: changedObj, kendogriddata: JSON.stringify($("#WOJobSITaskGrid").data("kendoGrid").dataSource.data()) }),
                        dataType: "json",
                        success: function (result) {
                            if (result[0] == 0) {
                                ShowMessage(result[1], result[2], "#divMessage");
                                $('#addSIItemModal').modal("hide");
                                ReBindKendoGrid("WOJobSITaskGrid");
                            }
                            else {
                                ShowMessage(result[1], result[2], "#divModelErrorJobItem");
                            }
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            showErrorMessage();
                        }
                    });
                    e.preventDefault();
                }
                @*else {
                    ShowMessage('@SystemEnum.MessageType.danger.ToString()', '@ProjectSession.Resources.label.PMChecklist_MsgSeqIdAlreadyExists', "#divModelErrorJobItem");
                    e.preventDefault();
                }*@
            }
        }
        else {
            e.preventDefault();
        }
    })

    $(".allowIntegerOnly").keydown(function (e) {
        // Allow: backspace, delete, tab, escape, enter and .
        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13]) !== -1 ||
            // Allow: Ctrl+A, Command+A
            (e.keyCode == 65 && (e.ctrlKey === true || e.metaKey === true)) ||
            // Allow: home, end, left, right, down, up
            (e.keyCode >= 35 && e.keyCode <= 40)) {
            // let it happen, don't do anything
            return;
        }
        // Ensure that it is a number and stop the keypress
        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
            e.preventDefault();
        }

    });
    function PrintJOSafetyInstruction() {
        var workOrderNo = $('#WorkorderNo').val();
        //location.href='@Url.Action(CMMS.Pages.Actions.PrintSafetyInstruction, CMMS.Pages.Controllers.Transaction,new { @area = CMMS.Pages.Areas.Transaction})?workOrderNo=' + workOrderNo;
        window.open('@Url.Action(CMMS.Pages.Actions.PrintSafetyInstruction, CMMS.Pages.Controllers.Transaction)?workOrderNo=' + workOrderNo,"_blank");
    }
    function ClearSafetyInstrList() {
        var response = confirm('@ProjectSession.Resources.message.JobOrder_MsgDeleteAllConfirm');

        if (response) {
            $.ajax({
                url: '@Url.Action(CMMS.Pages.Actions.DeletWoSafetyInstrItem, CMMS.Pages.Controllers.Transaction, new { area = CMMS.Pages.Areas.Transaction })',
                type: "POST",
                data: addRequestVerificationToken({ seqId: -1, workOrderNo: $('#WorkorderNo').val(), kendogriddata: '' }),
                dataType: "json",
                success: function (result) {
                    //ClearAllInputs("frmAssignToWorkOrders");
                    ShowMessage(result[0], result[1], "#divMessage");
                    ReBindKendoGrid("WOJobSITaskGrid");
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }
        else {
            return false;
        }
    }
</script>
<script>
    $(function () {
        EnableDisableControlls();
    });
</script>