﻿@model CMMS.Model.JOStatusTrack
@using CMMS.Infrastructure;
@using CMMS.Pages;
@using CMMS.Model;
@{
    bool Lang = ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true;
}
<div class="form-horizontal">
    <div class="information-form cus-form" style="margin-top:20px;">
        <h3 class="sub-title">
            <span>@ProjectSession.Resources.label.JobOrder_TextJOStatusTrack</span>
            <div class="sub_btn">
                @if (ProjectSession.PermissionAccess.JobOrder_JobOrder_Export)
                {
                    <a title="Export To Excel" onclick="ExportToExcel('JoStausTrackGrid','Latitude');" class="btn-icon btn-xsl" href="javascript:void(0);"><i></i></a>
                }
            </div>
        </h3>
        <div class="row">
            <div class="col-md-12">
                <div class="@ProjectSession.CultureKendoClass">
                    @(Html.Kendo().Grid<CMMS.Model.JOStatusTrack>()
                                    .Name("JoStausTrackGrid")
                                    .Columns(columns =>
                                    {
                                        columns.Bound(c => c.OldWorkStatus).Title(ProjectSession.Resources.label.JobOrder_TextBlockJOOldStatus).Visible(Lang).Width(200);

                                        columns.Bound(c => c.OldAltWorkStatus).Title(ProjectSession.Resources.label.JobOrder_TextBlockJOOldStatus).Visible(!Lang);

                                        columns.Bound(c => c.NewWorkStatus).Title(ProjectSession.Resources.label.JobOrder_TextBlockJONewStatus).Visible(Lang);

                                        columns.Bound(c => c.NewAltWorkStatus).Title(ProjectSession.Resources.label.JobOrder_TextBlockJONewStatus).Visible(!Lang);

                                        columns.Bound(c => c.CreatedDate).ClientTemplate("#= DateTemplateWithTime(data.CreatedDate) #").Title(ProjectSession.Resources.label.JobOrder_TextBlockUpdatedDate);

                                        columns.Bound(c => c.Name).Title(ProjectSession.Resources.label.JobOrder_TextBlockUpdatedBy).Visible(Lang);

                                        columns.Bound(c => c.AltName).Title(ProjectSession.Resources.label.JobOrder_TextBlockUpdatedBy).Visible(!Lang);

                                        columns.Bound(c => c.Latitude).ClientTemplate("<center><a href='javascript:void(0);' data-toggle='modal' data-target='\\#dvGPSLocationModal' onclick='OpenGPSLocation(#: Latitude#, #: Longitude#)'><i class='glyphicon glyphicon-map-marker' aria-hidden='true'></i></a><center>").Title(ProjectSession.Resources.label.JobOrder_TextBlockGPSLocation).Width(100).Filterable(false);
                                    })
                                    .Filterable()
                                    .Sortable(sortable => sortable.AllowUnsort(false))
                                    .Scrollable()
                                    .Excel(excel => excel.FileName("JO Status Track.xlsx").Filterable(true).AllPages(true).ProxyURL(Url.Action("Excel_Export_Save", "GridExport", new { area = string.Empty })))
                                    .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
                                    .Events(events => events.DataBound("onDataBoundJOStatusTrack").ExcelExport("excelExport"))
                                    .DataSource(dataSource => dataSource.Ajax()
                                    .PageSize(ProjectConfiguration.PageSize)
                                     .Model(model =>
                                     {
                                         model.Id(p => p.JOStatusTrackID);
                                         model.Field(p => p.WorkorderNo);
                                     })
                                    .ServerOperation(true)
                                    .Read(read => read.Action(Actions.GetJOStatusTrackList, Controllers.Transaction, new { area = Areas.Transaction }).Data("BindParametersJOStatusTrack").Type(HttpVerbs.Post))
                                    )
                    )

                </div>
            </div>
        </div>
    </div>
</div>