﻿@model CMMS.Model.WorkOrderTool
@using CMMS.Infrastructure;
@{
    bool Lang = ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true;
}
<script type="text/javascript">
    function OpenJOItemEditWindow(id) {

        if (id > 0) {
            var grid = $("#WoRequiredTools").data("kendoGrid");
            var data = $("#WoRequiredTools table td").find("a[data-id='" + id + "']").closest("tr");
            var model = grid.dataItem(data);
            $("#drpToolCategory").val(model.WorkOrderToolID);
            $("#txtJobToolQuantity").val(model.Quantity);
        }
        else {
            var dropdownlist = $("#drpToolCategory").data("kendoDropDownList");
            dropdownlist.value('');
            $("#txtJobToolQuantity").val('1');
        }
    }

    function onConfirmCallBackJoToolsDelete() {
        var id = $(this).data("id");
        
        $.ajax({
            url: '@Url.Action(CMMS.Pages.Actions.DeleteWOToolItem, CMMS.Pages.Controllers.Transaction, new { area = CMMS.Pages.Areas.Transaction })',
            type: "POST",
            data: addRequestVerificationToken({ workOrderToolId: id }),
            dataType: "json",
            success: function (result) {
                ShowMessage(result[0], result[1], "#divMessage");
                ReBindKendoGrid("WoRequiredTools");
            },
            error: function (xhr, ajaxOptions, thrownError) {
                showErrorMessage();
            }
        });
    }

    $(".allowIntegerOnly").keydown(function (e) {
        // Allow: backspace, delete, tab, escape, enter and .
        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13]) !== -1 ||
            // Allow: Ctrl+A, Command+A
            (e.keyCode == 65 && (e.ctrlKey === true || e.metaKey === true)) ||
            // Allow: home, end, left, right, down, up
            (e.keyCode >= 35 && e.keyCode <= 40)) {
            // let it happen, don't do anything
            return;
        }
        // Ensure that it is a number and stop the keypress
        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
            e.preventDefault();
        }

    });

    var validator1 = $('#frmJOTools').validate({

    });

    function SaveJOTools(e)
    {
        var workorderNo = ($('#WorkorderNo').val() == '' || $('#WorkorderNo').val() == 'undefined' ? 0 : $('#WorkorderNo').val());
        var blnValid = true;
        
        if (!reValidateDropDowns($('#frmJOTools'))) {
            blnValid = false;
        }

        if ($.trim($("#txtJobToolQuantity").val()) == '' || parseInt($.trim($("#txtJobToolQuantity").val())) <= 0) {
            $("#txtJobToolQuantity").addClass("kendoDrpRequired");
            $("#txtJobToolQuantity").focus();
            blnValid = false;
        }
        else {
            $("#txtJobToolQuantity").removeClass("kendoDrpRequired");
        }

        if (blnValid) {
            $("#txtJobToolQuantity").removeClass("kendoDrpRequired");
            $("#drpTools").removeClass("kendoDrpRequired");

            $.ajax({
                url: '@Url.Action(CMMS.Pages.Actions.SaveJOTools, CMMS.Pages.Controllers.Transaction, new { area = CMMS.Pages.Areas.Transaction })',
                type: "POST",
                data: addRequestVerificationToken({ toolID: $('#drpTools').val(), toolQuantity: $('#txtJobToolQuantity').val(), workorderNo: workorderNo }),
                dataType: "json",
                success: function (result) {
                    ShowMessage(result[1], result[2], "#divModelError");
                    $("#addJOToolModal").modal("hide");
                    ReBindKendoGrid("WoRequiredTools");
                    $("#txtJobToolQuantity").val('1');
                    $("#drpTools").val("");
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                    $("#addJOToolModal").modal("hide");
                }
            });

            return false;
        }
        else {  return false; }
    }
    
    function filterSubCatagory() {
        return {
            toolCategoryId: $("#drpToolCategory").val() == "" ? 0 : $("#drpToolCategory").val()
        };
    }

    function filterTools() {
        return {
            toolSubCategoryId: $("#drpToolSubCategory").val() == "" ? 0 : $("#drpToolSubCategory").val(), toolCategoryId: $("#drpToolCategory").val() == "" ? 0 : $("#drpToolCategory").val()
        };
    }
</script>

<div class="information-form" style="margin-top:40px;">
    <h3 class="sub-title">
        <span>@ProjectSession.Resources.label.JobOrder_TextBlockRequiredTools</span>
        <ul class="sub_btn">
            <li><a href="#" class="btn-icon btn-add" data-toggle="modal" data-target="#addJOToolModal" id="btnOpenAddJOTool" data-backdrop="static" onclick="OpenJOItemEditWindow(0);" title='@ProjectSession.Resources.label.Common_ButtonAdd'><i></i></a></li>
            <li><a href="javascript:void(0);" class="btn-icon btn-refresh" onclick="ReBindKendoGrid('WoRequiredTools');" title="@ProjectSession.Resources.label.Common_ButtonRefreshGrid"><i></i></a></li>
            <li><a href="javascript:void(0);" class="btn-icon btn-xsl" onclick="ExportToExcel('WoRequiredTools', 'WorkOrderToolID');" title="@ProjectSession.Resources.label.Common_ButtonExportToExcel"><i></i></a></li>
        </ul>
    </h3>

    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div id="LaborGrid" class="@ProjectSession.CultureKendoClass">
                @(Html.Kendo().Grid<CMMS.Model.WorkOrderTool>()
                .Name("WoRequiredTools")
        .HtmlAttributes(new { @class = "kl-grid" })
        .Columns(columns =>
        {

            columns.Bound(c => c.ToolDescription).Title(ProjectSession.Resources.label.PMChecklist_TextBoxToolDescription).Visible(Lang);
            columns.Bound(c => c.AltToolDescription).Title(ProjectSession.Resources.label.PMChecklist_TextBoxAltToolDescription);

            columns.Bound(c => c.Quantity).Title(ProjectSession.Resources.label.JobPlan_TextBlockQuantity).Width(150);

            //columns.Bound(c => c.SeqNo).Title(ProjectSession.Resources.label.PMChecklist_TextBlockTaskSeqNo).Hidden(true);
            columns.Bound(c => c.WorkOrderToolID).ClientTemplate("<center>" +
                (ProjectSession.PermissionAccess.JobOrder_JobOrder_Editrecords ? "<a class='action delete-button'  href='javascript:void(0);'  class='delete-ic' data-id='#: WorkOrderToolID #' style='cursor:pointer'><i class='glyphicon glyphicon-trash' title='" + ProjectSession.Resources.label.Common_ButtonDelete + "' ></i></a>" : "") +
                                                                    "</center>")
                                            .Title("<center>" + ProjectSession.Resources.label.Common_ButtonAction + "</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Width(80).Filterable(false);
            //columns.Bound(c => c.WorkOrderToolID).Hidden(true);
        }) 
        .Filterable()
        .Sortable(sortable => sortable.AllowUnsort(false))
        .Scrollable()
        .Excel(excel => excel.FileName(ProjectSession.Resources.label.JobOrder_TextBlockRequiredTools + ".xlsx").Filterable(true).AllPages(true).ProxyURL(Url.Action("Excel_Export_Save", "GridExport", new { area = string.Empty })))
        .Pageable(pageable => pageable.PageSizes(CMMS.Pages.General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
        .Events(events => events.DataBound("onDataBoundForWOTools").ExcelExport("excelExport"))
        .DataSource(dataSource =>
                                dataSource.Ajax()
                                .PageSize(ProjectConfiguration.PageSize)
                                                        .Sort(model => model.Add("WorkOrderToolID").Ascending())
                                 .Model(model =>
                                 {
                                     model.Field(p => p.WorkOrderToolID);
                                 })
                                .ServerOperation(true)
                                                                               .Read(read => read.Action(CMMS.Pages.Actions.GetWorkOrderTools, CMMS.Pages.Controllers.Transaction, new { area = CMMS.Pages.Areas.Transaction }).Data("BindParametersForWOTools").Type(HttpVerbs.Post))
        )
                )

            </div>
        </div>
    </div>
</div>


<div id="addJOToolModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" title="@ProjectSession.Resources.label.Common_ButtonClose"></button>
                <h4 class="modal-title">@ProjectSession.Resources.message.JobOrder_RadTabItemJOTools</h4>
            </div>
            @using (Html.BeginForm(CMMS.Pages.Actions.SaveJOTools, CMMS.Pages.Controllers.Transaction, new { area = CMMS.Pages.Areas.Transaction }, FormMethod.Post, new { id = "frmJOTools" }))
            {
                 @Html.AntiForgeryToken()
                <div class="modal-body">
                    <div id="Highlights" class="tab-pane active" role="tabpanel">
                        <div class="form-horizontal">
                            <div id="divModelErrorJobTools"></div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">@ProjectSession.Resources.label.ToolSetups_TextToolCategoryCode</label>
                                <div class="col-sm-8">
                                    <div class="@ProjectSession.CultureKendoClass">
                                        @(Html.Kendo().DropDownList()
                                                         .Name("drpToolCategory")
                                                         .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                                         .DataTextField("ToolCategoryCode")
                                                         .DataValueField("ToolCategoryID")
                                                         .HtmlAttributes(new { style = "width: 100%" })
                                                         .Template("#= KendoDDLTemplate(data.ToolCategoryCode ,data.ToolCategoryDesc, data.ToolCategoryAltDesc) #")
                                                         .DataSource(source =>
                                                         {
                                                             source.Read(read =>
                                                             {
                                                                 read.Action(CMMS.Pages.Actions.GetToolCategories, CMMS.Pages.Controllers.Configurations, new { area = CMMS.Pages.Areas.Configurations });
                                                             });
                                                         })
                                                         .Value("")
                                        )
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">@ProjectSession.Resources.label.ToolSetups_TextToolSubCategoryCode</label>
                                <div class="col-sm-8">
                                    <div class="@ProjectSession.CultureKendoClass">
                                        @(Html.Kendo().DropDownList()
                                                         .Name("drpToolSubCategory")
                                                         .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                                         .DataTextField("ToolSubCategoryCode")
                                                         .DataValueField("ToolSubCategoryID")
                                                         .HtmlAttributes(new { style = "width: 100%" })
                                                         .Template("#= KendoDDLTemplate(data.ToolSubCategoryCode ,data.ToolSubCategoryDesc, data.ToolSubCategoryAltDesc) #")
                                                                 .DataSource(source =>
                                                        {
                                                            source.Read(read =>
                                                            {
                                                                read.Action(CMMS.Pages.Actions.GetToolSubCategoryByCategoryID, CMMS.Pages.Controllers.Configurations, new { area = CMMS.Pages.Areas.Configurations }).Data("filterSubCatagory");

                                                            })
                                                            .ServerFiltering(true);
                                                        })
                                                                .CascadeFrom("drpToolCategory")
                                                         .AutoBind(true)
                                                         .Value("")
                                        )
                                    </div>

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">@ProjectSession.Resources.label.ToolSetups_TextToolsCode<span class="cfont">*</span></label>
                                <div class="col-sm-8">
                                    <div class="@ProjectSession.CultureKendoClass">
                                        @(Html.Kendo().DropDownList()
                                                         .Name("drpTools")
                                                         .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                                         .DataTextField("ToolsCode")
                                                         .DataValueField("ToolsID")
                                                         .HtmlAttributes(new { style = "width: 100%", @required = "required" })
                                                         .Template("#= KendoDDLTemplate(data.ToolsCode ,data.ToolsDesc, data.ToolsAltDesc) #")
                                                         .DataSource(source =>
                                                         {
                                                             source.Read(read =>
                                                             {
                                                                 read.Action(CMMS.Pages.Actions.GetToolsByCatAndSubCat, CMMS.Pages.Controllers.Configurations, new { area = CMMS.Pages.Areas.Configurations }).Data("filterTools");
                                                             })
                                                             .ServerFiltering(true);
                                                         }).CascadeFrom("drpToolSubCategory")
                                                         .AutoBind(true)
                                                         .Value("")
                                        )
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">@ProjectSession.Resources.label.JobPlan_TextBlockQuantity<span class="cfont">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" typeof="number" class="form-control allowIntegerOnly" maxlength="5" id="txtJobToolQuantity" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.JobPlan_TextBlockQuantity"></input>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer box-footer">
                    @if (ProjectSession.PermissionAccess.JobOrder_JobOrder_Editrecords)
                        {
                        <button type="button"  class="btn btn-primary" onclick="SaveJOTools();" id="btnSaveJOTool"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
                        }
                    <button type="button" class="btn btn-default" data-dismiss="modal">@ProjectSession.Resources.label.Common_ButtonClose</button>
                </div>
            }
        </div>
    </div>
</div>
<script>
    $(function () {
        EnableDisableControlls();
    });
</script>