﻿@model CMMS.Model.Location
@using CMMS.Infrastructure;
@{
    bool Lang = ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true;
}
<script type="text/javascript">

    function BindParametersForLinkedLocations() {
        return {
            locationID: $('#LocationID').val(),
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function onDataBoundForLinkedLocation(args) {
        confirmDeleteMsg(msgText, okText, cancelText, onConfirmCallBackLinkedLocationDelete, confirmDirection);
        gridProperPaging(this);
    }

    function OpenUnLinkedLocation() {
        $('.HeadercheckboxL1').prop('checked', false);
        $('.ChildcheckboxL1').prop('checked', false);
        ReBindKendoGrid('locationGrid');
    }

    var validator1 = $('#frmLinkedLocations').validate({

    });

    function onDataBoundLocation(arg) {
        gridProperPaging(this);
    }

    function BindParametersLocation() {
        return {
            cityID: isNotUndefinedNullOrBlankOrZero('ddlCity') ? $('#ddlCity').val() : 0,
            parentLocationID: $('#LocationID').val(),
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function CheckAllChildCheckBoxesDiv(elem, gridName, headerChkClassName, childChkClassName) {
        var state = $("." + headerChkClassName).is(':checked');
        var gridPermissionModel = $("#" + gridName).data("kendoGrid");

        $('.' + childChkClassName).prop('checked', state);
    }

    function SetGridHeaderCheckBoxSelection(elem, gridName, headerChkClassName, childChkClassName) {
        setTimeout((function () {
            var gridPermissionModel = $("#" + gridName).data("kendoGrid");

            var numChkBoxes = $("." + childChkClassName).length;
            var numChkBoxesChecked = $("." + childChkClassName + ":checked").length;

            if (numChkBoxes == numChkBoxesChecked && numChkBoxes > 0) {
                $("." + headerChkClassName).prop('checked', true);
            }
            else {
                $("." + headerChkClassName).prop('checked', false);
            }

        }), 10);
    }

    function BindParameters() {
        return {
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }
</script>
<div class="form-horizontal">
    <div class="information-form cus-form" style="margin-top:10px;">
        <h3 class="sub-title">
            <span>@ProjectSession.Resources.label.Location_TextBlockLinkedLocations</span>
            <div class="sub_btn multiple-checklis">
                @if (ProjectSession.PermissionAccess.Locations_Locations_Editrecords && ProjectSession.PermissionAccess.Locations__ShowHideModule)
                {
                <li><a href="#" class="btn-icon btn-add" data-toggle="modal" data-target="#addLinkedLocations" id="btnOpenAddLocation" data-backdrop="static" onclick="OpenUnLinkedLocation();" title='@ProjectSession.Resources.label.Common_ButtonAdd'><i></i></a></li>
                <li><a href="javascript:void(0);" class="btn-icon btn-clear" onclick="ClearLinkedLocationsList();" title="@ProjectSession.Resources.label.JobOrder_ButtonClearSafetyInstList"><i></i></a></li>
                <li><a href="javascript:void(0);" class="btn-icon btn-refresh" onclick="ReBindKendoGrid('LinkedLocationGrid');" title="@ProjectSession.Resources.label.Common_ButtonRefreshGrid"><i></i></a></li>
                <li><a href="javascript:void(0);" class="btn-icon btn-xsl" onclick="ExportToExcel('LinkedLocationGrid', 'LocationID');" title="@ProjectSession.Resources.label.Common_ButtonExportToExcel"><i></i></a></li>
                }
            </div>
        </h3>
        <div class="row">
            <div class="col-md-12 col-lg-12">
                @Html.HiddenFor(model => model.LocationID)
                <div id="JobTaskData" class="@ProjectSession.CultureKendoClass">
                    @(Html.Kendo().Grid<CMMS.Model.Location>
                        ()
                        .Name("LinkedLocationGrid")
                        .HtmlAttributes(new { @class = "kl-grid" })
                        .Columns(columns =>
                        {

                        columns.Bound(c => c.LocationNo).Title(ProjectSession.Resources.label.Location_TextBlockLocationNo).Width(160);

                        columns.Bound(c => c.LocationDescription).Title(ProjectSession.Resources.label.Location_TextBlockLocationDescription);
                        columns.Bound(c => c.LocationAltDescription).Title(ProjectSession.Resources.label.Location_TextBlockLocationAltDescription).HtmlAttributes(new { @class = "text-right" });
                        columns.Bound(c => c.LocationID).ClientTemplate("<center>" +
                            (ProjectSession.PermissionAccess.Locations_Locations_Editrecords ? "<a class='action delete-button' href='javascript:void(0);' class='delete-ic' data-id='#: LocationID #' style='cursor:pointer'><i class='glyphicon glyphicon-trash' title='" + ProjectSession.Resources.label.Common_ButtonDelete + "'></i></a>" : "") + "</center>")
                           .Title("<center>" + ProjectSession.Resources.label.Common_ButtonAction + "</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Width(80).Filterable(false);

                        })
                        .Sortable(sortable => sortable.AllowUnsort(false))
                        .Scrollable()
                        .Excel(excel => excel.FileName(ProjectSession.Resources.label.Location_TextBlockLinkedLocations + ".xlsx").Filterable(true).AllPages(false))
                        .Events(events => events.DataBound("onDataBoundForLinkedLocation"))
                        .Filterable()
                        .Pageable(pageable => pageable.PageSizes(CMMS.Pages.General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
                        .DataSource(dataSource =>
                        dataSource.Ajax()
                        .PageSize(ProjectConfiguration.PageSize)
                        .Sort(model => model.Add("LocationNo").Ascending())
                        .Model(model =>
                        {
                        model.Id(p => p.LocationID);
                        model.Field(p => p.LocationNo);
                        })
                        .ServerOperation(true)
                        .Read(read => read.Action(CMMS.Pages.Actions.GetLinkedLocationsList, CMMS.Pages.Controllers.Transaction, new { area = CMMS.Pages.Areas.Transaction }).Data("BindParametersForLinkedLocations").Type(HttpVerbs.Post))
                        )
                        )

                </div>
            </div>
        </div>
    </div>
</div>

<!--Add Location Modal-->
<div id="addLinkedLocations" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" title="@ProjectSession.Resources.label.Common_ButtonClose"></button>
                <h4 class="modal-title">@ProjectSession.Resources.label.Location_TextBlockLocationList</h4>
            </div>
            <div class="modal-body">
                <div id="Highlights" class="tab-pane active" role="tabpanel">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div id="locationData" class="@ProjectSession.CultureKendoClass">
                                    @(Html.Kendo().Grid<CMMS.Model.Location>
                                        ()
                                        .Name("locationGrid")
                                        .HtmlAttributes(new { @class = "kl-grid" })
                                        .Columns(columns =>
                                        {
                                        columns.Template(@<text></text>).HeaderTemplate("<input type='checkbox' class='HeadercheckboxL1' onclick=CheckAllChildCheckBoxesDiv(null,'locationGrid','HeadercheckboxL1','chkbx'); />")
                                        .ClientTemplate("<input type='checkbox' onclick=SetGridHeaderCheckBoxSelection(this,'locationGrid','HeadercheckboxL1','chkbx'); class='chkbx ChildcheckboxL1' />").Width(30);

                                        columns.Bound(c => c.LocationNo).Title(ProjectSession.Resources.label.Location_TextBlockLocationNo).Width(150);

                                        columns.Bound(c => c.LocationDescription).Title(ProjectSession.Resources.label.Location_TextBlockLocationDescription).Width(250);

                                        columns.Bound(c => c.LocationAltDescription).HtmlAttributes(new { @class = "text-right" }).Title(ProjectSession.Resources.label.Location_TextBlockAltLocationDescription).Width(250);

                                        columns.Bound(c => c.L2Code).Title(ProjectSession.Resources.label.JobRequest_TextBlockCity).Width(110)
                                        .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterSite", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

                                        columns.Bound(c => c.L4No).Title(ProjectSession.Resources.label.Street_TextBlockStreet).Width(110)
                                        .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterZone", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

                                        columns.Bound(c => c.L4Description).Title(ProjectSession.Resources.label.Street_TextBlockStreetDesc).Visible(ProjectSession.Culture == ProjectConfiguration.EnglishCultureCode ? true : false).Width(280);

                                        columns.Bound(c => c.L4AltDescription).Title(ProjectSession.Resources.label.Street_TextBlockAltStreetDesc).Visible(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? true : false).Width(280);

                                        columns.Bound(c => c.L5No).Title(ProjectSession.Resources.label.Building_TextBlockBuildingNo).Width(150)
                                        .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterBuilding", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

                                        columns.Bound(c => c.L5Description).Title(ProjectSession.Resources.label.Building_TextBlockBuildingDesc).Visible(ProjectSession.Culture == ProjectConfiguration.EnglishCultureCode ? true : false).Width(250);

                                        columns.Bound(c => c.L5AltDescription).Title(ProjectSession.Resources.label.Building_TextBlockAltBuildingDesc).Visible(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? true : false).Width(250);

                                        columns.Bound(c => c.Criticality).Title(ProjectSession.Resources.label.Location_TextBlockCriticality).Width(110)
                                        .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterCriticality", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

                                        })
                                        .Filterable()
                                        .Sortable(sortable => sortable.AllowUnsort(false))
                                        .Scrollable()
                                        .Pageable(pageable => pageable.PageSizes(CMMS.Pages.General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
                                        .Events(events => events.DataBound("onDataBoundLocation"))
                                        .Excel(excel => excel.FileName(ProjectSession.Resources.label.Location_TextBlockLocationList + ".xlsx").Filterable(true).AllPages(true))
                                        .DataSource(dataSource => dataSource.Ajax()
                                        .PageSize(ProjectConfiguration.PageSize)
                                        .Model(model =>
                                        {
                                        model.Id(p => p.LocationID);
                                        model.Field(p => p.LocationNo);
                                        })
                                        .ServerOperation(true)
                                        .Read(read => read.Action(CMMS.Pages.Actions.GetUnLinkedLocationsList, CMMS.Pages.Controllers.Configurations, new { area = CMMS.Pages.Areas.Configurations }).Data("BindParametersLocation").Type(HttpVerbs.Post))
                                        ).Resizable(resize => resize.Columns(true))
                                        )
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer box-footer">
                <span style="float:left;text-align:left;color:red;">Note: Locations which are linked with any other location will not be listed here. </span>
                <button type="button" class="btn btn-primary" onclick="SaveLinkedLocations()">@ProjectSession.Resources.label.Common_ButtonSave</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">@ProjectSession.Resources.label.Common_ButtonClose</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('.modal').on('shown.bs.modal', function (e) {
        $(document).off("focusin.modal");
    });

    function onConfirmCallBackLinkedLocationDelete() {
        var id = $(this).data("id");
        $.ajax({
            url: '@Url.Action(CMMS.Pages.Actions.DeletLinkedLocation, CMMS.Pages.Controllers.Configurations, new { area = CMMS.Pages.Areas.Configurations })',
            type: "POST",
            data: addRequestVerificationToken({ parentLocationID: $('#LocationID').val(), locationID: id }),
            dataType: "json",
            success: function (result) {
                //ClearAllInputs("frmAssignToWorkOrders");
                ShowMessage(result[0], result[1], "#divMessage");
                ReBindKendoGrid("LinkedLocationGrid");
            },
            error: function (xhr, ajaxOptions, thrownError) {
                showErrorMessage();
            }
        });
    }

    function SaveLinkedLocations() {

        var blnValid = false;
        var gridModel = $('#locationGrid').data("kendoGrid");
        var lstLinkedLocations = [];
        var LinkedLocationID = 0;
        var params = {};
        var gridPermissionModel = $("#locationGrid").data("kendoGrid");

        $("#locationGrid table tr").each(function (i, row) {
            if ($('#LocationID').val() > 0) {
                var checkBox = $(row).find('input[type=checkbox].ChildcheckboxL1');

                if (checkBox.length > 0) {
                    state = checkBox.prop('checked');
                    if (state != 'undefined' && row != 'undefined' && state == true) {
                        try { dataitem = gridPermissionModel.dataItem(row); }
                        catch (e) {
                            dataitem = null;
                        }
                        if (dataitem != null && dataitem != 'undefined') {
                            dataitem.dirty = true;
                            LinkedLocationID = dataitem["LocationID"];
                            lstLinkedLocations.push(LinkedLocationID);
                            blnValid = true;
                        }
                    }
                }
            }
        });

        if (!blnValid)
            return false;

        if (blnValid) {

            params.parentLocationID = $('#LocationID').val();
            params.lstChangedObjs = JSON.stringify(lstLinkedLocations);

            $.ajax({
                url: '@Url.Action(CMMS.Pages.Actions.SaveLinkedLocations, CMMS.Pages.Controllers.Configurations, new { area = CMMS.Pages.Areas.Configurations })',
                type: "POST",
                data: addRequestVerificationToken(params),
                dataType: "json",
                success: function (result) {
                    $("#addLinkedLocations").modal("hide");
                    ShowMessage(result[1], result[2], "#divMessage");
                    ReBindKendoGrid("LinkedLocationGrid");
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                    $("#addLinkedLocations").modal("hide");
                }
            });
        }
    }

    $('#addLinkedLocations').on('hide.bs.modal', function (e) {
        if (validator1 != "") { // validator1.resetForm();
        }
    });


    function ClearLinkedLocationsList() {
        var response = confirm('@ProjectSession.Resources.message.JobOrder_MsgDeleteAllConfirm');

        if (response) {
            $.ajax({
                url: '@Url.Action(CMMS.Pages.Actions.DeletLinkedLocation, CMMS.Pages.Controllers.Configurations, new { area = CMMS.Pages.Areas.Configurations })',
                type: "POST",
                data: addRequestVerificationToken({ parentLocationID: $('#LocationID').val(), locationID: 0 }),
                dataType: "json",
                success: function (result) {
                    //ClearAllInputs("frmAssignToWorkOrders");
                    ShowMessage(result[1], result[2], "#divMessage");
                    ReBindKendoGrid("LinkedLocationGrid");
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }
        else {
            return false;
        }
    }
</script>
