﻿@model CMMS.Model.ExtAssetFile
@using CMMS.Infrastructure;
@using CMMS.Pages;
@using CMMS.Model;
@{
    bool Lang = ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true;
}

<style>
    .a-tag-document {
        color: #1b79c8 !important;
    }
</style>

<script type="text/javascript" src="~/Scripts/jquery.form.js"></script>
<div class="form-horizontal">
    <h3 class="sub-title">
        <span>@ProjectSession.Resources.menu.Common_MenuAttachment</span>
        <div class="sub_btn">
            @if (ProjectSession.PermissionAccess.Locations_Locations_Editrecords)
            {
                <a data-toggle="modal" data-target="#documentEditModal" onclick="EditDocument(0)" class="btn-icon btn-add" title="@ProjectSession.Resources.label.Common_ButtonAdd" href="javascript:void(0);"><i></i></a>
            }
        </div>
    </h3>

    <div class="row">
        <div class="col-md-12">
            <div class="@ProjectSession.CultureKendoClass">
                @(Html.Kendo().Grid<CMMS.Model.ExtAssetFile>()
                                    .Name("DocumentGrid")
                                    .Columns(columns =>
                                    {
                                        columns.Bound(c => c.FileName).ClientTemplate("<a href='" + @Url.Action(Actions.DownloadAttachment, Controllers.Transaction, new { @area = Areas.Transaction, @autoID = " #:AutoId# " }) + "'  class='action a-tag-document' >#: FileName #</a>").Title(ProjectSession.Resources.label.Common_FileName);

                                        columns.Bound(c => c.FileDescription).Title(ProjectSession.Resources.label.Common_DocumentDescription);

                                        columns.Bound(c => c.ModuleType).ClientTemplate("#if($.trim(ModuleType)=='D') {# Yes #} else {# No#}#").Title("Is Location Diagram").Filterable(false);

                                        columns.Bound(c => c.ModifiedByName).Title(ProjectSession.Resources.label.Common_UploadedBy);

                                        columns.Bound(c => c.ModifiedDate).ClientTemplate("#= DateTemplate(data.ModifiedDate) #").Title(ProjectSession.Resources.label.Common_UploadedDate);

                                        columns.Bound(c => c.AutoId).ClientTemplate("<center>" + (Model.IsEditButtonEnable ? "<a  class='action' data-toggle='modal' data-target='\\#documentEditModal'  onclick='EditDocument(#: AutoId#)' title='" + ProjectSession.Resources.label.Common_ButtonEdit + "'  style='cursor:pointer' ><i class='glyphicon glyphicon-pencil'></i></a>&nbsp;" : "")
                                            + "" + (Model.IsDeleteButtonEnable ? "<a class='action delete-button'  href='javascript:void(0);'  class='delete-ic' data-id='#: AutoId #' style='cursor:pointer'><i class='glyphicon glyphicon-trash' title='" + ProjectSession.Resources.label.Common_ButtonDelete + "' ></i></a>" : "") + "</center>")
                                          .Title("<center>" + ProjectSession.Resources.label.Common_ButtonAction + "</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Width(80).Filterable(false);

                                    }) 
                                    .Filterable()
                                    .Sortable(sortable => sortable.AllowUnsort(false))
                                    .Scrollable()
                                    .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
                                    .Events(events => events.DataBound("onDataBoundDocument"))
                                    .DataSource(dataSource => dataSource.Ajax()
                                    .PageSize(ProjectConfiguration.PageSize)
                                     .Model(model =>
                                     {
                                         model.Id(p => p.AutoId);
                                         model.Field(p => p.FileName);
                                     })
                                    .ServerOperation(true)
                                    .Read(read => read.Action(Actions.GetSectionDocumentList, Controllers.Transaction, new { area = Areas.Transaction }).Data("BindParametersDocument").Type(HttpVerbs.Post))
                                    )
                )

            </div>
        </div>
    </div>

</div>

<div id="documentEditModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-mg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" title="@ProjectSession.Resources.label.Common_ButtonClose"></button>
                <h4 class="modal-title">@ProjectSession.Resources.menu.Common_MenuAttachment</h4>
            </div>
            @using (Html.BeginForm(Actions.SaveSectionDocument, Controllers.Transaction, FormMethod.Post, new { @id = "formDocument", enctype = "multipart/form-data" }))
            {
                <div class="modal-body">
                    <div id="Highlights" class="tab-pane active" role="tabpanel">
                        <div class="form-horizontal">
                            <div id="divModelErrorForAttachment"></div>
                            @Html.HiddenFor(model => model.FkId, new { id = "hdnFkId" })
                            @Html.HiddenFor(model => model.AutoId, new { id = "hdnAutoId" })
                            @Html.HiddenFor(model => model.FileLink, new { id = "hdnOldFileLink" })
                            <div class="form-group">
                                <label class="col-md-4 col-lg-4 control-label">@ProjectSession.Resources.label.Common_TextBlockAttachmentName<span class="cfont">*</span></label>
                                <div class="col-md-8 col-lg-8">
                                    @(Html.Kendo().Upload().Name("Documentfiles").HtmlAttributes(new { id = "Documentfiles", accept = "'" + ProjectSession.AllowUploadFileFormats + "'" }).Multiple(false))
                                </div>
                            </div>

                            <div id="divFileName" style="display: none">
                                <div class="form-group">
                                    <label class="col-md-4 col-lg-4 control-label"></label>
                                    <div class="col-md-8 col-lg-8">
                                        <a class='action' id="lblFileName" href="javascript:Downloadattachment();" title='@ProjectSession.Resources.label.Common_DownloadAttachment' style='cursor: pointer'>@Model.FileName</a>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 col-lg-4 control-label">Is Location Diagarm</label>
                                <div class="col-md-8 col-lg-8" style="margin-top:7px;">
                                    @Html.CheckBoxFor(model => model.IsLocationDiagram, new { id = "chkIsLocationDiagram" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 col-lg-4 control-label">@ProjectSession.Resources.label.JobPlan_TextBlockDecription</label>
                                <div class="col-md-8 col-lg-8">
                                    @Html.TextAreaFor(model => model.FileDescription, new { @MaxLength = 500, @class = "form-control", @placeholder = ProjectSession.Resources.label.JobPlan_TextBlockDecription })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer box-footer">
                    @if (Model.IsSaveButtonEnable == true)
                    {
                        <button type="submit" class="btn btn-primary" id="btnSave1"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
                    }
                    <button class="btn btn-primary" data-dismiss="modal" id="btnCancel1"><span>@ProjectSession.Resources.label.Common_ButtonCancel</span></button>
                </div>
            }
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
    });

    function EditDocument(autoID) {
        if (autoID > 0) {
            $.ajax({
                url: '@Url.Action(Actions.GetSectionDocumentByID, Controllers.Transaction, new { area = Areas.Transaction })',
                datatype: 'json',
                cache: false,
                method: 'post',
                data: addRequestVerificationToken({ autoID: autoID }),
                success: function (result) {
                    $('#divFileName').css('display', '');

                    $('#FileDescription').val(result.FileDescription);
                    $('#lblFileName').text(result.FileName);
                    $('#hdnAutoId').val(result.AutoId);
                    $('#hdnOldFileLink').val(result.FileLink);
                    if (result.ModuleType == '@SystemEnum.DocumentModuleType.D.ToString()') {
                        $('#chkIsLocationDiagram').prop("checked", "checked");
                    }
                    else {
                        $('#chkIsLocationDiagram').prop("checked", false);
                    }
                }
            });
        }
        else {
            ResetDocumentData();
        }
    }

    function Downloadattachment() {
        window.open('@Url.Action(Actions.DownloadAttachment, Controllers.Transaction, new { @area = Areas.Transaction })?autoID=' + $('#hdnAutoId').val(),'_blank');
    }

    $('#formDocument').submit(function () {
        var options = {
            success: showResponseEmployeeDocument,  // post-submit callback
            data: {
                AutoId: $('#hdnAutoId').val(),
                FileDescription: $('#FileDescription').val(),
                FkId: $('#hdnAssetIDDoc').val(),
                IsLocationDiagram: $("#chkIsLocationDiagram").is(":checked")
            },
        };
        $(this).ajaxSubmit(options);
        return false;

    });

    $('#formDocument').validate({

    });

    function showResponseEmployeeDocument(responseText, statusText, xhr, $form) {
        if (responseText[0] == '@SystemEnum.MessageType.success.ToString()') {
            ShowMessage(responseText[0], responseText[1], "#divMessage");
            ReBindKendoGrid("DocumentGrid");
            $("#formDocument .k-upload-files .k-delete").trigger("click");
            $('#documentEditModal').modal("hide");
            ResetDocumentData();
        }
        else {
            ShowMessage(responseText[0], responseText[1], "#divModelErrorForAttachment");
        }
    }

    function ResetDocumentData() {
        $('#divFileName').css('display', 'none');
        var fileStatusRow = $(".k-upload-files");
        fileStatusRow.remove();
        $('#FileDescription').val("");
        $('#lblFileName').text("");
        $('#hdnAutoId').val(0);
        $('#hdnOldFileLink').val("");
        $('#chkIsLocationDiagram').prop("checked", false);
    }

    $("#DocumentGrid tbody").on("dblclick", "tr[role='row']", function (e) {
        var grid = $("#DocumentGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        $("#documentEditModal").modal("show");
        EditDocument(model.AutoId);
    });
</script>
