﻿@model CMMS.Model.MultiplePM
@using CMMS.Infrastructure;
@using CMMS.Pages;
@using CMMS.Model;
@{
    bool Lang = ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true;
}
<script src="~/Scripts/common.js"></script>

<style>
    .calendars-popup {
        z-index: 100000 !important;
    }
</style>

<form>
    <div class="form-horizontal">

        <div class="form-group ">
            <label class="col-md-4 col-lg-2 control-label">@ProjectSession.Resources.label.PM_TextBlockPMNumber</label>
            <div class="col-md-8 col-lg-4 two-form-group">
                <div class="input-two">
                    <div class="input-group">
                        @Html.HiddenFor(model => model.PMID, new { id = "hdnChkPMID" })
                        @Html.TextBoxFor(model => model.PMNo, new { @readonly = "readonly", @class = "form-control", @placeholder = ProjectSession.Resources.label.PM_TextBlockPMNumber })
                    </div>
                    <div class="input-group">
                        @if (Lang)
                        {
                            @Html.TextBoxFor(model => model.PMName, new { @readonly = "readonly", @class = "form-control", @placeholder = ProjectSession.Resources.label.PM_TextBlockPMName })
                        }
                        else
                        {
                            @Html.TextBoxFor(model => model.AltPMName, new { @readonly = "readonly", @class = "form-control", @placeholder = ProjectSession.Resources.label.PM_TextBlockAltPMName })
                        }
                    </div>
                </div>
            </div>
        </div>


        <h3 class="sub-title multiple-checklis">
            <span>@ProjectSession.Resources.label.PM_RadTabItemMultipleChecklist</span>
            <div class="sub_btn">
                <button class="btn btn-primary" type="button" id="btnDeleteAll" onclick="DeleteAllPMs();"><span>@ProjectSession.Resources.label.PM_ButtonDeleteAllPM</span></button>
                @if (ProjectSession.PermissionAccess.Preventive_TimeSchedules_Createnewrecords)
                {
                    <a href="#" onclick="OpenAddCheckListWindow();" title="@ProjectSession.Resources.label.Common_ButtonAdd" class="btn-icon btn-add"><i></i></a>
                }

            </div>
        </h3>
        <div class="row">
            <div class="col-md-12">
                <div class="@ProjectSession.CultureKendoClass">
                    @(Html.Kendo().Grid<CMMS.Model.MultiplePM>()
                                    .Name("MultipleCheckListGrid")
                                    .Columns(columns =>
                                    {
                                        columns.Bound(c => c.CheckListNo).Title(ProjectSession.Resources.label.PM_TextBlockCheckListNumber).Width(200);
                                        columns.Bound(c => c.MSeq).Title(ProjectSession.Resources.label.PM_TextBlockCheckListSeq);
                                        columns.Bound(c => c.MStartDate).ClientTemplate("#= DateTemplate(data.MStartDate) #").Title(ProjectSession.Resources.label.JobOrder_TextBlockStartDate);
                                        columns.Bound(c => c.MStartDateCount).Title(ProjectSession.Resources.label.Asset_TextBlockAltAssetDescription);
                                        columns.Bound(c => c.MDescription).Title(ProjectSession.Resources.label.JobOrder_TextBlockRemarksJobPlan);
                                    })
                                    .Filterable()
                                    .Sortable(sortable => sortable.AllowUnsort(false))
                                    .Scrollable()
                                    .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
                                    .Events(events => events.DataBound("onDataBoundMultipleCheckList"))
                                    .DataSource(dataSource => dataSource.Ajax()
                                    .PageSize(ProjectConfiguration.PageSize)
                                     .Model(model =>
                                     {
                                         model.Id(p => p.PMID);
                                         model.Field(p => p.MDescription);
                                     })
                                    .ServerOperation(true)
                                    .Read(read => read.Action(Actions.GetMultiplePMList, Controllers.Transaction, new { area = Areas.Transaction }).Data("BindParametersMultipleCheckList").Type(HttpVerbs.Post))
                                    )
                    )

                </div>
            </div>
        </div>
    </div>
</form>
<!-- PM Checklist Grid Modal-->
<div id="CheckListModel" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"></button>
                <h4 class="modal-title">@ProjectSession.Resources.label.PM_RadTabItemMultipleChecklist</h4>
            </div>
            <form role="form" id="frmPMCheckList">
                <div class="modal-body">
                    <div id="Highlights" class="tab-pane active" role="tabpanel">
                        <div class="form-horizontal">
                            <div id="divModelErrorCheckList"></div>
                            <div class="row">
                                <div class="col-md-12 col-lg-12">
                                    <div class="form-group two-form-group">
                                        <label class="col-sm-3 control-label">@ProjectSession.Resources.label.PM_TextBlockCheckListNumber<span class="cfont">*</span></label>
                                        <div class="col-sm-9">
                                            <div class="input-group pm-checklist">
                                                @Html.Hidden("ChecklistID", "", new { @id = "hdnMultiChecklistID" })
                                                @Html.TextBox("ChecklistNo", "", new { @class = "form-control code-input", @readonly = "readonly", @id = "txtMultiChecklistNo", @Placeholder = @ProjectSession.Resources.label.PM_TextBlockCheckListNumber })
                                                @*@Html.TextBox("CheckListName", "", new { @class = "form-control", @readonly = "readonly", @id = "txtMultiCheckListName", @Placeholder = @ProjectSession.Resources.label.PMChecklist_TextBlockPMChecklistDesc })
                                                @Html.TextBox("AltCheckListName", "", new { @class = "form-control", @readonly = "readonly", @id = "txtMultiAltCheckListName", @Placeholder = @ProjectSession.Resources.label.PMChecklist_TextBlockArabicPMChecklistDesc })*@

                                                @(Html.Kendo().AutoComplete().Name("Checklist")
                                    .DataTextField(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "AltCheckListName" : "CheckListName")
                                            .HtmlAttributes(new { @class = "form-control", @id = "txtMultiCheckListName" })
                                    .Filter("contains")
                                    .Template("#= KendoDDLTemplate( data.ChecklistNo, data.CheckListName, data.AltCheckListName) #")
                                    .MinLength(3)
                        .Placeholder(ProjectSession.Resources.label.PMChecklist_TextBlockPMChecklistDesc)
                                    .Events(m => m.Select("onCheckListAutoSelect"))
                                    .DataSource(source =>
                                     {
                                         source.Read(read =>
                                         {
                                             read.Action(Actions.GetPMChecklistAutoDDL, Controllers.AutoComplete, new { area = Areas.Configurations }).Data("onCheckListAdditionalData");
                                         })
                                     .ServerFiltering(true);
                                     })
                                                )

                                                <a href="#" class="checklis-btn" data-toggle="modal" onclick="OpenMultiCheckListPopUp()" id="MultiCheckListPopUpOpen">
                                                    <img src="../images/checklis-icon.png" alt=""></a>
                                                <a href="javascript:void(0);" class="close-btn" onclick="ClearMultiCheckListData();" id="MultiCheckListPopUpClose">
                                                    <img src="../images/close.png" alt=""></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-lg-12">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">@ProjectSession.Resources.label.PM_TextBlockCheckListSeq<span class="cfont">*</span></label>
                                        <div class="col-sm-9">
                                            @Html.TextBox("MSeq", "", new { @MaxLength = 4, @class = "form-control decimalnumber", @id = "txtMSeq", @Placeholder = ProjectSession.Resources.label.Common_Enter + " " + ProjectSession.Resources.label.PM_TextBlockCheckListSeq })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 col-lg-12">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">@ProjectSession.Resources.label.PM_TextBlockStartAtDateSeqNo<span class="cfont">*</span></label>
                                        <div class="col-sm-9">
                                            <div class="row">
                                                <div class="col-md-5 mg-b">
                                                    <div class="input-group date-pick">
                                                        @Html.TextBox("StartDate", "", "{0:" + ProjectConfiguration.DefaultDateFormat + "}", new { @id = "txtStartDate", @readonly = "readonly", placeholder = ProjectConfiguration.DefaultDateFormat, @class = "form-control calendarsPicker" })
                                                    </div>
                                                </div>
                                                <div class="col-md-4 mg-b">
                                                    @Html.TextBox("SeqNumber", "", new { @MaxLength = 4, @class = "form-control allowNumberOnly", @id = "txtSeqNumber", @readonly = "readonly", @Placeholder = ProjectSession.Resources.label.PM_TextBlockCheckListSeq })
                                                </div>
                                                <div class="col-md-3 mg-b">
                                                    <button class="btn btn-primary mg-l-0" data-toggle="modal" id="btnChange" type="button"><span>@ProjectSession.Resources.label.PM_ButtonViewChange</span></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-lg-12">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">@ProjectSession.Resources.label.JobOrder_TextBlockRemarksPMChecklist</label>
                                        <div class="col-sm-9">
                                            @Html.TextArea("Remarks", "", new { @MaxLength = 4000, @class = "form-control", @id = "txtRemarks", @Placeholder = ProjectSession.Resources.label.Common_Enter + " " + ProjectSession.Resources.label.JobOrder_TextBlockRemarksPMChecklist })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer box-footer">
                    @if (ProjectSession.PermissionAccess.Preventive_TimeSchedules_Editrecords || ProjectSession.PermissionAccess.Preventive_TimeSchedules_Createnewrecords)
                    {
                        <button type="submit" class="btn btn-primary" id="btnSave"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
                    }
                    <button type="button" class="btn btn-default" data-dismiss="modal">@ProjectSession.Resources.label.Common_ButtonClose</button>
                </div>
            </form>
        </div>

    </div>
</div>

<div id="MultiPMChecklistGridModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" title="@ProjectSession.Resources.label.Common_ButtonClose"></button>
                <h4 class="modal-title">@ProjectSession.Resources.label.PMChecklist_TextBlockPMChecklistList</h4>
            </div>
            <div class="modal-body">
                <div class="tab-pane active" role="tabpanel">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div id="MultiPMChecklistData" class="@ProjectSession.CultureKendoClass">
                                    @(Html.Kendo().Grid<CMMS.Model.PMCheckList>()
                                            .Name("MultiPMChecklistGrid")
                                    .Columns(columns =>
                                    {
                                        columns.Bound(c => c.ChecklistNo).Title(ProjectSession.Resources.label.PMChecklist_TextBlockPMChecklistNo).Width(180);

                                        columns.Bound(c => c.CheckListName).Title(ProjectSession.Resources.label.PMChecklist_TextBlockPMChecklistDesc).Width(200);

                                        columns.Bound(c => c.AltCheckListName).Title(ProjectSession.Resources.label.PMChecklist_TextBlockArabicPMChecklistDesc).Width(200);

                                        columns.Bound(c => c.EstimatedLaborHours).Title(ProjectSession.Resources.label.PMChecklist_TextBlockEstLabourHrs).Width(180);

                                        columns.Bound(c => c.L2Code).Title(ProjectSession.Resources.label.JobRequest_TextBlockCityCode).Width(180)
                                        .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterSite", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

                                        columns.Bound(c => c.MaintDivisionCode).Title(ProjectSession.Resources.label.MaintDivision_TextBlockMaintenanceDivision).Width(180)
                                        .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterMaintenanceDivision", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

                                        columns.Bound(c => c.MaintDeptCode).Title(ProjectSession.Resources.label.MaintenanceDept_TextBlockMaintDeptCode).Width(180)
                                        .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterMaintenanceDepartment", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

                                        columns.Bound(c => c.MaintSubDeptCode).Title(ProjectSession.Resources.label.MaintenanceSubDept_TextBlockMaintSubDeptCode).Width(180)
                                        .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterMaintenanceSubDepartment", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

                                    })
                                    .Filterable()
                                    .Sortable(sortable => sortable.AllowUnsort(false))
                                    .Scrollable()
                                            .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
                                    .Events(events => events.DataBound("onDataBoundCheckList"))
                                    .DataSource(dataSource => dataSource.Ajax()
                                    .PageSize(ProjectConfiguration.PageSize)
                                     .Model(model =>
                                     {
                                         model.Id(p => p.ChecklistID);
                                         model.Field(p => p.ChecklistNo);
                                     })
                                    .ServerOperation(true)
                                    .Read(read => read.Action(Actions.GetPMChecklist, Controllers.Transaction, new { area = Areas.Transaction }).Data("BindParametersCheckList").Type(HttpVerbs.Post))
                                    )
                                    )

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="PMPlanModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" title="@ProjectSession.Resources.label.Common_ButtonClose"></button>
                <h4 class="modal-title">
                    @if (Model.TypePMgenID == 1)
                    {
                        <span>PM Plan Forecast - Schedule</span>
                    }
                    else if (Model.TypePMgenID == 2)
                    {
                        <span>PM Plan Forecast - Actual</span>
                    }
                    else if (Model.TypePMgenID == 3)
                    {
                        <span>Fixed Day and Week</span>
                    }
                    else if (Model.TypePMgenID == 4)
                    {
                        <span>Fixed Date</span>
                    }
                    else if (Model.TypePMgenID == 5)
                    {
                        <span>Fixed Date by Month</span>
                    }
                </h4>
            </div>
            <div class="modal-body">
                <div class="tab-pane active" role="tabpanel">
                    <div class="form-horizontal">
                        <div id="divModelErrorCheckListPopUP"></div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div id="PMPlanData" class="@ProjectSession.CultureKendoClass">
                                    @(Html.Kendo().Grid<CMMS.Model.PmForecastTemp>()
                                            .Name("PMPlanGrid")
                                    .Columns(columns =>
                                    {
                                        columns.Bound(c => c.PMCount).Title(ProjectSession.Resources.label.PM_TextBlockPMSeq).Width(50);

                                        columns.Bound(c => c.PMStartDate).ClientTemplate("#= DateTemplate(data.PMStartDate) #").Title(ProjectSession.Resources.label.PM_TextBlockPMScheduleDate).Width(200);

                                        columns.Bound(c => c.PmTask1).Title(ProjectSession.Resources.label.PM_TextBlockPMTask1).Width(100);

                                        columns.Bound(c => c.PmTask2).Title(ProjectSession.Resources.label.PM_TextBlockPMTask2).Width(100);

                                        columns.Bound(c => c.PmTask3).Title(ProjectSession.Resources.label.PM_TextBlockPMTask3).Width(100);

                                        columns.Bound(c => c.PmTask4).Title(ProjectSession.Resources.label.PM_TextBlockPMTask4).Width(100);

                                        columns.Bound(c => c.PmTask5).Title(ProjectSession.Resources.label.PM_TextBlockPMTask5).Width(100);

                                        columns.Bound(c => c.PmTask6).Title(ProjectSession.Resources.label.PM_TextBlockPMTask6).Width(100);

                                        columns.Bound(c => c.PmTask7).Title(ProjectSession.Resources.label.PM_TextBlockPMTask7).Width(100);

                                    })
                                    .Sortable(sortable => sortable.AllowUnsort(false))
                                    .Scrollable()
                                            .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
                                    .Events(events => events.DataBound("onDataBoundPMPlanList"))
                                    .DataSource(dataSource => dataSource.Ajax()
                                    .PageSize(ProjectConfiguration.PageSize)
                                     .Model(model =>
                                     {
                                         model.Id(p => p.PMCount);
                                         model.Field(p => p.PMStartDate);
                                     })
                                    .ServerOperation(true)
                                    .Read(read => read.Action(Actions.GetPMPlanList, Controllers.Transaction, new { area = Areas.Transaction }).Data("BindParametersPMPlanList").Type(HttpVerbs.Post))
                                    )
                                    )

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        CreateCalendarsPicker();

    });

    var validator3 = $('#frmPMCheckList').validate({
        rules: {
            ChecklistID: { required: true },
            ChecklistNo: { required: true },
            StartDate: { required: true },
            SeqNumber: { required: true },
            MSeq: { required: true },
        },
        messages: {
            ChecklistID: { required: '' },
            ChecklistNo: { required: '' },
            StartDate: { required: '' },
            SeqNumber: { required: '' },
            MSeq: { required: '' },
        }
    });


    //CheckList pop up
    function OpenMultiCheckListPopUp() {
        $("#MultiPMChecklistGridModal").modal("show");
    }

    function onDataBoundCheckList(arg) {
        gridProperPaging(this);
    }

    function onCheckListAdditionalData() {

        var l2ID = $('#L2ID').val() == "" ? 0 : $('#L2ID').val();
        return {
            //siteID: $('#ddlCity').val(),
            strWhere: " AND ( pmchecklist.L2ID = " + l2ID + " OR pmchecklist.L2ID IS NULL )",
            text: $("#txtMultiCheckListName").val(),
        };
    }

    function BindParametersCheckList() {

        var l2ID = $('#L2ID').val() == "" ? 0 : $('#L2ID').val();
        return {
            //siteID: $('#ddlCity').val(),
            strWhere: " AND ( pmchecklist.L2ID = " + l2ID + " OR pmchecklist.L2ID IS NULL )",
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function ClearMultiCheckListData() {
        $("#hdnMultiChecklistID").val("");
        $("#txtMultiChecklistNo").val("");
        $("#txtMultiCheckListName").val("");
        $("#txtMultiAltCheckListName").val("");
    }

    function onCheckListAutoSelect(e) {
        var model = this.dataItem(e.item.index());
        //Checklist
        $("#txtMultiChecklistNo").val(model.ChecklistNo);
        //$("#txtMultiCheckListName").val(model.CheckListName);
        //$("#txtMultiAltCheckListName").val(model.AltCheckListName);
        $("#hdnMultiChecklistID").val(model.ChecklistID);
    }


    $("#MultiPMChecklistGrid tbody").on("dblclick", "tr[role='row']", function (e) {
        var grid = $("#MultiPMChecklistGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        $("#MultiPMChecklistGridModal").modal("hide");

        //Checklist
        $("#txtMultiChecklistNo").val(model.ChecklistNo);
        if ('@Lang' == 'True') {
            $("#txtMultiCheckListName").val(model.CheckListName);
        }
        else {
            $("#txtMultiCheckListName").val(model.AltCheckListName);
        }
        $("#hdnMultiChecklistID").val(model.ChecklistID);
    });

    //End CheckList popup


    //TextBoxMultipleCheckListSeq_LostFocus
    $('#txtMSeq').focusout(function () {
        if ($('#txtMSeq').val() >= 0 && $('#txtMSeq').val() != "") {
            $.ajax({
                url: '@Url.Action("UpdateStartDate", Controllers.Transaction, new { area = Areas.Transaction })',
                type: "POST",
                data: {
                    timeID: $('#hdnChkPMID').val(),
                    multiSeqNumber: $('#txtMSeq').val()
                },
                dataType: "json",
                success: function (result) {

                    if (result[0] != null && result[0] != "") {                        
                        $('#txtStartDate').val(SetJsondate(result[0]));
                    }
                    else
                        $('#txtStartDate').val("");

                    $('#txtSeqNumber').val(result[1]);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }

            });
        }
        else {
            $('#txtStartDate').val("");
            $('#txtSeqNumber').val("");
        }
    });

    $('#btnChange').click(function () {
        if (parseInt($('#txtMSeq').val()) <= 0) {
            ShowMessage('@SystemEnum.MessageType.danger.ToString()', '@ProjectSession.Resources.message.PM_MsgTaskSeqIsNull', "#divModelErrorCheckList");
        }
        else if (parseInt($('#hdnMultiChecklistID').val()) <= 0 || $('#hdnMultiChecklistID').val() == "") {
            ShowMessage('@SystemEnum.MessageType.danger.ToString()', '@ProjectSession.Resources.message.PM_MsgSelectTaskNo', "#divModelErrorCheckList");
        }
        else if ($('#txtStartDate').val() == "") {
            ShowMessage('@SystemEnum.MessageType.danger.ToString()', '@ProjectSession.Resources.message.PM_MsgStartAtDateIsNull', "#divModelErrorCheckList");
        }
        else if (parseInt($('#txtMSeq').val()) > 0 && parseInt($('#hdnMultiChecklistID').val()) > 0 && $('#txtStartDate').val() != "" && parseInt($('#txtSeqNumber').val()) > 0) {
            ReBindKendoGrid("PMPlanGrid");
            $("#PMPlanModal").modal("show");
        }
        else {
        }
    });

//PM Plan Pop Up


$("#PMPlanGrid tbody").on("dblclick", "tr[role='row']", function (e) {
    var grid = $("#PMPlanGrid").data("kendoGrid");
    var model = grid.dataItem(this);


    //Checklist    
    if (model.PMCount == 0) {
        ShowMessage('@SystemEnum.MessageType.danger.ToString()', '@ProjectSession.Resources.message.PM_MsgDateNotValid', "#divModelErrorCheckListPopUP");
    } else {
        $("#PMPlanModal").modal("hide");
        
        $('#txtStartDate').val(SetJsondate(model.PMStartDate));
        $('#txtSeqNumber').val(model.PMCount);
    }
});

//End PM Plan Pop Up


$('#frmPMCheckList').on('submit', function (e) {
    if ($("#frmPMCheckList").valid()) {
        if (e.isDefaultPrevented()) {
            // handle the invalid form...
        } else {
            if ($('#txtMSeq').val() < 2) {
                ShowMessage('@SystemEnum.MessageType.danger.ToString()', '@ProjectSession.Resources.message.PM_MsgInvalidTaskSeq', "#divModelErrorCheckList");
            }
            else {

                var changedObj = {
                    PMID: $('#hdnChkPMID').val(),
                    MTaskID: $("#hdnMultiChecklistID").val(),
                    MSeq: $('#txtMSeq').val(),
                    MDescription: $("#txtRemarks").val(),
                    MStartDate: $("#txtStartDate").val(),
                    MStartDateCount: $("#txtSeqNumber").val(),
                    MScount: $('#txtSeqNumber').val()
                };
                $.ajax({
                    url: '@Url.Action(Actions.ManageMultiplePM, Controllers.Transaction, new { area = Areas.Transaction })',
                    type: "POST",
                    data: addRequestVerificationToken(changedObj),
                    dataType: "json",
                    success: function (result) {
                        if (result[0] == '@SystemEnum.MessageType.danger.ToString()') {
                            ShowMessage(result[0], result[1], "#divModelErrorCheckList");
                        }
                        else {
                            $('#CheckListModel').modal("hide");
                            ShowMessage(result[0], result[1], "#divMessage");
                            ReBindKendoGrid("MultipleCheckListGrid");
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        showErrorMessage();
                    }
                });
                }
                e.preventDefault();
            }
        }
        else {
            e.preventDefault();
        }
});

    function DeleteAllPMs() {

        var response = confirm('@ProjectSession.Resources.message.JobOrder_MsgDeleteAllConfirm');
        if (response) {
            $.ajax({
                url: '@Url.Action(CMMS.Pages.Actions.DeleteMultiplePM, CMMS.Pages.Controllers.Transaction, new { area = CMMS.Pages.Areas.Transaction })',
                type: "POST",
                data: addRequestVerificationToken({ timeID: $('#hdnChkPMID').val() }),
                dataType: "json",
                success: function (result) {
                    ShowMessage(result[0], result[1], "#divMessage");
                    ReBindKendoGrid("MultipleCheckListGrid");
                    e.preventDefault();

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }
        e.preventDefault();
    }

    $('#CheckListModel').on('hide.bs.modal', function (e) {
        if (validator3 != "")
            validator3.resetForm();

        ClearMultiCheckListData();
        ClearPopUpData();
    });

    function ClearPopUpData() {
        $('#txtMSeq').val('');
        $('#txtStartDate').val('');
        $('#txtRemarks').val('');
    }

</script>

