﻿@model CMMS.Model.PmMeters_AssignTo
@using CMMS.Infrastructure;
@using CMMS.Pages;
@using CMMS.Model;
@{
    bool Lang = ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true;
}
<form id="frmAssetRelationship">
    <div class="form-horizontal">
        <div class="form-group ">
            <label class="col-md-4  col-lg-2 control-label">@ProjectSession.Resources.label.PMMeter_TextBlockPMMeterNo</label>
            <div class="col-md-8 col-lg-4 two-form-group">
                <div class="input-two">
                    <div class="input-group">
                        @Html.HiddenFor(model => model.Meterid, new { id = "hdnMeterIDAssignTo" })
                        @Html.TextBoxFor(model => model.MeterNo, new { @readonly = "readonly", @class = "form-control", @placeholder = ProjectSession.Resources.label.PMMeter_TextBlockPMMeterNo })
                    </div>
                    <div class="input-group">
                        @if (Lang)
                        {
                            @Html.TextBoxFor(model => model.MeterDescription, new { @readonly = "readonly", @class = "form-control", @placeholder = ProjectSession.Resources.label.PM_TextBlockMeterDesc })
                        }
                        else
                        {
                            @Html.TextBoxFor(model => model.AltMeterDescription, new { @readonly = "readonly", @class = "form-control", @placeholder = ProjectSession.Resources.label.PM_TextBlockMeterDesc })
                        }
                    </div>
                </div>
            </div>
        </div>
        <h3 class="sub-title">
            <span>@ProjectSession.Resources.message.JobOrder_RadTabItemAssignTo</span>
            <div class="sub_btn">
                @if (ProjectSession.PermissionAccess.Preventive_MeterSchedules_Createnewrecords)
                {
                    <a href="#" onclick="OpenAddPMAssignToWindow();" title="@ProjectSession.Resources.label.Common_ButtonAdd" class="btn-icon btn-add"><i></i></a>
                }
            </div>
        </h3>
        <div class="row">
            <div class="col-md-12">
                <div class="@ProjectSession.CultureKendoClass">
                    @(Html.Kendo().Grid<CMMS.Model.PmMeters_AssignTo>()
                                    .Name("PMMeterAssignToListGrid")
                                    .Columns(columns =>
                                    {
                                        columns.Bound(c => c.EmployeeNO).Title(ProjectSession.Resources.label.Employee_TextBlockEmployeeNO).Width(300);
                                        columns.Bound(c => c.Name).Title(ProjectSession.Resources.label.Employee_TextBlockEmployeeName);
                                        columns.Bound(c => c.Employeeid).ClientTemplate("<center>" + (ProjectSession.PermissionAccess.Preventive_TimeSchedules_Deleterecords ? "<a class='action delete-button'  href='javascript:void(0);'  class='delete-ic' data-id='#: Employeeid #' style='cursor:pointer'><i class='glyphicon glyphicon-trash' title='" + ProjectSession.Resources.label.Common_ButtonDelete + "' ></i></a>" : "") + "</center>")
                                            .Title("<center>" + ProjectSession.Resources.label.Common_ButtonAction + "</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Width(80).Filterable(false);
                                    })
                                    .Filterable()
                                    .Sortable(sortable => sortable.AllowUnsort(false))
                                    .Scrollable()
                                    .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
                                    .Events(events => events.DataBound("onDataBoundPMMeterAssignToList"))
                                    .DataSource(dataSource => dataSource.Ajax()
                                    .PageSize(ProjectConfiguration.PageSize)
                                     .Model(model =>
                                     {
                                         model.Id(p => p.Meterid);
                                         model.Field(p => p.Name);
                                     })
                                    .ServerOperation(true)
                                    .Read(read => read.Action(Actions.GetPMMeterAssignToList, Controllers.Transaction, new { area = Areas.Transaction }).Data("BindParametersPMMeterAssignList").Type(HttpVerbs.Post))
                                    )
                    )

                </div>
            </div>
        </div>
    </div>
</form>
<div id="AddPMMeterAssignToModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"></button>
                <h4 class="modal-title">@ProjectSession.Resources.message.JobOrder_RadTabItemAssignTo</h4>
            </div>
            <div class="modal-body">
                <div class="tab-pane active" role="tabpanel">
                    <div id="divModelError1"></div>
                    <form role="form" id="frmEmployee">
                        <div class="form-horizontal">
                            <div class="row">
                                <div class="col-md-12 col-lg-12">
                                    <div class="form-group two-form-group">
                                        <label class="col-sm-3 control-label">@ProjectSession.Resources.label.Employee_TextBlockEmployeeNO<span class="cfont">*</span></label>
                                        <div class="col-sm-9">
                                            <div class="input-group pm-checklist">
                                                @Html.HiddenFor(model => model.Employeeid, new { @id = "hdnEmployeeid" })
                                                @Html.TextBoxFor(model => model.EmployeeNO, new { @class = "form-control code-input", @readonly = "readonly", @id = "txtEmployeeNO", @Placeholder = @ProjectSession.Resources.label.Employee_TextBlockEmployeeNO })
                                                @*@Html.TextBoxFor(model => model.Name, new { @class = "form-control", @readonly = "readonly", @id = "txtName", @Placeholder = @ProjectSession.Resources.label.Employee_TextBlockEmployeeName })*@
                                               
                                                @(Html.Kendo().AutoCompleteFor(model => model.Name)
                                    .DataTextField("Name")
                                            .HtmlAttributes(new { @class = "form-control", @id = "txtName" })
                                    .Filter("contains")
                                    .Template("#= KendoDDLTemplateForTwoColumn(data.EmployeeNO, data.Name) #")
                                    .MinLength(3)
                                            .Placeholder(ProjectSession.Resources.label.Employee_TextBlockEmployeeNO)
                                            .Events(m => m.Select("onEmployeeAutoSelect"))
                                    .DataSource(source =>
                                     {
                                         source.Read(read =>
                                         {
                                             read.Action(Actions.GetEmployeeAssignPageAutoDDL, Controllers.AutoComplete, new { area = Areas.Configurations }).Data("onEmployeeAdditionalData");
                                         })
                                     .ServerFiltering(true);
                                     })
                                      .Value(Convert.ToString(Model.Name))
                                                )

                                                 <a href="#" class="checklis-btn" data-toggle="modal" data-backdrop="static" onclick="OpenEmployeePopUp()">
                                                    <img src="../images/checklis-icon.png" alt="">
                                                </a>
                                                <a href="javascript:void(0);" class="close-btn" title="@ProjectSession.Resources.label.Common_ButtonClear" onclick="ClearEmployeeData();">
                                                    <img src="../images/close.png" alt="">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 10px;">
                                <div class="col-md-12" style="text-align: right; float: right;">
                                    @if (ProjectSession.PermissionAccess.Preventive_TimeSchedules_Createnewrecords)
                                    {
                                        <button class="btn btn-primary" title="@ProjectSession.Resources.label.Common_ButtonSave" type="submit"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
                                    }
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="row">
                        <div class="col-md-12 or-mag">
                            <center><b>OR</b></center>
                        </div>
                    </div>
                    <form role="form" id="frmEmployeeGroup">
                        <div class="form-horizontal">
                            <div class="row">
                                <div class="col-md-12 col-lg-12">
                                    <div class="form-group two-form-group">
                                        <label class="col-sm-3 control-label">@ProjectSession.Resources.label.MaintenanceGroup_TextBlockMaintenanceGroupCode<span class="cfont">*</span></label>
                                        <div class="col-sm-9">
                                            <div class="input-group pm-checklist">
                                                @Html.Hidden("MaintGroupID", "", new { @id = "hdnAssignToMaintGroupID" })
                                                @Html.TextBox("MaintGroupCode", "", new { @class = "form-control code-input", @readonly = "readonly", @id = "txtAssignTOMaintgroupCode", @Placeholder = @ProjectSession.Resources.label.MaintenanceGroup_TextBlockMaintenanceGroupCode })
                                                @*@Html.TextBox("MaintGroupDesc", "", new { @class = "form-control", @style = "display:" + (Lang ? "" : "none;"), @readonly = "readonly", @id = "txtAssignTOMaintgroupDesc", @Placeholder = @ProjectSession.Resources.label.MaintenanceGroup_TextBlockMaintenanceGroupDesc })
                                                @Html.TextBox("MaintGroupAltDesc", "", new { @class = "form-control", @style = "display:" + (Lang ? "none;" : ""), @readonly = "readonly", @id = "txtAssignTOMaintgroupAltDesc", @Placeholder = @ProjectSession.Resources.label.MaintenanceGroup_TextBlockAltMaintenanceGroupDesc })*@
                                                
                                                @(Html.Kendo().AutoComplete().Name("MaintGroup")
                                    .DataTextField(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "GroupAltDesc" : "GroupDesc")
                                    .HtmlAttributes(new { @class = "form-control", @id = "txtAssignTOMaintgroupDesc" })
                                    .Filter("contains")
                                    .Template("#= KendoDDLTemplate( data.GroupCode, data.GroupDesc, data.GroupAltDesc) #")
                                    .MinLength(3)
                                    .Placeholder(ProjectSession.Resources.label.MaintenanceGroup_TextBlockMaintenanceGroupDesc)
                                    .Events(m => m.Select("onMaintenanceAutoSelect"))
                                    .DataSource(source =>
                                     {
                                         source.Read(read =>
                                         {
                                             read.Action(CMMS.Pages.Actions.GetMaintenanceGroupAutoDDL, CMMS.Pages.Controllers.AutoComplete, new { area = CMMS.Pages.Areas.Configurations }).Data("onMaintenanceAdditionalData");
                                         })
                                     .ServerFiltering(true);
                                     })
                                                )
                                                
                                                <a href="#" class="checklis-btn" data-toggle="modal" data-backdrop="static" onclick="OpenAssignToMaintGroups()">
                                                    <img src="../images/checklis-icon.png" alt="">
                                                </a>
                                                <a href="javascript:void(0);" class="close-btn" title="@ProjectSession.Resources.label.Common_ButtonClear" onclick="ClearAssignToMaintGroups();">
                                                    <img src="../images/close.png" alt="">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 10px;">
                                <div class="col-md-12" style="text-align: right; float: right;">
                                    @if (ProjectSession.PermissionAccess.Preventive_TimeSchedules_Createnewrecords)
                                    {
                                        <button class="btn btn-primary" title="@ProjectSession.Resources.label.Common_ButtonSave" type="submit"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
                                    }
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- employee  Grid Modal-->
<div id="employeeGridModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" title="@ProjectSession.Resources.label.Common_ButtonClose"></button>
                <h4 class="modal-title">@ProjectSession.Resources.label.Employee_RadTabItemEmployee</h4>
            </div>
            <div class="modal-body">
                <div class="tab-pane active" role="tabpanel">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div id="employeeData" class="@ProjectSession.CultureKendoClass">
                                    @(Html.Kendo().Grid<CMMS.Model.employees>()
                                            .Name("employeeGrid")
                                    .Columns(columns =>
                                    {
                                        columns.Bound(c => c.EmployeeNO).Title(ProjectSession.Resources.label.Employee_TextBlockEmployeeNO).Width(150);

                                        columns.Bound(c => c.L2Code).Title(ProjectSession.Resources.label.JobRequest_TextBlockCityCode).Width(150)
                                        .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterSite", "GridFilter", new { area = string.Empty }).Data("BindParametersEmployee").Type(HttpVerbs.Post))));

                                        columns.Bound(c => c.Name).Title(ProjectSession.Resources.label.Employee_TextBlockEmployeeName).Width(200);

                                        columns.Bound(c => c.MaintDivisionCode).Title(ProjectSession.Resources.label.MaintDivision_TextBlockMaintDivCode).Width(150)
                                        .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterMaintenanceDivision", "GridFilter", new { area = string.Empty }).Data("BindParametersEmployee").Type(HttpVerbs.Post))));

                                        columns.Bound(c => c.MaintDeptCode).Title(ProjectSession.Resources.label.MaintenanceDept_TextBlockMaintDeptCode).Width(150)
                                       .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterMaintenanceDepartment", "GridFilter", new { area = string.Empty }).Data("BindParametersEmployee").Type(HttpVerbs.Post))));

                                        columns.Bound(c => c.MaintSubDeptCode).Title(ProjectSession.Resources.label.MaintenanceSubDept_TextBlockMaintSubDeptCode).Width(180)
                                        .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterMaintenanceSubDepartment", "GridFilter", new { area = string.Empty }).Data("BindParametersEmployee").Type(HttpVerbs.Post))));

                                        columns.Bound(c => c.Positions).Title(ProjectSession.Resources.label.Employee_TextBlockDesignation).Width(150);

                                        columns.Bound(c => c.CategoryName).Title(ProjectSession.Resources.label.Employee_TextBlockEmployeeCategory).Width(200)
                                        .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterEmpCategory", "GridFilter", new { area = string.Empty, @id = "1" }).Data("BindParametersEmployee").Type(HttpVerbs.Post))));

                                        columns.Bound(c => c.EmployeeStatus).Title(ProjectSession.Resources.label.Employee_TextBlockEmployeeStatus).Width(150)
                                        .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterEmpStatus", "GridFilter", new { area = string.Empty, @id = "1" }).Data("BindParametersEmployee").Type(HttpVerbs.Post))));

                                    })
                                    .Filterable()
                                    .Sortable(sortable => sortable.AllowUnsort(false))
                                    .Scrollable()
                                     .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
                                    .Events(events => events.DataBound("onDataBoundEmployee"))
                                    .DataSource(dataSource => dataSource.Ajax()
                                    .PageSize(ProjectConfiguration.PageSize)
                                     .Model(model =>
                                     {
                                         model.Id(p => p.EmployeeID);
                                         model.Field(p => p.Name);
                                     })
                                    .ServerOperation(true)
                                    .Read(read => read.Action(Actions.GetEmployeeAssignPage, Controllers.Management, new { area = Areas.Management }).Data("BindParametersEmployee").Type(HttpVerbs.Post))
                                    )
                                    )

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="MaintGroupModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" title="@ProjectSession.Resources.label.Common_ButtonClose"></button>
                <h4 class="modal-title">@ProjectSession.Resources.label.MaintenanceGroup_TextBlockMaintenanceGroup</h4>
            </div>
            <div class="modal-body">
                <div id="Highlights" class="tab-pane active" role="tabpanel">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div id="maintGroupData" class="@ProjectSession.CultureKendoClass">
                                    @(Html.Kendo().Grid<CMMS.Model.MaintGroup>()
                                            .Name("maintGroupGrid")
                                            .HtmlAttributes(new { @class = "kl-grid" })
                                    .Columns(columns =>
                                    {
                                        columns.Bound(c => c.GroupID).Hidden(true);

                                        columns.Bound(c => c.GroupCode).Title(ProjectSession.Resources.label.MaintenanceGroup_TextBlockMaintenanceGroupCode).Width(150);

                                        columns.Bound(c => c.GroupDesc).Title(ProjectSession.Resources.label.MaintenanceGroup_TextBlockMaintenanceGroupDesc).Width(170);

                                        columns.Bound(c => c.GroupAltDesc).Title(ProjectSession.Resources.label.MaintenanceGroup_TextBlockAltMaintenanceGroupDesc).Width(170);

                                        columns.Bound(c => c.L2Code).Title(ProjectSession.Resources.label.JobRequest_TextBlockCityCode).Width(120)
                                        .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterSite", "GridFilter", new { area = string.Empty }).Data("BindParametersAssignToMaintGroups").Type(HttpVerbs.Post))));

                                    })
                                    .Filterable()
                                    .Sortable(sortable => sortable.AllowUnsort(false))
                                    .Scrollable()
                                    .Pageable(pageable => pageable.PageSizes(CMMS.Pages.General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
                                    .Events(events => events.DataBound("onDataAssignToMaintGroup").ExcelExport("excelExport"))
                                    .Excel(excel => excel.FileName(ProjectSession.Resources.label.MaintenanceGroup_TextBlockMaintenanceGroup + ".xlsx").Filterable(true).AllPages(true).ProxyURL(Url.Action("Excel_Export_Save", "GridExport", new { area = string.Empty })))
                                    .DataSource(dataSource => dataSource.Ajax()
                                    .PageSize(ProjectConfiguration.PageSize)
                                     .Model(model =>
                                     {
                                         model.Id(p => p.GroupID);
                                         model.Field(p => p.L2Code);
                                     })
                                    .ServerOperation(true)
                                    .Read(read => read.Action(CMMS.Pages.Actions.GetMaintenanceGroup, CMMS.Pages.Controllers.Configurations, new { area = CMMS.Pages.Areas.Configurations }).Data("BindParametersAssignToMaintGroups").Type(HttpVerbs.Post))
                                    )
                                   .Resizable(resize => resize.Columns(true))
                                    )

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer box-footer">
                <button type="button" class="btn btn-primary" id="btnExportToExcelMinatGroups" onclick="ExportToExcel('maintGroupGrid');"><span>@ProjectSession.Resources.label.Common_ButtonExportToExcel</span></button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('.modal').on('shown.bs.modal', function (e) {
        $(document).off("focusin.modal");
    });

    var validator1 = $('#frmEmployee').validate({
        rules: {
            Employeeid: { required: true },
            EmployeeNO: { required: true },
        },
        messages: {
            Employeeid: { required: '' },
            EmployeeNO: { required: '' },
        }
    });

    var validator2 = $('#frmEmployeeGroup').validate({
        rules: {
            MaintGroupID: { required: true },
            MaintGroupCode: { required: true },
        },
        messages: {
            MaintGroupID: { required: '' },
            MaintGroupCode: { required: '' },
        }
    });

    function OpenAddPMAssignToWindow() {
        $("#AddPMMeterAssignToModal").modal("show");
    }

    //Start Employee PopUp
    function ClearEmployeeData() {
        $("#txtEmployeeNO").val("");
        $("#txtName").val("");
        $("#hdnEmployeeid").val("");
    }

    $("#employeeGrid tbody").on("dblclick", "tr[role='row']", function (e) {
        var grid = $("#employeeGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        $("#employeeGridModal").modal("hide");

        //Employee
        $("#txtEmployeeNO").val(model.EmployeeNO);
        $("#txtName").val(model.Name);
        $("#hdnEmployeeid").val(model.EmployeeID);
    });

    //END Employee PopUp

    //Start Emplyee Group Popup

    function ClearAssignToMaintGroups() {
        $('#hdnAssignToMaintGroupID').val('');
        $("#txtAssignTOMaintgroupCode").val('');
        $("#txtAssignTOMaintgroupDesc").val('');
        $("#txtAssignTOMaintgroupAltDesc").val('');
    }

    $("#maintGroupGrid tbody").on("dblclick", "tr[role='row']", function (e) {
        var grid = $("#maintGroupGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        $("#MaintGroupModal").modal("hide");

        $('#hdnAssignToMaintGroupID').val(model.GroupID);
        $("#txtAssignTOMaintgroupCode").val(model.GroupCode);
        if ('@Lang' == 'True') {
            $("#txtAssignTOMaintgroupDesc").val(model.GroupDesc);
        }
        else {
            $("#txtAssignTOMaintgroupDesc").val(model.GroupAltDesc);
        }
        
    });
    //end Emplyee Group Popup

    $('#frmEmployee').on('submit', function (e) {
        if ($("#frmEmployee").valid()) {
            if (e.isDefaultPrevented()) {
                // handle the invalid form...
            } else {
                var changedObj = {
                    meterID: $('#hdnMeterIDAssignTo').val(),
                    employeeID: $("#hdnEmployeeid").val()
                };
                $.ajax({
                    url: '@Url.Action(Actions.ManagePMMeterAssignToEmployee, Controllers.Transaction, new { area = Areas.Transaction })',
                    type: "POST",
                    data: addRequestVerificationToken(changedObj),
                    dataType: "json",
                    success: function (result) {
                        if (result[0] == '@SystemEnum.MessageType.danger.ToString()') {
                            ShowMessage(result[0], result[1], "#divModelError1");
                        }
                        else {
                            $('#AddPMMeterAssignToModal').modal("hide");
                            ShowMessage(result[0], result[1], "#divMessage");
                            ReBindKendoGrid("PMMeterAssignToListGrid");

                            ClearAssignToMaintGroups();
                            ClearEmployeeData();
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        showErrorMessage();
                    }
                });
                e.preventDefault();
            }
        }
        else {
            e.preventDefault();
        }
    });

    $('#frmEmployeeGroup').on('submit', function (e) {
        if ($("#frmEmployeeGroup").valid()) {
            if (e.isDefaultPrevented()) {
                // handle the invalid form...
            } else {


                var changedObj = {
                    meterID: $('#hdnMeterIDAssignTo').val(),
                    groupID: $("#hdnAssignToMaintGroupID").val()
                };

                $.ajax({
                    url: '@Url.Action(Actions.ManagePMMeterAssignToEmployeeGroup, Controllers.Transaction, new { area = Areas.Transaction })',
                    type: "POST",
                    data: addRequestVerificationToken(changedObj),
                    dataType: "json",
                    success: function (result) {
                        if (result[0] == '@SystemEnum.MessageType.danger.ToString()') {
                            ShowMessage(result[0], result[1], "#divModelError1");
                        }
                        else {
                            $('#AddPMMeterAssignToModal').modal("hide");
                            ShowMessage(result[0], result[1], "#divMessage");
                            ReBindKendoGrid("PMMeterAssignToListGrid");

                            ClearAssignToMaintGroups();
                            ClearEmployeeData();
                        }

                        e.preventDefault();
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        showErrorMessage();
                    }
                });

                e.preventDefault();
            }
        }
        else {
            e.preventDefault();
        }
    });

    $('#AddPMMeterAssignToModal').on('hide.bs.modal', function (e) {
        if (validator1 != "")
            validator1.resetForm();

        if (validator2 != "")
            validator2.resetForm();

        ClearAssignToMaintGroups();
        ClearEmployeeData();
    });


    function onConfirmCallbackPMMeterAssinTO(sender) {

        var id = $(this).data("id");
        $.ajax({
            url: '@Url.Action(CMMS.Pages.Actions.DeletePmMeterAssignto, CMMS.Pages.Controllers.Transaction, new { area = CMMS.Pages.Areas.Transaction })',
            type: "POST",
            data: addRequestVerificationToken({ meterID: $('#hdnMeterIDAssignTo').val(), employeeID: id }),
            dataType: "json",
            success: function (result) {
                //ClearAllInputs("frmAssignToWorkOrders");
                ShowMessage(result[0], result[1], "#divMessage");
                ReBindKendoGrid("PMMeterAssignToListGrid");

            },
            error: function (xhr, ajaxOptions, thrownError) {
                showErrorMessage();
            }
        });
    }

</script>
