﻿@model CMMS.Model.Location
@using CMMS.Infrastructure;
@using CMMS.Pages;
@using CMMS.Model;
@{
    bool Lang = ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true;
}

<form id="frmAssetRelationship">
    <div class="form-horizontal">


        <div class="form-group">
            <label class="col-md-4 col-lg-2 control-label">@ProjectSession.Resources.label.Location_TextBlockLocationNo</label>
            <div class=" col-md-8 col-lg-4 two-form-group">
                <div class="input-two">
                    <div class="input-group">
                        @Html.HiddenFor(model => model.LocationID, new { id = "hdnLocationID" })
                        @Html.TextBoxFor(model => model.LocationNo, new { @readonly = "readonly", @class = "form-control", @placeholder = ProjectSession.Resources.label.Location_TextBlockLocationNo })
                    </div>
                    <div class="input-group">
                        @if (Lang)
                        {
                            @Html.TextBoxFor(model => model.LocationDescription, new { @readonly = "readonly", @class = "form-control", @placeholder = ProjectSession.Resources.label.Location_TextBlockLocationDescription })
                        }
                        else
                        {
                            @Html.TextBoxFor(model => model.LocationAltDescription, new { @readonly = "readonly", @class = "form-control", @placeholder = ProjectSession.Resources.label.Location_TextBlockLocationAltDescription })
                        }
                    </div>
                </div>
            </div>
        </div>

        <h3 class="sub-title">
            <span>@ProjectSession.Resources.label.PMMeter_TextBlockMeterHistory</span>
            <div class="sub_btn">
                @if (ProjectSession.PermissionAccess.Assets_Assets_Export)
                {
                    <a href="javascript:void(0);" class="btn-icon btn-xsl" onclick="ExportToExcel('PMHistoryGrid');" title="@ProjectSession.Resources.label.Common_ButtonExportToExcel"><i></i></a>
                }
            </div>
        </h3>
        <div class="row">
            <div class="col-md-12">
                <div class="@ProjectSession.CultureKendoClass">
                    @(Html.Kendo().Grid<CMMS.Model.Reading>()
                                    .Name("PMHistoryGrid")
                                    .Columns(columns =>
                                    {
                                        columns.Bound(c => c.MeterNo).Title(ProjectSession.Resources.label.PM_TextBlockMeterNo);

                                        columns.Bound(c => c.ReadingDate).ClientTemplate("#= DateTemplateWithTime(data.ReadingDate) #").Title(ProjectSession.Resources.label.PM_TextBlockReadingDate);

                                        columns.Bound(c => c.CurrentReading).ClientTemplate("#= DecimalTempalte(data.CurrentReading,2) #").Title(ProjectSession.Resources.label.PM_TextBlockCurrentReading);
                                    })
                                    .Filterable()
                                    .Sortable(sortable => sortable.AllowUnsort(false))
                                    .Scrollable()
                                            .Excel(excel => excel.FileName("PM Meter History.xlsx").Filterable(true).AllPages(true).ProxyURL(Url.Action("Excel_Export_Save", "GridExport", new { area = string.Empty })))
                                    .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
                                            .Events(events => events.DataBound("onDataBoundPMHistory").ExcelExport("excelExport"))
                                    .DataSource(dataSource => dataSource.Ajax()
                                    .PageSize(ProjectConfiguration.PageSize)
                                     .Model(model =>
                                     {
                                         model.Id(p => p.ReadingID);
                                         model.Field(p => p.MeterNo);
                                     })
                                    .ServerOperation(true)
                                    .Read(read => read.Action(Actions.GetPMMeterHistoryByLocationId, Controllers.Transaction, new { area = Areas.Transaction }).Data("BindParametersPMHistory").Type(HttpVerbs.Post))
                                    )
                                    )

                </div>
            </div>
        </div>
        <div class="row">&nbsp;</div>
        <h3 class="sub-title"><span>@ProjectSession.Resources.label.PMMeter_TextBlockPMMeterScheduleList</span>
            <div class="sub_btn">
                @if (ProjectSession.PermissionAccess.Assets_Assets_Export)
                {
                    <a href="javascript:void(0);" class="btn-icon btn-xsl" onclick="ExportToExcel('PMScheduleHistoryGrid');" title="@ProjectSession.Resources.label.Common_ButtonExportToExcel"><i></i></a>
                }
            </div>
        </h3>
        <div class="row">
            <div class="col-md-12">
                <div class="@ProjectSession.CultureKendoClass">
                    @(Html.Kendo().Grid<CMMS.Model.PmMeter>()
                                    .Name("PMScheduleHistoryGrid")
                                    .Columns(columns =>
                                    {
                                        columns.Bound(c => c.MeterNo).Title(ProjectSession.Resources.label.PM_TextBlockMeterNo);

                                        columns.Bound(c => c.MeterDescription).Title(ProjectSession.Resources.label.PM_TextBlockMeterDesc);

                                        columns.Bound(c => c.IncFreq).Title(ProjectSession.Resources.label.PM_TextBlockFrequency);

                                        columns.Bound(c => c.IncPMDue).Title(ProjectSession.Resources.label.PM_TextBlockPMDueAt);

                                        columns.Bound(c => c.PMActive).ClientTemplate("# if( PMActive == 1) { # " + SystemEnum.Status.Active + "# } else { # " + SystemEnum.Status.NotActive + "# } #").Title(ProjectSession.Resources.label.AccountCode_TextBlockStatus);
                                        if (Lang)
                                            columns.Bound(c => c.WorkTrade).Title(ProjectSession.Resources.label.JobTrade_TextBlockJobTrade)
                                             .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterJobTrade", "GridFilter", new { area = string.Empty, @id = "1" }).Data("BindParametersPMSchedleHistory").Type(HttpVerbs.Post))));
                                        else
                                            columns.Bound(c => c.AltWorkTrade).Title(ProjectSession.Resources.label.JobTrade_TextBlockAltJobTrade)
                                        .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterJobTrade", "GridFilter", new { area = string.Empty, @id = "2" }).Data("BindParametersPMSchedleHistory").Type(HttpVerbs.Post))));

                                        columns.Bound(c => c.MaintDivisionCode).Title(ProjectSession.Resources.label.MaintDivision_TextBlockMaintDiv)
                                        .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterMaintenanceDivision", "GridFilter", new { area = string.Empty }).Data("BindParametersPMSchedleHistory").Type(HttpVerbs.Post))));

                                        columns.Bound(c => c.MaintDeptCode).Title(ProjectSession.Resources.label.MaintenanceDept_TextBlockMaintDept)
                                        .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterMaintenanceDepartment", "GridFilter", new { area = string.Empty }).Data("BindParametersPMSchedleHistory").Type(HttpVerbs.Post))));

                                        columns.Bound(c => c.MaintSubDeptCode).Title(ProjectSession.Resources.label.MaintenanceSubDept_TextBlockMaintSubDept).Width(190)
                                        .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterMaintenanceSubDepartment", "GridFilter", new { area = string.Empty }).Data("BindParametersPMSchedleHistory").Type(HttpVerbs.Post))));
                                    })
                                    .Filterable()
                                    .Sortable(sortable => sortable.AllowUnsort(false))
                                    .Scrollable()
                                            .Excel(excel => excel.FileName("PM Meter Schedule History.xlsx").Filterable(true).AllPages(true).ProxyURL(Url.Action("Excel_Export_Save", "GridExport", new { area = string.Empty })))
                                    .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
                                            .Events(events => events.DataBound("onDataBoundPMSchedleHistory").ExcelExport("excelExport"))
                                    .DataSource(dataSource => dataSource.Ajax()
                                    .PageSize(ProjectConfiguration.PageSize)
                                     .Model(model =>
                                     {
                                         model.Id(p => p.MeterID);
                                         model.Field(p => p.MeterNo);
                                     })
                                    .ServerOperation(true)
                                    .Read(read => read.Action(Actions.GetPMMeterScheduleHistoryByLocationId, Controllers.Transaction, new { area = Areas.Transaction }).Data("BindParametersPMSchedleHistory").Type(HttpVerbs.Post))
                                    )
                                    )

                </div>
            </div>
        </div>
    </div>
</form>
<script>
    $(document).ready(function () {
    });
</script>


