﻿@model CMMS.Model.ExtAssetFile
@using CMMS.Infrastructure;
@using CMMS.Pages;
@using CMMS.Model;
@{
    bool Lang = ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true;
}

@*<form id="frmAssetRelationship">*@
<script type="text/javascript" src="~/Scripts/jquery.form.js"></script>
@using (Html.BeginForm(Actions.SaveDocument, Controllers.Transaction, FormMethod.Post, new { @id = "formDocument", enctype = "multipart/form-data" }))
{
    <div class="form-horizontal">


        @Html.HiddenFor(model => model.FkId, new { id = "hdnFkId" })
        @Html.HiddenFor(model => model.AutoId, new { id = "hdnAutoId" })
        @Html.HiddenFor(model => model.ModuleType, new { id = "hdnDocumentModuleType" })

        <div class="form-group">
            <label class="col-md-4 col-lg-2 control-label">@ProjectSession.Resources.label.Common_TextBlockAttachmentName<span class="cfont">*</span></label>
            <div class="col-md-8 col-lg-4">
                @(Html.Kendo().Upload().Name("Documentfiles").HtmlAttributes(new { id = "Documentfiles", accept = "'" + ProjectSession.AllowUploadFileFormats + "'" }).Multiple(false))
            </div>
        </div>

        <div id="divFileName" style="display: none">
            <div class="form-group">
                <label class="col-md-4 col-lg-2 control-label"></label>
                <div class="col-md-8 col-lg-4">
                    <a class='action' id="lblFileName" href="javascript:Downloadattachment();" title='@ProjectSession.Resources.label.Common_DownloadAttachment' style='cursor: pointer'>@Model.FileName</a>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 col-lg-2 control-label">@ProjectSession.Resources.label.JobPlan_TextBlockDecription</label>
            <div class="col-md-8 col-lg-4">
                @Html.TextAreaFor(model => model.FileDescription, new { @MaxLength = 500, @class = "form-control", @placeholder = ProjectSession.Resources.label.JobPlan_TextBlockDecription })
            </div>
        </div>


        <div class="form-group">
            <label class="col-md-4 col-lg-2 control-label"></label>
            <div class="col-md-8 col-lg-4">
                @if (Model.IsSaveButtonEnable == true)
                {
                    <button type="submit" class="btn btn-primary" id="btnSave1"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
                }
                <button class="btn btn-primary" onclick="ResetDocumentData(); return false;" id="btnCancel1"><span>@ProjectSession.Resources.label.Common_ButtonCancel</span></button>
            </div>
        </div>



        <div class="row">
            <div class="col-md-12">
                <div class="@ProjectSession.CultureKendoClass">
                    @(Html.Kendo().Grid<CMMS.Model.ExtAssetFile>()
                                    .Name("DocumentGrid")
                                    .Columns(columns =>
                                    {
                                        columns.Bound(c => c.ModuleType).Width(100).Title(ProjectSession.Resources.label.Employee_TextBlockModule);
                                        columns.Bound(c => c.AssetNumber).Width(150).Title(ProjectSession.Resources.label.PurchaseOrder_TextBlockPRPONum);
                                        columns.Bound(c => c.FileName).ClientTemplate("<a  class='action'  href='javascript:Downloadattachment2(#: AutoId#);' >#: FileName# </a>").Title(ProjectSession.Resources.label.Common_FileName);

                                        columns.Bound(c => c.FileDescription).Title(ProjectSession.Resources.label.Common_DocumentDescription);

                                        columns.Bound(c => c.ModifiedByName).Title(ProjectSession.Resources.label.Common_UploadedBy);

                                        columns.Bound(c => c.ModifiedDate).ClientTemplate("#= DateTemplate(data.ModifiedDate) #").Title(ProjectSession.Resources.label.Common_UploadedDate);

                                        columns.Bound(c => c.AutoId).ClientTemplate("<center>" + (Model.IsEditButtonEnable ? "<a  class='action' onclick='EditDocument(#: AutoId#)' title='" + ProjectSession.Resources.label.Common_ButtonEdit + "'  style=cursor:pointer;display:#: ModuleType == \'PR\' ? \'none\' : \'\'#   ><i class='glyphicon glyphicon-pencil'></i></a>&nbsp;" : "")
                                                                + "" + (Model.IsDeleteButtonEnable ? "<a class='action delete-button'  href='javascript:void(0);'  class='delete-ic' data-id='#: AutoId #' style=cursor:pointer;display:#: ModuleType == \'PR\' ? \'none\' : \'\'# ><i class='glyphicon glyphicon-trash' title='" + ProjectSession.Resources.label.Common_ButtonDelete + "' ></i></a>" : "") + "</center>")
                                          .Title("<center>" + ProjectSession.Resources.label.Common_ButtonAction + "</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Width(80).Filterable(false);

                                    })
                                    .Filterable()
                                    .Sortable(sortable => sortable.AllowUnsort(false))
                                    .Scrollable()
        //.Excel(excel => excel.FileName("PM Meter History.xlsx").Filterable(true).AllPages(true))
                                    .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
                                    .Events(events => events.DataBound("onDataBoundDocument"))
                                    .DataSource(dataSource => dataSource.Ajax()
                                    .PageSize(ProjectConfiguration.PageSize)
                                    .Sort(model => model.Add("ModuleType").Ascending())
                                     .Model(model =>
                                     {
                                         model.Id(p => p.AutoId);
                                         model.Field(p => p.FileName);
                                     })
                                    .ServerOperation(true)
                                    .Read(read => read.Action(Actions.GetPODocumentList, Controllers.Transaction, new { area = Areas.Transaction }).Data("BindParametersDocument").Type(HttpVerbs.Post))
                                    )
                    )

                </div>
            </div>
        </div>

    </div>
}
@*</form>*@
<script>
    $(document).ready(function () {
    });

    function EditDocument(autoID) {
        $.ajax({
            url: '@Url.Action(Actions.GetDocumentByID, Controllers.Transaction, new { area = Areas.Transaction })',
            datatype: 'json',
            cache: false,
            method: 'post',
            data: addRequestVerificationToken({ autoID: autoID }),
            success: function (result) {
                $('#divFileName').css('display', '');

                $('#FileDescription').val(result.FileDescription);
                $('#lblFileName').text(result.FileName);
                $('#hdnAutoId').val(result.AutoId);
                $('#hdnOldFileLink').val(result.FileLink);

            }
        });
    }

    function Downloadattachment() {
        window.open('@Url.Action(Actions.DownloadAttachment, Controllers.Transaction, new { @area = Areas.Transaction })?autoID=' + $('#hdnAutoId').val(), '_blank');

        @*$.ajax({
            url: '@Url.Action(Actions.DownloadAttachment, Controllers.Transaction, new { area = Areas.Transaction })',
            type: "POST",
            data: { autoID: $('#hdnAutoId').val() },
            //dataType: "json",
            success: function (result) {
                if (result == '') {
                    ShowMessage('@SystemEnum.MessageType.danger.ToString()', 'File Not found', "#divMessage");
                }
                else {
                    window.open('@Url.Action(Actions.DownloadAttachment, Controllers.Transaction, new { @area = Areas.Transaction })?autoID=' + $('#hdnAutoId').val(),'_blank');
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                showErrorMessage();
            }
        });*@
    }

    function Downloadattachment2(autoID) {

        window.open('@Url.Action(Actions.DownloadAttachment, Controllers.Transaction, new { @area = Areas.Transaction })?autoID=' + autoID, '_blank');

        @*$.ajax({
            url: '@Url.Action(Actions.DownloadAttachment, Controllers.Transaction, new { area = Areas.Transaction })',
            type: "POST",
            data: { autoID: autoID },
            //dataType: "json",
            success: function (result) {
                if (result == '') {
                    ShowMessage('@SystemEnum.MessageType.danger.ToString()', 'File Not found', "#divMessage");
                }
                else {
                    window.open('@Url.Action(Actions.DownloadAttachment, Controllers.Transaction, new { @area = Areas.Transaction })?autoID=' + autoID,'_blank');
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                showErrorMessage();
            }
        });*@
    }

    $('#formDocument').submit(function () {
        var options = {
            success: showResponseEmployeeDocument,  // post-submit callback
            data: {
                AutoId: $('#hdnAutoId').val(),
                FileDescription: $('#FileDescription').val(),
            },
        };
        $(this).ajaxSubmit(options);
        return false;

    });

    $('#formDocument').validate({

    });

    function showResponseEmployeeDocument(responseText, statusText, xhr, $form) {
        ShowMessage(responseText[0], responseText[1], "#divMessage");
        if (responseText[0] == '@SystemEnum.MessageType.success.ToString()') {
            ReBindKendoGrid("DocumentGrid");
            $("#formDocument .k-upload-files .k-delete").trigger("click");
            ResetDocumentData();
        }
    }

    function ResetDocumentData() {
        $('#divFileName').css('display', 'none');

        $('#FileDescription').val("");
        $('#lblFileName').text("");
        $('#hdnAutoId').val(0);
        $('#hdnOldFileLink').val("");
    }

    $("#DocumentGrid tbody").on("dblclick", "tr[role='row']", function (e) {
        var grid = $("#DocumentGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        if (model.ModuleType != 'PR') {
            EditDocument(model.AutoId);
        }
    });
</script>

