﻿@using CMMS.Infrastructure;
@using CMMS.Pages;
@using CMMS.Model;
@using CMMS.Infrastructure;
@model CMMS.Model.PurchaseRequestItem
@{
    bool Lang = ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true;
}
<div class="information-form cus-form" style="margin-top:20px;" > 
    <h3 class="sub-title">
        <span>@ProjectSession.Resources.label.PurchaseRequest_TextBlockPRItems</span>
        <div class="sub_btn">
            @if (ProjectSession.PermissionAccess.JobOrder_JobOrder_Editrecords)
            {
                <li><a href="@Url.Action(Actions.GetPurchaseRequestPage, Controllers.Transaction, new { Area = Areas.Transaction , workOrderNo = "" + Model.JoborderID + "" })" id="btnAddPurchaseReqPage" class="btn-icon btn-add"  data-backdrop="static" title='@ProjectSession.Resources.label.Common_ButtonAdd'><i></i></a></li>
                <li><a href="javascript:void(0);" class="btn-icon btn-refresh" onclick="ReBindKendoGrid('purchaseRequestItemGrid');" title="@ProjectSession.Resources.label.Common_ButtonRefreshGrid"><i></i></a></li>
                <li><a href="javascript:void(0);" class="btn-icon btn-xsl" onclick="ExportToExcel('purchaseRequestItemGrid', '');" title="@ProjectSession.Resources.label.Common_ButtonExportToExcel"><i></i></a></li>
            }
        </div>
    </h3>

    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div id="purchaseRequest" class="@ProjectSession.CultureKendoClass">
                @(Html.Kendo().Grid<CMMS.Model.PurchaseRequestItem>()
        .Name("purchaseRequestItemGrid")
        .HtmlAttributes(new { @class = "kl-grid" })
        .Columns(columns =>
        {
            columns.Bound(c => c.PurchaseRequestNo).Title(ProjectSession.Resources.label.Purchasing_TextBlockPurchaseRequestNo);

            columns.Bound(c => c.CreatedDate).ClientTemplate("#= DateTemplate(data.CreatedDate) #").Title(ProjectSession.Resources.label.ItemRequisition_TextBlockCreatedDate);

            columns.Bound(c => c.status_desc).Title(ProjectSession.Resources.label.Purchasing_TextBlockOrderStatus);

            columns.Bound(c => c.altstatus_desc).Title(ProjectSession.Resources.label.Purchasing_TextBlockAltOrderStatus).HtmlAttributes(new { @class = "text-right" }).Hidden(Lang);

            columns.Bound(c => c.auth_status_desc).Title(ProjectSession.Resources.label.Purchasing_TextBlockApprovalStatus);

            columns.Bound(c => c.Altauth_status_desc).Title(ProjectSession.Resources.label.Purchasing_TextBlockAltApprovalStatus).HtmlAttributes(new { @class = "text-right" }).Hidden(Lang);

            columns.Bound(c => c.StockNo).Title(ProjectSession.Resources.label.ItemRequisition_TextBlockItemNo);

            columns.Bound(c => c.PartDescription).Title(ProjectSession.Resources.label.ItemList_TextBlockPartDescription).HtmlAttributes(new { title = "#= KendoToolTipTemplate(data.PartDescription) #", @class = "column-textoverflow" });

            columns.Bound(c => c.Altpart_desc).Title(ProjectSession.Resources.label.JobPlan_TextBlockAltDecription).HtmlAttributes(new { @class = "text-right" }).Hidden(Lang);

            columns.Bound(c => c.UoM).Title(ProjectSession.Resources.label.Item_TextBlockUOM);

            columns.Bound(c => c.Quantity).Title(ProjectSession.Resources.label.JobPlan_TextBlockQuantity);
        })
        .Filterable()
        .Sortable(sortable => sortable.AllowUnsort(false))
        .Scrollable()
                    .Excel(excel => excel.FileName(ProjectSession.Resources.label.PurchaseRequest_TextBlockPRItems + ".xlsx").Filterable(true).AllPages(true).ProxyURL(Url.Action("Excel_Export_Save", "GridExport", new { area = string.Empty })))
                    .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
                .Events(events => events.DataBound("onDataBoundForPurchaseReq").ExcelExport("excelExport"))
        .DataSource(dataSource =>
                                dataSource.Ajax()
                                .PageSize(ProjectConfiguration.PageSize)
                                            .Model(model =>
                                            {
                                                model.Id(p => p.PurchaseRequestID);
                                                model.Field(p => p.status_desc);
                                            })
                                .ServerOperation(true)
                                                        .Read(read => read.Action(Actions.GetPurchaseRequestList, Controllers.Transaction, new { area = Areas.Transaction }).Data("BindParametersForPurchaseReq").Type(HttpVerbs.Post))
        )
)

            </div>
        </div>
    </div>
</div>

<div class="information-form cus-form" style="margin-top:40px;">
    <h3 class="sub-title">
        <span>@ProjectSession.Resources.label.PurchaseOrder_TextBlockPOItemsList</span>
        <div class="sub_btn">
            @if (ProjectSession.PermissionAccess.JobOrder_JobOrder_Editrecords)
            {
                <li><a href="@Url.Action(Actions.GetPurchaseOrderPage, Controllers.Transaction, new { Area = Areas.Transaction, workOrderNo = "" + Model.JoborderID + "" })" id="btnAddPurchaseOrderPage" class="btn-icon btn-add" data-backdrop="static" title='@ProjectSession.Resources.label.Common_ButtonAdd'><i></i></a></li>
                <li><a href="javascript:void(0);" class="btn-icon btn-refresh" onclick="ReBindKendoGrid('purchaseOrderItemGrid');" title="@ProjectSession.Resources.label.Common_ButtonRefreshGrid"><i></i></a></li>
                <li><a href="javascript:void(0);" class="btn-icon btn-xsl" onclick="ExportToExcel('purchaseOrderItemGrid', '');" title="@ProjectSession.Resources.label.Common_ButtonExportToExcel"><i></i></a></li>
            }
        </div>
    </h3>

    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div id="purchaseOrder" class="@ProjectSession.CultureKendoClass">
                @(Html.Kendo().Grid<CMMS.Model.PurchaseOrderItem>()
        .Name("purchaseOrderItemGrid")
        .HtmlAttributes(new { @class = "kl-grid" })
        .Columns(columns =>
        {
            columns.Bound(c => c.PurchaseOrderNo).Title(ProjectSession.Resources.label.Purchasing_TextBlockPurchaseOrderNo);

            columns.Bound(c => c.SupplierName).Title(ProjectSession.Resources.label.Supplier_TextBlockSupplier);

            columns.Bound(c => c.AltSupplierName).Title(ProjectSession.Resources.label.Purchasing_TextBlockAltSupplier).HtmlAttributes(new { @class = "text-right" });

            columns.Bound(c => c.OrderedDate).ClientTemplate("#= DateTemplate(data.OrderedDate) #").Title(ProjectSession.Resources.label.ItemRequisition_TextBlockOrderDate);

            columns.Bound(c => c.OrderStatus).Title(ProjectSession.Resources.label.Purchasing_TextBlockOrderStatus);

            columns.Bound(c => c.DeliveryStatus).Title(ProjectSession.Resources.label.Purchasing_TextBlockDeliveryStatus);

            columns.Bound(c => c.StockNo).Title(ProjectSession.Resources.label.ItemRequisition_TextBlockItemNo);

            columns.Bound(c => c.PartDescription).Title(ProjectSession.Resources.label.ItemList_TextBlockPartDescription).HtmlAttributes(new { title = "#= KendoToolTipTemplate(data.PartDescription) #", @class = "column-textoverflow" });

            columns.Bound(c => c.UoM).Title(ProjectSession.Resources.label.Item_TextBlockUOM);

            columns.Bound(c => c.Quantity).Title(ProjectSession.Resources.label.JobPlan_TextBlockQuantity);

            columns.Bound(c => c.BaseCost).Title(ProjectSession.Resources.label.Purchasing_TextBlockBaseCost);
        })
        .Filterable()
        .Sortable(sortable => sortable.AllowUnsort(false))
        .Scrollable()
                    .Excel(excel => excel.FileName(ProjectSession.Resources.label.PurchaseOrder_TextBlockPOItemsList + ".xlsx").Filterable(true).AllPages(true).ProxyURL(Url.Action("Excel_Export_Save", "GridExport", new { area = string.Empty })))
                .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
                        .Events(events => events.DataBound("onDataBoundForPurchaseOrder").ExcelExport("excelExport"))
        .DataSource(dataSource =>
                                dataSource.Ajax()
                                .PageSize(ProjectConfiguration.PageSize)
                                            .Model(model =>
                                            {
                                                model.Id(p => p.PurchaseOrderNo);
                                                model.Field(p => p.OrderStatus);
                                            })
                                .ServerOperation(true)
                                                                .Read(read => read.Action(Actions.GetPurchaseOrderList, Controllers.Transaction, new { area = Areas.Transaction }).Data("BindParametersForPurchaseOrder").Type(HttpVerbs.Post))
        )
                )

            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        EnableDisableControlls();
    });
</script>