﻿@model CMMS.Model.SubStoreCardForm
@using CMMS.Infrastructure;
@using CMMS.Pages;
@using CMMS.Model
<script>
    function ChangeCardNo(e) {
        var cardId = $("#drpFromCard").val();
        $("#hdnCardIdFromEmp").val(cardId);
        ReBindKendoGrid("employeeTransferGridEdit");
    }
</script>

<div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" title="@ProjectSession.Resources.label.Common_ButtonClose"></button>
            <h4 class="modal-title">
                @ProjectSession.Resources.label.Store_ButtonTransferCardForm
            </h4>
        </div>
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.CardId)
        <input type="hidden" id="isFromToTransfer" />
        <input type="hidden" id="hdnCardIdFromEmp" value="0" />
        <div class="modal-body">
            <div id="Highlights" class="tab-pane active" role="tabpanel">
                <div class="form-horizontal">
                    <div id="divModelErrorStoreReturn"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group ">
                                <label class="col-md-4 control-label">@ProjectSession.Resources.label.Store_TextBlockFromEmployee</label>
                                <div class=" col-md-8">
                                    <div class="input-group pm-checklist">
                                        @Html.Hidden("hdnFromEmployeeId", new { @id = "hdnFromEmployeeId" })
                                        @*<input type="text" class="form-control code-input" placeholder="@ProjectSession.Resources.label.Employee_TextBlockEmployeeNO" id="txtFromEmployeeNo" disabled>*@
                                        <input type="text" class="form-control" placeholder="@ProjectSession.Resources.label.Employee_TextBlockEmployeeName" id="txtFromEmployeeDescription" disabled>
                                        <a href="#" class="checklis-btn" data-toggle="modal" data-backdrop="static" onclick="OpenEmployeePopUpForTransfer(1)">
                                            <img src="../images/checklis-icon.png" alt="">
                                        </a>
                                        <a href="javascript:void(0);" class="close-btn" onclick="ClearData(1);">
                                            <img src="../images/close.png" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group ">
                                <label class="col-md-4 control-label">@ProjectSession.Resources.label.Store_TextBlockFromCardNo</label>
                                <div class="col-sm-8">
                                    <div class="@ProjectSession.CultureKendoClass">
                                        @(Html.Kendo().DropDownList()
                                                          .Name("drpFromCard")
                                                         .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                                         .DataTextField("CardNo")
                                                         .DataValueField("CardId")
                                                        .Events(m => m.Change("ChangeCardNo"))
                                                         .HtmlAttributes(new { style = "width: 100%" })
                                                         .Value("")
                                        )
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group ">
                                <label class="col-md-4 control-label">@ProjectSession.Resources.label.Store_TextBlockToEmployee</label>
                                <div class=" col-md-8">
                                    <div class="input-group pm-checklist">
                                        @Html.Hidden("hdnToEmployeeId", new { @id = "hdnToEmployeeId" })
                                        @*<input type="text" class="form-control code-input" placeholder="@ProjectSession.Resources.label.Employee_TextBlockEmployeeNO" id="txtToEmployeeNo" disabled>*@
                                        <input type="text" class="form-control" placeholder="@ProjectSession.Resources.label.Employee_TextBlockEmployeeName" id="txToEmployeeDescription" disabled>
                                        <a href="#" class="checklis-btn" data-toggle="modal" data-backdrop="static" onclick="OpenEmployeePopUpForTransfer(2)">
                                            <img src="../images/checklis-icon.png" alt="">
                                        </a>
                                        <a href="javascript:void(0);" class="close-btn" onclick="ClearData(2);">
                                            <img src="../images/close.png" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group ">
                                <label class="col-md-4 control-label">@ProjectSession.Resources.label.Store_TextBlockToCardNo</label>
                                <div class="col-sm-8">
                                    <div class="@ProjectSession.CultureKendoClass">
                                        @(Html.Kendo().DropDownList()
                                                          .Name("drpToCard")
                                                         .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                                         .DataTextField("CardNo")
                                                         .DataValueField("CardId")
                                                         .HtmlAttributes(new { style = "width: 100%" })
                                                         .Value("")
                                        )
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div id="employeeTransferEditData" class="@ProjectSession.CultureKendoClass table-fix height-300">
                                @(Html.Kendo().Grid<CMMS.Model.SubStoreCardFormDetail>()
                                                    .HtmlAttributes(new { @class = "kl-grid" })
                                                    .Name("employeeTransferGridEdit")
                                                    .Columns(columns =>
                                                    {
                                                        columns.Template(@<text></text>).HeaderTemplate("<input type='checkbox'  class='chkbx'  id='chkL2All' onclick=checkAllRelated(this,'employeeTransferGridEdit'); />").ClientTemplate("<input type='checkbox' class='chkbx' id='ChkL2Inner_#:CardIssueId#' pid='#: CardIssueId #' onclick='checkinnerelement(this)' />").Width(30);

                                                        columns.Bound(c => c.StockNo).Title(ProjectSession.Resources.label.ItemRequisition_TextBlockItemNo).Width(100);

                                                        columns.Bound(c => c.StockDescription).Title(ProjectSession.Resources.label.ItemList_TextBlockPartDescription).Width(130);

                                                        columns.Bound(c => c.AltStockDescription).Title(ProjectSession.Resources.label.ItemList_TextBlockAltPartDesc).Width(150);

                                                        columns.Bound(c => c.QtyIssue).ClientTemplate("#= DecimalTempalte(data.QtyIssue,2) #").Title(ProjectSession.Resources.label.JobPlan_TextBlockQuantity).Width(100);

                                                        columns.Template(@<text></text>).ClientTemplate("<input class='form-control' onkeypress='return isNumberKey(event,this);' id='txtQtyNeed_#:CardIssueId#'/>").Title(ProjectSession.Resources.label.Store_TextBlockQtyNeeded).Width(150);

                                                        columns.Bound(c => c.UOM).Title(ProjectSession.Resources.label.Item_TextBlockUOM).Width(100);

                                                        columns.Bound(c => c.Remarks).Title(ProjectSession.Resources.label.AssetTransfer_TextBlockRemarks).Width(100);

                                                    })
                                                    .Filterable()
                                                    .Sortable(sortable => sortable.AllowUnsort(false))
                                                    .Scrollable()
                                                    .Events(events => events.DataBound("onDataBoundForEditTransfer"))
                                                    .DataSource(dataSource => dataSource.Ajax()
                                                    .PageSize(ProjectConfiguration.PageSize)
                                                    .Model(model =>
                                                    {
                                                        model.Id(p => p.CardIssueId);
                                                    })
                                                    .ServerOperation(true)
                                                    .Read(read => read.Action(Actions.GetSubStoreCardFormDetailByCardID, Controllers.Transaction, new { area = Areas.Transaction }).Data("BindParametersForEditTransfer").Type(HttpVerbs.Post))
                                                    )
                                )

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer box-footer">
            <button type="button" class="btn btn-primary" id="btnReturn" onclick="SaveTransferStoreCard();"><span>@ProjectSession.Resources.label.Store_ButtonTransferCardForm</span></button>
            <button type="button" class="btn btn-default" data-dismiss="modal">@ProjectSession.Resources.label.Common_ButtonClose</button>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {
        if ('@Model.CardId' != '0') {
            $("#hdnFromEmployeeId").val('@Model.EmployeeId');
            $("#txtFromEmployeeNo").val('@Model.EmployeeNO');
            $("#txtFromEmployeeDescription").val('@Model.Name');
            BindCardNoDropDown('@Model.EmployeeId', 0);
        }
    });

    function OpenEmployeePopUpForTransfer(id) {
        $("#isFromToTransfer").val(id);
        $("#employeeTransferGridModal").modal("show");
    }

    $("#employeeTransferGrid tbody").on("dblclick", "tr[role='row']", function (e) {
        var grid = $("#employeeTransferGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        $("#employeeTransferGridModal").modal("hide");
        if ($("#isFromToTransfer").val() == 1) {
            $("#hdnFromEmployeeId").val(model.EmployeeID);
            //$("#txtFromEmployeeNo").val(model.EmployeeNO);
            $("#txtFromEmployeeDescription").val(model.Name);
            BindCardNoDropDown(model.EmployeeID, 0);
        }
        else {
            $("#hdnToEmployeeId").val(model.EmployeeID);
            //$("#txtToEmployeeNo").val(model.EmployeeNO);
            $("#txToEmployeeDescription").val(model.Name);
            BindCardNoDropDown(model.EmployeeID, 1);
        }

    });

    function ClearData(id) {
        if (id == 1) {
            $("#hdnFromEmployeeId").val("");
            //$("#txtFromEmployeeNo").val("");
            $("#txtFromEmployeeDescription").val("");
        }
        else {
            $("#hdnToEmployeeId").val("");
            //$("#txtToEmployeeNo").val("");
            $("#txToEmployeeDescription").val("");
        }
    }

    function isNumberKey(evt, e) {
        var val = $('#' + e.id).val();
        var iKeyCode = (evt.which) ? evt.which : evt.keyCode;

        if (iKeyCode == 45) {
            return false;
        }

        if (iKeyCode != 46 && iKeyCode != 39 && iKeyCode != 37 && iKeyCode != 45 && iKeyCode > 31 && (iKeyCode < 48 || iKeyCode > 57)) {
            return false;
        }
        if (iKeyCode == 46 && val.indexOf('.') > -1) {
            return false;
        }
        return true;
    }


    function BindCardNoDropDown(employeeId, isToCard) {
        if (employeeId > 0) {
            $.ajax({
                url: '@Url.Action(Actions.GetCardNobyEmployeeId, Controllers.Transaction, new { area = Areas.Transaction })',
                type: 'Post',
                data: addRequestVerificationToken({ employeeID: employeeId, isToCard: isToCard }),
                cache: false,
                async: false,
                success: function (result) {
                    if (isToCard == 0) {
                        $('#drpFromCard').data('kendoDropDownList').dataSource.data(result);
                        if ('@Model.CardId' != '0')
                        {
                            $('#drpFromCard').data('kendoDropDownList').value('@Model.CardId');
                            $('#drpFromCard').data('kendoDropDownList').trigger("change");
                        }
                    }
                    else {
                        $('#drpToCard').data('kendoDropDownList').dataSource.data(result);
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }
    }

    $(document).ready(function () {
        $('.table-fix .k-grid-content').slimScroll({
            height: '100%',
        });
    });

    function checkAllRelated(ctl, gridname) {
        var gridname = "#" + gridname;
        if ($("#" + $(ctl).attr("id")).is(':checked') == true) {
            $(gridname).data('kendoGrid').tbody.find("tr").addClass('k-state-selected');
            $(gridname).data('kendoGrid').tbody.find("tr").find("td:first input").prop("checked", "checked");
        }
        else {
            $(gridname).data('kendoGrid').tbody.find("tr").removeClass('k-state-selected');
            $(gridname).data('kendoGrid').tbody.find("tr").find("td:first input").removeAttr("checked");
        }
    }

    function checkinnerelement(ctl) {
        if ($("#" + $(ctl).attr("id")).is(':checked') == true) {
            $(ctl).closest("tr").addClass('k-state-selected');
        } else {
            $(ctl).closest("tr").removeClass('k-state-selected');
        }
    }

    function SaveTransferStoreCard() {
        var a = [];
        var result = [];
        if ($("#drpFromCard").val() != "" && $("#drpToCard").val() != "") {

            $("#employeeTransferGridEdit tbody").find("tr").each(function () {
                var grid = $("#employeeTransferGridEdit").data("kendoGrid");
                if ($(this).find("td:first input").is(':checked') == true) {
                    var id = $(this).find("td:first input").attr("pid");
                    a.push($(this).find("td:first input").attr("pid"));
                    var modal = grid.dataSource.get($(this).find("td:first input").attr("pid"));
                    var changedObj = {
                        CardIssueId: modal.CardIssueId,
                        CardIRef: modal.CardId,
                        StockId: modal.StockId,
                        QtyNeeded: $("#txtQtyNeed_" + id).val(),
                        QtyIssue: modal.QtyIssue
                    };
                    result.push(changedObj);
                }
            });

            if (a.length > 0) {
                var changedObj = {
                    lstSubStoreCardFormDetailForTransfer: result,
                    FromEmployeeID: $("#hdnFromEmployeeId").val(),
                    FromCardID: $("#drpFromCard").val(),
                    ToEmployeeID: $("#hdnToEmployeeId").val(),
                    ToCardID: $("#drpToCard").val()
                };
                $.ajax({
                    url: '@Url.Action(Actions.ManageStoreCardTransfer, Controllers.Transaction, new { area = Areas.Transaction })',
                    type: "POST",
                    data: addRequestVerificationToken(changedObj),
                    dataType: "json",
                    success: function (result) {
                        if (result[0] == 0) {
                            ShowMessage(result[1], result[2], "#divModelErrorStoreReturn");
                        }
                        else {
                            $("#divStoreCardTransferModal").modal('hide');
                            ShowMessage(result[0], result[1], "#divMessage");
                            if ('@Model.CardId' != '0') {
                                ReBindKendoGrid("subStoreCardFromDetailGrid");
                            }
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        showErrorMessage();
                    }
                });
            }
            else {
                ShowMessage('@SystemEnum.MessageType.danger.ToString()', '@ProjectSession.Resources.message.Store_MsgSelectAtLeastOneRecord', "#divModelErrorStoreReturn");
                return false;
            }
        }
        else {
            if ($("#drpFromCard").val() == "") {
                ShowMessage('@SystemEnum.MessageType.danger.ToString()', '@ProjectSession.Resources.message.Store_MsgCardFromRequired', "#divModelErrorStoreReturn");
                return false;
            }
            else {
                ShowMessage('@SystemEnum.MessageType.danger.ToString()', '@ProjectSession.Resources.message.Store_MsgCardToRequired', "#divModelErrorStoreReturn");
                return false;
            }

        }
    }

</script>