﻿@model CMMS.Model.SubStoreFormRetunDetail
@using CMMS.Infrastructure;
@using CMMS.Pages;
@using CMMS.Model

@{
    var Titletext = "";
    if (Model.IsType == 1)
    { Titletext = ProjectSession.Resources.label.JobOrder_TextBlockReturn; }
    else
    { Titletext = ProjectSession.Resources.label.Store_ButtonDispose; }
}
<div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" title="@ProjectSession.Resources.label.Common_ButtonClose"></button>
            <h4 class="modal-title">
                @Titletext
            </h4>
        </div>
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.CardIdRef)
        @Html.HiddenFor(model => model.IsType)
        <div class="modal-body">
            <div id="Highlights" class="tab-pane active" role="tabpanel">
                <div class="form-horizontal">
                    <div id="divModelErrorStoreReturn"></div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div id="employeeData" class="@ProjectSession.CultureKendoClass table-fix height-300">
                                @(Html.Kendo().Grid<CMMS.Model.SubStoreCardFormDetail>()
                                                    .HtmlAttributes(new { @class = "kl-grid" })
                                                    .Name("employeeFromGrid")
                                                    .Columns(columns =>
                                                    {
                                                        columns.Template(@<text></text>).HeaderTemplate("<input type='checkbox'  class='chkbx'  id='chkL2All' onclick=checkAllRelated(this,'employeeFromGrid'); />").ClientTemplate("<input type='checkbox' class='chkbx' id='ChkL2Inner_#:CardIssueId#' pid='#: CardIssueId #' onclick='checkinnerelement(this)' />").Width(30);

                                                        columns.Bound(c => c.StockNo).Title(ProjectSession.Resources.label.ItemRequisition_TextBlockItemNo).Width(100);

                                                        columns.Bound(c => c.StockDescription).Title(ProjectSession.Resources.label.ItemList_TextBlockPartDescription).Width(150);

                                                        columns.Bound(c => c.AltStockDescription).Title(ProjectSession.Resources.label.ItemList_TextBlockAltPartDesc).Width(170);

                                                        columns.Bound(c => c.QtyIssue).ClientTemplate("#= DecimalTempalte(data.QtyIssue,2) #").Title(ProjectSession.Resources.label.JobPlan_TextBlockQuantity).Width(100);

                                                        columns.Template(@<text></text>).ClientTemplate("<input type='text' onkeypress='return isNumberKey(event,this);' class='form-control decimalnumber' id='txtQtyNeed_#:CardIssueId#'/>").Title(ProjectSession.Resources.label.Store_TextBlockQtyNeeded).Width(200);

                                                        columns.Bound(c => c.UOM).Title(ProjectSession.Resources.label.Item_TextBlockUOM).Width(100);

                                                        columns.Bound(c => c.Remarks).Title(ProjectSession.Resources.label.AssetTransfer_TextBlockRemarks).Width(100);

                                                    })
                                                    .Filterable()
                                                    .Sortable(sortable => sortable.AllowUnsort(false))
                                                    .Scrollable()
                                                    .Events(events => events.DataBound("onDataBoundForSubStoreCardFormDetail"))
                                                    .DataSource(dataSource => dataSource.Ajax()
                                                    .PageSize(ProjectConfiguration.PageSize)
                                                    .Model(model =>
                                                    {
                                                        model.Id(p => p.CardIssueId);
                                                    })
                                                    .ServerOperation(true)
                                                    .Read(read => read.Action(Actions.GetSubStoreCardFormDetailByCardID, Controllers.Transaction, new { area = Areas.Transaction }).Data("BindParametersForSubStoreRetuen").Type(HttpVerbs.Post))
                                                    )
                                )

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer box-footer">
            <button type="button" class="btn btn-primary" id="btnReturn" onclick="SaveReturnStoreCard();"><span>@Titletext</span></button>
            <button type="button" class="btn btn-default" data-dismiss="modal">@ProjectSession.Resources.label.Common_ButtonClose</button>
        </div>
    </div>
</div>

<script type="text/javascript">

    function isNumberKey(evt,e) {
        var val = $('#' + e.id).val();

        var iKeyCode = (evt.which) ? evt.which : evt.keyCode;
        if (iKeyCode == 45) {
            return false;
        }
        if (iKeyCode != 46 && iKeyCode != 39 && iKeyCode != 37 && iKeyCode != 45 && iKeyCode > 31 && (iKeyCode < 48 || iKeyCode > 57)) {
            return false;
        }
        if (iKeyCode == 46 && val.indexOf('.') > -1) {
            return false;
        }
        return true;
    }

    $(document).ready(function () {

        $('.table-fix .k-grid-content').slimScroll({
            height: '100%',
        });
    });

    function checkAllRelated(ctl, gridname) {
        var gridname = "#" + gridname;
        if ($("#" + $(ctl).attr("id")).is(':checked') == true) {
            $(gridname).data('kendoGrid').tbody.find("tr").addClass('k-state-selected');
            $(gridname).data('kendoGrid').tbody.find("tr").find("td:first input").prop("checked", "checked");
        }
        else {
            $(gridname).data('kendoGrid').tbody.find("tr").removeClass('k-state-selected');
            $(gridname).data('kendoGrid').tbody.find("tr").find("td:first input").removeAttr("checked");
        }
    }

    function checkinnerelement(ctl) {
        if ($("#" + $(ctl).attr("id")).is(':checked') == true) {
            $(ctl).closest("tr").addClass('k-state-selected');
        } else {
            $(ctl).closest("tr").removeClass('k-state-selected');
        }
    }

    function SaveReturnStoreCard() {
        var a = [];
        var result = [];
        $("#employeeFromGrid tbody").find("tr").each(function () {
            var grid = $("#employeeFromGrid").data("kendoGrid");
            if ($(this).find("td:first input").is(':checked') == true) {
                var id = $(this).find("td:first input").attr("pid");
                a.push($(this).find("td:first input").attr("pid"));
                var modal = grid.dataSource.get($(this).find("td:first input").attr("pid"));
                var changedObj = {
                    CardIssueId: modal.CardIssueId,
                    CardIRef: modal.CardId,
                    StockId: modal.StockId,
                    QtyNeeded: $("#txtQtyNeed_" + id).val(),
                    QtyIssue: modal.QtyIssue
                };
                result.push(changedObj);
            }
        });

        if (a.length > 0) {
            var changedObj = {
                lstSubStoreCardFormDetail: result,
                isType: $("#IsType").val()
            };
            $.ajax({
                url: '@Url.Action(Actions.ManageStoreCardReturn, Controllers.Transaction, new { area = Areas.Transaction })',
                type: "POST",
                data: addRequestVerificationToken(changedObj),
                dataType: "json",
                success: function (result) {
                    if (result[0] == 0) {
                        ShowMessage(result[1], result[2], "#divModelErrorStoreReturn");
                    }
                    else {
                        $("#divStoreCardReturnModal").modal('hide');
                        ShowMessage(result[0], result[1], "#divMessage");
                        ReBindKendoGrid("subStoreCardFromDetailGrid");
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }
        else {
            ShowMessage('@SystemEnum.MessageType.danger.ToString()', '@ProjectSession.Resources.message.Store_MsgSelectAtLeastOneRecord', "#divModelErrorStoreReturn");
            return false;
        }
    }


</script>