﻿@model CMMS.Model.ExtAssetFile
@using CMMS.Infrastructure;
@using CMMS.Pages;
@using CMMS.Model;
@{
    bool Lang = ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true;
}

<style>
    .a-tag-document {
        color: #1b79c8 !important;
    }
</style>

<div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" title="@ProjectSession.Resources.label.Common_ButtonClose"></button>
            <h4 class="modal-title">@ProjectSession.Resources.label.Location_TextBlockLocationViewDiagram</h4>
        </div>
        <div class="modal-body">
            <div id="Highlights" class="tab-pane active" role="tabpanel">
                <div class="form-horizontal">
                    @Html.HiddenFor(model => model.FkId, new { id = "hdnFkIdForLocationDiagram" })
                    <div class="row">
                        <div class="col-md-12">
                            <div class="@ProjectSession.CultureKendoClass">
                                @(Html.Kendo().Grid<CMMS.Model.ExtAssetFile>()
                                    .Name("DocumentGrid")
                                    .Columns(columns =>
                                    {
                                        columns.Bound(c => c.FileName).ClientTemplate("<a href='" + @Url.Action(Actions.DownloadAttachment, Controllers.Transaction, new { @area = Areas.Transaction, @autoID = " #:AutoId# " }) + "'  class='action a-tag-document' >#: FileName #</a>").Title(ProjectSession.Resources.label.Common_FileName);

                                        columns.Bound(c => c.FileDescription).Title(ProjectSession.Resources.label.Common_DocumentDescription);

                                        columns.Bound(c => c.ModifiedByName).Title(ProjectSession.Resources.label.Common_UploadedBy);

                                        columns.Bound(c => c.ModifiedDate).ClientTemplate("#= DateTemplate(data.ModifiedDate) #").Title(ProjectSession.Resources.label.Common_UploadedDate);

                                    })
                                    .Filterable()
                                    .Sortable(sortable => sortable.AllowUnsort(false))
                                    .Scrollable()
                                    .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
                                    .Events(events => events.DataBound("onDataBoundLocationDiagram"))
                                    .DataSource(dataSource => dataSource.Ajax()
                                    .PageSize(ProjectConfiguration.PageSize)
                                     .Model(model =>
                                     {
                                         model.Id(p => p.AutoId);
                                         model.Field(p => p.FileName);
                                     })
                                    .ServerOperation(true)
                                    .Read(read => read.Action(Actions.GetViewLocationDiagramList, Controllers.Transaction, new { area = Areas.Transaction }).Data("BindParametersLocationDiagram").Type(HttpVerbs.Post))
                                    )
                                )

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function Downloadattachment() {
        window.open('@Url.Action(Actions.DownloadAttachment, Controllers.Transaction, new { @area = Areas.Transaction })?autoID=' + $('#hdnAutoId').val(),'_blank');
    }
</script>
