﻿@model CMMS.Model.Assigntoworkorder
@using CMMS.Infrastructure;
@{
    bool Lang = ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true;
}
<script type="text/javascript" src="~/Scripts/jquery.form.js"></script>
<style>
    .calendars-popup {
        z-index: 100000 !important;
    }
</style>
<script type="text/javascript">
    var isRequiredDateIsWorkingDateAssigned1 = true;
    var isRequiredTimeIsWorkingTimeAssigned1 = true;
    var isRequiredDateIsWorkingDateAssigned2 = true;
    var isRequiredTimeIsWorkingTimeAssigned2 = true;

    function onAssignTOEmployeeAutoSelect(e) {
        var model = this.dataItem(e.item.index());
        //For Assign TO Tab
        $('#hdnAssignTOEmployeeID').val(model.EmployeeID);
        $("#txtAssignTOEmpNO").val(model.EmployeeNO);
        $("#txtAssignTOEmpName").val(model.Name);
        $('#hdnSaveFrom').val(1);
        ClearAssignToCheckBoxes();
        ClearAssignToMaintGroups();
    }

    function onSupplierAutoSelect(e) {
        var model = this.dataItem(e.item.index());
        FillAssignToSupplierValues(model);
    }


    function FillAssignToSupplierValues(model) {
        $('#hdnAssignToSupplierID').val(model.SupplierID);
        $('#txtAssignToSupplierNO').val(model.SupplierNo);

        if ('@Lang' == 'True') {
            $('#txtAssignTOSupplierName').val(model.SupplierName);
        }
        else {
            $('#txtAssignTOSupplierName').val(model.AltSupplierName);
        }
    }

    function onMaintenanceAutoSelect(e) {
        var model = this.dataItem(e.item.index());
        $('#hdnAssignToMaintGroupID').val(model.GroupID);
        //$("#txtAssignTOMaintgroupDesc").val(model.GroupDesc);
        $("#txtAssignTOMaintgroupCode").val(model.GroupCode);
        $('#hdnSaveFrom').val(2);
        ClearAssignToCheckBoxes();
        ClearAssignToEmployee();
    }

    function onConfirmCallbackWoAssinTO(sender) {
        var id = $(this).data("id");
        $.ajax({
            url: '@Url.Action(CMMS.Pages.Actions.DeleteAssignToWorkOrders, CMMS.Pages.Controllers.Transaction, new { area = CMMS.Pages.Areas.Transaction })',
            type: "POST",
            data: addRequestVerificationToken({ employeeID: id, workOrderNo: $('#WorkorderNo').val() }),
            dataType: "json",
            success: function (result) {
                //ClearAllInputs("frmAssignToWorkOrders");
                ShowMessage(result[0], result[1], "#divMessage");
                ReBindKendoGrid("WOAssignToGrid");

            },
            error: function (xhr, ajaxOptions, thrownError) {
                showErrorMessage();
            }
        });
    }

    function onChangeAssignDateTime() {
        setTimeout(function () {
            if (isNotUndefinedNullOrBlankOrZero('txtAssignTOEstStartDate') && isNotUndefinedNullOrBlankOrZero('ddlEstStartTime')) {
                IsAssignedDateInWorkingDays($('#txtAssignTOEstStartDate').val(), $('#ddlEstStartTime').val());
            }
        }
        , 500);
    }

    function IsAssignedDateInWorkingDays(date1, time1) {
        var objData = {
            date: date1, //encodeURIComponent(date1),
            time: time1, //encodeURIComponent(time1),
            cityID: isNotUndefinedNullOrBlankOrZero('L2ID') ? $('#L2ID').val() : 0 //encodeURIComponent(cityID)
        };

        $.ajax({
            url: '@Url.Action(CMMS.Pages.Actions.ValidateDateInWorkingHours, CMMS.Pages.Controllers.Transaction, new { area = CMMS.Pages.Areas.Transaction })',
            type: "GET",
            data: objData,
            dataType: "json",
            success: function (result) {
                if (result[0] == false) {
                    if (result[1] == 1) {
                        ShowMessage('@SystemEnum.MessageType.danger.ToString()', '@ProjectSession.Resources.message.Common_MsgDateIsNotWorkingDay', '#divModelError2');
                        isRequiredDateIsWorkingDateAssigned1 = false;
                        $("#txtAssignTOEstStartDate").addClass("kendoDrpRequired");
                        //$("#txtAssignTOEstStartDate").focus();
                    }
                    else if (result[1] == 2) {
                        ShowMessage('@SystemEnum.MessageType.danger.ToString()', '@ProjectSession.Resources.message.Common_MsgTimeIsNotWorkingHour', '#divModelError2');
                        isRequiredTimeIsWorkingTimeAssigned1 = false;
                        isRequiredDateIsWorkingDateAssigned1 = true;
                        $("#txtAssignTOEstStartDate").removeClass("kendoDrpRequired");
                        $("#ddlEstStartTime").addClass("kendoDrpRequired");
                        //$("#ddlEstStartTime").focus();
                    }
                    else {
                        ShowMessage('@SystemEnum.MessageType.danger.ToString()', 'Please Enter Valid Date.', '#divMessage');
                    }
                }
                else {
                    isRequiredDateIsWorkingDateAssigned1 = true;
                    isRequiredTimeIsWorkingTimeAssigned1 = true;
                    $("#txtAssignTOEstStartDate").removeClass("kendoDrpRequired");
                    $("#ddlEstStartTime").removeClass("kendoDrpRequired");
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                showErrorMessage();
            }
        });
    }

    function onChangeAssignDateTime2() {
        setTimeout(function () {
            if (isNotUndefinedNullOrBlankOrZero('txtAssignTOEstEndDate') && isNotUndefinedNullOrBlankOrZero('ddlEstEndTime')) {
                IsAssignedDateInWorkingDays2($('#txtAssignTOEstEndDate').val(), $('#ddlEstEndTime').val());
            }
        }
        , 500);
    }

    function IsAssignedDateInWorkingDays2(date1, time1) {
        var objData = {
            date: date1, //encodeURIComponent(date1),
            time: time1, //encodeURIComponent(time1),
            cityID: isNotUndefinedNullOrBlankOrZero('L2ID') ? $('#L2ID').val() : 0 //encodeURIComponent(cityID)
        };

        $.ajax({
            url: '@Url.Action(CMMS.Pages.Actions.ValidateDateInWorkingHours, CMMS.Pages.Controllers.Transaction, new { area = CMMS.Pages.Areas.Transaction })',
            type: "GET",
            data: objData,
            dataType: "json",
            success: function (result) {
                if (result[0] == false) {
                    if (result[1] == 1) {
                        ShowMessage('@SystemEnum.MessageType.danger.ToString()', '@ProjectSession.Resources.message.Common_MsgDateIsNotWorkingDay', '#divModelError2');
                        isRequiredDateIsWorkingDateAssigned2 = false;
                        $("#txtAssignTOEstEndDate").addClass("kendoDrpRequired");
                        //$("#txtAssignTOEstEndDate").focus();
                    }
                    else if (result[1] == 2) {
                        ShowMessage('@SystemEnum.MessageType.danger.ToString()', '@ProjectSession.Resources.message.Common_MsgTimeIsNotWorkingHour', '#divModelError2');
                        isRequiredTimeIsWorkingTimeAssigned2 = false;
                        isRequiredDateIsWorkingDateAssigned2 = true;
                        $("#txtAssignTOEstEndDate").removeClass("kendoDrpRequired");
                        $("#ddlEstEndTime").addClass("kendoDrpRequired");
                        //$("#ddlEstEndTime").focus();
                    }
                    else {
                        ShowMessage('@SystemEnum.MessageType.danger.ToString()', 'Please Enter Valid Date.', '#divMessage');
                    }
                }
                else {
                    isRequiredDateIsWorkingDateAssigned2 = true;
                    isRequiredTimeIsWorkingTimeAssigned2 = true;
                    $("#txtAssignTOEstEndDate").removeClass("kendoDrpRequired");
                    $("#ddlEstEndTime").removeClass("kendoDrpRequired");
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                showErrorMessage();
            }
        });
    }
</script>
<div class="form-horizontal">
    <input type="hidden" id="hdnSaveFrom" value="1" />
    @if (!string.IsNullOrEmpty(Model.AssetWarrentyMessage))
    {
    <div class="row">
        <div class="col-md-12">
            <label class="col-md-2"></label>
            <label class="col-md-10" style="font-weight:normal;color:red;">@Model.AssetWarrentyMessage</label>
        </div>
    </div>
    }
    <div class="row form-group">
        <div class="col-md-12 col-lg-12">
            <div class="two-form-group">
                <label class="col-md-2 control-label">@ProjectSession.Resources.message.JobOrder_TextBlockAssignToSupplier</label>
                <div class="col-md-8">
                    <div class="input-group pm-checklist">
                        @Html.HiddenFor(model => model.SupplierId, new { @id = "hdnAssignToSupplierID" })
                        @Html.TextBoxFor(model => model.SupplierNo, new { @class = "form-control code-input", @readonly = "readonly", @id = "txtAssignToSupplierNO", @Placeholder = @ProjectSession.Resources.label.Supplier_TextBlockSupplierNo })
                        @*@Html.TextBoxFor(model => model.SupplierName, new { @class = "form-control", @readonly = "readonly", @style = "display:" + (Lang ? "" : "none;"), @id = "txtAssignTOSupplierName", @Placeholder = @ProjectSession.Resources.label.Supplier_TextBlockSupplierName })
                        @Html.TextBoxFor(model => model.AltSupplierName, new { @class = "form-control", @readonly = "readonly", @style = "display:" + (Lang ? "none;" : ""), @id = "txtAssignTOAltSupplierName", @Placeholder = @ProjectSession.Resources.label.Supplier_TextBlockAltSupplierName })*@

                        @(Html.Kendo().AutoCompleteFor(model => model.SupplierName)
                        .DataTextField(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "AltSupplierName" : "SupplierName")
                        .HtmlAttributes(new { @class = "form-control", @id = "txtAssignTOSupplierName" })
                        .Filter("contains")
                        .Template("#= KendoDDLTemplate( data.SupplierNo, data.SupplierName, data.AltSupplierName) #")
                        .MinLength(3)
                        .Placeholder(ProjectSession.Resources.label.Supplier_TextBlockSupplierName)
                        .Events(m => m.Select("onSupplierAutoSelect"))
                        .DataSource(source =>
                        {
                        source.Read(read =>
                        {
                        read.Action(CMMS.Pages.Actions.GetAllSupplierListAutoDDL, CMMS.Pages.Controllers.AutoComplete, new { area = CMMS.Pages.Areas.Configurations }).Data("onSupplierAdditionalData");
                        })
                        .ServerFiltering(true);
                        })
                        .Value(Convert.ToString(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? Model.AltSupplierName : Model.SupplierName))
                        )

                        <a href="#" class="checklis-btn" id="btnOpenAssignToSupplierPopUp" data-toggle="modal" data-backdrop="static" onclick="OpenAssignTOSupplierPopUp();">
                            <img src="../images/checklis-icon.png" alt="">
                        </a>
                        <a href="javascript:void(0);" class="close-btn" id="btnClearAssignTOSupplier" title="@ProjectSession.Resources.label.Common_ButtonClear" onclick="ClearAssignToSupplier();">
                            <img src="../images/close.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="control-label"></label>
                        <div class="col-md-12">
                            @if (ProjectSession.PermissionAccess.JobOrder_JobOrder_Editrecords && ProjectSession.PermissionAccess.JobOrder_JobOrder_AssignEmployees)
                            {
                            <button class="btn btn-primary" id="btnSaveSupplier" onclick="SaveAssignToSupplier()" title="@ProjectSession.Resources.label.Common_ButtonSave" type="button"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="information-form cus-form">
    <h3 class="sub-title">
        <span>@ProjectSession.Resources.message.JobOrder_RadTabItemAssignTo</span>
        <div class="sub_btn">
            @if (ProjectSession.PermissionAccess.JobOrder_JobOrder_Editrecords && ProjectSession.PermissionAccess.JobOrder_JobOrder_AssignEmployees)
            {
            <li><a href="#" class="btn-icon btn-add" data-toggle="modal" data-target="#SupplierModal" data-backdrop="static" id="btnOpenAddAssignedToWindow" onclick="OpenAssignTOWindow();" title='@ProjectSession.Resources.label.Common_ButtonAdd'><i></i></a></li>
            }
            <li><a href="javascript:void(0);" class="btn-icon btn-refresh" onclick="ReBindKendoGrid('WOAssignToGrid');" title="@ProjectSession.Resources.label.Common_ButtonRefreshGrid"><i></i></a></li>
            <li><a href="javascript:void(0);" class="btn-icon btn-xsl" onclick="ExportToExcel('WOAssignToGrid', 'EmployeeID');" title="@ProjectSession.Resources.label.Common_ButtonExportToExcel"><i></i></a></li>
        </div>
    </h3>
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div id="SupplierData" class="@ProjectSession.CultureKendoClass">
                @(Html.Kendo().Grid<CMMS.Model.Assigntoworkorder>
                    ()
                    .Name("WOAssignToGrid")
                    .HtmlAttributes(new { @class = "kl-grid" })
                    .Columns(columns =>
                    {
                    columns.Bound(c => c.EmployeeNO).Title(ProjectSession.Resources.label.Employee_TextBlockEmployeeNO).Width(250);

                    columns.Bound(c => c.Name).Title(ProjectSession.Resources.label.Employee_TextBlockEmployeeName);

                    columns.Bound(c => c.EstStartDate).ClientTemplate("#= DateTemplateWithTime(data.EstStartDate) #").Title(ProjectSession.Resources.message.JobOrder_TextBlockEstStartDate);

                    columns.Bound(c => c.EstEndDate).ClientTemplate("#= DateTemplateWithTime(data.EstEndDate) #").Title(ProjectSession.Resources.message.JobOrder_TextBlockEstEndDate);

                    columns.Bound(c => c.EmployeeID).ClientTemplate("<center>" + (ProjectSession.PermissionAccess.JobOrder_JobOrder_AssignEmployees ? "<a class='action delete-button' href='javascript:void(0);' class='delete-ic' data-id='#: EmployeeID #' style='cursor:pointer'><i class='glyphicon glyphicon-trash' title='" + ProjectSession.Resources.label.Common_ButtonDelete + "'></i></a>" : "") + "</center>")
                    .Title("<center>" + ProjectSession.Resources.label.Common_ButtonAction + "</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Width(80).Filterable(false);
                    })
                    .Filterable()
                    .Sortable(sortable => sortable.AllowUnsort(false))
                    .Scrollable()
                    .Excel(excel => excel.FileName(ProjectSession.Resources.message.JobOrder_RadTabItemAssignTo + ".xlsx").Filterable(true).AllPages(true).ProxyURL(Url.Action("Excel_Export_Save", "GridExport", new { area = string.Empty })))
                    .Pageable(pageable => pageable.PageSizes(CMMS.Pages.General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
                    .Events(events => events.DataBound("onDataBoundForWOAssignTO").ExcelExport("excelExport"))
                    .DataSource(dataSource =>
                    dataSource.Ajax()
                    .PageSize(ProjectConfiguration.PageSize)
                    .Sort(model => model.Add("Name").Ascending())
                    .Model(model =>
                    {
                    model.Id(p => p.EmployeeID);
                    model.Field(p => p.WorkorderNo);
                    })
                    .ServerOperation(true)
                    .Read(read => read.Action(CMMS.Pages.Actions.GetWOAssignTOList, CMMS.Pages.Controllers.Transaction, new { area = CMMS.Pages.Areas.Transaction }).Data("BindParametersForWOAssignTO").Type(HttpVerbs.Post))
                    )
                    )

            </div>
        </div>
    </div>
</div>
<!-- Assign TO Add Modal -->
@if (ProjectSession.PermissionAccess.JobOrder_JobOrder_Editrecords && ProjectSession.PermissionAccess.JobOrder_JobOrder_AssignEmployees)
{
    <div id="asignTOAddModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" title="@ProjectSession.Resources.label.Common_ButtonClose"></button>
                    <h4 class="modal-title">@ProjectSession.Resources.message.JobOrder_RadTabItemAssignTo</h4>
                </div>
                @using (Html.BeginForm(CMMS.Pages.Actions.SaveAssignToWorkOrders, CMMS.Pages.Controllers.Transaction, new { area = CMMS.Pages.Areas.Transaction }, FormMethod.Post, new { id = "frmAssignToWorkOrders", @role = "form" }))
                {
                    <div class="modal-body">
                        <div id="Highlights" class="tab-pane active" role="tabpanel">
                            <div id="divModelError2"></div>
                            <fieldset>
                                <legend>@ProjectSession.Resources.label.Common_Select  @ProjectSession.Resources.label.JobOrder_TextBlockTechnician</legend>
                                <div class="form-horizontal">
                                    <div class="row">
                                        <div class="col-md-12 col-lg-12">
                                            <div class="form-group two-form-group">
                                                <label class="col-md-2 control-label">@ProjectSession.Resources.label.Employee_TextBlockEmployeeNO</label>
                                                <div class="col-md-10">
                                                    <div class="input-group pm-checklist">
                                                        @Html.HiddenFor(model => model.EmployeeID, new { @id = "hdnAssignTOEmployeeID" })
                                                        @Html.TextBoxFor(model => model.EmployeeNO, new { @class = "form-control code-input", @readonly = "readonly", @id = "txtAssignTOEmpNO", @Placeholder = @ProjectSession.Resources.label.Employee_TextBlockEmployeeNO })
                                                        @*@Html.TextBoxFor(model => model.Name, new { @class = "form-control", @readonly = "readonly", @id = "txtAssignTOEmpName", @Placeholder = @ProjectSession.Resources.label.Employee_TextBlockEmployeeName })*@

                                                        @(Html.Kendo().AutoCompleteFor(model => model.Name)
                                                .DataTextField("Name")
                                                .HtmlAttributes(new { @class = "form-control", @id = "txtAssignTOEmpName" })
                                                .Filter("contains")
                                                .Template("#= KendoDDLTemplateForTwoColumn( data.EmployeeNO, data.Name) #")
                                                .MinLength(3)
                                                .Placeholder(ProjectSession.Resources.label.Employee_TextBlockEmployeeName)
                                                .Events(m => m.Select("onAssignTOEmployeeAutoSelect"))
                                                .DataSource(source =>
                                                {
                                                    source.Read(read =>
                                                    {
                                                        read.Action(CMMS.Pages.Actions.GetEmployeeAssignPageAutoDDL, CMMS.Pages.Controllers.AutoComplete, new { area = CMMS.Pages.Areas.Configurations }).Data("onAssignTOEmployeeAdditionalData");
                                                    })
                                                    .ServerFiltering(true);
                                                })
                                                .Value(Convert.ToString(Model.Name))
                                                        )

                                                        <a href="#" class="checklis-btn" id="btnOpenAssignTOEmployee" data-toggle="modal" data-backdrop="static" onclick="OpenEmployeePopUp(1)">
                                                            <img src="../images/checklis-icon.png" alt="">
                                                        </a>
                                                        <a href="javascript:void(0);" class="close-btn" id="btnClearAssignTOEmployee" title="@ProjectSession.Resources.label.Common_ButtonClear" onclick="ClearAssignToEmployee();">
                                                            <img src="../images/close.png" alt="">
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <div class="row">
                                <div class="col-md-12 or-mag">
                                    <center><b>OR</b></center>
                                </div>
                            </div>
                            <fieldset>
                                <legend>@ProjectSession.Resources.label.Common_Select  @ProjectSession.Resources.label.MaintenanceGroup_TextBlockMaintenanceGroup</legend>
                                <div class="form-horizontal">
                                    <div class="row">
                                        <div class="col-md-12 col-lg-12">
                                            <div class="form-group two-form-group">
                                                <label class="col-md-2 control-label">@ProjectSession.Resources.label.MaintenanceGroup_TextBlockMaintenanceGroupCode</label>
                                                <div class="col-md-10">
                                                    <div class="input-group pm-checklist">
                                                        @Html.HiddenFor(model => model.MaintGroupID, new { @id = "hdnAssignToMaintGroupID" })
                                                        @Html.TextBoxFor(model => model.MaintGroupCode, new { @class = "form-control code-input", @readonly = "readonly", @id = "txtAssignTOMaintgroupCode", @Placeholder = @ProjectSession.Resources.label.MaintenanceGroup_TextBlockMaintenanceGroupCode })
                                                        @*@Html.TextBoxFor(model => model.MaintGroupDesc, new { @class = "form-control", @style = "display:" + (Lang ? "" : "none;"), @readonly = "readonly", @id = "txtAssignTOMaintgroupDesc", @Placeholder = @ProjectSession.Resources.label.MaintenanceGroup_TextBlockMaintenanceGroupDesc })
                                                            @Html.TextBoxFor(model => model.MaintGroupAltDesc, new { @class = "form-control", @style = "display:" + (Lang ? "none;" : ""), @readonly = "readonly", @id = "txtAssignTOMaintgroupAltDesc", @Placeholder = @ProjectSession.Resources.label.MaintenanceGroup_TextBlockAltMaintenanceGroupDesc })*@

                                                        @(Html.Kendo().AutoCompleteFor(model => model.MaintGroupDesc)
                                                .DataTextField(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "GroupAltDesc" : "GroupDesc")
                                                .HtmlAttributes(new { @class = "form-control", @id = "txtAssignTOMaintgroupDesc" })
                                                .Filter("contains")
                                                .Template("#= KendoDDLTemplate( data.GroupCode, data.GroupDesc, data.GroupAltDesc) #")
                                                .MinLength(3)
                                                .Placeholder(ProjectSession.Resources.label.MaintenanceGroup_TextBlockMaintenanceGroupDesc)
                                                .Events(m => m.Select("onMaintenanceAutoSelect"))
                                                .DataSource(source =>
                                                {
                                                    source.Read(read =>
                                                    {
                                                        read.Action(CMMS.Pages.Actions.GetMaintenanceGroupHavingTechniciansAutoDDL, CMMS.Pages.Controllers.AutoComplete, new { area = CMMS.Pages.Areas.Configurations }).Data("onMaintenanceAdditionalData");
                                                    })
                                                    .ServerFiltering(true);
                                                })
                                                .Value(Convert.ToString(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? Model.MaintGroupAltDesc : Model.MaintGroupDesc))
                                                        )

                                                        <a href="#" class="checklis-btn" id="btnOpenAssignTOMaintGroups" data-toggle="modal" data-backdrop="static" onclick="OpenAssignToMaintGroups()">
                                                            <img src="../images/checklis-icon.png" alt="">
                                                        </a>
                                                        <a href="javascript:void(0);" class="close-btn" id="btnClearAssignTOMaintGroups" title="@ProjectSession.Resources.label.Common_ButtonClear" onclick="ClearAssignToMaintGroups();">
                                                            <img src="../images/close.png" alt="">
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top: 10px;">
                                        <div class="col-md-12" style="text-align: right; float: right;display:none;">
                                            @if (ProjectSession.PermissionAccess.JobOrder_JobOrder_AssignEmployees)
                                            {
                                                <button class="btn btn-primary" id="btnSaveEmployeeByGroup" onclick="SaveAssignTO(false)" title="@ProjectSession.Resources.label.Common_ButtonSave" type="button"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <div class="row">
                                <div class="col-md-12 or-mag">
                                    <center><b>OR</b></center>
                                </div>
                            </div>
                            <fieldset>
                                <legend>@ProjectSession.Resources.label.Common_Select  @ProjectSession.Resources.label.JobRequest_TextBlockAuthEmployee</legend>
                                <div class="form-horizontal">
                                    <div class="row">
                                        <div class="col-md-3 col-lg-3">
                                            <div class="checkbox-box">
                                                <input type="checkbox" id="chkAuthEmpLocation" onclick="onCheckedChang(1);" />
                                                @ProjectSession.Resources.label.JobRequest_TextBlockAuthEmployee  (@ProjectSession.Resources.label.Report_TextBlockLocation )
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-lg-3">
                                            <div class="checkbox-box">
                                                <input type="checkbox" id="chkAuthEmpAsset" onclick="onCheckedChang(2);" />
                                                @ProjectSession.Resources.label.JobRequest_TextBlockAuthEmployee  (@ProjectSession.Resources.menu.Reports_MenuAsset )
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset style="margin-top:20px;">
                                <legend></legend>
                                <div class="form-horizontal">
                                    <div class="row">
                                        <div class="col-md-6 col-lg-6">
                                            <div class="form-group ">
                                                <label class="col-md-4 control-label">@ProjectSession.Resources.message.JobOrder_TextBlockEstStartDate</label>
                                                <div class="col-md-8">
                                                    <div class="input-group date-pick">
                                                        @Html.TextBoxFor(model => model.EstStartDate, String.Format("{0:" + ProjectConfiguration.DefaultDateFormat + "}", Model.EstStartDate), new { @id = "txtAssignTOEstStartDate", onfocusout = "onChangeAssignDateTime()", @class = "form-control calendarsPicker", @placeholder = ProjectConfiguration.DefaultDateFormat })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-6">
                                            <div class="form-group ">
                                                <label class="col-md-4 control-label">@ProjectSession.Resources.label.JobOrder_TextBlockEstStartTime</label>
                                                <div class="col-md-8 ">
                                                    @(Html.Kendo().TimePickerFor(model => model.EstStartTime)
                                            .Value("12:00 AM")
                                            .Min("12:00 AM")
                                            .Max("11:00 PM")
                                            .Interval(60)
                                            .Events(events => events.Change("onChangeAssignDateTime"))
                                            .HtmlAttributes(new { style = "width: 100%", @id = "ddlEstStartTime", @onkeydown = "return false" })
                                                    )
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-lg-6">
                                            <div class="form-group ">
                                                <label class="col-md-4 control-label">@ProjectSession.Resources.message.JobOrder_TextBlockEstEndDate</label>
                                                <div class="col-md-8">
                                                    <div class="input-group date-pick">
                                                        @Html.TextBoxFor(model => model.EstEndDate, String.Format("{0:" + ProjectConfiguration.DefaultDateFormat + "}", Model.EstEndDate), new { @id = "txtAssignTOEstEndDate", onfocusout = "onChangeAssignDateTime2()", @class = "form-control calendarsPicker", @placeholder = ProjectConfiguration.DefaultDateFormat })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-6">
                                            <div class="form-group ">
                                                <label class="col-md-4 control-label">@ProjectSession.Resources.label.JobOrder_TextBlockEstEndTime</label>
                                                <div class="col-md-8 ">
                                                    @(Html.Kendo().TimePickerFor(model => model.EstEndTime)
                                            .Value("12:00 AM")
                                            .Min("12:00 AM")
                                            .Max("11:00 PM")
                                            .Interval(60)
                                            .Events(events => events.Change("onChangeAssignDateTime2"))
                                            .HtmlAttributes(new { style = "width: 100%", @id = "ddlEstEndTime", @onkeydown = "return false" })
                                                    )
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>

                            <div class="row" style="margin-top: 10px;">
                                <div class="col-md-12" style="text-align: right; float: right;">
                                    @if (ProjectSession.PermissionAccess.JobOrder_JobOrder_AssignEmployees)
                                    {
                                        <button class="btn btn-primary" id="btnSaveEmployee" onclick="SaveAssignTO()" title="@ProjectSession.Resources.label.Common_ButtonSave" type="button"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    @*<div class="modal-footer box-footer">
                            @if (ProjectSession.PermissionAccess.JobOrder_JobOrder_AssignEmployees)
                            {
                            <button type="submit" class="btn btn-primary" id="btnSave"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
                            }
                            <button type="button" class="btn btn-default" data-dismiss="modal">@ProjectSession.Resources.label.Common_ButtonClose</button>
                        </div>*@
                }
            </div>
        </div>
    </div>
}

<!--Supplier Modal-->
<div id="supplierAssignTOGridModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" title="@ProjectSession.Resources.label.Common_ButtonClose"></button>
                <h4 class="modal-title">@ProjectSession.Resources.label.Supplier_TextBlockSupplier</h4>
            </div>
            <div class="modal-body">
                <div id="Highlights" class="tab-pane active" role="tabpanel">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div id="supplierData" class="@ProjectSession.CultureKendoClass">
                                    @(Html.Kendo().Grid<CMMS.Model.Supplier>
                                        ()
                                        .Name("AssignToSupplierGrid")
                                        .HtmlAttributes(new { @class = "kl-grid" })
                                        .Columns(columns =>
                                        {
                                        columns.Bound(c => c.SupplierID).Hidden(true);
                                        columns.Bound(c => c.SupplierNo).Title(ProjectSession.Resources.label.Supplier_TextBlockSupplierNo);

                                        columns.Bound(c => c.SupplierName).Title(ProjectSession.Resources.label.Supplier_TextBlockSupplierName);

                                        columns.Bound(c => c.AltSupplierName).Title(ProjectSession.Resources.label.Supplier_TextBlockAltSupplierName);
                                        })
                                        .Filterable()
                                        .Sortable(sortable => sortable.AllowUnsort(false))
                                        .Scrollable()
                                        .Pageable(pageable => pageable.PageSizes(CMMS.Pages.General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
                                        .Events(events => events.DataBound("onDataBoundAssignTOSupplier"))
                                        //.Excel(excel => excel.FileName(ProjectSession.Resources.label.Employee_RadTabItemEmployee + ".xlsx").Filterable(true).AllPages(true))
                                        .DataSource(dataSource => dataSource.Ajax()
                                        .PageSize(ProjectConfiguration.PageSize)
                                        .Model(model =>
                                        {
                                        model.Id(p => p.SupplierNo);
                                        model.Field(p => p.SupplierName);
                                        })
                                        .ServerOperation(true)
                                        .Read(read => read.Action(CMMS.Pages.Actions.GetAllSupplierList, CMMS.Pages.Controllers.Configurations, new { area = CMMS.Pages.Areas.Configurations }).Data("BindParametersAssignTOSuppliers").Type(HttpVerbs.Post))
                                        )
                                        )

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer box-footer">
                <button type="button" class="btn btn-default" onclick="closeAssignTOSupplierModel()">@ProjectSession.Resources.label.Common_ButtonClose</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        CreateCalendarsPicker();
    });

    $('.modal').on('shown.bs.modal', function (e) {
        $(document).off("focusin.modal");
    });

    function OpenAssignTOWindow() {
        $('.kendoDrpRequired').removeClass('kendoDrpRequired');
        $('.error').removeClass('error');
        $("#asignTOAddModal").modal("show");
        onChangeAssignDateTime();
        onChangeAssignDateTime2();
    }

    function SaveAssignTO() {
        var saveFrom = $('#hdnSaveFrom').val();

        //if (blnFromEmployee) {
        //    ClearAssignToMaintGroups();
        //}
        //else {
        //    ClearAssignToEmployee();
        //}
        if ($("#chkAuthEmpLocation").is(':checked'))
        {
            $('#hdnAssignTOEmployeeID').val('@Model.LocationAuthEmployeeID');
        }

        if ($("#chkAuthEmpAsset").is(':checked'))
        {
            $('#hdnAssignTOEmployeeID').val('@Model.AssetAuthEmployeeID');
        }

        $('#frmAssignToWorkOrders').submit();
    }

    $('#frmAssignToWorkOrders').validate({

    });

    $('#frmAssignToWorkOrders').submit(function (e) {
        var blnValid = true;
        var empID = 0;

        if (isRequiredDateIsWorkingDateAssigned1 == false) {
            isRequiredDateIsWorkingDateAssigned1 = true;
            //blnValid = false;
            //e.preventDefault();
            //$("#txtAssignTOEstStartDate").addClass("kendoDrpRequired");
            //$("#txtAssignTOEstStartDate").focus();
        }

        if (isRequiredDateIsWorkingDateAssigned1 == false) {
            isRequiredDateIsWorkingDateAssigned2 = true;
            //blnValid = false;
            //e.preventDefault();
            //$("#txtAssignTOEstEndDate").addClass("kendoDrpRequired");
            //$("#txtAssignTOEstEndDate").focus();
        }

        if (isRequiredTimeIsWorkingTimeAssigned1 == false) {
            isRequiredTimeIsWorkingTimeAssigned1 = true;
        }

        if (isRequiredTimeIsWorkingTimeAssigned2 == false) {
            isRequiredTimeIsWorkingTimeAssigned2 = true;
        }

        if (isNotUndefinedNullOrBlankOrZero('hdnAssignTOEmployeeID', true) && isNotUndefinedNullOrBlankOrZero('hdnAssignToMaintGroupID', true)) {
            blnValid = false;
        }

        if (blnValid) {
            var grid = $("[id ^= 'WOAssignToGrid']").data("kendoGrid");
            var gridData = grid.dataSource.view();
            for (var i = 0; i < gridData.length; i++) {
                empID = parseInt(gridData[i].EmployeeID);

                if (parseInt($('#hdnAssignTOEmployeeID').val()) == empID) {
                    blnValid = false;
                }
            }

            if (blnValid == false) {
                ShowMessage('@SystemEnum.MessageType.danger', '@ProjectSession.Resources.message.PM_MsgEmployeeAlreadyExists', "#divModelError2");
                return false;
            }
        }



        if (blnValid) {

            var options = {
                success: onSuccessAssign,  // post-submit callback
                data: addRequestVerificationToken({
                    EmployeeID: $('#hdnAssignTOEmployeeID').val(),
                    MaintGroupID: $('#hdnAssignToMaintGroupID').val(),
                    WorkorderNo: $('#WorkorderNo').val(),
                    EstStartDate: $('#txtAssignTOEstStartDate').val(),
                    EstStartTime: $('#ddlEstStartTime').val(),
                    EstEndDate: $('#txtAssignTOEstEndDate').val(),
                    EstEndTime: $('#ddlEstEndTime').val()
                }),
            };
            $(this).ajaxSubmit(options);
            return false;
        }
        else { e.preventDefault(); }

    });

    function onSuccessAssign(responseText, statusText, xhr, $form) {

        if (responseText[0] == 1) {
            ShowMessage(responseText[1], responseText[2], "#divModelError2");
        }
        else {
            ShowMessage(responseText[1], responseText[2], "#divModelError");
            $("#asignTOAddModal").modal("hide");
            ReBindKendoGrid('WOAssignToGrid');
            if ($('#hdnWorkStatusID').val() == '@SystemEnum.WorkRequestStatus.Open.GetHashCode()') {
                UpdateWorkOrderStatusToAssigned();
            }
        }
        ClearAssignToMaintGroups();
        ClearAssignToEmployee();
        ClearAssignToCheckBoxes();
    }

    function UpdateWorkOrderStatusToAssigned() {
        $.ajax({
            url: '@Url.Action(CMMS.Pages.Actions.UpdateWOStatusToAssigned, CMMS.Pages.Controllers.Transaction, new { area = CMMS.Pages.Areas.Transaction })',
            type: 'Post',
            data: addRequestVerificationToken({ workOrderNo: ($('#WorkorderNo').val() == '' || $('#WorkorderNo').val() == 'undefined' ? 0 : $('#WorkorderNo').val()), currentWorkStatusId: $('#hdnWorkStatusID').val() }),
            cache: false,
            success: function (result) {
                if (result[0]) {
                    if ($('#hdnWorkStatusID').val() != result[1]) {
                        $('#hdnWorkStatusID').val(result[1]);
                        $('#lblMainJobStatus').html(result[2]);
                    }
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                showErrorMessage();
            }
        });
    }
</script>
<div id="MaintGroupModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" title="@ProjectSession.Resources.label.Common_ButtonClose"></button>
                <h4 class="modal-title">@ProjectSession.Resources.label.MaintenanceGroup_TextBlockMaintenanceGroup</h4>
            </div>
            <div class="modal-body">
                <div id="Highlights" class="tab-pane active" role="tabpanel">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div id="maintGroupData" class="@ProjectSession.CultureKendoClass">
                                    @(Html.Kendo().Grid<CMMS.Model.MaintGroup>
                                        ()
                                        .Name("maintGroupGrid")
                                        .HtmlAttributes(new { @class = "kl-grid" })
                                        .Columns(columns =>
                                        {
                                        columns.Bound(c => c.GroupID).Hidden(true);

                                        columns.Bound(c => c.GroupCode).Title(ProjectSession.Resources.label.MaintenanceGroup_TextBlockMaintenanceGroupCode).Width(120);

                                        columns.Bound(c => c.GroupDesc).Title(ProjectSession.Resources.label.MaintenanceGroup_TextBlockMaintenanceGroupDesc).Width(170);

                                        columns.Bound(c => c.GroupAltDesc).Title(ProjectSession.Resources.label.MaintenanceGroup_TextBlockAltMaintenanceGroupDesc).HtmlAttributes(new { @class = "text-right" }).Width(170);

                                        columns.Bound(c => c.L2Code).Title(ProjectSession.Resources.label.JobRequest_TextBlockCityCode).Width(120)
                                        .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterSite", "GridFilter", new { area = string.Empty }).Data("BindParametersEmployee").Type(HttpVerbs.Post))));

                                        })
                                        .Filterable()
                                        .Sortable(sortable => sortable.AllowUnsort(false))
                                        .Scrollable()
                                        .Pageable(pageable => pageable.PageSizes(CMMS.Pages.General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
                                        .Events(events => events.DataBound("onDataAssignToMaintGroup"))
                                        .Excel(excel => excel.FileName(ProjectSession.Resources.label.MaintenanceGroup_TextBlockMaintenanceGroup + ".xlsx").Filterable(true).AllPages(true))
                                        .DataSource(dataSource => dataSource.Ajax()
                                        .PageSize(ProjectConfiguration.PageSize)
                                        .Model(model =>
                                        {
                                        model.Id(p => p.GroupID);
                                        model.Field(p => p.L2Code);
                                        })
                                        .ServerOperation(true)
                                        .Read(read => read.Action(CMMS.Pages.Actions.GetMaintenanceGroupHavingTechnicians, CMMS.Pages.Controllers.Configurations, new { area = CMMS.Pages.Areas.Configurations }).Data("BindParametersAssignToMaintGroups").Type(HttpVerbs.Post))
                                        )
                                        )

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer box-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@ProjectSession.Resources.label.Common_ButtonClose</button>
            </div>

        </div>
    </div>
</div>
<script type="text/javascript">

    $("#maintGroupGrid tbody").on("dblclick", "tr[role='row']", function (e) {
        var grid = $("#maintGroupGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        $("#MaintGroupModal").modal("hide");

        $('#hdnAssignToMaintGroupID').val(model.GroupID);
        $("#txtAssignTOMaintgroupCode").val(model.GroupCode);
        if ('@Lang' == 'True') {
            $("#txtAssignTOMaintgroupDesc").val(model.GroupDesc);
        }
        else {
            $("#txtAssignTOMaintgroupDesc").val(model.GroupAltDesc);
        }

        $('#hdnSaveFrom').val(2);
        ClearAssignToCheckBoxes();
        ClearAssignToEmployee();
    });


    $("#supplierAssignTOGridModal tbody").on("dblclick", "tr[role='row']", function (e) {
        var grid = $("#AssignToSupplierGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        $("#supplierAssignTOGridModal").modal("hide");
        FillAssignToSupplierValues(model);
    });

    function SaveAssignToSupplier() {
        $.ajax({
            url: '@Url.Action(CMMS.Pages.Actions.SaveAssignToSupplierToWorkOrder, CMMS.Pages.Controllers.Transaction, new { area = CMMS.Pages.Areas.Transaction })',
            type: "POST",
            data: addRequestVerificationToken({ supplierId: isNotUndefinedNullOrBlankOrZero('hdnAssignToSupplierID') ? $('#hdnAssignToSupplierID').val() : '0', workOrderNo: $('#WorkorderNo').val() }),
            dataType: "json",
            success: function (result) {
                //ClearAllInputs("frmAssignToWorkOrders");

                ShowMessage(result[1], result[2], "#divMessage");
                if ($('#hdnWorkStatusID').val() == '@SystemEnum.WorkRequestStatus.Open.GetHashCode()') {
                    UpdateWorkOrderStatusToAssigned();
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                showErrorMessage();
            }
        });
    }
</script>
<script>
    $(function () {
        EnableDisableControlls();

        @if (Model.LocationAuthEmployeeID > 0)
        {
            <text> $('#chkAuthEmpLocation').removeAttr('disabled'); </text>
        }
        else
        {
            <text> $('#chkAuthEmpLocation').attr('disabled', 'disabled'); </text>
        }

        @if (Model.AssetAuthEmployeeID > 0)
        {
            <text> $('#chkAuthEmpAsset').removeAttr('disabled'); </text>
        }
        else
        {
            <text> $('#chkAuthEmpAsset').attr('disabled', 'disabled'); </text>
        }

    });

    function onCheckedChang(from)
    {
        var state = '';

        if (from == 1)
        {
            state = $("#chkAuthEmpLocation").is(':checked');
            if (state)
            {
                $('#chkAuthEmpAsset').prop('checked', !state);
                $('#hdnSaveFrom').val(3);
                ClearAssignToMaintGroups();
                ClearAssignToEmployee();
            }
        }
        else
        {
            state = $("#chkAuthEmpAsset").is(':checked');
            if (state) {
                $('#chkAuthEmpLocation').prop('checked', !state);
                $('#hdnSaveFrom').val(3);
                ClearAssignToMaintGroups();
                ClearAssignToEmployee();
            }
        }
    }
</script>
