﻿@using CMMS.Infrastructure;
@using CMMS.Pages;
@using CMMS.Model
@using CMMS.Service
@{
    ViewBag.Title = ProjectSession.Resources.label.Asset_TextBlockAssetList;
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool Lang = ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true;
}
@Html.AntiForgeryToken()
<div class="head1">
    <h1>@ProjectSession.Resources.label.Asset_TextBlockAssetList</h1>
    <ul class="sub_btn">
        @if (ProjectSession.PermissionAccess.Assets_Assets_Createnewrecords)
        {
            <li><a href="@Url.Action(Actions.GetAssetByID, Controllers.Transaction, new { area = Areas.Transaction, assetID = 0, fromPageID = SystemEnum.Pages.AssetList.GetHashCode() })" title="@ProjectSession.Resources.label.Common_ButtonAdd" class="btn-icon btn-add"><i></i></a></li>
        }
        <li><a href="javascript:void(0);" class="btn-icon btn-search" data-toggle="modal" data-target="#search-order" onclick='OpenAdvancedSearch("@ProjectSession.Resources.label.Asset_TextBlockAssetList","@SystemEnum.Pages.AssetList.GetHashCode()")' title="@ProjectSession.Resources.label.Common_ButtonAdvanceSearch"><i></i></a></li>
        <li><a href="javascript:void(0);" class="btn-icon btn-clear" title="@ProjectSession.Resources.label.Common_ButtonClear" onclick="return ClearAdvencedSearch(@SystemEnum.Pages.AssetList.GetHashCode());"><i></i></a></li>
        <li><a href="javascript:void(0);" class="btn-icon btn-refresh" onclick="ReBindKendoGrid('AssetGrid');" title="@ProjectSession.Resources.label.Common_ButtonRefreshGrid"><i></i></a></li>
        @if (ProjectSession.PermissionAccess.Assets_Assets_Export)
        {
            <li><a href="javascript:void(0);" class="btn-icon btn-xsl" onclick="ExportToExcel('AssetGrid', 'AssetID');" title="@ProjectSession.Resources.label.Common_ButtonExportToExcel"><i></i></a></li>
        }

    </ul>
</div>

<!-- Kendo Grid-->
<div id="AssetData" class="@ProjectSession.CultureKendoClass">
    @(Html.Kendo().Grid<CMMS.Model.Asset>()
        .Name("AssetGrid")
            //.HtmlAttributes(new { @class = "kl-grid" })
        .Columns(columns =>
        {
            columns.Bound(c => c.AssetNumber).Title(ProjectSession.Resources.label.Asset_TextBlockAssetNO).Width(130).Locked(true);
            columns.Bound(c => c.AssetDescription).Title(ProjectSession.Resources.label.Asset_TextBlockAssetDescription).Width(200);
            columns.Bound(c => c.AssetAltDescription).HtmlAttributes(new { @class = "text-right" }).Title(ProjectSession.Resources.label.Asset_TextBlockAltAssetDescription).Width(200);
            if (Lang)
                columns.Bound(c => c.AssetStatusDesc).Title(ProjectSession.Resources.label.Asset_TextBlockAssetStatus).Width(150);
            else
                columns.Bound(c => c.AltAssetStatusDesc).Title(ProjectSession.Resources.label.Asset_TextBlockAssetStatus).Width(150);

            columns.Bound(c => c.LocationNo).Title(ProjectSession.Resources.label.Location_TextBlockLocationNo).Width(150)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterLocation", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

            columns.Bound(c => c.LocationDescription).Title(ProjectSession.Resources.label.Location_TextBlockLocationDescription).Width(170);

            columns.Bound(c => c.LocationAltDescription).HtmlAttributes(new { @class = "text-right" }).Title(ProjectSession.Resources.label.Location_TextBlockAltLocationDesc).Width(170);

            columns.Bound(c => c.AssetCatCode).Title(ProjectSession.Resources.label.Asset_TextBlockAssetCategory).Width(150)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterAssetCategory", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

            columns.Bound(c => c.AssetSubCatCode).Title(ProjectSession.Resources.label.Common_TextBlockAssetSubCategory).Width(170)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterAssetSubCategory", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

            columns.Bound(c => c.AssetClassCode).Title(ProjectSession.Resources.message.Asset_TextBlockAssetClassCode).Width(150)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterAssetClass", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

            columns.Bound(c => c.AssetConditionCode).Title(ProjectSession.Resources.message.Asset_TextBlockAssetConditionCode).Width(190)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterAssetCondition", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

            columns.Bound(c => c.L2Code).Title(ProjectSession.Resources.label.JobRequest_TextBlockCityCode).Width(150)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterSite", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

            if (Lang)
                columns.Bound(c => c.L2Name).Title(ProjectSession.Resources.label.City_TextBlockCityDesc).Width(150);
            else
                columns.Bound(c => c.L2AltName).Title(ProjectSession.Resources.label.City_TextBlockAltCityDesc).Width(150);

            columns.Bound(c => c.L2ClassCode).Title(ProjectSession.Resources.label.NotificationEmailRules_TextBlockCityClass).Width(100)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterSiteClass", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

            columns.Bound(c => c.SectorCode).Title(ProjectSession.Resources.label.Asset_TextBlockSectorCode).Width(150)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterSector", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

            if (Lang)
                columns.Bound(c => c.SectorName).Title(ProjectSession.Resources.label.Asset_TextBlockSectorName).Width(150);
            else
                columns.Bound(c => c.SectorAltName).Title(ProjectSession.Resources.label.Asset_TextBlockSectorAltName).Width(150);

            //columns.Bound(c => c.L3No).Title(ProjectSession.Resources.label.Area_TextBlockAreaCode).Width(100)
            //.Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterArea", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

            if (Lang)
                columns.Bound(c => c.L3Desc).Title(ProjectSession.Resources.label.JobRequest_TextBlockAreaDescription).Width(150);
            else
                columns.Bound(c => c.L3AltDesc).Title(ProjectSession.Resources.label.Area_TextBlockAltAreaDescription).Width(150);

            columns.Bound(c => c.L4No).Title(ProjectSession.Resources.label.JobRequest_TextBlockStreetCode).Width(150)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterZone", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

            if (Lang)
                columns.Bound(c => c.L4Description).Title(ProjectSession.Resources.label.JobRequest_TextBlockStreetDescription).Width(150);
            else
                columns.Bound(c => c.L4AltDescription).Title(ProjectSession.Resources.label.Cleaning_TextBlockAltStreetDescription).Width(150);

            columns.Bound(c => c.L5No).Title(ProjectSession.Resources.label.Building_TextBlockBuildingCode).Width(150)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterBuilding", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

            if (Lang)
                columns.Bound(c => c.L5Description).Title(ProjectSession.Resources.label.JobRequest_TextBlockBuildingDescription).Width(170);
            else
                columns.Bound(c => c.L5AltDescription).Title(ProjectSession.Resources.label.Cleaning_TextBlockAltBuildingDescription).Width(170);

            columns.Bound(c => c.ModelNumber).Title(ProjectSession.Resources.label.Asset_TextBlockModelNo).Width(150);
            columns.Bound(c => c.SerialNumber).Title(ProjectSession.Resources.label.Employee_TextBlockSerialNo).Width(150);
            columns.Bound(c => c.Manufacturer).Title(ProjectSession.Resources.label.Asset_TextBlockManufacturer).Width(150);

            columns.Bound(c => c.AssetID).ClientTemplate("<center>" + (ProjectSession.PermissionAccess.Assets_Assets_Editrecords ? "<a href='" + Url.Action(Actions.GetAssetByID, CMMS.Pages.Controllers.Transaction, new { area = CMMS.Pages.Areas.Transaction, assetID = "#: AssetID#", fromPageID = SystemEnum.Pages.AssetList.GetHashCode() }) + "' class='action' title='" + ProjectSession.Resources.label.Common_ButtonEdit + "'  style='cursor:pointer' ><i class='glyphicon glyphicon-pencil'></i></a>&nbsp;" : "")
                + "" + (ProjectSession.PermissionAccess.Assets_Assets_Deleterecords ? "<a class='action delete-button'  href='javascript:void(0);'  class='delete-ic' data-id='#: AssetID #' style='cursor:pointer'><i class='glyphicon glyphicon-trash' title='" + ProjectSession.Resources.label.Common_ButtonDelete + "' ></i></a>" : "") + "</center>")
                                            .Title("<center>" + ProjectSession.Resources.label.Common_ButtonAction + "</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Width(80).Filterable(false);

            //columns.Bound(c => c.AssetID).ClientTemplate("<center><a class='action'  style='cursor:pointer' href='" + Url.Action(Actions.GetAssetByID, CMMS.Pages.Controllers.Transaction, new { area = CMMS.Pages.Areas.Transaction, assetID = "#: AssetID#" }) + "' ><i class='glyphicon glyphicon-pencil' title='" + ProjectSession.Resources.label.Common_ButtonEdit + "'></i></a>&nbsp;<a class='action delete-button'  href='javascript:void(0);'  class='delete-ic' data-id='#: AssetID #' style='cursor:pointer'><i class='glyphicon glyphicon-trash' title='" + ProjectSession.Resources.label.Common_ButtonDelete + "' ></i></a></center>")
            //                            .Title("<center>Action</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Width(80);
        })
        .Filterable()
        .Sortable(sortable => sortable.AllowUnsort(false))
        .Scrollable()
               // .Reorderable(reorder => reorder.Columns(true))
                .Excel(excel => excel.FileName("Assets.xlsx").Filterable(true).AllPages(true).ProxyURL(Url.Action("Excel_Export_Save", "GridExport", new { area = string.Empty })))
        .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
        .Events(events => events.DataBound("onDataBound").ExcelExport("excelExport"))
                //.Events(events => events.DataBound("onDataBound").ExcelExport("excelExport").ColumnReorder("onColumnReorder"))
        .Events(x => x.ExcelExport("excelExport"))
        .DataSource(dataSource =>
                                dataSource.Ajax()
                                .PageSize(ProjectConfiguration.PageSize)
                                .Sort(model => model.Add("AssetNumber").Descending())
                                 .Model(model =>
                                 {
                                     model.Id(p => p.AssetID);
                                     model.Field(p => p.AssetNumber);
                                 })
                                .ServerOperation(true)
                                        .Read(read => read.Action(Actions.GetAssetList, Controllers.Transaction, new { area = Areas.Transaction }).Data("BindParameters").Type(HttpVerbs.Post))
        )
)

</div>

<!-- -------------search order------------- -->
<div id="search-order" class="modal fade" role="dialog">
</div>


<script type="text/javascript">
    var kendoGridId = 'AssetGrid';
    var intPageID = '@SystemEnum.Pages.AssetList.GetHashCode()';

    $(document).ready(function () {
        if ('@ViewBag.Message' != '' && '@ViewBag.MessageType' != '') {
            ShowMessage('@ViewBag.MessageType', '@ViewBag.Message', "#divMessage");
        }
        //var options = localStorage[kendoGridId];
        //if (options) {
        //    $("#AssetGrid").data("kendoGrid").setOptions(JSON.parse(options));
        //}
    });

    function onColumnReorder(e) {
        //setTimeout(function () {
        //    var grid = $("#AssetGrid").data("kendoGrid");
        //    localStorage[kendoGridId] = kendo.stringify(grid.getOptions());
        //}, 0);
    }

    function BindParameters() {
        return {
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };

    function onDataBound(arg) {
        gridProperPaging(this);
    }

    function onDataBound(arg) {
        confirmDeleteMsg(msgText, okText, cancelText, onConfirmCallback, confirmDirection);
        gridProperPaging(this);        
    }

    function onConfirmCallback(sender) {
        var id = $(this).data("id");
        $.ajax({
            url: '@Url.Action(Actions.DeleteAsset, Controllers.Transaction, new { area = Areas.Transaction })',
            type: "POST",
            data: addRequestVerificationToken({ assetID: id }),
            dataType: "json",
            success: function (result) {
                ShowMessage(result[0], result[1], "#divMessage");
                ReBindKendoGrid("AssetGrid");
            },
            error: function (xhr, ajaxOptions, thrownError) {
                showErrorMessage();
            }
        });
    }
</script>
<script>
    $("#AssetGrid tbody").on("dblclick", "tr[role='row']", function (e) {
        var grid = $("#AssetGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        window.location.href = '@Url.Action(Actions.GetAssetByID, Controllers.Transaction, new { area = Areas.Transaction })' + '?assetID=' + model.AssetID + '&fromPageID=' + '@SystemEnum.Pages.AssetList.GetHashCode()';
    });

    @* var touchtime = 0;
    $("#AssetGrid tbody").on("click", "tr[role='row']", function (e) {
        if (touchtime == 0) {
            touchtime = new Date().getTime();
        } else {
            if (((new Date().getTime()) - touchtime) < 2000) {
                touchtime = 0;

                var grid = $("#AssetGrid").data("kendoGrid");
                var model = grid.dataItem(this);
                window.location.href = '@Url.Action(Actions.GetAssetByID, Controllers.Transaction, new { area = Areas.Transaction })' + '?assetID=' + model.AssetID + '&fromPageID=' + '@SystemEnum.Pages.AssetList.GetHashCode()';

            } else {
                touchtime = new Date().getTime();
            }
        }
    });*@


    @*  $("#AssetGrid tbody").bind('touchstart', "tr[role='row']", function (event) {

        var now = new Date().getTime();
        var lastTouch = $(this).data('lastTouch') || now + 1 /** the first time this will make delta a negative number */;
        var delta = now - lastTouch;
        if (delta < 500 && delta > 0) {
            alert('double');
            var grid = $("#AssetGrid").data("kendoGrid");
            alert(grid.select());
            var model = grid.dataItem(grid.select());

            alert(model.AssetID);
            window.location.href = '@Url.Action(Actions.GetAssetByID, Controllers.Transaction, new { area = Areas.Transaction })' + '?assetID=' + model.AssetID + '&fromPageID=' + '@SystemEnum.Pages.AssetList.GetHashCode()';
            // the second touchend event happened within half a second. Here is where we invoke the double tap code
        } else {
            // A click/touch action could be invoked here but wee need to wait half a second before doing so.
        }
        $(this).data('lastTouch', now);
    });*@
</script>
