﻿@using CMMS.Infrastructure;
@using CMMS.Pages;
@using CMMS.Model
@using CMMS.Service
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool Lang = ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true;
}
<style type="text/css">
    .k-grid-content {
        max-height: 95px;
    }

    .k-virtual-scrollable-wrap tr {
        height: 3em;
    }
</style>
@Html.AntiForgeryToken()

<script type="text/javascript">
    function redirectToParent() {
        var type = '@ViewBag.Type';
        if (type == '0') {
            location.href = '@Url.Action(Actions.GetJobRequestById, CMMS.Pages.Controllers.Transaction, new { area = CMMS.Pages.Areas.Transaction })' + '?requestNo=' + '@ViewBag.ExtraParam';
        }
        else if (type == '1') {
            location.href = '@Url.Action(Actions.GetJOByJobOrderNo, CMMS.Pages.Controllers.Transaction, new { area = CMMS.Pages.Areas.Transaction })' + '?workOrderNo=' + '@ViewBag.ExtraParam';
        }
}
</script>
<div class="head1">
    <h1>@ProjectSession.Resources.menu.Asset_MenuAssetTree</h1>
</div>
<div id="divModelError"></div>
<div class="form-horizontal">
    <div class="row">

        <div class="col-md-8">
            <div id="divTree" style="height: 630px; overflow-y: auto;">

                @(Html.Kendo().TreeView()
            .Name("treeview")
            .Events(e => e.Select("onSelect"))
            .DataTextField("Name")
            .TemplateId("treeview-template")
            .HtmlAttributes(new { @id = "treeview" })
            .DataSource(dataSource => dataSource
                .Model(model => model
                    .Id("ID")
                    .HasChildren("HasChild")
                )
                .Read(read => read
                    .Action(Actions.GetAssetTree, Controllers.Transaction, new { area = Areas.Transaction }).Data("BindParamater")
                )
            )
                )


            </div>
        </div>


        <div class="col-md-4">

            <div class="form-group">
                <label class="col-md-4 control-label">@ProjectSession.Resources.label.Asset_TextBlockAssetNO</label>
                <div class="col-md-8">
                    @Html.Hidden("hdnAssetID", "", new { id = "hdnAssetID" })
                    @Html.TextBox("AssetNumber", "", new { @id = "txtAssetNumber", @class = "form-control", @readonly = "readonly" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label">@ProjectSession.Resources.label.Asset_TextBlockAssetDescription</label>
                <div class="col-md-8">
                    @Html.TextBox("AssetDescription", "", new { @id = "txtAssetDescription", @class = "form-control", @readonly = "readonly" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">@ProjectSession.Resources.label.Asset_TextBlockAltAssetDescription</label>
                <div class="col-md-8">
                    @Html.TextBox("AssetAltDescription", "", new { @id = "txtAssetAltDescription", @class = "form-control", @readonly = "readonly" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">@ProjectSession.Resources.label.JobRequest_TextBlockCity</label>
                <div class="col-md-8">
                    @Html.TextBox("L2name", "", new { @id = "txtL2name", @class = "form-control", @readonly = "readonly" })
                    @Html.TextBox("L2AltName", "", new { @id = "txtL2AltName", @class = "form-control", @readonly = "readonly" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">@ProjectSession.Resources.label.Street_TextBlockStreet</label>
                <div class="col-md-8">
                    @Html.TextBox("L4Description", "", new { @id = "txtL4Description", @class = "form-control", @readonly = "readonly" })
                    @Html.TextBox("L4AltDescription", "", new { @id = "txtL4AltDescription", @class = "form-control", @readonly = "readonly" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">@ProjectSession.Resources.label.Building_TextBlockBuilding</label>
                <div class="col-md-8">
                    @Html.TextBox("L5Description", "", new { @id = "txtL5Description", @class = "form-control", @readonly = "readonly" })
                    @Html.TextBox("L5AltDescription", "", new { @id = "txtL5AltDescription", @class = "form-control", @readonly = "readonly" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">@ProjectSession.Resources.label.Location_TextBlockLocationNo</label>
                <div class="col-md-8">
                    @Html.TextBox("LocationDescription", "", new { @id = "txtLocationDescription", @class = "form-control", @readonly = "readonly" })
                    @Html.TextBox("LocationAltDescription", "", new { @id = "txtLocationAltDescription", @class = "form-control", @readonly = "readonly" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">@ProjectSession.Resources.label.Asset_TextBlockModelNo</label>
                <div class="col-md-8">
                    @Html.TextBox("ModelNumber", "", new { @id = "txtModelNumber", @class = "form-control", @readonly = "readonly" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">@ProjectSession.Resources.label.Employee_TextBlockSerialNo</label>
                <div class="col-md-8">
                    @Html.TextBox("SerialNumber", "", new { @id = "txtSerialNumber", @class = "form-control", @readonly = "readonly" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">@ProjectSession.Resources.label.Asset_TextBlockManufacturer</label>
                <div class="col-md-8">
                    @Html.TextBox("Manufacturer", "", new { @id = "txtManufacturer", @class = "form-control", @readonly = "readonly" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label"></label>
                <div class="col-md-2">
                    <button class="btn btn-primary" id="btnSave" name="btnSave" onclick="EditAsset();"><span>@ProjectSession.Resources.label.Common_ButtonViewMore</span></button>
                </div>
                @if (ViewBag.ExtraParam != string.Empty || ViewBag.ExtraParam == "0")
                {
                    <div class="col-md-6">
                        &nbsp;
                        <button class="btn btn-primary" id="btnAddToJOJR" name="btnAddToJOJR" onclick="AddAssetToJOJR();"><span>@ProjectSession.Resources.label.JobRequest_TextBlockAddToJOJR</span></button>
                        <button class="btn btn-primary" id="btnAddToJOJR" name="btnCancel" onclick="redirectToParent();"><span>@ProjectSession.Resources.label.Common_ButtonCancel</span></button>
                    </div>
                }
            </div>
            <div id="divLinkLocationGrid" style="display: none;">
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <input type="hidden" id="hdnLocationID" value="0" />
                        <div id="JobTaskData" class="@ProjectSession.CultureKendoClass">
                            @(Html.Kendo().Grid<CMMS.Model.Location>
                        ()
                        .Name("LinkedLocationGrid")
                        .HtmlAttributes(new { @class = "kl-grid" })
                        .Columns(columns =>
                        {

                            columns.Bound(c => c.LocationNo).Title(ProjectSession.Resources.label.Location_TextBlockLocationNo).Width(150);

                            columns.Bound(c => c.LocationDescription).Title(ProjectSession.Resources.label.Location_TextBlockLocationDescription).Width(250);
                            columns.Bound(c => c.LocationAltDescription).Title(ProjectSession.Resources.label.Location_TextBlockLocationAltDescription).HtmlAttributes(new { @class = "text-right" }).Width(250);

                        })
                        .Sortable(sortable => sortable.AllowUnsort(false))
                        .Scrollable()
                        .Excel(excel => excel.FileName(ProjectSession.Resources.label.Location_TextBlockLinkedLocations + ".xlsx").Filterable(true).AllPages(false))
                        .Events(events => events.DataBound("onDataBoundForLinkedLocation"))
                        .Filterable()
                        .Pageable(pageable => pageable.PageSizes(CMMS.Pages.General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
                        .DataSource(dataSource =>
                        dataSource.Ajax()
                        .PageSize(ProjectConfiguration.PageSize)
                        .Sort(model => model.Add("LocationNo").Ascending())
                        .Model(model =>
                        {
                            model.Id(p => p.LocationID);
                            model.Field(p => p.LocationNo);
                        })
                        .ServerOperation(true)
                        .Read(read => read.Action(CMMS.Pages.Actions.GetLinkedLocationsList, CMMS.Pages.Controllers.Transaction, new { area = CMMS.Pages.Areas.Transaction }).Data("BindParametersForLinkedLocations").Type(HttpVerbs.Post))
                        )
                            )

                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
<script>
    var intPageID = '@SystemEnum.Pages.AssetTree.GetHashCode()';
    $(document).ready(function () {
        @*if ('@Lang' == 'False') {
            $('#divTree').addClass("k-rtl");
        }
        else {
            $('#divTree').removeClass("k-rtl");
        }*@

        if ('@Lang' == 'True') {
            $('#divTree').removeClass("k-rtl");

            $('#txtLocationAltDescription').css("display", "none");
            $('#txtLocationDescription').css("display", "block");

            $('#txtL4AltDescription').css("display", "none");
            $('#txtL4Description').css("display", "block");

            $('#txtL5AltDescription').css("display", "none");
            $('#txtL5Description').css("display", "block");

            $('#txtL2AltName').css("display", "none");
            $('#txtL2name').css("display", "block");
        }
        else {
            $('#divTree').addClass("k-rtl");

            $('#txtLocationDescription').css("display", "none");
            $('#txtLocationAltDescription').css("display", "block");

            $('#txtL4Description').css("display", "none");
            $('#txtL4AltDescription').css("display", "block");

            $('#txtL5Description').css("display", "none");
            $('#txtL5AltDescription').css("display", "block");

            $('#txtL2name').css("display", "none");
            $('#txtL2AltName').css("display", "block");
        }
    })


    $(function () {
        $('#divTree').slimScroll({
            height: '630px',
        });
    })

    function BindParamater(arg) {
        return {
            id: arg.ID,
            cityId: ('@ViewBag.CityID' == 'null' || '@ViewBag.CityID' == '' ? 0 : '@ViewBag.CityID')
        };
    }

    function onSelect(arg) {
        var id = $('#treeview').data("kendoTreeView").dataItem(arg.node).ID;
        var level = id.split(',')[0];
        var levelId = id.split(',')[1];
        if (level == "Location" && levelId > 0) {
            $("#hdnLocationID").val(levelId);

            $.ajax({
                url: '@Url.Action("GetLinkedLocationCount", Controllers.Transaction, new { area = Areas.Transaction })',
                type: 'Post',
                data: { locationID: levelId },
                cache: false,
                async: false,
                success: function (result) {

                    if (result > 0) {
                        ReBindKendoGrid("LinkedLocationGrid");
                        $("#divLinkLocationGrid").show();
                    }
                    else {
                        $("#divLinkLocationGrid").hide();
                    }

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }
        else {
            $("#hdnLocationID").val(0);
            $("#divLinkLocationGrid").hide();
        }

        if (level == "Asset") {
            $.ajax({
                url: '@Url.Action(Actions.GetAssetDetailByAssetID, Controllers.Transaction, new { area = Areas.Transaction })',
                type: 'Post',
                data: { assetID: levelId },
                cache: false,
                async: false,
                success: function (result) {
                    $('#hdnAssetID').val(result.AssetID);
                    $('#txtAssetNumber').val(result.AssetNumber);
                    $('#txtAssetDescription').val(result.AssetDescription);
                    $('#txtAssetAltDescription').val(result.AssetAltDescription);

                    $('#txtL2name').val(result.L2Name);
                    $('#txtL2AltName').val(result.L2AltName);

                    $('#txtL4Description').val(result.L4Description);
                    $('#txtL4AltDescription').val(result.L4AltDescription);

                    $('#txtL5Description').val(result.L5Description);
                    $('#txtL5AltDescription').val(result.L5AltDescription);

                    $('#txtLocationDescription').val(result.LocationDescription);
                    $('#txtLocationAltDescription').val(result.LocationAltDescription);

                    $('#txtModelNumber').val(result.ModelNumber);
                    $('#txtSerialNumber').val(result.SerialNumber);
                    $('#txtManufacturer').val(result.Manufacturer);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }
        else {
            ResetFields();
        }
    }

    function ResetFields() {
        $('#hdnAssetID').val(0);
        $('#txtAssetNumber').val('');
        $('#txtAssetDescription').val('');
        $('#txtAssetAltDescription').val('');
        $('#txtL2name').val('');
        $('#txtL4Description').val('');
        $('#txtL5Description').val('');
        $('#txtLocationDescription').val('');
        $('#txtModelNumber').val('');
        $('#txtSerialNumber').val('');
        $('#txtManufacturer').val('');
    }

    function EditAsset() {
        if ($('#hdnAssetID').val() > 0) {
            window.location.href = '@Url.Action(Actions.GetAssetByID, CMMS.Pages.Controllers.Transaction, new { area = CMMS.Pages.Areas.Transaction })?assetID=' + $('#hdnAssetID').val() + '&fromPageID=' + '@SystemEnum.Pages.AssetTree.GetHashCode()';
        }
    }

    function AddAssetToJOJR() {
        if ($('#hdnAssetID').val() > 0) {
            var type = '@ViewBag.Type';
            if (type == '0') {
                location.href = '@Url.Action(Actions.GetJobRequestById, CMMS.Pages.Controllers.Transaction, new { area = CMMS.Pages.Areas.Transaction })' + '?requestNo=' + '@ViewBag.ExtraParam' + '&assetID=' + $('#hdnAssetID').val();
            }
            else if (type == '1') {
                location.href = '@Url.Action(Actions.GetJOByJobOrderNo, CMMS.Pages.Controllers.Transaction, new { area = CMMS.Pages.Areas.Transaction })' + '?workOrderNo=' + '@ViewBag.ExtraParam' + '&assetID=' + $('#hdnAssetID').val();
            }

    }
    else {
        ShowMessage('@SystemEnum.MessageType.danger.ToString()', '@ProjectSession.Resources.message.Asset_MsgSelectOneAsset', "#divModelError");
            return false;
        }
    }

    function onDataBoundForLinkedLocation(args) {
        gridProperPaging(this);
    }

    function BindParametersForLinkedLocations() {
        return {
            locationID: $("#hdnLocationID").val(),
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

</script>
<script id="treeview-template" type="text/kendo-ui-template">
    <span class="cls#: item.ID.split(',')[0]# "> #: item.Name#  <span>
</script>
