﻿@using CMMS.Infrastructure;
@using CMMS.Pages;
@using CMMS.Model
@using CMMS.Service
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.AntiForgeryToken()
<div class="head1">
    <h1>Clinical Equipment User Manual Library</h1>
    <ul class="sub_btn">
        <li>
            <img src="@Url.Content("~/images/NUB-ceuml.png")" height="35px" alt="">
        </li>
    </ul>
</div>
<div class="clearfix">
    <div id="dvcemul" style="height:auto;">
        <iframe id="ifrmCEMUL" sandbox="allow-same-origin allow-scripts allow-popups allow-forms" frameborder="0" src="~/CemulRedirect.html"
                style="overflow-y: scroll;overflow-x:hidden;width:100%;height:100%"></iframe>
    </div>
</div>
<script type="text/javascript">
    var intPageID = '@SystemEnum.Pages.CEMUL.GetHashCode()';
</script>
<script type="text/javascript" language="javascript">
    $('#ifrmCEMUL').css('height', $(window).height() + 'px');
</script>
