﻿@using CMMS.Infrastructure;
@using CMMS.Pages;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool Lang = ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true;
}
<style>
    .btn-download, .btn-download:hover, .btn-download:focus {
        background-image: url(../images/download.png);
    }
</style>
@Html.AntiForgeryToken()
<div class="head1">
    <h1>
        @ProjectSession.Resources.label.CleaningInspection_TextBlockCleaningInspectionList
    </h1>
    <ul class="sub_btn">
        @if (ProjectSession.PermissionAccess.Cleaning_CleaningInspection_Createnewrecords)
        {
            <li>
                <a href="@Url.Action(Actions.CleaningInspectionEdit, Controllers.Transaction, new { area = Areas.Transaction, cleaningInspectionId = "0" })" title="@ProjectSession.Resources.label.Common_ButtonAdd" class="btn-icon btn-add"><i></i></a>
            </li>
        }

        <li>
            <a href="javascript:void(0);" class="btn-icon btn-search" data-toggle="modal" data-target="#search-order" onclick='OpenAdvancedSearch("@ProjectSession.Resources.label.CleaningInspection_TextBlockCleaningInspectionList","@SystemEnum.Pages.CleaningInspectionList.GetHashCode()");' title="@ProjectSession.Resources.label.Common_ButtonAdvanceSearch"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-clear" title="@ProjectSession.Resources.label.Common_ButtonClear" onclick="return ClearAdvencedSearch(@SystemEnum.Pages.CleaningInspectionList.GetHashCode());"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-refresh" onclick="ReBindKendoGrid('CleaningInspectionGrid');" title="@ProjectSession.Resources.label.Common_ButtonRefreshGrid"><i></i></a>
        </li>

        @if (ProjectSession.PermissionAccess.Cleaning_CleaningInspection_Export)
        {
            <li>
                <a href="javascript:void(0);" class="btn-icon btn-xsl" onclick="ExportToExcel('CleaningInspectionGrid', 'CleaningInspectionId');" title="@ProjectSession.Resources.label.Common_ButtonExportToExcel"><i></i></a>
            </li>
        }
        
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-download" onclick="downloadExcelFile();" style="margin:auto;" title="@ProjectSession.Resources.label.Common_DownloadAttachment"><i></i></a>
        </li>

    </ul>
</div>
<div id="CleaningInspectionList" class="@ProjectSession.CultureKendoClass">
    @(Html.Kendo().Grid<CMMS.Model.Cleaninginspectionmaster>()
                        .Name("CleaningInspectionGrid")
        .HtmlAttributes(new { @class = "kl-grid" })
        .Columns(columns =>
        {
            columns.Bound(c => c.ReferenceNo).Title(ProjectSession.Resources.label.CleaningInspection_TextBlockReferenceNo).Width(250);

            columns.Bound(c => c.DateInspection).ClientTemplate("#= DateTemplate(data.DateInspection) #").Title(ProjectSession.Resources.label.CleaningInspection_TextBlockDateInspection);

            columns.Bound(c => c.InspectedBy).Title(ProjectSession.Resources.label.CleaningInspection_TextBlockInspectedBy);

            columns.Bound(c => c.Comments).Title(ProjectSession.Resources.label.JobOrder_TextBlockComments);

            columns.Bound(c => c.ArabicComments).Title(ProjectSession.Resources.label.CleaningInspection_TextBlockArabicComments).HtmlAttributes(new { @class = "text-right" });

            columns.Bound(c => c.CleaningInspectionId).ClientTemplate("<center>" + (ProjectSession.PermissionAccess.Cleaning_CleaningInspection_Editrecords ? "<a class='action' title='" + ProjectSession.Resources.label.Common_ButtonEdit + "'  style='cursor:pointer' onclick='OpenCIEditWindow(#: CleaningInspectionId#)'><i class='glyphicon glyphicon-pencil'></i></a>&nbsp;" : "")
                + "" + (ProjectSession.PermissionAccess.Cleaning_CleaningInspection_Deleterecords ? "<a class='action delete-button'  href='javascript:void(0);'  class='delete-ic' data-id='#: CleaningInspectionId #' style='cursor:pointer'><i class='glyphicon glyphicon-trash' title='" + ProjectSession.Resources.label.Common_ButtonDelete + "' ></i></a>" : "") + "</center>")
                                            .Title("<center>" + ProjectSession.Resources.label.Common_ButtonAction + "</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Width(80).Filterable(false);
        }) 
        .Filterable()
        .Sortable(sortable => sortable.AllowUnsort(false))
        .Scrollable()
        .Excel(excel => excel.FileName("Cleaning Inspection.xlsx").Filterable(true).AllPages(true).ProxyURL(Url.Action("Excel_Export_Save", "GridExport", new { area = string.Empty })))
        .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
        .Events(events => events.DataBound("onDataBoundForCI").ExcelExport("excelExport"))
        .DataSource(dataSource =>
                                dataSource.Ajax()
                                .PageSize(ProjectConfiguration.PageSize)
                                            .Model(model =>
                                            {
                                                model.Id(p => p.CleaningInspectionId);
                                                model.Field(p => p.L2ID);
                                            })
                                .ServerOperation(true)
                                                        .Read(read => read.Action(Actions.CleaningInspectionList, Controllers.Transaction, new { area = Areas.Transaction }).Data("BindParametersForCI").Type(HttpVerbs.Post))
        )
    )

</div>

<!-- -------------search order------------- -->
<div id="search-order" class="modal fade" role="dialog"></div>

<script type="text/javascript">

    $(document).ready(function () {
        if ('@ViewBag.Message' != '' && '@ViewBag.MessageType' != '') {
            ShowMessage('@ViewBag.MessageType', '@ViewBag.Message', "#divMessage");
        }
    });

    var intPageID = '@SystemEnum.Pages.CleaningInspectionList.GetHashCode()';
    var kendoGridId = 'CleaningInspectionGrid';

    function BindParametersForCI() {
        return {
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }
    function onDataBoundForCI(arg) {
        gridProperPaging(this);
        confirmDeleteMsg(msgText, okText, cancelText, onConfirmCallback, confirmDirection);
    }

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };

    function onConfirmCallback(sender) {
        var id = $(this).data("id");

        $.ajax({
            url: '@Url.Action(Actions.DeleteCleaningInspection, Controllers.Transaction, new { area = Areas.Transaction })',
            type: "POST",
            data: addRequestVerificationToken({ cleaningInspectionId: id }),
            dataType: "json",
            success: function (result) {
                ShowMessage(result[0], result[1], "#divMessage");
                ReBindKendoGrid("CleaningInspectionGrid");
            },
            error: function (xhr, ajaxOptions, thrownError) {
                showErrorMessage();
            }
        });
    }

    $("#CleaningInspectionGrid tbody").on("dblclick", "tr[role='row']", function (e) {
        var grid = $("#CleaningInspectionGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        var CleaningInspectionId = model.CleaningInspectionId;
        window.location.href = '@Url.Action(Actions.CleaningInspectionEdit, Controllers.Transaction, new { area = Areas.Transaction })' + '?cleaningInspectionId=' + CleaningInspectionId;
    });

    function OpenCIEditWindow(CleaningInspectionId) {
        window.location.href = '@Url.Action(Actions.CleaningInspectionEdit, Controllers.Transaction, new { area = Areas.Transaction })' + '?cleaningInspectionId=' + CleaningInspectionId;
    }

    function downloadExcelFile() {
        $.ajax({
            url: '@Url.Action(Actions.DownloadCIAttachment, Controllers.Transaction, new { area = Areas.Transaction })',
            type: "POST",
            //dataType: "json",
            success: function (result) {
                if (result == '') {
                    ShowMessage('@SystemEnum.MessageType.danger.ToString()', 'File Not found', "#divMessage");
                }
                else {
                    window.location.href = '@Url.Action(Actions.DownloadCIAttachment, Controllers.Transaction, new { @area = Areas.Transaction })';
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                showErrorMessage();
            }
        });
    }

</script>