﻿@using CMMS.Infrastructure;
@using CMMS.Pages;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool Lang = ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true;
}

@Html.AntiForgeryToken()
<div class="head1">
    <h1>
        @ProjectSession.Resources.label.CleaningInspection_TextBlockCleaningInspectionGroupList
    </h1>
    <ul class="sub_btn">
        @if (ProjectSession.PermissionAccess.Cleaning_CleaningInspectionGroup_Createnewrecords)
        {
            <li>
                <a href="@Url.Action(Actions.CleaningInspectionGroupEdit, Controllers.Transaction, new { area = Areas.Transaction, cleaningInspectionGroupId = "0" })" title="@ProjectSession.Resources.label.Common_ButtonAdd" class="btn-icon btn-add"><i></i></a>
            </li>
        }

        <li>
            <a href="javascript:void(0);" class="btn-icon btn-search" data-toggle="modal" data-target="#search-order" onclick='OpenAdvancedSearch("@ProjectSession.Resources.label.CleaningInspection_TextBlockCleaningInspectionGroupList","@SystemEnum.Pages.CleaningInspectionGroupList.GetHashCode()");' title="@ProjectSession.Resources.label.Common_ButtonAdvanceSearch"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-clear" title="@ProjectSession.Resources.label.Common_ButtonClear" onclick="return ClearAdvencedSearch(@SystemEnum.Pages.CleaningInspectionGroupList.GetHashCode());"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-refresh" onclick="ReBindKendoGrid('CleaningInspectionGroupGrid');" title="@ProjectSession.Resources.label.Common_ButtonRefreshGrid"><i></i></a>
        </li>

        @if (ProjectSession.PermissionAccess.Cleaning_CleaningInspectionGroup_Export)
        {
            <li>
                <a href="javascript:void(0);" class="btn-icon btn-xsl" onclick="ExportToExcel('CleaningInspectionGroupGrid', 'CleaningInspectionGroupId');" title="@ProjectSession.Resources.label.Common_ButtonExportToExcel"><i></i></a>
            </li>
        }
    </ul>
</div>
<div id="CleaningInspectionGroupList" class="@ProjectSession.CultureKendoClass">
    @(Html.Kendo().Grid<CMMS.Model.CleaningInspectionGroup>()
        .Name("CleaningInspectionGroupGrid")
        .HtmlAttributes(new { @class = "kl-grid" })
        .Columns(columns =>
        {
            columns.Bound(c => c.GroupNumber).Title(ProjectSession.Resources.label.CleaningInspection_TextBlockGroupNo).Width(250);

            columns.Bound(c => c.GroupDescription).Title(ProjectSession.Resources.label.JobOrder_TextBlockComments);

            columns.Bound(c => c.ArabicGroupDescription).Title(ProjectSession.Resources.label.CleaningInspection_TextBlockArabicComments).HtmlAttributes(new { @class = "text-right" });

            columns.Bound(c => c.TotalArea).Title(ProjectSession.Resources.label.CleaningInspection_TextBlockCIGroupTotalArea);

            columns.Bound(c => c.Status).HtmlAttributes(new { @class = "text-center" }).ClientTemplate("<span class='#= Status ? 'active-icon' : 'inactive-icon' #' title='#= Status ? 'Active' : 'Not Active' #'></span>").Title(ProjectSession.Resources.label.AccountCode_TextBlockStatus).Width(100)
            .Filterable(ftb => ftb.Multi(true).ItemTemplate("itemTemplateForStatus").CheckAll(false).BindTo(new[]{
                        new { Status = true },
                        new { Status = false }
                }));

            columns.Bound(c => c.CleaningInspectionGroupId).ClientTemplate("<center>" + (ProjectSession.PermissionAccess.Cleaning_CleaningInspectionGroup_Editrecords ? "<a class='action' title='" + ProjectSession.Resources.label.Common_ButtonEdit + "'  style='cursor:pointer' onclick='OpenCIGroupEditWindow(#: CleaningInspectionGroupId#)'><i class='glyphicon glyphicon-pencil'></i></a>&nbsp;" : "")
                + "" + (ProjectSession.PermissionAccess.Cleaning_CleaningInspectionGroup_Deleterecords ? "<a class='action delete-button'  href='javascript:void(0);'  class='delete-ic' data-id='#: CleaningInspectionGroupId #' style='cursor:pointer'><i class='glyphicon glyphicon-trash' title='" + ProjectSession.Resources.label.Common_ButtonDelete + "' ></i></a>" : "") + "</center>")
                .Title("<center>" + ProjectSession.Resources.label.Common_ButtonAction + "</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Width(80).Filterable(false);
        }) 
        .Filterable()
        .Sortable(sortable => sortable.AllowUnsort(false))
        .Scrollable()
        .Excel(excel => excel.FileName("Cleaning Inspection Group.xlsx").Filterable(true).AllPages(true).ProxyURL(Url.Action("Excel_Export_Save", "GridExport", new { area = string.Empty })))
        .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
        .Events(events => events.DataBound("onDataBoundForCIGroup").ExcelExport("excelExport"))
        .DataSource(dataSource =>
        dataSource.Ajax()
        .PageSize(ProjectConfiguration.PageSize)
        .Model(model =>
        {
            model.Id(p => p.CleaningInspectionGroupId);
            model.Field(p => p.GroupNumber);
        })
        .ServerOperation(true)
        .Read(read => read.Action(Actions.CleaningInspectionGroupList, Controllers.Transaction, new { area = Areas.Transaction }).Data("BindParametersForCIGroup").Type(HttpVerbs.Post))
        )
    )

</div>
<!-- -------------search order------------- -->
<div id="search-order" class="modal fade" role="dialog"></div>

<script type="text/javascript">

    $(document).ready(function () {
        if ('@ViewBag.Message' != '' && '@ViewBag.MessageType' != '') {
            ShowMessage('@ViewBag.MessageType', '@ViewBag.Message', "#divMessage");
        }
    });

    var intPageID = '@SystemEnum.Pages.CleaningInspectionGroupList.GetHashCode()';
    var kendoGridId = 'CleaningInspectionGroupGrid';

    function BindParametersForCIGroup() {
        return {
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }
    function onDataBoundForCIGroup(arg) {
        gridProperPaging(this);
        confirmDeleteMsg(msgText, okText, cancelText, onConfirmCallback, confirmDirection);
    }

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };

    function onConfirmCallback(sender) {
        var id = $(this).data("id");

        $.ajax({
            url: '@Url.Action(Actions.DeleteCleaningInspectionGroup, Controllers.Transaction, new { area = Areas.Transaction })',
            type: "POST",
            data: addRequestVerificationToken({ cleaningInspectionGroupId: id }),
            dataType: "json",
            success: function (result) {
                ShowMessage(result[0], result[1], "#divMessage");
                ReBindKendoGrid("CleaningInspectionGroupGrid");
            },
            error: function (xhr, ajaxOptions, thrownError) {
                showErrorMessage();
            }
        });
    }

    $("#CleaningInspectionGroupGrid tbody").on("dblclick", "tr[role='row']", function (e) {
        var grid = $("#CleaningInspectionGroupGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        var CleaningInspectionGroupId = model.CleaningInspectionGroupId;
        window.location.href = '@Url.Action(Actions.CleaningInspectionGroupEdit, Controllers.Transaction, new { area = Areas.Transaction })' + '?cleaningInspectionGroupId=' + CleaningInspectionGroupId;
    });

    function OpenCIGroupEditWindow(CleaningInspectionGroupId) {
        window.location.href = '@Url.Action(Actions.CleaningInspectionGroupEdit, Controllers.Transaction, new { area = Areas.Transaction })' + '?cleaningInspectionGroupId=' + CleaningInspectionGroupId;
    }

</script>