﻿@model CMMS.Model.Cleaninginspectionmaster
@using CMMS.Infrastructure;
@using CMMS.Pages;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool Lang = ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true;
}
<script type="text/javascript" src="~/Scripts/jquery.form.js"></script>
<style>
    #autEmployee {
        box-sizing: border-box;
        height: 28px;
    }
</style>
@Html.AntiForgeryToken()

<div class="head1">
    <h1>
           @ProjectSession.Resources.menu.Cleaning_MenuCleaningInspection
    </h1>
</div>
<div class="box edit-job-order">
    <div class="nav-tabs-horizontal">
        <ul class="nav nav-tabs">
            <li class="active">
                <a data-toggle="tab" href="#tb1" aria-controls="tb1">
                   @ProjectSession.Resources.menu.Cleaning_MenuCleaningInspection
                </a>
            </li>
            @if (ViewBag.cleaningInspectionId > 0)
            {
                <li><a data-toggle="tab" href="#tb2" aria-controls="tb2" onclick="loadCleaningListTab();">@ProjectSession.Resources.label.CleaningInspection_TabCleaningList</a></li>
            }
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tb1">
                @using (Html.BeginForm(Actions.ManageCleaningInspection, Controllers.Transaction, new { area = Areas.Transaction }, FormMethod.Post, new { enctype = "multipart/form-data", id = "frmCleaningInspection", @role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.CleaningInspectionId)
                    <div class="information-form  cus-form">
                        <div class="row">
                            <div class="col-md-6 col-lg-4">
                                <div class="form-group">
                                    <label class="form-label">@ProjectSession.Resources.label.JobRequest_TextBlockCity</label>
                                    @if (ViewBag.cleaningInspectionId > 0)
                                    {
                                        @Html.HiddenFor(model => model.L2ID)
                                    }
                                    @(Html.Kendo().DropDownListFor(model => model.L2ID)
                        //.OptionLabel(ProjectSession.Resources.label.Common_Select)
                                                .DataTextField("L2Code")
                                                .ValueTemplate(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "#:L2Code # -- #: L2Altname # " : "#:L2Code # -- #: L2name #")
                                                .DataValueField("L2ID")
                                                .Enable(Model.CleaningInspectionId == 0 ? true : false)
                        //.Events(m => m.Change("ChangeL2"))
                                                .HtmlAttributes(new { style = "width: 100%", id = "ddlCity" })
                                                .Template("#= KendoDDLTemplate( data.L2Code, data.L2name,data.L2Altname) #")
                                                .DataSource(source =>
                                                {
                                                    if (ProjectSession.IsCentral)
                                                    {
                                                        source.Read(read =>
                                                        {
                                                            read.Action(Actions.GetAllCities, Controllers.Configurations, new { area = Areas.Configurations, cityID = Model.L2ID });
                                                        });
                                                    }
                                                    else
                                                    {
                                                        source.Read(read =>
                                                        {
                                                            read.Action(Actions.GetCitiesByEmployee, Controllers.Configurations, new { area = Areas.Configurations, cityID = Model.L2ID });
                                                        });
                                                    }
                                                })
                                                .Value(Convert.ToString(Model.L2ID))
                                    )

                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <div class="form-group">
                                    <label class="form-label">@ProjectSession.Resources.label.CleaningInspection_TextBlockReferenceNo<span class="cfont">*</span></label>
                                    @Html.TextBoxFor(model => model.ReferenceNo, new { @MaxLength = 50, @class = "form-control", id = "txtReferenceNo", @Name = "ReferenceNo", @placeholder = ProjectSession.Resources.label.Common_Enter + " " + ProjectSession.Resources.label.CleaningInspection_TextBlockReferenceNo })
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <div class="form-group">
                                    <label class="form-label">@ProjectSession.Resources.label.CleaningInspection_TextBlockDateInspection<span class="cfont">*</span></label>
                                    <div class="input-group date-pick">
                                        @Html.TextBoxFor(model => model.DateInspection, "{0:" + ProjectConfiguration.DefaultDateFormat + "}", new { placeholder = ProjectConfiguration.DefaultDateFormat, @class = "form-control calendarsPicker", id = "txtDateInspection" })

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <div class="form-group two-form-group">
                                    <label class="form-label">@ProjectSession.Resources.label.CleaningInspection_TextBlockInspectedBy<span class="cfont">*</span></label>
                                    <div class="input-group pm-checklist">
                                        @Html.HiddenFor(model => model.InspectionBy, new { @id = "hdnInspectionBy" })
                                        @Html.TextBoxFor(model => model.EmployeeNO, new { @class = "form-control code-input", @readonly = "readonly", @id = "txtEmployeeNO", @Placeholder = @ProjectSession.Resources.label.Employee_TextBlockEmployeeNO })
                                        @*@Html.TextBoxFor(model => model.Name, new { @class = "form-control", @readonly = "readonly", @style = "display:" + (Lang ? "" : "none;"), @id = "txtName", @Placeholder = @ProjectSession.Resources.label.Employee_TextBlockEmployeeName })*@
                                        @(Html.Kendo().AutoCompleteFor(model => model.Name).Name("product")
                                    .DataTextField(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "AltName" : "Name")
                                    .HtmlAttributes(new { @class = "form-control", @id = "autEmployee" })
                                    .Filter("contains")
                                    .Template("#= KendoDDLTemplate( data.EmployeeNO, data.Name,data.AltName) #")
                                    .MinLength(3)
                                    .Placeholder(ProjectSession.Resources.label.Employee_TextBlockEmployeeName)
                                    .Events(m => m.Select("onAutoSelect"))
                                    .DataSource(source =>
                                     {
                                         source.Read(read =>
                                         {
                                             read.Action(Actions.GetEmployeeAssignPage, Controllers.Transaction, new { area = Areas.Transaction }).Data("onAdditionalData");
                                         })
                                     .ServerFiltering(true);
                                     })
                                     .Value(Convert.ToString(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? Model.AltName : Model.Name))
                                        )
                                        @*@Html.TextBoxFor(model => model.AltName, new { @class = "form-control", @readonly = "readonly", @style = "display:" + (Lang ? "none;" : ""), @id = "txtAltName", @Placeholder = @ProjectSession.Resources.label.Employee_TextBlockAltEmployeeCategory })*@
                                        <a href="#" class="checklis-btn" data-toggle="modal" data-backdrop="static" onclick="OpenEmployeePopUp()">
                                            <img src="../images/checklis-icon.png" alt="">
                                        </a>
                                        <a href="javascript:void(0);" class="close-btn" title="@ProjectSession.Resources.label.Common_ButtonClear" onclick="ClearEmployeeData();">
                                            <img src="../images/close.png" alt="">
                                        </a>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6 col-lg-4">
                                <div class="form-group">
                                    <label class="form-label">@ProjectSession.Resources.label.JobOrder_TextBlockComments</label>
                                    @Html.TextAreaFor(model => model.Comments, new { @MaxLength = 2000, @class = "form-control", @Name = "Comments", @placeholder = ProjectSession.Resources.label.Common_Enter + " " + ProjectSession.Resources.label.JobOrder_TextBlockComments })
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <div class="form-group">
                                    <label class="form-label">@ProjectSession.Resources.label.CleaningInspection_TextBlockArabicComments</label>
                                    @Html.TextAreaFor(model => model.ArabicComments, new { @MaxLength = 2000, @class = "form-control", @Name = "ArabicComments", @placeholder = ProjectSession.Resources.label.Common_Enter + " " + ProjectSession.Resources.label.CleaningInspection_TextBlockArabicComments })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="box-footer">
                        @if ((Model.CleaningInspectionId == 0 && ProjectSession.PermissionAccess.Cleaning_CleaningInspectionGroup_Createnewrecords) || (Model.CleaningInspectionId > 0 && ProjectSession.PermissionAccess.Cleaning_CleaningInspectionGroup_Editrecords))
                        {
                            <button class="btn btn-primary" id="btnSave" name="btnSave" type="submit" onclick=""><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
                        }
                        <button class="btn btn-default" type="button" onclick="RedirectToCIPage()"><span>@ProjectSession.Resources.label.Common_ButtonCancel</span></button>
                    </div>
                }
            </div>

            @if (ViewBag.cleaningInspectionId > 0)
            {

                <div class="tab-pane" id="tb2">
                    <div id="divCleaningList">
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<!-- employee  Grid Modal-->
<div id="employeeGridModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" title="@ProjectSession.Resources.label.Common_ButtonClose"></button>
                <h4 class="modal-title">@ProjectSession.Resources.label.Employee_RadTabItemEmployee</h4>
            </div>
            <div class="modal-body">
                <div id="Highlights" class="tab-pane active" role="tabpanel">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div id="employeeData" class="@ProjectSession.CultureKendoClass">
                                    @(Html.Kendo().Grid<CMMS.Model.employees>()
                                            .Name("employeeGrid")
                                    .Columns(columns =>
                                    {
                                        columns.Bound(c => c.EmployeeNO).Title(ProjectSession.Resources.label.Employee_TextBlockEmployeeNO).Width(150);

                                        columns.Bound(c => c.L2Code).Title(ProjectSession.Resources.label.JobRequest_TextBlockCityCode).Width(150)
                                        .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterSite", "GridFilter", new { area = string.Empty }).Data("BindParametersEmp").Type(HttpVerbs.Post))));

                                        columns.Bound(c => c.Name).Title(ProjectSession.Resources.label.Employee_TextBlockEmployeeName).Width(200);

                                        columns.Bound(c => c.MaintDivisionCode).Title(ProjectSession.Resources.label.MaintDivision_TextBlockMaintDivCode).Width(150)
                                        .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterMaintenanceDivision", "GridFilter", new { area = string.Empty }).Data("BindParametersEmp").Type(HttpVerbs.Post))));

                                        columns.Bound(c => c.MaintDeptCode).Title(ProjectSession.Resources.label.MaintenanceDept_TextBlockMaintDeptCode).Width(150)
                                       .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterMaintenanceDepartment", "GridFilter", new { area = string.Empty }).Data("BindParametersEmp").Type(HttpVerbs.Post))));

                                        columns.Bound(c => c.MaintSubDeptCode).Title(ProjectSession.Resources.label.MaintenanceSubDept_TextBlockMaintSubDeptCode).Width(180)
                                        .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterMaintenanceSubDepartment", "GridFilter", new { area = string.Empty }).Data("BindParametersEmp").Type(HttpVerbs.Post))));

                                        columns.Bound(c => c.Positions).Title(ProjectSession.Resources.label.Employee_TextBlockDesignation).Width(150);

                                        columns.Bound(c => c.CategoryName).Title(ProjectSession.Resources.label.Employee_TextBlockEmployeeCategory).Width(200)
                                        .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterEmpCategory", "GridFilter", new { area = string.Empty, @id = "1" }).Data("BindParametersEmp").Type(HttpVerbs.Post))));

                                        columns.Bound(c => c.EmployeeStatus).Title(ProjectSession.Resources.label.Employee_TextBlockEmployeeStatus).Width(150)
                                        .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterEmpStatus", "GridFilter", new { area = string.Empty, @id = "1" }).Data("BindParametersEmp").Type(HttpVerbs.Post))));

                                    })
                                    .Filterable()
                                    .Sortable(sortable => sortable.AllowUnsort(false))
                                    .Scrollable()
                                            .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
                                    .Events(events => events.DataBound("onDataBoundEmployee"))
                                    .DataSource(dataSource => dataSource.Ajax()
                                    .PageSize(ProjectConfiguration.PageSize)
                                     .Model(model =>
                                     {
                                         model.Id(p => p.EmployeeID);
                                         model.Field(p => p.Name);
                                     })
                                    .ServerOperation(true)
                                    .Read(read => read.Action(Actions.GetEmployeeAssignPage, Controllers.Management, new { area = Areas.Management }).Data("BindParametersEmp").Type(HttpVerbs.Post))
                                    )
                                    )

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    validator = $('#frmCleaningInspection').validate({
        rules: {
            ReferenceNo: { required: true },
            DateInspection: { required: true },
            EmployeeNO: { required: true },
            Name: { required: true },
            AltName: { required: true },
        },
        messages: {
            ReferenceNo: { required: '' },
            DateInspection: { required: '' },
            EmployeeNO: { required: '' },
            Name: { required: '' },
            AltName: { required: '' },
        }
    });


    var Tempdata1 = null;
    var intPageID = '@SystemEnum.Pages.CleaningInspectionList.GetHashCode()';

    $(document).ready(function () {
        if ('@ViewBag.cleaningInspectionId' > 0) {
            $("#txtReferenceNo").prop("readonly", true);
        }

    });


    function onAdditionalData() {
        return {
            text: $("#autEmployee").val()
        };
    }

    function onAutoSelect(e) {
        var dataItem = this.dataItem(e.item.index());
        $("#txtEmployeeNO").val(dataItem.EmployeeNO);
        $("#txtName").val(dataItem.Name);
        $("#txtAltName").val(dataItem.AltName);
        $("#hdnInspectionBy").val(dataItem.EmployeeID);
    }

    function OpenEmployeePopUp() {
        $("#employeeGridModal").modal("show");
    }

    function onDataBoundEmployee(arg) {
        gridProperPaging(this);
    }

    function BindParametersEmp() {
        return {
            cityID: 0,
            type: 0,
            strWhere: "",
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    $("#employeeGrid tbody").on("dblclick", "tr[role='row']", function (e) {
        var grid = $("#employeeGrid").data("kendoGrid");
        var model = grid.dataItem(this);

        //Employee
        $("#txtEmployeeNO").val(model.EmployeeNO);
       // $("#txtName").val(model.Name);
        //$("#txtAltName").val(model.AltName);
        
        $("#hdnInspectionBy").val(model.EmployeeID);
        if ('@Lang' == 'True') {
            $("#autEmployee").val(model.Name);
        }
        else {
            $("#autEmployee").val(model.AltName);
        }
        

        //close popup
        $("#employeeGridModal").modal("hide");
    });

    function ClearEmployeeData() {
        $("#txtEmployeeNO").val("");
        //$("#txtName").val("");
        //$("#txtAltName").val("");
        $("#hdnInspectionBy").val("");
        $("#autEmployee").val("");
    }

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };

    $('#frmCleaningInspection').submit(function (e) {
        if ($("#frmCleaningInspection").valid()) {
            var options = {
                success: onSuccessCI,  // post-submit callback
                data: addRequestVerificationToken($('#frmCleaningInspection').serialize())
            };
            $("#frmCleaningInspection").ajaxSubmit(options);
            return false;
        }
        else {
            e.preventDefault();
        }
    });

    function onSuccessCI(responseText, statusText, xhr, $form) {
        if (responseText[0] == "insert") {
            if (responseText[3] == "undefined") {
                responseText[3] = 0;
            }
            ShowMessage(responseText[1], responseText[2], "#divMessage");
            setTimeout((function () {
                window.location.href = '@Url.Action(Actions.CleaningInspectionEdit, Controllers.Transaction, new { Area = Areas.Transaction })' + '?cleaningInspectionId=' + responseText[3];
            }), 1000);
            
        }
        else {
            ShowMessage(responseText[0], responseText[1], "#divMessage");
            return false;
        }

    }

    function RedirectToCIPage() {
        window.location.href = '@Url.Action(Actions.CleaningInspection, Controllers.Transaction, new { area = Areas.Transaction })';
    }


    function loadCleaningListTab() {
        var url = '@Url.Action(Actions.CleaningList, Controllers.Transaction, new { Area = Areas.Transaction })' + '?cleaningInspectionId=' + $("#CleaningInspectionId").val();
        $("#divCleaningList").load(url);
    }



</script>
