﻿@model CMMS.Model.CleaningInspectionGroup
@using CMMS.Infrastructure;
@using CMMS.Pages;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool Lang = ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true;
}
<script type="text/javascript" src="~/Scripts/jquery.form.js"></script>
@Html.AntiForgeryToken()
<div class="head1">
    <h1>
        @ProjectSession.Resources.menu.Cleaning_MenuCleaningInspectionGroup
    </h1>
</div>
<div class="box">
    @using (Html.BeginForm(Actions.ManageCleaningInspectionGroup, Controllers.Transaction, new { area = Areas.Transaction }, FormMethod.Post, new { enctype = "multipart/form-data", id = "frmCleaningInspectionGroup", @role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.CleaningInspectionGroupId)
        <div class="information-form cus-form">
            <h3 class="sub-title">
                <span>@ProjectSession.Resources.menu.Cleaning_MenuCleaningInspectionGroup</span>
            </h3>
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="form-group">
                        <label class="form-label">@ProjectSession.Resources.label.CleaningInspection_TextBlockGroupNo<span class="cfont">*</span></label>
                        @Html.TextBoxFor(model => model.GroupNumber, new { @MaxLength = 200, @class = "form-control", id = "txtGroupNumber", @Name = "GroupNumber", @placeholder = ProjectSession.Resources.label.Common_Enter + " " + ProjectSession.Resources.label.CleaningInspection_TextBlockGroupNo })
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="form-group">
                        <label class="form-label">@ProjectSession.Resources.label.CleaningInspection_TextBlockGroupDescription</label>
                        @Html.TextAreaFor(model => model.GroupDescription, new { @MaxLength = 2000, @class = "form-control", id = "txtGroupDescription", @Name = "GroupDescription", @placeholder = ProjectSession.Resources.label.Common_Enter + " " + ProjectSession.Resources.label.CleaningInspection_TextBlockGroupDescription })
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="form-group">
                        <label class="form-label">@ProjectSession.Resources.label.CleaningInspection_TextBlockAltGroupDescription</label>
                        @Html.TextAreaFor(model => model.ArabicGroupDescription, new { @MaxLength = 2000, @class = "form-control", id = "txtArabicGroupDescription", @Name = "ArabicGroupDescription", @placeholder = ProjectSession.Resources.label.Common_Enter + " " + ProjectSession.Resources.label.CleaningInspection_TextBlockAltGroupDescription })
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="form-group">
                        <label class="form-label">@ProjectSession.Resources.label.CleaningInspection_TextBlockCIGroupTotalArea</label>
                        @Html.TextBoxFor(model => model.TotalArea, new { @MaxLength = 200, @class = "form-control", id = "txtTotalArea", @Name = "TotalArea", @placeholder = ProjectSession.Resources.label.Common_Enter + " " + ProjectSession.Resources.label.CleaningInspection_TextBlockCIGroupTotalArea })
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="form-group">


                        <label class="form-label">&nbsp;</label>
                        <div class="">
                            @ProjectSession.Resources.label.AccountCode_TextBlockStatus
                            @Html.CheckBoxFor(model => model.Status, new { id = "chkStatus" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-footer">
            @if (ProjectSession.PermissionAccess.Cleaning_CleaningInspectionGroup_Createnewrecords || ProjectSession.PermissionAccess.Cleaning_CleaningInspectionGroup_Editrecords)
            {
                <button class="btn btn-primary" name="btnSave" type="submit"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
            }
            <button class="btn btn-default" type="button" onclick="RedirectToCIGPage()"><span>@ProjectSession.Resources.label.Common_ButtonCancel</span></button>
        </div>
    }
</div>

@if (ViewBag.cleaningInspectionGroupId > 0)
{
    <!--Cleaning Inspection Group Sequence Number Grid  -->

    <div class="head1">
        <h1>
           @ProjectSession.Resources.label.CleaningInspection_TextBlockSequenceNumberList
        </h1>
        <ul class="sub_btn">
            @if (ProjectSession.PermissionAccess.Cleaning_CleaningInspectionGroup_Createnewrecords)
        {
        <li>
            <a onclick="CIGroupSequenceEdit(0);" title="@ProjectSession.Resources.label.Common_ButtonAdd" class="btn-icon btn-add"><i></i></a>
        </li>
        }
        </ul>
    </div>

    <div class="information-form  cus-form">
        <div class="row">
            <div id="CIGroupSequenceList" class="@ProjectSession.CultureKendoClass">
                @(Html.Kendo().Grid<CMMS.Model.CleaningInspectionGroupSequenceNumber>()
                                .Name("CIGroupSequencetGrid")
                                .HtmlAttributes(new { @class = "kl-grid" })
                                .Columns(columns =>
                                {
                                    columns.Bound(c => c.SequenceNumber).Title(ProjectSession.Resources.label.JobPlan_TextBlockSeqId);

                                    columns.Bound(c => c.LocationNo).Title(ProjectSession.Resources.label.JobRequest_TextBlockLocationNo)
                                    .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterLocation", "GridFilter", new { area = string.Empty }).Data("BindParametersForCIGroupSequence").Type(HttpVerbs.Post))));

                                    columns.Bound(c => c.TaskDesc).Title(ProjectSession.Resources.label.Supplier_TextBlockDescription);

                                    columns.Bound(c => c.AltTaskDesc).Title(ProjectSession.Resources.label.JobPlan_TextBlockAltDecription).HtmlAttributes(new { @class = "text-right" });

                                    columns.Bound(c => c.SequenceId).ClientTemplate("<center>" + (ProjectSession.PermissionAccess.Cleaning_CleaningInspectionGroup_Editrecords ? "<a class='action' title='" + ProjectSession.Resources.label.Common_ButtonEdit + "'  style='cursor:pointer' onclick='CIGroupSequenceEdit(#: SequenceId #)'><i class='glyphicon glyphicon-pencil'></i></a>&nbsp;" : "")
                                        + "" + (ProjectSession.PermissionAccess.Cleaning_CleaningInspectionGroup_Deleterecords ? "<a class='action delete-button'  href='javascript:void(0);'  class='delete-ic' data-id='#: SequenceId #' style='cursor:pointer'><i class='glyphicon glyphicon-trash' title='" + ProjectSession.Resources.label.Common_ButtonDelete + "' ></i></a>" : "") + "</center>")
                                                                    .Title("<center>" + ProjectSession.Resources.label.Common_ButtonAction + "</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Width(80).Filterable(false);
                                }) 
                                .Filterable()
                                .Sortable(sortable => sortable.AllowUnsort(false))
                                .Scrollable()
                                .Excel(excel => excel.FileName("CleaningList.xlsx").Filterable(true).AllPages(true))
                                .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
                                .Events(events => events.DataBound("onDataBoundForCIGroupSequence"))
                                .DataSource(dataSource =>
                                dataSource.Ajax()
                                .PageSize(ProjectConfiguration.PageSize)
                                            .Model(model =>
                                            {
                                                model.Id(p => p.SequenceId);
                                                model.Field(p => p.SequenceNumber);
                                            })
                                .ServerOperation(true)
                                        .Read(read => read.Action(Actions.CIGroupSequenceList, Controllers.Transaction, new { area = Areas.Transaction }).Data("BindParametersForCIGroupSequence").Type(HttpVerbs.Post))
        )
                )

            </div>
        </div>
    </div>

    <!-- Add New Item Modal -->
    <div id="addCIGSequenceModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-md">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" title="@ProjectSession.Resources.label.Common_ButtonClose"></button>
                    <h4 class="modal-title">@ProjectSession.Resources.label.CleaningInspection_TextBlockSequenceNumberList</h4>
                </div>
                <form role="form" id="frmCIGSequence">
                    <input type="hidden" id="hdnSequenceId" />
                    <div class="modal-body">
                        <div id="Highlights" class="tab-pane active" role="tabpanel">
                            <div class="form-horizontal">
                                <div id="divModelErrorJobItem"></div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">@ProjectSession.Resources.label.PM_TextBlockSeqNo<span class="cfont">*</span></label>
                                    <div class="col-sm-9">
                                        <input type="text" id="txtSequenceNo" name="SequenceNo" maxlength="4" class="form-control allowIntegerOnly" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.PM_TextBlockSeqNo" />
                                    </div>
                                </div>
                                <div class="form-group two-form-group">
                                    <label class="col-sm-3 control-label">@ProjectSession.Resources.label.Location_TextBlockLocationNo<span class="cfont">*</span></label>
                                    <div class="col-sm-9">
                                        <div class="input-group pm-checklist">
                                            <input type="hidden" id="hdnLocationId" />
                                            <input type="text" class="form-control code-input" id="txtLocationNo" name="LocationNo" placeholder="@ProjectSession.Resources.label.JobRequest_TextBlockLocationNo" readonly="readonly" />

                                            @(Html.Kendo().AutoComplete().Name("Location")
                                    .DataTextField("LocationDescription")
                                    .HtmlAttributes(new { @class = "form-control", @id = "txtDescription" })
                                    .Filter("contains")
                                    .Template("#= KendoDDLTemplate( data.LocationNo, data.LocationDescription, data.LocationAltDescription) #")
                                    .MinLength(3)
                                    .Placeholder(ProjectSession.Resources.label.Location_TextBlockLocationDesc)
                                    .Events(m => m.Select("onLocationAutoSelect"))
                                    .DataSource(source =>
                                     {
                                         source.Read(read =>
                                         {
                                             read.Action(Actions.GetLocationPageAutoDDL, Controllers.AutoComplete, new { area = Areas.Configurations }).Data("onLocationAdditionalData");
                                         })
                                     .ServerFiltering(true);
                                     })
                                            )

                                            <a href="#" class="checklis-btn" data-toggle="modal" onclick="OpenLocationPopUp()">
                                                <img src="../images/checklis-icon.png" alt="">
                                            </a>
                                            <a href="javascript:void(0);" class="close-btn" onclick="ClearLocationData();">
                                                <img src="../images/close.png" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                @*<div class="form-group">
                                    <label class="col-sm-4 control-label">@ProjectSession.Resources.label.JobPlan_TextBlockDecription</label>
                                    <div class="col-sm-8">
                                        <textarea class="form-control" id="txtDescription" placeholder="@ProjectSession.Resources.label.JobPlan_TextBlockDecription " readonly="readonly"></textarea>
                                    </div>
                                </div>*@
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">@ProjectSession.Resources.label.JobPlan_TextBlockAltDecription</label>
                                    <div class="col-sm-9">
                                        <textarea id="txtAltDescription" class="form-control" placeholder="@ProjectSession.Resources.label.JobPlan_TextBlockAltDecription" readonly="readonly"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer box-footer">
                        @if (ProjectSession.PermissionAccess.Cleaning_CleaningInspectionGroup_Editrecords)
                    {
                    <button type="submit" class="btn btn-primary" id="btnSaveSafetyInstrItem"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
                    }
                        <button type="button" class="btn btn-default" data-dismiss="modal">@ProjectSession.Resources.label.Common_ButtonClose</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- location  Grid Modal-->
    <div id="locationGridModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" title="@ProjectSession.Resources.label.Common_ButtonClose"></button>
                    <h4 class="modal-title">@ProjectSession.Resources.label.Location_TextBlockLocationList</h4>
                </div>
                <div class="modal-body">
                    <div id="Highlights" class="tab-pane active" role="tabpanel">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <div id="locationData" class="@ProjectSession.CultureKendoClass">
                                        @(Html.Kendo().Grid<CMMS.Model.Location>()
                                            .Name("locationGrid")
                                    .Columns(columns =>
                                    {
                                        columns.Bound(c => c.LocationNo).Title(ProjectSession.Resources.label.Location_TextBlockLocationNo).Width(150);

                                        columns.Bound(c => c.LocationDescription).Title(ProjectSession.Resources.label.Location_TextBlockLocationDescription).Width(250);

                                        columns.Bound(c => c.LocationAltDescription).HtmlAttributes(new { @class = "text-right" }).Title(ProjectSession.Resources.label.Location_TextBlockAltLocationDescription).Width(250);

                                        columns.Bound(c => c.L2Code).Title(ProjectSession.Resources.label.JobRequest_TextBlockCity).Width(110)
                                        .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterSite", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

                                        columns.Bound(c => c.L4No).Title(ProjectSession.Resources.label.Street_TextBlockStreet).Width(110)
                                        .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterZone", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

                                        columns.Bound(c => c.L4Description).Title(ProjectSession.Resources.label.Street_TextBlockStreetDesc).Visible(ProjectSession.Culture == ProjectConfiguration.EnglishCultureCode ? true : false).Width(280);

                                        columns.Bound(c => c.L4AltDescription).Title(ProjectSession.Resources.label.Street_TextBlockAltStreetDesc).Visible(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? true : false).Width(280);

                                        columns.Bound(c => c.L5No).Title(ProjectSession.Resources.label.Building_TextBlockBuildingNo).Width(150)
                                        .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterBuilding", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

                                        columns.Bound(c => c.L5Description).Title(ProjectSession.Resources.label.Building_TextBlockBuildingDesc).Visible(ProjectSession.Culture == ProjectConfiguration.EnglishCultureCode ? true : false).Width(250);

                                        columns.Bound(c => c.L5AltDescription).Title(ProjectSession.Resources.label.Building_TextBlockAltBuildingDesc).Visible(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? true : false).Width(250);

                                        columns.Bound(c => c.Criticality).Title(ProjectSession.Resources.label.Location_TextBlockCriticality).Width(110)
                                        .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterCriticality", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

                                    })
                                    .Filterable()
                                    .Sortable(sortable => sortable.AllowUnsort(false))
                                    .Scrollable()
                                    .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
                                    .Events(events => events.DataBound("onDataBoundLocation"))
                                    .DataSource(dataSource => dataSource.Ajax()
                                    .PageSize(ProjectConfiguration.PageSize)
                                     .Model(model =>
                                     {
                                         model.Id(p => p.LocationID);
                                         model.Field(p => p.LocationNo);
                                     })
                                    .ServerOperation(true)
                                    .Read(read => read.Action(Actions.GetLocationPage, Controllers.Configurations, new { area = Areas.Configurations }).Data("BindParameters").Type(HttpVerbs.Post))
                                    )
                                        )
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}

<script type="text/javascript">

    var intPageID = '@SystemEnum.Pages.CleaningInspectionGroupList.GetHashCode()';

    var oldCIGSequence;
    validator = $('#frmCleaningInspectionGroup').validate({
        rules: {
            GroupNumber: { required: true },
        },
        messages: {
            GroupNumber: { required: '' },
        }
    });

    validator1 = $('#frmCIGSequence').validate({
        rules: {
            SequenceNo: { required: true },
            LocationNo: { required: true },
        },
        messages: {
            SequenceNo: { required: '' },
            LocationNo: { required: '' },
        }
    });


    //CIG Sequence Grid
    function BindParametersForCIGroupSequence() {
        var id = $("#CleaningInspectionGroupId").val();
        return {
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val(),
            cleaningInspectionGroupId: id == "" ? 0 : id
        };
    }
    function onDataBoundForCIGroupSequence(arg) {
        gridProperPaging(this);
        confirmDeleteMsg(msgText, okText, cancelText, onConfirmCallback, confirmDirection);
    }

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };

    //Cleaning Inspection Group Submit Button Click Event
    $('#frmCleaningInspectionGroup').submit(function (e) {
        if ($("#frmCleaningInspectionGroup").valid()) {
            if (!reValidateDropDowns($(this))) {
                e.preventDefault();
            }
            else {
                var options = {
                    success: onSuccessCIG,  // post-submit callback
                    data: addRequestVerificationToken($('#frmCleaningInspectionGroup').serialize())
                };
                $("#frmCleaningInspectionGroup").ajaxSubmit(options);
                return false;
            }
        }
        else {
            e.preventDefault();
        }
    });

    function onSuccessCIG(responseText, statusText, xhr, $form) {
        if (responseText[0] == "insert") {
            ShowMessage(responseText[1], responseText[2], "#divMessage");
            if (responseText[3] == "undefined") {
                responseText[3] = 0;
            }
            window.location.href = '@Url.Action(Actions.CleaningInspectionGroupEdit, Controllers.Transaction, new { Area = Areas.Transaction })' + '?cleaningInspectionGroupId=' + responseText[3];
        }
        else {
            ShowMessage(responseText[0], responseText[1], "#divMessage");
            return false;
        }
    }

    //Delete CIG Sequence Number
    function onConfirmCallback() {
        var id = $(this).data("id");

        var grid = $("#CIGroupSequencetGrid").data("kendoGrid");
        var data = $("#CIGroupSequencetGrid table td").find("a[data-id='" + id + "']").closest("tr");
        var model = grid.dataItem(data);
        var seqNumber = model.SequenceNumber;

        $.ajax({
            url: '@Url.Action(Actions.DeleteCIGroupSequence, Controllers.Transaction, new { area = Areas.Transaction })',
            type: "POST",
            data: addRequestVerificationToken({ seqId: seqNumber, cleaningInspectionGroupId: $("#CleaningInspectionGroupId").val(), kendogriddata: JSON.stringify($("#CIGroupSequencetGrid").data("kendoGrid").dataSource.data()) }),
            dataType: "json",
            success: function (result) {
                ShowMessage(result[0], result[1], "#divMessage");
                ReBindKendoGrid("CIGroupSequencetGrid");
            },
            error: function (xhr, ajaxOptions, thrownError) {
                showErrorMessage();
            }
        });
    }

    //Add Edit CIG Sequence Number

    $("#CIGroupSequencetGrid tbody").on("dblclick", "tr[role='row']", function (e) {
        $('#addCIGSequenceModal').modal("show");

        var grid = $("#CIGroupSequencetGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        $('#hdnSequenceId').val(model.SequenceId);
        $('#hdnLocationId').val(model.LocationId);
        $('#txtSequenceNo').val(model.SequenceNumber);
        $('#txtDescription').val(model.TaskDesc);
        $('#txtAltDescription').val(model.AltTaskDesc);
        $('#txtLocationNo').val(model.LocationNo);

        oldCIGSequence = {
            CleaningInspectionGroupId: ($('#CleaningInspectionGroupId').val() == '' || $('#CleaningInspectionGroupId').val() == 'undefined' ? 0 : $('#CleaningInspectionGroupId').val()),
            SequenceId: model.SequenceId,
            SequenceNumber: model.SequenceNumber,
            LocationId: model.LocationId,
            TaskDesc: model.TaskDesc,
            AltTaskDesc: model.AltTaskDesc,
            CreatedBy: model.CreatedBy,
            CreatedDate: model.CreatedDate,
            ModifiedBy: model.ModifiedBy,
            ModifiedDate: model.ModifiedDate
        };
    });

    function CIGroupSequenceEdit(sequenceId) {
        $('#addCIGSequenceModal').modal("show");
        if (sequenceId > 0) {
            var grid = $("#CIGroupSequencetGrid").data("kendoGrid");
            var data = $("#CIGroupSequencetGrid table td").find("a[data-id='" + sequenceId + "']").closest("tr");
            var model = grid.dataItem(data);

            $('#hdnSequenceId').val(model.SequenceId);
            $('#hdnLocationId').val(model.LocationId);
            $('#txtSequenceNo').val(model.SequenceNumber);
            $('#txtDescription').val(model.TaskDesc);
            $('#txtAltDescription').val(model.AltTaskDesc);
            $('#txtLocationNo').val(model.LocationNo);

            oldCIGSequence = {
                CleaningInspectionGroupId: ($('#CleaningInspectionGroupId').val() == '' || $('#CleaningInspectionGroupId').val() == 'undefined' ? 0 : $('#CleaningInspectionGroupId').val()),
                SequenceId: model.SequenceId,
                SequenceNumber: model.SequenceNumber,
                LocationId: model.LocationId,
                TaskDesc: model.TaskDesc,
                AltTaskDesc: model.AltTaskDesc,
                CreatedBy: model.CreatedBy,
                CreatedDate: model.CreatedDate,
                ModifiedBy: model.ModifiedBy,
                ModifiedDate: model.ModifiedDate
            };

        }
        else {


            $("#hdnSequenceId").val(0);
            $("#hdnLocationId").val('');
            $("#txtSequenceNo").val('');
            $("#txtLocationNo").val('');
            $("#txtDescription").val('');
            $("#txtAltDescription").val('');

            oldCIGSequence = {
                CleaningInspectionGroupId: ($('#CleaningInspectionGroupId').val() == '' || $('#CleaningInspectionGroupId').val() == 'undefined' ? 0 : $('#CleaningInspectionGroupId').val()),
                SequenceId: $("#hdnSequenceId").val(),
                SequenceNumber: -1,
                LocationId: $("#hdnLocationId").val(),
                TaskDesc: $("#txtDescription").val(),
                AltTaskDesc: $("#txtAltDescription").val()
            };

        }

    }

    //Add Edit CIG Sequence Number Submit Button Click Event

    $('#frmCIGSequence').on('submit', function (e) {
        if ($("#frmCIGSequence").valid()) {
            if (e.isDefaultPrevented()) {
                // handle the invalid form...
            } else {
                var flag = true;
                if ($("#hdnSequenceId").val() == "" || $("#hdnSequenceId").val() == "0") {

                    var tempdata = $("#CIGroupSequencetGrid").data("kendoGrid").dataSource._data;
                    for (i = 0; i < tempdata.length; i++) {
                        if (tempdata[i].SequenceNumber == $("#txtSequenceNo").val()) {
                            flag = false;
                        }
                    }

                }

                if (flag == false) {
                    var response = confirm('@ProjectSession.Resources.message.JobOrder_MsgSeqIdAlreadyExistWarning');

                    if (response) {
                        flag = true;
                    }
                    else {
                        e.preventDefault();
                        return false;
                    }
                }
                if (flag == true) {

                    $('#hdnSequenceId').val();
                    $('#CleaningInspectionGroupId').val();
                    $('#txtSequenceNo').val();
                    $('#hdnLocationId').val();
                    $("#txtDescription").val();
                    $("#txtAltDescription").val();

                    var changedObj = {
                        SequenceId: ($('#hdnSequenceId').val() == '' || $('#hdnSequenceId').val() == 'undefined' ? 0 : $('#hdnSequenceId').val()),
                        CleaningInspectionGroupId: $("#CleaningInspectionGroupId").val(),
                        SequenceNumber: $("#txtSequenceNo").val(),
                        LocationId: $("#hdnLocationId").val(),
                        TaskDesc: $("#txtDescription").val(),
                        AltTaskDesc: $("#txtAltDescription").val()
                    };

                    var oldObj = oldCIGSequence;
                    $.ajax({
                        url: '@Url.Action(Actions.AddEditCIGroupSequence,Controllers.Transaction, new { area = Areas.Transaction })',
                        type: "POST",
                        data: addRequestVerificationToken({ objOld: oldObj, objNew: changedObj, kendogriddata: JSON.stringify($("#CIGroupSequencetGrid").data("kendoGrid").dataSource.data()) }),
                        dataType: "json",
                        success: function (result) {
                            if (result[0] == 0) {
                                ShowMessage(result[1], result[2], "#divMessage");
                                $('#addCIGSequenceModal').modal("hide");
                                ReBindKendoGrid("CIGroupSequencetGrid");
                            }
                            else {
                                ShowMessage(result[1], result[2], "#divModelErrorJobItem");
                            }
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            showErrorMessage();
                        }
                    });
                    e.preventDefault();
                }
            }
        }
        else {
            e.preventDefault();
        }
    })

    $('#addCIGSequenceModal').on('hide.bs.modal', function (e) {
        if (validator1 != "")
            validator1.resetForm();
    });


    function ResetClick() {
        $('#txtSequenceNo').val("");
        $('#txtLocationNo').val("");
        $('#txtDescription').val("");
        $('#txtAltDescription').val("");
        $('#hdnSequenceId').val(0);
        $('#hdnLocationId').val(0);
    }

    function OpenLocationPopUp() {
        $("#locationGridModal").modal("show");
    }

    function onDataBoundLocation(arg) {
        gridProperPaging(this);
    }

    function onLocationAdditionalData() {
        return {
            strWhere: " and 1=1",
            text: $("#txtDescription").val(),
        };
    }

    function BindParameters() {
        return {
            strWhere: " and 1=1",
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function onLocationAutoSelect(e) {
        var model = this.dataItem(e.item.index());

        //Location
        $("#txtLocationNo").val(model.LocationNo);
        //$("#txtDescription").val(model.LocationDescription);
        $("#txtAltDescription").val(model.LocationAltDescription);
        $("#hdnLocationId").val(model.LocationID);
    }


    $("#locationGrid tbody").on("dblclick", "tr[role='row']", function (e) {
        var grid = $("#locationGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        $("#locationGridModal").modal("hide");

        //Location
        $("#txtLocationNo").val(model.LocationNo);
        $("#txtDescription").val(model.LocationDescription);
        $("#txtAltDescription").val(model.LocationAltDescription);
        $("#hdnLocationId").val(model.LocationID);

    });

    function ClearLocationData() {
        $("#hdnLocationId").val("");
        $("#txtLocationNo").val("");
        $("#txtDescription").val("");
        $("#txtAltDescription").val("");
    }

    function RedirectToCIGPage() {
        window.location.href = '@Url.Action(Actions.CleaningInspectionGroup, Controllers.Transaction, new { area = Areas.Transaction })';
    }

</script>