﻿@using CMMS.Infrastructure;
@using CMMS.Pages;
@using CMMS.Model
@using CMMS.Service
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.AntiForgeryToken()
<div class="head1">
    <h1>@ProjectSession.Resources.label.Store_TextBlockStoreCardFormList</h1>
    <ul class="sub_btn">
        @if (ProjectSession.PermissionAccess.RequestCard_Consumables_Createnewrecords)
        {
            <li>
                <a href="@Url.Action(Actions.ConsumablesDetail, Controllers.Transaction, new { area = Areas.Transaction, id = 0 })" title="@ProjectSession.Resources.label.Common_ButtonAdd" class="btn-icon btn-add"><i></i></a>
            </li>
        }
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-search" data-toggle="modal" data-target="#search-order" onclick='OpenAdvancedSearch("@ProjectSession.Resources.label.Store_TextBlockStoreCardFormList" ,"@SystemEnum.Pages.ConsumableList.GetHashCode()")' title="@ProjectSession.Resources.label.Common_ButtonAdvanceSearch"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-clear" title="@ProjectSession.Resources.label.Common_ButtonClear" onclick="return ClearAdvencedSearch(@SystemEnum.Pages.ConsumableList.GetHashCode());"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-refresh" onclick="ReBindKendoGrid('consumablesItemGrid');" title="@ProjectSession.Resources.label.Common_ButtonRefreshGrid"><i></i></a>
        </li>
        @if (ProjectSession.PermissionAccess.RequestCard_Consumables_Export)
        {
            <li>
                <a href="javascript:void(0);" class="btn-icon btn-xsl" onclick="ExportToExcel('consumablesItemGrid', 'CardId');" title="@ProjectSession.Resources.label.Common_ButtonExportToExcel"><i></i></a>
            </li>
        }
    </ul>
</div>

<div id="consumablesItemData" class="@ProjectSession.CultureKendoClass">
    @(Html.Kendo().Grid<CMMS.Model.SubStoreCardForm>()
        .Name("consumablesItemGrid")
        .Columns(columns =>
        {
            columns.Bound(c => c.Name).Title(ProjectSession.Resources.label.Employee_TextBlockEmployeeName).Width(160);

            columns.Bound(c => c.EmployeeNO).Title(ProjectSession.Resources.label.Employee_TextBlockEmployeeNO).Width(120);

            columns.Bound(c => c.DateValue).ClientTemplate("#= DateTemplate(data.DateValue) #").Title(ProjectSession.Resources.label.AssetTransfer_TextBlockDate).Width(150);

            columns.Bound(c => c.StatusName).Title(ProjectSession.Resources.label.AccountCode_TextBlockStatus).Visible(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true).Width(150)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterSubStoreStatus", "GridFilter", new { area = string.Empty, @id = "1" }).Data("BindParameters").Type(HttpVerbs.Post))));
            
            columns.Bound(c => c.StatusAltName).Title(ProjectSession.Resources.label.AccountCode_TextBlockStatus).Visible(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? true : false).Width(150)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterSubStoreStatus", "GridFilter", new { area = string.Empty, @id = "2" }).Data("BindParameters").Type(HttpVerbs.Post))));

            columns.Bound(c => c.CardNo).Title(ProjectSession.Resources.label.Store_TextBlockCardNo).Width(150);

            columns.Bound(c => c.FileNo).Title(ProjectSession.Resources.label.Store_TextBlockFileNo).Width(100);

            columns.Bound(c => c.PrivateNo).Title(ProjectSession.Resources.label.Store_TextBlockPrivateNo).Width(100);

            columns.Bound(c => c.SNo).Title(ProjectSession.Resources.label.Store_TextBlockSNo).Width(100);

            columns.Bound(c => c.SubStoreCode).Title(ProjectSession.Resources.label.Store_TextBlockStoreCode).Width(150)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterStore", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

            columns.Bound(c => c.SubStoreDesc).Title(ProjectSession.Resources.label.Store_TextBlockStoreDesc).Width(150);

            columns.Bound(c => c.AltSubStoreDesc).Title(ProjectSession.Resources.label.Store_TextBlockAltStoreDesc).Width(150);

            if (ProjectSession.PermissionAccess.RequestCard_Consumables_Editrecords)
            {
                columns.Bound(c => c.CardId).ClientTemplate("<center><a class='action'  style='cursor:pointer' href='" + Url.Action(Actions.ConsumablesDetail, Controllers.Transaction, new { area = Areas.Transaction, id = "#: CardId#" }) + "' ><i class='glyphicon glyphicon-pencil'></i></a></center>")
                                           .Title("<center>Action</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Width(60).Filterable(false);
            }

        })
        .Filterable()
        .Sortable(sortable => sortable.AllowUnsort(false))
        .Scrollable()
                .Excel(excel => excel.FileName(ProjectSession.Resources.label.Store_TextBlockStoreCardFormList + ".xlsx").Filterable(true).AllPages(true).ProxyURL(Url.Action("Excel_Export_Save", "GridExport", new { area = string.Empty })))
        .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
                .Events(events => events.DataBound("onDataBound").ExcelExport("excelExport"))
        .DataSource(dataSource =>
        dataSource.Ajax()
        .PageSize(ProjectConfiguration.PageSize)
        .Model(model =>
        {
            model.Id(p => p.CardId);
        })
        .ServerOperation(true)
        .Read(read => read.Action(Actions.GetConsumablesList, Controllers.Transaction, new { area = Areas.Transaction }).Data("BindParameters").Type(HttpVerbs.Post))
        )
    )


</div>

<!-- -------------search order------------- -->
<div id="search-order" class="modal fade" role="dialog"></div>


<script type="text/javascript">
    var kendoGridId = 'consumablesItemGrid';
    var intPageID = '@SystemEnum.Pages.ConsumableList.GetHashCode()';

    $(document).ready(function () {
        if ('@ViewBag.Message' != '' && '@ViewBag.MessageType' != '') {
            ShowMessage('@ViewBag.MessageType', '@ViewBag.Message', "#divMessage");
        }
    });

    function BindParameters() {
        return {
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };

    function onDataBound(arg) {
        gridProperPaging(this);
    }

    $("#consumablesItemGrid tbody").on("dblclick", "tr[role='row']", function (e) {
        var grid = $("#consumablesItemGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        location.href = '@Url.Action(Actions.ConsumablesDetail, Controllers.Transaction, new { area = Areas.Transaction })' + '?id=' + model.CardId;
    });

</script> 