﻿@model CMMS.Model.SubStoreCardForm
@using CMMS.Infrastructure;
@using CMMS.Pages;
@using CMMS.Model
@using CMMS.Service
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var isEditMode = false;

    if (Model.Status.ToString() != string.Empty && Model.Status != null && Model.Status == 4)
    {
        isEditMode = true;
    }
    else
    {
        isEditMode = false;
    }
}

<div class="head1">
    <h1>@ProjectSession.Resources.label.CleaningInspection_TextBlockConsumables</h1>
</div>
@Html.AntiForgeryToken()
<div class="box edit-job-order">
    <div class="nav-tabs-horizontal">
        <ul class="nav nav-tabs">
            <li class="active" id="tbl1"><a data-toggle="tab" href="#tb1" aria-controls="tb1">@ProjectSession.Resources.label.ItemRequisition_RadTabItemBasicInfo</a></li>
            @if (Model.CardId > 0)
            {
                <li role="presentation" id="tbl2"><a data-toggle="tab" href="#tb2" onclick="loadConsumablesAttachmentsTab();" aria-controls="tb2">@ProjectSession.Resources.label.PMChecklist_RadTabAttachment</a></li>
            }
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" onclick="ABC(this);"></a>
                <ul class="dropdown-menu smp">
                    <li class="active" id="tbl11"><a data-toggle="tab" href="#tb1" aria-controls="tb1">@ProjectSession.Resources.label.ItemRequisition_RadTabItemBasicInfo</a></li>
                    @if (Model.CardId > 0)
                    {
                        <li role="presentation" id="tbl12"><a data-toggle="tab" href="#tb2" onclick="loadConsumablesAttachmentsTab();" aria-controls="tb2">@ProjectSession.Resources.label.PMChecklist_RadTabAttachment</a></li>
                    }
                </ul>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="tb1">
                <form role="form" id="frmConsumables">
                    <div class="box-hed">
                        @if (ProjectSession.PermissionAccess.RequestCard_Consumables_Createnewrecords || ProjectSession.PermissionAccess.RequestCard_Consumables_Editrecords)
                        {
                            if (Model.Status != 4)
                            {
                                <button class="btn btn-primary" id="btnSave" name="btnSave" type="submit"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
                                if (Model.CardId > 0)
                                {
                                    <button class="btn btn-primary" id="btnCancel" name="btnCancel" type="button" onclick="lockIssue(3);"><span>@ProjectSession.Resources.label.Common_ButtonCancel</span></button>
                                }
                            }

                            if (Model.CardId > 0)
                            {
                                if (Model.Status != 4)
                                {
                                    <button class="btn btn-primary" id="btnLock" name="btnLock" type="button" onclick="lockIssue(4);"><span>@ProjectSession.Resources.label.Store_ButtonLock</span></button>
                                }
                                <button class="btn btn-primary" id="btnReturn" name="btnReturn" type="button" data-toggle="modal" data-target="#divStoreCardReturnModal" data-backdrop="static" onclick="OpenStorCardReturnModal(@Model.CardId,1);"><span>@ProjectSession.Resources.label.Store_ButtonReturn</span></button>
                            }
                            if (Model.Status != 2)
                            {
                                <button class="btn btn-primary" id="btnPrint" name="btnPrint" type="button" onclick="PrintConsumable()"><span>@ProjectSession.Resources.label.JobRequest_ButtonPrint</span></button>
                            }
                        }
                        <button class="btn btn-default" type="button" title="@ProjectSession.Resources.label.Common_ButtonClose" onclick="redirectToList();"><span>@ProjectSession.Resources.label.Common_ButtonClose</span></button>
                    </div>
                    <div class="information-form cus-form">
                        @Html.HiddenFor(model => model.CardId, new { @id = "hdnCardId" })
                        <div class="row">
                            <div class="form-group col-md-6 col-lg-4">
                                <label class="form-label">@ProjectSession.Resources.label.Store_TextBlockStoreCode<span class="cfont">*</span></label>
                                <div class="@ProjectSession.CultureKendoClass">
                                    @(Html.Kendo().DropDownListFor(model => model.SubStoreIdRef)
                                                .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                                .DataTextField("SubStoreCode")
                                                .DataValueField("SubStoreID")
                                                .Enable(false)
                                                .HtmlAttributes(new { style = "width: 100%", @required = "required" })
                                                .Template("#= KendoDDLTemplate(data.SubStoreCode ,data.SubStoreDesc, data.AltSubStoreDesc) #")
                                                .DataSource(source =>
                                                {
                                                    source.Read(read =>
                                                    {
                                                        read.Action(Actions.GetStoresList, Controllers.Configurations, new { area = Areas.Configurations });
                                                    });
                                                })
                                               .Value(Convert.ToString(Model.SubStoreIdRef))
                                    )
                                </div>
                            </div>
                            <div class="form-group col-md-6 col-lg-4">
                                <label class="form-label">@ProjectSession.Resources.label.Store_TextBlockSubDept</label>
                                <div class="@ProjectSession.CultureKendoClass">
                                    @(Html.Kendo().DropDownListFor(model => model.MaintSubDeptID)
                                                .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                                .DataTextField("MaintSubDeptCode")
                                                .DataValueField("MaintSubDeptID")
                                                .Enable(!isEditMode)
                                                .Events(m => m.Change("ChangeSubDeptment"))
                                                .HtmlAttributes(new { style = "width: 100%" })
                                                .Template("#= KendoDDLTemplate(data.MaintSubDeptCode ,data.MaintSubDeptDesc, data.MaintSubDeptAltDesc) #")
                                                .DataSource(source =>
                                                {
                                                    source.Read(read =>
                                                    {
                                                        read.Action(Actions.GetMaintenanceSubDepartments, Controllers.Configurations, new { area = Areas.Configurations });
                                                    });
                                                })
                                                .Value(Convert.ToString(Model.MaintSubDeptID))
                                    )
                                </div>
                            </div>
                            <div class="form-group two-form-group col-md-6 col-lg-4">
                                <label class="form-label">@ProjectSession.Resources.label.Employee_TextBlockEmployeeName<span class="cfont">*</span></label>
                                <div class="input-group pm-checklist">
                                    @Html.HiddenFor(model => model.EmployeeId, new { @id = "hdnEmployeeId" })
                                    @Html.TextBoxFor(model => model.Positions, new { @class = "form-control code-input", @readonly = "readonly", @id = "txtPositions", @Placeholder = @ProjectSession.Resources.label.Employee_TextBlockDesignation })
                                    @*@Html.TextBoxFor(model => model.Name, new { @class = "form-control ", @readonly = "readonly", @id = "txtEmployeeName", @Placeholder = @ProjectSession.Resources.label.Employee_TextBlockEmployeeName })*@

                                    @(Html.Kendo().AutoCompleteFor(model => model.Name)
                                     .DataTextField("Name")
                                     .HtmlAttributes(new { @class = "form-control", @id = "txtEmployeeName" })
                                    .Filter("contains")
                                    .Template("#= KendoDDLTemplateForTwoColumn( data.Positions, data.Name) #")
                                    .MinLength(3)
                                    .Placeholder(ProjectSession.Resources.label.Employee_TextBlockEmployeeName)
                                    .Events(m => m.Select("onEmployeeAutoSelect"))
                                    .DataSource(source =>
                                     {
                                         source.Read(read =>
                                         {
                                             read.Action(Actions.GetEmployeesBySubDeptIDAutoDDL, Controllers.AutoComplete, new { area = Areas.Configurations }).Data("onEmployeeAdditionalData");
                                         })
                                     .ServerFiltering(true);
                                     })
                                     .Value(Convert.ToString(Model.Name))
                                    )

                                    <a href="#" class="checklis-btn" data-toggle="modal" data-backdrop="static" onclick="OpenEmployeePopUp()" id="btnOpen">
                                        <img src="../images/checklis-icon.png" alt="">
                                    </a>
                                    <a href="javascript:void(0);" class="close-btn" title="@ProjectSession.Resources.label.Common_ButtonClear" onclick="ClearEmployeeData();" id="btnClearEmployee">
                                        <img src="../images/close.png" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="form-group col-md-6 col-lg-4">
                                <label class="form-label">@ProjectSession.Resources.label.AssetTransfer_TextBlockDate</label>
                                <div class="input-group date-pick">
                                    @Html.TextBoxFor(model => model.DateValue, "{0:" + ProjectConfiguration.DefaultDateFormat + "}", new { placeholder = ProjectConfiguration.DefaultDateFormat, @class = "form-control calendarsPicker", id = "txtDateValue" })
                                </div>
                            </div>
                            <div class="form-group col-md-6 col-lg-4">
                                <label class="form-label">@ProjectSession.Resources.label.Store_TextBlockSNo</label>
                                @Html.TextBoxFor(model => model.SNo, new { @class = "form-control decimalnumber", @Placeholder = @ProjectSession.Resources.label.Store_TextBlockSNo })
                            </div>
                            <div class="form-group col-md-6 col-lg-4">
                                <label class="form-label">@ProjectSession.Resources.label.Store_TextBlockCardNo<span class="cfont">*</span></label>
                                @Html.TextBoxFor(model => model.CardNo, new { @class = "form-control decimalnumber", @Placeholder = @ProjectSession.Resources.label.Store_TextBlockCardNo })
                            </div>
                            <div class="form-group col-md-6 col-lg-4">
                                <label class="form-label">@ProjectSession.Resources.label.Store_TextBlockFileNo</label>
                                @Html.TextBoxFor(model => model.FileNo, new { @class = "form-control decimalnumber", @Placeholder = @ProjectSession.Resources.label.Store_TextBlockFileNo })
                            </div>
                            <div class="form-group col-md-6 col-lg-4">
                                <label class="form-label">@ProjectSession.Resources.label.Store_TextBlockPrivateNo</label>
                                @Html.TextBoxFor(model => model.PrivateNo, new { @class = "form-control decimalnumber", @Placeholder = @ProjectSession.Resources.label.Store_TextBlockPrivateNo })
                            </div>
                            <div class="form-group col-md-6 col-lg-4">
                                <label class="form-label">@ProjectSession.Resources.label.AccountCode_TextBlockStatus</label>
                                <div class="@ProjectSession.CultureKendoClass">
                                    @(Html.Kendo().DropDownListFor(model => model.Status)
                                                .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                                .DataTextField("StatusName")
                                                .DataValueField("SubStoreStatusId")
                                                .Enable(false)
                                                .HtmlAttributes(new { style = "width: 100%" })
                                                .Template("#= KendoDDLTemplate('',data.StatusName, data.StatusAltName) #")
                                                .DataSource(source =>
                                                {
                                                    source.Read(read =>
                                                    {
                                                        read.Action(Actions.GetSubStoreStatus, Controllers.Transaction, new { area = Areas.Transaction });
                                                    });
                                                })
                                                .Value(Convert.ToString(Model.Status))
                                    )
                                </div>
                            </div>
                        </div>
                    </div>

                    @if (Model.CardId > 0)
                    {
                        <div class="information-form cus-form">
                            <h3 class="sub-title">
                                <span>@ProjectSession.Resources.label.JobOrder_TextBlockIssues</span>
                                @if (ProjectSession.PermissionAccess.RequestCard_Consumables_Createnewrecords)
                                {
                                    if (Model.Status != 4)
                                    {
                                        <div class="sub_btn">
                                            <a href="#" class="btn-icon btn-add" data-backdrop="static" data-toggle="modal" data-target="#SubStoreCardDetailModal" title='@ProjectSession.Resources.label.Common_ButtonAdd'><i></i></a>
                                        </div>
                                    }
                                }
                            </h3>
                            @(Html.Kendo().Grid<CMMS.Model.SubStoreCardFormDetail>()
                        .Name("subStoreCardFromDetailGrid")
                        .HtmlAttributes(new { @class = "kl-grid" })
                        .Columns(columns =>
                        {
                            columns.Bound(c => c.StockNo).Title(ProjectSession.Resources.label.ItemRequisition_TextBlockItemNo);

                            columns.Bound(c => c.StockDescription).Title(ProjectSession.Resources.label.ItemList_TextBlockPartDescription);

                            columns.Bound(c => c.AltStockDescription).Title(ProjectSession.Resources.label.ItemList_TextBlockAltPartDesc);

                            columns.Bound(c => c.QtyIssue).ClientTemplate("#= DecimalTempalte(data.QtyIssue,2) #").Title(ProjectSession.Resources.label.JobPlan_TextBlockQuantity);

                            columns.Bound(c => c.UOM).Title(ProjectSession.Resources.label.Item_TextBlockUOM);

                            columns.Bound(c => c.Remarks).Title(ProjectSession.Resources.label.AssetTransfer_TextBlockRemarks);

                            if (ProjectSession.PermissionAccess.RequestCard_Consumables_Deleterecords)
                            {
                                columns.Bound(c => c.CardIssueId).ClientTemplate("<center>" + "<a class='action delete-button'  href='javascript:void(0);'  class='delete-ic' data-id='#: CardIssueId #' style='cursor:pointer'><i class='glyphicon glyphicon-trash' title='" + ProjectSession.Resources.label.Common_ButtonDelete + "' ></i></a>" + "</center>")
                                                .Title("<center>" + ProjectSession.Resources.label.Common_ButtonAction + "</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Width(80);
                            }

                        })
                       .Sortable(sortable => sortable.AllowUnsort(false))
                       .Scrollable()
                       .Excel(excel => excel.FileName(ProjectSession.Resources.label.JobOrder_TextBlockIssues + ".xlsx").Filterable(true).AllPages(true))
                       .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
                       .Events(events => events.DataBound("onDataBoundForSubStoreCardFormDetail"))
                        .DataSource(dataSource =>
                        dataSource.Ajax()
                        .PageSize(ProjectConfiguration.PageSize)
                        .Model(model =>
                        {
                            model.Id(p => p.CardIssueId);
                        })
                        .ServerOperation(true)
                        .Read(read => read.Action(Actions.GetSubStoreCardFormDetailByCardID, Controllers.Transaction, new { area = Areas.Transaction }).Data("BindParametersForSubStoreCardFormDetail").Type(HttpVerbs.Post))
                        )
                            )
                        </div>
                    }

                    <div class="box-footer">
                        @if (ProjectSession.PermissionAccess.RequestCard_Consumables_Createnewrecords || ProjectSession.PermissionAccess.RequestCard_Consumables_Editrecords)
                        {
                            if (Model.Status != 4)
                            {
                                <button class="btn btn-primary" id="btnSave" name="btnSave" type="submit"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
                                if (Model.CardId > 0)
                                {
                                    <button class="btn btn-primary" id="btnCancel" name="btnCancel" type="button" onclick="lockIssue(3);"><span>@ProjectSession.Resources.label.Common_ButtonCancel</span></button>
                                }
                            }

                            if (Model.CardId > 0)
                            {
                                if (Model.Status != 4)
                                {
                                    <button class="btn btn-primary" id="btnLock" name="btnLock" type="button" onclick="lockIssue(4);"><span>@ProjectSession.Resources.label.Store_ButtonLock</span></button>
                                }
                                <button class="btn btn-primary" id="btnReturn" name="btnReturn" type="button" data-toggle="modal" data-target="#divStoreCardReturnModal" data-backdrop="static" onclick="OpenStorCardReturnModal(@Model.CardId,1);"><span>@ProjectSession.Resources.label.Store_ButtonReturn</span></button>
                            }
                            if (Model.Status != 2)
                            {
                                <button class="btn btn-primary" id="btnPrint" name="btnPrint" type="button"><span>@ProjectSession.Resources.label.JobRequest_ButtonPrint</span></button>
                            }
                        }
                        <button class="btn btn-default" type="button" title="@ProjectSession.Resources.label.Common_ButtonClose" onclick="redirectToList();"><span>@ProjectSession.Resources.label.Common_ButtonClose</span></button>
                    </div>
                </form>
            </div>
            @if (Model.CardId > 0)
            {
                <div class="tab-pane" id="tb2">
                    <div class="box-hed">
                        <button class="btn btn-default" type="button" title="@ProjectSession.Resources.label.Common_ButtonCancel" onclick="redirectToList();"><span>@ProjectSession.Resources.label.Common_ButtonCancel</span></button>
                    </div>
                    <div class="information-form">
                        <div id="divExternalDocument">
                        </div>
                    </div>
                    <div class="box-footer">
                        <button class="btn btn-default" type="button" title="@ProjectSession.Resources.label.Common_ButtonCancel" onclick="redirectToList();"><span>@ProjectSession.Resources.label.Common_ButtonCancel</span></button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<!-- -------------Manage Item------------- -->
<div id="SubStoreCardDetailModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-mg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"></button>
                <h4 class="modal-title">@ProjectSession.Resources.label.Item_TextblockItemDetails</h4>
            </div>
            <form role="form" id="frmSubStoreCardDetail">
                <div class="modal-body">
                    <div class="tab-pane active" role="tabpanel">
                        <div class="form-horizontal">
                            <div id="divModelError"></div>
                            <div class="form-group">
                                <label class="col-sm-4  control-label">@ProjectSession.Resources.label.ItemRequisition_TextBlockItemNo<span class="cfont">*</span></label>
                                <div class="col-sm-8">
                                    <div class="input-group pm-checklist">
                                        @Html.Hidden("hdnIssueStockID", "", new { @id = "hdnIssueStockID" })
                                        @Html.TextBox("txtIssueStockNo", "", new { @class = "form-control code-input", @readonly = "readonly", @id = "txtIssueStockNo", @Name = "txtIssueStockNo", @Placeholder = @ProjectSession.Resources.label.ItemRequisition_TextBlockItemNo })

                                        <a href="#" class="checklis-btn" id="btnOpenAddItemPopUp" data-toggle="modal" data-backdrop="static" onclick="OpenItemsPopUp()">
                                            <img src="../images/checklis-icon.png" alt="">
                                        </a>
                                        <a href="javascript:void(0);" class="close-btn" id="btnClearIssue" title="@ProjectSession.Resources.label.Common_ButtonClear" onclick="ClearWOIssues();">
                                            <img src="../images/close.png" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.ItemList_TextBlockPartDescription</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="txtPartDescription" readonly="readonly" maxlength="200" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.ItemList_TextBlockPartDescription">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.JobPlan_TextBlockQuantity<span class="cfont">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control decimalnumbernominus" id="txtQuantity" maxlength="9" name="txtQuantity" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.JobPlan_TextBlockQuantity">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.AssetTransfer_TextBlockRemarks</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="txtRemark" maxlength="1000" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.AssetTransfer_TextBlockRemarks">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer box-footer">
                    @if (ProjectSession.PermissionAccess.RequestCard_Consumables_Createnewrecords || ProjectSession.PermissionAccess.RequestCard_Consumables_Editrecords)
                    {
                        <button type="button" class="btn btn-primary" id="btnSaveItem"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
                    }
                    <button type="button" class="btn btn-default" data-dismiss="modal">@ProjectSession.Resources.label.Common_ButtonClose</button>
                </div>
            </form>
        </div>

    </div>
</div>

<div id="ItemsGridModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" title="@ProjectSession.Resources.label.Common_ButtonClose"></button>
                <h4 class="modal-title">@ProjectSession.Resources.label.Item_TextblockItemDetails</h4>
            </div>
            <div class="modal-body">
                <div id="Highlights" class="tab-pane active" role="tabpanel">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div id="itemData" class="@ProjectSession.CultureKendoClass">
                                    @(Html.Kendo().Grid<CMMS.Model.StockCode>()
                                            .Name("itemsGrid")
                                            .HtmlAttributes(new { @class = "kl-grid" })
                                    .Columns(columns =>
                                    {
                                        columns.Bound(c => c.StockID).Hidden(true);

                                        columns.Bound(c => c.Balanace).ClientTemplate("#= DecimalTempalte(data.Balanace,2) #").Title(ProjectSession.Resources.label.JobOrder_TextBlockBalance).Width(120);

                                        columns.Bound(c => c.StockNo).Title(ProjectSession.Resources.label.ItemList_TextBlockPartNumber).Width(170);

                                        columns.Bound(c => c.StockDescription).Title(ProjectSession.Resources.label.ItemList_TextBlockPartDescription).Width(170);

                                        columns.Bound(c => c.AltStockDescription).Title(ProjectSession.Resources.label.ItemList_TextBlockAltPartDesc).Width(170);

                                        columns.Bound(c => c.StatusText).Title(ProjectSession.Resources.label.AccountCode_TextBlockStatus).Width(120);

                                        columns.Bound(c => c.Specification).Title(ProjectSession.Resources.label.JobPlan_TextBlockSpecification).Width(170);

                                        columns.Bound(c => c.Manufacturer).Title(ProjectSession.Resources.label.Asset_TextBlockManufacturer).Width(170);

                                        columns.Bound(c => c.Criticality).Title(ProjectSession.Resources.label.Item_CheckBoxCritical).Width(120);

                                        columns.Bound(c => c.AttrName).Title(ProjectSession.Resources.label.ItemType_TextBlockItemType).Width(120)
                                        .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterStoreItemType", "GridFilter", new { area = string.Empty }).Data("BindParametersItems").Type(HttpVerbs.Post))));

                                        columns.Bound(c => c.AttrSubName).Title(ProjectSession.Resources.label.ItemSubType_TextBlockPartSubType).Width(170)
                                        .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterStoreItemSubType", "GridFilter", new { area = string.Empty }).Data("BindParametersItems").Type(HttpVerbs.Post))));
                                    })
                                    .Filterable()
                                    .Sortable(sortable => sortable.AllowUnsort(false))
                                    .Scrollable()
                                            .Pageable(pageable => pageable.PageSizes(CMMS.Pages.General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
                                    .Events(events => events.DataBound("onDataBoundItems"))
                                    .Excel(excel => excel.FileName(ProjectSession.Resources.label.Item_TextblockItemDetails + ".xlsx").Filterable(true).AllPages(false))
                                    .DataSource(dataSource => dataSource.Ajax()
                                    .PageSize(ProjectConfiguration.PageSize)
                                     .Model(model =>
                                     {
                                         model.Id(p => p.StockID);
                                         model.Field(p => p.StockNo);
                                     })
                                    .ServerOperation(true)
                                    .Read(read => read.Action(CMMS.Pages.Actions.GetStockCodes, CMMS.Pages.Controllers.Transaction, new { area = CMMS.Pages.Areas.Transaction }).Data("BindParametersItems").Type(HttpVerbs.Post))
                                    )
                                   .Resizable(resize => resize.Columns(true))
                                    )

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Employee Grid Modal-->
<div id="employeeGridModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" title="@ProjectSession.Resources.label.Common_ButtonClose"></button>
                <h4 class="modal-title">@ProjectSession.Resources.label.Employee_RadTabItemEmployee</h4>
            </div>
            <div class="modal-body">
                <div id="Highlights" class="tab-pane active" role="tabpanel">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div id="employeeData" class="@ProjectSession.CultureKendoClass">
                                    @(Html.Kendo().Grid<CMMS.Model.employees>()
                                    .Name("employeeGrid")
                                    .Columns(columns =>
                                    {
                                        columns.Bound(c => c.EmployeeNO).Title(ProjectSession.Resources.label.Employee_TextBlockEmployeeNO).Width(150);

                                        columns.Bound(c => c.L2Code).Title(ProjectSession.Resources.label.JobRequest_TextBlockCityCode).Width(150)
                                        .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterSite", "GridFilter", new { area = string.Empty }).Data("BindParametersEmp").Type(HttpVerbs.Post))));

                                        columns.Bound(c => c.Name).Title(ProjectSession.Resources.label.Employee_TextBlockEmployeeName).Width(200);

                                        columns.Bound(c => c.MaintDivisionCode).Title(ProjectSession.Resources.label.MaintDivision_TextBlockMaintDivCode).Width(150)
                                        .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterMaintenanceDivision", "GridFilter", new { area = string.Empty }).Data("BindParametersEmp").Type(HttpVerbs.Post))));

                                        columns.Bound(c => c.MaintDeptCode).Title(ProjectSession.Resources.label.MaintenanceDept_TextBlockMaintDeptCode).Width(150)
                                        .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterMaintenanceDepartment", "GridFilter", new { area = string.Empty }).Data("BindParametersEmp").Type(HttpVerbs.Post))));

                                        columns.Bound(c => c.MaintSubDeptCode).Title(ProjectSession.Resources.label.MaintenanceSubDept_TextBlockMaintSubDeptCode).Width(180)
                                        .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterMaintenanceSubDepartment", "GridFilter", new { area = string.Empty }).Data("BindParametersEmp").Type(HttpVerbs.Post))));

                                        columns.Bound(c => c.Positions).Title(ProjectSession.Resources.label.Employee_TextBlockDesignation).Width(150);

                                        columns.Bound(c => c.CategoryName).Title(ProjectSession.Resources.label.Employee_TextBlockEmployeeCategory).Width(200)
                                        .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterEmpCategory", "GridFilter", new { area = string.Empty, @id = "1" }).Data("BindParametersEmp").Type(HttpVerbs.Post))));

                                        columns.Bound(c => c.EmployeeStatus).Title(ProjectSession.Resources.label.Employee_TextBlockEmployeeStatus).Width(150)
                                        .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterEmpStatus", "GridFilter", new { area = string.Empty, @id = "1" }).Data("BindParametersEmp").Type(HttpVerbs.Post))));

                                    })
                                    .Filterable()
                                    .Sortable(sortable => sortable.AllowUnsort(false))
                                    .Scrollable()
                                    .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
                                    .Events(events => events.DataBound("onDataBoundEmployee"))
                                    .DataSource(dataSource => dataSource.Ajax()
                                    .PageSize(ProjectConfiguration.PageSize)
                                     .Model(model =>
                                     {
                                         model.Id(p => p.EmployeeID);
                                         model.Field(p => p.Name);
                                     })
                                    .ServerOperation(true)
                                    .Read(read => read.Action(Actions.GetEmployeesBySubDeptID, Controllers.Transaction, new { area = Areas.Transaction }).Data("BindParametersEmp").Type(HttpVerbs.Post))
                                    )
                                    )

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="divStoreCardReturnModal" role="dialog"></div>

<script> 

    $('.decimalnumbernominus').on('keypress', function (evt) {
        var val = $(this).val();
        var iKeyCode = (evt.which) ? evt.which : evt.keyCode;
        if (iKeyCode == 45) {
            return false;
        }
        if (iKeyCode != 46 && iKeyCode != 39 && iKeyCode != 37 && iKeyCode != 45 && iKeyCode > 31 && (iKeyCode < 48 || iKeyCode > 57)) {
            return false;
        }
        if (iKeyCode == 46 && val.indexOf('.') > -1) {
            return false;
        }
        return true;
    });

    function OpenStorCardReturnModal(id, isType) {
        $("#divStoreCardReturnModal").html('');
        var url = '@Url.Action(Actions._StoreCardReturnPopup, Controllers.Transaction, new { Area = Areas.Transaction })' + "?cardId=" + id + "&isType=" + isType;
        $("#divStoreCardReturnModal").load(url);
    }

    $(document).ready(function () {

        if ('@Model.Status' == '4') {
            $("#txtDateValue").attr("disabled", "disabled");
            $("#SNo").attr("disabled", "disabled");
            $("#CardNo").attr("disabled", "disabled");
            $("#PrivateNo").attr("disabled", "disabled");
            $("#FileNo").attr("disabled", "disabled");
            $("#Status").attr("disabled", "disabled");
            $("#btnOpen").css("display", "none");
            $('#txtEmployeeName').addClass('disabled');
            $("#btnClearEmployee").css("display", "none");
        }

        if ('@ViewBag.Message' != '' && '@ViewBag.MessageType' != '') {
            ShowMessage('@ViewBag.MessageType', '@ViewBag.Message', "#divMessage");
        }
    });


</script>

<script>
    var intPageID = '@SystemEnum.Pages.ConsumableList.GetHashCode()';

    var isLoadedAttachmentsTab = false;
    function loadConsumablesAttachmentsTab() {
        if (isLoadedAttachmentsTab == false && '@Model.CardId' != '0') {
            var url = '@Url.Action(Actions._GetConsumablesDocuments, Controllers.Transaction, new { Area = Areas.Transaction })' + '?id=' + $('#hdnCardId').val();
            $("#divExternalDocument").load(url);
            isLoadedAttachmentsTab = true;
        }
    }

    function onDataBoundDocument(arg) {
        confirmDeleteMsg(msgText, okText, cancelText, onConfirmCallbackDocument, confirmDirection);
        gridProperPaging(this);
    }

    function BindParametersDocument() {
        return {
            foreignKeyID: $('#hdnFkId').val(),
            moduleType: $('#hdnDocumentModuleType').val(),
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()

        }
    }

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };

    function onConfirmCallbackDocument(sender) {
        var id = $(this).data("id");
        $.ajax({
            url: '@Url.Action(Actions.DeleteDocument, Controllers.Transaction, new { area = Areas.Transaction })',
            type: "POST",
            data: addRequestVerificationToken({ autoID: id }),
            dataType: "json",
            success: function (result) {
                ShowMessage(result[0], result[1], "#divMessage");
                ReBindKendoGrid("DocumentGrid");
                $('#divFileName').css('display', 'none');
                $('#FileDescription').val('');
                $('#lblFileName').text('');
            },
            error: function (xhr, ajaxOptions, thrownError) {
                showErrorMessage();
            }
        });
    }

    function redirectToList() {
        location.href = '@Url.Action(Actions.ConsumablesList, Controllers.Transaction, new { @area = Areas.Transaction })';
    }

    function onDataBoundForSubStoreCardFormDetail(arg) {
        confirmDeleteMsg(msgText, okText, cancelText, onConfirmCallback, confirmDirection);
        gridProperPaging(this);
    }

    function BindParametersForSubStoreCardFormDetail() {
        return {
            cardId: $('#hdnCardId').val(),
            returnStore: 0,
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function onConfirmCallback(sender) {
        var id = $(this).data("id");
        if ('@Model.Status' == 4) {
            ShowMessage('@SystemEnum.MessageType.danger.ToString()', '@ProjectSession.Resources.message.Store_MsgStatusalreadyIssued', "#divMessage");
        }
        else {
            $.ajax({
                url: '@Url.Action(Actions.DeleteSubStoreCardDetail, Controllers.Transaction, new { area = Areas.Transaction })',
                type: "POST",
                data: addRequestVerificationToken({ cardIssueId: id }),
                dataType: "json",
                success: function (result) {
                    ShowMessage(result[0], result[1], "#divMessage");
                    ReBindKendoGrid("subStoreCardFromDetailGrid");
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }
    }

    function BindParametersForSubStoreRetuen() {
        return {
            cardId: $('#hdnCardId').val(),
            returnStore: 1,
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }
</script>

<script>
    $('#SubStoreCardDetailModal').on('hide.bs.modal', function (e) {
        ClearWOIssues();
        $('#txtRemark').val('');
        $('#txtQuantity').val('');
        if (validator1 != "")
            validator1.resetForm();
    });

    function OpenItemsPopUp() {
        $("#ItemsGridModal").modal("show");
    }

    function onDataBoundItems() {
        gridProperPaging(this);
    }

    function BindParametersItems() {
        var substoreId = $("#SubStoreIdRef").val() == '' ? 39 : $("#SubStoreIdRef").val();
        return {
            showBalance: true,
            subStoreID: substoreId,
            strWhere: " and stockcode.StockID in (select Stock_ID from stockcode_levels where sub_store_id= " + substoreId + " and balance > 0 ) ",
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function ClearWOIssues() {
        $('#hdnIssueStockID').val('');
        $('#txtIssueStockNo').val('');
        $('#txtPartDescription').val('');
    }

    $("#itemsGrid tbody").on("dblclick", "tr[role='row']", function (e) {
        var grid = $("#itemsGrid").data("kendoGrid");
        var model = grid.dataItem(this);

        $('#hdnIssueStockID').val(model.StockID);
        $('#txtIssueStockNo').val(model.StockNo);
        $('#txtPartDescription').val(model.StockDescription);
        $("#ItemsGridModal").modal("hide");
    });

    validator1 = $('#frmSubStoreCardDetail').validate({
        rules: {
            txtIssueStockNo: { required: true },
            txtQuantity: { required: true },
        },
        messages: {
            txtIssueStockNo: { required: '' },
            txtQuantity: { required: '' }
        }
    });

    $('#btnSaveItem').click(function (e) {
        if ($("#frmSubStoreCardDetail").valid()) {
            if (e.isDefaultPrevented()) {
                // handle the invalid form...
            } else {
                var changedObj = {
                    CardIRef: $('#hdnCardId').val(),
                    StockId: $('#hdnIssueStockID').val(),
                    QtyIssue: isNotUndefinedNullOrBlankOrZero("txtQuantity") ? $('#txtQuantity').val() : 0,
                    Remarks: $('#txtRemark').val(),
                };
                $.ajax({
                    url: '@Url.Action(Actions.ManageSubStoreCardFormDetail, Controllers.Transaction, new { area = Areas.Transaction })',
                    type: "POST",
                    data: addRequestVerificationToken(changedObj),
                    dataType: "json",
                    success: function (result) {
                        if (result[0] == 0) {
                            ShowMessage(result[1], result[2], "#divModelError");
                        }
                        else {
                            $('#SubStoreCardDetailModal').modal("hide");
                            ShowMessage(result[0], result[1], "#divMessage");
                            ReBindKendoGrid("subStoreCardFromDetailGrid");
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        showErrorMessage();
                    }
                });
                e.preventDefault();
            }
        }
        else {
            e.preventDefault();
        }
    });
</script>

<script>

    function ChangeSubDeptment(e) {
        ReBindKendoGrid("employeeGrid");
    }

    function OpenEmployeePopUp() {
        $("#employeeGridModal").modal("show");
    }

    function ClearEmployeeData() {
        $("#hdnEmployeeId").val("");
        $("#txtEmployeeNO").val("");
        $("#txtEmployeeName").val("");
        $("#txtPositions").val("");
    }

    function onDataBoundEmployee(arg) {
        gridProperPaging(this);
    }

    function onEmployeeAdditionalData() {
        return {
            subDeptID: $("#MaintSubDeptID").val() == "" ? 0 : $("#MaintSubDeptID").val(),
            text: $("#txtEmployeeName").val(),
        };
    }

    function BindParametersEmp() {
        return {
            subDeptID: $("#MaintSubDeptID").val() == "" ? 0 : $("#MaintSubDeptID").val(),
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function PrintConsumable() {
        var cardId = $('#hdnCardId').val();
        //location.href='@Url.Action(CMMS.Pages.Actions.PrintConsumables, CMMS.Pages.Controllers.Transaction)?workOrderNo=' + workOrderNo;
        window.open('@Url.Action(CMMS.Pages.Actions.PrintConsumables, CMMS.Pages.Controllers.Transaction)?cardId=' + cardId, "_blank");
    }

    function onEmployeeAutoSelect(e) {
        var model = this.dataItem(e.item.index());
        $("#hdnEmployeeId").val(model.EmployeeID);
        $("#txtEmployeeNO").val(model.EmployeeNO);
        //$("#txtEmployeeName").val(model.Name);
        $("#txtPositions").val(model.Positions);
    }


    $("#employeeGrid tbody").on("dblclick", "tr[role='row']", function (e) {
        var grid = $("#employeeGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        $("#employeeGridModal").modal("hide");

        $("#hdnEmployeeId").val(model.EmployeeID);
        $("#txtEmployeeNO").val(model.EmployeeNO);
        $("#txtEmployeeName").val(model.Name);
        $("#txtPositions").val(model.Positions);

    });
</script>

<script>
    validator = $('#frmConsumables').validate({
        rules: {
            Name: { required: true },
            CardNo: { required: true },
        },
        messages: {
            Name: { required: '' },
            CardNo: { required: '' }
        }
    });

    $('#frmConsumables').on('submit', function (e) {

        if (!isNotUndefinedNullOrBlankOrZero('hdnEmployeeId', true)) {
            e.preventDefault();
            $("#txtEmployeeName").addClass("kendoDrpRequired");
            e.preventDefault();
            return false;
        }

        if ($("#frmConsumables").valid()) {
            if (e.isDefaultPrevented()) {
                // handle the invalid form...
            } else {
                if (reValidateDropDowns($(this))) {
                    var cardId = $("#hdnCardId").val();
                    var changedObj = {
                        CardId: cardId == '' ? 0 : cardId,
                        MaintSubDeptID: $("#MaintSubDeptID").val(),
                        EmployeeId: $("#hdnEmployeeId").val(),
                        DateValue: $("#txtDateValue").val(),
                        SNo: $("#SNo").val(),
                        CardNo: $("#CardNo").val(),
                        PrivateNo: $("#PrivateNo").val(),
                        FileNo: $("#FileNo").val(),
                        Status: $("#Status").val(),
                        SubStoreIdRef: $("#SubStoreIdRef").val() //39
                    };
                    if (validateDate($("#txtDateValue").val())) {
                        if (new Date($("#txtDateValue").val()) > new Date()) {
                            ShowMessage('@SystemEnum.MessageType.danger.ToString()', '@ProjectSession.Resources.message.PM_MsgDateNotValid', "#divMessage");
                            e.preventDefault();
                        }
                        else {
                            $.ajax({
                                url: '@Url.Action(Actions.ManageConsumables, Controllers.Transaction, new { area = Areas.Transaction })',
                                type: "POST",
                                data: addRequestVerificationToken(changedObj),
                                dataType: "json",
                                success: function (result) {
                                    if (result[0] == 0) {
                                        ShowMessage(result[1], result[2], "#divMessage");
                                    }
                                    else {
                                        ShowMessage(result[0], result[1], "#divMessage");
                                        setTimeout(function () { window.location.href = '@Url.Action(Actions.ConsumablesDetail, Controllers.Transaction, new { area = Areas.Transaction })' + '?id=' + result[2]; }, 1000);
                                    }
                                },
                                error: function (xhr, ajaxOptions, thrownError) {
                                    showErrorMessage();
                                }
                            });
                        }
                    }
                    else {
                        ShowMessage('@SystemEnum.MessageType.danger.ToString()', '@ProjectSession.Resources.message.Common_MsgValidFormatDate', "#divMessage");
                        return false;
                        e.preventDefault();
                    }
                }
                e.preventDefault();
            }
        }
        else {
            e.preventDefault();
        }
    })
</script>

<script>
    function lockIssue(statusId) {
        var stockItems = $("#subStoreCardFromDetailGrid").data("kendoGrid").dataSource.data().length;
        if (stockItems > 0) {
            $.ajax({
                url: '@Url.Action(Actions.ManageLockIssue, Controllers.Transaction, new { area = Areas.Transaction })',
                type: "POST",
                data: addRequestVerificationToken({ cardId: $("#hdnCardId").val(), statusId: statusId }),
                dataType: "json",
                success: function (result) {
                    if (result[0] == 0) {
                        ShowMessage(result[1], result[2], "#divMessage");
                        return false;
                    }
                    else {
                        ShowMessage(result[0], result[1], "#divMessage");
                        setTimeout(function () { window.location.href = '@Url.Action(Actions.ConsumablesDetail, Controllers.Transaction, new { area = Areas.Transaction })' + '?id=' + result[2]; }, 1000);
                        return false;
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }
        else {
            ShowMessage('@CMMS.Infrastructure.SystemEnum.MessageType.danger', '@ProjectSession.Resources.message.Store_MsgAddAtleastOneItem', "#divMessage");
            e.preventDefault();
        }
    }
</script>