﻿@model CMMS.Model.WorkOrder
@using CMMS.Infrastructure;
@using CMMS.Pages;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool Lang = ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true;
}

<div class="head1">
    @{
        var Titletext = "";
        var isEditMode = false;
        var reqStatusID = 0;
        if (Model.WorkorderNo != string.Empty && Model.WorkorderNo != null && Model.WorkorderNo != "0")
        {
            Titletext = "Feedback form";
            isEditMode = true;
            reqStatusID = Convert.ToInt32(Model.WorkStatusID);
        }
        else
        { Titletext = ProjectSession.Resources.menu.JobOrder_MenuNewJobOrder; isEditMode = false; }

        <h1>
            @Titletext
        </h1>
    }
</div>
<script type="text/javascript" src="~/Scripts/jquery.form.js"></script>
<div id="divModelError"></div>
<div id="divContent">
    <div class="box">
        <div class="box-content">
            <div class="row">
                <div class="col-sm-12 col-md-4 col-lg-3">
                    <label class="form-label">@ProjectSession.Resources.label.JobOrder_TextBlockJobOrderNo </label>
                    <span>&nbsp;@Model.WorkorderNo</span>
                </div>
                <div class="col-sm-12 col-md-4  col-lg-3">
                    <label class="form-label">@ProjectSession.Resources.label.JobStatus_TextBlockJobStatus </label>
                    @{
                        var jobStatus = Lang ? Model.WorkStatus : Model.AltWorkStatus;
                    }
                    <span>
                        &nbsp;
                        <label id="lblMainJobStatus">@jobStatus</label>
                    </span>
                </div>

                @if (!string.IsNullOrEmpty(Model.RequestNo))
                {
                    <div class="col-sm-12 col-md-4 col-lg-3">
                        <label class="form-label">@ProjectSession.Resources.label.JobRequest_TextBlockRequestNo </label>
                        <span>&nbsp;@Model.RequestNo</span>
                    </div>
                }
            </div>
        </div>
    </div>
    <div id="divContent">
        <div class="box edit-job-order">
            <div class="nav-tabs-horizontal">             
                <div class="tab-content">
                    <div class="tab-pane active" id="tb1">
                        @using (Html.BeginForm(Actions.SaveJOFeedBack, Controllers.Transaction, new { area = Areas.Transaction }, FormMethod.Post, new { id = "frmWorkOrders", @role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(model => model.WorkorderNo)
                            @Html.HiddenFor(model => model.WorkStatusID, new { id = "hdnWorkStatusID" })

                            <div class="information-form cus-form">
                                <div class="row">
                                    <div class="form-group two-form-group col-md-6 col-lg-4">
                                        <label class="form-label">@ProjectSession.Resources.label.JobOrder_TextBlockCustomerFeedback</label>
                                        <div class="@ProjectSession.CultureKendoClass">
                                            @(Html.Kendo().DropDownListFor(model => model.RatingsID)
                                                .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                                .DataTextField("RateNo")
                                                .ValueTemplate(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "#:RateNo # -- #: AltDescription # " : "#:RateNo # -- #: Description #")
                                                .DataValueField("RateID")
                                                .HtmlAttributes(new { style = "width: 100%", id = "ddlRatingsJoClosing" })
                                                .Template("#= KendoDDLTemplate(data.RateNo ,data.Description, data.AltDescription) #")
                                                .DataSource(source =>
                                                {
                                                    source.Read(read =>
                                                    {
                                                        read.Action(Actions.GetAllRatingsForDDL, Controllers.Transaction, new { area = Areas.Transaction }).Type(HttpVerbs.Get);
                                                    });
                                                })
                                                .Value(Convert.ToString(Model.RatingsID))
                                            )
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-12">
                                        @Html.TextAreaFor(model => model.Notes, new { @id = "txtWONotes", @MaxLength = 1500, @class = "form-control", @rows = "20", @placeholder = ProjectSession.Resources.label.Common_Enter + " " + ProjectSession.Resources.label.Item_TextBlockNotes })
                                    </div>                                  
                                </div>
                            </div>
                            <div class="box-footer">
                                @{
                            if (Model.RatingsID.ToString() == "")
                            {
                                <button class="btn btn-primary" id="btnSave" title="@ProjectSession.Resources.label.Common_ButtonSave" type="submit" onclick="onRatingChange();"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
                            }
                            else
                            {
                                <label class="form-label">Rating already updated</label>
                            }
}
                                <button class="btn btn-default" type="button" id="btnCancelJO" onclick="location.href = '@Url.Action(Actions.FeedbackJobRequestList, Controllers.Transaction, new { @area = Areas.Transaction })';"><span>@ProjectSession.Resources.label.Common_ButtonCancel</span></button>

                            </div>
                        }
                    </div>                                      
                </div>
            </div>
        </div>
    </div>
   </div>

<script type="text/javascript">
    $(document).ready(function () {
        if ('@ViewBag.Message' != '' && '@ViewBag.MessageType' != '') {
            ShowMessage('@ViewBag.MessageType', '@ViewBag.Message', "#divMessage");
        }
    });
    var id = $("#ddlRatingsJoClosing").val();
    if (id == "") {
        var response = confirm('Once Work order rating is given user cannot change rating later');
    }
    else {
        var response1 = confirm('Work order rating given already');
        $('#ddlRatingsJoClosing').addClass('disabled');

    }

</script>