﻿@using CMMS.Infrastructure;
@using CMMS.Pages;
@using CMMS.Model
@using CMMS.Service
@model CMMS.Model.WorkOrder
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool Lang = ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true;
}
@Html.AntiForgeryToken()
<div class="head1">
    <h1>Closed @ProjectSession.Resources.label.JobOrder_TextBlockJOList</h1>
    <ul class="sub_btn">
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-search" data-toggle="modal" data-target="#search-order" onclick='OpenAdvancedSearch("@ProjectSession.Resources.menu.JobOrder_MenuJobOrderLabor","@SystemEnum.Pages.JobOrder.GetHashCode()")' title="@ProjectSession.Resources.label.Common_ButtonAdvanceSearch"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-clear" title="@ProjectSession.Resources.label.Common_ButtonClear" onclick="return ClearAdvencedSearch(@SystemEnum.Pages.JobOrder.GetHashCode());"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-refresh" onclick="ReBindKendoGrid('jobOrderGrid');" title="@ProjectSession.Resources.label.Common_ButtonRefreshGrid"><i></i></a>
        </li>
        @if (ProjectSession.PermissionAccess.JobOrder_JobOrder_Export)
        {
            <li>
                <a href="javascript:void(0);" class="btn-icon btn-xsl" onclick="ExportToExcel('jobOrderGrid', 'RequestorID');" title="@ProjectSession.Resources.label.Common_ButtonExportToExcel"><i></i></a>
            </li>
        }

        <li>
            <a href="javascript:void(0);" title="@ProjectSession.Resources.label.JobRequest_ButtonPrint" class="btn-icon btn-print" id="btnPrintJobOrderList" onclick="PrintJoListReport()">
                <i></i>
            </a>
        </li>
    </ul>
</div>
<!-- Kendo Grid-->
<div id="employeeData" class="@ProjectSession.CultureKendoClass">
    @(Html.Kendo().Grid<CMMS.Model.WorkOrder>()
        .Name("jobOrderGrid")
        .HtmlAttributes(new { @class = "kl-grid" })
        .Columns(columns =>
        {
            columns.Bound(c => c.WorkorderNo).Title(ProjectSession.Resources.label.JobOrder_TextBlockJobOrderNo).Width(170).Locked(true);

            columns.Bound(c => c.ProblemDescription).Title(ProjectSession.Resources.label.JobRequest_TextBlockProbDesc).Width(300).HtmlAttributes(new { title = "#= KendoToolTipTemplate(data.ProblemDescription) #", @class = "column-textoverflow" });

            columns.Bound(c => c.WorkStatus).Title(ProjectSession.Resources.label.JobStatus_TextBlockJobStatus).Visible(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true).Width(150)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterJobStatus", "GridFilter", new { area = string.Empty, @id = "3" }).Data("BindParameters").Type(HttpVerbs.Post))));

            columns.Bound(c => c.AltWorkStatus).Title(ProjectSession.Resources.label.JobStatus_TextBlockAltJobStatus).Visible(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? true : false).Width(150)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterJobStatus", "GridFilter", new { area = string.Empty, @id = "2" }).Data("BindParameters").Type(HttpVerbs.Post))));

            //columns.Bound(c => c.WorkTypeDescription).Title(ProjectSession.Resources.label.JobType_TextBlockJobType).Visible(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true).Width(150)
            // .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterJobType", "GridFilter", new { area = string.Empty, @id = "1" }).Data("BindParameters").Type(HttpVerbs.Post))));

            //columns.Bound(c => c.AltWorkTypeDescription).Title(ProjectSession.Resources.label.JobType_TextBlockAltJobType).Visible(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? true : false).Width(150)
            //.Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterJobType", "GridFilter", new { area = string.Empty, @id = "2" }).Data("BindParameters").Type(HttpVerbs.Post))));

            //columns.Bound(c => c.WorkPriority).Title(ProjectSession.Resources.label.JobPriority_TextBlockJobPriority).Visible(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true).Width(150)
            //.Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterJobPriority", "GridFilter", new { area = string.Empty, @id = "3" }).Data("BindParameters").Type(HttpVerbs.Post))));

            //columns.Bound(c => c.AltWorkPriority).Title(ProjectSession.Resources.label.JobPriority_TextBlockAltJobPriority).Visible(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? true : false).Width(150)
            //.Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterJobPriority", "GridFilter", new { area = string.Empty, @id = "2" }).Data("BindParameters").Type(HttpVerbs.Post))));

            //columns.Bound(c => c.PMTarStartDate).ClientTemplate("#= DateTemplateWithTime(data.PMTarStartDate) #").Title(ProjectSession.Resources.label.JobOrder_TextBlockPMTargetStartDate).Width(170);

            //columns.Bound(c => c.AssetNumber).Title(ProjectSession.Resources.label.Asset_TextBlockAssetNO).Width(150);

            //columns.Bound(c => c.AssetDescription).Title(ProjectSession.Resources.label.Asset_TextBlockAssetDescription).Visible(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true).Width(150).HtmlAttributes(new { title = "#= KendoToolTipTemplate(data.AssetDescription) #", @class = "column-textoverflow" });
            //columns.Bound(c => c.AssetAltDescription).Title(ProjectSession.Resources.label.Asset_TextBlockAltAssetDescription).Visible(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? true : false).Width(150).HtmlAttributes(new { title = "#= KendoToolTipTemplate(data.AssetAltDescription) #", @class = "column-textoverflow" });

            //columns.Bound(c => c.GroupNumber).Title(ProjectSession.Resources.label.CleaningInspection_TextBlockGroupNo).Width(150);

            //columns.Bound(c => c.GroupDescription).Title(ProjectSession.Resources.label.CleaningInspection_TextBlockGroupDescription).Visible(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true).Width(150).HtmlAttributes(new { title = "#= KendoToolTipTemplate(data.GroupDescription) #", @class = "column-textoverflow" });
            //columns.Bound(c => c.ArabicGroupDescription).Title(ProjectSession.Resources.label.CleaningInspection_TextBlockAltGroupDescription).Visible(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? true : false).Width(150).HtmlAttributes(new { title = "#= KendoToolTipTemplate(data.ArabicGroupDescription) #", @class = "column-textoverflow" });

            columns.Bound(c => c.LocationNo).Title(ProjectSession.Resources.label.Location_TextBlockLocationNo).Width(150)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterLocation", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

            //columns.Bound(c => c.LocationDescription).Title(ProjectSession.Resources.label.Location_TextBlockLocationDescription).Visible(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true).Width(250).HtmlAttributes(new { title = "#= KendoToolTipTemplate(data.LocationDescription) #", @class = "column-textoverflow" });
            //columns.Bound(c => c.LocationAltDescription).Title(ProjectSession.Resources.label.Location_TextBlockAltLocationDescription).Visible(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? true : false).Width(250).HtmlAttributes(new { title = "#= KendoToolTipTemplate(data.LocationAltDescription) #", @class = "column-textoverflow" });

            columns.Bound(c => c.L2Code).Title(ProjectSession.Resources.label.JobRequest_TextBlockCityCode).Width(150)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterSite", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

            //columns.Bound(c => c.L2ClassCode).Title(ProjectSession.Resources.label.City_TextBlockCityClassCode).Width(150)
            //.Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterSiteClass", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

            //columns.Bound(c => c.SectorCode).Title(ProjectSession.Resources.label.JobOrder_TextBlockSectorCode).Width(150)
            //.Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterSector", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

            //columns.Bound(c => c.SectorName).Title(ProjectSession.Resources.label.JobOrder_TextBlockSectorName).Visible(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true).Width(150);
            //columns.Bound(c => c.SectorAltName).Title(ProjectSession.Resources.label.JobOrder_TextBlockSectorAltName).Visible(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? true : false).Width(150);

            //columns.Bound(c => c.L3No).Title(ProjectSession.Resources.label.Area_TextBlockAreaCode).Width(150).Visible(ProjectSession.IsAreaFieldsVisible)
            //.Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterArea", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

            //columns.Bound(c => c.L3Desc).Title(ProjectSession.Resources.label.Area_TextBlockAreaDesc).Visible(ProjectSession.IsAreaFieldsVisible && ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true).Width(150);
            //columns.Bound(c => c.L3AltDesc).Title(ProjectSession.Resources.label.Area_TextBlockAltAreaDescription).Visible(ProjectSession.IsAreaFieldsVisible && ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? true : false).Width(150);

            //columns.Bound(c => c.L4No).Title(ProjectSession.Resources.label.Street_TextBlockStreetCode).Width(150)
            //.Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterZone", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

            //columns.Bound(c => c.L4Description).Title(ProjectSession.Resources.label.Street_TextBlockStreetDesc).Visible(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true).Width(170);
            //columns.Bound(c => c.L4AltDescription).Title(ProjectSession.Resources.label.Street_TextBlockAltStreetDesc).Visible(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? true : false).Width(170);

            //columns.Bound(c => c.L5No).Title(ProjectSession.Resources.label.Building_TextBlockBuildingNo).Width(150)
            //.Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterBuilding", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

            //columns.Bound(c => c.L5Description).Title(ProjectSession.Resources.label.Building_TextBlockBuildingDesc).Visible(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true).Width(170);
            //columns.Bound(c => c.L5AltDescription).Title(ProjectSession.Resources.label.Building_TextBlockAltBuildingDesc).Visible(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? true : false).Width(150);

            //columns.Bound(c => c.MaintDivisionCode).Title(ProjectSession.Resources.label.MaintDivision_TextBlockMaintenanceDivision).Width(170)
            //.Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterMaintenanceDivision", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

            //columns.Bound(c => c.MaintDeptCode).Title(ProjectSession.Resources.label.MaintenanceDept_TextBlockMaintDept).Width(170)
            //.Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterMaintenanceDepartment", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

            //columns.Bound(c => c.MaintSubDeptCode).Title(ProjectSession.Resources.label.MaintenanceSubDept_TextBlockMaintSubDept).Width(190)
            //.Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterMaintenanceSubDepartment", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

            columns.Bound(c => c.ActionTaken).Title(ProjectSession.Resources.label.JobOrder_TextBlockActionTaken).Width(150);

            //columns.Bound(c => c.DateReceived).ClientTemplate("#= DateTemplateWithTime(data.DateReceived) #").Title(ProjectSession.Resources.label.JobRequest_TextBlockReceivedDate).Width(150);

            //columns.Bound(c => c.DateRequired).ClientTemplate("#= DateTemplateWithTime(data.DateRequired) #").Title(ProjectSession.Resources.label.JobRequest_TextBlockRequiredDate).Width(150);

            //columns.Bound(c => c.ActDateEnd).ClientTemplate("#= DateTemplateWithTime(data.ActDateEnd) #").Title(ProjectSession.Resources.label.JobOrder_TextBlockActualDateEnd).Width(150);

            //columns.Bound(c => c.EstDateStart).ClientTemplate("#= DateTemplateWithTime(data.EstDateStart) #").Title(ProjectSession.Resources.label.JobOrder_TextBlockEstimatedDateStart).Width(170);

            //columns.Bound(c => c.AssignTo).Title(ProjectSession.Resources.label.JobOrder_TextBlockAssignedTo).Width(150)
            //.Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterEmployeeName", "GridFilter", new { area = string.Empty, @id = "3" }).Data("BindParameters").Type(HttpVerbs.Post))));

            //columns.Bound(c => c.GroupCode).Title(ProjectSession.Resources.label.MaintenanceGroup_TextBlockMaintenanceGroupCode).Width(220)
            //.Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterMaintGroup", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

            //columns.Bound(c => c.FailureCauseCode).Title(ProjectSession.Resources.label.FailureCodes_TextBlockFailureCode).Width(150)
            // .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterFailurecause", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

            //columns.Bound(c => c.PMNo).Title(ProjectSession.Resources.label.PM_TextBlockPMNo).Width(150);

            //columns.Bound(c => c.ChecklistNo).Title(ProjectSession.Resources.label.PMChecklist_TextBlockPMChecklistNo).Width(160)
            //.Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterPMCheckList", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

            columns.Bound(c => c.Name).Title(ProjectSession.Resources.label.JobOrder_TextBlockRequesterName).Width(150)
             .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterEmployeeName", "GridFilter", new { area = string.Empty, @id = "1" }).Data("BindParameters").Type(HttpVerbs.Post))));
            columns.Bound(c => c.RequestNo).Title(ProjectSession.Resources.label.JobRequest_TextBlockRequestNo).Width(150);

            columns.Bound(c => c.Description).Title("Rating").Width(200);
            columns.Bound(c => c.Notes).Title("Notes").Width(150);

            //columns.Bound(c => c.ProjectNumber).Title(ProjectSession.Resources.label.Preventive_TextBlockProjectNumber).Width(150).Visible(ProjectSession.IsCMProjectFieldsVisible);

            columns.Bound(c => c.RequestorID).ClientTemplate("<center><a class='action'  style='cursor:pointer' href='" + Url.Action(Actions.GetFeedbackJOByJONo, CMMS.Pages.Controllers.Transaction, new { area = CMMS.Pages.Areas.Transaction, workOrderNo = "#: WorkorderNo#" }) + "' ><i class='glyphicon glyphicon-pencil'></i></a></center>")
                                       .Title("<center>Action</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Width(60).Visible(ProjectSession.PermissionAccess.JobOrder_JobOrder_Editrecords).Filterable(false);

        })
        .Filterable()
        .Sortable(sortable => sortable.AllowUnsort(false))
        .Scrollable()
           //.Reorderable(reorder => reorder.Columns(true))
        .Excel(excel => excel.FileName(ProjectSession.Resources.menu.JobOrder_MenuJobOrderList + ".xlsx").Filterable(true).AllPages(true).ProxyURL(Url.Action("Excel_Export_Save", "GridExport", new { area = string.Empty })))
        .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
        //.Events(events => events.DataBound("onDataBound").ExcelExport("excelExport").ColumnReorder("onColumnReorder"))
        .Events(events => events.DataBound("onDataBound").ExcelExport("excelExport"))
        .DataSource(dataSource =>
                                dataSource.Ajax()
                                .PageSize(ProjectConfiguration.PageSize)
                                 .Model(model =>
                                 {
                                     model.Id(p => p.WorkorderNo);
                                     model.Field(p => p.Name);
                                 })
                                .ServerOperation(true)
                                .Read(read => read.Action(Actions.GetFeedbackJobRequests, Controllers.Transaction, new { area = Areas.Transaction }).Data("BindParameters").Type(HttpVerbs.Post))
                )
    )


</div>

<!-- -------------search order------------- -->
<div id="search-order" class="modal fade" role="dialog"></div>

<div id="FeedbackModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-md">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" title="@ProjectSession.Resources.label.Common_ButtonClose"></button>
                <h4 class="modal-title">Feedback@*@ProjectSession.Resources.label.UserGroup_TextBlockUserGroupHeader*@</h4>
            </div>
            <div class="modal-body">
                <div class="tab-pane active" role="tabpanel">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-md-2 control-label">@ProjectSession.Resources.label.Store_TextBlockStore</label>
                            <div class="col-md-6">
            @*@using (Html.BeginForm(CMMS.Pages.Actions.SaveJOClosing, CMMS.Pages.Controllers.Transaction, new { area = CMMS.Pages.Areas.Transaction }, FormMethod.Post, new { id = "frmJoClosing"}))
                        {
                @Html.AntiForgeryToken()
                <div class="form-group col-sm-6 col-md-6 col-lg-4">
                    <label class="form-label">@ProjectSession.Resources.label.JobOrder_TextBlockCustomerFeedback</label>
                    <div class="@ProjectSession.CultureKendoClass">
            @(Html.Kendo().DropDownList()
                                                            .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                                            .DataTextField("RateNo")
                                                            .ValueTemplate(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "#:RateNo # -- #: AltDescription # " : "#:RateNo # -- #: Description #")
                                                            .DataValueField("RateID")
                                                            .HtmlAttributes(new { style = "width: 100%", id = "ddlRatingsJoClosing" })
                                                            .Template("#= KendoDDLTemplate(data.RateNo ,data.Description, data.AltDescription) #")
                                                            .DataSource(source =>
                                                            {
                                                                source.Read(read =>
                                                                {
                                                                    read.Action(Actions.GetAllRatingsForDDL, Controllers.Transaction, new { area = Areas.Transaction }).Type(HttpVerbs.Get);
                                                                });
                                                            })
                                                            .Value(Convert.ToString(Model.RatingsID))
            )
                    </div>
                </div>

                        }*@

        </div>
                </div>
            </div>

            <script type="text/javascript">
                var kendoGridId = 'jobOrderGrid';
                var intPageID = '@SystemEnum.Pages.JobOrder.GetHashCode()';

                $(document).ready(function () {
                    if ('@ViewBag.Message' != '' && '@ViewBag.MessageType' != '') {
                        ShowMessage('@ViewBag.MessageType', '@ViewBag.Message', "#divMessage");
                    }

                    //var options = localStorage[kendoGridId];
                    //if (options) {
                    //    $("#jobOrderGrid").data("kendoGrid").setOptions(JSON.parse(options));
                    //}
                });

                function onColumnReorder(e) {
                    //setTimeout(function () {
                    //    var grid = $("#jobOrderGrid").data("kendoGrid");
                    //    localStorage[kendoGridId] = kendo.stringify(grid.getOptions());
                    //}, 30000);
                }

                function BindParameters() {
                    return {
                        __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
                    };
                }

                function addRequestVerificationToken(data) {
                    data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
                    return data;
                };

                function onDataBound(arg) {
                    gridProperPaging(this);
                }

                $("#jobOrderGrid tbody").on("dblclick", "tr[role='row']", function (e) {
                    var grid = $("#jobOrderGrid").data("kendoGrid");
                    var model = grid.dataItem(this);
                    location.href = '@Url.Action(Actions.GetFeedbackJOByJONo, CMMS.Pages.Controllers.Transaction, new { area = CMMS.Pages.Areas.Transaction })' + '?workOrderNo=' + model.WorkorderNo + '&assetID=0&objWorkOrder=null';
                });

                function PrintJoListReport() {
                    var dataSource = $("#jobOrderGrid").data("kendoGrid").dataSource;
                    var filters = dataSource.filter();
                    var allData = dataSource.data();
                    var query = new kendo.data.Query(allData);
                    var data = query.filter(filters).data;
                    var strWorkorderNo = '';
                    for (var i = 0; i < data.length ; i++) {
                        if (i > 0) {
                            strWorkorderNo = strWorkorderNo + ',';
                        }
                        strWorkorderNo = strWorkorderNo + data[i].WorkorderNo;
                    }
                    window.open('@Url.Action(CMMS.Pages.Actions.JobOrderListPrint, CMMS.Pages.Controllers.Transaction)' + '?workOrderNo=' + strWorkorderNo, "_blank");
                }
                function OpenfeedbackEditWindow(id) {
                    if (id > 0) {
                        $.ajax({
                            url: '@Url.Action(Actions.GetJRFeedbackById, Controllers.Transaction, new { area = Areas.Transaction})',
                            type: "POST",
                            data: addRequestVerificationToken({ RequestNo: id }),
                            success: function (result) {
                                $("#hdnRequestNo").val(result.RequestNo);
                                $("#txtFeedback").val(result.Remark);
                                alert(1);
                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                showErrorMessage();
                            }
                        });
                    }
                    else {
                        ClearAllInputs("frmFeedback");
                    }
                }
                $('#frmFeedback').on('submit', function (e) {
                    if ($("#frmFeedback").valid()) {
                        if (e.isDefaultPrevented()) {
                            // handle the invalid form...
                        } else {

                            var RequestNo = $("#hdnRequestNo").val();
                            var changedObj = {
                                RequestNo: RequestNo == '' ? 0 : RequestNo,
                                Remarks: $("#txtFeedback").val(),
                            };

                            $.ajax({
                                url: '@Url.Action(CMMS.Pages.Actions.SaveJoNotes, CMMS.Pages.Controllers.Transaction, new { area = CMMS.Pages.Areas.Transaction })',
                                type: "POST",
                                data: addRequestVerificationToken({ workOrderNo: $('#hdnRequestNo').val(), notes: $('#txtFeedback').val() }),
                                dataType: "json",
                                success: function (result) {
                                    if (result[0] == 0) {
                                        ShowMessage(result[1], result[2], "#divModelError");
                                    }
                                    else {
                                        $('#FeedbackModal').modal("hide");
                                        ShowMessage(result[0], result[1], "#divMessage");
                                        ReBindKendoGrid("jobrequestGrid");
                                    }
                                },
                                error: function (xhr, ajaxOptions, thrownError) {
                                    showErrorMessage();
                                }
                            });
                            e.preventDefault();
                        }
                    }
                    else {
                        e.preventDefault();
                    }
                })

            </script>
