﻿@model CMMS.Model.PurchaseOrder
@using CMMS.Infrastructure;
@using CMMS.Pages;
@using CMMS.Model
@using CMMS.Service
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool Lang = ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true;
}
<style>
    .cus-form-inner .form-group {
        min-height: 0px !important;
    }
</style>
<div class="head1">
    <h1>@ProjectSession.Resources.label.GoodsReceipt_TextBlockGoodsReceiptDetail</h1>
</div>

<div class="box edit-job-order">

    <div class="nav-tabs-horizontal">
        <ul class="nav nav-tabs">
            <li class="active" id="tbl1"><a data-toggle="tab" href="#tb1" aria-controls="tb1">@ProjectSession.Resources.label.GoodsReceipt_RadTabItemGoodsReceiptInfo</a></li>
            <li role="presentation" id="tbl2"><a data-toggle="tab" href="#tb2" aria-controls="tb2" onclick="ReBindKendoGrid('PoItemTransactionGrid')">@ProjectSession.Resources.label.GoodsReceipt_RadTabItemPOTransList</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" onclick="ABC(this);"></a>
                <ul class="dropdown-menu smp">
                    <li class="active" id="tbl11"><a data-toggle="tab" href="#tb1" aria-controls="tb1">@ProjectSession.Resources.label.GoodsReceipt_RadTabItemGoodsReceiptInfo</a></li>
                    <li role="presentation" id="tbl12"><a data-toggle="tab" href="#tb2" aria-controls="tb2" onclick="ReBindKendoGrid('PoItemTransactionGrid')">@ProjectSession.Resources.label.GoodsReceipt_RadTabItemPOTransList</a></li>
                </ul>
            </li>

        </ul>
        @Html.AntiForgeryToken()
        <div class="tab-content">
            <div class="tab-pane active" id="tb1">
                <div class="information-form cus-form">
                    <h3 class="sub-title">
                        <span>@ProjectSession.Resources.label.GoodsReceipt_RadTabItemGoodsReceiptInfo</span>
                    </h3>
                    @Html.HiddenFor(model => model.ID, new { @id = "hdnID" })
                    @Html.HiddenFor(model => model.IsAnyPOItemReceivedOrCancelled, new { @id = "hdnIsAnyPOItemReceivedOrCancelled" })
                    <input type="hidden" id="hdnAllItemDone" value="0" />

                    <div class="row">
                        <div class="form-group col-md-6 col-lg-3">
                            <label class="form-label">@ProjectSession.Resources.label.GoodsReceipt_TextBlockGRNNo</label>
                            @Html.TextBoxFor(model => model.GRNNo, new { @class = "form-control", @readonly = "readonly", @Placeholder = @ProjectSession.Resources.label.GoodsReceipt_TextBlockGRNNo })
                        </div>
                        <div class="form-group col-md-6 col-lg-3">
                            <label class="form-label">@ProjectSession.Resources.label.Purchasing_TextBlockDateCreated</label>
                            <div class="input-group date-pick">
                                @Html.TextBoxFor(model => model.GRNCreatedDate, "{0:" + ProjectConfiguration.DefaultDateFormat + "}", new { placeholder = ProjectConfiguration.DefaultDateFormat, @class = "form-control calendarsPicker", @readonly = "readonly" })
                            </div>
                        </div>
                    </div>

                </div>
                <div class="information-form cus-form">
                    <h3 class="sub-title">
                        <span>@ProjectSession.Resources.label.PurchaseOrder_TextBlockPOTitle</span>
                    </h3>
                    <div class="row">
                        <div class="form-group col-md-6 col-lg-3">
                            <label class="form-label">@ProjectSession.Resources.label.JobRequest_TextBlockCity</label>
                            @Html.TextBoxFor(model => model.L2name, (Lang ? Model.L2name : Model.L2Altname), new { @class = "form-control", @readonly = "readonly" })
                        </div>
                        <div class="form-group col-md-6 col-lg-3">
                            <label class="form-label">@ProjectSession.Resources.label.PurchaseOrder_TextBlockPONo</label>
                            @Html.TextBoxFor(model => model.PurchaseOrderNo, new { @class = "form-control", @readonly = "readonly", @Placeholder = @ProjectSession.Resources.label.PurchaseOrder_TextBlockPONo })
                        </div>
                        <div class="form-group col-md-6 col-lg-3">
                            <label class="form-label">@ProjectSession.Resources.label.Purchasing_TextBlockDateCreated</label>
                            <div class="input-group date-pick">
                                @Html.TextBoxFor(model => model.QuotationDate, "{0:" + ProjectConfiguration.DefaultDateFormat + "}", new { placeholder = ProjectConfiguration.DefaultDateFormat, @class = "form-control calendarsPicker", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="form-group col-md-6 col-lg-3">
                            <label class="form-label">@ProjectSession.Resources.label.Purchasing_TextBlockDeliveryStatus</label>
                            @Html.TextBoxFor(model => model.DeliveryStatus, new { @class = "form-control", @readonly = "readonly", @Placeholder = @ProjectSession.Resources.label.Purchasing_TextBlockDeliveryStatus })
                        </div>
                        <div class="form-group col-md-6 col-lg-3">
                            <label class="form-label">@ProjectSession.Resources.label.Purchasing_TextBlockOrderStatus</label>
                            @Html.TextBoxFor(model => model.OrderStatus, new { @class = "form-control", @readonly = "readonly", @Placeholder = @ProjectSession.Resources.label.Purchasing_TextBlockOrderStatus })
                        </div>
                    </div>


                </div>
                <div class="information-form cus-form">
                    <h3 class="sub-title">
                        <span>@ProjectSession.Resources.label.PurchaseOrder_RadTabPurchaseOrderDetails</span>
                    </h3>
                    <div class="row">
                        <div class="form-group col-md-6 col-lg-3">
                            <label class="form-label">@ProjectSession.Resources.label.Purchasing_TextBlockOrderBy</label>
                            @Html.TextBoxFor(model => model.OrderByEmployeeName, (Lang ? Model.OrderByEmployeeName : Model.OrderByAltEmployeeName), new { @class = "form-control", @readonly = "readonly", @Placeholder = @ProjectSession.Resources.label.Purchasing_TextBlockOrderBy })
                        </div>
                        <div class="form-group col-md-6 col-lg-3">
                            <label class="form-label">@ProjectSession.Resources.label.PurchasingSetup_TextBlockTermofSale</label>
                            @Html.TextBoxFor(model => model.TermofSaleDesc, (Lang ? Model.TermofSaleDesc : Model.AltTermofSaleDesc), new { @class = "form-control", @readonly = "readonly", @Placeholder = @ProjectSession.Resources.label.PurchasingSetup_TextBlockTermofSale })
                        </div>
                        <div class="form-group col-md-6 col-lg-3">
                            <label class="form-label">@ProjectSession.Resources.label.CostCenter_TextBlockCostCenter</label>
                            @Html.TextBoxFor(model => model.CostCenterName, (Lang ? Model.CostCenterName : Model.AltCostCenterName), new { @class = "form-control", @readonly = "readonly", @Placeholder = @ProjectSession.Resources.label.CostCenter_TextBlockCostCenter })
                        </div>
                        <div class="form-group col-md-6 col-lg-3">
                            <label class="form-label">@ProjectSession.Resources.label.Purchasing_TextBlockInvoiceTo</label>
                            @Html.TextBoxFor(model => model.InvoiceToEmployeeName, (Lang ? Model.InvoiceToEmployeeName : Model.InvoiceToAltEmployeeName), new { @class = "form-control", @readonly = "readonly", @Placeholder = @ProjectSession.Resources.label.Purchasing_TextBlockInvoiceTo })
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6 col-lg-3">
                            <label class="form-label">@ProjectSession.Resources.label.PurchasingSetup_TextBlockShippedVia</label>
                            @Html.TextBoxFor(model => model.ShippedViaDesc, (Lang ? Model.ShippedViaDesc : Model.AltShippedViaDesc), new { @class = "form-control", @readonly = "readonly", @Placeholder = @ProjectSession.Resources.label.PurchasingSetup_TextBlockShippedVia })
                        </div>
                        <div class="form-group col-md-6 col-lg-3">
                            <label class="form-label">@ProjectSession.Resources.label.AccountCode_TextBlockAccountCode</label>
                            @Html.TextBoxFor(model => model.AccountCodeDesc, (Lang ? Model.AccountCodeDesc : Model.AltAccountCodeDesc), new { @class = "form-control", @readonly = "readonly", @Placeholder = @ProjectSession.Resources.label.AccountCode_TextBlockAccountCode })
                        </div>
                        <div class="form-group col-md-6 col-lg-3">
                            <label class="form-label">@ProjectSession.Resources.label.Supplier_TextBlockSupplier</label>
                            @Html.TextBoxFor(model => model.SupplierName, (Lang ? Model.SupplierName : Model.AltSupplierName), new { @class = "form-control", @readonly = "readonly", @Placeholder = @ProjectSession.Resources.label.Supplier_TextBlockSupplier })
                        </div>
                        <div class="form-group col-md-6 col-lg-3">
                            <label class="form-label">@ProjectSession.Resources.label.PurchasingSetup_TextBlockPaymentTerms</label>
                            @Html.TextBoxFor(model => model.PaymentTermsDesc, (Lang ? Model.PaymentTermsDesc : Model.AltPaymentTermsDesc), new { @class = "form-control", @readonly = "readonly", @Placeholder = @ProjectSession.Resources.label.PurchasingSetup_TextBlockPaymentTerms })
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6 col-lg-3">
                            <label class="form-label">@ProjectSession.Resources.label.ItemRequisition_TextBlockRequiredDate</label>
                            <div class="input-group date-pick">
                                @Html.TextBoxFor(model => model.QuotationDate, "{0:" + ProjectConfiguration.DefaultDateFormat + "}", new { placeholder = ProjectConfiguration.DefaultDateFormat, @class = "form-control calendarsPicker", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="form-group col-md-6 col-lg-3">
                            <label class="form-label">@ProjectSession.Resources.label.Store_TextBlockDateOrdered</label>
                            <div class="input-group date-pick">
                                @Html.TextBoxFor(model => model.OrderedDate, "{0:" + ProjectConfiguration.DefaultDateFormat + "}", new { placeholder = ProjectConfiguration.DefaultDateFormat, @class = "form-control calendarsPicker", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="form-group col-md-6 col-lg-3">
                            <label class="form-label">@ProjectSession.Resources.label.Purchasing_TextBlockQuotationRef</label>
                            @Html.TextBoxFor(model => model.QuotationReference, new { @class = "form-control", @readonly = "readonly", @Placeholder = @ProjectSession.Resources.label.Purchasing_TextBlockQuotationRef })
                        </div>
                        <div class="form-group col-md-6 col-lg-3">
                            <label class="form-label">@ProjectSession.Resources.label.Purchasing_TextBlockExpectedDeliveryDate</label>
                            <div class="input-group date-pick">
                                @Html.TextBoxFor(model => model.ExpDeliveryDate, "{0:" + ProjectConfiguration.DefaultDateFormat + "}", new { placeholder = ProjectConfiguration.DefaultDateFormat, @class = "form-control calendarsPicker", @readonly = "readonly" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6 col-lg-6">
                            <label class="form-label">@ProjectSession.Resources.label.Purchasing_TextBlockDeliverTo</label>
                            @Html.TextAreaFor(model => model.DeliverTo, new { @class = "form-control", @readonly = "readonly", @Placeholder = @ProjectSession.Resources.label.Purchasing_TextBlockDeliverTo })
                        </div>
                        <div class="form-group col-md-6 col-lg-6">
                            <label class="form-label">@ProjectSession.Resources.label.JobOrder_TextBlockRemarksJobPlan</label>
                            @Html.TextAreaFor(model => model.Remarks, new { @class = "form-control", @readonly = "readonly", @Placeholder = @ProjectSession.Resources.label.JobOrder_TextBlockRemarksJobPlan })
                        </div>
                    </div>

                </div>
                <div class="information-form cus-form">
                    <h3 class="sub-title">
                        <span>@ProjectSession.Resources.label.PurchaseOrder_TextBlockPOItemsList</span>
                    </h3>
                    @(Html.Kendo().Grid<CMMS.Model.PurchaseOrderItem>()
                        .Name("purchaseRequestItemGrid")
                        .HtmlAttributes(new { @class = "kl-grid" })
                        .Columns(columns =>
                        {
                            columns.Bound(c => c.StockNo).Title(ProjectSession.Resources.label.ItemRequisition_TextBlockItemNo);

                            columns.Bound(c => c.PartDescription).Title(ProjectSession.Resources.label.ItemList_TextBlockPartDescription).Width(150);

                            columns.Bound(c => c.UoM).Title(ProjectSession.Resources.label.Item_TextBlockUOM);

                            columns.Bound(c => c.PurchaseRequestNo).Title(ProjectSession.Resources.label.Purchasing_TextBlockPurchaseRequestNo).Width(180);

                            columns.Bound(c => c.JobOrderID).Title(ProjectSession.Resources.label.JobOrder_TextBlockJobOrderNo);

                            columns.Bound(c => c.Quantity).ClientTemplate("#= DecimalTempalte(data.Quantity,2) #").Title(ProjectSession.Resources.label.JobPlan_TextBlockQuantity);

                            columns.Bound(c => c.UnitPrice).ClientTemplate("#= DecimalTempalte(data.UnitPrice,2) #").Title(ProjectSession.Resources.label.ItemRequisition_TextBlockUnitPrice);
                            columns.Bound(c => c.Discount).ClientTemplate("#= DecimalTempalte(data.Discount,2) #").Title(ProjectSession.Resources.label.Purchasing_TextBlockDiscount);
                            columns.Bound(c => c.Tax).ClientTemplate("#= DecimalTempalte(data.Tax,2) #").Title(ProjectSession.Resources.label.Purchasing_TextBlockTax);
                            columns.Bound(c => c.LineCost).ClientTemplate("#= DecimalTempalte(data.LineCost,2) #").Title(ProjectSession.Resources.label.Purchasing_TextBlockLineCost);
                            columns.Bound(c => c.BaseCost).ClientTemplate("#= DecimalTempalte(data.BaseCost,2) #").Title(ProjectSession.Resources.label.Purchasing_TextBlockBaseCost);
                            columns.Bound(c => c.Source).Title(ProjectSession.Resources.label.Purchasing_TextBlockItemSource);
                        })
                        .Filterable()
                        .Sortable(sortable => sortable.AllowUnsort(false))
                        .Scrollable()
                        .Excel(excel => excel.FileName(ProjectSession.Resources.label.PurchaseRequest_TextBlockPRItems + ".xlsx").Filterable(true).AllPages(true))
                        .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
                        .Events(events => events.DataBound("onDataBoundForPurchaseReq"))
                        .DataSource(dataSource =>
                        dataSource.Ajax()
                        .PageSize(ProjectConfiguration.PageSize)
                        .Model(model =>
                        {
                            model.Id(p => p.ID);
                            model.Field(p => p.PartNumber);
                        })
                        .ServerOperation(true)
                        .Read(read => read.Action(Actions.GetPurchaseOrderItemsByPRIDWithOutLoad, Controllers.Transaction, new { area = Areas.Transaction }).Data("BindParametersForPurchaseReq").Type(HttpVerbs.Post))
                        )
                    )
                </div>
                <div class="information-form cus-form">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="nav-tabs-horizontal box" style="min-height:466px">
                                <ul class="nav nav-tabs">
                                    <li class="active" id="tbl1"><a data-toggle="tab" href="#tb3" aria-controls="tb3">@ProjectSession.Resources.label.GoodsReceipt_RadTabLeftAllItemsSummary</a></li>
                                    <li role="presentation" id="tbl2"><a data-toggle="tab" href="#tb4" aria-controls="tb4">@ProjectSession.Resources.label.GoodsReceipt_RadTabIndividualItemsSummary</a></li>
                                    <li class="dropdown">
                                        <a class="dropdown-toggle" data-toggle="dropdown" onclick="ABC(this);"></a>
                                        <ul class="dropdown-menu smp">
                                            <li class="active" id="tbl11"><a data-toggle="tab" href="#tb3" aria-controls="tb3">@ProjectSession.Resources.label.GoodsReceipt_RadTabLeftAllItemsSummary</a></li>
                                            <li role="presentation" id="tbl12"><a data-toggle="tab" href="#tb4" aria-controls="tb4">@ProjectSession.Resources.label.GoodsReceipt_RadTabIndividualItemsSummary</a></li>
                                        </ul>
                                    </li>

                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="tb3">
                                        <div class="information-form cus-form-inner">
                                            <div class="form-horizontal">
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label" style="min-width:160px">@ProjectSession.Resources.label.GoodsReceipt_TextBlockLastReceivedDate</label>
                                                    <div class="col-sm-6">
                                                        <input type="text" class="form-control" id="txtAISLastReceiveddateVal" readonly="readonly">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label" style="min-width:160px">@ProjectSession.Resources.label.GoodsReceipt_TextBlockTotalOrderQuantity</label>
                                                    <div class="col-sm-6">
                                                        <input type="text" class="form-control decimalnumber" id="txtAISTotalOrderQuantityVal" readonly="readonly">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label" style="min-width:160px">@ProjectSession.Resources.label.GoodsReceipt_TextBlockTotalReceived</label>
                                                    <div class="col-sm-6">
                                                        <input type="text" class="form-control decimalnumber" id="txtAISTotalReceivedVal" readonly="readonly">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label" style="min-width:160px">@ProjectSession.Resources.label.GoodsReceipt_TextBlockTotalCancelled</label>
                                                    <div class="col-sm-6">
                                                        <input type="text" class="form-control decimalnumber" id="txtAISTotalCancelledVal" readonly="readonly">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label" style="min-width:160px">@ProjectSession.Resources.label.GoodsReceipt_TextBlockTotalBalance</label>
                                                    <div class="col-sm-6">
                                                        <input type="text" class="form-control decimalnumber" id="txtAISTotalBalanceVal" readonly="readonly">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="tb4">
                                        <div class="information-form cus-form-inner">
                                            <div class="form-horizontal">
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label" style="min-width:160px">@ProjectSession.Resources.label.GoodsReceipt_TextBlockItemName</label>
                                                    <div class="col-sm-6">
                                                        <div class="@ProjectSession.CultureKendoClass">
                                                            @(Html.Kendo().DropDownList()
                                                         .Name("drpPoItems")
                                                         .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                                         .DataTextField("PartDescription")
                                                         .DataValueField("ID")
                                                         .HtmlAttributes(new { style = "width: 100%" })
                                                         .Events(m => m.Change("ChangePOItemList"))
                                                         .DataSource(source =>
                                                         {
                                                             source.Read(read =>
                                                             {
                                                                 read.Action(Actions.GetPOItemsByPOID, Controllers.Transaction, new { area = Areas.Transaction }).Data("BindDropDownParameters");
                                                             });
                                                         }).Value("")
                                                            )
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label" style="min-width:160px">@ProjectSession.Resources.label.GoodsReceipt_TextBlockLastReceivedDate</label>
                                                    <div class="col-sm-6">
                                                        <input type="text" class="form-control" id="txtIISLastReceiveddateVal" readonly="readonly">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label" style="min-width:160px">@ProjectSession.Resources.label.GoodsReceipt_TextBlockTotalOrderQuantity</label>
                                                    <div class="col-sm-6">
                                                        <input type="text" class="form-control decimalnumber" id="txtIISTotalOrderQuantityVal" readonly="readonly">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label" style="min-width:160px">@ProjectSession.Resources.label.GoodsReceipt_TextBlockTotalReceived</label>
                                                    <div class="col-sm-6">
                                                        <input type="text" class="form-control decimalnumber" id="txtIISTotalReceivedVal" readonly="readonly">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label" style="min-width:160px">@ProjectSession.Resources.label.GoodsReceipt_TextBlockTotalCancelled</label>
                                                    <div class="col-sm-6">
                                                        <input type="text" class="form-control decimalnumber" id="txtIISTotalCancelledVal" readonly="readonly">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label" style="min-width:160px">@ProjectSession.Resources.label.GoodsReceipt_TextBlockTotalBalance</label>
                                                    <div class="col-sm-6">
                                                        <input type="text" class="form-control decimalnumber" id="txtIISTotalBalanceVal" readonly="readonly">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="nav-tabs-horizontal box" style="min-height:466px">
                                <ul class="nav nav-tabs">
                                    <li class="active" id="tbl5"><a data-toggle="tab" href="#tb5" aria-controls="tb5" onclick="clearAllInputTab(1);">@ProjectSession.Resources.label.GoodsReceipt_RadTabRightReceiveAll</a></li>
                                    <li role="presentation" id="tbl6"><a data-toggle="tab" href="#tb6" aria-controls="tb6" onclick="clearAllInputTab(2);">@ProjectSession.Resources.label.GoodsReceipt_RadTabRightReceiveOne</a></li>
                                    <li role="presentation" id="tbl7"><a data-toggle="tab" href="#tb7" aria-controls="tb7" onclick="clearAllInputTab(3);">@ProjectSession.Resources.label.GoodsReceipt_RadTabRightCancelItem</a></li>
                                    <li class="dropdown">
                                        <a class="dropdown-toggle" data-toggle="dropdown" onclick="ABC(this);"></a>
                                        <ul class="dropdown-menu smp">
                                            <li class="active" id="tbl5"><a data-toggle="tab" href="#tb5" aria-controls="tb5" onclick="clearAllInputTab(1);">@ProjectSession.Resources.label.GoodsReceipt_RadTabRightReceiveAll</a></li>
                                            <li role="presentation" id="tbl6"><a data-toggle="tab" href="#tb6" aria-controls="tb6" onclick="clearAllInputTab(2);">@ProjectSession.Resources.label.GoodsReceipt_RadTabRightReceiveOne</a></li>
                                            <li role="presentation" id="tbl7"><a data-toggle="tab" href="#tb7" aria-controls="tb7" onclick="clearAllInputTab(3);">@ProjectSession.Resources.label.GoodsReceipt_RadTabRightCancelItem</a></li>
                                        </ul>
                                    </li>

                                </ul>
                                <div class="tab-content">
                                    <div id="tb5" class="tab-pane active">
                                        <div class="information-form cus-form-inner">
                                            <form role="form" id="frmRAReceiveAll">
                                                <div class="form-horizontal">
                                                    <div id="divModelErrorRAReceiveAll"></div>
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label" style="min-width: 190px">@ProjectSession.Resources.label.GoodsReceipt_TextBlockLastReceivedDate<span class="cfont">*</span></label>
                                                        <div class="col-sm-6">
                                                            <div class="input-group date-pick">
                                                                @Html.TextBox("dtRAReceiveDate", string.Empty, new { @id = "dtRAReceiveDate", @Name = "Date", @class = "form-control calendarsPicker", @placeholder = ProjectConfiguration.DefaultDateFormat })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label" style="min-width: 190px">@ProjectSession.Resources.label.GoodsReceipt_TextBlockSupplierInvoiceNumber<span class="cfont">*</span></label>
                                                        <div class="col-sm-6">
                                                            <input type="text" class="form-control " name="MRNNo" id="txtRASupplierInvoiceNumberVal" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.GoodsReceipt_TextBlockSupplierInvoiceNumber">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label" style="min-width: 190px">@ProjectSession.Resources.label.GoodsReceipt_TextBlockInvoiceDate<span class="cfont">*</span></label>
                                                        <div class="col-sm-6">
                                                            <div class="input-group date-pick">
                                                                @Html.TextBox("dtRAInvoiceDate", string.Empty, new { @id = "dtRAInvoiceDate", @Name = "InvoiceDate", @class = "form-control calendarsPicker", @placeholder = ProjectConfiguration.DefaultDateFormat })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label" style="min-width: 190px">@ProjectSession.Resources.label.GoodsReceipt_TextBlockDeliveryOrderNo<span class="cfont">*</span></label>
                                                        <div class="col-sm-6">
                                                            <input type="text" class="form-control" name="DeliveryOrderNo" id="txtRADeliveryOrderNoVal" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.GoodsReceipt_TextBlockDeliveryOrderNo">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label" style="min-width: 190px">@ProjectSession.Resources.label.Store_TextBlockSubStore</label>
                                                        <div class="col-sm-6">
                                                            <div class="@ProjectSession.CultureKendoClass">
                                                                @(Html.Kendo().DropDownList()
                                                                 .Name("drpRASubStore")
                                                                 .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                                                 .DataTextField("SubStoreDesc")
                                                                 .DataValueField("SubStoreID")
                                                                 .HtmlAttributes(new { style = "width: 100%" })
                                                                 .DataSource(source =>
                                                                 {
                                                                     source.Read(read =>
                                                                     {
                                                                         read.Action(Actions.GetPOStoreByPOID, Controllers.Transaction, new { area = Areas.Transaction }).Data("BindDropDownParameterForSubStore");
                                                                     });
                                                                 }).Value("")
                                                                )
                                                            </div>
                                                        </div>
                                                    </div>
                                                    @if (ProjectSession.PermissionAccess.Purchasing_GoodsReceipt_Editrecords || ProjectSession.PermissionAccess.Purchasing_GoodsReceipt_Createnewrecords)
                                                    {
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label" style="min-width: 190px"></label>
                                                            <div class="col-sm-6">
                                                                <button type="submit" class="btn btn-primary" id="btnRAReceiveAll" title="@ProjectSession.Resources.label.GoodsReceipt_ButtonRAReceiveAll">@ProjectSession.Resources.label.GoodsReceipt_ButtonRAReceiveAll</button>
                                                            </div>
                                                        </div>
                                                    }
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="tb6">
                                        <div class="information-form cus-form-inner">
                                            <form role="form" id="frmROReceive">
                                                <div class="form-horizontal">
                                                    <div id="divModelErrorROReceive"></div>
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label" style="min-width: 190px">@ProjectSession.Resources.label.GoodsReceipt_TextBlockItemName<span class="cfont">*</span></label>
                                                        <div class="col-sm-6">
                                                            <div class="@ProjectSession.CultureKendoClass">
                                                                @(Html.Kendo().DropDownList()
                                                                 .Name("drpROItem")
                                                                 .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                                                 .DataTextField("PartDescription")
                                                                 .DataValueField("ID")
                                                                 .HtmlAttributes(new { style = "width: 100%", @required = "required" })
                                                                 .DataSource(source =>
                                                                 {
                                                                     source.Read(read =>
                                                                     {
                                                                         read.Action(Actions.GetPOItemsByPOID, Controllers.Transaction, new { area = Areas.Transaction }).Data("BindDropDownParameters");
                                                                     });
                                                                 }).Value("")
                                                                )
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label" style="min-width: 190px">@ProjectSession.Resources.label.GoodsReceipt_TextBlockReceiveQuantity<span class="cfont">*</span></label>
                                                        <div class="col-sm-6">
                                                            <input type="text" class="form-control decimalnumbernominus" id="txtROReceiveQuantityVal" name="QtyRec" placeholder="@ProjectSession.Resources.label.GoodsReceipt_TextBlockReceiveQuantity">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label" style="min-width: 190px">@ProjectSession.Resources.label.GoodsReceipt_TextBlockLastReceivedDate<span class="cfont">*</span></label>
                                                        <div class="col-sm-6">
                                                            <div class="input-group date-pick">
                                                                @Html.TextBox("dtROReceiveDate", string.Empty, new { @id = "dtROReceiveDate", @Name = "Date", @class = "form-control calendarsPicker", @placeholder = ProjectConfiguration.DefaultDateFormat })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label" style="min-width: 190px">@ProjectSession.Resources.label.GoodsReceipt_TextBlockSupplierInvoiceNumber<span class="cfont">*</span></label>
                                                        <div class="col-sm-6">
                                                            <input type="text" class="form-control" id="txtROSupplierInvoiceNumberVal" name="MRNNo" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.GoodsReceipt_TextBlockSupplierInvoiceNumber">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label" style="min-width: 190px">@ProjectSession.Resources.label.GoodsReceipt_TextBlockInvoiceDate<span class="cfont">*</span></label>
                                                        <div class="col-sm-6">
                                                            <div class="input-group date-pick">
                                                                @Html.TextBox("dtROInvoiceDate", string.Empty, new { @id = "dtROInvoiceDate", @Name = "InvoiceDate", @class = "form-control calendarsPicker", @placeholder = ProjectConfiguration.DefaultDateFormat })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label" style="min-width:190px">@ProjectSession.Resources.label.GoodsReceipt_TextBlockDeliveryOrderNo<span class="cfont">*</span></label>
                                                        <div class="col-sm-6">
                                                            <input type="text" class="form-control" id="txtRODeliveryOrderNoVal" name="DeliveryOrderNo" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.GoodsReceipt_TextBlockDeliveryOrderNo">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label" style="min-width:190px">@ProjectSession.Resources.label.Store_TextBlockSubStore</label>
                                                        <div class="col-sm-6">
                                                            <div class="@ProjectSession.CultureKendoClass">
                                                                @(Html.Kendo().DropDownList()
                                                                 .Name("drpROSubStore")
                                                                 .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                                                 .DataTextField("SubStoreDesc")
                                                                 .DataValueField("SubStoreID")
                                                                 .HtmlAttributes(new { style = "width: 100%" })
                                                                 .DataSource(source =>
                                                                 {
                                                                     source.Read(read =>
                                                                     {
                                                                         read.Action(Actions.GetPOStoreByPOID, Controllers.Transaction, new { area = Areas.Transaction }).Data("BindDropDownParameterForSubStore");
                                                                     });
                                                                 }).Value("")
                                                                )
                                                            </div>
                                                        </div>
                                                    </div>
                                                    @if (ProjectSession.PermissionAccess.Purchasing_GoodsReceipt_Editrecords || ProjectSession.PermissionAccess.Purchasing_GoodsReceipt_Createnewrecords)
                                                    {
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label" style="min-width: 190px"></label>
                                                            <div class="col-sm-6">
                                                                <button type="submit" class="btn btn-primary" id="btnROReceive" title="@ProjectSession.Resources.label.GoodsReceipt_ButtonROReceive">@ProjectSession.Resources.label.GoodsReceipt_ButtonROReceive</button>
                                                            </div>
                                                        </div>
                                                    }
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="tb7">
                                        <div class="information-form cus-form-inner">
                                            <form role="form" id="frmCIAllItem">
                                                <div class="form-horizontal">
                                                    <div id="divModelErrorCIAllItem"></div>
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label" style="min-width:190px">@ProjectSession.Resources.label.GoodsReceipt_TextBlockItemName<span class="cfont">*</span></label>
                                                        <div class="col-sm-6">
                                                            <div class="@ProjectSession.CultureKendoClass">
                                                                @(Html.Kendo().DropDownList()
                                                                 .Name("drpCIItem")
                                                                 .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                                                 .DataTextField("PartDescription")
                                                                 .DataValueField("ID")
                                                                 .HtmlAttributes(new { style = "width: 100%", @required = "required" })
                                                                 .DataSource(source =>
                                                                 {
                                                                     source.Read(read =>
                                                                     {
                                                                         read.Action(Actions.GetPOItemsByPOID, Controllers.Transaction, new { area = Areas.Transaction }).Data("BindDropDownParameters");
                                                                     });
                                                                 }).Value("")
                                                                )
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label" style="min-width:190px">@ProjectSession.Resources.label.GoodsReceipt_TextBlockCancelQuantity<span class="cfont">*</span></label>
                                                        <div class="col-sm-6">
                                                            <input type="text" class="form-control decimalnumbernominus" name="Quantity" id="txtCICancelQuantityVal" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.GoodsReceipt_TextBlockCancelQuantity">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label" style="min-width:190px;">@ProjectSession.Resources.label.GoodsReceipt_TextBlockCancelDate<span class="cfont">*</span></label>
                                                        <div class="col-sm-6">
                                                            <div class="input-group date-pick">
                                                                @Html.TextBox("dtCancelDate", string.Empty, new { @id = "dtCancelDate", @Name = "TransDate", @class = "form-control calendarsPicker", @placeholder = ProjectConfiguration.DefaultDateFormat })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label" style="min-width:190px;">@ProjectSession.Resources.label.GoodsReceipt_TextBlockCancelReason</label>
                                                        <div class="col-sm-6">
                                                            <input type="text" class="form-control" id="txtCICancelReasonVal" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.GoodsReceipt_TextBlockCancelReason">
                                                        </div>
                                                    </div>
                                                    @if (ProjectSession.PermissionAccess.Purchasing_GoodsReceipt_Editrecords || ProjectSession.PermissionAccess.Purchasing_GoodsReceipt_Createnewrecords)
                                                    {
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label" style="min-width:190px;"></label>
                                                            <div class="col-sm-6">
                                                                <button type="submit" class="btn btn-primary" id="btnCancelItem" title="@ProjectSession.Resources.label.GoodsReceipt_ButtonCancelItem">@ProjectSession.Resources.label.GoodsReceipt_ButtonCancelItem</button>
                                                            </div>
                                                        </div>
                                                    }
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <button class="btn btn-default" type="button" title="@ProjectSession.Resources.label.Common_ButtonCancel" onclick="redirectToList();"><span>@ProjectSession.Resources.label.Common_ButtonCancel</span></button>
                </div>
            </div>
            <div class="tab-pane" id="tb2">
                <div class="information-form cus-form">
                    <h3 class="sub-title">
                        <span>@ProjectSession.Resources.label.PurchaseOrder_TextBlockPOItemsList</span>
                        @if (ProjectSession.PermissionAccess.Purchasing_GoodsReceipt_Export)
                        {
                            <div class="sub_btn">
                                <a href="javascript:void(0);" class="btn-icon btn-xsl" onclick="ExportToExcel('PoItemTransactionGrid');" title="@ProjectSession.Resources.label.Common_ButtonExportToExcel"><i></i></a>
                            </div>
                        }
                    </h3>
                    @(Html.Kendo().Grid<CMMS.Model.Tran>()
                        .Name("PoItemTransactionGrid")
                        .HtmlAttributes(new { @class = "kl-grid" })
                        .Columns(columns =>
                        {
                            columns.Bound(c => c.StockNo).Title(ProjectSession.Resources.label.ItemRequisition_TextBlockItemNo);

                            columns.Bound(c => c.PartDescription).Title(ProjectSession.Resources.label.ItemList_TextBlockPartDescription).Visible(Lang);

                            columns.Bound(c => c.AltStockDescription).Title(ProjectSession.Resources.label.JobPlan_TextBlockAltDecription).Visible(!Lang);

                            columns.Bound(c => c.TransactionType).ClientTemplate("# if( TransactionType == 1) { # " + ProjectSession.Resources.label.GoodsReceipt_TextBlockTranTypeReceived + " # } else { # " + ProjectSession.Resources.label.GoodsReceipt_TextBlockTranTypeCancelled + " # } #").Title(ProjectSession.Resources.label.Purchasing_TextBlockOrderStatus).Visible(Lang)
                            .Filterable(ftb => ftb.Multi(true).ItemTemplate("itemTemplateForTransType").CheckAll(false).BindTo(new[]{
                                    new { TransactionType = 1 },
                                    new { TransactionType = 2 }
                            }));

                            columns.Bound(c => c.Quantity).ClientTemplate("#= DecimalTempalte(data.Quantity,2) #").Title(ProjectSession.Resources.label.JobPlan_TextBlockQuantity);

                            columns.Bound(c => c.UnitPrice).ClientTemplate("#= DecimalTempalte(data.UnitPrice,2) #").Title(ProjectSession.Resources.label.ItemRequisition_TextBlockUnitPrice);

                            columns.Bound(c => c.TransDate).ClientTemplate("#= DateTemplate(data.TransDate) #").Title(ProjectSession.Resources.label.GoodsReceipt_TextBlockReceivedDate);

                            columns.Bound(c => c.DeliveryOrderNo).Title(ProjectSession.Resources.label.GoodsReceipt_TextBlockDeliveryOrderNo);

                            columns.Bound(c => c.InvoiceNo).Title(ProjectSession.Resources.label.JobOrder_TextBlockInvoiceNo);

                            columns.Bound(c => c.InvoiceDate).ClientTemplate("#= DateTemplate(data.InvoiceDate) #").Title(ProjectSession.Resources.label.GoodsReceipt_TextBlockInvoiceDate);

                        })
                        .Filterable()
                        .Sortable(sortable => sortable.AllowUnsort(false))
                        .Scrollable()
                        .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
                        .Excel(excel => excel.FileName(ProjectSession.Resources.label.PurchaseOrder_TextBlockPOItemsList + ".xlsx").Filterable(true).AllPages(true).ProxyURL(Url.Action("Excel_Export_Save", "GridExport", new { area = string.Empty })))
                        .Events(events => events.DataBound("onDataBoundForPOItemTran").ExcelExport("excelExport"))
                        .DataSource(dataSource =>
                        dataSource.Ajax()
                        .PageSize(ProjectConfiguration.PageSize)
                        .Model(model =>
                        {
                            model.Id(p => p.TransactionID);
                            model.Field(p => p.StockNo);
                        })
                        .ServerOperation(true)
                        .Read(read => read.Action(Actions.GetPOItemTransactions, Controllers.Transaction, new { area = Areas.Transaction }).Data("BindParametersForPOItemTran").Type(HttpVerbs.Post))
                        )
                    )
                </div>

                <div class="box-footer">
                    <button class="btn btn-default" type="button" title="@ProjectSession.Resources.label.Common_ButtonCancel" onclick="redirectToList();"><span>@ProjectSession.Resources.label.Common_ButtonCancel</span></button>
                </div>
            </div>
        </div>

    </div><!-- box-content -->
</div>

<script>
    var received = '@ProjectSession.Resources.label.GoodsReceipt_TextBlockTranTypeReceived';
    var cancelled = '@ProjectSession.Resources.label.GoodsReceipt_TextBlockTranTypeCancelled';

    function itemTemplateForTransType(e) {
        if (e.field == "all") {
            return "<div><label><strong><input type='checkbox' /><span>#= all#</span></strong></label></div>";
        } else {
            return "<span><label><input type='checkbox' name='" + e.field + "' value='#=TransactionType#'/><span>#= TransactionType == '1' ? received : cancelled #</span></label></span><br>"
        }
    }

    $('.decimalnumbernominus').on('keypress', function (evt) {
        var val = $(this).val();
        var iKeyCode = (evt.which) ? evt.which : evt.keyCode;
        if (iKeyCode == 45) {
            return false;
        }
        if (iKeyCode != 46 && iKeyCode != 39 && iKeyCode != 37 && iKeyCode != 45 && iKeyCode > 31 && (iKeyCode < 48 || iKeyCode > 57)) {
            return false;
        }
        if (iKeyCode == 46 && val.indexOf('.') > -1) {
            return false;
        }
        return true;
    });

    var intPageID = '@SystemEnum.Pages.GoodReceipt.GetHashCode()';
    $(document).ready(function () {
        CreateCalendarsPicker();
        CalculateAllItemsSummary()
    });

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };

    function onDataBoundForPurchaseReq(arg) {
        gridProperPaging(this);
    }

    function BindParametersForPurchaseReq() {
        return {
            dbcall: true,
            purchaseOrderID: $('#hdnID').val(),
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function onDataBoundForPOItemTran(arg) {
        gridProperPaging(this);
    }

    function BindParametersForPOItemTran() {
        return {
            id: $('#hdnID').val(),
            allItemdone: $("#hdnAllItemDone").val(),
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function BindDropDownParameters() {
        return {
            id: $('#hdnID').val(),
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function BindDropDownParameterForSubStore() {
        return {
            id: $('#hdnID').val(),
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function ClearIndividualItem() {
        $("#drpPoItems").data("kendoDropDownList").value("");
        $("#txtIISLastReceiveddateVal").val("");
        $("#txtIISTotalOrderQuantityVal").val("");
        $("#txtIISTotalReceivedVal").val("");
        $("#txtIISTotalCancelledVal").val("");
        $("#txtIISTotalBalanceVal").val("");
    }

    function ChangePOItemList(e) {
        var dataItem = this.dataItem(e.item);
        if (dataItem.ID > 0) {
            $.ajax({
                url: '@Url.Action(Actions.GetPOItemListByPOItemID, Controllers.Transaction, new { area = Areas.Transaction })',
                type: 'Post',
                data: { id: dataItem.ID == "" ? 0 : dataItem.ID },
                cache: false,
                async: false,
                success: function (result) {
                    if (result != null) {
                        $("#txtIISLastReceiveddateVal").val(DateTemplate(result.LastReceivedDate));
                        $("#txtIISTotalOrderQuantityVal").val(result.TotalOrdered.toFixed(2));
                        $("#txtIISTotalReceivedVal").val(result.TotalReceived.toFixed(2));
                        $("#txtIISTotalCancelledVal").val(result.TotalCancelled.toFixed(2));
                        $("#txtIISTotalBalanceVal").val(result.Balance.toFixed(2));
                    }
                    else {
                        ClearIndividualItem();
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }
        else {
            ClearIndividualItem();
        }
    }

    function CalculateAllItemsSummary() {
        $.ajax({
            url: '@Url.Action(Actions.CalculateAllItemsSummary, Controllers.Transaction, new { area = Areas.Transaction })',
            type: 'Post',
            data: { id: $('#hdnID').val() == "" ? 0 : $('#hdnID').val() },
            cache: false,
            async: false,
            success: function (result) {
                if (result != null) {
                    $("#txtAISLastReceiveddateVal").val(DateTemplate(result.LastReceivedDate));
                    $("#txtAISTotalOrderQuantityVal").val(result.TotalOrdered.toFixed(2));
                    $("#txtAISTotalReceivedVal").val(result.TotalReceived.toFixed(2));
                    $("#txtAISTotalCancelledVal").val(result.TotalCancelled.toFixed(2));
                    $("#txtAISTotalBalanceVal").val(result.Balance.toFixed(2));
                    $("#DeliveryStatus").val(result.Status);
                    if (result.Balance == 0) {
                        $("#OrderStatus").val(result.OrderStatus);
                        $("#btnROReceive").hide();
                        $("#btnROReceive").attr("disabled", "disabled");
                        $("#btnRAReceiveAll").hide();
                        $("#btnRAReceiveAll").attr("disabled", "disabled");
                        $("#btnCancelItem").hide();
                        $("#btnCancelItem").attr("disabled", "disabled");
                    }

                }
                else {
                    $("#txtAISLastReceiveddateVal").val("");
                    $("#txtAISTotalOrderQuantityVal").val("");
                    $("#txtAISTotalReceivedVal").val("");
                    $("#txtAISTotalCancelledVal").val("");
                    $("#txtAISTotalBalanceVal").val("");
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                showErrorMessage();
            }
        });
        ClearIndividualItem();
    }

    function redirectToList() {
        location.href = '@Url.Action(Actions.GoodReceiptList, Controllers.Transaction, new { @area = Areas.Transaction })';
    }
</script>

<script type="text/javascript">

    function clearAllInputTab(id) {
        if (id == 2 || id == 3) {
            validator1.resetForm();
            ClearAllInputs("frmRAReceiveAll");
        }

        if (id == 1 || id == 3) {
            validator3.resetForm();
            ClearAllInputs("frmROReceive");
        }

        if (id == 1 || id == 2) {
            validator2.resetForm();
            ClearAllInputs("frmCIAllItem");
        }

    }
    var validator1 = $('#frmRAReceiveAll').validate({
        rules: {
            Date: { required: true },
            MRNNo: { required: true },
            InvoiceDate: { required: true },
            DeliveryOrderNo: { required: true }
        },
        messages: {
            Date: { required: '' },
            MRNNo: { required: '' },
            InvoiceDate: { required: '' },
            DeliveryOrderNo: { required: '' }
        }
    });

    $('#frmRAReceiveAll').on('submit', function (e) {
        if ($("#frmRAReceiveAll").valid()) {
            if (e.isDefaultPrevented()) {
                // handle the invalid form...
            } else {
                var id = $("#hdnID").val();
                var changedObj = {
                    ID: id == '' ? 0 : id,
                    Date: $("#dtRAReceiveDate").val(),
                    MRNNo: $("#txtRASupplierInvoiceNumberVal").val(),
                    InvoiceDate: $("#dtRAInvoiceDate").val(),
                    DeliveryOrderNo: $("#txtRADeliveryOrderNoVal").val(),
                    SubStoreID: $("#drpRASubStore").val()
                };
                if (validateDate($("#dtRAReceiveDate").val()) && validateDate($("#dtRAInvoiceDate").val())) {
                    $.ajax({
                        url: '@Url.Action(Actions.ManageRAReceiveAll, Controllers.Transaction, new { area = Areas.Transaction })',
                        type: "POST",
                        data: addRequestVerificationToken(changedObj),
                        dataType: "json",
                        success: function (result) {
                            if (result[0] == 0) {
                                ShowMessageWithoutScroll(result[1], result[2], "#divModelErrorRAReceiveAll");
                            }
                            else {
                                ShowMessageWithoutScroll(result[0], result[1], "#divModelErrorRAReceiveAll");
                                CalculateAllItemsSummary();
                                ClearAllInputs("frmRAReceiveAll");
                                $("#hdnAllItemDone").val("1");
                            }
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            showErrorMessage();
                        }
                    });
                }
                else {
                    ShowMessageWithoutScroll('@SystemEnum.MessageType.danger.ToString()', '@ProjectSession.Resources.message.Common_MsgValidFormatDate', "#divModelErrorRAReceiveAll");
                }
                e.preventDefault();
            }
        }
        else {
            e.preventDefault();
        }
    })

    var validator2 = $('#frmCIAllItem').validate({
        rules: {
            Quantity: { required: true },
            TransDate: { required: true },
        },
        messages: {
            Quantity: { required: '' },
            TransDate: { required: '' },
        }
    });

    $('#frmCIAllItem').on('submit', function (e) {
        if ($("#frmCIAllItem").valid()) {
            if (e.isDefaultPrevented()) {
                // handle the invalid form...
            } else {
                if (reValidateDropDowns($(this))) {
                    var changedObj = {
                        PurchaseOrderItemsId: $("#drpCIItem").val(),
                        TransDate: $("#dtCancelDate").val(),
                        Quantity: $("#txtCICancelQuantityVal").val(),
                        Comments: $("#txtCICancelReasonVal").val()
                    };
                    if (validateDate($("#dtCancelDate").val())) {
                        if ($("#txtCICancelQuantityVal").val() <= 0) {
                            ShowMessageWithoutScroll('@SystemEnum.MessageType.danger.ToString()', '@ProjectSession.Resources.message.GoodsReceipt_MsgInvalidQuantity', "#divModelErrorCIAllItem");
                        }
                        else {
                            $.ajax({
                                url: '@Url.Action(Actions.CancelPOItem, Controllers.Transaction, new { area = Areas.Transaction })',
                                type: "POST",
                                data: addRequestVerificationToken(changedObj),
                                dataType: "json",
                                success: function (result) {
                                    if (result[0] == 0) {
                                        ShowMessageWithoutScroll(result[1], result[2], "#divModelErrorCIAllItem");
                                    }
                                    else {
                                        ShowMessageWithoutScroll(result[0], result[1], "#divModelErrorCIAllItem");
                                        CalculateAllItemsSummary()
                                        ClearAllInputs("frmCIAllItem");
                                    }
                                },
                                error: function (xhr, ajaxOptions, thrownError) {
                                    showErrorMessage();
                                }
                            });
                        }
                    }
                    else {
                        ShowMessageWithoutScroll('@SystemEnum.MessageType.danger.ToString()', '@ProjectSession.Resources.message.Common_MsgValidFormatDate', "#divModelErrorCIAllItem");
                    }
                }
                e.preventDefault();
            }
        }
        else {
            e.preventDefault();
        }
    })


    var validator3 = $('#frmROReceive').validate({
        rules: {
            QtyRec: { required: true },
            Date: { required: true },
            MRNNo: { required: true },
            InvoiceDate: { required: true },
            DeliveryOrderNo: { required: true },
        },
        messages: {
            QtyRec: { required: '' },
            Date: { required: '' },
            MRNNo: { required: '' },
            InvoiceDate: { required: '' },
            DeliveryOrderNo: { required: '' },
        }
    });

    $('#frmROReceive').on('submit', function (e) {
        if ($("#frmROReceive").valid()) {
            if (e.isDefaultPrevented()) {
                // handle the invalid form...
            } else {
                if (reValidateDropDowns($(this))) {
                    var id = $("#hdnID").val();
                    var changedObj = {
                        ID: id == '' ? 0 : id,
                        POItemID: $("#drpROItem").val(),
                        QtyRec: $("#txtROReceiveQuantityVal").val(),
                        Date: $("#dtROReceiveDate").val(),
                        MRNNo: $("#txtROSupplierInvoiceNumberVal").val(),
                        InvoiceDate: $("#dtROInvoiceDate").val(),
                        DeliveryOrderNo: $("#txtRODeliveryOrderNoVal").val(),
                        SubStoreID: $("#drpROSubStore").val(),
                    };
                    if (validateDate($("#dtROReceiveDate").val()) && validateDate($("#dtROInvoiceDate").val())) {
                        if ($("#txtROReceiveQuantityVal").val() <= 0) {
                            ShowMessageWithoutScroll('@SystemEnum.MessageType.danger.ToString()', '@ProjectSession.Resources.message.GoodsReceipt_MsgInvalidQuantity', "#divModelErrorROReceive");
                        }
                        else {
                            $.ajax({
                                url: '@Url.Action(Actions.ManageNewReceiveItem, Controllers.Transaction, new { area = Areas.Transaction })',
                                type: "POST",
                                data: addRequestVerificationToken(changedObj),
                                dataType: "json",
                                success: function (result) {
                                    if (result[0] == 0) {
                                        ShowMessageWithoutScroll(result[1], result[2], "#divModelErrorROReceive");
                                    }
                                    else {
                                        ShowMessageWithoutScroll(result[0], result[1], "#divModelErrorROReceive");
                                        CalculateAllItemsSummary()
                                        ClearAllInputs("frmROReceive");
                                    }
                                },
                                error: function (xhr, ajaxOptions, thrownError) {
                                    showErrorMessage();
                                }
                            });
                        }
                    }
                    else {
                        ShowMessageWithoutScroll('@SystemEnum.MessageType.danger.ToString()', '@ProjectSession.Resources.message.Common_MsgValidFormatDate', "#divModelErrorROReceive");
                    }
                }
                e.preventDefault();
            }
        }
        else {
            e.preventDefault();
        }
    })

</script>
