﻿@using CMMS.Infrastructure;
@using CMMS.Pages;
@using CMMS.Model
@using CMMS.Service
@{
    ViewBag.Title = "GoodReceiptList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.AntiForgeryToken()
<div class="head1">
    <h1>@ProjectSession.Resources.label.Purchasing_TextBlockGoodsReceiptList</h1>
    <ul class="sub_btn">
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-search" data-toggle="modal" data-target="#search-order" onclick='OpenAdvancedSearch("@ProjectSession.Resources.label.Purchasing_TextBlockGoodsReceiptList" ,"@SystemEnum.Pages.GoodReceipt.GetHashCode()")' title="@ProjectSession.Resources.label.Common_ButtonAdvanceSearch"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-clear" title="@ProjectSession.Resources.label.Common_ButtonClear" onclick="return ClearAdvencedSearch(@SystemEnum.Pages.GoodReceipt.GetHashCode());"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-refresh" onclick="ReBindKendoGrid('goodReceiptGrid');" title="@ProjectSession.Resources.label.Common_ButtonRefreshGrid"><i></i></a>
        </li>
        @if (ProjectSession.PermissionAccess.Purchasing_GoodsReceipt_Export)
        {
            <li>
                <a href="javascript:void(0);" class="btn-icon btn-xsl" onclick="ExportToExcel('goodReceiptGrid', 'ID');" title="@ProjectSession.Resources.label.Common_ButtonExportToExcel"><i></i></a>
            </li>
        }
    </ul>
</div>

<!-- Kendo Grid-->
<div id="employeeData" class="@ProjectSession.CultureKendoClass">
    @(Html.Kendo().Grid<CMMS.Model.PurchaseOrder>()
        .Name("goodReceiptGrid")
        .Columns(columns =>
        {
            columns.Bound(c => c.PurchaseOrderNo).Title(ProjectSession.Resources.label.Purchasing_TextBlockPurchaseOrderNo).Width(160).Locked(true);

            columns.Bound(c => c.L2Code).Title(ProjectSession.Resources.label.JobRequest_TextBlockCityCode).Width(120)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterSite", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

            columns.Bound(c => c.L2name).Title(ProjectSession.Resources.label.JobRequest_TextBlockCity).Visible(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true).Width(150);
            columns.Bound(c => c.L2Altname).Title(ProjectSession.Resources.label.Purchasing_TextBlockAltCity).Visible(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? true : false).Width(150);

            columns.Bound(c => c.SupplierName).Title(ProjectSession.Resources.label.Supplier_TextBlockSupplier).Visible(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true).Width(300);
            columns.Bound(c => c.AltSupplierName).Title(ProjectSession.Resources.label.Purchasing_TextBlockAltSupplier).Visible(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? true : false).Width(300);

            columns.Bound(c => c.OrderTotal).ClientTemplate("#= DecimalTempalte(data.OrderTotal,2) #").Title(ProjectSession.Resources.label.Purchasing_TextBlockOrderAmount).Width(150);

            columns.Bound(c => c.OrderedDate).ClientTemplate("#= DateTemplate(data.OrderedDate) #").Title(ProjectSession.Resources.label.Store_TextBlockDateOrdered).Width(150);

            columns.Bound(c => c.OrderStatus).Title(ProjectSession.Resources.label.Purchasing_TextBlockOrderStatus).Width(150);

            columns.Bound(c => c.ExpDeliveryDate).ClientTemplate("#= DateTemplate(data.ExpDeliveryDate) #").Title(ProjectSession.Resources.label.Purchasing_TextBlockExpectedDeliveryDate).Width(200);

            columns.Bound(c => c.DeliveryStatus).Title(ProjectSession.Resources.label.Purchasing_TextBlockDeliveryStatus).Width(150);

            columns.Bound(c => c.ProjectNumber).Title(ProjectSession.Resources.label.Preventive_TextBlockProjectNumber).Width(150).Visible(ProjectSession.IsCMProjectFieldsVisible);

            columns.Bound(c => c.ID).ClientTemplate("<center><a class='action'  style='cursor:pointer' href='" + Url.Action(Actions.GoodReceiptDetail, Controllers.Transaction, new { area = Areas.Transaction, id = "#: ID#" }) + "' ><i class='glyphicon glyphicon-pencil'></i></a></center>")
                                       .Title("<center>Action</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Width(60).Visible(ProjectSession.PermissionAccess.Purchasing_GoodsReceipt_Editrecords).Filterable(false);

        })
        .Filterable()
        .Sortable(sortable => sortable.AllowUnsort(false))
        .Scrollable()
        .Excel(excel => excel.FileName(ProjectSession.Resources.label.Purchasing_TextBlockGoodsReceiptList + ".xlsx").Filterable(true).AllPages(true).ProxyURL(Url.Action("Excel_Export_Save", "GridExport", new { area = string.Empty })))
        .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
        .Events(events => events.DataBound("onDataBound").ExcelExport("excelExport"))
        .DataSource(dataSource =>
        dataSource.Ajax()
        .PageSize(ProjectConfiguration.PageSize)
        .Model(model =>
        {
            model.Id(p => p.PurchaseOrderNo);
        })
        .ServerOperation(true)
        .Read(read => read.Action(Actions.GetGoodReceipt, Controllers.Transaction, new { area = Areas.Transaction }).Data("BindParameters").Type(HttpVerbs.Post))
        )
    )

</div>



<!-- -------------search order------------- -->
<div id="search-order" class="modal fade" role="dialog"></div>

<script type="text/javascript">
    var kendoGridId = 'goodReceiptGrid';
    var intPageID = '@SystemEnum.Pages.GoodReceipt.GetHashCode()';

    $(document).ready(function () {
        if ('@ViewBag.Message' != '' && '@ViewBag.MessageType' != '') {
            ShowMessage('@ViewBag.MessageType', '@ViewBag.Message', "#divMessage");
        }
    });

    function BindParameters() {
        return {
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };

    function onDataBound(arg) {
        gridProperPaging(this);
    }

    $("#goodReceiptGrid tbody").on("dblclick", "tr[role='row']", function (e) {
        var grid = $("#goodReceiptGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        location.href = '@Url.Action(Actions.GoodReceiptDetail, Controllers.Transaction, new { area = Areas.Transaction })' + '?id=' + model.ID;
    });
</script> 