﻿@model CMMS.Model.StockCode
@using CMMS.Infrastructure;
@using CMMS.Pages;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool Lang = ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true;
}
<script type="text/javascript" src="~/Scripts/jquery.form.js"></script>
<div class="head1">

    @{ var Titletext = "";
     bool isEditMode = false;
     var stockId = 0;
     if (Model.StockID > 0 && !string.IsNullOrEmpty(Model.StockNo) && Model.StockNo != "0")
     {
         Titletext = ProjectSession.Resources.label.Item_TextBlockItemEdit;
         isEditMode = true;
         stockId = Convert.ToInt32(Model.StockID);
     }
     else
     { Titletext = ProjectSession.Resources.label.Item_ButtonNewItem; isEditMode = false; }
    }
    <h1>
        @Titletext
    </h1>
</div>
<link href=@Url.Content("~/Scripts/JsLibraries/Jcrop-v0.9.12/css/jquery.Jcrop.min.css") rel="stylesheet" />
<script src=@Url.Content("~/Scripts/JsLibraries/Jcrop-v0.9.12/js/jquery.Jcrop.min.js")></script>
<script type="text/javascript">
    var isLoadedAlternativeItemsTab = false;
    var isLoadedAlternativeSuppliersTab = false;
    var isLoadedAttachmentsTab = false;

    function OpenDefaultSupplierPopUp() {
        try { $("#supplierDefaultGridModal").modal("show"); return false; } catch (err) { }
    }

    function onSupplierAutoSelect(e) {
        var model = this.dataItem(e.item.index());
        $('#hdnDefaultSupplierId').val(model.SupplierID);
        $('#txtDefaultSupplierNo').val(model.SupplierNo);
        //$('#txtDefaultSupplierName').val(model.SupplierName);
        //$('#txtDefaultAltSupplierName').val(model.AltSupplierName);
    }


    function onSupplierAdditionalData() {
        return {
            text: $("#txtDefaultSupplierName").val(),
        };
    }

    function BindParametersDefaultSuppliers() {
        return {
            SupplierNo: '',
            SupplierName: '',
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }
    function onDataBoundDefaultSupplier(arg) {
        gridProperPaging(this);
    }

    function ClearDefaultSupplier() {
        $('#hdnDefaultSupplierId').val("");
        $('#txtDefaultSupplierNo').val("");
        $('#txtDefaultSupplierName').val("");
        $('#txtDefaultAltSupplierName').val("");
    }

    function FilDefaultSupplierValues(model) {
        $('#hdnDefaultSupplierId').val(model.SupplierID);
        $('#txtDefaultSupplierNo').val(model.SupplierNo);
        if ('@Lang' == 'True') {
            $('#txtDefaultSupplierName').val(model.SupplierName);
        }
        else {
            $('#txtDefaultSupplierName').val(model.AltSupplierName);
        }
    }

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };

    function onDataBoundDocument(arg) {
        confirmDeleteMsg(msgText, okText, cancelText, onConfirmCallbackDocument, confirmDirection);
        gridProperPaging(this);
    }

    function BindParametersDocument() {
        return {
            foreignKeyID: $('#hdnFkId').val(),
            moduleType: $('#hdnDocumentModuleType').val(),
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function onDataBoundForStockCodeLevel() {
        confirmDeleteMsg(msgText, okText, cancelText, onConfirmCallbackStockCodeLevel, confirmDirection);
        gridProperPaging(this);
    }

    function BindParametersForStockCodeLevel() {
        return {
            stockId: isNotUndefinedNullOrBlankOrZero('StockID') ? $('#StockID').val() : 0,
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function onDataBoundForStockCodeLevelCity() {
        confirmDeleteMsg(msgText, okText, cancelText, onConfirmCallbackStockCodeLevel, confirmDirection);
        gridProperPaging(this);
    }

    function BindParametersForStockCodeLevelCity() {
        return {
            stockId: isNotUndefinedNullOrBlankOrZero('StockID') ? $('#StockID').val() : 0,
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }
    function filterStores() {
        return {
            siteId: isNotUndefinedNullOrBlankOrZero("ddlCity") ? $("#ddlCity").val() : 0,
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function filterPartLocations() {
        return {
            subStoreId: isNotUndefinedNullOrBlankOrZero("ddlSubStore") ? $("#ddlSubStore").val() : 0
        };
    }

    function OpenAddStockLevelPopUp() {
        $('#ddlCity').data("kendoDropDownList").value('');
        $('#ddlSubStore').data("kendoDropDownList").value('');
        $('#ddlPartLocation').data("kendoDropDownList").value('');
        $('#txtMaxLevel').val('0.00');
        $('#txtReOrderLevel').val('0.00');
        $('#txtMaxLevel').val('0.00');
        $('#txtMinLevel').val('0.00');
        $('#txtReOrderQty').val('0.00');
        $('.error').removeClass('error');
    }

    function FormatText(e) {
        if (!isNotUndefinedNullOrBlankOrZero('txtMaxLevel', true)) {
            $('#txtMaxLevel').val('0.00');
        }

        if (!isNotUndefinedNullOrBlankOrZero('txtReOrderLevel', true)) {
            $('#txtReOrderLevel').val('0.00');
        }

        if (!isNotUndefinedNullOrBlankOrZero('txtMinLevel', true)) {
            $('#txtMinLevel').val('0.00');
        }

        if (!isNotUndefinedNullOrBlankOrZero('txtReOrderQty', true)) {
            $('#txtReOrderQty').val('0.00');
        }

        $('#txtMaxLevel').val(parseFloat($('#txtMaxLevel').val()).toFixed(2));
        $('#txtReOrderLevel').val(parseFloat($('#txtReOrderLevel').val()).toFixed(2));
        $('#txtMinLevel').val(parseFloat($('#txtMinLevel').val()).toFixed(2));
        $('#txtReOrderQty').val(parseFloat($('#txtReOrderQty').val()).toFixed(2));
    }

    function CalculateTargetDate()
    { }
</script>
<div id="divModelError"></div>
<div id="divContent">
    @if (ProjectSession.IsItemNoAutoIncrement)
    {
        <div class="box">
            <div class="box-content">
                <div class="row">
                    <div class="col-sm-12 col-md-4 col-lg-3">
                        <label class="form-label">@ProjectSession.Resources.label.ItemList_TextBlockLastItemnoForEachSubStore </label>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-3">
                        <span id="SpanTextBlockCON"></span>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-3">
                        <span id="SpanTextBlockPER"></span>
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="box edit-job-order">
        <div class="nav-tabs-horizontal">
            <ul class="nav nav-tabs">
                <li class="active" id="tbl1"><a data-toggle="tab" href="#tb1" aria-controls="tb1">@ProjectSession.Resources.label.ItemRequisition_RadTabItemBasicInfo</a></li>
                @if (isEditMode)
                {
                    <li class="presentation" id="tbl2"><a data-toggle="tab" href="#tb2" onclick="loadAlternativeItemsTab()" aria-controls="tb2">@ProjectSession.Resources.label.ItemList_RadTabItemAlternativParts</a></li>
                    <li class="presentation" id="tbl3"><a data-toggle="tab" href="#tb3" onclick="loadAlternativeSupploiersTab()" aria-controls="tb3">@ProjectSession.Resources.label.Supplier_RadTabItemSuppliers</a></li>
                    <li class="presentation" id="tbl4"><a data-toggle="tab" href="#tb4" onclick="loadAttachmentsTab()" aria-controls="tb4">@ProjectSession.Resources.menu.Common_MenuAttachment</a></li>
                }
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" onclick="ABC(this);"></a>
                    <ul class="dropdown-menu smp">
                        <li class="active" id="tbl11"><a data-toggle="tab" href="#tb1" aria-controls="tb1">@ProjectSession.Resources.label.JobRequest_TextBlockBasicInfo</a></li>
                        @if (isEditMode)
                        {
                            <li class="presentation" id="tbl12"><a data-toggle="tab" href="#tb2" onclick="loadAlternativeItemsTab()" aria-controls="tb2">@ProjectSession.Resources.label.ItemList_RadTabItemAlternativParts</a></li>
                            <li class="presentation" id="tbl13"><a data-toggle="tab" href="#tb3" onclick="loadAlternativeSupploiersTab()" aria-controls="tb3">@ProjectSession.Resources.label.Supplier_RadTabItemSuppliers</a></li>
                            <li class="presentation" id="tbl14"><a data-toggle="tab" href="#tb4" onclick="loadAttachmentsTab()" aria-controls="tb4">@ProjectSession.Resources.menu.Common_MenuAttachment</a></li>
                        }
                    </ul>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tb1">
                    @using (Html.BeginForm(CMMS.Pages.Actions.SaveItem, CMMS.Pages.Controllers.Transaction, new { area = CMMS.Pages.Areas.Transaction }, FormMethod.Post, new { id = "frmItem", @role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.StockID)

                        <div class="information-form cus-form">
                            <div class="clearfix">
                                <div class="upload-photo-block">

                                    <div class="upload-photo">
                                        <div class="upload-img">
                                            @if (Model.ImagePath != null)
                                            {
                                                <img src="@Model.ImagePath" alt="" id="myImgEmployee" alt="" style="max-height:170px;max-width:150px;min-width:150px;min-height:170px;">
                                            }
                                            else
                                            {
                                                <img src="@Url.Content("~/Images/default_item.png")" id="myImgEmployee" alt="" style="max-height: 170px; max-width: 150px; min-width: 150px; min-height: 170px;">
                                            }
                                        </div>
                                        <span class="upload-input">
                                            <input type="file" id="ChangeEmployeePhoto" name="ChangeEmployeePhoto" accept="image/*" title="@ProjectSession.Resources.label.Item_TextBlockUploadItemPhoto" />
                                        </span>
                                        @Html.HiddenFor(model => model.ImagePath)
                                        @Html.HiddenFor(model => model.OldImagePath)
                                        <input type="hidden" id="hdnIsOriginal" value="1" />
                                        <label class="upload-not">(* @ProjectSession.Resources.message.Employee_MsgUploadValidImageNote ) </label>
                                    </div>

                                    <div class="form-group col-md-6  col-lg-4">
                                        <label class="form-label">@ProjectSession.Resources.label.ItemList_TextBlockPartNO<span class="cfont">*</span></label>
                                        @if (!ProjectSession.PermissionAccess.Stores_ItemList_ChangeMastersCodes && Model.StockID > 0)
                                        { @Html.HiddenFor(model => model.StockNo) }
                                        @Html.HiddenFor(model => model.OldStockNo)
                                        @Html.TextBoxFor(model => model.StockNo, new { @MaxLength = 500, @id = "txtStockNo", @class = "form-control", @placeholder = ProjectSession.Resources.label.Common_Enter + " " + ProjectSession.Resources.label.ItemList_TextBlockPartNO })
                                    </div>
                                    @if (ProjectSession.IsItemNoAutoIncrement)
                                    {
                                        <div class="form-group col-md-6  col-lg-4">
                                            <label class="form-label">@ProjectSession.Resources.label.ItemRequisition_TextBlockItem</label>
                                            <div class="@ProjectSession.CultureKendoClass">
                                                @(Html.Kendo().DropDownList()
                                        .Name("ddlItem")
                                        .DataTextField("Text")
                                        .DataValueField("Value")
                                        .Events(m => m.Change("onChangeDDLItem"))
                                        .BindTo(new List<SelectListItem>()
                                        {
                                            new SelectListItem() {
                                                Text = ProjectSession.Resources.label.Common_Select , Value = "0"
                                            },
                                            new SelectListItem() {
                                                Text = ProjectSession.Resources.label.Store_Consumable, Value = "1"
                                            },
                                            new SelectListItem() {
                                                Text = ProjectSession.Resources.label.Store_Personal, Value = "2"
                                            }
                                        })
                                        .HtmlAttributes(new { style = "width: 100%" })
                                                )
                                            </div>
                                        </div>
                                    }
                                    <div class="form-group col-md-6  col-lg-4">
                                        <label class="form-label">@ProjectSession.Resources.label.AccountCode_TextBlockStatus</label>
                                        <div class="@ProjectSession.CultureKendoClass">
                                            @(Html.Kendo().DropDownListFor(model => model.Status)
                                        .DataTextField("Text")
                                        .DataValueField("Value")
                                        .BindTo(new List<SelectListItem>()
                                        {
                                            new SelectListItem() {
                                                Text = ProjectSession.Resources.label.Common_Select , Value = ""
                                            },
                                            new SelectListItem() {
                                                Text = "Active", Value = "1"
                                            },
                                            new SelectListItem() {
                                                Text = "Not Active", Value = "0"
                                            },
                                            new SelectListItem() {
                                                Text = "Disposed", Value = "2"
                                            }
                                        })
                                        .HtmlAttributes(new { style = "width: 100%" })
                                            )
                                        </div>
                                    </div>

                                    <div class="form-group col-md-6 col-lg-4">
                                        <label class="form-label">@ProjectSession.Resources.label.ItemList_TextBlockPartDesc<span class="cfont">*</span></label>
                                        @Html.TextAreaFor(model => model.StockDescription, new { @MaxLength = 4000, @id = "txtStockDesc", @rows = "3", @class = "form-control", @placeholder = ProjectSession.Resources.label.Common_Enter + " " + ProjectSession.Resources.label.ItemList_TextBlockPartDesc })
                                    </div>
                                    <div class="form-group col-md-6 col-lg-4">
                                        <label class="form-label">@ProjectSession.Resources.label.ItemList_TextBlockAltPartDesc</label>
                                        @Html.TextAreaFor(model => model.AltStockDescription, new { @MaxLength = 4000, @id = "txtAltStockDesc", @rows = "3", @class = "form-control", @placeholder = ProjectSession.Resources.label.Common_Enter + " " + ProjectSession.Resources.label.ItemList_TextBlockAltPartDesc })
                                    </div>
                                    <div class="form-group col-md-6 col-lg-4">
                                        <label class="form-label">@ProjectSession.Resources.label.JobPlan_TextBlockSpecification</label>
                                        @Html.TextAreaFor(model => model.Specification, new { @MaxLength = 4000, @id = "txtAltStockDesc", @rows = "3", @class = "form-control", @placeholder = ProjectSession.Resources.label.Common_Enter + " " + ProjectSession.Resources.label.JobPlan_TextBlockSpecification })
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="information-form cus-form">
                            <div class="row">
                              
                                @*</div>
                                    <div class="row">*@
                               
                                @*</div>
                                    <div class="row">*@
                                <div class="form-group col-md-6 col-lg-4">
                                    <label class="form-label">@ProjectSession.Resources.label.Asset_TextBlockManufacturer</label>
                                    @Html.TextBoxFor(model => model.Manufacturer, new { @MaxLength = 500, @id = "txtManufacturer", @class = "form-control", @placeholder = ProjectSession.Resources.label.Common_Enter + " " + ProjectSession.Resources.label.Asset_TextBlockManufacturer })
                                </div>
                                <div class="form-group col-md-6 col-lg-4">
                                    <label class="form-label">@ProjectSession.Resources.label.ItemType_TextBlockPartType</label>
                                    <div class="@ProjectSession.CultureKendoClass">
                                        @(Html.Kendo().DropDownListFor(model => model.AttrGroupID)
                                                .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                                .DataTextField("AttrName")
                                                .ValueTemplate(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? " #: AltAttrName # " : "#: AttrName #")
                                                .DataValueField("AttrID")
                                                .HtmlAttributes(new { style = "width: 100%", id = "ddlItemType" })
                                                .Template("#= KendoDDLTemplate('' ,data.AttrName, data.AltAttrName) #")
                                                .DataSource(source =>
                                                {
                                                    source.Read(read =>
                                                    {
                                                        read.Action(Actions.GetAllItemTypesDDL, Controllers.Configurations, new { area = Areas.Configurations });
                                                    });
                                                })
                                                .Value(Convert.ToString(Model.AttrGroupID))
                                        )
                                    </div>
                                </div>
                                <div class="form-group col-md-6 col-lg-4">
                                    <label class="form-label">@ProjectSession.Resources.label.ItemSubType_TextBlockPartSubType</label>
                                    <div class="@ProjectSession.CultureKendoClass">
                                        @(Html.Kendo().DropDownListFor(model => model.AttrSubID)
                                                .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                                .DataTextField("AttrSubName")
                                                .ValueTemplate(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? " #: AltAttrSubName # " : "#: AttrSubName #")
                                                .DataValueField("AttrSubID")
                                    .HtmlAttributes(new { style = "width: 100%", id = "ddlItemSubType" })
                                                .Template("#= KendoDDLTemplate('' ,data.AttrSubName, data.AltAttrSubName) #")
                                                .DataSource(source =>
                                                {
                                                    source.Read(read =>
                                                    {
                                                        read.Action(Actions.GetItemSubTypesByItemTypeDDL, Controllers.Configurations, new { area = Areas.Configurations }).Data("filterItemSubType");
                                                    });
                                                })
                                                .CascadeFrom("ddlItemType")
                                                .AutoBind(true)
                                    .Value(Convert.ToString(Model.AttrSubID))
                                        )
                                    </div>
                                    <script type="text/javascript">
                                        function filterItemSubType() {
                                            var AttrID = '';

                                            if (isNotUndefinedNullOrBlankOrZero('ddlItemType')) {
                                                AttrID = $("#ddlItemType").val();
                                            }

                                            return {
                                                attrID: AttrID
                                            };
                                        }
                                    </script>
                                </div>
                                @*</div>
                                    <div class="row">*@
                                <div class="form-group col-md-6 col-lg-4">
                                    <label class="form-label">@ProjectSession.Resources.label.Item_TextBlockUOM</label>
                                    @Html.TextBoxFor(model => model.UOM, new { @MaxLength = 250, @id = "txtUOM", @class = "form-control", @placeholder = ProjectSession.Resources.label.Common_Enter + " " + ProjectSession.Resources.label.Item_TextBlockUOM })
                                </div>
                                <div class="form-group col-md-6 col-lg-4">
                                    <label class="form-label">@ProjectSession.Resources.label.Item_TextBlockStandardprice</label>
                                    @Html.TextBoxFor(model => model.Price2, "{0:0.00}", new { @MaxLength = "26", @id = "txtStandardPrice", @class = "form-control decimalnumber", @placeholder = ProjectSession.Resources.label.Common_Enter + " " + ProjectSession.Resources.label.Item_TextBlockStandardprice })
                                </div>
                                <div class="form-group col-md-6 col-lg-4">
                                    <label class="form-label">@ProjectSession.Resources.label.Item_TextBlockAveragePrice</label>
                                    @Html.TextBoxFor(model => model.AvgPrice,String.Format("{0:0.00}", Model.AvgPrice), new { @id = "txtAvgPrice", @class = "form-control", @readonly = "readonly", @placeholder = ProjectSession.Resources.label.Item_TextBlockAveragePrice })
                                </div>
                                @*</div>
                                    <div class="row">*@
                                <div class="form-group col-md-6 col-lg-4">
                                    <label class="form-label">@ProjectSession.Resources.label.Item_TextBlockLeadTime</label>
                                    @Html.TextBoxFor(model => model.LeadTime, new { @MaxLength = 4, type = "number", @id = "txtLeadTime", @class = "form-control allowIntegerOnly", @placeholder = ProjectSession.Resources.label.Common_Enter + " " + ProjectSession.Resources.label.Item_TextBlockLeadTime })
                                </div>
                                <div class="form-group two-form-group col-md-6 col-lg-4">
                                    <label class="form-label">@ProjectSession.Resources.label.Supplier_TextBlockPrefferedSupplier</label>
                                    <div class="input-group pm-checklist">
                                        @Html.HiddenFor(model => model.Default_supplier_id, new { @id = "hdnDefaultSupplierId" })
                                        @Html.TextBoxFor(model => model.SupplierNo, new { @class = "form-control code-input", @readonly = "readonly", @id = "txtDefaultSupplierNo", @Placeholder = @ProjectSession.Resources.label.Supplier_TextBlockSupplierNo })
                                        @*@Html.TextBoxFor(model => model.SupplierName, new { @class = "form-control", @readonly = "readonly", @style = "display:" + (Lang ? "" : "none;"), @id = "txtDefaultSupplierName", @Placeholder = @ProjectSession.Resources.label.Supplier_TextBlockSupplierName })
                                            @Html.TextBoxFor(model => model.AltSupplierName, new { @class = "form-control", @readonly = "readonly", @style = "display:" + (Lang ? "none;" : ""), @id = "txtDefaultAltSupplierName", @Placeholder = @ProjectSession.Resources.label.Supplier_TextBlockAltSupplierName })*@

                                        @(Html.Kendo().AutoCompleteFor(model => model.SupplierName)
                                    .DataTextField(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "AltSupplierName" : "SupplierName")
                                    .HtmlAttributes(new { @class = "form-control", @id = "txtDefaultSupplierName" })
                                    .Filter("contains")
                                    .Template("#= KendoDDLTemplate( data.SupplierNo, data.SupplierName, data.AltSupplierName) #")
                                    .MinLength(3)
                                    .Placeholder(ProjectSession.Resources.label.Supplier_TextBlockSupplierName)
                                    .Events(m => m.Select("onSupplierAutoSelect"))
                                    .DataSource(source =>
                                     {
                                         source.Read(read =>
                                         {
                                             read.Action(Actions.GetSuppliersListAutoDDL, Controllers.AutoComplete, new { area = Areas.Configurations }).Data("onSupplierAdditionalData");
                                         })
                                     .ServerFiltering(true);
                                     })
                                    .Value(Convert.ToString(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? Model.AltSupplierName : Model.SupplierName))
                                        )

                                        <a href="javascript:void(0);" class="checklis-btn" id="btnOpenDefaultSupplierPopUp" data-backdrop="static" onclick="OpenDefaultSupplierPopUp();">
                                            <img src="../images/checklis-icon.png" alt="">
                                        </a>
                                        <a href="javascript:void(0);" class="close-btn" id="btnClearDefaultSupplier" title="@ProjectSession.Resources.label.Common_ButtonClear" onclick="ClearDefaultSupplier();">
                                            <img src="../images/close.png" alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="form-group col-md-6 col-lg-4">
                                    <label class="form-label">@ProjectSession.Resources.label.Item_TextBlockNotes</label>
                                    @Html.TextAreaFor(model => model.Notes, new { @MaxLength = "5000", @id = "txtNotes", @rows = "3", @class = "form-control", @placeholder = ProjectSession.Resources.label.Common_Enter + " " + ProjectSession.Resources.label.Item_TextBlockNotes })
                                </div>
                                @*</div>
                                    <div class="row">*@
                                <div class="form-group col-md-6 col-lg-4">
                                    <div class="checkbox-box">
                                        @Html.CheckBoxFor(model => model.isCritical, new { id = "chkIsCritical" })
                                        @ProjectSession.Resources.label.Item_CheckBoxCritical
                                    </div>
                                </div>
                                <div class="form-group col-md-6 col-lg-4">
                                    <div class="checkbox-box">
                                        @Html.CheckBoxFor(model => model.allowNegativeBalance, new { id = "chkAllowNullBalance" })
                                        @ProjectSession.Resources.label.Item_CheckBoxAllowNegative
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="box-footer">
                        @{

                            if (ProjectSession.PermissionAccess.Stores_ItemList_Createnewrecords || ProjectSession.PermissionAccess.Stores_ItemList_Editrecords)
                            {
                                <button class="btn btn-primary" id="btnSave" title="@ProjectSession.Resources.label.Common_ButtonSave" onclick="$('#frmItem').submit()" type="button"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
                            }
                        }
                        <button class="btn btn-default" type="button" id="btnCancel" onclick="location.href = '@Url.Action(Actions.StoreItemsList, Controllers.Transaction, new { @area = Areas.Transaction })';"><span>@ProjectSession.Resources.label.Common_ButtonCancel</span></button>
                    </div>
                </div>

                <div class="tab-pane active" id="tb2">
                    <div id="divAlternativeItems">
                    </div>
                </div>

                <div class="tab-pane active" id="tb3">
                    <div id="divAlternativeSuppliers">
                    </div>
                </div>

                <div class="tab-pane" id="tb4">
                    <div class="information-form">
                        <div id="divExternalDocument">
                        </div>
                    </div>
                    <div class="box-footer">
                        <button class="btn btn-default" type="button" onclick="location.href = '@Url.Action(Actions.StoreItemsList, Controllers.Transaction, new { @area = Areas.Transaction })';"><span>@ProjectSession.Resources.label.Common_ButtonCancel</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @if (isEditMode)
    {
        <div style="padding-top:15px;">
            <div class="cus-form">
                <h3 class="sub-title">
                    <span>@ProjectSession.Resources.label.ItemList_TextBlockStockCodeLevel</span>

                    <ul class="sub_btn">
                        @if (ProjectSession.PermissionAccess.Stores_ItemList_Editrecords)
                        {
                            <li><a href="#" class="btn-icon btn-add" data-toggle="modal" data-target="#stockcodeLevelAddModal" id="btnAddOpenStockCodeLevelWin" onclick="OpenAddStockLevelPopUp()" data-backdrop="static" title='@ProjectSession.Resources.label.Common_ButtonAdd'><i></i></a></li>
                        }
                    </ul>
                </h3>
                <div id="itemListData" class="@ProjectSession.CultureKendoClass">
                    @(Html.Kendo().Grid<CMMS.Model.Stockcode_level>()
       .Name("stockCodeLevelGrid")
                                .HtmlAttributes(new { @class = "kl-grid" })
        .Columns(columns =>
        {
            columns.Bound(c => c.SubStoreCode).Title(ProjectSession.Resources.label.Store_TextBlockStore).Width(120);

            columns.Bound(c => c.Max_level).ClientTemplate("#= DecimalTempalte(data.Max_level,2) #").Title(ProjectSession.Resources.label.Item_TextBlockMaxLevel).Width(170);

            columns.Bound(c => c.Re_order_level).ClientTemplate("#= DecimalTempalte(data.Re_order_level,2) #").Title(ProjectSession.Resources.label.Item_TextBlockReOrderLevel).Width(170);

            columns.Bound(c => c.Min_level).ClientTemplate("#= DecimalTempalte(data.Min_level,2) #").Title(ProjectSession.Resources.label.Item_TextBlockMinLevel).Width(120);
            columns.Bound(c => c.Reorder_qty).ClientTemplate("#= DecimalTempalte(data.Reorder_qty,2) #").Title(ProjectSession.Resources.label.Item_TextBlockReOrderQty).Width(120);
            columns.Bound(c => c.PartLocation).Title(ProjectSession.Resources.label.Location_TextBlockPartLocation).Width(120);

            columns.Bound(c => c.Sub_store_id).ClientTemplate("<center>" +
                                                           (ProjectSession.PermissionAccess.Stores_ItemList_Deleterecords ? "<a class='action delete-button'  href='javascript:void(0);'  class='delete-ic' data-id='#: Sub_store_id #' style='cursor:pointer'><i class='glyphicon glyphicon-trash' title='" + ProjectSession.Resources.label.Common_ButtonDelete + "' ></i></a>" : "") + "</center>")
                                       .Title("<center>Action</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Width(60).Visible(ProjectSession.PermissionAccess.JobOrder_JobOrder_Editrecords);

        })
        .Sortable(sortable => sortable.AllowUnsort(false))
        .Scrollable()
                        .Excel(excel => excel.FileName(ProjectSession.Resources.label.ItemList_TextBlockItemList + ".xlsx").Filterable(true).AllPages(false))
                .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
        .Events(events => events.DataBound("onDataBoundForStockCodeLevel"))
        .DataSource(dataSource =>
                                dataSource.Ajax()
                                .PageSize(ProjectConfiguration.PageSize)
                                 .Model(model =>
                                 {
                                     model.Id(p => p.Sub_store_id);
                                     model.Field(p => p.Stock_id);
                                 })
                                .ServerOperation(true)
                                        .Read(read => read.Action(Actions.GetStockCodeLevelByStockId, Controllers.Transaction, new { area = Areas.Transaction }).Data("BindParametersForStockCodeLevel").Type(HttpVerbs.Post))
                )
                    )
                </div>

                <div id="stockCodeCity" class="@ProjectSession.CultureKendoClass" style="margin-top:10px;">
                    @(Html.Kendo().Grid<CMMS.Model.Stockcode_level>()
       .Name("stockCodeCityGrid")
                                .HtmlAttributes(new { @class = "kl-grid" })
        .Columns(columns =>
        {
            columns.Bound(c => c.L2Code).Title(ProjectSession.Resources.label.JobRequest_TextBlockCityCode);

            columns.Bound(c => c.SubStoreCode).Title(ProjectSession.Resources.label.Store_TextBlockStore);

            columns.Bound(c => c.Balance).ClientTemplate("#= DecimalTempalte(data.Balance,2) #").Title(ProjectSession.Resources.label.JobOrder_TextBlockBalance);
        })
        .Sortable(sortable => sortable.AllowUnsort(false))
        .Scrollable()
                        .Excel(excel => excel.FileName(ProjectSession.Resources.label.ItemList_TextBlockItemList + ".xlsx").Filterable(true).AllPages(false))
                .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
        .Events(events => events.DataBound("onDataBoundForStockCodeLevelCity"))
        .DataSource(dataSource =>
                                dataSource.Ajax()
                                .PageSize(ProjectConfiguration.PageSize)
                                 .Model(model =>
                                 {
                                     model.Id(p => p.Sub_store_id);
                                     model.Field(p => p.Stock_id);
                                 })
                                .ServerOperation(true)
                                                .Read(read => read.Action(Actions.GetStockCodeLevelCityByStockId, Controllers.Transaction, new { area = Areas.Transaction }).Data("BindParametersForStockCodeLevelCity").Type(HttpVerbs.Post))
                )
                    )
                </div>
            </div>
        </div>
    }
</div>

<!--Supplier Modal-->
<div id="supplierDefaultGridModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" title="@ProjectSession.Resources.label.Common_ButtonClose"></button>
                <h4 class="modal-title">@ProjectSession.Resources.label.Supplier_TextBlockSupplier</h4>
            </div>
            <div class="modal-body">
                <div id="Highlights" class="tab-pane active" role="tabpanel">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div id="supplierData" class="@ProjectSession.CultureKendoClass">
                                    @(Html.Kendo().Grid<CMMS.Model.Supplier>()
                                    .Name("DefaultSupplierGrid")
                                    .HtmlAttributes(new { @class = "kl-grid" })
                                    .Columns(columns =>
                                    {
                                        columns.Bound(c => c.SupplierID).Hidden(true);
                                        columns.Bound(c => c.SupplierNo).Title(ProjectSession.Resources.label.Supplier_TextBlockSupplierNo);

                                        columns.Bound(c => c.SupplierName).Title(ProjectSession.Resources.label.Supplier_TextBlockSupplierName);

                                        columns.Bound(c => c.AltSupplierName).Title(ProjectSession.Resources.label.Supplier_TextBlockAltSupplierName);
                                    })
                                    .Filterable()
                                    .Sortable(sortable => sortable.AllowUnsort(false))
                                    .Scrollable()
                                    .Pageable(pageable => pageable.PageSizes(CMMS.Pages.General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
                                    .Events(events => events.DataBound("onDataBoundDefaultSupplier"))
                                    .DataSource(dataSource => dataSource.Ajax()
                                    .PageSize(ProjectConfiguration.PageSize)
                                     .Model(model =>
                                     {
                                         model.Id(p => p.SupplierNo);
                                         model.Field(p => p.SupplierName);
                                     })
                                    .ServerOperation(true)
                                    .Read(read => read.Action(CMMS.Pages.Actions.GetSuppliersList, CMMS.Pages.Controllers.Configurations, new { area = CMMS.Pages.Areas.Configurations }).Data("BindParametersDefaultSuppliers").Type(HttpVerbs.Post))
                                    )
                                   .Resizable(resize => resize.Columns(true))
                                    )

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer box-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@ProjectSession.Resources.label.Common_ButtonClose</button>
            </div>
        </div>
    </div>
</div>

<!-- Labor Add Modal -->
@if (ProjectSession.PermissionAccess.Stores_ItemList_Editrecords)
{
    <div id="stockcodeLevelAddModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" title="@ProjectSession.Resources.label.Common_ButtonClose"></button>
                    <h4 class="modal-title">@ProjectSession.Resources.label.ItemList_TextBlockStockCodeLevel</h4>
                </div>
                <form id="frmStockCodeLevel">
                    @Html.AntiForgeryToken()
                    <input type="hidden" id="hdnStockCodeID" name="stock_id" />
                    <div class="modal-body">
                        <div id="Highlights" class="tab-pane active" role="tabpanel">
                            <div id="divModelErrorStockLevel"></div>
                            <div class="information-form cus-form">
                                <div class="row">
                                    <div class="form-group col-md-12 col-lg-12">
                                        <label class="form-label">@ProjectSession.Resources.label.JobRequest_TextBlockCity</label>
                                        <div class="@ProjectSession.CultureKendoClass">
                                            @(Html.Kendo().DropDownList()
                                                .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                                .Name("L2")
                                                .DataTextField("L2Code")
                                                .ValueTemplate(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "#:L2Code # -- #: L2Altname # " : "#:L2Code # -- #: L2name #")
                                                .DataValueField("L2ID")
                                                .HtmlAttributes(new { style = "width: 100%", id = "ddlCity" })
                                                .Template("#= KendoDDLTemplate(data.L2Code ,data.L2name, data.L2Altname) #")
                                                .DataSource(source =>
                                                {
                                                    if (ProjectSession.IsCentral)
                                                    {
                                                        source.Read(read =>
                                                        {
                                                            read.Action(Actions.GetAllCities, Controllers.Configurations, new { area = Areas.Configurations, cityID = Model.L2ID });
                                                        });
                                                    }
                                                    else
                                                    {
                                                        source.Read(read =>
                                                        {
                                                            read.Action(Actions.GetCitiesByEmployee, Controllers.Configurations, new { area = Areas.Configurations, cityID = Model.L2ID });
                                                        });
                                                    }
                                                })
                                                .Value("")
                                            )
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6 col-lg-6">
                                        <label class="form-label">@ProjectSession.Resources.label.Store_TextBlockStore<span class="cfont">*</span></label>
                                        <div class="@ProjectSession.CultureKendoClass">
                                            @(Html.Kendo().DropDownList()
                                                .Name("sub_store_id")
                                                .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                                .DataTextField("SubStoreCode")
                                                .ValueTemplate(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "#:SubStoreCode # -- #: AltSubStoreDesc # " : "#:SubStoreCode # -- #: SubStoreCode #")
                                                .DataValueField("SubStoreID")
                                                .HtmlAttributes(new { style = "width: 100%", @required = "required", @id = "ddlSubStore" })
                                                .Template("#= KendoDDLTemplate(data.SubStoreCode ,data.SubStoreDesc, data.AltSubStoreDesc) #")
                                                .DataSource(source =>
                                                {
                                                    source.Read(read =>
                                                    {
                                                        read.Action(Actions.GetStoresListByL2ID, Controllers.Configurations, new { area = Areas.Configurations }).Data("filterStores");

                                                    })
                                                    .ServerFiltering(true);
                                                })
                                                .CascadeFrom("ddlCity")
                                                .AutoBind(true)
                                                .Value("")
                                            )
                                        </div>
                                    </div>
                                    @*</div>
                                        <div class="row">*@
                                    <div class="form-group col-md-6 col-lg-6">
                                        <label class="form-label">@ProjectSession.Resources.label.Item_TextBlockMaxLevel</label>
                                        @Html.TextBox("max_level", String.Format("{0:0.00}", "0.00"), new { @MaxLength = 27, @id = "txtMaxLevel", @class = "form-control decimalnumber", onchange = "FormatText()" })
                                    </div>
                                    <div class="form-group col-md-6 col-lg-6">
                                        <label class="form-label">@ProjectSession.Resources.label.Item_TextBlockReOrderLevel</label>
                                        @Html.TextBox("re_order_level", String.Format("{0:0.00}", "0.00"), new { @MaxLength = 27, @id = "txtReOrderLevel", @class = "form-control decimalnumber", onchange = "FormatText()" })
                                    </div>
                                    @*</div>
                                        <div class="row">*@
                                    <div class="form-group col-md-6 col-lg-6">
                                        <label class="form-label">@ProjectSession.Resources.label.Item_TextBlockMinLevel</label>
                                        @Html.TextBox("min_level", String.Format("{0:0.00}", "0.00"), new { @MaxLength = 27, @id = "txtMinLevel", @class = "form-control decimalnumber", onchange = "FormatText()" })
                                    </div>
                                    <div class="form-group col-md-6 col-lg-6">
                                        <label class="form-label">@ProjectSession.Resources.label.Item_TextBlockReOrderQty</label>
                                        @Html.TextBox("reorder_qty", String.Format("{0:0.00}", "0.00"), new { @MaxLength = 27, @id = "txtReOrderQty", @class = "form-control decimalnumber", onchange = "FormatText()" })
                                    </div>
                                    @*</div>
                                        <div class="row">*@
                                    <div class="form-group col-md-6 col-lg-6">
                                        <label class="form-label">@ProjectSession.Resources.label.Location_TextBlockPartLocation</label>
                                        <div class="@ProjectSession.CultureKendoClass">
                                            @(Html.Kendo().DropDownList()
                                .Name("PartLocationID")
                                                .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                                .DataTextField("PartLocation")
                                                .DataValueField("ID")
                                                .HtmlAttributes(new { style = "width: 100%", @id = "ddlPartLocation" })
                                                .DataSource(source =>
                                                {
                                                    source.Read(read =>
                                                    {
                                                        read.Action(Actions.GetPartLocationsBySubStore, Controllers.Transaction, new { area = Areas.Transaction }).Data("filterPartLocations");

                                                    })
                                                    .ServerFiltering(true);
                                                })
                                                .CascadeFrom("ddlSubStore")
                                                .AutoBind(true)
                                                .Value("")
                                            )

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer box-footer">
                        @if (ProjectSession.PermissionAccess.Stores_ItemList_Editrecords)
                        {
                            <button type="button" onclick=" $('#frmStockCodeLevel').submit()" class="btn btn-primary" id="btnStockLevelSave"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
                        }
                        <button type="button" class="btn btn-default" data-dismiss="modal">@ProjectSession.Resources.label.Common_ButtonClose</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
}


<!-- (Start)Change Image Modal -->
<div class="modal fade" id="changeEmployeePhotoModal" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                <h4 class="modal-title">@ProjectSession.Resources.label.Item_TextBlockUploadItemPhoto</h4>
            </div>
            <form data-toggle="validator" role="form" id="frmImageChangeEmployee">
                <input type="hidden" name="hdnOldImageName" id="hdnOldImageName" value="@Model.ImagePath" />
                <div class="modal-body">
                    <div class="form-horizontal popup-form">
                        <div id="divModelError">
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12" style="overflow:auto">
                                <img src="" alt="" id="myImg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">@ProjectSession.Resources.label.Common_ButtonSave</button>
                    &nbsp; <button type="button" class="btn btn-default" data-dismiss="modal">@ProjectSession.Resources.label.Common_ButtonClose</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- (End)Change Image Modal -->

<script type="text/javascript">
    /*Start User Picture Crop*/
    var jcrop_api;
    var ImageWidth = 150;
    var ImageHeight = 170;
    var x1val = 0;
    var x2val = 0;
    var y1val = 0;
    var y2val = 0;
    var height = 0;
    var width = 0;
    var EmployeePhotoSize = 1024;

    $(function () {
        $('#frmImageChangeEmployee').on('submit', function (e) {

            if (e.isDefaultPrevented()) {
                // handle the invalid form...
            } else {

                var data = new FormData();
                var files = $("#ChangeEmployeePhoto").get(0).files;
                if (files.length > 0) {
                    data.append("UploadedFile", files[0]);
                }
                data.append("cropPointX", x1val);
                data.append("cropPointY", y1val);
                data.append("imageCropWidth", parseInt(width));
                data.append("imageCropHeight", parseInt(height));
                data.append("oldFileName", $('#ImagePath').val());

                var ajaxRequest = $.ajax({
                    type: "POST",
                    url: '@Url.Action(Actions.ChangeItemPhoto, Controllers.Transaction)',
                    contentType: false,
                    processData: false,
                    data: data,
                    async: false,
                    error: function (xhr, ajaxOptions, thrownError) {
                        showErrorMessage();
                    },
                    success: function (result) {
                        if (result[0] == 0) {
                            ShowMessage(result[1], result[2], "#divModelError");
                        }
                        else {
                            ShowMessage(result[0], result[1], "#divMessage");
                            $("#changeEmployeePhotoModal").modal('hide');

                            $('#myImgEmployee').attr("src", '../@Url.Content(ProjectSession.AccountCode + "/" + ProjectSession.AccountCode + "/ItemImages")' + "/" + result[2]);
                            $('#ImagePath').val('../@Url.Content(ProjectSession.AccountCode + "/" + ProjectSession.AccountCode + "/ItemImages")' + "/" + result[2]);
                            if ($("#hdnIsOriginal").val() == 1) {
                                $('#OldImagePath').val(result[3]);
                                $("#hdnIsOriginal").val(0);
                            }
                            //$('#employeeImage').attr("src", '@Url.Content(ProjectConfiguration.UploadPath + "ItemImages")' + "/" + result[2]);
                        }
                    }
                });
                e.preventDefault();
            }
        });

        var _validFileExtensions = [".jpg", "jpeg", ".gif", ".png", ".bmp"];
        $("#ChangeEmployeePhoto").change(function () {

            var _validFileExtensionsMasterstr = '@ProjectSession.AllowedFileTypes';
            var _validFileExtensionsMaster = _validFileExtensionsMasterstr.split(',');
            if (this.files && this.files[0]) {

                //For file validation
                var imgSize = this.files[0].size / 1024;
                if (imgSize > EmployeePhotoSize) {
                    ShowMessage('@CMMS.Infrastructure.SystemEnum.MessageType.danger', '@ProjectSession.Resources.message.Common_MsgUploadSizeImage', "#divMessage");
                    return false;
                }

                var sFileName = this.files[0].name.toLowerCase();
                if (sFileName.length > 0) {
                    var blnValid = false;
                    for (var j = 0; j < _validFileExtensions.length; j++) {
                        var sCurExtension = _validFileExtensions[j];
                        if (sFileName.substr(sFileName.length - sCurExtension.length, sCurExtension.length).toLowerCase() == sCurExtension.toLowerCase()) {
                            blnValid = true;
                            break;
                        }
                    }

                    var blnValidMaster = false;
                    if (blnValid) {
                        for (var j = 0; j < _validFileExtensionsMaster.length; j++) {
                            var sCurExtension = _validFileExtensionsMaster[j];
                            if (sFileName.substr(sFileName.length - sCurExtension.length, sCurExtension.length).toLowerCase() == sCurExtension.toLowerCase()) {
                                blnValidMaster = true;
                                break;
                            }
                        }
                    }

                    if ((!blnValid) || (!blnValidMaster)) {
                        ShowMessage('@SystemEnum.MessageType.danger.ToString()', '@ProjectSession.Resources.message.Common_MsgUploadValidImage', "#divMessage");
                        return false;
                    }
                }
                //End


                if (jcrop_api != null) {
                    jcrop_api.destroy();
                }

                var FR = new FileReader();
                FR.onload = function (e) {
                    $('#myImg').attr("src", e.target.result);
                };
                FR.readAsDataURL(this.files[0]);
                FR.onloadend = function (e) {
                    $('#myImg').Jcrop({
                        
                        onChange: setCoordsAndImgSize,
                        onSelect: setCoordsAndImgSize,
                        setSelect: [0, 0, 150, 170],
                        minSize: [ImageWidth, ImageHeight],
                        aspectRatio: 15 / 17,
                        //maxSize: [ImageWidth, ImageHeight]

                    }, function () {
                        jcrop_api = this;
                        width = x2val - x1val;
                        height = y2val - y1val;
                        jcrop_api.setOptions({ allowSelect: true, allowResize: true });
                        jcrop_api.setSelect([x1val, y1val, x2val, y2val]);

                        if ($("#myImg").width() < ImageWidth || $("#myImg").height() < ImageHeight) {
                            if (jcrop_api != null) {
                                jcrop_api.destroy();
                            }

                            $('#ChangeEmployeePhoto').val('');
                            ShowMessage('@CMMS.Infrastructure.SystemEnum.MessageType.danger', 'Image size is not valid. ( Mininum size required: 150 X 170 )', "#divMessage");
                        }
                        else {
                            $("#changeEmployeePhotoModal").modal('show');
                        }
                    })
                }
            }

        });

        function setCoordsAndImgSize(e) {
            x1val = e.x;
            x2val = e.x2;
            y1val = e.y;
            y2val = e.y2;
            height = e.h;
            width = e.w;
        }
    });

    /*End*/

</script>

<script type="text/javascript">
    var intPageID = '@SystemEnum.Pages.StockCodesList.GetHashCode()';
    $(document).ready(function () {
        $('#txtStockNo').focus();
        $("#btnSave").hide();
        if ('@Model.StockID' > 0) {

            @if (!ProjectSession.PermissionAccess.Stores_ItemList_ChangeMastersCodes )
             {
                 <text>$("#txtStockNo").attr("disabled", "disabled");</text>
                 <text> $('#ddlItem').focus();</text>
             }
            @if (ProjectSession.PermissionAccess.Stores_ItemList_Editrecords)
            {
                <text>$("#btnSave").show(); </text>
            }
        }
        else {
            @if (ProjectSession.PermissionAccess.Stores_ItemList_Createnewrecords)
            {
                <text>$("#btnSave").show(); </text>
            }
        }

        $('#hdnStockCodeID').val('@Model.StockID');
    });

    $(".allowIntegerOnly").keydown(function (e) {
        // Allow: backspace, delete, tab, escape, enter and .
        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13]) !== -1 ||
            // Allow: Ctrl+A, Command+A
            (e.keyCode == 65 && (e.ctrlKey === true || e.metaKey === true)) ||
            // Allow: home, end, left, right, down, up
            (e.keyCode >= 35 && e.keyCode <= 40)) {
            // let it happen, don't do anything
            return;
        }
        // Ensure that it is a number and stop the keypress
        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
            e.preventDefault();
        }

    });

    function loadAlternativeItemsTab() {
        if (isLoadedAlternativeItemsTab == false && '@isEditMode' == 'True') {
            var url = '@Url.Action(Actions._GetAlternativeItems, Controllers.Transaction, new { Area = Areas.Transaction })' + '?id=' + $('#StockID').val();
            $("#divAlternativeItems").load(url);
            isLoadedAlternativeItemsTab = true;
        }
    }

    function loadAlternativeSupploiersTab() {
        if (isLoadedAlternativeSuppliersTab == false && '@isEditMode' == 'True') {
            var url = '@Url.Action(Actions._GetAlternativeSuppliers, Controllers.Transaction, new { Area = Areas.Transaction })' + '?id=' + $('#StockID').val();
            $("#divAlternativeSuppliers").load(url);
            isLoadedAlternativeSuppliersTab = true;
        }
    }

    function loadAttachmentsTab() {
        if (isLoadedAttachmentsTab == false && '@isEditMode' == 'True') {
            var url = '@Url.Action(Actions._GetItemsDocuments, Controllers.Transaction, new { Area = Areas.Transaction })' + '?id=' + $('#StockID').val();
            $("#divExternalDocument").load(url);
            isLoadedAttachmentsTab = true;
        }
    }

    $("#supplierDefaultGridModal tbody").on("dblclick", "tr[role='row']", function (e) {
        var grid = $("#DefaultSupplierGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        $("#supplierDefaultGridModal").modal("hide");
        FilDefaultSupplierValues(model);
    });

    function onConfirmCallbackDocument(sender) {
        var id = $(this).data("id");
        $.ajax({
            url: '@Url.Action(Actions.DeleteDocument, Controllers.Transaction, new { area = Areas.Transaction })',
            type: "POST",
            data: addRequestVerificationToken({ autoID: id }),
            dataType: "json",
            success: function (result) {
                ShowMessage(result[0], result[1], "#divMessage");
                ReBindKendoGrid("DocumentGrid");
                $('#divFileName').css('display', 'none');
                $('#FileDescription').val('');
                $('#lblFileName').text('');
            },
            error: function (xhr, ajaxOptions, thrownError) {
                showErrorMessage();
            }
        });
    }

    function onConfirmCallbackStockCodeLevel(sender) {
        var id = $(this).data("id");

        $.ajax({
            url: '@Url.Action(Actions.DeleteStockCodeLevel, Controllers.Transaction, new { area = Areas.Transaction })',
            type: "POST",
            data: addRequestVerificationToken({ stockId: '@Model.StockID', subStoreId: id }),
            dataType: "json",
            success: function (result) {
                ShowMessage(result[0], result[1], "#divMessage");
                ReBindKendoGrid("stockCodeLevelGrid");
                ReBindKendoGrid("stockCodeCityGrid");
            },
            error: function (xhr, ajaxOptions, thrownError) {
                showErrorMessage();
            }
        });
    }

    validator = $('#frmStockCodeLevel').validate({
        rules: {
            sub_store_id: { required: true },
            max_level: { range: [0.00000, 999999999] },
            re_order_level: { range: [0.00000, 999999999] },
            min_level: { range: [0.00000, 999999999] },
            reorder_qty: { range: [0.00000, 999999999] }
        },
        messages: {
            sub_store_id: { required: '' },
            max_level: { range: '' },
            re_order_level: { range: '' },
            min_level: { range: '' },
            reorder_qty: { range: '' }
        }
    });

</script>

@if (ProjectSession.PermissionAccess.Stores_ItemList_Createnewrecords || ProjectSession.PermissionAccess.Stores_ItemList_Editrecords)
{
    <script type="text/javascript">
        $('#frmStockCodeLevel').on('submit', function (e) {
            if ($("#frmStockCodeLevel").valid() && !e.isDefaultPrevented()) {

                if (reValidateDropDowns('#frmStockCodeLevel')) {
                    var blnValid = true;
                    var strErrorMessage = '';

                    if (parseFloat($('#txtReOrderQty').val()) <= 0 || !isNotUndefinedNullOrBlankOrZero('txtReOrderQty')) {
                        blnValid = false;
                        strErrorMessage = '@ProjectSession.Resources.message.Item_MsgReOrderQtyGreaterThanZero';
                    }
                    else if (parseFloat($('#txtMaxLevel').val()) <= parseFloat($('#txtReOrderLevel').val()) || !isNotUndefinedNullOrBlankOrZero('txtMaxLevel')) {
                        blnValid = false;
                        strErrorMessage = '@ProjectSession.Resources.message.Item_MsgMaxLevelGreaterThanReOrder';
                    }
                    else if (parseFloat($('#txtReOrderLevel').val()) <= parseFloat($('#txtMinLevel').val()) || !isNotUndefinedNullOrBlankOrZero('txtReOrderLevel')) {
                        blnValid = false;
                        strErrorMessage = '@ProjectSession.Resources.message.Item_MsgReOrderQtyGreaterThanMinLevel';
                    }

                    if (blnValid == false) {
                        ShowMessage('@SystemEnum.MessageType.danger.ToString()', strErrorMessage, '#divModelErrorStockLevel');
                        return false;
                    }
                    else {
                        var objStockCodeLevel = $(this).data("id");
                        $.ajax({
                            url: '@Url.Action(Actions.SaveStockCodeLevel, Controllers.Transaction, new { area = Areas.Transaction })',
                            type: "POST",
                            data: addRequestVerificationToken($('#frmStockCodeLevel').serialize()),
                            dataType: "json",
                            success: function (result) {
                                ShowMessage(result[0], result[1], "#divMessage");
                                ReBindKendoGrid("stockCodeLevelGrid");
                                ReBindKendoGrid("stockCodeCityGrid");
                                $("#stockcodeLevelAddModal").modal("hide");
                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                ShowMessage('@SystemEnum.MessageType.danger.ToString()', strErrorMessage, '#divModelErrorStockLevel');
                            }
                        });
                    }
                }
            }
            return false;
        });

        var validator = $('#frmItem').validate({
            rules: {
                StockNo: { required: true },
                StockDescription: { required: true },
                Price2: { range: [0, 999999999] }
            },
            messages: {
                StockNo: { required: '' },
                StockDescription: { required: '' },
                Price2: { range: '' }
            }
        });

        $('#frmItem').on('submit', function (e) {
            if ($("#frmItem").valid()) {
                if (!e.isDefaultPrevented()) {

                    var options = {
                        success: onSuccessItemSave,  // post-submit callback
                        data: addRequestVerificationToken($('#frmItem').serialize())
                    };

                    $(this).ajaxSubmit(options);
                    return false;
                }
            }
        });

        function onSuccessItemSave(result, statusText, xhr, $form) {
            ShowMessage(result[1], result[2], "#divMessage");
            $('#txtStockNo').focus();
            if (parseInt(result[0]) > 0) {
                setTimeout(function () {
                    window.location.href = '@Url.Action(CMMS.Pages.Actions.GetItemByStockID, CMMS.Pages.Controllers.Transaction, new { area = CMMS.Pages.Areas.Transaction })' + '?id=' + result[0];
                }, 2000)
            }
        }
    </script>
}

@if (ProjectSession.IsItemNoAutoIncrement)
{
    <script type="text/javascript">
        $(function () {
            $.ajax({
                url: '@Url.Action(CMMS.Pages.Actions.GetLastStocCodeStoreNo, CMMS.Pages.Controllers.Transaction, new { area = CMMS.Pages.Areas.Transaction })',
                type: "GET",
                dataType: "json",
                success: function (result) {
                    $('#SpanTextBlockCON').html(result[0]);
                    $('#SpanTextBlockPER').html(result[1]);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        });

        function onChangeDDLItem(e) {
            var index = e.sender.selectedIndex;

            var intmax = 0;
            if (index == 1) {
                intmax = $('#SpanTextBlockCON').html().replace('CON-', '');
                intmax = intmax == '' || intmax == 'undefined' || intmax == null ? '0' : intmax;
                intmax = parseInt(intmax) + 1;
                $('#txtStockNo').val("CON-" + padLeft(intmax.toString(), 6))
            }
            else if (index == 2) {
                intmax = $('#SpanTextBlockPER').html().replace('PER-', '');
                intmax = intmax == '' || intmax == 'undefined' || intmax == null ? '0' : intmax;
                intmax = parseInt(intmax) + 1;
                $('#txtStockNo').val("PER-" + padLeft(intmax.toString(), 6))
            }
        }

        function padLeft(value, length) {
            return (value.toString().length < length) ? padLeft("0" + value, length) : value;
        }
    </script>
}