﻿@using CMMS.Infrastructure;
@using CMMS.Pages;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool Lang = ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true;
}

<script type="text/javascript">
    function filterStores() {
        return {
            siteId: isNotUndefinedNullOrBlankOrZero("ddlItemsCity") ? $("#ddlItemsCity").val() : 0,
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function BindParametersForItemsList() {
        return {
            cityID: isNotUndefinedNullOrBlankOrZero('ddlItemsCity') ? $('#ddlItemsCity').val() : 0,
            subStoreID: isNotUndefinedNullOrBlankOrZero('ddlIssueSubStore') ? $('#ddlIssueSubStore').val() : 0,
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function onDataBoundForItemsList() {
        confirmDeleteMsg(msgText, okText, cancelText, onConfirmCallbackForItemList, confirmDirection);
        gridProperPaging(this);
    }

    function onConfirmCallbackForItemList(sender) {
        var id = $(this).data("id");
        $.ajax({
            url: '@Url.Action(Actions.DeleteItemById, Controllers.Transaction, new { area = Areas.Transaction })',
            type: "POST",
            data: addRequestVerificationToken({ id: id }),
            dataType: "json",
            success: function (result) {
                ShowMessage(result[0], result[1], "#divMessage");
                ReBindKendoGrid("itemlistGrid");
            },
            error: function (xhr, ajaxOptions, thrownError) {
                showErrorMessage();
            }
        });
    }

    function SearchItems() {
        ReBindKendoGrid('itemlistGrid');
    }
</script>

@Html.AntiForgeryToken()

<div class="head1">
    <h1>@ProjectSession.Resources.label.ItemList_TextBlockItemList</h1>
    <ul class="sub_btn">
        @if (ProjectSession.PermissionAccess.Stores_ItemList_Createnewrecords)
        {
            <li>
                <a href="@Url.Action(Actions.GetItemByStockID, CMMS.Pages.Controllers.Transaction, new { area = CMMS.Pages.Areas.Transaction , id = 0 })" title="@ProjectSession.Resources.label.Common_ButtonAdd" class="btn-icon btn-add"><i></i></a>
            </li>
        }
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-search" data-toggle="modal" data-target="#search-order" onclick='OpenAdvancedSearch("@ProjectSession.Resources.label.ItemList_TextBlockItemList","@SystemEnum.Pages.StockCodesList.GetHashCode()")' title="@ProjectSession.Resources.label.Common_ButtonAdvanceSearch"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-clear" title="@ProjectSession.Resources.label.Common_ButtonClear" onclick="return ClearAdvencedSearch(@SystemEnum.Pages.StockCodesList.GetHashCode());"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-refresh" onclick="ReBindKendoGrid('itemlistGrid');" title="@ProjectSession.Resources.label.Common_ButtonRefreshGrid"><i></i></a>
        </li>
        @if (ProjectSession.PermissionAccess.Stores_ItemList_Export)
        {
            <li>
                <a href="javascript:void(0);" class="btn-icon btn-xsl" onclick="ExportToExcel('itemlistGrid', 'StockID');" title="@ProjectSession.Resources.label.Common_ButtonExportToExcel"><i></i></a>
            </li>
        }
    </ul>
</div>

<div class="box">
    <div class="information-form cus-form" style="padding-top:10px">
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="form-group ">
                    <label class="form-label">@ProjectSession.Resources.label.JobRequest_TextBlockCity</label>
                    <div class="@ProjectSession.CultureKendoClass">
                        @(Html.Kendo().DropDownList()
                                                .Name("ddlCityAT")
                                                .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                                .DataTextField("L2Code")
                                                .ValueTemplate(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "#:L2Code # -- #: L2Altname # " : "#:L2Code # -- #: L2name #")
                                                .DataValueField("L2ID")
                                                .HtmlAttributes(new { style = "width: 100%", @required = "required", @id = "ddlItemsCity" })
                                                .Template("#= KendoDDLTemplate(data.L2Code ,data.L2name, data.L2Altname) #")
                                                .DataSource(source =>
                                                {
                                                    if (ProjectSession.IsCentral)
                                                    {
                                                        source.Read(read =>
                                                        {
                                                            read.Action(Actions.GetAllCities, Controllers.Configurations, new { area = Areas.Configurations, cityID = 0 });
                                                        });
                                                    }
                                                    else
                                                    {
                                                        source.Read(read =>
                                                        {
                                                            read.Action(Actions.GetCitiesByEmployee, Controllers.Configurations, new { area = Areas.Configurations, cityID = 0 });
                                                        });
                                                    }
                                                }).Value("")

                        )
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="form-group">
                    <label class="form-label">@ProjectSession.Resources.label.Store_TextBlockStore</label>
                    <div class="@ProjectSession.CultureKendoClass">
                        @(Html.Kendo().DropDownList()
                                .Name("ddlSubStore")
                                                .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                                .DataTextField("SubStoreCode")
                                                        .ValueTemplate(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "#:SubStoreCode # -- #: AltSubStoreDesc # " : "#:SubStoreCode # -- #: SubStoreDesc #")
                                                .DataValueField("SubStoreID")
                                                .HtmlAttributes(new { style = "width: 100%", @required = "required", @id = "ddlIssueSubStore" })
                                                .Template("#= KendoDDLTemplate(data.SubStoreCode ,data.SubStoreDesc, data.AltSubStoreDesc) #")
                                                .DataSource(source =>
                                                {
                                                    source.Read(read =>
                                                    {
                                                        read.Action(Actions.GetStoresListByL2ID, Controllers.Configurations, new { area = Areas.Configurations }).Data("filterStores");

                                                    })
                                                    .ServerFiltering(true);
                                                })
                                                        .CascadeFrom("ddlItemsCity")
                                                        .AutoBind(true).Value("")

                        )
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="box-footer">
        <button type="button" class="btn btn-primary" id="btnSearchItems" onclick="SearchItems();"><span>@ProjectSession.Resources.label.Report_ButtonSearch</span></button>
        <button type="button" class="btn btn-default" id="btnReset"><span>@ProjectSession.Resources.label.Common_ButtonClear</span></button>
    </div>
</div>

<div id="itemListData" class="@ProjectSession.CultureKendoClass">
    @(Html.Kendo().Grid<CMMS.Model.StockCode>()
       .Name("itemlistGrid")
                                .HtmlAttributes(new { @class = "kl-grid" })
        .Columns(columns =>
        {
            columns.Bound(c => c.ImagePath).ClientTemplate("#=GetImage(data.ImagePath)#").HtmlAttributes(new { style = "text-align: center; width: 30%; min-width: 60px;" }).Title("").Filterable(false).Sortable(false).Width(50);
            
            columns.Bound(c => c.StockNo).Title(ProjectSession.Resources.label.ItemList_TextBlockPartNumber).Width(120);

            columns.Bound(c => c.StockDescription).Title(ProjectSession.Resources.label.ItemList_TextBlockPartDescription).Width(170).HtmlAttributes(new { title = " #= KendoToolTipTemplate(data.StockDescription) #", @class = "column-textoverflow" }); ;

            columns.Bound(c => c.AltStockDescription).Title(ProjectSession.Resources.label.ItemList_TextBlockAltPartDesc).Width(170).HtmlAttributes(new { title = "#= KendoToolTipTemplate(data.AltStockDescription) #", @class = "column-textoverflow" }); ;

            columns.Bound(c => c.Specification).Title(ProjectSession.Resources.label.JobPlan_TextBlockSpecification).Width(120);
            columns.Bound(c => c.Manufacturer).Title(ProjectSession.Resources.label.Asset_TextBlockManufacturer).Width(120);
            columns.Bound(c => c.Criticality).Title(ProjectSession.Resources.label.Item_CheckBoxCritical).Width(120);

            columns.Bound(c => c.AttrName).Title(ProjectSession.Resources.label.ItemType_TextBlockItemType).Width(120);

            columns.Bound(c => c.AttrSubName).Title(ProjectSession.Resources.label.ItemSubType_TextBlockPartSubType).Width(120);
            columns.Bound(c => c.StatusText).Title(ProjectSession.Resources.label.AccountCode_TextBlockStatus).Width(100);
            columns.Bound(c => c.StockID).ClientTemplate("<center>" + (ProjectSession.PermissionAccess.Stores_ItemList_Editrecords ? "<a class='action'  style='cursor:pointer' href='" + Url.Action(Actions.GetItemByStockID, CMMS.Pages.Controllers.Transaction, new { area = CMMS.Pages.Areas.Transaction, id = "#: StockID#" }) + "' ><i class='glyphicon glyphicon-pencil' title='" + ProjectSession.Resources.label.Common_ButtonEdit + "'></i></a>&nbsp;" : "") +
                                                           (ProjectSession.PermissionAccess.Stores_ItemList_Deleterecords ? "<a class='action delete-button'  href='javascript:void(0);'  class='delete-ic' data-id='#: StockID #' style='cursor:pointer'><i class='glyphicon glyphicon-trash' title='" + ProjectSession.Resources.label.Common_ButtonDelete + "' ></i></a>" : "") + "</center>")
                                       .Title("<center>Action</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Width(60).Visible(ProjectSession.PermissionAccess.JobOrder_JobOrder_Editrecords).Filterable(false);

        })
        .Sortable(sortable => sortable.AllowUnsort(false))
        .Scrollable()
        .Filterable()
                        .Excel(excel => excel.FileName(ProjectSession.Resources.label.ItemList_TextBlockItemList + ".xlsx").Filterable(true).AllPages(false))
                .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
        .Events(events => events.DataBound("onDataBoundForItemsList"))
        .DataSource(dataSource =>
                                dataSource.Ajax()
                                .PageSize(ProjectConfiguration.PageSize)
                                 .Model(model =>
                                 {
                                     model.Id(p => p.StockID);
                                     model.Field(p => p.StockNo);
                                 })
                                .ServerOperation(true)
                                .Read(read => read.Action(Actions.GetStoreItemsList, Controllers.Transaction, new { area = Areas.Transaction }).Data("BindParametersForItemsList").Type(HttpVerbs.Post))
                )
    )
</div>

<div id="search-order" class="modal fade" role="dialog"></div>

<script type="text/javascript">
    var kendoGridId = 'itemlistGrid';
    var intPageID = '@SystemEnum.Pages.StockCodesList.GetHashCode()';


    $("#btnReset").on("click", function () {
        try {
            $("#ddlItemsCity").data("kendoDropDownList").value(0);
            $("#ddlIssueSubStore").data("kendoDropDownList").value(0);
        } catch (err) { }

        ReBindKendoGrid("itemlistGrid");
    });

    $(document).ready(function () {
        if ('@ViewBag.Message' != '' && '@ViewBag.MessageType' != '') {
            ShowMessage('@ViewBag.MessageType', '@ViewBag.Message', "#divMessage");
        }
    });

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };
  
    $("#itemlistGrid tbody").on("dblclick", "tr[role='row']", function (e) {
        var grid = $("#itemlistGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        location.href = '@Url.Action(Actions.GetItemByStockID, CMMS.Pages.Controllers.Transaction, new { area = CMMS.Pages.Areas.Transaction })' + '?id=' + model.StockID;
    });
</script>
