﻿@using CMMS.Infrastructure;
@using CMMS.Pages;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool Lang = ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true;
}

<style>
    .btn-viewremove, .btn-viewremove:hover, .btn-viewremove:focus {
        background-image: url(../images/view-remove.png);
    }
</style>
@Html.AntiForgeryToken()

<div class="head1">
    <h1>@ProjectSession.Resources.label.ItemRequisition_TextBlockItemRequisitionList
    </h1>
    <ul class="sub_btn">
        @if (ProjectSession.PermissionAccess.ItemRequisitions_ItemRequisitions_Createnewrecords)
        {
           <li>
                <a href="@Url.Action(Actions.ItemRequisitionDetails, Controllers.Transaction, new { area = Areas.Transaction, mrno = "0" })" title="@ProjectSession.Resources.label.Common_ButtonAdd" class="btn-icon btn-add"><i></i></a>
            </li>
        }

        <li>
            <a href="javascript:void(0);" class="btn-icon btn-search" data-toggle="modal" data-target="#search-order" onclick='OpenAdvancedSearch("@ProjectSession.Resources.label.ItemRequisition_TextBlockItemRequisitionList","@SystemEnum.Pages.ItemRequisitionList.GetHashCode()");' title="@ProjectSession.Resources.label.Common_ButtonAdvanceSearch"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-clear" title="@ProjectSession.Resources.label.Common_ButtonClear" onclick="return ClearAdvencedSearch(@SystemEnum.Pages.ItemRequisitionList.GetHashCode());"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-refresh" onclick="ReBindKendoGrid('ItemRequisitionGrid');" title="@ProjectSession.Resources.label.Common_ButtonRefreshGrid"><i></i></a>
        </li>

        @if (ProjectSession.PermissionAccess.ItemRequisitions_ItemRequisitions_Export)
        {
            <li>
                <a href="javascript:void(0);" class="btn-icon btn-xsl" onclick="ExportToExcel('ItemRequisitionGrid');" title="@ProjectSession.Resources.label.Common_ButtonExportToExcel"><i></i></a>
            </li>
        }

        <li>
            <a href="javascript:void(0);" id="btnViewAll" class="btn-icon btn-viewall" onclick="ViewAll();" title="@ProjectSession.Resources.label.Common_ButtonViewAll"><i></i></a>
        </li>
        
    </ul>
</div>
<div id="ItemRequisitionList" class="@ProjectSession.CultureKendoClass">
            @(Html.Kendo().Grid<CMMS.Model.Material_req_master>()
                                .Name("ItemRequisitionGrid")
        .HtmlAttributes(new { @class = "kl-grid" })
        .Columns(columns =>
        {
            columns.Bound(c => c.Mr_no).Title(ProjectSession.Resources.label.ItemRequisition_TextBlockIRNo);

            columns.Bound(c => c.Mr_date).ClientTemplate("#= DateTemplate(data.Mr_date) #").Title(ProjectSession.Resources.label.ItemRequisition_TextBlockIRDate).Width(100);

            columns.Bound(c => c.L2Code).Title(ProjectSession.Resources.label.JobRequest_TextBlockCity)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterSite", "GridFilter", new { area = string.Empty }).Data("BindParametersForIR").Type(HttpVerbs.Post))));

            columns.Bound(c => c.MaintDivisionCode).Title(ProjectSession.Resources.label.JobRequest_TextBlockMaintenanceDivision)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterMaintenanceDivision", "GridFilter", new { area = string.Empty }).Data("BindParametersForIR").Type(HttpVerbs.Post))));

            columns.Bound(c => c.MaintDeptCode).Title(ProjectSession.Resources.label.JobRequest_TextBlockMaintDept)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterMaintenanceDepartment", "GridFilter", new { area = string.Empty }).Data("BindParametersForIR").Type(HttpVerbs.Post))));

            columns.Bound(c => c.MaintSubDeptCode).Title(ProjectSession.Resources.label.JobRequest_TextBlockMaintSubDept)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterMaintenanceSubDepartment", "GridFilter", new { area = string.Empty }).Data("BindParametersForIR").Type(HttpVerbs.Post))));

            columns.Bound(c => c.RequestedByName).Title(ProjectSession.Resources.label.ItemRequisition_TextBlockRequestedby);

            columns.Bound(c => c.CreatedByName).Title(ProjectSession.Resources.label.ItemRequisition_TextBlockCreatedBy);

            columns.Bound(c => c.status_desc).Title(ProjectSession.Resources.label.ItemRequisition_TextBlockIRStatus)
           .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterReqStatus", "GridFilter", new { area = string.Empty }).Data("BindParametersForIR").Type(HttpVerbs.Post))));

            columns.Bound(c => c.auth_status_desc).Title(ProjectSession.Resources.label.ItemRequisition_TextBlockAuthoriseStatus)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterIRStatus", "GridFilter", new { area = string.Empty }).Data("BindParametersForIR").Type(HttpVerbs.Post))));

            columns.Bound(c => c.Mr_no).ClientTemplate("<center>" + (ProjectSession.PermissionAccess.ItemRequisitions_ItemRequisitions_Editrecords ? "<a class='action' title='" + ProjectSession.Resources.label.Common_ButtonEdit + "'  style='cursor:pointer'href='" + Url.Action(Actions.ItemRequisitionDetails, CMMS.Pages.Controllers.Transaction, new { area = CMMS.Pages.Areas.Transaction, mrno = "#: Mr_no#" }) + "' ><i class='glyphicon glyphicon-pencil'></i></a>&nbsp;" : "")
                + "" + "</center>").Title("<center>" + ProjectSession.Resources.label.Common_ButtonAction + "</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Width(80).Filterable(false);

        })
        .Filterable()
        .Sortable(sortable => sortable.AllowUnsort(false))
        .Scrollable()
        .Excel(excel => excel.FileName("Item Requisition.xlsx").Filterable(true).AllPages(true).ProxyURL(Url.Action("Excel_Export_Save", "GridExport", new { area = string.Empty })))
        .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
        .Events(events => events.DataBound("onDataBoundForIR").ExcelExport("excelExport"))
        .DataSource(dataSource =>
                                dataSource.Ajax()
                                .PageSize(ProjectConfiguration.PageSize)
                                            .Model(model =>
                                            {
                                                model.Id(p => p.Mr_no);
                                                model.Field(p => p.Mr_date);
                                            })
                                .ServerOperation(true)
                                                        .Read(read => read.Action(Actions.ItemRequisitionList, Controllers.Transaction, new { area = Areas.Transaction }).Data("BindParametersForIR").Type(HttpVerbs.Post))
        )
)

</div>

<input type="hidden" value="0" id="hdnShowAll" />
<!-- -------------search order------------- -->
<div id="search-order" class="modal fade" role="dialog"></div>


<script type="text/javascript">

    $(document).ready(function () {
        if ('@ViewBag.Message' != '' && '@ViewBag.MessageType' != '') {
            ShowMessage('@ViewBag.MessageType', '@ViewBag.Message', "#divMessage");
        }
    });

    var intPageID = '@SystemEnum.Pages.ItemRequisitionList.GetHashCode()';
    var kendoGridId = 'ItemRequisitionGrid';

    function BindParametersForIR() {
        var all = $("#hdnShowAll").val();
        return {
            showAll: all == "" ? 0 : all,
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }
    function onDataBoundForIR(arg) {
        gridProperPaging(this);
    }

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };

    function ViewAll() {
        if ($("#hdnShowAll").val() == '0') {
            $("#btnViewAll").removeClass("btn-viewall");
            $("#btnViewAll").addClass("btn-viewremove");
            $("#hdnShowAll").val(1);
        }
        else {
            $("#hdnShowAll").val(0);
            $("#btnViewAll").removeClass("btn-viewremove");
            $("#btnViewAll").addClass("btn-viewall");
        }
        ReBindKendoGrid('ItemRequisitionGrid');
    }

    $("#ItemRequisitionGrid tbody").on("dblclick", "tr[role='row']", function (e) {
        var grid = $("#ItemRequisitionGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        location.href = '@Url.Action(Actions.ItemRequisitionDetails, Controllers.Transaction, new { area = Areas.Transaction })' + '?mrno=' + model.Mr_no;
    });

</script>
