﻿@using CMMS.Infrastructure;
@using CMMS.Pages;
@using CMMS.Model
@using CMMS.Service
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool Lang = ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true;
}@Html.AntiForgeryToken()
<div class="head1">
    <h1>@ProjectSession.Resources.label.JobOrder_TextBlockWorkOrderEscalationList</h1>
    <ul class="sub_btn">
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-search" data-toggle="modal" data-target="#search-order" onclick='OpenAdvancedSearch("@ProjectSession.Resources.menu.JobOrder_MenuWorkOrderEscalation","@SystemEnum.Pages.JobOrderEscalationList.GetHashCode()")' title="@ProjectSession.Resources.label.Common_ButtonAdvanceSearch"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-clear" title="@ProjectSession.Resources.label.Common_ButtonClear" onclick="return ClearAdvencedSearch(@SystemEnum.Pages.JobOrderEscalationList.GetHashCode());"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-refresh" onclick="ReBindKendoGrid('jobOrderEscalationGrid');" title="@ProjectSession.Resources.label.Common_ButtonRefreshGrid"><i></i></a>
        </li>
        @if (ProjectSession.PermissionAccess.JobOrder_JobOrderEscalation_Export)
        {
            <li>
                <a href="javascript:void(0);" class="btn-icon btn-xsl" onclick="ExportToExcel('jobOrderEscalationGrid', 'WorkOrderEscalationID');" title="@ProjectSession.Resources.label.Common_ButtonExportToExcel"><i></i></a>
            </li>
        }
        @*<li>
            <a href="javascript:void(0);" title="@ProjectSession.Resources.label.JobRequest_ButtonPrint" class="btn-icon btn-print" id="btnPrintJobOrderList" onclick="PrintJoListReport()">
                <i></i>
            </a>
        </li>*@
    </ul>
</div>

<!-- Kendo Grid-->
<div id="employeeData" class="@ProjectSession.CultureKendoClass">
    @(Html.Kendo().Grid<CMMS.Model.WorkOrderEscalation>()
                .Name("jobOrderEscalationGrid")
        .HtmlAttributes(new { @class = "kl-grid" })
        .Columns(columns =>
        {
            columns.Bound(c => c.WorkOrderNo).Title(ProjectSession.Resources.label.JobOrder_TextBlockJobOrderNo).Width(170);
            columns.Bound(c => c.EscalationTimeInMin).Title(ProjectSession.Resources.label.JobOrder_TextBlockWorkEscalationTimeInMin).Width(150);
            columns.Bound(c => c.EscalationLevel).Title(ProjectSession.Resources.label.JobOrder_TextBlockWorkEscalationLevel).Width(150);
            columns.Bound(c => c.CreatedDate).ClientTemplate("#= DateTemplateWithTime(data.CreatedDate) #").Title(ProjectSession.Resources.label.JobOrder_TextBlockCreatedDate).Width(150);
        })
        .Filterable()
        .Sortable(sortable => sortable.AllowUnsort(false))
        .Scrollable()
        .Excel(excel => excel.FileName(ProjectSession.Resources.menu.JobOrder_MenuWorkOrderEscalation + ".xlsx").Filterable(true).AllPages(true).ProxyURL(Url.Action("Excel_Export_Save", "GridExport", new { area = string.Empty })))
        .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
        .Events(events => events.DataBound("onDataBound").ExcelExport("excelExport"))
        .DataSource(dataSource =>
                                dataSource.Ajax()
                                .PageSize(ProjectConfiguration.PageSize)
                                 .Model(model =>
                                 {
                                     model.Id(p => p.WorkOrderNo);
                                     //model.Field(p => p.Name);
                                 })
                                .ServerOperation(true)
                                                        .Read(read => read.Action(Actions.GetJobOrderEscalationList, Controllers.Transaction, new { area = Areas.Transaction }).Data("BindParameters").Type(HttpVerbs.Post))
                )
    )

</div>

<!-- -------------search order------------- -->
<div id="search-order" class="modal fade" role="dialog"></div>

<script type="text/javascript">
    var kendoGridId = 'jobOrderEscalationGrid';
    var intPageID = '@SystemEnum.Pages.JobOrderEscalationList.GetHashCode()';

    $(document).ready(function () {
        if ('@ViewBag.Message' != '' && '@ViewBag.MessageType' != '') {
            ShowMessage('@ViewBag.MessageType', '@ViewBag.Message', "#divMessage");
        }
    });

    function BindParameters() {
        return {
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };

    function onDataBound(arg) {
        gridProperPaging(this);
    }

    @*function PrintJoListReport() {
        var workOrderNo = $('#WorkorderNo').val();
        window.open('@Url.Action(CMMS.Pages.Actions.JobOrderListPrint, CMMS.Pages.Controllers.Transaction)', "_blank");
    }*@

</script>


