﻿@using CMMS.Infrastructure;
@using CMMS.Pages;
@using CMMS.Model
@using CMMS.Service
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool Lang = ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true;
}

@Html.AntiForgeryToken()
<div class="head1">
    <h1>@ProjectSession.Resources.label.JobRequest_TextBlockWorkRequestList</h1>
    <ul class="sub_btn">
        @if (ProjectSession.PermissionAccess.JobRequest_JobRequest_CreatenewJobRequest)
        {
            <li>
                <a href="@Url.Action(Actions.GetJobRequestById, Controllers.Transaction, new { area = Areas.Transaction, requestNo = "0" })" title="@ProjectSession.Resources.label.Common_ButtonAdd" class="btn-icon btn-add"><i></i></a>
            </li>
        }
        <li>
            <a href="@Url.Action(Actions.FeedbackJobRequestList, Controllers.Transaction, new { area = Areas.Transaction})" title="FeedBack" class="btn-icon btn-star"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-search" data-toggle="modal" data-target="#search-order" onclick='OpenAdvancedSearch("@ProjectSession.Resources.label.JobRequest_TextBlockJobRequests" ,"@SystemEnum.Pages.JobRequest.GetHashCode()")' title="@ProjectSession.Resources.label.Common_ButtonAdvanceSearch"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-clear" title="@ProjectSession.Resources.label.Common_ButtonClear" onclick="return ClearAdvencedSearch(@SystemEnum.Pages.JobRequest.GetHashCode());"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-refresh" onclick="ReBindKendoGrid('jobrequestGrid');" title="@ProjectSession.Resources.label.Common_ButtonRefreshGrid"><i></i></a>
        </li>
        @if (ProjectSession.PermissionAccess.JobRequest_JobRequest_Export)
        {
            <li>
                <a href="javascript:void(0);" class="btn-icon btn-xsl" onclick="ExportToExcel('jobrequestGrid', 'RequesterID');" title="@ProjectSession.Resources.label.Common_ButtonExportToExcel"><i></i></a>
            </li>
        }
    </ul>
</div>

<!-- Kendo Grid-->
<div id="employeeData" class="@ProjectSession.CultureKendoClass">
    @(Html.Kendo().Grid<CMMS.Model.Worequest>()
                .Name("jobrequestGrid")
        .Columns(columns =>
        {
            columns.Bound(c => c.RequestNo).Title(ProjectSession.Resources.label.JobRequest_TextBlockWorkRequestNo).Width(170).Locked(true);

            //Hiding unnecessary columns from JR list By: Akif519
            //columns.Bound(c => c.MaintDeptCode).Title(ProjectSession.Resources.label.JobRequest_TextBlockMaintDeptCode).Width(150)
            //.Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterMaintenanceDepartment", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

            columns.Bound(c => c.WorkorderNo).Title(ProjectSession.Resources.label.JobRequest_TextBlockWorkOrderNo).Width(150);

            columns.Bound(c => c.JobStatus).Title(ProjectSession.Resources.label.JobRequest_TextBlockRequestStatus).Visible(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true).Width(170)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterJobStatus", "GridFilter", new { area = string.Empty, @id = "1" }).Data("BindParameters").Type(HttpVerbs.Post))));

            columns.Bound(c => c.AltWorkStatus).Title(ProjectSession.Resources.label.JobRequest_TextBlockAltJobStatus).Visible(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? true : false).Width(170)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterJobStatus", "GridFilter", new { area = string.Empty, @id = "2" }).Data("BindParameters").Type(HttpVerbs.Post))));

            columns.Bound(c => c.ProblemDesc).Title(ProjectSession.Resources.label.JobRequest_TextBlockProbDesc).Width(300).HtmlAttributes(new { title = " #= KendoToolTipTemplate(data.ProblemDesc) #", @class = "column-textoverflow" });

            columns.Bound(c => c.ReceivedDate).ClientTemplate("#= DateTemplateWithTime(data.ReceivedDate) #").Title(ProjectSession.Resources.label.JobRequest_TextBlockReceivedDate).Width(150);

            columns.Bound(c => c.WorkTypeDescription).Title(ProjectSession.Resources.label.JobRequest_TextBlockWorkType).Visible(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true).Width(150)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterJobType", "GridFilter", new { area = string.Empty, @id = "1" }).Data("BindParameters").Type(HttpVerbs.Post))));

            columns.Bound(c => c.AltWorkTypeDescription).Title(ProjectSession.Resources.label.JobRequest_TextBlockAltWorkType).Visible(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? true : false).Width(150)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterJobType", "GridFilter", new { area = string.Empty, @id = "2" }).Data("BindParameters").Type(HttpVerbs.Post))));

            columns.Bound(c => c.Name).Title(ProjectSession.Resources.label.JobRequest_TextBlockRequesterName).Width(150)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterEmployeeName", "GridFilter", new { area = string.Empty, @id = "1" }).Data("BindParameters").Type(HttpVerbs.Post))));

            //columns.Bound(c => c.ExternalRequesterName).Title(ProjectSession.Resources.label.JobRequest_TextBlockExternalRequesterName).Width(220);

            columns.Bound(c => c.WorkPriorityName).Title(ProjectSession.Resources.label.JobRequest_TextBlockWorkPriority).Visible(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true).Width(150)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterJobPriority", "GridFilter", new { area = string.Empty, @id = "1" }).Data("BindParameters").Type(HttpVerbs.Post))));

            columns.Bound(c => c.AltWorkPriority).Title(ProjectSession.Resources.label.JobRequest_TextBlockAltWorkPriority).Visible(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? true : false).Width(150)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterJobPriority", "GridFilter", new { area = string.Empty, @id = "2" }).Data("BindParameters").Type(HttpVerbs.Post))));

            columns.Bound(c => c.AssetNumber).Title(ProjectSession.Resources.label.Asset_TextBlockAssetNO).Width(150);

            columns.Bound(c => c.AssetDescription).Title(ProjectSession.Resources.label.JobRequest_TextBlockAssetDescription).Visible(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true).Width(150).HtmlAttributes(new { title = " #= KendoToolTipTemplate(data.AssetDescription) #", @class = "column-textoverflow" });
            columns.Bound(c => c.AssetAltDescription).Title(ProjectSession.Resources.label.Asset_TextBlockAltAssetDescription).Visible(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? true : false).Width(150).HtmlAttributes(new { title = " #= KendoToolTipTemplate(data.AssetAltDescription) #", @class = "column-textoverflow" });

            columns.Bound(c => c.LocationNo).Title(ProjectSession.Resources.label.JobRequest_TextBlockLocationNo).Width(150)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterLocation", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

            columns.Bound(c => c.LocationDescription).Title(ProjectSession.Resources.label.JobRequest_TextBlockLocationDescription).Visible(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true).Width(250).HtmlAttributes(new { title = " #= KendoToolTipTemplate(data.LocationDescription) #", @class = "column-textoverflow" });
            columns.Bound(c => c.LocationAltDescription).Title(ProjectSession.Resources.label.JobRequest_TextBlockAltLocationDescription).Visible(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? true : false).Width(250).HtmlAttributes(new { title = " #= KendoToolTipTemplate(data.LocationAltDescription) #", @class = "column-textoverflow" });

            columns.Bound(c => c.RequiredDate).ClientTemplate("#= DateTemplateWithTime(data.RequiredDate) #").Title(ProjectSession.Resources.label.JobRequest_TextBlockRequiredDate).Width(150);

            columns.Bound(c => c.L2Code).Title(ProjectSession.Resources.label.JobRequest_TextBlockCityCode).Width(150)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterSite", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

            columns.Bound(c => c.L2ClassCode).Title(ProjectSession.Resources.label.City_TextBlockCityClassCode).Width(150)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterSiteClass", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

            columns.Bound(c => c.SectorCode).Title(ProjectSession.Resources.label.JobRequest_TextBlockSectorCode).Width(150)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterSector", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

            columns.Bound(c => c.SectorName).Title(ProjectSession.Resources.label.JobRequest_TextBlockSectorName).Visible(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true).Width(150);
            columns.Bound(c => c.SectorAltName).Title(ProjectSession.Resources.label.JobRequest_TextBlockSectorAltName).Visible(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? true : false).Width(150);

            columns.Bound(c => c.L3No).Title(ProjectSession.Resources.label.JobRequest_TextBlockAreaCode).Width(150).Visible(ProjectSession.IsAreaFieldsVisible)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterArea", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

            columns.Bound(c => c.L3Desc).Title(ProjectSession.Resources.label.JobRequest_TextBlockAreaDescription).Visible(ProjectSession.IsAreaFieldsVisible && ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true).Width(150).HtmlAttributes(new { title = " #= KendoToolTipTemplate(data.L3Desc) #", @class = "column-textoverflow" });
            columns.Bound(c => c.L3AltDesc).Title(ProjectSession.Resources.label.JobRequest_TextBlockAltAreaDescription).Visible(ProjectSession.IsAreaFieldsVisible && ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? true : false).Width(150).HtmlAttributes(new { title = " #= KendoToolTipTemplate(data.L3AltDesc) #", @class = "column-textoverflow" });

            columns.Bound(c => c.L4No).Title(ProjectSession.Resources.label.JobRequest_TextBlockStreetCode).Width(150)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterZone", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

            columns.Bound(c => c.L4Description).Title(ProjectSession.Resources.label.JobRequest_TextBlockStreetDescription).Visible(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true).Width(150).HtmlAttributes(new { title = " #= KendoToolTipTemplate(data.L4Description) #", @class = "column-textoverflow" });
            columns.Bound(c => c.L4AltDescription).Title(ProjectSession.Resources.label.JobRequest_TextBlockStreetDescription).Visible(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? true : false).Width(150).HtmlAttributes(new { title = " #= KendoToolTipTemplate(data.L4AltDescription) #", @class = "column-textoverflow" });

            columns.Bound(c => c.L5No).Title(ProjectSession.Resources.label.JobRequest_TextBlockBuildingNo).Width(150)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterBuilding", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

            columns.Bound(c => c.L5Description).Title(ProjectSession.Resources.label.JobRequest_TextBlockBuildingDescription).Visible(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true).Width(170).HtmlAttributes(new { title = " #= KendoToolTipTemplate(data.L5Description) #", @class = "column-textoverflow" });
            columns.Bound(c => c.L5AltDescription).Title(ProjectSession.Resources.label.JobRequest_TextBlockAltBuildingDesc).Visible(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? true : false).Width(170).HtmlAttributes(new { title = " #= KendoToolTipTemplate(data.L5AltDescription) #", @class = "column-textoverflow" });

            //columns.Bound(c => c.MaintDivisionCode).Title(ProjectSession.Resources.label.JobRequest_TextBlockMaintenanceDivision).Width(150)
            //.Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterMaintenanceDivision", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

            //columns.Bound(c => c.MaintSubDeptCode).Title(ProjectSession.Resources.label.JobRequest_TextBlockMaintSubDept).Width(150)
            //.Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterMaintenanceSubDepartment", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

            columns.Bound(c => c.ProjectNumber).Title(ProjectSession.Resources.label.Preventive_TextBlockProjectNumber).Width(150).Visible(ProjectSession.IsCMProjectFieldsVisible);

            columns.Bound(c => c.RequesterID).ClientTemplate("<center><a class='action'  style='cursor:pointer' href='" + Url.Action(Actions.GetJobRequestById, CMMS.Pages.Controllers.Transaction, new { area = CMMS.Pages.Areas.Transaction, requestNo = "#: RequestNo#" }) + "' ><i class='glyphicon glyphicon-pencil'></i></a></center>")
                                       .Title("<center>Action</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Width(60).Visible(ProjectSession.PermissionAccess.JobRequest_JobRequest_EditJobRequest).Filterable(false);

        })
        .Filterable()
        .Sortable(sortable => sortable.AllowUnsort(false))
        .Scrollable()
        .Excel(excel => excel.FileName(ProjectSession.Resources.menu.JobRequest_MenuJobRequestList + ".xlsx").Filterable(true).AllPages(true).ProxyURL(Url.Action("Excel_Export_Save", "GridExport", new { area = string.Empty })))
        .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
        .Events(events => events.DataBound("onDataBound").ExcelExport("excelExport"))
        .DataSource(dataSource =>
        dataSource.Ajax()
        .PageSize(ProjectConfiguration.PageSize)
         .Model(model =>
         {
             model.Id(p => p.RequestNo);
             model.Field(p => p.Name);
         })
        .ServerOperation(true)
        .Read(read => read.Action(Actions.GetJobRequests, Controllers.Transaction, new { area = Areas.Transaction }).Data("BindParameters").Type(HttpVerbs.Post))
        )
    )


</div>

<!-- -------------search order------------- -->
<div id="search-order" class="modal fade" role="dialog"></div>


<script type="text/javascript">
    var kendoGridId = 'jobrequestGrid';
    var intPageID = '@SystemEnum.Pages.JobRequest.GetHashCode()';

    $(document).ready(function () {
        if ('@ViewBag.Message' != '' && '@ViewBag.MessageType' != '') {
            ShowMessage('@ViewBag.MessageType', '@ViewBag.Message', "#divMessage");
        }
    });

    function BindParameters() {
        return {
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };

    function onDataBound(arg) {
        gridProperPaging(this);
    }

    $("#jobrequestGrid tbody").on("dblclick", "tr[role='row']", function (e) {
        var grid = $("#jobrequestGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        location.href = '@Url.Action(Actions.GetJobRequestById, CMMS.Pages.Controllers.Transaction, new { area = CMMS.Pages.Areas.Transaction })' + '?requestNo=' + model.RequestNo;
    });
</script>
