﻿@using CMMS.Infrastructure;
@using CMMS.Pages;
@using CMMS.Model
@using CMMS.Service
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.AntiForgeryToken()
<div class="head1">
    <h1>@ProjectSession.Resources.label.Store_TextBlockStoreCardFormList</h1>
    <ul class="sub_btn">
        @if (ProjectSession.PermissionAccess.RequestCard_Personal_Createnewrecords)
        {
            <li>
                <a href="@Url.Action(Actions.PersonalDetail, Controllers.Transaction, new { area = Areas.Transaction, id = 0 })" title="@ProjectSession.Resources.label.Common_ButtonAdd" class="btn-icon btn-add"><i></i></a>
            </li>
        }
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-search" data-toggle="modal" data-target="#search-order" onclick='OpenAdvancedSearch("@ProjectSession.Resources.label.Store_TextBlockStoreCardFormList" ,"@SystemEnum.Pages.PersonalList.GetHashCode()")' title="@ProjectSession.Resources.label.Common_ButtonAdvanceSearch"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-clear" title="@ProjectSession.Resources.label.Common_ButtonClear" onclick="return ClearAdvencedSearch(@SystemEnum.Pages.PersonalList.GetHashCode());"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-refresh" onclick="ReBindKendoGrid('personalItemGrid');" title="@ProjectSession.Resources.label.Common_ButtonRefreshGrid"><i></i></a>
        </li>
        @if (ProjectSession.PermissionAccess.RequestCard_Personal_Export)
        {
            <li>
                <a href="javascript:void(0);" class="btn-icon btn-xsl" onclick="ExportToExcel('personalItemGrid', 'CardId');" title="@ProjectSession.Resources.label.Common_ButtonExportToExcel"><i></i></a>
            </li>
        }
    </ul>
</div>
@if (ProjectSession.PermissionAccess.RequestCard_Personal_Createnewrecords || ProjectSession.PermissionAccess.RequestCard_Personal_Editrecords)
{
    <div class="text-right translat-btn">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#divStoreCardTransferModal" data-backdrop="static" onclick="OpenStorCardTransferModal(0);" title="@ProjectSession.Resources.label.Store_ButtonTransferCardForm">@ProjectSession.Resources.label.Store_ButtonTransferCardForm</button>
    </div>
}

<div id="consumablesItemData" class="@ProjectSession.CultureKendoClass">
    @(Html.Kendo().Grid<CMMS.Model.SubStoreCardForm>()
        .Name("personalItemGrid")
        .Columns(columns =>
        {
            columns.Bound(c => c.Name).Title(ProjectSession.Resources.label.Employee_TextBlockEmployeeName).Width(160);

            columns.Bound(c => c.EmployeeNO).Title(ProjectSession.Resources.label.Employee_TextBlockEmployeeNO).Width(120);

            columns.Bound(c => c.DateValue).ClientTemplate("#= DateTemplate(data.DateValue) #").Title(ProjectSession.Resources.label.AssetTransfer_TextBlockDate).Width(150);

            columns.Bound(c => c.StatusName).Title(ProjectSession.Resources.label.AccountCode_TextBlockStatus).Visible(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true).Width(150)
           .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterSubStoreStatus", "GridFilter", new { area = string.Empty, @id = "1" }).Data("BindParameters").Type(HttpVerbs.Post))));

            columns.Bound(c => c.StatusAltName).Title(ProjectSession.Resources.label.AccountCode_TextBlockStatus).Visible(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? true : false).Width(150)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterSubStoreStatus", "GridFilter", new { area = string.Empty, @id = "2" }).Data("BindParameters").Type(HttpVerbs.Post))));

            columns.Bound(c => c.CardNo).Title(ProjectSession.Resources.label.Store_TextBlockCardNo).Width(150);

            columns.Bound(c => c.FileNo).Title(ProjectSession.Resources.label.Store_TextBlockFileNo).Width(100);

            columns.Bound(c => c.PrivateNo).Title(ProjectSession.Resources.label.Store_TextBlockPrivateNo).Width(100);

            columns.Bound(c => c.SNo).Title(ProjectSession.Resources.label.Store_TextBlockSNo).Width(100);

            columns.Bound(c => c.SubStoreCode).Title(ProjectSession.Resources.label.Store_TextBlockStoreCode).Width(150)
             .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterStore", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

            columns.Bound(c => c.SubStoreDesc).Title(ProjectSession.Resources.label.Store_TextBlockStoreDesc).Width(150);

            columns.Bound(c => c.AltSubStoreDesc).Title(ProjectSession.Resources.label.Store_TextBlockAltStoreDesc).Width(150);

            if (ProjectSession.PermissionAccess.RequestCard_Personal_Editrecords)
            {
                columns.Bound(c => c.CardId).ClientTemplate("<center><a class='action'  style='cursor:pointer' href='" + Url.Action(Actions.PersonalDetail, Controllers.Transaction, new { area = Areas.Transaction, id = "#: CardId#" }) + "' ><i class='glyphicon glyphicon-pencil'></i></a></center>")
                                           .Title("<center>Action</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Width(60).Filterable(false);
            }

        })
        .Filterable()
        .Sortable(sortable => sortable.AllowUnsort(false))
        .Scrollable()
                .Excel(excel => excel.FileName(ProjectSession.Resources.label.Store_TextBlockStoreCardFormList + ".xlsx").Filterable(true).AllPages(true).ProxyURL(Url.Action("Excel_Export_Save", "GridExport", new { area = string.Empty })))
        .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
                .Events(events => events.DataBound("onDataBound").ExcelExport("excelExport"))
        .DataSource(dataSource =>
        dataSource.Ajax()
        .PageSize(ProjectConfiguration.PageSize)
        .Model(model =>
        {
            model.Id(p => p.CardId);
        })
        .ServerOperation(true)
        .Read(read => read.Action(Actions.GetPersonalList, Controllers.Transaction, new { area = Areas.Transaction }).Data("BindParameters").Type(HttpVerbs.Post))
        )
    )


</div>

<div id="employeeTransferGridModal" class="modal fade" role="dialog" style="z-index:999999 !important">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" title="@ProjectSession.Resources.label.Common_ButtonClose"></button>
                <h4 class="modal-title">@ProjectSession.Resources.label.Employee_RadTabItemEmployee</h4>
            </div>
            <div class="modal-body">
                <div id="Highlights" class="tab-pane active" role="tabpanel">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div id="employeeData" class="@ProjectSession.CultureKendoClass">
                                    @(Html.Kendo().Grid<CMMS.Model.employees>
                                        ()
                                        .Name("employeeTransferGrid")
                                        .Columns(columns =>
                                        {
                                            columns.Bound(c => c.EmployeeNO).Title(ProjectSession.Resources.label.Employee_TextBlockEmployeeNO).Width(150);

                                            columns.Bound(c => c.L2Code).Title(ProjectSession.Resources.label.JobRequest_TextBlockCityCode).Width(150)
                                            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterSite", "GridFilter", new { area = string.Empty }).Data("BindParametersEmpForTransfer").Type(HttpVerbs.Post))));

                                            columns.Bound(c => c.Name).Title(ProjectSession.Resources.label.Employee_TextBlockEmployeeName).Width(200);

                                            columns.Bound(c => c.MaintDivisionCode).Title(ProjectSession.Resources.label.MaintDivision_TextBlockMaintDivCode).Width(150)
                                            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterMaintenanceDivision", "GridFilter", new { area = string.Empty }).Data("BindParametersEmpForTransfer").Type(HttpVerbs.Post))));

                                            columns.Bound(c => c.MaintDeptCode).Title(ProjectSession.Resources.label.MaintenanceDept_TextBlockMaintDeptCode).Width(150)
                                            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterMaintenanceDepartment", "GridFilter", new { area = string.Empty }).Data("BindParametersEmpForTransfer").Type(HttpVerbs.Post))));

                                            columns.Bound(c => c.MaintSubDeptCode).Title(ProjectSession.Resources.label.MaintenanceSubDept_TextBlockMaintSubDeptCode).Width(180)
                                            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterMaintenanceSubDepartment", "GridFilter", new { area = string.Empty }).Data("BindParametersEmpForTransfer").Type(HttpVerbs.Post))));

                                            columns.Bound(c => c.Positions).Title(ProjectSession.Resources.label.Employee_TextBlockDesignation).Width(150);

                                            columns.Bound(c => c.CategoryName).Title(ProjectSession.Resources.label.Employee_TextBlockEmployeeCategory).Width(200)
                                            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterEmpCategory", "GridFilter", new { area = string.Empty, @id = "1" }).Data("BindParametersEmpForTransfer").Type(HttpVerbs.Post))));

                                            columns.Bound(c => c.EmployeeStatus).Title(ProjectSession.Resources.label.Employee_TextBlockEmployeeStatus).Width(150)
                                            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterEmpStatus", "GridFilter", new { area = string.Empty, @id = "1" }).Data("BindParametersEmpForTransfer").Type(HttpVerbs.Post))));


                                        })
                                        .Filterable()
                                        .Sortable(sortable => sortable.AllowUnsort(false))
                                        .Scrollable()
                                        .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
                                        .Events(events => events.DataBound("onDataBoundEmployeeForTransfer"))
                                        .DataSource(dataSource => dataSource.Ajax()
                                        .PageSize(ProjectConfiguration.PageSize)
                                        .Model(model =>
                                        {
                                            model.Id(p => p.EmployeeID);
                                            model.Field(p => p.Name);
                                        })
                                        .ServerOperation(true)
                                        .Read(read => read.Action(Actions.GetEmployeesByL2ID, Controllers.Transaction, new { area = Areas.Transaction }).Data("BindParametersEmpForTransfer").Type(HttpVerbs.Post))
                                        )
                                    )

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="divStoreCardTransferModal" role="dialog"></div>

<!-- -------------search order------------- -->
<div id="search-order" class="modal fade" role="dialog"></div>

<script type="text/javascript">
    var kendoGridId = 'personalItemGrid';
    var intPageID = '@SystemEnum.Pages.PersonalList.GetHashCode()';

    function OpenStorCardTransferModal(id) {
        $("#divStoreCardTransferModal").html('');
        var url = '@Url.Action(Actions._StoreCardTransferPopup, Controllers.Transaction, new { Area = Areas.Transaction })' + "?cardId=" + id;
        $("#divStoreCardTransferModal").load(url);
    }

    $(document).ready(function () {
        if ('@ViewBag.Message' != '' && '@ViewBag.MessageType' != '') {
            ShowMessage('@ViewBag.MessageType', '@ViewBag.Message', "#divMessage");
        }
    });

    function BindParameters() {
        return {
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };

    function onDataBound(arg) {
        gridProperPaging(this);
    }

    $("#personalItemGrid tbody").on("dblclick", "tr[role='row']", function (e) {
        var grid = $("#personalItemGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        location.href = '@Url.Action(Actions.PersonalDetail, Controllers.Transaction, new { area = Areas.Transaction })' + '?id=' + model.CardId;
    });
</script>

<script>

    function onDataBoundForEditTransfer(arg) {
        gridProperPaging(this);
    }

    function BindParametersForEditTransfer() {
        return {
            cardId: $('#hdnCardIdFromEmp').val(),
            returnStore: 1,
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function onDataBoundEmployeeForTransfer(arg) {
        gridProperPaging(this);
    }

    function BindParametersEmpForTransfer() {
        return {
            cityID: 1,
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }
</script>
