﻿@using CMMS.Infrastructure;
@using CMMS.Pages;
@using CMMS.Model
@using CMMS.Service
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool Lang = ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true;
}
@Html.AntiForgeryToken()
<div class="head1">
    <h1>@ProjectSession.Resources.label.PMChecklist_TextBlockPMChecklistList</h1>
    <ul class="sub_btn">
        @if (ProjectSession.PermissionAccess.Preventive_PMChecklists_Allowaccess)
        {
            <li>
                <a href="@Url.Action(Actions.GetPMChecklistByID, Controllers.Transaction, new { area = Areas.Transaction, checkListId = "0" })" title="@ProjectSession.Resources.label.Common_ButtonAdd" class="btn-icon btn-add"><i></i></a>
            </li>
        }
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-search" data-toggle="modal" data-target="#search-order" onclick='OpenAdvancedSearch("@ProjectSession.Resources.menu.PMChecklist_MenuPMChecklists","@SystemEnum.Pages.PMCheckList.GetHashCode()")' title="@ProjectSession.Resources.label.Common_ButtonAdvanceSearch"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-clear" title="@ProjectSession.Resources.label.Common_ButtonClear" onclick="return ClearAdvencedSearch(@SystemEnum.Pages.PMCheckList.GetHashCode());"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-refresh" onclick="ReBindKendoGrid('PMChecklistGrid');" title="@ProjectSession.Resources.label.Common_ButtonRefreshGrid"><i></i></a>
        </li>

        @if (ProjectSession.PermissionAccess.Preventive_PMChecklists_Export)
        {
            <li>
                <a href="javascript:void(0);" class="btn-icon btn-xsl" onclick="ExportToExcel('PMChecklistGrid','ChecklistID');" title="@ProjectSession.Resources.label.Common_ButtonExportToExcel"><i></i></a>
            </li>
        }
    </ul>
</div>

<!-- Kendo Grid-->
<div id="PMChecklistData" class="@ProjectSession.CultureKendoClass">
    @(Html.Kendo().Grid<CMMS.Model.PMCheckList>()
                                    .HtmlAttributes(new { @class = "kl-grid" })
                                    .Name("PMChecklistGrid")
                                    .Columns(columns =>
                                    {
                                        columns.Bound(c => c.ChecklistNo).Title(ProjectSession.Resources.label.PMChecklist_TextBlockPMChecklistNo).Width(150);

                                        columns.Bound(c => c.CheckListName).Title(ProjectSession.Resources.label.PMChecklist_TextBlockPMChecklistDesc);

                                        columns.Bound(c => c.AltCheckListName).HtmlAttributes(new { @class = "text-right" }).Title(ProjectSession.Resources.label.PMChecklist_TextBlockArabicPMChecklistDesc);

                                        columns.Bound(c => c.EstimatedLaborHours).ClientTemplate("#= DecimalTempalte(data.EstimatedLaborHours,2) #").Title(ProjectSession.Resources.label.PMChecklist_TextBlockEstLabourHrs);

                                        columns.Bound(c => c.L2Code).Title(ProjectSession.Resources.label.JobRequest_TextBlockCityCode)
                                        .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterSite", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

                                        columns.Bound(c => c.MaintDivisionCode).Title(ProjectSession.Resources.label.MaintDivision_TextBlockMaintenanceDivision)
                                        .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterMaintenanceDivision", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

                                        columns.Bound(c => c.MaintDeptCode).Title(ProjectSession.Resources.label.MaintenanceDept_TextBlockMaintDeptCode)
                                        .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterMaintenanceDepartment", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

                                        columns.Bound(c => c.MaintSubDeptCode).Title(ProjectSession.Resources.label.MaintenanceSubDept_TextBlockMaintSubDeptCode).Width(190)
                                        .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterMaintenanceSubDepartment", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

                                        columns.Bound(c => c.ChecklistID).ClientTemplate("<center>" + (ProjectSession.PermissionAccess.Preventive_PMChecklists_Editrecords ? "<a href='" + Url.Action(Actions.GetPMChecklistByID, CMMS.Pages.Controllers.Transaction, new { area = CMMS.Pages.Areas.Transaction, checklistID = "#: ChecklistID#" }) + "' class='action' title='" + ProjectSession.Resources.label.Common_ButtonEdit + "'  style='cursor:pointer' ><i class='glyphicon glyphicon-pencil'></i></a>&nbsp;" : "")
                                            + "" + (ProjectSession.PermissionAccess.Preventive_PMChecklists_Deleterecords ? "<a class='action delete-button'  href='javascript:void(0);'  class='delete-ic' data-id='#: ChecklistID #' style='cursor:pointer'><i class='glyphicon glyphicon-trash' title='" + ProjectSession.Resources.label.Common_ButtonDelete + "' ></i></a>" : "") + "</center>")
                                          .Title("<center>" + ProjectSession.Resources.label.Common_ButtonAction + "</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Width(80).Filterable(false);

                                    }) 
                                    .Filterable()
                                    .Sortable(sortable => sortable.AllowUnsort(false))
                                    .Scrollable()
                                    .Excel(excel => excel.FileName(ProjectSession.Resources.label.PMChecklist_TextBlockPMChecklistList + ".xlsx").Filterable(true).AllPages(true).ProxyURL(Url.Action("Excel_Export_Save", "GridExport", new { area = string.Empty })))
                                    .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
                                    .Events(events => events.DataBound("onDataBoundCheckList").ExcelExport("excelExport"))
                                    .DataSource(dataSource => dataSource.Ajax()
                                    .PageSize(ProjectConfiguration.PageSize)
                                     .Model(model =>
                                     {
                                         model.Id(p => p.ChecklistID);
                                         model.Field(p => p.ChecklistNo);
                                     })
                                    .ServerOperation(true)
                                            .Read(read => read.Action(Actions.GetPMChecklistAdvanceSearch, Controllers.Transaction, new { area = Areas.Transaction }).Data("BindParametersCheckList").Type(HttpVerbs.Post))
                                    )
    )
</div>

<!-- -------------search order------------- -->
<div id="search-order" class="modal fade" role="dialog"></div>

<script type="text/javascript">
    var kendoGridId = 'PMChecklistGrid';
    var intPageID = '@SystemEnum.Pages.PMCheckList.GetHashCode()';

    $(document).ready(function () {
        if ('@ViewBag.Message' != '' && '@ViewBag.MessageType' != '') {
            ShowMessage('@ViewBag.MessageType', '@ViewBag.Message', "#divMessage");
        }
    });

    function BindParameters() {
        return {
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };

    function onConfirmCallback(sender) {
        var id = $(this).data("id");
        $.ajax({
            url: '@Url.Action(Actions.DeletePMChecklist, Controllers.Transaction, new { area = Areas.Transaction })',
            type: "POST",
            data: addRequestVerificationToken({ checklistid: id }),
            dataType: "json",
            success: function (result) {
                ShowMessage(result[0], result[1], "#divMessage");
                ReBindKendoGrid("PMChecklistGrid");
            },
            error: function (xhr, ajaxOptions, thrownError) {
                showErrorMessage();
            }
        });
    }

    function onDataBoundCheckList(arg) {
        gridProperPaging(this);
    }

    function onDataBoundCheckList(arg) {
        confirmDeleteMsg(msgText, okText, cancelText, onConfirmCallback, confirmDirection);
        gridProperPaging(this);
    }

    function BindParametersCheckList() {
        return {
            strWhere: "",
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    $("#PMChecklistGrid tbody").on("dblclick", "tr[role='row']", function (e) {
        var grid = $("#PMChecklistGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        location.href = '@Url.Action(Actions.GetPMChecklistByID, CMMS.Pages.Controllers.Transaction, new { area = CMMS.Pages.Areas.Transaction })' + '?checkListId=' + model.ChecklistID;
    });
</script>
