﻿@using CMMS.Infrastructure;
@model CMMS.Model.PmSchedule
@using CMMS.Pages;
@using CMMS.Model
@using CMMS.Service
@{
    ViewBag.Title = ProjectSession.Resources.label.Asset_TextBlockAssetList;
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool Lang = ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true;
}
@Html.AntiForgeryToken()
<div class="head1">
    <h1>@ProjectSession.Resources.menu.PMJOGeneration_MenuPMJOGeneration</h1>
</div>

<script type="text/javascript">
    function DateTemplateWithColor(data)
    {
        var htmlForDate = '';
        var date = DateTemplate(data.TargetStartDate);

        if(data.IsTargetStartDateHoliday)
        {
            htmlForDate = kendo.format("<span style='color:red;'>{0}</span>",
             date
            );
        }
        else
        {
            htmlForDate = kendo.format("<span style='color:black;'>{0}</span>",
             date
            );
        }

        return htmlForDate;

    }

    function CalculateTargetDate()
    {}
</script>
<div id="divContent">
    <div class="box edit-job-order">
        <div class="nav-tabs-horizontal">
            <div class="tab-content">
                @* @using (Html.BeginForm(Actions.ManageAsset, Controllers.Transaction, new { area = Areas.Transaction }, FormMethod.Post, new { enctype = "multipart/form-data", id = "frmAsset", @role = "form" }))
                {*@
                <form id="frmPMJoGeneration" role="form">
                    @Html.AntiForgeryToken()
                    <div class="information-form cus-form">
                        <div class="row">
                            @Html.HiddenFor(model => model.DefaultDate, new { id = "hdndefaultDate" })
                            <div class="form-group col-md-6 col-lg-4">
                                <label class="form-label">@ProjectSession.Resources.label.JobRequest_TextBlockCity<span class="cfont">*</span></label>
                                @(Html.Kendo().MultiSelect()
                                .Name("L2ID")
                                            .AutoClose(false)
                                        //.Enable(Model.PMGroupNo == null ? true : false)
                                            .AutoBind(false)
                                            .DataTextField("L2Code")
                                            .DataValueField("L2ID")
                                            .HeaderTemplate(ProjectConfiguration.HEADERTEMPLATEWITHCODE)
                                            .ItemTemplate("#= KendoDDLTemplate(data.L2Code ,data.L2name, data.L2Altname) #")
                                            .HtmlAttributes(new { style = "width: 100%", id = "L2ID" })
                        .Events(m => m.Change("ChangeL2"))
                                            )
                            </div>
                            <div class="form-group col-md-6 col-lg-4">
                                <label class="form-label">@ProjectSession.Resources.label.JobRequest_TextBlockMaintenanceDivision<span class="cfont">*</span></label>
                                <div class="@ProjectSession.CultureKendoClass">
                                    @(Html.Kendo().DropDownListFor(model => model.MaintDivisionID)
                                            .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                            .DataTextField("MaintDivisionCode")
                                            .ValueTemplate(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "#:MaintDivisionCode # -- #: MaintDivisionAltName # " : "#:MaintDivisionCode # -- #: MaintDivisionName #")
                                            .DataValueField("MaintDivisionID")
                                            .HtmlAttributes(new { style = "width: 100%", @required = "required", id = "ddlMaintDivision" })
                                            .Template("#= KendoDDLTemplate( data.MaintDivisionCode, data.MaintDivisionName,data.MaintDivisionAltName) #")
                                            .DataSource(source =>
                                            {
                                                source.Read(read =>
                                                {
                                                    read.Action(Actions.GetMaintDivByEmpIdOrProjectNumber, Controllers.Transaction, new { area = Areas.Transaction }).Data("filterMaintDiv"); ;
                                                });
                                            })
                                           .Value(Convert.ToString(Model.MaintDivisionID))

                                        )
                                </div>
                                <script>
                                    function filterMaintDiv() {
                                        //var projectNo = '';

                                        //if ($("#txtProjectNumber") != 'undefined' && $("#txtProjectNumber") != null && typeof $("#txtProjectNumber").val() != 'undefined') {
                                        //    projectNo = $("#txtProjectNumber").val();
                                        //}

                                        return {
                                            projectNumber: ''
                                        };
                                    }
                                </script>
                            </div>
                            <div class="form-group col-md-6 col-lg-4">
                                <label class="form-label">@ProjectSession.Resources.label.MaintenanceDept_TextBlockMaintDept</label>
                                <div class="@ProjectSession.CultureKendoClass">
                                    @(Html.Kendo().DropDownListFor(model => model.MaintDeptID)
                                                .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                                .DataTextField("MaintDeptCode")
                                                .ValueTemplate(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "#:MaintDeptCode # -- #: MaintDeptAltdesc # " : "#:MaintDeptCode # -- #: MaintDeptdesc #")
                                                .DataValueField("MaintDeptID")
                                                .HtmlAttributes(new { style = "width: 100%", id = "ddlMaintDepartment" })
                                            //.Events(m => m.DataBound("DataBoundDDLDepartment"))
                                            .Template("#= KendoDDLTemplate( data.MaintDeptCode, data.MaintDeptdesc,data.MaintDeptAltdesc) #")
                                                .DataSource(source =>
                                                {
                                                    source.Read(read =>
                                                    {
                                                        read.Action(Actions.GetMaintDeptByDivisionID, Controllers.Configurations, new { area = Areas.Configurations }).Data("filterDepartment");

                                                    })
                                                    .ServerFiltering(true);
                                                })
                                                .CascadeFrom("ddlMaintDivision")
                                                .AutoBind(true)
                                                .Value(Convert.ToString(Model.MaintDeptID))
                                        )
                                </div>
                                <script>
                                    function filterDepartment() {
                                        return {
                                            maintDivisionId: $("#ddlMaintDivision").val()
                                        };
                                    }
                                </script>
                            </div>
                            <div class="form-group col-md-6 col-lg-4">
                                <label class="form-label">@ProjectSession.Resources.label.MaintenanceSubDept_TextBlockMaintSubDept</label>
                                <div class="@ProjectSession.CultureKendoClass">
                                    @(Html.Kendo().DropDownListFor(model => model.MaintSubDeptID)
                                                .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                                .DataTextField("MaintSubDeptCode")
                                                .ValueTemplate(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "#:MaintSubDeptCode # -- #: MaintSubDeptAltDesc # " : "#:MaintSubDeptCode # -- #: MaintSubDeptDesc #")
                                                .DataValueField("MaintSubDeptID")
                                                .HtmlAttributes(new { style = "width: 100%", id = "ddlMaintSubDepartment" })
                                            //.Events(m => m.DataBound("DataBoundDDLSubDepartment"))
                                            .Template("#= KendoDDLTemplate( data.MaintSubDeptCode, data.MaintSubDeptDesc,data.MaintSubDeptAltDesc) #")
                                                .DataSource(source =>
                                                {
                                                    source.Read(read =>
                                                    {
                                                        read.Action(Actions.GetMaintSubDeptByDeptID, Controllers.Management, new { area = Areas.Management }).Data("filterSubDepartment");

                                                    })
                                                    .ServerFiltering(true);
                                                })
                                                .CascadeFrom("ddlMaintDepartment")
                                                .AutoBind(true)
                                                .Value(Convert.ToString(Model.MaintSubDeptID))
                                                .Events(m => m.Change("ChangeMaintSubDeptCode"))
                                        )
                                </div>
                                <script>
                                    function filterSubDepartment() {
                                        return {
                                            maintDeptid: $("#ddlMaintDepartment").val()
                                        };
                                    }
                                </script>
                            </div>
                            <div class="form-group col-md-6 col-lg-4">
                                <label class="form-label">@ProjectSession.Resources.label.JobOrder_TextBlockGenerateUntil</label>
                                <div class="input-group date-pick">
                                    @Html.TextBox("txtGenerateUntil", "", "{0:" + ProjectConfiguration.DefaultDateFormat + "}", new { placeholder = ProjectConfiguration.DefaultDateFormat, @class = "form-control calendarsPicker" })
                                </div>
                            </div>
                            <div class="form-group two-form-group col-md-6 col-lg-4">

                                <label class="form-label">&nbsp;</label>
                                <div>
                                    <button class="btn btn-primary" id="btnViewPM" name="btnSave" type="submit"><span>@ProjectSession.Resources.label.JobOrder_ButtonViewPM</span></button>

                                    @if (ProjectSession.PermissionAccess.JobOrder_JobOrder_Createnewrecords)
                                    {
                                        <button class="btn btn-primary" id="btnOpenPMJO" name="btnSave" type="button" disabled="disabled"><span>@ProjectSession.Resources.label.JobOrder_ButtonOpenPMJO</span></button>
                                    }
                                    <button class="btn btn-primary" id="btnPrintPMJO" name="btnSave" type="button" disabled="disabled" onclick="PrintPMJO()"><span>@ProjectSession.Resources.label.JobOrder_ButtonPrintPMJO</span></button>
                                </div>
                            </div>
                        </div>

                        <h3 class="sub-title">
                            <span>
                                @ProjectSession.Resources.label.PMJobOrder_TextBlockPreviousPMGenerationDetails
                            </span>
                        </h3>
                        <div class="row">
                            <div class="form-group col-md-6 col-lg-4">
                                <label class="form-label">@ProjectSession.Resources.label.PMJobOrder_TextBlockLastPMGeneratedDate<span class="cfont">*</span></label>
                                <div class="input-group date-pick">
                                    @Html.TextBox("txtLastGenerateDate", "", "{0:" + ProjectConfiguration.DefaultDateFormat + "}", new { placeholder = ProjectConfiguration.DefaultDateFormat, @class = "form-control calendarsPicker", @disabled = "disabled" })
                                </div>
                            </div>
                            <div class="form-group col-md-6 col-lg-4">
                                <label class="form-label">@ProjectSession.Resources.label.PMJobOrder_TextBlockGeneratedUntil<span class="cfont">*</span></label>
                                <div class="input-group date-pick">
                                    @Html.TextBox("txtLastGenerateUntil", "", "{0:" + ProjectConfiguration.DefaultDateFormat + "}", new { placeholder = ProjectConfiguration.DefaultDateFormat, @class = "form-control calendarsPicker", @disabled = "disabled" })
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
                @*}*@

                <div class="information-form">
                    <h3 class="sub-title">
                        <span>
                            @ProjectSession.Resources.label.JobOrder_TextBlockPMBasedOnScheduleDate &nbsp;&nbsp;&nbsp; <span style="font-weight: normal !important;">* @ProjectSession.Resources.message.PMJOGeneration_MsgNoteNonWorkingDay </span>
                            <div class="sub_btn">
                                <a title="Export To Excel" onclick="ExportToExcel('PMByScheduleDateGrid');" class="btn-icon btn-xsl" href="javascript:void(0);"><i></i></a>
                            </div>
                        </span>
                    </h3>
                    <!-- Kendo Grid-->
                    <div class="@ProjectSession.CultureKendoClass">
                        @(Html.Kendo().Grid<CMMS.Model.Intermediate_pmgenerate>()
        .Name("PMByScheduleDateGrid")
        .HtmlAttributes(new { @class = "kl-grid" })
        .Columns(columns =>
        {
            columns.Bound(c => c.PMNo).Title(ProjectSession.Resources.label.PM_TextBlockPMNo).Width(100).Locked(true);
            columns.Bound(c => c.PMName).Title(ProjectSession.Resources.label.PM_TextBlockPMName).Width(200);
            columns.Bound(c => c.AltPMName).HtmlAttributes(new { @class = "text-right" }).Title(ProjectSession.Resources.label.PM_TextBlockAltPMName).Width(200);
            columns.Bound(c => c.WorkorderNo).Title(ProjectSession.Resources.label.JobOrder_TextBlockJobOrderNo).Width(200);
            columns.Bound(c => c.ChecklistNo).Title(ProjectSession.Resources.label.PM_TextBlockCheckListNumber).Width(200);
            columns.Bound(c => c.CheckListName).Title(ProjectSession.Resources.label.PMChecklist_TextBlockPMChecklistDesc).Width(100);
            columns.Bound(c => c.AltCheckListName).HtmlAttributes(new { @class = "text-right" }).Title(ProjectSession.Resources.label.PMChecklist_TextBlockArabicPMChecklistDesc).Width(100);
            columns.Bound(c => c.AssetNumber).Title(ProjectSession.Resources.label.Asset_TextBlockAssetNO).Width(100);
            columns.Bound(c => c.AssetDescription).Title(ProjectSession.Resources.label.Asset_TextBlockAssetDescription).Width(200);
            columns.Bound(c => c.AssetAltDescription).HtmlAttributes(new { @class = "text-right" }).Title(ProjectSession.Resources.label.Asset_TextBlockAltAssetDescription).Width(200);
            columns.Bound(c => c.LocationNo).Title(ProjectSession.Resources.label.Location_TextBlockLocationNo).Width(100)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterLocation", "GridFilter", new { area = string.Empty }).Data("BindParametersPMByScheduleDate").Type(HttpVerbs.Post))));

            columns.Bound(c => c.LocationDescription).Title(ProjectSession.Resources.label.Location_TextBlockLocationDescription).Width(150);
            columns.Bound(c => c.LocationAltDescription).HtmlAttributes(new { @class = "text-right" }).Title(ProjectSession.Resources.label.Location_TextBlockAltLocationDesc).Width(150);

            columns.Bound(c => c.L2Code).Title(ProjectSession.Resources.label.JobRequest_TextBlockCityCode).Width(100)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterSite", "GridFilter", new { area = string.Empty }).Data("BindParametersPMByScheduleDate").Type(HttpVerbs.Post))));

            if (ProjectSession.IsAreaFieldsVisible)
            {
                columns.Bound(c => c.L3No).Title(ProjectSession.Resources.label.Area_TextBlockAreaCode).Width(100)
                .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterArea", "GridFilter", new { area = string.Empty }).Data("BindParametersPMByScheduleDate").Type(HttpVerbs.Post))));
            }

            columns.Bound(c => c.L4No).Title(ProjectSession.Resources.label.JobRequest_TextBlockStreetCode).Width(100)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterZone", "GridFilter", new { area = string.Empty }).Data("BindParametersPMByScheduleDate").Type(HttpVerbs.Post))));

            columns.Bound(c => c.L5No).Title(ProjectSession.Resources.label.Building_TextBlockBuildingCode).Width(100)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterBuilding", "GridFilter", new { area = string.Empty }).Data("BindParametersPMByScheduleDate").Type(HttpVerbs.Post))));

            columns.Bound(c => c.MaintDivisionCode).Title(ProjectSession.Resources.label.MaintDivision_TextBlockMaintenanceDivision).Width(100)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterMaintenanceDivision", "GridFilter", new { area = string.Empty }).Data("BindParametersPMByScheduleDate").Type(HttpVerbs.Post))));

            columns.Bound(c => c.MaintDeptCode).Title(ProjectSession.Resources.label.MaintenanceDept_TextBlockMaintDeptCode).Width(100)
             .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterMaintenanceDepartment", "GridFilter", new { area = string.Empty }).Data("BindParametersPMByScheduleDate").Type(HttpVerbs.Post))));

            columns.Bound(c => c.MaintSubDeptCode).Title(ProjectSession.Resources.label.MaintenanceSubDept_TextBlockMaintSubDeptCode).Width(100)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterMaintenanceSubDepartment", "GridFilter", new { area = string.Empty }).Data("BindParametersPMByScheduleDate").Type(HttpVerbs.Post))));

            columns.Bound(c => c.WorkTrade).Title(ProjectSession.Resources.label.JobTrade_TextBlockJobTradeName)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterJobTrade", "GridFilter", new { area = string.Empty, @id = "1" }).Data("BindParametersPMByScheduleDate").Type(HttpVerbs.Post))));

            columns.Bound(c => c.AltWorkTrade).HtmlAttributes(new { @class = "text-right" }).Title(ProjectSession.Resources.label.JobTrade_TextBlockAltJobTrade)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterJobTrade", "GridFilter", new { area = string.Empty, @id = "2" }).Data("BindParametersPMByScheduleDate").Type(HttpVerbs.Post))));

            columns.Bound(c => c.WorkPriority).Title(ProjectSession.Resources.label.JobPriority_TextBlockJobPriorityName)
             .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterJobPriority", "GridFilter", new { area = string.Empty, @id = "3" }).Data("BindParametersPMByScheduleDate").Type(HttpVerbs.Post))));

            columns.Bound(c => c.AltWorkPriority).HtmlAttributes(new { @class = "text-right" }).Title(ProjectSession.Resources.label.JobPriority_TextBlockAltJobPriority)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterJobPriority", "GridFilter", new { area = string.Empty, @id = "2" }).Data("BindParametersPMByScheduleDate").Type(HttpVerbs.Post))));

            columns.Bound(c => c.TargetStartDate).ClientTemplate("#= DateTemplateWithColor(data) #").Title(ProjectSession.Resources.label.PM_TextBlockTargetStartDate).Width(150);
            columns.Bound(c => c.TargetCompDate).ClientTemplate("#= DateTemplate(data.TargetCompDate) #").Title(ProjectSession.Resources.label.PM_TextBlockTargetCompleteDate).Width(150);
            columns.Bound(c => c.NextDate).ClientTemplate("#= DateTemplate(data.NextDate) #").Title(ProjectSession.Resources.label.PM_TextBlockNextStartDate).Width(150);

        })
        .Filterable()
        .Sortable(sortable => sortable.AllowUnsort(false))
        .Scrollable()
                .Excel(excel => excel.FileName(ProjectSession.Resources.label.JobOrder_TextBlockPMBasedOnScheduleDate + ".xlsx").Filterable(true).AllPages(true))
                .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
        .Events(events => events.DataBound("onDataBoundPMByScheduleDate"))
        .DataSource(dataSource =>
                                dataSource.Ajax()
                                .PageSize(ProjectConfiguration.PageSize)
                                .Sort(model => model.Add("PMNo").Descending())
                                 .Model(model =>
                                 {
                                     model.Id(p => p.PMID);
                                     model.Field(p => p.PMName);
                                 })
                                .ServerOperation(true)
                                .Read(read => read.Action(Actions.GetIntermediateDataByUserId, Controllers.Transaction, new { area = Areas.Transaction }).Data("BindParametersPMByScheduleDate").Type(HttpVerbs.Post))
        )
)

                    </div>
                </div>
                <br />
                <br />
                <div class="information-form">
                    <h3 class="sub-title">
                        <span>
                            @ProjectSession.Resources.label.JobOrder_TextBlockPMBasedOnActualCompleteDate
                            <div class="sub_btn">
                                <a title="Export To Excel" onclick="ExportToExcel('PMByCompletedDateGrid');" class="btn-icon btn-xsl" href="javascript:void(0);"><i></i></a>
                            </div>
                        </span>
                    </h3>
                    <!-- Kendo Grid-->
                    <div class="@ProjectSession.CultureKendoClass">
                        @(Html.Kendo().Grid<CMMS.Model.Intermediate_pmgenerate>()
        .Name("PMByCompletedDateGrid")
        .HtmlAttributes(new { @class = "kl-grid" })
        .Columns(columns =>
        {
            columns.Bound(c => c.PMNo).Title(ProjectSession.Resources.label.PM_TextBlockPMNo).Width(100).Locked(true);
            columns.Bound(c => c.PMName).Title(ProjectSession.Resources.label.PM_TextBlockPMName).Width(200);
            columns.Bound(c => c.AltPMName).HtmlAttributes(new { @class = "text-right" }).Title(ProjectSession.Resources.label.PM_TextBlockAltPMName).Width(200);
            columns.Bound(c => c.WorkorderNo).Title(ProjectSession.Resources.label.JobOrder_TextBlockJobOrderNo).Width(200);
            columns.Bound(c => c.ChecklistNo).Title(ProjectSession.Resources.label.PM_TextBlockCheckListNumber).Width(200);
            columns.Bound(c => c.CheckListName).Title(ProjectSession.Resources.label.PMChecklist_TextBlockPMChecklistDesc).Width(100);
            columns.Bound(c => c.AltCheckListName).HtmlAttributes(new { @class = "text-right" }).Title(ProjectSession.Resources.label.PMChecklist_TextBlockArabicPMChecklistDesc).Width(100);
            columns.Bound(c => c.AssetNumber).Title(ProjectSession.Resources.label.Asset_TextBlockAssetNO).Width(100);
            columns.Bound(c => c.AssetDescription).Title(ProjectSession.Resources.label.Asset_TextBlockAssetDescription).Width(200);
            columns.Bound(c => c.AssetAltDescription).HtmlAttributes(new { @class = "text-right" }).Title(ProjectSession.Resources.label.Asset_TextBlockAltAssetDescription).Width(200);
            columns.Bound(c => c.LocationNo).Title(ProjectSession.Resources.label.Location_TextBlockLocationNo).Width(100)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterLocation", "GridFilter", new { area = string.Empty }).Data("BindParametersPMByCompletedDate").Type(HttpVerbs.Post))));

            columns.Bound(c => c.LocationDescription).Title(ProjectSession.Resources.label.Location_TextBlockLocationDescription).Width(150);
            columns.Bound(c => c.LocationAltDescription).HtmlAttributes(new { @class = "text-right" }).Title(ProjectSession.Resources.label.Location_TextBlockAltLocationDesc).Width(150);

            columns.Bound(c => c.L2Code).Title(ProjectSession.Resources.label.JobRequest_TextBlockCityCode).Width(100)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterSite", "GridFilter", new { area = string.Empty }).Data("BindParametersPMByCompletedDate").Type(HttpVerbs.Post))));

            if (ProjectSession.IsAreaFieldsVisible)
            {
                columns.Bound(c => c.L3No).Title(ProjectSession.Resources.label.Area_TextBlockAreaCode).Width(100)
                .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterArea", "GridFilter", new { area = string.Empty }).Data("BindParametersPMByCompletedDate").Type(HttpVerbs.Post))));
            }

            columns.Bound(c => c.L4No).Title(ProjectSession.Resources.label.JobRequest_TextBlockStreetCode).Width(100)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterZone", "GridFilter", new { area = string.Empty }).Data("BindParametersPMByCompletedDate").Type(HttpVerbs.Post))));

            columns.Bound(c => c.L5No).Title(ProjectSession.Resources.label.Building_TextBlockBuildingCode).Width(100)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterBuilding", "GridFilter", new { area = string.Empty }).Data("BindParametersPMByCompletedDate").Type(HttpVerbs.Post))));

            columns.Bound(c => c.MaintDivisionCode).Title(ProjectSession.Resources.label.MaintDivision_TextBlockMaintenanceDivision).Width(100)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterMaintenanceDivision", "GridFilter", new { area = string.Empty }).Data("BindParametersPMByCompletedDate").Type(HttpVerbs.Post))));

            columns.Bound(c => c.MaintDeptCode).Title(ProjectSession.Resources.label.MaintenanceDept_TextBlockMaintDeptCode).Width(100)
             .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterMaintenanceDepartment", "GridFilter", new { area = string.Empty }).Data("BindParametersPMByCompletedDate").Type(HttpVerbs.Post))));

            columns.Bound(c => c.MaintSubDeptCode).Title(ProjectSession.Resources.label.MaintenanceSubDept_TextBlockMaintSubDeptCode).Width(100)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterMaintenanceSubDepartment", "GridFilter", new { area = string.Empty }).Data("BindParametersPMByCompletedDate").Type(HttpVerbs.Post))));


            columns.Bound(c => c.WorkTrade).Title(ProjectSession.Resources.label.JobTrade_TextBlockJobTradeName)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterJobTrade", "GridFilter", new { area = string.Empty, @id = "1" }).Data("BindParametersPMByCompletedDate").Type(HttpVerbs.Post))));

            columns.Bound(c => c.AltWorkTrade).HtmlAttributes(new { @class = "text-right" }).Title(ProjectSession.Resources.label.JobTrade_TextBlockAltJobTrade)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterJobTrade", "GridFilter", new { area = string.Empty, @id = "2" }).Data("BindParametersPMByCompletedDate").Type(HttpVerbs.Post))));

            columns.Bound(c => c.WorkPriority).Title(ProjectSession.Resources.label.JobPriority_TextBlockJobPriorityName)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterJobPriority", "GridFilter", new { area = string.Empty, @id = "3" }).Data("BindParametersPMByCompletedDate").Type(HttpVerbs.Post))));

            columns.Bound(c => c.AltWorkPriority).HtmlAttributes(new { @class = "text-right" }).Title(ProjectSession.Resources.label.JobPriority_TextBlockAltJobPriority)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterJobPriority", "GridFilter", new { area = string.Empty, @id = "2" }).Data("BindParametersPMByCompletedDate").Type(HttpVerbs.Post))));

            columns.Bound(c => c.TargetStartDate).ClientTemplate("#= DateTemplate(data.TargetStartDate) #").Title(ProjectSession.Resources.label.PM_TextBlockTargetStartDate).Width(150);
            columns.Bound(c => c.TargetCompDate).ClientTemplate("#= DateTemplate(data.TargetCompDate) #").Title(ProjectSession.Resources.label.PM_TextBlockTargetCompleteDate).Width(150);
            columns.Bound(c => c.NextDate).ClientTemplate("#= DateTemplate(data.NextDate) #").Title(ProjectSession.Resources.label.PM_TextBlockNextStartDate).Width(150);

        })
        .Filterable()
        .Sortable(sortable => sortable.AllowUnsort(false))
        .Scrollable()
                .Excel(excel => excel.FileName(ProjectSession.Resources.label.JobOrder_TextBlockPMBasedOnActualCompleteDate + ".xlsx").Filterable(true).AllPages(true))
                .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
        .Events(events => events.DataBound("onDataBoundPMByCompletedDate"))
        .DataSource(dataSource =>
                                dataSource.Ajax()
                                .PageSize(ProjectConfiguration.PageSize)
                                .Sort(model => model.Add("PMNo").Descending())
                                 .Model(model =>
                                 {
                                     model.Id(p => p.PMID);
                                     model.Field(p => p.PMName);
                                 })
                                .ServerOperation(true)
                                        .Read(read => read.Action(Actions.GetIntermediateDataByUserId, Controllers.Transaction, new { area = Areas.Transaction }).Data("BindParametersPMByCompletedDate").Type(HttpVerbs.Post))
        )
)

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var intPageID = '@SystemEnum.Pages.PMJoGeneration.GetHashCode()';

    validator = $('#frmPMJoGeneration').validate({
        rules: {
            txtGenerateUntil: { required: true },
            PartsListDescription: { required: true },
        },
        messages: {
            txtGenerateUntil: { required: '' },
            PartsListDescription: { required: '' },
        }
    });

    $(document).ready(function () {
        if ('@ViewBag.Message' != '' && '@ViewBag.MessageType' != '') {
            ShowMessage('@ViewBag.MessageType', '@ViewBag.Message', "#divMessage");
        }
        getSite();
    });

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };

    //Start Grid : PM By Schedule Date
    function BindParametersPMByScheduleDate() {
        var bd = 0;
        if ($('select#L2ID').val() != "" && $('select#L2ID').val() != null) {
            bd = 1;
        }

        return {
            basedOnDate: bd,
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function onDataBoundPMByScheduleDate(e) {
        gridProperPaging(this);
        //CountRows();
    }
    //End Grid : PM By Schedule Date


    //Start Grid : PM By Completed Date
    function BindParametersPMByCompletedDate() {
        var bd = 0;
        if ($('select#L2ID').val() != "" && $('select#L2ID').val() != null) {
            bd = 2;
        }
        return {
            basedOnDate: bd,
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function onDataBoundPMByCompletedDate(arg) {
        gridProperPaging(this);
        //CountRows();

    }
    //End Grid : PM By Completed Date

    function getSite() {
        var url;
        if ('@ProjectSession.IsCentral'.toLowerCase() == 'false') {
            url = '@Url.Action(Actions.GetCitiesByEmployee, Controllers.Configurations, new { area = Areas.Configurations })';
        }
        else {
            url = '@Url.Action(Actions.GetAllCities, Controllers.Configurations, new { area = Areas.Configurations })';
        }
        $.ajax({
            url: url,
            type: 'Post',
            cache: false,
            async: false,
            success: function (result) {
                $('#L2ID').data('kendoMultiSelect').dataSource.data(result);
               @* if ('@Model.MultiL2' != null) {
                    var val = '@Model.MultiL2';
                    var ps = val.split(',');
                    $('#L2ID').data('kendoMultiSelect').value(ps);

                    //ReBindKendoGrid("AssetGrid");
                }*@
            },
            error: function (xhr, ajaxOptions, thrownError) {
                showErrorMessage();
            }
        });
    }

    function ChangeL2(e) {
        GetListPMGenDates();
    };

    function ChangeMaintSubDeptCode(e) {
        GetListPMGenDates();
    }

    function GetListPMGenDates() {  //LoadGenerationDate
        if ($('select#L2ID').val() != "" && $('select#L2ID').val() != null) {
            $.ajax({
                url: '@Url.Action(Actions.GetListPMGenDates, Controllers.Transaction, new { area = Areas.Transaction })',
                type: "POST",
                data: {
                    cityID: $('select#L2ID').val() == "" || $('select#L2ID').val() == null ? "" : $('select#L2ID').val().toString(),
                    maintenanceDiv: $('#ddlMaintDivision').val() == "" ? 0 : $('#ddlMaintDivision').val(),
                    maintenanceDept: $('#ddlMaintDepartment').val() == "" ? 0 : $('#ddlMaintDepartment').val(),
                    maintenanceSubDept: $('#ddlMaintSubDepartment').val() == "" ? 0 : $('#ddlMaintSubDepartment').val(),
                },
                dataType: "json",
                success: function (result) {
                
                    if (result[0] != null && result[0] != "") {                      
                        $('#txtLastGenerateDate').val(SetJsondate(result[0]));
                    }
                    else
                        $('#txtLastGenerateDate').val("");

                   

                    if (result[1] != null && result[1] != "") {                      
                        $('#txtLastGenerateUntil').val(SetJsondate(result[1]));
                    }
                    else
                        $('#txtLastGenerateUntil').val("");

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }

            });
        }
        else {
            $('#txtLastGenerateDate').val("");
            $('#txtLastGenerateUntil').val("");
        }
    }

    $('#frmPMJoGeneration').on('submit', function (e) {
        if ($("#frmPMJoGeneration").valid()) {
            if (!e.isDefaultPrevented()) {
                if ($('select#L2ID').val() != "" && $('select#L2ID').val() != null) {
                    if ($('#txtGenerateUntil').val() < '@Model.DefaultDate') {
                        ShowMessage('@SystemEnum.MessageType.danger.ToString()', '@ProjectSession.Resources.message.PM_MsgGenerateUnitGreater', "#divMessage");
                    }
                    else {
                        $.ajax({
                            url: '@Url.Action(Actions.ViewPM, Controllers.Transaction, new { area = Areas.Transaction })',
                            type: "POST",
                            data: {
                                generateUntil: $('#txtGenerateUntil').val(),
                                defaultDate: $('#hdndefaultDate').val(),
                                cityID: $('select#L2ID').val() == "" || $('select#L2ID').val() == null ? "" : $('select#L2ID').val().toString(),
                                maintenanceDiv: $('#ddlMaintDivision').val() == "" ? 0 : $('#ddlMaintDivision').val(),
                                maintenanceDept: $('#ddlMaintDepartment').val() == "" ? 0 : $('#ddlMaintDepartment').val(),
                                maintenanceSubDept: $('#ddlMaintSubDepartment').val() == "" ? 0 : $('#ddlMaintSubDepartment').val(),
                            },
                            dataType: "json",
                            success: function (result) {
                                ReBindKendoGrid("PMByScheduleDateGrid");
                                ReBindKendoGrid("PMByCompletedDateGrid");

                                setTimeout(function () { CountRows(1); }, 100);

                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                showErrorMessage();
                            }

                        });

                    }
                }
                else {
                    ShowMessage('@SystemEnum.MessageType.danger.ToString()', 'City is required', "#divMessage");
                }
                e.preventDefault();
            }
        }
        else {
            e.preventDefault();
        }
    })

    function CountRows(type) {
        if ($('select#L2ID').val() != "" && $('select#L2ID').val() != null) {
            var grid = $("#PMByScheduleDateGrid").data("kendoGrid");
            var ScheduleDateGridRowsCount = grid.tbody.find('>tr:not(.kendo-data-row)').length;

            var grid = $("#PMByCompletedDateGrid").data("kendoGrid");
            var CompletedDateGridRowsCount = grid.tbody.find('>tr:not(.kendo-data-row)').length;

            if (ScheduleDateGridRowsCount > 0 || CompletedDateGridRowsCount > 0) {
                if (type == 1) {
                    $('#btnOpenPMJO').removeAttr('disabled');
                    $('#btnPrintPMJO').attr('disabled', 'disabled');
                }
                else {
                    $('#btnPrintPMJO').removeAttr('disabled');
                    ShowMessage('@SystemEnum.MessageType.success.ToString()', '@ProjectSession.Resources.message.PMJOGeneration_MsgPMJOGenSucsess', "#divMessage");
                }
            }
            else {
                if (type == 1) {
                    $('#btnOpenPMJO').attr('disabled', 'disabled');
                    $('#btnPrintPMJO').attr('disabled', 'disabled');
                }
                else {
                    $('#btnPrintPMJO').attr('disabled', 'disabled');
                }
                ShowMessage('@SystemEnum.MessageType.danger.ToString()', '@ProjectSession.Resources.message.PM_MsgNoPMsToGen', "#divMessage");
            }
        }
    }


    $('#btnOpenPMJO').click(function (e) {
        if ($("#frmPMJoGeneration").valid()) {
            if (!e.isDefaultPrevented()) {
                if ($('select#L2ID').val() != "" && $('select#L2ID').val() != null) {
                    if ($('#txtGenerateUntil').val() < '@Model.DefaultDate') {
                        ShowMessage('@SystemEnum.MessageType.danger.ToString()', '@ProjectSession.Resources.message.PM_MsgGenerateUnitGreater', "#divMessage");
                    }
                    else {
                        $('#btnOpenPMJO').attr('disabled', 'disabled');

                        var result = confirm('@ProjectSession.Resources.message.PMJOGeneration_MsgConfirmGenPMJO');
                        if (result) {
                            $.ajax({
                                url: '@Url.Action(Actions.OpenPMJo, Controllers.Transaction, new { area = Areas.Transaction })',
                                type: "POST",
                                data: {
                                    generateUntil: $('#txtGenerateUntil').val(),
                                    defaultDate: $('#hdndefaultDate').val(),
                                    cityID: $('select#L2ID').val() == "" || $('select#L2ID').val() == null ? "" : $('select#L2ID').val().toString(),
                                    maintenanceDiv: $('#ddlMaintDivision').val() == "" ? 0 : $('#ddlMaintDivision').val(),
                                    maintenanceDept: $('#ddlMaintDepartment').val() == "" ? 0 : $('#ddlMaintDepartment').val(),
                                    maintenanceSubDept: $('#ddlMaintSubDepartment').val() == "" ? 0 : $('#ddlMaintSubDepartment').val(),
                                },
                                dataType: "json",
                                success: function (result) {
                                    ReBindKendoGrid("PMByScheduleDateGrid");
                                    ReBindKendoGrid("PMByCompletedDateGrid");

                                    setTimeout(function () { CountRows(2); }, 100);
                                },
                                error: function (xhr, ajaxOptions, thrownError) {
                                    showErrorMessage();
                                }

                            });
                        }
                    }
                }
                else {
                    ShowMessage('@SystemEnum.MessageType.danger.ToString()', 'City is required', "#divMessage");
                }
                e.preventDefault();
            }
        }
        else {
            e.preventDefault();
        }
    });

    function PrintPMJO() {
        //location.href='@Url.Action(CMMS.Pages.Actions.PrintPMJO, CMMS.Pages.Controllers.Transaction)?employeeId=' +  @ProjectSession.EmployeeID ;
        window.open('@Url.Action(CMMS.Pages.Actions.PrintPMJO, CMMS.Pages.Controllers.Transaction)?employeeId=' +  @ProjectSession.EmployeeID,"_blank");
    }

</script>

