﻿@using CMMS.Infrastructure;
@using CMMS.Pages;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool Lang = ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true;
}

@Html.AntiForgeryToken()
<div class="head1">
    <h1>PM @ProjectSession.Resources.label.Reading_TextBlockMeterMasterList
    </h1>
    <ul class="sub_btn">
        @if (ProjectSession.PermissionAccess.Preventive_MeterSchedules_Createnewrecords)
        {
            <li>
                <a href="@Url.Action(Actions.PMMeterMasterEdit, Controllers.Transaction, new { area = Areas.Transaction, meterMasterID = "0" })" title="@ProjectSession.Resources.label.Common_ButtonAdd" class="btn-icon btn-add"><i></i></a>
            </li>
        }

        <li>
            <a href="javascript:void(0);" class="btn-icon btn-search" data-toggle="modal" data-target="#search-order" onclick='OpenAdvancedSearch("@ProjectSession.Resources.label.Reading_TextBlockMeterMasterList","@SystemEnum.Pages.PMMeterMasterList.GetHashCode()");' title="@ProjectSession.Resources.label.Common_ButtonAdvanceSearch"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-clear" title="@ProjectSession.Resources.label.Common_ButtonClear" onclick="return ClearAdvencedSearch(@SystemEnum.Pages.PMMeterMasterList.GetHashCode());"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-refresh" onclick="ReBindKendoGrid('PMMeterMasterListGrid');" title="@ProjectSession.Resources.label.Common_ButtonRefreshGrid"><i></i></a>
        </li>

        @if (ProjectSession.PermissionAccess.Preventive_MeterSchedules_Export)
        {
            <li>
                <a href="javascript:void(0);" class="btn-icon btn-xsl" onclick="ExportToExcel('PMMeterMasterListGrid', 'MeterMasterID');" title="@ProjectSession.Resources.label.Common_ButtonExportToExcel"><i></i></a>
            </li>
        }
    </ul>
</div>
<div id="pmmetermasterlist" class="@ProjectSession.CultureKendoClass">
    @(Html.Kendo().Grid<CMMS.Model.PMMeterMaster>()
                .Name("PMMeterMasterListGrid")
        .HtmlAttributes(new { @class = "kl-grid" })
        .Columns(columns =>
        {
            columns.Bound(c => c.MeterNo).Title(ProjectSession.Resources.label.PM_TextBlockMeterNo).Width(150).Locked(true);

            columns.Bound(c => c.MeterDescription).Title(ProjectSession.Resources.label.PM_TextBlockMeterDesc).Width(200);

            columns.Bound(c => c.AltMeterDescription).Title(ProjectSession.Resources.label.PM_TextBlockAltMeterDesc).HtmlAttributes(new { @class = "text-right" }).Width(200);

            columns.Bound(c => c.MeterType).Title(ProjectSession.Resources.label.PM_TextBlockMeterType).Width(200);

            columns.Bound(c => c.MeterUnit).Title(ProjectSession.Resources.label.PM_TextBlockMeterUnits).Width(150);

            columns.Bound(c => c.LastReading).ClientTemplate("#= DecimalTempalte(data.LastReading,2) #").Title(ProjectSession.Resources.label.PMReading_TextBlockLastEnteredReading).Width(180);

            columns.Bound(c => c.AssetNumber).Title(ProjectSession.Resources.label.Asset_TextBlockAssetNO).Width(150);

            columns.Bound(c => c.AssetDescription).Title(ProjectSession.Resources.label.Asset_TextBlockAssetDescription).Width(200);

            columns.Bound(c => c.AssetAltDescription).Title(ProjectSession.Resources.label.Asset_TextBlockAltAssetDescription).HtmlAttributes(new { @class = "text-right" }).Width(200);

            columns.Bound(c => c.LocationNo).Title(ProjectSession.Resources.label.Location_TextBlockLocationNo).Width(150)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterLocation", "GridFilter", new { area = string.Empty }).Data("BindParametersForPMMaster").Type(HttpVerbs.Post))));

            columns.Bound(c => c.LocationDescription).Title(ProjectSession.Resources.label.Location_TextBlockLocationDescription).Visible(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true).Width(200);

            columns.Bound(c => c.LocationAltDescription).Title(ProjectSession.Resources.label.Location_TextBlockLocationAltDescription).Visible(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? true : false).Width(200);

            columns.Bound(c => c.L5No).Title(ProjectSession.Resources.label.Building_TextBlockBuildingNo).Width(100)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterBuilding", "GridFilter", new { area = string.Empty }).Data("BindParametersForPMMaster").Type(HttpVerbs.Post))));

            columns.Bound(c => c.L5Description).Title(ProjectSession.Resources.label.JobRequest_TextBlockBuildingDescription).Visible(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true).Width(170);
            columns.Bound(c => c.L5AltDescription).Title(ProjectSession.Resources.label.Building_TextBlockAltBuildingDesc).Visible(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? true : false).Width(170);

            columns.Bound(c => c.L4No).Title(ProjectSession.Resources.label.Street_TextBlockStreetCode).Width(150)
           .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterZone", "GridFilter", new { area = string.Empty }).Data("BindParametersForPMMaster").Type(HttpVerbs.Post))));

            columns.Bound(c => c.L4Description).Title(ProjectSession.Resources.label.JobRequest_TextBlockStreetDescription).Visible(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true).Width(150);
            columns.Bound(c => c.L4AltDescription).Title(ProjectSession.Resources.label.Street_TextBlockAltStreetDesc).Visible(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? true : false).Width(150);

            columns.Bound(c => c.L3No).Title(ProjectSession.Resources.label.JobRequest_TextBlockAreaCode).Width(150).Visible(ProjectSession.IsAreaFieldsVisible)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterArea", "GridFilter", new { area = string.Empty }).Data("BindParametersForPMMaster").Type(HttpVerbs.Post))));

            columns.Bound(c => c.L3Desc).Title(ProjectSession.Resources.label.JobRequest_TextBlockAreaDescription).Visible(ProjectSession.IsAreaFieldsVisible && ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true).Width(150);
            columns.Bound(c => c.L3AltDesc).Title(ProjectSession.Resources.label.JobRequest_TextBlockAltAreaDescription).Visible(ProjectSession.IsAreaFieldsVisible && ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? true : false).Width(150);

            columns.Bound(c => c.L2Code).Title(ProjectSession.Resources.label.JobRequest_TextBlockCityCode).Width(150)
             .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterSite", "GridFilter", new { area = string.Empty }).Data("BindParametersForPMMaster").Type(HttpVerbs.Post))));

            columns.Bound(c => c.L2name).Title(ProjectSession.Resources.label.City_TextBlockCityDesc).Visible(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true).Width(200);

            columns.Bound(c => c.L2Altname).Title(ProjectSession.Resources.label.City_TextBlockAltCityDesc).Visible(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? true : false).Width(200);

            columns.Bound(c => c.Active).HtmlAttributes(new { @class = "text-center" }).ClientTemplate("<span class='#= Active ? 'active-icon' : 'inactive-icon' #' title='#= Active ? active : notActive #'></span>").Title(ProjectSession.Resources.label.PM_TextBlockActive).Width(100)
            .Filterable(ftb => ftb.Multi(true).ItemTemplate("itemTemplateForActive").CheckAll(false).BindTo(new[]{
                        new { Active = true },
                        new { Active = false }
            }));

            columns.Bound(c => c.MeterMasterID).ClientTemplate("<center>" + (ProjectSession.PermissionAccess.Preventive_MeterSchedules_Editrecords ? "<a class='action' title='" + ProjectSession.Resources.label.Common_ButtonEdit + "'  style='cursor:pointer' onclick='OpenPMMeterMasterEditWindow(#: MeterMasterID#)'><i class='glyphicon glyphicon-pencil'></i></a>&nbsp;" : "")
                + "" + (ProjectSession.PermissionAccess.Preventive_MeterSchedules_Deleterecords ? "<a class='action delete-button'  href='javascript:void(0);'  class='delete-ic' data-id='#: MeterMasterID #' style='cursor:pointer'><i class='glyphicon glyphicon-trash' title='" + ProjectSession.Resources.label.Common_ButtonDelete + "' ></i></a>" : "") + "</center>")
                                            .Title("<center>" + ProjectSession.Resources.label.Common_ButtonAction + "</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Width(80).Filterable(false);
        }) 
        .Filterable()
        .Sortable(sortable => sortable.AllowUnsort(false))
        .Scrollable()
        .Excel(excel => excel.FileName("PMMeterMasterList.xlsx").Filterable(true).AllPages(true).ProxyURL(Url.Action("Excel_Export_Save", "GridExport", new { area = string.Empty })))
        .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
        .Events(events => events.DataBound("onDataBoundForPMMaster").ExcelExport("excelExport"))
        .DataSource(dataSource =>
                                dataSource.Ajax()
                                .PageSize(ProjectConfiguration.PageSize)
                                            .Model(model =>
                                            {
                                                model.Id(p => p.MeterMasterID);
                                                model.Field(p => p.MeterNo);
                                            })
                                .ServerOperation(true)
                                                        .Read(read => read.Action(Actions.GetPMMeterMasterListGrid, Controllers.Transaction, new { area = Areas.Transaction }).Data("BindParametersForPMMaster").Type(HttpVerbs.Post))
        )
    )

</div>

<!-- -------------search order------------- -->
<div id="search-order" class="modal fade" role="dialog"></div>


<script type="text/javascript">

    $(document).ready(function () {
        if ('@ViewBag.Message' != '' && '@ViewBag.MessageType' != '') {
            ShowMessage('@ViewBag.MessageType', '@ViewBag.Message', "#divMessage");
        }
    });

    function itemTemplateForActive(e) {
        if (e.field == "all") {
            return "<div><label><strong><input type='checkbox' /><span>#= all#</span></strong></label></div>";
        } else {
            return "<span><label><input type='checkbox' name='" + e.field + "' value='#=Active#'/><span>#= Active ? active : notActive #</span></label></span><br>"
        }
    }

    var kendoGridId = 'PMMeterMasterListGrid';
    var intPageID = '@SystemEnum.Pages.PMMeterMasterList.GetHashCode()';

    function BindParametersForPMMaster() {
        return {
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }
    function onDataBoundForPMMaster(arg) {
        gridProperPaging(this);
        confirmDeleteMsg(msgText, okText, cancelText, onConfirmCallback, confirmDirection);
    }

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };

    function onConfirmCallback(sender) {
        var id = $(this).data("id");

        $.ajax({
            url: '@Url.Action(Actions.DeletePMMeterMaster, Controllers.Transaction, new { area = Areas.Transaction })',
            type: "POST",
            data: addRequestVerificationToken({ meterMasterID: id }),
            dataType: "json",
            success: function (result) {
                ShowMessage(result[0], result[1], "#divMessage");
                ReBindKendoGrid("PMMeterMasterListGrid");
            },
            error: function (xhr, ajaxOptions, thrownError) {
                showErrorMessage();
            }
        });
    }

    $("#PMMeterMasterListGrid tbody").on("dblclick", "tr[role='row']", function (e) {
        var grid = $("#PMMeterMasterListGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        var MeterMasterID = model.MeterMasterID;
        window.location.href = '@Url.Action(Actions.PMMeterMasterEdit, Controllers.Transaction, new { area = Areas.Transaction })' + '?meterMasterID=' + model.MeterMasterID;
    });

    function OpenPMMeterMasterEditWindow(MeterMasterID) {
        window.location.href = '@Url.Action(Actions.PMMeterMasterEdit, Controllers.Transaction, new { area = Areas.Transaction })' + '?meterMasterID=' + MeterMasterID;
    }
</script>
