﻿@model CMMS.Model.PmMeter
@using CMMS.Infrastructure;
@using CMMS.Pages;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool Lang = ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true;
}

@Html.AntiForgeryToken()

<div class="head1">
    <h1>
        @ProjectSession.Resources.label.JobOrder_TextBlockPMMeter
    </h1>
</div>

<div>
    <div class="box edit-job-order">
        <div class="nav-tabs-horizontal">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#tb1" aria-controls="tb1">@ProjectSession.Resources.label.PM_RadTabItemMeter</a></li>
                @if (Model.MeterID > 0)
                {
                    <li role="presentation"><a data-toggle="tab" href="#tb2" aria-controls="tb2">@ProjectSession.Resources.message.JobOrder_RadTabItemAssignTo</a></li>
                }
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" onclick="ABC(this);"></a>
                    <ul class="dropdown-menu smp">
                        <li class="active"><a data-toggle="tab" href="#tb1" aria-controls="tb1">@ProjectSession.Resources.label.PM_RadTabItemMeter</a></li>
                        @if (Model.MeterID > 0)
                        {
                            <li role="presentation"><a data-toggle="tab" href="#tb2" aria-controls="tb2">@ProjectSession.Resources.message.JobOrder_RadTabItemAssignTo</a></li>
                        }
                    </ul>
                </li>

            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tb1">

                    @using (Html.BeginForm(Actions.ManagePMMeter, Controllers.Transaction, new { area = Areas.Transaction, meterMasterID = @Model.MeterMasterID, meterID = @Model.MeterID }, FormMethod.Post, new { enctype = "multipart/form-data", id = "frmPMMeter", @role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.MeterID)
                        @Html.HiddenFor(model => model.MeterMasterID)
                        @Html.HiddenFor(model => model.MasterMeterType)
                        <div class="information-form cus-form">
                            <div class="row">
                                <div class="col-md-6 col-lg-6">
                                    <div class="form-group ">
                                        <label class="form-label">@ProjectSession.Resources.label.PMMeter_TextBlockPMMeterNo<span class="cfont">*</span></label>
                                        <div>
                                            @Html.TextBoxFor(model => model.MeterNo, new { @MaxLength = 50, @class = "form-control", @id = "txtMeterNo", @placeholder = ProjectSession.Resources.label.Common_Enter + " " + ProjectSession.Resources.label.JobOrder_TextBlockPMMeter, @required = "required" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6">
                                    <div class="form-group ">
                                        <label class="form-label">@ProjectSession.Resources.label.PM_TextBlockMeterDesc<span class="cfont">*</span></label>
                                        <div>
                                            @Html.TextBoxFor(model => model.MeterDescription, new { @MaxLength = 50, @class = "form-control", @id = "txtMeterDescription", @placeholder = ProjectSession.Resources.label.Common_Enter + " " + ProjectSession.Resources.label.PM_TextBlockMeterDesc, @required = "required" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="information-form cus-form">
                            <h3 class="sub-title">
                                <span>@ProjectSession.Resources.label.PM_TextBlockPMBy</span>
                            </h3>
                            <div class="row">

                                <div class="col-md-6 col-lg-4">
                                    <div class="form-group ">
                                        <label class="form-label">@ProjectSession.Resources.label.PM_TextBlockMeterNo<span class="cfont">*</span></label>
                                        <div>
                                            @Html.TextBoxFor(model => model.MeterMasterNo, new { @MaxLength = 50, @class = "form-control", @id = "txtMeterMasterNo", @placeholder = ProjectSession.Resources.label.Common_Enter + " " + ProjectSession.Resources.label.PM_TextBlockMeterNo, @required = "required", @disabled = "@disabled" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4">
                                    <div class="form-group ">
                                        <label class="form-label">@ProjectSession.Resources.label.PM_TextBlockMeterDesc<span class="cfont">*</span></label>
                                        <div>
                                            @Html.TextBoxFor(model => model.MeterMasterDescription, new { @MaxLength = 1000, @class = "form-control", @id = "txtMeterMasterDescription", @placeholder = ProjectSession.Resources.label.Common_Enter + " " + ProjectSession.Resources.label.PM_TextBlockMeterDesc, @required = "required", @disabled = "@disabled" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4">
                                    <div class="form-group ">
                                        <label class="form-label">@ProjectSession.Resources.label.PM_TextBlockAltMeterDesc</label>
                                        <div>
                                            @Html.TextBoxFor(model => model.AltMeterMasterDescription, new { @MaxLength = 1000, @class = "form-control", @id = "txtAltMeterMasterDescription", @placeholder = ProjectSession.Resources.label.Common_Enter + " " + ProjectSession.Resources.label.PM_TextBlockAltMeterDesc, @required = "required", @disabled = "@disabled" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4">
                                    <div class="form-group ">
                                        <label class="form-label">@ProjectSession.Resources.label.PM_TextBlockMeterUnits<span class="cfont">*</span></label>
                                        <div>
                                            @Html.TextBoxFor(model => model.MeterMasterUnit, new { @MaxLength = 50, @class = "form-control", @id = "txtMeterMasterUnit", @placeholder = ProjectSession.Resources.label.Common_Enter + " " + ProjectSession.Resources.label.PM_TextBlockMeterUnits, @required = "required", @disabled = "@disabled" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4">
                                    <div class="form-group two-form-group">
                                        <label class="form-label">@ProjectSession.Resources.label.Asset_TextBlockAssetNO<span class="cfont">*</span></label>
                                        <div class="input-group pm-checklist">
                                            @Html.TextBoxFor(model => model.AssetNumber, new { @class = "form-control code-input txtassetdetailscommon", @readonly = "readonly", @id = "txtAssetNumber", @Placeholder = @ProjectSession.Resources.label.Asset_TextBlockAssetNO })
                                            @Html.TextBoxFor(model => model.AssetDescription, new { @class = "form-control", @style = "display:" + (Lang ? "" : "none;"), @readonly = "readonly", @id = "txtAssetDescription", @Placeholder = @ProjectSession.Resources.label.Asset_TextBlockAssetDescription })
                                            @Html.TextBoxFor(model => model.AssetAltDescription, new { @class = "form-control", @readonly = "readonly", @style = "display:" + (Lang ? "none;" : ""), @id = "txtAssetAltDescription", @Placeholder = @ProjectSession.Resources.label.Asset_TextBlockAltAssetDescription })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4">
                                    @if (ProjectSession.IsCMProjectFieldsVisible)
                                    {
                                        <div class="form-group" id="divProject">
                                            <label class="form-label">
                                                @ProjectSession.Resources.label.Preventive_TextBlockProjectNo
                                                @if (ProjectSession.IsCMProjectFieldMandatory)
                                                {
                                                    <span class="cfont">*</span>
                                                }
                                            </label>
                                            <div class="input-group pm-checklist">
                                                @Html.TextBoxFor(model => model.ProjectNumber, new { @class = "form-control code-input", @readonly = "readonly", @id = "txtProjectNumber", @Placeholder = @ProjectSession.Resources.label.Preventive_TextBlockProjectNo })
                                                <a href="#" class="checklis-btn" data-toggle="modal" data-backdrop="static" id="ProjectPopUpOpen" onclick="OpenCMProjectPopUp()">
                                                    <img src="../images/checklis-icon.png" alt="">
                                                </a>
                                                <a href="javascript:void(0)" class="close-btn" title="@ProjectSession.Resources.label.Common_ButtonClear" id="ProjectPopUpClose" onclick="ClearCMProjectData();">
                                                    <img src="../images/close.png" alt="">
                                                </a>
                                            </div>
                                        </div>
                                    }
                                </div>
                                <div class="form-group col-md-6 col-lg-4">
                                    <label class="form-label">@ProjectSession.Resources.label.JobRequest_TextBlockMaintenanceDivision<span class="cfont">*</span></label>
                                    <div class="@ProjectSession.CultureKendoClass">
                                        @(Html.Kendo().DropDownListFor(model => model.MaintDivisionID)
                                            .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                            .DataTextField("MaintDivisionCode")
                                            .ValueTemplate(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "#:MaintDivisionCode # -- #: MaintDivisionAltName # " : "#:MaintDivisionCode # -- #: MaintDivisionName #")
                                            .DataValueField("MaintDivisionID")
                                            .HtmlAttributes(new { style = "width: 100%", @required = "required", id = "ddlMaintDivision" })
                                            .Template("#= KendoDDLTemplate( data.MaintDivisionCode, data.MaintDivisionName,data.MaintDivisionAltName) #")
                                            .DataSource(source =>
                                            {
                                                source.Read(read =>
                                                {
                                                    read.Action(Actions.GetMaintDivByEmpIdOrProjectNumber, Controllers.Transaction, new { area = Areas.Transaction }).Data("filterMaintDiv"); ;
                                                });
                                            })
                                           .Value(Convert.ToString(Model.MaintDivisionID))

                                        )
                                    </div>
                                    <script>
                                        function filterMaintDiv() {
                                            var projectNo = '';

                                            if ($("#txtProjectNumber") != 'undefined' && $("#txtProjectNumber") != null && typeof $("#txtProjectNumber").val() != 'undefined') {
                                                projectNo = $("#txtProjectNumber").val();
                                            }

                                            return {
                                                projectNumber: projectNo
                                            };
                                        }
                                    </script>
                                </div>

                                <div class="col-md-6 col-lg-4">
                                    <div class="form-group">
                                        <label class="form-label">@ProjectSession.Resources.label.MaintenanceDept_TextBlockMaintDept<span class="cfont">*</span></label>
                                        <div class="@ProjectSession.CultureKendoClass">
                                            @(Html.Kendo().DropDownListFor(model => model.MaintDeptID)
                                                            .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                                            .DataTextField("MaintDeptCode")
                                                            .ValueTemplate(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "#:MaintDeptCode # -- #: MaintDeptAltdesc # " : "#:MaintDeptCode # -- #: MaintDeptdesc #")
                                                            .DataValueField("MaintDeptID")
                                                            .HtmlAttributes(new { style = "width: 100%", @required = "required", id = "ddlMaintDepartment" })
                            //.Events(m => m.DataBound("DataBoundDDLDepartment"))
                            .Template("#= KendoDDLTemplate( data.MaintDeptCode, data.MaintDeptdesc,data.MaintDeptAltdesc) #")
                                                            .DataSource(source =>
                                                            {
                                                                source.Read(read =>
                                                                {
                                                                    read.Action(Actions.GetMaintDeptByDivisionID, Controllers.Configurations, new { area = Areas.Configurations }).Data("filterDepartment");

                                                                })
                                                                .ServerFiltering(true);
                                                            })
                                                            .CascadeFrom("ddlMaintDivision")
                                                            .AutoBind(true)
                                                            .Value(Convert.ToString(Model.MaintDeptID))
                                            )
                                        </div>
                                        <script>
                                            function filterDepartment() {
                                                return {
                                                    maintDivisionId: $("#ddlMaintDivision").val()
                                                };
                                            }
                                        </script>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4">
                                    <div class="form-group">
                                        <label class="form-label">@ProjectSession.Resources.label.MaintenanceSubDept_TextBlockMaintSubDept<span class="cfont">*</span></label>
                                        <div class="@ProjectSession.CultureKendoClass">
                                            @(Html.Kendo().DropDownListFor(model => model.MaintSubDeptID)
                                                            .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                                            .DataTextField("MaintSubDeptCode")
                                                            .ValueTemplate(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "#:MaintSubDeptCode # -- #: MaintSubDeptAltDesc # " : "#:MaintSubDeptCode # -- #: MaintSubDeptDesc #")
                                                            .DataValueField("MaintSubDeptID")
                                                            .HtmlAttributes(new { style = "width: 100%", @required = "required", id = "ddlMaintSubDepartment" })
                            //.Events(m => m.DataBound("DataBoundDDLSubDepartment"))
                                                            .Template("#= KendoDDLTemplate( data.MaintSubDeptCode, data.MaintSubDeptDesc,data.MaintSubDeptAltDesc) #")
                                                            .DataSource(source =>
                                                            {
                                                                source.Read(read =>
                                                                {
                                                                    read.Action(Actions.GetMaintSubDeptByDeptID, Controllers.Management, new { area = Areas.Management }).Data("filterSubDepartment");

                                                                })
                                                                .ServerFiltering(true);
                                                            })
                                                            .CascadeFrom("ddlMaintDepartment")
                                                            .AutoBind(true)
                                                            .Value(Convert.ToString(Model.MaintSubDeptID))
                                            )
                                        </div>
                                        <script>
                                            function filterSubDepartment() {
                                                return {
                                                    maintDeptid: $("#ddlMaintDepartment").val()
                                                };
                                            }
                                        </script>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4">
                                    <div class="form-group">
                                        <label class="form-label">@ProjectSession.Resources.label.JobTrade_TextBlockJobTrade<span class="cfont">*</span></label>
                                        <div class="@ProjectSession.CultureKendoClass">
                                            @(Html.Kendo().DropDownListFor(model => model.Worktradeid)
                                                    .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                                    .DataTextField("WorkTrade")
                                                    .ValueTemplate(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "#:AltWorkTrade # " : "#:WorkTrade #")
                                                    .DataValueField("WorkTradeID")
                                                    .HtmlAttributes(new { style = "width: 100%", id = "ddlJobTrade", @required = "required", })
                                                    .Template(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "#:AltWorkTrade # " : "#:WorkTrade #")
                                                    .DataSource(source =>
                                                    {
                                                        source.Read(read =>
                                                        {
                                                            read.Action(Actions.GetJobTrades, Controllers.Configurations, new { area = Areas.Configurations });
                                                        });
                                                    })
                                                          .Value(Convert.ToString(Model.Worktradeid))
                                            )
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4">
                                </div>
                                <div class="col-md-6 col-lg-4">
                                </div>



                            </div>
                        </div>

                        <div class="information-form cus-form">
                            <h3 class="sub-title">
                                <span>@ProjectSession.Resources.label.PM_TextBlockPMGenerationType</span>
                            </h3>
                            <div class="row">
                                <div class="col-md-6 col-lg-4">
                                    <div class="form-group">
                                        <div class="">
                                            @Html.CheckBoxFor(model => model.boolPMActive, new { id = "chkPMActive" })
                                            @ProjectSession.Resources.label.PM_CheckBoxPMStatus
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4">
                                    <div class="form-group" id="divPMGenForFixedType">

                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(m => m.PMType, "1", new { @id = "rdbActual" }) @Html.Label(ProjectSession.Resources.label.PM_RadioButtonActual, new { @class = "control-label" })
                                        </label>
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(m => m.PMType, "2", new { @id = "rdbScheduled" }) @Html.Label(ProjectSession.Resources.label.PM_RadioButtonScheduled, new { @class = "control-label" })
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>


                                    if ((Model.MasterMeterType).ToLower() == "incremental")
                                    {
                        <div class="information-form cus-form">
                            <h3 class="sub-title">
                                <span>@ProjectSession.Resources.label.PMJOGeneration_TextBlockIncremental</span>
                            </h3>
                            <div class="row">
                                <div class="col-md-6 col-lg-4">
                                    <div class="form-group ">
                                        <label class="form-label">@ProjectSession.Resources.label.PM_TextBlockFrequency<span class="cfont">*</span></label>
                                        <div>
                                            @Html.TextBoxFor(model => model.IncFreq, new { @MaxLength = 8, @class = "form-control decimalnumber", @id = "txtIncFreq", @placeholder = ProjectSession.Resources.label.Common_Enter + " " + ProjectSession.Resources.label.PM_TextBlockFrequency, @required = "required" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4">

                                    <div class="form-group ">
                                        <label class="form-label">@ProjectSession.Resources.label.PMReading_TextBlockLastEnteredReading<span class="cfont">*</span></label>
                                        <div>
                                            @Html.TextBoxFor(model => model.LastReadingMaster, new { @class = "form-control", @id = "txtLastPMreading", @placeholder = ProjectSession.Resources.label.Common_Enter + " " + ProjectSession.Resources.label.PMReading_TextBlockLastEnteredReading, @disabled = "@disabled" })
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-6 col-lg-4">
                                    <div class="form-group ">
                                        <label class="form-label">@ProjectSession.Resources.label.PM_TextBlockPMDueAt<span class="cfont">*</span></label>
                                        <div>
                                            @Html.TextBoxFor(model => model.IncPMDue, new { @MaxLength = 8, @class = "form-control decimalnumber", @id = "txtIncPMDue", @placeholder = ProjectSession.Resources.label.Common_Enter + " " + ProjectSession.Resources.label.PM_TextBlockPMDueAt, @required = "required" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 col-lg-4">
                                    <div class="form-group two-form-group">
                                        <label class="form-label">@ProjectSession.Resources.label.PM_TextBlockCheckListNumber<span class="cfont">*</span></label>
                                        <div class="input-group pm-checklist">

                                            @Html.HiddenFor(model => model.PMIncTaskID, new { @id = "hdnChecklistID" })
                                            @Html.TextBoxFor(model => model.ChecklistNo, new { @class = "form-control code-input ChecklistNo RemoveRedClass", @readonly = "readonly", @id = "txtChecklistNo", @Placeholder = @ProjectSession.Resources.label.PM_TextBlockCheckListNumber, @required = "required" })
                                            @*@Html.TextBoxFor(model => model.CheckListName, new { @class = "form-control ChecklistNo RemoveRedClass", @style = "display:" + (Lang ? "" : "none;"), @readonly = "readonly", @id = "txtCheckListName", @Placeholder = @ProjectSession.Resources.label.PMChecklist_TextBlockPMChecklistDesc, @required = "required" })
                                            @Html.TextBoxFor(model => model.AltCheckListName, new { @class = "form-control ChecklistNo RemoveRedClass", @readonly = "readonly", @style = "display:" + (Lang ? "none;" : ""), @id = "txtAltCheckListName", @Placeholder = @ProjectSession.Resources.label.PMChecklist_TextBlockArabicPMChecklistDesc })*@
                                            @(Html.Kendo().AutoCompleteFor(model => model.CheckListName)
                                    .DataTextField(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "AltCheckListName" : "CheckListName")
                                    .HtmlAttributes(new { @class = "form-control RemoveRedClass", @id = "txtCheckListName" })
                                    .Filter("contains")
                                    .Template("#= KendoDDLTemplate( data.ChecklistNo, data.CheckListName, data.AltCheckListName) #")
                                    .MinLength(3)
                                    .Placeholder(ProjectSession.Resources.label.PMChecklist_TextBlockPMChecklistDesc)
                                    .Events(m => m.Select("onCheckListAutoSelect"))
                                    .DataSource(source =>
                                     {
                                         source.Read(read =>
                                         {
                                             read.Action(Actions.GetPMChecklistAutoDDL, Controllers.AutoComplete, new { area = Areas.Configurations }).Data("onCheckListAdditionalData");
                                         })
                                     .ServerFiltering(true);
                                     })
                                    .Value(Convert.ToString(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? Model.AltCheckListName : Model.CheckListName))
                                            )
                                            <a href="#" class="checklis-btn" data-toggle="modal" onclick="OpenCheckListPopUp('incremental')" id="CheckListPopUpOpen">
                                                <img src="../images/checklis-icon.png" alt="">
                                            </a>
                                            <a href="javascript:void(0);" class="close-btn" onclick="ClearCheckListData();" id="CheckListPopUpClose">
                                                <img src="../images/close.png" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4">
                                </div>
                                <div class="col-md-6 col-lg-4">
                                </div>
                            </div>
                        </div>
                                    }
                                    if ((Model.MasterMeterType).ToLower() == "threshold")
                                    {
                        <div class="information-form cus-form">
                            <h3 class="sub-title">
                                <span>@ProjectSession.Resources.label.PMMeter_TextBlockPMMeterThreshold</span>
                            </h3>
                            <div class="row">
                                <div class="col-md-6 col-lg-4">

                                    <div class="form-group ">
                                        <label class="form-label">@ProjectSession.Resources.label.PM_TextBlockLowerLimit<span class="cfont">*</span></label>
                                        <div>
                                            @Html.TextBoxFor(model => model.Lowerlimit, new { @MaxLength = 8, @class = "form-control decimalnumber", @id = "txtLowerlimit", @placeholder = ProjectSession.Resources.label.Common_Enter + " " + ProjectSession.Resources.label.PM_TextBlockLowerLimit, @required = "required" })
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-6 col-lg-4">
                                    <div class="form-group two-form-group">
                                        <label class="form-label">@ProjectSession.Resources.label.PM_TextBlockCheckListNumber<span class="cfont">*</span></label>
                                        <div class="input-group pm-checklist">

                                            @Html.HiddenFor(model => model.PMLowTaskID, new { @id = "hdnChecklistID1" })
                                            @Html.TextBoxFor(model => model.ChecklistNo1, new { @class = "form-control code-input ChecklistNo1 RemoveRedClass", @readonly = "readonly", @id = "txtChecklistNo1", @Placeholder = @ProjectSession.Resources.label.PM_TextBlockCheckListNumber, @required = "required" })
                                            @*@Html.TextBoxFor(model => model.CheckListName1, new { @class = "form-control ChecklistNo1 RemoveRedClass", @style = "display:" + (Lang ? "" : "none;"), @readonly = "readonly", @id = "txtCheckListName1", @Placeholder = @ProjectSession.Resources.label.PMChecklist_TextBlockPMChecklistDesc, @required = "required" })
                                            @Html.TextBoxFor(model => model.AltCheckListName1, new { @class = "form-control ChecklistNo1 RemoveRedClass", @readonly = "readonly", @style = "display:" + (Lang ? "none;" : ""), @id = "txtAltCheckListName1", @Placeholder = @ProjectSession.Resources.label.PMChecklist_TextBlockArabicPMChecklistDesc })*@

                                            @(Html.Kendo().AutoCompleteFor(model => model.CheckListName1)
                                    .DataTextField(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "AltCheckListName" : "CheckListName")
                                   .HtmlAttributes(new { @class = "form-control RemoveRedClass", @id = "txtCheckListName1" })
                                    .Filter("contains")
                                    .Template("#= KendoDDLTemplate( data.ChecklistNo, data.CheckListName, data.AltCheckListName) #")
                                    .MinLength(3)
                                    .Placeholder(ProjectSession.Resources.label.PMChecklist_TextBlockPMChecklistDesc)
                                    .Events(m => m.Select("onCheckList1AutoSelect"))
                                    .DataSource(source =>
                                     {
                                         source.Read(read =>
                                         {
                                             read.Action(Actions.GetPMChecklistAutoDDL, Controllers.AutoComplete, new { area = Areas.Configurations }).Data("onCheckList1AdditionalData");
                                         })
                                     .ServerFiltering(true);
                                     })
                                   .Value(Convert.ToString(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? Model.AltCheckListName1 : Model.CheckListName1))
                                            )
                                            <a href="#" class="checklis-btn" data-toggle="modal" onclick="OpenCheckListPopUp('lowerlimit')" id="CheckListPopUpOpen1">
                                                <img src="../images/checklis-icon.png" alt="">
                                            </a>
                                            <a href="javascript:void(0);" class="close-btn" onclick="ClearCheckListData1();" id="CheckListPopUpClose">
                                                <img src="../images/close.png" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-lg-4">

                                    <div class="form-group ">
                                        <label class="form-label">@ProjectSession.Resources.label.PM_TextBlockUpperLimit<span class="cfont">*</span></label>
                                        <div>
                                            @Html.TextBoxFor(model => model.UpperLimit, new { @MaxLength = 8, @class = "form-control decimalnumber", @id = "txtUpperLimit", @placeholder = ProjectSession.Resources.label.Common_Enter + " " + ProjectSession.Resources.label.PM_TextBlockUpperLimit, @required = "required" })
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-6 col-lg-4">
                                    <div class="form-group two-form-group">
                                        <label class="form-label">@ProjectSession.Resources.label.PM_TextBlockCheckListNumber<span class="cfont">*</span></label>
                                        <div class="input-group pm-checklist">

                                            @Html.HiddenFor(model => model.PMUppTaskID, new { @id = "hdnChecklistID2" })
                                            @Html.TextBoxFor(model => model.ChecklistNo2, new { @class = "form-control code-input ChecklistNo2 RemoveRedClass", @readonly = "readonly", @id = "txtChecklistNo2", @Placeholder = @ProjectSession.Resources.label.PM_TextBlockCheckListNumber, @required = "required" })
                                            @*@Html.TextBoxFor(model => model.CheckListName2, new { @class = "form-control ChecklistNo2 RemoveRedClass", @style = "display:" + (Lang ? "" : "none;"), @readonly = "readonly", @id = "txtCheckListName2", @Placeholder = @ProjectSession.Resources.label.PMChecklist_TextBlockPMChecklistDesc, @required = "required" })
                                            @Html.TextBoxFor(model => model.AltCheckListName2, new { @class = "form-control ChecklistNo2 RemoveRedClass", @readonly = "readonly", @style = "display:" + (Lang ? "none;" : ""), @id = "txtAltCheckListName2", @Placeholder = @ProjectSession.Resources.label.PMChecklist_TextBlockArabicPMChecklistDesc })*@

                                            @(Html.Kendo().AutoCompleteFor(model => model.CheckListName2)
                                    .DataTextField(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "AltCheckListName" : "CheckListName")
                                .HtmlAttributes(new { @class = "form-control RemoveRedClass", @id = "txtCheckListName2" })
                                    .Filter("contains")
                                    .Template("#= KendoDDLTemplate( data.ChecklistNo, data.CheckListName, data.AltCheckListName) #")
                                    .MinLength(3)
                                    .Placeholder(ProjectSession.Resources.label.PMChecklist_TextBlockPMChecklistDesc)
                                    .Events(m => m.Select("onCheckList2AutoSelect"))
                                    .DataSource(source =>
                                     {
                                         source.Read(read =>
                                         {
                                             read.Action(Actions.GetPMChecklistAutoDDL, Controllers.AutoComplete, new { area = Areas.Configurations }).Data("onCheckList2AdditionalData");
                                         })
                                     .ServerFiltering(true);
                                     })
                                .Value(Convert.ToString(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? Model.AltCheckListName2 : Model.CheckListName2))
                                            )
                                            <a href="#" class="checklis-btn" data-toggle="modal" onclick="OpenCheckListPopUp('upperlimit')" id="CheckListPopUpOpen2">
                                                <img src="../images/checklis-icon.png" alt="">
                                            </a>
                                            <a href="javascript:void(0);" class="close-btn" onclick="ClearCheckListData2();" id="CheckListPopUpClose">
                                                <img src="../images/close.png" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4">
                                </div>
                            </div>
                        </div>
                                    }


                        <div class="box-footer">
                            @if ((Model.MeterID == 0 && ProjectSession.PermissionAccess.Preventive_MeterSchedules_Createnewrecords) || (Model.MeterID > 0 && ProjectSession.PermissionAccess.Preventive_MeterSchedules_Editrecords))
                            {
                                <button class="btn btn-primary" id="btnSave" name="btnSave" type="submit"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
                            }
                            <button class="btn btn-default" type="button" onclick="RedirectToPage()"><span>@ProjectSession.Resources.label.Common_ButtonCancel</span></button>
                        </div>
                    }

                </div>
                <div class="tab-pane" id="tb2">
                    <div class="information-form">
                        <div id="divAssignTo">
                        </div>
                    </div>
                    <div class="box-footer">
                        <button class="btn btn-default" type="button" onclick="RedirectToPage();"><span>@ProjectSession.Resources.label.Common_ButtonCancel</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@if (ProjectSession.IsCMProjectFieldsVisible)
{
    <div id="cmProjectGridModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" title="@ProjectSession.Resources.label.Common_ButtonClose"></button>
                    <h4 class="modal-title">@ProjectSession.Resources.label.Preventive_TextBlockProjectListPopup</h4>
                </div>
                <div class="modal-body">
                    <div id="Highlights" class="tab-pane active" role="tabpanel">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <div id="employeeData" class="@ProjectSession.CultureKendoClass">
                                        @(Html.Kendo().Grid<CMMS.Model.CmApprovedProjectRequest>()
                                            .Name("cmProjectGrid")
                                            .HtmlAttributes(new { @class = "kl-grid" })
                                            .Columns(columns =>
                                            {
                                                columns.Bound(c => c.ProjectNumber).Title(ProjectSession.Resources.label.Preventive_TextBlockProjectNo).Width(150);

                                                columns.Bound(c => c.ProjectName).Title(ProjectSession.Resources.label.Preventive_TextBlockProjectName).Width(170);

                                                columns.Bound(c => c.AltProjectName).Title(ProjectSession.Resources.label.Preventive_TextBlockAltProjectName).Width(170);

                                                columns.Bound(c => c.Classification).Title(ProjectSession.Resources.label.Preventive_TextBlockClassfication).Width(150);

                                                columns.Bound(c => c.StartDate).ClientTemplate("#= DateTemplate(data.StartDate) #").Title(ProjectSession.Resources.label.JobOrder_TextBlockStartDate).Width(120);

                                                columns.Bound(c => c.ReqDate).ClientTemplate("#= DateTemplate(data.ReqDate) #").Title(ProjectSession.Resources.label.Preventive_TextBlockReqDate).Width(170);

                                                columns.Bound(c => c.RequestedAmount).Title(ProjectSession.Resources.label.Preventive_TextBlockRequestedAmount).Width(170);

                                                columns.Bound(c => c.ApprovalDate).ClientTemplate("#= DateTemplate(data.ApprovalDate) #").Title(ProjectSession.Resources.label.Preventive_TextBlockApprovalDate).Width(150);

                                                columns.Bound(c => c.ApprovedAmount).Title(ProjectSession.Resources.label.Preventive_TextBlockApprovedAmount).Width(170);

                                                columns.Bound(c => c.ExpiryDate).ClientTemplate("#= DateTemplate(data.ExpiryDate) #").Title(ProjectSession.Resources.label.Preventive_TextBlockExpiryDate).Width(120);
                                            })
                                            .Filterable()
                                            .Sortable(sortable => sortable.AllowUnsort(false))
                                            .Scrollable()
                                                    .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
                                            .Events(events => events.DataBound("onDataBoundCmProject"))
        //  .Excel(excel => excel.FileName(ProjectSession.Resources.label.Preventive_TextBlockProjectListPopup + ".xlsx").Filterable(true).AllPages(true))
                                            .DataSource(dataSource => dataSource.Ajax()
                                            .PageSize(ProjectConfiguration.PageSize)
                                             .Model(model =>
                                             {
                                                 model.Id(p => p.ProjectNumber);
                                                 model.Field(p => p.ProjectName);
                                             })
                                            .ServerOperation(true)
                                                            .Read(read => read.Action(Actions.GetApprovedProjectListPage, Controllers.Transaction, new { area = Areas.Transaction }).Data("BindParametersCmProjects").Type(HttpVerbs.Post))
                                            )
                                           .Resizable(resize => resize.Columns(true))
                                        )

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<!-- PM Checklist Grid Modal-->
<div id="PMChecklistGridModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" title="@ProjectSession.Resources.label.Common_ButtonClose"></button>
                <h4 class="modal-title">@ProjectSession.Resources.label.PMChecklist_TextBlockPMChecklistList</h4>
            </div>
            <div class="modal-body">
                <div class="tab-pane active" role="tabpanel">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div id="PMChecklistData" class="@ProjectSession.CultureKendoClass">
                                    @(Html.Kendo().Grid<CMMS.Model.PMCheckList>()
                                            .Name("PMChecklistGrid")
                                    .Columns(columns =>
                                    {
                                        columns.Bound(c => c.ChecklistNo).Title(ProjectSession.Resources.label.PMChecklist_TextBlockPMChecklistNo).Width(180);

                                        columns.Bound(c => c.CheckListName).Title(ProjectSession.Resources.label.PMChecklist_TextBlockPMChecklistDesc).Width(200);

                                        columns.Bound(c => c.AltCheckListName).Title(ProjectSession.Resources.label.PMChecklist_TextBlockArabicPMChecklistDesc).Width(200);

                                        columns.Bound(c => c.EstimatedLaborHours).Title(ProjectSession.Resources.label.PMChecklist_TextBlockEstLabourHrs).Width(180);

                                        columns.Bound(c => c.L2Code).Title(ProjectSession.Resources.label.JobRequest_TextBlockCityCode).Width(180)
                                        .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterSite", "GridFilter", new { area = string.Empty }).Data("BindParametersCheckList").Type(HttpVerbs.Post))));

                                        columns.Bound(c => c.MaintDivisionCode).Title(ProjectSession.Resources.label.MaintDivision_TextBlockMaintenanceDivision).Width(180)
                                        .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterMaintenanceDivision", "GridFilter", new { area = string.Empty }).Data("BindParametersCheckList").Type(HttpVerbs.Post))));

                                        columns.Bound(c => c.MaintDeptCode).Title(ProjectSession.Resources.label.MaintenanceDept_TextBlockMaintDeptCode).Width(180)
                                        .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterMaintenanceDepartment", "GridFilter", new { area = string.Empty }).Data("BindParametersCheckList").Type(HttpVerbs.Post))));

                                        columns.Bound(c => c.MaintSubDeptCode).Title(ProjectSession.Resources.label.MaintenanceSubDept_TextBlockMaintSubDeptCode).Width(180)
                                        .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterMaintenanceSubDepartment", "GridFilter", new { area = string.Empty }).Data("BindParametersCheckList").Type(HttpVerbs.Post))));

                                    })
                                    .Filterable()
                                    .Sortable(sortable => sortable.AllowUnsort(false))
                                    .Scrollable()
                                            .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
                                    .Events(events => events.DataBound("onDataBoundCheckList"))
                                    .DataSource(dataSource => dataSource.Ajax()
                                    .PageSize(ProjectConfiguration.PageSize)
                                     .Model(model =>
                                     {
                                         model.Id(p => p.ChecklistID);
                                         model.Field(p => p.ChecklistNo);
                                     })
                                    .ServerOperation(true)
                                    .Read(read => read.Action(Actions.GetPMChecklist, Controllers.Transaction, new { area = Areas.Transaction }).Data("BindParametersCheckList").Type(HttpVerbs.Post))
                                    )
                                    )

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var intPageID = '@SystemEnum.Pages.PMMeterMasterList.GetHashCode()';
    var mastermetertype = '@Model.MasterMeterType';
    var checklisttype = "";

    if (mastermetertype.toLowerCase() == "incremental") {
        validator = $('#frmPMMeter').validate({
            rules: {
                MeterNo: { required: true },
                MeterDescription: { required: true },
                IncFreq: { required: true, range: [0, 10000000] },
                IncPMDue: { required: true, range: [0, 10000000] },
                //ChecklistNo: { ChecklistNo: true },
            },
            messages: {
                MeterNo: { required: '' },
                MeterDescription: { required: '' },
                IncFreq: { required: '' },
                IncPMDue: { required: '' },
                //ChecklistNo: { required: '' },
            }
        });
    }

    if (mastermetertype.toLowerCase() == "threshold") {
        validator = $('#frmPMMeter').validate({
            rules: {
                MeterNo: { required: true },
                MeterDescription: { required: true },
                UpperLimit: { required: true, range: [0, 100000000] },
                Lowerlimit: { required: true, range: [0, 100000000] },
                //ChecklistNo1: { ChecklistNo1: true },
                //ChecklistNo2: { ChecklistNo2: true },
            },
            messages: {
                MeterNo: { required: '' },
                MeterDescription: { required: '' },
                UpperLimit: { required: '' },
                Lowerlimit: { required: '' },
                //ChecklistNo1: { required: '' },
                //ChecklistNo2: { required: '' },

            }
        });
    }



    $(document).ready(function () {

        if ('@ViewBag.Message' != '' && '@ViewBag.MessageType' != '') {
            ShowMessage('@ViewBag.MessageType', '@ViewBag.Message', "#divMessage");
        }

        var meterID = '@Model.MeterID';
        if (meterID > 0) {
            $("#txtMeterNo").attr('disabled', 'disabled');
            $("#rdbActual").attr('disabled', 'disabled');
            $("#rdbScheduled").attr('disabled', 'disabled');
        }
        else if (meterMasterID = '0') {
            $("#rdbActual").attr('checked', true);
            $("#chkPMActive").attr('checked', true);
        }

        if ('@Model.MeterID' > 0) {

            var url = '@Url.Action(Actions._PMMeterAssignTo, Controllers.Transaction, new { Area = Areas.Transaction, meterID = Model.MeterID })';
            $("#divAssignTo").load(url);
        }
    });

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };

    function OpenCMProjectPopUp() {
        $("#cmProjectGridModal").modal("show");
    }

    function onDataBoundCmProject(arg) {
        gridProperPaging(this);
    }

    function BindParametersCmProjects() {
        return {
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val(),
            cityID: '@Model.L2ID' == "" ? 0 : '@Model.L2ID'
        };
    }

    function ClearCMProjectData() {
        $("#txtProjectNumber").val("");
        setTimeout(function () { $("#ddlMaintDivision").data("kendoDropDownList").dataSource.read(); }, 500);
    }

    $("#cmProjectGrid tbody").on("dblclick", "tr[role='row']", function (e) {
        var grid = $("#cmProjectGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        $("#cmProjectGridModal").modal("hide");

        //CmProject
        $('#txtProjectNumber').val(model.ProjectNumber);
        setTimeout(function () { $("#ddlMaintDivision").data("kendoDropDownList").dataSource.read(); }, 500);
    });

    //CheckList pop up
    function OpenCheckListPopUp(type) {
        checklisttype = type;
        $(".RemoveRedClass").removeClass("error");
        $("#PMChecklistGridModal").modal("show");
    }

    function onDataBoundCheckList(arg) {
        gridProperPaging(this);
    }

    function onCheckListAdditionalData() {

        var l2ID = '@Model.L2ID' == "" ? 0 : '@Model.L2ID';
        return {
            strWhere: " AND ( pmchecklist.L2ID = " + l2ID + " OR pmchecklist.L2ID IS NULL )",
            text: $("#txtCheckListName").val(),
        };
    }

    function onCheckList1AdditionalData() {

        var l2ID = '@Model.L2ID' == "" ? 0 : '@Model.L2ID';
        return {
            strWhere: " AND ( pmchecklist.L2ID = " + l2ID + " OR pmchecklist.L2ID IS NULL )",
            text: $("#txtCheckListName1").val(),
        };
    }

    function onCheckList2AdditionalData() {

        var l2ID = '@Model.L2ID' == "" ? 0 : '@Model.L2ID';
        return {
            strWhere: " AND ( pmchecklist.L2ID = " + l2ID + " OR pmchecklist.L2ID IS NULL )",
            text: $("#txtCheckListName2").val(),
        };
    }

    function BindParametersCheckList() {

        var l2ID = '@Model.L2ID' == "" ? 0 : '@Model.L2ID';
        return {
            strWhere: " AND ( pmchecklist.L2ID = " + l2ID + " OR pmchecklist.L2ID IS NULL )",
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function ClearCheckListData() {
        //Checklist for incremental
        $(".RemoveRedClass").removeClass("error");
        $("#hdnChecklistID").val("");
        $("#txtChecklistNo").val("");
        $("#txtCheckListName").val("");
        $("#txtAltCheckListName").val("");
        checklisttype = "";
    }
    function ClearCheckListData1()
        //Checklist for threshold upperlimit
    {
        $(".RemoveRedClass").removeClass("error");
        $("#hdnChecklistID1").val("");
        $("#txtChecklistNo1").val("");
        $("#txtCheckListName1").val("");
        $("#txtAltCheckListName1").val("");
        checklisttype = "";
    }
    function ClearCheckListData2()
        //Checklist for threshold lowerlimit
    {
        $(".RemoveRedClass").removeClass("error");
        $("#hdnChecklistID2").val("");
        $("#txtChecklistNo2").val("");
        $("#txtCheckListName2").val("");
        $("#txtAltCheckListName2").val("");
        checklisttype = "";
    }



    //for auto checklist incremental type
    function onCheckListAutoSelect(e) {
        var model = this.dataItem(e.item.index());
        $("#txtChecklistNo").val(model.ChecklistNo);
        //$("#txtCheckListName").val(model.CheckListName);
        //$("#txtAltCheckListName").val(model.AltCheckListName);
        $("#hdnChecklistID").val(model.ChecklistID);
    }

    //for auto checklist threshold lowerlimit type
    function onCheckList1AutoSelect(e) {
        var model = this.dataItem(e.item.index());
        $("#txtChecklistNo1").val(model.ChecklistNo);
        //$("#txtCheckListName1").val(model.CheckListName);
        //$("#txtAltCheckListName1").val(model.AltCheckListName);
        $("#hdnChecklistID1").val(model.ChecklistID);
    }

    //for auto checklist threshold upperlimit type
    function onCheckList2AutoSelect(e) {
        var model = this.dataItem(e.item.index());
        $("#txtChecklistNo2").val(model.ChecklistNo);
        //$("#txtCheckListName2").val(model.CheckListName);
        //$("#txtAltCheckListName2").val(model.AltCheckListName);
        $("#hdnChecklistID2").val(model.ChecklistID);
    }

    $("#PMChecklistGrid tbody").on("dblclick", "tr[role='row']", function (e) {

        var grid = $("#PMChecklistGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        $("#PMChecklistGridModal").modal("hide");

        //Checklist for incremental
        if (checklisttype == 'incremental') {
            $("#txtChecklistNo").val(model.ChecklistNo);
            if ('@Lang' == 'True') {
                $("#txtCheckListName").val(model.CheckListName);
            }
            else {
                $("#txtCheckListName").val(model.AltCheckListName);
            }
            $("#hdnChecklistID").val(model.ChecklistID);
        }

        //Checklist for threshold lowerlimit
        if (checklisttype == 'lowerlimit') {
            $("#txtChecklistNo1").val(model.ChecklistNo);
            if ('@Lang' == 'True') {
                $("#txtCheckListName1").val(model.CheckListName);
            }
            else {
                $("#txtCheckListName1").val(model.AltCheckListName);
            }
            $("#hdnChecklistID1").val(model.ChecklistID);
        }

        //Checklist for threshold upperlimit
        if (checklisttype == 'upperlimit') {
            $("#txtChecklistNo2").val(model.ChecklistNo);

            if ('@Lang' == 'True') {
                $("#txtCheckListName2").val(model.CheckListName);
            }
            else {
                $("#txtCheckListName2").val(model.AltCheckListName);
            }
            $("#hdnChecklistID2").val(model.ChecklistID);
        }

    });

    $('#frmPMMeter').on('submit', function (e) {

        if ($("#frmPMMeter").valid()) {
            if (!e.isDefaultPrevented()) {
                if (mastermetertype.toLowerCase() == "incremental") {
                    if ($("#txtChecklistNo").val() == "") {
                        $(".ChecklistNo").addClass("error");
                        e.preventDefault();
                    }
                }
                else if (mastermetertype.toLowerCase() == "threshold") {
                    if ($("#txtChecklistNo1").val() == "") {
                        $(".ChecklistNo1").addClass("error");
                        e.preventDefault();
                    }
                    if ($("#txtChecklistNo2").val() == "") {
                        $(".ChecklistNo2").addClass("error");
                        e.preventDefault();
                    }
                }

                if (!reValidateDropDowns($(this))) {
                    e.preventDefault();
                }
                else {
                    if (parseFloat($('#txtIncFreq').val()) <= 0) {
                        ShowMessage('@SystemEnum.MessageType.danger.ToString()', '@ProjectSession.Resources.message.PM_MsgFrequency0orMore', "#divMessage");
                        e.preventDefault();
                    }
                    else if (parseFloat($('#txtIncPMDue').val()) < parseFloat($('#txtLastPMreading').val())) {
                        ShowMessage('@SystemEnum.MessageType.danger.ToString()', '@ProjectSession.Resources.message.PM_MsgPMDueGreaterReading', "#divMessage");
                            e.preventDefault();
                        }

                    if (parseFloat($('#txtUpperLimit').val()) <= parseFloat($('#txtLowerlimit').val())) {
                        ShowMessage('@SystemEnum.MessageType.danger.ToString()', '@ProjectSession.Resources.message.PM_MsgLowerLesserUpper', "#divMessage");
                        e.preventDefault();
                    }
                }
            }
            else { e.preventDefault(); }
        }
        else {
            e.preventDefault();
        }
    });


    function RedirectToPage() {
        window.location.href = '@Url.Action(Actions.PMMeterMasterEdit, Controllers.Transaction, new { area = Areas.Transaction })' + '?meterMasterID=' + '@Model.MeterMasterID';
    }

    $('#txtIncFreq').focusout(function () {
        var total = parseFloat($('#txtIncFreq').val() == "" ? 0 : $('#txtIncFreq').val()) + parseFloat($('#txtLastPMreading').val() == "" ? 0 : $('#txtLastPMreading').val());
        $('#txtIncPMDue').val(total);
    });
</script>

@*Start of Partial view : Assign To Tab*@
<script>
    function onDataBoundPMMeterAssignToList(arg) {
        gridProperPaging(this);
    }
    function BindParametersPMMeterAssignList() {
        return {
            meterID: $('#hdnMeterIDAssignTo').val()
        };
    }

    function onDataBoundPMMeterAssignToList(arg) {
        confirmDeleteMsg(msgText, okText, cancelText, onConfirmCallbackPMMeterAssinTO, confirmDirection);
        gridProperPaging(this);
    }

    function OpenAddPMAssignToWindow() {
        $("#AddPMMeterAssignToModal").modal("show");
    }

    //Start Employee PopUp
    function OpenEmployeePopUp() {
        $("#employeeGridModal").modal("show");
    }

    function onDataBoundEmployee(arg) {
        gridProperPaging(this);
    }

    function onEmployeeAutoSelect(e) {
        var model = this.dataItem(e.item.index());
        //Employee
        $("#txtEmployeeNO").val(model.EmployeeNO);
        //$("#txtName").val(model.Name);
        //$("#txtAltName").val(model.AltName);
        $("#hdnEmployeeid").val(model.EmployeeID);
    }


    function onEmployeeAdditionalData() {
        return {
            cityID: $('#L2ID').val(),
            type: 1,
            text: $("#txtName").val(),
        };
    }

    function BindParametersEmployee() {
        return {
            cityID: $('#L2ID').val(),
            type: 1,
            strWhere: "",
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }
    //End Employee PopUp

    //Start Emplyee Group Popup
    function OpenAssignToMaintGroups() {
        $("#MaintGroupModal").modal("show");
    }

    function onDataAssignToMaintGroup(arg) {
        gridProperPaging(this);
    }

    function onMaintenanceAutoSelect(e) {
        var model = this.dataItem(e.item.index());
        $('#hdnAssignToMaintGroupID').val(model.GroupID);
        $("#txtAssignTOMaintgroupCode").val(model.GroupCode);
        //$("#txtAssignTOMaintgroupDesc").val(model.GroupDesc);
        //$("#txtAssignTOMaintgroupAltDesc").val(model.GroupAltDesc);
    }

    function onMaintenanceAdditionalData() {
        return {
            text: $("#txtAssignTOMaintgroupDesc").val(),
        };
    }

    function BindParametersAssignToMaintGroups() {
        return {
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }
    //END Emplyee Group Popup

</script>
