﻿@model CMMS.Model.PMMeterMaster
@using CMMS.Infrastructure;
@using CMMS.Pages;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool Lang = ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true;
}

@Html.AntiForgeryToken()

<div class="head1">
    <h1>@ProjectSession.Resources.menu.PM_MenuPMMeterMaster</h1>
</div>

<div class="box">

    @using (Html.BeginForm(Actions.ManagePMMeterMaster, Controllers.Transaction, new { area = Areas.Transaction, meterMasterID = @Model.MeterMasterID }, FormMethod.Post, new { enctype = "multipart/form-data", id = "frmPMMeterMaster", @role = "form" }))
    {
        @Html.AntiForgeryToken()        
        <div class="information-form cus-form">
            <h3 class="sub-title">
                <span>@ProjectSession.Resources.label.Reading_TextBlockMeterMaster</span>
            </h3>
            <div class="row">

                @if (Model.MeterMasterID > 0)
                {
                    @Html.HiddenFor(model => model.L2ID, new { @id = "hdnL2ID" })
                }
                <div class="col-md-6 col-lg-4">
                    <div class="form-group ">
                        <label class="form-label">@ProjectSession.Resources.label.JobRequest_TextBlockCity<span class="cfont">*</span></label>
                        <div class="@ProjectSession.CultureKendoClass">
                            @(Html.Kendo().DropDownListFor(model => model.L2ID)
                            .OptionLabel(ProjectSession.Resources.label.Common_Select)
                            .DataTextField("L2Code")
                            .ValueTemplate(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "#:L2Code # -- #: L2Altname # " : "#:L2Code # -- #: L2name #")
                            .DataValueField("L2ID")
                            .Events(e =>
                            {
                                e.Change("onChange");
                            })
                            .HtmlAttributes(new { style = "width: 100%", @required = "required" })
                            .Template("#= KendoDDLTemplate( data.L2Code, data.L2name,data.L2Altname) #")
                            .Template("#= KendoDDLTemplate( data.L2Code, data.L2name,data.L2Altname) #")
                            .DataSource(source =>
                            {
                                source.Read(read =>
                                {
                                    read.Action(Actions.GetAllCities, Controllers.Configurations, new { area = Areas.Configurations, @cityID = @Model.L2ID });
                                });
                            })
                            .Value(Convert.ToString(Model.L2ID))
                            )
                        </div>
                    </div>
                </div>



                <div class="col-md-6 col-lg-4">
                    <div class="form-group ">
                        <label class="form-label">@ProjectSession.Resources.label.PM_TextBlockMeterNo<span class="cfont">*</span></label>

                        <div>
                            @(Model.MeterMasterID > 0 ?
                            @Html.TextBoxFor(model => model.MeterNo, new { @MaxLength = 50, @class = "form-control", @id = "txtMeterNo", @placeholder = ProjectSession.Resources.label.Common_Enter + " " + ProjectSession.Resources.label.PM_TextBlockMeterNo, @required = "required", @readonly = true }) :
                            @Html.TextBoxFor(model => model.MeterNo, new { @MaxLength = 50, @class = "form-control", @id = "txtMeterNo", @placeholder = ProjectSession.Resources.label.Common_Enter + " " + ProjectSession.Resources.label.PM_TextBlockMeterNo, @required = "required" })
                            )
                        </div>
                    </div>
                </div>


                <div class="col-md-6 col-lg-4">
                    <div class="form-group ">
                        <label class="form-label">@ProjectSession.Resources.label.PM_TextBlockMeterDesc<span class="cfont">*</span></label>
                        <div>
                            @Html.TextBoxFor(model => model.MeterDescription, new { @MaxLength = 1000, @class = "form-control", @id = "txtMeterDescription", @placeholder = ProjectSession.Resources.label.Common_Enter + " " + ProjectSession.Resources.label.PM_TextBlockMeterDesc, @required = "required" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="form-group ">
                        <label class="form-label">@ProjectSession.Resources.label.PM_TextBlockAltMeterDesc</label>
                        <div>
                            @Html.TextBoxFor(model => model.AltMeterDescription, new { @MaxLength = 1000, @class = "form-control", @id = "txtAltMeterDescription", @placeholder = ProjectSession.Resources.label.Common_Enter + " " + ProjectSession.Resources.label.PM_TextBlockAltMeterDesc })
                        </div>
                    </div>
                </div>

                @* <div class="col-md-6 col-lg-4">
                    <div class="form-group two-form-group">
                        <label class="form-label">@ProjectSession.Resources.label.Building_TextBlockBuilding</label>
                        <div class="input-group pm-checklist">

                            @Html.TextBoxFor(model => model.L5No, new { @MaxLength = 50, @class = "form-control code-input txtassetdetailscommon", @readonly = "readonly", @id = "txtL5No", @Placeholder = @ProjectSession.Resources.label.Building_TextBlockBuildingNo })
                            @Html.TextBoxFor(model => model.L5Description, new { @MaxLength = 100, @class = "form-control txtassetdetailscommon", @style = "display:" + (Lang ? "" : "none;"), @readonly = "readonly", @id = "txtL5Description", @Placeholder = @ProjectSession.Resources.label.JobRequest_TextBlockBuildingDescription })
                            @Html.TextBoxFor(model => model.L5AltDescription, new { @MaxLength = 100, @class = "form-control txtassetdetailscommon", @readonly = "readonly", @style = "display:" + (Lang ? "none;" : ""), @id = "txtL5AltDescription", @Placeholder = @ProjectSession.Resources.label.JobRequest_TextBlockAltBuildingDesc })

                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4">
                    <div class="form-group two-form-group">
                        <label class="form-label">@ProjectSession.Resources.label.Street_TextBlockStreet</label>
                        <div class="input-group pm-checklist">

                            @Html.TextBoxFor(model => model.L4No, new { @class = "form-control code-input txtassetdetailscommon", @readonly = "readonly", @id = "txtL4No", @Placeholder = @ProjectSession.Resources.label.Street_TextBlockStreetCode })
                            @Html.TextBoxFor(model => model.L4Description, new { @class = "form-control txtassetdetailscommon", @style = "display:" + (Lang ? "" : "none;"), @readonly = "readonly", @id = "txtL4Description", @Placeholder = @ProjectSession.Resources.label.JobRequest_TextBlockStreetDescription })
                            @Html.TextBoxFor(model => model.L4AltDescription, new { @class = "form-control txtassetdetailscommon", @readonly = "readonly", @style = "display:" + (Lang ? "none;" : ""), @id = "txtL4AltDescription", @Placeholder = @ProjectSession.Resources.label.Street_TextBlockAltStreetDesc })

                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4">
                    <div class="form-group two-form-group">
                        <label class="form-label">@ProjectSession.Resources.label.Area_TextBlockArea</label>
                        <div class="input-group pm-checklist">

                            @Html.TextBoxFor(model => model.L3No, new { @class = "form-control code-input txtassetdetailscommon", @readonly = "readonly", @id = "txtL3No", @Placeholder = @ProjectSession.Resources.label.Area_TextBlockAreaCode })
                            @Html.TextBoxFor(model => model.L3Desc, new { @class = "form-control txtassetdetailscommon", @style = "display:" + (Lang ? "" : "none;"), @readonly = "readonly", @id = "txtL3Desc", @Placeholder = @ProjectSession.Resources.label.JobRequest_TextBlockAreaDescription })
                            @Html.TextBoxFor(model => model.L3AltDesc, new { @class = "form-control txtassetdetailscommon", @readonly = "readonly", @style = "display:" + (Lang ? "none;" : ""), @id = "txtL3AltDesc", @Placeholder = @ProjectSession.Resources.label.Area_TextBlockAltAreaDescription })

                        </div>
                    </div>
                </div>*@

                <div class="col-md-6 col-lg-4">
                    <div class="form-group ">
                        <label class="form-label">@ProjectSession.Resources.label.PM_TextBlockMeterType</label>
                        <div>
                            @if (Model.MeterMasterID > 0)
                            {
                                @Html.HiddenFor(m => m.MeterType)
                            }
                            <label class="radio-inline">
                                @Html.RadioButtonFor(m => m.MeterType, "Incremental", new { @id = "rdbIncremental" }) @ProjectSession.Resources.label.PMJOGeneration_TextBlockIncremental
                            </label>
                            <label class="radio-inline">
                                @Html.RadioButtonFor(m => m.MeterType, "Threshold", new { @id = "rdbThreshold" })@ProjectSession.Resources.label.PMMeter_TextBlockPMMeterThreshold
                            </label>

                        </div>

                    </div>
                </div>

                <div class="col-md-6 col-lg-4">
                    <div class="form-group ">
                        <label class="form-label">@ProjectSession.Resources.label.PM_TextBlockStartMeterReading<span class="cfont">*</span></label>
                        <div>

                            @(Model.MeterMasterID > 0 ?
                            @Html.TextBoxFor(model => model.StartMeterReading, new { @MaxLength = 8, @class = "form-control decimalnumber", @id = "txtStartMeterReading", @placeholder = ProjectSession.Resources.label.Common_Enter + " " + ProjectSession.Resources.label.PM_TextBlockStartMeterReading, @required = "required", @readonly = true }) :
                            @Html.TextBoxFor(model => model.StartMeterReading, new { @MaxLength = 8, @class = "form-control decimalnumber", @id = "txtStartMeterReading", @placeholder = ProjectSession.Resources.label.Common_Enter + " " + ProjectSession.Resources.label.PM_TextBlockStartMeterReading, @required = "required" })
                            )

                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="form-group ">
                        <label class="form-label">@ProjectSession.Resources.label.PMReading_TextBlockLastEnteredReading</label>
                        <div>
                            @Html.TextBoxFor(model => model.LastReading, new { @MaxLength = 8, @class = "form-control decimalnumber", @id = "txtLastReading", @placeholder = ProjectSession.Resources.label.Common_Enter + " " + ProjectSession.Resources.label.PMReading_TextBlockLastEnteredReading, @required = "required", @readonly = true })
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="form-group ">
                        <label class="form-label">@ProjectSession.Resources.label.PM_TextBlockMeterUnits<span class="cfont">*</span></label>
                        <div>
                            @Html.TextBoxFor(model => model.MeterUnit, new { @MaxLength = 50, @class = "form-control", @id = "txtMeterUnit", @placeholder = ProjectSession.Resources.label.Common_Enter + " " + ProjectSession.Resources.label.PM_TextBlockMeterUnits, @required = "required" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="form-group ">
                        <label class="form-label">@ProjectSession.Resources.label.PM_TextBlockMaxDailyIncrement</label>
                        <div>


                            @(Model.MeterMasterID > 0 ?
            @Html.TextBoxFor(model => model.MaxDailyIncrement, new { @MaxLength = 8, @class = "form-control", @id = "txtMaxDailyIncrement", @placeholder = ProjectSession.Resources.label.Common_Enter + " " + ProjectSession.Resources.label.PM_TextBlockMaxDailyIncrement, @readonly = true }) :
            @Html.TextBoxFor(model => model.MaxDailyIncrement, new { @MaxLength = 8, @class = "form-control", @id = "txtMaxDailyIncrement", @placeholder = ProjectSession.Resources.label.Common_Enter + " " + ProjectSession.Resources.label.PM_TextBlockMaxDailyIncrement, })
                            )
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="form-group ">

                        <div>
                            <label class="form-label">@ProjectSession.Resources.label.PM_TextBlockActive</label>
                            @Html.CheckBoxFor(model => model.Active, new { id = "chkIsActive" })
                        </div>
                    </div>

                </div>
                @*</div>*@



            </div>
        </div>
        <div class="information-form cus-form">
            <h3 class="sub-title">
                <span>@ProjectSession.Resources.label.PMMeter_TextBlockMeterBy</span>
            </h3>

            <div class="row">
                <div class="form-group col-md-6 col-lg-4">
                    <label class="radio-inline checkbox-box">
                        @Html.HiddenFor(model => model.TypeMeter, new { @id = "hdnTypeMeter" })
                        @Html.RadioButton("rbGroupPMBy", SystemEnum.ModuleCode.WorkRequest.GetHashCode(), Model.TypeMeter == "1" ? true : false, new { onclick = "ShowHideRadioButtonGroupPMBy(1);" }) @Html.Label(ProjectSession.Resources.label.PMSchedule_TextBlockAssets, new { @class = "control-label" })
                    </label>
                    <label class="radio-inline checkbox-box">
                        @Html.RadioButton("rbGroupPMBy", SystemEnum.ModuleCode.WorkRequest.GetHashCode(), Model.TypeMeter == "2" ? true : false, new { onclick = "ShowHideRadioButtonGroupPMBy(2);" }) @Html.Label(ProjectSession.Resources.label.JobRequest_TextBlockLocation, new { @class = "control-label" })
                    </label>
                </div>
                <div id="divAssetInfo">
                    <div class="form-group two-form-group col-md-6 col-lg-4">
                        <label class="form-label">@ProjectSession.Resources.label.Asset_TextBlockAssetNO<span class="cfont">*</span></label>
                        <div class="input-group pm-checklist">
                            @Html.HiddenFor(model => model.AssetID)
                            @Html.TextBoxFor(model => model.AssetNumber, new { @class = "form-control code-input txtassetdetailscommon", @readonly = "readonly", @id = "txtAssetNumber", @Placeholder = @ProjectSession.Resources.label.Asset_TextBlockAssetNO })

                            @(Html.Kendo().AutoCompleteFor(model => model.AssetDescription)
                                    .DataTextField(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "AssetAltDescription" : "AssetDescription")
                                    .HtmlAttributes(new { @class = "form-control", @id = "txtAssetDescription" })
                                    .Filter("contains")
                                    .Template("#= KendoDDLTemplate( data.AssetNumber, data.AssetDescription, data.AssetAltDescription) #")
                                    .MinLength(3)
                                    .Placeholder(ProjectSession.Resources.label.JobRequest_TextBlockAssetDescription)
                                    .Events(m => m.Select("onAssetAutoSelect"))
                                    .DataSource(source =>
                                     {
                                         source.Read(read =>
                                         {
                                             read.Action(Actions.GetAssetsByLocationForJobRequestAutoDDL, Controllers.AutoComplete, new { area = Areas.Configurations }).Data("onAssetAdditionalData");
                                         })
                                     .ServerFiltering(true);
                                     })
                                    .Value(Convert.ToString(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? Model.AssetAltDescription : Model.AssetDescription))
                            )

                            <a href="#" class="checklis-btn" data-toggle="modal" data-backdrop="static" onclick="OpenAssetPopUpForPMMeter()">
                                <img src="../images/checklis-icon.png" alt="">
                            </a>
                            <a href="javascript:void(0);" class="close-btn" id="btnClearLocation" title="@ProjectSession.Resources.label.Common_ButtonClear" onclick="clearAssetPopUpForPMMeter();">
                                <img src="../images/close.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="form-group  two-form-group col-md-6 col-lg-4">
                        <label class="form-label">@ProjectSession.Resources.label.Location_TextBlockLocationNo</label>
                        <div class="input-two">
                            <div class="input-group">
                                @Html.HiddenFor(model => model.LocationIDAsset, new { @id = "hdnLocationIDAT", @class = "txtassetdetailscommon" })
                                @Html.TextBoxFor(model => model.LocationNoAsset, "", new { @class = "form-control code-input txtassetdetailscommon", @readonly = "readonly", @id = "txtLocationNoAT", @Placeholder = @ProjectSession.Resources.label.Location_TextBlockLocationNo })
                            </div>
                            <div class="input-group">
                                @Html.TextBoxFor(model => model.LocationDescriptionAsset, "", new { @class = "form-control txtassetdetailscommon", @readonly = "readonly", @id = "txtLocationDescriptionAT", @Placeholder = @ProjectSession.Resources.label.Location_TextBlockLocationDesc })
                                @Html.TextBoxFor(model => model.LocationAltDescriptionAsset, "", new { @class = "form-control txtassetdetailscommon", @readonly = "readonly", @id = "txtLocationAltDescriptionAT", @Placeholder = @ProjectSession.Resources.label.Location_TextBlockAltLocationDesc })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group two-form-group col-md-6 col-lg-4" id="divLocationInfo">
                    <label class="form-label">@ProjectSession.Resources.label.Location_TextBlockLocationNo<span class="cfont">*</span></label>
                    <div class="input-group pm-checklist">
                        @Html.HiddenFor(model => model.LocationId, new { @id = "hdnLocationID" })
                        @Html.TextBoxFor(model => model.LocationNo, new { @class = "form-control code-input", @readonly = "readonly", @id = "txtLocationNo", @Placeholder = @ProjectSession.Resources.label.Location_TextBlockLocationNo })

                        @(Html.Kendo().AutoCompleteFor(model => model.LocationDescription)
                                    .DataTextField(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "LocationAltDescription" : "LocationDescription")
                                    .HtmlAttributes(new { @class = "form-control", @id = "txtLocationDescription" })
                                    .Filter("contains")
                                    .Template("#= KendoDDLTemplate( data.LocationNo, data.LocationDescription, data.LocationAltDescription) #")
                                    .MinLength(3)
                                    .Placeholder(ProjectSession.Resources.label.Location_TextBlockLocationDesc)
                                    .Events(m => m.Select("onLocationAutoSelect"))
                                    .DataSource(source =>
                                     {
                                         source.Read(read =>
                                         {
                                             read.Action(Actions.GetLocationPageAutoDDL, Controllers.AutoComplete, new { area = Areas.Configurations }).Data("onLocationAdditionalData");
                                         })
                                     .ServerFiltering(true);
                                     })
                                    .Value(Convert.ToString(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? Model.LocationAltDescription : Model.LocationDescription))
                                        )

                        <a href="#" class="checklis-btn" data-toggle="modal" id="LocationPopUpOpen" onclick="OpenLocationPopUp()">
                            <img src="../images/checklis-icon.png" alt=""></a>
                        <a href="javascript:void(0);" class="close-btn" onclick="ClearLocationData();" id="LocationPopUpClose">
                            <img src="../images/close.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-footer">
            @if (ProjectSession.PermissionAccess.Preventive_MeterSchedules_Createnewrecords || ProjectSession.PermissionAccess.Preventive_MeterSchedules_Editrecords)
            {
                <button class="btn btn-primary" id="btnSave" name="btnSave" type="submit"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
            }
            <button class="btn btn-default" type="button" onclick="RedirectToPage()"><span>@ProjectSession.Resources.label.Common_ButtonCancel</span></button>
        </div>
    }

</div>

<!-- -------------pm metermaster list section------------- -->

<div class="head1">
    <h1>
        @ProjectSession.Resources.label.PMMeter_TextBlockPMMeterSchedule
    </h1>
    <ul class="sub_btn">
        @if (ProjectSession.PermissionAccess.Preventive_MeterSchedules_Createnewrecords && Model.MeterMasterID > 0)
        {
            <li>
                <a href="#" title="@ProjectSession.Resources.label.Common_ButtonAdd" class="btn-icon btn-add" onclick="AddPMMeter();"><i></i></a>
            </li>
        }
@*<li>
                <a href="#" class="btn-icon btn-search" data-toggle="modal" data-target="#search-order" onclick='OpenAdvancedSearch("Meter Schedules","@SystemEnum.Pages.PMMeterList.GetHashCode()");' title="@ProjectSession.Resources.label.Common_ButtonAdvanceSearch"><i></i></a>
            </li>
            <li>
                <a href="#" class="btn-icon btn-clear" title="@ProjectSession.Resources.label.Common_ButtonClear" onclick="return ClearAdvencedSearch(@SystemEnum.Pages.PMMeterList.GetHashCode());"><i></i></a>
            </li>
            <li>
                <a href="" class="btn-icon btn-refresh" onclick="ReBindKendoGrid('PMMeterListGrid');" title="@ProjectSession.Resources.label.Common_ButtonRefreshGrid"><i></i></a>
            </li>*@
        @if (ProjectSession.PermissionAccess.Preventive_MeterSchedules_Export)
        {
            <li>
                <a href="javascript:void(0);" class="btn-icon btn-xsl" onclick="ExportToExcel('PMMeterListGrid', 'MeterID');" title="@ProjectSession.Resources.label.Common_ButtonExportToExcel"><i></i></a>
            </li>
        }
    </ul>
</div>


<div id="pmmetermasterlist" class="@ProjectSession.CultureKendoClass">
    @(Html.Kendo().Grid<CMMS.Model.PmMeter>
        ()
        .Name("PMMeterListGrid")
        .HtmlAttributes(new { @class = "kl-grid" })
        .Columns(columns =>
        {
            columns.Bound(c => c.MeterNo).Title(ProjectSession.Resources.label.PM_TextBlockMeterNo).Width(150);

            columns.Bound(c => c.MeterDescription).Title(ProjectSession.Resources.label.PM_TextBlockMeterDesc).Width(180);

            columns.Bound(c => c.IncFreq).ClientTemplate("#= DecimalTempalte(data.IncFreq,2) #").Title(ProjectSession.Resources.label.PM_TextBlockFrequency).Width(180);

            columns.Bound(c => c.IncPMDue).ClientTemplate("#= DecimalTempalte(data.IncPMDue,2) #").Title(ProjectSession.Resources.label.PM_TextBlockPMDueAt).Width(180);

            columns.Bound(c => c.PMActive).HtmlAttributes(new { @class = "text-center" }).ClientTemplate("<span class='#= PMActive ? 'active-icon' : 'inactive-icon' #' title='#= PMActive ? active : notActive #'></span>").Title(ProjectSession.Resources.label.PM_TextBlockActive).Width(80)
             .Filterable(ftb => ftb.Multi(true).ItemTemplate("itemTemplateForPMActive").CheckAll(false).BindTo(new[]{
                        new { PMActive = 1 },
                        new { PMActive = 0 }
                }));

            columns.Bound(c => c.WorkTrade).Title(ProjectSession.Resources.label.JobRequest_TextBlockJobTrade).Width(180)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterJobTrade", "GridFilter", new { area = string.Empty, @id = "1" }).Data("BindParametersForPMMeter").Type(HttpVerbs.Post))));

            columns.Bound(c => c.AltWorkTrade).Title(ProjectSession.Resources.label.JobTrade_TextBlockAltJobTrade).HtmlAttributes(new { @class = "text-right" }).Width(180)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterJobTrade", "GridFilter", new { area = string.Empty, @id = "2" }).Data("BindParametersForPMMeter").Type(HttpVerbs.Post))));

            columns.Bound(c => c.MaintDivisionCode).Title(ProjectSession.Resources.label.MaintDivision_TextBlockMaintenanceDivision).Width(180)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterMaintenanceDivision", "GridFilter", new { area = string.Empty }).Data("BindParametersForPMMeter").Type(HttpVerbs.Post))));

            columns.Bound(c => c.MaintDeptCode).Title(ProjectSession.Resources.label.MaintenanceDept_TextBlockMaintDept).Width(180)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterMaintenanceDepartment", "GridFilter", new { area = string.Empty }).Data("BindParametersForPMMeter").Type(HttpVerbs.Post))));

            columns.Bound(c => c.MaintSubDeptCode).Title(ProjectSession.Resources.label.MaintenanceSubDept_TextBlockMaintSubDept).Width(200)
             .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterMaintenanceSubDepartment", "GridFilter", new { area = string.Empty }).Data("BindParametersForPMMeter").Type(HttpVerbs.Post))));

            columns.Bound(c => c.ProjectNumber).Title(ProjectSession.Resources.label.Preventive_TextBlockProjectNumber).Width(180);

            columns.Bound(c => c.MeterID).ClientTemplate("<center>" + (ProjectSession.PermissionAccess.Preventive_MeterSchedules_Editrecords ? "<a class='action' title='" + ProjectSession.Resources.label.Common_ButtonEdit + "'  style='cursor:pointer' onclick='OpenPMMeterEditWindow(#: MeterID#)'><i class='glyphicon glyphicon-pencil'></i></a>&nbsp;" : "") + "</center>")
                                           .Title("<center>" + ProjectSession.Resources.label.Common_ButtonAction + "</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Width(50).Filterable(false);
        })
        .Filterable()
        .Sortable(sortable => sortable.AllowUnsort(false))
        .Scrollable()
        .Excel(excel => excel.FileName("PM Meter List.xlsx").Filterable(true).AllPages(true).ProxyURL(Url.Action("Excel_Export_Save", "GridExport", new { area = string.Empty })))
        .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
        .Events(events => events.DataBound("onDataBoundForPMMeter").ExcelExport("excelExport"))
        .DataSource(dataSource =>
        dataSource.Ajax()
        .PageSize(ProjectConfiguration.PageSize)
        .Model(model =>
        {
            model.Id(p => p.MeterNo);
            model.Field(p => p.MeterDescription);
        })
        .ServerOperation(true)
        .Read(read => read.Action(Actions.GetPMMeterListGrid, Controllers.Transaction, new { area = Areas.Transaction }).Data("BindParametersForPMMeter").Type(HttpVerbs.Post))
        )
    )

</div>
<!-- -------------End pm metermaster list section------------- -->
<!-- -------------search order------------- -->
<div id="search-order" class="modal fade" role="dialog"></div>
<!-- -------------Asset Model------------- -->
<div id="AssetModelPMMeter">

    <div id="AssetGridModal" class="modal fade" role="dialog">

        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" title="@ProjectSession.Resources.label.Common_ButtonClose"></button>
                    <h4 class="modal-title">@ProjectSession.Resources.label.Asset_TextBlockAssetList</h4>
                </div>
                <div class="modal-body">
                    <div class="tab-pane active" role="tabpanel">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <div id="AssetData" class="@ProjectSession.CultureKendoClass">
                                        @(Html.Kendo().Grid<CMMS.Model.Asset>
                                            ()
                                            .Name("AssetGrid")
                                            .Columns(columns =>
                                            {
                                                columns.Bound(c => c.AssetNumber).Title(ProjectSession.Resources.label.Asset_TextBlockAssetNO).Width(130);

                                                columns.Bound(c => c.AssetDescription).Title(ProjectSession.Resources.label.Asset_TextBlockAssetDescription).Width(200);

                                                columns.Bound(c => c.AssetAltDescription).Title(ProjectSession.Resources.label.Asset_TextBlockAltAssetDescription).Width(220);

                                                columns.Bound(c => c.AssetStatusDesc).Title(ProjectSession.Resources.label.Asset_TextBlockAssetStatus).Width(150)
                                                .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterAssetStatus", "GridFilter", new { area = string.Empty, @id = "1" }).Data("BindParametersAsset").Type(HttpVerbs.Post))));

                                                columns.Bound(c => c.LocationNo).Title(ProjectSession.Resources.label.Location_TextBlockLocationNo).Width(150)
                                                .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterLocation", "GridFilter", new { area = string.Empty }).Data("BindParametersAsset").Type(HttpVerbs.Post))));

                                                columns.Bound(c => c.LocationDescription).Title(ProjectSession.Resources.label.Location_TextBlockLocationDescription).Width(200);

                                                columns.Bound(c => c.LocationAltDescription).Title(ProjectSession.Resources.label.Location_TextBlockAltLocationDesc).Width(220);

                                                columns.Bound(c => c.AssetCatCode).Title(ProjectSession.Resources.label.Asset_TextBlockAssetCategory).Width(150)
                                                .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterAssetCategory", "GridFilter", new { area = string.Empty }).Data("BindParametersAsset").Type(HttpVerbs.Post))));

                                                columns.Bound(c => c.L2Code).Title(ProjectSession.Resources.label.JobRequest_TextBlockCityCode).Width(150)
                                                .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterSite", "GridFilter", new { area = string.Empty }).Data("BindParametersAsset").Type(HttpVerbs.Post))));

                                                if (Lang)
                                                    columns.Bound(c => c.L2Name).Title(ProjectSession.Resources.label.City_TextBlockCityDesc).Width(170);
                                                else
                                                    columns.Bound(c => c.L2AltName).Title(ProjectSession.Resources.label.City_TextBlockAltCityDesc).Width(170);

                                                columns.Bound(c => c.L3No).Title(ProjectSession.Resources.label.JobRequest_TextBlockAreaCode).Width(150).Visible(ProjectSession.IsAreaFieldsVisible)
                                                .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterArea", "GridFilter", new { area = string.Empty }).Data("BindParametersAsset").Type(HttpVerbs.Post))));

                                                columns.Bound(c => c.L3Desc).Title(ProjectSession.Resources.label.JobRequest_TextBlockAreaDescription).Visible(ProjectSession.IsAreaFieldsVisible && ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true).Width(170);
                                                columns.Bound(c => c.L3AltDesc).Title(ProjectSession.Resources.label.JobRequest_TextBlockAltAreaDescription).Visible(ProjectSession.IsAreaFieldsVisible && ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? true : false).Width(170);

                                                columns.Bound(c => c.L4No).Title(ProjectSession.Resources.label.JobRequest_TextBlockStreetCode).Width(150)
                                                .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterZone", "GridFilter", new { area = string.Empty }).Data("BindParametersAsset").Type(HttpVerbs.Post))));

                                                if (Lang)
                                                    columns.Bound(c => c.L4Description).Title(ProjectSession.Resources.label.JobRequest_TextBlockStreetDescription).Width(170);
                                                else
                                                    columns.Bound(c => c.L4AltDescription).Title(ProjectSession.Resources.label.Cleaning_TextBlockAltStreetDescription).Width(170);

                                                columns.Bound(c => c.ModelNumber).Title(ProjectSession.Resources.label.Asset_TextBlockModelNo).Width(150);
                                                columns.Bound(c => c.SerialNumber).Title(ProjectSession.Resources.label.Employee_TextBlockSerialNo).Width(150);

                                                columns.Bound(c => c.AssetStatusID).Hidden();
                                            })
                                            .Filterable()
                                            .Sortable(sortable => sortable.AllowUnsort(false))
                                            .Scrollable()
                                            .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
                                            .Events(events => events.DataBound("onDataBoundAsset"))
                                            .DataSource(dataSource =>
                                            dataSource.Ajax()
                                            .PageSize(ProjectConfiguration.PageSize)
                                            .Model(model =>
                                            {
                                                model.Id(p => p.AssetID);
                                                model.Field(p => p.AssetNumber);
                                            })
                                            .ServerOperation(true)
                                            .Read(read => read.Action(Actions.GetAssetsByLocationForJobRequest, Controllers.Transaction, new { area = Areas.Transaction }).Data("BindParametersAsset").Type(HttpVerbs.Post))
                                            )
                                        )

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- location  Grid Modal-->
<div id="locationGridModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" title="@ProjectSession.Resources.label.Common_ButtonClose"></button>
                <h4 class="modal-title">@ProjectSession.Resources.label.Location_TextBlockLocationList</h4>
            </div>
            <div class="modal-body">
                <div id="Highlights" class="tab-pane active" role="tabpanel">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div id="locationData" class="@ProjectSession.CultureKendoClass">
                                    @(Html.Kendo().Grid<CMMS.Model.Location>()
                                            .Name("locationGrid")
                                    .Columns(columns =>
                                    {
                                        columns.Bound(c => c.LocationNo).Title(ProjectSession.Resources.label.Location_TextBlockLocationNo).Width(150);

                                        columns.Bound(c => c.LocationDescription).Title(ProjectSession.Resources.label.Location_TextBlockLocationDescription).Width(250);

                                        columns.Bound(c => c.LocationAltDescription).HtmlAttributes(new { @class = "text-right" }).Title(ProjectSession.Resources.label.Location_TextBlockAltLocationDescription).Width(250);

                                        columns.Bound(c => c.L2Code).Title(ProjectSession.Resources.label.JobRequest_TextBlockCity).Width(110)
                                        .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterSite", "GridFilter", new { area = string.Empty }).Data("BindParametersLocation").Type(HttpVerbs.Post))));

                                        columns.Bound(c => c.L4No).Title(ProjectSession.Resources.label.Street_TextBlockStreet).Width(110)
                                        .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterZone", "GridFilter", new { area = string.Empty }).Data("BindParametersLocation").Type(HttpVerbs.Post))));

                                        columns.Bound(c => c.L4Description).Title(ProjectSession.Resources.label.Street_TextBlockStreetDesc).Visible(ProjectSession.Culture == ProjectConfiguration.EnglishCultureCode ? true : false).Width(280);

                                        columns.Bound(c => c.L4AltDescription).Title(ProjectSession.Resources.label.Street_TextBlockAltStreetDesc).Visible(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? true : false).Width(280);

                                        columns.Bound(c => c.L5No).Title(ProjectSession.Resources.label.Building_TextBlockBuildingNo).Width(150)
                                        .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterBuilding", "GridFilter", new { area = string.Empty }).Data("BindParametersLocation").Type(HttpVerbs.Post))));

                                        columns.Bound(c => c.L5Description).Title(ProjectSession.Resources.label.Building_TextBlockBuildingDesc).Visible(ProjectSession.Culture == ProjectConfiguration.EnglishCultureCode ? true : false).Width(250);

                                        columns.Bound(c => c.L5AltDescription).Title(ProjectSession.Resources.label.Building_TextBlockAltBuildingDesc).Visible(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? true : false).Width(250);

                                        columns.Bound(c => c.Criticality).Title(ProjectSession.Resources.label.Location_TextBlockCriticality).Width(110)
                                        .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterCriticality", "GridFilter", new { area = string.Empty }).Data("BindParametersLocation").Type(HttpVerbs.Post))));

                                    })
                                    .Filterable()
                                    .Sortable(sortable => sortable.AllowUnsort(false))
                                    .Scrollable()
                                            .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
                                    .Events(events => events.DataBound("onDataBoundLocation"))
                                    .DataSource(dataSource => dataSource.Ajax()
                                    .PageSize(ProjectConfiguration.PageSize)
                                     .Model(model =>
                                     {
                                         model.Id(p => p.LocationID);
                                         model.Field(p => p.LocationNo);
                                     })
                                    .ServerOperation(true)
                                    .Read(read => read.Action(Actions.GetLocationPage, Controllers.Configurations, new { area = Areas.Configurations }).Data("BindParametersLocation").Type(HttpVerbs.Post))
                                    )
                                    )

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var intPageID = '@SystemEnum.Pages.PMMeterMasterList.GetHashCode()';

    function itemTemplateForPMActive(e) {
        if (e.field == "all") {
            return "<div><label><strong><input type='checkbox' /><span>#= all#</span></strong></label></div>";
        } else {
            return "<span><label><input type='checkbox' name='" + e.field + "' value='#=PMActive#'/><span>#= PMActive ? active : notActive #</span></label></span><br>"
        }
    }

    validator = $('#frmPMMeterMaster').validate({
        rules: {
            AssetNumber: { required: true },
            MeterNo: { required: true },
            MeterUnit: { required: true },
            MeterDescription: { required: true },
            StartMeterReading: { required: true, range: [0, 10000000] },
            //MaxDailyIncrement: { required: true },
            LocationNo: { required: true },
            LocationID: { required: true },
        },
        messages: {
            AssetNumber: { required: '' },
            MeterNo: { required: '' },
            MeterUnit: { required: '' },
            MeterDescription: { required: '' },
            StartMeterReading: { required: '' },
            //MaxDailyIncrement: { required: '' },
            LocationNo: { required: '' },
            LocationID: { required: '' },
        }
    });

    $('#frmPMMeterMaster').on('submit', function (e) {
        if ($("#frmPMMeterMaster").valid()) {
            if (!e.isDefaultPrevented()) {
                if (!reValidateDropDowns($(this))) {
                    e.preventDefault();
                }
            }
            else { e.preventDefault(); }
        }
        else {
            e.preventDefault();
        }
    });

    $(document).ready(function () {

        if ('@ViewBag.Message' != '' && '@ViewBag.MessageType' != '') {
            ShowMessage('@ViewBag.MessageType', '@ViewBag.Message', "#divMessage");
        }

        if ('@Lang' == 'True') {

            $('#txtLocationAltDescriptionAT').css("display", "none");
            $('#txtLocationDescriptionAT').css("display", "block");
        }
        else {

            $('#txtLocationDescriptionAT').css("display", "none");
            $('#txtLocationAltDescriptionAT').css("display", "block");
        }

        var meterMasterID = '@Model.MeterMasterID';
        if (meterMasterID > 0) {

            $("#rdbIncremental").attr('disabled', 'disabled');
            $("#rdbThreshold").attr('disabled', 'disabled');
            $("#L2ID").kendoDropDownList({
                enable: false
            });
        }
        else if (meterMasterID = '0') {
            $("#rdbIncremental").attr('checked', true);
            $("#chkIsActive").attr('checked', true);
        }

        ShowHideRadioButtonGroupPMBy('@Model.TypeMeter');
    });

    function ShowHideRadioButtonGroupPMBy(pmBy) {
        $('#hdnTypeMeter').val(pmBy);
        if (pmBy == 1) {
            $('#divAssetInfo').show();
            $('#divLocationInfo').hide();
        } else if (pmBy == 2) {
            $('#divAssetInfo').hide();
            $('#divLocationInfo').show();
        }
        else {
            $('#divAssetInfo').hide();
            $('#divLocationInfo').hide();
        }
    }

    //PMMeter grid  functions
    function BindParametersForPMMeter() {
        return {
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val(),
            meterMasterID: '@Model.MeterMasterID'
        };
    }
    function onDataBoundForPMMeter(arg) {
        gridProperPaging(this);
    }

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };

    //edit PMMeter
    $("#PMMeterListGrid tbody").on("dblclick", "tr[role='row']", function (e) {

        var grid = $("#PMMeterListGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        var MeterMasterID = '@Model.MeterMasterID';
        var MeterID = model.MeterID;
        window.location.href = '@Url.Action(Actions.PMMeterAdd, Controllers.Transaction, new { area = Areas.Transaction })' + '?meterMasterID=' + MeterMasterID + '&meterID=' + MeterID;
    });

    function OpenPMMeterEditWindow(MeterID) {
        var MeterMasterID = '@Model.MeterMasterID';
        window.location.href = '@Url.Action(Actions.PMMeterAdd, Controllers.Transaction, new { area = Areas.Transaction })' + '?meterMasterID=' + MeterMasterID + '&meterID=' + MeterID;
    }

    //add new PMMeter record
    function AddPMMeter() {
        var MeterMasterID = '@Model.MeterMasterID';
        window.location.href = '@Url.Action(Actions.PMMeterAdd, Controllers.Transaction, new { area = Areas.Transaction })' + '?meterMasterID=' + MeterMasterID + '&meterID=' + 0;
    }
    //end PMMeter functions

    //asset grid popup functions
    function OpenAssetPopUpForPMMeter() {
        ReBindKendoGrid('AssetGrid');
        $("#AssetGridModal").modal("show");
    }
    function onDataBoundAsset(arg) {
        gridProperPaging(this);
    }

    function onAssetAdditionalData() {
        var LocationID = $("#L2ID").data("kendoDropDownList").value();
        LocationID = LocationID == "" ? 0 : LocationID;
        return {
            locationID: LocationID,
            text: $("#txtAssetDescription").val(),
        };
    }

    function BindParametersAsset() {
        var LocationID = $("#L2ID").data("kendoDropDownList").value();
        LocationID = LocationID == "" ? 0 : LocationID;
        return {
            locationID: LocationID,
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function onAssetAutoSelect(e) {
        var model = this.dataItem(e.item.index());
        var AssetID = model.AssetID;
        var AssetNumber = model.AssetNumber;
        var AssetDescription = model.AssetDescription;
        var AssetAltDescription = model.AssetAltDescription;

        //$('#txtAssetDescription').val(AssetDescription);
        //$('#txtAssetAltDescription').val(AssetAltDescription);
        $('#txtAssetNumber').val(AssetNumber);
        $('#AssetID').val(AssetID);

        $('#hdnLocationIDAT').val(model.LocationID);
        $('#txtLocationNoAT').val(model.LocationNo);
        $('#txtLocationDescriptionAT').val(model.LocationDescription);
        $('#LocationAltDescriptionAsset').val(model.LocationAltDescription);

        $('#txtL5No').val(model.L5No);
        $('#txtL5Description').val(model.L5Description);
        $('#txtL5AltDescription').val(model.L5AltDescription);

        $('#txtL4No').val(model.L4No);
        $('#txtL4Description').val(model.L4Description);
        $('#txtL4AltDescription').val(model.L4AltDescription);

        $('#txtL3No').val(model.L3No);
        $('#txtL3Desc').val(model.L3Desc);
        $('#txtL3AltDesc').val(model.L3AltDesc);
    }


    $("#AssetGrid tbody").on("dblclick", "tr[role='row']", function (e) {

        var grid = $("#AssetGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        var AssetID = model.AssetID;
        var AssetNumber = model.AssetNumber;
        var AssetDescription = model.AssetDescription;
        var AssetAltDescription = model.AssetAltDescription;
        if ('@Lang' == 'True') {
            $('#txtAssetDescription').val(AssetDescription);
        }
        else {
            $('#txtAssetDescription').val(AssetAltDescription);
        }
        $('#txtAssetNumber').val(AssetNumber);
        $('#AssetID').val(AssetID);

        $('#hdnLocationIDAT').val(model.LocationID);
        $('#txtLocationNoAT').val(model.LocationNo);
        $('#txtLocationDescriptionAT').val(model.LocationDescription);
        $('#LocationAltDescriptionAsset').val(model.LocationAltDescription);

        $('#txtL5No').val(model.L5No);
        $('#txtL5Description').val(model.L5Description);
        $('#txtL5AltDescription').val(model.L5AltDescription);

        $('#txtL4No').val(model.L4No);
        $('#txtL4Description').val(model.L4Description);
        $('#txtL4AltDescription').val(model.L4AltDescription);

        $('#txtL3No').val(model.L3No);
        $('#txtL3Desc').val(model.L3Desc);
        $('#txtL3AltDesc').val(model.L3AltDesc);

        $("#AssetGridModal").modal("hide");
    });


    function clearAssetPopUpForPMMeter() {
        $('#txtAssetNumber').val("");
        $('#txtAssetDescription').val("");
        $('#txtAssetAltDescription').val("");
        $('.txtassetdetailscommon').val("");
    }

    //end asset grid popup functions

    //Location
    function OpenLocationPopUp() {
        $("#locationGridModal").modal("show");
    }

    function onDataBoundLocation(arg) {
        gridProperPaging(this);
    }

    function onLocationAdditionalData() {
        return {
            //siteID: $('#ddlCity').val(),
            strWhere: " and location.L2ID =" + $('#L2ID').val(),
            text: $("#txtLocationDescription").val(),
        };
    }

    function BindParametersLocation() {
        return {
            //siteID: $('#ddlCity').val(),
            strWhere: " and location.L2ID =" + $('#L2ID').val(),
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function ClearLocationData() {
        $("#hdnLocationID").val("");
        $("#txtLocationNo").val("");
        $("#txtLocationDescription").val("");
        $("#txtLocationAltDescription").val("");
    }

    function onLocationAutoSelect(e) {
        var model = this.dataItem(e.item.index());
        $("#txtLocationNo").val(model.LocationNo);
        $("#hdnLocationID").val(model.LocationID);
    }


    $("#locationGrid tbody").on("dblclick", "tr[role='row']", function (e) {
        var grid = $("#locationGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        $("#locationGridModal").modal("hide");

        //Location
        $("#txtLocationNo").val(model.LocationNo);
        if ('@Lang' == 'True') {
            $("#txtLocationDescription").val(model.LocationDescription);
        }
        else {
            $("#txtLocationDescription").val(model.LocationAltDescription);
        }
        $("#hdnLocationID").val(model.LocationID);
    });
    //End Location

    $("#txtStartMeterReading").keyup(function () {
        var meterMasterID = '@Model.MeterMasterID';
        if (meterMasterID = '0') {
            $("#txtLastReading").val($("#txtStartMeterReading").val());
        }

    });

    $("#rdbIncremental").click(function () {
        $("#txtStartMeterReading").removeAttr('readonly');
        $("#txtMaxDailyIncrement").removeAttr('readonly');
        $("#txtStartMeterReading").val("");
        $("#txtMaxDailyIncrement").val("");
        $("#txtLastReading").val("");
    });

    $("#rdbThreshold").click(function () {
        $("#txtStartMeterReading").attr('readonly', true);
        $("#txtMaxDailyIncrement").attr('readonly', true);
        $("#txtStartMeterReading").val(0.00);
        $("#txtMaxDailyIncrement").val(0.00);
        $("#txtLastReading").val(0.00);
    });


    //bind asset grid by city
    function onChange() {
        clearAssetPopUpForPMMeter();

        ReBindKendoGrid("locationGrid");
        ClearLocationData();
    }

    function RedirectToPage() {
        window.location.href = '@Url.Action(Actions.PMMeterMasterList, Controllers.Transaction, new { area = Areas.Transaction })';
    }
</script>
