﻿@using CMMS.Infrastructure;
@using CMMS.Pages;
@model CMMS.Model.PmSchedule
@using CMMS.Model
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool Lang = ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true;
}

@Html.AntiForgeryToken()


<div class="head1">
    <h1>@ProjectSession.Resources.menu.PMJOGeneration_MenuPMMJOGeneration</h1>
</div>
<div id="divContent">
    <div class="box edit-job-order">
        <div class="nav-tabs-horizontal">
            <div class="tab-content">
                <form id="frmPMMeterJoGeneration" role="form"> 
                    @Html.AntiForgeryToken()
                    <div class="information-form cus-form">
                        <div class="row">
                            <div class="col-md-6 col-lg-4">
                                <div class="form-group ">
                                    <label class="form-label">@ProjectSession.Resources.label.JobRequest_TextBlockCity<span class="cfont">*</span></label>
                                    <div class="@ProjectSession.CultureKendoClass">
                                        @(Html.Kendo().DropDownListFor(model => model.L2ID)
                                                //.OptionLabel(ProjectSession.Resources.label.Common_Select)
                            .DataTextField("L2Code")
                            .ValueTemplate(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "#:L2Code # -- #: L2Altname # " : "#:L2Code # -- #: L2name #")
                            .DataValueField("L2ID")
                            .HtmlAttributes(new { style = "width: 100%", @required = "required" })
                            .Template("#= KendoDDLTemplate( data.L2Code, data.L2name,data.L2Altname) #")
                            .DataSource(source =>
                            {
                                if (ProjectSession.IsCentral)
                                {
                                    source.Read(read =>
                                    {
                                        read.Action(Actions.GetAllCities, Controllers.Configurations, new { area = Areas.Configurations, cityID = Model.L2ID });
                                    });
                                }
                                else
                                {
                                    source.Read(read =>
                                    {
                                        read.Action(Actions.GetCitiesByEmployee, Controllers.Configurations, new { area = Areas.Configurations, cityID = Model.L2ID });
                                    });
                                }
                            })
                            .Value(Convert.ToString(Model.L2ID))
                                    )
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-md-6 col-lg-4">
                                <label class="form-label">@ProjectSession.Resources.label.JobRequest_TextBlockMaintenanceDivision</label>
                                <div class="@ProjectSession.CultureKendoClass">
                                    @(Html.Kendo().DropDownListFor(model => model.MaintDivisionID)
                                            .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                            .DataTextField("MaintDivisionCode")
                                            .ValueTemplate(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "#:MaintDivisionCode # -- #: MaintDivisionAltName # " : "#:MaintDivisionCode # -- #: MaintDivisionName #")
                                            .DataValueField("MaintDivisionID")
                                            .HtmlAttributes(new { style = "width: 100%", id = "ddlMaintDivision" })
                                            .Template("#= KendoDDLTemplate( data.MaintDivisionCode, data.MaintDivisionName,data.MaintDivisionAltName) #")
                                            .DataSource(source =>
                                            {
                                                source.Read(read =>
                                                {
                                                    read.Action(Actions.GetMaintDivByEmpIdOrProjectNumber, Controllers.Transaction, new { area = Areas.Transaction }).Data("filterMaintDiv"); ;
                                                });
                                            })
                                           .Value(Convert.ToString(Model.MaintDivisionID))

                                )
                                </div>
                                <script>
                                    function filterMaintDiv() {
                                        //var projectNo = '';

                                        //if ($("#txtProjectNumber") != 'undefined' && $("#txtProjectNumber") != null && typeof $("#txtProjectNumber").val() != 'undefined') {
                                        //    projectNo = $("#txtProjectNumber").val();
                                        //}

                                        return {
                                            projectNumber: ''
                                        };
                                    }
                                </script>
                            </div>
                            <div class="form-group col-md-6 col-lg-4">
                                <label class="form-label">@ProjectSession.Resources.label.MaintenanceDept_TextBlockMaintDept</label>
                                <div class="@ProjectSession.CultureKendoClass">
                                    @(Html.Kendo().DropDownListFor(model => model.MaintDeptID)
                                                .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                                .DataTextField("MaintDeptCode")
                                                .ValueTemplate(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "#:MaintDeptCode # -- #: MaintDeptAltdesc # " : "#:MaintDeptCode # -- #: MaintDeptdesc #")
                                                .DataValueField("MaintDeptID")
                                                .HtmlAttributes(new { style = "width: 100%", id = "ddlMaintDepartment" })
                                            .Template("#= KendoDDLTemplate( data.MaintDeptCode, data.MaintDeptdesc,data.MaintDeptAltdesc) #")
                                                
                                                .DataSource(source =>
                                                {
                                                    source.Read(read =>
                                                    {
                                                        read.Action(Actions.GetMaintDeptByDivisionID, Controllers.Configurations, new { area = Areas.Configurations }).Data("filterDepartment");

                                                    })
                                                    .ServerFiltering(true);
                                                })
                                                .CascadeFrom("ddlMaintDivision")
                                                .AutoBind(true)
                                                .Value(Convert.ToString(Model.MaintDeptID))
                                )
                                </div>
                                <script>
                                    function filterDepartment() {
                                        return {
                                            maintDivisionId: $("#ddlMaintDivision").val()
                                        };
                                    }
                                </script>
                            </div>
                            <div class="form-group col-md-6 col-lg-4">
                                <label class="form-label">@ProjectSession.Resources.label.MaintenanceSubDept_TextBlockMaintSubDept</label>
                                <div class="@ProjectSession.CultureKendoClass">
                                    @(Html.Kendo().DropDownListFor(model => model.MaintSubDeptID)
                                                .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                                .DataTextField("MaintSubDeptCode")
                                                .ValueTemplate(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "#:MaintSubDeptCode # -- #: MaintSubDeptAltDesc # " : "#:MaintSubDeptCode # -- #: MaintSubDeptDesc #")
                                                .DataValueField("MaintSubDeptID")
                                                .HtmlAttributes(new { style = "width: 100%", id = "ddlMaintSubDepartment" })
                                            .Template("#= KendoDDLTemplate( data.MaintSubDeptCode, data.MaintSubDeptDesc,data.MaintSubDeptAltDesc) #")
                                                
                                                .DataSource(source =>
                                                {
                                                    source.Read(read =>
                                                    {
                                                        read.Action(Actions.GetMaintSubDeptByDeptID, Controllers.Management, new { area = Areas.Management }).Data("filterSubDepartment");

                                                    })
                                                    .ServerFiltering(true);
                                                })
                                                .CascadeFrom("ddlMaintDepartment")
                                                .AutoBind(true)
                                                .Value(Convert.ToString(Model.MaintSubDeptID))
                                )
                                </div>
                                <script>
                                    function filterSubDepartment() {
                                        return {
                                            maintDeptid: $("#ddlMaintDepartment").val()
                                        };
                                    }
                                </script>
                            </div>

                            <div class="form-group two-form-group col-md-6 col-lg-4">
                                
                                    <label class="form-label"></label>
                                    <div>
                                        <button class="btn btn-primary" id="btnViewPM" name="btnSave" type="submit"><span>@ProjectSession.Resources.label.JobOrder_ButtonViewPM</span></button>

                                        @if (ProjectSession.PermissionAccess.JobOrder_JobOrder_Createnewrecords)
                                        {
                                            <button class="btn btn-primary" id="btnOpenPMJO" name="btnSave" type="button" disabled="disabled"><span>@ProjectSession.Resources.label.JobOrder_ButtonOpenPMJO</span></button>
                                        }
                                        <button class="btn btn-primary" id="btnPrintPMJO" name="btnSave" type="button" disabled="disabled" onclick="PrintPMJO()"><span>@ProjectSession.Resources.label.JobOrder_ButtonPrintPMJO</span></button>
                                    </div>
                               
                            </div>
                        </div>

                    </div>
                </form>
                <div class="information-form">
                    <h3 class="sub-title">
                        <span>
                            @ProjectSession.Resources.label.PMMeter_TextBlockPMMeterThreshold
                            <div class="sub_btn">
                                <a title="Export To Excel" onclick="ExportToExcelTheshold('DataGridThreshold');" class="btn-icon btn-xsl" href="javascript:void(0);"><i></i></a>
                            </div>
                        </span>
                    </h3>
                    <div id="DvGridThreshold" class="@ProjectSession.CultureKendoClass">
                        @(Html.Kendo().Grid<CMMS.Model.Intermediate_pmmetersgenerate>()
                        .Name("DataGridThreshold")
                            .HtmlAttributes(new { @class = "kl-grid" })
                            .Columns(columns =>
                            {
                                columns.Bound(c => c.MeterNo).Title(ProjectSession.Resources.label.PM_TextBlockMeterNo).Width(150).Locked(true);

                                columns.Bound(c => c.MeterDescription).Title(ProjectSession.Resources.label.PM_TextBlockMeterDesc).Width(200);

                                columns.Bound(c => c.WorkorderNo).Title(ProjectSession.Resources.label.JobOrder_TextBlockJobOrderNo).Width(200);

                                columns.Bound(c => c.Lowerlimit).Title(ProjectSession.Resources.label.PM_TextBlockLowerLimit).Width(200);

                                columns.Bound(c => c.PMLowTaskNo).Title(ProjectSession.Resources.label.PM_TextBlockMeterNo).Width(150); //TextBlockLowerChecklistNo

                                columns.Bound(c => c.Reading).Title(ProjectSession.Resources.label.PM_TextBlockReadings).Width(100);

                                columns.Bound(c => c.UpperLimit).Title(ProjectSession.Resources.label.PM_TextBlockUpperLimit).Width(180);

                                columns.Bound(c => c.PMUppTaskNo).Title(ProjectSession.Resources.label.PM_TextBlockMeterNo).Width(200); //TextBlockUpperChecklistNo 

                                columns.Bound(c => c.AssetNumber).Title(ProjectSession.Resources.label.Asset_TextBlockAssetNO).Width(100);

                                columns.Bound(c => c.AssetDescription).Title(ProjectSession.Resources.label.Asset_TextBlockAssetDescription).Width(200);

                                columns.Bound(c => c.AssetAltDescription).Title(ProjectSession.Resources.label.Asset_TextBlockAltAssetDescription).HtmlAttributes(new { @class = "text-right" }).Width(200);

                                columns.Bound(c => c.LocationNo).Title(ProjectSession.Resources.label.Location_TextBlockLocationNo).Width(150)
                                .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterLocation", "GridFilter", new { area = string.Empty }).Data("BindParametersForThreshold").Type(HttpVerbs.Post))));

                                columns.Bound(c => c.LocationDescription).Title(ProjectSession.Resources.label.Location_TextBlockLocationDescription).Width(220);

                                columns.Bound(c => c.LocationAltDescription).Title(ProjectSession.Resources.label.Location_TextBlockLocationAltDescription).HtmlAttributes(new { @class = "text-right" }).Width(220);

                                columns.Bound(c => c.L2Code).Title(ProjectSession.Resources.label.JobRequest_TextBlockCityCode).Width(180)
                                .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterSite", "GridFilter", new { area = string.Empty }).Data("BindParametersForThreshold").Type(HttpVerbs.Post))));

                                columns.Bound(c => c.L3No).Title(ProjectSession.Resources.label.Area_TextBlockAreaCode).Width(180).Visible(ProjectSession.IsAreaFieldsVisible)
                                 .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterArea", "GridFilter", new { area = string.Empty }).Data("BindParametersForThreshold").Type(HttpVerbs.Post))));

                                columns.Bound(c => c.L5No).Title(ProjectSession.Resources.label.Building_TextBlockBuildingNo).Width(190)
                                .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterBuilding", "GridFilter", new { area = string.Empty }).Data("BindParametersForThreshold").Type(HttpVerbs.Post))));

                                columns.Bound(c => c.L4No).Title(ProjectSession.Resources.label.Street_TextBlockStreetCode).Width(180)
                                .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterZone", "GridFilter", new { area = string.Empty }).Data("BindParametersForThreshold").Type(HttpVerbs.Post))));

                                columns.Bound(c => c.MaintDivisionCode).Title(ProjectSession.Resources.label.JobRequest_TextBlockMaintenanceDivision).Width(180)
                                 .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterMaintenanceDivision", "GridFilter", new { area = string.Empty }).Data("BindParametersForThreshold").Type(HttpVerbs.Post))));

                                columns.Bound(c => c.MaintDeptCode).Title(ProjectSession.Resources.label.JobRequest_TextBlockMaintDeptCode).Width(180)
                                .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterMaintenanceDepartment", "GridFilter", new { area = string.Empty }).Data("BindParametersForThreshold").Type(HttpVerbs.Post))));

                                columns.Bound(c => c.MaintSubDeptCode).Title(ProjectSession.Resources.label.MaintenanceSubDept_TextBlockMaintenanceSubDeptCode).Width(220)
                                .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterMaintenanceSubDepartment", "GridFilter", new { area = string.Empty }).Data("BindParametersForThreshold").Type(HttpVerbs.Post))));

                                columns.Bound(c => c.WorkTrade).Title(ProjectSession.Resources.label.JobRequest_TextBlockJobTrade).Width(190)
                                .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterJobTrade", "GridFilter", new { area = string.Empty, @id = "1" }).Data("BindParametersForThreshold").Type(HttpVerbs.Post))));

                                columns.Bound(c => c.AltWorkTrade).Title(ProjectSession.Resources.label.JobTrade_TextBlockAltJobTrade).HtmlAttributes(new { @class = "text-right" }).Width(200)
                                .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterJobTrade", "GridFilter", new { area = string.Empty, @id = "2" }).Data("BindParametersForThreshold").Type(HttpVerbs.Post))));


                            })
                            .Filterable()
                            .Sortable(sortable => sortable.AllowUnsort(false))
                            .Scrollable()
                            .Excel(excel => excel.FileName("PMMeterMasterList.xlsx").Filterable(true).AllPages(true).ProxyURL(Url.Action("Excel_Export_Save", "GridExport", new { area = string.Empty })))
                            .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
                            .Events(events => events.DataBound("onDataBoundForThreshold").ExcelExport("excelExport"))
                            .DataSource(dataSource =>
                            dataSource.Ajax()
                            .PageSize(ProjectConfiguration.PageSize)
                            .Model(model =>
                            {
                                model.Id(p => p.MeterNo);
                                model.Field(p => p.MeterDescription);
                            })
                            .ServerOperation(true)
                            .Read(read => read.Action(Actions.GetMeterIntermediateDataByUserId, Controllers.Transaction, new { area = Areas.Transaction }).Data("BindParametersForThreshold").Type(HttpVerbs.Post))
                            )
                        )

                    </div>
                </div>

                <div class="information-form">
                    <h3 class="sub-title">
                        <span>
                            @ProjectSession.Resources.label.PMJOGeneration_TextBlockIncremental
                            <div class="sub_btn">
                                <a title="Export To Excel" onclick="ExportToExcelncremental('DataGridIncremental');" class="btn-icon btn-xsl" href="javascript:void(0);"><i></i></a>
                            </div>
                        </span>
                    </h3>
                    <div id="DvGridIncremental" class="@ProjectSession.CultureKendoClass">
                        @(Html.Kendo().Grid<CMMS.Model.Intermediate_pmmetersgenerate>()
                        .Name("DataGridIncremental")
                            .HtmlAttributes(new { @class = "kl-grid" })
                            .Columns(columns =>
                            {
                                columns.Bound(c => c.MeterNo).Title(ProjectSession.Resources.label.PM_TextBlockMeterNo).Width(150).Locked(true);

                                columns.Bound(c => c.MeterDescription).Title(ProjectSession.Resources.label.PM_TextBlockMeterDesc).Width(200);

                                columns.Bound(c => c.WorkorderNo).Title(ProjectSession.Resources.label.JobOrder_TextBlockJobOrderNo).Width(200);

                                columns.Bound(c => c.PMIncTaskNo).Title(ProjectSession.Resources.label.PMChecklist_TextBlockPMChecklistNo).Width(200);

                                columns.Bound(c => c.LastReading).Title(ProjectSession.Resources.label.PM_TextBlockMeterNo).Width(150); //TextBlockLastReading

                                columns.Bound(c => c.Reading).Title(ProjectSession.Resources.label.PM_TextBlockReadings).Width(100);

                                columns.Bound(c => c.LastPMDue).Title(ProjectSession.Resources.label.PM_TextBlockPMDueAt).Width(150);

                                columns.Bound(c => c.AssetNumber).Title(ProjectSession.Resources.label.Asset_TextBlockAssetNO).Width(100);

                                columns.Bound(c => c.AssetDescription).Title(ProjectSession.Resources.label.Asset_TextBlockAssetDescription).Width(200);

                                columns.Bound(c => c.AssetAltDescription).Title(ProjectSession.Resources.label.Asset_TextBlockAltAssetDescription).HtmlAttributes(new { @class = "text-right" }).Width(200);

                                columns.Bound(c => c.LocationNo).Title(ProjectSession.Resources.label.Location_TextBlockLocationNo).Width(150)
                                .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterLocation", "GridFilter", new { area = string.Empty }).Data("BindParametersForIncremental").Type(HttpVerbs.Post))));

                                columns.Bound(c => c.LocationDescription).Title(ProjectSession.Resources.label.Location_TextBlockLocationDescription).Width(220);

                                columns.Bound(c => c.LocationAltDescription).Title(ProjectSession.Resources.label.Location_TextBlockLocationAltDescription).HtmlAttributes(new { @class = "text-right" }).Width(220);

                                columns.Bound(c => c.L2Code).Title(ProjectSession.Resources.label.JobRequest_TextBlockCityCode).Width(150)
                                .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterSite", "GridFilter", new { area = string.Empty }).Data("BindParametersForIncremental").Type(HttpVerbs.Post))));

                                columns.Bound(c => c.L3No).Title(ProjectSession.Resources.label.Area_TextBlockAreaCode).Width(150).Visible(ProjectSession.IsAreaFieldsVisible)
                                 .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterArea", "GridFilter", new { area = string.Empty }).Data("BindParametersForIncremental").Type(HttpVerbs.Post))));

                                columns.Bound(c => c.L5No).Title(ProjectSession.Resources.label.Building_TextBlockBuildingNo).Width(190)
                                .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterBuilding", "GridFilter", new { area = string.Empty }).Data("BindParametersForIncremental").Type(HttpVerbs.Post))));

                                columns.Bound(c => c.L4No).Title(ProjectSession.Resources.label.Street_TextBlockStreetCode).Width(190)
                                .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterZone", "GridFilter", new { area = string.Empty }).Data("BindParametersForIncremental").Type(HttpVerbs.Post))));

                                columns.Bound(c => c.MaintDivisionCode).Title(ProjectSession.Resources.label.JobRequest_TextBlockMaintenanceDivision).Width(170)
                                 .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterMaintenanceDivision", "GridFilter", new { area = string.Empty }).Data("BindParametersForIncremental").Type(HttpVerbs.Post))));

                                columns.Bound(c => c.MaintDeptCode).Title(ProjectSession.Resources.label.JobRequest_TextBlockMaintDeptCode).Width(170)
                                .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterMaintenanceDepartment", "GridFilter", new { area = string.Empty }).Data("BindParametersForIncremental").Type(HttpVerbs.Post))));

                                columns.Bound(c => c.MaintSubDeptCode).Title(ProjectSession.Resources.label.MaintenanceSubDept_TextBlockMaintenanceSubDeptCode).Width(200)
                                .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterMaintenanceSubDepartment", "GridFilter", new { area = string.Empty }).Data("BindParametersForIncremental").Type(HttpVerbs.Post))));

                                columns.Bound(c => c.WorkTrade).Title(ProjectSession.Resources.label.JobRequest_TextBlockJobTrade).Width(180)
                                .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterJobTrade", "GridFilter", new { area = string.Empty, @id = "1" }).Data("BindParametersForIncremental").Type(HttpVerbs.Post))));

                                columns.Bound(c => c.AltWorkTrade).Title(ProjectSession.Resources.label.JobTrade_TextBlockAltJobTrade).HtmlAttributes(new { @class = "text-right" }).Width(200)
                                .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterJobTrade", "GridFilter", new { area = string.Empty, @id = "2" }).Data("BindParametersForIncremental").Type(HttpVerbs.Post))));


                            })
                            .Filterable()
                            .Sortable(sortable => sortable.AllowUnsort(false))
                            .Scrollable()
                            .Excel(excel => excel.FileName("PMMeterMasterList.xlsx").Filterable(true).AllPages(true).ProxyURL(Url.Action("Excel_Export_Save", "GridExport", new { area = string.Empty })))
                            .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
                            .Events(events => events.DataBound("onDataBoundForIncremental").ExcelExport("excelExport"))
                            .DataSource(dataSource =>
                            dataSource.Ajax()
                            .PageSize(ProjectConfiguration.PageSize)
                            .Model(model =>
                            {
                            model.Id(p => p.MeterNo);
                            model.Field(p => p.MeterDescription);
                            })
                            .ServerOperation(true)
                            .Read(read => read.Action(Actions.GetMeterIntermediateDataByUserId, Controllers.Transaction, new { area = Areas.Transaction }).Data("BindParametersForIncremental").Type(HttpVerbs.Post))
                            )
                        )

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var intPageID = '@SystemEnum.Pages.PMMetersJOGenerate.GetHashCode()';
    var isViewPM = false;
    //JO grid  functions

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };

    //JO Threshold grid
    function BindParametersForThreshold() {
        var mt = "";
        if (isViewPM == true) {
            mt = "threshold";
        }
        return {
            MeterType: mt,
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }
    function onDataBoundForThreshold(arg) {
        gridProperPaging(this);
    }

    //JO Incremental grid
    function BindParametersForIncremental() {
        var mt = "";
        if (isViewPM == true) {
            mt = "incremental";
        }
        return {
            MeterType: mt,
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }
    function onDataBoundForIncremental(arg) {
        gridProperPaging(this);
    }

    $('#frmPMMeterJoGeneration').on('submit', function (e) {
        if ($("#frmPMMeterJoGeneration").valid()) {
            if (!e.isDefaultPrevented()) {
                isViewPM = true;
                $.ajax({
                    url: '@Url.Action(Actions.ViewPMMeter, Controllers.Transaction, new { area = Areas.Transaction })',
                    type: "POST",
                    data: {
                        cityID: $('#L2ID').val(),
                        maintenanceDiv: $('#ddlMaintDivision').val() == "" ? 0 : $('#ddlMaintDivision').val(),
                        maintenanceDept: $('#ddlMaintDepartment').val() == "" ? 0 : $('#ddlMaintDepartment').val(),
                        maintenanceSubDept: $('#ddlMaintSubDepartment').val() == "" ? 0 : $('#ddlMaintSubDepartment').val(),
                    },
                    dataType: "json",
                    success: function (result) {

                        ReBindKendoGrid("DataGridThreshold");
                        ReBindKendoGrid("DataGridIncremental");

                        setTimeout(function () { CountRows(1); }, 100);

                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        showErrorMessage();
                    }

                });
                e.preventDefault();
            }
        }
        else {
            e.preventDefault();
        }
    });

    $('#btnOpenPMJO').click(function (e) {
        if ($("#frmPMMeterJoGeneration").valid()) {
            if (!e.isDefaultPrevented()) {

                $('#btnOpenPMJO').attr('disabled', 'disabled');

                var result = confirm('@ProjectSession.Resources.message.PMJOGeneration_MsgConfirmGenPMMeterJO');

                if (result) {
                    $.ajax({
                        url: '@Url.Action(Actions.OpenPMMeterJo, Controllers.Transaction, new { area = Areas.Transaction })',
                        type: "POST",
                        data: {
                            cityID: $('#L2ID').val(),
                            maintenanceDiv: $('#ddlMaintDivision').val() == "" ? 0 : $('#ddlMaintDivision').val(),
                            maintenanceDept: $('#ddlMaintDepartment').val() == "" ? 0 : $('#ddlMaintDepartment').val(),
                            maintenanceSubDept: $('#ddlMaintSubDepartment').val() == "" ? 0 : $('#ddlMaintSubDepartment').val(),
                        },
                        dataType: "json",
                        success: function (result) {
                            ReBindKendoGrid("DataGridThreshold");
                            ReBindKendoGrid("DataGridIncremental");

                            setTimeout(function () { CountRows(2); }, 100);
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            showErrorMessage();
                        }

                    });
                }
                e.preventDefault();
            }
        }
        else {
            e.preventDefault();
        }
    });
    function PrintPMJO() {
        //location.href='@Url.Action(CMMS.Pages.Actions.PrintPMJO, CMMS.Pages.Controllers.Transaction)?employeeId=' +  @ProjectSession.EmployeeID ;
        window.open('@Url.Action(CMMS.Pages.Actions.PrintPMJO, CMMS.Pages.Controllers.Transaction)?employeeId=' +  @ProjectSession.EmployeeID,"_blank");
    }
    function CountRows(type) {
        if (isViewPM == true) {
            var grid = $("#DataGridThreshold").data("kendoGrid");
            var ScheduleDateGridRowsCount = grid.tbody.find('>tr:not(.kendo-data-row)').length;

            var grid = $("#DataGridIncremental").data("kendoGrid");
            var CompletedDateGridRowsCount = grid.tbody.find('>tr:not(.kendo-data-row)').length;

            if (ScheduleDateGridRowsCount > 0 || CompletedDateGridRowsCount > 0) {
                if (type == 1) {
                    $('#btnOpenPMJO').removeAttr('disabled');
                    $('#btnPrintPMJO').attr('disabled', 'disabled');
                }
                else {
                    $('#btnPrintPMJO').removeAttr('disabled');
                    ShowMessage('@SystemEnum.MessageType.success.ToString()', '@ProjectSession.Resources.message.PMJOGeneration_MsgPMMeterJOGenSucsess', "#divMessage");
                }
            }
            else {
                if (type == 1) {
                    $('#btnOpenPMJO').attr('disabled', 'disabled');
                    $('#btnPrintPMJO').attr('disabled', 'disabled');
                }
                else {
                    $('#btnPrintPMJO').attr('disabled', 'disabled');
                }
                ShowMessage('@SystemEnum.MessageType.danger.ToString()', '@ProjectSession.Resources.message.PM_MsgNoPMsToGen', "#divMessage");
            }
        }
    }

</script>
