﻿@using CMMS.Infrastructure;
@using CMMS.Pages;
@using CMMS.Model
@using CMMS.Service
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool Lang = ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true;
}
@Html.AntiForgeryToken()
<div class="head1">
    <h1>@ProjectSession.Resources.label.PM_TextBlockPMScheduleList</h1>
    <ul class="sub_btn">
        @if (ProjectSession.PermissionAccess.Preventive_TimeSchedules_Createnewrecords)
        {
            <li><a href="@Url.Action(Actions.GetPMScheduleByID, Controllers.Transaction, new { area = Areas.Transaction, timeID = 0 })" title="@ProjectSession.Resources.label.Common_ButtonAdd" class="btn-icon btn-add"><i></i></a></li>
        }
        <li><a href="javascript:void(0);" class="btn-icon btn-search" data-toggle="modal" data-target="#search-order" onclick='OpenAdvancedSearch("@ProjectSession.Resources.label.PM_TextBlockPMScheduleList","@SystemEnum.Pages.PMSchedule.GetHashCode()")' title="@ProjectSession.Resources.label.Common_ButtonAdvanceSearch"><i></i></a></li>
        <li><a href="javascript:void(0);" class="btn-icon btn-clear" title="@ProjectSession.Resources.label.Common_ButtonClear" onclick="return ClearAdvencedSearch(@SystemEnum.Pages.PMSchedule.GetHashCode());"><i></i></a></li>
        <li><a href="javascript:void(0);" class="btn-icon btn-refresh" onclick="ReBindKendoGrid('PMScheduleGrid');" title="@ProjectSession.Resources.label.Common_ButtonRefreshGrid"><i></i></a></li>
        @if (ProjectSession.PermissionAccess.Preventive_TimeSchedules_Export)
        {
            <li><a href="javascript:void(0);" class="btn-icon btn-xsl" onclick="ExportToExcelAsset('PMScheduleGrid','PMID');" title="@ProjectSession.Resources.label.Common_ButtonExportToExcel"><i></i></a></li>
        }

    </ul>
</div>

<!-- Kendo Grid-->
<div id="AssetData" class="@ProjectSession.CultureKendoClass">
    @(Html.Kendo().Grid<CMMS.Model.PmSchedule>()
        .Name("PMScheduleGrid")
            //.HtmlAttributes(new { @class = "kl-grid" })
        .Columns(columns =>
        {
            columns.Bound(c => c.PMNo).Title(ProjectSession.Resources.label.PM_TextBlockPMNo).Width(150).Locked(true);
            columns.Bound(c => c.PMName).Title(ProjectSession.Resources.label.PM_TextBlockPMName).Width(200);
            columns.Bound(c => c.AltPMName).HtmlAttributes(new { @class = "text-right" }).Title(ProjectSession.Resources.label.PM_TextBlockAltPMName).Width(200);
            columns.Bound(c => c.PMActive).HtmlAttributes(new { @class = "text-center" }).ClientTemplate("<span class='#= PMActive ? 'active-icon' : 'inactive-icon' #' title='#= PMActive ? 'Active' : 'Not Active' #'></span>").Title(ProjectSession.Resources.label.PM_RadioButtonPMActive).Width(110)
            .Filterable(ftb => ftb.Multi(true).ItemTemplate("itemTemplateForPMActive").CheckAll(false).BindTo(new[]{
                        new { PMActive = 1 },
                        new { PMActive = 0 }
                }));
            columns.Bound(c => c.PMType).Title(ProjectSession.Resources.label.PMSchedule_TextBlockPMType).Width(200);
            columns.Bound(c => c.ChecklistNo).Title(ProjectSession.Resources.label.PM_TextBlockCheckListNumber).Width(150);

            if (Lang)
                columns.Bound(c => c.CheckListName).Title(ProjectSession.Resources.label.PMChecklist_TextBlockPMChecklistDesc).Width(200);
            else
                columns.Bound(c => c.AltCheckListName).Title(ProjectSession.Resources.label.PMChecklist_TextBlockArabicPMChecklistDesc).Width(200);

            columns.Bound(c => c.L2Code).Title(ProjectSession.Resources.label.JobRequest_TextBlockCityCode).Width(150)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterSite", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

            if (ProjectSession.IsAreaFieldsVisible)
            {
                columns.Bound(c => c.L3No).Title(ProjectSession.Resources.label.Area_TextBlockAreaCode).Width(150)
                 .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterArea", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

                if (Lang)
                    columns.Bound(c => c.L3Desc).Title(ProjectSession.Resources.label.JobRequest_TextBlockAreaDescription).Width(150);
                else
                    columns.Bound(c => c.L3AltDesc).Title(ProjectSession.Resources.label.Area_TextBlockAltAreaDescription).Width(150);
            }

            columns.Bound(c => c.L4No).Title(ProjectSession.Resources.label.JobRequest_TextBlockStreetCode).Width(150)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterZone", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

            if (Lang)
                columns.Bound(c => c.L4Description).Title(ProjectSession.Resources.label.JobRequest_TextBlockStreetDescription).Width(170);
            else
                columns.Bound(c => c.L4AltDescription).Title(ProjectSession.Resources.label.Cleaning_TextBlockAltStreetDescription).Width(170);

            columns.Bound(c => c.L5No).Title(ProjectSession.Resources.label.Building_TextBlockBuildingCode).Width(150)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterBuilding", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

            if (Lang)
                columns.Bound(c => c.L5Description).Title(ProjectSession.Resources.label.JobRequest_TextBlockBuildingDescription).Width(170);
            else
                columns.Bound(c => c.L5AltDescription).Title(ProjectSession.Resources.label.Cleaning_TextBlockAltBuildingDescription).Width(170);

            columns.Bound(c => c.LocationNo).Title(ProjectSession.Resources.label.Location_TextBlockLocationNo).Width(150)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterLocation", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

            if (Lang)
                columns.Bound(c => c.LocationDescription).Title(ProjectSession.Resources.label.Location_TextBlockLocationDescription).Width(220);
            else
                columns.Bound(c => c.LocationAltDescription).Title(ProjectSession.Resources.label.Location_TextBlockAltLocationDesc).Width(220);


            columns.Bound(c => c.AssetNumber).Title(ProjectSession.Resources.label.Asset_TextBlockAssetNO).Width(100);

            if (Lang)
                columns.Bound(c => c.AssetDescription).Title(ProjectSession.Resources.label.Asset_TextBlockAssetDescription).Width(200);
            else
                columns.Bound(c => c.AssetAltDescription).Title(ProjectSession.Resources.label.Asset_TextBlockAltAssetDescription).Width(200);


            columns.Bound(c => c.MaintDivisionCode).Title(ProjectSession.Resources.label.MaintDivision_TextBlockMaintenanceDivision).Width(170)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterMaintenanceDivision", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));
            
            columns.Bound(c => c.MaintDeptCode).Title(ProjectSession.Resources.label.MaintenanceDept_TextBlockMaintDeptCode).Width(170)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterMaintenanceDepartment", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));
            
            columns.Bound(c => c.MaintSubDeptCode).Title(ProjectSession.Resources.label.MaintenanceSubDept_TextBlockMaintSubDeptCode).Width(190)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterMaintenanceSubDepartment", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));
            if (ProjectSession.IsCMProjectFieldsVisible)
            {
                columns.Bound(c => c.ProjectNumber).Title(ProjectSession.Resources.label.Preventive_TextBlockProjectNumber).Width(150);
            }

            columns.Bound(c => c.PMID).ClientTemplate("<center>" + (ProjectSession.PermissionAccess.Preventive_TimeSchedules_Editrecords ? "<a href='" + Url.Action(Actions.GetPMScheduleByID, CMMS.Pages.Controllers.Transaction, new { area = CMMS.Pages.Areas.Transaction, timeID = "#: PMID#" }) + "' class='action' title='" + ProjectSession.Resources.label.Common_ButtonEdit + "'  style='cursor:pointer' ><i class='glyphicon glyphicon-pencil'></i></a>&nbsp;" : "")
                + "" + (ProjectSession.PermissionAccess.Preventive_TimeSchedules_Deleterecords ? "<a class='action delete-button'  href='javascript:void(0);'  class='delete-ic' data-id='#: PMID #' style='cursor:pointer'><i class='glyphicon glyphicon-trash' title='" + ProjectSession.Resources.label.Common_ButtonDelete + "' ></i></a>" : "") + "</center>")
                                            .Title("<center>" + ProjectSession.Resources.label.Common_ButtonAction + "</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Width(80).Filterable(false);


        }) 
        .Filterable()
        .Sortable(sortable => sortable.AllowUnsort(false))
        .Scrollable()
        .Excel(excel => excel.FileName("PMSchedule.xlsx").Filterable(true).AllPages(true).ProxyURL(Url.Action("Excel_Export_Save", "GridExport", new { area = string.Empty })))
        .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
        .Events(events => events.DataBound("onDataBound").ExcelExport("excelExport"))
        .DataSource(dataSource =>
         dataSource.Ajax()
        .PageSize(ProjectConfiguration.PageSize)
        .Sort(model => model.Add("PMNo").Descending())
         .Model(model =>
         {
             model.Id(p => p.PMID);
             model.Field(p => p.PMName);
         })
        .ServerOperation(true)
        .Read(read => read.Action(Actions.GetPMSchedules, Controllers.Transaction, new { area = Areas.Transaction }).Data("BindParameters").Type(HttpVerbs.Post))
        )
)

</div>

<!-- -------------search order------------- -->
<div id="search-order" class="modal fade" role="dialog">
</div>


<script type="text/javascript">
    var kendoGridId = 'PMScheduleGrid';
    var intPageID = '@SystemEnum.Pages.PMSchedule.GetHashCode()';

    function itemTemplateForPMActive(e) {
        if (e.field == "all") {
            return "<div><label><strong><input type='checkbox' /><span>#= all#</span></strong></label></div>";
        } else {
            return "<span><label><input type='checkbox' name='" + e.field + "' value='#=PMActive#'/><span>#= PMActive ? active : notActive #</span></label></span><br>"
        }
    }

    $(document).ready(function () {
        if ('@ViewBag.Message' != '' && '@ViewBag.MessageType' != '') {
            ShowMessage('@ViewBag.MessageType', '@ViewBag.Message', "#divMessage");
        }
    });

    function BindParameters() {
        return {
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };

    function onDataBound(arg) {
        gridProperPaging(this);
    }

    function onDataBound(arg) {
        confirmDeleteMsg(msgText, okText, cancelText, onConfirmCallback, confirmDirection);
        gridProperPaging(this);
    }

    function onConfirmCallback(sender) {
        var id = $(this).data("id");
        $.ajax({
            url: '@Url.Action(Actions.DeleteAsset, Controllers.Transaction, new { area = Areas.Transaction })',
            type: "POST",
            data: addRequestVerificationToken({ assetID: id }),
            dataType: "json",
            success: function (result) {
                ShowMessage(result[0], result[1], "#divMessage");
                ReBindKendoGrid("PMScheduleGrid");
            },
            error: function (xhr, ajaxOptions, thrownError) {
                showErrorMessage();
            }
        });
    }
</script>
<script>
    $("#PMScheduleGrid tbody").on("dblclick", "tr[role='row']", function (e) {
        var grid = $("#PMScheduleGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        window.location.href = '@Url.Action(Actions.GetPMScheduleByID, Controllers.Transaction, new { area = Areas.Transaction })' + '?timeID=' + model.PMID;
    });
</script>
