﻿<!DOCTYPE html>

@using DevExpress.Web.Mvc
@using DevExpress.Web.Mvc.UI
@using CMMS.Infrastructure
@using CMMS.Pages;
@using CMMS.Model;
@model DevExpress.XtraReports.UI.XtraReport
<script src="~/Scripts/DevExpress/cldr.js"></script>
<script src="~/Scripts/DevExpress/event.js"></script>
<script src="~/Scripts/DevExpress/supplemental.js"></script>
<script src="~/Scripts/DevExpress/unresolved.js"></script>
<script src="~/Scripts/DevExpress/globalize.js"></script>
<script src="~/Scripts/DevExpress/message.js"></script>
<script src="~/Scripts/DevExpress/number.js"></script>
<script src="~/Scripts/DevExpress/currency.js"></script>
<script src="~/Scripts/DevExpress/date.js"></script>
<script src="~/Scripts/DevExpress/knockout-3.4.1.js"></script>
@Html.DevExpress().GetStyleSheets(
new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
new StyleSheet { ExtensionSuite = ExtensionSuite.Editors },
new StyleSheet { ExtensionSuite = ExtensionSuite.Report }
)
@Html.DevExpress().GetScripts(
new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
new Script { ExtensionSuite = ExtensionSuite.Editors },
new Script { ExtensionSuite = ExtensionSuite.Report }
)

@Html.DevExpress().WebDocumentViewer(settings =>
{
    settings.Name = "WebDocumentViewer";
    
}).Bind(Model).GetHtml()

<script src="~/Scripts/JobOrder.js"></script>

<script type="text/javascript">
    $(document).ready(function () {      
        var IsPMAttachment ='@Request.QueryString["IsPMAttachment"]';
        var workOrderNO ='@Request.QueryString["workOrderNo"]';

        if (IsPMAttachment == '') {
            $("#divAttachments").hide();
            $("#divParentAttachment").hide();
        }
        else {
            $.ajax({
                url: '@Url.Action("GetAttachment", Controllers.Transaction, new { area = Areas.Transaction })',
                type: "POST",
                data: addRequestVerificationToken({ IsPMAttachment: IsPMAttachment, workOrderNO: workOrderNO }),
                dataType: "json",
                success: function (result) {                    
                    var strAttachment = "";
                    if (result != null) {
                        for (var i = 0; i < result.length; i++) {
                            strAttachment = strAttachment + '<a class="action" href="javascript:Downloadattachment2(' + result[i].AutoId + ');">' + result[i].FileName + '</a><br/>'
                        }
                    }                    
                    $("#divAttachments").html(strAttachment);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    $("#divAttachments").hide();
                }
            });
        }
    });


    function Downloadattachment2(autoID) {
        window.open('@Url.Action(Actions.DownloadAttachment, Controllers.Transaction, new { @area = Areas.Transaction })?autoID=' + autoID, '_blank');
        }

</script>

<div id="divParentAttachment">
    <br />Please Download the attacted File and Print<br/><br />
    <div id="divAttachments"></div>
</div>
