﻿@using CMMS.Infrastructure;
@using CMMS.Pages;
@using CMMS.Model
@using CMMS.Service
@{
    ViewBag.Title = "PurchaseRequestList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.AntiForgeryToken()
<div class="head1">
    <h1>@ProjectSession.Resources.label.Purchasing_TextBlockPurchaseRequestList</h1>
    <ul class="sub_btn">
        @if (ProjectSession.PermissionAccess.Purchasing_PurchaseRequest_Createnewrecords) 
        {
            <li>
                <a href="@Url.Action(Actions.GetPurchaseRequestPage, Controllers.Transaction, new { area = Areas.Transaction, id = 0 })" title="@ProjectSession.Resources.label.Common_ButtonAdd" class="btn-icon btn-add"><i></i></a>
            </li>
        }
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-search" data-toggle="modal" data-target="#search-order" onclick='OpenAdvancedSearch("@ProjectSession.Resources.label.Purchasing_TextBlockPurchaseRequestList" ,"@SystemEnum.Pages.PurchaseRequest.GetHashCode()")' title="@ProjectSession.Resources.label.Common_ButtonAdvanceSearch"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-clear" title="@ProjectSession.Resources.label.Common_ButtonClear" onclick="return ClearAdvencedSearch(@SystemEnum.Pages.PurchaseRequest.GetHashCode());"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-refresh" onclick="ReBindKendoGrid('purchaseRequestGrid');" title="@ProjectSession.Resources.label.Common_ButtonRefreshGrid"><i></i></a>
        </li>
        @if (ProjectSession.PermissionAccess.Purchasing_PurchaseRequest_Export)
        {
            <li>
                <a href="javascript:void(0);" class="btn-icon btn-xsl" onclick="ExportToExcel('purchaseRequestGrid', 'Id');" title="@ProjectSession.Resources.label.Common_ButtonExportToExcel"><i></i></a>
            </li>
        }
    </ul>
</div>

<!-- Kendo Grid-->
<div id="employeeData" class="@ProjectSession.CultureKendoClass">
    @(Html.Kendo().Grid<CMMS.Model.PurchaseRequest>()
        .Name("purchaseRequestGrid")
        .Columns(columns =>
        {
            columns.Bound(c => c.PurchaseRequestID).Title(ProjectSession.Resources.label.Purchasing_TextBlockPurchaseRequestNo).Width(190).Locked(true);

            columns.Bound(c => c.L2Code).Title(ProjectSession.Resources.label.JobRequest_TextBlockCityCode).Width(150)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterSite", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

            columns.Bound(c => c.L2name).Title(ProjectSession.Resources.label.JobRequest_TextBlockCity).Visible(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true).Width(200);
            columns.Bound(c => c.L2Altname).Title(ProjectSession.Resources.label.City_TextBlockAltCityDesc).Visible(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? true : false).Width(200);

            columns.Bound(c => c.SectorName).Title(ProjectSession.Resources.label.Asset_TextBlockSector).Visible(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true).Width(200);
            columns.Bound(c => c.SectorAltName).Title(ProjectSession.Resources.label.Purchasing_TextBlockAltSector).Visible(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? true : false).Width(200);

            columns.Bound(c => c.CreatedDate).ClientTemplate("#= DateTemplate(data.CreatedDate) #").Title(ProjectSession.Resources.label.ItemRequisition_TextBlockCreatedDate).Width(150);

            columns.Bound(c => c.status_desc).Title(ProjectSession.Resources.label.Purchasing_TextBlockOrderStatus).Visible(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true).Width(150)
                .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterPurchaseReqStatus", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));
            columns.Bound(c => c.altstatus_desc).Title(ProjectSession.Resources.label.Purchasing_TextBlockAltOrderStatus).Visible(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? true : false).Width(150);


            columns.Bound(c => c.auth_status_desc).Title(ProjectSession.Resources.label.Purchasing_TextBlockApprovalStatus).Visible(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true).Width(150)
                .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterPRStatus", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));
            columns.Bound(c => c.Altauth_status_desc).Title(ProjectSession.Resources.label.Purchasing_TextBlockAltApprovalStatus).Visible(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? true : false).Width(150);

            columns.Bound(c => c.MaintDivisionCode).Title(ProjectSession.Resources.label.MaintDivision_TextBlockMaintDivision).Width(150)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterMaintenanceDivision", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

            columns.Bound(c => c.MaintDeptCode).Title(ProjectSession.Resources.label.MaintenanceDept_TextBlockMaintDept).Width(150)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterMaintenanceDepartment", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

            columns.Bound(c => c.MaintSubDeptCode).Title(ProjectSession.Resources.label.MaintenanceSubDept_TextBlockMaintSubDept).Width(180)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterMaintenanceSubDepartment", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

            columns.Bound(c => c.ProjectNumber).Title(ProjectSession.Resources.label.Preventive_TextBlockProjectNumber).Width(150).Visible(ProjectSession.IsCMProjectFieldsVisible);

            columns.Bound(c => c.Id).ClientTemplate("<center><a class='action'  style='cursor:pointer' href='" + Url.Action(Actions.GetPurchaseRequestPage, Controllers.Transaction, new { area = Areas.Transaction, id = "#: Id#" }) + "' ><i class='glyphicon glyphicon-pencil'></i></a></center>")
                                       .Title("<center>Action</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Width(60).Filterable(false).Visible(ProjectSession.PermissionAccess.Purchasing_PurchaseRequest_Editrecords);

        }) 
        .Filterable()
        .Sortable(sortable => sortable.AllowUnsort(false))
        .Scrollable()
        .Excel(excel => excel.FileName(ProjectSession.Resources.label.Purchasing_TextBlockPurchaseRequestList + ".xlsx").Filterable(true).AllPages(true).ProxyURL(Url.Action("Excel_Export_Save", "GridExport", new { area = string.Empty })))
        .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
        .Events(events => events.DataBound("onDataBound").ExcelExport("excelExport"))
        .DataSource(dataSource =>
        dataSource.Ajax()
        .PageSize(ProjectConfiguration.PageSize)
        .Model(model =>
        {
            model.Id(p => p.PurchaseRequestID);
            model.Field(p => p.Name);
        })
        .ServerOperation(true)
        .Read(read => read.Action(Actions.GetPurchaseRequest, Controllers.Transaction, new { area = Areas.Transaction }).Data("BindParameters").Type(HttpVerbs.Post))
        )
    )


</div>

<!-- -------------search order------------- -->
<div id="search-order" class="modal fade" role="dialog"></div>

<script type="text/javascript">
    var kendoGridId = 'purchaseRequestGrid';
    var intPageID = '@SystemEnum.Pages.PurchaseRequest.GetHashCode()';

    $(document).ready(function () {
        if ('@ViewBag.Message' != '' && '@ViewBag.MessageType' != '') {
            ShowMessage('@ViewBag.MessageType', '@ViewBag.Message', "#divMessage");
        }
    });

    function BindParameters() {
        return {
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };

    function onDataBound(arg) {
        gridProperPaging(this);
    }

    $("#purchaseRequestGrid tbody").on("dblclick", "tr[role='row']", function (e) {
        var grid = $("#purchaseRequestGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        location.href = '@Url.Action(Actions.GetPurchaseRequestPage, Controllers.Transaction, new { area = Areas.Transaction })' + '?id=' + model.Id;
    });
</script> 