﻿@model CMMS.Model.ReadingSchedule
@using CMMS.Infrastructure;
@using CMMS.Pages;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool Lang = ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true;
}

@Html.AntiForgeryToken()
<script type="text/javascript" src="~/Scripts/jquery.form.js"></script>
<script type="text/javascript">
    function onCityDataBound() {
        ReBindKendoGrid("ReadingScheduleListGrid");
    }

    function onExportCityDataBound() {
    }
</script>
<div class="head1">
    <h1>
        @ProjectSession.Resources.label.PM_TextBlockReadings
    </h1>
    <ul class="sub_btn">
        <li><a href="javascript:void(0);" class="btn btn-primary glyphicon glyphicon-export icon-white" data-toggle="modal" data-target="#ExportReadingModal" data-backdrop="static"  title='@ProjectSession.Resources.label.Common_TextBlockExportData'>@ProjectSession.Resources.label.Common_TextBlockExportData<i></i></a></li>
        <li><a href="javascript:void(0);" class="btn btn-primary glyphicon glyphicon-export icon-white" data-toggle="modal" data-target="#ImportReadingModal" data-backdrop="static"  title='@ProjectSession.Resources.label.Common_TextBlockImportData'>@ProjectSession.Resources.label.Common_TextBlockImportData<i></i></a></li>
    </ul>
</div>

<div>
    <div class="box edit-job-order">
        <div class="nav-tabs-horizontal">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#tb1" aria-controls="tb1">@ProjectSession.Resources.label.PM_TextBlockReadings</a></li>
                <li><a data-toggle="tab" href="#tb2" aria-controls="tb2" onclick="RebindHistoryTab();">@ProjectSession.Resources.label.Reading_TextBlockHistory</a></li>
                <li><a data-toggle="tab" href="#tb3" aria-controls="tb3">@ProjectSession.Resources.label.Reading_TextBlockGraph</a></li>
                <li id="litb4"><a data-toggle="tab" href="#tb4" aria-controls="tb4" class="tb4">Import Data</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tb1">
                    <div class="information-form  cus-form">
                        <input id="hndCityID" name="CityID" type="hidden" value="0" />
                        <input id="hndMeterMasterID" name="MeterMasterID" type="hidden" value="0" />
                        <h3 class="sub-title">
                            <span>@ProjectSession.Resources.label.PM_TextBlockReadings</span>
                        </h3>

                        <div class="row">
                            <div class="col-lg-4 col-md-6">
                                <div class="form-group ">
                                    <label class="form-label">@ProjectSession.Resources.label.JobRequest_TextBlockCity<span class="cfont">*</span></label>
                                    <div class="@ProjectSession.CultureKendoClass">
                                        @(Html.Kendo().DropDownListFor(model => model.L2ID)
                                                .Name("ddlCity")
                                                //.OptionLabel(ProjectSession.Resources.label.Common_Select)
                            .DataTextField("L2Code")
                            .ValueTemplate(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "#:L2Code # -- #: L2Altname # " : "#:L2Code # -- #: L2name #")
                            .DataValueField("L2ID")
                            .Events(e =>
                            {
                                e.Change("onCityChange").DataBound("onCityDataBound");
                            })
                            .HtmlAttributes(new { style = "width: 100%", @required = "required" })
                            .Template("#= KendoDDLTemplate( data.L2Code, data.L2name,data.L2Altname) #")
                            .DataSource(source =>
                            {
                                if (ProjectSession.IsCentral)
                                {
                                    source.Read(read =>
                                    {
                                        read.Action(Actions.GetAllCities, Controllers.Configurations, new { area = Areas.Configurations, cityID = Model.L2ID });
                                    });
                                }
                                else
                                {
                                    source.Read(read =>
                                    {
                                        read.Action(Actions.GetCitiesByEmployee, Controllers.Configurations, new { area = Areas.Configurations, cityID = Model.L2ID });
                                    });
                                }
                            })
                            .Value(Convert.ToString(Model.L2ID))
                                        )
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <div class="form-group two-form-group">
                                    <label class="form-label">@ProjectSession.Resources.label.PM_TextBlockMeterNo<span class="cfont">*</span></label>
                                    <div class="input-group pm-checklist">
                                        <input type="text" id="txtPMMeterMasterNo" class="form-control code-input PMMeterMasterCommon" disabled="disabled" placeholder="@ProjectSession.Resources.label.PM_TextBlockMeterNo" />
                                        @*<input type="text" id="txtMeterDescription" class="form-control PMMeterMasterCommon" disabled="disabled" placeholder="@ProjectSession.Resources.label.PM_TextBlockMeterDesc" />*@

                                        @(Html.Kendo().AutoComplete().Name("MeterMaster")
                                    .DataTextField(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "AltMeterDescription" : "MeterDescription")
                                    .HtmlAttributes(new { @class = "form-control PMMeterMasterCommon", @id = "txtMeterDescription" })
                                    .Filter("contains")
                                    .Template("#= KendoDDLTemplate( '', data.MeterNo, data.MeterDescription) #")
                                    .MinLength(3)
                                            .Placeholder(ProjectSession.Resources.label.PM_TextBlockMeterDesc)
                                    .Events(m => m.Select("onMaterMasterAutoSelect"))
                                    .DataSource(source =>
                                     {
                                         source.Read(read =>
                                         {
                                             read.Action(CMMS.Pages.Actions.GetPMMeterMasterListByCityAutoDDL, CMMS.Pages.Controllers.AutoComplete, new { area = CMMS.Pages.Areas.Configurations }).Data("onMeterMasterAdditionalData");
                                         })
                                     .ServerFiltering(true);
                                     })
                                        )

                                        <a href="#" class="checklis-btn" data-toggle="modal" data-backdrop="static" onclick="OpenPMMeterMasterPopUp()">
                                            <img src="../images/checklis-icon.png" alt="">
                                        </a>
                                        <a href="javascript:void(0);" class="close-btn" id="btnClearLocation" title="@ProjectSession.Resources.label.Common_ButtonClear" onclick="clearAssetPopUpForPMMeter();">
                                            <img src="../images/close.png" alt="">
                                        </a>
                                        @*<input type="text" id="txtAltMeterDescription" class="form-control code-input PMMeterMasterCommon" disabled="disabled" placeholder= "@ProjectSession.Resources.label.Asset_TextBlockAltAssetDescription"/>*@
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <div class="form-group ">
                                    <label class="form-label">@ProjectSession.Resources.label.PM_TextBlockReadingDate<span class="cfont">*</span></label>
                                    <div class="input-group date-pick">
                                        @Html.TextBoxFor(model => model.TempReadingDate, new { @class = "form-control calendarsPicker", @id = "txtTab1ReadingDate", @Placeholder = @ProjectSession.Resources.label.PM_TextBlockReadingDate, @required = "required" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-lg-4">
                                <div class="form-group ">
                                    <label class="form-label">Reading Time<span class="cfont">*</span></label>
                                    <div>
                                        @(Html.Kendo().TimePickerFor(model => model.ReadingDate)
                                      .Value("12:00 AM")
                                      .Min("12:00 AM")
                                      .Max("11:00 PM")
                                      .Interval(60)
                                      .HtmlAttributes(new { style = "width: 100%", @id = "ddlReadingTime", @onkeydown = "return false" })
                                        )
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <div class="form-group ">
                                    <label class="form-label">@ProjectSession.Resources.label.PM_TextBlockCurrentReading<span class="cfont">*</span></label>
                                    <div>
                                        <input type="text" id="txtTab1CurrentReading" class="form-control decimalnumber" maxlength="7" placeholder='@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.PM_TextBlockCurrentReading' required="required" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group two-form-group col-md-6 col-lg-4">

                                <label class="form-label">&nbsp;</label>
                                <div>
                                    <button class="btn btn-primary" id="btnSave1" name="btnSave" type="button" onclick="addReadings();"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-6 col-lg-3">
                                <div class="form-group ">
                                    <label class="form-label">@ProjectSession.Resources.label.PM_TextBlockMeterUnits</label>
                                    <div>
                                        <input type="text" class="form-control PMMeterMasterCommon" id="txtTab1MeterUnit" required="required" placeholder='@ProjectSession.Resources.label.PM_TextBlockMeterUnits' disabled="disabled" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <div class="form-group ">
                                    <label class="form-label">meter status</label>
                                    <div>
                                        <input type="text" class="form-control PMMeterMasterCommon" id="txtTab1MeterStatus" placeholder='@ProjectSession.Resources.label.PM_TextBlockMeterType' disabled="disabled" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <div class="form-group ">
                                    <label class="form-label">@ProjectSession.Resources.label.PM_TextBlockMeterType</label>
                                    <div>
                                        <input type="text" class="form-control PMMeterMasterCommon" id="txtTab1MeterType" placeholder='@ProjectSession.Resources.label.PM_TextBlockMeterType' disabled="disabled" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <div class="form-group two-form-group">
                                    <label class="form-label">@ProjectSession.Resources.label.Asset_TextBlockAssetNO</label>
                                    <div class="input-group pm-checklist">
                                        <input type="text" class="form-control code-input PMMeterMasterCommon" id="txtTab1AssetNO" placeholder='@ProjectSession.Resources.label.Asset_TextBlockAssetNO' disabled="disabled" />
                                        <input type="text" class="form-control PMMeterMasterCommon" id="txtTab1AssetDescription" placeholder='@ProjectSession.Resources.label.Asset_TextBlockAssetDescription' disabled="disabled" />
                                        @*<input type="text" class="form-control PMMeterMasterCommon" id="txtTab1AltAssetDescription" placeholder='@ProjectSession.Resources.label.Asset_TextBlockAltAssetDescription' disabled="disabled" />*@
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr />
                        <div class="row">
                            <div class="col-md-6 col-lg-4">
                                <div class="form-group ">
                                    <label class="form-label">@ProjectSession.Resources.label.PMReading_TextBlockLastJONo</label>
                                    <div>
                                        <input type="text" class="form-control PMMeterMasterCommon" id="txtTab1LastJONo" placeholder='@ProjectSession.Resources.label.PMReading_TextBlockLastJONo' disabled="disabled" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <div class="form-group ">
                                    <label class="form-label">@ProjectSession.Resources.menu.JobStatus_MenuJobStatus</label>
                                    <div>
                                        <input type="text" class="form-control PMMeterMasterCommon" id="txtTab1JoStatus" placeholder='@ProjectSession.Resources.menu.JobStatus_MenuJobStatus' disabled="disabled" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <div class="form-group ">
                                    <label class="form-label">@ProjectSession.Resources.label.PMReading_TextBlockLastEnteredReading</label>
                                    <div>
                                        <input type="text" class="form-control PMMeterMasterCommon" id="txtTab1LastEnteredReading" placeholder='@ProjectSession.Resources.label.PMReading_TextBlockLastEnteredReading' disabled="disabled" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="information-form">

                        <div class="head1">
                        </div>

                        <div id="ReadingScheduleList" class="@ProjectSession.CultureKendoClass">
                            @(Html.Kendo().Grid<CMMS.Model.ReadingSchedule>()
                                    .Name("ReadingScheduleListGrid")
                                    .HtmlAttributes(new { @class = "kl-grid" })
                                    .Columns(columns =>
                                    {
                                        columns.Bound(c => c.Date).ClientTemplate("#= DateTemplate(data.Date) #").Title(ProjectSession.Resources.label.PM_TextBlockReadingDate);

                                        columns.Bound(c => c.MeterMasterNo).Title(ProjectSession.Resources.label.PM_TextBlockMeterNo);

                                        columns.Bound(c => c.MeterNo).Title(ProjectSession.Resources.label.Reading_TextBlockMeterScheduleNo).Width(180);

                                        columns.Bound(c => c.Reading).ClientTemplate("#= DecimalTempalte(data.Reading,2) #").Title(ProjectSession.Resources.label.PM_TextBlockCurrentReading);

                                        columns.Bound(c => c.LastPMDue).ClientTemplate("#= DecimalTempalte(data.LastPMDue,2) #").Title(ProjectSession.Resources.label.PM_TextBlockPMDueAt);

                                        columns.Bound(c => c.LastReading).ClientTemplate("#= DecimalTempalte(data.LastReading,2) #").Title(ProjectSession.Resources.label.PM_TextBlockLastPMReading);

                                        columns.Bound(c => c.GenStatus).Title(ProjectSession.Resources.label.Reading_TextBlockPMGeneratedStatus).Width(180);

                                        columns.Bound(c => c.PMActive).ClientTemplate("# if( PMActive == 1) { # " + SystemEnum.Status.Active + "# } else { # " + SystemEnum.Status.NotActive + "# } #").Title(ProjectSession.Resources.label.Reading_TextBlockPMActiveStaus);

                                        columns.Bound(c => c.PMType).ClientTemplate("#= ReplacePMType(data.PMType) #").Title(ProjectSession.Resources.label.PMSchedule_TextBlockPMType);

                                        columns.Bound(c => c.GenDate).ClientTemplate("#= DateTemplate(data.GenDate) #").Title(ProjectSession.Resources.label.PMJobOrder_TextBlockLastPMGeneratedDate).Width(200);

                                        //columns.Bound(c => c.ReadingScheduleID).ClientTemplate("<center>" + (ProjectSession.PermissionAccess.SetupConfiguration_Suppliers_Deleterecords ? "<a class='action delete-button' href='javascript:void(0);' class='delete-ic' data-id='#: MeterMasterID #' style='cursor:pointer'><i class='glyphicon glyphicon-trash' title='" + ProjectSession.Resources.label.Common_ButtonDelete + "'></i></a>" : "") + "</center>")
                                        //                                .Title("<center>" + ProjectSession.Resources.label.Common_ButtonAction + "</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Width(50);
                                    })
                                    .Filterable()
                                    .Sortable(sortable => sortable.AllowUnsort(false))
                                    .Scrollable()
                                                    .Excel(excel => excel.FileName("ReadingScheduleList.xlsx").Filterable(true).AllPages(true))
                                    .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
                                            .Events(events => events.DataBound("onDataBoundForReadingSchedule"))
                                    .DataSource(dataSource =>
                                    dataSource.Ajax()
                                    .PageSize(ProjectConfiguration.PageSize)
                                    .Model(model =>
                                    {
                                        model.Id(p => p.MeterNo);
                                        model.Field(p => p.MeterDescription);
                                    })
                                    .ServerOperation(true)
                                    .Read(read => read.Action(Actions.ReadingScheduleList, Controllers.Transaction, new { area = Areas.Transaction }).Data("BindParametersForReadingSchedule").Type(HttpVerbs.Post))
                                    )
                            )

                        </div>

                    </div>
                </div>

                <div class="tab-pane" id="tb2">
                    <div class="information-form">
                        <h3 class="sub-title">
                            <span>@ProjectSession.Resources.label.Reading_TextBlockHistory</span>
                        </h3>

                        @*<form name="frmPMMeterReading" id="frmPMMeterReading">

                                <div class="information-form">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group ">
                                                <label class="form-label">@ProjectSession.Resources.label.</label>
                                                <div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group ">
                                                <label class="form-label">@ProjectSession.Resources.label.</label>
                                                <div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group ">
                                                <label class="form-label">@ProjectSession.Resources.label.<span class="cfont">*</span></label>
                                                <div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            @if ((ProjectSession.PermissionAccess.Preventive_MeterSchedules_Createnewrecords) || (ProjectSession.PermissionAccess.Preventive_MeterSchedules_Editrecords))
                                            {
                                                <button class="btn btn-primary" id="btnSave" name="btnSave" type="button" onclick="saveReadings()"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
                                            }
                                            <button class="btn btn-default" type="button" onclick="RefreshPage()"><span>@ProjectSession.Resources.label.Common_ButtonCancel</span></button>
                                        </div>
                                    </div>
                                </div>
                            </form>*@



                        <div class="@ProjectSession.CultureKendoClass">
                            @(Html.Kendo().Grid<CMMS.Model.Reading>()
                                        .Name("PMMeterReading")
                                        .HtmlAttributes(new { @class = "kl-grid" })
                                        .Columns(columns =>
                                        {
                                            columns.Bound(c => c.MeterNo).Title(ProjectSession.Resources.label.PM_TextBlockMeterNo).Width(150);

                                            columns.Bound(c => c.ReadingDate).ClientTemplate("#= DateTemplateWithTime(data.ReadingDate) #").Title(ProjectSession.Resources.label.PM_TextBlockReadingDate).Width(150);

                                            columns.Bound(c => c.CurrentReading).ClientTemplate("#= DecimalTempalte(data.CurrentReading,2) #").Title(ProjectSession.Resources.label.PM_TextBlockCurrentReading).Width(150);

                                            columns.Bound(c => c.ReadingID).ClientTemplate("<center>" + (ProjectSession.PermissionAccess.SetupConfiguration_Suppliers_Editrecords ? "<a class='action' title='" + ProjectSession.Resources.label.Common_ButtonEdit + "'  style='cursor:pointer' data-toggle='modal' data-target='\\#ReadingDetailModal' data-id='#: ReadingID #'  onclick='OpenReadingDetailEditWindow(#: ReadingID#)'><i class='glyphicon glyphicon-pencil'></i></a>&nbsp;" : "")
                                                                                                    + (ProjectSession.PermissionAccess.SetupConfiguration_Suppliers_Deleterecords ? "<a class='action delete-button' href='javascript:void(0);' class='delete-ic' data-id='#: ReadingID #' style='cursor:pointer'><i class='glyphicon glyphicon-trash' title='" + ProjectSession.Resources.label.Common_ButtonDelete + "'></i></a>" : "")
                                                                                                    + "</center>")
                                                                            .Title("<center>" + ProjectSession.Resources.label.Common_ButtonAction + "</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Width(85).Filterable(false);
                                        })
                                        .Filterable()
                                        .Sortable(sortable => sortable.AllowUnsort(false))
                                        .Scrollable()
                                                .Excel(excel => excel.FileName("PMMeterReading.xlsx").Filterable(true).AllPages(true))
                                        .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
                                        .Events(events => events.DataBound("onDataBoundForPMMeterReading"))
                                        .DataSource(dataSource =>
                                        dataSource.Ajax()
                                        .PageSize(ProjectConfiguration.PageSize)
                                        .Sort(model => model.Add("ReadingDate").Descending())
                                        .Model(model =>
                                        {
                                            model.Id(p => p.ReadingID);
                                            model.Field(p => p.MeterNo);
                                        })
                                        .ServerOperation(true)
                                                .Read(read => read.Action(Actions.GetPMMeterReadingList, Controllers.Transaction, new { area = Areas.Transaction }).Data("BindParametersForPMMeterReading").Type(HttpVerbs.Post))
                                        )
                            )


                        </div>
                    </div>
                </div>

                <div id="tb3" class="tab-pane">
                    <div class="information-form">
                        <div class="form-horizontal">
                            <div class="row">
                                <div class="col-md-8 col-lg-4">
                                    <div class="form-group">
                                        <label class="col-md-4  control-label">@ProjectSession.Resources.label.Purchasing_TextBlockFromDate</label>
                                        <div class=" col-md-8">
                                            <div class="input-group date-pick">
                                                @Html.TextBox("txtFromDate", DateTime.Now.AddMonths(-1), "{0:" + ProjectConfiguration.DefaultDateFormat + "}", new { placeholder = ProjectConfiguration.DefaultDateFormat, @class = "form-control calendarsPicker", id = "txtFromDate" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-8 col-lg-4">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">@ProjectSession.Resources.label.Purchasing_TextBlockToDate</label>
                                        <div class="col-md-8">
                                            <div class="input-group date-pick">
                                                @Html.TextBox("txtToDate", DateTime.Now, "{0:" + ProjectConfiguration.DefaultDateFormat + "}", new { placeholder = ProjectConfiguration.DefaultDateFormat, @class = "form-control calendarsPicker", id = "txtToDate" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-8 col-lg-4">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <button type="button" class="btn bg-primary" id="btnViewChart">@ProjectSession.Resources.label.Common_TextBlockViewChart</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="information-form">
                        <div id="dvChart"></div>
                    </div>
                </div>

                <div id="tb4" class="tab-pane tb4">
                    <div class="information-form">
                        <div id="ErrorData"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="ReadingDetailModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-mg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"></button>
                <h4 class="modal-title">@ProjectSession.Resources.label.PM_TextBlockReadings</h4>
            </div>
            <form role="form">
                <div class="modal-body">
                    <div id="Highlights" class="tab-pane active" role="tabpanel">
                        <div class="form-horizontal">
                            <div id="divModelError"></div>
                            <input id="hndReadingID" name="ReadingID" type="hidden" value="0" />
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.PM_TextBlockMeterNo<span class="cfont">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" id="txtMeterNo" class="form-control" disabled="disabled" placeholder='@ProjectSession.Resources.label.PM_TextBlockMeterNo' />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.PM_TextBlockReadingDate<span class="cfont">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" id="txtReadingDate" class="form-control" disabled="disabled" placeholder='@ProjectSession.Resources.label.PM_TextBlockReadingDate' />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.PM_TextBlockCurrentReading<span class="cfont">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" id="txtCurrentReading" class="form-control decimalnumber" maxlength="8" placeholder='@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.PM_TextBlockCurrentReading' required="required" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer box-footer">
                    @if ((ProjectSession.PermissionAccess.Preventive_MeterSchedules_Createnewrecords) || (ProjectSession.PermissionAccess.Preventive_MeterSchedules_Editrecords))
                    {
                        <button class="btn btn-primary" id="btnSave" name="btnSave" type="button" onclick="saveReadings()"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
                    }
                    <button type="button" class="btn btn-default" data-dismiss="modal">@ProjectSession.Resources.label.Common_ButtonClose</button>
                </div>
            </form>
        </div>

    </div>
</div>

<!-- -------------MeterMasterList Model------------- -->
<div id="PMMeterMasterList" class="modal fade" role="dialog">

    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" title="@ProjectSession.Resources.label.Common_ButtonClose"></button>
                <h4 class="modal-title">@ProjectSession.Resources.label.Reading_TextBlockMeterMasterList</h4>
            </div>
            <div class="modal-body">
                <div class="tab-pane active" role="tabpanel">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-12">

                                <div id="pmmetermasterlist" class="@ProjectSession.CultureKendoClass">
                                    @(Html.Kendo().Grid<CMMS.Model.PMMeterMaster>()
                                            .Name("PMMeterMasterListGrid")
                                            .HtmlAttributes(new { @class = "kl-grid" })
                                            .Columns(columns =>
                                            {
                                                columns.Bound(c => c.MeterNo).Title(ProjectSession.Resources.label.PM_TextBlockMeterNo).Width(150);

                                                columns.Bound(c => c.MeterDescription).Title(ProjectSession.Resources.label.PM_TextBlockMeterDesc).Width(200);

                                                columns.Bound(c => c.AltMeterDescription).Title(ProjectSession.Resources.label.PM_TextBlockAltMeterDesc).HtmlAttributes(new { @class = "text-right" }).Width(200);

                                                columns.Bound(c => c.MeterType).Title(ProjectSession.Resources.label.PM_TextBlockMeterType).Width(200);

                                                columns.Bound(c => c.MeterUnit).Title(ProjectSession.Resources.label.PM_TextBlockMeterUnits).Width(150);

                                                columns.Bound(c => c.LastReading).Title(ProjectSession.Resources.label.PMReading_TextBlockLastEnteredReading).Width(180);

                                                columns.Bound(c => c.AssetNumber).Title(ProjectSession.Resources.label.Asset_TextBlockAssetNO).Width(150);

                                                columns.Bound(c => c.AssetDescription).Title(ProjectSession.Resources.label.Asset_TextBlockAssetDescription).Width(200);

                                                columns.Bound(c => c.AssetAltDescription).Title(ProjectSession.Resources.label.Asset_TextBlockAltAssetDescription).HtmlAttributes(new { @class = "text-right" }).Width(200);

                                                columns.Bound(c => c.LocationNo).Title(ProjectSession.Resources.label.Location_TextBlockLocationNo).Width(150)
                                                .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterLocation", "GridFilter", new { area = string.Empty }).Data("BindParametersForPMMaster").Type(HttpVerbs.Post))));

                                                columns.Bound(c => c.LocationDescription).Title(ProjectSession.Resources.label.Location_TextBlockLocationDescription).Visible(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true).Width(250);
                                                columns.Bound(c => c.LocationAltDescription).Title(ProjectSession.Resources.label.Location_TextBlockAltLocationDescription).Visible(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? true : false).Width(250);

                                                columns.Bound(c => c.L5No).Title(ProjectSession.Resources.label.Building_TextBlockBuildingNo).Width(150)
                                                .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterBuilding", "GridFilter", new { area = string.Empty }).Data("BindParametersForPMMaster").Type(HttpVerbs.Post))));

                                                columns.Bound(c => c.L5Description).Title(ProjectSession.Resources.label.Building_TextBlockBuildingDesc).Visible(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true).Width(170);
                                                columns.Bound(c => c.L5AltDescription).Title(ProjectSession.Resources.label.Building_TextBlockAltBuildingDesc).Visible(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? true : false).Width(150);

                                                columns.Bound(c => c.L4No).Title(ProjectSession.Resources.label.Street_TextBlockStreetCode).Width(150)
                                                .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterZone", "GridFilter", new { area = string.Empty }).Data("BindParametersForPMMaster").Type(HttpVerbs.Post))));

                                                columns.Bound(c => c.L4Description).Title(ProjectSession.Resources.label.Street_TextBlockStreetDesc).Visible(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true).Width(170);
                                                columns.Bound(c => c.L4AltDescription).Title(ProjectSession.Resources.label.Street_TextBlockAltStreetDesc).Visible(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? true : false).Width(170);

                                                columns.Bound(c => c.L3No).Title(ProjectSession.Resources.label.Area_TextBlockAreaCode).Width(150).Visible(ProjectSession.IsAreaFieldsVisible)
                                                .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterArea", "GridFilter", new { area = string.Empty }).Data("BindParametersForPMMaster").Type(HttpVerbs.Post))));

                                                columns.Bound(c => c.L3Desc).Title(ProjectSession.Resources.label.Area_TextBlockAreaDesc).Visible(ProjectSession.IsAreaFieldsVisible && ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true).Width(150);

                                                columns.Bound(c => c.L3AltDesc).Title(ProjectSession.Resources.label.Area_TextBlockAltAreaDescription).Visible(ProjectSession.IsAreaFieldsVisible && ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? true : false).Width(150);

                                                columns.Bound(c => c.L2Code).Title(ProjectSession.Resources.label.JobRequest_TextBlockCityCode).Width(150)
                                                .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterSite", "GridFilter", new { area = string.Empty }).Data("BindParametersForPMMaster").Type(HttpVerbs.Post))));

                                                columns.Bound(c => c.L2name).Title(ProjectSession.Resources.label.City_TextBlockCityDesc).Visible(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true).Width(200);

                                                columns.Bound(c => c.L2Altname).Title(ProjectSession.Resources.label.City_TextBlockAltCityDesc).Visible(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? true : false).Width(200);

                                                columns.Bound(c => c.Active).ClientTemplate("#= Active ? 'Yes' : 'No' #").Title(ProjectSession.Resources.label.PM_TextBlockActive).Width(100)
                                                 .Filterable(ftb => ftb.Multi(true).ItemTemplate("itemTemplateForActive").CheckAll(false).BindTo(new[]{
                                                        new { Active = true },
                                                        new { Active = false }
                                                }));

                                            })
                                            .Filterable()
                                            .Sortable(sortable => sortable.AllowUnsort(false))
                                            .Scrollable()
                                            .Excel(excel => excel.FileName("PMMeterMasterList.xlsx").Filterable(true).AllPages(true))
                                            .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
                                            .Events(events => events.DataBound("onDataBoundForPMMaster"))
                                            .DataSource(dataSource =>
                                            dataSource.Ajax()
                                            .PageSize(ProjectConfiguration.PageSize)
                                            .Model(model =>
                                            {
                                                model.Id(p => p.MeterMasterID);
                                                model.Field(p => p.MeterNo);
                                            })
                                            .ServerOperation(true)
                                            .Read(read => read.Action(Actions.GetPMMeterMasterListByCity, Controllers.Transaction, new { area = Areas.Transaction }).Data("BindParametersForPMMaster").Type(HttpVerbs.Post))
                                            )
                                    )

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- -------------Export Data------------- -->
<div id="ExportReadingModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-mg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"></button>
                <h4 class="modal-title">@ProjectSession.Resources.label.PM_TextBlockReadings</h4>
            </div>
            <form role="form">
                <div class="modal-body">
                    <div class="tab-pane active" role="tabpanel">
                        <div class="form-horizontal">
                            <div id="divExportModelError"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">@ProjectSession.Resources.label.JobRequest_TextBlockCity<span class="cfont">*</span></label>
                                <div class="col-sm-10">
                                    <div class="@ProjectSession.CultureKendoClass">
                                        @(Html.Kendo().DropDownListFor(model => model.L2ID)
                                                .Name("ddlExportCity")
                                                //.OptionLabel(ProjectSession.Resources.label.Common_Select)
                            .DataTextField("L2Code")
                            .ValueTemplate(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "#:L2Code # -- #: L2Altname # " : "#:L2Code # -- #: L2name #")
                            .DataValueField("L2ID")
                            .Events(e =>
                            {
                                e.DataBound("onExportCityDataBound");
                            })
                            .HtmlAttributes(new { style = "width: 100%", @required = "required" })
                            .Template("#= KendoDDLTemplate( data.L2Code, data.L2name,data.L2Altname) #")
                            .DataSource(source =>
                            {
                                if (ProjectSession.IsCentral)
                                {
                                    source.Read(read =>
                                    {
                                        read.Action(Actions.GetAllCities, Controllers.Configurations, new { area = Areas.Configurations, cityID = Model.L2ID });
                                    });
                                }
                                else
                                {
                                    source.Read(read =>
                                    {
                                        read.Action(Actions.GetCitiesByEmployee, Controllers.Configurations, new { area = Areas.Configurations, cityID = Model.L2ID });
                                    });
                                }
                            })
                            .Value(Convert.ToString(Model.L2ID))
                                        )
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer box-footer">

                    <button type="button" class="btn btn-primary" onclick="ExportReading();" id="btnExportData"><span>@ProjectSession.Resources.label.Common_TextBlockExportData</span></button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">@ProjectSession.Resources.label.Common_ButtonClose</button>
                </div>
            </form>
        </div>

    </div>
</div>

<!-- -------------Import Data------------- -->
<div id="ImportReadingModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-mg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"></button>
                <h4 class="modal-title">@ProjectSession.Resources.label.PM_TextBlockReadings</h4>
            </div>
            @using (Html.BeginForm("ImportReading", Controllers.Transaction, FormMethod.Post, new { @id = "FormImportReading", enctype = "multipart/form-data", @role = "form" }))
            {
                <div class="modal-body">
                    <div class="tab-pane active" role="tabpanel">
                        <div class="form-horizontal">
                            <div id="divImportModelError"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">@ProjectSession.Resources.label.PMChecklist_RadTabItemAttachment<span class="cfont">*</span></label>
                                <div class="col-sm-10">
                                    @(Html.Kendo().Upload().Name("EmployeeDocumentfiles").HtmlAttributes(new { id = "EmpDocumentfiles", accept = ".xls,.xlsx" }).Multiple(false))
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer box-footer">

                    <button type="submit" class="btn btn-primary" id="btnImportData"><span>@ProjectSession.Resources.label.Common_TextBlockImportData</span></button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">@ProjectSession.Resources.label.Common_ButtonClose</button>
                </div>               
            }
        </div>

    </div>
</div>

<script type="text/javascript">

    var intPageID = '@SystemEnum.Pages.PMMeterReadingList.GetHashCode()';

    function itemTemplateForActive(e) {
        if (e.field == "all") {
            return "<div><label><strong><input type='checkbox' /><span>#= all#</span></strong></label></div>";
        } else {
            return "<span><label><input type='checkbox' name='" + e.field + "' value='#=Active#'/><span>#= Active ? 'Yes' : 'No' #</span></label></span><br>"
        }
    }

    $(document).ready(function () {
        if ('@ViewBag.Message' != '' && '@ViewBag.MessageType' != '') {
            ShowMessage('@ViewBag.MessageType', '@ViewBag.Message', "#divMessage");
        }
        CreateCalendarsPicker();

        $('#hndCityID').val('@Model.L2ID');

        $('.tb4').css('display', 'none');
    });

    //pm reading schedule

    function BindParametersForReadingSchedule() {
        var CityID = $("#hndCityID").val();
        return {
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val(),
            cityID: CityID
        };
    }
    function onDataBoundForReadingSchedule(arg) {
        gridProperPaging(this);
        //confirmDeleteMsg(msgText, okText, cancelText, onConfirmCallback, confirmDirection);
    }

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };

    function onCityChange() {
        var CityID = $("#ddlCity").data("kendoDropDownList").value();
        CityID = CityID == "" ? 0 : CityID;
        $("#hndCityID").val(CityID);
        clearAssetPopUpForPMMeter();
        //ReBindKendoGrid("ReadingScheduleListGrid");
    }

    //pm meter master grid
    function OpenPMMeterMasterPopUp() {
        removeReadingErrorClass();
        ReBindKendoGrid("PMMeterMasterListGrid");
        $("#PMMeterMasterList").modal("show");

    }

    function onMeterMasterAdditionalData() {
        var CityID = $("#hndCityID").val();
        return {
            cityID: CityID,
            text: $("#txtMeterDescription").val(),
        };
    }

    function BindParametersForPMMaster() {
        var CityID = $("#hndCityID").val();
        return {
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val(),
            cityID: CityID
        };
    }
    function onDataBoundForPMMaster(arg) {
        gridProperPaging(this);
    }

    function onMaterMasterAutoSelect(e) {
        var model = this.dataItem(e.item.index());
        var MeterMasterID = model.MeterMasterID;



        $("#hndMeterMasterID").val(MeterMasterID);
        $("#txtPMMeterMasterNo").val(model.MeterNo);
        $("#txtMeterDescription").val(model.MeterDescription);
        $("#txtTab1MeterUnit").val(model.MeterUnit);
        $("#txtTab1MeterType").val(model.MeterType);
        $("#txtTab1AssetNO").val(model.AssetNumber);
        $("#txtTab1AssetDescription").val(model.AssetDescription);
        $("#txtTab1LastEnteredReading").val(model.LastReading.toFixed(2));
        var active = checkMeterStatus(model.Active);
        $("#txtTab1MeterStatus").val(active);

        $.ajax({
            url: '@Url.Action(Actions.GetJobOrdersByMeterMasterID, Controllers.Transaction, new { area = Areas.Transaction })',
            type: "POST",
            data: addRequestVerificationToken({ meterMasterID: MeterMasterID }),
            dataType: "json",
            success: function (result) {
                if (result.length > 0) {
                    $("#txtTab1LastJONo").val(result[0].WorkorderNo);
                    $("#txtTab1JoStatus").val(result[0].WorkStatus);
                    //$("#txtTab1MeterUnit").val(result[0].AltWorkStatus);
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                showErrorMessage();
            }
        });
        removeReadingErrorClass();
    }


    $("#PMMeterMasterListGrid tbody").on("dblclick", "tr[role='row']", function (e) {

        var grid = $("#PMMeterMasterListGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        var MeterMasterID = model.MeterMasterID;



        $("#hndMeterMasterID").val(MeterMasterID);
        $("#txtPMMeterMasterNo").val(model.MeterNo);
        if ('@Lang' == 'True') {
            $("#txtMeterDescription").val(model.MeterDescription);
        }
        else {
            $("#txtMeterDescription").val(model.AltMeterDescription);
        }
        $("#txtTab1MeterUnit").val(model.MeterUnit);
        $("#txtTab1MeterType").val(model.MeterType);
        $("#txtTab1AssetNO").val(model.AssetNumber);
        $("#txtTab1AssetDescription").val(model.AssetDescription);
        $("#txtTab1LastEnteredReading").val(model.LastReading.toFixed(2));
        var active = checkMeterStatus(model.Active);
        $("#txtTab1MeterStatus").val(active);

        $.ajax({
            url: '@Url.Action(Actions.GetJobOrdersByMeterMasterID, Controllers.Transaction, new { area = Areas.Transaction })',
            type: "POST",
            data: addRequestVerificationToken({ meterMasterID: MeterMasterID }),
            dataType: "json",
            success: function (result) {
                if (result.length > 0) {
                    $("#txtTab1LastJONo").val(result[0].WorkorderNo);
                    $("#txtTab1JoStatus").val(result[0].WorkStatus);
                    //$("#txtTab1MeterUnit").val(result[0].AltWorkStatus);
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                showErrorMessage();
            }
        });

        $("#PMMeterMasterList").modal("hide");
    });

    function clearAssetPopUpForPMMeter() {
        $('#txtPMMeterMasterNo').val("");
        $('#txtMeterDescription').val("");
        $('#txtAltMeterDescription').val("");
        $('.PMMeterMasterCommon').val("");
        $("#hndMeterMasterID").val(0);
        $("#dvChart").html("");
        $("#dvChart").removeClass('k-chart');
    }

    function checkMeterStatus(Status) {
        var isActive = 'Active'
        if (Status == true) {
            isActive = 'Active';
        }
        else {
            isActive = 'InActive';
        }
        return isActive;
    }

    function addReadings() {

        var id = $("#hndMeterMasterID").val();
        var CurrentReading = $("#txtTab1CurrentReading").val();
        var ReadingDate = $("#txtTab1ReadingDate").val();
        var ReadingTime = $("#ddlReadingTime").val();

        var validation = ReadingValidations();
        if (validation) {
            $.ajax({
                url: '@Url.Action(Actions.InsertUpdatePMMeterReading, Controllers.Transaction, new { area = Areas.Transaction })',
                type: "POST",
                data: addRequestVerificationToken({ meterMasterID: id, currentReading: CurrentReading, date: ReadingDate, time: ReadingTime }),
                dataType: "json",
                success: function (result) {
                    ShowMessage(result[0], result[1], "#divMessage");
                    if (result[0] == '@SystemEnum.MessageType.success.ToString()') {
                        ReBindKendoGrid("ReadingScheduleListGrid");
                        clearAssetPopUpForPMMeter();
                        $('#txtTab1CurrentReading').val("");
                        $('#ddlReadingTime').val("12:00 AM");
                        //window.location.href = '@Url.Action(Actions.Reading, Controllers.Transaction, new { area = Areas.Transaction })' + '?saved= 1';
                    }
                    else {
                    }

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }
    }

    function ReadingValidations() {
        var validation = true;

        var readingdate = $("#txtTab1ReadingDate").val();

        if ($("#txtPMMeterMasterNo").val() == "") {
            $("#txtPMMeterMasterNo").addClass("error");
            $("#txtMeterDescription").addClass("error");
            validation = false;
        }

        if ($("#txtTab1CurrentReading").val() == "") {
            $("#txtTab1CurrentReading").addClass("error");
            validation = false;
        }
        else if ($("#txtTab1CurrentReading").val() <= 0) {
            ShowMessage('@SystemEnum.MessageType.danger.ToString()', "Reading must be greater than 0 ", "#divMessage");
            validation = false;
            e.preventDefault();
        }
        else if ($('#txtTab1MeterType').val().toLowerCase() == 'incremental') {
            if (($("#txtTab1LastEnteredReading").val() == "" || $("#txtTab1LastEnteredReading").val() == null ? 0 : parseFloat($("#txtTab1LastEnteredReading").val())) > parseFloat($("#txtTab1CurrentReading").val())) {
                ShowMessage('@SystemEnum.MessageType.danger.ToString()', '@ProjectSession.Resources.message.Reading_MsgCurrReadingLesser', "#divMessage");
                validation = false;
                e.preventDefault();
            }
        }

    if (readingdate == "") {
        $("#txtTab1ReadingDate").addClass("error");
        validation = false;
    }
    else {
        var cmpdate = Date.parse(readingdate);
        var today = new Date();

        var todayDateOnly = new Date(today.getFullYear(), today.getMonth(), today.getDate());
        todayDateOnly = Date.parse(todayDateOnly);

        if (cmpdate > todayDateOnly) {
            ShowMessage('@SystemEnum.MessageType.danger.ToString()', '@ProjectSession.Resources.message.Reading_MsgReadingDateLarger', "#divMessage");
            validation = false;
            e.preventDefault();
        }
    }

    return validation;
}

$("#txtTab1CurrentReading").keyup(function () {
    if (!($("#txtTab1CurrentReading").val() == "")) {
        removeReadingErrorClass();
    }
});

function removeReadingErrorClass() {
    $("#txtTab1CurrentReading").removeClass("error");
    $("#txtPMMeterMasterNo").removeClass("error");
    $("#txtMeterDescription").removeClass("error");
    $("#txtTab1ReadingDate").removeClass("error");

}
//end pm reading schedule

//PMMeter Reading Grid  functions
function RebindHistoryTab() {
    ReBindKendoGrid("PMMeterReading");
}

function BindParametersForPMMeterReading() {
    var MeterMasterID = $("#hndMeterMasterID").val();
    MeterMasterID = MeterMasterID == "" ? 0 : MeterMasterID;
    return {
        __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val(),
        meterMasterID: MeterMasterID
    };
}
function onDataBoundForPMMeterReading(arg) {
    gridProperPaging(this);
    confirmDeleteMsg(msgText, okText, cancelText, onConfirmCallback, confirmDirection);
}

function addRequestVerificationToken(data) {
    data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
    return data;
};

function onConfirmCallback(sender) {
    var id = $(this).data("id");

    $.ajax({
        url: '@Url.Action(Actions.DeletePMMeterReading, Controllers.Transaction, new { area = Areas.Transaction })',
        type: "POST",
        data: addRequestVerificationToken({ readingID: id, meterMasterID: $("#hndMeterMasterID").val() }),
        dataType: "json",
        success: function (result) {
            ShowMessage(result[0], result[1], "#divMessage");
            ShowMessage(result[0], result[1], "#divMessage");
            if (result[0] == '@SystemEnum.MessageType.success.ToString()') {
                $('#txtTab1LastEnteredReading').val(result[2].toFixed(2));
                ReBindKendoGrid("PMMeterReading");
                ReBindKendoGrid("ReadingScheduleListGrid");
                RefreshPage();
            }
        },
        error: function (xhr, ajaxOptions, thrownError) {
            showErrorMessage();
        }
    });
}

$("#PMMeterReading tbody").on("dblclick", "tr[role='row']", function (e) {
    removeErrorClass();

    $("#ReadingDetailModal").modal("show");
    var grid = $("#PMMeterReading").data("kendoGrid");
    var model = grid.dataItem(this);
    var ReadingID = model.ReadingID;
    var MeterNo = model.MeterNo;
    var CurrentReading = model.CurrentReading;

    $("#hndReadingID").val(ReadingID);
    $("#txtMeterNo").val(MeterNo);
    $("#txtCurrentReading").val(CurrentReading.toFixed(2));
    var ReadingDate = SetJsondate(model.ReadingDate);
    $("#txtReadingDate").val(ReadingDate);
});

function OpenReadingDetailEditWindow(ReadingID) {
    removeErrorClass();

    var grid = $("#PMMeterReading").data("kendoGrid");
    var data = $("#PMMeterReading table td").find("a[data-id='" + ReadingID + "']").closest("tr");
    var model = grid.dataItem(data);
    var ReadingID = model.ReadingID;
    var MeterNo = model.MeterNo;
    var CurrentReading = model.CurrentReading;

    $("#hndReadingID").val(ReadingID);
    $("#txtMeterNo").val(MeterNo);
    $("#txtCurrentReading").val(CurrentReading.toFixed(2));
    var ReadingDate = SetJsondate(model.ReadingDate);
    $("#txtReadingDate").val(ReadingDate);
}


function RefreshPage() {
    $("#hndReadingID").val("");
    $("#txtMeterNo").val("");
    $("#txtReadingDate").val("");
    $("#txtCurrentReading").val("");
    removeErrorClass();
}

function saveReadings() {
    var id = $("#hndReadingID").val();
    var CurrentReading = $("#txtCurrentReading").val();
    var MeterMasterID = $("#hndMeterMasterID").val();

    var validation = validations();
    if (validation) {
        $.ajax({
            url: '@Url.Action(Actions.UpdatePMMeterReading, Controllers.Transaction, new { area = Areas.Transaction })',
            type: "POST",
            data: addRequestVerificationToken({ readingID: id, currentReading: CurrentReading, meterMasterID: MeterMasterID }),
            dataType: "json",
            success: function (result) {

                if (result[0] == '@SystemEnum.MessageType.success.ToString()') {
                    ShowMessage(result[0], result[1], "#divMessage");
                    $('#txtTab1LastEnteredReading').val(result[2].toFixed(2));
                    RefreshPage();
                    ReBindKendoGrid("PMMeterReading");
                    $("#ReadingDetailModal").modal("hide");
                }
                else {
                    ShowMessage(result[0], result[1], "#divModelError");

                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                showErrorMessage();
            }
        });
        }
    }

    function validations() {
        var validation = true;
        if ($("#txtMeterNo").val() == "") {
            $("#txtMeterNo").addClass("error");
            validation = false;
        }
        if ($("#txtReadingDate").val() == "") {
            $("#txtReadingDate").addClass("error");
            validation = false;
        }
        if ($("#txtCurrentReading").val() <= 0 || ($("#txtCurrentReading").val() == "")) {
            $("#txtCurrentReading").addClass("error");
            validation = false;
        }
        return validation;
    }

    $("#txtCurrentReading").keyup(function () {
        if ($("#txtCurrentReading").val() == "") {
            $("#txtCurrentReading").addClass("error");
        }
        else {
            removeErrorClass();
        }
    });

    function removeErrorClass() {
        $("#txtReadingDate").removeClass("error");
        $("#txtCurrentReading").removeClass("error");
        $("#txtMeterNo").removeClass("error");
    }

    function ReplacePMType(PMType) {
        if (PMType == 1) {
            return "Actual";
        }
        else if (PMType == 2) {
            return "Schedule";
        }
        else {
            return "";
        }
    }

</script>

@*chart tab*@
<script type="text/javascript">

    $("#btnViewChart").on("click", function (e) {
        var MeterMasterID = $("#hndMeterMasterID").val();
        var MeterType = $("#txtTab1MeterType").val();
        if (MeterMasterID == '0' || MeterMasterID == '') {
            ShowMessage('@SystemEnum.MessageType.danger', '@ProjectSession.Resources.message.Reading_MsgMeterNoRequired', '#divMessage');
            e.preventDefault()
        }
        else {
            var startDate = $("#txtFromDate").val();
            var endDate = $("#txtToDate").val();
            if (validateDate(startDate) && validateDate(endDate)) {
                if (new Date(startDate) > new Date(endDate)) {
                    ShowMessage('@SystemEnum.MessageType.danger.ToString()', '@ProjectSession.Resources.message.AccountCode_MsgValidStartEndDate', "#divMessage");
                    e.preventDefault();
                }
                else {
                    $.ajax({
                        url: '@Url.Action("GetReadingGraph", Controllers.Transaction, new { area = Areas.Transaction })',
                        type: "POST",
                        data: { meterMasterID: MeterMasterID, meterType: MeterType, startDate: startDate, endDate: endDate },
                        dataType: "json",
                        success: function (data) {
                            if (data != '' && data.length > 0) {
                                if (MeterType.toLowerCase() == 'incremental') {
                                    bindChartByMeterID(data);
                                }
                                else {
                                    bindChartThresholdByMeterID(data);
                                }
                            }
                            else {
                                $("#dvChart").html("<div class='chart'><div class='chart-wrapper'><span class='noDataNotification'>@ProjectSession.Resources.message.Common_MsgNoDataExit</span></div></div>")
                            }
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            ShowMessage('@SystemEnum.MessageType.danger.ToString()', "@ProjectSession.Resources.message.Common_MsgErrorContactAdmin", "#divMessage");
                        }
                    });
                    }
                }
                else {
                    ShowMessage('@SystemEnum.MessageType.danger.ToString()', '@ProjectSession.Resources.message.Common_MsgValidFormatDate', "#divMessage");
                e.preventDefault();
                return false;
            }
        }
    });

    function bindChartByMeterID(lst) {
        $("#dvChart").kendoChart({
            title: {
                align: "center",
                text: "@ProjectSession.Resources.label.Reading_TextBlockMeterReadingTrend"
            },
            series: [{
                type: "column",
                data: lst,
                field: "Reading",
                categoryField: "MonthYear",
                colorField: "color"
            }],
            categoryAxis: {
                categoryField: "MonthYear"
            },
            valueAxis: {
                labels: {
                    visible: true,
                    template: "#= FormatLongNumber(value) #"
                }
            },
            tooltip: {
                visible: true,
                template: "#= data.category # [#= FormatLongNumber(value) #]"
            }
        });
    }

    function bindChartThresholdByMeterID(lst) {
        $("#dvChart").kendoChart({
            title: {
                align: "center",
                text: "@ProjectSession.Resources.label.Reading_TextBlockMeterReadingTrend"
            },
            series: [
                {
                    type: "line",
                    data: lst,
                    field: "AvgUpperLimit",
                    name: "@ProjectSession.Resources.label.Reading_TextBlockAverageofUpperLimit",
                    color: "#168BAC",
                    categoryField: "MonthYear",
                },
                {
                    type: "line",
                    data: lst,
                    field: "Reading",
                    name: "@ProjectSession.Resources.label.Reading_TextBlockAverageofReading",
                    color: "#A9DB18",
                    categoryField: "MonthYear",
                },

                {
                    type: "line",
                    data: lst,
                    field: "AvgLowerLimit",
                    name: "@ProjectSession.Resources.label.Reading_TextBlockAverageofLowerLimit",
                    color: "#E8D34C",
                    categoryField: "MonthYear",
                }],
            legend: {
                position: "bottom"
            },
            categoryAxis: {
                categoryField: "MonthYear"
            },
            valueAxis: {
                labels: {
                    visible: true,
                    template: "#= FormatLongNumber(value) #"
                }
            },
            tooltip: {
                visible: true,
                template: "#= FormatLongNumber(value) #"
            }
        });
        }


        function FormatLongNumber(value) {
            if (value == 0) {
                return 0;
            }
            else {

                // hundreds
                if (value <= 999) {
                    return value;
                }
                    // thousands
                else if (value >= 1000 && value <= 999999) {
                    return (value / 1000) + 'K';
                }
                    // millions
                else if (value >= 1000000 && value <= 999999999) {
                    return (value / 1000000) + 'M';
                }
                    // billions
                else if (value >= 1000000000 && value <= 999999999999) {
                    return (value / 1000000000) + 'B';
                }
                else
                    return value;
            }
        }
</script>

@*Export Data*@
<script type="text/javascript">

    function ExportReading() {
        $.ajax({
            url: '@Url.Action(Actions.ExportReadingCount, Controllers.Transaction, new { area = Areas.Transaction })',
            type: "POST",
            data: { cityID: $('#ddlExportCity').val() },
            dataType: "json",
            success: function (result) {
                if (result[0] == '@SystemEnum.MessageType.danger.ToString()') {
                    ShowMessage(result[0], result[1], "#divExportModelError");
                }
                else {
                    if (result > 0) {
                        hideLoader();
                        window.open('@Url.Action(Actions.ExportReading, Controllers.Transaction, new { @area = Areas.Transaction })?cityID=' + $('#ddlExportCity').val(), '_blank');
                        $("#ExportReadingModal").modal("hide");
                        ShowMessage('@SystemEnum.MessageType.success.ToString()', '@ProjectSession.Resources.message.Common_MsgExportSuccess', "#divMessage");

                    }
                    else {
                        ShowMessage('@SystemEnum.MessageType.danger.ToString()', '@ProjectSession.Resources.message.Common_MsgNoRecordsFound', "#divExportModelError");
                    }
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                showErrorMessage();
            }
        });
    }
</script>

@*Import Data*@
<script type="text/javascript">
    $('#FormImportReading').submit(function () {

        var options = {
            success: showResponseImportDocument,  // post-submit callback
            data: $('#FormImportReading').serialize()
        };

        $(this).ajaxSubmit(options);
        return false;
    });

    function showResponseImportDocument(responseText, statusText, xhr, $form) {
        if (responseText != null && responseText != "" && responseText.length != 0) {
            if (responseText[0] == '@SystemEnum.MessageType.danger.ToString()') {
                ShowMessage(responseText[0], responseText[1], "#divImportModelError");
            }
            else {
                ShowMessage('@SystemEnum.MessageType.success.ToString()', '@ProjectSession.Resources.message.Common_MsgRecordSavedSuccessfully', "#divMessage");

                $('#ImportReadingModal').modal("hide");
                $('.tb4').css('display', '');
                $('#litb4 > a').click();
                $('#FormImportReading').resetForm();

                $("#ErrorData").kendoGrid({
                    dataSource: {
                        data: responseText,
                        schema: {
                            model: {
                                fields: {
                                    MeterNo: { type: "string" },
                                    Reason: { type: "string" },
                                    IsValidMeterNo: { type: "bool" },
                                    IsValidCityCode: { type: "bool" },
                                    IsGreaterReading: { type: "bool" },
                                    IsGreaterReadingDate: { type: "bool" },
                                    IsAvgDailyInc: { type: "bool" },
                                    IsSuccess: { type: "bool" },
                                }
                            }
                        },
                    },
                    scrollable: true,
                    columns: [
                        { field: "IsSuccess", template: "#if(IsSuccess == true) { # <span><i class='glyphicon glyphicon-ok' style='color:green'></i></span> #}else{# <span><i class='glyphicon glyphicon-remove' style='color:red'></i> </span>#} #", title: "Result", width: "30px" },
                        { field: "MeterNo", title: "MeterNo", width: "130px" },
                        { field: "Reason", title: "Reason", width: "130px" },
                        //{ field: "IsValidMeterNo", title: "IsValidMeterNo", },
                        //{ field: "IsValidCityCode", title: "IsValidCityCode", },
                        //{ field: "IsGreaterReading", title: "IsGreaterReading", },
                        //{ field: "IsGreaterReadingDate", title: "IsGreaterReadingDate", },
                        //{ field: "IsAvgDailyInc", title: "IsAvgDailyInc", },
                        //{ field: "IsSuccess", title: "IsSuccess", },
                    ]
                });
            }
        }
        else {
            ShowMessage('@SystemEnum.MessageType.danger.ToString()', '@ProjectSession.Resources.message.Common_MsgNoRecordsFound', "#divImportModelError");
        }
        return false;
    }
</script>
