﻿@using CMMS.Infrastructure;
@using CMMS.Pages;
@using CMMS.Model
@using CMMS.Service
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool Lang = ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true;
}
@Html.AntiForgeryToken()
<div class="head1">
    <h1>@ProjectSession.Resources.label.Location_TextBlockLocationList</h1> 
    <ul class="sub_btn">
        @if (ProjectSession.PermissionAccess.Locations_Locations_Createnewrecords)
        {
            <li>
                <a href="@Url.Action(Actions.GetSectionByID, Controllers.Transaction, new { area = Areas.Transaction, locationID= "0" })" title="@ProjectSession.Resources.label.Common_ButtonAdd" class="btn-icon btn-add"><i></i></a>
            </li>
        }
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-search" data-toggle="modal" data-target="#search-order" onclick='OpenAdvancedSearch("@ProjectSession.Resources.label.Asset_TextBlockSection" + " "+ "@ProjectSession.Resources.label.Common_TextBlockSearch","@SystemEnum.Pages.Section.GetHashCode()")' title="@ProjectSession.Resources.label.Common_ButtonAdvanceSearch"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-clear" title="@ProjectSession.Resources.label.Common_ButtonClear" onclick="return ClearAdvencedSearch(@SystemEnum.Pages.Section.GetHashCode());"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-refresh" onclick="ReBindKendoGrid('sectionGrid');" title="@ProjectSession.Resources.label.Common_ButtonRefreshGrid"><i></i></a>
        </li>
        <li>
            <a href="@Url.Action(Actions.AssetTree, Controllers.Transaction, new { area = Areas.Transaction, isAddButtonVisible = true })" class="btn-icon asset-tree-btn" title="@ProjectSession.Resources.label.Asset_ButtonAssetTree"
                 style="background-color:#1b79c8 !important">
                <img src="~/images/asset-tree.png" alt="">
            </a>
        </li>
        @if (ProjectSession.PermissionAccess.Locations_Locations_Export)
        {
            <li>
                <a href="javascript:void(0);" class="btn-icon btn-xsl" onclick="ExportToExcel('sectionGrid', 'LocationID');" title="@ProjectSession.Resources.label.Common_ButtonExportToExcel"><i></i></a>
            </li>
        }
    </ul>
</div>

<!-- Kendo Grid-->
<div id="LocationData" class="@ProjectSession.CultureKendoClass">
    @(Html.Kendo().Grid<CMMS.Model.Location>()
        .Name("sectionGrid")
        .Columns(columns =>
        {
            columns.Bound(c => c.LocationNo).Title(ProjectSession.Resources.label.Location_TextBlockLocationNo).Width(170).Locked(true); ;

            columns.Bound(c => c.LocationDescription).Title(ProjectSession.Resources.label.Location_TextBlockLocationDescription).Width(170);

            columns.Bound(c => c.LocationAltDescription).HtmlAttributes(new { @class = "text-right" }).Title(ProjectSession.Resources.label.Location_TextBlockAltLocationDesc).Width(220);

            columns.Bound(c => c.L2Code).Title(ProjectSession.Resources.label.JobRequest_TextBlockCityCode).Width(150)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterSite", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

            columns.Bound(c => c.SectorCode).Title(ProjectSession.Resources.label.JobRequest_TextBlockSectorCode).Width(150)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterSector", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

            columns.Bound(c => c.SectorName).Title(ProjectSession.Resources.label.JobRequest_TextBlockSectorName).Width(150);

            columns.Bound(c => c.L3No).Title(ProjectSession.Resources.label.JobRequest_TextBlockAreaCode).Width(150).Visible(ProjectSession.IsAreaFieldsVisible)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterArea", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

            columns.Bound(c => c.L3Desc).Title(ProjectSession.Resources.label.JobRequest_TextBlockAreaDescription).Visible(ProjectSession.IsAreaFieldsVisible && ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true).Width(150);
            columns.Bound(c => c.L3AltDesc).Title(ProjectSession.Resources.label.JobRequest_TextBlockAltAreaDescription).Visible(ProjectSession.IsAreaFieldsVisible && ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? true : false).Width(150);

            columns.Bound(c => c.L4No).Title(ProjectSession.Resources.label.JobRequest_TextBlockStreetCode).Width(150)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterZone", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

            if (Lang)
            {
                columns.Bound(c => c.L4Description).Title(ProjectSession.Resources.label.JobRequest_TextBlockStreetDescription).Width(170);
            }
            else
            {
                columns.Bound(c => c.L4AltDescription).Title(ProjectSession.Resources.label.Cleaning_TextBlockAltStreetDescription).Width(170);
            }
            columns.Bound(c => c.L5No).Title(ProjectSession.Resources.label.Building_TextBlockBuildingNo).Width(150)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterBuilding", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

            if (Lang)
            {
                columns.Bound(c => c.L5Description).Title(ProjectSession.Resources.label.Building_TextBlockBuildingDesc).Width(170);
            }
            else
            {
                columns.Bound(c => c.L5AltDescription).Title(ProjectSession.Resources.label.Building_TextBlockAltBuildingDesc).Width(170);
            }

            columns.Bound(c => c.Criticality).Title(ProjectSession.Resources.label.Location_TextBlockCriticality).Width(120)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterCriticality", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

            columns.Bound(c => c.LocationTypeCode).Title(ProjectSession.Resources.label.LocationType_TextLocationTypeCode).Width(170)
             .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterLocationTypeCode", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

            if (ProjectSession.PermissionAccess.Locations_Locations_Editrecords || ProjectSession.PermissionAccess.Locations_Locations_Deleterecords)
            {
                columns.Bound(c => c.LocationID).ClientTemplate("<center>" + (ProjectSession.PermissionAccess.Locations_Locations_Editrecords ? "<a href='" + Url.Action(Actions.GetSectionByID, CMMS.Pages.Controllers.Transaction, new { area = CMMS.Pages.Areas.Transaction, locationID = "#: LocationID#", fromPageID = SystemEnum.Pages.Section.ToString() }) + "' class='action' title='" + ProjectSession.Resources.label.Common_ButtonEdit + "'  style='cursor:pointer' ><i class='glyphicon glyphicon-pencil'></i></a>&nbsp;" : "")
                    + "" + (ProjectSession.PermissionAccess.Locations_Locations_Deleterecords ? "<a class='action delete-button'  href='javascript:void(0);'  class='delete-ic' data-id='#: LocationID #' style='cursor:pointer'><i class='glyphicon glyphicon-trash' title='" + ProjectSession.Resources.label.Common_ButtonDelete + "' ></i></a>" : "") + "</center>")
                                                .Title("<center>" + ProjectSession.Resources.label.Common_ButtonAction + "</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Width(80).Filterable(false);
            }
        }) 
        .Filterable()
        .Sortable(sortable => sortable.AllowUnsort(false))
        .Scrollable()
        .Excel(excel => excel.FileName(ProjectSession.Resources.menu.Location_MenuLocations + ".xlsx").Filterable(true).AllPages(true).ProxyURL(Url.Action("Excel_Export_Save", "GridExport", new { area = string.Empty })))
        .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
        .Events(events => events.DataBound("onDataBound").ExcelExport("excelExport"))
        .DataSource(dataSource =>
            dataSource.Ajax()
            .PageSize(ProjectConfiguration.PageSize)
            .Model(model =>
                {
                    model.Id(p => p.LocationID);
                    model.Field(p => p.LocationNo);
                })
                .ServerOperation(true)
                        .Read(read => read.Action(Actions.GetSectionList, Controllers.Transaction, new { area = Areas.Transaction }).Data("BindParameters").Type(HttpVerbs.Post))
                )
    )


</div>

<!-- -------------search order------------- -->
<div id="search-order" class="modal fade" role="dialog"></div>


<script type="text/javascript">
    var kendoGridId = 'sectionGrid';
    var intPageID = '@SystemEnum.Pages.Section.GetHashCode()';

    $(document).ready(function () {
        if ('@ViewBag.Message' != '' && '@ViewBag.MessageType' != '') {
            ShowMessage('@ViewBag.MessageType', '@ViewBag.Message', "#divMessage");
        }
    });

    function BindParameters() {
        return {
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };

    $("#sectionGrid tbody").on("dblclick", "tr[role='row']", function (e) {
        var grid = $("#sectionGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        location.href = '@Url.Action(Actions.GetSectionByID, CMMS.Pages.Controllers.Transaction, new { area = CMMS.Pages.Areas.Transaction })' + '?locationID=' + model.LocationID;
    });
</script>

@if (ProjectSession.PermissionAccess.Locations_Locations_Deleterecords)
{
    <script type="text/javascript">
        function onDataBound(arg) {
        confirmDeleteMsg(msgText, okText, cancelText, onConfirmCallback, confirmDirection);
        gridProperPaging(this);
    }

    function onConfirmCallback(sender) {
        var id = $(this).data("id");
        $.ajax({
            url: '@Url.Action(Actions.DeleteSection, Controllers.Transaction, new { area = Areas.Transaction })',
            type: "POST",
            data: addRequestVerificationToken({ locationid: id }),
            dataType: "json",
            success: function (result) {
                ShowMessage(result[0], result[1], "#divMessage");
                ReBindKendoGrid("sectionGrid");
            },
            error: function (xhr, ajaxOptions, thrownError) {
                showErrorMessage();
            }
        });
    }
    </script>
}
else
{
    <script>
        function onDataBound(arg) {
            gridProperPaging(this);
        }
    </script>
}
