﻿@model CMMS.Model.Location
@using CMMS.Infrastructure;
@using CMMS.Pages;
@using CMMS.Model
@using CMMS.Service
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool Lang = ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true;
}
<div class="head1">
    @{
        var Titletext = "";
        if (Model.LocationID > 0)
        { Titletext = ProjectSession.Resources.menu.Location_MenuLocationsDetails; }
        else
        { Titletext = ProjectSession.Resources.menu.Location_MenuLocationsDetails; }
        <h1>
            @Titletext
        </h1>
@*if (Model.LocationID > 0)
            {
                <ul class="sub_btn">
                    @if (ProjectSession.PermissionAccess.Locations_Locations_Createnewrecords)
                    {
                        <li>
                            <a href="@Url.Action(Actions.GetSectionByID, Controllers.Transaction, new { area = Areas.Transaction, locationID= "0" })" title="@ProjectSession.Resources.label.Common_ButtonAdd" class="btn-icon btn-add"><i></i></a>
                        </li>
                    }
                </ul>
            }*@
    }
</div>
<script type="text/javascript">
    var isLoadedLinkedLocationsTab = false;
</script>
<div id="divContent">
    <div class="box edit-job-order">
        <div id="divModelError"></div>
        <div class="nav-tabs-horizontal">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#tb1" aria-controls="tb1" onclick="SetFocus('tb1');">@ProjectSession.Resources.label.Location_TabItemLocation</a></li>
                @if (Model.LocationID > 0)
                {
                    <li role="presentation"><a data-toggle="tab" href="#tb2" aria-controls="tb2">@ProjectSession.Resources.label.Location_TabItemJobHistory</a></li>
                    <li role="presentation"><a data-toggle="tab" href="#tb3" aria-controls="tb3">@ProjectSession.Resources.label.Asset_TabItemAsset</a></li>
                    <li role="presentation"><a data-toggle="tab" href="#tb4" aria-controls="tb4">@ProjectSession.Resources.menu.Common_MenuAttachment</a></li>
                    <li role="presentation"><a data-toggle="tab" href="#tb5" onclick="loadLinkedLocationstab();" aria-controls="tb5">@ProjectSession.Resources.label.Location_TextBlockLinkedLocations</a></li>
                    <li role="presentation"><a data-toggle="tab" href="#tb6" aria-controls="tb6">@ProjectSession.Resources.label.Employee_RadTabItemPMMeter</a></li>
                }
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" onclick="ABC(this);"></a>
                    <ul class="dropdown-menu smp">
                        <li class="active"><a data-toggle="tab" href="#tb1" aria-controls="tb1">@ProjectSession.Resources.label.Location_TabItemLocation</a></li>
                        @if (Model.LocationID > 0)
                        {
                            <li role="presentation"><a data-toggle="tab" href="#tb2" aria-controls="tb2">@ProjectSession.Resources.label.Location_TabItemJobHistory</a></li>
                            <li role="presentation"><a data-toggle="tab" href="#tb3" aria-controls="tb3">@ProjectSession.Resources.label.Asset_TabItemAsset</a></li>
                            <li role="presentation"><a data-toggle="tab" href="#tb4" aria-controls="tb4">@ProjectSession.Resources.menu.Common_MenuAttachment</a></li>
                            <li role="presentation"><a data-toggle="tab" href="#tb5" onclick="loadLinkedLocationstab();" aria-controls="tb5">@ProjectSession.Resources.label.Location_TextBlockLinkedLocations</a></li>
                            <li role="presentation"><a data-toggle="tab" href="#tb6" aria-controls="tb6">@ProjectSession.Resources.label.Employee_RadTabItemPMMeter</a></li>
                        }
                    </ul>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tb1">
                    @using (Html.BeginForm(Actions.ManageSection, Controllers.Transaction, new { area = Areas.Transaction, locationid = @Model.LocationID }, FormMethod.Post, new { enctype = "multipart/form-data", id = "frmLocation", @role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="information-form cus-form">
                            <div class="row">
                                <div class="form-group col-md-6 col-lg-4">
                                    <label class="form-label">@ProjectSession.Resources.label.Location_TextBlockLocationNo<span class="cfont">*</span></label>
                                    @Html.HiddenFor(model => model.LocationID)
                                    @Html.TextBoxFor(model => model.LocationNo, new { @MaxLength = 50, autofocus = true, @class = "form-control", @Name = "LocationNo", @placeholder = ProjectSession.Resources.label.Common_Enter + " " + ProjectSession.Resources.label.Location_TextBlockLocationNo })
                                </div>
                                <div class="form-group col-md-6 col-lg-4">
                                    <label class="form-label">@ProjectSession.Resources.label.Location_TextBlockLocationDescription<span class="cfont">*</span></label>
                                    @Html.TextAreaFor(model => model.LocationDescription, new { @MaxLength = 4000, @rows = 4, @class = "form-control", @Name = "LocationDescription", @placeholder = ProjectSession.Resources.label.Common_Enter + " " + ProjectSession.Resources.label.Location_TextBlockLocationDescription })
                                </div>
                                <div class="form-group col-md-6 col-lg-4">
                                    <label class="form-label">@ProjectSession.Resources.label.Location_TextBlockLocationAltDescription</label>
                                    @Html.TextAreaFor(model => model.LocationAltDescription, new { @MaxLength = 4000, @rows = 4, @class = "form-control", @placeholder = ProjectSession.Resources.label.Common_Enter + " " + ProjectSession.Resources.label.Location_TextBlockLocationAltDescription })
                                </div>
                            </div>
                        </div>
                        <div class="information-form cus-form">
                            <h3 class="sub-title">
                                <span>@ProjectSession.Resources.label.Location_TextBlockLocationInfo</span>
                            </h3>
                            <div class="row form-height">
                                <div class="form-group col-md-6 col-lg-4">
                                    <label class="form-label">@ProjectSession.Resources.label.Organisation_TextBlockOrgCode<span class="cfont">*</span></label>
                                    @Html.HiddenFor(model => model.IsAreaEnableOrgWise, new { @id = "hdnIsAreaEnableOrgWise" })
                                    <div class="@ProjectSession.CultureKendoClass">
                                        @(Html.Kendo().DropDownListFor(model => model.L1ID)
                            //.Name("drpOrganisation")
                                            .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                            .DataTextField("L1No")
                                            .DataValueField("L1ID")
                                            .Enable(Model.LocationHasReferences ? false : true)
                                            .Events(m => m.Change("ChangeL1"))
                                            .HtmlAttributes(new { style = "width: 100%", @required = "required", id = "ddlOrganization" })
                                            .Template("#= KendoDDLTemplate(data.L1No ,data.L1Name, data.L1AltName) #")
                                            .DataSource(source =>
                                            {
                                                source.Read(read =>
                                                {
                                                    read.Action(Actions.GetAllOrganisation, Controllers.Configurations, new { area = Areas.Configurations });
                                                });
                                            })
                                             .Value(Convert.ToString(Model.L1ID))
                                        )
                                    </div>
                                </div>

                                <div class="form-group col-md-6 col-lg-4">
                                    <label class="form-label">@ProjectSession.Resources.label.JobRequest_TextBlockCity<span class="cfont">*</span></label>
                                    @(Html.Kendo().DropDownListFor(model => model.L2ID)
                                                .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                                .DataTextField("L2Code")
                                                .ValueTemplate(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "#:L2Code # -- #: L2Altname # " : "#:L2Code # -- #: L2name #")
                                                .DataValueField("L2ID")
                            //.Enable(Model.LocationHasReferences ? false : true)
                                                .Events(m => m.Change("ChangeL2").DataBound("DataBoundDDLCity"))
                                                .HtmlAttributes(new { style = "width: 100%", id = "ddlCity", @required = "required" })
                                                .Template("#= KendoDDLTemplate(data.L2Code ,data.L2name, data.L2Altname) #")
                                                .DataSource(source =>
                                                {
                                                    if (ProjectSession.IsCentral)
                                                    {
                                                        source.Read(read =>
                                                        {
                                                            read.Action(Actions.GetAllCities, Controllers.Configurations, new { area = Areas.Configurations, cityID = Model.L2ID });
                                                        });
                                                    }
                                                    else
                                                    {
                                                        source.Read(read =>
                                                        {
                                                            read.Action(Actions.GetCitiesByEmployee, Controllers.Configurations, new { area = Areas.Configurations, cityID = Model.L2ID });
                                                        });
                                                    }
                                                })
                                                .Value(Convert.ToString(Model.L2ID))
                                                .CascadeFrom("ddlOrganization")
                                                .AutoBind(false)
                                    )
                                </div>

                                <div class="form-group two-form-group col-md-6 col-lg-4 ">
                                    <label class="form-label">@ProjectSession.Resources.label.Asset_TextBlockSector</label>
                                    <div class="input-two">
                                        <div class="input-group">
                                            @Html.TextBoxFor(model => model.SectorCode, new { @MaxLength = 50, @class = "form-control", @readonly = "readonly", @id = "txtSectorCode", @Placeholder = @ProjectSession.Resources.label.Asset_TextBlockSectorCode })
                                        </div>
                                        <div class="input-group">
                                            @Html.TextBoxFor(model => model.SectorName, new { @MaxLength = 100, @class = "form-control", @readonly = "readonly", @id = "txtSectorName", @Placeholder = @ProjectSession.Resources.label.Asset_TextBlockSectorName })
                                            @Html.TextBoxFor(model => model.SectorAltName, new { @MaxLength = 100, @class = "form-control", @readonly = "readonly", @id = "txtSectorAltName", @Placeholder = @ProjectSession.Resources.label.Asset_TextBlockSectorAltName })
                                        </div>
                                    </div>
                                </div>

                                @if (ProjectSession.IsAreaFieldsVisible)
                                {
                                    <div class="form-group col-md-6 col-lg-4">
                                        <label class="form-label">@ProjectSession.Resources.label.JobRequest_TextBlockAreaCode<span id="SpanArea" class="cfont"></span></label>
                                        <div class="@ProjectSession.CultureKendoClass">
                                            @(Html.Kendo().DropDownListFor(model => model.L3ID)
                                                .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                                .DataTextField("L3No")
                                                .ValueTemplate(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "#:L3No # -- #: L3AltDesc # " : "#:L3No # -- #: L3Desc #")
                                                .DataValueField("L3ID")
                                                .Enable(Model.LocationHasReferences ? false : true)
                                                .HtmlAttributes(new { style = "width: 100%", id = "ddlAreas" })
                                                .Template("#= KendoDDLTemplate(data.L3No ,data.L3Desc, data.L3AltDesc) #")
                                                .DataSource(source =>
                                                {
                                                    source.Read(read =>
                                                    {
                                                        read.Action(Actions.GetAreabyL2ID, Controllers.Configurations, new { area = Areas.Configurations }).Data("filterArea").Type(HttpVerbs.Post);

                                                    })
                                                    .ServerFiltering(true);
                                                })
                                                .Events(m => m.Change("ChangeL3").DataBound("DataBoundDDLArea"))
                                                .CascadeFrom("ddlCity")
                                                .AutoBind(false)
                                                .Value(Convert.ToString(Model.L3ID))
                                            )
                                        </div>
                                        <script>
                                            function filterArea() {
                                                return {
                                                    cityID: $("#ddlCity").val() == "" ? 0 : $("#ddlCity").val(),
                                                    __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
                                                };
                                            }

                                            function ChangeL3(e) {
                                                $("#ddlZones").data("kendoDropDownList").dataSource.read();
                                                ReBindKendoGrid("buildingGrid");
                                                ClearBuilding();
                                            }
                                        </script>
                                    </div>
                                }
                                <div class="form-group col-md-6 col-lg-4">
                                    <label class="form-label">@ProjectSession.Resources.label.JobRequest_TextBlockStreetCode<span class="cfont">*</span></label>
                                    <div class="@ProjectSession.CultureKendoClass">
                                        @(Html.Kendo().DropDownListFor(model => model.L4ID)
                                                .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                                .DataTextField("L4No")
                                                .ValueTemplate(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "#:L4No # -- #: L4AltDescription # " : "#:L4No # -- #: L4Description #")
                                                .DataValueField("L4ID")
                                                .Enable(Model.LocationHasReferences ? false : true)
                                                .HtmlAttributes(new { style = "width: 100%", id = "ddlZones", @required = "required" })
                                                .Template("#= KendoDDLTemplate(data.L4No ,data.L4Description, data.L4AltDescription) #")
                                                .DataSource(source =>
                                                {
                                                    source.Read(read =>
                                                    {
                                                        read.Action(Actions.GetZoneByL2ID, Controllers.Configurations, new { area = Areas.Configurations }).Data("filterZones").Type(HttpVerbs.Post);

                                                    })
                                                    .ServerFiltering(true);
                                                })
                                                .Events(m => m.Change("ChangeL4").DataBound("DataBoundL4"))
                                                .CascadeFrom("ddlCity")
                                                .AutoBind(true)
                                                .Value(Convert.ToString(Model.L4ID))
                                        )
                                    </div>
                                    <script>
                                        function filterZones() {
                                            return {
                                                cityID: $("#ddlCity").val() == "" ? 0 : $("#ddlCity").val(),
                                                areaID: ($('#ddlAreas') != undefined && $('#ddlAreas') != null && $('#ddlAreas').val() != undefined && $('#ddlAreas').val() != null && $('#ddlAreas').val() != "" ? $('#ddlAreas').val() : 0),
                                                __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
                                            };
                                        }
                                    </script>
                                </div>

                                <div class="form-group two-form-group col-md-6 col-lg-4">
                                    <label class="form-label">@ProjectSession.Resources.label.Building_TextBlockBuildingNo<span class="cfont">*</span></label>
                                    <div class="input-group pm-checklist">
                                        @Html.HiddenFor(model => model.L5ID, new { @id = "hdnL5ID" })
                                        @Html.TextBoxFor(model => model.L5No, new { @MaxLength = 50, @class = "form-control code-input", @readonly = "readonly", @id = "txtL5No", @Placeholder = @ProjectSession.Resources.label.Building_TextBlockBuildingNo })
                                        @*@Html.TextBoxFor(model => model.L5Description, new { @MaxLength = 50, @class = "form-control", @readonly = "readonly", @id = "txtL5Description", @Placeholder = @ProjectSession.Resources.label.Building_TextBlockBuildingDesc })
                                            @Html.TextBoxFor(model => model.L5AltDescription, new { @MaxLength = 50, @class = "form-control", @readonly = "readonly", @id = "txtL5AltDescription", @Placeholder = @ProjectSession.Resources.label.Building_TextBlockAltBuildingDesc })*@

                                        @(Html.Kendo().AutoCompleteFor(model => model.L5Description)
                                    .DataTextField(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "L5AltDescription" : "L5Description")
                        .HtmlAttributes(new { @class = "form-control", @id = "txtL5Description" })
                                    .Filter("contains")
                                    .Template("#= KendoDDLTemplate( data.L5No, data.L5Description, data.L5AltDescription) #")
                                    .MinLength(3)
                                    .Placeholder(ProjectSession.Resources.label.Building_TextBlockBuildingDesc)
                                    .Events(m => m.Select("onL5AutoSelect"))
                                    .DataSource(source =>
                                     {
                                         source.Read(read =>
                                         {
                                             read.Action(Actions.GetBuildingDetailsAutoDDL, Controllers.AutoComplete, new { area = Areas.Configurations }).Data("onL5AdditionalData");
                                         })
                                     .ServerFiltering(true);
                                     })
                                .Value(Convert.ToString(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? Model.L5AltDescription : Model.L5Description))
                                        )

                                        <a href="#" class="checklis-btn" data-toggle="modal" id="btnOpenBuildingPopup" onclick="OpenL5PopUp()">
                                            <img src="../images/checklis-icon.png" alt="">
                                        </a>
                                        <a href="javascript:void(0);" class="close-btn" id="btnClearBuilding" onclick="ClearBuilding();">
                                            <img src="../images/close.png" alt="">
                                        </a>
                                    </div>
                                </div>

                                <div class="form-group col-md-6 col-lg-4">
                                    <label class="form-label">@ProjectSession.Resources.label.Location_TextBlockCriticality</label>

                                    @(Html.Kendo().DropDownListFor(model => model.CriticalityID)
                                            .DataTextField("Criticality")
                                            .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                            .ValueTemplate(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "#: AltCriticality # " : "#: Criticality #")
                                            .DataValueField("Id")
                                            .HtmlAttributes(new { style = "width: 100%", id = "ddlCriticality" })
                                            .Template(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "#:AltCriticality # " : "#:Criticality #")
                                            .DataSource(source =>
                                            {
                                                source.Read(read =>
                                                {
                                                    read.Action(Actions.GetAllCriticalities, Controllers.Configurations, new { area = Areas.Configurations });
                                                });
                                            })
                                        .Value(Convert.ToString(Model.CriticalityID))
                                    )
                                </div>

                                <div class="form-group col-md-6 col-lg-4">
                                    <label class="form-label">@ProjectSession.Resources.label.CleaningSetup_TextBlockCleaningClassification</label>

                                    @(Html.Kendo().DropDownListFor(model => model.CleaningClassificationId)
                                .DataTextField("Classification")
                                .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                .ValueTemplate(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "#: AltClassification # " : "#: Classification #")
                                .DataValueField("CleaningClassificationID")
                                .HtmlAttributes(new { style = "width: 100%", id = "ddlClassfication" })
                                .Template(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "#:AltClassification # " : "#:Classification #")
                                .DataSource(source =>
                                {
                                    source.Read(read =>
                                    {
                                        read.Action(Actions.GetAllCleaningClassification, Controllers.Configurations, new { area = Areas.Configurations });
                                    });
                                })
                                .Value(Convert.ToString(Model.CleaningClassificationId))
                                    )
                                </div>

                                <div class="form-group col-md-6 col-lg-4">
                                    <label class="form-label">@ProjectSession.Resources.label.LocationType_TextLocationTypeCode<span class="cfont">*</span></label>
                                    @(Html.Kendo().DropDownListFor(model => model.LocationTypeID)
                                                .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                                .DataTextField("LocationTypeCode")
                                                .ValueTemplate(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "#:LocationTypeCode # -- #: LocationTypeAltDesc # " : "#:LocationTypeCode # -- #: LocationTypeDesc #")
                                                .DataValueField("LocationTypeID")
                                                .Template("#= KendoDDLTemplate(data.LocationTypeCode ,data.LocationTypeDesc, data.LocationTypeAltDesc) #")
                                                .HtmlAttributes(new { style = "width: 100%", id = "ddlLocationType", @required = "required" })
                                                .DataSource(source =>
                                                {
                                                    source.Read(read =>
                                                       {
                                                           read.Action(Actions.GetLocationTypes, Controllers.Configurations, new { area = Areas.Configurations });
                                                       });
                                                })
                                                .Value(Convert.ToString(Model.LocationTypeID))
                                    )
                                </div>

                                <div class="two-form-group form-group col-md-6 col-lg-4">
                                    <label class="form-label">@ProjectSession.Resources.label.Location_TextBlockAuthorisedPerson</label>
                                    <div class="input-group pm-checklist">
                                        @Html.HiddenFor(model => model.EmployeeID, new { @id = "hdnEmployeeID" })
                                        @Html.TextBoxFor(model => model.EmployeeNO, new { @class = "form-control code-input", @readonly = "readonly", @id = "txtEmployeeNO", @Placeholder = ProjectSession.Resources.label.Employee_TextBlockEmployeeNO })
                                        @*@Html.TextBoxFor(model => model.Name, new { @class = "form-control", @readonly = "readonly", @style = "display:" + (Lang ? "" : "none;"), @id = "txtName", @Placeholder = ProjectSession.Resources.label.Employee_TextBlockEmployeeName })
                                            @Html.TextBoxFor(model => model.AltName, new { @class = "form-control", @readonly = "readonly", @style = "display:" + (Lang ? "none" : ";"), @id = "txtAltName", @Placeholder = ProjectSession.Resources.label.Employee_TextBlockEmployeeName })*@

                                        @(Html.Kendo().AutoCompleteFor(model => model.Name)
                                     .DataTextField("Name")
                                    .HtmlAttributes(new { @class = "form-control", @id = "txtName" })
                                    .Filter("contains")
                        .Template("#= KendoDDLTemplateForTwoColumn( data.EmployeeNO, data.Name) #")
                                    .MinLength(3)
                                    .Placeholder(ProjectSession.Resources.label.Employee_TextBlockEmployeeName)
                                    .Events(m => m.Select("onEmployeeAutoSelect"))
                                    .DataSource(source =>
                                     {
                                         source.Read(read =>
                                         {
                                             read.Action(Actions.GetEmployeeAssignPageAutoDDL, Controllers.AutoComplete, new { area = Areas.Configurations }).Data("onEmployeeAdditionalData");
                                         })
                                     .ServerFiltering(true);
                                     })
                                    .Value(Convert.ToString(Model.Name))
                                        )

                                        <a href="#" class="checklis-btn" data-toggle="modal" id="btnOpenEmployeePopUp" data-backdrop="static" onclick="OpenEmployeePopUp()">
                                            <img src="../images/checklis-icon.png" alt="">
                                        </a>
                                        <a href="javascript:void(0)" class="close-btn" id="btnClearEmployee" title="@ProjectSession.Resources.label.Common_ButtonClear" onclick="ClearEmployeeData();">
                                            <img src="../images/close.png" alt="">
                                        </a>
                                    </div>
                                </div>

                                <div class="form-group col-md-6 col-lg-4">
                                    <label class="form-label">@ProjectSession.Resources.label.Location_TextBlockLongitude</label>
                                    @Html.TextBoxFor(model => model.Longitude, new { @MaxLength = 20, @class = "form-control decimalnumber", @id = "txtLongitude", @Name = "Longitude", @placeholder = ProjectSession.Resources.label.Common_Enter + " " + ProjectSession.Resources.label.Location_TextBlockLongitude })
                                </div>
                                <div class="form-group col-md-6 col-lg-4">
                                    <label class="form-label">@ProjectSession.Resources.label.Location_TextBlockLatitude</label>
                                    @Html.TextBoxFor(model => model.Latitude, new { @MaxLength = 20, @class = "form-control decimalnumber", @id = "txtLatitude", @Name = "Latitude", @placeholder = ProjectSession.Resources.label.Common_Enter + " " + @ProjectSession.Resources.label.Location_TextBlockLatitude })
                                </div>
                                <div class="form-group two-form-group col-md-6 col-lg-4">
                                    <label class="form-label">&nbsp;</label>
                                    <div class="input-group pm-checklist">
                                        <button class="btn btn-primary form-control code-input" type="button" title="@ProjectSession.Resources.label.Common_ButtonMapLocation" onclick="openmap()"><span>@ProjectSession.Resources.label.Common_ButtonMapLocation</span></button>
                                    </div>
                                </div>

                                <div class="form-group col-md-6 col-lg-12">
                                    <label class="form-label">@ProjectSession.Resources.label.Asset_TextBlockNoteToTech</label>
                                    @Html.TextAreaFor(model => model.NotetoTech, new { @MaxLength = 5000, @class = "form-control code-input", @rows = "4", @Placeholder = ProjectSession.Resources.label.Common_Enter + " " + ProjectSession.Resources.label.Asset_TextBlockNoteToTech })
                                </div>

                            </div>
                        </div>
                        <div class="box-footer">
                            @if ((Model.LocationID == 0 && ProjectSession.PermissionAccess.Locations_Locations_Createnewrecords) || (Model.LocationID > 0 && ProjectSession.PermissionAccess.Locations_Locations_Editrecords))
                            {
                                <button class="btn btn-primary" id="btnSave" name="btnSave" type="submit"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
                            }
                            <button class="btn btn-default" type="button" title="@ProjectSession.Resources.label.Common_ButtonCancel" onclick="RedirectToPage()"><span>@ProjectSession.Resources.label.Common_ButtonCancel</span></button>
                        </div>
                    }
                </div>
                <div class="tab-pane" id="tb2">
                    <div class="information-form">
                        <div class="form-horizontal">
                            <h3 class="sub-title">
                                <span>@ProjectSession.Resources.label.JobOrder_RadTabItemJobOrderHistory</span>
                                <div class="sub_btn">
                                    @if (ProjectSession.PermissionAccess.Locations_Locations_Export)
                                    {
                                        <a title="Export To Excel" onclick="ExportToExcel('JoHistoryGrid');" class="btn-icon btn-xsl" href="javascript:void(0);"><i></i></a>
                                    }
                                </div>
                            </h3>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="@ProjectSession.CultureKendoClass">
                                        @(Html.Kendo().Grid<CMMS.Model.WorkOrder>()
                                    .Name("JoHistoryGrid")
                                    .Columns(columns =>
                                    {
                                        columns.Bound(c => c.WorkorderNo).Title(ProjectSession.Resources.label.JobOrder_TextBlockJobOrderNo).Width(200);

                                        columns.Bound(c => c.WorkStatus).Title(ProjectSession.Resources.label.JobStatus_TextBlockJobStatus).Width(200)
                                        .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterJobStatus", "GridFilter", new { area = string.Empty, @id = "3" }).Data("BindParametersJOHistory").Type(HttpVerbs.Post))));

                                        columns.Bound(c => c.ProblemDescription).Title(ProjectSession.Resources.label.JobRequest_TextBlockProbDesc).Width(200);

                                        columns.Bound(c => c.ActionTaken).Title(ProjectSession.Resources.label.JobOrder_TextBlockActionTaken).Width(200);

                                        columns.Bound(c => c.DateReceived).ClientTemplate("#= DateTemplateWithTime(data.DateReceived) #").Title(ProjectSession.Resources.message.JobOrder_TextBlockReceivedDate).Width(200);

                                        columns.Bound(c => c.ActDateStart).ClientTemplate("#= DateTemplateWithTime(data.ActDateStart) #").Title(ProjectSession.Resources.label.JobOrder_TextBlockActualDateStart).Width(200);

                                        columns.Bound(c => c.ActDateEnd).ClientTemplate("#= DateTemplateWithTime(data.ActDateEnd) #").Title(ProjectSession.Resources.label.JobOrder_TextBlockActualDateEnd).Width(200);

                                        columns.Bound(c => c.AssetNumber).Title(ProjectSession.Resources.label.Asset_TextBlockAssetNO).Width(200);

                                        if (Lang)
                                            columns.Bound(c => c.AssetDescription).Title(ProjectSession.Resources.label.JobRequest_TextBlockAssetDescription).Width(200);
                                        else
                                            columns.Bound(c => c.AssetAltDescription).Title(ProjectSession.Resources.label.JobRequest_TextBlockAltAssetDescription).Width(200);

                                        if (Lang)
                                            columns.Bound(c => c.WorkTypeDescription).Title(ProjectSession.Resources.label.JobType_TextBlockJobType).Width(200)
                                             .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterJobType", "GridFilter", new { area = string.Empty, @id = "1" }).Data("BindParametersJOHistory").Type(HttpVerbs.Post))));
                                        else
                                            columns.Bound(c => c.AltWorkTypeDescription).Title(ProjectSession.Resources.label.JobType_TextBlockAltJobType).Width(200)
                                            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterJobType", "GridFilter", new { area = string.Empty, @id = "2" }).Data("BindParametersJOHistory").Type(HttpVerbs.Post))));

                                        columns.Bound(c => c.WorkPriority).Title(ProjectSession.Resources.label.JobRequest_TextBlockJobPriority).Width(200)
                                        .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterJobPriority", "GridFilter", new { area = string.Empty, @id = "3" }).Data("BindParametersJOHistory").Type(HttpVerbs.Post))));

                                        if (Lang)
                                            columns.Bound(c => c.WorkTrade).Title(ProjectSession.Resources.label.JobTrade_TextBlockJobTrade).Width(200)
                                            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterJobTrade", "GridFilter", new { area = string.Empty, @id = "1" }).Data("BindParametersJOHistory").Type(HttpVerbs.Post))));
                                        else
                                            columns.Bound(c => c.AltWorkTrade).Title(ProjectSession.Resources.label.JobTrade_TextBlockAltJobTrade).Width(200)
                                            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterJobTrade", "GridFilter", new { area = string.Empty, @id = "2" }).Data("BindParametersJOHistory").Type(HttpVerbs.Post))));

                                        columns.Bound(c => c.MaintDivisionCode).Title(ProjectSession.Resources.label.MaintDivision_TextBlockMaintDiv).Width(200)
                                        .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterMaintenanceDivision", "GridFilter", new { area = string.Empty }).Data("BindParametersJOHistory").Type(HttpVerbs.Post))));

                                        columns.Bound(c => c.MaintDeptCode).Title(ProjectSession.Resources.label.MaintenanceDept_TextBlockMaintDept).Width(200)
                                        .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterMaintenanceDepartment", "GridFilter", new { area = string.Empty }).Data("BindParametersJOHistory").Type(HttpVerbs.Post))));

                                        columns.Bound(c => c.MaintSubDeptCode).Title(ProjectSession.Resources.label.MaintenanceSubDept_TextBlockMaintSubDept).Width(200)
                                        .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterMaintenanceSubDepartment", "GridFilter", new { area = string.Empty }).Data("BindParametersJOHistory").Type(HttpVerbs.Post))));
                                    })
                                    .Filterable()
                                    .Sortable(sortable => sortable.AllowUnsort(false))
                                    .Scrollable()
                                            .Excel(excel => excel.FileName("Job Order History.xlsx").Filterable(true).AllPages(true).ProxyURL(Url.Action("Excel_Export_Save", "GridExport", new { area = string.Empty })))
                                    .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
                                                    .Events(events => events.DataBound("onDataBoundJOHistory").ExcelExport("excelExport"))
                                    .DataSource(dataSource => dataSource.Ajax()
                                    .PageSize(ProjectConfiguration.PageSize)
                                    .Model(model =>
                                     {
                                         model.Id(p => p.WorkorderNo);
                                         model.Field(p => p.WorkorderNo);
                                     })
                                    .ServerOperation(true)
                                            .Read(read => read.Action(Actions.GetJobOrderByLocationID, Controllers.Transaction, new { area = Areas.Transaction }).Data("BindParametersJOHistory").Type(HttpVerbs.Post))
                                    )
                                        )
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tb3">
                    <div class="information-form">
                        <div class="form-horizontal">
                            <h3 class="sub-title">
                                <span>@ProjectSession.Resources.label.Asset_TabItemAsset</span>
                                <div class="sub_btn">
                                    @if (ProjectSession.PermissionAccess.Locations_Locations_Export)
                                    {
                                        <a title="Export To Excel" onclick="ExportToExcel('AssetGrid');" class="btn-icon btn-xsl" href="javascript:void(0);"><i></i></a>
                                    }
                                </div>
                            </h3>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="@ProjectSession.CultureKendoClass">
                                        @(Html.Kendo().Grid<CMMS.Model.Asset>()
                                    .Name("AssetGrid")
                                    .Columns(columns =>
                                    {
                                        columns.Bound(c => c.AssetNumber).Title(ProjectSession.Resources.label.Asset_TextBlockAssetNO).Width(100);

                                        columns.Bound(c => c.AssetDescription).Title(ProjectSession.Resources.label.Asset_TextBlockAssetDescription).Width(200);

                                        columns.Bound(c => c.AssetAltDescription).HtmlAttributes(new { @class = "text-right" }).Title(ProjectSession.Resources.label.Asset_TextBlockAltAssetDescription).Width(200);

                                        columns.Bound(c => c.ModelNumber).Title(ProjectSession.Resources.label.Asset_TextBlockModelNo).Width(150);

                                        columns.Bound(c => c.SerialNumber).Title(ProjectSession.Resources.label.Employee_TextBlockSerialNo).Width(150);

                                        columns.Bound(c => c.Manufacturer).Title(ProjectSession.Resources.label.Asset_TextBlockManufacturer).Width(150);

                                        if (Lang)
                                            columns.Bound(c => c.AssetCategory).Title(ProjectSession.Resources.label.Asset_TextBlockAssetCatName).Width(200);
                                        else
                                            columns.Bound(c => c.AltAssetCategory).HtmlAttributes(new { @class = "text-right" }).Title(ProjectSession.Resources.label.Asset_TextBlockAltAssetCatName).Width(200);
                                    })
                                    .Filterable()
                                    .Sortable(sortable => sortable.AllowUnsort(false))
                                    .Scrollable()
                                            .Excel(excel => excel.FileName("Asset.xlsx").Filterable(true).AllPages(true).ProxyURL(Url.Action("Excel_Export_Save", "GridExport", new { area = string.Empty })))
                                    .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
                                                    .Events(events => events.DataBound("onDataBoundAssets").ExcelExport("excelExport"))
                                    .DataSource(dataSource => dataSource.Ajax()
                                    .PageSize(ProjectConfiguration.PageSize)
                                    .Model(model =>
                                     {
                                         model.Id(p => p.AssetNumber);
                                         model.Field(p => p.AssetNumber);
                                     })
                                    .ServerOperation(true)
                                    .Read(read => read.Action(Actions.GetAssetsByLocationID, Controllers.Transaction, new { area = Areas.Transaction }).Data("BindParametersAssets").Type(HttpVerbs.Post))
                                    )
                                        )
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- tb4 end -->
                @if (Model.LocationID > 0)
                {
                    <div class="tab-pane" id="tb4">
                        <div class="information-form">
                            <div id="divExternalDocument">
                            </div>
                        </div>
                        <div class="box-footer">
                            <button class="btn btn-default" type="button" title="@ProjectSession.Resources.label.Common_ButtonCancel" onclick="RedirectToPage();"><span>@ProjectSession.Resources.label.Common_ButtonCancel</span></button>
                        </div>
                    </div>

                    <div class="tab-pane" id="tb5">
                        <div id="divLinkedLocations">
                        </div>
                        <div class="box-footer">
                            <button class="btn btn-default" type="button" title="@ProjectSession.Resources.label.Common_ButtonCancel" onclick="RedirectToPage();"><span>@ProjectSession.Resources.label.Common_ButtonCancel</span></button>
                        </div>
                    </div>
                    <div class="tab-pane" id="tb6">
                        <div class="information-form">
                            <div id="divPmMeter">
                            </div>
                        </div>
                        <div class="box-footer">
                            <button class="btn btn-default" type="button" onclick="RedirectToPage();"><span>@ProjectSession.Resources.label.Common_ButtonCancel</span></button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<!-- Building (L5) Grid Modal-->
<div id="BuildingGridModal" class="modal fade" role="dialog" style="z-index: 100000 !important">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" title="@ProjectSession.Resources.label.Common_ButtonClose"></button>
                <h4 class="modal-title">@ProjectSession.Resources.label.Building_TextBlockBuildingDetails</h4>
            </div>
            <div class="modal-body">
                <div id="Highlights" class="tab-pane active" role="tabpanel">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div id="BuildingData" class="@ProjectSession.CultureKendoClass  kendo-fix-height">
                                    @(Html.Kendo().Grid<CMMS.Model.L5>()
                                            .Name("buildingGrid")
                                            .HtmlAttributes(new { @class = "kl-grid" })
                                            .Columns(columns =>
                                            {
                                                columns.Bound(c => c.L4ID).Hidden();
                                                columns.Bound(c => c.L3ID).Hidden();

                                                columns.Bound(c => c.L5No).Title(ProjectSession.Resources.label.Building_TextBlockBuildingCode).Width(120);

                                                columns.Bound(c => c.L5Description).Title(ProjectSession.Resources.label.Building_TextBlockBuildingDesc).Width(140);

                                                columns.Bound(c => c.L5AltDescription).HtmlAttributes(new { @class = "text-right" }).Title(ProjectSession.Resources.label.Building_TextBlockAltBuildingDesc).Width(190);

                                                columns.Bound(c => c.L2Code).Title(ProjectSession.Resources.label.JobRequest_TextBlockCityCode).Width(90)
                                                 .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterSite", "GridFilter", new { area = string.Empty }).Data("BindParametersBuilding").Type(HttpVerbs.Post))));

                                                if (ProjectSession.IsAreaFieldsVisible)
                                                {
                                                    columns.Bound(c => c.L3No).Title(ProjectSession.Resources.label.Area_TextBlockAreaCode).Width(90)
                                                    .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterArea", "GridFilter", new { area = string.Empty }).Data("BindParametersBuilding").Type(HttpVerbs.Post))));
                                                }

                                                columns.Bound(c => c.L4No).Title(ProjectSession.Resources.label.Street_TextBlockStreetCode).Width(100)
                                                .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterZone", "GridFilter", new { area = string.Empty }).Data("BindParametersBuilding").Type(HttpVerbs.Post))));

                                            })
                                            .Filterable()
                                            .Sortable(sortable => sortable.AllowUnsort(false))
                                            .Scrollable()
                                            .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
                                            .Events(events => events.DataBound("onDataBoundPopup"))
                                            .DataSource(dataSource => dataSource.Ajax()
                                            .PageSize(ProjectConfiguration.PageSize)
                                            .Sort(model => model.Add("L5No").Ascending())
                                             .Model(model =>
                                             {
                                                 model.Id(p => p.L5ID);
                                                 model.Field(p => p.L5Description);
                                             })
                                            .ServerOperation(true)
                                            .Read(read => read.Action(Actions.GetBuildingDetails, Controllers.Transaction, new { area = Areas.Transaction }).Data("BindParametersBuilding").Type(HttpVerbs.Post))
                                            )
                                    )

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="employeeGridModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" title="@ProjectSession.Resources.label.Common_ButtonClose"></button>
                <h4 class="modal-title">@ProjectSession.Resources.label.Employee_RadTabItemEmployee</h4>
            </div>
            <div class="modal-body">
                <div id="Highlights" class="tab-pane active" role="tabpanel">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div id="employeeData" class="@ProjectSession.CultureKendoClass">
                                    @(Html.Kendo().Grid<CMMS.Model.employees>()
                                    .Name("employeeGrid")
                                    .HtmlAttributes(new { @class = "kl-grid" })
                                    .Columns(columns =>
                                    {
                                        columns.Bound(c => c.EmployeeNO).Title(ProjectSession.Resources.label.Employee_TextBlockEmployeeNO).Width(150);

                                        columns.Bound(c => c.L2Code).Title(ProjectSession.Resources.label.JobRequest_TextBlockCityCode).Width(150)
                                        .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterSite", "GridFilter", new { area = string.Empty }).Data("BindParametersEmployee").Type(HttpVerbs.Post))));

                                        columns.Bound(c => c.Name).Title(ProjectSession.Resources.label.Employee_TextBlockEmployeeName).Width(200);

                                        columns.Bound(c => c.MaintDivisionCode).Title(ProjectSession.Resources.label.MaintDivision_TextBlockMaintDivCode).Width(150)
                                        .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterMaintenanceDivision", "GridFilter", new { area = string.Empty }).Data("BindParametersEmployee").Type(HttpVerbs.Post))));

                                        columns.Bound(c => c.MaintDeptCode).Title(ProjectSession.Resources.label.MaintenanceDept_TextBlockMaintDeptCode).Width(150)
                                       .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterMaintenanceDepartment", "GridFilter", new { area = string.Empty }).Data("BindParametersEmployee").Type(HttpVerbs.Post))));

                                        columns.Bound(c => c.MaintSubDeptCode).Title(ProjectSession.Resources.label.MaintenanceSubDept_TextBlockMaintSubDeptCode).Width(180)
                                        .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterMaintenanceSubDepartment", "GridFilter", new { area = string.Empty }).Data("BindParametersEmployee").Type(HttpVerbs.Post))));

                                        columns.Bound(c => c.Positions).Title(ProjectSession.Resources.label.Employee_TextBlockDesignation).Width(150);

                                        columns.Bound(c => c.CategoryName).Title(ProjectSession.Resources.label.Employee_TextBlockEmployeeCategory).Visible(Lang).Width(200)
                                        .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterEmpCategory", "GridFilter", new { area = string.Empty, @id = "1" }).Data("BindParametersEmployee").Type(HttpVerbs.Post))));

                                        columns.Bound(c => c.AltCategoryName).Title(ProjectSession.Resources.label.Employee_TextBlockEmployeeCategory).Width(200).Visible(!Lang)
                                        .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterEmpCategory", "GridFilter", new { area = string.Empty, @id = "2" }).Data("BindParametersEmployee").Type(HttpVerbs.Post))));

                                        columns.Bound(c => c.EmployeeStatus).Title(ProjectSession.Resources.label.Employee_TextBlockEmployeeStatus).Width(150).Visible(Lang)
                                        .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterEmpStatus", "GridFilter", new { area = string.Empty, @id = "1" }).Data("BindParametersEmployee").Type(HttpVerbs.Post))));

                                        columns.Bound(c => c.EmployeeAltStatus).Title(ProjectSession.Resources.label.Employee_TextBlockEmployeeStatus).Width(120).Visible(!Lang)
                                        .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterEmpStatus", "GridFilter", new { area = string.Empty, @id = "2" }).Data("BindParametersEmployee").Type(HttpVerbs.Post))));

                                    })
                                    .Filterable()
                                    .Sortable(sortable => sortable.AllowUnsort(false))
                                    .Scrollable()
                                    .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
                                    .Events(events => events.DataBound("onDataBoundEmployee"))
                                    .DataSource(dataSource => dataSource.Ajax()
                                    .PageSize(ProjectConfiguration.PageSize)
                                     .Model(model =>
                                     {
                                         model.Id(p => p.EmployeeID);
                                         model.Field(p => p.Name);
                                     })
                                    .ServerOperation(true)
                                            .Read(read => read.Action(Actions.GetEmployeeAssignPage, Controllers.Management, new { area = Areas.Management }).Data("BindParametersEmployee").Type(HttpVerbs.Post))
                                    )
                                   .Resizable(resize => resize.Columns(true))
                                    )

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- map model-->
<div id="dvGPSLocationModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"></button>
                <h4 class="modal-title" id="lblModalTitle">@ProjectSession.Resources.label.JobOrder_TextBlockGPSLocation</h4>
            </div>
            <div class="modal-body">
                <div id="Highlights" class="tab-pane active" role="tabpanel">
                    <div id="divGPSLocation">
                    </div>
                </div>
            </div>
            <div class="modal-footer box-footer">
                <button type="button" class="btn btn-primary" id="btnMapDirection" onclick="MapDirection();"><span>@ProjectSession.Resources.label.Location_ButtonGoTo</span></button>
                <button type="button" class="btn btn-primary" id="btnMapLoactionSave" onclick="saveMapLocation();"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
                <button type="button" class="btn btn-default" data-dismiss="modal">@ProjectSession.Resources.label.Common_ButtonClose</button>
            </div>
        </div>
    </div>
</div>

@*Page Load Related Script And Common Functions*@
<script type="text/javascript">
    var intPageID = '@SystemEnum.Pages.Section.GetHashCode()';

    validator = $('#frmLocation').validate({
        rules: {
            LocationNo: { required: true },
            LocationDescription: { required: true },
            Longitude: { number: true, range: [-999, 999] },
            Latitude: { number: true, range: [-999, 999] },
            L5ID: { required: true },
            L5No: { required: true },
        },
        messages: {
            LocationNo: { required: '' },
            LocationDescription: { required: '' },
            Longitude: { range: '', number: '' },
            Latitude: { range: '', number: '' },
            L5ID: { range: '', number: '' },
            L5No: { range: '', number: '' },
        }
    });

    $('#frmLocation').on('submit', function (e) {
        if ($("#frmLocation").valid()) {
            if (!e.isDefaultPrevented()) {
                if (reValidateDropDowns($(this))) {
                } else {
                    e.preventDefault();
                }
            }
        }
        else {
            e.preventDefault();
        }
    });


    $(document).ready(function () {
        if ('@ViewBag.Message' != '' && '@ViewBag.MessageType' != '') {
            ShowMessage('@ViewBag.MessageType', '@ViewBag.Message', "#divMessage");
        }

        if ('@Lang' == 'True') {
            $('#txtLocationAltDescription').css("display", "none");
            $('#txtLocationDescription').css("display", "block");

            $('#txtL4AltDescription').css("display", "none");
            $('#txtL4Description').css("display", "block");

            //$('#txtL5AltDescription').css("display", "none");
            //$('#txtL5Description').css("display", "block");

            $('#txtSectorAltName').css("display", "none");
            $('#txtSectorName').css("display", "block");

            $('#txtL3AltDesc').css("display", "none");
            $('#txtL3Desc').css("display", "block");
        }
        else {
            $('#txtLocationDescription').css("display", "none");
            $('#txtLocationAltDescription').css("display", "block");

            $('#txtL4Description').css("display", "none");
            $('#txtL4AltDescription').css("display", "block");

            //$('#txtL5Description').css("display", "none");
            //$('#txtL5AltDescription').css("display", "block");

            $('#txtSectorName').css("display", "none");
            $('#txtSectorAltName').css("display", "block");

            $('#txtL3Desc').css("display", "none");
            $('#txtL3AltDesc').css("display", "block");
        }

        if (parseInt('@Model.LocationID') > 0) {
            $('#btnOpenBuildingPopup').addClass('disabled');
            $('#btnClearBuilding').addClass('disabled');
            $('#txtL5Description').addClass('disabled');
        }

        if ('@Model.LocationID' != '0') {
            var url = '@Url.Action(Actions._GetSectionDocuments, Controllers.Transaction, new { Area = Areas.Transaction })' + '?locationId=' + $('#LocationID').val();
            $("#divExternalDocument").load(url);

            var url = '@Url.Action(Actions._PmMeterByLocation, Controllers.Transaction, new { Area = Areas.Transaction, locationID = Model.LocationID })';
            $("#divPmMeter").load(url);

            AreaEnableOrgWise();
        }

    });

    function SetFocus(data) {
        if (data == 'tb1') {
            setTimeout(function () {
                $('#LocationNo').focus();
            }, 1);
        }
    }

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };

    function RedirectToPage() {
        location.href = '@Url.Action(Actions.SectionList, Controllers.Transaction, new { @area = Areas.Transaction })';
    }

    function onEmployeeAdditionalData() {
        return {
            cityID: 0,
            type: 0,
            text: $("#txtName").val(),
        };
    }

    function BindParametersEmployee() {
        var strWhere = '';
        return {
            cityID: 0,
            type: 0,
            strWhere: strWhere,
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function OpenEmployeePopUp() {
        var grid = $("#employeeGrid").data("kendoGrid");
        ReBindKendoGrid('employeeGrid');
        $("#employeeGridModal").modal("show");
    }

    function ClearEmployeeData() {
        $("#txtEmployeeNO").val("");
        $("#EmployeeNO").val("");
        $("#txtName").val("");
        $("#Name").val("");
        $("#txtAltName").val("");
        $("#AltName").val("");
        $('#EmployeeID').val("");
        $("#hdnEmployeeID").val("");
    }

    function onEmployeeAutoSelect(e) {
        var model = this.dataItem(e.item.index());

        $('#EmployeeID').val(model.EmployeeID);
        $("#hdnEmployeeID").val(model.EmployeeID);
        $("#txtEmployeeNO").val(model.EmployeeNO);
        $("#EmployeeNO").val(model.EmployeeNO);
        //$("#txtName").val(model.Name);
        $("#Name").val(model.Name);
        //$("#txtAltName").val(model.AltName);
        $("#AltName").val(model.AltName);
    }


    $("#employeeGrid tbody").on("dblclick", "tr[role='row']", function (e) {
        var grid = $("#employeeGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        $("#employeeGridModal").modal("hide");
        $('#EmployeeID').val(model.EmployeeID);
        $("#hdnEmployeeID").val(model.EmployeeID);
        $("#txtEmployeeNO").val(model.EmployeeNO);
        $("#EmployeeNO").val(model.EmployeeNO);
        $("#txtName").val(model.Name);

        $("#Name").val($("#txtName").val());
        $("#AltName").val($("#txtName").val());
    });


    function onDataBoundEmployee(arg) {
        gridProperPaging(this);
    }

</script>

@*Dropdown Change Script*@
<script type="text/javascript">

    function ChangeL1(e) {
        var dataItem = this.dataItem(e.item);
        $.ajax({
            url: '@Url.Action(Actions.GetOrganisationByID, Controllers.Configurations, new { area = Areas.Configurations })',
            type: 'Post',
            data: addRequestVerificationToken({ orgId: dataItem.L1ID == "" ? 0 : dataItem.L1ID }),
            cache: false,
            async: false,
            success: function (result) {
                $('#hdnIsAreaEnableOrgWise').val(result.IsAreaEnable);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                showErrorMessage();
            }
        });
    }

    function ChangeL2(e) {

        AreaEnableOrgWise();

        var dataItem = this.dataItem(e.item);

        if (dataItem.L2ID == "" || dataItem.L2ID == null) {
            ClearBuilding();
            $('#txtSectorCode').val("");
            $('#txtSectorName').val("");
            $('#txtSectorAltName').val("");
            //$("#ddlZones").data("kendoDropDownList").dataSource.read();
        }
        else {
            $.ajax({
                url: '@Url.Action(Actions.GetL2InformationById, Controllers.Configurations, new { area = Areas.Configurations })',
                type: 'Post',
                data: addRequestVerificationToken({ siteID: dataItem.L2ID == "" ? 0 : dataItem.L2ID }),
                cache: false,
                async: false,
                success: function (result) {
                    $('#txtSectorCode').val(result.SectorCode);
                    $('#txtSectorName').val(result.SectorName);
                    $('#txtSectorAltName').val(result.SectorAltName);

                    @* var a = '@ProjectSession.IsAreaFieldsVisible';
                    if (a == 'True') {
                        $("#ddlAreas").data("kendoDropDownList").dataSource.read();
                    }*@

                    //$("#ddlZones").data("kendoDropDownList").dataSource.read();

                    ReBindKendoGrid("buildingGrid");


                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                    ClearBuilding();
                }
            });
        }
        EnableDisableButton(dataItem.L2ID);
    }

    function DataBoundDDLCity(e) {
        if ('@Model.LocationHasReferences'.toLowerCase() == 'true') {
            $('#ddlCity').data("kendoDropDownList").enable(false);
        }
        else {
            $('#ddlCity').data("kendoDropDownList").enable(true);
        }
    }

    function DataBoundL4(e) {
        if ('@Model.LocationHasReferences'.toLowerCase() == 'true') {
            $('#ddlZones').data("kendoDropDownList").enable(false);
        }
        else {
            $('#ddlZones').data("kendoDropDownList").enable(true);
        }
    }

    function DataBoundDDLArea(e) {
        AreaEnableOrgWise();
    }

    function AreaEnableOrgWise() {
        if ('@ProjectSession.IsAreaFieldsVisible'.toLowerCase() == 'true') {
            if ($('#hdnIsAreaEnableOrgWise').val().toLowerCase() == "true") {
                $('#ddlAreas').data("kendoDropDownList").enable(true);
                $('#ddlAreas').prop('required', 'required');
                $('#SpanArea').html('*');
            }
            else {
                $('#ddlAreas').data("kendoDropDownList").enable(false);
                $('#ddlAreas').removeProp('required');
                $('#SpanArea').html('');
            }

            if ('@Model.LocationHasReferences'.toLowerCase() == 'true') {
                $('#ddlAreas').data("kendoDropDownList").enable(false);
            }
        }
    }

    function ChangeL4(e) {
        ClearBuilding();
        ReBindKendoGrid("buildingGrid");
    }

    function OpenL5PopUp() {
        $("#BuildingGridModal").modal("show");
    }

    function ClearBuilding() {
        $("#hdnL5ID").val("");
        $("#txtL5No").val("");
        $("#txtL5Description").val("");
        $("#txtL5AltDescription").val("");
    }

    function EnableDisableButton(value) {
        if (value == 'undefined' || value == null || value == '') {
            $('#btnOpenBuildingPopup').addClass('disabled');
            $('#btnClearBuilding').addClass('disabled');
            $('#txtL5Description').addClass('disabled');
        }
        else {
            $('#btnOpenBuildingPopup').removeClass('disabled');
            $('#btnClearBuilding').removeClass('disabled');
            $('#txtL5Description').removeClass('disabled');
        }
    }


</script>

@*Data Bound and Parameter Bind Script*@
<script type="text/javascript">

    function onDataBoundJOHistory(arg) {
        gridProperPaging(this);
    }

    function onDataBoundAssets(arg) {
        gridProperPaging(this);
    }

    function onDataBoundPopup() {
        gridProperPaging(this);
    }

    function BindParametersJOHistory() {
        return {
            locationid: '@Model.LocationID',
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function BindParametersAssets() {
        return {
            locationid: '@Model.LocationID',
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function onL5AdditionalData() {
        var zoneID1 = $('#ddlZones').val();
        var cityID1 = $('#ddlCity').val();

        if (zoneID1 == '' || zoneID1 == 'undefined' || zoneID1 == null) {
            zoneID1 = 0;
        }
        if (cityID1 == '' || cityID1 == 'undefined' || cityID1 == null) {
            cityID1 = 0;
        }
        return {
            cityID: cityID1,
            areaID: ($('#ddlAreas') != undefined && $('#ddlAreas') != null && $('#ddlAreas').val() != undefined && $('#ddlAreas').val() != null && $('#ddlAreas').val() != "" ? $('#ddlAreas').val() : 0),
            zoneID: zoneID1,
            text: $("#txtL5Description").val(),

        };
    }

    function BindParametersBuilding() {
        var zoneID1 = $('#ddlZones').val();
        var cityID1 = $('#ddlCity').val();

        if (zoneID1 == '' || zoneID1 == 'undefined' || zoneID1 == null) {
            zoneID1 = 0;
        }
        if (cityID1 == '' || cityID1 == 'undefined' || cityID1 == null) {
            cityID1 = 0;
        }
        return {
            cityID: cityID1,
            areaID: ($('#ddlAreas') != undefined && $('#ddlAreas') != null && $('#ddlAreas').val() != undefined && $('#ddlAreas').val() != null && $('#ddlAreas').val() != "" ? $('#ddlAreas').val() : 0),
            zoneID: zoneID1,
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function onL5AutoSelect(e) {
        var L5 = this.dataItem(e.item.index());
        $('#hdnL5ID').val(L5.L5ID);
        $("#txtL5No").val(L5.L5No);
        //$("#txtL5Description").val(L5.L5Description);
        //$("#txtL5AltDescription").val(L5.L5AltDescription);

        //$('#ddlCity').val(L5.L2ID);
        //$('#ddlAreas').val(L5.L3ID);
        //$('#ddlZones').val(L5.L4ID);


        $("#ddlZones").data("kendoDropDownList").dataSource.read();

        $("#ddlZones").data("kendoDropDownList").value(L5.L4ID);
        $("#ddlCity").data("kendoDropDownList").value(L5.L2ID);
        var a = '@ProjectSession.IsAreaFieldsVisible';
        if (a == 'True') {
            $("#ddlAreas").data("kendoDropDownList").value(L5.L3ID);
        }
    }


    $("#BuildingGridModal tbody").on("dblclick", "tr[role='row']", function (e) {
        var grid = $("#buildingGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        $("#BuildingGridModal").modal("hide");
        FillBuildingValues(model);
    });

    function FillBuildingValues(L5) {
        $('#hdnL5ID').val(L5.L5ID);
        $("#txtL5No").val(L5.L5No);
        if ('@Lang' == 'True') {
            $("#txtL5Description").val(L5.L5Description);
        }
        else {
            $("#txtL5Description").val(L5.L5AltDescription);
        }

        //$('#ddlCity').val(L5.L2ID);
        //$('#ddlAreas').val(L5.L3ID);
        //$('#ddlZones').val(L5.L4ID);

        $("#ddlZones").data("kendoDropDownList").dataSource.read();

        $("#ddlZones").data("kendoDropDownList").value(L5.L4ID);
        $("#ddlCity").data("kendoDropDownList").value(L5.L2ID);
        var a = '@ProjectSession.IsAreaFieldsVisible';
        if (a == 'True') {
            $("#ddlAreas").data("kendoDropDownList").value(L5.L3ID);

        }

    }
</script>

@*Start of Partial view : Document Tab*@
<script>

    function onDataBoundDocument(arg) {
        confirmDeleteMsg(msgText, okText, cancelText, onConfirmCallbackDocument, confirmDirection);
        gridProperPaging(this);
    }

    function onConfirmCallbackDocument(sender) {
        var id = $(this).data("id");
        $.ajax({
            url: '@Url.Action(Actions.DeleteSectionDocument, Controllers.Transaction, new { area = Areas.Transaction })',
            type: "POST",
            data: addRequestVerificationToken({ autoID: id }),
            dataType: "json",
            success: function (result) {
                ShowMessage(result[0], result[1], "#divMessage");
                ReBindKendoGrid("DocumentGrid");
                $('#divFileName').css('display', 'none');
                $('#FileDescription').val('');
                $('#lblFileName').text('');
            },
            error: function (xhr, ajaxOptions, thrownError) {
                showErrorMessage();
            }
        });
    }

    function BindParametersDocument() {
        return {
            foreignKeyID: $('#hdnFkId').val(),
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }
</script>

@*map functionality*@
<script type="text/javascript">

    var googleMap;
    var googleMarker;
    var maplattitude = 0.00;
    var maplongitude = 0.00;


    var map;
    var markers = [];

    function openmap() {
        $("#dvGPSLocationModal").modal("show");

        var longitude = $("#txtLongitude").val();
        var lattitude = $("#txtLatitude").val();

        if (longitude != 'undefined' && longitude != null && $.trim(longitude) != '') {
            longitude = +longitude;
        }
        else {
            longitude = 0.00;
        }

        if (lattitude != 'undefined' && lattitude != null && $.trim(lattitude) != '') {
            lattitude = +lattitude;
        }
        else {
            lattitude = 0.00;
        }

        OpenGPSLocation(lattitude, longitude);
    }

    function OpenGPSLocation(lattitude, longitude) {
        maplattitude = lattitude;
        maplongitude = longitude;                  

        setTimeout(function () {
            var googlePos = { lat: lattitude, lng: longitude };
            var mapOptions = {
                zoom: 10,
                center: googlePos,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var mapObj = document.getElementById('divGPSLocation');
            googleMap = new google.maps.Map(mapObj, mapOptions);
            var markerOpt = {
                map: googleMap,
                position: googlePos,
            };
            googleMarker = new google.maps.Marker(markerOpt);

            // This event listener will call addMarker() when the map is clicked.
            googleMap.addListener('click', function (event) {
                addMarker(event.latLng);
            });
        }, 800);
    }



    // Adds a marker to the map and push to the array.
    function addMarker(location) {
        deleteMarkers();
        var marker = new google.maps.Marker({
            position: location,
            map: googleMap
        });
        googleMarker = marker;
        maplattitude = location.lat();
        maplongitude = location.lng();
    }

    // Sets the map on all markers in the array.
    function setMapOnAll(googleMap) {
        //for (var i = 0; i < markers.length; i++) {
        //    markers[i].setMap(map);
        //}
        googleMarker.setMap(googleMap);
    }

    // Removes the markers from the map, but keeps them in the array.
    function clearMarkers() {
        setMapOnAll(null);
    }

    // Deletes all markers in the array by removing references to them.
    function deleteMarkers() {
        clearMarkers();
        googleMarker = '';
    }

    function saveMapLocation() {
        $("#dvGPSLocationModal").modal("hide");
        $("#txtLongitude").val(maplongitude);
        $("#txtLatitude").val(maplattitude);
    }

    function MapDirection() {      
        window.open("https://maps.google.com?saddr=Current+Location&daddr=" + maplattitude + "," + maplongitude, '_blank');
    }

</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDzflc_6qyXjX84Cd5HTqrrdy7BsnO7BLA" async defer></script>

@*Linked Locations*@
<script type="text/javascript">
    function loadLinkedLocationstab() {
        if (isLoadedLinkedLocationsTab == false && '@Model.LocationID' != '0' && '@Model.LocationID' != '') {
            var url = '@Url.Action(Actions._GetLinkedLocationsPage, Controllers.Transaction, new { Area = Areas.Transaction })' + '?locationID=' + $('#LocationID').val();
            $("#divLinkedLocations").load(url);
            isLoadedLinkedLocationsTab = true;
        }
    }
</script>

@*Start of Partial view : PM Meter Tab*@
<script type="text/javascript">
    function onDataBoundPMHistory(arg) {
        gridProperPaging(this);
    }

    function BindParametersPMHistory() {
        return {
            locationID: $('#hdnLocationID').val(),
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function onDataBoundPMSchedleHistory(arg) {
        gridProperPaging(this);
    }

    function BindParametersPMSchedleHistory() {
        return {
            locationID: $('#hdnLocationID').val(),
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

</script>

