﻿@using CMMS.Infrastructure;
@using CMMS.Pages;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool Lang = ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true;
}
<script type="text/javascript">

    function redirectToListing() {
        var url = '@Url.Action(Actions.GetTransactionListPage, Controllers.Transaction, new { })';
        location.href = url;
    }

    function onDataBoundForPPNP(arg) {
        gridProperPaging(this);
    }

    function BindParametersForPPNP() {
        return {
            storeID: (isNotUndefinedNullOrBlankOrZero('ddlIssueSubStore') ? $('#ddlIssueSubStore').val() : 0),
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function filterStores() {
        return {
            siteId: isNotUndefinedNullOrBlankOrZero("ddlIssueCity") ? $("#ddlIssueCity").val() : 0,
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function Search(e) {
        ReBindKendoGrid('PPNPGrid');
        ReBindKendoGrid('PPHPGrid');
    }

</script>
<div class="head1">
    <h1>
        @ProjectSession.Resources.label.Store_RadTabItemStoreTransPurchaseProposal
    </h1>
    <ul class="sub_btn"></ul>
</div>

<div class="box">
    <div class="information-form cus-form" style="padding-top: 10px">
        <script type="text/javascript">
            function onDataBoundCityDDL(e) {
                var ds = this.dataSource.data();
                if (ds.length > 0) {
                    this.select(1);
                }
            }
        </script>
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="form-group ">
                    <label class="form-label">@ProjectSession.Resources.label.JobRequest_TextBlockCity</label>
                    <div class="@ProjectSession.CultureKendoClass">
                        @(Html.Kendo().DropDownList()
                                .Name("L2ID")
                                .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                .DataTextField("L2Code")
                                .ValueTemplate(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "#:L2Code # -- #: L2Altname # " : "#:L2Code # -- #: L2name #")
                                .DataValueField("L2ID")
                                .HtmlAttributes(new { style = "width: 100%", @required = "required", @id = "ddlIssueCity" })
                                .Template("#= KendoDDLTemplate(data.L2Code ,data.L2name, data.L2Altname) #")
                                .Events(model => model.DataBound("onDataBoundCityDDL"))
                                .DataSource(source =>
                                {
                                    if (ProjectSession.IsCentral)
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action(Actions.GetAllCities, Controllers.Configurations, new { area = Areas.Configurations });
                                        });
                                    }
                                    else
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action(Actions.GetCitiesByEmployee, Controllers.Configurations, new { area = Areas.Configurations });
                                        });
                                    }
                                })
                                .Value("")
                        )
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="form-group">
                    <label class="form-label">@ProjectSession.Resources.label.Store_TextBlockStore</label>
                    <script type="text/javascript">
                        function onDataBoundStoreDDL(e) {
                            var ds = this.dataSource.data();
                            if (ds.length > 0) {
                                this.select(1);
                            }
                        }
                    </script>
                    <div class="@ProjectSession.CultureKendoClass">
                        @(Html.Kendo().DropDownList()
                                .Name("SubStoreID")
                                .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                .DataTextField("SubStoreCode")
                                .ValueTemplate(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "#:SubStoreCode # -- #: AltSubStoreDesc # " : "#:SubStoreCode # -- #: SubStoreCode #")
                                .DataValueField("SubStoreID")
                                .Events(m => m.DataBound("onDataBoundStoreDDL"))
                                .HtmlAttributes(new { style = "width: 100%", @required = "required", @id = "ddlIssueSubStore" })
                                .Template("#= KendoDDLTemplate(data.SubStoreCode ,data.SubStoreDesc, data.AltSubStoreDesc) #")
                                .DataSource(source =>
                                {
                                    source.Read(read =>
                                    {
                                        read.Action(Actions.GetStoresListByL2ID, Controllers.Configurations, new { area = Areas.Configurations }).Data("filterStores");

                                    })
                                    .ServerFiltering(true);
                                })
                                .CascadeFrom("ddlIssueCity")
                                .AutoBind(true)
                                .Value("")
                        )
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="box-footer">
        <button type="button" class="btn btn-primary" id="btnSearchItems" onclick="Search();"><span>@ProjectSession.Resources.label.Report_ButtonSearch</span></button>
        <button type="button" class="btn btn-default" id="btnReset"><span>@ProjectSession.Resources.label.Common_ButtonClear</span></button>
    </div>
</div>

<div id="divContent">
    @Html.AntiForgeryToken()
    <div class="box edit-job-order">
        <div class="nav-tabs-horizontal">
            <div class="tab-content">
                <div class="information-form cus-form">
                    <h3 class="sub-title">
                        <span>@ProjectSession.Resources.label.Store_TextBlockPPNormalpriority</span>
                        <ul class="sub_btn">
                            <li></li>
                        </ul>
                    </h3>
                    <div class="row">
                        <div class="col-md-12 col-lg-12">
                            <div id="TransIssueGrid" class="@ProjectSession.CultureKendoClass">
                                @(Html.Kendo().Grid<CMMS.Model.Stockcode_level>()
        .Name("PPNPGrid")
        .HtmlAttributes(new { @class = "kl-grid" })
        .Columns(columns =>
        {
            columns.Bound(c => c.StockNo).Title(ProjectSession.Resources.label.ItemRequisition_TextBlockItemNo).Width(120);
            columns.Bound(c => c.StockDescription).Title(ProjectSession.Resources.label.ItemList_TextBlockPartDesc).Width(130).HtmlAttributes(new { title = "#= KendoToolTipTemplate(data.StockDescription) #", @class = "column-textoverflow" });
            columns.Bound(c => c.AltStockDescription).Title(ProjectSession.Resources.label.ItemList_TextBlockAltPartDesc).Width(130).HtmlAttributes(new { title = "#= KendoToolTipTemplate(data.AltStockDescription) #", @class = "column-textoverflow" });
            columns.Bound(c => c.Manufacturer).Title(ProjectSession.Resources.label.Asset_TextBlockManufacturer).Width(130);
            columns.Bound(c => c.SubStoreDesc).Title(ProjectSession.Resources.label.Store_TextBlockSubStore).Width(180).HtmlAttributes(new { title = "#= KendoToolTipTemplate(data.SubStoreDesc) #", @class = "column-textoverflow" });
            columns.Bound(c => c.AltSubStoreDesc).Title(ProjectSession.Resources.label.Store_TextBlockAltSubStore).Width(130).HtmlAttributes(new { title = "#= KendoToolTipTemplate(data.AltSubStoreDesc) #", @class = "column-textoverflow" });
            columns.Bound(c => c.Balance).ClientTemplate("#= DecimalTempalte(data.Balance,2) #").Title(ProjectSession.Resources.label.JobOrder_TextBlockBalance).Width(130);
            columns.Bound(c => c.Max_level).ClientTemplate("#= DecimalTempalte(data.Max_level,2) #").Title(ProjectSession.Resources.label.Item_TextBlockMaxLevel).Width(170);
            columns.Bound(c => c.Min_level).ClientTemplate("#= DecimalTempalte(data.Min_level,2) #").Title(ProjectSession.Resources.label.Item_TextBlockMinLevel).Width(120);
            columns.Bound(c => c.Re_order_level).ClientTemplate("#= DecimalTempalte(data.Re_order_level,2) #").Title(ProjectSession.Resources.label.Item_TextBlockReOrderLevel).Width(120);
            columns.Bound(c => c.Reorder_qty).ClientTemplate("#= DecimalTempalte(data.Reorder_qty,2) #").Title(ProjectSession.Resources.label.Item_TextBlockReOrderQty).Width(120);
        })
        .Sortable(sortable => sortable.AllowUnsort(false))
        .Scrollable()
                         .Excel(excel => excel.FileName(ProjectSession.Resources.label.Store_TextBlockPPNormalpriority + ".xlsx").Filterable(true).AllPages(true))
                .Pageable(pageable => pageable.PageSizes(CMMS.Pages.General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
                        .Events(events => events.DataBound("onDataBoundForPPNP"))
                .DataSource(dataSource =>
                                        dataSource.Ajax()
                                        .PageSize(ProjectConfiguration.PageSize)
                                         .Model(model =>
                                         {
                                             model.Id(p => p.Stock_id);
                                             model.Field(p => p.StockNo);
                                         })
                                        .ServerOperation(true)
                                                                                       .Read(read => read.Action(CMMS.Pages.Actions.GetPurchaseProposalNormalpriority, CMMS.Pages.Controllers.Transaction, new { area = CMMS.Pages.Areas.Transaction }).Data("BindParametersForPPNP").Type(HttpVerbs.Post))
                )
                                )

                            </div>
                        </div>
                    </div>
                </div>
                <div class="information-form cus-form">
                    <h3 class="sub-title">
                        <span>@ProjectSession.Resources.label.Store_TextBlockPPHighpriority</span>
                        <ul class="sub_btn">
                            <li></li>
                        </ul>
                    </h3>
                    <div class="row">
                        <div class="col-md-12 col-lg-12">
                            <div id="TransIssueGrid" class="@ProjectSession.CultureKendoClass">
                                @(Html.Kendo().Grid<CMMS.Model.Stockcode_level>()
        .Name("PPHPGrid")
        .HtmlAttributes(new { @class = "kl-grid" })
        .Columns(columns =>
        {
            columns.Bound(c => c.StockNo).Title(ProjectSession.Resources.label.ItemRequisition_TextBlockItemNo).Width(120);
            columns.Bound(c => c.StockDescription).Title(ProjectSession.Resources.label.ItemList_TextBlockPartDesc).Width(130).HtmlAttributes(new { title = "#= KendoToolTipTemplate(data.StockDescription) #", @class = "column-textoverflow" });
            columns.Bound(c => c.AltStockDescription).Title(ProjectSession.Resources.label.ItemList_TextBlockAltPartDesc).Width(130).HtmlAttributes(new { title = "#= KendoToolTipTemplate(data.AltStockDescription) #", @class = "column-textoverflow" });
            columns.Bound(c => c.Manufacturer).Title(ProjectSession.Resources.label.Asset_TextBlockManufacturer).Width(130);
            columns.Bound(c => c.SubStoreDesc).Title(ProjectSession.Resources.label.Store_TextBlockSubStore).Width(180).HtmlAttributes(new { title = "#= KendoToolTipTemplate(data.SubStoreDesc) #", @class = "column-textoverflow" });
            columns.Bound(c => c.AltSubStoreDesc).Title(ProjectSession.Resources.label.Store_TextBlockAltSubStore).Width(130).HtmlAttributes(new { title = "#= KendoToolTipTemplate(data.AltSubStoreDesc) #", @class = "column-textoverflow" });
            columns.Bound(c => c.Balance).ClientTemplate("#= DecimalTempalte(data.Balance,2) #").Title(ProjectSession.Resources.label.JobOrder_TextBlockBalance).Width(130);
            columns.Bound(c => c.Max_level).ClientTemplate("#= DecimalTempalte(data.Max_level,2) #").Title(ProjectSession.Resources.label.Item_TextBlockMaxLevel).Width(170);
            columns.Bound(c => c.Min_level).ClientTemplate("#= DecimalTempalte(data.Min_level,2) #").Title(ProjectSession.Resources.label.Item_TextBlockMinLevel).Width(120);
            columns.Bound(c => c.Re_order_level).ClientTemplate("#= DecimalTempalte(data.Re_order_level,2) #").Title(ProjectSession.Resources.label.Item_TextBlockReOrderLevel).Width(120);
            columns.Bound(c => c.Reorder_qty).ClientTemplate("#= DecimalTempalte(data.Reorder_qty,2) #").Title(ProjectSession.Resources.label.Item_TextBlockReOrderQty).Width(120);
        })
        .Sortable(sortable => sortable.AllowUnsort(false))
        .Scrollable()
                         .Excel(excel => excel.FileName(ProjectSession.Resources.label.Store_TextBlockPPHighpriority + ".xlsx").Filterable(true).AllPages(true))
                .Pageable(pageable => pageable.PageSizes(CMMS.Pages.General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
                        .Events(events => events.DataBound("onDataBoundForPPNP"))
                .DataSource(dataSource =>
                                        dataSource.Ajax()
                                        .PageSize(ProjectConfiguration.PageSize)
                                         .Model(model =>
                                         {
                                             model.Id(p => p.Stock_id);
                                             model.Field(p => p.StockNo);
                                         })
                                        .ServerOperation(true)
                                                                                               .Read(read => read.Action(CMMS.Pages.Actions.GetPurchaseProposalHighpriority, CMMS.Pages.Controllers.Transaction, new { area = CMMS.Pages.Areas.Transaction }).Data("BindParametersForPPNP").Type(HttpVerbs.Post))
                )
                                )

                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <button type="button" class="btn btn-default" onclick="redirectToListing();">@ProjectSession.Resources.label.Common_ButtonCancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var intPageID = '@SystemEnum.Pages.TransactionList.GetHashCode()';
    $("#btnReset").on("click", function () {
        try {
            $("#ddlIssueCity").data("kendoDropDownList").value(0);
            $("#ddlIssueSubStore").data("kendoDropDownList").value(0);
        } catch (err) { }

        ReBindKendoGrid('PPNPGrid');
        ReBindKendoGrid('PPHPGrid');
    });
</script>
