﻿@using CMMS.Infrastructure;
@using CMMS.Pages;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool Lang = ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true;
}

<script type="text/javascript">

    function BindParametersForTransactionsList() {
        return {
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function onDataBoundForTransactionList() {
        gridProperPaging(this);
    }

</script>

<div class="form-horizontal">
    <div class="information-form">
        <div class="row transactions-btn">
            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-2">
                <button class="btn btn-primary" id="btnAddReceive" data-toggle="modal" data-target="#receiveModal" data-backdrop="static" onclick="OpenAddReceiveWindow();" title="@ProjectSession.Resources.label.Store_TextBlockReceive" type="button"><span>@ProjectSession.Resources.label.Store_TextBlockReceive</span></button>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-2">
                <button class="btn btn-primary" id="btnAddIssue" data-toggle="modal" data-target="#IssueModal" data-backdrop="static" onclick="OpenAddIssueWindow();" title="@ProjectSession.Resources.label.Store_TextBlockIssue" type="button"><span>@ProjectSession.Resources.label.Store_TextBlockIssue</span></button>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-2">
                <button class="btn btn-primary" id="btnAddReturn" data-toggle="modal" data-target="#returnModal" data-backdrop="static" onclick="OpenAddReturnWindow();" title="@ProjectSession.Resources.label.JobOrder_TextBlockReturn" type="button"><span>@ProjectSession.Resources.label.JobOrder_TextBlockReturn</span></button>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-2">
                <button class="btn btn-primary" id="btnAddAdjustment" data-toggle="modal" data-target="#adjustModal" data-backdrop="static" onclick="OpenAddAdjustmentWindow();" title="@ProjectSession.Resources.label.Store_TextBlockAdjustment" type="button"><span>@ProjectSession.Resources.label.Store_TextBlockAdjustment</span></button>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-2">
                <button class="btn btn-primary" id="btnAddTransfer" data-toggle="modal" data-target="#transferModal" data-backdrop="static" onclick="OpenAddTransferWindow();" title="@ProjectSession.Resources.label.Store_TextBlockTransfer" type="button"><span>@ProjectSession.Resources.label.Store_TextBlockTransfer</span></button>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-2">
                <button class="btn btn-primary" id="btnPurchaseProposal" data-toggle="modal" data-target="#purchaseProposalModal" data-backdrop="static" onclick="OpenPurchaseProposalWindow();" title="@ProjectSession.Resources.label.Store_RadTabItemStoreTransPurchaseProposal" type="button"><span>@ProjectSession.Resources.label.Store_RadTabItemStoreTransPurchaseProposal</span></button>
            </div>
        </div>
    </div>
</div>
<div class="head1">
    <h1>@ProjectSession.Resources.label.Store_TextBlockTransactionList</h1>
    <ul class="sub_btn">
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-search" data-toggle="modal" data-target="#search-order" onclick='OpenAdvancedSearch("@ProjectSession.Resources.label.Store_TextBlockTransactionList","@SystemEnum.Pages.TransactionList.GetHashCode()")' title="@ProjectSession.Resources.label.Common_ButtonAdvanceSearch"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-clear" title="@ProjectSession.Resources.label.Common_ButtonClear" onclick="return ClearAdvencedSearch(@SystemEnum.Pages.TransactionList.GetHashCode());"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-refresh" onclick="ReBindKendoGrid('transactionListGrid');" title="@ProjectSession.Resources.label.Common_ButtonRefreshGrid"><i></i></a>
        </li>
        @if (ProjectSession.PermissionAccess.Stores_Transaction_Export)
        {
            <li>
                <a href="javascript:void(0);" class="btn-icon btn-xsl" onclick="ExportToExcel('transactionListGrid', 'TransactionID');" title="@ProjectSession.Resources.label.Common_ButtonExportToExcel"><i></i></a>
            </li>
        }
    </ul>
</div>
@Html.AntiForgeryToken()
<div id="transactionListData" class="@ProjectSession.CultureKendoClass">
    @(Html.Kendo().Grid<CMMS.Model.Transactions>()
       .Name("transactionListGrid")
                                .HtmlAttributes(new { @class = "kl-grid" })
        .Columns(columns =>
        {
            columns.Bound(c => c.TransactionNO).Title(ProjectSession.Resources.label.Store_TextBlockTransactionNo).Width(120);

            columns.Bound(c => c.TypeName).Title(ProjectSession.Resources.label.Store_TextBlockTransactionType).Width(80).Visible(Lang)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterTransactionsType", "GridFilter", new { area = string.Empty ,@id = "1" }).Data("BindParametersForTransactionsList").Type(HttpVerbs.Post))));

            columns.Bound(c => c.AltTypeName).Title(ProjectSession.Resources.label.Store_TextBlockTransactionType).Width(80).Visible(!Lang)
           .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterTransactionsType", "GridFilter", new { area = string.Empty, @id = "2" }).Data("BindParametersForTransactionsList").Type(HttpVerbs.Post))));

            columns.Bound(c => c.CreatedByName).Title(ProjectSession.Resources.label.ItemRequisition_TextBlockCreatedBy).Width(120);
            columns.Bound(c => c.CreatedDate).ClientTemplate("#= DateTemplate(data.CreatedDate) #").Title(ProjectSession.Resources.label.Store_TextBlockTransactionDate).Width(120);

            columns.Bound(c => c.TransactionID).ClientTemplate("<center>" + (ProjectSession.PermissionAccess.Stores_Transaction_ViewTransactions ? "<a class='action'  style='cursor:pointer' title='View Transaction' href='" + Url.Action(Actions.GetTransactionByIdPage, CMMS.Pages.Controllers.Transaction, new { area = CMMS.Pages.Areas.Transaction, id = "#: TransactionID#" }) + "' ><i class='glyphicon glyphicon-search' ></i></a>&nbsp;" : "") + "</center>")
                                       .Title("<center>Action</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Width(60).Width(25).Filterable(false);

        })
        .Sortable(sortable => sortable.AllowUnsort(false))
        .Filterable()
        .Scrollable()
                                .Excel(excel => excel.FileName(ProjectSession.Resources.label.Store_TextBlockTransactionList + ".xlsx").Filterable(true).AllPages(false))
                .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
        .Events(events => events.DataBound("onDataBoundForTransactionList"))
        .DataSource(dataSource =>
                                dataSource.Ajax()
                                .PageSize(ProjectConfiguration.PageSize)
                                 .Model(model =>
                                 {
                                     model.Id(p => p.TransactionID);
                                     model.Field(p => p.TransactionNO);
                                 })
                                .ServerOperation(true)
                                        .Read(read => read.Action(Actions.GetTransactionList, Controllers.Transaction, new { area = Areas.Transaction }).Data("BindParametersForTransactionsList").Type(HttpVerbs.Post))
                )
    )
</div>

<div id="search-order" class="modal fade" role="dialog"></div>

<script type="text/javascript">
    var kendoGridId = 'transactionListGrid';
    var intPageID = '@SystemEnum.Pages.TransactionList.GetHashCode()';

    $(document).ready(function () {
        if ('@ViewBag.Message' != '' && '@ViewBag.MessageType' != '') {
            ShowMessage('@ViewBag.MessageType', '@ViewBag.Message', "#divMessage");
        }
    });

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };

    $("#transactionListGrid tbody").on("dblclick", "tr[role='row']", function (e) {
        var grid = $("#transactionListGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        location.href = '@Url.Action(Actions.GetTransactionByIdPage, CMMS.Pages.Controllers.Transaction, new { area = CMMS.Pages.Areas.Transaction })' + '?id=' + model.TransactionID;
    });
</script>

@if (ProjectSession.PermissionAccess.Stores_Transaction_IssueParts)
{
    <script type="text/javascript">
        function OpenAddIssueWindow() {
            var url = '@Url.Action(CMMS.Pages.Actions.GetTransactionIssuePage, CMMS.Pages.Controllers.Transaction, new { Area = CMMS.Pages.Areas.Transaction })';
            window.location.href = url;
        }
    </script>
}

@if (ProjectSession.PermissionAccess.Stores_Transaction_ReceiveParts)
{
    <script type="text/javascript">
        function OpenAddReceiveWindow() {
            var url = '@Url.Action(CMMS.Pages.Actions.GetTransactionReceivePage, CMMS.Pages.Controllers.Transaction, new { Area = CMMS.Pages.Areas.Transaction })';
            window.location.href = url;
        }
    </script>
}

@if (ProjectSession.PermissionAccess.Stores_Transaction_ReturnParts)
{
    <script type="text/javascript">
        function OpenAddReturnWindow() {
            var url = '@Url.Action(CMMS.Pages.Actions.GetTransactionReturnPage, CMMS.Pages.Controllers.Transaction, new { Area = CMMS.Pages.Areas.Transaction })';
            window.location.href = url;
        }
    </script>
}

@if (ProjectSession.PermissionAccess.Stores_Transaction_Adjustment)
{
    <script type="text/javascript">
        function OpenAddAdjustmentWindow() {
            var url = '@Url.Action(CMMS.Pages.Actions.GetTransactionAdjustmentPage, CMMS.Pages.Controllers.Transaction, new { Area = CMMS.Pages.Areas.Transaction })';
            window.location.href = url;
        }
    </script>
}

@if (ProjectSession.PermissionAccess.Stores_Transaction_Transfer)
{
    <script type="text/javascript">
        function OpenAddTransferWindow() {
            var url = '@Url.Action(CMMS.Pages.Actions.GetTransactionTransferPage, CMMS.Pages.Controllers.Transaction, new { Area = CMMS.Pages.Areas.Transaction })';
            window.location.href = url;
        }
    </script>
}

<script type="text/javascript">
    function OpenPurchaseProposalWindow() {
        var url = '@Url.Action(CMMS.Pages.Actions.GetTransactionPurchaseProposalPage, CMMS.Pages.Controllers.Transaction, new { Area = CMMS.Pages.Areas.Transaction })';
        window.location.href = url;
    }
</script>