﻿@using CMMS.Infrastructure;
@using CMMS.Pages;
@model CMMS.Model.Transactions
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool Lang = ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true;
}
<script type="text/javascript">

    function redirectToListing() {
        var url = '@Url.Action(Actions.GetTransactionListPage, Controllers.Transaction, new { })';
        location.href = url;
    }

    //(Start) Receive Grid
    function onDataBoundForTransReceive(arg) {
        gridProperPaging(this);
    }

    function BindParametersForTransReceive() {
        return {
            stockID: 0,
            subStoreID: 0,
            tranId: (isNotUndefinedNullOrBlankOrZero('TransactionID') ? $('#TransactionID').val() : 0),
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }
    //)End) Receive Grid

    //(Start) Transaction Issue Grid
    function onDataBoundForTransIssues(arg) {
        gridProperPaging(this);
    }

    function BindParametersForTransIssues() {
        return {
            stockID: 0,
            subStoreID: 0,
            tranId: (isNotUndefinedNullOrBlankOrZero('TransactionID') ? $('#TransactionID').val() : 0),
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    //(End) Transaction Issue Grid

    //(Start) Transaction Return Grid
    function onDataBoundForTransReturns(arg) {
        gridProperPaging(this);
    }

    function BindParametersForTransReturns() {
        return {
            stockID: 0,
            subStoreID: 0,
            tranId: (isNotUndefinedNullOrBlankOrZero('TransactionID') ? $('#TransactionID').val() : 0),
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    //(End) Transaction Return Grid

    //(Start) Transaction Adjustment Grid
    function onDataBoundForTransAdjustment(arg) {
        gridProperPaging(this);
    }

    function BindParametersForTransAdjustment() {
        return {
            stockID: 0,
            subStoreID: 0,
            tranId: (isNotUndefinedNullOrBlankOrZero('TransactionID') ? $('#TransactionID').val() : 0),
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }
    //(End) Transaction Adjustment Grid
</script>

<div class="head1">
    <h1>
        @ProjectSession.Resources.menu.Store_MenuStoreTransaction
    </h1>
    <ul class="sub_btn"></ul>
</div>

<div id="divContent">
    <div class="box edit-job-order">
        <div class="nav-tabs-horizontal">
            <div class="tab-content">
                <div class="information-form cus-form">
                    <div class="row">
                        <div class="form-group col-md-6 col-lg-6">
                            <label class="form-label">@ProjectSession.Resources.label.Store_TextBlockTransactionNo</label>
                            @Html.TextBoxFor(model => model.TransactionNO, new { @class = "form-control", @readonly="readonly" })
                        </div>
                        <div class="form-group col-md-6 col-lg-6">
                            <label class="form-label">@ProjectSession.Resources.label.Store_TextBlockTransactionType</label>
                            @Html.TextBoxFor(model => model.TypeName, new { @class = "form-control", @style = "display:" + (Lang ? "" : "none;"), @readonly = "readonly" })
                            @Html.TextBoxFor(model => model.AltTypeName, new { @class = "form-control", @style = "display:" + (Lang ? "none;" : ""), @readonly = "readonly" })
                        </div>
                        <div class="form-group col-md-6 col-lg-6">
                            <label class="form-label">@ProjectSession.Resources.label.ItemRequisition_TextBlockCreatedBy</label>
                            @Html.TextBoxFor(model => model.CreatedByName, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                        <div class="form-group col-md-6 col-lg-6">
                            <label class="form-label">@ProjectSession.Resources.label.Store_TextBlockTransactionDate</label>
                            @Html.TextBoxFor(model => model.CreatedDate, String.Format("{0:" + ProjectConfiguration.DefaultDateFormat + "}", Model.CreatedDate), new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                </div>
                <div class="information-form cus-form">
                    <div class="row">
                        <div class="col-md-12 col-lg-12">
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(model => model.TransactionID)
                            @if (Model.Type == SystemEnum.TransactionType.Receive.GetHashCode() || Model.Type == SystemEnum.TransactionType.Transfer.GetHashCode())
                            {

                                <div id="TransIssueGrid" class="@ProjectSession.CultureKendoClass">
                                    @(Html.Kendo().Grid<CMMS.Model.Receive>()
        .Name("TransIssuesGrid")
        .HtmlAttributes(new { @class = "kl-grid" })
        .Columns(columns =>
        {
            columns.Bound(c => c.StockNo).Title(ProjectSession.Resources.label.Store_TextBlockStockNo).Width(130);
            columns.Bound(c => c.StockDescription).Title(ProjectSession.Resources.label.Store_TextBlockStockDescription).Width(160).HtmlAttributes(new { title = "#= KendoToolTipTemplate(data.StockDescription) #", @class = "column-textoverflow" });
            columns.Bound(c => c.Date).ClientTemplate("#= DateTemplate(data.Date) #").Title(ProjectSession.Resources.label.AssetTransfer_TextBlockDate).Width(120);
            columns.Bound(c => c.PONo).Title(ProjectSession.Resources.label.Store_TextBlockDataGridReceivePONo).Width(130);
            columns.Bound(c => c.MRNNo).Title(ProjectSession.Resources.label.Store_TextBlockDataGridReceiveMRNNo).Width(130);
            columns.Bound(c => c.QtyRec).ClientTemplate("#= DecimalTempalte(data.QtyRec,2) #").Title(ProjectSession.Resources.label.ItemRequisition_TextBlockQty).Width(160);
            columns.Bound(c => c.Price).ClientTemplate("#= DecimalTempalte(data.Price,2) #").Title(ProjectSession.Resources.label.ItemRequisition_TextBlockUnitPrice).Width(180);
            columns.Bound(c => c.TotalPrice).ClientTemplate("#= DecimalTempalte(data.TotalPrice,2) #").Title(ProjectSession.Resources.label.JobOrder_TextBlockTotal).Width(130);
            columns.Bound(c => c.SectorName).Title(ProjectSession.Resources.label.Location_TextBlockSectorName).Width(130);
            columns.Bound(c => c.L2name).Title(ProjectSession.Resources.label.City_TextBlockCityName).Width(200);
            columns.Bound(c => c.SubStoreDesc).Title(ProjectSession.Resources.label.Store_TextBlockStore).Width(130).HtmlAttributes(new { title = "#= KendoToolTipTemplate(data.SubStoreDesc) #", @class = "column-textoverflow" });
            columns.Bound(c => c.TransferText).Title(ProjectSession.Resources.label.Store_TextBlockTransfer).Width(130);
            columns.Bound(c => c.FromSectorName).Title(ProjectSession.Resources.label.Store_TextBlockDataGridReceiveFromSectorName).Width(130);
            columns.Bound(c => c.FromL2name).Title(ProjectSession.Resources.label.JobRequest_TextBlockCity).Width(130);
            columns.Bound(c => c.FromSubStoreDesc).Title(ProjectSession.Resources.label.Store_TextBlockStore).Width(130).HtmlAttributes(new { title = "#= KendoToolTipTemplate(data.FromSubStoreDesc) #", @class = "column-textoverflow" });
            columns.Bound(c => c.Comments).Title(ProjectSession.Resources.label.JobRequest_TextBlockRemarks).Width(130).HtmlAttributes(new { title = "#= KendoToolTipTemplate(data.Comments) #", @class = "column-textoverflow" });
        })
        .Sortable(sortable => sortable.AllowUnsort(false))
        .Scrollable()
                 .Excel(excel => excel.FileName(ProjectSession.Resources.label.Store_TextBlockReceive + ".xlsx").Filterable(true).AllPages(true))
                .Pageable(pageable => pageable.PageSizes(CMMS.Pages.General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
                        .Events(events => events.DataBound("onDataBoundForTransReceive"))
                .DataSource(dataSource =>
                                        dataSource.Ajax()
                                        .PageSize(ProjectConfiguration.PageSize)
                                                .Sort(model => model.Add("ReceiveID").Descending())
                                         .Model(model =>
                                         {
                                             model.Id(p => p.ReceiveID);
                                             model.Field(p => p.StockNo);
                                         })
                                        .ServerOperation(true)
                                                                               .Read(read => read.Action(CMMS.Pages.Actions.GetReceiveListByItemCityStore, CMMS.Pages.Controllers.Transaction, new { area = CMMS.Pages.Areas.Transaction }).Data("BindParametersForTransReceive").Type(HttpVerbs.Post))
                )
                                    )

                                </div>
                            }
                            else if (Model.Type == SystemEnum.TransactionType.Issue.GetHashCode())
                            {
                                <div id="TransIssueGrid" class="@ProjectSession.CultureKendoClass">
                                    @(Html.Kendo().Grid<CMMS.Model.Issue>()
        .Name("TransIssuesGrid")
        .HtmlAttributes(new { @class = "kl-grid" })
        .Columns(columns =>
        {
            columns.Bound(c => c.StockNo).Title(ProjectSession.Resources.label.Store_TextBlockStockNo).Width(130);
            columns.Bound(c => c.StockDescription).Title(ProjectSession.Resources.label.Store_TextBlockStockDescription).Width(160);
            columns.Bound(c => c.DateIssue).ClientTemplate("#= DateTemplate(data.DateIssue) #").Title(ProjectSession.Resources.label.Common_TextBlockIssueDate).Width(120);
            columns.Bound(c => c.WONo).Title(ProjectSession.Resources.label.Store_TextBlockDataGridIssueWONo).Width(130);
            columns.Bound(c => c.LocationNo).Title(ProjectSession.Resources.label.Location_TextBlockLocationNo).Width(130);
            columns.Bound(c => c.MaintSubDeptDesc).Title(ProjectSession.Resources.label.MaintenanceSubDept_TextBlockMaintenanceSubDept).Width(160);
            columns.Bound(c => c.MaintDeptdesc).Title(ProjectSession.Resources.label.MaintenanceDept_TextBlockMaintDeptDesc).Width(180);
            columns.Bound(c => c.MaintDivisionName).Title(ProjectSession.Resources.label.MaintDivision_TextBlockMaintDivision).Width(160);
            columns.Bound(c => c.QtyIssue).ClientTemplate("#= DecimalTempalte(data.QtyIssue,2) #").Title(ProjectSession.Resources.label.ItemRequisition_TextBlockQty).Width(130);
            columns.Bound(c => c.Price3).ClientTemplate("#= DecimalTempalte(data.Price3,2) #").Title(ProjectSession.Resources.label.JobOrder_TextBlockAvgUnitPrice).Width(130);
            columns.Bound(c => c.TotalPrice).ClientTemplate("#= DecimalTempalte(data.TotalPrice,2) #").Title(ProjectSession.Resources.label.JobOrder_TextBlockTotal).Width(130);
            columns.Bound(c => c.SectorName).Title(ProjectSession.Resources.label.Location_TextBlockSectorName).Width(130);
            columns.Bound(c => c.L2name).Title(ProjectSession.Resources.label.City_TextBlockCityName).Width(130);
            columns.Bound(c => c.SubStoreDesc).Title(ProjectSession.Resources.label.Store_TextBlockStore).Width(130);
            columns.Bound(c => c.TransferText).Title(ProjectSession.Resources.label.Store_TextBlockTransfer).Width(130);
            columns.Bound(c => c.ToSectorName).Title(ProjectSession.Resources.label.Store_TextBlockToSector).Width(130);
            columns.Bound(c => c.ToL2Name).Title(ProjectSession.Resources.label.Store_TextBlockToL2Name).Width(130);
            columns.Bound(c => c.ToSubStoreDesc).Title(ProjectSession.Resources.label.Store_TextBlockToSubStore).Width(130);
            columns.Bound(c => c.Description).Title(ProjectSession.Resources.label.JobRequest_TextBlockRemarks).Width(130);
        })
        .Sortable(sortable => sortable.AllowUnsort(false))
        .Scrollable()
                 .Excel(excel => excel.FileName(ProjectSession.Resources.label.JobOrder_TextBlockIssues + ".xlsx").Filterable(true).AllPages(true))
                .Pageable(pageable => pageable.PageSizes(CMMS.Pages.General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
                        .Events(events => events.DataBound("onDataBoundForTransIssues"))
                .DataSource(dataSource =>
                                        dataSource.Ajax()
                                        .PageSize(ProjectConfiguration.PageSize)
                                        .Sort(model => model.Add("IssueID").Descending())
                                         .Model(model =>
                                         {
                                             model.Id(p => p.IssueID);
                                             model.Field(p => p.StockNo);
                                         })
                                        .ServerOperation(true)
                                                                       .Read(read => read.Action(CMMS.Pages.Actions.GetIssueListByItemCityStore, CMMS.Pages.Controllers.Transaction, new { area = CMMS.Pages.Areas.Transaction }).Data("BindParametersForTransIssues").Type(HttpVerbs.Post))
                )
                                    )

                                </div>
                            }
                            else if (Model.Type == SystemEnum.TransactionType.Return.GetHashCode())
                            {
                                <div id="TransIssueGrid" class="@ProjectSession.CultureKendoClass">
                                    @(Html.Kendo().Grid<CMMS.Model.Return>()
        .Name("TransIssuesGrid")
        .HtmlAttributes(new { @class = "kl-grid" })
        .Columns(columns =>
        {
            columns.Bound(c => c.StockNo).Title(ProjectSession.Resources.label.Store_TextBlockStockNo).Width(130);
            columns.Bound(c => c.StockDescription).Title(ProjectSession.Resources.label.Store_TextBlockStockDescription).Width(160).HtmlAttributes(new { title = "#= KendoToolTipTemplate(data.StockDescription) #", @class = "column-textoverflow" });
            columns.Bound(c => c.Date).ClientTemplate("#= DateTemplate(data.Date) #").Title(ProjectSession.Resources.label.AssetTransfer_TextBlockDate).Width(120);
            columns.Bound(c => c.WONo).Title(ProjectSession.Resources.label.Store_TextBlockDataGridIssueWONo).Width(130);
            columns.Bound(c => c.LocationNo).Title(ProjectSession.Resources.label.Location_TextBlockLocationNo).Width(130);
            columns.Bound(c => c.MaintSubDeptDesc).Title(ProjectSession.Resources.label.MaintenanceSubDept_TextBlockMaintenanceSubDept).Width(160).HtmlAttributes(new { title = "#= KendoToolTipTemplate(data.MaintSubDeptDesc) #", @class = "column-textoverflow" });
            columns.Bound(c => c.MaintDeptdesc).Title(ProjectSession.Resources.label.MaintenanceDept_TextBlockMaintDeptDesc).Width(180);
            columns.Bound(c => c.MaintDivisionName).Title(ProjectSession.Resources.label.MaintDivision_TextBlockMaintDivision).Width(160);
            columns.Bound(c => c.Qty).ClientTemplate("#= DecimalTempalte(data.Qty,2) #").Title(ProjectSession.Resources.label.ItemRequisition_TextBlockQty).Width(130);
            columns.Bound(c => c.RetPrice).ClientTemplate("#= DecimalTempalte(data.RetPrice,2) #").Title(ProjectSession.Resources.label.JobOrder_TextBlockAvgUnitPrice).Width(130);
            columns.Bound(c => c.TotalPrice).ClientTemplate("#= DecimalTempalte(data.TotalPrice,2) #").Title(ProjectSession.Resources.label.JobOrder_TextBlockTotal).Width(130);
            columns.Bound(c => c.SectorName).Title(ProjectSession.Resources.label.Location_TextBlockSectorName).Width(130);
            columns.Bound(c => c.L2name).Title(ProjectSession.Resources.label.City_TextBlockCityName).Width(130);
            columns.Bound(c => c.SubStoreDesc).Title(ProjectSession.Resources.label.Store_TextBlockStore).Width(130).HtmlAttributes(new { title = "#= KendoToolTipTemplate(data.SubStoreDesc) #", @class = "column-textoverflow" });
            columns.Bound(c => c.Comment).Title(ProjectSession.Resources.label.JobRequest_TextBlockRemarks).Width(130).HtmlAttributes(new { title = "#= KendoToolTipTemplate(data.Comment) #", @class = "column-textoverflow" });
        })
        .Sortable(sortable => sortable.AllowUnsort(false))
        .Scrollable()
                 .Excel(excel => excel.FileName(ProjectSession.Resources.label.JobOrder_TextBlockReturn + ".xlsx").Filterable(true).AllPages(true))
                .Pageable(pageable => pageable.PageSizes(CMMS.Pages.General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
                        .Events(events => events.DataBound("onDataBoundForTransReturns"))
                .DataSource(dataSource =>
                                        dataSource.Ajax()
                                        .PageSize(ProjectConfiguration.PageSize)
                                        .Sort(model => model.Add("ReturnID").Descending())
                                         .Model(model =>
                                         {
                                             model.Id(p => p.ReturnID);
                                             model.Field(p => p.StockNo);
                                         })
                                        .ServerOperation(true)
                                                                               .Read(read => read.Action(CMMS.Pages.Actions.GetReturnByStockCodeandSubStore, CMMS.Pages.Controllers.Transaction, new { area = CMMS.Pages.Areas.Transaction }).Data("BindParametersForTransReturns").Type(HttpVerbs.Post))
                )
                                    )

                                </div>
                            }
                            else if (Model.Type == SystemEnum.TransactionType.Adjustment.GetHashCode())
                            {
                                <div id="TransIssueGrid" class="@ProjectSession.CultureKendoClass">
                                    @(Html.Kendo().Grid<CMMS.Model.Adjustment>()
        .Name("TransIssuesGrid")
        .HtmlAttributes(new { @class = "kl-grid" })
        .Columns(columns =>
        {
            columns.Bound(c => c.StockNo).Title(ProjectSession.Resources.label.Store_TextBlockStockNo).Width(130);
            columns.Bound(c => c.StockDescription).Title(ProjectSession.Resources.label.Store_TextBlockStockDescription).Width(160).HtmlAttributes(new { title = "#= KendoToolTipTemplate(data.StockDescription) #", @class = "column-textoverflow" });
            columns.Bound(c => c.Date).ClientTemplate("#= DateTemplate(data.Date) #").Title(ProjectSession.Resources.label.AssetTransfer_TextBlockDate).Width(120);
            columns.Bound(c => c.QtyAdj).ClientTemplate("#= DecimalTempalte(data.QtyAdj,2) #").Title(ProjectSession.Resources.label.ItemRequisition_TextBlockQty).Width(130);
            columns.Bound(c => c.Price4).ClientTemplate("#= DecimalTempalte(data.Price4,2) #").Title(ProjectSession.Resources.label.JobOrder_TextBlockAvgUnitPrice).Width(130);
            columns.Bound(c => c.TotalPrice).ClientTemplate("#= DecimalTempalte(data.TotalPrice,2) #").Title(ProjectSession.Resources.label.JobOrder_TextBlockTotal).Width(130);
            columns.Bound(c => c.SectorName).Title(ProjectSession.Resources.label.Location_TextBlockSectorName).Width(130);
            columns.Bound(c => c.L2name).Title(ProjectSession.Resources.label.City_TextBlockCityName).Width(130);
            columns.Bound(c => c.SubStoreDesc).Title(ProjectSession.Resources.label.Store_TextBlockStore).Width(130).HtmlAttributes(new { title = "#= KendoToolTipTemplate(data.SubStoreDesc) #", @class = "column-textoverflow" });
            columns.Bound(c => c.Person).Title(ProjectSession.Resources.label.Report_TextBlockContactPerson).Width(130);
            columns.Bound(c => c.Comment).Title(ProjectSession.Resources.label.JobRequest_TextBlockRemarks).Width(130).HtmlAttributes(new { title = "#= KendoToolTipTemplate(data.Comment) #", @class = "column-textoverflow" });
        })
        .Sortable(sortable => sortable.AllowUnsort(false))
        .Scrollable()
                 .Excel(excel => excel.FileName(ProjectSession.Resources.label.Store_TextBlockAdjustment + ".xlsx").Filterable(true).AllPages(true))
                .Pageable(pageable => pageable.PageSizes(CMMS.Pages.General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
                                        .Events(events => events.DataBound("onDataBoundForTransAdjustment"))
                .DataSource(dataSource =>
                                        dataSource.Ajax()
                                        .PageSize(ProjectConfiguration.PageSize)
                                                .Sort(model => model.Add("AdjustmentID").Descending())
                                         .Model(model =>
                                         {
                                             model.Id(p => p.AdjustmentID);
                                             model.Field(p => p.StockNo);
                                         })
                                        .ServerOperation(true)
                                                                                               .Read(read => read.Action(CMMS.Pages.Actions.GetAdjustmentByStockCodeandSubStore, CMMS.Pages.Controllers.Transaction, new { area = CMMS.Pages.Areas.Transaction }).Data("BindParametersForTransAdjustment").Type(HttpVerbs.Post))
                )
                                    )

                                </div>
                            }

                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <button type="button" class="btn btn-primary" onclick="ExportToExcel('TransIssuesGrid', '');">@ProjectSession.Resources.label.Common_ButtonExportToExcel</button>
                    <button type="button" class="btn btn-default" onclick="redirectToListing();">@ProjectSession.Resources.label.Common_ButtonCancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var intPageID = '@SystemEnum.Pages.TransactionList.GetHashCode()';
</script>
