﻿@using CMMS.Infrastructure;
@using CMMS.Pages;
@model CMMS.Model.Receive
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool Lang = ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true;
}
<script type="text/javascript" src="~/Scripts/jquery.form.js"></script>
<style>
    .calendars-popup {
        z-index: 100000 !important;
    }
</style>
<script type="text/javascript">

    function redirectToListing() {
        var url = '@Url.Action(Actions.GetTransactionListPage, Controllers.Transaction, new { })';
        location.href = url;
    }


    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };

    function onChangeSubStore(e) {
        ReBindKendoGrid('TransReceivesGrid');
        $("#ddlIssueTOSubStore").data("kendoDropDownList").dataSource.read();
    }

    function filterStores() {
        return {
            siteId: isNotUndefinedNullOrBlankOrZero("ddlIssueCity") ? $("#ddlIssueCity").val() : 0,
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function filterToStores() {
        return {
            siteId: isNotUndefinedNullOrBlankOrZero("ddlIssueToCity") ? $("#ddlIssueToCity").val() : 0,
            storeIdToExclude: isNotUndefinedNullOrBlankOrZero("ddlIssueSubStore") ? $("#ddlIssueSubStore").val() : 0,
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function OpenItemsPopUp() {
        $("#ItemsGridModal").modal("show");
    }


    function onDataBoundItems() {
        gridProperPaging(this);
    }

    function BindParametersItems() {
        return {
            showBalance: false,
            subStoreID: 0,
            strWhere: "",
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function onAdditionalData() {
        return {
            text: $("#txtReceiveStockDesc").val()
        };
    }

    //(Start)Temp Receive Grid
    function onTempReceiveGridDataBound(e) {
        confirmDeleteMsg(msgText, okText, cancelText, onConfirmCallbackForItemList, confirmDirection);

        if (e.sender.dataSource.total() <= 0) {
            $('#divTempData').css('display', 'none');
        }
        else { $('#divTempData').css('display', ''); }
    }

    function onConfirmCallbackForItemList(sender) {
        $('.popover').remove();
        var id = $(this).data("id");
        var grid = $("#TempReceiveGrid").data("kendoGrid");

        var row = grid.tbody
                      .find("tr a[data-id='" + id + "']").closest('tr');

        var dataSource = grid.dataSource;
        var dataIte = grid.dataItem(row);
        dataSource.remove(dataIte);
        grid.refresh();
    }

    //(End)Temp Receive Grid

    function CalculateTargetDate()
    { }
</script>

<div class="head1">
    <h1>
        @ProjectSession.Resources.label.Store_TextBlockTransfer
    </h1>
    <ul class="sub_btn"></ul>
</div>

<div id="divModelError"></div>
<div id="divContent">
    <div class="box edit-job-order">
        <div class="nav-tabs-horizontal">
            <div class="tab-content">
                @using (Html.BeginForm(Actions.SaveTempTransfer, Controllers.Transaction, new { area = Areas.Transaction }, FormMethod.Post, new { id = "frmReceive" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.lstReceives)
                    @Html.HiddenFor(model => model.SubStoreCode)
                    @Html.HiddenFor(model => model.Transfer)
                    <div class="information-form cus-form">
                        <div class="row">
                            <div class="two-form-group form-group col-md-6 col-lg-4">
                                <label class="form-label">@ProjectSession.Resources.label.ItemRequisition_TextBlockItemNo<span class="cfont">*</span></label>
                                <div class="input-group pm-checklist">
                                    <input type="hidden" id="hdnANV" value="" />
                                    @Html.HiddenFor(model => model.StockID, new { @id = "hdnReceiveStockID" })
                                    @Html.TextBoxFor(model => model.StockNo, new { @class = "form-control code-input", @readonly = "readonly", @id = "txtReceiveStockNo", @Placeholder = @ProjectSession.Resources.label.ItemRequisition_TextBlockItemNo })
                                    @*@Html.TextBoxFor(model => model.StockDescription, new { @class = "form-control", @style = "display:" + (Lang ? "" : "none;"), @readonly = "readonly", @id = "txtReceiveStockDesc", @Placeholder = @ProjectSession.Resources.label.ItemList_TextBlockPartDescription })*@
                                    @(Html.Kendo().AutoCompleteFor(model => model.StockDescription)
                                .DataTextField(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "AltStockDescription" : "StockDescription")
                                .HtmlAttributes(new { @class = "form-control lstAuto", @id = "txtReceiveStockDesc" })
                                .Filter("contains")
                                .Template("#= KendoDDLTemplate( data.StockNo, data.StockDescription,data.AltStockDescription) #")
                                .MinLength(3)
                                .Placeholder(ProjectSession.Resources.label.ItemList_TextBlockPartDescription)
                                .Events(m => m.Select("onAutoSelect"))
                                .DataSource(source =>
                                {
                                    source.Read(read =>
                                    {
                                        read.Action(Actions.GetStockCodesAutoDDL, Controllers.AutoComplete, new { area = Areas.Configurations }).Data("onAdditionalData");
                                    })
                                    .ServerFiltering(true);
                                })
                                .Value(Convert.ToString(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? Model.AltStockDescription : Model.StockDescription))
                                    )
                                    @*@Html.TextBoxFor(model => model.AltStockDescription, new { @class = "form-control", @style = "display:" + (Lang ? "none;" : ""), @readonly = "readonly", @id = "txtIssueAltStockDesc", @Placeholder = @ProjectSession.Resources.label.ItemList_TextBlockPartAltPartDesc })*@
                                    <a href="#" class="checklis-btn" id="btnOpenAddItemPopUp" data-toggle="modal" data-backdrop="static" onclick="OpenItemsPopUp()">
                                        <img src="../images/checklis-icon.png" alt="">
                                    </a>
                                    <a href="javascript:void(0);" class="close-btn" id="btnClearIssue" title="@ProjectSession.Resources.label.Common_ButtonClear" onclick="ClearWOIssues();">
                                        <img src="../images/close.png" alt="">
                                    </a>
                                </div>
                            </div>
                            <script type="text/javascript">
                                function onDataBoundCityDDL(e) {
                                    var ds = this.dataSource.data();
                                    if (ds.length > 0) {
                                        this.select(1);
                                    }
                                }
                            </script>
                            <div class="form-group col-md-6 col-lg-4">
                                <label class="form-label">@ProjectSession.Resources.label.JobRequest_TextBlockCity<span class="cfont">*</span></label>
                                @Html.HiddenFor(model => model.HdnL2ID)
                                @Html.HiddenFor(model => model.HdnSubStoreID)
                                <div class="@ProjectSession.CultureKendoClass">
                                    @(Html.Kendo().DropDownListFor(model => model.FromL2ID)
                                .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                .DataTextField("L2Code")
                                .ValueTemplate(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "#:L2Code # -- #: L2Altname # " : "#:L2Code # -- #: L2name #")
                                .DataValueField("L2ID")
                                .HtmlAttributes(new { style = "width: 100%", @required = "required", @id = "ddlIssueCity" })
                                .Template("#= KendoDDLTemplate(data.L2Code ,data.L2name, data.L2Altname) #")
                                .Events(model => model.DataBound("onDataBoundCityDDL"))
                                .DataSource(source =>
                                {
                                    if (ProjectSession.IsCentral)
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action(Actions.GetAllCities, Controllers.Configurations, new { area = Areas.Configurations, cityID = Model.FromL2ID });
                                        });
                                    }
                                    else
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action(Actions.GetCitiesByEmployee, Controllers.Configurations, new { area = Areas.Configurations, cityID = Model.FromL2ID });
                                        });
                                    }
                                })
                                .Value(Convert.ToString(Model.FromL2ID))
                                    )
                                </div>
                            </div>
                            <script type="text/javascript">
                                function onDataBoundStoreDDL(e) {
                                    var ds = this.dataSource.data();
                                    if (ds.length > 0) {
                                        this.select(1);
                                    }
                                }
                            </script>
                            <div class="form-group col-md-6 col-lg-4">
                                <label class="form-label">@ProjectSession.Resources.label.Store_TextBlockStore<span class="cfont">*</span></label>
                                <div class="@ProjectSession.CultureKendoClass">
                                    @(Html.Kendo().DropDownListFor(model => model.FromSubStoreID)
                                .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                .DataTextField("SubStoreCode")
                                .ValueTemplate(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "#:SubStoreCode # -- #: AltSubStoreDesc # " : "#:SubStoreCode # -- #: SubStoreCode #")
                                .DataValueField("SubStoreID")
                                .Events(m => m.Change("onChangeSubStore").DataBound("onDataBoundStoreDDL"))
                                .HtmlAttributes(new { style = "width: 100%", @required = "required", @id = "ddlIssueSubStore" })
                                .Template("#= KendoDDLTemplate(data.SubStoreCode ,data.SubStoreDesc, data.AltSubStoreDesc) #")
                                .DataSource(source =>
                                {
                                    source.Read(read =>
                                    {
                                        read.Action(Actions.GetStoresListByL2ID, Controllers.Configurations, new { area = Areas.Configurations }).Data("filterStores");

                                    })
                                    .ServerFiltering(true);
                                })
                                .CascadeFrom("ddlIssueCity")
                                .AutoBind(true)
                                .Value(Convert.ToString(Model.FromSubStoreID))
                                    )
                                </div>
                            </div>
                            <div class="form-group col-md-6 col-lg-4">
                                <label class="form-label">@ProjectSession.Resources.label.AssetTransfer_TextBlockDate  <span class="cfont">*</span></label>
                                <div class="input-group date-pick">
                                    @Html.TextBoxFor(model => model.Date, String.Format("{0:" + ProjectConfiguration.DefaultDateFormat + "}", DateTime.Now), new { @id = "txtReceiveDate", @class = "form-control calendarsPicker", @placeholder = ProjectConfiguration.DefaultDateFormat })
                                </div>
                            </div>
                            <script type="text/javascript">
                                function onDataBoundTOCityDDL(e) {
                                    var ds = this.dataSource.data();
                                    if (ds.length > 0) {
                                        this.select(1);
                                    }
                                }
                            </script>
                            <div class="form-group col-md-6 col-lg-4">
                                <label class="form-label">@ProjectSession.Resources.label.Store_TextBlockToL2Name<span class="cfont">*</span></label>
                                <div class="@ProjectSession.CultureKendoClass">
                                    @(Html.Kendo().DropDownListFor(model => model.L2ID)
                                .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                .DataTextField("L2Code")
                                .ValueTemplate(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "#:L2Code # -- #: L2Altname # " : "#:L2Code # -- #: L2name #")
                                .DataValueField("L2ID")
                                .HtmlAttributes(new { style = "width: 100%", @required = "required", @id = "ddlIssueToCity" })
                                .Template("#= KendoDDLTemplate(data.L2Code ,data.L2name, data.L2Altname) #")
                        //.Events(model => model.DataBound("onDataBoundTOCityDDL"))
                                .DataSource(source =>
                                {
                                    if (ProjectSession.IsCentral)
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action(Actions.GetAllCities, Controllers.Configurations, new { area = Areas.Configurations, cityID = Model.L2ID });
                                        });
                                    }
                                    else
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action(Actions.GetCitiesByEmployee, Controllers.Configurations, new { area = Areas.Configurations, cityID = Model.L2ID });
                                        });
                                    }
                                })
                                .Value(Convert.ToString(Model.L2ID))
                                    )
                                </div>
                            </div>
                            <script type="text/javascript">
                                function onDataBoundTOStoreDDL(e) {
                                    var ds = this.dataSource.data();
                                    if (ds.length > 0) {
                                        this.select(1);
                                    }
                                }
                            </script>
                            <div class="form-group col-md-6 col-lg-4">
                                <label class="form-label">@ProjectSession.Resources.label.Store_TextBlockToSubStore<span class="cfont">*</span></label>
                                <div class="@ProjectSession.CultureKendoClass">
                                    @(Html.Kendo().DropDownListFor(model => model.SubStoreID)
                                .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                .DataTextField("SubStoreCode")
                                .ValueTemplate(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "#:SubStoreCode # -- #: AltSubStoreDesc # " : "#:SubStoreCode # -- #: SubStoreCode #")
                                .DataValueField("SubStoreID")
                                .Events(m => m.DataBound("onDataBoundTOStoreDDL"))
                                .HtmlAttributes(new { style = "width: 100%", @required = "required", @id = "ddlIssueTOSubStore" })
                                .Template("#= KendoDDLTemplate(data.SubStoreCode ,data.SubStoreDesc, data.AltSubStoreDesc) #")
                                .DataSource(source =>
                                {
                                    source.Read(read =>
                                    {
                                        read.Action(Actions.GetStoresListByL2ID, Controllers.Configurations, new { area = Areas.Configurations }).Data("filterToStores");

                                    })
                                    .ServerFiltering(true);
                                })
                                .CascadeFrom("ddlIssueToCity")
                                .AutoBind(true)
                                .Value(Convert.ToString(Model.SubStoreID))
                                    )
                                </div>
                            </div>
                            <div class="form-group col-md-6 col-lg-4">
                                <label class="form-label">@ProjectSession.Resources.label.ItemRequisition_TextBlockQty</label>
                                @Html.TextBoxFor(model => model.QtyRec, String.Format("{0:#,0.00}", Model.QtyRec), new { @MaxLength = 27, @class = "form-control decimalnumber", @id = "txtIQtyRec", onchange = "FillTotalTextBox()" })
                            </div>

                            <div class="form-group col-md-6 col-lg-4">
                                <label class="form-label">@ProjectSession.Resources.label.JobOrder_TextBlockAvgUnitPrice</label>
                                @Html.TextBoxFor(model => model.Price, String.Format("{0:#,0.00}", Model.Price), new { @MaxLength = 27, @class = "form-control", @readonly = "readonly", @id = "txtUnitPrice", onchange = "FillTotalTextBox()" })
                            </div>
                            <div class="form-group col-md-6 col-lg-4">
                                <label class="form-label">@ProjectSession.Resources.label.JobOrder_TextBlockTotal</label>
                                @Html.TextBox("TotalIssues", "", new { @class = "form-control", @readonly = "readonly", @id = "txtTotalIssues" })
                            </div>
                            <div class="form-group col-md-6 col-lg-4">
                                <label class="form-label">@ProjectSession.Resources.label.AccountCode_TextBlockStatus</label>
                                @Html.TextBox("ItemStatus", "", new { @class = "form-control", @readonly = "readonly", @id = "txtItemStatus" })
                            </div>

                            <div class="form-group col-sm-12">
                                <label class="form-label">@ProjectSession.Resources.label.JobRequest_TextBlockRemarks</label>
                                @Html.TextAreaFor(model => model.Comments, new { @MaxLength = 4000, @class = "form-control", @rows = "3", @placeholder = ProjectSession.Resources.label.Common_Enter + " " + ProjectSession.Resources.label.JobRequest_TextBlockRemarks })
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">

                        <button type="button" class="btn btn-primary" id="btnAddReceive" onclick="$('#frmReceive').submit();"><span>@ProjectSession.Resources.label.Common_ButtonAdd</span></button>

                        <button type="button" class="btn btn-default" onclick="ClearWOIssues()">@ProjectSession.Resources.label.Common_ButtonClear</button>
                    </div>
                }

                <div id="divTempData" style="display: none;">
                    <div class="information-form cus-form">
                        <div class="row">
                            <div class="col-md-12 col-lg-12">
                                <div id="DivTempIssueGrid" class="@ProjectSession.CultureKendoClass">
                                    @(Html.Kendo().Grid<CMMS.Model.Receive>()
                                        .Name("TempReceiveGrid")
                                        .HtmlAttributes(new { @class = "kl-grid" })
                                        .Columns(columns =>
                                        {
                                            columns.Bound(c => c.Date).ClientTemplate("#= DateTemplate(data.Date) #").Title(ProjectSession.Resources.label.AssetTransfer_TextBlockDate);

                                            columns.Bound(c => c.StockNo).Title(ProjectSession.Resources.label.ItemRequisition_TextBlockItemNo);

                                            columns.Bound(c => c.StockDescription).Title(ProjectSession.Resources.label.ItemList_TextBlockPartDescription).Visible(Lang).HtmlAttributes(new { title = "#= KendoToolTipTemplate(data.StockDescription) #", @class = "column-textoverflow" });
                                            columns.Bound(c => c.AltStockDescription).Title(ProjectSession.Resources.label.ItemList_TextBlockAltPartDesc).Visible(!Lang).HtmlAttributes(new { title = "#= KendoToolTipTemplate(data.AltStockDescription) #", @class = "column-textoverflow" });

                                            columns.Bound(c => c.SubStoreCode).Title(ProjectSession.Resources.label.Store_TextBlockStoreCode);

                                            columns.Bound(c => c.QtyRec).ClientTemplate("#= DecimalTempalte(data.QtyRec,2) #").Title(ProjectSession.Resources.label.ItemRequisition_TextBlockQty);

                                            columns.Bound(c => c.Price).ClientTemplate("#= DecimalTempalte(data.Price,2) #").Title(ProjectSession.Resources.label.JobOrder_TextBlockAvgUnitPrice);
                                            columns.Bound(c => c.TotalPrice).ClientTemplate("#= DecimalTempalte(data.TotalPrice,2) #").Title(ProjectSession.Resources.label.JobOrder_TextBlockTotal);
                                            columns.Bound(c => c.GUID).ClientTemplate("<center><a class='action delete-button'  href='javascript:void(0);'  class='delete-ic' data-id='#: GUID #' style='cursor:pointer'><i class='glyphicon glyphicon-trash' title='" + ProjectSession.Resources.label.Common_ButtonDelete + "' ></i></a></center>")
                                                                            .Title("<center>" + ProjectSession.Resources.label.Common_ButtonAction + "</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Width(80);
                                        })
                                        .Sortable(sortable => sortable.AllowUnsort(false))
                                        .Scrollable()
                                        .Events(m => m.DataBound("onTempReceiveGridDataBound"))
                                    )
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">

                        <button type="button" class="btn btn-primary" id="btnSaveReceive" onclick="SaveTransfer();"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>

                        <button type="button" class="btn btn-default" onclick="redirectToListing();">@ProjectSession.Resources.label.Common_ButtonCancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="ItemsGridModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" title="@ProjectSession.Resources.label.Common_ButtonClose"></button>
                <h4 class="modal-title">@ProjectSession.Resources.label.Item_TextblockItemDetails</h4>
            </div>
            <div class="modal-body">
                <div id="Highlights" class="tab-pane active" role="tabpanel">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div id="itemData" class="@ProjectSession.CultureKendoClass">
                                    @(Html.Kendo().Grid<CMMS.Model.StockCode>()
                                        .Name("itemsGrid")
                                        .HtmlAttributes(new { @class = "kl-grid" })
                                        .Columns(columns =>
                                        {
                                            columns.Bound(c => c.StockID).Hidden(true);
                                            columns.Bound(c => c.StockNo).Title(ProjectSession.Resources.label.ItemList_TextBlockPartNumber).Width(170);

                                            columns.Bound(c => c.StockDescription).Title(ProjectSession.Resources.label.ItemList_TextBlockPartDescription).Width(150).HtmlAttributes(new { title = "#= KendoToolTipTemplate(data.StockDescription) #", @class = "column-textoverflow" });

                                            columns.Bound(c => c.AltStockDescription).Title(ProjectSession.Resources.label.ItemList_TextBlockAltPartDesc).Width(150).HtmlAttributes(new { title = "#= KendoToolTipTemplate(data.StockDescription) #", @class = "column-textoverflow" });

                                            columns.Bound(c => c.StatusText).Title(ProjectSession.Resources.label.AccountCode_TextBlockStatus).Width(120);
                                            columns.Bound(c => c.Specification).Title(ProjectSession.Resources.label.JobPlan_TextBlockSpecification).Width(120);
                                            columns.Bound(c => c.Manufacturer).Title(ProjectSession.Resources.label.Asset_TextBlockManufacturer).Width(120);
                                            columns.Bound(c => c.Criticality).Title(ProjectSession.Resources.label.Item_CheckBoxCritical).Width(120);

                                            columns.Bound(c => c.AttrName).Title(ProjectSession.Resources.label.ItemType_TextBlockItemType).Width(120)
                                            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterStoreItemType", "GridFilter", new { area = string.Empty }).Data("BindParametersItems").Type(HttpVerbs.Post))));

                                            columns.Bound(c => c.AttrSubName).Title(ProjectSession.Resources.label.ItemSubType_TextBlockPartSubType).Width(120)
                                            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterStoreItemSubType", "GridFilter", new { area = string.Empty }).Data("BindParametersItems").Type(HttpVerbs.Post))));

                                            columns.Bound(c => c.Balanace).Title(ProjectSession.Resources.label.JobOrder_TextBlockBalance).Width(120);
                                        })
                                        .Sortable(sortable => sortable.AllowUnsort(false))
                                        .Scrollable()
                                        .Filterable()
                                        .Pageable(pageable => pageable.PageSizes(CMMS.Pages.General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
                                        .Events(events => events.DataBound("onDataBoundItems"))
                                        .Excel(excel => excel.FileName(ProjectSession.Resources.label.Item_TextblockItemDetails + ".xlsx").Filterable(true).AllPages(false))
                                        .DataSource(dataSource => dataSource.Ajax()
                                        .PageSize(ProjectConfiguration.PageSize)
                                        .Model(model =>
                                        {
                                            model.Id(p => p.StockID);
                                            model.Field(p => p.StockNo);
                                        })
                                        .ServerOperation(true)
                                        .Read(read => read.Action(CMMS.Pages.Actions.GetStockCodes, CMMS.Pages.Controllers.Transaction, new { area = CMMS.Pages.Areas.Transaction }).Data("BindParametersItems").Type(HttpVerbs.Post))
                                        )
                                        .Resizable(resize => resize.Columns(true))
)

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer box-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@ProjectSession.Resources.label.Common_ButtonClose</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var intPageID = '@SystemEnum.Pages.TransactionList.GetHashCode()';
    $(document).ready(function () {
        CreateCalendarsPicker();
    }); //Ready ends

    validator = $('#frmReceive').validate({
        rules: {
            Date: { required: true },
            StockNo: { required: true },
            Price: { required: true, range: [0, 999999999] },
            QtyRec: { required: true, range: [0, 999999999] }
        },
        messages: {
            Date: { required: '' },
            StockNo: { required: '' },
            Price: { required: '', range: '' },
            QtyRec: { required: '', range: '' }
        }
    });

    $('#frmReceive').on('submit', function (e) {
        if ($("#frmReceive").valid()) {
            if (!reValidateDropDowns($(this))) {
                e.preventDefault();
                return false;
            }

            if (!e.isDefaultPrevented()) {
                if (!isNotUndefinedNullOrBlankOrZero('hdnReceiveStockID', true)) {
                    e.preventDefault();
                    $("#txtReceiveStockNo").addClass("kendoDrpRequired");
                    return false;
                }
                else { $("#txtReceiveStockNo").removeClass("kendoDrpRequired"); }

                if (!isNotUndefinedNullOrBlankOrZero('txtIQtyRec', true)) {
                    e.preventDefault();
                    $('#txtIQtyRec').focus();
                    ShowMessage('@SystemEnum.MessageType.danger', '@ProjectSession.Resources.label.PMChecklist_MsgQuantityGreaterthanZero', '#divMessage');
                    return false;
                }
                else {
                    $('#HdnL2ID').val($('#ddlIssueCity').val());
                    $('#HdnSubStoreID').val($('#ddlIssueSubStore').val());
                    $('#Transfer').val('1');
                    $('#lstReceives').val(JSON.stringify($("#TempReceiveGrid").data("kendoGrid").dataSource.data()));

                    var options = {
                        success: onSuccessTempReceive,  // post-submit callback
                        data: addRequestVerificationToken($('#frmReceive').serialize())
                    };

                    $(this).ajaxSubmit(options);
                    return false;
                }
            }
            else { e.preventDefault(); }
        }
        else {
            e.preventDefault();
        }
    });

    function onSuccessTempReceive(responseText, statusText, xhr, $form) {
        if (responseText[0] == 1) {
            ShowMessage(responseText[1], responseText[2], "#divMessage");
        }
        else {
            var kendoAttachementgriddata = $("#TempReceiveGrid").data("kendoGrid");
            if (responseText[2] != null) {
                kendoAttachementgriddata.dataSource.data(responseText[2]);
                $('#btnSaveReceive').removeAttr('disabled');
                $('#btnSaveReceive').removeClass('disabled');
                $('#divTempData').css('display', '');
            }
            else { $('#divTempData').css('display', 'none'); }
            ClearWOIssues();
        }
    }

    function ClearWOIssues() {
        $('#hdnReceiveStockID').val('');
        $('#txtReceiveStockNo').val('');
        $('#txtReceiveStockDesc').val('');
        $('#txtReceiveDate').val('');
        $('#txtItemStatus').val('');
        $('#txtIQtyRec').val('1.00');
        $('#txtUnitPrice').val('0.00');
        $('#txtTotalIssues').val('0.00');
        $('#Comments').val('');
    }

    $("#itemsGrid tbody").on("dblclick", "tr[role='row']", function (e) {
        var grid = $("#itemsGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        FIllItemsDetail(model);
    });

    function onAutoSelect(e) {
        var model = this.dataItem(e.item.index());
        FIllItemsDetail(model);
    }

    function FIllItemsDetail(model) {
        $("#ItemsGridModal").modal("hide");
        $('#hdnReceiveStockID').val(model.StockID);
        try { ReBindKendoGrid('TransReceivesGrid'); } catch (e1) { }
        $('#txtReceiveStockNo').val(model.StockNo);
        if ('@Lang' == 'True') {
            $("#txtReceiveStockDesc").val(model.StockDescription);
        }
        else {
            $("#txtReceiveStockDesc").val(model.AltStockDescription);
        }
        $('#txtUnitPrice').val(model.AvgPrice.toFixed(2));

        $('#txtItemStatus').val(model.StatusText);

        if (model.Status != "1") {
            $('#ddlIssueCity').data("kendoDropDownList").enable(false);
            $('#ddlIssueSubStore').data("kendoDropDownList").enable(false);
        }
        var subStoreCode = $('#ddlIssueSubStore').data('kendoDropDownList').dataItem($('#ddlIssueSubStore').data('kendoDropDownList').select()).SubStoreCode

        $('#SubStoreCode').val(subStoreCode);
        FillTotalTextBox();
    }

    function FillTotalTextBox(e) {
        if (!isNotUndefinedNullOrBlankOrZero('txtIQtyRec', true)) {
            $('#txtIQtyRec').val('0.00');
        }

        if (!isNotUndefinedNullOrBlankOrZero('txtUnitPrice', true)) {
            $('#txtUnitPrice').val('0.00');
        }
        $('#txtIQtyRec').val(parseFloat($('#txtIQtyRec').val()).toFixed(2));
        $('#txtUnitPrice').val(parseFloat($('#txtUnitPrice').val()).toFixed(2));
        $('#txtTotalIssues').val(($('#txtIQtyRec').val() * $('#txtUnitPrice').val()).toFixed(2));
    }

    $('.decimalnumber').on('keypress', function (evt) {
        var val = $(this).val();
        var iKeyCode = (evt.which) ? evt.which : evt.keyCode;
        if (iKeyCode != 46 && iKeyCode != 39 && iKeyCode != 37 && iKeyCode != 45 && iKeyCode > 31 && (iKeyCode < 48 || iKeyCode > 57)) {
            return false;
        }
        if (iKeyCode == 46 && val.indexOf('.') > -1) {
            return false;
        }
        return true;
    });

    //(Start)Final Save

    function SaveTransfer() {
        try {
            $.ajax({
                url: '@Url.Action(Actions.SaveTransactionReceive, Controllers.Transaction, new { area = Areas.Transaction })',
                type: 'POST',
                data: addRequestVerificationToken({ kendogridData: JSON.stringify($("#TempReceiveGrid").data("kendoGrid").dataSource.data()) }),
                cache: false,
                success: function (result) {
                    if (result[0] == 0) {
                        redirectToListing();
                    }
                    ShowMessage(result[1], result[2], '#divMessage');
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }
        catch (err)
        { alert(err); }
    }
    //(End)Final Save

</script>
