﻿@using CMMS.Infrastructure;
@using CMMS.Pages;
@model CMMS.Model.Adjustment
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool Lang = ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true;
}
<script type="text/javascript" src="~/Scripts/jquery.form.js"></script>
<style>
    .calendars-popup {
        z-index: 100000 !important;
    }
</style>
<script type="text/javascript">
    function redirectToListing() {
        var url = '@Url.Action(Actions.GetTransactionListPage, Controllers.Transaction, new { })';
        location.href = url;
    }

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };

    function onChangeSubStore(e) {
        ReBindKendoGrid('TransIssuesGrid');
    }

    function filterStores() {
        return {
            siteId: isNotUndefinedNullOrBlankOrZero("ddlIssueCity") ? $("#ddlIssueCity").val() : 0,
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function OpenItemsPopUp() {
        $("#ItemsGridModal").modal("show");
    }

    function onDataBoundItems() {
        gridProperPaging(this);
    }

    function BindParametersItems() {
        return {
            showBalance: false,
            subStoreID: 0,
            strWhere: "",
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function onAdditionalData() {
        return {
            text: $("#txtIssueStockDesc").val()
        };
    }

    function onTempIssueGridDataBound(e) {
        confirmDeleteMsg(msgText, okText, cancelText, onConfirmCallbackForItemList, confirmDirection);
    }

    function onConfirmCallbackForItemList(sender) {
        $('.popover').remove();
        var id = $(this).data("id");
        var grid = $("#TempIssuesGrid").data("kendoGrid");

        var row = grid.tbody
                      .find("tr a[data-id='" + id + "']").closest('tr');

        var dataSource = grid.dataSource;
        var dataIte = grid.dataItem(row);
        dataSource.remove(dataIte);
        grid.refresh();
    }

    //(Start)Employee Pop Up
    function OpenEmployeeOrderByPopUp() {
        $("#OrderbyEmployeeGridModal").modal("show");
    }

    function onEmployeeAutoSelect(e) {
        var model = this.dataItem(e.item.index());
        //Employee
        $("#hdnOrderBy").val(model.EmployeeID);
        $("#txtEmployeeNO").val(model.EmployeeNO);
        //$("#txtEmployeeName").val(model.Name);
        //$("#txtEmployeeAltName").val(model.AltName);
    }

    function ClearOrderByEmployeeData() {
        $("#hdnOrderBy").val("");
        $("#txtEmployeeNO").val("");
        $("#txtEmployeeName").val("");
        $("#txtEmployeeAltName").val("");
    }

    function onDataBoundOrderByEmployee(arg) {
        gridProperPaging(this);
    }

    function onEmployeeAdditionalData() {
        return {
            text: $("#txtEmployeeName").val(),
        };
    }

    function BindParametersOrderByEmp() {
        return {
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }
    //(End)Employee Pop Up

    //(Start) Transaction Adjustment Grid
    function onDataBoundForTransAdjustment(arg) {
        gridProperPaging(this);
    }

    function BindParametersForTransAdjustment() {
        return {
            stockID: (isNotUndefinedNullOrBlankOrZero('hdnIssueStockID') ? $('#hdnIssueStockID').val() : 0),
            subStoreID: (isNotUndefinedNullOrBlankOrZero('ddlIssueSubStore') ? $('#ddlIssueSubStore').val() : 0),
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }
    //(End) Transaction Adjustment Grid
    function CalculateTargetDate()
    { }
</script>

<div class="head1">
    <h1>
        @ProjectSession.Resources.label.Store_TextBlockAdjustment
    </h1>
    <ul class="sub_btn"></ul>
</div>
<div id="divModelError"></div>
<div id="divContent">
    <div class="box edit-job-order">
        <div class="nav-tabs-horizontal">
            <div class="tab-content">
                @using (Html.BeginForm(Actions.SaveTempAdjustment, Controllers.Transaction, new { area = Areas.Transaction }, FormMethod.Post, new { id = "frmIssues" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.SubStoreCode)
                    @Html.HiddenFor(model => model.lstAdj)
                    <div class="information-form cus-form">
                        <div class="row">
                            <div class="two-form-group form-group col-md-6 col-lg-4">
                                <label class="form-label">@ProjectSession.Resources.label.ItemRequisition_TextBlockItemNo<span class="cfont">*</span></label>
                                <div class="input-group pm-checklist">
                                    @Html.HiddenFor(model => model.StockID, new { @id = "hdnIssueStockID" })
                                    @Html.TextBoxFor(model => model.StockNo, new { @class = "form-control code-input", @readonly = "readonly", @id = "txtIssueStockNo", @Placeholder = @ProjectSession.Resources.label.ItemRequisition_TextBlockItemNo })
                                    @*@Html.TextBoxFor(model => model.StockDescription, new { @class = "form-control", @style = "display:" + (Lang ? "" : "none;"), @readonly = "readonly", @id = "txtIssueStockDesc", @Placeholder = @ProjectSession.Resources.label.ItemList_TextBlockPartDescription })*@
                                    @(Html.Kendo().AutoCompleteFor(model => model.StockDescription)
                                .DataTextField(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "AltStockDescription" : "StockDescription")
                                .HtmlAttributes(new { @class = "form-control", @id = "txtIssueStockDesc" })
                                .Filter("contains")
                                .Template("#= KendoDDLTemplate( data.StockNo, data.StockDescription,data.AltStockDescription) #")
                                .MinLength(3)
                                .Placeholder(ProjectSession.Resources.label.ItemList_TextBlockPartDescription)
                                .Events(m => m.Select("onAutoSelect"))
                                .DataSource(source =>
                                {
                                    source.Read(read =>
                                    {
                                        read.Action(Actions.GetStockCodesAutoDDL, Controllers.AutoComplete, new { area = Areas.Configurations }).Data("onAdditionalData");
                                    })
                                    .ServerFiltering(true);
                                })
                                .Value(Convert.ToString(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? Model.AltStockDescription : Model.StockDescription))
                                    )
                                    @*@Html.TextBoxFor(model => model.AltStockDescription, new { @class = "form-control", @style = "display:" + (Lang ? "none;" : ""), @readonly = "readonly", @id = "txtIssueAltStockDesc", @Placeholder = @ProjectSession.Resources.label.ItemList_TextBlockPartAltPartDesc })*@
                                    <a href="#" class="checklis-btn" id="btnOpenAddItemPopUp" data-toggle="modal" data-backdrop="static" onclick="OpenItemsPopUp()">
                                        <img src="../images/checklis-icon.png" alt="">
                                    </a>
                                    <a href="javascript:void(0);" class="close-btn" id="btnClearIssue" title="@ProjectSession.Resources.label.Common_ButtonClear" onclick="ClearWOIssues();">
                                        <img src="../images/close.png" alt="">
                                    </a>
                                </div>
                            </div>
                            <script type="text/javascript">
                                function onDataBoundCityDDL(e) {
                                    var ds = this.dataSource.data();
                                    if (ds.length > 0) {
                                        this.select(1);
                                    }
                                }
                            </script>
                            <div class="form-group col-md-6 col-lg-4">
                                @Html.HiddenFor(model => model.HdnL2ID)
                                @Html.HiddenFor(model => model.HdnSubStoreID)
                                <label class="form-label">@ProjectSession.Resources.label.JobRequest_TextBlockCity<span class="cfont">*</span></label>
                                <div class="@ProjectSession.CultureKendoClass">
                                    @(Html.Kendo().DropDownListFor(model => model.L2ID)
                                .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                .DataTextField("L2Code")
                                .ValueTemplate(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "#:L2Code # -- #: L2Altname # " : "#:L2Code # -- #: L2name #")
                                .DataValueField("L2ID")
                                .HtmlAttributes(new { style = "width: 100%", @required = "required", @id = "ddlIssueCity" })
                                .Template("#= KendoDDLTemplate(data.L2Code ,data.L2name, data.L2Altname) #")
                                .Events(model => model.DataBound("onDataBoundCityDDL"))
                                .DataSource(source =>
                                {
                                    if (ProjectSession.IsCentral)
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action(Actions.GetAllCities, Controllers.Configurations, new { area = Areas.Configurations, cityID = Model.L2ID });
                                        });
                                    }
                                    else
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action(Actions.GetCitiesByEmployee, Controllers.Configurations, new { area = Areas.Configurations, cityID = Model.L2ID });
                                        });
                                    }
                                })
                                .Value(Convert.ToString(Model.L2ID))
                                    )
                                </div>
                            </div>
                            <script type="text/javascript">
                                function onDataBoundStoreDDL(e) {
                                    var ds = this.dataSource.data();
                                    if (ds.length > 0) {
                                        this.select(1);
                                    }
                                }
                            </script>
                            <div class="form-group col-md-6 col-lg-4">
                                <label class="form-label">@ProjectSession.Resources.label.Store_TextBlockStore<span class="cfont">*</span></label>
                                <div class="@ProjectSession.CultureKendoClass">
                                    @(Html.Kendo().DropDownListFor(model => model.SubStoreID)
                                .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                .DataTextField("SubStoreCode")
                    .ValueTemplate(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "#:SubStoreCode # -- #: AltSubStoreDesc # " : "#:SubStoreCode # -- #: SubStoreDesc #")
                                .DataValueField("SubStoreID")
                                .Events(m => m.Change("onChangeSubStore").DataBound("onDataBoundStoreDDL"))
                                .HtmlAttributes(new { style = "width: 100%", @required = "required", @id = "ddlIssueSubStore" })
                                .Template("#= KendoDDLTemplate(data.SubStoreCode ,data.SubStoreDesc, data.AltSubStoreDesc) #")
                                .DataSource(source =>
                                {
                                    source.Read(read =>
                                    {
                                        read.Action(Actions.GetStoresListByL2ID, Controllers.Configurations, new { area = Areas.Configurations }).Data("filterStores");

                                    })
                                    .ServerFiltering(true);
                                })
                                .CascadeFrom("ddlIssueCity")
                                .AutoBind(true)
                                .Value(Convert.ToString(Model.SubStoreID))
                                    )
                                </div>

                            </div>
                            <div class="form-group two-form-group col-md-6 col-lg-4">
                                <label class="form-label">@ProjectSession.Resources.label.Store_TextBlockAuthBy <span class="cfont">*</span></label>
                                <div class="input-group pm-checklist">
                                    @Html.TextBoxFor(model => model.Person, new { @class = "form-control code-input", @readonly = "readonly", @id = "txtEmployeeNO", @Placeholder = @ProjectSession.Resources.label.Employee_TextBlockEmployeeNO })
                                    @*@Html.TextBoxFor(model => model.Name, new { @class = "form-control", @readonly = "readonly", @style = "display:" + (Lang ? "" : "none;"), @id = "txtEmployeeName", @Placeholder = @ProjectSession.Resources.label.Employee_TextBlockEmployeeName })
                                    @Html.TextBoxFor(model => model.AltName, new { @class = "form-control", @readonly = "readonly",  @style = "display:" + (Lang ? "none;" : ""),@id = "txtEmployeeAltName", @Placeholder = @ProjectSession.Resources.label.Employee_TextBlockEmployeeName })*@
                                   
                                    @(Html.Kendo().AutoCompleteFor(model => model.Name)
                                     .DataTextField("Name")
                                    .HtmlAttributes(new { @class = "form-control", @id = "txtEmployeeName" })
                                    .Filter("contains")
                        .Template("#= KendoDDLTemplateForTwoColumn( data.EmployeeNO, data.Name) #")
                                    .MinLength(3)
                                    .Placeholder(ProjectSession.Resources.label.Employee_TextBlockEmployeeName)
                                    .Events(m => m.Select("onEmployeeAutoSelect"))
                                    .DataSource(source =>
                                     {
                                         source.Read(read =>
                                         {
                                             read.Action(Actions.GetEmployeesAutoDDL, Controllers.AutoComplete, new { area = Areas.Configurations }).Data("onEmployeeAdditionalData");
                                         })
                                     .ServerFiltering(true);
                                     })
                                    .Value(Convert.ToString(Model.Name))
                                    )

                                     <a href="#" class="checklis-btn" data-toggle="modal" data-backdrop="static" onclick="OpenEmployeeOrderByPopUp()">
                                        <img src="../images/checklis-icon.png" alt="">
                                    </a>
                                    <a href="javascript:void(0);" class="close-btn" title="@ProjectSession.Resources.label.Common_ButtonClear" onclick="ClearOrderByEmployeeData();">
                                        <img src="../images/close.png" alt="">
                                    </a>
                                </div>
                            </div>

                            <div class="form-group col-md-6 col-lg-4">
                                <label class="form-label">@ProjectSession.Resources.label.AssetTransfer_TextBlockDate  <span class="cfont">*</span></label>
                                <div class="input-group date-pick">
                                    @Html.TextBoxFor(model => model.Date, String.Format("{0:" + ProjectConfiguration.DefaultDateFormat + "}", DateTime.Now), new { @id = "txtIssueIssueDate", @class = "form-control calendarsPicker", @placeholder = ProjectConfiguration.DefaultDateFormat })
                                </div>
                            </div>

                            <div class="form-group col-md-6 col-lg-4">
                                <label class="form-label">@ProjectSession.Resources.label.ItemRequisition_TextBlockQty</label>
                                @Html.TextBoxFor(model => model.QtyAdj, String.Format("{0:#,0.00}", Model.QtyAdj), new { @type = "number", @min = "0", @MaxLength = 27, @class = "form-control decimalnumber", @id = "txtIssueQty", onchange = "FillTotalTextBox()" })
                            </div>

                            <div class="form-group col-md-6 col-lg-4">
                                <label class="form-label">@ProjectSession.Resources.label.JobOrder_TextBlockAvgUnitPrice</label>
                                @Html.TextBoxFor(model => model.Price4, String.Format("{0:#,0.00}", Model.Price4), new { @class = "form-control", @readonly = "readonly", @id = "txtAvgPrice" })
                            </div>
                            <div class="form-group col-md-6 col-lg-4">
                                <label class="form-label">@ProjectSession.Resources.label.JobOrder_TextBlockTotal</label>
                                @Html.TextBox("TotalIssues", "", new { @class = "form-control", @readonly = "readonly", @id = "txtTotalIssues" })
                            </div>

                            <div class="form-group col-md-6 col-lg-4">
                                <label class="form-label">@ProjectSession.Resources.label.AccountCode_TextBlockStatus</label>
                                @Html.TextBox("ItemStatus", "", new { @class = "form-control", @readonly = "readonly", @id = "txtItemStatus" })
                            </div>

                            <div class="form-group col-sm-12">
                                <label class="form-label">@ProjectSession.Resources.label.JobRequest_TextBlockRemarks</label>
                                @Html.TextAreaFor(model => model.Comment, new { @MaxLength = 4000, @class = "form-control", @rows = "3", @placeholder = ProjectSession.Resources.label.Common_Enter + " " + ProjectSession.Resources.label.JobRequest_TextBlockRemarks })
                            </div>
                        </div>
                    </div>

                    <div class="box-footer">

                        <button type="button" class="btn btn-primary" id="btnAddIssue" onclick="$('#frmIssues').submit();"><span>@ProjectSession.Resources.label.Common_ButtonAdd</span></button>

                        <button type="button" class="btn btn-default" onclick="ClearWOIssues()">@ProjectSession.Resources.label.Common_ButtonClear</button>
                    </div>
                }
                <div id="divTempData" style="display:none;">
                    <div class="information-form cus-form">
                        <div class="row">
                            <div class="col-md-12 col-lg-12">
                                <div id="DivTempIssueGrid" class="@ProjectSession.CultureKendoClass">
                                    @(Html.Kendo().Grid<CMMS.Model.Adjustment>()
                                    .Name("TempIssuesGrid")
                                    .HtmlAttributes(new { @class = "kl-grid" })
                                    .Columns(columns =>
                                    {
                                        columns.Bound(c => c.Date).ClientTemplate("#= DateTemplate(data.Date) #").Title(ProjectSession.Resources.label.AssetTransfer_TextBlockDate);

                                        columns.Bound(c => c.StockNo).Title(ProjectSession.Resources.label.ItemRequisition_TextBlockItemNo);

                                        columns.Bound(c => c.StockDescription).Title(ProjectSession.Resources.label.ItemList_TextBlockPartDescription).Visible(Lang);
                                        columns.Bound(c => c.AltStockDescription).Title(ProjectSession.Resources.label.ItemList_TextBlockAltPartDesc).Visible(!Lang);

                                        columns.Bound(c => c.SubStoreCode).Title(ProjectSession.Resources.label.Store_TextBlockStoreCode);

                                        columns.Bound(c => c.QtyAdj).ClientTemplate("#= DecimalTempalte(data.QtyAdj,2) #").Title(ProjectSession.Resources.label.ItemRequisition_TextBlockQty);

                                        columns.Bound(c => c.Price4).ClientTemplate("#= DecimalTempalte(data.Price4,2) #").Title(ProjectSession.Resources.label.JobOrder_TextBlockAvgUnitPrice);
                                        columns.Bound(c => c.TotalPrice).ClientTemplate("#= DecimalTempalte(data.TotalPrice,2) #").Title(ProjectSession.Resources.label.JobOrder_TextBlockTotal);
                                        columns.Bound(c => c.GUID).ClientTemplate("<center><a class='action delete-button'  href='javascript:void(0);'  class='delete-ic' data-id='#: GUID #' style='cursor:pointer'><i class='glyphicon glyphicon-trash' title='" + ProjectSession.Resources.label.Common_ButtonDelete + "' ></i></a></center>")
                                                                        .Title("<center>" + ProjectSession.Resources.label.Common_ButtonAction + "</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Width(80);
                                    })
                                    .Sortable(sortable => sortable.AllowUnsort(false))
                                    .Scrollable()
                                    .Events(m => m.DataBound("onTempIssueGridDataBound"))
                                    )

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">

                        <button type="button" class="btn btn-primary disabled" disabled="disabled" id="btnSaveIssue" onclick="SaveAdjustment();"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>

                        <button type="button" class="btn btn-default" onclick="redirectToListing();">@ProjectSession.Resources.label.Common_ButtonCancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="divContent">
    <div class="box edit-job-order">
        <div class="nav-tabs-horizontal">
            <div class="tab-content">
                <div class="information-form cus-form">
                    <div class="row">
                        <div class="col-md-12 col-lg-12">
                            <div id="TransIssueGrid" class="@ProjectSession.CultureKendoClass">
                                @(Html.Kendo().Grid<CMMS.Model.Adjustment>()
        .Name("TransIssuesGrid")
        .HtmlAttributes(new { @class = "kl-grid" })
        .Columns(columns =>
        {
            columns.Bound(c => c.Date).ClientTemplate("#= DateTemplate(data.Date) #").Title(ProjectSession.Resources.label.AssetTransfer_TextBlockDate).Width(120);
            columns.Bound(c => c.QtyAdj).ClientTemplate("#= DecimalTempalte(data.QtyAdj,2) #").Title(ProjectSession.Resources.label.ItemRequisition_TextBlockQty).Width(130);
            columns.Bound(c => c.Price4).ClientTemplate("#= DecimalTempalte(data.Price4,2) #").Title(ProjectSession.Resources.label.JobOrder_TextBlockAvgUnitPrice).Width(130);
            columns.Bound(c => c.TotalPrice).ClientTemplate("#= DecimalTempalte(data.TotalPrice,2) #").Title(ProjectSession.Resources.label.JobOrder_TextBlockTotal).Width(130);
            columns.Bound(c => c.SectorName).Title(ProjectSession.Resources.label.Location_TextBlockSectorName).Width(130);
            columns.Bound(c => c.L2name).Title(ProjectSession.Resources.label.City_TextBlockCityName).Width(130);
            columns.Bound(c => c.SubStoreDesc).Title(ProjectSession.Resources.label.Store_TextBlockStore).Width(130).HtmlAttributes(new { title = "#= KendoToolTipTemplate(data.SubStoreDesc) #", @class = "column-textoverflow" });
            columns.Bound(c => c.Person).Title(ProjectSession.Resources.label.Report_TextBlockContactPerson).Width(130);
            columns.Bound(c => c.Comment).Title(ProjectSession.Resources.label.JobRequest_TextBlockRemarks).Width(130).HtmlAttributes(new { title = "#= KendoToolTipTemplate(data.Comment) #", @class = "column-textoverflow" });
        })
        .Sortable(sortable => sortable.AllowUnsort(false))
        .Scrollable()
                 .Excel(excel => excel.FileName(ProjectSession.Resources.label.JobOrder_TextBlockIssues + ".xlsx").Filterable(true).AllPages(true))
                .Pageable(pageable => pageable.PageSizes(CMMS.Pages.General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
                                        .Events(events => events.DataBound("onDataBoundForTransAdjustment"))
                .DataSource(dataSource =>
                                        dataSource.Ajax()
                                        .PageSize(ProjectConfiguration.PageSize)
                                                .Sort(model => model.Add("AdjustmentID").Descending())
                                         .Model(model =>
                                         {
                                             model.Id(p => p.AdjustmentID);
                                             model.Field(p => p.StockNo);
                                         })
                                        .ServerOperation(true)
                                                                                               .Read(read => read.Action(CMMS.Pages.Actions.GetAdjustmentByStockCodeandSubStore, CMMS.Pages.Controllers.Transaction, new { area = CMMS.Pages.Areas.Transaction }).Data("BindParametersForTransAdjustment").Type(HttpVerbs.Post))
                )
                                )

                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <button type="button" class="btn btn-default" onclick="redirectToListing();">@ProjectSession.Resources.label.Common_ButtonCancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="ItemsGridModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" title="@ProjectSession.Resources.label.Common_ButtonClose"></button>
                <h4 class="modal-title">@ProjectSession.Resources.label.Item_TextblockItemDetails</h4>
            </div>
            <div class="modal-body">
                <div id="Highlights" class="tab-pane active" role="tabpanel">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div id="itemData" class="@ProjectSession.CultureKendoClass">
                                    @(Html.Kendo().Grid<CMMS.Model.StockCode>()
                                        .Name("itemsGrid")
                                        .HtmlAttributes(new { @class = "kl-grid" })
                                        .Columns(columns =>
                                        {
                                            columns.Bound(c => c.StockID).Hidden(true);
                                            columns.Bound(c => c.StockNo).Title(ProjectSession.Resources.label.ItemList_TextBlockPartNumber).Width(170);

                                            columns.Bound(c => c.StockDescription).Title(ProjectSession.Resources.label.ItemList_TextBlockPartDescription).Width(150).HtmlAttributes(new { title = "#= KendoToolTipTemplate(data.StockDescription) #", @class = "column-textoverflow" });

                                            columns.Bound(c => c.AltStockDescription).Title(ProjectSession.Resources.label.ItemList_TextBlockAltPartDesc).Width(150).HtmlAttributes(new { title = "#= KendoToolTipTemplate(data.StockDescription) #", @class = "column-textoverflow" });

                                            columns.Bound(c => c.StatusText).Title(ProjectSession.Resources.label.AccountCode_TextBlockStatus).Width(120);
                                            columns.Bound(c => c.Specification).Title(ProjectSession.Resources.label.JobPlan_TextBlockSpecification).Width(120);
                                            columns.Bound(c => c.Manufacturer).Title(ProjectSession.Resources.label.Asset_TextBlockManufacturer).Width(120);
                                            columns.Bound(c => c.Criticality).Title(ProjectSession.Resources.label.Item_CheckBoxCritical).Width(120);

                                            columns.Bound(c => c.AttrName).Title(ProjectSession.Resources.label.ItemType_TextBlockItemType).Width(120)
                                            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterStoreItemType", "GridFilter", new { area = string.Empty }).Data("BindParametersItems").Type(HttpVerbs.Post))));

                                            columns.Bound(c => c.AttrSubName).Title(ProjectSession.Resources.label.ItemSubType_TextBlockPartSubType).Width(120)
                                            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterStoreItemSubType", "GridFilter", new { area = string.Empty }).Data("BindParametersItems").Type(HttpVerbs.Post))));

                                            columns.Bound(c => c.Balanace).Title(ProjectSession.Resources.label.JobOrder_TextBlockBalance).Width(120);
                                        })
                                        .Sortable(sortable => sortable.AllowUnsort(false))
                                        .Scrollable()
                                        .Filterable()
                                        .Pageable(pageable => pageable.PageSizes(CMMS.Pages.General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
                                        .Events(events => events.DataBound("onDataBoundItems"))
                                        .Excel(excel => excel.FileName(ProjectSession.Resources.label.Item_TextblockItemDetails + ".xlsx").Filterable(true).AllPages(false))
                                        .DataSource(dataSource => dataSource.Ajax()
                                        .PageSize(ProjectConfiguration.PageSize)
                                        .Model(model =>
                                        {
                                            model.Id(p => p.StockID);
                                            model.Field(p => p.StockNo);
                                        })
                                        .ServerOperation(true)
                                        .Read(read => read.Action(CMMS.Pages.Actions.GetStockCodes, CMMS.Pages.Controllers.Transaction, new { area = CMMS.Pages.Areas.Transaction }).Data("BindParametersItems").Type(HttpVerbs.Post))
                                        )
                                        .Resizable(resize => resize.Columns(true))
)

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer box-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@ProjectSession.Resources.label.Common_ButtonClose</button>
            </div>
        </div>
    </div>
</div>

<div id="OrderbyEmployeeGridModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" title="@ProjectSession.Resources.label.Common_ButtonClose"></button>
                <h4 class="modal-title">@ProjectSession.Resources.label.Employee_RadTabItemEmployee</h4>
            </div>
            <div class="modal-body">
                <div id="Highlights" class="tab-pane active" role="tabpanel">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div id="employeeData" class="@ProjectSession.CultureKendoClass">
                                    @(Html.Kendo().Grid<CMMS.Model.employees>()
                                            .Name("OrderbyEmployeeGrid")
                                    .Columns(columns =>
                                    {
                                        columns.Bound(c => c.EmployeeNO).Title(ProjectSession.Resources.label.Employee_TextBlockEmployeeNO).Width(100);

                                        columns.Bound(c => c.L2Code).Title(ProjectSession.Resources.label.JobRequest_TextBlockCityCode).Width(100);

                                        columns.Bound(c => c.Name).Title(ProjectSession.Resources.label.Employee_TextBlockEmployeeName).Width(100);

                                        columns.Bound(c => c.MaintDivisionCode).Title(ProjectSession.Resources.label.MaintDivision_TextBlockMaintDivCode).Width(100);

                                        columns.Bound(c => c.MaintDeptCode).Title(ProjectSession.Resources.label.MaintenanceDept_TextBlockMaintDeptCode).Width(100);

                                        columns.Bound(c => c.MaintSubDeptCode).Title(ProjectSession.Resources.label.MaintenanceSubDept_TextBlockMaintSubDeptCode).Width(100);

                                        columns.Bound(c => c.Positions).Title(ProjectSession.Resources.label.Employee_TextBlockDesignation).Width(100);

                                        columns.Bound(c => c.CategoryName).Title(ProjectSession.Resources.label.Employee_TextBlockEmployeeCategory).Width(100);

                                        columns.Bound(c => c.EmployeeStatus).Title(ProjectSession.Resources.label.Employee_TextBlockEmployeeStatus).Width(100);

                                    })
                                    .Sortable(sortable => sortable.AllowUnsort(false))
                                    .Scrollable()
                                            .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
                                    .Events(events => events.DataBound("onDataBoundOrderByEmployee"))
                                    .DataSource(dataSource => dataSource.Ajax()
                                    .PageSize(ProjectConfiguration.PageSize)
                                     .Model(model =>
                                     {
                                         model.Id(p => p.EmployeeID);
                                         model.Field(p => p.Name);
                                     })
                                    .ServerOperation(true)
                                    .Read(read => read.Action(Actions.GetEmployees, Controllers.Management, new { area = Areas.Management }).Data("BindParametersOrderByEmp").Type(HttpVerbs.Post))
                                    )
                                    )

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer box-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@ProjectSession.Resources.label.Common_ButtonClose</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var intPageID = '@SystemEnum.Pages.TransactionList.GetHashCode()';
    $("#itemsGrid tbody").on("dblclick", "tr[role='row']", function (e) {
        var grid = $("#itemsGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        FIllItemsDetail(model);
    });

    function onAutoSelect(e) {
        var model = this.dataItem(e.item.index());
        FIllItemsDetail(model);
    }

    function FIllItemsDetail(model) {
        $("#ItemsGridModal").modal("hide");
        $('#hdnIssueStockID').val(model.StockID);
        try { ReBindKendoGrid('TransIssuesGrid'); } catch (e1) { }
        $('#txtIssueStockNo').val(model.StockNo);
        if ('@Lang' == 'True') {
            $("#txtIssueStockDesc").val(model.StockDescription);
        }
        else {
            $("#txtIssueStockDesc").val(model.AltStockDescription);
        }
        $('#txtAvgPrice').val(model.AvgPrice.toFixed(2));

        $('#txtItemStatus').val(model.StatusText);

        if (model.Status != "1") {
            $('#ddlIssueCity').data("kendoDropDownList").enable(false);
            $('#ddlIssueSubStore').data("kendoDropDownList").enable(false);
        }
        var subStoreCode = $('#ddlIssueSubStore').data('kendoDropDownList').dataItem($('#ddlIssueSubStore').data('kendoDropDownList').select()).SubStoreCode

        $('#SubStoreCode').val(subStoreCode);
        FillTotalTextBox();
    }

    $(document).ready(function () {

        $("#txtIssueQty").keydown(function (event) {
            if (event.shiftKey) {
                event.preventDefault();
            }

            if (event.keyCode == 46 || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 110) {
            }
            else {
                if (event.keyCode < 95) {
                    if (event.keyCode < 48 || event.keyCode > 57) {
                        event.preventDefault();
                    }
                }
                else {
                    if (event.keyCode < 96 || event.keyCode > 105) {
                        event.preventDefault();
                    }
                }
            }
        });
    });

    function FillTotalTextBox(e) {
        if (!isNotUndefinedNullOrBlankOrZero('txtIssueQty', true)) {
            $('#txtIssueQty').val('0.00');
        }

        if (!isNotUndefinedNullOrBlankOrZero('txtAvgPrice', true)) {
            $('#txtAvgPrice').val('0.00');
        }
        $('#txtIssueQty').val(parseFloat($('#txtIssueQty').val()).toFixed(2));
        $('#txtAvgPrice').val(parseFloat($('#txtAvgPrice').val()).toFixed(2));
        $('#txtTotalIssues').val(($('#txtIssueQty').val() * $('#txtAvgPrice').val()).toFixed(2));
    }

    $("#OrderbyEmployeeGrid tbody").on("dblclick", "tr[role='row']", function (e) {
        var grid = $("#OrderbyEmployeeGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        $("#OrderbyEmployeeGridModal").modal("hide");

        //Employee
        $("#hdnOrderBy").val(model.EmployeeID);
        $("#txtEmployeeNO").val(model.EmployeeNO);

        $("#txtEmployeeName").val(model.Name);

    });




    function ClearWOIssues() {
        $('#hdnIssueStockID').val('');
        $('#txtIssueStockNo').val('');
        $('#txtIssueStockDesc').val('');
        $('#txtIssueQty').val('1.00');
        $('#txtAvgPrice').val('');
        $('#txtTotalIssues').val('');
        $('#txtEmployeeNO').val('');
        $('#txtEmployeeName').val('');
    }

    validator = $('#frmIssues').validate({
        rules: {
            Date: { required: true },
            QtyAdj: { range: [-999999, 999999999] },
            StockNo: { required: true },
            Price4: { required: true, range: [1, 999999999] },
            Person: { required: true }
        },
        messages: {
            Date: { required: '' },
            QtyAdj: { range: '' },
            StockNo: { required: '' },
            Price4: { required: '', range: '' },
            Person: { required: true }
        }
    });

    $('#frmIssues').on('submit', function (e) {
        if ($("#frmIssues").valid()) {
            if (!reValidateDropDowns($(this))) {
                e.preventDefault();
                return false;
            }

            if (!e.isDefaultPrevented()) {

                @*if (!isNotUndefinedNullOrBlankOrZero('txtIssueQty', true)) {
                    e.preventDefault();
                    $('#txtIssueQty').focus();
                    ShowMessage('@SystemEnum.MessageType.danger', 'Incorrect Qty', '#divMessage');
                    return false;
                } else *@
                if (parseFloat($('#txtIssueQty').val()) > parseFloat($('#txtBalance').val())) {
                    e.preventDefault();
                    $('#txtIssueQty').focus();
                    ShowMessage('@SystemEnum.MessageType.danger', '@ProjectSession.Resources.message.Store_MsgIssueQtygreaterThanBalance', '#divMessage');
                    return false;
                }
                else {
                    $('#HdnL2ID').val($('#ddlIssueCity').val());
                    $('#HdnSubStoreID').val($('#ddlIssueSubStore').val());
                    $('#lstAdj').val(JSON.stringify($("#TempIssuesGrid").data("kendoGrid").dataSource.data()));

                    var options = {
                        success: onSuccessJoIssues,  // post-submit callback
                        data: addRequestVerificationToken($('#frmIssues').serialize())
                    };

                    $(this).ajaxSubmit(options);
                    return false;
                }
            }
            else { e.preventDefault(); }
        }
        else {
            e.preventDefault();
        }
    });

    function onSuccessJoIssues(responseText, statusText, xhr, $form) {
        if (responseText[0] == 1) {
            ShowMessage(responseText[1], responseText[2], "#divMessage");
        }
        else {
            var kendoAttachementgriddata = $("#TempIssuesGrid").data("kendoGrid");
            if (responseText[2] != null) {
                kendoAttachementgriddata.dataSource.data(responseText[2]);
                $('#btnSaveIssue').removeAttr('disabled');
                $('#btnSaveIssue').removeClass('disabled');
                $('#divTempData').css('display', '');
            }
            else { $('#divTempData').css('display', 'none'); }
            ClearWOIssues();
        }
    }

    //(Start)Final Save

    function SaveAdjustment() {
        try {
            $.ajax({
                url: '@Url.Action(Actions.SaveTransactionAdjustment, Controllers.Transaction, new { area = Areas.Transaction })',
                type: 'POST',
                data: addRequestVerificationToken({ kendogridData: JSON.stringify($("#TempIssuesGrid").data("kendoGrid").dataSource.data()) }),
                cache: false,
                success: function (result) {
                    if (result[0] == 0) {
                        redirectToListing();
                    }
                    ShowMessage(result[1], result[2], '#divMessage');
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }
        catch (err)
        { alert(err); }
    }
    //(End)Final Save
</script>
