﻿@using CMMS.Infrastructure;
@using CMMS.Pages;
@model CMMS.Model.Issue
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool Lang = ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true;
}
<script type="text/javascript" src="~/Scripts/jquery.form.js"></script>
<style>
    .calendars-popup {
        z-index: 100000 !important;
    }
</style>
<script type="text/javascript">

    function redirectToListing() {
        var url = '@Url.Action(Actions.GetTransactionListPage, Controllers.Transaction, new { })';
        location.href = url;
    }

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };

    function onChangeSubStore(e) {
        if (isNotUndefinedNullOrBlankOrZero('hdnIssueStockID') && isNotUndefinedNullOrBlankOrZero('ddlIssueSubStore')) {
            LoadBalance($('#hdnIssueStockID').val(), $('#ddlIssueSubStore').val(), $('#hdnANV').val());
        }
        ReBindKendoGrid('TransIssuesGrid');
    }

    function filterStores() {
        return {
            siteId: isNotUndefinedNullOrBlankOrZero("ddlIssueCity") ? $("#ddlIssueCity").val() : 0,
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function OpenItemsPopUp() {
        $("#ItemsGridModal").modal("show");
    }

    function onTempIssueGridDataBound(e) {
        confirmDeleteMsg(msgText, okText, cancelText, onConfirmCallbackForItemList, confirmDirection);
    }

    function onConfirmCallbackForItemList(sender) {
        $('.popover').remove();
        var id = $(this).data("id");
        var grid = $("#TempIssuesGrid").data("kendoGrid");

        var row = grid.tbody
                      .find("tr a[data-id='" + id + "']").closest('tr');

        var dataSource = grid.dataSource;
        var dataIte = grid.dataItem(row);
        dataSource.remove(dataIte);
        grid.refresh();
        LoadBalance($('#hdnIssueStockID').val(), $('#ddlIssueSubStore').val(), $('#hdnANV').val());
    }

    function onDataBoundItems() {
        gridProperPaging(this);
    }

    function BindParametersItems() {
        return {
            showBalance: false,
            subStoreID: 0,
            strWhere: "",
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function onAdditionalData() {
        return {
            text: $("#txtIssueStockDesc").val()
        };
    }

    //Job Order Pop Up Start
    function BindParametersJobOrder() {
        return {
            cityID: isNotUndefinedNullOrBlankOrZero('ddlIssueCity') ? $('#ddlIssueCity').val() : 0,
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }
    function onDataBoundJobOrder(arg) {
        gridProperPaging(this);
    }

    function OpenJobOrderPopUp() {
        ReBindKendoGrid('JobOrderGrid');
        $("#JobOrderGridModal").modal("show");
    }

    function ClearJobOrder() {
        $('#txtWorkorderNo2').val('');
    }
    //Job Order Pop Up End

    //(Start)Location Pop Up//
    function OpenLocationPopUp() {
        ReBindKendoGrid('locationGrid');
        $("#locationGridModal").modal("show");
    }

    function onDataBoundLocation(arg) {
        gridProperPaging(this);
    }

    function BindParametersLocation() {
        return {
            strWhere: " and location.L2ID =" + (isNotUndefinedNullOrBlankOrZero('ddlIssueCity') ? $('#ddlIssueCity').val() : 0),
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function onAdditionalDataLocation() {
        return {
            text: $("#txtLocationDescription").val()
        };
    }
    //(End)Location PopUp

    //(Start) Transaction Issue Grid
    function onDataBoundForTransIssues(arg) {
        gridProperPaging(this);
    }

    function BindParametersForTransIssues() {
        return {
            stockID: (isNotUndefinedNullOrBlankOrZero('hdnIssueStockID') ? $('#hdnIssueStockID').val() : 0),
            subStoreID: (isNotUndefinedNullOrBlankOrZero('ddlIssueSubStore') ? $('#ddlIssueSubStore').val() : 0),
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    //(End) Transaction Issue Grid
    function CalculateTargetDate()
    { }
</script>
<div class="head1">
    <h1>
        @ProjectSession.Resources.label.Store_TextBlockIssue
    </h1>
    <ul class="sub_btn"></ul>
</div>
<div id="divModelError"></div>
<div id="divContent">
    <div class="box edit-job-order">
        <div class="nav-tabs-horizontal">
            <div class="tab-content">
                @using (Html.BeginForm(Actions.SaveTempIssue, Controllers.Transaction, new { area = Areas.Transaction }, FormMethod.Post, new { id = "frmIssues" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.lstIssues)
                    @Html.HiddenFor(model => model.UoM)
                    @Html.HiddenFor(model => model.SubStoreCode)
                    <div class="information-form cus-form">
                        <div class="row">
                            <div class="two-form-group form-group col-md-6 col-lg-4">
                                <label class="form-label">@ProjectSession.Resources.label.ItemRequisition_TextBlockItemNo<span class="cfont">*</span></label>
                                <div class="input-group pm-checklist">
                                    <input type="hidden" id="hdnANV" value="" />
                                    @Html.HiddenFor(model => model.StockID, new { @id = "hdnIssueStockID" })
                                    @Html.TextBoxFor(model => model.StockNo, new { @class = "form-control code-input", @readonly = "readonly", @id = "txtIssueStockNo", @Placeholder = @ProjectSession.Resources.label.ItemRequisition_TextBlockItemNo })
                                    @*@Html.TextBoxFor(model => model.StockDescription, new { @class = "form-control", @style = "display:" + (Lang ? "" : "none;"), @readonly = "readonly", @id = "txtIssueStockDesc", @Placeholder = @ProjectSession.Resources.label.ItemList_TextBlockPartDescription })*@
                                    @(Html.Kendo().AutoCompleteFor(model => model.StockDescription)
                                .DataTextField(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "AltStockDescription" : "StockDescription")
                                .HtmlAttributes(new { @class = "form-control", @id = "txtIssueStockDesc" })
                                .Filter("contains")
                                .Template("#= KendoDDLTemplate( data.StockNo, data.StockDescription,data.AltStockDescription) #")
                                .MinLength(3)
                                .Placeholder(ProjectSession.Resources.label.ItemList_TextBlockPartDescription)
                                .Events(m => m.Select("onAutoSelect"))
                                .DataSource(source =>
                                {
                                    source.Read(read =>
                                    {
                                        read.Action(Actions.GetStockCodesAutoDDL, Controllers.AutoComplete, new { area = Areas.Configurations }).Data("onAdditionalData");
                                    })
                                    .ServerFiltering(true);
                                })
                                .Value(Convert.ToString(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? Model.AltStockDescription : Model.StockDescription))
                                    )
                                    @*@Html.TextBoxFor(model => model.AltStockDescription, new { @class = "form-control", @style = "display:" + (Lang ? "none;" : ""), @readonly = "readonly", @id = "txtIssueAltStockDesc", @Placeholder = @ProjectSession.Resources.label.ItemList_TextBlockPartAltPartDesc })*@
                                    <a href="#" class="checklis-btn" id="btnOpenAddItemPopUp" data-toggle="modal" data-backdrop="static" onclick="OpenItemsPopUp()">
                                        <img src="../images/checklis-icon.png" alt="">
                                    </a>
                                    <a href="javascript:void(0);" class="close-btn" id="btnClearIssue" title="@ProjectSession.Resources.label.Common_ButtonClear" onclick="ClearWOIssues();">
                                        <img src="../images/close.png" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="form-group col-md-6 col-lg-4">
                                <label class="form-label">@ProjectSession.Resources.label.AssetTransfer_TextBlockDate  <span class="cfont">*</span></label>
                                <div class="input-group date-pick">
                                    @Html.TextBoxFor(model => model.DateIssue, String.Format("{0:" + ProjectConfiguration.DefaultDateFormat + "}", DateTime.Now), new { @id = "txtIssueIssueDate", @class = "form-control calendarsPicker", @placeholder = ProjectConfiguration.DefaultDateFormat })
                                </div>
                            </div>
                            <div class="form-group col-md-6 col-lg-4">
                                <label class="form-label">@ProjectSession.Resources.label.JobOrder_TextBlockJobOrderNo</label>
                                <div class="input-group pm-checklist">
                                    @Html.HiddenFor(model => model.HDNWoNo)
                                    @*@Html.TextBoxFor(model => model.WONo, new { @class = "form-control code-input", @readonly = "readonly", @id = "txtWorkorderNo", @Placeholder = @ProjectSession.Resources.label.JobOrder_TextBlockJobOrderNo })*@
                                    @(Html.Kendo().AutoCompleteFor(model => model.WONo)
                                .DataTextField("WorkorderNo")
                                .HtmlAttributes(new { @class = "form-control", @id = "txtWorkorderNo2" })
                                .Filter("contains")
                                //.Template("#= KendoDDLTemplateForTwoColumn(data.WorkorderNo,'') #")
                                .MinLength(3)
                                .Placeholder(ProjectSession.Resources.label.JobOrder_TextBlockJobOrderNo)
                                .Events(m => m.Select("onAutoSelectJobOrder"))
                                .DataSource(source =>
                                {
                                    source.Read(read =>
                                    {
                                        read.Action(Actions.GetJobOrderAutoDDL, Controllers.AutoComplete, new { area = Areas.Configurations }).Data("onAdditionalDataJobOrderNo");
                                    })
                                    .ServerFiltering(true);
                                })
                                .Value(Model.WONo)
                                    )


                                    <a href="#" class="checklis-btn" data-toggle="modal" data-backdrop="static" onclick="OpenJobOrderPopUp()">
                                        <img src="../images/checklis-icon.png" alt="">
                                    </a>
                                    <a href="javascript:void(0);" class="close-btn" title="@ProjectSession.Resources.label.Common_ButtonClear" onclick="ClearJobOrder();">
                                        <img src="../images/close.png" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="form-group two-form-group  col-md-6 col-lg-4">
                                <label class="form-label">@ProjectSession.Resources.label.JobRequest_TextBlockLocation</label>
                                <div class="input-group pm-checklist">
                                    @Html.HiddenFor(model => model.LocationID)
                                    @Html.TextBoxFor(model => model.LocationNo, new { @class = "form-control code-input", @readonly = "readonly", @id = "txtLocationNo", @Placeholder = @ProjectSession.Resources.label.JobRequest_TextBlockLocationNo })

                                    @(Html.Kendo().AutoCompleteFor(model => model.LocationDescription)
                                    .DataTextField(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "LocationAltDescription" : "LocationDescription")
                                    .HtmlAttributes(new { @class = "form-control", @id = "txtLocationDescription" })
                                    .Filter("contains")
                                    .Template("#= KendoDDLTemplate( data.LocationNo, data.LocationDescription,data.LocationAltDescription) #")
                                    .MinLength(3)
                                    .Placeholder(ProjectSession.Resources.label.JobRequest_TextBlockAltLocationDescription)
                                    .Events(m => m.Select("onAutoSelectLocation"))
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action(Actions.GetLocationAutoDDL, Controllers.AutoComplete, new { area = Areas.Configurations }).Data("onAdditionalDataLocation");
                                        })
                                        .ServerFiltering(true);
                                    })
                                    .Value(Convert.ToString(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? Model.LocationAltDescription : Model.LocationDescription))
                                    )
                                    <a href="#" class="checklis-btn" data-toggle="modal" id="btnOpenLocationPopup" data-backdrop="static" onclick="OpenLocationPopUp()">
                                        <img src="../images/checklis-icon.png" alt="">
                                    </a>
                                    <a href="javascript:void(0);" class="close-btn" id="btnClearLocation" title="@ProjectSession.Resources.label.Common_ButtonClear" onclick="ClearLocation();">
                                        <img src="../images/close.png" alt="">
                                    </a>
                                </div>
                            </div>

                            <script type="text/javascript">
                                function onDataBoundCityDDL(e) {
                                    var ds = this.dataSource.data();
                                    if (ds.length > 0) {
                                        this.select(1);
                                    }
                                }
                            </script>
                            <div class="form-group col-md-6 col-lg-4">
                                @Html.HiddenFor(model => model.HdnL2ID)
                                @Html.HiddenFor(model => model.HdnSubStoreID)
                                <label class="form-label">@ProjectSession.Resources.label.JobRequest_TextBlockCity<span class="cfont">*</span></label>
                                <div class="@ProjectSession.CultureKendoClass">
                                    @(Html.Kendo().DropDownListFor(model => model.L2ID)
                                .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                .DataTextField("L2Code")
                                .ValueTemplate(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "#:L2Code # -- #: L2Altname # " : "#:L2Code # -- #: L2name #")
                                .DataValueField("L2ID")
                                .HtmlAttributes(new { style = "width: 100%", @required = "required", @id = "ddlIssueCity" })
                                .Template("#= KendoDDLTemplate(data.L2Code ,data.L2name, data.L2Altname) #")
                                .Events(model => model.DataBound("onDataBoundCityDDL"))
                                .DataSource(source =>
                                {
                                    if (ProjectSession.IsCentral)
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action(Actions.GetAllCities, Controllers.Configurations, new { area = Areas.Configurations, cityID = Model.L2ID });
                                        });
                                    }
                                    else
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action(Actions.GetCitiesByEmployee, Controllers.Configurations, new { area = Areas.Configurations, cityID = Model.L2ID });
                                        });
                                    }
                                })
                                .Value(Convert.ToString(Model.L2ID))
                                    )
                                </div>
                            </div>
                            <script type="text/javascript">
                                function onDataBoundStoreDDL(e) {
                                    var ds = this.dataSource.data();
                                    if (ds.length > 0) {
                                        this.select(1);
                                    }
                                    LoadBalance($('#hdnIssueStockID').val(), $('#ddlIssueSubStore').val(), $('#hdnANV').val());
                                }
                            </script>
                            <div class="form-group col-md-6 col-lg-4">
                                <label class="form-label">@ProjectSession.Resources.label.Store_TextBlockStore<span class="cfont">*</span></label>
                                <div class="@ProjectSession.CultureKendoClass">
                                    @(Html.Kendo().DropDownListFor(model => model.SubStoreID)
                                .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                .DataTextField("SubStoreCode")
                    .ValueTemplate(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "#:SubStoreCode # -- #: AltSubStoreDesc # " : "#:SubStoreCode # -- #: SubStoreDesc #")
                                .DataValueField("SubStoreID")
                                .Events(m => m.Change("onChangeSubStore").DataBound("onDataBoundStoreDDL"))
                                .HtmlAttributes(new { style = "width: 100%", @required = "required", @id = "ddlIssueSubStore" })
                                .Template("#= KendoDDLTemplate(data.SubStoreCode ,data.SubStoreDesc, data.AltSubStoreDesc) #")
                                .DataSource(source =>
                                {
                                    source.Read(read =>
                                    {
                                        read.Action(Actions.GetStoresListByL2ID, Controllers.Configurations, new { area = Areas.Configurations }).Data("filterStores");

                                    })
                                    .ServerFiltering(true);
                                })
                                .CascadeFrom("ddlIssueCity")
                                .AutoBind(true)
                                .Value(Convert.ToString(Model.SubStoreID))
                                    )
                                </div>

                            </div>

                            <div class="form-group col-md-6 col-lg-4">
                                <label class="form-label">@ProjectSession.Resources.label.JobOrder_TextBlockNegativeBalanceAllowed</label>
                                @Html.TextBox("NegativeBalanceAllolwed", "", new { @class = "form-control", @readonly = "readonly", @id = "txtNegativeBalanceAllolwed" })
                            </div>
                            <div class="form-group col-md-6 col-lg-4">
                                <label class="form-label">@ProjectSession.Resources.label.ItemRequisition_TextBlockQty</label>
                                @Html.TextBoxFor(model => model.QtyIssue, String.Format("{0:#,0.00}", Model.QtyIssue), new { @MaxLength = 27, @class = "form-control decimalnumber", @id = "txtIssueQty", onchange = "FillTotalTextBox()" })
                            </div>

                            <div class="form-group col-md-6 col-lg-4">
                                <label class="form-label">@ProjectSession.Resources.label.JobOrder_TextBlockAvgUnitPrice</label>
                                @Html.TextBoxFor(model => model.Price3, String.Format("{0:#,0.00}", Model.Price3), new { @class = "form-control", @readonly = "readonly", @id = "txtAvgPrice" })
                            </div>
                            <div class="form-group col-md-6 col-lg-4">
                                <label class="form-label">@ProjectSession.Resources.label.JobOrder_TextBlockTotal</label>
                                @Html.TextBox("TotalIssues", "", new { @class = "form-control", @readonly = "readonly", @id = "txtTotalIssues" })
                            </div>

                            <div class="form-group col-md-6 col-lg-4">
                                <label class="form-label">@ProjectSession.Resources.label.JobOrder_TextBlockBalance</label>
                                @Html.TextBox("Balance", "", new { @class = "form-control", @readonly = "readonly", @id = "txtBalance" })
                            </div>

                            <div class="form-group col-md-6 col-lg-4">
                                <label class="form-label">@ProjectSession.Resources.label.AccountCode_TextBlockStatus</label>
                                @Html.TextBox("ItemStatus", "", new { @class = "form-control", @readonly = "readonly", @id = "txtItemStatus" })
                            </div>

                            <div class="form-group col-sm-12">
                                <label class="form-label">@ProjectSession.Resources.label.JobRequest_TextBlockRemarks</label>
                                @Html.TextAreaFor(model => model.Description, new { @MaxLength = 4000, @class = "form-control", @rows = "3", @placeholder = ProjectSession.Resources.label.Common_Enter + " " + ProjectSession.Resources.label.JobRequest_TextBlockRemarks })
                            </div>
                        </div>
                    </div>

                    <div class="box-footer">

                        <button type="button" class="btn btn-primary disabled" disabled="disabled" id="btnAddIssue" onclick="$('#frmIssues').submit();"><span>@ProjectSession.Resources.label.Common_ButtonAdd</span></button>

                        <button type="button" class="btn btn-default" onclick="ClearWOIssues()">@ProjectSession.Resources.label.Common_ButtonClear</button>
                    </div>

                }
                <div id="divTempData" style="display:none;">
                    <div class="information-form cus-form">
                        <div class="row">
                            <div class="col-md-12 col-lg-12">
                                <div id="DivTempIssueGrid" class="@ProjectSession.CultureKendoClass">
                                    @(Html.Kendo().Grid<CMMS.Model.ViewModelIssue>()
        .Name("TempIssuesGrid")
        .HtmlAttributes(new { @class = "kl-grid" })
        .Columns(columns =>
        {
            columns.Bound(c => c.DateIssue).ClientTemplate("#= DateTemplate(data.DateIssue) #").Title(ProjectSession.Resources.label.Common_TextBlockIssueDate);

            columns.Bound(c => c.StockNo).Title(ProjectSession.Resources.label.ItemRequisition_TextBlockItemNo);

            columns.Bound(c => c.StockDescription).Title(ProjectSession.Resources.label.ItemList_TextBlockPartDescription).Visible(Lang).HtmlAttributes(new { title = "#= KendoToolTipTemplate(data.StockDescription) #", @class = "column-textoverflow" });
            columns.Bound(c => c.AltStockDescription).Title(ProjectSession.Resources.label.ItemList_TextBlockAltPartDesc).Visible(!Lang).HtmlAttributes(new { title = "#= KendoToolTipTemplate(data.AltStockDescription) #", @class = "column-textoverflow" });

            columns.Bound(c => c.SubStoreCode).Title(ProjectSession.Resources.label.Store_TextBlockStoreCode);

            columns.Bound(c => c.QtyIssue).ClientTemplate("#= DecimalTempalte(data.QtyIssue,2) #").Title(ProjectSession.Resources.label.ItemRequisition_TextBlockQty);

            columns.Bound(c => c.Price3).ClientTemplate("#= DecimalTempalte(data.Price3,2) #").Title(ProjectSession.Resources.label.JobOrder_TextBlockAvgUnitPrice);
            columns.Bound(c => c.TotalPrice).ClientTemplate("#= DecimalTempalte(data.TotalPrice,2) #").Title(ProjectSession.Resources.label.JobOrder_TextBlockTotal);
            columns.Bound(c => c.UoM).Title(ProjectSession.Resources.label.Item_TextBlockUOM);
            columns.Bound(c => c.GUID).ClientTemplate("<center><a class='action delete-button'  href='javascript:void(0);'  class='delete-ic' data-id='#: GUID #' style='cursor:pointer'><i class='glyphicon glyphicon-trash' title='" + ProjectSession.Resources.label.Common_ButtonDelete + "' ></i></a></center>")
                                            .Title("<center>" + ProjectSession.Resources.label.Common_ButtonAction + "</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Width(80);
        })
        .Sortable(sortable => sortable.AllowUnsort(false))
        .Scrollable()
        .Events(m => m.DataBound("onTempIssueGridDataBound"))
                                    )

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">

                        <button type="button" class="btn btn-primary disabled" disabled="disabled" id="btnSaveIssue" onclick="SaveIssues();"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>

                        <button type="button" class="btn btn-default" onclick="redirectToListing();">@ProjectSession.Resources.label.Common_ButtonCancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="divContent">
    <div class="box edit-job-order">
        <div class="nav-tabs-horizontal">
            <div class="tab-content">
                <div class="information-form cus-form">
                    <div class="row">
                        <div class="col-md-12 col-lg-12">
                            <div id="TransIssueGrid" class="@ProjectSession.CultureKendoClass">
                                @(Html.Kendo().Grid<CMMS.Model.Issue>()
        .Name("TransIssuesGrid")
        .HtmlAttributes(new { @class = "kl-grid" })
        .Columns(columns =>
        {
            columns.Bound(c => c.DateIssue).ClientTemplate("#= DateTemplate(data.DateIssue) #").Title(ProjectSession.Resources.label.Common_TextBlockIssueDate).Width(120);
            columns.Bound(c => c.WONo).Title(ProjectSession.Resources.label.Store_TextBlockDataGridIssueWONo).Width(130);
            columns.Bound(c => c.LocationNo).Title(ProjectSession.Resources.label.Location_TextBlockLocationNo).Width(130);
            columns.Bound(c => c.MaintSubDeptDesc).Title(ProjectSession.Resources.label.MaintenanceSubDept_TextBlockMaintenanceSubDept).Width(160).HtmlAttributes(new { title = "#= KendoToolTipTemplate(data.MaintSubDeptDesc) #", @class = "column-textoverflow" });
            columns.Bound(c => c.MaintDeptdesc).Title(ProjectSession.Resources.label.MaintenanceDept_TextBlockMaintDeptDesc).Width(180).HtmlAttributes(new { title = "#= KendoToolTipTemplate(data.MaintDeptdesc) #", @class = "column-textoverflow" });
            columns.Bound(c => c.MaintDivisionName).Title(ProjectSession.Resources.label.MaintDivision_TextBlockMaintDivision).Width(160);
            columns.Bound(c => c.QtyIssue).ClientTemplate("#= DecimalTempalte(data.QtyIssue,2) #").Title(ProjectSession.Resources.label.ItemRequisition_TextBlockQty).Width(130);
            columns.Bound(c => c.Price3).ClientTemplate("#= DecimalTempalte(data.Price3,2) #").Title(ProjectSession.Resources.label.JobOrder_TextBlockAvgUnitPrice).Width(130);
            columns.Bound(c => c.TotalPrice).ClientTemplate("#= DecimalTempalte(data.TotalPrice,2) #").Title(ProjectSession.Resources.label.JobOrder_TextBlockTotal).Width(130);
            columns.Bound(c => c.SectorName).Title(ProjectSession.Resources.label.Location_TextBlockSectorName).Width(130);
            columns.Bound(c => c.L2name).Title(ProjectSession.Resources.label.City_TextBlockCityName).Width(130);
            columns.Bound(c => c.SubStoreDesc).Title(ProjectSession.Resources.label.Store_TextBlockStore).Width(130).HtmlAttributes(new { title = "#= KendoToolTipTemplate(data.SubStoreDesc) #", @class = "column-textoverflow" });
            columns.Bound(c => c.TransferText).Title(ProjectSession.Resources.label.Store_TextBlockTransfer).Width(130);
            columns.Bound(c => c.ToSectorName).Title(ProjectSession.Resources.label.Store_TextBlockToSector).Width(130);
            columns.Bound(c => c.ToL2Name).Title(ProjectSession.Resources.label.Store_TextBlockToL2Name).Width(130);
            columns.Bound(c => c.ToSubStoreDesc).Title(ProjectSession.Resources.label.Store_TextBlockToSubStore).Width(130).HtmlAttributes(new { title = "#= KendoToolTipTemplate(data.ToSubStoreDesc) #", @class = "column-textoverflow" });
            columns.Bound(c => c.Description).Title(ProjectSession.Resources.label.JobRequest_TextBlockRemarks).Width(130).HtmlAttributes(new { title = "#= KendoToolTipTemplate(data.Description) #", @class = "column-textoverflow" });
        })
        .Sortable(sortable => sortable.AllowUnsort(false))
        .Scrollable()
                 .Excel(excel => excel.FileName(ProjectSession.Resources.label.JobOrder_TextBlockIssues + ".xlsx").Filterable(true).AllPages(true))
                .Pageable(pageable => pageable.PageSizes(CMMS.Pages.General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
                        .Events(events => events.DataBound("onDataBoundForTransIssues"))
                .DataSource(dataSource =>
                                        dataSource.Ajax()
                                        .PageSize(ProjectConfiguration.PageSize)
                                        .Sort(model => model.Add("IssueID").Descending())
                                         .Model(model =>
                                         {
                                             model.Id(p => p.IssueID);
                                             model.Field(p => p.StockNo);
                                         })
                                        .ServerOperation(true)
                                                                       .Read(read => read.Action(CMMS.Pages.Actions.GetIssueListByItemCityStore, CMMS.Pages.Controllers.Transaction, new { area = CMMS.Pages.Areas.Transaction }).Data("BindParametersForTransIssues").Type(HttpVerbs.Post))
                )
                                )

                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <button type="button" class="btn btn-default" onclick="redirectToListing();">@ProjectSession.Resources.label.Common_ButtonCancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="IssueModal" class="modal fade" role="dialog">
</div>

<div id="ItemsGridModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" title="@ProjectSession.Resources.label.Common_ButtonClose"></button>
                <h4 class="modal-title">@ProjectSession.Resources.label.Item_TextblockItemDetails</h4>
            </div>
            <div class="modal-body">
                <div id="Highlights" class="tab-pane active" role="tabpanel">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div id="itemData" class="@ProjectSession.CultureKendoClass">
                                    @(Html.Kendo().Grid<CMMS.Model.StockCode>()
                                        .Name("itemsGrid")
                                        .HtmlAttributes(new { @class = "kl-grid" })
                                        .Columns(columns =>
                                        {
                                            columns.Bound(c => c.StockID).Hidden(true);
                                            columns.Bound(c => c.StockNo).Title(ProjectSession.Resources.label.ItemList_TextBlockPartNumber).Width(170);

                                            columns.Bound(c => c.StockDescription).Title(ProjectSession.Resources.label.ItemList_TextBlockPartDescription).Width(150).HtmlAttributes(new { title = "#= KendoToolTipTemplate(data.StockDescription) #", @class = "column-textoverflow" }); 

                                            columns.Bound(c => c.AltStockDescription).Title(ProjectSession.Resources.label.ItemList_TextBlockAltPartDesc).Width(150).HtmlAttributes(new { title = "#= KendoToolTipTemplate(data.AltStockDescription) #", @class = "column-textoverflow" }); 

                                            columns.Bound(c => c.StatusText).Title(ProjectSession.Resources.label.AccountCode_TextBlockStatus).Width(120);
                                            columns.Bound(c => c.Specification).Title(ProjectSession.Resources.label.JobPlan_TextBlockSpecification).Width(120);
                                            columns.Bound(c => c.Manufacturer).Title(ProjectSession.Resources.label.Asset_TextBlockManufacturer).Width(120);
                                            columns.Bound(c => c.Criticality).Title(ProjectSession.Resources.label.Item_CheckBoxCritical).Width(120);

                                            columns.Bound(c => c.AttrName).Title(ProjectSession.Resources.label.ItemType_TextBlockItemType).Width(120)
                                            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterStoreItemType", "GridFilter", new { area = string.Empty }).Data("BindParametersItems").Type(HttpVerbs.Post))));

                                            columns.Bound(c => c.AttrSubName).Title(ProjectSession.Resources.label.ItemSubType_TextBlockPartSubType).Width(120)
                                            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterStoreItemSubType", "GridFilter", new { area = string.Empty }).Data("BindParametersItems").Type(HttpVerbs.Post))));

                                            columns.Bound(c => c.Balanace).Title(ProjectSession.Resources.label.JobOrder_TextBlockBalance).Width(120);
                                        })
                                        .Sortable(sortable => sortable.AllowUnsort(false))
                                        .Scrollable()
                                        .Filterable()
                                        .Pageable(pageable => pageable.PageSizes(CMMS.Pages.General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
                                        .Events(events => events.DataBound("onDataBoundItems"))
                                        .Excel(excel => excel.FileName(ProjectSession.Resources.label.Item_TextblockItemDetails + ".xlsx").Filterable(true).AllPages(false))
                                        .DataSource(dataSource => dataSource.Ajax()
                                        .PageSize(ProjectConfiguration.PageSize)
                                        .Model(model =>
                                        {
                                            model.Id(p => p.StockID);
                                            model.Field(p => p.StockNo);
                                        })
                                        .ServerOperation(true)
                                        .Read(read => read.Action(CMMS.Pages.Actions.GetStockCodes, CMMS.Pages.Controllers.Transaction, new { area = CMMS.Pages.Areas.Transaction }).Data("BindParametersItems").Type(HttpVerbs.Post))
                                        )
                                        .Resizable(resize => resize.Columns(true))
                                    )

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer box-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@ProjectSession.Resources.label.Common_ButtonClose</button>
            </div>
        </div>
    </div>
</div>

<!--Job Order Grid Modal-->
<div id="JobOrderGridModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" title="@ProjectSession.Resources.label.Common_ButtonClose"></button>
                <h4 class="modal-title">@ProjectSession.Resources.label.JobOrder_TextBlockJobOrderDetails</h4>
            </div>
            <div class="modal-body">
                <div class="tab-pane active" role="tabpanel">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="@ProjectSession.CultureKendoClass">
                                    @(Html.Kendo().Grid<CMMS.Model.WorkOrder>
                                        ()
                                        .Name("JobOrderGrid")
                                        .HtmlAttributes(new { @class = "kl-grid" })
                                        .Columns(columns =>
                                        {
                                            columns.Bound(c => c.WorkorderNo).Title(ProjectSession.Resources.label.JobOrder_TextBlockJobOrderNo).Width(170);

                                            columns.Bound(c => c.ProblemDescription).Title(ProjectSession.Resources.label.JobRequest_TextBlockProbDesc).Width(250);

                                            columns.Bound(c => c.WorkStatus).Title(ProjectSession.Resources.label.JobStatus_TextBlockJobStatus).Visible(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true).Width(150)
                                            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterJobStatus", "GridFilter", new { area = string.Empty, @id = "3" }).Data("BindParametersJobOrder").Type(HttpVerbs.Post))));

                                            columns.Bound(c => c.AltWorkStatus).Title(ProjectSession.Resources.label.JobStatus_TextBlockAltJobStatus).Visible(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? true : false).Width(150)
                                            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterJobStatus", "GridFilter", new { area = string.Empty, @id = "2" }).Data("BindParametersJobOrder").Type(HttpVerbs.Post))));

                                            columns.Bound(c => c.WorkTypeDescription).Title(ProjectSession.Resources.label.JobType_TextBlockJobType).Visible(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true).Width(150)
                                            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterJobType", "GridFilter", new { area = string.Empty, @id = "1" }).Data("BindParametersJobOrder").Type(HttpVerbs.Post))));

                                            columns.Bound(c => c.AltWorkTypeDescription).Title(ProjectSession.Resources.label.JobType_TextBlockAltJobType).Visible(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? true : false).Width(150)
                                            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterJobType", "GridFilter", new { area = string.Empty, @id = "2" }).Data("BindParametersJobOrder").Type(HttpVerbs.Post))));

                                            columns.Bound(c => c.WorkPriority).Title(ProjectSession.Resources.label.JobPriority_TextBlockJobPriority).Visible(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true).Width(150)
                                            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterJobPriority", "GridFilter", new { area = string.Empty, @id = "3" }).Data("BindParametersJobOrder").Type(HttpVerbs.Post))));

                                            columns.Bound(c => c.AltWorkPriority).Title(ProjectSession.Resources.label.JobPriority_TextBlockAltJobPriority).Visible(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? true : false).Width(150)
                                            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterJobPriority", "GridFilter", new { area = string.Empty, @id = "2" }).Data("BindParametersJobOrder").Type(HttpVerbs.Post))));

                                            columns.Bound(c => c.PMTarStartDate).ClientTemplate("#= DateTemplateWithTime(data.PMTarStartDate) #").Title(ProjectSession.Resources.label.JobOrder_TextBlockPMTargetStartDate).Width(180);

                                            columns.Bound(c => c.AssetNumber).Title(ProjectSession.Resources.label.Asset_TextBlockAssetNO).Width(150);

                                            columns.Bound(c => c.AssetDescription).Title(ProjectSession.Resources.label.Asset_TextBlockAssetDescription).Visible(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true).Width(150);
                                            columns.Bound(c => c.AssetAltDescription).Title(ProjectSession.Resources.label.Asset_TextBlockAltAssetDescription).Visible(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? true : false).Width(150);

                                            columns.Bound(c => c.GroupNumber).Title(ProjectSession.Resources.label.CleaningInspection_TextBlockGroupNo).Width(150);

                                            columns.Bound(c => c.GroupDescription).Title(ProjectSession.Resources.label.CleaningInspection_TextBlockGroupDescription).Visible(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true).Width(180);
                                            columns.Bound(c => c.ArabicGroupDescription).Title(ProjectSession.Resources.label.CleaningInspection_TextBlockAltGroupDescription).Visible(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? true : false).Width(180);

                                            columns.Bound(c => c.LocationNo).Title(ProjectSession.Resources.label.Location_TextBlockLocationNo).Width(150)
                                            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterLocation", "GridFilter", new { area = string.Empty }).Data("BindParametersJobOrder").Type(HttpVerbs.Post))));

                                            columns.Bound(c => c.LocationDescription).Title(ProjectSession.Resources.label.Location_TextBlockLocationDescription).Visible(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true).Width(250);
                                            columns.Bound(c => c.LocationAltDescription).Title(ProjectSession.Resources.label.Location_TextBlockAltLocationDescription).Visible(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? true : false).Width(250);

                                            columns.Bound(c => c.L2Code).Title(ProjectSession.Resources.label.JobRequest_TextBlockCityCode).Width(150)
                                            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterSite", "GridFilter", new { area = string.Empty }).Data("BindParametersJobOrder").Type(HttpVerbs.Post))));

                                            columns.Bound(c => c.L2ClassCode).Title(ProjectSession.Resources.label.City_TextBlockCityClassCode).Width(150)
                                            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterSiteClass", "GridFilter", new { area = string.Empty }).Data("BindParametersJobOrder").Type(HttpVerbs.Post))));

                                            columns.Bound(c => c.SectorCode).Title(ProjectSession.Resources.label.JobOrder_TextBlockSectorCode).Width(150)
                                             .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterSector", "GridFilter", new { area = string.Empty }).Data("BindParametersJobOrder").Type(HttpVerbs.Post))));

                                            columns.Bound(c => c.SectorName).Title(ProjectSession.Resources.label.JobOrder_TextBlockSectorName).Visible(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true).Width(150);
                                            columns.Bound(c => c.SectorAltName).Title(ProjectSession.Resources.label.JobOrder_TextBlockSectorAltName).Visible(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? true : false).Width(150);

                                            columns.Bound(c => c.L3No).Title(ProjectSession.Resources.label.Area_TextBlockAreaCode).Width(150).Visible(ProjectSession.IsAreaFieldsVisible)
                                            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterArea", "GridFilter", new { area = string.Empty }).Data("BindParametersJobOrder").Type(HttpVerbs.Post))));

                                            columns.Bound(c => c.L3Desc).Title(ProjectSession.Resources.label.Area_TextBlockAreaDesc).Visible(ProjectSession.IsAreaFieldsVisible && ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true).Width(150);
                                            columns.Bound(c => c.L3AltDesc).Title(ProjectSession.Resources.label.Area_TextBlockAltAreaDescription).Visible(ProjectSession.IsAreaFieldsVisible && ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? true : false).Width(150);

                                            columns.Bound(c => c.L4No).Title(ProjectSession.Resources.label.Street_TextBlockStreetCode).Width(150)
                                            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterZone", "GridFilter", new { area = string.Empty }).Data("BindParametersJobOrder").Type(HttpVerbs.Post))));

                                            columns.Bound(c => c.L4Description).Title(ProjectSession.Resources.label.Street_TextBlockStreetDesc).Visible(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true).Width(170);
                                            columns.Bound(c => c.L4AltDescription).Title(ProjectSession.Resources.label.Street_TextBlockAltStreetDesc).Visible(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? true : false).Width(170);

                                            columns.Bound(c => c.L5No).Title(ProjectSession.Resources.label.Building_TextBlockBuildingNo).Width(150)
                                            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterBuilding", "GridFilter", new { area = string.Empty }).Data("BindParametersJobOrder").Type(HttpVerbs.Post))));

                                            columns.Bound(c => c.L5Description).Title(ProjectSession.Resources.label.Building_TextBlockBuildingDesc).Visible(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true).Width(180);
                                            columns.Bound(c => c.L5AltDescription).Title(ProjectSession.Resources.label.Building_TextBlockAltBuildingDesc).Visible(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? true : false).Width(180);

                                            columns.Bound(c => c.MaintDivisionCode).Title(ProjectSession.Resources.label.MaintDivision_TextBlockMaintenanceDivision).Width(150)
                                            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterMaintenanceDivision", "GridFilter", new { area = string.Empty }).Data("BindParametersJobOrder").Type(HttpVerbs.Post))));

                                            columns.Bound(c => c.MaintDeptCode).Title(ProjectSession.Resources.label.MaintenanceDept_TextBlockMaintDept).Width(180)
                                            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterMaintenanceDepartment", "GridFilter", new { area = string.Empty }).Data("BindParametersJobOrder").Type(HttpVerbs.Post))));

                                            columns.Bound(c => c.MaintSubDeptCode).Title(ProjectSession.Resources.label.MaintenanceSubDept_TextBlockMaintSubDept).Width(220)
                                            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterMaintenanceSubDepartment", "GridFilter", new { area = string.Empty }).Data("BindParametersJobOrder").Type(HttpVerbs.Post))));

                                            columns.Bound(c => c.ActionTaken).Title(ProjectSession.Resources.label.JobOrder_TextBlockActionTaken).Width(150);

                                            columns.Bound(c => c.DateReceived).ClientTemplate("#= DateTemplateWithTime(data.DateReceived) #").Title(ProjectSession.Resources.label.JobRequest_TextBlockReceivedDate).Width(150);

                                            columns.Bound(c => c.DateRequired).ClientTemplate("#= DateTemplateWithTime(data.DateRequired) #").Title(ProjectSession.Resources.label.JobRequest_TextBlockRequiredDate).Width(150);

                                            columns.Bound(c => c.ActDateEnd).ClientTemplate("#= DateTemplateWithTime(data.ActDateEnd) #").Title(ProjectSession.Resources.label.JobOrder_TextBlockActualDateEnd).Width(150);

                                            columns.Bound(c => c.EstDateStart).ClientTemplate("#= DateTemplateWithTime(data.EstDateStart) #").Title(ProjectSession.Resources.label.JobOrder_TextBlockEstimatedDateStart).Width(180);

                                            columns.Bound(c => c.AssignTo).Title(ProjectSession.Resources.label.JobOrder_TextBlockAssignedTo).Width(180)
                                            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterEmployeeName", "GridFilter", new { area = string.Empty, @id = "3" }).Data("BindParametersJobOrder").Type(HttpVerbs.Post))));

                                            columns.Bound(c => c.GroupCode).Title(ProjectSession.Resources.label.MaintenanceGroup_TextBlockMaintenanceGroupCode).Width(220)
                                            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterMaintGroup", "GridFilter", new { area = string.Empty }).Data("BindParametersJobOrder").Type(HttpVerbs.Post))));

                                            columns.Bound(c => c.FailureCauseCode).Title(ProjectSession.Resources.label.FailureCodes_TextBlockFailureCode).Width(150)
                                            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterFailurecause", "GridFilter", new { area = string.Empty }).Data("BindParametersJobOrder").Type(HttpVerbs.Post))));

                                            columns.Bound(c => c.PMNo).Title(ProjectSession.Resources.label.PM_TextBlockPMNo).Width(150);

                                            columns.Bound(c => c.ChecklistNo).Title(ProjectSession.Resources.label.PMChecklist_TextBlockPMChecklistNo).Width(150)
                                            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterPMCheckList", "GridFilter", new { area = string.Empty }).Data("BindParametersJobOrder").Type(HttpVerbs.Post))));


                                            columns.Bound(c => c.Name).Title(ProjectSession.Resources.label.JobOrder_TextBlockRequesterName).Width(150)
                                            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterEmployeeName", "GridFilter", new { area = string.Empty, @id = "1" }).Data("BindParametersJobOrder").Type(HttpVerbs.Post))));

                                            columns.Bound(c => c.RequestNo).Title(ProjectSession.Resources.label.JobRequest_TextBlockRequestNo).Width(150);

                                            columns.Bound(c => c.ProjectNumber).Title(ProjectSession.Resources.label.Preventive_TextBlockProjectNumber).Width(150).Visible(ProjectSession.IsCMProjectFieldsVisible);

                                        })
                                        .Filterable()
                                        .Sortable(sortable => sortable.AllowUnsort(false))
                                        .Scrollable()
                                        .Excel(excel => excel.FileName(ProjectSession.Resources.menu.JobOrder_MenuJobOrderList + ".xlsx").Filterable(true).AllPages(true))
                                        .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
                                        .Events(events => events.DataBound("onDataBoundJobOrder"))
                                        .DataSource(dataSource =>
                                        dataSource.Ajax()
                                        .PageSize(ProjectConfiguration.PageSize)
                                        .Model(model =>
                                        {
                                            model.Id(p => p.WorkorderNo);
                                            model.Field(p => p.Name);
                                        })
                                        .ServerOperation(true)
                                        .Read(read => read.Action(Actions.JobOrderPopUp, Controllers.Transaction, new { area = Areas.Transaction }).Data("BindParametersJobOrder").Type(HttpVerbs.Post))
                                        )
                                    )

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer box-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@ProjectSession.Resources.label.Common_ButtonClose</button>
            </div>
        </div>
    </div>
</div>

<!--Location Grid Modal-->
<div id="locationGridModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" title="@ProjectSession.Resources.label.Common_ButtonClose"></button>
                <h4 class="modal-title">@ProjectSession.Resources.label.Location_TextBlockLocationList</h4>
            </div>
            <div class="modal-body">
                <div id="Highlights" class="tab-pane active" role="tabpanel">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div id="locationData" class="@ProjectSession.CultureKendoClass">
                                    @(Html.Kendo().Grid<CMMS.Model.Location>()
                                            .Name("locationGrid")
                                                    .HtmlAttributes(new { @class = "kl-grid" })
                                    .Columns(columns =>
                                    {
                                        columns.Bound(c => c.LocationNo).Title(ProjectSession.Resources.label.Location_TextBlockLocationNo).Width(150);

                                        columns.Bound(c => c.LocationDescription).Title(ProjectSession.Resources.label.Location_TextBlockLocationDescription).Width(250);

                                        columns.Bound(c => c.LocationAltDescription).HtmlAttributes(new { @class = "text-right" }).Title(ProjectSession.Resources.label.Location_TextBlockAltLocationDescription).Width(250);

                                        columns.Bound(c => c.L2Code).Title(ProjectSession.Resources.label.JobRequest_TextBlockCity).Width(110)
                                        .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterSite", "GridFilter", new { area = string.Empty }).Data("BindParametersLocation").Type(HttpVerbs.Post))));

                                        columns.Bound(c => c.L4No).Title(ProjectSession.Resources.label.Street_TextBlockStreet).Width(110)
                                        .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterZone", "GridFilter", new { area = string.Empty }).Data("BindParametersLocation").Type(HttpVerbs.Post))));

                                        columns.Bound(c => c.L4Description).Title(ProjectSession.Resources.label.Street_TextBlockStreetDesc).Visible(ProjectSession.Culture == ProjectConfiguration.EnglishCultureCode ? true : false).Width(280);

                                        columns.Bound(c => c.L4AltDescription).Title(ProjectSession.Resources.label.Street_TextBlockAltStreetDesc).Visible(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? true : false).Width(280);

                                        columns.Bound(c => c.L5No).Title(ProjectSession.Resources.label.Building_TextBlockBuildingNo).Width(150)
                                        .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterBuilding", "GridFilter", new { area = string.Empty }).Data("BindParametersLocation").Type(HttpVerbs.Post))));

                                        columns.Bound(c => c.L5Description).Title(ProjectSession.Resources.label.Building_TextBlockBuildingDesc).Visible(ProjectSession.Culture == ProjectConfiguration.EnglishCultureCode ? true : false).Width(250);

                                        columns.Bound(c => c.L5AltDescription).Title(ProjectSession.Resources.label.Building_TextBlockAltBuildingDesc).Visible(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? true : false).Width(250);

                                        columns.Bound(c => c.Criticality).Title(ProjectSession.Resources.label.Location_TextBlockCriticality).Width(110)
                                        .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterCriticality", "GridFilter", new { area = string.Empty }).Data("BindParametersLocation").Type(HttpVerbs.Post))));

                                    })
                                    .Filterable()
                                    .Sortable(sortable => sortable.AllowUnsort(false))
                                    .Scrollable()
                                            .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
                                    .Events(events => events.DataBound("onDataBoundLocation"))
                                    .Excel(excel => excel.FileName(ProjectSession.Resources.label.Location_TextBlockLocationList + ".xlsx").Filterable(true).AllPages(true))
                                    .DataSource(dataSource => dataSource.Ajax()
                                    .PageSize(ProjectConfiguration.PageSize)
                                     .Model(model =>
                                     {
                                         model.Id(p => p.LocationID);
                                         model.Field(p => p.LocationNo);
                                     })
                                    .ServerOperation(true)
                                            .Read(read => read.Action(Actions.GetLocationPage, Controllers.Configurations, new { area = Areas.Configurations }).Data("BindParametersLocation").Type(HttpVerbs.Post))
                                            ).Resizable(resize => resize.Columns(true))
                                    )
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer box-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@ProjectSession.Resources.label.Common_ButtonClose</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var intPageID = '@SystemEnum.Pages.TransactionList.GetHashCode()';
    $(document).ready(function () {



        CreateCalendarsPicker();

    }); //Ready ends

    $("#JobOrderGrid tbody").on("dblclick", "tr[role='row']", function (e) {
        var grid = $("#JobOrderGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        $("#JobOrderGridModal").modal("hide");
        $('#txtWorkorderNo2').val(model.WorkorderNo);
        FillLocationValues(model);
    });

    validator = $('#frmIssues').validate({
        rules: {
            DateIssue: { required: true },
            QtyIssue: { range: [0, 999999999] },
            StockNo: { required: true },
            Price3: { required: true, range: [0, 999999999] }
        },
        messages: {
            DateIssue: { required: '' },
            QtyIssue: { range: '' },
            StockNo: { required: '' },
            Price3: { required: '', range: '' }
        }
    });

    $('#frmIssues').on('submit', function (e) {
        if ($("#frmIssues").valid()) {
            if (!reValidateDropDowns($(this))) {
                e.preventDefault();
                return false;
            }

            if (!e.isDefaultPrevented()) {

                if (!isNotUndefinedNullOrBlankOrZero('txtWorkorderNo2') && !isNotUndefinedNullOrBlankOrZero('LocationID', true)) {
                    e.preventDefault();
                    ShowMessage('@SystemEnum.MessageType.danger', '@ProjectSession.Resources.message.Store_MsgValidJobOrderOrLocation', '#divMessage');
                    return false;
                }

                @*if (!isNotUndefinedNullOrBlankOrZero('txtIssueQty', true)) {
                    e.preventDefault();
                    $('#txtIssueQty').focus();
                    ShowMessage('@SystemEnum.MessageType.danger', '@ProjectSession.Resources.label.PMChecklist_MsgQuantityGreaterthanZero', '#divMessage');
                    return false;
                }
                else *@
                if (parseFloat($('#txtIssueQty').val()) > parseFloat($('#txtBalance').val())) {
                    e.preventDefault();
                    $('#txtIssueQty').focus();
                    ShowMessage('@SystemEnum.MessageType.danger', '@ProjectSession.Resources.message.Store_MsgIssueQtygreaterThanBalance', '#divMessage');
                    return false;
                }
                else {
                    $('#HdnL2ID').val($('#ddlIssueCity').val());
                    $('#HdnSubStoreID').val($('#ddlIssueSubStore').val());
                    $('#HDNWoNo').val($('#txtWorkorderNo2').val());
                    $('#lstIssues').val(JSON.stringify($("#TempIssuesGrid").data("kendoGrid").dataSource.data()));

                    var options = {
                        success: onSuccessJoIssues,  // post-submit callback
                        data: addRequestVerificationToken($('#frmIssues').serialize())
                    };

                    $(this).ajaxSubmit(options);
                    return false;
                }
            }
            else { e.preventDefault(); }
        }
        else {
            e.preventDefault();
        }
    });

    function onSuccessJoIssues(responseText, statusText, xhr, $form) {
        if (responseText[0] == 1) {
            ShowMessage(responseText[1], responseText[2], "#divMessage");
        }
        else {
            var kendoAttachementgriddata = $("#TempIssuesGrid").data("kendoGrid");
            if (responseText[2] != null) {
                kendoAttachementgriddata.dataSource.data(responseText[2]);
                $('#btnSaveIssue').removeAttr('disabled');
                $('#btnSaveIssue').removeClass('disabled');
                $('#divTempData').css('display', '');
            }
            else { $('#divTempData').css('display', 'none'); }
            ClearWOIssues();
        }
    }

    function ClearWOIssues() {
        $('#hdnIssueStockID').val('');
        $('#txtIssueStockNo').val('');
        $('#txtIssueStockDesc').val('');
        $('#HDNWoNo').val('');
        $('#txtWorkorderNo2').val('');
        ClearLocation();
        $('#txtWorkorderNo2').val('');
        $('#txtIssueQty').val('1.00');
        $('#txtAvgPrice').val('');
        $('#txtNegativeBalanceAllolwed').val('');
        $('#txtBalance').val('');
        $('#txtTotalIssues').val('');
        $('#Description').val('');
    }

    $("#itemsGrid tbody").on("dblclick", "tr[role='row']", function (e) {
        var grid = $("#itemsGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        FIllItemsDetail(model);
    });

    function onAutoSelect(e) {
        var model = this.dataItem(e.item.index());
        FIllItemsDetail(model);
    }

    function FIllItemsDetail(model) {
        $("#ItemsGridModal").modal("hide");
        $('#hdnIssueStockID').val(model.StockID);
        try { ReBindKendoGrid('TransIssuesGrid'); } catch (e1) { }
        $('#txtIssueStockNo').val(model.StockNo);
        if ('@Lang' == 'True') {
            $("#txtIssueStockDesc").val(model.StockDescription);
        }
        else {
            $("#txtIssueStockDesc").val(model.AltStockDescription);
        }

        if (model.AvgPrice != null && model.AvgPrice != 'undefined')
        { $('#txtAvgPrice').val(model.AvgPrice.toFixed(2)); }

        var Yes = 'Yes';
        var No = 'No';
        if ('@Lang' == 'False') {
            Yes = 'نعم فعلا';
            No = 'لا';
        }
        $('#hdnANV').val(model.ANV);
        if (model.ANV)
        { $('#txtNegativeBalanceAllolwed').val(Yes); }
        else
        { $('#txtNegativeBalanceAllolwed').val(No); }

        $('#txtItemStatus').val(model.StatusText);
        if (isNotUndefinedNullOrBlankOrZero('ddlIssueSubStore')) {
            LoadBalance(model.StockID, $('#ddlIssueSubStore').val(), model.ANV);
        }

        if (model.Status != "1") {
            $('#ddlIssueCity').data("kendoDropDownList").enable(false);
            $('#ddlIssueSubStore').data("kendoDropDownList").enable(false);
        }
        var subStoreCode = $('#ddlIssueSubStore').data('kendoDropDownList').dataItem($('#ddlIssueSubStore').data('kendoDropDownList').select()).SubStoreCode
        $('#UoM').val(model.UOM);

        $('#SubStoreCode').val(subStoreCode);
        FillTotalTextBox();

    }

    function FillTotalTextBox(e) {
        if (!isNotUndefinedNullOrBlankOrZero('txtIssueQty', true)) {
            $('#txtIssueQty').val('0.00');
        }

        if (!isNotUndefinedNullOrBlankOrZero('txtAvgPrice', true)) {
            $('#txtAvgPrice').val('0.00');
        }
        $('#txtIssueQty').val(parseFloat($('#txtIssueQty').val()).toFixed(2));
        $('#txtAvgPrice').val(parseFloat($('#txtAvgPrice').val()).toFixed(2));
        $('#txtTotalIssues').val(($('#txtIssueQty').val() * $('#txtAvgPrice').val()).toFixed(2));
    }

    function LoadBalance(stockID, subStoreID, ANV) {

        if (!(stockID > 0 && subStoreID > 0))
        {
            return false;
        }

        try {
            $.ajax({
                url: '@Url.Action(Actions.GetStockBalanceByStore, Controllers.Transaction, new { area = Areas.Transaction })',
                type: 'Get',
                data: { stockID: stockID, subStoreID: subStoreID, getQtyIssued: false },
                cache: false,
                async: false,
                success: function (result) {
                    $('#txtBalance').val(parseFloat(result[0]).toFixed(2));
                    CalculateBalance();
                    if ((ANV != 'true' && ANV != true) && parseFloat(result[0]) <= 0) {
                        ShowMessage('@SystemEnum.MessageType.danger', '@ProjectSession.Resources.message.JobOrder_MsgNegativebalanceNotAllowed', '#divMessage');
                        $('#btnAddIssue').attr('disabled', 'disabled');
                        $('#btnAddIssue').addClass('disabled');

                    }
                    else {
                        $('#btnAddIssue').removeAttr('disabled');
                        $('#btnAddIssue').removeClass('disabled');
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }
        catch (err)
        { }
    }

    function CalculateBalance() {

        var TotalReturnCost = 0;
        var grid = $("[id ^= 'TempIssuesGrid']").data("kendoGrid");
        var gridData = grid.dataSource.view();
        for (var i = 0; i < gridData.length; i++) {
            if (gridData[i].StockID == $('#hdnIssueStockID').val()) {
                TotalReturnCost += parseFloat(gridData[i].QtyIssue);
            }
        }
        $('#txtBalance').val((parseFloat($('#txtBalance').val()).toFixed(2) - parseFloat(TotalReturnCost).toFixed(2)).toFixed(2));
    }

    $('.decimalnumber').on('keypress', function (evt) {
        var val = $(this).val();
        var iKeyCode = (evt.which) ? evt.which : evt.keyCode;
        if (iKeyCode != 46 && iKeyCode != 39 && iKeyCode != 37 && iKeyCode != 45 && iKeyCode > 31 && (iKeyCode < 48 || iKeyCode > 57)) {
            return false;
        }
        if (iKeyCode == 46 && val.indexOf('.') > -1) {
            return false;
        }
        return true;
    });

    //(Start)Location Pop Up//
    $("#locationGrid tbody").on("dblclick", "tr[role='row']", function (e) {
        var grid = $("#locationGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        $("#locationGridModal").modal("hide");
        FillLocationValues(model);
        $('#HDNWoNo').val('');
        $('#txtWorkorderNo2').val('');
    });

    function onAutoSelectJobOrder(e) {
        var model = this.dataItem(e.item.index());
        $('#HDNWoNo').val(model.WONo);
        FillLocationValues(model);
    }

    function onAdditionalDataJobOrderNo() {
        return {
            cityID: isNotUndefinedNullOrBlankOrZero('ddlIssueCity') ? $('#ddlIssueCity').val() : 0,
            text: $("#txtWorkorderNo2").val()
        };
    }

    function onAutoSelectLocation(e) {
        var model = this.dataItem(e.item.index());
        FillLocationValues(model);
        $('#HDNWoNo').val('');
        $('#txtWorkorderNo2').val('');
    }

    function FillLocationValues(model) {
        $('#LocationID').val(model.LocationID);
        $("#txtLocationNo").val(model.LocationNo);
        if ('@Lang' == 'True') {
            $("#txtLocationDescription").val(model.LocationDescription);
        }
        else {
            $("#txtLocationDescription").val(model.LocationAltDescription);
        }
    }

    function ClearLocation() {
        $("#txtLocationNo").val("");
        $("#txtLocationDescription").val("");
        $('#LocationID').val("");
    }
    //(End)Location Pop Up//

    //(Start)Final Save

    function SaveIssues() {
        try {
            $.ajax({
                url: '@Url.Action(Actions.SaveTransactionIssue, Controllers.Transaction, new { area = Areas.Transaction })',
                type: 'POST',
                data: addRequestVerificationToken({ kendogridData: JSON.stringify($("#TempIssuesGrid").data("kendoGrid").dataSource.data()) }),
                cache: false,
                success: function (result) {
                    if (result[0] == 0) {
                        redirectToListing();
                    }
                    ShowMessage(result[1], result[2], '#divMessage');
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }
        catch (err)
        { alert(err); }
    }
    //(End)Final Save

</script>
