﻿@using CMMS.Areas.Reports.Models
@using DevExpress.Web.Mvc.UI;
@using CMMS.Infrastructure;
@using CMMS.Pages;
@model ReportModel

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool Lang = ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true;
}

@Html.AntiForgeryToken()
<div class="head1">
    <h1>@ProjectSession.Resources.label.Asset_TextBlockAssetList</h1>
    @*<ul class="sub_btn">
        <li>
            <a id="searchReport" href="javascript:void(0);" class="btn-icon btn-search"
               onclick="OpenSearchReport()"
               title="@ProjectSession.Resources.label.Common_ButtonAdvanceSearch">
                <i></i>
            </a>
        </li>
    </ul>*@
</div>

@*<div id="search-report">
</div>*@

<script type="text/javascript" lang="ja">
    var intPageID = '@SystemEnum.Pages.RptAssetList.GetHashCode()';

    @*function OpenSearchReport() {
        debugger;
        showLoader();
        $("#search-report").html('');
        var url = '@Html.Raw(Url.Action(Actions._ReportSearch, Controllers.Report, new { Area = Areas.Report, reloadAction = Actions.RptAssetList, reloadController = Controllers.ReportAsset }))';
        //$("#search-report").load(url);
        $.ajax({
            url: url,
            cache: false
        }).done(function (data) {
            debugger;
            $("#search-report").html(data);
            hideLoader();
        });

    }

    $(document).ready(function () {
        OpenSearchReport();
    });*@
</script>

@Html.DevExpress().GetScripts(
        new Script { ExtensionSuite = ExtensionSuite.Report }
    )
@Html.DevExpress().GetStyleSheets(
        new StyleSheet { ExtensionSuite = ExtensionSuite.Report }
    )
@Html.DevExpress().WebDocumentViewer(settings =>
{
    settings.Name = "webDocumentViewer";
}).Bind((AssetList)ViewData["Report"]).GetHtml()
