﻿@using CMMS.Infrastructure;
@using CMMS.Pages;
@model CMMS.Model.JobOrderTypeChartFilterModal
<style>
    .calendars-popup {
        z-index: 100000 !important;
    }
</style>
<script>
    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };

    function getSiteForJobSearch() {
        var url;
        if ('@ProjectSession.IsCentral' == 'true') {
            url = '@Url.Action(Actions.GetCitiesByEmployee, Controllers.Configurations, new { area = Areas.Configurations, @cityID = @Model.L2ID })';
        }
        else {
            url = '@Url.Action(Actions.GetAllCities, Controllers.Configurations, new { area = Areas.Configurations, @cityID = @Model.L2ID })';
        }
        $.ajax({
            url: url,
            type: 'Post',
            cache: false,
            async: false,
            success: function (result) {
                $('#L2ID').data('kendoDropDownList').dataSource.data(result);
                $('#L2ID').data('kendoDropDownList').value('@Model.L2ID');
                $('#L2ID').data('kendoDropDownList').trigger("change");
            },
            error: function (xhr, ajaxOptions, thrownError) {
                showErrorMessage();
            }
        });
    }

    function ChangeSite(e) {
        if ('@ProjectSession.IsAreaFieldsVisible.ToString().ToLower()' == 'true') {
            $.ajax({
                url: '@Url.Action("GetAreaByCityID", Controllers.Home, new { area = string.Empty })',
                type: 'Post',
                data: addRequestVerificationToken({ cityId: $("#L2ID").val() == "" ? 0 : $("#L2ID").val() }),
                cache: false,
                async: false,
                success: function (result) {
                    $('#L3ID').data('kendoMultiSelect').dataSource.data(result);
                    if ('@Model.L3ID' != null) {
                        var val = '@Model.L3ID';
                        var ps = val.split(',');
                        $('#L3ID').data('kendoMultiSelect').value(ps);
                        ChangeArea();
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }
        else {
            ChangeArea();
        }
    }

    function ChangeArea(e) {
        var l3Ids = $("#L3ID").val();
        if (l3Ids != null) {
            l3Ids = $("#L3ID").val().join();
        }
        $.ajax({
            url: '@Url.Action("GetZoneByCityID", Controllers.Home, new { area = string.Empty })',
            type: 'Post',
            data: addRequestVerificationToken({ cityId: $("#L2ID").val() == "" ? 0 : $("#L2ID").val(), areaId: l3Ids == "" ? 0 : l3Ids }),
            cache: false,
            async: false,
            success: function (result) {
                $('#L4ID').data('kendoMultiSelect').dataSource.data(result);
                if ('@Model.L4ID' != null) {
                    var val = '@Model.L4ID';
                    var ps = val.split(',');
                    $('#L4ID').data('kendoMultiSelect').value(ps);
                    ChangeZone();
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                showErrorMessage();
            }
        });
    }

    function ChangeZone(e) {
        var l3Ids = $("#L3ID").val();
        if (l3Ids != null) {
            l3Ids = $("#L3ID").val().join();
        }

        var l4Ids = $("#L4ID").val();
        if (l4Ids != null) {
            l4Ids = $("#L4ID").val().join();
        }
        $.ajax({
            url: '@Url.Action("GetBuildingByCityID", Controllers.Home, new { area = string.Empty })',
            type: 'Post',
            data: addRequestVerificationToken({ cityId: $("#L2ID").val() == "" ? 0 : $("#L2ID").val(), areaId: l3Ids == "" ? 0 : l3Ids, zoneId: l4Ids == "" ? 0 : l4Ids }),
            cache: false,
            async: false,
            success: function (result) {
                $('#L5ID').data('kendoMultiSelect').dataSource.data(result);
                if ('@Model.L5ID' != null) {
                    var val = '@Model.L5ID';
                    var ps = val.split(',');
                    $('#L5ID').data('kendoMultiSelect').value(ps);
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                showErrorMessage();
            }
        });
    }
</script>
<div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" title="@ProjectSession.Resources.label.Common_ButtonClose"></button>
            <h4 class="modal-title">Search</h4>
        </div>
        <form role="form" id="frmSaveJobOrderTypeFiltter">
            @Html.AntiForgeryToken()
            <div class="modal-body">
                <div id="Highlights" class="tab-pane active" role="tabpanel">
                    <div class="form-horizontal">
                        <div id="divModelError"></div>
                        @Html.HiddenFor(o => o.reportID)
                        @Html.HiddenFor(o => o.DashboardRepotMenuID)
                        <div class="form-group">
                            <label class="col-sm-4 control-label">@ProjectSession.Resources.label.JobRequest_TextBlockCityCode</label>
                            <div class="col-sm-8">
                                <div class="@ProjectSession.CultureKendoClass">
                                    @(Html.Kendo().DropDownListFor(m => m.L2ID)
                                    .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                    .DataTextField("L2Code")
                                    .DataValueField("L2ID")
                                    .HtmlAttributes(new { style = "width: 100%" })
                                    .Template("#= KendoDDLTemplate(data.L2Code ,data.L2name, data.L2Altname) #")
                                    .Events(m => m.Change("ChangeSite"))
                                    .Value(Convert.ToString(Model.L2ID))
                                    )
                                </div>
                            </div>
                        </div>
                        @if (ProjectSession.IsAreaFieldsVisible)
                        {
                        <div class="form-group">
                            <label class="col-sm-4 control-label">@ProjectSession.Resources.label.Area_TextBlockArea</label>
                            <div class="col-sm-8">
                                <div class="@ProjectSession.CultureKendoClass">
                                    @(Html.Kendo().MultiSelectFor(model => model.L3ID)
                                    .AutoClose(false)
                                    .DataTextField("L3No")
                                    .DataValueField("L3ID")
                                    .HeaderTemplate(ProjectConfiguration.HEADERTEMPLATEWITHCODE)
                                    .ItemTemplate("#= KendoDDLTemplate(data.L3No ,data.L3Desc, data.L3AltDesc) #")
                                    .Events(m => m.Change("ChangeArea"))
                                    .Value(Convert.ToString(Model.L3ID))
                                    )
                                </div>
                            </div>
                        </div>
                        }
                        <div class="form-group">
                            <label class="col-sm-4 control-label">@ProjectSession.Resources.label.Street_TextBlockStreet</label>
                            <div class="col-sm-8">
                                <div class="@ProjectSession.CultureKendoClass">
                                    @(Html.Kendo().MultiSelectFor(model => model.L4ID)
                                    .AutoClose(false)
                                    .DataTextField("L4No")
                                    .DataValueField("L4ID")
                                    .HeaderTemplate(ProjectConfiguration.HEADERTEMPLATEWITHCODE)
                                    .ItemTemplate("#= KendoDDLTemplate(data.L4No ,data.L4Description, data.L4AltDescription) #")
                                    .Events(m => m.Change("ChangeZone"))
                                    .Value(Convert.ToString(Model.L4ID))
                                    )
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">@ProjectSession.Resources.label.Building_TextBlockBuilding</label>
                            <div class="col-sm-8">
                                <div class="@ProjectSession.CultureKendoClass">
                                    @(Html.Kendo().MultiSelectFor(model => model.L5ID)
                                    .AutoClose(false)
                                    .DataTextField("L5No")
                                    .DataValueField("L5ID")
                                    .HeaderTemplate(ProjectConfiguration.HEADERTEMPLATEWITHCODE)
                                    .ItemTemplate("#= KendoDDLTemplate(data.L5No ,data.L5Description, data.L5AltDescription) #")
                                    .Value(Convert.ToString(Model.L5ID))
                                    )
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer box-footer">
                <button type="submit" class="btn btn-primary" id="btnSave"><span>@ProjectSession.Resources.label.Common_TextBlockSearch</span></button>
                <button type="button" class="btn btn-default" data-dismiss="modal">@ProjectSession.Resources.label.Common_ButtonClose</button>
            </div>
        </form>
    </div>
</div>
<script src="~/Scripts/dashboard.js"></script>
<script>
    $(document).ready(function () {
        getSiteForJobSearch();
    });

    $('#frmSaveJobOrderTypeFiltter').on('submit', function (e) {
        if (e.isDefaultPrevented()) {
            // handle the invalid form...
        } else {

            var l3ids = $("#L3ID").val();
            if (l3ids != null) {
                l3ids = $("#L3ID").val().join();
            }
            var l4ids = $("#L4ID").val();
            if (l4ids != null) {
                l4ids = $("#L4ID").val().join();
            }
            var l5ids = $("#L5ID").val();
            if (l5ids != null) {
                l5ids = $("#L5ID").val().join();
            }

            var changedObj = {
                DashboardRepotMenuID: $("#DashboardRepotMenuID").val(),
                reportID: $("#reportID").val(),
                L2ID: $("#L2ID").val(),
                L3ID: l3ids,
                L4ID: l4ids,
                L5ID: l5ids
            };

            $.ajax({
                url: '@Url.Action(Actions.RptLocationListFilter, Controllers.ReportSetups, new { area = Areas.Report })',
                data: addRequestVerificationToken(changedObj),
                cache: false,
                type: 'POST',
                success: function (result) {
                    window.location.href = '@Url.Action(Actions.RptLocationList, Controllers.ReportSetups, new { area = Areas.Report })';
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });

            e.preventDefault();
        }
    })
</script>
