﻿@using CMMS.Infrastructure;
@using CMMS.Pages;
@using CMMS.Model
@using CMMS.Service
@using Kendo.Mvc.UI;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool Lang = ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true;
}
@*@Html.AntiForgeryToken()*@
<div class="head1">
    <h1>ClientList</h1>
    <ul class="sub_btn">
            
                <li>
                    @*<a href="@Url.Action(Actions.GetJOByJobOrderNo, Controllers.Configurations, new { area = Areas.Transaction, workOrderNo = "0", assetID = "0", objWorkOrder= "null" })" title="@ProjectSession.Resources.label.Common_ButtonAdd" class="btn-icon btn-add"><i></i></a>*@
                </li>
            
</div>

<!-- Kendo Grid-->
<div id="clientData" class="@ProjectSession.CultureKendoClass">
    @(Html.Kendo().Grid<CMMS.Model.Account>()
                .Name("clientListGrid")
        .HtmlAttributes(new { @class = "kl-grid" })
        .Columns(columns =>
        {
            columns.Bound(c => c.ClientID).Title("ClientID").Width(110).Locked(true);
            columns.Bound(c => c.UserName).Title("UserName").Width(110);
            columns.Bound(c => c.Password).Title("Password").Width(110);
            columns.Bound(c => c.ConCurrentUsers).Title("ConCurrentUsers").Width(130);
            columns.Bound(c => c.MobAppLicCon).Title("MobAppLicCon").Width(130);
            columns.Bound(c => c.MobAppLicNamed).Title("MobAppLicNamed").Width(130);
            columns.Bound(c => c.SubCycle).Title("SubCycle").Width(100);
            columns.Bound(c => c.DateCreated).ClientTemplate("#= DateTemplate(data.DateCreated) #").Title("DateCreated").Width(220);
            columns.Bound(c => c.ExpDate).ClientTemplate("#= DateTemplate(data.ExpDate) #").Title("ExpDate").Width(220);
            columns.Bound(c => c.AccStatus).Title("AccStatus").Width(170);
            columns.Bound(c => c.DbName).Title("DbName").Width(170);
            columns.Bound(c => c.DbConString).Title("DbConString").Width(400);
        })
        .Filterable()
        .Sortable(sortable => sortable.AllowUnsort(false))
        .Scrollable()
        //.Excel(excel => excel.FileName(ProjectSession.Resources.menu.JobOrder_MenuJobOrderList + ".xlsx").Filterable(true).AllPages(true).ProxyURL(Url.Action("Excel_Export_Save", "GridExport", new { area = string.Empty })))
        .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("")))
        //.Events(events => events.DataBound("onDataBound").ExcelExport("excelExport"))
        .DataSource(dataSource =>
                                dataSource.Ajax()
                                .PageSize(ProjectConfiguration.PageSize)
                                 .Model(model =>
                                 {
                                     model.Id(p => p.ClientID);
                                     model.Field(p => p.UserName);
                                 })
                                .ServerOperation(true)
                                                                .Read(read => read.Action(CMMS.Pages.Actions.GetClientList, CMMS.Pages.Controllers.ClientDetail).Data("BindParameters").Type(System.Web.Mvc.HttpVerbs.Post))
                )
    )


</div>

<!-- -------------search order------------- -->
<div id="search-order" class="modal fade" role="dialog"></div>


<script type="text/javascript">
    var kendoGridId = 'clientListGrid';
    var intPageID = '@SystemEnum.Pages.ClientList.GetHashCode()';

    $(document).ready(function () {
        if ('@ViewBag.Message' != '' && '@ViewBag.MessageType' != '') {
            ShowMessage('@ViewBag.MessageType', '@ViewBag.Message', "#divMessage");
        }
    });

    function BindParameters() {
        return {
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };

    function onDataBound(arg) {
        gridProperPaging(this);
    }
    //function DateTemplate(date) {

    //    if (date != undefined && date != null) {
    //        try {
    //            if (date.indexOf('/Date(') > -1) {
    //                date = new Date(parseInt(date.substr(6)));
    //            }
    //        } catch (err) { //do not throw err here
    //        }
    //        return GetCultureDateWithFormant(date);
    //    }
    //    return "";
    //}

    //function DateTemplateWithTime(date) {


    //    if (date != undefined && date != null) {
    //        try {
    //            if (date.indexOf('/Date(') > -1) {
    //                date = new Date(parseInt(date.substr(6)));
    //            }
    //        } catch (err) { //do not throw err here
    //        }
    //        var a = GetCultureDateWithFormant(date);

    //        var b = formatAMPM(date)
    //        return a + " " + b;
    //    }
    //    return "";
    //}
    @*$("#jobOrderGrid tbody").on("dblclick", "tr[role='row']", function (e) {
        var grid = $("#jobOrderGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        location.href = '@Url.Action(Actions.GetJOByJobOrderNo, CMMS.Pages.Controllers.Transaction, new { area = CMMS.Pages.Areas.Transaction })' + '?workOrderNo=' + model.WorkorderNo + '&assetID=0&objWorkOrder=null';
    });*@

    function PrintJoListReport() {
        var workOrderNo = $('#WorkorderNo').val();
        window.open('@Url.Action(CMMS.Pages.Actions.JobOrderListPrint, CMMS.Pages.Controllers.Transaction)', "_blank");
    }
</script>
