﻿@using CMMS.Pages;
@using CMMS.Infrastructure;
@{
    var curController = Convert.ToString(ViewContext.RouteData.Values["Controller"]).ToLower();
    var curAction = Convert.ToString(ViewContext.RouteData.Values["Action"]).ToLower();
}

@{
    switch (@curController)
    {
        case @Controllers.Configurations:
            switch (@curAction)
            {
                case @Actions.Organisation:
                    <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span>@ProjectSession.Resources.menu.Organisation_MenuOrganisation</div>
                    break;
                case @Actions.Area:
                <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span>@ProjectSession.Resources.menu.Area_MenuArea</div>
                    break;
                case @Actions.SectorList:
                <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span>@ProjectSession.Resources.menu.Setup_MenuSector</div>
                    break;
                case @Actions.MaintenanceDivision:
                <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span>@ProjectSession.Resources.menu.MaintDivision_MenuMaintenanceDivision</div>
                    break;
                case @Actions.MaintenanceDepartment:
                <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span>@ProjectSession.Resources.menu.MaintenanceDept_MenuMaintenanceDepartments</div>
                    break;
                case @Actions.MaintenanceGroup:
                <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span>@ProjectSession.Resources.menu.MaintenanceGroup_MenuMaintenanceGroups</div>
                    break;
                case @Actions.FailureCauseList:
                <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span>@ProjectSession.Resources.menu.FailureCodes_MenuFailureCodes</div>
                    break;
                case @Actions.Suppliers:
                <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span>@ProjectSession.Resources.menu.Supplier_MenuSuppliersContractors</div>
                    break;
                case @Actions._EditSuppliers:
                <div class="breadcrumb">
                    <a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span>
                    <a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span>
                    <a href="@Url.Action(Actions.Suppliers, Controllers.Configurations, new { area = Areas.Configurations })" title="@ProjectSession.Resources.menu.Supplier_MenuSuppliersContractors">@ProjectSession.Resources.menu.Supplier_MenuSuppliersContractors</a><span></span>
                    @ProjectSession.Resources.menu.Reports_MenuSupplierDetails
                </div>
                    break;
                case @Actions.MaintenanceSubDepartment:
                <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span>@ProjectSession.Resources.menu.MaintSubDept_MenuMaintenanceSubDeparments</div>
                    break;
                case @Actions.CostCenter:
                <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span>@ProjectSession.Resources.menu.CostCenter_MenuCostCenters</div>
                    break;
                case @Actions.EmployeeCategory:
                <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Employee_MenuEmployeeUserSetups">@ProjectSession.Resources.menu.Employee_MenuEmployeeUserSetups</a><span></span>@ProjectSession.Resources.menu.Employee_MenuEmployeeCategory</div>
                    break;
                case @Actions.EmployeeStatus:
                <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Employee_MenuEmployeeUserSetups">@ProjectSession.Resources.menu.Employee_MenuEmployeeUserSetups</a><span></span>@ProjectSession.Resources.menu.Employee_MenuEmployeeStatus</div>
                    break;
                case @Actions.SiteClass:
                <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span><a href="#" title="@ProjectSession.Resources.menu.City_MenuCitySetups">@ProjectSession.Resources.menu.City_MenuCitySetups</a><span></span>@ProjectSession.Resources.menu.City_MenuCityClass</div>
                    break;
                case @Actions.Site:
                <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span><a href="#" title="@ProjectSession.Resources.menu.City_MenuCitySetups">@ProjectSession.Resources.menu.City_MenuCitySetups</a><span></span>@ProjectSession.Resources.menu.City_MenuCity</div>
                    break;
                case @Actions.AssetCategoriesList:
                <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Asset_MenuAssetSetups">@ProjectSession.Resources.menu.Asset_MenuAssetSetups</a><span></span>@ProjectSession.Resources.menu.Asset_MenuAssetCategories</div>
                    break;
                case @Actions.AssetSubCategoriesList:
                <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Asset_MenuAssetSetups">@ProjectSession.Resources.menu.Asset_MenuAssetSetups</a><span></span>@ProjectSession.Resources.menu.Asset_MenuAssetSubCategories</div>
                    break;
                case @Actions.AssetStatusList:
                <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Asset_MenuAssetSetups">@ProjectSession.Resources.menu.Asset_MenuAssetSetups</a><span></span>@ProjectSession.Resources.menu.Asset_MenuAssetStatus</div>
                    break;
                case @Actions.AssetClassList:
                <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Asset_MenuAssetSetups">@ProjectSession.Resources.menu.Asset_MenuAssetSetups</a><span></span>@ProjectSession.Resources.menu.Asset_MenuAssetClass</div>
                    break;
                case @Actions.AssetConditionsList:
                <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Asset_MenuAssetSetups">@ProjectSession.Resources.menu.Asset_MenuAssetSetups</a><span></span>@ProjectSession.Resources.menu.Asset_MenuAssetConditions</div>
                    break;
                case @Actions.CriticalityList:
                <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Asset_MenuAssetSetups">@ProjectSession.Resources.menu.Asset_MenuAssetSetups</a><span></span>@ProjectSession.Resources.menu.Asset_MenuAssetCriticality</div>
                    break;
                case @Actions.WarrantyContractList:
                <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Asset_MenuAssetSetups">@ProjectSession.Resources.menu.Asset_MenuAssetSetups</a><span></span>@ProjectSession.Resources.menu.Asset_MenuAssetWarrantyContract</div>
                    break;
                case @Actions.Stores:
                <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Asset_MenuAssetSetups">@ProjectSession.Resources.menu.Store_MenuStoreSetups</a><span></span>@ProjectSession.Resources.menu.Store_MenuStores</div>
                    break;
                case @Actions.ItemType:
                <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Asset_MenuAssetSetups">@ProjectSession.Resources.menu.Store_MenuStoreSetups</a><span></span>@ProjectSession.Resources.menu.ItemType_MenuPartTypes</div>
                    break;
                case @Actions.ItemSubType:
                <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Asset_MenuAssetSetups">@ProjectSession.Resources.menu.Store_MenuStoreSetups</a><span></span>@ProjectSession.Resources.menu.ItemSubType_MenuPartSubTypes</div>
                    break;
                case @Actions.ItemSection:
                <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Asset_MenuAssetSetups">@ProjectSession.Resources.menu.Store_MenuStoreSetups</a><span></span>@ProjectSession.Resources.menu.Location_MenuItemLocations</div>
                    break;
                case @Actions.JobPriority:
                <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Management_MenuJobManagementSetups">@ProjectSession.Resources.menu.Management_MenuJobManagementSetups</a><span></span>@ProjectSession.Resources.menu.JobPriority_MenuJobPriority</div>
                    break;
                case @Actions.JobStatus:
                <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Management_MenuJobManagementSetups">@ProjectSession.Resources.menu.Management_MenuJobManagementSetups</a><span></span>@ProjectSession.Resources.menu.JobStatus_MenuJobStatus</div>
                    break;
                case @Actions.JobType:
                <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Management_MenuJobManagementSetups">@ProjectSession.Resources.menu.Management_MenuJobManagementSetups</a><span></span>@ProjectSession.Resources.menu.JobType_MenuJobType</div>
                    break;
                case @Actions.JobTrade:
                <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Management_MenuJobManagementSetups">@ProjectSession.Resources.menu.Management_MenuJobManagementSetups</a><span></span>@ProjectSession.Resources.menu.JobTrade_MenuJobTrade</div>
                    break;
                case @Actions.PRStatusList:
                <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span><a href="#" title="@ProjectSession.Resources.menu.PurchaseRequisition_MenuPRReqStatus">@ProjectSession.Resources.menu.Setups_Configurations_MenuPurchaseRequisition</a><span></span>@ProjectSession.Resources.menu.PurchaseRequisition_MenuPRReqStatus</div>
                    break;
                case @Actions.PRAuthStatusList:
                <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span><a href="#" title="@ProjectSession.Resources.menu.PurchaseRequisition_MenuPRReqStatus">@ProjectSession.Resources.menu.Setups_Configurations_MenuPurchaseRequisition</a><span></span>@ProjectSession.Resources.menu.PurchaseRequisition_MenuPRStatus</div>
                    break;
                case @Actions.PRApprovalLevelList:
                <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span><a href="#" title="@ProjectSession.Resources.menu.PurchaseRequisition_MenuPRReqStatus">@ProjectSession.Resources.menu.Setups_Configurations_MenuPurchaseRequisition</a><span></span>@ProjectSession.Resources.menu.PurchaseRequisition_MenuPRApprovalLevels</div>
                    break;
                case @Actions.PRWorkFlow:
                <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span><a href="#" title="@ProjectSession.Resources.menu.PurchaseRequisition_MenuPRReqStatus">@ProjectSession.Resources.menu.Setups_Configurations_MenuPurchaseRequisition</a><span></span>@ProjectSession.Resources.menu.PurchaseRequisition_MenuPRApprovalLevelMappings</div>
                    break;
                case @Actions.IRReqStatus:
                <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span><a href="#" title="@ProjectSession.Resources.menu.ItemRequisition_MenuItemRequisition">@ProjectSession.Resources.menu.ItemRequisition_MenuItemRequisition</a><span></span>@ProjectSession.Resources.menu.ItemRequisition_MenuItemRequisition</div>
                    break;
                case @Actions.IRStatus:
                <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span><a href="#" title="@ProjectSession.Resources.menu.ItemRequisition_MenuItemRequisition">@ProjectSession.Resources.menu.ItemRequisition_MenuItemRequisition</a><span></span>@ProjectSession.Resources.menu.IRAuthoriseStatus_MenuIRStatus</div>
                    break;
                case @Actions.IRApprovalLevels:
                <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span><a href="#" title="@ProjectSession.Resources.menu.ItemRequisition_MenuItemRequisition">@ProjectSession.Resources.menu.ItemRequisition_MenuItemRequisition</a><span></span>@ProjectSession.Resources.menu.IRApproval_MenuIRApprovalLevels</div>
                    break;
                case @Actions.IRWorkFlow:
                <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span><a href="#" title="@ProjectSession.Resources.menu.ItemRequisition_MenuItemRequisition">@ProjectSession.Resources.menu.ItemRequisition_MenuItemRequisition</a><span></span>@ProjectSession.Resources.menu.IRApproval_MenuIRApprovalLevelMappings</div>
                    break;
                case @Actions.Zone:
                <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span>@ProjectSession.Resources.menu.Street_MenuStreet</div>
                    break;
                case @Actions.Building:
                <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span>@ProjectSession.Resources.menu.Building_MenuBuilding</div>
                    break;
                case @Actions.CleaningGroup:
                <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span><a href="#" title="@ProjectSession.Resources.menu.CleaningSetup_MenuCleaningSetup">@ProjectSession.Resources.menu.CleaningSetup_MenuCleaningSetup</a><span></span>@ProjectSession.Resources.menu.CleaningSetup_MenuCleaningGroup</div>
                    break;
                case @Actions.CleaningClassification:
                <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span><a href="#" title="@ProjectSession.Resources.menu.CleaningSetup_MenuCleaningSetup">@ProjectSession.Resources.menu.CleaningSetup_MenuCleaningSetup</a><span></span>@ProjectSession.Resources.menu.CleaningSetup_MenuCleaningElement</div>
                    break;
                case @Actions.CleaningWeightage:
                <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span><a href="#" title="@ProjectSession.Resources.menu.CleaningSetup_MenuCleaningSetup">@ProjectSession.Resources.menu.CleaningSetup_MenuCleaningSetup</a><span></span>@ProjectSession.Resources.menu.CleaningSetup_MenuCleaningWeightage</div>
                    break;
                case @Actions.JobPlan:
                <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span>@ProjectSession.Resources.menu.JobPlan_MenuJobPlans</div>
                    break;
                case @Actions.SafetyInstruction:
                <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span>@ProjectSession.Resources.menu.SafetyInstruction_MenuSafetyInstructions</div>
                    break;
                case @Actions.AccountCode:
                <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span>@ProjectSession.Resources.menu.AccountCode_MenuAccountCode</div>
                    break;
                case @Actions.BoMList:
                <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span>@ProjectSession.Resources.menu.BoM_MenuBoMList</div>
                    break;
                case @Actions.EmailServerConfiguration:
                <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span><a href="#" title="@ProjectSession.Resources.menu.NotificationSetup_MenuNotificationSetup">@ProjectSession.Resources.menu.NotificationSetup_MenuNotificationSetup</a><span></span>@ProjectSession.Resources.menu.NotificationSetup_MenuEmailServerConfiguration</div>
                    break;
                case @Actions.SMSServerConfiguration:
                <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span><a href="#" title="@ProjectSession.Resources.menu.NotificationSetup_MenuNotificationSetup">@ProjectSession.Resources.menu.NotificationSetup_MenuNotificationSetup</a><span></span>@ProjectSession.Resources.menu.NotificationSetup_MenuSMSConfiguration</div>
                    break;
                case @Actions.EmailTemplates:
                <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span><a href="#" title="@ProjectSession.Resources.menu.NotificationSetup_MenuNotificationSetup">@ProjectSession.Resources.menu.NotificationSetup_MenuNotificationSetup</a><span></span>@ProjectSession.Resources.menu.NotificationSetup_MenuEmailTemplates</div>
                    break;
                case @Actions.EmailRules:
                <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span><a href="#" title="@ProjectSession.Resources.menu.NotificationSetup_MenuNotificationSetup">@ProjectSession.Resources.menu.NotificationSetup_MenuNotificationSetup</a><span></span>@ProjectSession.Resources.menu.NotificationSetup_MenuNotificationEmailRules</div>
                    break;
                case @Actions.AssetCategoryNotificationList:
                <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span><a href="#" title="@ProjectSession.Resources.menu.NotificationSetup_MenuNotificationSetup">@ProjectSession.Resources.menu.NotificationSetup_MenuNotificationSetup</a><span></span><a href="#" title="@ProjectSession.Resources.menu.NotificationSetup_MenuNotificationSetup">@ProjectSession.Resources.menu.NotificationSetup_MenuSLA</a><span></span>@ProjectSession.Resources.menu.NotificationSetup_MenuAssetCategoryNotification</div>
                    break;
                case @Actions.CriticalityNotificationList:
                <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span><a href="#" title="@ProjectSession.Resources.menu.NotificationSetup_MenuNotificationSetup">@ProjectSession.Resources.menu.NotificationSetup_MenuNotificationSetup</a><span></span><a href="#" title="@ProjectSession.Resources.menu.NotificationSetup_MenuNotificationSetup">@ProjectSession.Resources.menu.NotificationSetup_MenuSLA</a><span></span>@ProjectSession.Resources.menu.NotificationSetup_MenuCriticalityNotification</div>
                    break;
                case @Actions.JOStatusNotificationList:
                <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span><a href="#" title="@ProjectSession.Resources.menu.NotificationSetup_MenuNotificationSetup">@ProjectSession.Resources.menu.NotificationSetup_MenuNotificationSetup</a><span></span><a href="#" title="@ProjectSession.Resources.menu.NotificationSetup_MenuNotificationSetup">@ProjectSession.Resources.menu.NotificationSetup_MenuSLA</a><span></span>@ProjectSession.Resources.menu.NotificationSetup_MenuJOStatusNotification</div>
                    break;
                case @Actions.JRStatusNotificationList:
                <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span><a href="#" title="@ProjectSession.Resources.menu.NotificationSetup_MenuNotificationSetup">@ProjectSession.Resources.menu.NotificationSetup_MenuNotificationSetup</a><span></span><a href="#" title="@ProjectSession.Resources.menu.NotificationSetup_MenuNotificationSetup">@ProjectSession.Resources.menu.NotificationSetup_MenuSLA</a><span></span>@ProjectSession.Resources.menu.NotificationSetup_MenuJRStatusNotification</div>
                    break;
                case @Actions.LocationTypeNotificationList:
                <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span><a href="#" title="@ProjectSession.Resources.menu.NotificationSetup_MenuNotificationSetup">@ProjectSession.Resources.menu.NotificationSetup_MenuNotificationSetup</a><span></span><a href="#" title="@ProjectSession.Resources.menu.NotificationSetup_MenuNotificationSetup">@ProjectSession.Resources.menu.NotificationSetup_MenuSLA</a><span></span>@ProjectSession.Resources.menu.NotificationSetup_MenuLocationTypeNotification</div>
                    break;
                case @Actions.WorkPriorityNotificationList:
                <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span><a href="#" title="@ProjectSession.Resources.menu.NotificationSetup_MenuNotificationSetup">@ProjectSession.Resources.menu.NotificationSetup_MenuNotificationSetup</a><span></span><a href="#" title="@ProjectSession.Resources.menu.NotificationSetup_MenuNotificationSetup">@ProjectSession.Resources.menu.NotificationSetup_MenuSLA</a><span></span>@ProjectSession.Resources.menu.NotificationSetup_MenuWorkPriorityNotification</div>
                    break;
                case @Actions.WorkTypeNotificationList:
                <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span><a href="#" title="@ProjectSession.Resources.menu.NotificationSetup_MenuNotificationSetup">@ProjectSession.Resources.menu.NotificationSetup_MenuNotificationSetup</a><span></span><a href="#" title="@ProjectSession.Resources.menu.NotificationSetup_MenuNotificationSetup">@ProjectSession.Resources.menu.NotificationSetup_MenuSLA</a><span></span>@ProjectSession.Resources.menu.NotificationSetup_MenuWorkTypeNotification</div>
                    break;
                case @Actions.PurchasingCurrency:
                <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuPurchasingSetup">@ProjectSession.Resources.menu.Setups_Configurations_MenuPurchasingSetup</a><span></span>@ProjectSession.Resources.menu.Setups_Configurations_MenuPurchasingCurrency</div>
                    break;
                case @Actions.PurchasingTermofSale:
                <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuPurchasingSetup">@ProjectSession.Resources.menu.Setups_Configurations_MenuPurchasingSetup</a><span></span>@ProjectSession.Resources.menu.Setups_Configurations_MenuPurchasingTermofSale</div>
                    break;
                case @Actions.PurchasingShippedVia:
                <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuPurchasingSetup">@ProjectSession.Resources.menu.Setups_Configurations_MenuPurchasingSetup</a><span></span>@ProjectSession.Resources.menu.Setups_Configurations_MenuPurchasingShippedVia</div>
                    break;
                case @Actions.PurchasingPaymentTerms:
                <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuPurchasingSetup">@ProjectSession.Resources.menu.Setups_Configurations_MenuPurchasingSetup</a><span></span>@ProjectSession.Resources.menu.Setups_Configurations_MenuPurchasingPaymentTerms</div>
                    break;
                case @Actions.DefaultSetups:
                <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuPurchasingSetup">@ProjectSession.Resources.menu.Setups_Configurations_MenuPurchasingSetup</a><span></span>@ProjectSession.Resources.menu.Purchasing_MenuPurchasingTaxes</div>
                    break;
                case @Actions.ToolCategory:
                <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span><a href="#" title="@ProjectSession.Resources.menu.ToolSetups_MenuToolSetups">@ProjectSession.Resources.menu.ToolSetups_MenuToolSetups</a><span></span>@ProjectSession.Resources.menu.ToolSetups_MenuToolCategory</div>
                    break;
                case @Actions.ToolSubCategory:
                <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span><a href="#" title="@ProjectSession.Resources.menu.ToolSetups_MenuToolSetups">@ProjectSession.Resources.menu.ToolSetups_MenuToolSetups</a><span></span>@ProjectSession.Resources.menu.ToolSetups_MenuToolSubCategory</div>
                    break;
                case @Actions.Tool:
                <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span><a href="#" title="@ProjectSession.Resources.menu.ToolSetups_MenuToolSetups">@ProjectSession.Resources.menu.ToolSetups_MenuToolSetups</a><span></span>@ProjectSession.Resources.menu.ToolSetups_MenuTools</div>
                    break;
                case @Actions.LocationType:
                <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span>@ProjectSession.Resources.menu.LocationType_MenuLocationType</div>
                    break;
                case @Actions.SpecificationsList:
                <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span>@ProjectSession.Resources.menu.Specifications_MenuSpecification</div>
                    break;
                case @Actions.HelpList:
                <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span>@ProjectSession.Resources.menu.Help_MenuHelp</div>
                    break;
                case @Actions.HelpDetail:
                <div class="breadcrumb">
                    <a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span>
                    <a href="@Url.Action(Actions.HelpList, Controllers.Configurations, new { area = Areas.Configurations })" title="@ProjectSession.Resources.menu.Help_MenuHelp">@ProjectSession.Resources.menu.Help_MenuHelp</a>
                    <span></span>@ProjectSession.Resources.label.Help_TextBlockHelpDetail
                </div>
                    break;

                case @Actions.GeneralConfiguration:
                <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span>@ProjectSession.Resources.menu.GeneralConfiguration_MenuGeneralConfig</div>
                    break;

                case @Actions.HolidaySetting:
                <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span>@ProjectSession.Resources.menu.HolidaySetting_MenuHolidaySettings</div>
                    break;
            }
            break;

        case @Controllers.Transaction:
            switch (@curAction)
            {
                case @Actions.AssetList:
                    <div class="breadcrumb"><a href="#" title=">@ProjectSession.Resources.menu.Store_MenuStoreTransaction">@ProjectSession.Resources.menu.Store_MenuStoreTransaction</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Asset_MenuAssets">@ProjectSession.Resources.menu.Asset_MenuAssets</a><span></span>@ProjectSession.Resources.menu.Asset_MenuAssetList</div>
                    break;

                case @Actions.GetAssetByID:
                <div class="breadcrumb">
                    <a href="#" title="@ProjectSession.Resources.menu.Store_MenuStoreTransaction">@ProjectSession.Resources.menu.Store_MenuStoreTransaction</a>
                    <span></span>
                    <a href="#" title="@ProjectSession.Resources.menu.Asset_MenuAssets">@ProjectSession.Resources.menu.Asset_MenuAssets</a>
                    <span></span>
                    <a href="@Url.Action(Actions.AssetList, Controllers.Transaction, new { area = Areas.Transaction })" title="@ProjectSession.Resources.menu.Asset_MenuAssetList">@ProjectSession.Resources.menu.Asset_MenuAssetList</a>
                    <span></span>
                    @ProjectSession.Resources.menu.Reports_MenuAssetDetails
                </div>
                    break;

                case @Actions.AssetTree:
                <div class="breadcrumb"><a href="#" title=">@ProjectSession.Resources.menu.Store_MenuStoreTransaction">@ProjectSession.Resources.menu.Store_MenuStoreTransaction</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Asset_MenuAssets">@ProjectSession.Resources.menu.Asset_MenuAssets</a><span></span>@ProjectSession.Resources.menu.Asset_MenuAssetTree</div>
                    break;

                case @Actions.JobRequestList:
                <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.Store_MenuStoreTransaction">@ProjectSession.Resources.menu.Store_MenuStoreTransaction</a><span></span><a href="#" title="@ProjectSession.Resources.menu.JobRequest_MenuJobRequests">@ProjectSession.Resources.menu.JobRequest_MenuJobRequests</a><span></span>@ProjectSession.Resources.menu.JobRequest_MenuJobRequestList</div>
                    break;
                case @Actions.GetJobRequestById:
                <div class="breadcrumb">
                    <a href="#" title="@ProjectSession.Resources.menu.Store_MenuStoreTransaction">@ProjectSession.Resources.menu.Store_MenuStoreTransaction</a>
                    <span></span>
                    <a href="#" title="@ProjectSession.Resources.menu.JobRequest_MenuJobRequests">@ProjectSession.Resources.menu.JobRequest_MenuJobRequests</a>
                    <span></span>
                    <a href="@Url.Action(Actions.JobRequestList, Controllers.Transaction, new { area = Areas.Transaction })" title="@ProjectSession.Resources.menu.JobRequest_MenuJobRequestList">@ProjectSession.Resources.menu.JobRequest_MenuJobRequestList</a>
                    <span></span>
                    @ProjectSession.Resources.label.JobRequest_TextBlockJobrequestDetails
                </div>
                    break;
                case @Actions.JobOrderList:
                <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.Store_MenuStoreTransaction">@ProjectSession.Resources.menu.Store_MenuStoreTransaction</a><span></span><a href="#" title="@ProjectSession.Resources.menu.JobOrder_MenuJobOrders">@ProjectSession.Resources.menu.JobOrder_MenuJobOrders</a><span></span>@ProjectSession.Resources.menu.JobOrder_MenuJobOrderList</div>
                    break;
                case @Actions.GetJOByJobOrderNo:
                <div class="breadcrumb">
                    <a href="#" title="@ProjectSession.Resources.menu.Store_MenuStoreTransaction">@ProjectSession.Resources.menu.Store_MenuStoreTransaction</a>
                    <span></span>
                    <a href="#" title="@ProjectSession.Resources.menu.JobOrder_MenuJobOrders">@ProjectSession.Resources.menu.JobOrder_MenuJobOrders</a>
                    <span></span>
                    <a href="@Url.Action(Actions.JobOrderList, Controllers.Transaction, new { area = Areas.Transaction })" title="@ProjectSession.Resources.menu.JobOrder_MenuJobOrderList">@ProjectSession.Resources.menu.JobOrder_MenuJobOrderList</a>
                    <span></span>
                    @ProjectSession.Resources.label.JobOrder_TextBlockJobOrderDetails
                </div>
                    break;
                case @Actions.PMScheduleList:
                <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.Preventive_MenuPreventive">@ProjectSession.Resources.menu.Preventive_MenuPreventive</a><span></span><a href="#" title="@ProjectSession.Resources.menu.TimeBasedPM_MenuTimeBasedPM">@ProjectSession.Resources.menu.TimeBasedPM_MenuTimeBasedPM</a><span></span>@ProjectSession.Resources.menu.PMSchedule_MenuPMScheduleList</div>
                    break;
                case @Actions.GetPMScheduleByID:
                <div class="breadcrumb">
                    <a href="#" title="@ProjectSession.Resources.menu.Preventive_MenuPreventive">@ProjectSession.Resources.menu.Preventive_MenuPreventive</a>
                    <span></span>
                    <a href="#" title="@ProjectSession.Resources.menu.TimeBasedPM_MenuTimeBasedPM">@ProjectSession.Resources.menu.TimeBasedPM_MenuTimeBasedPM</a>
                    <span></span>
                    <a href="@Url.Action(Actions.PMScheduleList, Controllers.Transaction, new { area = Areas.Transaction })" title="@ProjectSession.Resources.menu.PMSchedule_MenuPMScheduleList">@ProjectSession.Resources.menu.PMSchedule_MenuPMScheduleList</a>
                    <span></span>
                    @ProjectSession.Resources.label.PM_TextBlockPMSchedule
                </div>
                    break;

                case @Actions.PMScheduleListByAssetSubType:
                <div class="breadcrumb"><a href="#" title=">@ProjectSession.Resources.menu.Preventive_MenuPreventive">@ProjectSession.Resources.menu.Preventive_MenuPreventive</a><span></span><a href="#" title="@ProjectSession.Resources.menu.TimeBasedPM_MenuTimeBasedPM">@ProjectSession.Resources.menu.TimeBasedPM_MenuTimeBasedPM</a><span></span>@ProjectSession.Resources.menu.PMSchedule_MenuPMScheduleListByAssetSubTypes</div>
                    break;

                case @Actions.GetPMAssetScheduleByID:
                <div class="breadcrumb">
                    <a href="#" title="@ProjectSession.Resources.menu.Preventive_MenuPreventive">@ProjectSession.Resources.menu.Preventive_MenuPreventive</a>
                    <span></span>
                    <a href="#" title="@ProjectSession.Resources.menu.TimeBasedPM_MenuTimeBasedPM">@ProjectSession.Resources.menu.TimeBasedPM_MenuTimeBasedPM</a>
                    <span></span>
                    <a href="@Url.Action(Actions.PMScheduleList, Controllers.Transaction, new { area = Areas.Transaction })" title="@ProjectSession.Resources.menu.PMSchedule_MenuPMScheduleListByAssetSubTypes">@ProjectSession.Resources.menu.PMSchedule_MenuPMScheduleListByAssetSubTypes</a>
                    <span></span>
                    @ProjectSession.Resources.menu.PMSchedule_MenuPMScheduleListByAssetSubTypesDetail
                </div>
                    break;

                case @Actions.CleaningScheduleList:
                <div class="breadcrumb"><a href="#" title=">@ProjectSession.Resources.menu.Store_MenuStoreTransaction">@ProjectSession.Resources.menu.Store_MenuStoreTransaction</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Cleaning_MenuCleaning">@ProjectSession.Resources.menu.Cleaning_MenuCleaning</a><span></span>@ProjectSession.Resources.menu.Cleaning_MenuCleaningScheduleList</div>
                    break;

                case @Actions.CleaningJoGeneration:
                <div class="breadcrumb"><a href="#" title=">@ProjectSession.Resources.menu.Store_MenuStoreTransaction">@ProjectSession.Resources.menu.Store_MenuStoreTransaction</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Cleaning_MenuCleaning">@ProjectSession.Resources.menu.Cleaning_MenuCleaning</a><span></span>@ProjectSession.Resources.menu.PMJOGeneration_MenuPMJOGeneration</div>
                    break;
                    
                case @Actions.GetPMScheduleByCleaningID:
                <div class="breadcrumb">
                    <a href="#" title="@ProjectSession.Resources.menu.Store_MenuStoreTransaction">@ProjectSession.Resources.menu.Store_MenuStoreTransaction</a>
                    <span></span>
                    <a href="#" title="@ProjectSession.Resources.menu.Cleaning_MenuCleaning">@ProjectSession.Resources.menu.Cleaning_MenuCleaning</a>
                    <span></span>
                    <a href="@Url.Action(Actions.CleaningScheduleList, Controllers.Transaction, new { area = Areas.Transaction })" title="@ProjectSession.Resources.menu.Cleaning_MenuCleaningScheduleList">@ProjectSession.Resources.menu.Cleaning_MenuCleaningScheduleList</a>
                    <span></span>
                    @ProjectSession.Resources.label.Cleaning_TextBlockCleaningScheduleDetail
                </div>
                    break;

                case @Actions.PMJoGeneration:
                <div class="breadcrumb"><a href="#" title=">@ProjectSession.Resources.menu.Preventive_MenuPreventive">@ProjectSession.Resources.menu.Preventive_MenuPreventive</a><span></span><a href="#" title="@ProjectSession.Resources.menu.TimeBasedPM_MenuTimeBasedPM">@ProjectSession.Resources.menu.TimeBasedPM_MenuTimeBasedPM</a><span></span>@ProjectSession.Resources.menu.PMJOGeneration_MenuPMJOGeneration</div>
                    break;

                case @Actions.SectionList:
                <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.Store_MenuStoreTransaction">@ProjectSession.Resources.menu.Store_MenuStoreTransaction</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Location_MenuLocations">@ProjectSession.Resources.menu.Location_MenuLocations</a><span></span>@ProjectSession.Resources.menu.Location_MenuLocationList</div>
                    break;
                case @Actions.GetSectionByID:
                <div class="breadcrumb">
                    <a href="#" title="@ProjectSession.Resources.menu.Store_MenuStoreTransaction">@ProjectSession.Resources.menu.Store_MenuStoreTransaction</a>
                    <span></span>
                    <a href="#" title="@ProjectSession.Resources.menu.Location_MenuLocations">@ProjectSession.Resources.menu.Location_MenuLocations</a>
                    <span></span>
                    <a href="@Url.Action(Actions.SectionList, Controllers.Transaction, new { area = Areas.Transaction })" title="@ProjectSession.Resources.menu.Location_MenuLocationList">@ProjectSession.Resources.menu.Location_MenuLocationList</a>
                    <span></span>
                    @ProjectSession.Resources.menu.Location_MenuLocationsDetails
                </div>
                    break;
                case @Actions.PMCheckList:
                <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.Store_MenuStoreTransaction">@ProjectSession.Resources.menu.Store_MenuStoreTransaction</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Preventive_MenuPreventive">@ProjectSession.Resources.menu.Preventive_MenuPreventive</a><span></span>@ProjectSession.Resources.label.PMChecklist_TextBlockPMChecklistList</div>
                    break;
                case @Actions.GetPMChecklistByID:
                <div class="breadcrumb">
                    <a href="#" title="@ProjectSession.Resources.menu.Store_MenuStoreTransaction">@ProjectSession.Resources.menu.Store_MenuStoreTransaction</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Preventive_MenuPreventive">@ProjectSession.Resources.menu.Preventive_MenuPreventive</a><span></span>
                    <a href="@Url.Action(Actions.PMCheckList, Controllers.Transaction, new { area = Areas.Transaction })" title="@ProjectSession.Resources.label.PMChecklist_TextBlockPMChecklistList">@ProjectSession.Resources.label.PMChecklist_TextBlockPMChecklistList</a>
                    <span></span>
                    @ProjectSession.Resources.label.PMChecklist_TextBlockPMChecklistDetail
                </div>
                    break;

                case @Actions.PMCheckListForCleaning:
                <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.Store_MenuStoreTransaction">@ProjectSession.Resources.menu.Store_MenuStoreTransaction</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Cleaning_MenuCleaning">@ProjectSession.Resources.menu.Cleaning_MenuCleaning</a><span></span>@ProjectSession.Resources.menu.Cleaning_MenuCleaningChecklistList</div>
                    break;
                case @Actions.GetPMChecklistForCleaningPage:
                <div class="breadcrumb">
                    <a href="#" title="@ProjectSession.Resources.menu.Store_MenuStoreTransaction">@ProjectSession.Resources.menu.Store_MenuStoreTransaction</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Cleaning_MenuCleaning">@ProjectSession.Resources.menu.Cleaning_MenuCleaning</a><span></span>
                    <a href="@Url.Action(Actions.PMCheckListForCleaning, Controllers.Transaction, new { area = Areas.Transaction })" title="@ProjectSession.Resources.menu.Cleaning_MenuCleaningChecklistList">@ProjectSession.Resources.menu.Cleaning_MenuCleaningChecklistList</a>
                    <span></span>
                    @ProjectSession.Resources.label.Cleaning_TextBlockCleaningChecklistDetail
                </div>
                    break;

                case @Actions.PMMeterMasterList:
                <div class="breadcrumb">
                    <a href="#" title="@ProjectSession.Resources.menu.Preventive_MenuPreventive">@ProjectSession.Resources.menu.Preventive_MenuPreventive</a><span></span>
                    <a href="#" title="@ProjectSession.Resources.menu.PMMeter_MenuMeterPM">@ProjectSession.Resources.menu.PMMeter_MenuMeterPM</a><span></span>
                    @ProjectSession.Resources.menu.PMMeter_MenuPMMeterList
                </div>
                    break;

                case @Actions.PMMeterMasterEdit:
                <div class="breadcrumb">
                    <a href="#" title="@ProjectSession.Resources.menu.Preventive_MenuPreventive">@ProjectSession.Resources.menu.Preventive_MenuPreventive</a><span></span>
                    <a href="@Url.Action(Actions.PMMeterMasterList, Controllers.Transaction, new { area = Areas.Transaction })" title="@ProjectSession.Resources.menu.PMMeter_MenuMeterPM">@ProjectSession.Resources.menu.PMMeter_MenuMeterPM</a><span></span>
                    PM @ProjectSession.Resources.label.Reading_TextBlockMeterMaster
                </div>
                    break;

                case @Actions.PMMeterAdd:
                <div class="breadcrumb">
                    <a href="#" title="@ProjectSession.Resources.menu.Preventive_MenuPreventive">@ProjectSession.Resources.menu.Preventive_MenuPreventive</a><span></span>
                    <a href="@Url.Action(Actions.PMMeterMasterList, Controllers.Transaction, new { area = Areas.Transaction })" title="@ProjectSession.Resources.menu.PMMeter_MenuMeterPM">@ProjectSession.Resources.menu.PMMeter_MenuMeterPM</a><span></span>
                    <a href="#" title="@ProjectSession.Resources.label.Reading_TextBlockMeterMaster">@ProjectSession.Resources.label.Reading_TextBlockMeterMaster</a><span></span>
                    @ProjectSession.Resources.label.JobOrder_TextBlockPMMeter
                </div>
                    break;

                case @Actions.Reading:
                <div class="breadcrumb">
                    <a href="#" title="@ProjectSession.Resources.menu.Preventive_MenuPreventive">@ProjectSession.Resources.menu.Preventive_MenuPreventive</a><span></span>
                    <a href="#" title="@ProjectSession.Resources.menu.PMMeter_MenuMeterPM">@ProjectSession.Resources.menu.PMMeter_MenuMeterPM</a><span></span>
                    @ProjectSession.Resources.label.PM_TextBlockReadings
                </div>
                    break;

                case @Actions.PMMeterJoGeneration:
                <div class="breadcrumb">
                    <a href="#" title="@ProjectSession.Resources.menu.Preventive_MenuPreventive">@ProjectSession.Resources.menu.Preventive_MenuPreventive</a><span></span>
                    <a href="#" title="@ProjectSession.Resources.menu.PMMeter_MenuMeterPM">@ProjectSession.Resources.menu.PMMeter_MenuMeterPM</a><span></span>
                    @ProjectSession.Resources.menu.PMJOGeneration_MenuPMMJOGeneration
                </div>
                    break;

                case @Actions.PurchaseRequestList:
                <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.Store_MenuStoreTransaction">@ProjectSession.Resources.menu.Store_MenuStoreTransaction</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Purchasing_MenuPurchase">@ProjectSession.Resources.menu.Purchasing_MenuPurchase</a><span></span>@ProjectSession.Resources.menu.Purchasing_MenuPurchaseRequest</div>
                    break;

                case @Actions.GetPurchaseRequestPage:
                <div class="breadcrumb">
                    <a href="#" title="@ProjectSession.Resources.menu.Preventive_MenuPreventive">@ProjectSession.Resources.menu.Preventive_MenuPreventive</a><span></span>
                    <a href="@Url.Action(Actions.PurchaseRequestList, Controllers.Transaction, new { area = Areas.Transaction })" title="@ProjectSession.Resources.menu.Purchasing_MenuPurchaseRequest">@ProjectSession.Resources.menu.Purchasing_MenuPurchaseRequest</a><span></span>
                    @ProjectSession.Resources.label.PurchaseRequest_TextBlockPurchaseRequestItems
                </div>
                    break;

                case @Actions.PurchaseOrderList:
                <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.Store_MenuStoreTransaction">@ProjectSession.Resources.menu.Store_MenuStoreTransaction</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Purchasing_MenuPurchase">@ProjectSession.Resources.menu.Purchasing_MenuPurchase</a><span></span>@ProjectSession.Resources.menu.Purchasing_MenuPurchaseOrder</div>
                    break;

                case @Actions.GetPurchaseOrderPage:
                <div class="breadcrumb">
                    <a href="#" title="@ProjectSession.Resources.menu.Preventive_MenuPreventive">@ProjectSession.Resources.menu.Preventive_MenuPreventive</a><span></span>
                    <a href="@Url.Action(Actions.PurchaseOrderList, Controllers.Transaction, new { area = Areas.Transaction })" title="@ProjectSession.Resources.menu.Purchasing_MenuPurchaseOrder">@ProjectSession.Resources.menu.Purchasing_MenuPurchaseOrder</a><span></span>
                    @ProjectSession.Resources.label.PurchaseOrder_TextBlockPurchaseOrderItems
                </div>
                    break;

                case @Actions.GoodReceiptList:
                <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.Store_MenuStoreTransaction">@ProjectSession.Resources.menu.Store_MenuStoreTransaction</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Purchasing_MenuPurchase">@ProjectSession.Resources.menu.Purchasing_MenuPurchase</a><span></span>@ProjectSession.Resources.menu.Purchasing_MenuGoodsReceipt</div>
                    break;
                case @Actions.GoodReceiptDetail:
                <div class="breadcrumb">
                    <a href="#" title="@ProjectSession.Resources.menu.Store_MenuStoreTransaction">@ProjectSession.Resources.menu.Store_MenuStoreTransaction</a><span></span>
                    <a href="#" title="@ProjectSession.Resources.menu.Purchasing_MenuPurchase">@ProjectSession.Resources.menu.Purchasing_MenuPurchase</a><span></span>
                    <a href="@Url.Action(Actions.GoodReceiptList, Controllers.Transaction, new { area = Areas.Transaction })" title="@ProjectSession.Resources.menu.Purchasing_MenuGoodsReceipt">@ProjectSession.Resources.menu.Purchasing_MenuGoodsReceipt</a><span></span>
                    @ProjectSession.Resources.label.GoodsReceipt_TextBlockGoodsReceiptDetail
                </div>
                    break;

                case @Actions.ConsumablesList:
                <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.Store_MenuStoreTransaction">@ProjectSession.Resources.menu.Store_MenuStoreTransaction</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Store_MenuStore">@ProjectSession.Resources.menu.Store_MenuStore</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Store_MenuRequestCards">@ProjectSession.Resources.menu.Store_MenuRequestCards</a><span></span>@ProjectSession.Resources.menu.Store_MenuConsumables</div>
                    break;


                case @Actions.ConsumablesDetail:
                <div class="breadcrumb">
                    <a href="#" title="@ProjectSession.Resources.menu.Store_MenuStoreTransaction">@ProjectSession.Resources.menu.Store_MenuStoreTransaction</a><span></span>
                    <a href="#" title="@ProjectSession.Resources.menu.Store_MenuStore">@ProjectSession.Resources.menu.Store_MenuStore</a><span></span>
                    <a href="#" title="@ProjectSession.Resources.menu.Store_MenuRequestCards">@ProjectSession.Resources.menu.Store_MenuRequestCards</a><span></span>
                    <a href="@Url.Action(Actions.ConsumablesList, Controllers.Transaction, new { area = Areas.Transaction })" title="@ProjectSession.Resources.menu.Store_MenuConsumables">@ProjectSession.Resources.menu.Store_MenuConsumables</a><span></span>
                    @ProjectSession.Resources.label.Store_TextBlockConsumablesDetail
                </div>
                    break;


                case @Actions.PersonalList:
                <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.Store_MenuStoreTransaction">@ProjectSession.Resources.menu.Store_MenuStoreTransaction</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Store_MenuStore">@ProjectSession.Resources.menu.Store_MenuStore</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Store_MenuRequestCards">@ProjectSession.Resources.menu.Store_MenuRequestCards</a><span></span>@ProjectSession.Resources.menu.Store_MenuPersonal</div>
                    break;

                case @Actions.PersonalDetail:
                <div class="breadcrumb">
                    <a href="#" title="@ProjectSession.Resources.menu.Store_MenuStoreTransaction">@ProjectSession.Resources.menu.Store_MenuStoreTransaction</a><span></span>
                    <a href="#" title="@ProjectSession.Resources.menu.Store_MenuStore">@ProjectSession.Resources.menu.Store_MenuStore</a><span></span>
                    <a href="#" title="@ProjectSession.Resources.menu.Store_MenuRequestCards">@ProjectSession.Resources.menu.Store_MenuRequestCards</a><span></span>
                    <a href="@Url.Action(Actions.PersonalList, Controllers.Transaction, new { area = Areas.Transaction })" title="@ProjectSession.Resources.menu.Store_MenuPersonal">@ProjectSession.Resources.menu.Store_MenuPersonal</a><span></span>
                    @ProjectSession.Resources.label.Store_TextBlockPersonalDetail
                </div>
                    break;

                case @Actions.StoreItemsList:
                <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.Store_MenuStoreTransaction">@ProjectSession.Resources.menu.Store_MenuStoreTransaction</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Store_MenuStore">@ProjectSession.Resources.menu.Store_MenuStore</a><span></span>@ProjectSession.Resources.menu.ItemList_MenuItemList</div>
                    break;

                case @Actions.ItemRequisition:
                <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.Store_MenuStoreTransaction">@ProjectSession.Resources.menu.Store_MenuStoreTransaction</a><span></span>@ProjectSession.Resources.label.ItemRequisition_TextBlockItemRequisitionList</div>
                    break;

                case @Actions.ItemRequisitionDetails:
                <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.Store_MenuStoreTransaction">@ProjectSession.Resources.menu.Store_MenuStoreTransaction</a><span></span><a href="@Url.Action(Actions.ItemRequisition, Controllers.Transaction, new { area = Areas.Transaction })" title="@ProjectSession.Resources.label.ItemRequisition_TextBlockItemRequisitionList">@ProjectSession.Resources.label.ItemRequisition_TextBlockItemRequisitionList</a><span></span>@ProjectSession.Resources.label.ItemRequisition_TextBlockItemRequisitionDetails</div>
                    break;

                case @Actions.CleaningInspection:
                <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.Store_MenuStoreTransaction">@ProjectSession.Resources.menu.Store_MenuStoreTransaction</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Cleaning_MenuCleaning">@ProjectSession.Resources.menu.Cleaning_MenuCleaning</a><span></span>@ProjectSession.Resources.menu.Cleaning_MenuCleaningInspection</div>
                    break;
                case @Actions.CleaningInspectionEdit:
                <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.Store_MenuStoreTransaction">@ProjectSession.Resources.menu.Store_MenuStoreTransaction</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Cleaning_MenuCleaning">@ProjectSession.Resources.menu.Cleaning_MenuCleaning</a><span></span><a href="@Url.Action(Actions.CleaningInspection, Controllers.Transaction, new { area = Areas.Transaction })" title="@ProjectSession.Resources.menu.Cleaning_MenuCleaningInspection">@ProjectSession.Resources.menu.Cleaning_MenuCleaningInspection</a><span></span>@ProjectSession.Resources.label.CleaningInspection_TextBlockCleaningInspectionList</div>
                    break;

                case @Actions.CleaningInspectionGroup:
                <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.Store_MenuStoreTransaction">@ProjectSession.Resources.menu.Store_MenuStoreTransaction</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Cleaning_MenuCleaning">@ProjectSession.Resources.menu.Cleaning_MenuCleaning</a><span></span>@ProjectSession.Resources.label.CleaningInspection_TextBlockCleaningInspectionGroupList</div>
                    break;
                case @Actions.CleaningInspectionGroupEdit:
                <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.Store_MenuStoreTransaction">@ProjectSession.Resources.menu.Store_MenuStoreTransaction</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Cleaning_MenuCleaning">@ProjectSession.Resources.menu.Cleaning_MenuCleaning</a><span></span><a href="@Url.Action(Actions.CleaningInspectionGroup, Controllers.Transaction, new { area = Areas.Transaction })" title="@ProjectSession.Resources.label.CleaningInspection_TextBlockCleaningInspectionGroupList">@ProjectSession.Resources.label.CleaningInspection_TextBlockCleaningInspectionGroupList</a><span></span>@ProjectSession.Resources.menu.Cleaning_MenuCleaningInspectionGroup</div>
                    break;
                case @Actions.GetTransactionListPage:
                <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.Store_MenuStoreTransaction">@ProjectSession.Resources.menu.Store_MenuStoreTransaction</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Store_MenuStore">@ProjectSession.Resources.menu.Store_MenuStore</a><span></span>@ProjectSession.Resources.menu.Store_MenuTransactionList</div>
                    break;
                case @Actions.GetTransactionIssuePage:
                <div class="breadcrumb">
                    <a href="#" title="@ProjectSession.Resources.menu.Store_MenuStoreTransaction">@ProjectSession.Resources.menu.Store_MenuStoreTransaction</a>
                    <span></span>
                    <a href="#" title="@ProjectSession.Resources.menu.Store_MenuStore">@ProjectSession.Resources.menu.Store_MenuStore</a>
                    <span></span>
                    <a href="@Url.Action(Actions.GetTransactionListPage, Controllers.Transaction, new { area = Areas.Transaction })" title="@ProjectSession.Resources.menu.Store_MenuTransactionList">@ProjectSession.Resources.menu.Store_MenuStoreTransaction</a>
                    <span></span>
                    @ProjectSession.Resources.label.ItemRequisition_TextBlockIssueItem
                </div>
                    break;
            }
            break;

        case @Controllers.Management:
            switch (@curAction)
            {
                case @Actions.LoginHistory:
                    <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Management_MenuManagement">@ProjectSession.Resources.menu.Management_MenuManagement</a><span></span>@ProjectSession.Resources.menu.LoginHistory_MenuLoginHistory</div>
                    break;
                case @Actions.ActiveSession:
                <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Management_MenuManagement">@ProjectSession.Resources.menu.Management_MenuManagement</a><span></span>@ProjectSession.Resources.menu.ActiveSession_MenuActiveSession</div>
                    break;
                case @Actions.LanguageTranslation:
                <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Management_MenuManagement">@ProjectSession.Resources.menu.Management_MenuManagement</a><span></span>@ProjectSession.Resources.menu.Translation_MenuLanguageTranslations</div>
                    break;
                case @Actions.UserList:
                <div class="breadcrumb" id="dvbreadEmployee" style="display: none;"><a href="#" title="@ProjectSession.Resources.menu.Store_MenuStoreTransaction">@ProjectSession.Resources.menu.Store_MenuStoreTransaction</a><span></span>@ProjectSession.Resources.menu.UserList_MenuUserList</div>
                <div class="breadcrumb" id="dvbreadUserList"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Management_MenuManagement">@ProjectSession.Resources.menu.Management_MenuManagement</a><span></span>@ProjectSession.Resources.menu.UserList_MenuUserList</div>
                    break;
                case @Actions.GetEmployeeByID:
                <div class="breadcrumb" id="dvbreadEmployeeDetails" style="display: none;"><a href="#" title="@ProjectSession.Resources.menu.Store_MenuStoreTransaction">@ProjectSession.Resources.menu.Store_MenuStoreTransaction</a><span></span><a href="#" onclick="redirectToList();" title=" @ProjectSession.Resources.menu.UserList_MenuUserList ">@ProjectSession.Resources.menu.UserList_MenuUserList</a><span></span>@ProjectSession.Resources.menu.Employee_MenuEmployee</div>
                <div class="breadcrumb" id="dvbreadUserDetails">
                    <a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a>
                    <span></span>
                    <a href="#" title="@ProjectSession.Resources.menu.Management_MenuManagement">@ProjectSession.Resources.menu.Management_MenuManagement</a>
                    <span></span>
                    <a href="@Url.Action(Actions.UserList, Controllers.Management, new { area = Areas.Management })" title="@ProjectSession.Resources.menu.UserList_MenuUserList">@ProjectSession.Resources.menu.UserList_MenuUserList</a>
                    <span></span>
                    @ProjectSession.Resources.menu.Reports_MenuEmployee_RequesterDetails
                </div>
                    break;
                case @Actions.UserGroupList:
                <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Management_MenuManagement">@ProjectSession.Resources.menu.Management_MenuManagement</a><span></span>@ProjectSession.Resources.menu.UserGroup_MenuUserGroups</div>
                    break;
                case @Actions.DatabaseAuditTrail:
                <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Management_MenuManagement">@ProjectSession.Resources.menu.Management_MenuManagement</a><span></span>@ProjectSession.Resources.menu.AuditTrail_MenuDatabaseAuditTrail</div>
                    break;

                case @Actions.Permissions:
                <div class="breadcrumb" id="dvbreadUserGroupPermission">
                    <a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a>
                    <span></span>
                    <a href="#" title="@ProjectSession.Resources.menu.Management_MenuManagement">@ProjectSession.Resources.menu.Management_MenuManagement</a>
                    <span></span>
                    <a href="@Url.Action(Actions.UserGroupList, Controllers.Management, new { area = Areas.Management })" title="@ProjectSession.Resources.menu.UserGroup_MenuUserGroups">@ProjectSession.Resources.menu.UserGroup_MenuUserGroups</a>
                    <span></span>
                    @ProjectSession.Resources.label.Employee_TabItemPermission
                </div>
                <div class="breadcrumb" id="dvbreadEmployeePermission">
                    <a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a>
                    <span></span>
                    <a href="#" title="@ProjectSession.Resources.menu.Management_MenuManagement">@ProjectSession.Resources.menu.Management_MenuManagement</a>
                    <span></span>
                    <a href="@Url.Action(Actions.UserList, Controllers.Management, new { area = Areas.Management })" title="@ProjectSession.Resources.menu.UserList_MenuUserList">@ProjectSession.Resources.menu.UserList_MenuUserList</a>
                    <span></span>
                    @ProjectSession.Resources.label.Employee_TabItemPermission
                </div>
                    break;
            }
            break;

        default:
            break;
    }
}
