﻿
<footer class="footer">
    <div class="footpad">
        <div class="col-sm-4 version">Version: 1.00</div>
        <div class="col-sm-8 copyright">Copyright &copy; 2016 All Rights Reserved </div>

    </div>
</footer>