﻿@using CMMS.Pages;
@using CMMS.Infrastructure;

<!--header start-->
<header id="header">
    <a id="menu-toggle" title="Menu toggle">
        <img src="@Url.Content("~/images/menu-icon.png")" alt="">
    </a>
    <div class="logo-img" title="NUB">
        <a href="@Url.Action(Actions.JobRequestList, Controllers.Transaction, new { area = string.Empty })"><img style="max-width:50px;max-height:34px;" src="@Url.Content(ProjectSession.HeaderLogo)" alt=""></a>
    </div>
    <div class="logo-text">
    <h2>
        @if (ProjectSession.LayOutLanguage == ProjectConfiguration.EnglishLayOut)
        { 
            @ProjectSession.HeaderNameEn.ToString();
        }
        else 
        {
            @ProjectSession.HeaderNameAr.ToString();
        }
        </h2>
        @*<h3>@ProjectSession.Resources.label.Common_TextBlockHeaderCPMMS</h3>*@
        <h3>@ProjectSession.Resources.label.Common_TextBlockHeaderSubtitle</h3>

    </div>


    <script type="text/x-kendo-template" id="templateQuickView">
        <li>
            #if(IsRead){#
            <a title="" style="cursor:pointer;" onclick="JumptoNotificationFromQuickView('#: WorkOrderNotificationID #', '#: WRWO #', '#: WOWRNo #');">
                #}else{#
                <a title="" style="cursor:pointer;" class="unread" onclick="JumptoNotificationFromQuickView('#: WorkOrderNotificationID #', '#: WRWO #', '#: WOWRNo #');">
                    #}#
                    <i class='img'><img src='@Url.Content("../Images/Notification_Type_#: NotificationTypeID #.png")' alt=''></i>
                    <p class='name'>
                        #: Title #
                    </p>
                    <p class='time'>#: Postedon #</p>
                </a>
</li>


    </script>


    <div class="hdr_right">
        <table>
            <tr>

                @*<td>      // Hide User setting tab options By: Akif519
                    <div class="dropdown notification-drop">
                        <a href="#" onclick="loadTotalNotificationCount();" class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <span class="no" id="spanNotificationCount">0</span>
                            <img src='@Url.Content("~/images/notification.png")' alt="sms">
                        </a>
                        <div class="dropdown-menu dropdown-menu-right spanNotificationTotalCount" aria-labelledby="dropdownMenu1">
                            <div class="total">@ProjectSession.Resources.label.UserNotification_TextBlockNotifications <span id="spanNotificationTotalCount">(0)</span></div>
                            @(Html.Kendo().ListView<CMMS.Model.WorkOrderNotification>()
                                .Name("NotificationQuickView")
                                .HtmlAttributes(new { @class = "notification", @id = "NotificationQuickView" })
                                .TagName("ul")
                                .ClientTemplateId("templateQuickView")
                                .Events(e => e.DataBound("onDataBoundQuickView"))
                                    .DataSource(dataSource =>
                                    {
                                        dataSource.Read(read => read.Action(Actions.GetNotificationListTop5, Controllers.Configurations, new { area = Areas.Configurations }).Data("BindParametersHeaderNotification").Type(System.Web.Mvc.HttpVerbs.Post));
                                        dataSource.PageSize(ProjectConfiguration.PageSize);
                                    })
                            )



                            <div class="view-all"><a href="@Url.Action(Actions.NotificationList, Controllers.Configurations, new { area = Areas.Configurations })" title="View all">@ProjectSession.Resources.label.UserNotification_TextBlockViewAll</a></div>
                        </div>
                    </div>
                </td>*@

                <td>
                    <div class="dropdown">
                        @*<a href="@Url.Action(Actions.NotificationList, Controllers.Configurations, new { area = Areas.Configurations })">
                            <img src="@Url.Content("~/images/warning.png")" alt="">
                        </a>*@
                        <a href="#" title="" class="hlink userinfo" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <span class="userimg">
                                 @if (Request.RawUrl.ToLower().Contains("/reports/report/_reportsearch") && !ProjectSession.UserImage.ToLower().Contains("default_user.jpg"))
                                 {
                                <img class="img-responsive" src="../@Url.Content(ProjectSession.UserImage)" alt="user">
                                 }
                                 else
                                 {
                                    <img class="img-responsive" src="@Url.Content(ProjectSession.UserImage)" alt="user">
                                 }
                            </span>
                            <span class="usertext">@ProjectSession.EmployeeName</span>
                            <span class="ar"></span>
                        </a>
                        <ul class="dropdown-menu urlink">
                            <li class="tp_ar"><span></span></li>
                            <li class="username">@ProjectSession.EmployeeName</li>
                            @*<li><a href="@Url.Action(Actions.GetEmployeeByID, CMMS.Pages.Controllers.Management, new { area = CMMS.Pages.Areas.Management, id = ProjectSession.EmployeeID })"><span class="glyphicon glyphicon-user"></span>My Account</a></li>
                            @if (Convert.ToBoolean(ProjectSession.TabAccess.Dashboard))
                            {
                                <li><a href="#" data-toggle="modal" data-target="#divAddWidgetModal" data-backdrop="static" onclick="OpenAddWidgetWindow();"><span class="glyphicon glyphicon-cog"></span>@ProjectSession.Resources.label.Common_TextBlockWidgetSetting</a></li> 
                            }*@
                            <li><a href="@Url.Action(Actions.Logout, Controllers.Account, new { area = string.Empty })"><span class="glyphicon glyphicon-off"></span>
                                @ProjectSession.Resources.menu.Common_MenuLogout
                            </a></li>
                            <li>
                                <div class="theme-colors">
                                    <p class="form-label">Theme:</p>
                                    <button id="blueButton" class="btn blue btn-circle @(ProjectSession.UserTheme == ProjectConfiguration.Blue ? "active" : string.Empty)" type="button" data-color="blue" onclick="ChangeTheme('@CMMS.Infrastructure.ProjectConfiguration.Blue');">&nbsp;</button>
                                    <button id="greenButton" class="btn green btn-circle @(ProjectSession.UserTheme == ProjectConfiguration.Green ? "active" : string.Empty)" type="button" data-color="green" onclick="ChangeTheme('@CMMS.Infrastructure.ProjectConfiguration.Green');">&nbsp;</button>
                                    <button id="grayButton" class="btn gray btn-circle @(ProjectSession.UserTheme == ProjectConfiguration.Gray ? "active" : string.Empty)" type="button" data-color="gray" onclick="ChangeTheme('@CMMS.Infrastructure.ProjectConfiguration.Gray');">&nbsp;</button>
                                </div>
                                <div class="language-block">
                                    <p class="form-label">Language:</p>
                                    @Html.DropDownList("Account", CMMS.Service.TranslationsService.LanguageForDropDown(), new { id = "ddlAccount", @class = "form-control" })
                                </div>
                                <div class="clearfix"></div>
                                <div class="date-toggle">
                                    <p class="form-label">Date:</p>
                                    <a class="@(ProjectSession.DateCulture == ProjectConfiguration.GregorianDate ? "active" : string.Empty)" href="#" id="GregorianDate" title="Gregorian" onclick="ChangeDateCulture('@ProjectConfiguration.GregorianDate');">Gregorian</a>
                                    <a class="@(ProjectSession.DateCulture == ProjectConfiguration.HijriDate ? "active" : string.Empty)" href="#" id="HijriDate" title="Hijri" onclick="ChangeDateCulture('@ProjectConfiguration.HijriDate');">Hijri</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </td>
                @*<td>
                    <div class="dropdown tp_setting">
                        <a href="@Url.Action(Actions.Help, Controllers.Help, new { area = Areas.Help })" title="Help" class="help" target="_blank">
                            <img src="@Url.Content("~/images/help-icom.png")" alt="">
                        </a>
                    </div>
                </td>*@
            </tr>
        </table>
    </div>
</header>
<!--Header end-->

<script>
    function OpenAddWidgetWindow() {
        $("#divAddWidgetModal").html('');
        var url = '@Url.Action(Actions._AddWidget, Controllers.Home, new { Area = string.Empty })';
        $("#divAddWidgetModal").load(url);
    }

    function onDataBoundQuickView()
    {}

    function loadTotalNotificationCount() {
        $.ajax({
            url: '@Url.Action(Actions.GetTotalNotificationListCount, Controllers.Configurations, new { area = Areas.Configurations })',
            type: "POST",
            dataType: "json",
            //data: addRequestVerificationToken({ id: 1 }),
            success: function (result) {                
                $(".spanNotificationTotalCount #spanNotificationTotalCount").html("(" + result[0].toString() + ")");
            },
            error: function (xhr, ajaxOptions, thrownError) {
                $("#spanNotificationTotalCount").html("(0)");
            }
        });
    }

    function JumptoNotificationFromQuickView(id, WRWOID, WRWONo) {
        $.ajax({
            url: '@Url.Action(Actions.MarkAsReadNotification, Controllers.Configurations, new { area = Areas.Configurations })',
            type: "POST",
            data: addRequestVerificationToken({ workOrderNotificationID: id }),
            dataType: "json",
            success: function (result) {

                if (WRWOID == 1) {
                    location.href = '@Url.Action(Actions.GetJobRequestById, CMMS.Pages.Controllers.Transaction, new { area = CMMS.Pages.Areas.Transaction })' + '?requestNo=' + WRWONo;
                }
                else if (WRWOID == 2) {
                    location.href = '@Url.Action(Actions.GetJOByJobOrderNo, CMMS.Pages.Controllers.Transaction, new { area = CMMS.Pages.Areas.Transaction })' + '?workOrderNo=' + WRWONo + '&assetID=0&objWorkOrder=null';
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                showErrorMessage();
            }
        });
    }
  
    function ReBindKendoListView(id) {        
        $('#' + id).data('kendoListView').dataSource.read();
        $('#' + id).data('kendoListView').refresh();
    }

    function BindParametersHeaderNotification() {
        //return {
        //    __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        //};
    }

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };

</script>