﻿@using System.Web.Script.Serialization;
@using CMMS.Infrastructure
@using CMMS.Pages
@using CMMS.Model


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <title>NUB.webreq System</title>
    <link rel="shortcut icon" href="~/images/favicon.ico" />

    @Styles.Render("~/Content/kendo/kendocss")
    @Styles.Render("~/Content/bootstrapCSS")
    @Styles.Render("~/Content/BundleCSS")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryUI")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/bootstrapDeleteConform")
    <script src="~/Scripts/ddaccordion.js"></script>
    @Scripts.Render("~/bundles/general")
    @Scripts.Render("~/bundles/kendo")
    @Scripts.Render("~/bundles/common")
    @Scripts.Render("~/bundles/advancedSearch")
    <script type="text/javascript">
        var intPageID;
        var blnHideProcessing = false;
        var blnShowProcessing = true;
    </script>
</head>
<body class="@ProjectSession.UserTheme" id="@ProjectSession.LayOutLanguage" onbeforeunload="$('#loading').show();">

    <div class="loaderDiv" id="loading">
        <div class="cssload-piano">
            <div class="cssload-rect1"></div>
            <div class="cssload-rect2"></div>
            <div class="cssload-rect3"></div>
        </div>
    </div>
    <!--wrapper start-->
    <div id="wrapper">
        <!--header start-->
        @Html.Partial(PartialViews.Header)
        <!--Header end-->
        <!-- main area start -->
        <div id="main">
            <!-- Sidebar -->
            @Html.Partial(PartialViews.LeftMenu)
            <!-- Sidebar end -->
            <!-- page content start -->
            <div id="page-content-wrapper">
                @Html.Partial(CMMS.Pages.PartialViews.BreadCrumb)
                <div class="contentpad">
                    <div id="divMessage"></div>
                    <input type="hidden" id="hiddenDefaultDateFormat" value="@ProjectConfiguration.DefaultDateFormat" />
                    <input type="hidden" id="hiddenDateCulture" value="@ProjectSession.DateCulture" />
                    @RenderBody()

                    @if (ViewContext.RouteData.DataTokens != null && ViewContext.RouteData.DataTokens.Count > 0 && ViewContext.RouteData.DataTokens["area"].ToString() == "reports")
                    {
                        @Scripts.Render("~/bundles/bootstrap")
                        @Scripts.Render("~/bundles/kendo")
                    }

                </div>
            </div>
            <!-- page content end -->

        </div>
        <!--main area end-->
        <!--footer start-->
        @Html.Partial(PartialViews.Footer)
        <!--footer end-->
    </div>
    <!--wrapper end-->
    <!-- Add Widget Modal-->
    <div class="modal fade" id="divAddWidgetModal" role="dialog"></div>
    <div id="SecondsUntilExpire" style="display:none;">
    </div>

    <script src="~/Scripts/jquery.slimscroll.js"></script>

    <script type="text/javascript">

        $.fn.modal.prototype.constructor.Constructor.DEFAULTS.backdrop = 'static';
        $.fn.modal.prototype.constructor.Constructor.DEFAULTS.keyboard = true;
        var exportFlag = false;
        var colID;

        var active = '@ProjectSession.Resources.label.Common_TextBlockActiveStatus';
        var notActive = '@ProjectSession.Resources.label.Common_TextBlockNotActiveStatus';
        var isDefault = '@ProjectSession.Resources.label.Common_TextBlockIsDefault';
        var isNotDefault = '@ProjectSession.Resources.label.Common_TextBlockIsNotDefault';
        var txtYes = '@ProjectSession.Resources.label.Common_TextBlockYes';
        var txtNo = '@ProjectSession.Resources.label.Common_TextBlockNo';
        var isFinalLevel = '@ProjectSession.Resources.label.Common_TextBlockStatusIsFinalLevel';
        var isNotFinalLevel = '@ProjectSession.Resources.label.Common_TextBlockStatusIsNotFinalLevel';

        var validator = "";
        var okText = '@ProjectSession.Resources.label.PM_ButtonOK';
        var cancelText = '@ProjectSession.Resources.label.Common_ButtonCancel';
        var msgText = '@ProjectSession.Resources.message.Common_MsgDeleteConfirm';
        var confirmDirection = '@ProjectSession.Direction';
        var imageServerPath = '@Url.Content("~/images/#type#.png")';
        var changeLanguageURL = "@Url.Action(Actions.SelectLanguage, Controllers.Home, new { Area = string.Empty })";
        var dangerType = '@SystemEnum.MessageType.danger.ToString()';

        /* Advance Filter Variable Start*/

        var filterUrl = '@Url.Action(Actions.GetSearchDataByPageID, Controllers.Configurations, new { area = Areas.Configurations })';
        var clearSearchUrl = '@Url.Action(Actions.DeleteAdvancedSearch, Controllers.Configurations, new { area = Areas.Configurations })';
        var saveSearchUrl = '@Url.Action(Actions.SaveAndAdvancedSearch, Controllers.Configurations, new { area = Areas.Configurations })';
        var partialViewUrl = '@Url.Action(Actions._AdvancedSearch, Controllers.Configurations, new { Area = Areas.Configurations })';
        var dateFormat = '@ProjectConfiguration.DefaultDateFormat';
        var employeeId = '@ProjectSession.EmployeeID';


        var projectCulture = '@(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "ar" : "en")';
        var projectCultureKendoClass = '@ProjectSession.CultureKendoClass';

        var numericCondition = JSON.parse(JSON.stringify([{ "text": "Is Equal To", "value": "@SystemEnum.SearchFieldsOperator.IsEqualTo.GetHashCode()" },
                           { "text": "IsNotEqualTo", "value": "@SystemEnum.SearchFieldsOperator.IsNotEqualTo.GetHashCode()" },
                       { "text": "Greater Than", "value": "@SystemEnum.SearchFieldsOperator.GreaterThan.GetHashCode()" },
                       { "text": "Less Than", "value": "@SystemEnum.SearchFieldsOperator.LessThan.GetHashCode()" },
                       { "text": "Between", "value": "@SystemEnum.SearchFieldsOperator.Between.GetHashCode()" },
                       { "text": "Greater Than Equal To", "value": "@SystemEnum.SearchFieldsOperator.GreaterThanEqualTo.GetHashCode()" },
                       { "text": "Less Than Equal To", "value": "@SystemEnum.SearchFieldsOperator.LessThanEqualTo.GetHashCode()" }, ]));

        var stringCondition = JSON.parse(JSON.stringify([{ "text": "Contains", "value": "@SystemEnum.SearchFieldsOperator.Contains.GetHashCode()" },
                { "text": "Is Equal To", "value": "@SystemEnum.SearchFieldsOperator.IsEqualTo.GetHashCode()" },
                                    { "text": "Is Not Equal To", "value": "@SystemEnum.SearchFieldsOperator.IsNotEqualTo.GetHashCode()" },

                            { "text": "Starts With", "value": "@SystemEnum.SearchFieldsOperator.StartsWith.GetHashCode()" }]));

        var DropdownCondition = JSON.parse(JSON.stringify([{ "text": "Contains", "value": "@SystemEnum.SearchFieldsOperator.Contains.GetHashCode()" },
                                        { "text": "Not Contains", "value": "@SystemEnum.SearchFieldsOperator.NotContains.GetHashCode()" }]));

        /* Advance Filter Variable End*/

        $("#menu-toggle").click(function (e) {                                    
            e.preventDefault();
            $("#main").toggleClass("active");
            $("#wrapper").toggleClass("footspac");      
            $('[data-role="grid"]').each(function () {
                var gridId = $(this).attr("id");
                // Translation > Store > Translation > Received  Menu Hide not working because of datasource.
                if (gridId != "TempIssuesGrid" && gridId != "TempReceiveGrid") {
                    setTimeout(function () {
                        $('#' + gridId).data('kendoGrid').dataSource.read();
                        $('#' + gridId).data('kendoGrid').refresh();
                    }, 100);
                }
            });
        });

        function ChangeLanguage(selectedLanguage) {
            $.ajax({
                url: changeLanguageURL,
                type: "POST",
                dataType: "json",
                data: { language: selectedLanguage, currency: "" },
                success: function (response) {
                    window.location.reload();
                }
            });
        }

        function ChangeDateCulture(selectedDateCulture) {
            $('#hiddenDateCulture').val(selectedDateCulture);
            if (selectedDateCulture == '@ProjectConfiguration.GregorianDate') {
                $("#GregorianDate").addClass('active');
                $("#HijriDate").removeClass('active');
            } else {
                $("#GregorianDate").removeClass('active');
                $("#HijriDate").addClass('active');
            }
            $.ajax({
                url: "@Url.Action(Actions.SelectDateCulture, Controllers.Home, new { Area = string.Empty })",
                type: "POST",
                dataType: "json",
                data: { dateCulture: selectedDateCulture },
                success: function (response) {
                    window.location.reload();
                }
            });
        }

        function ChangeTheme(selectedTheme) {
            if (selectedTheme == '@ProjectConfiguration.Green') {
                $("#greenButton").addClass('active');
                $("#blueButton").removeClass('active');
                $("#grayButton").removeClass('active');
            }
            else if (selectedTheme == '@ProjectConfiguration.Gray') {
                $("#grayButton").addClass('active');
                $("#greenButton").removeClass('active');
                $("#blueButton").removeClass('active');
            }
            else {
                $("#blueButton").addClass('active');
                $("#greenButton").removeClass('active');
                $("#grayButton").removeClass('active');
            }
            $('body').attr('class', selectedTheme);
            $.ajax({
                url: "@Url.Action("SelectTheme", Controllers.Home, new { Area = string.Empty })",
                type: "POST",
                dataType: "json",
                data: { theme: selectedTheme },
                success: function (response) {
                }
            });
        }

        $(document).ready(function () {
            $("#ddlAccount").val('@ProjectSession.Culture');
            IsAdvanceSearch();
        });

        function IsAdvanceSearch() {
            $.ajax({
                type: "POST",
                url: '@Url.Action("CheckAdvanceSearch", "Account", new { area = string.Empty })',
                dataType: "json",
                async: false,
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    if (data.IsAdvanceSearch) {
                        $('.btn-search').css('background-image', 'url(../images/Asearch-icon.gif)');
                    }
                    else {
                        $('.btn-search').css('background-image', 'url(../images/search-icon.png)');
                    }
                },
                error: function (request, ajaxOptions, thrownError) {
                }
            });
        }

        function showErrorMessage() {
            hideLoader();
            ShowMessage('@SystemEnum.MessageType.danger.ToString()', '@ProjectSession.Resources.message.Common_MsgErrorContactAdmin', "#divMessage");
            $("[data-dismiss=modal]").trigger({ type: "click" });
        }


        $("#ddlAccount").change(function () {
            ChangeLanguage($("#ddlAccount").val());
        });

        function showLoader() {
            $('#loading').show();
        }

        function hideLoader() {
            $('#loading').hide();
        }

        $(document).ajaxStart(function (event, request, opt) {
            //if (blnShowProcessing) {
            // showLoader();
            //}
            //else { blnShowProcessing = true; }
        });

        $(document).ajaxSuccess(function (event, request, opt) {
            if (blnHideProcessing) {
                hideLoader();
            }
            else { blnHideProcessing = true; }
        });

        $(document).ajaxSend(function (event, request, opt) {
            if (opt.type != null) {

                if (opt.url != "@Url.Action(CMMS.Pages.Actions.SessionExpiredForCustomer, CMMS.Pages.Controllers.Account, new { area = string.Empty })" && opt.url.toUpperCase().indexOf('JAVASCRIPT:VOID(0)') == -1) {
                    showLoader();
                    blnHideProcessing = true;
                    blnShowProcessing = true;
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action(CMMS.Pages.Actions.SessionExpiredForCustomer, CMMS.Pages.Controllers.Account, new { area = string.Empty })',
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            //alert('in session success');
                            blnHideProcessing = false;
                            if (data.IsExpired) {
                                var url = '@Url.Action(CMMS.Pages.Actions.Login, CMMS.Pages.Controllers.Account, new { area = string.Empty })';
                                window.location = url;
                            }
                        },
                        error: function (request, ajaxOptions, thrownError) {
                            hideLoader();
                        }
                    });
                }
                else {
                    if (opt.url.toUpperCase().indexOf('JAVASCRIPT:VOID(0)') > -1)
                    { hideLoader(); }
                    //blnShowProcessing = false;
                    //blnHideProcessing = false;
                }
            }
        });

        $(function () {
            $(window).off('load').on('load', function () { $('#loading').hide(); });
        });


        function onDataBoundQuickView(arg) {
            //ProperPagingForListViewQuickView(this);
        }



        function ProperPagingForListViewQuickView(object) {
            if (object.dataSource.view().length == 0) {
                var currentPage = object.dataSource.page();
                if (currentPage > 1) {
                    object.dataSource.page(currentPage - 1);
                }
            }

            if (object.dataSource.total() == 0) {
                $(object.wrapper)
                    .append('No Records Found');
                object.pager.element.hide();
            }
            else {
                object.pager.element.show();
            }
        }

        $(document).ready(function () {

            loadUnreadNotificationCount();
           // loadTotalNotificationCount();

        });

        function loadUnreadNotificationCount()
        {
            $.ajax({
                url: '@Url.Action(Actions.GetUnreadNotificationListCount, Controllers.Configurations, new { area = Areas.Configurations })',
                type: "POST",
                dataType: "json",                
                success: function (result) {
                    $("#spanNotificationCount").html(result);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    $("#spanNotificationCount").html(0);
                }
            });

        }
           

       
      


    </script>
    <script type="text/javascript" src="https://cdn.ywxi.net/js/1.js" async></script>

    <script type="text/javascript">

        var IDLE_TIMEOUT = (@Session.Timeout * 60); //seconds

        if(IDLE_TIMEOUT <= 0)
        {
            IDLE_TIMEOUT = 60;
        }

        var _idleSecondsCounter = 0;
        document.onclick = function () {
            _idleSecondsCounter = 0;
        };
        document.onmousemove = function () {
            _idleSecondsCounter = 0;
        };
        document.onkeypress = function () {
            _idleSecondsCounter = 0;
        };
        window.setInterval(CheckIdleTime, 1000);

        function CheckIdleTime() {
            _idleSecondsCounter++;
            var oPanel = document.getElementById("SecondsUntilExpire");
            if (oPanel)
                oPanel.innerHTML = (IDLE_TIMEOUT - _idleSecondsCounter) + "";
            if (_idleSecondsCounter >= IDLE_TIMEOUT) {

                $.ajax({
                    url: "@Url.Action(Actions.SessionTimeOutLogout, Controllers.Account, new { area = string.Empty })",
                    type: "POST",
                    dataType: "json",   
                    async: false,
                    success: function (response) {
                        alert("Logout. Session Timeout. Please try again.");
                    }
                });                
                document.location.href = "@Url.Action(Actions.Login, Controllers.Account, new { area = string.Empty })";
            }
        }

    </script>

</body>
</html>
