﻿@model System.Web.Mvc.HandleErrorInfo
@using CMMS.Infrastructure;
@using CMMS.Pages;
@using CMMS.Service
@{
    ViewBag.Title = "Error";
}
<style type="text/css">
    .invdata {
        padding-left: 10px;
        padding-top: 5px;
        vertical-align: middle;
        font-size: 16px;
        color: #4C6388;
        display: inline-block;
    }
</style>
<div class="head1"><h1>@ProjectSession.Resources.label.ErrorLog_TextBlockError</h1></div>
<div>
    <img src="@Url.Content("~/Images/Error-F-64.png")" class="img-responsive" title="@ViewBag.Title" alt="@ViewBag.Title" style="display:inline-block;" />
    <span class="invdata">
        @ProjectSession.Resources.message.ErrorLog_MsgAppError1
        <br />@ProjectSession.Resources.message.ErrorLog_MsgAppError2
    </span>
    <br />
    <a class="btn btn-primary" href="@Url.Action(Actions.Dashboard, Controllers.Home, new { area = string.Empty })" style="margin-top:20px;margin-left:0px">@ProjectSession.Resources.label.ErrorLog_TextBlockGoToHome</a>
    <div id="errorDetail" style="display: none; border: 1px solid #c3c3c3;  margin: auto; padding: 15px; text-align: left;">
        <strong>Error Message:</strong> @Model.Exception.Message
        <br />
        <strong>Error Source:</strong> @Model.Exception.Source
        <br />
        <a href="javascript:void(0)" onclick="ShowStackTrace();" id="aStackTrace" style="text-decoration:none;">Show Stack Trace</a>
        <p id="stackTrace" style="display: none;">
            <strong>Error Stack Trace:</strong>    @Model.Exception.StackTrace
        </p>
    </div>
</div>
 

