﻿@using CMMS.Infrastructure;
@using CMMS.Pages;
@using CMMS.Service
@{
    ViewBag.Title = "Page Not Found";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .invdata {
        padding-left: 10px;
        padding-top:5px;
        vertical-align: middle;
        font-size: 16px;
        color: #4C6388;
        display: inline-block;
    }
</style>
@*<div class="head1"><h1>@ProjectSession.Resources.label.ErrorLog_TextBlockPageNotFound</h1></div>
<div>
    <img src="@Url.Content("~/Images/404-F-64.png")" class="img-responsive" title="@ViewBag.Title" alt="@ViewBag.Title" style="display:inline-block;" />
    <span class="invdata">
        @ProjectSession.Resources.message.ErrorLog_MsgAppPageNotFound1<br />
        @ProjectSession.Resources.message.ErrorLog_MsgAppPageNotFound2
    </span>
    <br />
    <a class="btn btn-primary" href="@Url.Action(Actions.Dashboard, Controllers.Home, new { area = string.Empty })" style="margin-top:20px;">@ProjectSession.Resources.label.ErrorLog_TextBlockGoToHome</a>
</div>*@
