﻿@using CMMS.Infrastructure;
@using CMMS.Pages;
@model CMMS.Model.JobOrderTypeChartFilterModal
<style>
    .calendars-popup {
        z-index: 100000 !important;
    }
</style>
<script>
    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };

    function getSiteForJobSearch() {
        var url;
        if ('@ProjectSession.IsCentral' == 'true') {
            url = '@Url.Action(Actions.GetCitiesByEmployee, Controllers.Configurations, new { area = Areas.Configurations, @cityID = @Model.L2ID })';
        }
        else {
            url = '@Url.Action(Actions.GetAllCities, Controllers.Configurations, new { area = Areas.Configurations, @cityID = @Model.L2ID })';
        }
        $.ajax({
            url: url,
            type: 'Post',
            cache: false,
            async: false,
            success: function (result) {
                $('#L2ID').data('kendoDropDownList').dataSource.data(result);
                $('#L2ID').data('kendoDropDownList').value('@Model.L2ID');
                $('#L2ID').data('kendoDropDownList').trigger("change");
            },
            error: function (xhr, ajaxOptions, thrownError) {
                showErrorMessage();
            }
        });
    }

    function getMaintDiv() {
        $.ajax({
            url: '@Url.Action(Actions.GetMaintenanceDivisions, Controllers.Configurations, new { area = Areas.Configurations })',
            type: 'Post',
            cache: false,
            async: false,
            success: function (result) {
                $('#MaintDivID').data('kendoDropDownList').dataSource.data(result);
                $('#MaintDivID').data('kendoDropDownList').value('@Model.MaintDivID');
                $('#MaintDivID').data('kendoDropDownList').trigger("change");
            },
            error: function (xhr, ajaxOptions, thrownError) {
                showErrorMessage();
            }
        });
    }

    function ChangeMaintDiv(e) {
        $.ajax({
            url: '@Url.Action("GetMaintDeptByDivisionsID", Controllers.Home, new { area = string.Empty })',
            type: 'Post',
            data: addRequestVerificationToken({ maintDivisionId: $("#MaintDivID").val() == "" ? 0 : $("#MaintDivID").val() }),
            cache: false,
            async: false,
            success: function (result) {
                $('#MaintDeptID').data('kendoMultiSelect').dataSource.data(result);
                if ('@Model.MaintDeptID' != null) {
                    var val = '@Model.MaintDeptID';
                    var ps = val.split(',');
                    $('#MaintDeptID').data('kendoMultiSelect').value(ps);
                    ChangeMaintDept();
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                showErrorMessage();
            }
        });
    }

    function ChangeMaintDept(e) {
        var maintDeptIds = $("#MaintDeptID").val();
        if (maintDeptIds != null) {
            maintDeptIds = $("#MaintDeptID").val().join();
        }

        $.ajax({
            url: '@Url.Action("GetMaintSubDeptByDeptsID", Controllers.Home, new { area = string.Empty })',
            type: 'Post',
            data: addRequestVerificationToken({ maintDeptid: maintDeptIds == "" ? 0 : maintDeptIds }),
            cache: false,
            async: false,
            success: function (result) {
                $('#MaintSubDeptID').data('kendoMultiSelect').dataSource.data(result);
                if ('@Model.MaintSubDeptID' != null) {
                    var val = '@Model.MaintSubDeptID';
                    var ps = val.split(',');
                    $('#MaintSubDeptID').data('kendoMultiSelect').value(ps);
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                showErrorMessage();
            }
        });
    }
</script>
<div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" title="@ProjectSession.Resources.label.Common_ButtonClose"></button>
            <h4 class="modal-title">Search</h4>
        </div>
        <form role="form" id="frmSaveJobOrderTypeFiltter">
            @Html.AntiForgeryToken()
            <div class="modal-body">
                <div id="Highlights" class="tab-pane active" role="tabpanel">
                    <div class="form-horizontal">
                        <div id="divModelError"></div>
                        @Html.HiddenFor(o => o.reportID)
                        @Html.HiddenFor(o => o.DashboardRepotMenuID)
                        <div class="form-group">
                            <label class="col-sm-4 control-label">@ProjectSession.Resources.label.JobRequest_TextBlockCityCode</label>
                            <div class="col-sm-8">
                                <div class="@ProjectSession.CultureKendoClass">
                                    @(Html.Kendo().DropDownListFor(m => m.L2ID)
                                    .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                    .DataTextField("L2Code")
                                    .DataValueField("L2ID")
                                    .HtmlAttributes(new { style = "width: 100%" })
                                    .Template("#= KendoDDLTemplate(data.L2Code ,data.L2name, data.L2Altname) #")
                                    .Value(Convert.ToString(Model.L2ID))
                                    )
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">@ProjectSession.Resources.label.JobOrder_TextBlockJODateFrom</label>
                            <div class="col-sm-8">
                                <div class="input-group date-pick">
                                    @Html.TextBoxFor(model => model.JoDateFrom, String.Format("{0:" + ProjectConfiguration.DefaultDateFormat + "}", Model.JoDateFrom), new { @id = "dtStartDate", @class = "form-control calendarsPicker", @placeholder = ProjectConfiguration.DefaultDateFormat })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">@ProjectSession.Resources.label.JobOrder_TextBlockJODateTo</label>
                            <div class="col-sm-8">
                                <div class="input-group date-pick">
                                    @Html.TextBoxFor(model => model.JoDateTo, String.Format("{0:" + ProjectConfiguration.DefaultDateFormat + "}", Model.JoDateTo), new { @id = "dtEndDate", @class = "form-control calendarsPicker", @placeholder = ProjectConfiguration.DefaultDateFormat })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer box-footer">
                <button type="submit" class="btn btn-primary" id="btnSave"><span>@ProjectSession.Resources.label.Common_TextBlockSearch</span></button>
                <button type="button" class="btn btn-default" data-dismiss="modal">@ProjectSession.Resources.label.Common_ButtonClose</button>
            </div>
        </form>
    </div>
</div>
<script src="~/Scripts/dashboard.js"></script>
<script>
    $(document).ready(function () {
        getSiteForJobSearch();
        CreateCalendarsPicker();
    });

    $('#frmSaveJobOrderTypeFiltter').on('submit', function (e) {
        if (e.isDefaultPrevented()) {
            // handle the invalid form...
        } else {

            var JoStartDate = $("#dtStartDate").val();
            var JoEndDate = $("#dtEndDate").val();

            var changedObj = {
                DashboardRepotMenuID: $("#DashboardRepotMenuID").val(),
                reportID: $("#reportID").val(),
                L2ID: $("#L2ID").val(),
                JoDateFrom: $("#dtStartDate").val(),
                JoDateTo: $("#dtEndDate").val(),
            };

            if (JoStartDate == "" || JoEndDate == "") {
                if (JoStartDate == "") {
                    ShowMessage('@SystemEnum.MessageType.danger.ToString()', '@ProjectSession.Resources.message.JobOrder_MsgJOStartDateReq', "#divModelError");
                }
                else {
                    ShowMessage('@SystemEnum.MessageType.danger.ToString()', '@ProjectSession.Resources.message.JobOrder_MsgJOToDateReq', "#divModelError");
                }
            }
            else {
                if (validateDateFormat(JoStartDate) && validateDateFormat(JoEndDate)) {
                    if (new Date(JoStartDate) > new Date(JoEndDate)) {
                        ShowMessage('@SystemEnum.MessageType.danger.ToString()', '@ProjectSession.Resources.message.AccountCode_MsgValidStartEndDate', "#divModelError");
                        e.preventDefault();
                        return false;
                    }
                    else {
                        $.ajax({
                            url: '@Url.Action(Actions.RptCleaningInspectionDetailListFilter, Controllers.ReportCleaning, new { area = Areas.Report })',
                            data: addRequestVerificationToken(changedObj),
                            cache: false,
                            type: 'POST',
                            success: function (result) {
                                window.location.href = '@Url.Action(Actions.RptCleaningInspectionDetailList, Controllers.ReportCleaning, new { area = Areas.Report })';
                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                showErrorMessage();
                            }
                        });
                    }
                }
                else {
                    ShowMessage('@SystemEnum.MessageType.danger.ToString()', '@ProjectSession.Resources.message.Common_MsgValidFormatDate', "#divModelError");
                }
            }
            e.preventDefault();
        }
    })
</script>
