﻿@using CMMS.Pages;
@using CMMS.Infrastructure;
@{
    var curController = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
    var curAction = HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString();
}

@{
    switch (@curController)
    {
        case @Controllers.Configurations:
            switch (@curAction)
            {
                case @Actions.ClientDetail:
    <div class="breadcrumb"><a href="@Url.Action(Actions.ClientList, Controllers.Configurations, new { area = Areas.Configurations })" title="Setups_Configurations_MenuSetupsConfigurations">Client</a><span></span>ClientDetail</div>
                    break;
                case @Actions.ClientList:
                <div class="breadcrumb"><a href="#" title="Setups_Configurations_MenuSetupsConfigurations">Client</a><span></span>ClientList</div>
                    break;
                case @Actions.AdminList:
                <div class="breadcrumb"><a href="#" title="Setups_Configurations_MenuSetupsConfigurations">Admin</a><span></span>AdminList</div>
                    break;
                case @Actions.AdminUserEdit:
                <div class="breadcrumb"><a href="@Url.Action(Actions.AdminList, Controllers.Configurations, new { area = Areas.Configurations })" title="Setups_Configurations_MenuSetupsConfigurations">Admin</a><span></span>AdminEdit</div>
                    break;
                @*case @Actions.Area:
    <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span>@ProjectSession.Resources.menu.Area_MenuArea</div>
                    break;
                case @Actions.SectorList:
    <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span>@ProjectSession.Resources.menu.Setup_MenuSector</div>
                    break;
                case @Actions.MaintenanceDivision:
    <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span>@ProjectSession.Resources.menu.MaintDivision_MenuMaintenanceDivision</div>
                    break;
                case @Actions.MaintenanceDepartment:
    <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span>@ProjectSession.Resources.menu.MaintenanceDept_MenuMaintenanceDepartments</div>
                    break;
                case @Actions.MaintenanceGroup:
    <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span>@ProjectSession.Resources.menu.MaintenanceGroup_MenuMaintenanceGroups</div>
                    break;
                case @Actions.FailureCauseList:
    <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span>@ProjectSession.Resources.menu.FailureCodes_MenuFailureCodes</div>
                    break;
                case @Actions.Suppliers:
    <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span>@ProjectSession.Resources.menu.Supplier_MenuSuppliersContractors</div>
                    break;
                case @Actions._EditSuppliers:
    <div class="breadcrumb">
        <a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span>
        <a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span>
        <a href="@Url.Action(Actions.Suppliers, Controllers.Configurations, new { area = Areas.Configurations })" title="@ProjectSession.Resources.menu.Supplier_MenuSuppliersContractors">@ProjectSession.Resources.menu.Supplier_MenuSuppliersContractors</a><span></span>
        @ProjectSession.Resources.menu.Reports_MenuSupplierDetails
    </div>
                    break;
                case @Actions.MaintenanceSubDepartment:
    <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span>@ProjectSession.Resources.menu.MaintSubDept_MenuMaintenanceSubDeparments</div>
                    break;
                case @Actions.CostCenter:
    <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span>@ProjectSession.Resources.menu.CostCenter_MenuCostCenters</div>
                    break;
                case @Actions.EmployeeCategory:
    <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Employee_MenuEmployeeUserSetups">@ProjectSession.Resources.menu.Employee_MenuEmployeeUserSetups</a><span></span>@ProjectSession.Resources.menu.Employee_MenuEmployeeCategory</div>
                    break;
                case @Actions.EmployeeStatus:
    <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Employee_MenuEmployeeUserSetups">@ProjectSession.Resources.menu.Employee_MenuEmployeeUserSetups</a><span></span>@ProjectSession.Resources.menu.Employee_MenuEmployeeStatus</div>
                    break;
                case @Actions.SiteClass:
    <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span><a href="#" title="@ProjectSession.Resources.menu.City_MenuCitySetups">@ProjectSession.Resources.menu.City_MenuCitySetups</a><span></span>@ProjectSession.Resources.menu.City_MenuCityClass</div>
                    break;
                case @Actions.Site:
    <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span><a href="#" title="@ProjectSession.Resources.menu.City_MenuCitySetups">@ProjectSession.Resources.menu.City_MenuCitySetups</a><span></span>@ProjectSession.Resources.menu.City_MenuCity</div>
                    break;
                case @Actions.AssetCategoriesList:
    <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Asset_MenuAssetSetups">@ProjectSession.Resources.menu.Asset_MenuAssetSetups</a><span></span>@ProjectSession.Resources.menu.Asset_MenuAssetCategories</div>
                    break;
                case @Actions.AssetSubCategoriesList:
    <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Asset_MenuAssetSetups">@ProjectSession.Resources.menu.Asset_MenuAssetSetups</a><span></span>@ProjectSession.Resources.menu.Asset_MenuAssetSubCategories</div>
                    break;
                case @Actions.AssetStatusList:
    <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Asset_MenuAssetSetups">@ProjectSession.Resources.menu.Asset_MenuAssetSetups</a><span></span>@ProjectSession.Resources.menu.Asset_MenuAssetStatus</div>
                    break;
                case @Actions.AssetClassList:
    <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Asset_MenuAssetSetups">@ProjectSession.Resources.menu.Asset_MenuAssetSetups</a><span></span>@ProjectSession.Resources.menu.Asset_MenuAssetClass</div>
                    break;
                case @Actions.AssetConditionsList:
    <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Asset_MenuAssetSetups">@ProjectSession.Resources.menu.Asset_MenuAssetSetups</a><span></span>@ProjectSession.Resources.menu.Asset_MenuAssetConditions</div>
                    break;
                case @Actions.CriticalityList:
    <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Asset_MenuAssetSetups">@ProjectSession.Resources.menu.Asset_MenuAssetSetups</a><span></span>@ProjectSession.Resources.menu.Asset_MenuAssetCriticality</div>
                    break;
                case @Actions.WarrantyContractList:
    <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Asset_MenuAssetSetups">@ProjectSession.Resources.menu.Asset_MenuAssetSetups</a><span></span>@ProjectSession.Resources.menu.Asset_MenuAssetWarrantyContract</div>
                    break;
                case @Actions.Stores:
    <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Asset_MenuAssetSetups">@ProjectSession.Resources.menu.Store_MenuStoreSetups</a><span></span>@ProjectSession.Resources.menu.Store_MenuStores</div>
                    break;
                case @Actions.ItemType:
    <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Asset_MenuAssetSetups">@ProjectSession.Resources.menu.Store_MenuStoreSetups</a><span></span>@ProjectSession.Resources.menu.ItemType_MenuPartTypes</div>
                    break;
                case @Actions.ItemSubType:
    <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Asset_MenuAssetSetups">@ProjectSession.Resources.menu.Store_MenuStoreSetups</a><span></span>@ProjectSession.Resources.menu.ItemSubType_MenuPartSubTypes</div>
                    break;
                case @Actions.ItemSection:
    <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Asset_MenuAssetSetups">@ProjectSession.Resources.menu.Store_MenuStoreSetups</a><span></span>@ProjectSession.Resources.menu.Location_MenuItemLocations</div>
                    break;
                case @Actions.JobPriority:
    <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Management_MenuJobManagementSetups">@ProjectSession.Resources.menu.Management_MenuJobManagementSetups</a><span></span>@ProjectSession.Resources.menu.JobPriority_MenuJobPriority</div>
                    break;
                case @Actions.JobStatus:
    <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Management_MenuJobManagementSetups">@ProjectSession.Resources.menu.Management_MenuJobManagementSetups</a><span></span>@ProjectSession.Resources.menu.JobStatus_MenuJobStatus</div>
                    break;
                case @Actions.JobType:
    <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Management_MenuJobManagementSetups">@ProjectSession.Resources.menu.Management_MenuJobManagementSetups</a><span></span>@ProjectSession.Resources.menu.JobType_MenuJobType</div>
                    break;
                case @Actions.JobTrade:
    <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Management_MenuJobManagementSetups">@ProjectSession.Resources.menu.Management_MenuJobManagementSetups</a><span></span>@ProjectSession.Resources.menu.JobTrade_MenuJobTrade</div>
                    break;
                case @Actions.PRStatusList:
    <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span><a href="#" title="@ProjectSession.Resources.menu.PurchaseRequisition_MenuPRReqStatus">@ProjectSession.Resources.menu.Setups_Configurations_MenuPurchaseRequisition</a><span></span>@ProjectSession.Resources.menu.PurchaseRequisition_MenuPRReqStatus</div>
                    break;
                case @Actions.PRAuthStatusList:
    <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span><a href="#" title="@ProjectSession.Resources.menu.PurchaseRequisition_MenuPRReqStatus">@ProjectSession.Resources.menu.Setups_Configurations_MenuPurchaseRequisition</a><span></span>@ProjectSession.Resources.menu.PurchaseRequisition_MenuPRStatus</div>
                    break;
                case @Actions.PRApprovalLevelList:
    <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span><a href="#" title="@ProjectSession.Resources.menu.PurchaseRequisition_MenuPRReqStatus">@ProjectSession.Resources.menu.Setups_Configurations_MenuPurchaseRequisition</a><span></span>@ProjectSession.Resources.menu.PurchaseRequisition_MenuPRApprovalLevels</div>
                    break;
                case @Actions.PRWorkFlow:
    <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span><a href="#" title="@ProjectSession.Resources.menu.PurchaseRequisition_MenuPRReqStatus">@ProjectSession.Resources.menu.Setups_Configurations_MenuPurchaseRequisition</a><span></span>@ProjectSession.Resources.menu.PurchaseRequisition_MenuPRApprovalLevelMappings</div>
                    break;
                case @Actions.IRReqStatus:
    <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span><a href="#" title="@ProjectSession.Resources.menu.ItemRequisition_MenuItemRequisition">@ProjectSession.Resources.menu.ItemRequisition_MenuItemRequisition</a><span></span>@ProjectSession.Resources.menu.ItemRequisition_MenuItemRequisition</div>
                    break;
                case @Actions.IRStatus:
    <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span><a href="#" title="@ProjectSession.Resources.menu.ItemRequisition_MenuItemRequisition">@ProjectSession.Resources.menu.ItemRequisition_MenuItemRequisition</a><span></span>@ProjectSession.Resources.menu.IRAuthoriseStatus_MenuIRStatus</div>
                    break;
                case @Actions.IRApprovalLevels:
    <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span><a href="#" title="@ProjectSession.Resources.menu.ItemRequisition_MenuItemRequisition">@ProjectSession.Resources.menu.ItemRequisition_MenuItemRequisition</a><span></span>@ProjectSession.Resources.menu.IRApproval_MenuIRApprovalLevels</div>
                    break;
                case @Actions.IRWorkFlow:
    <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span><a href="#" title="@ProjectSession.Resources.menu.ItemRequisition_MenuItemRequisition">@ProjectSession.Resources.menu.ItemRequisition_MenuItemRequisition</a><span></span>@ProjectSession.Resources.menu.IRApproval_MenuIRApprovalLevelMappings</div>
                    break;
                case @Actions.Zone:
    <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span>@ProjectSession.Resources.menu.Street_MenuStreet</div>
                    break;
                case @Actions.Building:
    <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span>@ProjectSession.Resources.menu.Building_MenuBuilding</div>
                    break;
                case @Actions.CleaningGroup:
    <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span><a href="#" title="@ProjectSession.Resources.menu.CleaningSetup_MenuCleaningSetup">@ProjectSession.Resources.menu.CleaningSetup_MenuCleaningSetup</a><span></span>@ProjectSession.Resources.menu.CleaningSetup_MenuCleaningGroup</div>
                    break;
                case @Actions.CleaningClassification:
    <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span><a href="#" title="@ProjectSession.Resources.menu.CleaningSetup_MenuCleaningSetup">@ProjectSession.Resources.menu.CleaningSetup_MenuCleaningSetup</a><span></span>@ProjectSession.Resources.menu.CleaningSetup_MenuCleaningElement</div>
                    break;
                case @Actions.CleaningWeightage:
    <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span><a href="#" title="@ProjectSession.Resources.menu.CleaningSetup_MenuCleaningSetup">@ProjectSession.Resources.menu.CleaningSetup_MenuCleaningSetup</a><span></span>@ProjectSession.Resources.menu.CleaningSetup_MenuCleaningWeightage</div>
                    break;
                case @Actions.JobPlan:
    <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span>@ProjectSession.Resources.menu.JobPlan_MenuJobPlans</div>
                    break;
                case @Actions.SafetyInstruction:
    <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span>@ProjectSession.Resources.menu.SafetyInstruction_MenuSafetyInstructions</div>
                    break;
                case @Actions.AccountCode:
    <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span>@ProjectSession.Resources.menu.AccountCode_MenuAccountCode</div>
                    break;
                case @Actions.BoMList:
    <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span>@ProjectSession.Resources.menu.BoM_MenuBoMList</div>
                    break;
                case @Actions.EmailServerConfiguration:
    <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span><a href="#" title="@ProjectSession.Resources.menu.NotificationSetup_MenuNotificationSetup">@ProjectSession.Resources.menu.NotificationSetup_MenuNotificationSetup</a><span></span>@ProjectSession.Resources.menu.NotificationSetup_MenuEmailServerConfiguration</div>
                    break;
                case @Actions.SMSServerConfiguration:
    <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span><a href="#" title="@ProjectSession.Resources.menu.NotificationSetup_MenuNotificationSetup">@ProjectSession.Resources.menu.NotificationSetup_MenuNotificationSetup</a><span></span>@ProjectSession.Resources.menu.NotificationSetup_MenuSMSConfiguration</div>
                    break;
                case @Actions.EmailTemplates:
    <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span><a href="#" title="@ProjectSession.Resources.menu.NotificationSetup_MenuNotificationSetup">@ProjectSession.Resources.menu.NotificationSetup_MenuNotificationSetup</a><span></span>@ProjectSession.Resources.menu.NotificationSetup_MenuEmailTemplates</div>
                    break;
                case @Actions.EmailRules:
    <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span><a href="#" title="@ProjectSession.Resources.menu.NotificationSetup_MenuNotificationSetup">@ProjectSession.Resources.menu.NotificationSetup_MenuNotificationSetup</a><span></span>@ProjectSession.Resources.menu.NotificationSetup_MenuNotificationEmailRules</div>
                    break;
                case @Actions.PurchasingCurrency:
    <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuPurchasingSetup">@ProjectSession.Resources.menu.Setups_Configurations_MenuPurchasingSetup</a><span></span>@ProjectSession.Resources.menu.Setups_Configurations_MenuPurchasingCurrency</div>
                    break;
                case @Actions.PurchasingTermofSale:
    <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuPurchasingSetup">@ProjectSession.Resources.menu.Setups_Configurations_MenuPurchasingSetup</a><span></span>@ProjectSession.Resources.menu.Setups_Configurations_MenuPurchasingTermofSale</div>
                    break;
                case @Actions.PurchasingShippedVia:
    <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuPurchasingSetup">@ProjectSession.Resources.menu.Setups_Configurations_MenuPurchasingSetup</a><span></span>@ProjectSession.Resources.menu.Setups_Configurations_MenuPurchasingShippedVia</div>
                    break;
                case @Actions.PurchasingPaymentTerms:
    <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuPurchasingSetup">@ProjectSession.Resources.menu.Setups_Configurations_MenuPurchasingSetup</a><span></span>@ProjectSession.Resources.menu.Setups_Configurations_MenuPurchasingPaymentTerms</div>
                    break;
                case @Actions.DefaultSetups:
    <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuPurchasingSetup">@ProjectSession.Resources.menu.Setups_Configurations_MenuPurchasingSetup</a><span></span>@ProjectSession.Resources.menu.Purchasing_MenuPurchasingTaxes</div>
                    break;
                case @Actions.ToolCategory:
    <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span><a href="#" title="@ProjectSession.Resources.menu.ToolSetups_MenuToolSetups">@ProjectSession.Resources.menu.ToolSetups_MenuToolSetups</a><span></span>@ProjectSession.Resources.menu.ToolSetups_MenuToolCategory</div>
                    break;
                case @Actions.ToolSubCategory:
    <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span><a href="#" title="@ProjectSession.Resources.menu.ToolSetups_MenuToolSetups">@ProjectSession.Resources.menu.ToolSetups_MenuToolSetups</a><span></span>@ProjectSession.Resources.menu.ToolSetups_MenuToolSubCategory</div>
                    break;
                case @Actions.Tool:
    <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span><a href="#" title="@ProjectSession.Resources.menu.ToolSetups_MenuToolSetups">@ProjectSession.Resources.menu.ToolSetups_MenuToolSetups</a><span></span>@ProjectSession.Resources.menu.ToolSetups_MenuTools</div>
                    break;
                case @Actions.LocationType:
    <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span>@ProjectSession.Resources.menu.LocationType_MenuLocationType</div>
                    break;
                case @Actions.SpecificationsList:
    <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span>@ProjectSession.Resources.menu.Specifications_MenuSpecification</div>
                    break;
                case @Actions.HelpList:
    <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span>@ProjectSession.Resources.menu.Help_MenuHelp</div>
                    break;
                case @Actions.HelpDetail:
    <div class="breadcrumb">
        <a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span>
        <a href="@Url.Action(Actions.HelpList, Controllers.Configurations, new { area = Areas.Configurations })" title="@ProjectSession.Resources.menu.Help_MenuHelp">@ProjectSession.Resources.menu.Help_MenuHelp</a>
        <span></span>@ProjectSession.Resources.label.Help_TextBlockHelpDetail
    </div>
                    break;

                case @Actions.GeneralConfiguration:
    <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span>@ProjectSession.Resources.menu.GeneralConfiguration_MenuGeneralConfig</div>
                    break;

                case @Actions.HolidaySetting:
    <div class="breadcrumb"><a href="#" title="@ProjectSession.Resources.menu.SetUp_MenuSetUp">@ProjectSession.Resources.menu.SetUp_MenuSetUp</a><span></span><a href="#" title="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations</a><span></span>@ProjectSession.Resources.menu.HolidaySetting_MenuHolidaySettings</div>
                    break;*@
            }
            break;

        default:
            break;
    }
}
