﻿@using System.Web.Script.Serialization;
@using CMMS.Infrastructure
@using CMMS.Pages
@using CMMS.Model
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <title>NUB Facility Management System</title>
    <link rel="shortcut icon" href="~/images/favicon.ico" />
    @Styles.Render("~/Content/kendo/kendocss")
    @Styles.Render("~/Content/bootstrapCSS")
    @Styles.Render("~/Content/BundleCSS")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryUI")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/bootstrapDeleteConform")
    @*<script src="~/Scripts/ddaccordion.js"></script>*@
    @Scripts.Render("~/bundles/general")
    @Scripts.Render("~/bundles/kendo")
    @Scripts.Render("~/bundles/common")
    @Scripts.Render("~/bundles/advancedSearch")
    <script type="text/javascript">
        var intPageID;
        var blnHideProcessing = false;
        var blnShowProcessing = true;
    </script>
</head>
<body class="@ProjectSession.UserTheme">
    <div class="loaderDiv" id="loading">
        <div class="cssload-piano">
            <div class="cssload-rect1"></div>
            <div class="cssload-rect2"></div>
            <div class="cssload-rect3"></div>
        </div>
    </div>
    <!--wrapper start-->
    <div id="wrapper">
        <!--header start-->
        <header id="header">
            <a id="menu-toggle" title="Menu toggle">
                <img src="@Url.Content("~/images/menu-icon.png")" alt="">
            </a>
            <div class="logo-img" title="NUB">
                <a><img src="~/Images/logo.png" alt=""></a>
            </div>
            <div class="logo-text">
                <h2>
                    NUB Facility Management System
                </h2>
                <h3>Centralized Maintenance and Contracts Management System</h3>
            </div>
            <div class="hdr_right">
                <table>
                    <tr>
                        <td>
                            <div class="dropdown">
                                <a href="#" title="" class="hlink userinfo" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <span class="userimg">
                                        <img class="img-responsive" src="~/Images/user.jpg" alt="user">
                                    </span>
                                    @if (ProjectSession.SessionID > 0 && ProjectSession.SessionID != null)
                                    {
                                        <span class="usertext">
                                            @Session["UserName"].ToString()
                                        </span>
                                        <span class="ar"></span>
                                    }
                                    else
                                    {
                                        <span class="usertext">
                                            EmployeeName
                                        </span>
                                    }

                                </a>
                                <ul class="dropdown-menu urlink">
                                    <li class="tp_ar"><span></span></li>
                                    <li class="username">EmployeeName</li>
                                    <li>
                                        <div class="theme-colors">
                                            <p class="form-label">Theme:</p>
                                            <button id="blueButton" class="btn blue btn-circle @(ProjectSession.UserTheme == ProjectConfiguration.Blue ? "active" : string.Empty)" type="button" data-color="blue" onclick="ChangeTheme('@CMMS.Infrastructure.ProjectConfiguration.Blue');">&nbsp;</button>
                                            <button id="greenButton" class="btn green btn-circle @(ProjectSession.UserTheme == ProjectConfiguration.Green ? "active" : string.Empty)" type="button" data-color="green" onclick="ChangeTheme('@CMMS.Infrastructure.ProjectConfiguration.Green');">&nbsp;</button>
                                            <button id="grayButton" class="btn gray btn-circle @(ProjectSession.UserTheme == ProjectConfiguration.Gray ? "active" : string.Empty)" type="button" data-color="gray" onclick="ChangeTheme('@CMMS.Infrastructure.ProjectConfiguration.Gray');">&nbsp;</button>
                                        </div>

                                    </li>
                                    <li>
                                        <a href="@Url.Action(Actions.Logout, Controllers.Account, new { area = string.Empty })">
                                            <span class="glyphicon glyphicon-off"></span>
                                            Logout
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </header>
        <!--Header end-->
        <!-- main area start -->
        <div id="main">
            <!-- Sidebar -->
            @*@Html.Partial(PartialViews.LeftMenu)*@
            <div id="sidebar-wrapper">
                <div id="myscrl">
                    <ul class="menu-left">
                        @*<li class="active">
                            <a>
                                <span class="icon">
                                    <img src="@Url.Content("~/images/dashboard.png")" alt="">
                                </span>Dashboard
                            </a>

                        </li>*@

                        <li><a data-action="@((int)SystemEnum.Pages.ClientList)" href="@Url.Action(Actions.ClientList, Controllers.Configurations, new { area = Areas.Configurations })"><span class="icon"><img src="@Url.Content("~/images/dashboard.png")" alt=""></span>Client</a></li>
                        <li><a data-action="@((int)SystemEnum.Pages.AdminList)" href="@Url.Action(Actions.AdminList, Controllers.Configurations, new { area = Areas.Configurations })"><span class="icon"><img src="@Url.Content("~/images/dashboard.png")" alt=""></span>Admin</a></li>
                        @*<li>
                            <a>
                                <span class="icon">
                                    <img src="@Url.Content("~/images/dashboard.png")" alt="">
                                </span>Home
                            </a>
                        </li>*@
                    </ul>
                </div>
            </div>
            <div id="page-content-wrapper">
                @Html.Partial(CMMS.Pages.PartialViews.BreadCrumb)
                <div class="contentpad">
                    <div id="divMessage"></div>
                    <input type="hidden" id="hiddenDefaultDateFormat" value="@ProjectConfiguration.DefaultDateFormat" />
                        <input type="hidden" id="hiddenDateCulture" value="@ProjectSession.DateCulture" />
                    @*@RenderSection("featured", required: false)*@
                    @RenderBody()

                    @*@if (ViewContext.RouteData.DataTokens != null && ViewContext.RouteData.DataTokens.Count > 0 && ViewContext.RouteData.DataTokens["area"].ToString() == "reports")
                        {
                            @Scripts.Render("~/bundles/bootstrap")
                            @Scripts.Render("~/bundles/kendo")
                        }*@

                </div>
            </div>
        </div>
        <!--main area end-->
        <!--footer start-->
        <footer class="footer">
            <div class="footpad">
                <div class="col-sm-4 version">Version: 1.00</div>
                <div class="col-sm-8 copyright">Copyright &copy; 2016 All Rights Reserved </div>

            </div>
        </footer>
        <!--footer end-->
        <!--wrapper end-->
        <!-- Add Widget Modal-->
        @*<script src="~/Scripts/jquery.slimscroll.js"></script>*@
</body>
</html>
<script type="text/javascript">
    var imageServerPath = '@Url.Content("~/images/#type#.png")';
    var msgText = 'Are you sure you want to delete this record?';
    var okText = 'OK';
    var cancelText = 'Cancel';
    var confirmDirection = '@ProjectSession.Direction';
    var dangerType = '@SystemEnum.MessageType.danger.ToString()';
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#main").toggleClass("active");
        $("#wrapper").toggleClass("footspac");
        $('[data-role="grid"]').each(function () {
            var gridId = $(this).attr("id");
            setTimeout(function () {
                if ($('#TempIssuesGrid').data('kendoGrid').dataSource.data().length > 0) {
                    $('#' + gridId).data('kendoGrid').dataSource.read();
                    $('#' + gridId).data('kendoGrid').refresh();
                }
            }, 1000);
        });
    });
    //$('#sidebar-wrapper .menu-left li > a').click(function (e) {
    //    //e.preventDefault();

    //    //$('#sidebar-wrapper .menu-left li > a').removeClass('active');
    //    //$(this).addClass('active');
    //});
    //$('#sidebar-wrapper .menu-left li > a').on('change', function (e) {
    //    var prev = $(this).data('val');
    //    alert(prev);
    //    var current = $(this).val();
    //    alert(current);
    //    console.log("Prev value " + prev);
    //    console.log("New value " + current);
    //});
    $(".menu-left").find(".active").removeClass();

    // Sub nav Open
    $(".menu-left li a").click(function () {
        var $this = $(this).closest('li');
        if ($this.hasClass('active')) {
            $this.removeClass('active').find('.active').removeClass('active');
            $this.find(".sub-menu-nav").stop(true, true).slideUp();
        } else {
            $this.siblings('li').removeClass('active').find(".sub-menu-nav").stop(true, true).slideUp().find('li.active').removeClass('active');
            $this.addClass('active');
            $this.find(">.sub-menu-nav").stop(true, true).slideDown();
        }
        if (intPageID != 'undefined') {
            $('a[data-action="' + intPageID + '"]').closest("li").addClass('active');
        }
    });

    if (intPageID != 'undefined') {
        $('a[data-action="' + intPageID + '"]').closest("li").addClass('active');
        $('a[data-action="' + intPageID + '"]').closest("li").parents(".dro-menu").addClass('active');

        $('a[data-action="' + intPageID + '"]').closest("li").parents(".sub-menu-nav").show();
    }
    function ChangeTheme(selectedTheme) {
        if (selectedTheme == '@ProjectConfiguration.Green') {
            $("#greenButton").addClass('active');
            $("#blueButton").removeClass('active');
            $("#grayButton").removeClass('active');
        }
        else if (selectedTheme == '@ProjectConfiguration.Gray') {
            $("#grayButton").addClass('active');
            $("#greenButton").removeClass('active');
            $("#blueButton").removeClass('active');
        }
        else {
            $("#blueButton").addClass('active');
            $("#greenButton").removeClass('active');
            $("#grayButton").removeClass('active');
        }
        $('body').attr('class', selectedTheme);
        $.ajax({
            url: "@Url.Action("SelectTheme", Controllers.Home, new { Area = string.Empty })",
            type: "POST",
            dataType: "json",
            data: { theme: selectedTheme },
            success: function (response) {
            }
        });
    }

    function showErrorMessage() {
        hideLoader();
        ShowMessage('danger', 'There are some error.Please contact to administrator', "#divMessage");
        $("[data-dismiss=modal]").trigger({ type: "click" });
    }

    function hideLoader() {
        $('#loading').hide();
    }

</script>