﻿@model CMMS.Model.EmployeeDocuments
@using CMMS.Infrastructure;
@using CMMS.Pages;
@using CMMS.Model;

<script type="text/javascript" src="~/Scripts/jquery.form.js"></script>
@using (Html.BeginForm("_PartialEmpoyeeDocuments", Controllers.Management, FormMethod.Post, new { @id = "FormEmployeeDocument", enctype = "multipart/form-data" }))
{

    <div class="information-form">
        <div class="form-horizontal">
            <div class="row">
                <div class="col-md-10 col-lg-8">
                    <div class="form-group">
                        <label class="col-md-4 control-label">@ProjectSession.Resources.label.Common_TextBlockDocumentName<span class="cfont">*</span></label>
                        <div class="col-md-8">
                            @Html.HiddenFor(model => model.Guid_DocID)
                            @Html.TextBoxFor(model => model.employeedocs.DocName, new { @MaxLength = 200, @class = "form-control", @placeholder = ProjectSession.Resources.label.Common_Enter + " " + ProjectSession.Resources.label.Common_TextBlockDocumentName })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">@ProjectSession.Resources.label.Common_TextBlockDocumentAltName</label>
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.employeedocs.DocArabicName, new { @MaxLength = 100, @class = "form-control", @placeholder = ProjectSession.Resources.label.Common_Enter + " " + ProjectSession.Resources.label.Common_TextBlockDocumentAltName })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">@ProjectSession.Resources.label.Preventive_TextBlockExpiryDate<span class="cfont">*</span></label>
                        <div class="col-md-8">
                            <div class="input-group date-pick">
                                @Html.TextBoxFor(model => model.employeedocs.Doc_ExpiryDate, "{0:" + ProjectConfiguration.DefaultDateFormat + "}", new { @class = "form-control calendarsPicker", @placeholder = ProjectConfiguration.DefaultDateFormat })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">@ProjectSession.Resources.label.Employee_TextBlockIssuer</label>
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.employeedocs.Issuer, new { @MaxLength = 100, @class = "form-control", @placeholder = ProjectSession.Resources.label.Common_Enter + " " + ProjectSession.Resources.label.Employee_TextBlockIssuer })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">@ProjectSession.Resources.label.Item_TextBlockNotes</label>
                        <div class="col-md-8">
                            @Html.TextAreaFor(model => model.employeedocs.Remarks, new { @MaxLength = 400, @class = "form-control", @placeholder = ProjectSession.Resources.label.Common_Enter + " " + ProjectSession.Resources.label.Item_TextBlockNotes })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">@ProjectSession.Resources.label.PMChecklist_RadTabItemAttachment</label>
                        <div class="col-md-8" style="padding-top: 5px;">
                            @(Html.Kendo().Upload().Name("EmployeeDocumentfiles").HtmlAttributes(new { id = "EmpDocumentfiles", accept = "'" + ProjectSession.AllowUploadFileFormats + "'" }).Multiple(false))
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label"></label>
                        <div class="col-md-8">
                            @Html.Hidden("hdnCurrentDocID", new { id = "hdnCurrentDocID" })
                            @Html.Hidden("hdnCurrentUID", new { id = "hdnCurrentUID" })
                            <button class="btn btn-primary" style="margin-left: 0px; display: none;" id="btnUpdate" name="btnUpdate" onclick="AddEditDocumentToGrid();" type="button"><span>@ProjectSession.Resources.label.Common_ButtonUpdate</span></button>
                            <button class="btn btn-primary" style="margin-left: 0px;" id="btnAdd" name="btnAdd" onclick="AddEditDocumentToGrid();" type="button"><span>@ProjectSession.Resources.label.Common_ButtonAdd</span></button>
                            <button class="btn btn-default" id="btnClear" onclick="ClearData();" type="button"><span>@ProjectSession.Resources.label.Common_ButtonClear</span></button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label"></label>
                        <div class="col-md-8">
                            <div id="employeeAttachemntData" class="@ProjectSession.CultureKendoClass" style="margin-bottom:15px;display:none;">
                                @(Html.Kendo().Grid<CMMS.Model.clsextassetfiles>()
                                .Name("GridAttachementList")
                                .HtmlAttributes(new { @class = "kl-grid" })
                                .Columns(columns =>
                                {
                                    columns.Bound(o => o.FileName).ClientTemplate("#= Downloadattachment(data) #").Title("File Name").Sortable(false).Width(150);
                                    columns.Bound(p => p.AutoId).ClientTemplate("#= DeleteAttachment(data) #").Title(ProjectSession.Resources.label.Common_ButtonDelete).Sortable(false).Width(18).HtmlAttributes(new { @class = "action" });
                                })

                              .Events(events => events.DataBound("onDataBoundAttachment"))
                                         .Resizable(resize => resize.Columns(false))

                        )
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          @*  <div class="row">
                <div class="col-md-2 col-lg-2">
                </div>
                <div class="col-md-10 col-lg-6">
                </div>
            </div>*@
            <div class="row">
                <div class="col-md-12">
                    <div id="employeeData" class="@ProjectSession.CultureKendoClass">
                        @(Html.Kendo().Grid<CMMS.Model.EmployeeDocuments>()
        .HtmlAttributes(new { @class = "kl-grid" })
        .Name("documentsGrid")
        .Columns(columns =>
        {
            //columns.Bound(c => c.DocID).Title(ProjectSession.Resources.label.Employee_TextBlockEmployeeNO);
            columns.Bound(c => c.employeedocs.DocName).Title(ProjectSession.Resources.label.Common_TextBlockDocumentName);
            columns.Bound(c => c.employeedocs.DocArabicName).Title(ProjectSession.Resources.label.Common_TextBlockDocumentAltName);
            columns.Bound(c => c.employeedocs.Doc_ExpiryDate).ClientTemplate("#= DateTemplate(data.employeedocs.Doc_ExpiryDate) #").Title(ProjectSession.Resources.label.Preventive_TextBlockExpiryDate);
            columns.Bound(c => c.employeedocs.Issuer).Title(ProjectSession.Resources.label.Employee_TextBlockIssuer);
            columns.Bound(c => c.employeedocs.DocStatus).Title("").Hidden(true);
            columns.Bound(c => c.employeedocs.DocID).ClientTemplate("<center><a class='action'  style='cursor:pointer' href='javascript:void(0);' onclick='EditEmployeeDocument(this)' data-AutoId='#: Guid_DocID#'><i class='glyphicon glyphicon-pencil'></i></a>&nbsp;<a class='action delete-button'  href='javascript:void(0);' class='delete-ic' data-id='#: Guid_DocID#' style='cursor:pointer'><i class='glyphicon glyphicon-trash' title='" + ProjectSession.Resources.label.Common_ButtonDelete + "' ></i></a></center>")
                                        .Title("<center>Action</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Width(80);

        })
        .Sortable(sortable => sortable.AllowUnsort(false))
        .Scrollable()
                .Excel(excel => excel.FileName(ProjectSession.Resources.menu.Employee_MenuEmployee + ".xlsx").Filterable(true).AllPages(true))
        //.Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
        .Events(events => events.DataBound("onDataBound"))
        .DataSource(dataSource =>
                                dataSource.Ajax()
                                    //.PageSize(ProjectConfiguration.PageSize)
                                 .Model(model =>
                                 {
                                     model.Id(p => p.employeedocs.EmployeeID);
                                     model.Field(p => p.employeedocs.DocID);
                                 })
                                .ServerOperation(true)
                                                .Read(read => read.Action(Actions.GetDocumentsByEmployee, Controllers.Management, new { area = Areas.Management }).Data("additionalData").Type(HttpVerbs.Post))
        )
                        )

                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="box-footer">
        @if (ProjectSession.PermissionAccess.Employee_Employee_Createnewrecords || ProjectSession.PermissionAccess.Employee_Employee_Editrecords)
        {
            <button class="btn btn-primary" id="btnSaveUserLogin" name="btnSaveUserEmpDocs" onclick="SaveEmpDocs();" type="button"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
        }
        <button class="btn btn-default" type="button" onclick="redirectToList();"><span>@ProjectSession.Resources.label.Common_ButtonCancel</span></button>
    </div>
}
<script type="text/javascript">
    $(document).ready(function () {
        CreateCalendarsPicker();
    });

    function AddEditDocumentToGrid() {
        $('#FormEmployeeDocument').submit();
    }

    //$('#FormEmployeeDocument').validate({
    //    rules: {
    //        "employeedocs.DocName": { required: true },
    //        "employeedocs.Doc_ExpiryDate": { required: true }

    //    },
    //    messages: {
    //        "employeedocs.DocName": { required: '' },
    //        "employeedocs.Doc_ExpiryDate": { required: '' }
    //    }
    //});
    $('#FormEmployeeDocument').validate({

    });
    $('#FormEmployeeDocument').submit(function () {
        var blnValid = true;
        if ($.trim($("[name='employeedocs.DocName']").val()) == '') {
            $("[name='employeedocs.DocName']").addClass("kendoDrpRequired");
            $("[name='employeedocs.DocName']").focus();
            blnValid = false;
        }
        if ($.trim($("[name='employeedocs.Doc_ExpiryDate']").val()) == '') {
            $("[name='employeedocs.Doc_ExpiryDate']").addClass("kendoDrpRequired");
            $("[name='employeedocs.Doc_ExpiryDate']").focus();
            blnValid = false;
        }
        if (blnValid) {
            $("[name='employeedocs.DocName']").removeClass("kendoDrpRequired");
            $("[name='employeedocs.Doc_ExpiryDate']").removeClass("kendoDrpRequired");
            var options = {
                success: showResponseEmployeeDocument,  // post-submit callback
                data: {
                    kendoAttachmentgriddata: JSON.stringify($("#GridAttachementList").data("kendoGrid").dataSource.data()),
                    kendoDocgriddata: JSON.stringify($("#documentsGrid").data("kendoGrid").dataSource.data())
                },
            };
            $(this).ajaxSubmit(options);
            return false;
        }
        else { e.preventDefault(); }
    });

    function showResponseEmployeeDocument(responseText, statusText, xhr, $form) {        
        if (responseText == 1) {
            ShowMessage('@SystemEnum.MessageType.danger.ToString()', '@ProjectSession.Resources.message.Common_MsgFileTypeNotAllowed ', "#divMessage");
        }
        else if (responseText == 2) {
            ShowMessage('@CMMS.Infrastructure.SystemEnum.MessageType.danger', '@ProjectSession.Resources.message.Common_MsgFileSizeNotAllowed' + '@ProjectSession.AllowedMaxFilesize' + 'MB.', "#divMessage");
        }
        else {
            var kendoDocgriddata = $("#documentsGrid").data("kendoGrid");
            kendoDocgriddata.dataSource.read({ dbcall: false });
            ClearEmployeeDocumentdataAll(); // function defined in _PartialContractTemplateLaborCommon.cshtml page
            ClearAttachmentGrid();
            $('#btnUpdate').hide();
            $('#btnAdd').show();
        }
    }

    function ClearEmployeeDocumentdataAll() {
        $('#FormEmployeeDocument').find(":input:not(input[type=button],input[type=submit],button):visible").val("");
        $("#Guid_DocID").val('@Html.Raw(new Guid())');
        $("#FormEmployeeDocument .k-upload-files .k-delete").trigger("click");
    }

    //Clear Attachment Grid
    function ClearAttachmentGrid() {

        var kendoAttachementgriddata = $("#GridAttachementList").data("kendoGrid");
        kendoAttachementgriddata.dataSource.data([]);
    }

    function ClearData() {
        ClearEmployeeDocumentdataAll();
        ClearAttachmentGrid();
        $('#btnUpdate').hide();
        $('#btnAdd').show();
    }

    function EditEmployeeDocument(link) {
        $("#Guid_DocID").val($(link).attr("data-AutoId"));
        var kendoGrid = $("#documentsGrid").data("kendoGrid");
        var params = {};
        params.AutoGuid = $("#Guid_DocID").val();
        params.kendogriddata = JSON.stringify(kendoGrid.dataSource.data());
        //ShowLoadingGraphics(true);
        $.ajax({
            url: '@Url.Content("~/management/GetEmpoyeeDocumentDetails")',
            datatype: 'json',
            cache: false,
            method: 'post',
            data: params,
            success: function (jsonObj) {

                if (jsonObj != null) {
                    //ShowLoadingGraphics(false);
                    $("#employeedocs_DocName").val(jsonObj.employeedocs.DocName);
                    $("#employeedocs_DocArabicName").val(jsonObj.employeedocs.DocArabicName);
                    var dateval = jsonObj.employeedocs.Doc_ExpiryDate;
                    if (jsonObj.employeedocs.Doc_ExpiryDate != null) {
                        $("#employeedocs_Doc_ExpiryDate").val(SetJsondate(dateval));
                    }
                    $("#employeedocs_Issuer").val(jsonObj.employeedocs.Issuer);
                    $("#employeedocs_Remarks").val(jsonObj.employeedocs.Remarks);
                    var kendoAttachementgriddata = $("#GridAttachementList").data("kendoGrid");
                    kendoAttachementgriddata.dataSource.data([]);
                    if (jsonObj.lstAttachment != null)
                        kendoAttachementgriddata.dataSource.data(jsonObj.lstAttachment);

                }
                //SetEmployeeDocumentSaveButtonText();
            }
        });

        $('#btnUpdate').show();
        $('#btnAdd').hide();
    }

    var Objlink;
    function DeleteAttachment(data) {
        var html = kendo.format("<center><a class='action delete-button'  href='javascript:void(0);' onclick='deleteEmployeeDocAttachmentGridRow(this)' class='delete-ic' data-id='" + data.AutoId + "' style='cursor:pointer'><i class='glyphicon glyphicon-trash' title='" + '@ProjectSession.Resources.label.Common_ButtonDelete' + "' ></i></a></center>");
        return html;
    }

    function deleteEmployeeDocAttachmentGridRow(link) {
        Objlink = link;
    }

    function onConfirmCallbackDeleteAttachment(sender) {
        var Autoid = $(this).data("id");

        if (parseInt(Autoid) > 0) {
            $.ajax({
                url: '@Url.Action(Actions.DeleteAttachment, Controllers.Management, new { area = Areas.Management })',
                type: "POST",
                data: addRequestVerificationToken({ attachmentID: Autoid }),
                dataType: "json",
                success: function (result) {
                    var rowToDelete = $(Objlink).parent().parent().parent();
                    var grid = $("#GridAttachementList").data("kendoGrid");
                    grid.removeRow(rowToDelete);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }
        else {
            var rowToDelete = $(Objlink).parent().parent().parent();
            var grid = $("#GridAttachementList").data("kendoGrid");
            grid.removeRow(rowToDelete);
        }
        $('.popover').remove();
    }

    function onConfirmCallbackDeleteDoc(sender) {
        var Autoid = $(this).data("id");

        var kendoGrid = $("#documentsGrid").data("kendoGrid");
        var params = {};

        params.AutoGuid = Autoid;
        params.kendogriddata = JSON.stringify(kendoGrid.dataSource.data());
        $.ajax({
            url: '@Url.Action(Actions.DeleteEmpDocument, Controllers.Management, new { @area = Areas.Management })',
            datatype: 'json',
            method: 'post',
            data: params,
        }).done(function (response) {
            ClearEmployeeDocumentdataAll();
            ClearAttachmentGrid();
            $("#Guid_DocID").val('@Html.Raw(new Guid())'); // clear hiddenfield labor ID value
            kendoGrid.dataSource.read({ dbcall: true });
        });
    }

    function Downloadattachment(data) {

        if (parseInt(data.AutoId) > 0) {
            var action = '@Url.Action(Actions.DownloadAttachment, Controllers.Home, new { @area = "" })';
            var html = kendo.format("<a title='@ProjectSession.Resources.label.Common_DownloadAttachment' target='_blank' href='{0}?attachmentID={1}'>{2}</a>",
                action,
                data.AutoId,
                data.FileName
            );
            return html;
        }
        else {
            var action = '@Url.Action(Actions.DownloadEmpAttachment, Controllers.Management, new { @area = Areas.Management })';
            var html = kendo.format("<a title='@ProjectSession.Resources.label.Common_DownloadAttachment' target='_blank' href='{0}?attachmentName={1}'>{1}</a>",
                action,
                data.FileName
            );
            return html;
        }
    }

    var _validFileExtensions = [".pdf", ".doc", ".docx", ".xls", ".xlsx", ".jpeg", ".jpg"];

    var _validFileExtensionsMasterstr = '@ProjectSession.AllowedFileTypes';

    var _validFileExtensionsMaster = _validFileExtensionsMasterstr.split(',');

    $("#EmpDocumentfiles").change(function () {

        if (this.files && this.files[0]) {

            //For file validation
            var imgSize = this.files[0].size / 1024;
            var imgMasterSize = '@ProjectSession.AllowedMaxFilesize';

            if (imgSize > (parseInt(imgMasterSize) * 1024)) {
                ShowMessage('@CMMS.Infrastructure.SystemEnum.MessageType.danger', '@ProjectSession.Resources.message.Common_MsgFileSizeNotAllowed' + imgMasterSize + 'MB.', "#divMessage");
                return false;
            }

            var sFileName = this.files[0].name.toLowerCase();
            if (sFileName.length > 0) {
                var blnValid = false;
                for (var j = 0; j < _validFileExtensions.length; j++) {
                    var sCurExtension = _validFileExtensions[j];
                    if (sFileName.substr(sFileName.length - sCurExtension.length, sCurExtension.length).toLowerCase() == sCurExtension.toLowerCase()) {
                        blnValid = true;
                        break;
                    }
                }

                var blnValidMaster = false;
                if (blnValid) {
                    for (var j = 0; j < _validFileExtensionsMaster.length; j++) {
                        var sCurExtension = _validFileExtensionsMaster[j];
                        if (sFileName.substr(sFileName.length - sCurExtension.length, sCurExtension.length).toLowerCase() == sCurExtension.toLowerCase()) {
                            blnValidMaster = true;
                            break;
                        }
                    }
                }

                if ((!blnValid) || (!blnValidMaster)) {
                    ShowMessage('@SystemEnum.MessageType.danger.ToString()', '@ProjectSession.Resources.message.Common_MsgFileTypeNotAllowed ', "#divMessage");
                    return false;
                }
            }
            //End
        }
    });

    function SaveEmpDocs() {
        try {
            var GridEmployeeDocument = $("#documentsGrid").data("kendoGrid");
            if (GridEmployeeDocument != null) {
                dt = GridEmployeeDocument.dataSource.data();
                dt.forEach(function (i) {
                    i.Doc_ExpiryDate = new Date(i.Doc_ExpiryDate + "UTC");
                });
                //$("#JsonlstEmployeeDocumentModel").val(JSON.stringify(dt));

                $.ajax({
                    url: '@Url.Action(CMMS.Pages.Actions.SaveEmployeeDocuments, CMMS.Pages.Controllers.Management, new { area = CMMS.Pages.Areas.Management })',
                    type: "POST",
                    data: addRequestVerificationToken({ employeeID: $('#EmployeeID').val(), kendogriddata: JSON.stringify(dt) }),
                    dataType: "json",
                    success: function (result) {
                        ShowMessage(result[0], result[1], "#divMessage");
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        showErrorMessage();
                    }
                });
            }
        } catch (e) {
            alert(e);
        }
    }
</script>
