﻿@model CMMS.Model.employees
@using CMMS.Infrastructure;
@using CMMS.Pages;
@using CMMS.Model;
@{
    Layout = null;
    bool Lang = ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true;
}
<style type="text/css">
    .k-grid-norecords-template {
        height:auto !important;
        width:auto !important;
    }
</style>
<script type="text/javascript">
    function BindParametersForL1Permission(request) {
        //To Get All Records we set Page Property of DataSourceRequest object to Zero
        request.page = 0;

        return {
            empID: isNotUndefinedNullOrBlankOrZero('EmployeeID') ? $('#EmployeeID').val() : 0,
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function onDataBoundFoL1Permission() {
        //gridProperPaging(this);
    }

    function BindParametersForL2Permission(request, l1ID) {
        //To Get All Records we set Page Property of DataSourceRequest object to Zero
        request.page = 0;
        return {
            empID: isNotUndefinedNullOrBlankOrZero('EmployeeID') ? $('#EmployeeID').val() : 0,
            orgID: l1ID,
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function BindParametersForL3Permission(request, l2ID) {
        //To Get All Records we set Page Property of DataSourceRequest object to Zero
        request.page = 0;

        return {
            empID: isNotUndefinedNullOrBlankOrZero('EmployeeID') ? $('#EmployeeID').val() : 0,
            cityID: l2ID,
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function CheckAllChildCheckBoxesDiv(elem, gridName, headerChkClassName, childChkClassName) {
        var state = $("." + headerChkClassName).is(':checked');
        var gridPermissionModel = $("#" + gridName).data("kendoGrid");

        $('.' + childChkClassName).prop('checked', state);

        if (gridName.indexOf('gridL2_') > -1)
        { checkBelowChilrens(elem, true); }

        if (elem != null && elem != 'undefined') {
            checkUpperLevelOrgs($(elem));
        }
    }

    function SetGridHeaderCheckBoxSelection(elem, gridName, headerChkClassName, childChkClassName) {
        setTimeout((function () {
            var gridPermissionModel = $("#" + gridName).data("kendoGrid");

            var numChkBoxes = $("." + childChkClassName).length;
            var numChkBoxesChecked = $("." + childChkClassName + ":checked").length;

            if (numChkBoxes == numChkBoxesChecked && numChkBoxes > 0) {
                $("." + headerChkClassName).prop('checked', true);
                checkUpperLevelOrgs($("." + headerChkClassName));
            }
            else {
                $("." + headerChkClassName).prop('checked', false);
            }
            if (elem != null && elem != 'undefiend' && gridName.indexOf('gridL3_') == -1)
            { checkBelowChilrens(elem, false); }

            //if (gridName.indexOf('gridL3_') == -1)
            //{
            uncheckUpperLevelOrgs(elem);
            //}

        }), 10);
    }

    function uncheckUpperLevelOrgs(currentCB) {
        try {
            var state = $(currentCB).prop('checked');
            var parentCB = null;
            var parentParentCB = null;
            var headerCB = null;

            if (state == false) {

                parentCB = $(currentCB).closest('tr.k-detail-row').prev().find('input[type=checkbox]');

                if (parentCB != null && parentCB != 'undefined') {
                    parentCB.prop('checked', state);
                    headerCB = $(parentCB).closest('div.k-widget.k-grid.kl-grid').find('div.k-grid-header:first').find('input[type=checkbox].HeaderChk');

                    if (headerCB != null && headerCB != 'undefined') {
                        headerCB.prop('checked', state);
                    }

                    parentParentCB = $(parentCB).closest('tr.k-detail-row').prev().find('input[type=checkbox]');
                    if (parentParentCB != null && parentParentCB != 'undefined') {
                        uncheckUpperLevelOrgs(parentCB);
                    }
                }
                // $('#deptPermissionListGrid table[role="treegrid"]:first').find('tr:first').find('input[type=checkbox]').prop('checked', false);
            }


        } catch (err) {
            console.log('function name:uncheckUpperLevelOrgs, error:' + err);
        }
    }

    function checkUpperLevelOrgs(currentCB) {
        try {
            var state = $(currentCB).prop('checked');
            var parentCB = null;
            var parentParentCB = null;
            var headerCB = null;

            if (state == true) {
                parentCB = $(currentCB).closest('tr.k-detail-row').prev().find('input[type=checkbox]');
                if (parentCB != null && parentCB != 'undefined') {
                    parentCB.prop('checked', state);

                    var className = $(currentCB).closest('tr.k-detail-row').prev().find('input[type=checkbox]').attr('class');

                    if (className != '' && className != 'undefined') {
                        var allClasses = className.split(' ');

                        if (allClasses != null && allClasses != 'undefined' && allClasses.length > 2) {
                            className = allClasses[2];

                            var totalLength = $('.' + className).length;
                            var checkedLength = $('input.' + className + ':checkbox:checked').length;

                            if (totalLength == checkedLength) {
                                var headerCB = $(parentCB).closest('div.k-widget.k-grid.kl-grid').find('div.k-grid-header:first').find('input[type=checkbox].HeaderChk');

                                if (headerCB != null && headerCB != 'undefined') {
                                    headerCB.prop('checked', state);
                                    checkUpperLevelOrgs(headerCB);
                                }
                            }
                        }
                    }
                }
            }
            else if (state == false) {
                var className = $(currentCB).attr('class');

                if (className.indexOf('HeaderChk') > -1) {
                    //Header Check box
                    uncheckUpperLevelOrgs(currentCB);
                }
            }
        } catch (err) {
            console.log('function name:checkUpperLevelOrgs, error:' + err);
        }
    }

    function checkBelowChilrens(currentCb, isHeaderCB) {
        try {

            var state = $(currentCb).prop('checked');
            var nextTR = '';
            if (isHeaderCB) {
                nextTR = $(currentCb).closest("tr").closest('td.k-detail-cell');
            }
            else {
                nextTR = $(currentCb).closest("tr").next('tr').find('td.k-detail-cell');
            }

            if (nextTR != null && nextTR != 'undefined') {
                nextTR.find('div.kl-grid').find('input[type=checkbox].chkbx').prop('checked', state);
                //nextTR.find('input[type=checkbox].chkbx').prop('checked', state);
            }
        }
        catch (err) {
            alert(err);
        }
    }
</script>

<div class="information-form cus-form">
    <div class="head1">
        <h1></h1>
        <ul class="sub_btn"></ul>
    </div>
    <div class="box-hed">
        @if (ProjectSession.PermissionAccess.Management_User_Editrecords)
        {
            <button class="btn btn-primary" id="btnSaveUserLogin" name="btnSaveDeptPermissions2" onclick="SavePermissionsLevelWise();" type="button"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
        }
        <button class="btn btn-default" type="button" onclick="redirectToList();"><span>@ProjectSession.Resources.label.Common_ButtonCancel</span></button>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div id="cityPermission" class="@ProjectSession.CultureKendoClass">
                @(Html.Kendo().Grid<CMMS.Model.L1>()
       .Name("orgPermissionGrid")
                                .HtmlAttributes(new { @class = "kl-grid" })
        .Columns(columns =>
        {
            columns.Bound(c => c.isChecked).HeaderTemplate("<input type='checkbox'  class='HeadercheckboxL1 HeaderChk' onclick=CheckAllChildCheckBoxesDiv(this,'orgPermissionGrid','HeadercheckboxL1','chkbx'); />")
            .ClientTemplate("<input type='checkbox' onclick=SetGridHeaderCheckBoxSelection(this,'orgPermissionGrid','HeadercheckboxL1','chkbx'); class='chkbx ChildcheckboxL1' #= isChecked ? \'checked\' : \'\'# />").Width(30).Sortable(false).Filterable(false);

            columns.Bound(c => c.L1No).Title(ProjectSession.Resources.label.Organisation_TextBlockOrgCode).Width(200);

            columns.Bound(c => c.L1Name).Title(ProjectSession.Resources.label.Organisation_TextBlockOrgName);

            columns.Bound(c => c.L1AltName).HtmlAttributes(new { @class = "text-right" }).Title(ProjectSession.Resources.label.Organisation_TextBlockAltOrgName).HtmlAttributes(new { @class = "text-right" });

        })
                                                                                        .Sortable(sortable => sortable.AllowUnsort(false))
                                                                                        .Scrollable()
                                                                                        .NoRecords("<table><tbody><tr class=\"kendo-data-row\"><td colspan=\"4\">No Records Found</td></tr></tbody></table>")
                                                                                        .ClientDetailTemplateId("cityTemplate")
                                                                                        .Events(events => events.DataBound("onDataBoundFoL1Permission"))
                                                                                        .DataSource(dataSource =>
                                                                                                                dataSource.Ajax()
                                                                                                                 .Model(model =>
                                                                                                                 {
                                                                                                                     model.Id(p => p.L1ID);
                                                                                                                     model.Field(p => p.L1No);
                                                                                                                     model.Field(p => p.IsAreaEnable);
                                                                                                                 })
                                                                                                                .ServerOperation(true)
                                                                                                                          .Read(read => read.Action(Actions.GetOrganisationByPermission, Controllers.Configurations, new { area = Areas.Configurations }).Data("BindParametersForL1Permission").Type(HttpVerbs.Post))
                                                                                                )
                )

                @if (ProjectSession.IsAreaFieldsVisible)
                {
                    <script id="cityTemplate" type="text/kendo-tmpl">
                        @(Html.Kendo().Grid<Employees_L2>()
                             .Name("gridL2_#=L1ID#") // template expression, to be evaluated in the master context
                             .HtmlAttributes(new { @class = "kl-grid" })
                    .Columns(columns =>
                    {
                        columns.Bound(c => c.ChkL2).HeaderTemplate("<input type='checkbox'  class='chkbx HeadercheckboxDept_#=L1ID# HeaderChk' onclick=CheckAllChildCheckBoxesDiv(this,'gridL2_#=L1ID#','HeadercheckboxDept_#=L1ID#','ChildcheckboxL2_#=L1ID#'); />")
                        .ClientTemplate("<input type='checkbox' onclick=SetGridHeaderCheckBoxSelection(this,'gridL2_#=L1ID#','HeadercheckboxDept_#=L1ID#','ChildcheckboxL2_#=L1ID#'); class='chkbx childL2 ChildcheckboxL2_#=L1ID#' \\#= ChkL2 ? 'checked' : '' \\#  />").Width(30).Sortable(false).Filterable(false);

                        columns.Bound(c => c.L2Code).Title(ProjectSession.Resources.label.JobRequest_TextBlockCityCode).Width(160);

                        columns.Bound(c => c.L2name).Title(ProjectSession.Resources.label.City_TextBlockCityName);
                        columns.Bound(c => c.L2Altname).Title(ProjectSession.Resources.label.City_TextBlockArabicCityName).HtmlAttributes(new { @class = "text-right" });

                    })
                                                                                                 .Sortable(sortable => sortable.AllowUnsort(false))
                                                                                                .Scrollable()
                                                                                                .NoRecords("<table><tbody><tr class=\"kendo-data-row\"><td colspan=\"4\">No Records Found</td></tr></tbody></table>")
                                                                                                .ClientDetailTemplateId("#= IsAreaEnable ? \"areaTemplate\" :\"noAreatemplate\" #")
                                                                                                .DataSource(dataSource =>
                                                                                                                        dataSource.Ajax()
                                                                                                                        .PageSize(ProjectConfiguration.PageSize)
                                                                                                                         .Model(model =>
                                                                                                                         {
                                                                                                                             model.Id(p => p.L2ID);
                                                                                                                             model.Field(p => p.L2Code);
                                                                                                                         })
                                                                                                                        .ServerOperation(true)
                                                                                                            .Read(read => read.Action(Actions.GetSiteByPermissionAndL1ID, Controllers.Configurations, new { area = Areas.Configurations })
                                                                                                                                                                                            .Data("function(req) { return BindParametersForL2Permission(req,'#=L1ID#');}").
                                                                                                                                                                    Type(HttpVerbs.Post))
                                                                                                                ).ToClientTemplate()
                        )
                    </script>

                    <script id="areaTemplate" type="text/kendo-tmpl">
                        @(Html.Kendo().Grid<Employees_L3>()
                     .Name("gridL3_#=L2ID#") // template expression, to be evaluated in the master context
                                     .HtmlAttributes(new { @class = "kl-grid" })
                    .Columns(columns =>
                    {
                        columns.Bound(c => c.ChkL3).Width(150)
                            .Sortable(false).HeaderTemplate("<input type='checkbox'  class='chkbx HeadercheckboxL3_#=L2ID# HeaderChk' onclick=CheckAllChildCheckBoxesDiv(this,'gridL3_#=L2ID#','HeadercheckboxL3_#=L2ID#','ChildcheckboxL3_#=L2ID#'); />")
                            .ClientTemplate("<input type='checkbox' onclick=SetGridHeaderCheckBoxSelection(this,'gridL3_#=L2ID#','HeadercheckboxL3_#=L2ID#','ChildcheckboxL3_#=L2ID#') class='chkbx childL3 ChildcheckboxL3_#=L2ID#' \\#= ChkL3 ? 'checked' : '' \\# />").Width(30).Sortable(false).Filterable(false);

                        columns.Bound(c => c.L3No).Title(ProjectSession.Resources.label.Area_TextBlockAreaCode).Width(150);

                        columns.Bound(c => c.L3Desc).Title(ProjectSession.Resources.label.Area_TextBlockAreaCodeDesc);

                        columns.Bound(c => c.L3AltDesc).HtmlAttributes(new { @class = "text-right" }).Title(ProjectSession.Resources.label.Area_TextBlockAltAreaCodeDesc);

                    })
                    .Sortable(sortable => sortable.AllowUnsort(false))
                    .Scrollable()
                    .NoRecords("<table><tbody><tr class=\"kendo-data-row\"><td colspan=\"4\">No Records Found</td></tr></tbody></table>")
                    .DataSource(dataSource =>
                                        dataSource.Ajax()
                                        .PageSize(ProjectConfiguration.PageSize)
                                         .Model(model =>
                                         {
                                             model.Id(p => p.L3ID);
                                             model.Field(p => p.L3No);
                                         })
                                        .ServerOperation(true)
                                                                                                                .Read(read => read.Action(Actions.GetAreaByPermissionAndL2ID, Controllers.Configurations, new { area = Areas.Configurations })
                                                                                                            .Data("function(req) { return BindParametersForL3Permission(req,'#=L2ID#');}").
                                                                                    Type(HttpVerbs.Post))
                        )
                                .ToClientTemplate()
                        )
                    </script>

                    <script id="noAreatemplate" type="text/kendo-tmpl">
                        <div style="text-align:center;">
                            Area is disabled for the selected organization.
                        </div>
                    </script>
                }
                else
                {
                    <script id="cityTemplate" type="text/kendo-tmpl">
                        @(Html.Kendo().Grid<Employees_L2>()
                             .Name("gridL2_#=L1ID#") // template expression, to be evaluated in the master context
                             .HtmlAttributes(new { @class = "kl-grid" })
                    .Columns(columns =>
                    {
                        columns.Bound(c => c.ChkL2).HeaderTemplate("<input type='checkbox'  class='chkbx HeadercheckboxDept_#=L1ID# HeaderChk' onclick=CheckAllChildCheckBoxesDiv(this,'gridL2_#=L1ID#','HeadercheckboxDept_#=L1ID#','ChildcheckboxL2_#=L1ID#'); />")
                        .ClientTemplate("<input type='checkbox' onclick=SetGridHeaderCheckBoxSelection(this,'gridL2_#=L1ID#','HeadercheckboxDept_#=L1ID#','ChildcheckboxL2_#=L1ID#'); class='chkbx childL2 ChildcheckboxL2_#=L1ID#' \\#= ChkL2 ? 'checked' : '' \\#  />").Width(30).Sortable(false).Filterable(false);

                        columns.Bound(c => c.L2Code).Title(ProjectSession.Resources.label.JobRequest_TextBlockCityCode).Width(160);

                        columns.Bound(c => c.L2name).Title(ProjectSession.Resources.label.City_TextBlockCityName);
                        columns.Bound(c => c.L2Altname).Title(ProjectSession.Resources.label.City_TextBlockArabicCityName).HtmlAttributes(new { @class = "text-right" });

                    })
                                                                                                 .Sortable(sortable => sortable.AllowUnsort(false))
                                                                                                .Scrollable()
                                                                                                .NoRecords("<table><tbody><tr class=\"kendo-data-row\"><td colspan=\"4\">No Records Found</td></tr></tbody></table>")
                                                                                                .DataSource(dataSource =>
                                                                                                                        dataSource.Ajax()
                                                                                                                        .PageSize(ProjectConfiguration.PageSize)
                                                                                                                         .Model(model =>
                                                                                                                         {
                                                                                                                             model.Id(p => p.L2ID);
                                                                                                                             model.Id(p => p.L2Code);
                                                                                                                         })
                                                                                                                        .ServerOperation(true)
                                                                                                            .Read(read => read.Action(Actions.GetSiteByPermissionAndL1ID, Controllers.Configurations, new { area = Areas.Configurations })
                                                                                                                                                                                            .Data("function(req) { return BindParametersForL2Permission(req,'#=L1ID#');}").
                                                                                                                                                                    Type(HttpVerbs.Post))
                                                                                                                ).ToClientTemplate()
                        )
                    </script>
                }

            </div>
        </div>
    </div>
</div>
<div class="box-footer">
    @if (ProjectSession.PermissionAccess.Management_User_Editrecords)
    {
        <button class="btn btn-primary" id="btnSaveUserLogin" name="btnSaveDeptPermissions1" onclick="SavePermissionsLevelWise();" type="button"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
    }
    <button class="btn btn-default" type="button" onclick="redirectToList();"><span>@ProjectSession.Resources.label.Common_ButtonCancel</span></button>
</div>

<script type="text/javascript">
    function SavePermissionsLevelWise() {
        setTimeout(function () {

            var gridPermissionModel = $("div[id^=gridL2_]").data("kendoGrid");
            var params = {};
            var dataitem;
            var state;
            var lstChangedAreas = [];
            var lstChangedCity = [];
            var lstChangedOrgs = [];
            var Emp_L3 = {};
            var Emp_L2 = 0;
            var Emp_L1 = 0;
            var empID = isNotUndefinedNullOrBlankOrZero('EmployeeID') ? $('#EmployeeID').val() : 0;

            //(Start) Loop throuh all Cities
            $("div[id^=gridL2_]").each(function (i, grid) {
                gridPermissionModel = $(grid).data("kendoGrid");

                $('#' + grid.id + " table tr").each(function (i, row) {
                    if (empID > 0) {
                        var checkBox = $(row).find('input[type=checkbox].childL2');

                        if (checkBox.length > 0) {
                            state = checkBox.prop('checked');
                            if (state != 'undefined' && row != 'undefined') {
                                try { dataitem = gridPermissionModel.dataItem(row); }
                                catch (e) {
                                    dataitem = null;
                                }
                                if (dataitem != null && dataitem != 'undefined' && dataitem['ChkL2'] != state) {
                                    Emp_L2 = {};
                                    dataitem.dirty = true;
                                    Emp_L2["L2ID"] = dataitem["L2ID"];
                                    Emp_L2["EmpID"] = empID;

                                    if (state)
                                    { Emp_L2["IsInserted"] = true; }
                                    else
                                    { Emp_L2["IsInserted"] = false; }

                                    lstChangedCity.push(Emp_L2);
                                    dataitem['ChkL2'] = state;
                                }
                            }
                        }
                    }
                });
            });
            //(End) Loop throuh all Cities

            //(Start) Loop through all area and get chekbox from that
            if ($("div[id^=gridL3_]").length > 0) {
                $("div[id^=gridL3_]").each(function (i, grid) {

                    gridPermissionModel = $(grid).data("kendoGrid");

                    $('#' + grid.id + " table tr").each(function (i, row) {
                        if (empID > 0) {
                            var checkBox = $(row).find('input[type=checkbox].childL3');

                            if (checkBox.length > 0) {
                                state = checkBox.prop('checked');
                                if (state != 'undefined' && row != 'undefined') {
                                    try { dataitem = gridPermissionModel.dataItem(row); }
                                    catch (e) {
                                        dataitem = null;
                                    }
                                    if (dataitem != null && dataitem != 'undefined') {
                                        Emp_L3 = {};
                                        dataitem.dirty = true;
                                        Emp_L3["L3ID"] = dataitem["L3ID"];
                                        Emp_L3["EmpId"] = empID;

                                        if (state)
                                        { Emp_L3["IsInserted"] = true; }
                                        else
                                        { Emp_L3["IsInserted"] = false; }

                                        lstChangedAreas.push(Emp_L3);
                                        dataitem['ChkL3'] = state;
                                    }
                                }
                            }
                        }
                    });
                });
            }
            //(End) Loop through all area and get chekbox from that

            //(Start) Loop throuh all Organization

            gridPermissionModel = $('#orgPermissionGrid').data("kendoGrid");

            $("#orgPermissionGrid  table tr").each(function (i, row) {
                if (empID > 0) {
                    var checkBox = $(row).find('input[type=checkbox].ChildcheckboxL1');

                    if (checkBox.length > 0) {
                        state = checkBox.prop('checked');
                        if (state != 'undefined' && row != 'undefined' && state == true) {
                            try { dataitem = gridPermissionModel.dataItem(row); }
                            catch (e) {
                                dataitem = null;
                            }
                            if (dataitem != null && dataitem != 'undefined') {
                                dataitem.dirty = true;
                                Emp_L1 = dataitem["L1ID"];
                                lstChangedOrgs.push(Emp_L1);
                            }
                        }
                    }
                }
            });

            //(End) Loop throuh all Organization

            params.empID = empID;
            params.lstChangedOrgs = JSON.stringify(lstChangedOrgs);
            params.lstChangedCity = JSON.stringify(lstChangedCity);
            params.lstChangedAreas = JSON.stringify(lstChangedAreas);

            $.ajax({
                url: '@Url.Action(Actions.SaveLevelWisePermissions, Controllers.Management, new { area = Areas.Management })',
                datatype: 'json',
                cache: false,
                method: 'post',
                data: addRequestVerificationToken(params),
                success: function (result) {
                    ShowMessage(result[1], result[2], "#divMessage");
                    try {
                        ReBindKendoGrid('locationPermissionListGrid');
                    } catch (e) { }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }, 10);
    }
</script>