﻿@model CMMS.Model.employees
@using CMMS.Infrastructure;
@using CMMS.Pages;
@using CMMS.Model;
@{
    Layout = null;
    bool Lang = ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true;
}

<style type="text/css">
    .k-grid-content {
        max-height: 500px;
    }
</style>
<script type="text/javascript">
    function BindParametersForCityPermission() {
        return {
            empID: isNotUndefinedNullOrBlankOrZero('EmployeeID') ? $("#EmployeeID").val() : 0,
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function onDataBoundForCityPermission() {
        //gridProperPaging(this);
    }

    function CheckAllChildCheckBoxes() {

        var state = $(".Headercheckbox").is(':checked');
        var gridPermissionModel = $("#userPermissions").data("kendoGrid");

        $('.Childcheckbox').prop('checked', state);
    }

    function ChildCheckBoxChecked(checkbox) {
        var gridPermissionModel = $("#userPermissions").data("kendoGrid");
        SetGridHeaderCheckBoxSelection();
    }

    function SetGridHeaderCheckBoxSelection() {

        setTimeout((function () {
            var gridPermissionModel = $("#cityPermissionListGrid").data("kendoGrid");
            var childChekBoxClassName = 'Childcheckbox';
            var HeaderChekBoxClassName = 'Headercheckbox';
            var numChkBoxes = $('.' + childChekBoxClassName).length;
            var numChkBoxesChecked = $('.' + childChekBoxClassName + ':checked').length;

            if (numChkBoxes == numChkBoxesChecked && numChkBoxes > 0) {
                $('.' + HeaderChekBoxClassName).prop('checked', true);
            }
            else {
                $('.' + HeaderChekBoxClassName).prop('checked', false);
            }
        }), 10)

    }
</script>

<div class="information-form cus-form">
    @*<div class="head1">
        <h1>@ProjectSession.Resources.label.City_TextBlockCityPermission</h1>
        <ul class="sub_btn"></ul>
    </div>*@
    <div class="box-hed">
        @if (ProjectSession.PermissionAccess.Management_User_Editrecords)
        {
            <button class="btn btn-primary" id="btnSaveUserLogin" name="btnSaveCityPermissions2" onclick="SaveCityPermissions();" type="button"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
        }
        <button class="btn btn-default" type="button" onclick="redirectToList();"><span>@ProjectSession.Resources.label.Common_ButtonCancel</span></button>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div id="cityPermission" class="@ProjectSession.CultureKendoClass" >
                @(Html.Kendo().Grid<CMMS.Model.Employees_L2>()
       .Name("cityPermissionListGrid")
                                .HtmlAttributes(new { @class = "kl-grid"})
        .Columns(columns =>
        {
            columns.Bound(c => c.ChkL2).Title(ProjectSession.Resources.label.City_TextBlockCityPermission).Width(150)
                .Sortable(false).HeaderTemplate("<span> <input  type='checkbox' class='Headercheckbox' onclick='CheckAllChildCheckBoxes()' /> &nbsp;" + ProjectSession.Resources.label.City_TextBlockCityPermission + "</span>")
                            .ClientTemplate("<span> <input type=\'checkbox\' class=\'Childcheckbox\' onclick=\'ChildCheckBoxChecked(this)\'    #= ChkL2 ? \'checked\' : \'\'#/></span>").HtmlAttributes(new { @style = "padding-left:10px;" });

            columns.Bound(c => c.L2Code).Title(ProjectSession.Resources.label.JobRequest_TextBlockCityCode).Width(160);

            columns.Bound(c => c.L2name).Title(ProjectSession.Resources.label.City_TextBlockCityName);
            columns.Bound(c => c.L2Altname).Title(ProjectSession.Resources.label.City_TextBlockArabicCityName).HtmlAttributes(new { @class = "text-right" });

        })
        .Sortable(sortable => sortable.AllowUnsort(false))
        .Scrollable()
        .Excel(excel => excel.FileName(ProjectSession.Resources.label.City_TextBlockCityPermission + ".xlsx").Filterable(true).AllPages(false))
                        //.Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
                .Events(events => events.DataBound("onDataBoundForCityPermission"))
        .DataSource(dataSource =>
                                dataSource.Ajax()
                                .PageSize(ProjectConfiguration.PageSize)
                                 .Model(model =>
                                 {
                                     model.Id(p => p.EmpID);
                                     model.Field(p => p.L2ID);
                                 })
                                .ServerOperation(true)
                  .Read(read => read.Action(Actions.GetCityPermissions, Controllers.Management, new { area = Areas.Management }).Data("BindParametersForCityPermission").Type(HttpVerbs.Post))
                )
                )
            </div>

        </div>
    </div>
</div>
<div class="box-footer">
    @if (ProjectSession.PermissionAccess.Management_User_Editrecords)
    {
        <button class="btn btn-primary" id="btnSaveUserLogin" name="btnSaveCityPermissions1" onclick="SaveCityPermissions();" type="button"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
    }
    <button class="btn btn-default" type="button" onclick="redirectToList();"><span>@ProjectSession.Resources.label.Common_ButtonCancel</span></button>
</div>

@if (ProjectSession.PermissionAccess.Management_User_Editrecords)
{
    <script type="text/javascript">
        function SaveCityPermissions() {
            var gridPermissionModel = $("#cityPermissionListGrid").data("kendoGrid");
            var params = {};
            var dataitem;
            var state;
            var lstChangedObjs = [];
            var employee_l2 = {};
            var empID = isNotUndefinedNullOrBlankOrZero('EmployeeID') ? $('#EmployeeID').val() : 0;

            $("#cityPermissionListGrid table tr").each(function (i, row) {
                if (empID > 0) {
                    var checkBox = $(row).find('input[type=checkbox].Childcheckbox');

                    if (checkBox.length > 0) {
                        state = checkBox.prop('checked');
                        if (state != 'undefined') {
                            dataitem = gridPermissionModel.dataItem(row);
                            if (dataitem['ChkL2'] != state) {
                                employee_l2 = {};
                                dataitem.dirty = true;
                                employee_l2["L2ID"] = dataitem["L2ID"];
                                employee_l2["EmpID"] = empID;

                                if (state)
                                { employee_l2["IsInserted"] = true; }
                                else
                                { employee_l2["IsInserted"] = false; }

                                lstChangedObjs.push(employee_l2);
                            }

                            dataitem['ChkL2'] = state;
                        }
                    }
                }
            });

            if (lstChangedObjs.length <= 0)
            {
                return false;
            }

            gridPermissionModel.refresh();
            params.lstChangedObjs = JSON.stringify(lstChangedObjs);

            $.ajax({
                url: '@Url.Action(Actions.SaveL2Permissions, Controllers.Management, new { area = Areas.Management })',
                datatype: 'json',
                cache: false,
                method: 'post',
                data: addRequestVerificationToken(params),
                success: function (result) {
                    ShowMessage(result[1], result[2], "#divMessage");
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }
    </script>
}