﻿@model CMMS.Model.employees
@using CMMS.Infrastructure;
@using CMMS.Pages;
@using CMMS.Model;

<script type="text/javascript" src="~/Scripts/jquery.form.js"></script>
<script type="text/javascript">

</script>

@using (Html.BeginForm(Actions.SaveEmployeeLogin, Controllers.Management, new { area = Areas.Management }, FormMethod.Post, new { id = "frmEmployeeLogin", @role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.EmployeeID)
    <div class="information-form cus-form">
        <div class="row">
            <div class="form-group col-sm-6 col-md-6 col-lg-4">
                <label class="form-label">@ProjectSession.Resources.label.UserList_TextBlockUserID</label>
                @Html.TextBoxFor(model => model.UserID, new { @autocomplete = "off", @MaxLength = 50, @class = "form-control", @id = "txtUserID", @placeholder = ProjectSession.Resources.label.Common_Enter + " " + ProjectSession.Resources.label.UserList_TextBlockUserID })
            </div>
            <div class="form-group col-sm-6 col-md-6 col-lg-4">
                <label class="form-label">@ProjectSession.Resources.label.Employee_TextBlockPassword</label>
                @Html.TextBoxFor(model => model.Password, new { @autocomplete = "off", @MaxLength = 50, @class = "form-control", @id = "txtPassword", @placeholder = ProjectSession.Resources.label.Common_Enter + " " + ProjectSession.Resources.label.Employee_TextBlockPassword, type = "password" })
            </div>
            <div class="form-group col-sm-6 col-md-6 col-lg-4">
                <label class="form-label">@ProjectSession.Resources.label.Employee_TextBlockPOAuthorisationLimit</label>
                @Html.TextBoxFor(model => model.POAuthorisationLimit, new { @MaxLength = 27, @class = "form-control decimalnumber", @id = "txtAuthorisationLimit", @placeholder = ProjectSession.Resources.label.Common_Enter + " " + ProjectSession.Resources.label.Employee_TextBlockPOAuthorisationLimit })
            </div>
            @*</div>
                <div class="row">*@
            <div class="form-group col-sm-6 col-md-6 col-lg-4">
                <div class="checkbox-box">
                    @Html.CheckBoxFor(model => Model.boolTBtransaction, new { id = "chkTransactionTab" })
                    @ProjectSession.Resources.label.Employee_TextBlockTransactionTab
                </div>
            </div>
            <div class="form-group col-sm-6 col-md-6 col-lg-4">
                <div class="checkbox-box">
                    @Html.CheckBoxFor(model => Model.boolTBSetup, new { id = "chkSetupTab" })
                    @ProjectSession.Resources.label.Employee_TextBlockSetupTab
                </div>
            </div>
            <div class="form-group col-sm-6 col-md-6 col-lg-4">
                <div class="checkbox-box">
                    @Html.CheckBoxFor(model => Model.boolTBReport, new { id = "chkReportTab" })
                    @ProjectSession.Resources.label.Employee_TextBlockReportTab
                </div>
            </div>
            <div class="form-group col-sm-6 col-md-6 col-lg-4">
                <div class="checkbox-box">
                    @Html.CheckBoxFor(model => Model.boolTBDashboard, new { id = "chkDashboard" })
                    @ProjectSession.Resources.label.Employee_TextBlockDashboardTab
                </div>
            </div>
            <div class="form-group col-sm-6 col-md-6 col-lg-4">
                <div class="checkbox-box">
                    @Html.CheckBoxFor(model => model.boolCentral, new { id = "chkCentral" })
                    @ProjectSession.Resources.label.Employee_TextBlockCentral
                </div>
            </div>
            <div class="form-group col-sm-6 col-md-6 col-lg-4">
                <div class="checkbox-box">
                    @Html.CheckBoxFor(model => model.boolIsStoreSuperWiser, new { id = "chkIsStoreSuperWiser" })
                    @ProjectSession.Resources.label.Employee_TextBlockStoreSupervisor
                </div>
            </div>
        </div>
    </div>
    <div class="box-footer">
        @if (ProjectSession.PermissionAccess.Management_UserGroups_Createnewrecords || ProjectSession.PermissionAccess.Management_User_Editrecords)
        {
            <button class="btn btn-primary" id="btnSaveUserLogin" name="btnSaveUserLogin" onclick="submitform();" type="button"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
        }
        <button class="btn btn-default" type="button" onclick="redirectToList();"><span>@ProjectSession.Resources.label.Common_ButtonCancel</span></button>
    </div>
}

<script type="text/javascript">

    var validator1 = $('#frmEmployeeLogin').validate({
        rules: {
            POAuthorisationLimit: { range: [0, 999999999] }
        },
        messages: {
            POAuthorisationLimit: { range: '' }
        }
    });


    function submitform() {
        if ($('#frmEmployeeLogin').valid()) {
            var options = {
                success: onSuccessEmployeeLogin,  // post-submit callback
                data: addRequestVerificationToken($('#frmEmployeeLogin').serialize())
            };

            $('#frmEmployeeLogin').ajaxSubmit(options);
        }
        else {
            return false;
        }
    }

    function onSuccessEmployeeLogin(responseText, statusText, xhr, $form) {
        var isCentralModel = '@Model.boolCentral';
        var isCentralCurrent = $('#chkCentral').prop('checked');
       
        if (isCentralModel.toString().toUpperCase() != isCentralCurrent.toString().toUpperCase()) {
            ShowMessage(responseText[0], responseText[1], "#divMessage");
            setTimeout(function () {
                location.reload();
            }, 2000);
        }
        else {
            ShowMessage(responseText[0], responseText[1], "#divMessage");
        }

        $('#txtUserID').focus();
        return false;
    }
</script>