﻿@model CMMS.Model.employees
@using CMMS.Infrastructure;
@using CMMS.Pages;
@using CMMS.Model;
@{
    Layout = null;
    bool Lang = ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true;
}

<style type="text/css">
    .k-grid-content {
        max-height: 750px;
    }

    .k-virtual-scrollable-wrap tr {
        height: 3em;
    }
</style>
<script type="text/javascript">
    function BindParametersForLocationPermission() {
        return {
            empID: isNotUndefinedNullOrBlankOrZero('EmployeeID') ? $("#EmployeeID").val() : 0,
            cityID: '@Model.L2ID',
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function onDataBoundForLocationPermission() {
        //gridProperPaging(this);
    }

    function CheckAllChildCheckBoxesLocation() {

        var state = $(".HeadercheckboxLocation").is(':checked');
        var gridPermissionModel = $("#userPermissions").data("kendoGrid");

        $('.ChildcheckboxLocation').prop('checked', state);
    }

    function ChildCheckBoxChecked(checkbox) {
        var gridPermissionModel = $("#userPermissions").data("kendoGrid");
        SetGridHeaderCheckBoxSelectionLocation();
    }

    function SetGridHeaderCheckBoxSelectionLocation() {

        setTimeout((function () {
            var gridPermissionModel = $("#locationPermissionListGrid").data("kendoGrid");
            var childChekBoxClassName = 'ChildcheckboxLocation';
            var HeaderChekBoxClassName = 'HeadercheckboxLocation';
            var numChkBoxes = $('.' + childChekBoxClassName).length;
            var numChkBoxesChecked = $('.' + childChekBoxClassName + ':checked').length;

            if (numChkBoxes == numChkBoxesChecked && numChkBoxes > 0) {
                $('.' + HeaderChekBoxClassName).prop('checked', true);
            }
            else {
                $('.' + HeaderChekBoxClassName).prop('checked', false);
            }
        }), 10)

    }
</script>

<div class="information-form cus-form">
    @*<div class="head1">
            <h1>@ProjectSession.Resources.label.City_TextBlockCityPermission</h1>
            <ul class="sub_btn"></ul>
        </div>*@
    <div class="box-hed">
        @if (ProjectSession.PermissionAccess.Management_User_Editrecords)
        {
            <button class="btn btn-primary" id="btnSaveUserLogin" name="btnSaveLocationPermissions2" onclick="SaveLocationPermissions();" type="button"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
        }
        <button class="btn btn-default" type="button" onclick="redirectToList();"><span>@ProjectSession.Resources.label.Common_ButtonCancel</span></button>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div id="locationPermission" class="@ProjectSession.CultureKendoClass">
                @(Html.Kendo().Grid<CMMS.Model.Employees_Location>()
       .Name("locationPermissionListGrid")
                                .HtmlAttributes(new { @class = "kl-grid" })
        .Columns(columns =>
        {
            columns.Bound(c => c.ChkLocation).Width(50)
                .Sortable(false).HeaderTemplate("<span> <input  type='checkbox' class='HeadercheckboxLocation' onclick='CheckAllChildCheckBoxesLocation()' /> </span>")
                            .ClientTemplate("<span> <input type=\'checkbox\' class=\'ChildcheckboxLocation\' onclick=\'ChildCheckBoxChecked(this)\'    #= ChkLocation ? \'checked\' : \'\'#/></span>").HtmlAttributes(new { @style = "padding-left:10px;" }).Filterable(false).Width(38);

            columns.Bound(c => c.LocationNo).Title(ProjectSession.Resources.label.Location_TextBlockLocationNo).Width(160).HtmlAttributes(new { title = " #= KendoToolTipTemplate(data.LocationNo) #", @class = "column-textoverflow" });
            columns.Bound(c => c.LocationDescription).Title(ProjectSession.Resources.label.Location_TextBlockLocationDescription).Visible(Lang).Width(180).HtmlAttributes(new { title = " #= KendoToolTipTemplate(data.LocationDescription) #", @class = "column-textoverflow" });
            columns.Bound(c => c.LocationAltDescription).Title(ProjectSession.Resources.label.Location_TextBlockLocationAltDescription).Visible(!Lang).Width(180).HtmlAttributes(new { title = " #= KendoToolTipTemplate(data.LocationAltDescription) #", @class = "column-textoverflow" });

            columns.Bound(c => c.L1No).Title(ProjectSession.Resources.label.Organisation_TextBlockOrgCode).Width(160).HtmlAttributes(new { title = " #= KendoToolTipTemplate(data.L1No) #", @class = "column-textoverflow" });
            columns.Bound(c => c.L1Name).Title(ProjectSession.Resources.label.Organisation_TextBlockOrgName).Visible(Lang).Width(180).HtmlAttributes(new { title = " #= KendoToolTipTemplate(data.L1Name) #", @class = "column-textoverflow" });
            columns.Bound(c => c.L1AltName).Title(ProjectSession.Resources.label.Organisation_TextBlockAltOrgName).Visible(!Lang).HtmlAttributes(new { @class = "text-right" }).Width(180).HtmlAttributes(new { title = " #= KendoToolTipTemplate(data.L1AltName) #", @class = "column-textoverflow" });

            columns.Bound(c => c.L2Code).Title(ProjectSession.Resources.label.JobRequest_TextBlockCityCode).Width(160).HtmlAttributes(new { title = " #= KendoToolTipTemplate(data.L2Code) #", @class = "column-textoverflow" });
            columns.Bound(c => c.L2name).Title(ProjectSession.Resources.label.City_TextBlockCityDesc).Visible(Lang).Width(180).HtmlAttributes(new { title = " #= KendoToolTipTemplate(data.L2name) #", @class = "column-textoverflow" });
            columns.Bound(c => c.L2Altname).Title(ProjectSession.Resources.label.City_TextBlockAltCityDesc).Visible(!Lang).HtmlAttributes(new { @class = "text-right" }).Width(180).HtmlAttributes(new { title = " #= KendoToolTipTemplate(data.L2Altname) #", @class = "column-textoverflow" });

            columns.Bound(c => c.L5No).Title(ProjectSession.Resources.label.Building_TextBlockBuildingCode).Width(160).HtmlAttributes(new { title = " #= KendoToolTipTemplate(data.L5No) #", @class = "column-textoverflow" });
            columns.Bound(c => c.L5Description).Title(ProjectSession.Resources.label.Building_TextBlockBuildingDesc).Visible(Lang).Width(180).HtmlAttributes(new { title = " #= KendoToolTipTemplate(data.L5Description) #", @class = "column-textoverflow" });
            columns.Bound(c => c.L5AltDescription).Title(ProjectSession.Resources.label.Building_TextBlockAltBuildingDesc).Visible(!Lang).HtmlAttributes(new { @class = "text-right" }).Width(180).HtmlAttributes(new { title = " #= KendoToolTipTemplate(data.L5AltDescription) #", @class = "column-textoverflow" });
        })
        .Sortable(sortable => sortable.AllowUnsort(false))
        .Scrollable()
        .Filterable()
        .Resizable(resize => resize.Columns(true))
        .Excel(excel => excel.FileName(ProjectSession.Resources.label.Location_TextBlockLocationPermission + ".xlsx").Filterable(true).AllPages(false))
                                        .Pageable(pageable => pageable.PageSizes(new List<object> { 10, 20,50,100,"all" }).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
                .Events(events => events.DataBound("onDataBoundForLocationPermission"))
        .DataSource(dataSource =>
                                dataSource.Ajax()
                                .PageSize(ProjectConfiguration.PageSize)
                                 .Model(model =>
                                 {
                                     model.Id(p => p.EmpID);
                                     model.Field(p => p.LocationID);
                                 })
                                .ServerOperation(true)
                                  .Read(read => read.Action(Actions.GetLocationPermissions, Controllers.Management, new { area = Areas.Management }).Data("BindParametersForLocationPermission").Type(HttpVerbs.Post))
                )
                )
            </div>

        </div>
    </div>
</div>
<div class="box-footer">
    @if (ProjectSession.PermissionAccess.Management_User_Editrecords)
    {
        <button class="btn btn-primary" id="btnSaveUserLogin" name="btnSaveLocationPermissions1" onclick="SaveLocationPermissions();" type="button"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
    }
    <button class="btn btn-default" type="button" onclick="redirectToList();"><span>@ProjectSession.Resources.label.Common_ButtonCancel</span></button>
</div>

@if (ProjectSession.PermissionAccess.Management_User_Editrecords)
{
    <script type="text/javascript">
        function SaveLocationPermissions() {
            var gridPermissionModel = $("#locationPermissionListGrid").data("kendoGrid");
            var params = {};
            var dataitem;
            var state;
            var lstChangedObjs = [];
            var employee_location = {};
            var empID = isNotUndefinedNullOrBlankOrZero('EmployeeID') ? $('#EmployeeID').val() : 0;

            $("#locationPermissionListGrid table tr").each(function (i, row) {
                if (empID > 0) {
                    var checkBox = $(row).find('input[type=checkbox].ChildcheckboxLocation');

                    if (checkBox.length > 0) {
                        state = checkBox.prop('checked');
                        if (state != 'undefined') {
                            dataitem = gridPermissionModel.dataItem(row);
                            if (dataitem['ChkLocation'] != state) {
                                employee_location = {};
                                dataitem.dirty = true;
                                employee_location["LocationID"] = dataitem["LocationID"];
                                employee_location["EmpID"] = empID;

                                if (state)
                                { employee_location["IsInserted"] = true; }
                                else
                                { employee_location["IsInserted"] = false; }

                                lstChangedObjs.push(employee_location);
                            }

                            dataitem['ChkLocation'] = state;
                        }
                    }
                }
            });

            if (lstChangedObjs.length <= 0) {
                return false;
            }

            gridPermissionModel.refresh();
            params.lstChangedObjs = JSON.stringify(lstChangedObjs);
            params.empID = empID;

            $.ajax({
                url: '@Url.Action(Actions.SaveLocationPermissions, Controllers.Management, new { area = Areas.Management })',
                datatype: 'json',
                cache: false,
                method: 'post',
                data: addRequestVerificationToken(params),
                success: function (result) {
                    ShowMessage(result[1], result[2], "#divMessage");
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }
    </script>
}