﻿@model CMMS.Model.employees
@using CMMS.Infrastructure;
@using CMMS.Pages;
@using CMMS.Model;

<style type="text/css">
    .grpHeaderCheckBox, .grpHeaderCheckBox > span  {float: right;}
    .grpHeaderCheckBox, .grpHeaderCheckBox > span > input[type="checkbox"] {margin-left:24px !important;}
    #arabic .grpHeaderCheckBox, .grpHeaderCheckBox > span { float: left; }
    #arabic .grpHeaderCheckBox, .grpHeaderCheckBox > span > input[type="checkbox"] {margin-left: 0 !important;margin-right: 24px !important;}    
</style>

<script type="text/javascript">
   
</script>


<div id="PermissionData" class="@ProjectSession.CultureKendoClass">
    @(Html.Kendo().Grid<CMMS.Model.Permission>()
                    .Name("userPermissions")
                            .HtmlAttributes(new { @class = "kl-grid" })
                    .Columns(columns =>
                    {

                        columns.Bound(c => c.ModuleName).Title(ProjectSession.Resources.label.Employee_TextBlockModule).ClientGroupHeaderTemplate("#= value # &nbsp;<div class='grpHeaderCheckBox'> <span  style='display:" + (Model.UserGroupId <= 0 ? "none;" : "") + "'><input type='checkbox' name='chkGroupHeaderGroup' onclick='checkGroupCheckBoxesGroups(this)'" + (Model.EmployeeID > 0 && Model.UserGroupId > 0 ? "disabled" : "") + " class='GroupHeaderCheckBoxGroup' id='chkGroupHeaderGroup' /></span> &nbsp;<span  style='display:" + (Model.EmployeeID <= 0 ? "none;" : "") + "'><input type='checkbox' name='chkGroupHeaderEmployee' onclick='checkGroupCheckBoxesEmployees(this)' class='GroupHeaderCheckBoxEmployee' id='chkGroupHeaderEmployee' /></span></div>");
                        //columns.Bound(c => c.ModuleName).Title(ProjectSession.Resources.label.Employee_TextBlockModule).ClientGroupHeaderTemplate("#= value # Allow Module To Employee <span style='margin-left:10px;'><input type='checkbox' name='chkShowHideModuleEmp' class='ShowHideModuleEmp' id='chkShowHideModuleEmp' /></span>&nbsp;Allow Module To Group <span style='margin-left:10px;'><input type='checkbox' name='chkShowHideModuleGroup' class='ShowHideModuleGroup' id='chkShowHideModuleGroup' /></span>&nbsp;<span style='margin-left:300px;display:" + (Model.EmployeeID <= 0 ? "none;" : "") + "'><input type='checkbox' name='chkGroupHeaderEmployee' onclick='checkGroupCheckBoxesEmployees(this)' class='GroupHeaderCheckBoxEmployee' id='chkGroupHeaderEmployee' /></span>&nbsp;<span style='margin-left:10px;display:" + (Model.UserGroupId <= 0 ? "none;" : "") + "'><input type='checkbox' name='chkGroupHeaderGroup' onclick='checkGroupCheckBoxesGroups(this)'" + (Model.EmployeeID > 0 && Model.UserGroupId > 0 ? "disabled" : "") + " class='GroupHeaderCheckBoxGroup' id='chkGroupHeaderGroup' /></span>");

                        columns.Bound(c => c.SubModuleName).Title(ProjectSession.Resources.label.Employee_TextBlockSubModule);

                        columns.Bound(c => c.PermissionDesc).Title(ProjectSession.Resources.label.Employee_TextBlockFunction);

                        columns.Bound(c => c.AllowAccessByEmployee).Title(ProjectSession.Resources.label.Employee_TextBlockWEmployeePermission)
                            .Sortable(false).HeaderTemplate("<span style='padding-left:10px;'> <input  type='checkbox' class='HeadercheckboxAllowAccessByEmployee' onclick='HeadercheckboxAllowAccessByEmployeeCheck()' /> &nbsp;" + ProjectSession.Resources.label.Employee_TextBlockWEmployeePermission + "</span>")
                            .ClientTemplate("<span style='padding-left:10px;'> <input type=\'checkbox\' class=\'ChildcheckboxAllowAccessByEmployee\'     onclick=\'ChildcheckboxAllowAccessByEmployeeCheck(this,true)\'    #= AllowAccessByEmployee ? \'checked\' : \'\'#/></span>")
                            .Visible(Model.EmployeeID > 0 ? true : false);
                        

                        columns.Bound(o => o.AllowAccessByUserGroup).Title(ProjectSession.Resources.label.Employee_TextBlockWUserGroupPermission)
                             .Sortable(false).HeaderTemplate("<span style='padding-left:10px;'> <input type='checkbox' class='HeadercheckboxAllowAccessByGroup' " + (Model.EmployeeID > 0 && Model.UserGroupId > 0 ? "disabled" : "") + " onclick='HeadercheckboxAllowAccessByGroupCheck()' /> &nbsp;" + ProjectSession.Resources.label.Employee_TextBlockWUserGroupPermission + "</span>")
                             .ClientTemplate("<span style='padding-left:10px;'> <input type=\'checkbox\'  onclick=\'ChildcheckboxAllowAccessByEmployeeCheck(this,false)\' "+ (Model.EmployeeID > 0 && Model.UserGroupId > 0 ? "disabled":"") +"  class=\'ChildcheckboxAllowAccessByGroup\'    #= AllowAccessByUserGroup ? \'checked\' : \'\'#/></span>")
                              .Visible(Model.UserGroupId > 0 ? true : false);
                    })
                    .Sortable(sortable => sortable.AllowUnsort(false))
                    .Scrollable()
                            .Excel(excel => excel.FileName("UserPermissions.xlsx").Filterable(true)/*.AllPages(true)*/)
                            .Groupable(c => c.Enabled(false))
                                                     .Events(events => events.DataBound("onDataBoundPermissions"))
                    .DataSource(dataSource =>
                                            dataSource.Ajax()
                                                //.PageSize(ProjectConfiguration.PageSize)
                                                        .Sort(model => model.Add("SubModuleName").Ascending())
                                             .Model(model =>
                                             {
                                                 model.Id(p => p.PermissionId);
                                                 model.Field(p => p.ModuleName);
                                             })
                                            .ServerOperation(false)
                                                    .Events(e => e.RequestEnd("SetGridHeaderCheckBoxSelectionAfterRequest()"))
                                                            .Read(read => read.Action(Actions.GetPermissionsByEmpAndGroup, Controllers.Management, new { area = Areas.Management }).Data("BindParametersForPermissions").Type(HttpVerbs.Post))
                                                    .Group(groups => groups.Add(p => p.ModuleName))

                    )
    )
</div>

<script type="text/javascript">
    function HeadercheckboxAllowAccessByEmployeeCheck() {

        var state = $(".HeadercheckboxAllowAccessByEmployee").is(':checked');
        var gridPermissionModel = $("#userPermissions").data("kendoGrid");

        $('.ChildcheckboxAllowAccessByEmployee').prop('checked', state);
        $('.GroupHeaderCheckBoxEmployee').prop('checked', state);
    }

    function HeadercheckboxAllowAccessByGroupCheck() {

        var state = $(".HeadercheckboxAllowAccessByGroup").is(':checked');
        var gridPermissionModel = $("#userPermissions").data("kendoGrid");

        $('.ChildcheckboxAllowAccessByGroup').prop('checked', state);
        $('.GroupHeaderCheckBoxGroup').prop('checked', state);

        // gridPermissionModel.refresh();

    }


    //For check-uncheck allow permission
    function ChildcheckboxAllowAccessByEmployeeCheck(checkbox, isEmp) {
        var gridPermissionModel = $("#userPermissions").data("kendoGrid");
        SetGridHeaderCheckBoxSelection(isEmp);
        updateAllowAccessByEmployeeInDataSource(checkbox, gridPermissionModel, $(checkbox).is(":checked"), isEmp);
        checkGroupHeaderCheckBoxOnChildChange(checkbox, isEmp);
    }

    function checkGroupHeaderCheckBoxOnChildChange(checkBox, isEmp) {
        var state = $(checkBox).is(":checked");
        var currentGroupRow = $(checkBox).closest(".k-grouping-row");
        var className = isEmp == true ? 'GroupHeaderCheckBoxEmployee' : 'GroupHeaderCheckBoxGroup';
        var elem = $(checkBox).parent().parent().parent();

        while (!elem.hasClass("k-grouping-row")) {
            elem = elem.prev();
        }

        if (!state)
        { $(elem).find('input[type=checkbox].' + className).prop('checked', false); }

    }

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };

    function checkGroupCheckBoxesEmployees(e) {
        var grid = $("#userPermissions").data("kendoGrid");
        var currentGroupRow = $(e).closest(".k-grouping-row");
        var i = 0;
        var allRowsOfCurrentGroup = currentGroupRow.nextUntil(".k-grouping-row", ":not('.k-group-footer')");
        var length = allRowsOfCurrentGroup.length;

        for (i = 0 ; i < length ; i++) {
            $(allRowsOfCurrentGroup[i]).find('input[type=checkbox].ChildcheckboxAllowAccessByEmployee').prop('checked', $(e).is(':checked'));
        }
        //  SetGridHeaderCheckBoxSelection(true);
    }

    function checkGroupCheckBoxesGroups(e) {
        var grid = $("#userPermissions").data("kendoGrid");
        var currentGroupRow = $(e).closest(".k-grouping-row");
        var i = 0;
        var allRowsOfCurrentGroup = currentGroupRow.nextUntil(".k-grouping-row", ":not('.k-group-footer')");
        var length = allRowsOfCurrentGroup.length;

        for (i = 0 ; i < length ; i++) {
            $(allRowsOfCurrentGroup[i]).find('input[type=checkbox].ChildcheckboxAllowAccessByGroup').prop('checked', $(e).is(':checked'));
        }
        //SetGridHeaderCheckBoxSelection(false);
    }

    $(function () {
        setTimeout(function () {
            if ($('#hdnEmployeeID').val() <= 0) {
               // $("#userPermissions").data("kendoGrid").hideColumn(3);
               // $('.GroupHeaderCheckBoxEmployee').css('display', 'none');
            }

            if ($('#hdnUserGroupID').val() <= 0) {
               // $("#userPermissions").data("kendoGrid").hideColumn(4);
               // $('.GroupHeaderCheckBoxGroup').css('display', 'none');
            }

            $('.k-icon.k-i-expand').off('click').on('click', function () {
                setTimeout(function () { setCheckBoxAtProperPlace(); }, 100);
            });

            $('.k-icon.k-i-collapse').off('click').on('click', function () {
                setTimeout(function () { setCheckBoxAtProperPlace(); }, 100);
            });

            setCheckBoxAtProperPlace();
        }, 800);
    });

    $(window).resize(function () {
        setCheckBoxAtProperPlace();
    });

    function setCheckBoxAtProperPlace()
    {
        var gw = $('th.k-header:last-child').innerWidth();
        $('.grpHeaderCheckBox > span').innerWidth(gw);
    }
</script>