﻿@using CMMS.Infrastructure;
@using CMMS.Pages;

<script>
    function ChangeLanguageGrid() {
        ReBindKendoGrid("untransltedWordGrid");
    }

    $(document).off('focusin.modal');
</script>

<div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" title="@ProjectSession.Resources.label.Common_ButtonClose"></button>
            <h4 class="modal-title">@ProjectSession.Resources.label.Translation_TextBlockLanguageTranslation</h4>
        </div>
        <form role="form" id="frmJobPlan">
            <input type="hidden" name="hdnJobPlanID" id="hdnJobPlanID" />
            <div class="modal-body">
                <div id="Highlights" class="tab-pane active" role="tabpanel">
                    <div class="form-horizontal">
                        <div id="divModelErrorTranslation"></div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">@ProjectSession.Resources.label.Translation_TextBlockFromLanguage</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" name="FromWord" id="txtFromWord" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.Translation_TextBlockFromLanguage" readonly value="@ViewBag.IsDefaultLanguage">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">@ProjectSession.Resources.label.Translation_TextBlockSelectLanguage</label>
                            <div class="col-sm-8">
                                <div class="@ProjectSession.CultureKendoClass">
                                    @(Html.Kendo().DropDownList()
                                                         .Name("drpLanguageCode")
                                            //.OptionLabel(ProjectSession.Resources.label.Common_Select)
                                                         .DataTextField("Language")
                                                         .DataValueField("LanguageCode")
                                                         .HtmlAttributes(new { style = "width: 100%", @required = "required" })
                                                         .Events(e => e.Change("ChangeLanguageGrid"))
                                                         .DataSource(source =>
                                                         {
                                                             source.Read(read =>
                                                             {
                                                                 read.Action(Actions.GetLanguageCode, Controllers.Management, new { area = Areas.Management });
                                                             });
                                                         }).Value("")
                                    )
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div id="employeeData" class="@ProjectSession.CultureKendoClass table-fix height-300">
                                    @(Html.Kendo().Grid<CMMS.Model.Untranslatedword>()
                                            .Name("untransltedWordGrid")
                                            .Columns(columns =>
                                            {
                                                columns.Bound(c => c.Word).Title(ProjectSession.Resources.label.Translation_TextBlockFromWord);

                                                columns.Bound(c => c.ToWord).Template(@<text></text>).ClientTemplate("<input type='text' name='ToWord' class='toword form-control' id='#:UntranslatedwordID#'/>").Title(ProjectSession.Resources.label.Translation_TextBlockToWord).Width(200);

                                                columns.Bound(c => c.Type).Title(ProjectSession.Resources.label.Translation_TextBlockType);

                                                columns.Bound(c => c.ModuleName).Title(ProjectSession.Resources.message.ItemRequisition_TextBlockModuleName);

                                                columns.Bound(c => c.UntranslatedwordID).Hidden(true);

                                            })
                                            .Filterable()
                                            //.Sortable(sortable => sortable.AllowUnsort(false))
                                            .Scrollable()
                                            //.Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
                                            .Events(events => events.DataBound("onDataBoundUnTranslatedWord"))
                                            .DataSource(dataSource => dataSource.Ajax()
                                            .PageSize(ProjectConfiguration.PageSize)
                                             .Model(model =>
                                             {
                                                 model.Id(p => p.UntranslatedwordID);
                                                 model.Field(p => p.Word);
                                             })
                                            .ServerOperation(true)
                                            .Read(read => read.Action(Actions.GetUnTranslatedWordListByCode, Controllers.Management, new { area = Areas.Management }).Data("BindParameterUnTranslatedWord").Type(HttpVerbs.Post))
                                            )
                                    )

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer box-footer">
                <button type="submit" class="btn btn-primary" id="btnSaveTrans"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
                <button type="button" class="btn btn-default" data-dismiss="modal">@ProjectSession.Resources.label.Common_ButtonClose</button>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('.table-fix .k-grid-content').slimScroll({
            height: '100%',
        });
    });

    $('#frmJobPlan').on('submit', function (e) {
        if ($("#frmJobPlan").valid()) {
            if (!e.isDefaultPrevented()) {
                if (!reValidateDropDowns($(this))) {
                    e.preventDefault();
                }
                else {
                    var GridTransltedWord = $("#untransltedWordGrid").data("kendoGrid");
                    var ScheduleDateGridRowsCount = GridTransltedWord.tbody.find('>tr:not(.kendo-data-row)').length;
                    if (ScheduleDateGridRowsCount > 0) {

                        if (GridTransltedWord != null) {
                            $('#btnSaveTrans').attr('disabled', 'disabled');
                            dt = GridTransltedWord.dataSource.data();

                            $('.toword').each(function () {
                                var id = $(this).attr('id');
                                var item = getObjects(dt, 'UntranslatedwordID', id)[0];
                                if (item != null) {
                                    if ($(this).val() != null && $(this).val() != '') {
                                        item.ToWord = $(this).val();
                                    }
                                }
                            });
                            $.ajax({
                                url: '@Url.Action(Actions.NewTranslations, Controllers.Management, new { area = Areas.Management })',
                                type: "POST",
                                data: {
                                    languageCode: $("#drpLanguageCode").val(),
                                    lstJsonTranslations: JSON.stringify(dt)
                                },
                                dataType: "json",
                                success: function (result) {
                                    $('#btnSaveTrans').removeAttr('disabled');
                                    if (result[0] == '@SystemEnum.MessageType.danger.ToString()') {
                                        ShowMessage(result[0], result[1], "#divModelErrorTranslation");
                                    }
                                    else {
                                        ShowMessage(result[0], result[1], "#divModelErrorTranslation");
                                        ReBindKendoGrid("untransltedWordGrid");
                                    }
                                },
                                error: function (xhr, ajaxOptions, thrownError) {
                                    showErrorMessage();
                                }
                            });
                            return false;
                        }
                    }
                    else {
                        ShowMessage('@SystemEnum.MessageType.danger.ToString()', '@ProjectSession.Resources.message.Common_MsgNoRecordsFound', "#divModelErrorTranslation");
                        e.preventDefault();
                    }
                }
            }
            else { e.preventDefault(); }
        }
        else {
            e.preventDefault();
        }
    });
    function getObjects(obj, key, val) {
        var objects = [];
        for (var i in obj) {
            if (!obj.hasOwnProperty(i)) continue;
            if (typeof obj[i] == 'object') {
                objects = objects.concat(getObjects(obj[i], key, val));
            } else if (i == key && obj[key] == val) {
                objects.push(obj);
            }
        }
        return objects;
    }
</script>
