﻿@using CMMS.Infrastructure;
@using CMMS.Pages;
@{
    ViewBag.Title = "ActiveSession";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.AntiForgeryToken()
<div class="head1">
    <h1>@ProjectSession.Resources.label.Employee_TextBlockActiveSession</h1>
    <ul class="sub_btn">
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-search" data-toggle="modal" data-target="#search-order" onclick='OpenAdvancedSearch("@ProjectSession.Resources.label.Employee_TextBlockActiveSession","@SystemEnum.Pages.ActiveSession.GetHashCode()");' title="@ProjectSession.Resources.label.Common_ButtonAdvanceSearch"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-clear" title="@ProjectSession.Resources.label.Common_ButtonClear" onclick="return ClearAdvencedSearch(@SystemEnum.Pages.ActiveSession.GetHashCode());"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-refresh" onclick="ReBindKendoGrid('activeSessionGrid');" title="@ProjectSession.Resources.label.Common_ButtonRefreshGrid"><i></i></a>
        </li>
        @if (ProjectSession.PermissionAccess.Management_ActiveSessions_Export)
        {
            <li>
                <a href="javascript:void(0);" class="btn-icon btn-xsl" onclick="ExportToExcel('activeSessionGrid', 'SessionId');" title="@ProjectSession.Resources.label.Common_ButtonExportToExcel"><i></i></a>
            </li>
        }
    </ul>
</div>

<!-- Kendo Grid-->
<div id="activeSessionData" class="@ProjectSession.CultureKendoClass">
    @(Html.Kendo().Grid<CMMS.Model.Session>()
        .HtmlAttributes(new { @class = "kl-grid" })
        .Name("activeSessionGrid")
        .Columns(columns =>
        {
            columns.Bound(c => c.EmployeeNO).Title(ProjectSession.Resources.label.Employee_TextBlockEmployeeNO).Width(100);

            columns.Bound(c => c.NAME).Title(ProjectSession.Resources.label.Employee_TextBlockEmployeeName);

            columns.Bound(c => c.L2Code).Title(ProjectSession.Resources.label.JobRequest_TextBlockCityCode)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterSite", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

            columns.Bound(c => c.Logintime).ClientTemplate("#= DateTemplateWithTime(data.Logintime) #").Title(ProjectSession.Resources.label.Employee_TextBlockLoginDateTime);

            if (ProjectSession.PermissionAccess.Management_ActiveSessions_Deleterecords)
            {
                columns.Bound(c => c.SessionId).ClientTemplate("<center><a class='action delete-button'  href='javascript:void(0);'  class='delete-ic' data-id='#: SessionId #' style='cursor:pointer'><i class='glyphicon glyphicon-trash' title='" + ProjectSession.Resources.label.Common_ButtonDelete + "'></i></a></center>")
                                            .Title("<center>" + ProjectSession.Resources.label.Common_ButtonAction + "</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Width(70).Filterable(false);
            }
        })
        .Filterable()
        .Sortable(sortable => sortable.AllowUnsort(false))
        .Scrollable()
        .Excel(excel => excel.FileName("Active Session.xlsx").Filterable(true).AllPages(true).ProxyURL(Url.Action("Excel_Export_Save", "GridExport", new { area = string.Empty })))
        .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
        .Events(events => events.DataBound("onDataBound").ExcelExport("excelExport"))
        .DataSource(dataSource =>
                                dataSource.Ajax()
                                .PageSize(ProjectConfiguration.PageSize)
                                .Sort(model => model.Add("Logintime").Descending())
                                 .Model(model =>
                                 {
                                     model.Id(p => p.SessionId);
                                     model.Field(p => p.Logintime);
                                 })
                                .ServerOperation(true)
                                .Read(read => read.Action(Actions.GetActiveSession, Controllers.Management, new { area = Areas.Management }).Data("BindParameters").Type(HttpVerbs.Post))
        )
    )

</div>

<!-- search order -->
<div id="search-order" class="modal fade" role="dialog"></div>

<script type="text/javascript">
    var kendoGridId = 'activeSessionGrid';
    var intPageID = '@SystemEnum.Pages.ActiveSession.GetHashCode()';

    function BindParameters() {
        return {
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };
</script>

@if (ProjectSession.PermissionAccess.Management_ActiveSessions_Deleterecords)
{
    <script type="text/javascript">
        function onDataBound(arg) {
            confirmDeleteMsg(msgText, okText, cancelText, onConfirmCallback, confirmDirection);
            gridProperPaging(this);
        }

        function onConfirmCallback(sender) {
            var id = $(this).data("id");
            $.ajax({
                url: '@Url.Action(Actions.DeleteActiveSession, Controllers.Management, new { area = Areas.Management })',
                type: "POST",
                data: addRequestVerificationToken({ sessionId: id }),
                dataType: "json",
                success: function (result) {
                    ShowMessage(result[0], result[1], "#divMessage");
                    ReBindKendoGrid("activeSessionGrid");
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }
    </script>
}
else
{
    <script>
        function onDataBound(arg) {
            gridProperPaging(this);
        }
    </script>
}