﻿@using CMMS.Infrastructure;
@using CMMS.Pages;
@using CMMS.Models
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool Lang = ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true;
}

<style>
    .dropdown-menu > li > a.sub-menu {
        color: #777;
        font-size: 15px;
        font-weight: bold;
        line-height: 1.42857;
        white-space: nowrap;
        pointer-events: none;
        cursor: default;
    }

    .dropdown-header {
        font-size: 16px;
        font-weight: bold;
    }
</style>

<link href="~/Scripts/SelectPicker/bootstrap-select.css" rel="stylesheet" />
<script src="~/Scripts/SelectPicker/bootstrap-select.js"></script>
<link href="~/Content/bootstrap-multiselect.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-multiselect.js"></script>

@Html.AntiForgeryToken()

<div class="head1">
    <h1>
        @ProjectSession.Resources.menu.AuditTrail_MenuDatabaseAuditTrail
    </h1>
</div>
<div class="box">
    <div class="information-form cus-form" style="padding-top: 10px;">
        @*<h3 class="sub-title">
                <span>@ProjectSession.Resources.menu.AuditTrail_MenuDatabaseAuditTrail</span>
            </h3>*@
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="form-group ">
                    <label class="form-label">@ProjectSession.Resources.label.AuditTrail_TextBlockTableName</label>
                    <div>
                        <select class="selectpicker" data-live-search="true" id="ddlTablelist" data-size="10">
                            <optgroup label="@ProjectSession.Resources.menu.JobRequest_MenuJobRequests">
                                <option value="worequest">@ProjectSession.Resources.menu.JobRequest_MenuJobRequests</option>
                                <option value="extassetfiles_r">@ProjectSession.Resources.menu.Common_MenuAttachment</option>
                            </optgroup>
                            <optgroup label="@ProjectSession.Resources.menu.JobOrder_MenuJobOrders">
                                <option value="workorders">@ProjectSession.Resources.menu.JobOrder_MenuJobOrderList</option>
                                <option value="assigntoworkorder">@ProjectSession.Resources.menu.Common_MenuAssignTo</option>
                                <option value="workorderlabor">@ProjectSession.Resources.menu.JobOrder_MenuJobOrders</option>
                                <option value="direct">@ProjectSession.Resources.label.ItemRequisition_TextBlockDirectIssue</option>
                                <option value="issue">@ProjectSession.Resources.label.JobOrder_TextBlockIssues</option>
                                <option value="return">@ProjectSession.Resources.label.JobOrder_TextBlockReturn</option>
                                <option value="workorderelements">@ProjectSession.Resources.menu.PMChecklist_MenuPMChecklists</option>
                                <option value="workorderitems">@ProjectSession.Resources.label.ItemList_TextBlockItemList</option>
                                <option value="jobtask">@ProjectSession.Resources.menu.JobPlan_MenuJobPlans</option>
                                <option value="sitask">@ProjectSession.Resources.menu.SafetyInstruction_MenuSafetyInstructions</option>
                                <option value="extassetfiles_j">@ProjectSession.Resources.menu.Common_MenuAttachment</option>
                            </optgroup>
                            <optgroup label="@ProjectSession.Resources.menu.Reports_MenuAsset">
                                <option value="assets">@ProjectSession.Resources.label.Asset_TextBlockAssetList</option>
                                <option value="extassetfiles_a">@ProjectSession.Resources.menu.Common_MenuAttachment</option>
                            </optgroup>
                            <optgroup label="@ProjectSession.Resources.menu.Location_MenuLocations">
                                <option value="l4">@ProjectSession.Resources.label.Street_TextBlockStreet</option>
                                <option value="l5">@ProjectSession.Resources.label.Building_TextBlockBuilding</option>
                                <option value="location">@ProjectSession.Resources.label.Location_TextBlockLocationList</option>
                            </optgroup>
                            <optgroup label="@ProjectSession.Resources.menu.Preventive_MenuPreventive">
                                <option class="sub-menu" disabled="disabled" value="">
                                    @ProjectSession.Resources.menu.TimeBasedPM_MenuTimeBasedPM
                                </option>
                                <option value="pmschedule">&nbsp;&nbsp;&nbsp;&nbsp;@ProjectSession.Resources.label.PM_TextBlockPMScheduleList</option>
                                <option value="multiplepm">&nbsp;&nbsp;&nbsp;&nbsp;@ProjectSession.Resources.label.PM_CheckBoxMultiplePM</option>
                                <option class="sub-menu" disabled="disabled" value="">
                                    @ProjectSession.Resources.menu.PMSchedule_MenuPMScheduleListByAssetSubTypes
                                </option>
                                <option value="pmschedule_asset">&nbsp;&nbsp;&nbsp;&nbsp;@ProjectSession.Resources.menu.PMSchedule_MenuPMScheduleListByAssetSubTypes</option>
                                <option value="multiplepm_asset">&nbsp;&nbsp;&nbsp;&nbsp;@ProjectSession.Resources.label.PM_CheckBoxMultiplePM</option>
                                <option value="" title="Meter PM" class="sub-menu" disabled="disabled">
                                    @ProjectSession.Resources.menu.PMMeter_MenuMeterPM
                                </option>
                                <option value="pmmetermaster">&nbsp;&nbsp;&nbsp;&nbsp;@ProjectSession.Resources.menu.PM_MenuPMMeterMaster</option>
                                <option value="pmmeters">&nbsp;&nbsp;&nbsp;&nbsp;@ProjectSession.Resources.menu.PMMeter_MenuPMMeterList</option>
                                <option value="pmmeters_assignto">&nbsp;&nbsp;&nbsp;&nbsp;@ProjectSession.Resources.menu.Common_MenuAssignTo</option>
                                <option value="" title="PM Checklist" class="sub-menu" disabled="disabled">
                                    @ProjectSession.Resources.menu.PMChecklist_MenuPMChecklists
                                </option>
                                <option value="pmchecklist">&nbsp;&nbsp;&nbsp;&nbsp;@ProjectSession.Resources.label.PMChecklist_TextBlockPMChecklistList</option>
                                <option value="checklistelements">&nbsp;&nbsp;&nbsp;&nbsp;@ProjectSession.Resources.menu.PM_MenuPMChecklistElement</option>
                                <option value="checklistinv">&nbsp;&nbsp;&nbsp;&nbsp;@ProjectSession.Resources.label.ItemList_TextBlockItemList</option>
                                <option value="extassetfiles_p">&nbsp;&nbsp;&nbsp;&nbsp;@ProjectSession.Resources.menu.Common_MenuAttachment</option>
                            </optgroup>
                            @*purchasing*@
                            <optgroup label="@ProjectSession.Resources.menu.Purchasing_MenuPurchase">
                                <option title="Purchase Request" class="sub-menu" disabled="disabled" value="">
                                    @ProjectSession.Resources.menu.Purchasing_MenuPurchaseRequest
                                </option>
                                <option value="purchaserequest">&nbsp;&nbsp;&nbsp;&nbsp;@ProjectSession.Resources.label.Purchasing_TextBlockPurchaseRequestList</option>
                                <option value="purchaserequestitems">&nbsp;&nbsp;&nbsp;&nbsp;@ProjectSession.Resources.label.PurchaseRequest_TextBlockPurchaseRequestItems</option>
                                <option value="extassetfiles_pr">&nbsp;&nbsp;&nbsp;&nbsp;@ProjectSession.Resources.menu.Common_MenuAttachment</option>

                                <option title="Purchase Order" class="sub-menu" disabled="disabled" value="">
                                    @ProjectSession.Resources.menu.Purchasing_MenuPurchaseOrder
                                </option>
                                <option value="purchaseorder">&nbsp;&nbsp;&nbsp;&nbsp;@ProjectSession.Resources.label.Purchasing_TextBlockPurchaseOrderList</option>
                                <option value="purchaseorderitems">&nbsp;&nbsp;&nbsp;&nbsp;@ProjectSession.Resources.label.PurchaseOrder_TextBlockPurchaseOrderItems</option>
                                <option value="extassetfiles_po">&nbsp;&nbsp;&nbsp;&nbsp;@ProjectSession.Resources.menu.Common_MenuAttachment</option>
                            </optgroup>
                            <optgroup label="@ProjectSession.Resources.menu.Cleaning_MenuCleaning">
                                <option title="Cleaning Inspection" class="sub-menu" disabled="disabled" value="">
                                    @ProjectSession.Resources.menu.Cleaning_MenuCleaningInspection
                                </option>
                                <option value="cleaninginspectionmaster">&nbsp;&nbsp;&nbsp;&nbsp;@ProjectSession.Resources.label.CleaningInspection_TextBlockCleaningInspectionList</option>
                                <option value="cleaninginspectiondetails">&nbsp;&nbsp;&nbsp;&nbsp;@ProjectSession.Resources.label.CleaningInspection_TabCleaningList</option>

                                <option title="Cleaning Inspection Group" class="sub-menu" disabled="disabled" value="">
                                    @ProjectSession.Resources.menu.Cleaning_MenuCleaningInspectionGroup
                                </option>
                                <option value="cleaninginspectiongroup">&nbsp;&nbsp;&nbsp;&nbsp;@ProjectSession.Resources.menu.Cleaning_MenuCleaningInspectionGroup</option>
                                <option value="cleaninginspectiongroupsequencenumber">&nbsp;&nbsp;&nbsp;&nbsp;@ProjectSession.Resources.label.CleaningInspection_TextBlockSequenceNumberList</option>

                                <option title="Cleaning Checklist" class="sub-menu" disabled="disabled" value="">
                                    @ProjectSession.Resources.menu.Cleaning_MenuCleaningChecklistList
                                </option>
                                <option value="pmchecklist_clean">&nbsp;&nbsp;&nbsp;&nbsp;@ProjectSession.Resources.label.Cleaning_TextBlockCleaningChecklist</option>
                                <option value="checklistelements_clean">&nbsp;&nbsp;&nbsp;&nbsp;@ProjectSession.Resources.label.Cleaning_TextBlockCleaningChecklistElement</option>
                                <option value="checklistinv_clean">&nbsp;&nbsp;&nbsp;&nbsp;@ProjectSession.Resources.label.ItemList_TextBlockItemList</option>
                                <option value="extassetfiles_clean">&nbsp;&nbsp;&nbsp;&nbsp;@ProjectSession.Resources.menu.Common_MenuAttachment</option>
                                <option class="sub-menu" disabled="disabled" value="">
                                    @ProjectSession.Resources.menu.Cleaning_MenuCleaningScheduleList
                                </option>
                                <option value="pmschedule_clean">&nbsp;&nbsp;&nbsp;&nbsp;@ProjectSession.Resources.menu.Cleaning_MenuCleaningScheduleList</option>
                            </optgroup>
                            <optgroup label="@ProjectSession.Resources.menu.Store_MenuStore">
                                <option value="substore">@ProjectSession.Resources.menu.Store_MenuStores</option>
                                <option value="attrgroup">@ProjectSession.Resources.label.ItemType_TextBlockItemType</option>
                                <option value="attrsubgroup">@ProjectSession.Resources.label.ItemSubType_TextBlockPartSubTypes</option>
                                <option value="partlocation">@ProjectSession.Resources.label.Location_TextBlockItemLocation</option>
                                <option disabled="disabled" class="sub-menu" value="">
                                    @ProjectSession.Resources.label.ItemList_TextBlockItemList
                                </option>
                                <option value="stockcode">&nbsp;&nbsp;&nbsp;&nbsp;@ProjectSession.Resources.label.ItemList_TextBlockItemList</option>
                                <option value="stock_alternative">&nbsp;&nbsp;&nbsp;&nbsp;@ProjectSession.Resources.label.ItemList_TextBlockAlternativeItem</option>
                                <option value="stock_code_supplier">&nbsp;&nbsp;&nbsp;&nbsp;@ProjectSession.Resources.menu.Reports_MenuSupplierList</option>
                                <option value="stockcode_levels">&nbsp;&nbsp;&nbsp;&nbsp;@ProjectSession.Resources.label.ItemList_TextBlockStockCodeLevel</option>
                                <option value="extassetfiles_s">&nbsp;&nbsp;&nbsp;&nbsp;@ProjectSession.Resources.menu.Common_MenuAttachment</option>
                                <option disabled="disabled" class="sub-menu" value="">
                                    @ProjectSession.Resources.menu.ItemRequisition_MenuItemRequisition
                                </option>
                                <option value="material_req_master">&nbsp;&nbsp;&nbsp;&nbsp;@ProjectSession.Resources.menu.ItemRequisition_MenuRequisitionList</option>
                                <option value="material_req_details">&nbsp;&nbsp;&nbsp;&nbsp;@ProjectSession.Resources.label.ItemRequisition_TextBlockRequisitionDetails</option>
                            </optgroup>
                            <optgroup label="@ProjectSession.Resources.label.Employee_TextBlockEmployee">
                                <option value="employees">@ProjectSession.Resources.label.Employee_TextBlockEmployeeList</option>
                            </optgroup>
                            <optgroup label="@ProjectSession.Resources.menu.Management_MenuManagement">
                                <option value="employees">@ProjectSession.Resources.menu.UserList_MenuUserList</option>
                            </optgroup>
                            <optgroup label="@ProjectSession.Resources.menu.Setups_Configurations_MenuSetupsConfigurations">
                                <option value="l2">@ProjectSession.Resources.menu.City_MenuCity</option>
                                <option value="l3">@ProjectSession.Resources.label.Area_TextBlockArea</option>
                                <option value="mainenancedivision">@ProjectSession.Resources.label.JobRequest_TextBlockMaintenanceDivision</option>
                                <option value="maintenancedepartment">@ProjectSession.Resources.menu.MaintenanceDept_MenuMaintenanceDepartments</option>
                                <option value="maintsubdept">@ProjectSession.Resources.menu.MaintSubDept_MenuMaintenanceSubDeparments</option>
                                <option value="maintgroup">@ProjectSession.Resources.menu.MaintenanceGroup_MenuMaintenanceGroups</option>
                                <option value="failurecause">@ProjectSession.Resources.label.FailureCodes_TextBlockFailureCode</option>
                                <option value="suppliers">@ProjectSession.Resources.menu.Supplier_MenuSuppliersContractors</option>
                                <option disabled="disabled" class="sub-menu" value="">
                                    @ProjectSession.Resources.menu.BoM_MenuBoMList
                                </option>
                                <option value="partslist">&nbsp;&nbsp;&nbsp;&nbsp;@ProjectSession.Resources.menu.BoM_MenuBoMList</option>
                                <option value="partslistdetails">&nbsp;&nbsp;&nbsp;&nbsp;@ProjectSession.Resources.menu.BoMList_MenuBoMListDetail</option>
                                <option value="costcenter">@ProjectSession.Resources.menu.CostCenter_MenuCostCenters</option>
                                <option value="accountcode">@ProjectSession.Resources.label.AccountCode_TextBlockAccountCode</option>
                                <option disabled="disabled" class="sub-menu" value="">
                                    @ProjectSession.Resources.menu.JobPlan_MenuJobPlans
                                </option>
                                <option value="tbljobplan">&nbsp;&nbsp;&nbsp;&nbsp;@ProjectSession.Resources.menu.JobPlan_MenuJobPlans</option>
                                <option value="tbljobplanitems">&nbsp;&nbsp;&nbsp;&nbsp;@ProjectSession.Resources.menu.JobPlan_MenuJobPlansItem</option>
                                <option disabled="disabled" class="sub-menu" value="">
                                    @ProjectSession.Resources.menu.SafetyInstruction_MenuSafetyInstructions
                                </option>
                                <option value="tblsafetyinstruction">&nbsp;&nbsp;&nbsp;&nbsp;@ProjectSession.Resources.menu.SafetyInstruction_MenuSafetyInstructions</option>
                                <option value="tblsafetyinstructionitems">&nbsp;&nbsp;&nbsp;&nbsp;@ProjectSession.Resources.menu.SafetyInstruction_MenuSafetyInstructionItems</option>
                                <option disabled="disabled" class="sub-menu" value="">
                                    @ProjectSession.Resources.menu.ItemRequisition_MenuItemRequisition
                                </option>
                                <option value="mr_authorisation_status">&nbsp;&nbsp;&nbsp;&nbsp;@ProjectSession.Resources.label.AccountCode_TextBlockStatus</option>
                                <option value="irapprovallevels">&nbsp;&nbsp;&nbsp;&nbsp;@ProjectSession.Resources.menu.IRApproval_MenuIRApprovalLevels</option>
                                <option value="" title="&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;Work Flow" class="sub-menu">&nbsp;&nbsp;&nbsp;&nbsp;@ProjectSession.Resources.menu.IRApproval_MenuIRApprovalLevelMappings
                                </option>
                                <option value="irapprovallevelmappings">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@ProjectSession.Resources.menu.IRApproval_MenuIRApprovalLevelMappings</option>
                                <option value="irapprovallevelmappings_employees">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@ProjectSession.Resources.menu.SafetyInstruction_MenuIRApprovalLevelMappingsEmployee</option>
                                <option disabled="disabled" class="sub-menu" value="">
                                    @ProjectSession.Resources.menu.Management_MenuJobManagementSetups
                                </option>
                                <option value="workpriority">&nbsp;&nbsp;&nbsp;&nbsp;@ProjectSession.Resources.label.JobPriority_TextBlockJobPriority</option>
                                <option value="workstatus">&nbsp;&nbsp;&nbsp;&nbsp;@ProjectSession.Resources.label.JobStatus_TextBlockJobStatus</option>
                                <option value="worktype">&nbsp;&nbsp;&nbsp;&nbsp;@ProjectSession.Resources.label.JobType_TextBlockJobType</option>
                                <option value="worktrade">&nbsp;&nbsp;&nbsp;&nbsp;@ProjectSession.Resources.menu.JobTrade_MenuJobTrade</option>
                                <option disabled="disabled" class="sub-menu" value="">
                                    @ProjectSession.Resources.menu.Asset_MenuAssetSetups
                                </option>
                                <option value="assetcategories">&nbsp;&nbsp;&nbsp;&nbsp;@ProjectSession.Resources.label.Asset_TextBlockAssetCategory</option>
                                <option value="assetstatus">&nbsp;&nbsp;&nbsp;&nbsp;@ProjectSession.Resources.label.Asset_TextBlockAssetStatus</option>
                                <option value="criticality">&nbsp;&nbsp;&nbsp;&nbsp;@ProjectSession.Resources.label.Asset_TextBlockAssetCriticality</option>
                                <option value="warrantycontract">&nbsp;&nbsp;&nbsp;&nbsp;@ProjectSession.Resources.label.Asset_TextBlockAssetWarrantyContract</option>
                                <option disabled="disabled" class="sub-menu" value="">
                                    @ProjectSession.Resources.menu.Employee_MenuEmployeeUserSetups
                                </option>
                                <option value="employeecategories">&nbsp;&nbsp;&nbsp;&nbsp;@ProjectSession.Resources.label.Employee_TextBlockEmployeeCategory</option>
                                <option value="employeestatuses">&nbsp;&nbsp;&nbsp;&nbsp;@ProjectSession.Resources.label.Employee_TextBlockEmployeeStatus</option>

                            </optgroup>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="form-group cus-select">
                    <label class="form-label">@ProjectSession.Resources.label.AuditTrail_TextBlockTypeOfChange</label>
                    <div>
                        <select id="ddlsearchtype" multiple="multiple">
                            <option value="2">@ProjectSession.Resources.label.AuditTrail_TextBlockInsert</option>
                            <option value="4">@ProjectSession.Resources.label.AuditTrail_TextBlockAfterUpdate</option>
                            <option value="3">@ProjectSession.Resources.label.AuditTrail_TextBlockBeforeUpdate</option>
                            <option value="1">@ProjectSession.Resources.label.Common_ButtonDelete</option>
                        </select>
                    </div>
                </div>
            </div>

            <input id="hdnTableName" type="hidden" value="" />
        </div>
    </div>

    <div class="box-footer">
        <button type="button" class="btn btn-primary" onclick="search();"><span>@ProjectSession.Resources.label.Report_ButtonSearch</span></button>
        <button type="button" class="btn btn-default" onclick=" reset();"><span>@ProjectSession.Resources.label.Common_ButtonClear</span></button>
    </div>
</div>

<div id="dbgrid">
    <div class="head1">
        <h1>
            <span id="spnTable" class="spnTable"></span>
        </h1>

        <ul class="sub_btn">
            @if (ProjectSession.PermissionAccess.Management_AuditTrail_Export)
            {
                <li>
                    <a href="javascript:void(0);" id="btnExport" class="btn-icon btn-xsl" onclick="ExportToExcel('grid');" title="@ProjectSession.Resources.label.Common_ButtonExportToExcel"><i></i></a>
                </li>
            }
            @if (ProjectSession.PermissionAccess.Management_AuditTrail_Deleterecords)
            {
                <li>
                    <a href="javascript:void(0);" id="btnDeleteAll" class="btn btn-primary" onclick="DeleteAllRecords();" title="@ProjectSession.Resources.label.Common_ButtonDeleteAll">@ProjectSession.Resources.label.Common_ButtonDeleteAll</a>

                </li>
            }

        </ul>
    </div>
    <div class="box">
        <div class="information-form cus-form">
            <h3 class="sub-title">
                <span class="spnTable"></span>
            </h3>
            <div class="row">

                <div class="col-md-12">
                    <div id="grid" class="@ProjectSession.CultureKendoClass">
                    </div>
                </div>
                <div class="col-md-12" id="dvNodata">
                    @ProjectSession.Resources.message.Common_MsgNoRecordsFound
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var intPageID = '@SystemEnum.Pages.DataBaseAudit.GetHashCode()';
    var exportName = "";
    $("#ddlsearchtype").multiselect({ nonSelectedText: '@ProjectSession.Resources.label.Common_TextBlockNoneSelected' });
    $(document).ready(function () {
        clear();
    });

    $(".selectpicker").selectpicker({ width: '100%' });


    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };

    function reset() {
        window.location.href = '@Url.Action(Actions.DatabaseAuditTrail, Controllers.Management, new { area = Areas.Management })'
    }

    function search() {
        $('#grid').empty();
        $("#dbgrid").hide();

        tableName = $('#ddlTablelist option:selected').text().trim();
        exportName = tableName;
        tableValue = $('#ddlTablelist').val();
        Searchtype = $('#ddlsearchtype').val();
        $("#hdnTableName").val("");

        $.ajax({
            url: '@Url.Action(Actions.GetDatabaseAuditTableDetails, Controllers.Management, new { area = Areas.Management })',
            type: "POST",
            data: addRequestVerificationToken({ tableName: tableValue, "searchType": encodeURIComponent(Searchtype) }),
            success: function (result) {
                if (result.length > 0) {
                    generateGrid(result, tableValue);
                    $("#grid").show();
                    $("#dvNodata").hide();
                    $("#btnExport").show();
                    $("#hdnTableName").val(tableValue);
                    $("#btnDeleteAll").show();
                }
                else {
                    $("#btnExport").hide();
                    $("#grid").hide();
                    $("#dvNodata").show();
                    $("#hdnTableName").val("");
                    $("#btnDeleteAll").hide();
                }
                $(".spnTable").text(tableName);
                $("#dbgrid").show();

            },
            error: function (xhr, ajaxOptions, thrownError) {
                showErrorMessage();
            }
        });
    }

    function clear() {
        $("#ddlsearchtype").val('');
        $("#ddlsearchtype").multiselect("rebuild");

        $("#dbgrid").hide();
    }

    function generateGrid(gridData, tableName) {
        var model1 = generateModel(gridData[0], tableName);
        //var parseFunction;
        //if (dataFields.length > 0) {
        //    parseFunction = function (response) {
        //        for (var i = 0; i < response.length; i++) {
        //            for (var fieldIndex = 0; fieldIndex < dataFields.length; fieldIndex++) {
        //                var record = response[i];
        //                record[dataFields[fieldIndex]] = kendo.parseDate(record[dataFields[fieldIndex]]);
        //            }
        //        }
        //        return response;
        //    };
        //}

        var grid = $("#grid").kendoGrid({
            dataSource: {
                data: gridData,
                pageSize: 10
                //column: {
                //    model: model

                //}
            },
            schema: { model: { fields: model1.field } },
            sortable: true,
            columns: model1,
            pageable: {
                pageSizes: true,
                buttonCount: 5
            },
            dataBound: onDataBound,
            excelExport: excelExport,
            scrollable: true,
            excel: {
                fileName: exportName + ".xlsx",
                proxyURL: "@Url.Action("Excel_Export_Save", "GridExport", new { area = string.Empty })",
                filterable: true
            },
        });
    }

    function generateModel(gridData, tableName) {
        var dataFields = [];
        var model = {};

        var columnCount = Object.keys(gridData).length;
        if (columnCount > 4) {
            columnCount = columnCount - 4;
        }
        var width = null;

        if (columnCount == 5) {
            width = 366;
        }
        else if (columnCount == 6) {
            width = 306;
        }
        else if (columnCount == 7) {
            width = 262;
        }
        else if (columnCount == 8) {
            width = 230;
        }
        else if (columnCount == 9) {
            width = 204;
        }
        else if (columnCount == 10) {
            width = 182;
        }
        else if (columnCount > 10) {
            width = 150;
        }

        // get list from transaltion for column header

        var lstColumnName = [];
        var headerList = [];
        for (var property in gridData) {

            lstColumnName.push(property);
        }

        headerList = GetTranslateHeadeList(lstColumnName, tableName);
        var i = 0;
        for (var property in gridData) {
            var propType = typeof gridData[property];

            var Header = headerList[i];

            if (propType == "number") {
                if (property.toLowerCase() == "operation") {

                    model = {
                        field: property,
                        title: "@ProjectSession.Resources.label.AuditTrail_TextBlockTypeOfChange",
                        template: "# if( data.operation == 1) { #  @ProjectSession.Resources.label.Common_ButtonDelete # } else if( data.operation == 2) { # @ProjectSession.Resources.label.AuditTrail_TextBlockInsert # } else if( data.operation == 3) { # @ProjectSession.Resources.label.AuditTrail_TextBlockBeforeUpdate # } else if( data.operation == 4) { # @ProjectSession.Resources.label.AuditTrail_TextBlockAfterUpdate # } #",
                        type: "string",
                        width: width,
                    }
                    dataFields.push(model);
                }
                else {
                    model = {
                        field: property,
                        title: Header,
                        type: "number",
                        width: width,
                    }
                    dataFields.push(model);
                }
            }
            else if (propType == "boolean") {
                model = {
                    field: property,
                    title: Header,
                    template: "# if(data." + property + " == 1) { #  Yes # } else { # No # } #",
                    width: width,
                }
                dataFields.push(model);
            }
            else if (propType == "string") {
                var parsedDate = kendo.parseDate(gridData[property]);
                if (parsedDate) {
                    model = {
                        template: "#= DateTemplateWithTime(data." + property + ") #",
                        field: property,
                        title: Header,
                        type: 'date',
                        width: width,
                    }
                    dataFields.push(model);
                }
                else {

                    model = {
                        field: property,
                        title: Header,
                        type: "string",
                        width: width,
                    }
                    dataFields.push(model);
                }
            }
            else {

                model = {
                    field: property,
                    title: Header,
                    type: "string",
                    width: width,
                }
                dataFields.push(model);

            }
            i++;
        }

        return dataFields;
    }

    function GetTranslateHeadeList(lstColumnName, tableName) {

        tableName = tableName.replace(/\s/g, '');
        var returnList = [];
        var params = {};
        params.tableName = tableName;
        params.lstColumnName = JSON.stringify(lstColumnName);

        $.ajax({
            url: '@Url.Action(Actions.GetPropertyName, Controllers.Management, new { area = Areas.Management })',
            cache: false,
            type: "POST",
            data: addRequestVerificationToken(params),
            async: false,
            success: function (result) {
                returnList = result;
            },
            error: function () {

            }
        });
        return jQuery.parseJSON(returnList);

    }

    function onDataBound(arg) {
        this.hideColumn("objTranslation");
        this.hideColumn("TotalRecords");
        this.hideColumn("RowIndex");
        this.hideColumn("update_mask");
        gridProperPaging(this);
    }

    function DeleteAllRecords() {
        var result = confirm('@ProjectSession.Resources.message.JobOrder_MsgDeleteAllConfirm');
        if (result) {
            var name = $("#hdnTableName").val();
            $.ajax({
                url: '@Url.Action(Actions.DeleteAuditTablesAllRecords, Controllers.Management, new { area = Areas.Management })',
                type: "POST",
                data: addRequestVerificationToken({ tableName: name }),
                success: function (result) {
                    ShowMessage(result[0], result[1], "#divMessage");
                    search();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }
    }


    $('#ddlTablelist').on('change', function () {
        $("#ddlsearchtype").val('');
        $("#ddlsearchtype").multiselect("rebuild");
    });
</script>
