﻿@model CMMS.Model.employees
@using CMMS.Infrastructure;
@using CMMS.Pages;
@using CMMS.Model
@using CMMS.Service
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="head1">
    @{
        var Titletext = "";
        if (Model.EmployeeID > 0)
        { Titletext = ProjectSession.Resources.label.Employee_TextBlockEmployeeEdit; }
        else
        { Titletext = ProjectSession.Resources.menu.Employee_MenuNewEmployee; }

        <h1>
            @Titletext
        </h1>

        bool changeMasterCode = false;
        bool createRecords = false;
        bool editRecords = false;

        if (Model.isfrmTransaction == 0)
        {
            changeMasterCode = true;
            createRecords = ProjectSession.PermissionAccess.Management_User_Createnewrecords;
            editRecords = ProjectSession.PermissionAccess.Management_User_Editrecords;
        }
        else
        {
            changeMasterCode = ProjectSession.PermissionAccess.Employee_Employee_ChangeMastersCodes;
            createRecords = ProjectSession.PermissionAccess.Employee_Employee_Createnewrecords;
            editRecords = ProjectSession.PermissionAccess.Employee_Employee_Editrecords;
        }
    }

    @*<script src="~/Scripts/custom-file-uplaod.js"></script>*@
</div>

<link href=@Url.Content("~/Scripts/JsLibraries/Jcrop-v0.9.12/css/jquery.Jcrop.min.css") rel="stylesheet" />
<script src=@Url.Content("~/Scripts/JsLibraries/Jcrop-v0.9.12/js/jquery.Jcrop.min.js")></script>
<script type="text/javascript">
    var isLoginTabLoaded = false;
    function CalculateTargetDate() {
    }

    var msgConfirmation = '@ProjectSession.Resources.message.Employee_MsgConfirmationCopyGroupPermissionsToEmployee';
    function onUserGroupChange() {
        try {

            if ('@Model.EmployeeID' > 0 && $('#ddlUserGroup').val() > 0 && '@Model.UserID' != '' && '@Model.UserID' != null && '@Model.isfrmTransaction' == 0) {
                var response = confirm(msgConfirmation);

                var params = {};
                params.employeeID = '@Model.EmployeeID';
                params.userGroupID = $('#ddlUserGroup').val();

                if (response) {
                    $.ajax({
                        url: '@Url.Action(Actions.CopyUserPermissionToEmployee, Controllers.Management, new { area = Areas.Management })',
                        type: 'Post',
                        data: addRequestVerificationToken(params),
                        success: function (result) {
                            ShowMessage(result[0], result[1], "#divMessage");
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            showErrorMessage();
                        }
                    });
                }
            }
        } catch (e) {

        }
    }
</script>
<div id="divContent">


    <div class="box edit-job-order">
        <div id="divModelError"></div>
        <div class="nav-tabs-horizontal">
            <ul class="nav nav-tabs">
                @Html.HiddenFor(model => model.isfrmTransaction)
                <li class="active" id="tbl1"><a data-toggle="tab" href="#tb1" aria-controls="tb1">@ProjectSession.Resources.label.Employee_TextBlockEmployee</a></li>
                @if (Model.isfrmTransaction == 0 && Model.EmployeeID > 0)
                {
                    <li role="presentation" id="tbl2"><a data-toggle="tab" href="#tb2" aria-controls="tb2">@ProjectSession.Resources.label.Employee_TextBlockEmployeeDocument</a></li>
                    <li role="presentation" id="tbl3"><a data-toggle="tab" href="#tb3" aria-controls="tb3">@ProjectSession.Resources.label.Employee_TextBlockUserLogin</a></li>
                    <li role="presentation" id="tbl4"><a data-toggle="tab" href="#tb4" style="display: none;" aria-controls="tb4">@ProjectSession.Resources.label.DashboardTabMenu_RadPaneReports</a></li>
                    if (Model.Central != 1)
                    {
                    <li role="presentation" id="tbl5"><a data-toggle="tab" href="#tb5" aria-controls="tb5">@ProjectSession.Resources.label.Employee_TextBlockAccessLevel</a></li>
                    }
                    if (!string.IsNullOrEmpty(Model.UserID) && !string.IsNullOrEmpty(Model.Password) && Model.Central != 1)
                    {
                    <li role="presentation" id="tbl6"><a data-toggle="tab" href="#tb6" aria-controls="tb6">@ProjectSession.Resources.label.ItemRequisition_RadTabItemDeptView</a></li>
                    <li role="presentation" id="tbl7"><a data-toggle="tab" href="#tb7" aria-controls="tb7">@ProjectSession.Resources.label.Location_TabItemLocation</a></li>
                    }
                }
                else
                {
                    if (!string.IsNullOrEmpty(Model.UserID) && !string.IsNullOrEmpty(Model.Password) && Model.EmployeeID > 0 && Model.Central != 1)
                    {
                    <li role="presentation" id="tbl7"><a data-toggle="tab" href="#tb7" aria-controls="tb7">@ProjectSession.Resources.label.Location_TabItemLocation</a></li>
                    }
                }

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" onclick="ABC(this);"></a>
                    <ul class="dropdown-menu smp">
                        <li class="active" id="tbl11"><a data-toggle="tab" href="#tb1" aria-controls="tb1">@ProjectSession.Resources.label.Employee_TextBlockEmployee</a></li>
                        @if (Model.isfrmTransaction == 0 && Model.EmployeeID > 0)
                        {
                            <li role="presentation" id="tbl12"><a data-toggle="tab" href="#tb2" aria-controls="tb2">@ProjectSession.Resources.label.Employee_TextBlockEmployeeDocument</a></li>
                            <li role="presentation" id="tbl13"><a data-toggle="tab" href="#tb3" aria-controls=" tb3">@ProjectSession.Resources.label.Employee_TextBlockUserLogin</a></li>
                            <li role="presentation" id="tbl14"><a data-toggle="tab" style="display: none;" href="#tb4" aria-controls="tb4">@ProjectSession.Resources.label.DashboardTabMenu_RadPaneReports</a></li>
                            if (Model.Central != 1)
                            {
                            <li role="presentation" id="tbl15"><a data-toggle="tab" href="#tb5" aria-controls="tb5">@ProjectSession.Resources.label.Employee_TextBlockAccessLevel</a></li>
                            }
                            if (!string.IsNullOrEmpty(Model.UserID) && !string.IsNullOrEmpty(Model.Password) && Model.Central != 1)
                            {
                            <li role="presentation" id="tbl16"><a data-toggle="tab" href="#tb6" aria-controls="tb6">@ProjectSession.Resources.label.ItemRequisition_RadTabItemDeptView</a></li>
                            <li role="presentation" id="tbl17"><a data-toggle="tab" href="#tb7" aria-controls="tb7">@ProjectSession.Resources.label.Location_TabItemLocation</a></li>
                            }
                        }
                        else
                        {
                            if (!string.IsNullOrEmpty(Model.UserID) && !string.IsNullOrEmpty(Model.Password) && Model.EmployeeID > 0 && Model.Central != 1)
                            {
                            <li role="presentation" id="tbl17"><a data-toggle="tab" href="#tb7" aria-controls="tb7">@ProjectSession.Resources.label.Location_TabItemLocation</a></li>
                            }
                        }
                    </ul>
                </li>

            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tb1">
                    @using (Html.BeginForm(Actions.SaveEmployee, Controllers.Management, new { area = Areas.Management, id = @Model.EmployeeID, frm = @Model.isfrmTransaction }, FormMethod.Post, new { enctype = "multipart/form-data", id = "frmEmployee", @role = "form" }))
                    {

                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.isfrmTransaction)
                        if (!changeMasterCode && Model.EmployeeID > 0)
                        { @Html.HiddenFor(model => model.EmployeeNO) }
                        <div class="information-form">
                            <div class="clearfix">
                                <div class="upload-photo-block">
                                    <div class="upload-photo">
                                        <div class="upload-img">
                                            @if (Model.ImagePath != null)
                                            {
                                                <img src="@Model.ImagePath" alt="" id="myImgEmployee" alt="" style="max-height:170px;max-width:150px;min-width:150px;min-height:170px;">
                                            }
                                            else
                                            {
                                                <img src="@Url.Content("~/Images/default_user.jpg")" id="myImgEmployee" alt="" style="max-height: 170px; max-width: 150px; min-width: 150px; min-height: 170px;">
                                            }

                                        </div>
                                        <span class="upload-input">
                                            <input type="file" id="ChangeEmployeePhoto" name="ChangeEmployeePhoto" accept="image/*" title="Upload User Image" />
                                        </span>
                                        @Html.HiddenFor(model => model.ImagePath)
                                        @Html.HiddenFor(model => model.OldImagePath)
                                        <input type="hidden" id="hdnIsOriginal" value="1" />
                                        <label class="upload-not">(* @ProjectSession.Resources.message.Employee_MsgUploadValidImageNote ) </label>
                                    </div>

                                    <div class="row">
                                        <div class="form-group col-md-6  col-lg-4">
                                            <label class="form-label">@ProjectSession.Resources.label.Employee_TextBlockEmployeeNO<span class="cfont">*</span></label>
                                            @Html.HiddenFor(model => model.EmployeeID)
                                            @Html.TextBoxFor(model => model.EmployeeNO, new { @MaxLength = 50, @id = "txtEmpNo", @class = "form-control", @placeholder = ProjectSession.Resources.label.Common_Enter + " " + ProjectSession.Resources.label.Employee_TextBlockEmployeeNO })
                                        </div>
                                        <div class="form-group col-md-6  col-lg-4">
                                            <label class="form-label">@ProjectSession.Resources.label.Employee_TextBlockEmployeeName<span class="cfont">*</span></label>
                                            @Html.TextBoxFor(model => model.Name, new { @MaxLength = 100, @class = "form-control", @id = "txtEmpName", @Name = "Name", @placeholder = ProjectSession.Resources.label.Common_Enter + " " + ProjectSession.Resources.label.Employee_TextBlockEmployeeName })
                                        </div>
                                        <div class="form-group col-md-6  col-lg-4">
                                            <label class="form-label">@ProjectSession.Resources.label.Employee_TextBlockDesignation</label>
                                            @Html.TextBoxFor(model => model.Positions, new { @MaxLength = 100, @class = "form-control", @id = "txtDesination", @placeholder = ProjectSession.Resources.label.Common_Enter + " " + ProjectSession.Resources.label.Employee_TextBlockDesignation })
                                        </div>

                                        <div class="form-group col-md-6  col-lg-12">
                                            <label class="form-label">@ProjectSession.Resources.label.Employee_TextBlockAddress</label>
                                            @Html.TextAreaFor(model => model.Address, new { @MaxLength = 4000, @class = "form-control", @rows = "5", @id = "txtEmpAddress", @placeholder = ProjectSession.Resources.label.Common_Enter + " " + ProjectSession.Resources.label.Employee_TextBlockAddress })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="information-form cus-form">
                            <h3 class="sub-title">
                                <span>@ProjectSession.Resources.label.Employee_TextBlockContactInfo</span>
                                <div class="sub_btn">
                                </div>
                            </h3>
                            <div class="row">
                                <div class="form-group col-sm-6 col-md-6 col-lg-4">
                                    <label class="form-label">@ProjectSession.Resources.label.Employee_TextBlockTelePhoneNo</label>
                                    @Html.TextBoxFor(model => model.WorkPhone, new { @MaxLength = 30, @class = "form-control", @id = "txtTelephoneNo", @placeholder = ProjectSession.Resources.label.Common_Enter + " " + ProjectSession.Resources.label.Employee_TextBlockTelePhoneNo })
                                </div>
                                <div class="form-group col-sm-6 col-md-6 col-lg-4">
                                    <label class="form-label">@ProjectSession.Resources.label.Employee_TextBlockFaxNo</label>
                                    @Html.TextBoxFor(model => model.Fax, new { @MaxLength = 50, @class = "form-control", @id = "txtFaxno", @placeholder = ProjectSession.Resources.label.Common_Enter + " " + ProjectSession.Resources.label.Employee_TextBlockFaxNo })
                                </div>
                                <div class="form-group col-sm-6 col-md-6 col-lg-4">
                                    <label class="form-label">@ProjectSession.Resources.label.Employee_TextBlockMobileNo</label>
                                    @Html.TextBoxFor(model => model.HandPhone, new { @MaxLength = 50, @class = "form-control", @id = "txtMobileNo", @placeholder = ProjectSession.Resources.label.Common_Enter + " " + ProjectSession.Resources.label.Employee_TextBlockMobileNo })
                                </div>
                                <div class="form-group col-sm-6 col-md-6 col-lg-4">
                                    <label class="form-label">@ProjectSession.Resources.label.Employee_TextBlockHousePhone</label>
                                    @Html.TextBoxFor(model => model.Housephone, new { @MaxLength = 50, @class = "form-control", @id = "txtHousePhone", @placeholder = ProjectSession.Resources.label.Common_Enter + " " + ProjectSession.Resources.label.Employee_TextBlockHousePhone })
                                </div>
                                <div class="form-group col-sm-6 col-md-6 col-lg-4">
                                    <label class="form-label">@ProjectSession.Resources.label.Employee_TextBlockEmail</label>
                                    @Html.TextBoxFor(model => model.Email, new { @MaxLength = 50, @class = "form-control", @id = "txtEmail", @placeholder = ProjectSession.Resources.label.Common_Enter + " " + ProjectSession.Resources.label.Employee_TextBlockEmail, type = "email" })
                                </div>
                            </div>
                        </div>
                        <div class="information-form cus-form">
                            <h3 class="sub-title">
                                <span>@ProjectSession.Resources.label.Employee_TextBlockWorkOfficeInfo</span>
                                <div class="sub_btn">
                                </div>
                            </h3>
                            <div class="row">
                                <div class="form-group col-sm-6 col-md-6 col-lg-4">
                                    <label class="form-label">@ProjectSession.Resources.label.Employee_TextBlockOfficeLoc</label>
                                    @Html.TextBoxFor(model => model.OfficeLocation, new { @MaxLength = 100, @class = "form-control", @id = "txtOfficeLocation", @placeholder = ProjectSession.Resources.label.Common_Enter + " " + ProjectSession.Resources.label.Employee_TextBlockOfficeLoc })
                                </div>
                                <div class="form-group col-sm-6 col-md-6 col-lg-4">
                                    <label class="form-label">@ProjectSession.Resources.label.JobRequest_TextBlockCity<span class="cfont">*</span></label>
                                    <div class="@ProjectSession.CultureKendoClass">
                                        @(Html.Kendo().DropDownListFor(model => model.L2ID)
                                                                                        .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                                                                        .DataTextField("L2Code")
                                                                                        .ValueTemplate(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "#:L2Code # -- #: L2Altname # " : "#:L2Code # -- #: L2name #")
                                                                                        .DataValueField("L2ID")
                                                                                        .HtmlAttributes(new { style = "width: 100%", @required = "required" })
                                                                                        .Template("#= KendoDDLTemplate(data.L2Code ,data.L2name, data.L2Altname) #")
                                                                                        .DataSource(source =>
                                                                                        {
                                                                                            source.Read(read =>
                                                                                            {
                                                                                                read.Action(Actions.GetAllCities, Controllers.Configurations, new { area = Areas.Configurations, cityID = Model.L2ID });
                                                                                            });
                                                                                        })
                                                                                        .Value(Convert.ToString(Model.L2ID))
                                                                                    )
                                    </div>
                                </div>

                                <div class="form-group col-sm-6 col-md-6 col-lg-4">
                                    <label class="form-label">@ProjectSession.Resources.label.MaintDivision_TextBlockMaintDiv<span class="cfont">*</span></label>
                                    <div class="@ProjectSession.CultureKendoClass">
                                        @(Html.Kendo().DropDownListFor(model => model.MaintDivisionID)
                                                                                        .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                                                                        .DataTextField("MaintDivisionCode")
                                                                                        .ValueTemplate(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "#:MaintDivisionCode # -- #: MaintDivisionAltName # " : "#:MaintDivisionCode # -- #: MaintDivisionName #")
                                                                                        .DataValueField("MaintDivisionID")
                                                                                        .HtmlAttributes(new { style = "width: 100%", @required = "required", id = "ddlMaintDivision" })
                                                                                        .Template("#= KendoDDLTemplate(data.MaintDivisionCode ,data.MaintDivisionName, data.MaintDivisionAltName) #")
                                                                                        .DataSource(source =>
                                                                                        {
                                                                                            source.Read(read =>
                                                                                            {
                                                                                                read.Action(Actions.GetMaintenanceDivisions, Controllers.Configurations, new { area = Areas.Configurations });
                                                                                            });
                                                                                        })
                                                                                       .Value(Convert.ToString(Model.MaintDivisionID))

                                                                                    )
                                    </div>
                                </div>

                                <div class="form-group col-sm-6 col-md-6 col-lg-4">
                                    <label class="form-label">@ProjectSession.Resources.label.MaintenanceDept_TextBlockMaintDept<span class="cfont">*</span></label>
                                    <div class="@ProjectSession.CultureKendoClass">
                                        @(Html.Kendo().DropDownListFor(model => model.MaintDeptID)
                                                                                    .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                                                                    .DataTextField("MaintDeptCode")
                                                                                    .ValueTemplate(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "#:MaintDeptCode # -- #:MaintDeptAltdesc # " : "#:MaintDeptCode # -- #:MaintDeptdesc #")
                                                                                    .DataValueField("MaintDeptID")
                                                                                    .HtmlAttributes(new { style = "width: 100%", @required = "required", id = "ddlMaintDepartment" })
                                                                                    .Template("#= KendoDDLTemplate(data.MaintDeptCode, data.MaintDeptdesc, data.MaintDeptAltdesc) #")
                                                                                    .DataSource(source =>
                                                                                            {
                                                                                                source.Read(read =>
                                                                                                {
                                                                                                    read.Action(Actions.GetMaintDeptByDivisionID, Controllers.Configurations, new { area = Areas.Configurations }).Data("filterDepartment");

                                                                                                })
                                                                                                .ServerFiltering(true);
                                                                                            })
                                                                                    .CascadeFrom("ddlMaintDivision")
                                                                                    .AutoBind(true)
                                                                                    .Value(Convert.ToString(Model.MaintDeptID))
                                                                                    )
                                    </div>
                                    <script>
                                        function filterDepartment() {
                                            return {
                                                maintDivisionId: $("#ddlMaintDivision").val()
                                            };
                                        }
                                    </script>
                                </div>

                                <div class="form-group col-sm-6 col-md-6 col-lg-4">
                                    <label class="form-label">@ProjectSession.Resources.label.MaintenanceSubDept_TextBlockMaintSubDept<span class="cfont">*</span></label>
                                    <div class="@ProjectSession.CultureKendoClass">
                                        @(Html.Kendo().DropDownListFor(model => model.MaintSubDeptID)
                                                .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                                .DataTextField("MaintSubDeptCode")
                                                .ValueTemplate(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "#:MaintSubDeptCode # -- #: MaintSubDeptAltDesc # " : "#:MaintSubDeptCode # -- #: MaintSubDeptDesc #")
                                                .DataValueField("MaintSubDeptID")
                                                .HtmlAttributes(new { style = "width: 100%", @required = "required", id = "ddlMaintSubDepartment" })
                                                .Template("#= KendoDDLTemplate(data.MaintSubDeptCode ,data.MaintSubDeptDesc, data.MaintSubDeptAltDesc) #")
                                                .DataSource(source =>
                                                                {
                                                                    source.Read(read =>
                                                                    {
                                                                        read.Action(Actions.GetMaintSubDeptByDeptID, Controllers.Management, new { area = Areas.Management }).Data("filterSubDepartment");

                                                                    })
                                                                    .ServerFiltering(true);
                                                                })
                                                .CascadeFrom("ddlMaintDepartment")
                                                .AutoBind(true)
                                                .Value(Convert.ToString(Model.MaintSubDeptID))
                                                                                    )
                                    </div>
                                    <script>
                                        function filterSubDepartment() {
                                            return {
                                                maintDeptid: $("#ddlMaintDepartment").val()
                                            };
                                        }
                                    </script>
                                </div>

                                <div class="form-group col-sm-6  col-md-6 col-lg-4">
                                    <label class="form-label">@ProjectSession.Resources.label.JobTrade_TextBlockJobTrade</label>
                                    <div class="@ProjectSession.CultureKendoClass">
                                        @(Html.Kendo().DropDownListFor(model => model.WorkTradeID)
                                                .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                                .DataTextField("WorkTrade")
                                                .ValueTemplate(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "#:AltWorkTrade # " : "#:WorkTrade #")
                                                .DataValueField("WorkTradeID")
                                                .HtmlAttributes(new { style = "width: 100%", id = "ddlJobTrade" })
                                                .Template(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "#:AltWorkTrade # " : "#:WorkTrade #")
                                                .DataSource(source =>
                                                {
                                                    source.Read(read =>
                                                    {
                                                        read.Action(Actions.GetJobTrades, Controllers.Configurations, new { area = Areas.Configurations });
                                                    });
                                                })
                                                      .Value(Convert.ToString(Model.WorkTradeID))
                                                                                    )
                                    </div>
                                </div>

                                <div class="form-group col-sm-6  col-md-6 col-lg-4">
                                    <label class="form-label">@ProjectSession.Resources.label.Employee_TextBlockHourlySalary</label>
                                    @Html.TextBoxFor(model => model.HourlySalary, new { @MaxLength = 27, @class = "form-control decimalnumber", @id = "txtHourlySalary", @placeholder = ProjectSession.Resources.label.Common_Enter + " " + ProjectSession.Resources.label.Employee_TextBlockHourlySalary })
                                </div>
                                <div class="form-group col-sm-6 col-md-3 col-lg-4">
                                    <label class="form-label">@ProjectSession.Resources.label.Employee_TextBlockOverTimeRate</label>
                                    <div class="row">
                                        <div class="col-xs-4">
                                            @Html.TextBoxFor(model => model.OverTime1, new { @MaxLength = 27, @class = "form-control decimalnumber", @id = "txtOT1", @placeholder = ProjectSession.Resources.label.Employee_TextBlockOT1 })
                                        </div>
                                        <div class="col-xs-4">
                                            @Html.TextBoxFor(model => model.OverTime2, new { @MaxLength = 27, @class = "form-control decimalnumber", @id = "txtOT2", @placeholder = ProjectSession.Resources.label.Employee_TextBlockOT2 })
                                        </div>
                                        <div class="col-xs-4">
                                            @Html.TextBoxFor(model => model.OverTime3, new { @MaxLength = 27, @class = "form-control decimalnumber", @id = "txtOT3", @placeholder = ProjectSession.Resources.label.Employee_TextBlockOT3 })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6  col-md-6 col-lg-4">
                                    <label class="form-label">@ProjectSession.Resources.label.Employee_TextBlockEmployeeCategory</label>
                                    <div class="@ProjectSession.CultureKendoClass">
                                        @(Html.Kendo().DropDownListFor(model => model.CategoryID)
                                                .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                                .DataTextField("CategoryName")
                                                .ValueTemplate(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "#:AltCategoryName # " : "#:CategoryName #")
                                                .DataValueField("CategoryID")
                                                .HtmlAttributes(new { style = "width: 100%", id = "ddlEmpCategories" })
                                                .Template(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "#:AltCategoryName # " : "#:CategoryName #")
                                                .DataSource(source =>
                                                {
                                                    source.Read(read =>
                                                    {
                                                        read.Action(Actions.GetEmpCategories, Controllers.Configurations, new { area = Areas.Configurations });
                                                    });
                                                })
                                               .Value(Convert.ToString(Model.CategoryID))
                                                                                    )
                                    </div>
                                </div>

                                <div class="form-group col-sm-6  col-md-6 col-lg-4">
                                    <label class="form-label">@ProjectSession.Resources.label.UserGroup_TextBlockUserGroup<span class="cfont">*</span></label>
                                    <div class="@ProjectSession.CultureKendoClass">
                                        @(Html.Kendo().DropDownListFor(model => model.UserGroupId)
                                                                                        .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                                                                                        .DataTextField("GroupName")
                                                                                                                        .ValueTemplate(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "#:AltGroupName # " : "#:GroupName #")
                                                                                                        .DataValueField("UserGroupId")
                                                                                                        .HtmlAttributes(new { style = "width: 100%", id = "ddlUserGroup", @required = "required" })
                                                                                                                        .Template(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "#:AltGroupName # " : "#:GroupName #")
                                                                                        .DataSource(source =>
                                                                                        {
                                                                                            source.Read(read =>
                                                                                            {
                                                                                                read.Action(Actions.GetUserGroups, Controllers.Management, new { area = Areas.Management });
                                                                                            });
                                                                                        })
                                                                                        .Events(m => m.Change("onUserGroupChange"))
                                                                                       .Value(Convert.ToString(Model.UserGroupId))
                                                                                    )
                                    </div>
                                </div>
                                <div class="form-group col-sm-6  col-md-6 col-lg-4">
                                    <label class="form-label">@ProjectSession.Resources.label.Employee_TextBlockEmployeeProfession</label>
                                    <div class="@ProjectSession.CultureKendoClass">
                                        @(Html.Kendo().DropDownListFor(model => model.EmployeeProfessionID)
                                                .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                                        .DataTextField("EmployeeProfName")
                                                                .ValueTemplate(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "#:EmployeeProfNameArabic # " : "#:EmployeeProfName #")
                                                        .DataValueField("EmployeeProfID")
                                                    .HtmlAttributes(new { style = "width: 100%", id = "ddlEmpProffession" })
                                                                .Template(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "#:EmployeeProfNameArabic # " : "#:EmployeeProfName #")
                                                .DataSource(source =>
                                                {
                                                    source.Read(read =>
                                                    {
                                                        read.Action(Actions.GetEmpProfession, Controllers.Management, new { area = Areas.Management });
                                                    });
                                                })
                                            .Value(Convert.ToString(Model.EmployeeProfessionID))
                                                                                    )
                                    </div>
                                </div>
                                <div class="form-group col-sm-6  col-md-6 col-lg-4">
                                    <label class="form-label">@ProjectSession.Resources.label.Employee_TextBlockEmployeeStatus<span class="cfont">*</span></label>
                                    <div class="@ProjectSession.CultureKendoClass">
                                        @(Html.Kendo().DropDownListFor(model => model.EmployeeStatusId)
                                                .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                                .DataTextField("EmployeeStatus")
                                                .ValueTemplate(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "#:EmployeeAltStatus # " : "#:EmployeeStatus #")
                                                .DataValueField("EmployeeStatusId")
                                                .HtmlAttributes(new { style = "width: 100%", id = "ddlEmpStatus", @required = "required" })
                                                .Template(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "#:EmployeeAltStatus # " : "#:EmployeeStatus #")
                                                .DataSource(source =>
                                                {
                                                    source.Read(read =>
                                                    {
                                                        read.Action(Actions.GetEmpStatues, Controllers.Configurations, new { area = Areas.Configurations });
                                                    });
                                                })
                                              .Value(Convert.ToString(Model.EmployeeStatusId))
                                                                                    )
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="information-form cus-form">
                            <h3 class="sub-title">
                                <span>@ProjectSession.Resources.label.Common_TextBlockOtherInfo</span>
                                <div class="sub_btn">
                                </div>
                            </h3>
                            <div class="row">
                                <div class="form-group col-sm-6 col-md-6 col-lg-4">
                                    <label class="form-label">@ProjectSession.Resources.label.Employee_TextBlockIDNo</label>
                                    @Html.TextBoxFor(model => model.ID_No, new { @MaxLength = 100, @class = "form-control", @id = "txtIDNo", @placeholder = ProjectSession.Resources.label.Common_Enter + " " + ProjectSession.Resources.label.Employee_TextBlockIDNo })
                                </div>
                                <div class="form-group col-sm-6 col-md-6 col-lg-4">
                                    <label class="form-label">@ProjectSession.Resources.label.Employee_TextBlockIDExpiryDate</label>
                                    <div class="input-group date-pick">
                                        @Html.TextBoxFor(model => model.ID_ExpiryDate, "{0:" + ProjectConfiguration.DefaultDateFormat + "}", new { placeholder = ProjectConfiguration.DefaultDateFormat, @class = "form-control calendarsPicker", id = "txtIDExpiryDate" })
                                    </div>
                                </div>

                                <div class="form-group col-sm-6 col-md-6 col-lg-4">
                                    <label class="form-label">@ProjectSession.Resources.label.Employee_TextBlockPassportNo</label>
                                    @Html.TextBoxFor(model => model.PassportNo, new { @MaxLength = 100, @class = "form-control", @id = "txtPassportno", @placeholder = ProjectSession.Resources.label.Common_Enter + " " + ProjectSession.Resources.label.Employee_TextBlockPassportNo })
                                </div>

                                <div class="form-group col-sm-6  col-md-6 col-lg-4">
                                    <label class="form-label">@ProjectSession.Resources.label.Employee_TextBlockPassportExpiryDate</label>
                                    <div class="input-group date-pick">
                                        @Html.TextBoxFor(model => model.PassportExp, "{0:" + ProjectConfiguration.DefaultDateFormat + "}", new { placeholder = ProjectConfiguration.DefaultDateFormat, @class = "form-control calendarsPicker", id = "txtPassportExpiryDate" })
                                    </div>
                                </div>

                                <div class="form-group col-sm-6 col-md-6 col-lg-4">
                                    <label class="form-label">@ProjectSession.Resources.label.Employee_TextBlockLanguage</label>
                                    <div class="@ProjectSession.CultureKendoClass">
                                        @(Html.Kendo().DropDownListFor(model => model.LanguageCode)
                                                .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                                .DataTextField("Language")
                                                .DataValueField("LanguageCode")
                                                .HtmlAttributes(new { style = "width: 100%", id = "ddlLanuages" })
                                                .DataSource(source =>
                                                {
                                                    source.Read(read =>
                                                    {
                                                        read.Action(Actions.GetLanguage, Controllers.Management, new { area = Areas.Management });
                                                    });
                                                })
                                                .Value(Convert.ToString(Model.LanguageCode))
                                                                                    )
                                    </div>
                                </div>

                                <div class="form-group col-sm-6 col-md-6 col-lg-4">
                                    <label class="form-label">@ProjectSession.Resources.label.Employee_TextBlockNationality</label>
                                    <div class="@ProjectSession.CultureKendoClass">
                                        @(Html.Kendo().DropDownListFor(model => model.NationalityID)
                                                .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                                        .DataTextField("National")
                                                                .ValueTemplate(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "#:AltNational # " : "#:National #")
                                                    .DataValueField("NationaID")
                                                .HtmlAttributes(new { style = "width: 100%", id = "ddlNationality" })
                                                                .Template(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "#:AltNational # " : "#:National #")
                                                .DataSource(source =>
                                                {
                                                    source.Read(read =>
                                                    {
                                                        read.Action(Actions.GetNationalities, Controllers.Management, new { area = Areas.Management });
                                                    });
                                                })
                                               .Value(Convert.ToString(Model.NationalityID))
                                                                                    )
                                    </div>
                                </div>
                            </div>
                        </div>

                        @Html.HiddenFor(model => model.JsonlstEmployeeDocumentModel)
                        <div class="box-footer">
                            @if (createRecords || editRecords)
                            {
                                <button class="btn btn-primary" id="btnSave" name="btnSave" type="submit"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
                            }
                            <button class="btn btn-default" type="button" onclick="redirectToList();"><span>@ProjectSession.Resources.label.Common_ButtonCancel</span></button>
                        </div>
                    }
                </div>
                <!-- tb1 end -->
                @if (Model.isfrmTransaction == 0 && Model.EmployeeID > 0)
                {

                    <div class="tab-pane" id="tb2">
                        <div id="divDocuments">
                        </div>
                    </div>

                    <div class="tab-pane" id="tb3">
                        <div id="divLoginInfo">
                            @Html.Partial(PartialViews.EmployeeLogin, Model)
                        </div>
                    </div>

                    <div class="tab-pane" id="tb4">
                        <div class="information-form">Tab 4</div>
                    </div>

                    if (Model.Central != 1)
                    {
                    <div class="tab-pane" id="tb5">
                        <div id="divCityPermissions">
                            @Html.Partial(PartialViews.EmployeeLevelWiseCityPermission, Model)
                        </div>
                    </div>
                    }

                    if (!string.IsNullOrEmpty(Model.UserID) && !string.IsNullOrEmpty(Model.Password) && Model.Central != 1)
                    {
                    <div class="tab-pane" id="tb6">
                        <div id="divDeptPermissions">
                            @Html.Partial(PartialViews.EmployeeDeptPermission, Model)
                        </div>
                    </div>

                    <div class="tab-pane" id="tb7">
                        <div id="divLocationPermissions">
                            @Html.Partial(PartialViews.EmployeeLocationPermission, Model)
                        </div>
                    </div>
                    }
                }
                else
                {
                    if (!string.IsNullOrEmpty(Model.UserID) && !string.IsNullOrEmpty(Model.Password) && Model.EmployeeID > 0 && Model.Central != 1)
                    {
                    <div class="tab-pane" id="tb7">
                        <div id="divLocationPermissions">
                            @Html.Partial(PartialViews.EmployeeLocationPermission, Model)
                        </div>
                    </div>
                    }
                }
            </div>

        </div>
        <!-- box-content -->

    </div>

</div>


<!-- (Start)Change Image Modal -->
<div class="modal fade" id="changeEmployeePhotoModal" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                <h4 class="modal-title">Upload Employee Photo</h4>
            </div>
            <form data-toggle="validator" role="form" id="frmImageChangeEmployee">
                <input type="hidden" name="hdnOldImageName" id="hdnOldImageName" value="@Model.ImagePath" />
                <div class="modal-body">
                    <div class="form-horizontal popup-form">
                        <div id="divModelError">
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12" style="overflow: auto">
                                <img src="" alt="" id="myImg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">@ProjectSession.Resources.label.Common_ButtonSave</button>
                    &nbsp;
                    <button type="button" class="btn btn-default" data-dismiss="modal">@ProjectSession.Resources.label.Common_ButtonClose</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- (End)Change Image Modal -->
<script type="text/javascript">
    var intPageID = '@SystemEnum.Pages.Employee.GetHashCode()';
    var isfrmTransaction = '@Model.isfrmTransaction';
    $("#dvbreadEmployeeDetails").hide();
    $("#dvbreadUserDetails").show();
    if (isfrmTransaction == "1") {
        intPageID = '@SystemEnum.Pages.EmployeeTransaction.GetHashCode()';
        $("#dvbreadUserDetails").hide();
        $("#dvbreadEmployeeDetails").show();
    }
    function redirectToList() {
        if (isfrmTransaction == "1") {
            location.href = '@Url.Action(Actions.UserList, Controllers.Management, new { @area = Areas.Management, frmTransaction = 1 })';
        } else {
            location.href = '@Url.Action(Actions.UserList, Controllers.Management, new { @area = Areas.Management, frmTransaction = 0 })';
        }
    }

    validator = $('#frmEmployee').validate({
        rules: {
            Name: { required: true },
            EmployeeNO: { required: true },
            HourlySalary: { number: true, range: [0, 999999999] },
            OverTime1: { number: true, range: [0, 999999999] },
            OverTime2: { number: true, range: [0, 999999999] },
            OverTime3: { number: true, range: [0, 999999999] },
            POAuthorisationLimit: { number: true, range: [0, 999999999] }

        },
        messages: {
            Name: { required: '' },
            EmployeeNO: { required: '' },
            HourlySalary: { number: '', range: '' },
            OverTime1: { number: '', range: '' },
            OverTime2: { number: '', range: '' },
            OverTime3: { number: '', range: '' },
            POAuthorisationLimit: { number: '', range: '' }
        }
    });

    $(document).ready(function () {

        var url = '@Url.Action(Actions._GetEmployeeDocuments, Controllers.Management, new { Area = Areas.Management })';
        $("#divDocuments").load(url);

        if ('@ViewBag.Message' != '' && '@ViewBag.MessageType' != '') {
            ShowMessage('@ViewBag.MessageType', '@ViewBag.Message', "#divMessage");
        }
        $("#btnSave").hide();
        $('#txtEmpNo').focus();
        if ('@Model.EmployeeID' > 0) {

            @if (!changeMasterCode)
            {
                <text>$("#txtEmpNo").attr("disabled", "disabled");</text>
                <text> $('#txtEmpName').focus();</text>
            }
            @if (editRecords)
            {
                 <text>$("#btnSave").show(); </text>
            }

            $('#tbl1').show();
            $('#tbl11').show();
        }
        else {
            @if (createRecords)
            {
                 <text>$("#btnSave").show(); </text>
            }
        }

        setTimeout(function () {

            if ('@Model.UserID' == null || '@Model.UserID' == '' || '@Model.UserID' == 'undefined') {
                $('#txtUserID').val('');
            }
            if ('@Model.Password' == null || '@Model.Password' == '' || '@Model.Password' == 'undefined') {
                $('#txtPassword').val('');
            }
        }, 2500);
    });

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };

    function additionalData() {
        var kendoGrid = $("#documentsGrid").data("kendoGrid");
        return {
            dbcall: true,
            kendogriddata: JSON.stringify(kendoGrid.dataSource.data()),
            employeeID: $("#EmployeeID").val(),
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function onDataBound(arg) {
        confirmDeleteMsg('@ProjectSession.Resources.message.Common_MsgPermanentDeleteConfirm', okText, cancelText, onConfirmCallbackDeleteDoc, confirmDirection);
        //gridProperPaging(this);
    }

    function onDataBoundAttachment(e) {
        confirmDeleteMsg('@ProjectSession.Resources.message.Common_MsgPermanentDeleteConfirm', okText, cancelText, onConfirmCallbackDeleteAttachment, confirmDirection);
        if (e.sender.dataSource.total() <= 0) {
            $('#employeeAttachemntData').css('display', 'none');
        }
        else { $('#employeeAttachemntData').css('display', ''); }
    }
</script>
@if (createRecords || editRecords)
{
    <script type="text/javascript">
        $('#frmEmployee').on('submit', function (e) {
            if ($("#frmEmployee").valid()) {
                if (!e.isDefaultPrevented()) {
                    if (!reValidateDropDowns($(this))) {
                        e.preventDefault();
                        $('#tbl1').addClass('active');
                        $('#tbl11').addClass('active');
                        $('[role=presentation]').removeClass('active')
                        $('.tab-pane').removeClass('active');
                        $('#tb1').addClass('active');
                    }
                    else {

                    }
                }
                else { e.preventDefault(); }
            }
            else {
                e.preventDefault();
            }
        });
    </script>
}

<script type="text/javascript">
    /*Start User Picture Crop*/
    var jcrop_api;
    var ImageWidth = 150;
    var ImageHeight = 170;
    var x1val = 0;
    var x2val = 0;
    var y1val = 0;
    var y2val = 0;
    var height = 0;
    var width = 0;
    var EmployeePhotoSize = 1024;

    $(function () {
        $('#frmImageChangeEmployee').on('submit', function (e) {

            if (e.isDefaultPrevented()) {
                // handle the invalid form...
            } else {

                var data = new FormData();
                var files = $("#ChangeEmployeePhoto").get(0).files;
                if (files.length > 0) {
                    data.append("UploadedFile", files[0]);
                }
                data.append("cropPointX", x1val);
                data.append("cropPointY", y1val);
                data.append("imageCropWidth", parseInt(width));
                data.append("imageCropHeight", parseInt(height));
                data.append("oldFileName", $('#ImagePath').val());

                var ajaxRequest = $.ajax({
                    type: "POST",
                    url: '@Url.Action(Actions.ChangeEmployeePhoto, Controllers.Management)',
                    contentType: false,
                    processData: false,
                    data: data,
                    async: false,
                    error: function (xhr, ajaxOptions, thrownError) {
                        showErrorMessage();
                    },
                    success: function (result) {
                        if (result[0] == 0) {
                            ShowMessage(result[1], result[2], "#divModelError");
                            $("#changeEmployeePhotoModal").modal('hide');
                        }
                        else {
                            ShowMessage(result[0], result[1], "#divMessage");                            

                            $('#myImgEmployee').attr("src", '../@Url.Content(ProjectSession.AccountCode + "/"+ ProjectSession.AccountCode + "/UserImages")' + "/" + result[2]);
                            $('#ImagePath').val('../@Url.Content(ProjectSession.AccountCode + "/"+ ProjectSession.AccountCode + "/UserImages")' + "/" + result[2]);

                            if ($("#hdnIsOriginal").val() == 1) {
                                $('#OldImagePath').val(result[3]);
                                $("#hdnIsOriginal").val(0);
                            }
                            $("#changeEmployeePhotoModal").modal('hide');
                            //$('#employeeImage').attr("src", '@Url.Content(ProjectConfiguration.UploadPath + "UserImages")' + "/" + result[2]);
                        }
                    }
                });
                e.preventDefault();
            }
        });

        var _validFileExtensions = [".jpg", "jpeg", ".gif", ".png", ".bmp"];

        $("#ChangeEmployeePhoto").change(function () {

            var _validFileExtensionsMasterstr = '@ProjectSession.AllowedFileTypes';
            var _validFileExtensionsMaster = _validFileExtensionsMasterstr.split(',');

            if (this.files && this.files[0]) {

                //For file validation
                var imgSize = this.files[0].size / 1024;
                if (imgSize > EmployeePhotoSize) {
                    ShowMessage('@CMMS.Infrastructure.SystemEnum.MessageType.danger', '@ProjectSession.Resources.message.Common_MsgUploadSizeImage', "#divMessage");
                    return false;
                }

                var sFileName = this.files[0].name.toLowerCase();
                if (sFileName.length > 0) {
                    var blnValid = false;
                    for (var j = 0; j < _validFileExtensions.length; j++) {
                        var sCurExtension = _validFileExtensions[j];
                        if (sFileName.substr(sFileName.length - sCurExtension.length, sCurExtension.length).toLowerCase() == sCurExtension.toLowerCase()) {
                            blnValid = true;
                            break;
                        }
                    }

                    var blnValidMaster = false;
                    if (blnValid) {
                        for (var j = 0; j < _validFileExtensionsMaster.length; j++) {
                            var sCurExtension = _validFileExtensionsMaster[j];
                            if (sFileName.substr(sFileName.length - sCurExtension.length, sCurExtension.length).toLowerCase() == sCurExtension.toLowerCase()) {
                                blnValidMaster = true;
                                break;
                            }
                        }
                    }


                    if ((!blnValid) || (!blnValidMaster)) {
                        ShowMessage('@SystemEnum.MessageType.danger.ToString()', '@ProjectSession.Resources.message.Common_MsgUploadValidImage', "#divMessage");
                        return false;
                    }
                }
                //End


                if (jcrop_api != null) {
                    jcrop_api.destroy();
                }

                var FR = new FileReader();
                FR.onload = function (e) {
                    $('#myImg').attr("src", e.target.result);
                };
                FR.readAsDataURL(this.files[0]);
                FR.onloadend = function (e) {
                    $('#myImg').Jcrop({
                        //onChange: setCoordsAndImgSize,
                        setSelect: [0, 0, 150, 170],
                        aspectRatio: 15 / 17,
                        onSelect: setCoordsAndImgSize,
                        minSize: [ImageWidth, ImageHeight],

                    }, function () {
                        jcrop_api = this;
                        width = x2val - x1val;
                        height = y2val - y1val;
                        jcrop_api.setOptions({ allowSelect: true, allowResize: true });
                        jcrop_api.setSelect([x1val, y1val, x2val, y2val]);



                        if ($("#myImg").width() < ImageWidth || $("#myImg").height() < ImageHeight) {
                            if (jcrop_api != null) {
                                jcrop_api.destroy();
                            }

                            $('#ChangeEmployeePhoto').val('');
                            ShowMessage('@CMMS.Infrastructure.SystemEnum.MessageType.danger', 'Image size is not valid. ( Mininum size required: 150 X 170 )', "#divMessage");
                        }
                        else {
                            $("#changeEmployeePhotoModal").modal('show');
                        }
                    })
                }
            }

        });

        function setCoordsAndImgSize(e) {
            x1val = e.x;
            x2val = e.x2;
            y1val = e.y;
            y2val = e.y2;
            height = e.h;
            width = e.w;
        }
    });

    /*End*/

</script>
