﻿@using CMMS.Infrastructure;
@using CMMS.Pages;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.AntiForgeryToken()
<div class="head1">
    <h1>@ProjectSession.Resources.label.Translation_TextBlockLanguageTranslations</h1>
    <ul class="sub_btn">
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-search" data-toggle="modal" data-target="#search-order" onclick='OpenAdvancedSearch("@ProjectSession.Resources.label.Translation_TextBlockLanguageTranslations","@SystemEnum.Pages.LanguageTranslation.GetHashCode()");' title="@ProjectSession.Resources.label.Common_ButtonAdvanceSearch"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-clear" title="@ProjectSession.Resources.label.Common_ButtonClear" onclick="return ClearAdvencedSearch(@SystemEnum.Pages.LanguageTranslation.GetHashCode());"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-refresh" onclick="ReBindKendoGrid('translationGrid');" title="@ProjectSession.Resources.label.Common_ButtonRefreshGrid"><i></i></a>
        </li>
        @if (ProjectSession.PermissionAccess.Management_LanguageTranslations_Export)
        {
            <li>
                <a href="javascript:void(0);" class="btn-icon btn-xsl" onclick="ExportToExcel('translationGrid', 'TranslationID');" title="@ProjectSession.Resources.label.Common_ButtonExportToExcel"><i></i></a>
            </li>
        }
    </ul>
</div>

<!-- Kendo Grid-->
@if (ProjectSession.PermissionAccess.Management_LanguageTranslations_Editrecords)
{
    <div class="text-right translat-btn">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#unTranslatedWordModel" data-backdrop="static" onclick="OpenUnTranslatedWordWindow();" title="@ProjectSession.Resources.label.Translation_ButtonTranslate">@ProjectSession.Resources.label.Translation_ButtonTranslate</button>
    </div>
}
<div id="translationData" class="@ProjectSession.CultureKendoClass">
    @(Html.Kendo().Grid<CMMS.Model.Translation>()
        .HtmlAttributes(new { @class = "kl-grid" })
        .Name("translationGrid")
        .Columns(columns =>
        {
            columns.Bound(c => c.ModuleName).Title(ProjectSession.Resources.message.ItemRequisition_TextBlockModuleName).Width(200);

            columns.Bound(c => c.Type).Title(ProjectSession.Resources.label.Translation_TextBlockType);

            columns.Bound(c => c.FromWord).Title(ProjectSession.Resources.label.Translation_TextBlockFromWord);

            columns.Bound(c => c.FromLanguageCode).Title(ProjectSession.Resources.label.Translation_TextBlockFromLanguage);

            columns.Bound(c => c.ToWord).Title(ProjectSession.Resources.label.Translation_TextBlockToWord);

            columns.Bound(c => c.ToLanguageCode).Title(ProjectSession.Resources.label.Translation_TextBlockToLanguageCode);

            if (ProjectSession.PermissionAccess.Management_LanguageTranslations_Editrecords || ProjectSession.PermissionAccess.Management_LanguageTranslations_Deleterecords)
            {
                columns.Bound(c => c.TranslationID).ClientTemplate("<center>" + (ProjectSession.PermissionAccess.Management_LanguageTranslations_Editrecords ? "<a class='action' title='" + ProjectSession.Resources.label.Common_ButtonEdit + "'  style='cursor:pointer' data-toggle='modal' data-target='\\#translationModal' onclick='OpenTranslationEditWindow(#: TranslationID#)'><i class='glyphicon glyphicon-pencil'></i></a>&nbsp;" : "") + "" + (ProjectSession.PermissionAccess.Management_LanguageTranslations_Deleterecords ? "<a class='action delete-button'  href='javascript:void(0);'  class='delete-ic' data-id='#: TranslationID #' style='cursor:pointer'><i class='glyphicon glyphicon-trash' title='" + ProjectSession.Resources.label.Common_ButtonDelete + "' ></i></a>" : "") + "</center>")
                                            .Title("<center>" + ProjectSession.Resources.label.Common_ButtonAction + "</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Width(80).Filterable(false);
            }
        })
        .Filterable()
        .Sortable(sortable => sortable.AllowUnsort(false))
        .Scrollable()
        .Excel(excel => excel.FileName("Language Translation.xlsx").Filterable(true).AllPages(true).ProxyURL(Url.Action("Excel_Export_Save", "GridExport", new { area = string.Empty })))
        .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
        .Events(events => events.DataBound("onDataBound").ExcelExport("excelExport"))
        .DataSource(dataSource =>
                                dataSource.Ajax()
                                .Sort(model => model.Add("ModuleName").Ascending())
                                .PageSize(ProjectConfiguration.PageSize)
                                 .Model(model =>
                                 {
                                     model.Id(p => p.TranslationID);
                                     model.Field(p => p.ModuleName);
                                 })
                                .ServerOperation(true)
                                .Read(read => read.Action(Actions.GetLanguageTranslation, Controllers.Management, new { area = Areas.Management }).Data("BindParameters").Type(HttpVerbs.Post))
        )
    )

</div>

<!-- search order -->
<div id="search-order" class="modal fade" role="dialog"></div>

<!-- Translation Modal -->
<div id="translationModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-mg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" title="@ProjectSession.Resources.label.Common_ButtonClose"></button>
                <h4 class="modal-title">Edit Translation</h4>
            </div>
            <form role="form" id="frmTranslation">
                <input type="hidden" name="hdnTranslationID" id="hdnTranslationID" />
                <div class="modal-body">
                    <div id="Highlights" class="tab-pane active" role="tabpanel">
                        <div class="form-horizontal">
                            <div id="divModelError"></div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.Translation_TextBlockFromWord<span class="cfont">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="FromWord" id="txtFromWord" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.Translation_TextBlockFromWord">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.Translation_TextBlockToWord<span class="cfont">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="ToWord" id="txtToWord" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.Translation_TextBlockToWord">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.Translation_TextBlockType</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="Type" id="txtType" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.Translation_TextBlockType" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer box-footer">
                    @if (ProjectSession.PermissionAccess.Management_LanguageTranslations_Editrecords || ProjectSession.PermissionAccess.Management_LanguageTranslations_Createnewrecords)
                    {
                    <button type="submit" class="btn btn-primary" id="btnSave"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
                    }
                    <button type="button" class="btn btn-default" data-dismiss="modal">@ProjectSession.Resources.label.Common_ButtonClose</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Un Translated Word Modal -->
<div id="unTranslatedWordModel" class="modal fade" role="dialog"></div>

<script type="text/javascript">
    var kendoGridId = 'translationGrid';
    var intPageID = '@SystemEnum.Pages.LanguageTranslation.GetHashCode()';

    $(document).ready(function () {
        validator = $('#frmTranslation').validate({
            rules: {
                FromWord: { required: true },
                ToWord: { required: true },
            },
            messages: {
                FromWord: { required: '' },
                ToWord: { required: '' },
            }
        });
    });

    function BindParameters() {
        return {
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };

    function OpenTranslationEditWindow(id) {
        if (id > 0) {
            $.ajax({
                url: '@Url.Action(Actions.GetLanguageTranslationByID, Controllers.Management, new { area = Areas.Management })',
                type: "POST",
                data: addRequestVerificationToken({ translationId: id }),
                success: function (result) {
                    $("#hdnTranslationID").val(result.TranslationID);
                    $("#txtFromWord").val(result.FromWord);
                    $("#txtToWord").val(result.ToWord);
                    $("#txtType").val(result.Type);

                    @if (ProjectSession.PermissionAccess.Management_LanguageTranslations_Editrecords)
                    {
                        <text>$("#btnSave").show(); </text>
                    }
                    else if (ProjectSession.PermissionAccess.Management_LanguageTranslations_Createnewrecords)
                    {
                        <text>$("#btnSave").hide(); </text>
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }
        else {
            ClearAllInputs("frmTranslation");

            @if (ProjectSession.PermissionAccess.Management_LanguageTranslations_Createnewrecords)
            {
                <text>$("#btnSave").show(); </text>
            }
            else if (ProjectSession.PermissionAccess.Management_LanguageTranslations_Editrecords)
            {
                <text>$("#btnSave").hide(); </text>
            }
        }
    }

    $("#translationGrid tbody").on("dblclick", "tr[role='row']", function (e) {
        var grid = $("#translationGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        $("#translationModal").modal("show");
        OpenTranslationEditWindow(model.TranslationID);
    });


    function OpenUnTranslatedWordWindow() {
        $("#unTranslatedWordModel").html('');
        var url = '@Url.Action(Actions._UnTranslatedWordList, Controllers.Management, new { Area = Areas.Management })';
        $("#unTranslatedWordModel").load(url);
    }
</script>

<script>
    function BindParameterUnTranslatedWord() {
        return {
            languageCode: $("#drpLanguageCode").val(),
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function onDataBoundUnTranslatedWord(arg) {
        gridProperPaging(this);
    }
</script>

@if (ProjectSession.PermissionAccess.Management_LanguageTranslations_Editrecords || ProjectSession.PermissionAccess.Management_LanguageTranslations_Createnewrecords)
{
    <script>

    $('#frmTranslation').on('submit', function (e) {
        if ($("#frmTranslation").valid()) {
            if (e.isDefaultPrevented()) {
                // handle the invalid form...
            } else {

                var translationId = $("#hdnTranslationID").val();
                var changedObj = {
                    TranslationID: translationId == '' ? 0 : translationId,
                    FromWord: $("#txtFromWord").val(),
                    ToWord: $("#txtToWord").val(),
                };

                $.ajax({
                    url: '@Url.Action(Actions.ManageLanguageTranslation, Controllers.Management, new { area = Areas.Management })',
                    type: "POST",
                    data: addRequestVerificationToken(changedObj),
                    dataType: "json",
                    success: function (result) {
                        if (result[0] == 0) {
                            ShowMessage(result[1], result[2], "#divModelError");
                        }
                        else {
                            $('#translationModal').modal("hide");
                            ShowMessage(result[0], result[1], "#divMessage");
                            ReBindKendoGrid("translationGrid");
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        showErrorMessage();
                    }
                });
                e.preventDefault();
            }
        }
        else {
            e.preventDefault();
        }
    })

    </script>
}

@if (ProjectSession.PermissionAccess.Management_LanguageTranslations_Deleterecords)
{
    <script type="text/javascript">

        function onDataBound(arg) {
            confirmDeleteMsg(msgText, okText, cancelText, onConfirmCallback, confirmDirection);
            gridProperPaging(this);
        }

        function onConfirmCallback(sender) {
            var id = $(this).data("id");
            $.ajax({
                url: '@Url.Action(Actions.DeleteLanguageTranslation, Controllers.Management, new { area = Areas.Management })',
                type: "POST",
                data: addRequestVerificationToken({ translationId: id }),
                dataType: "json",
                success: function (result) {
                    ShowMessage(result[0], result[1], "#divMessage");
                    ReBindKendoGrid("translationGrid");
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }
    </script>
}
else
{
    <script type="text/javascript">
        function onDataBound(arg) {
            gridProperPaging(this);
        }
    </script>
}

