﻿@using CMMS.Infrastructure;
@using CMMS.Pages;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.AntiForgeryToken()
<div class="head1">
    <h1>@ProjectSession.Resources.label.Employee_TextBlockLoginHistoryList</h1>
    <ul class="sub_btn">
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-search" data-toggle="modal" data-target="#search-order" onclick='OpenAdvancedSearch("@ProjectSession.Resources.label.Employee_TextBlockLoginHistoryList","@SystemEnum.Pages.LoginHistory.GetHashCode()");' title="@ProjectSession.Resources.label.Common_ButtonAdvanceSearch"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-clear" title="@ProjectSession.Resources.label.Common_ButtonClear" onclick="return ClearAdvencedSearch(@SystemEnum.Pages.LoginHistory.GetHashCode());"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-refresh" onclick="ReBindKendoGrid('loginHistoryGrid');" title="@ProjectSession.Resources.label.Common_ButtonRefreshGrid"><i></i></a>
        </li>
        @if (ProjectSession.PermissionAccess.Management_LoginHistory_Export)
        {
            <li>
                <a href="javascript:void(0);" class="btn-icon btn-xsl" onclick="ExportToExcel('loginHistoryGrid', 'LoginLogIn');" title="@ProjectSession.Resources.label.Common_ButtonExportToExcel"><i></i></a>
            </li>
        }
    </ul>
</div>

<!-- Kendo Grid-->
<div id="activeSessionData" class="@ProjectSession.CultureKendoClass">
    @(Html.Kendo().Grid<CMMS.Model.LoginLog>()
        .HtmlAttributes(new { @class = "kl-grid" })
        .Name("loginHistoryGrid")
        .Columns(columns =>
        {
            columns.Bound(c => c.NAME).Title(ProjectSession.Resources.label.Employee_TextBlockEmployeeName).Width(250);

            columns.Bound(c => c.LoginDateTime).ClientTemplate("#= DateTemplateWithTime(data.LoginDateTime) #").Title(ProjectSession.Resources.label.Employee_TextBlockLoginDateTime);

            columns.Bound(c => c.LogoutDateTime).ClientTemplate("#= DateTemplateWithTime(data.LogoutDateTime) #").Title(ProjectSession.Resources.label.Employee_TextBlockLogOutDateTime);

            columns.Bound(c => c.IPAddress).Title(ProjectSession.Resources.label.Employee_TextBlockIpAddress);
        })
        .Filterable()
        .Sortable(sortable => sortable.AllowUnsort(false))
        .Scrollable()
        .Excel(excel => excel.FileName("Login History.xlsx").Filterable(true).AllPages(true).ProxyURL(Url.Action("Excel_Export_Save", "GridExport", new { area = string.Empty })))
        .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
        .Events(events => events.DataBound("onDataBound").ExcelExport("excelExport"))
        .DataSource(dataSource =>
                                dataSource.Ajax()
                                .PageSize(ProjectConfiguration.PageSize)
                                .Sort(model => model.Add("LoginDateTime").Descending())
                                 .Model(model =>
                                 {
                                     model.Id(p => p.LoginLogIn);
                                     model.Field(p => p.LoginDateTime);
                                 })
                                .ServerOperation(true)
                                .Read(read => read.Action(Actions.GetLoginHistory, Controllers.Management, new { area = Areas.Management }).Data("BindParameters").Type(HttpVerbs.Post))
        )
    )

</div>

<!-- search order -->
<div id="search-order" class="modal fade" role="dialog"></div>

<script type="text/javascript">
    var kendoGridId = 'loginHistoryGrid';
    var intPageID = '@SystemEnum.Pages.LoginHistory.GetHashCode()';

    function BindParameters() {
        return {
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };

    function onDataBound(arg) {
        gridProperPaging(this);
    }

</script>