﻿@using CMMS.Infrastructure;
@using CMMS.Pages;
@{
    ViewBag.Title = "Permissions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    .module-access-row {
        font-weight: bold;
        background-color: #f5f5f5;
    }
</style>
@Html.AntiForgeryToken()

<div class="head1">
    @{ var entityname = ViewBag.EntityName == "" ? "" : " - " + ViewBag.EntityName;}
    <h1>@ProjectSession.Resources.label.Employee_TabItemPermission @entityname </h1>
    <ul class="sub_btn">
        <li>
            @*<a href="#" class="btn-icon btn-add" data-toggle="modal" data-target="#userGroupModal" data-backdrop="static" onclick="OpenUserGroupEditWindow(0);" title="@ProjectSession.Resources.label.Common_ButtonAdd"><i></i></a>*@
        </li>
        <li>
            @*<a href="#" class="btn-icon btn-search" data-toggle="modal" data-target="#search-order" onclick='OpenAdvancedSearch("@ProjectSession.Resources.label.UserGroup_TextBlockUserGroupHeader","@SystemEnum.Pages.UserGroup.GetHashCode()")' title="@ProjectSession.Resources.label.Common_ButtonAdvanceSearch"><i></i></a>*@
        </li>
        <li>
            @*<a href="#" class="btn-icon btn-clear" title="@ProjectSession.Resources.label.Common_ButtonClear" onclick="return ClearAdvencedSearch(@SystemEnum.Pages.UserGroup.GetHashCode());"><i></i></a>*@
        </li>
        <li>
            @*<a href="" class="btn-icon btn-refresh" onclick="ReBindKendoGrid('userGroupGrid');" title="@ProjectSession.Resources.label.Common_ButtonRefreshGrid"><i></i></a>*@
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-xsl" onclick="ExportToExcel('userPermissions');" title="@ProjectSession.Resources.label.Common_ButtonExportToExcel"><i></i></a>
        </li>

    </ul>
</div>
@using (Html.BeginForm("", "", FormMethod.Post, new { id = "frmPermissions", @role = "form" }))
{
    <div class="box-hed">
        <span id="spanPleaseWait" style="display:none;color:lightblue;font-weight:bold;">Please wait....</span>
        <button class="btn btn-primary" id="btnSave1" onclick="SaveDataPermissions()" name="btnSave1" type="button"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
        <button class="btn btn-default" type="button" onclick="redirectToList();"><span>@ProjectSession.Resources.label.Common_ButtonCancel</span></button>
    </div>

    @Html.AntiForgeryToken()
    @*<div class="information-form">*@
    <div class="form-horizontal">
        <div id="divModelError"></div>
        <input type="hidden" name="hdnUserGroupID" id="hdnUserGroupID" value="0" />
        <input type="hidden" name="hdnEmployeeID" id="hdnEmployeeID" value="0" />
        <div id="divPermission">
        </div>
    </div>
    <div class="box-footer">
        <button class="btn btn-primary" id="btnSave" onclick="SaveDataPermissions()" name="btnSave" type="button"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
        <button class="btn btn-default" type="button" onclick="redirectToList();"><span>@ProjectSession.Resources.label.Common_ButtonCancel</span></button>
    </div>
    @*</div>*@
}

<script type="text/javascript">

    if ('@ViewBag.UserGroupID' > '0' && '@ViewBag.EmployeeID' <= '0') {
        var intPageID = '@SystemEnum.Pages.UserGroup.GetHashCode()';
        $("#dvbreadUserGroupPermission").show();
        $("#dvbreadEmployeePermission").hide();
    }
    else {
        var intPageID = '@SystemEnum.Pages.Employee.GetHashCode()';
        $("#dvbreadEmployeePermission").show();
        $("#dvbreadUserGroupPermission").hide();
    }

    function BindParametersForPermissions() {
        return {
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val(),
            employeeId: $('#hdnEmployeeID').val(),
            userGroupId: $('#hdnUserGroupID').val()
        };
    }


    


    $(function () {
        $('#hdnEmployeeID').val('@ViewBag.EmployeeID');
        $('#hdnUserGroupID').val('@ViewBag.UserGroupID');
        var url = '@Url.Action(Actions._GetPermissions, Controllers.Management, new { Area = Areas.Management})' + '?employeeId=' + $('#hdnEmployeeID').val() + '&userGroupId=' + $('#hdnUserGroupID').val();
        $('#divPermission').load(url);
    })

    function SaveDataPermissions() {
        $('#spanPleaseWait').css('display', '');
        $('#btnSave1').addClass('disabled');
        $('#btnSave').addClass('disabled');

        setTimeout(function () {
            var gridPermissionModel = $("#userPermissions").data("kendoGrid");
            var params = {};
            params.employeeId = $('#hdnEmployeeID').val();
            params.groupId = $("#hdnUserGroupID").val();

            var dataitem;
            var state;
            $("#userPermissions table tr").each(function (i, row) {
                if (params.groupId > 0) {
                    var checkBox = $(row).find('input[type=checkbox].ChildcheckboxAllowAccessByGroup');

                    if (checkBox.length > 0) {
                        state = checkBox.prop('checked');
                        if (state != 'undefined') {
                            dataitem = gridPermissionModel.dataItem(row);
                            if (dataitem['AllowAccessByUserGroup'] != state)
                                dataitem.dirty = true;
                            dataitem['AllowAccessByUserGroup'] = state;
                        }
                    }
                }

                if (params.employeeId > 0) {
                    var checkBox = $(row).find('input[type=checkbox].ChildcheckboxAllowAccessByEmployee');

                    if (checkBox.length > 0) {
                        state = checkBox.prop('checked');
                        if (state != 'undefined') {
                            dataitem = gridPermissionModel.dataItem(row);
                            if (dataitem['AllowAccessByEmployee'] != state)
                                dataitem.dirty = true;
                            dataitem['AllowAccessByEmployee'] = state;
                        }
                    }
                }
            });
            gridPermissionModel.refresh();
            params.kendogriddata = JSON.stringify(gridPermissionModel.dataSource.data());
            $.ajax({
                url: '@Url.Action(Actions.SavePermissions, Controllers.Management, new { area = Areas.Management })',
                datatype: 'json',
                cache: false,
                method: 'post',
                data: params,
                success: function (result) {
                    $('#spanPleaseWait').css('display', 'none');
                    $('#btnSave1').removeClass('disabled');
                    $('#btnSave').removeClass('disabled');
                    if (result[0] == 0) {
                        ShowMessage(result[1], result[2], "#divModelError");
                    }
                    else {
                        if ($('#hdnUserGroupID').val() > 0 && $('#hdnEmployeeID').val() <= 0) {
                            window.location.href = '@Url.Action(Actions.UserGroupList, Controllers.Management, new { area=Areas.Management })'
                        }
                        else { window.location.href = '@Url.Action(Actions.UserList, Controllers.Management, new { area=Areas.Management })' }
                    }

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }, 100);
    }

    function onDataBoundPermissions(e) {
        collapseAllGroups($("#userPermissions").data("kendoGrid"));

        var rows = e.sender.tbody.children();
        for (var j = 0; j < rows.length; j++) {
            var row = $(rows[j]);
            var dataItem = e.sender.dataItem(row);

            var SubModuleName = dataItem.get("SubModuleName");

            if (SubModuleName == '') {
                row.addClass("module-access-row");
            }
        }

        setCheckBoxAtProperPlace();
        setTimeout(function () { checkGroupHeaderCheckBoxes(); }, 100);
    }

    function checkGroupHeaderCheckBoxes() {
        try {
            var grid = $("#userPermissions").data("kendoGrid");
            var allGroupRow = $('.grpHeaderCheckBox');
            var currentGroupRow = null;
            var allRowsOfCurrentGroup = null;
            var state;
            var countEmployee = 0;
            var countGroup = 0;

            for (var i = 0; i < allGroupRow.length ; i++) {
                currentGroupRow = $(allGroupRow[i]).closest(".k-grouping-row");
                
                countEmployee = 0;
                countGroup = 0;
                allRowsOfCurrentGroup = currentGroupRow.nextUntil(".k-grouping-row", ":not('.k-group-footer')");
                var length = allRowsOfCurrentGroup.length;

                for (var j = 0 ; j < length ; j++) {
                    state = $(allRowsOfCurrentGroup[j]).find('input[type=checkbox].ChildcheckboxAllowAccessByEmployee').prop('checked');
                    if (state) {
                        countEmployee = countEmployee + 1;
                    }

                    state = $(allRowsOfCurrentGroup[j]).find('input[type=checkbox].ChildcheckboxAllowAccessByGroup').prop('checked');
                    if (state) {
                        countGroup = countGroup + 1;
                    }
                }

                if (countEmployee == length)
                {
                    $(allGroupRow[i]).find('input[type=checkbox].GroupHeaderCheckBoxEmployee').prop('checked', true);
                }
                else
                {
                    $(allGroupRow[i]).find('input[type=checkbox].GroupHeaderCheckBoxEmployee').prop('checked', false);
                }

                if (countGroup == length)
                {
                        $(allGroupRow[i]).find('input[type=checkbox].GroupHeaderCheckBoxGroup').prop('checked', true);
                }
                else
                {
                        $(allGroupRow[i]).find('input[type=checkbox].GroupHeaderCheckBoxGroup').prop('checked', false);
                }
            }
        } catch (e) {
            console.log(e);
        }
    }

    var collapseAllGroups = function (grid) {
        grid.table.find(".k-grouping-row").each(function () {
            grid.collapseGroup(this);
        });
    }
    function SetGridHeaderCheckBoxSelection(isEmp) {

        setTimeout((function () {
            var gridPermissionModel = $("#userPermissions").data("kendoGrid");
            var childChekBoxClassName = isEmp == true ? 'ChildcheckboxAllowAccessByEmployee' : 'ChildcheckboxAllowAccessByGroup';
            var HeaderChekBoxClassName = isEmp == true ? 'HeadercheckboxAllowAccessByEmployee' : 'HeadercheckboxAllowAccessByGroup';
            var numChkBoxes = $('.' + childChekBoxClassName).length;
            var numChkBoxesChecked = $('.' + childChekBoxClassName + ':checked').length;

            if (numChkBoxes == numChkBoxesChecked && numChkBoxes > 0) {
                $('.' + HeaderChekBoxClassName).prop('checked', true);
            }
            else {
                $('.' + HeaderChekBoxClassName).prop('checked', false);
            }
        }), 10)

    }
    function SetGridHeaderCheckBoxSelectionAfterRequest() {
        if ($('#hdnEmployeeID').val() > 0) {
            SetGridHeaderCheckBoxSelection(true);

        }
        else {
            //setTimeout(function () { $('.GroupHeaderCheckBoxEmployee').css('display', 'none'); }, 700);
        }

        if ($('#hdnUserGroupID').val() > 0) {
            SetGridHeaderCheckBoxSelection(false);

        }
        else {
            //setTimeout(function () { $('.GroupHeaderCheckBoxGroup').css('display', 'none'); }, 700);
        }
    }

    function updateAllowAccessByEmployeeInDataSource(checkbox, kgridView, newValue, isEmp) {

        var tr = $(checkbox).closest("tr"); // get the current table row (tr)
        var dataItem = kgridView.dataItem(tr);// get the data bound to the current table row
        var returnVal = '';
        try {
            //if (isEmp)
            //    dataItem.set('AllowAccessByEmployee', newValue);
            //else
            //    dataItem.set('AllowAccessByUserGroup', newValue);

        } catch (err) { alert(err); }
    }
    function redirectToList() {
        if ($('#hdnUserGroupID').val() > 0 && $('#hdnEmployeeID').val() <= 0) {
            window.location.href = '@Url.Action(Actions.UserGroupList, Controllers.Management, new { area=Areas.Management })'
        }
        else { window.location.href = '@Url.Action(Actions.UserList, Controllers.Management, new { area=Areas.Management })' }
    }

</script>
