﻿@using CMMS.Infrastructure;
@using CMMS.Pages;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.AntiForgeryToken()
<div class="head1">
    <h1>@ProjectSession.Resources.label.UserGroup_TextBlockUserGroupHeader</h1>
    <ul class="sub_btn">
        @if (ProjectSession.PermissionAccess.Management_UserGroups_Createnewrecords)
        {
            <li>
                <a href="javascript:void(0);" class="btn-icon btn-add" data-toggle="modal" data-target="#userGroupModal" data-backdrop="static" onclick="OpenUserGroupEditWindow(0);" title="@ProjectSession.Resources.label.Common_ButtonAdd"><i></i></a>
            </li>
        }
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-search" data-toggle="modal" data-target="#search-order" onclick='OpenAdvancedSearch("@ProjectSession.Resources.label.UserGroup_TextBlockUserGroupHeader","@SystemEnum.Pages.UserGroup.GetHashCode()")' title="@ProjectSession.Resources.label.Common_ButtonAdvanceSearch"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-clear" title="@ProjectSession.Resources.label.Common_ButtonClear" onclick="return ClearAdvencedSearch(@SystemEnum.Pages.UserGroup.GetHashCode());"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-refresh" onclick="ReBindKendoGrid('userGroupGrid');" title="@ProjectSession.Resources.label.Common_ButtonRefreshGrid"><i></i></a>
        </li>
        @if (ProjectSession.PermissionAccess.Management_UserGroups_Export)
        {
            <li>
                <a href="javascript:void(0);" class="btn-icon btn-xsl" onclick="ExportToExcel('userGroupGrid','UserGroupId');" title="@ProjectSession.Resources.label.Common_ButtonExportToExcel"><i></i></a>
            </li>
        }
    </ul>
</div>

<!-- Kendo Grid -->
<div id="sectorData" class="@ProjectSession.CultureKendoClass">
    @(Html.Kendo().Grid<CMMS.Model.Usergroup>()
        .Name("userGroupGrid")
        .HtmlAttributes(new { @class = "kl-grid" })
        .Columns(columns =>
        {
            columns.Bound(c => c.GroupName).Title(ProjectSession.Resources.label.UserGroup_TextBlockUserGroupDesc).Width(300);

            columns.Bound(c => c.AltGroupName).Title(ProjectSession.Resources.label.UserGroup_TextBlockAltUserGroupDesc).HtmlAttributes(new { @class = "text-right" });

            columns.Bound(c => c.UserGroupId).ClientTemplate("<center><a class='action'  style='cursor:pointer' title='" + ProjectSession.Resources.label.Employee_TabItemPermission + "' href='" + Url.Action(Actions.Permissions, CMMS.Pages.Controllers.Management, new { area = CMMS.Pages.Areas.Management, employeeId = 0, userGroupId = "#: UserGroupId#", entityName = "#: GroupName #" }) + "' ><i class='glyphicon glyphicon-check'></i></a>&nbsp;" + (ProjectSession.PermissionAccess.Management_UserGroups_Editrecords ? "<a class='action' title='" + ProjectSession.Resources.label.Common_ButtonEdit + "'  style='cursor:pointer' data-toggle='modal' data-target='\\#userGroupModal' onclick='OpenUserGroupEditWindow(#: UserGroupId#)'><i class='glyphicon glyphicon-pencil'></i></a>&nbsp;" : "") + (ProjectSession.PermissionAccess.Management_UserGroups_Deleterecords ? "<a class='action delete-button'  href='javascript:void(0);'  class='delete-ic' data-id='#: UserGroupId #' style='cursor:pointer'><i class='glyphicon glyphicon-trash' title='" + ProjectSession.Resources.label.Common_ButtonDelete + "' ></i></a>" : "") + "</center>")
                                        .Title("<center>" + ProjectSession.Resources.label.Common_ButtonAction + "</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Width(100).Filterable(false);
        })
        .Filterable()
        .Sortable(sortable => sortable.AllowUnsort(false))
        .Scrollable()
        .Excel(excel => excel.FileName("User Group.xlsx").Filterable(true).AllPages(true).ProxyURL(Url.Action("Excel_Export_Save", "GridExport", new { area = string.Empty })))
        .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
        .Events(events => events.DataBound("onDataBound").ExcelExport("excelExport"))
        .DataSource(dataSource =>
                                dataSource.Ajax()
                                .PageSize(ProjectConfiguration.PageSize)
                                 .Model(model =>
                                 {
                                     model.Id(p => p.UserGroupId);
                                     model.Field(p => p.GroupName);
                                 })
                                .ServerOperation(true)
                                        .Read(read => read.Action(Actions.GetUserGroupList, Controllers.Management, new { area = Areas.Management }).Data("BindParameters").Type(HttpVerbs.Post))
        )
    )

</div>

<!-- search order -->
<div id="search-order" class="modal fade" role="dialog"></div>

<!-- Sector Modal -->
<div id="userGroupModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-md">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" title="@ProjectSession.Resources.label.Common_ButtonClose"></button>
                <h4 class="modal-title">@ProjectSession.Resources.label.UserGroup_TextBlockUserGroupHeader</h4>
            </div>
            <form role="form" id="frmUserGroup">
                <input type="hidden" name="hdnUserGroupID" id="hdnUserGroupID" />
                <input type="hidden" name="hdnEmployeeID" id="hdnEmployeeID" value="0" />
                <div class="modal-body">
                    <div id="Highlights" class="tab-pane active" role="tabpanel">
                        <div class="form-horizontal">
                            <div id="divModelError"></div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.UserGroup_TextBlockUserGroup<span class="cfont">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="UserGroupName" id="txtUserGroupName" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.UserGroup_TextBlockUserGroup">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@ProjectSession.Resources.label.UserGroup_TextBlockUserAltGroup</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control text-right" name="ArabicUserGroupName" id="txtArabicUserGroupName" placeholder="@ProjectSession.Resources.label.Common_Enter @ProjectSession.Resources.label.UserGroup_TextBlockUserAltGroup">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer box-footer">
                    @if (ProjectSession.PermissionAccess.Management_UserGroups_Createnewrecords || ProjectSession.PermissionAccess.Management_UserGroups_Editrecords)
                    {
                        <button type="submit" class="btn btn-primary" id="btnSave"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
                    }
                    <button type="button" class="btn btn-default" data-dismiss="modal">@ProjectSession.Resources.label.Common_ButtonClose</button>
                </div>
            </form>

        </div>
    </div>
</div>
<script type="text/javascript">
    var kendoGridId = 'userGroupGrid';
    var intPageID = '@SystemEnum.Pages.UserGroup.GetHashCode()';

    $(document).ready(function () {
        validator = $('#frmUserGroup').validate({
            rules: {
                UserGroupName: { required: true },
                //ArabicUserGroupName: { required: true }
            },
            messages: {
                UserGroupName: { required: '' },
                //ArabicUserGroupName: { required: '' }
            }
        });
    });

    function BindParameters() {
        return {
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };

    function OpenUserGroupEditWindow(id) {
        if (id > 0) {
            $.ajax({
                url: '@Url.Action(Actions.GetUserGroupById, Controllers.Management, new { area = Areas.Management })',
                type: "POST",
                data: addRequestVerificationToken({ userGroupId: id }),
                success: function (result) {
                    $("#hdnUserGroupID").val(result.UserGroupId);
                    $("#txtUserGroupName").val(result.GroupName);
                    $("#txtArabicUserGroupName").val(result.AltGroupName);
                    @if (ProjectSession.PermissionAccess.Management_UserGroups_Editrecords)
                    {
                        <text>$("#btnSave").show(); </text>
                    }
                     else if (ProjectSession.PermissionAccess.Management_UserGroups_Createnewrecords)
                    {
                        <text>$("#btnSave").hide(); </text>
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }
        else {
            ClearAllInputs("frmUserGroup");
        }
    }

    $("#userGroupGrid tbody").on("dblclick", "tr[role='row']", function (e) {
        var grid = $("#userGroupGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        $("#userGroupModal").modal("show");
        OpenUserGroupEditWindow(model.UserGroupId)
    });

</script>


@if (ProjectSession.PermissionAccess.SetupConfiguration_Sector_Editrecords || ProjectSession.PermissionAccess.SetupConfiguration_Sector_Createnewrecords)
{
    <script type="text/javascript">
        $('#frmUserGroup').on('submit', function (e) {
            if ($("#frmUserGroup").valid()) {
                if (e.isDefaultPrevented()) {
                    // handle the invalid form...
                } else {

                    var groupId = $("#hdnUserGroupID").val();
                    var changedObj = {
                        UserGroupId: groupId == '' ? 0 : groupId,
                        GroupName: $("#txtUserGroupName").val(),
                        AltGroupName: $("#txtArabicUserGroupName").val()
                    };

                    $.ajax({
                        url: '@Url.Action(Actions.SaveUserGroup, Controllers.Management, new { area = Areas.Management })',
                        type: "POST",
                        data: addRequestVerificationToken(changedObj),
                        dataType: "json",
                        success: function (result) {
                            if (result[0] == 0) {
                                ShowMessage(result[1], result[2], "#divModelError");
                            }
                            else {
                                $('#userGroupModal').modal("hide");
                                ShowMessage(result[0], result[1], "#divMessage");
                                ReBindKendoGrid("userGroupGrid");
                            }
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            showErrorMessage();
                        }
                    });
                    e.preventDefault();
                }
            }
            else {
                e.preventDefault();
            }
        })

    </script>
}

@if (ProjectSession.PermissionAccess.SetupConfiguration_Sector_Deleterecords)
{
    <script type="text/javascript">
        function onDataBound(arg) {
            confirmDeleteMsg(msgText, okText, cancelText, onConfirmCallback, confirmDirection);
            gridProperPaging(this);
        }

        function onConfirmCallback(sender) {
            var id = $(this).data("id");
            $.ajax({
                url: '@Url.Action(Actions.DeleteUserGroupById, Controllers.Management, new { area = Areas.Management })',
                type: "POST",
                data: addRequestVerificationToken({ groupId: id }),
                dataType: "json",
                success: function (result) {
                    ClearAllInputs("frmUserGroup");
                    ShowMessage(result[0], result[1], "#divMessage");
                    ReBindKendoGrid("userGroupGrid");

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }

    </script>
}
else
{
    <script>
        function onDataBound(arg) {
            gridProperPaging(this);
        }
    </script>
}





