﻿@using CMMS.Infrastructure;
@using CMMS.Pages;
@using CMMS.Model
@using CMMS.Service
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool Lang = ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? false : true;
    bool isFromTranscation = Convert.ToBoolean(ViewBag.IsFromTranscation);

    bool deleteRecords = false;
    bool createRecords = false;
    bool editRecords = false;
    bool exportRecords = false;

    if (isFromTranscation == false)
    {
        exportRecords = ProjectSession.PermissionAccess.Management_User_Export;
        deleteRecords = ProjectSession.PermissionAccess.Management_User_Deleterecords;
        createRecords = ProjectSession.PermissionAccess.Management_User_Createnewrecords;
        editRecords = ProjectSession.PermissionAccess.Management_User_Editrecords;
    }
    else
    {
        exportRecords = ProjectSession.PermissionAccess.Employee_Employee_Export;
        deleteRecords = ProjectSession.PermissionAccess.Employee_Employee_Deleterecords;
        createRecords = ProjectSession.PermissionAccess.Employee_Employee_Createnewrecords;
        editRecords = ProjectSession.PermissionAccess.Employee_Employee_Editrecords;
    }
}
@Html.AntiForgeryToken()
<div class="head1">
    @if (ViewBag.IsFromTranscation == 0)
    {
    <h1>@ProjectSession.Resources.menu.UserList_MenuUserList</h1>    
    }
    else
    {
    <h1>@ProjectSession.Resources.menu.Employee_MenuEmployee</h1>        
    }
    
    <ul class="sub_btn">
        @if (createRecords)
        {
            <li>
                <a href="@Url.Action(Actions.GetEmployeeByID, Controllers.Management, new { area = Areas.Management, id = 0, frm = ViewBag.IsFromTranscation })" title="@ProjectSession.Resources.label.Common_ButtonAdd" class="btn-icon btn-add"><i></i></a>
            </li>
        }
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-search" data-toggle="modal" data-target="#search-order" onclick='OpenAdvancedSearch("@ProjectSession.Resources.label.Employee_TextBlockEmployee" + " "+ "@ProjectSession.Resources.label.Common_TextBlockSearch","@SystemEnum.Pages.Employee.GetHashCode()")' title="@ProjectSession.Resources.label.Common_ButtonAdvanceSearch"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-clear" title="@ProjectSession.Resources.label.Common_ButtonClear" onclick="return ClearAdvencedSearch(@SystemEnum.Pages.Employee.GetHashCode());"><i></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn-icon btn-refresh" onclick="ReBindKendoGrid('employeeGrid');" title="@ProjectSession.Resources.label.Common_ButtonRefreshGrid"><i></i></a>
        </li>
        @if (exportRecords)
        {
            <li>
                <a href="javascript:void(0);" class="btn-icon btn-xsl" onclick="ExportToExcel('employeeGrid','EmployeeID');" title="@ProjectSession.Resources.label.Common_ButtonExportToExcel"><i></i></a>
            </li>
        }
    </ul>
</div>
 
<!-- Kendo Grid-->
<div id="employeeData" class="@ProjectSession.CultureKendoClass">
    @(Html.Kendo().Grid<CMMS.Model.employees>()
        .Name("employeeGrid")
        .HtmlAttributes(new { @class = "kl-grid" })
        .Columns(columns =>
        {
            columns.Bound(c => c.ImagePath).ClientTemplate("#=GetUserImage(data.ImagePath)#").HtmlAttributes(new { style = "text-align: center; width: 30%; min-width: 60px;" }).Title("").Filterable(false).Sortable(false).Width(50);
            
            columns.Bound(c => c.EmployeeNO).Title(ProjectSession.Resources.label.Employee_TextBlockEmployeeNO).Width(150);
            
            columns.Bound(c => c.Name).Title(ProjectSession.Resources.label.Employee_TextBlockEmployeeName);
            
            columns.Bound(c => c.L2Code).Title(ProjectSession.Resources.label.JobRequest_TextBlockCityCode)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterSite", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));
            
            columns.Bound(c => c.MaintDivisionCode).Title(ProjectSession.Resources.label.MaintDivision_TextBlockMaintDivCode)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterMaintenanceDivision", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

            columns.Bound(c => c.MaintDeptCode).Title(ProjectSession.Resources.label.MaintenanceDept_TextBlockMaintDeptCode)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterMaintenanceDepartment", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));

            columns.Bound(c => c.MaintSubDeptCode).Title(ProjectSession.Resources.label.MaintenanceSubDept_TextBlockMaintSubDeptCode).Width(180)
            .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterMaintenanceSubDepartment", "GridFilter", new { area = string.Empty }).Data("BindParameters").Type(HttpVerbs.Post))));
            
            columns.Bound(c => c.Positions).Title(ProjectSession.Resources.label.Employee_TextBlockDesignation); 

            if (Lang)
            {
                columns.Bound(c => c.CategoryName).Title(ProjectSession.Resources.label.Employee_TextBlockEmployeeCategoryName).Width(170)
                .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterEmpCategory", "GridFilter", new { area = string.Empty , @id = "1" }).Data("BindParameters").Type(HttpVerbs.Post))));
            }
            else
            {
                columns.Bound(c => c.AltCategoryName).Title(ProjectSession.Resources.label.Employee_TextBlockEmployeeCategoryName).Width(170)
                .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterEmpCategory", "GridFilter", new { area = string.Empty , @id = "2" }).Data("BindParameters").Type(HttpVerbs.Post))));
            }

            if (Lang)
            {
                columns.Bound(c => c.EmployeeStatus).Title(ProjectSession.Resources.label.Employee_TextBlockEmployeeStatus)
                .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterEmpStatus", "GridFilter", new { area = string.Empty, @id = "1" }).Data("BindParameters").Type(HttpVerbs.Post))));
            }
            else
            {
                columns.Bound(c => c.EmployeeAltStatus).Title(ProjectSession.Resources.label.Employee_TextBlockAltEmployeeStatus)
                .Filterable(ftb => ftb.Multi(true).DataSource(ds => ds.Read(r => r.Action("FilterEmpStatus", "GridFilter", new { area = string.Empty, @id = "2" }).Data("BindParameters").Type(HttpVerbs.Post))));
            }

           columns.Bound(c => c.UserID).Title(ProjectSession.Resources.label.UserList_TextBlockUserID);
            
           columns.Bound(c => c.EmployeeID)
               .ClientTemplate("<center>" + (!isFromTranscation ? "<a class='action'  style='cursor:pointer' title='" + ProjectSession.Resources.label.Employee_TabItemPermission + "' href='" + Url.Action(Actions.Permissions, CMMS.Pages.Controllers.Management, new { area = CMMS.Pages.Areas.Management, employeeId = "#: EmployeeID#", userGroupId = "#: UserGroupId#", entityName = "#: Name #" }) + "' ><i class='glyphicon glyphicon-check'></i></a>" : "") + "&nbsp;" +(editRecords ? "<a class='action' style='cursor:pointer' href='" + Url.Action(Actions.GetEmployeeByID, CMMS.Pages.Controllers.Management, new { area = CMMS.Pages.Areas.Management, id = "#: EmployeeID#", frm= ViewBag.IsFromTranscation }) + "'><i class='glyphicon glyphicon-pencil'></i></a>&nbsp;":"") + (deleteRecords? "<a class='action delete-button' href='javascript:void(0);' class='delete-ic' data-id='#: EmployeeID #' style='cursor:pointer'><i class='glyphicon glyphicon-trash' title='" + ProjectSession.Resources.label.Common_ButtonDelete + "'></i></a>":"") + "</center>")
               .Title("<center>Action</center>").HtmlAttributes(new { @class = "action" }).Sortable(false).Width(100).Filterable(false);
            
        })
        .Filterable()
        .Sortable(sortable => sortable.AllowUnsort(false))
        .Scrollable()
        .Excel(excel => excel.FileName(ProjectSession.Resources.menu.Employee_MenuEmployee + ".xlsx").Filterable(true).AllPages(true).ProxyURL(Url.Action("Excel_Export_Save", "GridExport", new { area = string.Empty })))
        .Pageable(pageable => pageable.PageSizes(General.PageSizes).ButtonCount(5).Messages(m => m.ItemsPerPage("").Display(ProjectSession.Resources.message.Common_MsgDisplayRecords)))
        .Events(events => events.DataBound("onDataBound").ExcelExport("excelExport"))
        .DataSource(dataSource =>
                                dataSource.Ajax()
                                .PageSize(ProjectConfiguration.PageSize)
                                        .Sort(model => model.Add("EmployeeNO").Ascending())
                                 .Model(model =>
                                 {
                                     model.Id(p => p.EmployeeID);
                                     model.Field(p => p.Name);
                                 })
                                .ServerOperation(true)
                                        .Read(read => read.Action(Actions.GetUserList, Controllers.Management, new { area = Areas.Management }).Data("BindParameters").Type(HttpVerbs.Post))
        )
    )

</div>

<!-- -------------search order------------- -->
<div id="search-order" class="modal fade" role="dialog"></div>


<script type="text/javascript">
    var kendoGridId = 'employeeGrid';
    var intPageID = '@SystemEnum.Pages.Employee.GetHashCode()';
    $("#dvbreadEmployee").hide();
    $("#dvbreadUserList").show();
    if ('@(ViewBag.IsFromTranscation)' == "1")
    {
        intPageID = '@SystemEnum.Pages.EmployeeTransaction.GetHashCode()';
        $("#dvbreadUserList").hide();
        $("#dvbreadEmployee").show();
    }

    $(document).ready(function () {
        if ('@ViewBag.Message' != '' && '@ViewBag.MessageType' != '') {
            ShowMessage('@ViewBag.MessageType', '@ViewBag.Message', "#divMessage");
        }
    });

    function BindParameters() {
        return {
            employeeName: '',
            employeeNo: '',
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };


    $("#employeeGrid tbody").on("dblclick", "tr[role='row']", function (e) {
        var grid = $("#employeeGrid").data("kendoGrid");
        var model = grid.dataItem(this);
        location.href = '@Url.Action(Actions.GetEmployeeByID, CMMS.Pages.Controllers.Management, new { area = CMMS.Pages.Areas.Management})' + '?id=' + model.EmployeeID + '&frm=' + '@ViewBag.IsFromTranscation';
    });
</script>

@if (deleteRecords)
{
    <script type="text/javascript">
        function onDataBound(arg) {
            confirmDeleteMsg(msgText, okText, cancelText, onConfirmCallback, confirmDirection);
            gridProperPaging(this);
        }

        function onConfirmCallback(sender) {
            var id = $(this).data("id");
            $.ajax({
                url: '@Url.Action(Actions.DeleteEmployee, Controllers.Management, new { area = Areas.Management })',
                type: "POST",
                data: addRequestVerificationToken({ employeeId: id }),
                dataType: "json",
                success: function (result) {
                    ShowMessage(result[0], result[1], "#divMessage");
                    ReBindKendoGrid("employeeGrid");
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage();
                }
            });
        }
    </script>
}
else
{
    <script>
        function onDataBound(arg) {
            gridProperPaging(this);
        }
    </script>
}