﻿@using CMMS.Infrastructure
@using CMMS.Pages

@{
    ViewBag.Title = "Log in";
    Layout = null;
    string userName = string.Empty;
    string password = string.Empty;
    string account = string.Empty;
    bool isRememberMe = false;
    if (Request.Cookies["UserLogin"] != null)
    {
        userName = Convert.ToString(Request.Cookies["UserLogin"].Values["UserName"]);
        password = Convert.ToString(Request.Cookies["UserLogin"].Values["Password"]);
        account = Convert.ToString(Request.Cookies["UserLogin"].Values["clientID"]);
        isRememberMe = Convert.ToBoolean(Request.Cookies["UserLogin"].Values["IsRememberMe"]);
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <title>NUB Facility Management System</title>
    <link rel="shortcut icon" href="images/favicon.ico" />
    @Styles.Render("~/Content/bootstrapCSS")
    @Styles.Render("~/Content/BundleCSS")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/common")

</head>
<body class="login-page" id="english">
    @Html.AntiForgeryToken()
    @using (Html.BeginForm("Login", "Login", FormMethod.Post))
    {
        @*<div id="divDBConnectionError">@ViewBag.InvalidCredentials</div>*@
        <div class="login-panel">
            <a href="#" class="login-logo">
                <img class="img-responsive logo-img" src="@Url.Content("~/images/logo.png")" alt="">
                <span class="logo-text">
                    <h2>NUB Facility Management System</h2>
                    <h3>Centralized Maintenance and Contracts Management System</h3>
                </span>
            </a>
            <div class="panel-body">
                <h4 class="login-title">
                    Please Login
                    
                    <input type="hidden" id="hiddenDefaultDateFormat" value="@ProjectConfiguration.DefaultDateFormat" />
                    <span class="language-block" style="display: none">
                        <a href="#" title="English" id="lnkEnglish" onclick="ChangeLanguage('@ProjectConfiguration.EnglishCultureCode');">
                            <img src="@Url.Content("~/images/english.png")" alt="English">
                        </a>
                        <a href="#" title="Arabic" id="lnkArabic" onclick="ChangeLanguage('@ProjectConfiguration.ArabicCultureCode');">
                            <img src="@Url.Content("~/images/arabic.png")" alt="Arabic">
                        </a>
                    </span>
                </h4>
                <p class="text-danger">@ViewBag.InvalidCredentials</p>
                <div id="divMessage" class="login-group"></div>
                <form role="form" class="loginform" id="frmLogin">
                    <div class="form-group">
                        <label class="control-label">User Name</label>
                        <input type="text" class="form-control" name="Username" id="txtUserName" placeholder="Enter User Name" value="@userName">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Password</label>
                        <input type="password" class="form-control" name="Password" id="txtPassword" placeholder="Enter Password" value="@password">
                    </div>
                    @*<div class="form-group">
                        <label class="control-label">ClientID</label>
                        <input type="text" class="form-control allowIntegerOnly" name="ClientID" id="txtClientID" placeholder="Enter ClientID" value="@account">
                    </div>*@
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" class="icheck" style="margin-top: 2px;" name="IsRememberMe" id="chkRememberMe" checked="@isRememberMe" value="true"><span class="remember">Remember me</span>
                        </label>
                        @*<span class="pull-right forgot"><a href="" title="Forgot Password" data-toggle="modal" data-target="#forgotPasswordModal">Forgot Password?</a></span>*@
                    </div>
                    <div class="form-group mag-bottom">
                        <button type="submit" class="btn btn-primary"><span>Login</span></button>
                    </div>
                </form>
            </div>
            @*<a href="#" class="login-Certification" onclick="window.open('https://www.sitelock.com/verify.php?site=nub40.bits.sa','SiteLock','width=600,height=600,left=160,top=170');">
                <img class="img-responsive" alt="SiteLock" title="SiteLock" src="//shield.sitelock.com/shield/nub40.bits.sa" />
            </a>*@
        </div>

        <div id="forgotPasswordModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-mg">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"></button>
                        <h4 class="modal-title">Forgot Password </h4>
                    </div>
                    <form role="form" id="frmforgotPwd">
                        <div class="modal-body">
                            <div id="Highlights" class="tab-pane active" role="tabpanel">
                                <div id="divMessageForgot"></div>
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">User Name</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="txtUserNameForgotPwd" name="UserNameForgotPwd" placeholder="Enter User Name">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">ClientID</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control allowIntegerOnly" name="ClientID" id="txtClientIDForgotPwd" placeholder="Enter ClientID">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer box-footer">
                            <button type="submit" class="btn btn-primary"><span>Send</span></button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    }

    <script type="text/javascript" src="https://cdn.ywxi.net/js/1.js" async></script>
</body>
</html>
<script type="text/javascript">
    $(document).ready(function () {
        $('#frmLogin').validate({
            rules: {
                Username: { required: true },
                Password: { required: true },
            },
            messages: {
                Username: { required: '' },
                Password: { required: '' },
            }
        });

    });




</script>