﻿h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{font-family:open_sansregular;}
input.error,textarea.error,select.error{border:1px solid red!important;}

/*For jquery validation, Hide  error label*/
label.error{display:none!important;}
.cfont{color:#F00;}
.kendoDrpRequired{border:1px solid red!important;}
.alignRight{text-align:right;}
.alignLeft{text-align:left;}
#arabic .alignRight{text-align:left;}
.cls2Fields{position:relative;padding-right:100px; width:100%;   }
.cls2Fields > .control-label{border: 1px solid #dfdfdf;height: 100%; padding-right: 10px; padding-top: 5px; position: absolute;
    right:0px; text-align: right; top: 0; width: 100px}
#arabic .alignLeft{text-align:right;}
.over-time > .row{margin-right:-5px;margin-left:-5px;}
.over-time .col-xs-4{padding-right:5px;padding-left:5px;}
.form-group .checkbox-box{margin-top:31px;}
.calendarsPicker{background:url(../images/ic-date.png) no-repeat right center;display:inline-block;position:absolute;}
.date-conversation{width:85px;color:#000!important;height:34px;position:absolute;right:0;padding-left:5px;}
.date-pick{padding-right:85px;position:relative;}

/** Loading Css Start **/
.loaderDiv{background-color:rgba(0,0,0,0.50);width:100%;height:100%;position:fixed;top:0px;bottom:0px;left:0px;right:0px;z-index:99999;display:none;}
.cssload-piano{margin:auto;width:70px;height:8px;font-size:14px;position:absolute;left:0px;right:0px;top:0;bottom:0;}

/* Blue *********************/
.blue .cssload-piano > div{height:100%;width:100%;display:block;margin-bottom:0.6em;animation:stretchdelay_blue 1.38s infinite ease-in-out;-o-animation:stretchdelay_blue 1.38s infinite ease-in-out;-ms-animation:stretchdelay_blue 1.38s infinite ease-in-out;-webkit-animation:stretchdelay_blue 1.38s infinite ease-in-out;-moz-animation:stretchdelay_blue 1.38s infinite ease-in-out;}
.blue .cssload-piano .cssload-rect2{animation-delay:-1.15s;-o-animation-delay:-1.15s;-ms-animation-delay:-1.15s;-webkit-animation-delay:-1.15s;-moz-animation-delay:-1.15s;}
.blue .cssload-piano .cssload-rect3{animation-delay:-0.92s;-o-animation-delay:-0.92s;-ms-animation-delay:-0.92s;-webkit-animation-delay:-0.92s;-moz-animation-delay:-0.92s;}
@keyframes stretchdelay_blue{
    0%,40%,100%{transform:scaleX(0.8);background-color:rgb(141,199,246);box-shadow:0 0 0 rgba(141,199,246,0.1);}
    20%{transform:scaleX(1);background-color:rgb(27,122,200);box-shadow:0 6px 7px rgba(27,122,200,0.4);}
}
@-o-keyframes stretchdelay_blue{
    0%,40%,100%{-o-transform:scaleX(0.8);background-color:rgb(141,199,246);box-shadow:0 0 0 rgba(141,199,246,0.1);}
    20%{-o-transform:scaleX(1);background-color:rgb(27,122,200);box-shadow:0 6px 7px rgba(27,122,200,0.4);}
}
@-ms-keyframes stretchdelay_blue{
    0%,40%,100%{-ms-transform:scaleX(0.8);background-color:rgb(141,199,246);box-shadow:0 0 0 rgba(141,199,246,0.1);}
    20%{-ms-transform:scaleX(1);background-color:rgb(27,122,200);box-shadow:0 6px 7px rgba(27,122,200,0.4);}
}
@-webkit-keyframes stretchdelay_blue{
    0%,40%,100%{-webkit-transform:scaleX(0.8);background-color:rgb(141,199,246);box-shadow:0 0 0 rgba(141,199,246,0.1);}
    20%{-webkit-transform:scaleX(1);background-color:rgb(27,122,200);box-shadow:0 6px 7px rgba(27,122,200,0.4);}
}
@-moz-keyframes stretchdelay_blue{
    0%,40%,100%{-moz-transform:scaleX(0.8);background-color:rgb(141,199,246);box-shadow:0 0 0 rgba(141,199,246,0.1);}
    20%{-moz-transform:scaleX(1);background-color:rgb(27,122,200);box-shadow:0 6px 7px rgba(27,122,200,0.4);}
}

/* Green *********************/
.green .cssload-piano > div{height:100%;width:100%;display:block;margin-bottom:0.6em;animation:stretchdelay_green 1.38s infinite ease-in-out;-o-animation:stretchdelay_green 1.38s infinite ease-in-out;-ms-animation:stretchdelay_green 1.38s infinite ease-in-out;-webkit-animation:stretchdelay_green 1.38s infinite ease-in-out;-moz-animation:stretchdelay_green 1.38s infinite ease-in-out;}
.green .cssload-piano .cssload-rect2{animation-delay:-1.15s;-o-animation-delay:-1.15s;-ms-animation-delay:-1.15s;-webkit-animation-delay:-1.15s;-moz-animation-delay:-1.15s;}
.green .cssload-piano .cssload-rect3{animation-delay:-0.92s;-o-animation-delay:-0.92s;-ms-animation-delay:-0.92s;-webkit-animation-delay:-0.92s;-moz-animation-delay:-0.92s;}
@keyframes stretchdelay_green{
    0%,40%,100%{transform:scaleX(0.8);background-color:rgb(110,190,133);box-shadow:0 0 0 rgba(110,190,133,0.1);}
    20%{transform:scaleX(1);background-color:rgb(32,134,61);box-shadow:0 5px 6px rgba(32,134,61,0.4);}
}
@-o-keyframes stretchdelay_green{
    0%,40%,100%{-o-transform:scaleX(0.8);background-color:rgb(110,190,133);box-shadow:0 0 0 rgba(110,190,133,0.1);}
    20%{-o-transform:scaleX(1);background-color:rgb(32,134,61);box-shadow:0 5px 6px rgba(32,134,61,0.4);}
}
@-ms-keyframes stretchdelay_green{
    0%,40%,100%{-ms-transform:scaleX(0.8);background-color:rgb(110,190,133);box-shadow:0 0 0 rgba(110,190,133,0.1);}
    20%{-ms-transform:scaleX(1);background-color:rgb(32,134,61);box-shadow:0 5px 6px rgba(32,134,61,0.4);}
}
@-webkit-keyframes stretchdelay_green{
    0%,40%,100%{-webkit-transform:scaleX(0.8);background-color:rgb(110,190,133);box-shadow:0 0 0 rgba(110,190,133,0.1);}
    20%{-webkit-transform:scaleX(1);background-color:rgb(32,134,61);box-shadow:0 5px 6px rgba(32,134,61,0.4);}
}
@-moz-keyframes stretchdelay_green{
    0%,40%,100%{-moz-transform:scaleX(0.8);background-color:rgb(110,190,133);box-shadow:0 0 0 rgba(110,190,133,0.1);}
    20%{-moz-transform:scaleX(1);background-color:rgb(32,134,61);box-shadow:0 5px 6px rgba(32,134,61,0.4);}
}

/* Gray *********************/
.gray .cssload-piano > div{height:100%;width:100%;display:block;margin-bottom:0.6em;animation:stretchdelay_gray 1.38s infinite ease-in-out;-o-animation:stretchdelay_gray 1.38s infinite ease-in-out;-ms-animation:stretchdelay_gray 1.38s infinite ease-in-out;-webkit-animation:stretchdelay_gray 1.38s infinite ease-in-out;-moz-animation:stretchdelay_gray 1.38s infinite ease-in-out;}
.gray .cssload-piano .cssload-rect2{animation-delay:-1.15s;-o-animation-delay:-1.15s;-ms-animation-delay:-1.15s;-webkit-animation-delay:-1.15s;-moz-animation-delay:-1.15s;}
.gray .cssload-piano .cssload-rect3{animation-delay:-0.92s;-o-animation-delay:-0.92s;-ms-animation-delay:-0.92s;-webkit-animation-delay:-0.92s;-moz-animation-delay:-0.92s;}
@keyframes stretchdelay_gray{
    0%,40%,100%{transform:scaleX(0.8);background-color:rgb(165,165,165);box-shadow:0 0 0 rgba(165,165,165,0.1);}
    20%{transform:scaleX(1);background-color:rgb(88,88,88);box-shadow:0 5px 6px rgba(88,88,88,0.4);}
}
@-o-keyframes stretchdelay_gray{
    0%,40%,100%{-o-transform:scaleX(0.8);background-color:rgb(165,165,165);box-shadow:0 0 0 rgba(165,165,165,0.1);}
    20%{-o-transform:scaleX(1);background-color:rgb(88,88,88);box-shadow:0 5px 6px rgba(88,88,88,0.4);}
}
@-ms-keyframes stretchdelay_gray{
    0%,40%,100%{-ms-transform:scaleX(0.8);background-color:rgb(165,165,165);box-shadow:0 0 0 rgba(165,165,165,0.1);}
    20%{-ms-transform:scaleX(1);background-color:rgb(88,88,88);box-shadow:0 5px 6px rgba(88,88,88,0.4);}
}
@-webkit-keyframes stretchdelay_gray{
    0%,40%,100%{-webkit-transform:scaleX(0.8);background-color:rgb(165,165,165);box-shadow:0 0 0 rgba(165,165,165,0.1);}
    20%{-webkit-transform:scaleX(1);background-color:rgb(88,88,88);box-shadow:0 5px 6px rgba(88,88,88,0.4);}
}
@-moz-keyframes stretchdelay_gray{
    0%,40%,100%{-moz-transform:scaleX(0.8);background-color:rgb(165,165,165);box-shadow:0 0 0 rgba(165,165,165,0.1);}
    20%{-moz-transform:scaleX(1);background-color:rgb(88,88,88);box-shadow:0 5px 6px rgba(88,88,88,0.4);}
}

/** Loading Css End **/

/*22-09-2016*/
.form-control[disabled],.form-control[readonly],fieldset[disabled] .form-control{background-color:#f9f9f9;pointer-events:none;cursor:default;}
.disabled{pointer-events:none;cursor:default;}
.disabled img{opacity:0.3;}
.k-textbox,.k-autocomplete,.k-dropdown-wrap,.k-numeric-wrap{border-width:0px;height:31px; line-height:30px; }
.clsL1,.clsL2,.clsL3,.clsL4,.clsL5,.clsLocation,.clsAsset,.clsSector{position:relative;padding-left:10px;}
.clsL1:after{content:'';position:absolute;left:-10px;top:0px;width:20px;height:20px;background-image:url(../images/organisation.png);background-position:center center;background-repeat:no-repeat;}
.clsL2:after{content:'';position:absolute;left:-10px;top:0px;width:20px;height:20px;background-image:url(../images/city.png);background-position:center center;background-repeat:no-repeat;}
.clsL3:after{content:'';position:absolute;left:-10px;top:0px;width:20px;height:20px;background-image:url(../images/area.png);background-position:center center;background-repeat:no-repeat;}
.clsL4:after{content:'';position:absolute;left:-10px;top:0px;width:20px;height:20px;background-image:url(../images/street.png);background-position:center center;background-repeat:no-repeat;}
.clsL5:after{content:'';position:absolute;left:-10px;top:0px;width:20px;height:20px;background-image:url(../images/building.png);background-position:center center;background-repeat:no-repeat;}
.clsLocation:after{content:'';position:absolute;left:-10px;top:0px;width:20px;height:20px;background-image:url(../images/locations.png);background-position:center center;background-repeat:no-repeat;}
.clsAsset:after{content:'';position:absolute;left:-10px;top:0px;width:20px;height:20px;background-image:url(../images/asset.png);background-position:center center;background-repeat:no-repeat;}
.clsSector:after{content:'';position:absolute;left:-10px;top:0px;width:20px;height:20px;background-image:url(../images/sector.png);background-position:center center;background-repeat:no-repeat;}
.k-treeview .k-top,.k-treeview .k-mid,.k-treeview .k-bot{background-image:url('../images/treeview-nodes.png');background-repeat:no-repeat;margin-left:-16px;padding-left:16px;}
.k-treeview .k-item{background-image:url('../images/treeview-line.png');}
.k-treeview .k-last{background-image:none;}
.k-treeview .k-top{background-position:-91px 0;}
.k-treeview .k-bot{background-position:-69px -16px;}
.k-treeview .k-mid{background-position:-47px -37px;}
.k-treeview .k-last .k-top{background-position:-25px -59px;}
.k-treeview .k-group .k-last .k-bot{background-position:-69px -16px;}
.k-treeview .k-item{background-repeat:no-repeat;}
.k-treeview .k-first{background-repeat:no-repeat;background-position:0 16px;}

/*30-09-2016*/
.table-fix{    /*overflow:hidden;*/}
.table-fix .k-grid-content{max-height:400px;overflow-y:hidden !important;overflow-x:auto !important;}
.table-fix.height-300 .k-grid-content{max-height:300px;}
.panel,.panel-heading{border-radius:0px;}
.panel-heading .panel-collapsed span{margin-top:-15px;}
#frmEmailRule .btn-success{margin-bottom:5px !important;}
.kendo-fix-height .k-grid-content{max-height:500px;overflow-y:hidden !important;overflow-x:auto !important;}
.btnEmailRule{margin-top:-8px;}

/*03-10-2016*/

/*.modal {
    text-align: center;
    padding: 0 !important;
}

    .modal:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -4px;
    }

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}*/ 

#addItemModal .modal-content{margin-top:30%;}
.titel-pc{border-bottom:3px solid #d5d5d5;padding:10px 15px;margin-bottom:10px;}
.titel-pc h1{font-size:24px;color:#555;font-family:'open_sansregular';font-weight:normal;}



/* **filter-row*************************** */

.filter-row {width:100%; position:relative; padding:0 15px;}
.filter-row > .row {position:relative; padding-right:40px; border:1px solid #d3d3d3; margin-bottom:10px;  }
.filter-row .form-group {float:left;  margin-bottom:10px; margin-top:10px;   padding-left:15px; width:25%; }
.filter-row .remove-btn {position:absolute; right:0px; top:0px; border-radius:0px; margin:0; padding:0 5px; text-align:center;   height:100%;   }
.filtercondition {border:0px !important;}
    .filtercondition .form-group { margin:10px auto 10px -15px }

@media (max-width:767px) {
	.filter-row .form-group {width:100%; }	
} 

/** 18-Oct-2016 */

#frmAddWidget .form-horizontal .control-label {text-align: left;}
#frmAddWidget .form-horizontal .form-group {position: relative;border-bottom: 1px solid #E4E4E4;padding-bottom: 8px;margin-bottom: 10px;margin-left: 0px;margin-right: 0px;}
#frmAddWidget .form-horizontal .form-group label {margin-bottom: 5px;}
#frmAddWidget .form-horizontal .form-group .switch-box {position: absolute;top: 7px;right: 0px;}

.switch {float: right;position: relative;display: inline-block;width: 50px;height: 25px;}
.switch input {display: none;}
.slider {position: absolute;cursor: pointer;top: 0;left: 0;right: 0;bottom: 0;background-color: #D4D4D4;-webkit-transition: .4s;transition: .4s;}
.slider:before {position: absolute;content: "";height: 20px;width: 20px;left: 2px;bottom: 3px;background-color: #fff;-webkit-transition: .4s;transition: .4s;}
input:checked + .slider {background-color: #2196F3;}
input:focus + .slider {box-shadow: 0 0 1px #2196F3;}
input:checked + .slider:before {-webkit-transform: translateX(25px);-ms-transform: translateX(25px);transform: translateX(25px);}
.slider.round {border-radius: 34px;}
.slider.round:before {border-radius: 50%;}


.assessment-box {margin-bottom: 20px;}
.partition-label { color: #555555; font-family: "open_sanssemibold",arial; font-size: 14px; font-weight: normal; normal;  margin-bottom:10px; }
.pm-checklist.onlybutton .checklis-btn  { right:1px !important; }
#arabic .pm-checklist.onlybutton.equalsbtn .checklis-btn  { right:84% !important }





/*==chart-btn =================*/
.btn-pie-chart, .btn-pie-chart:hover, .btn-pie-chart:focus{ background-image:url(../images/round-pie-chart.png);}
.btn-polygraph, .btn-polygraph:hover, .btn-polygraph:focus{ background-image:url(../images/polygraph.png);}
.filtered-by {position:relative;z-index:1;margin-bottom:10px;}
.filtered-by .chart-btn {position:absolute; top: 0; right: 0; z-index:99; }
.filtered-by .chart-btn .btn-icon  {background-color: #97A5B1;border-color: #97A5B1;}

.blue  .filtered-by .chart-btn .btn-icon.active , .filtered-by .chart-btn .btn-icon.active {background-color: #1B79C8;border-color: #1B79C8; } 
.green .filtered-by .chart-btn .btn-icon.active  {background-color: #20863D; border-color: #20863D; }
.gray  .filtered-by .chart-btn .btn-icon.active  {background-color: #585858; border-color: #585858; }

#arabic .filtered-by {position:relative; padding-right:0px; }
#arabic .filtered-by .chart-btn {position:absolute; top: 0; right: auto; left:0px;  }


/*===calendars month==========================*/
.calendars-month-header {height: 40px !important;padding:0px 7px; margin-bottom:3px; background-color:#E8E8E8;}
.calendars-month-header select, .calendars-month-header input {
  border: 0px; background-color: #E8E8E8;height:100% !important;padding: 5px;font-size: 15px;color: #404040; margin-top:0px;
}
.calendars {padding:0px; font-family: 'open_sansregular'}
.calendars-month {width:100%; max-width:315px;}
.calendars-month table {width:100%;}
.calendars-month span {padding:4px 0;}
.calendars-month a {padding:8px 0; background-color:transparent;}
.calendars-month td .calendars-weekend {background-color:transparent;}
.calendars-month table td, .calendars-month table th {border:none !important; background-color:transparent;}


.calendars-month td .calendars-today {background-color: #237bc8; color:#fff !important;}

 .calendars-month th, .calendars-month th a {font-size:14px;}
.calendars-month td .calendars-selected.calendars-weekend, .calendars-month td .calendars-highlight {background-color:#E2E2E2; color:#333; }

.blue .calendars-month th, .calendars-month th a {color:#237bc8;}
.blue .calendars-month td .calendars-today {background-color: #237bc8; color:#fff;}

.green .calendars-month th, .calendars-month th a {color:#20863D;}
.green .calendars-month td .calendars-today {background-color: #20863D;}

.gray .calendars-month th, .calendars-month th a {color:#585858;}
.gray .calendars-month td .calendars-today {background-color: #585858;}


.filtered-by .form-label span {font-weight:600;}





/***09-11-2016*******************************/

.ddl-table {display:table; width:100%; border-bottom:1px solid #C1C1C1;}
.ddl-table > span {border-right:1px solid #C5C5C5; display:table-cell; padding:5px 5px;}
.ddl-table > span.english {min-width: 150px !important; width:40%;}
.ddl-table > span.arabic {text-align:right; border-right:none; border-left:none !important; min-width:150px !important; width:40%;}
.ddl-table .code-no {min-width:107px !important;}
.ddl-table > span.onlyenglish {text-align:left; border-right:none; border-left:none !important; min-width:150px !important; width:40%;}
/*.k-animation-container {
    margin-left: -135px !important; min-width:320px !important;}*/
/*#sortable-horizontal .col-lg-4 {display:block !important;
}*/

@media (min-width: 768px){
.form-horizontal .control-label {margin-bottom: 5px;}
}

/**** 15 - Nov - 2016  ***/

ul.status-option  {display:table; max-width:250px; float:right}

#arabic ul.status-option li,  ul.status-option li {display:table-cell; border:none; padding:10px 5px;}
.status-option li span {width:12px; height:12px; border-radius:50%;     display: inline-block; vertical-align: middle; margin-right:5px;}
.status-option li.open span  {background-color:#cc3300;}
.status-option li.closep span  {background-color:#006600;}
.status-option li.cancel span  {background-color:#007a99;}

#arabic ul.status-option {float:left}
#arabic .status-option li span  {margin-left:5px; margin-right:0px;}


.customprogress {border-radius:1px; margin-bottom:0px;}

.customprogress .progress-bar-open {background-color:#cc3300 !important;}
.customprogress .progress-bar-closep {background-color:#006600 !important;}
.customprogress .progress-bar-cancel {background-color:#007a99 !important;}


/**** 16 - Nov - 2016  ***/

.activities-searchbox {position:relative; padding-right:40px;}
.activities-searchbox .btn-search {position:absolute; right:0px; bottom:0px;}

#arabic .activities-searchbox {position:relative; padding-right:0px; padding-left:40px;}
#arabic .activities-searchbox .btn-search {position:absolute; right:auto; left:0px; bottom:0px;}


@media (max-width: 1500px) {
#sortable-horizontal .col-lg-6, #sortable-horizontal .col-lg-4 {width: 50%}
#btnWidgetClass {display:none;}
}
@media (max-width: 1199px) {
#sortable-horizontal .col-lg-6, #sortable-horizontal .col-lg-4 {width: 100%}
    
}
.ddl-table-hed {background-color:#C5C5C5;}
.k-multiselect .k-button {border-color:transparent;
}
.k-button:focus:active:not(.k-state-disabled):not([disabled]),
.k-button:focus:not(.k-state-disabled):not([disabled]),
.k-multiselect .k-button:active {box-shadow:none; -webkit-box-shadow:none;}


/**** 22 - Nov - 2016  ***/
.bootstrap-select .btn{ float:none !important; margin-bottom:0px !important; }
.bootstrap-select .btn:before {content:''; height:0px;}
.bootstrap-select > .dropdown-toggle {padding-right: 5px !important;}
.bootstrap-select .dropdown-toggle {background-color:#fff; border:1px solid #ccc; }
    .bootstrap-select .dropdown-menu .form-control {box-shadow:0px;
    }
    .bootstrap-select .dropdown-menu{ margin:0px; }

/*****  Dashboard Css  ***/

.JobOrderStatusBySiteGrid .k-grid-content {height: 320px !important;}
.chart-block, .chart {height: 90%;}
.chart .chart-wrapper {display: table;height: 100%;width: 100%;}
.noDataNotification {font-size: 24px;color: #B5B5B5;display: table-cell;height: 100%;vertical-align: middle;text-align: center;}
.printPopupBtn {float: right;}
#arabic .printPopupBtn {float: left;}
.printBtnGrid {text-align: right;}
#arabic .printBtnGrid {text-align: left;}
.lefttoright {direction: rtl;}



.cus-select .dropdown-toggle{ display:block; width:100%; text-align:left; background:#FFF; border:1px solid #ccc; float:none !important; }
.cus-select .dropdown-toggle:hover, .cus-select .dropdown-toggle:focus, .cus-select .open .dropdown-toggle, .cus-select  .open .dropdown-toggle { background:#ebebeb !important; border:1px solid #ccc !important; box-shadow:none !important;    }
.cus-select .dropdown-toggle.btn:before, .cus-select .dropdown-toggle.btn:hover:before { content:""; width:0px; display:none !important;}
.cus-select .dropdown-toggle .caret{ position:absolute; top:15px; right:10px; }
.cus-select .open > .dropdown-menu{ width:100%; }
.open > .dropdown-toggle.btn-default {background:#ebebeb; outline:none;}
    .open > .dropdown-toggle.btn-default:hover, .open > .dropdown-toggle.btn-default:focus, .open > .dropdown-toggle.btn-default.focus {
    background:#ebebeb; outline:none;}


/*****25-11-2016***/
.or-mag {padding-top:20px; padding-bottom:30px;}
.or-mag center {position:relative;}
.or-mag center b {width:35px; height:35px; border-radius:50%; background-color:#fff; position:relative; z-index:9; display:inline-block; border:1px solid #d1d1d1; padding-top:7px;}     
.or-mag center:after {    content: '';
    width: 50%;
    height: 1px;
    background-color: #D1D1D1;
    position: absolute;
    top: 16px;
    left: 0;
    right: 0;
    margin: auto;} 

.mg-b {margin-bottom:10px;}
.mg-l-0 {margin-left:0px;} 
.multiple-checklis .btn-icon {width:34px; height:34px;}
.multiple-checklis {display:block; margin-top:20px;}
.multiple-checklis .sub_btn {bottom:0px;}
.multiple-checklis .btn-add {float:right; margin-left:10px;}
 #arabic .multiple-checklis .btn-add {float:left; margin-left:0px; margin-right:10px;}
@media (min-width: 768px) {
    .head1 {padding: 0 210px 5px 0; }
    #arabic .head1 {padding: 0 0 5px 210px; }
}

@media (max-width: 767px) {
    .multiple-checklis .btn-add {float:left; margin-left:0px;}
    #arabic .multiple-checklis .btn-add {float:right;margin-left:10px; margin-right:0px;}
}
 
/****  30/11/2016  ***/
#divGPSLocation > div {position:relative !important; min-height:400px;}

.modal-open {position:fixed;left:0px; right:0px; bottom:0px; top:0px;
}

.multiselect-container li a {padding-top:5px; padding-bottom:5px;}
.multiselect-container > li > a > label { font-size: 14px  !important; font-family: "open_sansregular"  !important;}
.btn.dropdown-toggle.btn-default:hover{ background-color:#ebebeb;}
#arabic .btn-group ul li { margin-left: 0; margin-right:8px;}
#arabic .multiselect-container .radio input[type="radio"], 
#arabic .multiselect-container .radio-inline input[type="radio"], 
#arabic .multiselect-container .checkbox input[type="checkbox"], 
#arabic .multiselect-container  .checkbox-inline input[type="checkbox"] {
     margin-left:0;margin-right:-20px; 
}
/*(Start)Added By Pratik Telaviya on 07-Dec-2016 to add three dots if column value is too long*/
.k-grid td.column-textoverflow {
        white-space: nowrap;
        overflow: hidden;
    }

    .k-grid table {
        table-layout: fixed;
    }
/*(Start)Added By Pratik Telaviya on 07-Dec-2016 to add three dots if column value is too long*/

 .translat-btn {
        margin-bottom:10px;
    }


/*14-12-2016*/
.box-hed {
    
    border-bottom: 1px solid #dadada;
    padding: 0px 15px 3px;
    text-align: right;
    margin-bottom:20px;
}

 .k-grid .form-control {
        box-sizing: border-box;
    }


/*20-12-2016*/
.k-textbox:focus, .k-autocomplete.k-state-focused, .k-picker-wrap.k-state-focused, .k-numeric-wrap.k-state-focused, .k-dropdown-wrap.k-state-focused, .k-multiselect.k-header.k-state-focused {box-shadow:none;}
.k-autocomplete {height:34px; background-color:#fff;}
.k-autocomplete.k-state-hover {background-color:transparent; box-shadow:none;}
.pm-checklist .k-autocomplete #autEmployee.form-control {padding-right:0px; box-shadow:none; height:32px;}
.k-list-container, #autEmployee_listbox, #autEmployee_listbox li {padding:0px;}
#autEmployee_listbox .ddl-table > span {font-size:12px; }






/* webhelp
----------------------------------------------------------------- */
 .btn-star, .btn-star:hover, .btn-star:focus{ background-image:url("../images/star.png");}
 .btn-star-a { background-image:url("../images/star-a.png");}
 .btn-next-page, .btn-next-page:hover, .btn-next-page:focus{ background-image:url("../images/next-page.png");}
.btn-previ-page, .btn-previ-page:hover, .btn-previ-page:focus{ background-image:url("../images/previ-page.png");}
.btn-previ-page.disable, .btn-next-page.disable {opacity:0.5;}
 
#main.webhelp-page {margin-left:360px;}
#main.webhelp-page.active {margin-left:0px;}
.webhelp-page #sidebar-wrapper {left:360px; margin-left:-360px; width: 360px;}
.webhelp-page #sidebar-wrapper .menu-left {width: 360px;}
#main.webhelp-page .k-widget {border:0px !important;}
.webhelp .nav-tabs {margin-top:55px; border:0px;}
.webhelp .menu-left {padding-top:10px;}

.webhelp .k-widget.k-treeview { color:#fff;}
.webhelp div.k-treeview {overflow:visible;}

.webhelp .nav-tabs {display:table;width:100%;}
.webhelp .nav-tabs > li {display:table-cell; float:none; text-align:center;}
.webhelp .nav-tabs > li a {color:#fff; border:0px;background-color:#10497a; border-radius:0px; padding:10px 12px; margin-right:0px;   }
.webhelp .nav-tabs > li.active > a, 
.webhelp .nav-tabs > li.active > a:hover,  
.webhelp .nav-tabs > li.active > a:focus,
.webhelp .nav > li > a:hover, 
.webhelp .nav > li > a:focus {background-color:#1b79c8; color:#fff; border:0px;  }

.bookmark-list li {padding:10px; color:#fff;}
.bookmark-list li a {color:#fff;}

.information-page {padding:15px; }

.information-page strong, .information-page b {font-weight:normal;  font-family: 'open_sansbold';}
.information-page img {max-width:100%; height:auto; }
.information-page h2, .information-page h3, .information-page h4, .information-page h5, .information-page h6 {margin-bottom:20px;  }
.information-page p {margin-bottom:20px; }
.information-page div, .information-page ol, .information-page ul {margin-bottom:30px;}
.information-page ol ol, .information-page ul ul {padding-left:20px; }
.information-page ul li {list-style: none; display:inline; padding:5px;  }
.information-page .listing-ul li {display:block;}
 .webhelp-page .txtSearch {margin-bottom:30px;float:right;}
 .webhelp-page .txtSearch-icon {cursor:pointer;}

.blue .information-page a {color:#10497a;}
.green .information-page a {color:#1a6b31;}
.gray .information-page a {color:#464646;}
.information-page a:hover, .information-page a:focus {opacity:0.5; }

.chapter {background-color:#f9f9f9; padding:15px; box-shadow:none;}


.webhelp-page  .k-treeview .k-plus, 
.webhelp-page  .k-treeview .k-minus, 
.webhelp-page  .k-treeview .k-plus-disabled, 
.webhelp-page  .k-treeview .k-minus-disabled {margin-left:0px;}

.webhelp-page .k-icon, 
.webhelp-page .k-tool-icon,
.webhelp-page .k-grouping-dropclue,
.webhelp-page .k-drop-hint,
.webhelp-page .k-column-menu .k-sprite,
.webhelp-page .k-grid-mobile .k-resize-handle-inner:before,
.webhelp-page .k-grid-mobile .k-resize-handle-inner:after,
.webhelp-page .k-pager-numbers .k-current-page .k-link:after,
.webhelp-page .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view > .k-link:after {content:''; background-size:18px; background-image:url("../images/contents.png");background-position:center  center; width: 19px; }

.webhelp-page .k-treeview .k-in {padding-left:3px;}

.webhelp-page .k-treeview .k-item,
.webhelp-page .k-treeview .k-top, 
.webhelp-page .k-treeview .k-mid, 
.webhelp-page .k-treeview .k-bot {background-image:none;}

.bookmark-list {padding:10px 20px;}
    .bookmark-list li {list-style:none;}
        .bookmark-list li a {padding: .4167em .6667em .3333em 5px;}

 .bookmark-list li .drop-menu-false:after {content:""; top: 6px;}
    
.bookmark-list li a:hover, 
.webhelp-page .k-state-hover,
.webhelp-page .k-state-hover:hover, .webhelp-page .k-state-selected {background-color:rgba(0, 0, 0, 0.2) !important; color:#fff; }



.webhelp-page .k-treeview .k-item {padding-top:10px;}

.drop-menu-false {position:relative}
.drop-menu-false:after {content:''; background-image: url("../images/help-icom.png");background-position: 0 center; background-repeat: no-repeat;  background-size: 9px auto; height: 17px;left: -17px;position: absolute;top: 2px; width: 17px;}


#arabic #main.webhelp-page {margin-right:360px; margin-left:auto;}
#arabic #main.webhelp-page.active {margin-left:0px; margin-right:0px;}
#arabic .webhelp-page #sidebar-wrapper {right:360px; left:auto; margin-right:-360px; margin-left:auto;}
#arabic .webhelp-page #sidebar-wrapper .menu-left {width: 360px;}


#arabic .drop-menu-false::after {right: -24px; left:0px;}
#arabic .k-treeview .k-item {padding-left:0px; padding-right:16px;}
#arabic .webhelp-page .k-treeview .k-in { padding-right: 3px;  padding-left:0px;}
#arabic .webhelp .sub_btn li {float: right;}
#arabic .input-group .form-control:last-child,
#arabic .input-group-addon:last-child,
#arabic .input-group-btn:last-child > .btn,
#arabic .input-group-btn:last-child > .btn-group > .btn,
#arabic .input-group-btn:last-child > .dropdown-toggle,
#arabic .input-group-btn:first-child > .btn:not(:first-child),
#arabic .input-group-btn:first-child > .btn-group:not(:first-child) > .btn {border-bottom-left-radius: 4px; border-top-left-radius:4px; border-bottom-right-radius: 0;border-top-right-radius:0;}
#arabic .input-group-addon:last-child { border-left:   border: 1px solid #ccc; border-right:0px;}


@media (max-width: 767px) {
    #header {z-index:999;}
    #main.webhelp-page { margin-left: 0;}
    #main #sidebar-wrapper {z-index:99;}
     #main.webhelp-page #sidebar-wrapper {left:0px; width:360px; }
     #main.webhelp-page.active #sidebar-wrapper {left:360px;    }
    #main.webhelp-page.active {margin-left: 360px;}
  
   #arabic #main.webhelp-page { margin-left: 0; margin-right:0px;}
   #arabic #main.webhelp-page #sidebar-wrapper {left:0px; right:0px; width:360px; }
   #arabic #main.webhelp-page.active #sidebar-wrapper {left:auto;  right:360px;  }
   #arabic #main.webhelp-page.active {margin-left: auto;margin-right:360px;}
  


}



/*27-12-2016*/
.k-popup .k-list .k-item, .k-fieldselector .k-list .k-item, .k-list-optionlabel, .k-popup > .k-group-header, .k-popup > .k-virtual-wrap > .k-group-header {padding-top:0px; padding-bottom:0px;}

.k-reset.k-multicheck-wrap {max-width:300px;
}
.k-reset.k-multicheck-wrap input[type="checkbox"] { margin-right:8px;}




.two-form-group .pm-checklist {padding-left: 0px;}
.two-form-group .pm-checklist .code-input{z-index: 4; padding-left:5px !important;}
.two-form-group .pm-checklist > .form-control {padding-left: 130px;}
.two-form-group .pm-checklist > .form-control > .form-control {text-indent: 0;}


#arabic .two-form-group .pm-checklist {padding-right: 0px;}
#arabic .two-form-group .pm-checklist .code-input{z-index: 4; padding-right:5px !important; padding-left:0px !important; }
#arabic .two-form-group .pm-checklist > .form-control {padding-right: 130px; padding-left:0px;}

.k-animation-container {margin-left: 0px !important; padding-left: 0px !important;  padding-right: 0px !important;}






#arabic .k-picker-wrap .k-select, #arabic .k-numeric-wrap .k-select, #arabic.k-dropdown-wrap .k-select {right:auto; left:0px; border-left:0px; border-right:1px solid #ccc;}



.transactions-btn {margin-right: -30px;}
    .transactions-btn > div {padding-left: 0px;}
.transactions-btn .btn-primary {background-color:#fff /*656e75*/; width:100%; min-height:60px; margin-bottom:15px; border:1px solid #ddd; color:#1b79c8; color: #1b79c8;
    font-size: 18px;}

@media (min-width: 1199px) and (max-width: 1260px) {
    .transactions-btn .btn-primary {font-size: 12px;}
}

.k-chart {direction:ltr;}



.weekdays {display:table; width:100%;} 
.weekdays li {float:left; min-width:150px; list-style:none; margin-bottom:10px;}
.weekdays li input {margin-right:5px; float:left;}



#arabic .weekdays li {float:right}
#arabic .weekdays li input {margin-right:auto; margin-left:5px; float:right;}



/*12/01/2017*/
.k-textbox > input, .k-autocomplete .k-input, .k-picker-wrap .k-input, .k-numeric-wrap .k-input, .k-dropdown-wrap .k-input, .k-selectbox .k-input {
    padding: 0.067em 0;
}
.k-i-arrow-s, k-state-hover .k-i-arrow-s {
    background-position: 0 -34px !important;
}

.k-grid-content-locked {height: 100% !important;}
body.modal-open {
        position: absolute !important;
    }


.form-group {margin-bottom: 8px;}

.k-textbox:hover, .k-autocomplete.k-state-hover, .k-picker-wrap.k-state-hover, .k-numeric-wrap.k-state-hover, .k-dropdown-wrap.k-state-hover {background-color:#fff;
}
.k-timepicker .k-picker-wrap { height:32px;}
.k-timepicker .k-picker-wrap .k-input {-webkit-box-shadow:none;
 box-shadow:none; 
}

.k-filter, .k-i-filter {
    background-position: -32px -80px;
}

.k-grid .k-icon.k-i-sort-asc-sm {
    display:none;
}

/*Start : For Help module*/
.chapter table td {border: 1px solid black; padding:5px;}




/* notification-drop */
#header .notification-drop .notification {min-height: 0px;display: table;width: 100%;}
.notification-drop .notification {min-height: 200px;display: table;width: 100%;}
.notification-drop .notification  .Notfound {vertical-align:middle; display:table-cell; height:100%;text-align:center; }
.notification-drop .dropdown-toggle{border:0 none;border-radius:0;display:block;height:54px;padding-left:15px;padding-right:15px;z-index:1001; border-right:1px solid #ddd; }
.notification-drop .open .dropdown-toggle, .notification-drop .dropdown-toggle:hover {background-color: #eee;}
.notification-drop .dropdown-toggle {line-height:55px; position: relative; border:0px; border-radius:0px;}
.notification-drop .dropdown-toggle .no {color: #fff;font-size: 12px; line-height: 12px; font-weight: normal; border-radius: 50%; padding: 3px 6px; background-color: #fd5a21; position: absolute; top: 8px; right: 7px;}
.notification-drop .dropdown-menu { width: 300px;}
#header .notification-drop .notification {max-height:330px !important; height:auto !important; overflow:auto;}
.notification-drop .notification > li {list-style: none;}
#header .notification-drop .notification > li > a {padding:10px 10px 10px 60px;}
.notification-drop .notification > li > a, .notification-drop .notification > .notif-box {background-color:#fff;border-bottom:1px solid #e1e0e0; position: relative; padding:10px 60px 10px; display:block;}
.notification-drop .notification > li > a:hover, .notification-drop .notification > .notif-box:hover{background-color: #f7f7f7;}
.notification-drop .notification > li > a.unread, .notification-drop .notification > .notif-box.unread { background-color:#f2f2f2;}
.notification-drop .notification > li > a.unread:hover, .notification-drop .notification > li > .notif-box.unread:hover{background-color:#ededed;}
.notification-drop  .total { border-bottom: 1px solid #e1e0e0; color: #545454; font-size:14px; line-height:16px; font-weight: normal; padding:10px;}
.notification-drop .view-all a {color:#4a92a7;font-size:14px; line-height:16px; font-weight: normal; padding:10px; text-align:center;background-color:#fff; display:block;}
.notification-drop .view-all a:hover {background-color:#fafafa;}
.notification-drop .notification .img {background-color:#1b79c8; width:40px; height:40px;line-height: 35px; border-radius:50px; overflow:hidden;display:block; position: absolute; left:10px; top: 8px;}
.notification-drop .notification > li p {margin:0px 0px 5px 0px; padding:0px;}
#header .notification-drop .notification .name {font-size:14px; }
.notification-drop .notification .name {color: #545454; font-size:16px; line-height:16px; font-weight: normal; font-family: 'open_sansbold';}
.notification-drop .notification .comment {color:#545454; font-size:14px; line-height:15px;}
.notification-drop .notification .time {color: #999999; font-size:12px; line-height:15px;}
.notification-drop .notification .notif-box .glyphicon {color: #545454 !important;  position: absolute; top:25px;  z-index:2; font-size: 16px; right:15px;border-radius:50%; padding:9px; background-color:transparent; border-bottom:0px;}
.notification-drop .notification .notif-box .glyphicon:hover {background-color:#d5d5d5;}

.notification .img {text-align:center; line-height: 43px;}

.notification-drop .slimScrollBar {background:rgb(202, 202, 202) none repeat scroll 0% 0% !important;}


#arabic .notification-drop .notification > li > a, #arabic .notification-drop .notification > .notif-box {padding:10px 60px 10px 10px;}
#arabic .notification-drop .notification .img {right: 10px; left: auto;}


.blue .notification-drop .notification .img {background-color:#1b79c8;}
.green .notification-drop .notification .img {background-color:#20863d;}
.gray .notification-drop .notification .img {background-color:#585858;}
.cleaning-weightage { padding-top: 15px; }
.cleaning-weightage .box-footer {margin-top:10px;}
@media (max-width:560px) {
	.hdr_right .dropdown-menu {left: 0; position: fixed; right: 0; top: 54px; width: 100%; }
}