
/*************************************************************
**************************** Theme ***************************/
/*************** Blue ***************/
.blue #sidebar-wrapper { background: #1b79c8;}

.blue .sidebar-menu h3:hover, .blue .sidebar-menu h3.openheader{ background:#1c5488;}
.blue .sidebar-list{background:#155c98;}
.blue .btn-icon {  color: #fff;  background-color: #1b79c8;  border-color: #1b79c8;}
.blue .btn-primary {  color: #fff;  background-color: #1b79c8;  border-color: #1b79c8;}
.blue .btn-primary:focus, .blue .btn-primary.focus {  color: #fff;  background-color: #237bc8;  border-color: #237bc8;} 
.blue .btn-primary:hover {  color: #fff;  background-color: #237bc8;  border-color: #237bc8;}
.blue .new_alert{ background:#f6bb42;}
.blue .infofix{ background:#31689b;}
.blue .login-header{background:#233552;}
.blue .r-tabs .r-tabs-nav .r-tabs-state-active .r-tabs-anchor {  background-color: #4e6284;  }
.blue .r-tabs .r-tabs-panel { border-top:3px solid #4e6284; }
.blue .r-tabs .r-tabs-accordion-title.r-tabs-state-active .r-tabs-anchor { background-color: #4a6293;  border-bottom:1px solid #4a6293; color: #FFF; text-shadow: none;  }
.blue .modal-header {background-color:#1b79c8;}
.blue .tp_setting .help {background-color:#1b79c8;}
.blue .table-bordered > thead > tr > th, .table-bordered > thead > tr > td {border-bottom-color:#1b79c8;  }
.blue .date-toggle a.active {background-color:#1b79c8; border-color:#1b79c8;  }
.blue .edit-job-order .nav-tabs li a:after {background-color:#155c98;}
.blue .login-panel .panel-body {border-bottom-color:#155c98;}
.blue .asset-tree-btn {background-color:#155c98;}

.blue .nav-tabs-horizontal .nav-tabs li.dropdown .dropdown-menu li a:hover, 
.blue .nav-tabs-horizontal .nav-tabs li.dropdown .dropdown-menu li.active a, 
.blue .nav-tabs-horizontal .nav-tabs li.dropdown .dropdown-menu li.active a:hover {background:#155c98 !important; }
.blue .dashboard .box {border-bottom-color:#1b79c8;} 

.blue .breadcrumb a {color:#1b79c8;}

.blue .k-grid-header th.k-header, .k-filter-row th {border-bottom-color:#1b79c8;  } 
.blue .k-pager-numbers .k-state-selected { background-color: #1b79c8;border-color: #1b79c8;}
.blue .k-state-selected, .blue .k-state-selected:link, .blue .k-state-selected:visited, .blue .k-list > .k-state-selected, .blue .k-list > .k-state-highlight, .blue .k-panel > .k-state-selected, .blue .k-ghost-splitbar-vertical, .blue .k-ghost-splitbar-horizontal, .blue .k-draghandle.k-state-selected:hover, .blue .k-scheduler .k-scheduler-toolbar .k-state-selected, .blue .k-scheduler .k-today.k-state-selected, .blue .k-marquee-color {
   color: #fff; background-color: #1b79c8 ;    border-color: #1b79c8 ;
}

.blue .k-multiselect .k-button {background-color: #1b79c8 ; }

/** 18-Oct-2016 */
.blue input:checked + .slider {
    background-color: #1b79c8;
}

/*************** Green **************/
.green #sidebar-wrapper { background: #20863d;}
.green .btn-icon {  color: #fff;  background-color: #20863d;  border-color: #20863d;}
.green .tp_setting .help {background-color: #20863d;}
.green .paging ul li a.active, .green .paging ul li a.active:hover {background-color: #20863d;}
.green .sidebar-menu h3:hover, .green .sidebar-menu h3.openheader{ background:#3b3733;}
.green .sidebar-list{background:#20863d;}
.green .btn-primary {  color: #fff;  background-color: #20863d;  border-color: #20863d;}
.green .btn-primary:focus, .green .btn-primary.focus {  color: #fff;  background-color: #20863d;  border-color: #20863d;}
.green .btn-primary:hover {  color: #fff;  background-color: #20863d;  border-color: #20863d;}
.green .new_alert{ background:#4e4a45; color:#FFF;}
.green .infofix{ background:#20863d;}
.green .login-header{background:#ee9b0b;}
.green .r-tabs .r-tabs-nav .r-tabs-state-active .r-tabs-anchor {  background-color: #20863d;  }
.green .r-tabs .r-tabs-panel { border-top:3px solid #20863d; }
.green .r-tabs .r-tabs-accordion-title.r-tabs-state-active .r-tabs-anchor { background-color: #20863d;  border-bottom:1px solid #20863d;  color: #FFF; text-shadow: none;  }
.green .modal-header {background-color:#20863d;}
.green .table-bordered > thead > tr > th, .table-bordered > thead > tr > td {border-bottom-color:#20863d;}
.green .date-toggle a.active {background-color:#20863d; border-color:#20863d;  }
.green .edit-job-order .nav-tabs li a:after {background-color:#20863d;}
.green .login-panel .panel-body {border-bottom-color:#20863d;}
.green .asset-tree-btn {background-color:#20863d;}
.green .nav-tabs-horizontal .nav-tabs li.dropdown .dropdown-menu li a:hover, 
.green .nav-tabs-horizontal .nav-tabs li.dropdown .dropdown-menu li.active a, 
.green .nav-tabs-horizontal .nav-tabs li.dropdown .dropdown-menu li.active a:hover {background:#20863d !important; }
.green .dashboard .box {border-bottom-color:#20863d;}

.green .breadcrumb a {color:#20863d;}

.green .k-grid-header th.k-header, .k-filter-row th {border-bottom-color:#20863d;  } 
.green .k-pager-numbers .k-state-selected {background-color: #20863d;border-color: #20863d;}
.green .k-state-selected, .green .k-state-selected:link, .green .k-state-selected:visited, .green .k-list > .k-state-selected, .green .k-list > .k-state-highlight, .green .k-panel > .k-state-selected, .green .k-ghost-splitbar-vertical, .green .k-ghost-splitbar-horizontal, .green .k-draghandle.k-state-selected:hover, .green .k-scheduler .k-scheduler-toolbar .k-state-selected, .green .k-scheduler .k-today.k-state-selected, .green .k-marquee-color {
    color: #fff;
    background-color: #20863d ;
    border-color: #20863d ;
}

.green input:checked + .slider {
    background-color: #20863d;
}

.green .k-multiselect .k-button {background-color: #20863d ; }

/*************** Gray **************/
.gray #sidebar-wrapper { background: #585858;}
.gray #sidebar-wrapper { background: #585858;}
.gray .btn-icon {  color: #fff;  background-color: #585858;  border-color: #585858;}
.gray .tp_setting .help {background-color: #585858;}
.gray .paging ul li a.active, 
.gray .paging ul li a.active:hover {background-color: #585858;}
.gray .sidebar-menu h3:hover, 
.gray .sidebar-menu h3.openheader{ background:#3b3733;}
.gray .sidebar-list{background:#585858;}
.gray .btn-primary {  color: #fff;  background-color: #585858;  border-color: #585858;}
.gray .btn-primary:focus, .gray .btn-primary.focus {  color: #fff;  background-color: #585858;  border-color: #585858;}
.gray .btn-primary:hover {  color: #fff;  background-color: #585858;  border-color: #585858;}
.gray .new_alert{ background:#4e4a45; color:#FFF;}
.gray .infofix{ background:#585858;}
.gray .login-header{background:#ee9b0b;}
.gray .r-tabs .r-tabs-nav .r-tabs-state-active .r-tabs-anchor {  background-color: #585858;  }
.gray .r-tabs .r-tabs-panel { border-top:3px solid #585858; }
.gray .r-tabs .r-tabs-accordion-title.r-tabs-state-active .r-tabs-anchor { background-color: #585858;  border-bottom:1px solid #585858;  color: #FFF; text-shadow: none;  }
.gray .modal-header {background-color:#585858;}
.gray .table-bordered > thead > tr > th, .table-bordered > thead > tr > td {border-bottom-color:#585858;}
.gray .date-toggle a.active {background-color:#585858; border-color:#585858;}
.gray .edit-job-order .nav-tabs li a:after {background-color:#585858;}
.gray .login-panel .panel-body {border-bottom-color:#585858;}
.gray .asset-tree-btn {background-color:#585858;}


.gray .nav-tabs-horizontal .nav-tabs li.dropdown .dropdown-menu li a:hover, 
.gray .nav-tabs-horizontal .nav-tabs li.dropdown .dropdown-menu li.active a, 
.gray .nav-tabs-horizontal .nav-tabs li.dropdown .dropdown-menu li.active a:hover {background:#585858 !important; }
.gray .dashboard .box {border-bottom-color:#585858;}

.gray .breadcrumb a {color:#585858;}
.gray .k-grid-header th.k-header, .k-filter-row th {border-bottom-color:#585858;  } 
.gray .k-pager-numbers .k-state-selected {background-color: #585858;border-color: #585858;}

.gray .k-state-selected, .gray .k-state-selected:link, .gray .k-state-selected:visited, .gray .k-list > .k-state-selected, .gray .k-list > .k-state-highlight, .gray .k-panel > .k-state-selected, .gray .k-ghost-splitbar-vertical, .gray .k-ghost-splitbar-horizontal, .gray .k-draghandle.k-state-selected:hover, .gray .k-scheduler .k-scheduler-toolbar .k-state-selected, .gray .k-scheduler .k-today.k-state-selected, .gray .k-marquee-color {
    color: #fff;
    background-color: #585858 ;
    border-color: #585858 ;
}

.gray input:checked + .slider {background-color: #585858;}

.gray .k-multiselect .k-button {background-color: #585858 ; }

/*************************************************************
**************************** Arabic ***************************/
#arabic { direction:rtl; }
#arabic table { text-align:right; }

/***** GRID *****/
#arabic .col-xs-1, #arabic .col-xs-2, #arabic .col-xs-3, #arabic .col-xs-4, #arabic .col-xs-5, #arabic .col-xs-6, #arabic .col-xs-7, #arabic .col-xs-8, #arabic .col-xs-9, #arabic .col-xs-10, #arabic .col-xs-11, #arabic .col-xs-12 { float: right;}

@media (min-width: 768px) {
	#arabic .col-sm-1, #arabic .col-sm-2, #arabic .col-sm-3, #arabic .col-sm-4, #arabic .col-sm-5, #arabic .col-sm-6, #arabic .col-sm-7, #arabic .col-sm-8, #arabic .col-sm-9, #arabic .col-sm-10, #arabic .col-sm-11, #arabic .col-sm-12 { float: right;}
}

@media (min-width: 992px) {
	#arabic .col-md-1, #arabic .col-md-2, #arabic .col-md-3, #arabic .col-md-4, #arabic .col-md-5, #arabic .col-md-6, #arabic .col-md-7, #arabic .col-md-8, #arabic .col-md-9, #arabic .col-md-10, #arabic .col-md-11, #arabic .col-md-12 { float: right;}
}

@media (min-width: 1200px) {
	#arabic .col-lg-1, #arabic .col-lg-2, #arabic .col-lg-3, #arabic .col-lg-4, #arabic .col-lg-5, #arabic .col-lg-6, #arabic .col-lg-7, #arabic .col-lg-8, #arabic .col-lg-9, #arabic .col-lg-10, #arabic .col-lg-11, #arabic .col-lg-12 { float: right;}
}
/***** GRID END *****/


body#arabic, #arabic li, #arabic a, #arabic p, #arabic div   {font-family: 'droid_arabic_naskhregular', Arial !important; font-weight: normal;}
#arabic #main { margin-left:0; margin-right: 230px;  }
#arabic #sidebar-wrapper { margin-left:0; margin-right: -230px; left:auto; right: 230px; }
#arabic #main.active { left: auto; right:0; margin-right:0; margin-left:0;  }
#arabic #main.active #sidebar-wrapper { left: auto; right:0;  }
#arabic #menu-toggle{ float:right; margin-left:3px; }
#arabic .sidebar-list li a{ padding:5px 30px 5px 10px; background:url(../images/ar_menu_right.png) 92% center no-repeat;}
#arabic .theme-colors {float:right;border-left:1px solid #e1e1e1; border-right:0px;   }
#arabic .theme-colors .btn {float:right; }
#arabic .date-toggle a {float:right; }
#arabic .theme-colors .form-label {text-align:right; padding:0 5px 5px;}
#arabic .language-block .form-label {text-align:right;}

#arabic .menu-left li > a {min-height:40px; padding:11px 50px 0 0; }
#arabic .menu-left li a .icon {right: 10px; left:auto; top: 5px;}
#arabic .menu-left li > a:after {content:''; z-index:-1; top: 0; right:0px; left:auto; }

#arabic .dro-menu > a {background:url(../images/ar_menu_right.png) 8px center no-repeat;}
#arabic .dro-menu.active > a {background:url(../images/ar_user.png) 8px center no-repeat;} 
#arabic .sub-menu-nav {display:none; }
#arabic .sub-menu-nav li a {padding:8px 20px 0 0px; font-family: Arial;}

#arabic .sub_btn .btn-icon {float:right; margin-left:0px; margin-right:5px; }

#arabic .logo-img{float:right;}
#arabic .logo-text{ float:right;padding:5px 8px 0 0px;  }
#arabic .lms{ float:right; border-right:1px solid rgba(255, 255, 255, 0.15); border-left:none;}
#arabic .hdr_right{ float:left;}
#arabic a.hlink{ border-left:none; border-right:1px solid rgba(255, 255, 255, 0.15);}
#arabic a.userinfo{ padding:5px 12px 5px 15px;}
#arabic .userinfo .userimg{ margin-right:0; margin-left:7px;}
#arabic .dropdown-menu{ text-align:right;}
#arabic .urlink .glyphicon{ color:#666; margin-left:4px; margin-right:0;}
#arabic .urlink .tp_ar span{ right:32px; left:auto;}
#arabic .tp_alert .dropdown-menu{ left:0; right:auto; }
#arabic .tp_alert .tp_ar{ left:29px; right:auto;}
#arabic .tp_setting .dropdown-menu{ left:0; right:auto; }
#arabic .tp_setting .tp_ar{ left:29px; right:auto;}
/*#arabic .new_alert{  left:13px; right:auto; }*/
#arabic .urlink{left: 0;right: auto;}
#arabic .urlink.dropdown-menu > li > a:after {left:auto; right:0px;  }
#arabic .copyright{float:right;}
#arabic .social{ float:left;}
#arabic .fts{left:220px; right:auto;}
#arabic .box4 .ic{ left:auto; right:0;}
#arabic .box4 .textbig{ left:17px; right:auto;}
#arabic .box4 .textsml{ right:15px; left:auto;}

#arabic .fm-line{ float:right; margin-left:7px; margin-right:0;}
#arabic .ls{left:13px; right:auto;}

#arabic .table th{ text-align:right;}
#arabic .action{ text-align:left;}
#arabic .db-box h3{ padding:12px 10px 9px 30px;}
#arabic .minplus{ left:8px; right:auto;}
#arabic .action a{ margin-right:5px; margin-left:0;}



/* paging */
#arabic .paging {float:left; }

#arabic .login-header{ padding:0 12px 0 0;}
#arabic .login-bottom .fts{  float:right;}
#arabic .login-bottom .social{ float:left;}
#arabic .lc-pad img{ left:8px; right:auto;}
#arabic .lc-pad .form-control{ padding-left:35px; padding-right:12px;}

#arabic .dateicon img{ left:8px; right:auto;}
#arabic .dateicon .form-control{ padding-left:35px; padding-right:12px;}
#arabic .date-pick .form-control {padding-left:30px; padding-right:5px;}
#arabic .date-pick .input-group-addon {right:auto; left:10px;  }
#arabic .pm-checklist .form-control {padding-left:70px;padding-right:5px;   } 
#arabic .pm-checklist .checklis-btn {right:auto; left:31px; }
#arabic .pm-checklist .close-btn {right:auto; left:1px;}

#arabic .footpad{ margin-left:0; margin-right:230px; transition: all ease 0.4s; -moz-transition: all ease 0.4s; -webkit-transition: all ease 0.4s;}
.footspac .footer .footpad {padding-left:15px; padding-right:15px;  }
#arabic .footspac .footpad{ margin-right:0;}
#arabic .breadcrumb span{ background:url(../images/breadcrumb_ar.png) no-repeat;float:right; }

#arabic .head1 .sub_btn{ left:0; right:auto;}

#arabic .box-footer{ text-align:left;}
#arabic .modal-footer{ text-align:left;}
#arabic .modal-header .close{ left:11px; right:auto; float:left; }

#arabic .popup-form .control-label{ text-align:left; padding-left:0; padding-right:15px;}

#arabic .form-horizontal .control-label {text-align:left; }

#arabic .login-leftside{ float:right; width:55%; }
#arabic .login-rightside{ float:left; width:45%;}
#arabic .logo-ems{ text-align:right; float:right; margin:0 0 0 2%;}
#arabic .logo-moh{ text-align:left; float:left; margin:0 2% 0 0;}


#arabic .dms-login{ padding:45px 5% 0 0 ;}
#arabic .signin{margin:0 15px 0 0 ;}
#arabic .languagelink span{ left:0; right:auto;}
#arabic .languagelink img{ margin-left:10px; margin-right:0;}
#arabic .lang-block li a img{ margin-left:10px; margin-right:0;}

#arabic .foot_bottom p{ right:auto; left:220px;}
#arabic .logincopy{ left:auto; right:200px; }

#arabic .copyright{text-align:left; }

/* login-panel */
#arabic .login-panel .panel-body {text-align:right; }
#arabic .login-panel .forgot {float:left !important; }
#arabic .login-panel .remember {margin-right:20px;  }
#arabic .login-logo {padding-right:40px; padding-left:0px;}
#arabic .login-logo .logo-text {text-align:right; }
#arabic .login-logo > .logo-img {left:auto; right:0; top: -3px; max-width:42px; width:100%;   }
#arabic.login-page .language-block {float:left; }
#arabic .edit-job-order .nav-tabs > li {float:right;	}

/* dashboard */

#arabic .breadcrumb a {float:right; }

#arabic .status .filter-drop .filter-icon {padding-left: 0; padding-right: 11px}
#arabic .work-status-grid .table tr .text-right {text-align:left; } 
#arabic .dashboard .box .status {right:auto; left: 0; }
#arabic .dashboard .filter-dropdown-menu {left: 0; right: auto;}
#arabic .dashboard .box .sub-title {padding-left:95px; padding-right:0px;   }
#arabic .filtered-by li {background-position:5px center; padding:5px 5px 5px 25px  }
#arabic .work-status-grid .table-bordered > tbody > tr > td:first-child, #arabic .work-status-grid .table-bordered > thead > tr > th:first-child {border-right:0px;}
#arabic .work-status-grid .table-bordered > tbody > tr > td:last-child, #arabic .work-status-grid .table-bordered > thead > tr > th:last-child{border-left:0px;}
#arabic .filtered-by li .close-icon {right:auto; left: 0; }
#arabic .filtered-by li .close-icon:before {right:auto; left: 0;}

#arabic .k-pager-info {float:right;}
#arabic .k-pager-sizes {float:left;}

#arabic .sub-title .sub_btn {left: 0; right: auto; }
#arabic .two-form-group .pm-checklist {padding-left:0px; padding-right:100px;}
#arabic .two-form-group .pm-checklist .code-input {left:auto; right:0;}


#arabic .date-pick { padding-right:0px; padding-left:85px;}
#arabic .date-conversation {right:auto; left:0px; padding-left:5px; padding-right:5px;}
#arabic .calendarsPicker {background-position:5px center; }

#arabic .clsL1, #arabic .clsL2, #arabic .clsL3, #arabic .clsL4, #arabic .clsL5, #arabic .clsLocation, #arabic .clsAsset 
{position:relative; padding-left:0px; padding-right:10px;}

#arabic .clsL1:after, #arabic .clsL2:after, #arabic .clsL3:after, #arabic .clsL4:after, #arabic .clsL5:after, #arabic .clsLocation:after, #arabic .clsAsset:after {content:''; right: -10px; left:auto;}

#arabic .k-rtl .k-treeview .k-item {padding: 0 18px 0 0;}

#arabic .k-treeview .k-top,
#arabic .k-treeview .k-mid,
#arabic .k-treeview .k-bot {position:relative; background-image:none;}

#arabic .k-treeview .k-top:after,
#arabic .k-treeview .k-mid:after,
#arabic .k-treeview .k-bot:after {content:'';
    background-image: url(../images/treeview-nodes-02.png);
    background-repeat: no-repeat;
    margin-right: -16px;
    padding-right: 16px;
    background-position:right center; z-index:-1;
    position:absolute;  width:100%; height:30px; }

#arabic .k-treeview .k-top:after {right:-38px; top:1px;}
#arabic .k-treeview .k-bot:after {right: -38px; top:1px;}
#arabic .k-treeview .k-mid:after {right: -38px; top:1px;}

#arabic .k-treeview .k-last .k-top:after {right:-38px; top:1px;}

#arabic .k-treeview .k-group .k-last .k-bot:after {right:-38px; top:1px;
}

#arabic .k-treeview .k-item { background-position:right center;}

@media (max-width:992px) {
	
	#arabic .social{ float:none;}
	#arabic .fts{left:220px; right:auto;}
	#arabic a.userinfo{ padding:5px;} 
}


@media (max-width:767px) {
	/* sidebar css start */
	#arabic #main { margin-left: 0; margin-right:0;}
	#arabic #sidebar-wrapper { left:auto; right:0;}
	#arabic #main.active { position: relative; margin-left:0;  margin-right:230px;}
	#arabic #main.active #sidebar-wrapper { left:auto; right: 230px;}
	/*  sidebar css end */

	
	#arabic .tp_alert .dropdown-menu{ right:auto; left:-40px;}
	#arabic .tp_alert .tp_ar{left:63px; right:auto;}
	#arabic .urlink .tp_ar span{ right:24px;}

	#arabic .ls{ position:static; text-align:right; margin:6px 0 0 0;}
	#arabic .ls span{ margin-right:0; margin-left:5px;}
	#arabic .login-bottom .fts{  float:none;}
	#arabic .login-bottom .social{ float:none;}

	#arabic .footpad{ margin:0;}
	#arabic .footspac .footpad{ margin:0;}
	#arabic .copyright{float:none; text-align:center; } 
	#arabic .paging {float:right; }

	#arabic .login-logo {padding:0px; }

}



#arabic .cleaning-weightage .form-horizontal .control-label {text-align:right;} 

#arabic .filter-row > .row  {padding-left:40px; padding-right:0px;}
#arabic .filter-row .remove-btn {right:auto; left:0px;}


/** 18-Oct-2016 */
#arabic #frmAddWidget .form-horizontal .form-group {padding-left:60px; padding-right:0px;}
#arabic #frmAddWidget .form-horizontal .control-label {text-align: right;float: right;}
#arabic #frmAddWidget .form-horizontal .form-group .switch-box {position: absolute;top: 7px;right: auto;left: 0;} 

/** 09-Nov-2016 */
#arabic .filter-drop.dropdown a {
    float:right !important;
}
#arabic  .city-code > span {border-left:1px solid #C5C5C5;border-right:none; }





/* webhelp
----------------------------------------------------------------- */
#arabic .webhelp .menu-left li a:before {content:''; left: auto; right: 0;}
#arabic .webhelp .menu-left li a {padding:10px 38px 0 8px; }
#arabic .webhelp .menu-left ul li {padding-left:0px; padding-right:10px;   }
#arabic .webhelp .sub_btn li {float:left; }

.blue .webhelp .nav-tabs > li a  {background-color:#10497a;}
.blue .webhelp .nav-tabs > li.active > a,  
.blue .webhelp .nav-tabs > li.active > a:hover,   
.blue .webhelp .nav-tabs > li.active > a:focus, 
.blue .webhelp .nav > li > a:hover,  
.blue .webhelp .nav > li > a:focus {background-color:#1b79c8;}


.green .webhelp .nav-tabs > li a  {background-color:#1a6b31;}
.green .webhelp .nav-tabs > li.active > a,  
.green .webhelp .nav-tabs > li.active > a:hover,   
.green .webhelp .nav-tabs > li.active > a:focus, 
.green .webhelp .nav > li > a:hover,  
.green .webhelp .nav > li > a:focus {background-color:#20863d;}

.gray .webhelp .nav-tabs > li a  {background-color:#464646;}
.gray .webhelp .nav-tabs > li.active > a,  
.gray .webhelp .nav-tabs > li.active > a:hover,   
.gray .webhelp .nav-tabs > li.active > a:focus, 
.gray .webhelp .nav > li > a:hover,  
.gray .webhelp .nav > li > a:focus {background-color:#585858;}

#arabic .radio-inline {padding-left:0px; padding-right:20px; margin-left:0px; margin-right:10px;}
#arabic .radio input[type="radio"], #arabic .radio-inline input[type="radio"] {right:0px; margin-top:2px;}



#arabic .radio-inline {padding-left:0px; padding-right:20px; margin-left:0px; margin-right:10px;}
#arabic .radio input[type="radio"], #arabic .radio-inline input[type="radio"] {right:0px; margin-top:2px;}

