﻿@model CMMS.Model.employees
@using CMMS.Infrastructure;
@using CMMS.Pages;
@using CMMS.Model
@using CMMS.Service
@{
    ViewBag.Title = "Employee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="head1">
    @{
        var Titletext = "";
        if (Model.EmployeeID > 0)
        { Titletext = ProjectSession.Resources.label.Employee_TextBlockEmployeeEdit; }
        else
        { Titletext = ProjectSession.Resources.menu.Employee_MenuNewEmployee; }

        <h1>
            @Titletext
        </h1>
    }

</div>
<div class="box">
    <div class="box-content">
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <label class="form-label">Job Order No:</label>
                <span>PM00115000158</span>
            </div>

            <div class="col-sm-6 col-md-3">
                <label class="form-label">Job Status:</label>
                <span>Open</span>
            </div>
        </div>
    </div>
</div>
<div id="divContent">
    @using (Html.BeginForm(Actions.SaveEmployee, Controllers.Management, new { area = Areas.Management, employeeId = @Model.EmployeeID }, FormMethod.Post, new { enctype = "multipart/form-data", id = "frmEmployee", @role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="box edit-job-order">
            <div id="divModelError"></div>
            <div class="nav-tabs-horizontal">
                <ul class="nav nav-tabs">
                    <li class="active" id="tbl1"><a data-toggle="tab" href="#tb1" aria-controls="tb1">@ProjectSession.Resources.label.Employee_TextBlockEmployee</a></li>
                    <li role="presentation" id="tbl2"><a data-toggle="tab" href="#tb2" aria-controls="tb2">@ProjectSession.Resources.label.Employee_TextBlockEmployeeDocument</a></li>
                    <li role="presentation" id="tbl3"><a data-toggle="tab" href="#tb3" aria-controls="tb3">@ProjectSession.Resources.label.Employee_RadTabItemPermission</a></li>
                    <li role="presentation" id="tbl4"><a data-toggle="tab" href="#tb4" aria-controls="tb4">@ProjectSession.Resources.label.DashboardTabMenu_RadPaneReports</a></li>
                    <li role="presentation" id="tbl5"><a data-toggle="tab" href="#tb5" aria-controls="tb5">@ProjectSession.Resources.label.City_RadTabItemCity</a></li>
                    @*<li role="presentation" id="tbl5"><a data-toggle="tab" href="#tb5" aria-controls="tb5">@ProjectSession.Resources.label.ItemRequisition_RadTabItemDeptView</a></li>*@

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" onclick="ABC(this);"></a>
                        <ul class="dropdown-menu smp">
                            <li class="active" id="tbl11"><a data-toggle="tab" href="#tb1" aria-controls="tb1">@ProjectSession.Resources.label.Employee_TextBlockEmployee</a></li>
                            <li role="presentation" id="tbl12"><a data-toggle="tab" href="#tb2" aria-controls="tb2">@ProjectSession.Resources.label.Employee_TextBlockEmployeeDocument</a></li>
                            <li role="presentation" id="tbl13"><a data-toggle="tab" href="#tb3" aria-controls="tb3">@ProjectSession.Resources.label.Employee_RadTabItemPermission</a></li>
                            <li role="presentation" id="tbl14"><a data-toggle="tab" href="#tb4" aria-controls="tb4">@ProjectSession.Resources.label.DashboardTabMenu_RadPaneReports</a></li>
                            <li role="presentation" id="tbl15"><a data-toggle="tab" href="#tb5" aria-controls="tb5">@ProjectSession.Resources.label.City_RadTabItemCity</a></li>
                            @*<li role="presentation" id="tbl15"><a data-toggle="tab" href="#tb5" aria-controls="tb5">@ProjectSession.Resources.label.ItemRequisition_RadTabItemDeptView</a></li>*@
                        </ul>
                    </li>

                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tb1">
                        <div class="information-form">
                            <div class="row">
                                <div class="form-group col-sm-6 col-md-3">
                                    <div style="float:left;">
                                        <div><img src="@Model.ImagePath" alt="Image Not Availabel" height="100" width="100" /></div>
                                        <div style="padding-top:5px;"><input type="file" name="file" accept="image/*" title="Upload User Image" /></div>
                                        @Html.HiddenFor(model => model.ImagePath)
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6 col-md-3">
                                    <label class="form-label">@ProjectSession.Resources.label.Employee_TextBlockEmployeeNO<span class="cfont">*</span></label>
                                    @Html.HiddenFor(model => model.EmployeeID)
                                    @Html.TextBoxFor(model => model.EmployeeNO, new { @MaxLength = 50, @class = "form-control", @Name = "EmployeeNO", @placeholder = ProjectSession.Resources.label.Common_Enter + " " + ProjectSession.Resources.label.Employee_TextBlockEmployeeNO })
                                </div>
                                <div class="form-group col-sm-6 col-md-3">
                                    <label class="form-label">@ProjectSession.Resources.label.Employee_TextBlockEmployeeName<span class="cfont">*</span></label>
                                    @Html.TextBoxFor(model => model.Name, new { @MaxLength = 100, @class = "form-control", @id = "txtEmpName", @Name = "Name", @placeholder = ProjectSession.Resources.label.Common_Enter + " " + ProjectSession.Resources.label.Employee_TextBlockEmployeeName })
                                </div>
                                <div class="form-group col-sm-6 col-md-3">
                                    <label class="form-label">@ProjectSession.Resources.label.Employee_TextBlockAddress</label>
                                    @Html.TextAreaFor(model => model.Address, new { @MaxLength = 400, @class = "form-control", @id = "txtEmpAddress", @placeholder = ProjectSession.Resources.label.Common_Enter + " " + ProjectSession.Resources.label.Employee_TextBlockAddress })
                                </div>
                                <div class="form-group col-sm-6 col-md-3">
                                    <label class="form-label">@ProjectSession.Resources.label.Employee_TextBlockDesignation</label>
                                    @Html.TextBoxFor(model => model.Positions, new { @MaxLength = 100, @class = "form-control", @id = "txtDesination", @placeholder = ProjectSession.Resources.label.Common_Enter + " " + ProjectSession.Resources.label.Employee_TextBlockDesignation })
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6 col-md-3">
                                    <label class="form-label">@ProjectSession.Resources.label.Employee_TextBlockTelePhoneNo</label>
                                    @Html.TextBoxFor(model => model.WorkPhone, new { @MaxLength = 100, @class = "form-control", @id = "txtTelephoneNo", @placeholder = ProjectSession.Resources.label.Common_Enter + " " + ProjectSession.Resources.label.Employee_TextBlockTelePhoneNo })
                                </div>
                                <div class="form-group col-sm-6 col-md-3">
                                    <label class="form-label">@ProjectSession.Resources.label.Employee_TextBlockFaxNo</label>
                                    @Html.TextBoxFor(model => model.Fax, new { @MaxLength = 100, @class = "form-control", @id = "txtFaxno", @placeholder = ProjectSession.Resources.label.Common_Enter + " " + ProjectSession.Resources.label.Employee_TextBlockFaxNo })
                                </div>
                                <div class="form-group col-sm-6 col-md-3">
                                    <label class="form-label">@ProjectSession.Resources.label.Employee_TextBlockMobileNo</label>
                                    @Html.TextBoxFor(model => model.HandPhone, new { @MaxLength = 100, @class = "form-control", @id = "txtMobileNo", @placeholder = ProjectSession.Resources.label.Common_Enter + " " + ProjectSession.Resources.label.Employee_TextBlockMobileNo })
                                </div>
                                <div class="form-group col-sm-6 col-md-3">
                                    <label class="form-label">@ProjectSession.Resources.label.Employee_TextBlockHousePhone</label>
                                    @Html.TextBoxFor(model => model.Housephone, new { @MaxLength = 100, @class = "form-control", @id = "txtHousePhone", @placeholder = ProjectSession.Resources.label.Common_Enter + " " + ProjectSession.Resources.label.Employee_TextBlockHousePhone })
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6 col-md-3">
                                    <label class="form-label">@ProjectSession.Resources.label.Employee_TextBlockOfficeLoc</label>
                                    @Html.TextBoxFor(model => model.OfficeLocation, new { @MaxLength = 100, @class = "form-control", @id = "txtOfficeLocation", @placeholder = ProjectSession.Resources.label.Common_Enter + " " + ProjectSession.Resources.label.Employee_TextBlockOfficeLoc })
                                </div>
                                <div class="form-group col-sm-6 col-md-3">
                                    <label class="form-label">@ProjectSession.Resources.label.Employee_TextBlockEmail</label>
                                    @Html.TextBoxFor(model => model.Email, new { @MaxLength = 100, @class = "form-control", @id = "txtEmail", @placeholder = ProjectSession.Resources.label.Common_Enter + " " + ProjectSession.Resources.label.Employee_TextBlockEmail, type = "email" })
                                </div>
                                <div class="form-group col-sm-6 col-md-3">
                                    <label class="form-label">@ProjectSession.Resources.label.JobRequest_TextBlockCity<span class="cfont">*</span></label>
                                    <div class="@ProjectSession.CultureKendoClass">
                                        @(Html.Kendo().DropDownListFor(model => model.L2ID)
                                                .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                                .DataTextField("L2Code")
                                                .ValueTemplate(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "#:L2Code # -- #: L2Altname # " : "#:L2Code # -- #: L2name #")
                                                .DataValueField("L2ID")
                                                .HtmlAttributes(new { style = "width: 100%" })
                                                .Template("<table width='100%'><tr><td class='alignLeft' style='width:12%'>${ data.L2Code }</td><td class='alignLeft' style='width:48%'>${ data.L2name } </td><td class='alignRight' style='width:40%'>${ data.L2Altname } </td></tr></table>")
                                                .DataSource(source =>
                                                {
                                                    source.Read(read =>
                                                    {
                                                        read.Action(Actions.GetAllCities, Controllers.Configurations, new { area = Areas.Configurations });
                                                    });
                                                })
                                                .Value(Convert.ToString(Model.L2ID))
                                        )
                                    </div>
                                </div>
                                <div class="form-group col-sm-6 col-md-3">
                                    <label class="form-label">@ProjectSession.Resources.label.MaintDivision_TextBlockMaintDiv<span class="cfont">*</span></label>
                                    <div class="@ProjectSession.CultureKendoClass">
                                        @(Html.Kendo().DropDownListFor(model => model.MaintDivisionID)
                                                .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                                .DataTextField("MaintDivisionCode")
                                                .ValueTemplate(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "#:MaintDivisionCode # -- #: MaintDivisionAltName # " : "#:MaintDivisionCode # -- #: MaintDivisionName #")
                                                .DataValueField("MaintDivisionID")
                                                .HtmlAttributes(new { style = "width: 100%", @required = "required", id = "ddlMaintDivision" })
                                                .Template("<table width='100%'><tr><td class='alignLeft' style='width:12%'>${ data.MaintDivisionCode }</td><td class='alignLeft' style='width:48%'>${ data.MaintDivisionName } </td><td class='alignRight' style='width:40%'>${ data.MaintDivisionAltName } </td></tr></table>")
                                                .DataSource(source =>
                                                {
                                                    source.Read(read =>
                                                    {
                                                        read.Action(Actions.GetMaintenanceDivisions, Controllers.Configurations, new { area = Areas.Configurations });
                                                    });
                                                })
                                               .Value(Convert.ToString(Model.MaintDivisionID))

                                        )
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6 col-md-3">
                                    <label class="form-label">@ProjectSession.Resources.label.MaintenanceDept_TextBlockMaintDept<span class="cfont">*</span></label>
                                    <div class="@ProjectSession.CultureKendoClass">
                                        @(Html.Kendo().DropDownListFor(model => model.MaintDeptID)
                                                .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                                .DataTextField("MaintDeptCode")
                                                .ValueTemplate(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "#:MaintDeptCode # -- #: MaintDeptAltdesc # " : "#:MaintDeptCode # -- #: MaintDeptdesc #")
                                                .DataValueField("MaintDeptID")
                                                .HtmlAttributes(new { style = "width: 100%", @required = "required", id = "ddlMaintDepartment" })
                                                .Template("<table width='100%'><tr><td class='alignLeft' style='width:12%'>${ data.MaintDeptCode }</td><td class='alignLeft' style='width:48%'>${ data.MaintDeptdesc } </td><td class='alignRight' style='width:40%'>${ data.MaintDeptAltdesc } </td></tr></table>")
                                                .DataSource(source =>
                                                        {
                                                            source.Read(read =>
                                                            {
                                                                read.Action(Actions.GetMaintDeptByDivisionID, Controllers.Configurations, new { area = Areas.Configurations }).Data("filterDepartment");

                                                            })
                                                            .ServerFiltering(true);
                                                        })
                                                .CascadeFrom("ddlMaintDivision")
                                                .AutoBind(true)
                                                .Value(Convert.ToString(Model.MaintDeptID))
                                        )
                                    </div>
                                    <script>
                                        function filterDepartment() {
                                            return {
                                                maintDivisionId: $("#ddlMaintDivision").val()
                                            };
                                        }
                                    </script>
                                </div>
                                <div class="form-group col-sm-6 col-md-3">
                                    <label class="form-label">@ProjectSession.Resources.label.MaintenanceSubDept_TextBlockMaintSubDept<span class="cfont">*</span></label>
                                    <div class="@ProjectSession.CultureKendoClass">
                                        @(Html.Kendo().DropDownListFor(model => model.MaintSubDeptID)
                                                .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                                .DataTextField("MaintSubDeptCode")
                                                .ValueTemplate(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "#:MaintSubDeptCode # -- #: MaintSubDeptAltDesc # " : "#:MaintSubDeptCode # -- #: MaintSubDeptDesc #")
                                                .DataValueField("MaintSubDeptID")
                                                .HtmlAttributes(new { style = "width: 100%", @required = "required", id = "ddlMaintSubDepartment" })
                                                .Template("<table width='100%'><tr><td class='alignLeft' style='width:12%'>${ data.MaintSubDeptCode }</td><td class='alignLeft' style='width:48%'>${ data.MaintSubDeptDesc } </td><td class='alignRight' style='width:40%'>${ data.MaintSubDeptAltDesc } </td></tr></table>")
                                                .DataSource(source =>
                                                                {
                                                                    source.Read(read =>
                                                                    {
                                                                        read.Action(Actions.GetMaintSubDeptByDeptID, Controllers.Management, new { area = Areas.Management }).Data("filterSubDepartment");

                                                                    })
                                                                    .ServerFiltering(true);
                                                                })
                                                .CascadeFrom("ddlMaintDepartment")
                                                .AutoBind(true)
                                                .Value(Convert.ToString(Model.MaintSubDeptID))
                                        )
                                    </div>
                                    <script>
                                        function filterSubDepartment() {
                                            return {
                                                maintDeptid: $("#ddlMaintDepartment").val()
                                            };
                                        }
                                    </script>
                                </div>
                                <div class="form-group col-sm-6 col-md-3">
                                    <label class="form-label">@ProjectSession.Resources.label.Employee_TextBlockLanguage</label>
                                    <div class="@ProjectSession.CultureKendoClass">
                                        @(Html.Kendo().DropDownListFor(model => model.LanguageCode)
                                                .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                                .DataTextField("Language")
                                                .DataValueField("LanguageCode")
                                                .HtmlAttributes(new { style = "width: 100%", id = "ddlLanuages" })
                                                .DataSource(source =>
                                                {
                                                    source.Read(read =>
                                                    {
                                                        read.Action(Actions.GetLanguage, Controllers.Management, new { area = Areas.Management });
                                                    });
                                                })
                                                .Value(Convert.ToString(Model.LanguageCode))
                                        )
                                    </div>
                                </div>
                                <div class="form-group col-sm-6 col-md-3">
                                    <label class="form-label">@ProjectSession.Resources.label.JobTrade_TextBlockJobTrade</label>
                                    <div class="@ProjectSession.CultureKendoClass">
                                        @(Html.Kendo().DropDownListFor(model => model.WorkTradeID)
                                                .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                                .DataTextField("WorkTrade")
                                                .ValueTemplate(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "#:AltWorkTrade # " : "#:WorkTrade #")
                                                .DataValueField("WorkTradeID")
                                                .HtmlAttributes(new { style = "width: 100%", id = "ddlJobTrade" })
                                                .Template(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "#:AltWorkTrade # " : "#:WorkTrade #")
                                                .DataSource(source =>
                                                {
                                                    source.Read(read =>
                                                    {
                                                        read.Action(Actions.GetJobTrades, Controllers.Configurations, new { area = Areas.Configurations });
                                                    });
                                                })
                                                      .Value(Convert.ToString(Model.WorkTradeID))
                                        )
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6 col-md-3">
                                    <label class="form-label">@ProjectSession.Resources.label.Employee_TextBlockHourlySalary</label>
                                    @Html.TextBoxFor(model => model.HourlySalary, new { @MaxLength = 100, @class = "form-control", @id = "txtHourlySalary", @placeholder = ProjectSession.Resources.label.Common_Enter + " " + ProjectSession.Resources.label.Employee_TextBlockHourlySalary, type = "number", min = "0.00" })
                                </div>
                                <div class="form-group col-sm-6 col-md-3">
                                    <label class="form-label">@ProjectSession.Resources.label.Employee_TextBlockOverTimeRate</label>
                                    <div class="row">
                                        <div class="col-xs-4">
                                            @Html.TextBoxFor(model => model.OverTime1, new { @MaxLength = 10, @class = "form-control", @id = "txtOT1", @placeholder = ProjectSession.Resources.label.Employee_TextBlockOT1, type = "number", min = "0.00" })
                                        </div>
                                        <div class="col-xs-4">
                                            @Html.TextBoxFor(model => model.OverTime2, new { @MaxLength = 10, @class = "form-control", @id = "txtOT2", @placeholder = ProjectSession.Resources.label.Employee_TextBlockOT2, type = "number", min = "0.00" })
                                        </div>
                                        <div class="col-xs-4">
                                            @Html.TextBoxFor(model => model.OverTime3, new { @MaxLength = 10, @class = "form-control", @id = "txtOT3", @placeholder = ProjectSession.Resources.label.Employee_TextBlockOT3, type = "number", min = "0.00" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6 col-md-3">
                                    <label class="form-label">@ProjectSession.Resources.label.Employee_TextBlockEmployeeCategory</label>
                                    <div class="@ProjectSession.CultureKendoClass">
                                        @(Html.Kendo().DropDownListFor(model => model.CategoryID)
                                                .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                                .DataTextField("CategoryName")
                                                .ValueTemplate(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "#:AltCategoryName # " : "#:CategoryName #")
                                                .DataValueField("CategoryID")
                                                .HtmlAttributes(new { style = "width: 100%", id = "ddlEmpCategories" })
                                                .Template(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "#:AltCategoryName # " : "#:CategoryName #")
                                                .DataSource(source =>
                                                {
                                                    source.Read(read =>
                                                    {
                                                        read.Action(Actions.GetEmpCategories, Controllers.Configurations, new { area = Areas.Configurations });
                                                    });
                                                })
                                               .Value(Convert.ToString(Model.CategoryID))
                                        )
                                    </div>
                                </div>
                                <div class="form-group col-sm-6 col-md-3">
                                    <label class="form-label">@ProjectSession.Resources.label.Employee_TextBlockEmployeeStatus</label>
                                    <div class="@ProjectSession.CultureKendoClass">
                                        @(Html.Kendo().DropDownListFor(model => model.EmployeeStatusId)
                                                .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                                .DataTextField("EmployeeStatus")
                                                .ValueTemplate(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "#:EmployeeAltStatus # " : "#:EmployeeStatus #")
                                                .DataValueField("EmployeeStatusId")
                                                .HtmlAttributes(new { style = "width: 100%", id = "ddlEmpStatus" })
                                                .Template(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "#:EmployeeAltStatus # " : "#:EmployeeStatus #")
                                                .DataSource(source =>
                                                {
                                                    source.Read(read =>
                                                    {
                                                        read.Action(Actions.GetEmpStatues, Controllers.Configurations, new { area = Areas.Configurations });
                                                    });
                                                })
                                              .Value(Convert.ToString(Model.EmployeeStatusId))
                                        )
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6 col-md-3">
                                    <label class="form-label">@ProjectSession.Resources.label.UserGroup_TextBlockUserGroup</label>
                                    <div class="@ProjectSession.CultureKendoClass">
                                        @(Html.Kendo().DropDownListFor(model => model.UserGroupId)
                                                .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                                                .DataTextField("GroupName")
                                                                                .ValueTemplate(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "#:AltGroupName # " : "#:GroupName #")
                                                                .DataValueField("UserGroupId")
                                                .HtmlAttributes(new { style = "width: 100%", id = "ddlUserGroup" })
                                                                                .Template(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "#:AltGroupName # " : "#:GroupName #")
                                                .DataSource(source =>
                                                {
                                                    source.Read(read =>
                                                    {
                                                        read.Action(Actions.GetUserGroups, Controllers.Management, new { area = Areas.Management });
                                                    });
                                                })
                                               .Value(Convert.ToString(Model.UserGroupId))
                                        )
                                    </div>
                                </div>
                                <div class="form-group col-sm-6 col-md-3">
                                    <label class="form-label">@ProjectSession.Resources.label.Employee_TextBlockEmployeeProfession</label>
                                    <div class="@ProjectSession.CultureKendoClass">
                                        @(Html.Kendo().DropDownListFor(model => model.EmployeeProfessionID)
                                                .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                                        .DataTextField("EmployeeProfName")
                                                                .ValueTemplate(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "#:EmployeeProfNameArabic # " : "#:EmployeeProfName #")
                                                        .DataValueField("EmployeeProfID")
                                                    .HtmlAttributes(new { style = "width: 100%", id = "ddlEmpProffession" })
                                                                .Template(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "#:EmployeeProfNameArabic # " : "#:EmployeeProfName #")
                                                .DataSource(source =>
                                                {
                                                    source.Read(read =>
                                                    {
                                                        read.Action(Actions.GetEmpProfession, Controllers.Management, new { area = Areas.Management });
                                                    });
                                                })
                                            .Value(Convert.ToString(Model.EmployeeProfessionID))
                                        )
                                    </div>
                                </div>
                                <div class="form-group col-sm-6 col-md-3">
                                    <label class="form-label">@ProjectSession.Resources.label.Employee_TextBlockPOAuthorisationLimit</label>
                                    @Html.TextBoxFor(model => model.POAuthorisationLimit, new { @MaxLength = 100, @class = "form-control", @id = "txtAuthorisationLimit", type = "number", @placeholder = ProjectSession.Resources.label.Common_Enter + " " + ProjectSession.Resources.label.Employee_TextBlockPOAuthorisationLimit })
                                </div>
                                <div class="form-group col-sm-6 col-md-3">
                                    <label class="form-label">@ProjectSession.Resources.label.Employee_TextBlockIDNo</label>
                                    @Html.TextBoxFor(model => model.ID_No, new { @MaxLength = 100, @class = "form-control", @id = "txtIDNo", @placeholder = ProjectSession.Resources.label.Common_Enter + " " + ProjectSession.Resources.label.Employee_TextBlockIDNo })
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6 col-md-3">
                                    <label class="form-label">@ProjectSession.Resources.label.Employee_TextBlockIDExpiryDate</label>
                                    <div class="input-group date-pick">
                                        @Html.TextBoxFor(model => model.ID_ExpiryDate, "{0:" + ProjectConfiguration.DefaultDateFormat + "}", new { placeholder = ProjectConfiguration.DefaultDateFormat, @class = "form-control calendarsPicker", id = "txtIDExpiryDate" })

                                    </div>
                                </div>
                                <div class="form-group col-sm-6 col-md-3">
                                    <label class="form-label">@ProjectSession.Resources.label.Employee_TextBlockPassportNo</label>
                                    @Html.TextBoxFor(model => model.PassportNo, new { @MaxLength = 100, @class = "form-control", @id = "txtPassportno", @placeholder = ProjectSession.Resources.label.Common_Enter + " " + ProjectSession.Resources.label.Employee_TextBlockPassportNo })
                                </div>
                                <div class="form-group col-sm-6 col-md-3">
                                    <label class="form-label">@ProjectSession.Resources.label.Employee_TextBlockPassportExpiryDate</label>
                                    <div class="input-group date-pick">
                                        @Html.TextBoxFor(model => model.PassportExp, "{0:" + ProjectConfiguration.DefaultDateFormat + "}", new { placeholder = ProjectConfiguration.DefaultDateFormat, @class = "form-control calendarsPicker", id = "txtPassportExpiryDate" })

                                    </div>
                                </div>
                                <div class="form-group col-sm-6 col-md-3">
                                    <label class="form-label">@ProjectSession.Resources.label.Employee_TextBlockNationality</label>
                                    <div class="@ProjectSession.CultureKendoClass">
                                        @(Html.Kendo().DropDownListFor(model => model.NationalityID)
                                                .OptionLabel(ProjectSession.Resources.label.Common_Select)
                                                        .DataTextField("National")
                                                                .ValueTemplate(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "#:AltNational # " : "#:National #")
                                                    .DataValueField("NationaID")
                                                .HtmlAttributes(new { style = "width: 100%", id = "ddlNationality" })
                                                                .Template(ProjectSession.Culture == ProjectConfiguration.ArabicCultureCode ? "#:AltNational # " : "#:National #")
                                                .DataSource(source =>
                                                {
                                                    source.Read(read =>
                                                    {
                                                        read.Action(Actions.GetNationalities, Controllers.Management, new { area = Areas.Management });
                                                    });
                                                })
                                               .Value(Convert.ToString(Model.NationalityID))
                                        )
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6 col-md-3">
                                    <label class="form-label">@ProjectSession.Resources.label.UserList_TextBlockUserID</label>
                                    @Html.TextBoxFor(model => model.UserID, new { autocomplete = "off", @MaxLength = 100, @class = "form-control", @id = "txtUserID123", @placeholder = ProjectSession.Resources.label.Common_Enter + " " + ProjectSession.Resources.label.UserList_TextBlockUserID })
                                </div>
                                <div class="form-group col-sm-6 col-md-3">
                                    <label class="form-label">@ProjectSession.Resources.label.Employee_TextBlockPassword</label>
                                    @Html.TextBoxFor(model => model.Password, new { autocomplete = "off", @MaxLength = 100, @class = "form-control", @id = "txtPassword123", @placeholder = ProjectSession.Resources.label.Common_Enter + " " + ProjectSession.Resources.label.Employee_TextBlockPassword, type = "password" })
                                </div>
                                <div class="form-group col-sm-6 col-md-3">
                                    <div class="checkbox-box">
                                        @{
                                            @Html.CheckBoxFor(model => model.boolCentral, new { id = "chkCentral" })
                                            @ProjectSession.Resources.label.Employee_TextBlockCentral
                                        }
                                    </div>
                                </div>
                                <div class="form-group col-sm-6 col-md-3">
                                    <div class="checkbox-box">
                                        @Html.CheckBoxFor(model => model.boolIsStoreSuperWiser, new { id = "chkIsStoreSuperWiser" })
                                        @ProjectSession.Resources.label.Employee_TextBlockStoreSupervisor
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6 col-md-3">
                                    <div class="checkbox-box">
                                        @Html.CheckBoxFor(model => Model.boolTBtransaction, new { id = "chkTransactionTab" })
                                        @ProjectSession.Resources.label.Employee_TextBlockTransactionTab
                                    </div>
                                </div>
                                <div class="form-group col-sm-6 col-md-3">
                                    <div class="checkbox-box">
                                        @Html.CheckBoxFor(model => Model.boolTBSetup, new { id = "chkSetupTab" })
                                        @ProjectSession.Resources.label.Employee_TextBlockSetupTab
                                    </div>
                                </div>
                                <div class="form-group col-sm-6 col-md-3">
                                    <div class="checkbox-box">
                                        @Html.CheckBoxFor(model => Model.boolTBReport, new { id = "chkReportTab" })
                                        @ProjectSession.Resources.label.Employee_TextBlockReportTab
                                    </div>
                                </div>
                                <div class="form-group col-sm-6 col-md-3">
                                    <div class="checkbox-box">
                                        @Html.CheckBoxFor(model => Model.boolTBDashboard, new { id = "chkDashboard" })
                                        @ProjectSession.Resources.label.Employee_TextBlockDashboardTab
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- tb1 end -->

                    <div class="tab-pane" id="tb2">
                        <div class="information-form">
                            <div id="divDocuments">

                            </div>
                        </div>
                    </div>

                    <div class="tab-pane" id="tb3">
                        <div class="information-form">
                            <div id="divPermissions">

                            </div>
                        </div>
                    </div>

                    <div class="tab-pane" id="tb4">
                        <div class="information-form">Tab 4</div>
                    </div>

                    <div class="tab-pane" id="tb5">
                        <div class="information-form">Tab 5</div>
                    </div>

                </div>

            </div><!-- box-content -->
            @Html.HiddenFor(model => model.JsonlstEmployeeDocumentModel)
            <div class="box-footer">
                <button class="btn btn-primary" id="btnSave" name="btnSave" type="submit"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
                <button class="btn btn-default" type="button" onclick="redirectToList();"><span>@ProjectSession.Resources.label.Common_ButtonCancel</span></button>
            </div>
        </div>
    }
</div>
<script type="text/javascript">

    function redirectToList() {
        location.href = '@Url.Action(Actions.UserList,Controllers.Management,new {@area=Areas.Management})';
    }

    validator = $('#frmEmployee').validate({
        rules: {
            Name: { required: true },
            EmployeeNO: { required: true }

        },
        messages: {
            Name: { required: '' },
            EmployeeNO: { required: '' }
        }
    });

    $(document).ready(function () {
        $('#frmEmployee').on('submit', function (e) {
            if ($("#frmEmployee").valid()) {
                if (!e.isDefaultPrevented()) {
                    if (!reValidateDropDowns($(this))) {
                        e.preventDefault();
                    }
                    else {
                        var GridEmployeeDocument = $("#documentsGrid").data("kendoGrid");
                        if (GridEmployeeDocument != null) {
                            dt = GridEmployeeDocument.dataSource.data();
                            dt.forEach(function (i) {
                                i.Doc_ExpiryDate = new Date(i.Doc_ExpiryDate + "UTC");
                            });
                            $("#JsonlstEmployeeDocumentModel").val(JSON.stringify(dt));
                        }
                    }
                }
                else { e.preventDefault(); }
            }
            else {
                e.preventDefault();
            }
        });

        var url = '@Url.Action(Actions._GetEmployeeDocuments, Controllers.Management, new { Area = Areas.Management })';
        $("#divDocuments").load(url);

        if ('@ViewBag.Message' != '' && '@ViewBag.MessageType' != '') {
            ShowMessage('@ViewBag.MessageType', '@ViewBag.Message', "#divMessage");
        }

        if ('@Model.EmployeeID' > 0) {
            $('#tbl1').show();
            $('#tbl11').show();
            $('#tbl2').show();
            $('#tbl12').show();
            $('#tbl3').show();
            $('#tbl13').show();
            $('#tbl4').show();
            $('#tbl14').show();
            $('#tbl5').show();
            $('#tbl15').show();
        }
        else {
            $('#tbl1').show();
            $('#tbl11').show();
            $('#tbl2').hide();
            $('#tbl12').hide();
            $('#tbl3').hide();
            $('#tbl13').hide();
            $('#tbl4').hide();
            $('#tbl14').hide();
            $('#tbl5').hide();
            $('#tbl15').hide();
        }
    });

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };

    function additionalData() {
        var kendoGrid = $("#documentsGrid").data("kendoGrid");
        return {
            dbcall: true,
            kendogriddata: JSON.stringify(kendoGrid.dataSource.data()),
            employeeID: $("#EmployeeID").val(),
            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
        };
    }

    function onDataBound(arg) {
        confirmDeleteMsg('@ProjectSession.Resources.message.Common_MsgPermanentDeleteConfirm', okText, cancelText, onConfirmCallbackDeleteDoc, confirmDirection);
        //gridProperPaging(this);
    }

    function onDataBoundAttachment(arg) {
        confirmDeleteMsg('@ProjectSession.Resources.message.Common_MsgPermanentDeleteConfirm', okText, cancelText, onConfirmCallbackDeleteAttachment, confirmDirection);
    }
</script>