﻿@using CMMS.Infrastructure;
@using CMMS.Pages;
@using CMMS.Model
@using CMMS.Service
@model CMMS.Model.OrganizationDetails
@{
    ViewBag.Title = "EditOrganizationDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href=@Url.Content("~/Scripts/JsLibraries/Jcrop-v0.9.12/css/jquery.Jcrop.min.css") rel="stylesheet" />
<script src=@Url.Content("~/Scripts/JsLibraries/Jcrop-v0.9.12/js/jquery.Jcrop.min.js")></script>

<div class="head1">
    <h1>
        @ProjectSession.Resources.label.Organisation_TextBlockEditOrgDetails
    </h1>
</div>
<div id="divContent">
    @using (Html.BeginForm(Actions.SaveOrganizationDetails, Controllers.SetupReport, new { area = Areas.ManageReportSetup }, FormMethod.Post, new { enctype = "multipart/form-data", id = "frmOrganizationDetails", @role = "form" }))
    {        
        <div class="information-form cus-form box edit-job-order">
            <h3 class="sub-title">
                <span>@ProjectSession.Resources.label.Organisation_TextBlockOrgDetails</span>
                <div class="sub_btn">

                </div>
            </h3>
            <div class="row">
                <div class="form-group col-sm-6 col-md-6 col-lg-6">
                    <label class="form-label">@ProjectSession.Resources.label.Organisation_TextBlockCountry</label>
                    @Html.TextBoxFor(m => m.Country, new { @maxlength = 100, @class = "form-control", @id = "txtCountry", @placeholder = ProjectSession.Resources.label.Common_Enter + " " + ProjectSession.Resources.label.Supplier_TextBlockCountry })
                </div>
                <div class="form-group col-sm-6 col-md-6 col-lg-6">
                    <label class="form-label">@ProjectSession.Resources.label.Organisation_TextBlockCountryAr</label>
                    @Html.TextBoxFor(m => m.Country_A, new { @maxlength = 100, @class = "form-control", @id = "txtCountryAR", @placeholder = ProjectSession.Resources.label.Organisation_TextBlockCountryAr })
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6 col-md-6 col-lg-6">
                    <label class="form-label">@ProjectSession.Resources.label.Organisation_TextBlockDistrict </label>
                    @Html.TextBoxFor(m => m.District, new { @maxlength = 100, @class = "form-control", @id = "txtDistrict", @placeholder = ProjectSession.Resources.label.Organisation_TextBlockDistrict })
                </div>
                <div class="form-group col-sm-6 col-md-6 col-lg-6">
                    <label class="form-label">@ProjectSession.Resources.label.Organisation_TextBlockDistrictAr</label>
                    @Html.TextBoxFor(m => m.District_A, new { @maxlength = 100, @class = "form-control", @id = "txtDistrictAR", @placeholder = ProjectSession.Resources.label.Organisation_TextBlockDistrictAr })
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6 col-md-6 col-lg-6">
                    <label class="form-label">@ProjectSession.Resources.label.Organisation_TextBlockBranch</label>
                    @Html.TextBoxFor(m => m.Branch_Name, new { @maxlength = 100, @class = "form-control", @id = "txtBranch", @placeholder = ProjectSession.Resources.label.Organisation_TextBlockBranch })
                </div>
                <div class="form-group col-sm-6 col-md-6 col-lg-6">
                    <label class="form-label">@ProjectSession.Resources.label.Organisation_TextBlockBranchAr</label>
                    @Html.TextBoxFor(m => m.Branch_Name_A, new { @maxlength = 100, @class = "form-control", @id = "txtBranchAr", @placeholder = ProjectSession.Resources.label.Organisation_TextBlockBranchAr})
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6 col-md-6 col-lg-6">
                    <label class="form-label">@ProjectSession.Resources.label.Organisation_TextBlockMODA</label>
                    @Html.TextBoxFor(m => m.MODA, new { @maxlength = 100, @class = "form-control", @id = "txtModa", @placeholder = ProjectSession.Resources.label.Organisation_TextBlockMODA })
                </div>
                <div class="form-group col-sm-6 col-md-6 col-lg-6">
                    <label class="form-label">@ProjectSession.Resources.label.Organisation_TextBlockMODAAr</label>
                    @Html.TextBoxFor(m => m.MODA_A, new { @maxlength = 100, @class = "form-control", @id = "txtModaAR", @placeholder = ProjectSession.Resources.label.Organisation_TextBlockMODAAr })
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6 col-md-6 col-lg-6">
                    <label class="form-label">@ProjectSession.Resources.label.Organisation_TextBlockGDMW</label>
                    @Html.TextBoxFor(m => m.GDMW, new { @maxlength = 100, @class = "form-control", @id = "txtGDMW", @placeholder = ProjectSession.Resources.label.Organisation_TextBlockGDMW })
                </div>
                <div class="form-group col-sm-6 col-md-6 col-lg-6">
                    <label class="form-label">@ProjectSession.Resources.label.Organisation_TextBlockGDMWAr</label>
                    @Html.TextBoxFor(m => m.GDMW_A, new { @maxlength = 100, @class = "form-control", @id = "txtGDMWAR", @placeholder = ProjectSession.Resources.label.Organisation_TextBlockGDMWAr })
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6 col-md-6 col-lg-6">
                    <label class="form-label">@ProjectSession.Resources.label.Organisation_TextBlockOMName</label>
                    @Html.TextBoxFor(m => m.OMName, new { @maxlength = 100, @class = "form-control", @id = "txtOMName", @placeholder = ProjectSession.Resources.label.Organisation_TextBlockOMName })
                </div>
                <div class="form-group col-sm-6 col-md-6 col-lg-6">
                    <label class="form-label">@ProjectSession.Resources.label.Organisation_TextBlockOMNameAr</label>
                    @Html.TextBoxFor(m => m.OMName_A, new { @maxlength = 100, @class = "form-control", @id = "txtOMNameAR", @placeholder = ProjectSession.Resources.label.Organisation_TextBlockOMNameAr })
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6 col-md-6 col-lg-6">
                    <label class="form-label">@ProjectSession.Resources.label.Organisation_TextBlockDirectorName</label>
                    @Html.TextBoxFor(m => m.DirectorName, new { @maxlength = 100, @class = "form-control", @id = "txtDirectorName", @placeholder = ProjectSession.Resources.label.Organisation_TextBlockDirectorName })
                </div>
                <div class="form-group col-sm-6 col-md-6 col-lg-6">
                    <label class="form-label">@ProjectSession.Resources.label.Organisation_TextBlockDirectorNameAr</label>
                    @Html.TextBoxFor(m => m.DirectorName_A, new { @maxlength = 100, @class = "form-control", @id = "txtDirectorNameAR", @placeholder = ProjectSession.Resources.label.Organisation_TextBlockDirectorNameAr })
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6 col-md-6 col-lg-6">
                    <label class="form-label">@ProjectSession.Resources.label.Organisation_TextBlockDirectorRank</label>
                    @Html.TextBoxFor(m => m.DirectorRank, new { @maxlength = 100, @class = "form-control", @id = "txtDirectorRank", @placeholder = ProjectSession.Resources.label.Organisation_TextBlockDirectorRank })
                </div>
                <div class="form-group col-sm-6 col-md-6 col-lg-6">
                    <label class="form-label">@ProjectSession.Resources.label.Organisation_TextBlockDirectorRankAr</label>
                    @Html.TextBoxFor(m => m.DirectorRank_A, new { @maxlength = 100, @class = "form-control", @id = "txtDirectorRankAR", @placeholder = ProjectSession.Resources.label.Organisation_TextBlockDirectorRankAr })
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6 col-md-6 col-lg-6">
                    <label class="form-label">@ProjectSession.Resources.label.Organisation_TextBlockDirectorJobTitle</label>
                    @Html.TextBoxFor(m => m.DirectorJobTitle, new { @maxlength = 100, @class = "form-control", @id = "txtDirectorJobTitle", @placeholder = ProjectSession.Resources.label.Organisation_TextBlockDirectorJobTitle })
                </div>
                <div class="form-group col-sm-6 col-md-6 col-lg-6">
                    <label class="form-label">@ProjectSession.Resources.label.Organisation_TextBlockDirectorJobTitleAr</label>
                    @Html.TextBoxFor(m => m.DirectorJobTitle_A, new { @maxlength = 100, @class = "form-control", @id = "txtDirectorJobTitleAR", @placeholder = ProjectSession.Resources.label.Organisation_TextBlockDirectorJobTitleAr })
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6 col-md-6 col-lg-6">
                    <label class="form-label">@ProjectSession.Resources.label.Organisation_TextBlockDepartment</label>
                    @Html.TextBoxFor(m => m.MaintDept, new { @maxlength = 100, @class = "form-control", @id = "txtDept", @placeholder = ProjectSession.Resources.label.Organisation_TextBlockDepartment })
                </div>
                <div class="form-group col-sm-6 col-md-6 col-lg-6">
                    <label class="form-label">@ProjectSession.Resources.label.Organisation_TextBlockDepartmentAr</label>
                    @Html.TextBoxFor(m => m.MaintDept_A, new { @maxlength = 100, @class = "form-control", @id = "txtDeptAR", @placeholder = ProjectSession.Resources.label.Organisation_TextBlockDepartmentAr })
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6 col-md-6 col-lg-6">
                    <label class="form-label">@ProjectSession.Resources.label.Organisation_TextBlockDepartmentSup</label>
                    @Html.TextBoxFor(m => m.MaintDeptSprvsr, new { @maxlength = 100, @class = "form-control", @id = "txtDeptSuperVisior", @placeholder = ProjectSession.Resources.label.Organisation_TextBlockDepartmentSup })
                </div>
                <div class="form-group col-sm-6 col-md-6 col-lg-6">
                    <label class="form-label">@ProjectSession.Resources.label.Organisation_TextBlockDepartmentSupAr</label>
                    @Html.TextBoxFor(m => m.MaintDeptSprvsr_A, new { @maxlength = 100, @class = "form-control", @id = "txtDeptSuperVisiorAR", @placeholder = ProjectSession.Resources.label.Organisation_TextBlockDepartmentSupAr })
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6 col-md-6 col-lg-6">
                    <label class="form-label">@ProjectSession.Resources.label.Organisation_TextBlockDepartmentPosition</label>
                    @Html.TextBoxFor(m => m.MaintDeptPosition, new { @maxlength = 100, @class = "form-control", @id = "txtDeptPosition", @placeholder = ProjectSession.Resources.label.Organisation_TextBlockDepartmentPosition })
                </div>
                <div class="form-group col-sm-6 col-md-6 col-lg-6">
                    <label class="form-label">@ProjectSession.Resources.label.Organisation_TextBlockDepartmentPositionAr</label>
                    @Html.TextBoxFor(m => m.MaintDeptPosition_A, new { @maxlength = 100, @class = "form-control", @id = "txtDeptPositionAR", @placeholder = ProjectSession.Resources.label.Organisation_TextBlockDepartmentPositionAr })
                </div>
            </div>

            <div class="row">
                <div class="form-group col-sm-6 col-md-6 col-lg-6">
                    <label class="form-label">@ProjectSession.Resources.label.Organisation_TextBlockOfficerName</label>
                    @Html.TextBoxFor(m => m.DeptOfficerName, new { @maxlength = 100, @class = "form-control", @id = "txtOfficerName", @placeholder = ProjectSession.Resources.label.Organisation_TextBlockOfficerName })
                </div>
                <div class="form-group col-sm-6 col-md-6 col-lg-6">
                    <label class="form-label">@ProjectSession.Resources.label.Organisation_TextBlockOfficerNameAr</label>
                    @Html.TextBoxFor(m => m.DeptOfficerName_A, new { @maxlength = 100, @class = "form-control", @id = "txtOfficerNameAR", @placeholder = ProjectSession.Resources.label.Organisation_TextBlockOfficerNameAr})
                </div>
            </div>

            <div class="row">
                <div class="form-group col-sm-6 col-md-6 col-lg-6">
                    <label class="form-label">@ProjectSession.Resources.label.Organisation_TextBlockOfficerPosition</label>
                    @Html.TextBoxFor(m => m.DeptOfficerPosition, new { @maxlength = 100, @class = "form-control", @id = "txtOfficerPosition", @placeholder = ProjectSession.Resources.label.Organisation_TextBlockOfficerPosition})
                </div>
                <div class="form-group col-sm-6 col-md-6 col-lg-6">
                    <label class="form-label">@ProjectSession.Resources.label.Organisation_TextBlockOfficerPositionAr</label>
                    @Html.TextBoxFor(m => m.DeptOfficerPosition_A, new { @maxlength = 100, @class = "form-control", @id = "txtOfficerPositionAR", @placeholder = ProjectSession.Resources.label.Organisation_TextBlockOfficerPositionAr })
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6 col-md-6 col-lg-6">
                    <label class="form-label">@ProjectSession.Resources.label.Organisation_ShowReportFooter</label>
                    @Html.CheckBoxFor(m => m.ShowReportFooter, new { @id = "ShowReportFooter" })
                </div>
                <div class="form-group col-sm-6 col-md-6 col-lg-6">
                    <label class="form-label">@ProjectSession.Resources.label.Organisation_ShowOnLastPage</label>
                    @Html.CheckBoxFor(m => m.ShowOnLastPage, new { @id = "ShowOnLastPage" })
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6 col-md-6 col-lg-6">
                    @*<div class="clearfix">*@
                    <label class="form-label">@ProjectSession.Resources.label.Organisation_TextBlockModaLogo</label>
                    <div class="upload-photo-block">
                        <div class="upload-photo">
                            <div class="upload-img">
                                @if (!string.IsNullOrEmpty(Model.Moda_Logo))
                                {
                                    <img src="@Model.Moda_Logo" alt="" id="myImgModa" alt="" style="max-height:170px;max-width:150px;min-width:150px;min-height:170px;">
                                }
                                else
                                {
                                    <img src="@Url.Content("~/Images/default_user.jpg")" id="myImgModa" alt="" style="max-height: 170px; max-width: 150px; min-width: 150px; min-height: 170px;">
                                }
                            </div>
                            <span class="upload-input">
                                <input type="file" id="ChangeModaLogo" name="ChangeModaLogo" accept="image/*" title="Upload Moda Logo" />
                            </span>
                            @Html.HiddenFor(model => model.Moda_Logo)
                            @Html.HiddenFor(model => model.Id)
                            @*<label class="upload-not">(* @ProjectSession.Resources.message.Employee_MsgUploadValidImageNote ) </label>*@
                        </div>
                    </div>
                    @*</div>*@
                </div>
                <div class="form-group col-sm-6 col-md-6 col-lg-6">
                    <label class="form-label">@ProjectSession.Resources.label.Organisation_TextBlockBranchLogo</label>
                    <div class="upload-photo-block">
                        <div class="upload-photo">
                            <div class="upload-img">
                                @if (!string.IsNullOrEmpty(Model.Branch_Logo))
                                {
                                    <img src="@Model.Branch_Logo" alt="" id="myImgBranch" alt="" style="max-height:170px;max-width:150px;min-width:150px;min-height:170px;">
                                }
                                else
                                {
                                    <img src="@Url.Content("~/Images/default_user.jpg")" id="myImgBranch" alt="" style="max-height: 170px; max-width: 150px; min-width: 150px; min-height: 170px;">
                                }
                            </div>
                            <span class="upload-input">
                                <input type="file" id="ChangeBranchLogo" name="ChangeBranchLogo" accept="image/*" title="Upload Branch Logo" />
                            </span>
                            @Html.HiddenFor(model => model.Branch_Logo)
                            @*<label class="upload-not">(* @ProjectSession.Resources.message.Employee_MsgUploadValidImageNote ) </label>*@
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="box-footer">
            <button class="btn btn-primary" id="btnSave" name="btnSave" type="submit"><span>@ProjectSession.Resources.label.Common_ButtonSave</span></button>
            <button class="btn btn-default" type="button" onclick="redirectToList();"><span>@ProjectSession.Resources.label.Common_ButtonCancel</span></button>
        </div>
    }
</div>
<!-- (Start)Change Image Modal -->
<div class="modal fade" id="changeModaLogoModal" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                <h4 class="modal-title">Upload Moda Photo</h4>
            </div>
            <form data-toggle="validator" role="form" id="frmImageChangeModa">
                <input type="hidden" name="hdnOldImageName" id="hdnOldImageName" value="@Model.Moda_Logo" />
                <div class="modal-body">
                    <div class="form-horizontal popup-form">
                        <div id="divModelError">
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12" style="overflow:auto">
                                <img src="" alt="" id="myImg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">@ProjectSession.Resources.label.Common_ButtonSave</button>
                    &nbsp; <button type="button" class="btn btn-default" data-dismiss="modal">@ProjectSession.Resources.label.Common_ButtonClose</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- (End)Change Image Modal -->
<!-- (Start)Change Image Modal -->
<div class="modal fade" id="changeBranchLogoModal" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                <h4 class="modal-title">Upload Moda Photo</h4>
            </div>
            <form data-toggle="validator" role="form" id="frmImageChangeBranch">
                <input type="hidden" name="hdnOldImageName" id="hdnOldImageName" value="@Model.Branch_Logo" />
                <div class="modal-body">
                    <div class="form-horizontal popup-form">
                        <div id="divModelError">
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12" style="overflow:auto">
                                <img src="" alt="" id="ImgBranch">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">@ProjectSession.Resources.label.Common_ButtonSave</button>
                    &nbsp; <button type="button" class="btn btn-default" data-dismiss="modal">@ProjectSession.Resources.label.Common_ButtonClose</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- (End)Change Image Modal -->





<script type="text/javascript">
    /*Start User Picture Crop*/
    var jcrop_api;
    var ImageWidth = 150;
    var ImageHeight = 170;
    var x1val = 0;
    var x2val = 0;
    var y1val = 0;
    var y2val = 0;
    var height = 0;
    var width = 0;
    var PhotoSize = 1024;
    var _validFileExtensions = [".jpg", "jpeg", ".gif", ".png", ".bmp"];
    $(function () {

        $('#ShowOnLastPage').change(function () {
            if ($(this).is(':checked')) {
                $('#ShowReportFooter').attr('disabled', true);
                $('#ShowReportFooter').attr('checked', false);

            }
            else {
                $('#ShowReportFooter').attr('disabled', false);
            }
        });
        $('#frmImageChangeModa').on('submit', function (e) {

            if (e.isDefaultPrevented()) {
                // handle the invalid form...
            } else {

                var data = new FormData();
                var files = $("#ChangeModaLogo").get(0).files;
                if (files.length > 0) {
                    data.append("UploadedFile", files[0]);
                }
                data.append("cropPointX", x1val);
                data.append("cropPointY", y1val);
                data.append("imageCropWidth", width);
                data.append("imageCropHeight", height);
                data.append("oldFileName", $('#Moda_Logo').val());
                debugger;
                var ajaxRequest = $.ajax({
                    type: "POST",
                    url: '@Url.Action(Actions.ChangeModaPhoto, Controllers.SetupReport)',
                    contentType: false,
                    processData: false,
                    data: data,
                    async: false,
                    error: function (xhr, ajaxOptions, thrownError) {
                        showErrorMessage();
                    },
                    success: function (result) {
                        if (result[0] == 0) {
                            ShowMessage(result[1], result[2], "#divModelError");
                        }
                        else {
                            ShowMessage(result[0], result[1], "#divMessage");
                            $("#changeModaLogoModal").modal('hide');

                            $('#myImgModa').attr("src", '../@Url.Content(ProjectSession.AccountCode + "/" + ProjectSession.AccountCode + "/ModaImages")' + "/" + result[2]);
                            $('#Moda_Logo').val('../@Url.Content(ProjectSession.AccountCode + "/" + ProjectSession.AccountCode + "/ModaImages")' + "/" + result[2]);
                            //$('#employeeImage').attr("src", '@Url.Content(ProjectConfiguration.UploadPath + "ModaImages")' + "/" + result[2]);
                        }
                    }
                });
                e.preventDefault();
            }
        });


        $("#ChangeModaLogo").change(function () {

            var _validFileExtensionsMasterstr = '@ProjectSession.AllowedFileTypes';
            var _validFileExtensionsMaster = _validFileExtensionsMasterstr.split(',');

            if (this.files && this.files[0]) {
                //For file validation
                var imgSize = this.files[0].size / 1024;
                if (imgSize > PhotoSize) {
                    ShowMessage('@CMMS.Infrastructure.SystemEnum.MessageType.danger', '@ProjectSession.Resources.message.Common_MsgUploadSizeImage', "#divMessage");
                    return false;
                }

                var sFileName = this.files[0].name.toLowerCase();
                if (sFileName.length > 0) {
                    var blnValid = false;
                    for (var j = 0; j < _validFileExtensions.length; j++) {
                        var sCurExtension = _validFileExtensions[j];
                        if (sFileName.substr(sFileName.length - sCurExtension.length, sCurExtension.length).toLowerCase() == sCurExtension.toLowerCase()) {
                            blnValid = true;
                            break;
                        }
                    }

                    var blnValidMaster = false;
                    if (blnValid) {
                        for (var j = 0; j < _validFileExtensionsMaster.length; j++) {
                            var sCurExtension = _validFileExtensionsMaster[j];
                            if (sFileName.substr(sFileName.length - sCurExtension.length, sCurExtension.length).toLowerCase() == sCurExtension.toLowerCase()) {
                                blnValidMaster = true;
                                break;
                            }
                        }
                    }

                    if ((!blnValid) || (!blnValidMaster)) {
                        ShowMessage('@SystemEnum.MessageType.danger.ToString()', '@ProjectSession.Resources.message.Common_MsgUploadValidImage', "#divMessage");
                        return false;
                    }
                }
                //End


                if (jcrop_api != null) {
                    jcrop_api.destroy();
                }

                var FR = new FileReader();
                FR.onload = function (e) {
                    $('#myImg').attr("src", e.target.result);
                };
                FR.readAsDataURL(this.files[0]);
                FR.onloadend = function (e) {
                    $('#myImg').Jcrop({
					    setSelect: [0, 0, 150, 170],
                        aspectRatio: 0.88,
                        onChange: setCoordsAndImgSize,
                        onSelect: setCoordsAndImgSize,
                        minSize: [ImageWidth, ImageHeight]
                    }, function () {
                        jcrop_api = this;
                        width = x2val - x1val;
                        height = y2val - y1val;
                        jcrop_api.setOptions({ allowSelect: true, allowResize: true });
                        jcrop_api.setSelect([x1val, y1val, x2val, y2val]);

                        if ($("#myImg").width() < ImageWidth || $("#myImg").height() < ImageHeight) {
                            if (jcrop_api != null) {
                                jcrop_api.destroy();
                            }

                            $('#ChangeModaLogo').val('');
                            ShowMessage('@CMMS.Infrastructure.SystemEnum.MessageType.danger', 'Image size is not valid. ( Mininum size required: 150 X 170 )', "#divMessage");
                        }
                        else {
                            $("#changeModaLogoModal").modal('show');
                        }
                    })
                }
            }
        });

        $('#frmImageChangeBranch').on('submit', function (e) {
            if (e.isDefaultPrevented()) {
                // handle the invalid form...
            } else {

                var data = new FormData();
                var files = $("#ChangeBranchLogo").get(0).files;
                if (files.length > 0) {
                    data.append("UploadedFile", files[0]);
                }
                data.append("cropPointX", x1val);
                data.append("cropPointY", y1val);
                data.append("imageCropWidth", width);
                data.append("imageCropHeight", height);
                data.append("oldFileName", $('#Branch_Logo').val());
                var ajaxRequest = $.ajax({
                    type: "POST",
                    url: '@Url.Action(Actions.ChangeBranchPhoto, Controllers.SetupReport)',
                    contentType: false,
                    processData: false,
                    data: data,
                    async: false,
                    error: function (xhr, ajaxOptions, thrownError) {
                        showErrorMessage();
                    },
                    success: function (result) {
                        if (result[0] == 0) {
                            ShowMessage(result[1], result[2], "#divModelError");
                        }
                        else {
                            ShowMessage(result[0], result[1], "#divMessage");
                            $("#changeBranchLogoModal").modal('hide');

                            $('#myImgBranch').attr("src", '../@Url.Content(ProjectSession.AccountCode + "/" + ProjectSession.AccountCode + "/BranchImages")' + "/" + result[2]);
                            $('#Branch_Logo').val('../@Url.Content(ProjectSession.AccountCode + "/" + ProjectSession.AccountCode + "/BranchImages")' + "/" + result[2]);
                            //$('#employeeImage').attr("src", '@Url.Content(ProjectConfiguration.UploadPath + "ModaImages")' + "/" + result[2]);
                        }
                    }
                });
                e.preventDefault();
            }
        });

        $("#ChangeBranchLogo").change(function () {

            var _validFileExtensionsMasterstr = '@ProjectSession.AllowedFileTypes';
            var _validFileExtensionsMaster = _validFileExtensionsMasterstr.split(',');

            if (this.files && this.files[0]) {

                //For file validation
                var imgSize = this.files[0].size / 1024;
                if (imgSize > PhotoSize) {
                    ShowMessage('@CMMS.Infrastructure.SystemEnum.MessageType.danger', '@ProjectSession.Resources.message.Common_MsgUploadSizeImage', "#divMessage");
                    return false;
                }

                var sFileName = this.files[0].name.toLowerCase();
                if (sFileName.length > 0) {
                    var blnValid = false;
                    for (var j = 0; j < _validFileExtensions.length; j++) {
                        var sCurExtension = _validFileExtensions[j];
                        if (sFileName.substr(sFileName.length - sCurExtension.length, sCurExtension.length).toLowerCase() == sCurExtension.toLowerCase()) {
                            blnValid = true;
                            break;
                        }
                    }

                    var blnValidMaster = false;
                    if (blnValid) {
                        for (var j = 0; j < _validFileExtensionsMaster.length; j++) {
                            var sCurExtension = _validFileExtensionsMaster[j];
                            if (sFileName.substr(sFileName.length - sCurExtension.length, sCurExtension.length).toLowerCase() == sCurExtension.toLowerCase()) {
                                blnValidMaster = true;
                                break;
                            }
                        }
                    }

                    if ((!blnValid) || (!blnValidMaster)) {
                        ShowMessage('@SystemEnum.MessageType.danger.ToString()', '@ProjectSession.Resources.message.Common_MsgUploadValidImage', "#divMessage");
                        return false;
                    }
                }
                //End


                if (jcrop_api != null) {
                    jcrop_api.destroy();
                }

                var FR = new FileReader();
                FR.onload = function (e) {
                    $('#ImgBranch').attr("src", e.target.result);
                };

                FR.readAsDataURL(this.files[0]);
                FR.onloadend = function (e) {
                    $('#ImgBranch').Jcrop({
					    setSelect: [0, 0, 150, 170],
                        aspectRatio: 0.88,
                        onChange: setCoordsAndImgSize,
                        onSelect: setCoordsAndImgSize,
                        minSize: [ImageWidth, ImageHeight]
                    }, function () {
                        jcrop_api = this;
                        width = x2val - x1val;
                        height = y2val - y1val;
                        jcrop_api.setOptions({ allowSelect: true, allowResize: true });
                        jcrop_api.setSelect([x1val, y1val, x2val, y2val]);

                        if ($("#ImgBranch").width() < ImageWidth || $("#ImgBranch").height() < ImageHeight) {
                            if (jcrop_api != null) {
                                jcrop_api.destroy();
                            }

                            $('#ChangeBranchLogo').val('');
                            ShowMessage('@CMMS.Infrastructure.SystemEnum.MessageType.danger', 'Image size is not valid. ( Mininum size required: 150 X 170 )', "#divMessage");
                        }
                        else {
                            $("#changeBranchLogoModal").modal('show');
                        }
                    })
                }
            }
        });

        function setCoordsAndImgSize(e) {
            x1val = e.x;
            x2val = e.x2;
            y1val = e.y;
            y2val = e.y2;
            height = e.h;
            width = e.w;
        }
    });

    /*End*/

    function redirectToList() {
        location.href = '@Url.Action(Actions.ManageOrganizationDetails,Controllers.SetupReport,new {@area=Areas.ManageReportSetup})';
    }


</script>